[2017-09-13 08:07] spiff42 commented on #2315
There is a little discussion taking place in the openhab forums:
https://community.openhab.org/t/new-binding-suggestion-wavin-ahc-9000-jablotron-ac-116/28422/10

Other than that, not much progress. I guess the interest has been somewhat limited during the summer, when the floor heating has been turned off :-)
Maybe there will be some more interest now that it is getting colder.

If anyone wants to

[2017-09-13 09:00] beshkenadze commented on #2699
@tavalin Unfortunately, the snapshot crashes with the error: Error in initialization script: /openhab/userdata/etc/shell.init.script: String index out of range: 0.

[2017-09-13 09:02] martinvw commented on #2699
Are you running docker(-compose)? If so see: https://github.com/openhab/openhab-docker/pull/103 and the related community thread

[2017-09-13 09:12] beshkenadze commented on #2699
@martinvw
I use direct command
[code]
My host is Synology.

[2017-09-13 09:32] JueBag commented on #2676
@BOFH90
Any update so far?

[2017-09-13 09:41] BOFH90 commented on #2676
It seems to work without any Problems. It's been stable since the last update. Thank you so much :)

[2017-09-13 10:58] martinvw commented on #2699
You should pass a -t it needs to have a tty available otherwise it terminates, we should add this to the 2.2 release notes, could you do that?

https://github.com/openhab/openhab-distro/wiki/Draft-for-openHAB-2.2-Release-Notes

Thanks!

[2017-09-13 11:05] beshkenadze commented on #2699
@martinvw Sorry, but I don't really understand for what?

[2017-09-13 11:07] martinvw commented on #2699
For example add the -t just after the -d or was that not your question?

[code]

[2017-09-13 11:10] beshkenadze commented on #2699
@martinvw yep, it's not my question :)
The problem in the MiHome Binding. I was advised to try the snapshot, but it crashes with internal errors.

[2017-09-13 11:12] martinvw commented on #2699
If you experience that the new 2.2 openhab quits after starting (with or without error) you should make sure you call docker with `-t`

Because the error you posted above has nothing to do with the mihome binding.

[2017-09-13 11:27] beshkenadze commented on #2699
@martinvw I can export the logs from the Docker at any time, there is no need in the parameter.
I am interested in the error in binding :)
In any case, thanks for the advice!

[2017-09-13 11:30] JueBag commented on #2676
In this case, you as the author  of that issue should be able to close it. At least I think so.

[2017-09-13 11:31] beshkenadze commented on #2699
Okay.

[2017-09-13 11:32] beshkenadze commented on #2699
Okay, I was able to run the snapshot version and there this bug is fixed.

[2017-09-13 11:32] #2699 closed

[2017-09-13 11:53] #2676 closed

[2017-09-13 11:53] martinvw commented on #2676
Closed 😄

[2017-09-13 17:45] openhab-5iver opened #2702 "[JDBC and MYSQL] restoreOnStartup throws error for Location items"
This may affect other persistence bindings too, but I have experienced it with both MySQL and JDBC persistence bindings using a MariaDB db.
[Forum topic](https://community.openhab.org/t/location-item-and-persistence/31428)

## Expected Behavior
Location type items should restore on startup and not throw an error.

## Current Behavior
[code]

## Possible Solution
Location items are stored as VARCHA

[2017-09-15 06:27] holgerebert commented on #1822
Still the same issue on latest snapshots. All of the given solutions doesn't work for me, so I do a

sudo chmod a-w /var/lib/openhab2/jsondb/homekit.json

after successfully pair with homekit. Worked perfectly since last week, I got an error while openhab2 is stopping, but that's ok for me until the problem is solved

2017-09-14 17:31:35.542 [ERROR] [e.smarthome.storage.json.JsonStorage] - Error w

[2017-09-15 07:55] Sascha-L commented on #788
@lowie1  Could you please upload your latest compiled version? Yesterday I got my Tado devices and I would like to integrate them in openHAB :-) I not able to compile those addons by myself. Thanks! :)

[2017-09-15 16:52] sagittarius0815 commented on #2697
I looked for the place where to enter homematic configuration parameters such like "gatewayAddress".
But now I found it. First I have to add a thing called "homematic bridge". There I can enter the configuration parameter.
Sorry, my fault, issue closed.

[2017-09-15 16:52] #2697 closed

[2017-09-17 11:17] bytedealer commented on #2359
Hey @kgoderis,

did you find some time to extend the class?
Would be happy to test!

[2017-09-17 11:38] tavalin opened #2714 "[MiHome] Aqara Motion Sensor not added to ModelMapper"
PR #2657 did some good work to support more of the new Aqara sensors however the motion sensor was missed from the ModelMapper class changes and therefore the binding ignores messages for this device type (discovery and sensor reports). I will send a PR to address this very shortly.

[2017-09-17 18:30] #2714 closed

[2017-09-18 06:05] kaikreuzer commented on #1021
@pedeho Could you please leave a comment when closing an issue to give the reason? Thanks!

[2017-09-18 10:28] pedeho commented on #1021
Sorry for that. The reason is simple. Back on the 13 jun 2106 I opened a thread. On the 14 jun 2016 I expressed that I was not really interested in participating. I offered therefore to upload the changes I made to the Kostal addon. cschneiner's reaction? "Looks good. I should be able to work with this." . Excellent but that is a long time since. I do not know where any progress should come from.

[2017-09-18 12:24] kaikreuzer commented on #1021
That's fair enough @pedeho. So let's ask @cschneider if he'd think he could make a binding PR out of that - if not, closing the issue is just fine.

[2017-09-18 13:08] cschneider commented on #1021
The code changes required are quite minimal. For me the problem is that I currently do not have a setup to build and test the changes. I am on vacation next week. If I find some time then I will do a PR.

[2017-09-18 14:13] kaikreuzer commented on #1021
Sounds good, no rush!
I can help you creating an IDE setup at ECE ;-)
Leave your time and enjoy your vacation!

[2017-09-18 16:21] mgallissot commented on #680
HI,
Interested by this new binding, how can I help?

[2017-09-18 16:22] mccaffm opened #2717 "[netatmo] updating thermostat setpoint temperature issue"
When changing the setpoint temperature for a netatmo thermostat the value is passed to the thermostat correctly, the item is updated, but then immediately updates to the old value.

2017-09-18 17:00:16.107 [ome.event.ItemCommandEvent] - Item 'netatmo_NATherm1_9e5ac63c_040000066624_**Sp_Temperature' received command 17**
2017-09-18 17:00:16.110 [vent.ItemStateChangedEvent] - netatmo_NATherm1_9e5ac6

[2017-09-19 14:27] nwootton commented on #2176
Having the same sort of issue with a UK Google Home. Info here - https://community.openhab.org/t/google-home-goes-offline-and-audio-sink-doesnt-work/31804

[2017-09-20 16:45] lauhub opened #2721 "Jar files are touched and fill up ramdisk although they are not modified"
## Context

I run OpenHab on a development box under Debian 8 (Armbian Jessie) and I set an [`overlayfs`](https://www.datalight.com/blog/2016/01/27/explaining-overlayfs-%E2%80%93-what-it-does-and-how-it-works/). This makes the mass storage device to be safe (mounted as read-only), even with power breakage.

This overlay FS is schematically a RamDisk that receives all write operations and store the

[2017-09-20 18:51] hreichert opened #2722 "[DEV] Build failing? org.openhab.binding.amazondashbutton"
Hi everyone,
do I have a local probleme here, or is the build failing?

I'm on openhab/openhab2-addons commit id 17aa3a218cfbfe670bd0b30f2b69995d9da0905b, and latest eclipse/smarthome master and openhab/openhab-core (which builds fine).

Maven error (mvn clean install):

[code]

If this is a local problem, how can I fix it? Am a bit lost right now...

Thanks!

[2017-09-20 19:44] martinvw commented on #2722
I just started a build which successfully passes the Amazon Dash Button, do you no 'local' changes on your branch / workspace?

[2017-09-20 19:47] martinvw commented on #2722
Are you sure you are building with the most up-to-date versions:

[code]

Maybe you are connected to the master of your fork's which have not been updated?

[2017-09-20 19:55] martinvw commented on #2722
Please provide more information about your env, what jdk, what maven, maybe name the commits of the other repo's as well.

[2017-09-20 20:58] hreichert commented on #2722
https://openhab.ci.cloudbees.com/job/openHAB2-Bundles/153

From the log output of this build:

Maybe the `-DskipChecks=true` leads to the passing build?

[2017-09-20 21:01] martinvw commented on #2722
Feel free to test that 😉

[2017-09-20 21:02] hreichert commented on #2722
Well, no, it's failing for me even with -DskipChecks=true...
hm

[2017-09-20 21:07] hreichert commented on #2722
See my previous comment https://github.com/openhab/openhab2-addons/issues/2722#issuecomment-330970846
Updated everything and tried again, but no luck. Don't know what to examine further.

[2017-09-20 23:56] hreichert commented on #2722
OK- it builds now.

See file
`openhab2-addons/addons/binding/org.openhab.binding.amazondashbutton/.settings/org.eclipse.jdt.core.prefs`

[code]

I replaced every occurence of `1.7` with `1.8` and now it works.
Then I grepped trough other org.eclipse.jdt.core.prefs files and found the following, that also have `1.7`:
./org.openhab.binding.tankerkoenig/.settings/org.eclipse.jdt.core.prefs
./org.open

[2017-09-21 05:12] martinvw commented on #2722
Yes please! And if you mention `closes #2722` it will close this issue as soon as it is merged, please also make sure that your commit message includes a `Signed-off-by` (to certify that you wrote it or otherwise have the right to pass it on as an open-source), see http://docs.openhab.org/developers/contributing/contributing.html#sign-your-work

Thanks for sharing!

[2017-09-21 07:51] ccaramel opened #2723 "[homekit] Thermostat mode does not accept string value?"
I'm trying to create a rule to convert thermostat mode (KNX behaviour) to homekit.

KNX behaviour is "1" for heating and "0" for cooling

The simple rule is described here:
[code]

In response, I have a rare issue:

[code]

Is someone have any idea?
Regards.

[2017-09-21 08:16] kaikreuzer commented on #2721
Hi @lauhub, thanks for reporting this.
Please note that this issue is not about an individual addon, so this is actually the wrong issue tracker to report it - the better choice would be https://github.com/openhab/openhab-distro/issues.

Nonetheless, I doubt that there is anything we can do about it ourselves, because the openHAB distro merely uses Apache Karaf to do the [KAR handling](http://kara

[2017-09-21 08:16] #2721 closed

[2017-09-21 09:26] kaikreuzer commented on #2139
Hey @metbril and @kubawolanin, thanks again for this gorgeous work!

That's something that wasn't cleanly defined so far, so I spent the last week to sort this out. You can find the result at https://www.eclipse.org/smarthome/documentation/features/ui/iconset/classic/readme.html.

So all icons that are listed there are considered mandatory for every iconset (while some are even still missing in th

[2017-09-21 09:42] hreichert commented on #2722
Sure, here you go:
https://github.com/openhab/openhab2-addons/pull/2724

[2017-09-21 10:19] #2722 closed

[2017-09-21 14:32] mueller-ma commented on #2139
I find this option very interessting. Should the client draw the background or set a parameter in the GET request to get an icon with background?

[2017-09-21 18:45] cweitkamp commented on #1774
#1708 is merged long time ago. Is this ready for closing?

[2017-09-21 20:22] #1774 closed

[2017-09-21 21:49] fab33 commented on #2444
You can add :
68:54:FD:
18:74:2E:

[2017-09-22 07:13] maggu2810 commented on #2721
Just FYI: Instead of using nabble this list web frontend looks much better: [Pony Mail -
 user@karaf.apache.org]

[Pony Mail -
 user@karaf.apache.org]: https://lists.apache.org/list.html?user@karaf.apache.org

[2017-09-22 09:09] htreu commented on #2139
I would prefer it this way. The icon size, color and background should be a decision made on the client. The size might depend on the screen size and with SVGs you can scale without quality loss. The color may depend on the item state, the client theme and cultural interpretation. The background again is a matter of information design.
The framework should deliver icons in the most neutral way so

[2017-09-22 09:27] kaikreuzer commented on #2139
@htreu Please note that this isn't a perfect fit for [our icon infrastructure](https://www.eclipse.org/smarthome/documentation/features/icons.html#icon-servlet), though - a client is expected to ask for the icon for a specific state as well. So e.g. coloring a bulb to match a certain HSB state should ideally be done by the runtime and not by the client - this way we can easily provide this feature

[2017-09-22 09:29] kaikreuzer commented on #2139
No, clients have no way to pass additional wishes besides the iconset id. That's why I said that the iconset bundle should register different iconset ids for different versions.

[2017-09-22 12:34] htreu commented on #2139
okay, tnx for the additional information. With icons in SVG format we could easily have both: The UI could request icons for a specific state and will be provided with the colored version. There is still the option to re-color the icon or retrieve it raw and do the coloring client side. That said we gain the most flexibility when delivering SVGs.
And for the state dependent request it should be fe

[2017-09-22 13:24] vbier opened #2727 "JSR223 Groovy rule throws exception on startup only (MissingPropertyException: No such property: itemRegistry)"
I have a groovy rule that works fine once the system has started, but on startup I
always get:

I have to touch the rule once the system is up and then it works. The rule can be stripped down to one line and still triggers the error:

`itemRegistry.get("gShutterLocks")`

I have openhabian running and just updated to openHAB 2.2.0 Build #1044 in hope that
the problem will go away, but is still ther

[2017-09-22 13:35] kaikreuzer commented on #2727
This seems to be an issue report about the new rule engine and not about any addon that is in this repository here. So please rather report it at https://github.com/eclipse/smarthome/issues. Thanks!

[2017-09-22 13:35] #2727 closed

[2017-09-22 13:39] vbier commented on #2727
Will do, sorry.

[2017-09-22 13:43] mueller-ma commented on #2139
Can this behavoir be changed?

[2017-09-22 13:59] Sascha-L commented on #788
Any news? :(

[2017-09-22 15:46] whopperg commented on #2468
some notes to complete the how to:
- only copy string without the "" form the certificate to a empty file
- convert the certificate with openssl in to a cert and key file (hint: import password is empty so just hit enter)
openssl pkcs12 -in cert.pkcs12 -out newfile.crt.pem -clcerts -nokeys
openssl pkcs12 -in cert.pkcs12 -out newfile.key.pem -nocerts -nodes
(where cert.pkcs12 is your converted file

[2017-09-22 19:44] martinvw commented on #2444
@ThomDietrich does this close the issue for you?

[2017-09-22 19:46] martinvw commented on #2360
@Res-Hub any updates of you?

[2017-09-23 05:20] whopperg commented on #2468
Hey @Silencer80 ,
is it possible that you could upload or post your map and js files? This would be nice as i dont have any Clou what i should put in there ;-)

Thanks!

[2017-09-23 15:51] mpuff opened #2733 "[Xiaomi / MiHome] Get no data from sensors"
Hello community,

I have run openhab2 in docker on synology.
Port 9898 is forwarded to 9898 in the docker container!
I can add the Xiaomi Mi Smart Home Binding and it is displayed to me online.
I can also find all sensors and integrate them with the status online, but I get no data on the control dashboard.
Only the batteriestatus shows me a value, this is equal with each sensor, which is also fun

[2017-09-23 19:09] kubawolanin commented on #2733
I have no experience with dockerized openHAB, so can't really help.
Maybe @dimalo @tavalin @pboos have more experience?

[2017-09-23 20:14] phenx-de commented on #2359
Any chance to support the XKM3100W as well (without gateway)? I already have some working Java code to handle the encryption / decryption. But I'm not experienced in writing openHAB Addons yet. How can I help best?

[https://github.com/phenx-de/miele-xkm3100w](url) has some example code to get decrypted JSON responses from the XKM3100W .

[2017-09-23 20:27] #1631 closed

[2017-09-23 20:33] pfink opened #2735 "[network] Compile error: deactivate() method of BaseThingHandlerFactory is illegally called with null"
openhab2-addons build currently fails because network binding is not compliant with the ESH API. Error message

[code]
Source code link: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.network/src/main/java/org/openhab/binding/network/internal/NetworkHandlerFactory.java#L48

Calling deactivate() with argument null is prohibited which is also enforced since

[2017-09-24 14:53] kubawolanin commented on #2675
There you go:
https://developers.google.com/cast/docs/reference/

[2017-09-24 16:10] ThomDietrich commented on #2444
Not quite. The PR was merely a small fix. The binding still behaves a bit unreliable and some errors need to be handled and logged. I'd also like to improve on the idea of a MAC list because as @fab33 made clear, the current solution is not going to work in the long run. I've updated the issue title accordingly.

I'm still hoping for someone to jump in as I'd rather not add another project to my t

[2017-09-25 07:11] htreu commented on #2139
@mueller-ma what is the purpose of querying an icon with the background already rendered? I think placing an icon on some specific background is up to the client because this a very design/ui targeted decision. In case we would serve icons with a background pre-rendered I doubt this would fit a lot of clients (except the one the backgrounds where designed for). Should the background be squared, ro

[2017-09-25 10:53] dreske opened #2736 "Binding tries to execute TCL Scripts on emulated ccu"
Hello,

I'm running the ccu firmware using qemu and the LAN Adapter. For a long time it works like a charm.
But since 2.1.0 nothing works. @gerrieg

First my config
[code]

Then I get following exception
[code]

Afaik the BidCos service does not support running this scripts. So no one listens on port 8181.
On the other side, if I enable debug logging, I get following log messages:

[code]
But the

[2017-09-25 14:56] mueller-ma commented on #2139
@htreu Less duplicate code in the clients

IMO some icons should have a specific background color, e.g. Android = green. How can this be achieved?

[2017-09-25 19:45] #2736 closed

[2017-09-26 09:24] philomatic commented on #2735
I wrote a pr which can close this, using same way as other bindings:

https://github.com/openhab/openhab2-addons/pull/2747

@davidgraeff: Can you please say if this is ok for network?

Unfortunately, Jenkins and Travis are failing due to some internal mirror problems, don't know how to solve them :/
Is there a way for me to retrigger the build?

@kaikreuzer Could you please take a look?

[2017-09-26 12:22] robkamp commented on #819
From my logfile today
[code]
I run OpenHAB 2.1 with z-wave 2.1.0 binding.

[2017-09-26 13:36] #2735 closed

[2017-09-26 17:34] martinvw commented on #2440
@projectgus can you make the PR, please also follow @davidgraeff his hint to use annotations instead, see for example https://github.com/openhab/openhab2-addons/pull/2673

@davidgraeff do you have a better example for @projectgus ?

[2017-09-26 19:54] dimalo commented on #2733
Hi @mpuff,

the binding works like this:
Discovery: OH sends active requests to the gateway and it responds.
Normal Operation: Gateway sends sensor values via multicast to port 9898 of OH machine

there were already users having problems with routers not forwarding multicast, even between lan and wifi. so might be your problem too? the host machine does not forward multicast traffic to the contain

[2017-09-27 13:25] CWempe commented on #2482
While I try my luck in the Onkyo forums, let's get back to the main purpose of this issue.

The binding reports:

[code]

but the thing is still `ONLINE`.

Is this expected?
I think it should become `OFFLINE`.
At least after a few of these messages in a row.

[2017-09-27 14:13] paulianttila commented on #2482
@CWempe, yes it expected bahviour. Connection supervisor recognise that no data is received during the supervision period and reconnect to receiver. Reconnection success, so thing stays in online state. If reconnection fails, then thing is set to offline state.

[2017-09-27 15:07] CWempe commented on #2482
I guess you are right.
The thing is ONLINE, but does not react to commands.
So the binding is working corryctly.

I will close this issue now and will post infomation about the workaround I am currently working on later. ;)

[2017-09-27 15:07] #2482 closed

[2017-09-27 19:58] dominicdesu commented on #1207
I guess this can be closed? 😃

[2017-09-27 19:59] #1207 closed

[2017-09-27 19:59] martinvw commented on #1207
Thanks!

[2017-09-27 20:07] dominicdesu opened #2753 "[max] Add possibility to see communication errors for MAX! devices"
Sometimes it can happen that a connection error occurs between the MAX cube and one of its devices. This connection error is currently not available in the max binding, it is only visible in the original vendor software:
![grafik](https://user-images.githubusercontent.com/3878009/30935125-fc5955a2-a3cf-11e7-925b-10d4128aebdb.png)

It would be really useful the have a channel for connection errors

[2017-09-28 11:27] zmeglic opened #2754 "[Netatmo] rain24 causing exceptions"
## Expected Behavior
Value of rain from the station

## Current Behavior
get ERR value

openhab.log:
2017-09-28 13:10:47.819 [WARN ] [ui.internal.items.ItemUIRegistryImpl] - Exception while formatting value '0.10' of item NA_Rain24h with format '%d mm / 24h': java.util.IllegalFormatConversionException: d != java.math.BigDecimal
2017-09-28 13:10:47.832 [WARN ] [ui.internal.items.ItemUIRegistryImpl]

[2017-09-28 12:40] cweitkamp commented on #2754
I guess the same thing happens if you are using the rain or rain1 channel.

@clinique Can you change the default pattern for those channels in your current PR #2682? Or should I contribute a fix?

[2017-09-28 21:23] mpuff commented on #2733
Hello @dimalo,

thank you very much, with this example i found the error, i dont has set the network to host ( docker command: --net=host), now it is working  :)

[2017-09-28 21:23] #2733 closed

[2017-09-29 09:10] Sascha-L commented on #788
*push*

[2017-09-29 09:40] lobocobra opened #2755 "[homematic] variable from CCU2 not updating in panel after refresh command in OH2 console // referring to issue #2333"
## Expected Behavior
I use latest stable openhab 2.1. In the panel of OH2 I have a dummy widget, which is supposed to display the current status of the content of the variable of the CCU2.
According to issue  #2333 I need to REFRESH the variable in the console and then it should work. The command I use in the console is:
=> smarthome:send CCu2GATEWAYEXTRAS_1_AutomowerStatus REFRESH
=> answer: "Com

[2017-09-29 10:36] lobocobra commented on #2755
Tracelog after start
[Tracelog Openhab2.txt](https://github.com/openhab/openhab2-addons/files/1343991/Tracelog.Openhab2.txt)

[2017-09-29 10:46] clinique commented on #2754
@cweitkamp : I update PR #2682 with this fix.

[2017-09-29 11:00] zmeglic commented on #2754
Great to hear that this will get solved!
Could someone please tell me how to get this fix on my system?

[2017-09-29 11:02] clinique commented on #2754
As soon as the PR is merged.

[2017-09-29 11:07] zmeglic commented on #2754
Sorry, I am very new to OpenHAB.
Can I update the binding from PaperUI?  Or do I have to install/uninstall it?
Or do an apt-get update from linux console?

[2017-09-29 11:46] cweitkamp commented on #2754
The Bugfix will be available in the OH2 snapshot version once the PR gets merged. This will take some time. If you want to switch your version follow the instructions in the manual  http://docs.openhab.org/installation/openhabian.html#switch-openhab-branch .

You are able to skip the exception by overruling the default pattern of the channel with a manual definition in an *.items file. This soluti

[2017-09-29 16:41] MHerbst commented on #2755
The problem has been solved with this PR https://github.com/openhab/openhab2-addons/pull/2419.
To solve the problem you will have the use 2.2 snapshot build of this binding.

[2017-09-29 17:09] dominikkv commented on #2261
Hi, just found another enocean library, based on node.js: https://github.com/node-enocean/node-enocean

[2017-09-29 17:15] #2755 closed

[2017-09-29 22:39] RickyTR opened #2758 "[yamahareceiver] Problem with HDMI input"
I have some problems in setting HDMI input. To change the input I set the HDMI’s to HDMI1, HDM2 etc. and with this the command goes well but it seems that current input is read as HDMI_1, HDMI_2 etc. . In event log I find this:

017-09-29 21:12:08.195 [ome.event.ItemCommandEvent] - Item ‘AMP_Input’ received command HDMI1
2017-09-29 21:12:08.205 [vent.ItemStateChangedEvent] - AMP_Input changed from

[2017-09-30 18:07] zmeglic commented on #2754
Thank you very much for the perfect explanation!

[2017-09-30 18:50] lolodomo opened #2761 "[Netatmo] discovery not using representation property"
The binding has a clever way to check if a discovered thing already exists. If it exists because it has the same configuration setting(s) and the same bridge, the thing is not added at all in the inbox.

Now it exists in the ESH framewrok the representation property that allows to auto ignore a discovered thing. So the behaviour is a little different as the thing is discovered if it has a differen

[2017-09-30 19:07] cweitkamp commented on #2754
You are welcome.

[2017-09-30 19:11] cweitkamp commented on #2761
Absolutely.

@clinique could you include this into #2682? tyvm

[2017-09-30 19:21] cweitkamp commented on #2717
There are some other people in the community reporting issues with the Netatmo thermostat. I post a link if the community forum is accessible again.

@clinique any thoughts on this?

[2017-09-30 19:30] cweitkamp commented on #2717
Here it is

https://community.openhab.org/t/netatmo-binding-thermostat-null-response/34437a

[2017-09-30 20:09] lolodomo commented on #2761
My current feeling is that @clinique 's current solution is better ! What is the need to have ignored discovered things ?

[2017-09-30 20:56] edsonaj commented on #929
Hey @beowulfe, any news on this?

[2017-10-01 06:07] clinique commented on #2717
Yes and IIRW I identified and corrected this in the current WIP PR of Netatmo

[2017-10-01 06:34] clinique commented on #2761
In fact, I think that both are valid. In the welcome part, you may be submitted with ten's of persons that you are not likely to want to stay as things - so you'll want to ignore them. I'll have a look at this but would really prefer merging asap current PR instead of adding functionalities on the other way.

[2017-10-01 08:10] cweitkamp commented on #2761
First of all I have to apologize. I totally missed the point of @lolodomo's post. I only saw the phrase representation property and directly jumped into the code to had a look if it is used already.

@clinique you are right. Both ways seem to be valid and should be included in the binding. Please focus on your current PR. We should come back to this after it is merged.

I maybe have another improv

[2017-10-01 08:46] maikbooehme commented on #1719
hi all,

in openHAB2 (2.2.0), where can I change the setting for the exclusive mode ? I dont find any config file for it.
Can someone point me in the right direction ?

best regards
Maik

[2017-10-01 11:15] Celaeno1 commented on #1719
@maikbooehme In PaperUI --> Configuration --> Things --> Max! Cube LAN Gateway --> Configuration (=the pencil symbol)!

[2017-10-01 17:12] cweitkamp commented on #2502
PR #2763

[2017-10-01 18:23] beowulfe commented on #929
@edsonaj - I had a thought that this behavior might be related not to items that aren't available, but simply items whose values have not been initialized. There was a fix to the homekit library to better handle null values. I have an updated addon here: https://github.com/beowulfe/openhab2/releases/tag/homekit-1.1.4

Can you or someone else give that a shot and see if it has an impact?

[2017-10-01 19:09] SpeedmaxX commented on #1255
Hi, @beowulfe has Updated the base homekit library to 1.1.4

https://github.com/beowulfe/openhab2/releases/tag/homekit-1.1.4

[2017-10-01 19:22] cveith commented on #503
I'm having issues with duplicated telegrams too.

But only with items, that don't have a status address associated. Temperature Items for example.

Most of my switch items or the rollershutter items don't have these problems.

[2017-10-01 19:52] martinvw commented on #2302
@andreasreinhardt could allow you access to push to his branch, would that work for both of you?

[2017-10-01 20:11] Mr-iX commented on #1255
@SpeedmaxX Means that when I install this PreRelease, I can use the Rollershutter items?
When yes, which tags need I?

[2017-10-01 20:47] SpeedmaxX commented on #1255
Hi, don‘t know yet. Cannot test until tuesday

[2017-10-01 21:01] beowulfe commented on #929
Actually, scratch that. I was finally able to reproduce this reliably!

There are a few fixes here - the most important one is I'm making use of Apple's configuration index for the bridge. That entails advertising what's essentially a revision number with the bridge. So, the very first time we advertise anything, we advertise it with revision "1". If something changes, we increment that to "2".

O

[2017-10-01 21:05] beowulfe commented on #1255
No, that version is a bugfix for accessories losing their client-side information (i.e. the rooms you've defined for your accessories in a homekit app). It doesn't have any new accessory types. You can follow the discussion on the bug here: https://github.com/openhab/openhab2-addons/issues/929

[2017-10-01 21:21] Mr-iX commented on #1255
@beowulfe Thanks for the clarification.
Where can I get a version with the added accessories, so that I can use my rollershutters, while the discussion goes on and on.

[2017-10-01 22:03] beowulfe commented on #1255
I don't have a working version that supports this. I did at one point, but it's broken with updates. I'm reluctant to put much work into it until we've settled on how to map items to homekit accessories - I'd potentially be doing a lot of work that's ultimately thrown away.

[2017-10-01 22:17] Mr-iX commented on #1255
I understand your point.
Hopefully there will be a decision in the near future.

I really understand people who switch to a other Smart Home system, because for a normal end user this is unbelievable.

[2017-10-01 22:28] reyem commented on #1255
I'm reluctant to put much work into it until we've settled on how to map items to homekit accessories

Following this for a while, it does not look promissing for the near future. I see 2 relatively low effort options to get OH2 and Homekit usable for most end users:

A) simply add rollershutter support to the existing binding. Altough other Accessoires might be desirable, rollershutters are the b

[2017-10-01 23:43] beowulfe commented on #1255
I think there's actually been some recent progress on the dependency - I'm cautiously optimistic.

That said, I started a branch that adds support for WindowCoverings. It's pre-pre-alpha, totally unsupported, and any configuration changes you make to support them probably won't continue to work when we finalize the design. It only supports position via a Rollershutter - no vane controls. The relea

[2017-10-02 06:40] cveith opened #2764 "[ipp] Malformed URL with IPP Binding and IP V6"
The IPP Binding is using the IPv6 Address when discovering my CUPS Printserver, when operating an Network in Dualstack IP Mode (V4 and V6 together)

As a result the openhab logfile contains errors such as these:

**[ERROR] [inding.ipp.handler.IppPrinterHandler] - malformed url http://2003:50:f44:5400:216:3eff:fedc:d0bc:631/printers/FS-1370DN, printer thing creation failed**

Manually reconfiguring

[2017-10-02 06:55] martinvw commented on #929
That sounds indeed like a fair trade-off. Thanks for looking into it!

[2017-10-02 06:59] lewie commented on #503
@cveith, have you tested autoupdate="true/false" like:

Did you set in knx.cfg:

AND another busaddr as 0.0.0

Additionally, you can see from where the echos are initiated while ETS is logging.

[2017-10-02 07:11] clinique commented on #2761
@cweitkamp : yes, adjusting polling to received timestamp is an idea I had beind since a while and will introduce it a some point.

[2017-10-02 08:08] Mr-iX commented on #1255
Now I have installed the Homekit Addon and the rollershutters were successfully added to the Home App.
The problem is that I cannot turn them up or down. The status in the Home App and in OpenHAB changes, but there is no command sent to my KNX rollershutters.
And the status of OpenHAB is reversed. When they are open, Homekit says that they are closed.

OpenHAB Log:
[code]

[2017-10-02 11:12] maikbooehme commented on #1719
Thanks Alex !

Von: Alex [mailto:notifications@github.com]
Gesendet: Sonntag, 1. Oktober 2017 13:15
An: openhab/openhab2-addons <openhab2-addons@noreply.github.com>
Cc: maikbooehme <booehmemaik@email.de>; Mention <mention@noreply.github.com>
Betreff: Re: [openhab/openhab2-addons] [MAX! Binding] Things stay at state "Initializing" if not in exclusive mode (#1719)

@maikbooehme <https://github.com/m

[2017-10-02 12:24] edsonaj commented on #929
Great, that solved it.

Thank you.

[2017-10-02 12:26] #929 closed

[2017-10-02 12:36] martinvw commented on #929
@beowulfe can you also create a PR for it? Thanks!

[2017-10-02 16:35] felixloesch commented on #1311
So what are your proposed changes to the code? Just the cast or is there more that needs to be changed? I would support the change and test a new version of the binding.

[2017-10-02 17:13] cveith commented on #503
@lewie: ignorelocalevents is set to true and an individual busaddr is set as well.

i've tested an workaround and it works for me.

As only items with not status address are affected in my scenario i've changed the items which are only receiving data to the following:

Number Heizung_Stellwert { knx="**+<**5.001:12/3/0" }

The telegrams of 12/3/0 are not replayed by openhab after the change.

Sett

[2017-10-02 18:36] davidgraeff commented on #2758
To keep your thing in sync with the receiver, we need to poll it periodically. You can change the frequency in the binding configuration. It is one minute per default.

Yamaha AVRs need HDMI1 to be send to it to change to for instance the hdmi 1 input. But it reports HDMI_1 back. Unfortunately this is not consistent. Some AVRs report back HDMI1 some HDMI 1. At the moment I do not intend to change

[2017-10-03 01:23] beowulfe commented on #1255
For the reversed status - I just assumed Openhab's numbers matched Homekit's - 0 is fully closed, 100 is fully open. I did a brief scan of the documentation, and couldn't find anything. Maybe someone more knowledgeable than I can comment on what's expected.

As far as the blinds not reacting to the commands - I'm not sure. If it's updating in the OH UI, it must be receiving the command. Does KNX s

[2017-10-03 05:45] Mr-iX commented on #1255
In my specific case they can only get the up and down command.
Could that case also be realized?

[2017-10-03 06:03] holmes commented on #1677
PR: https://github.com/openhab/openhab2-addons/pull/2097

[2017-10-03 06:04] holmes commented on #1935
Should be fixed in https://github.com/openhab/openhab2-addons/pull/2097

There's a JAR in that PR you can test.

[2017-10-03 06:05] holmes commented on #2675
Try the jar in this PR: https://github.com/openhab/openhab2-addons/pull/2097

I have no idea if it works, but it might.

[2017-10-03 07:41] jackrobijn commented on #322
Any news on this item.
I have got the A1 unit working in Openhab panel.
![image](https://user-images.githubusercontent.com/15873884/31114547-f12f3018-a81e-11e7-8216-0fa05da48fe6.png)

But strugling to get the rm2 unit working.
Used the binding from Cato and added the A1 RM2 and RM3 device.
Managed to read the commands with RM bridge for RM2, but unable to send commands to RM2
Temperature reading f

[2017-10-03 09:32] polarvogel commented on #1345
I did a TCPdump and watched the packets from my iPhone to openHAB2 device. On temperature changes, you can see 2-3 packets beeing sent. But no packets at all are sent when I try to change the HeatingCooling mode.
I guess the thermostats are not correctly registered to the iOS Home App.

[2017-10-03 10:52] JueBag commented on #2675
Will look into it and try it. However, I'm presently on vacation  and afterwards on a longer business trip,  so the testing has to wait probably till the end of november.Sorry for that.

[2017-10-03 11:39] RickyTR commented on #2758
Everything was working with the version in 2.1 but I understand that you change something to support other models. I think I can solve the problems using rules until the new version of the binding.
Thanks for your work!

[2017-10-03 16:15] mob41 commented on #322
Which binding are you using? What I currently know is there aren't a proper Broadlink OpenHUB binding available in the internet. Can you give me a link?

[2017-10-03 18:40] Olivierr92500 commented on #1255
Thanks for driving things forward on this topic.

I installed release 2.2.0.201710012338 of HomeKit Integration on my Openhab 2.1 release by uninstalling the 2.1 release and placing the new jar file into /usr/share/openhab2/addons.

It is active under karaf
bundle:list
225 | Active   |  80 | 2.2.0.201710012338     | HomeKit Integration

But in the log I get the following error:
2017-10-03 19:47:10

[2017-10-03 22:30] rinal13 commented on #1255
I got exactly the same error as Olivierr92500,
but one addition after the error I got the message, as i activated the logging,
"00:23:41.457 [INFO ] [com.beowulfe.hap.HomekitRoot        ] - Added accessory openHAB"
I also recognised that the command "openhab:homekit clearPairings" isn't working.

May this helps to find the cause.
Regards

[2017-10-03 23:59] beowulfe commented on #1255
It won’t work with 2.1 - it’s built against the latest nightly 2.2.

[2017-10-04 04:41] jackrobijn commented on #322
@mob41,
i have used the broadlink binding written by Cato Sognen, i you google on :Broadlink binding for RMx, A1, SPx and MP. Any interest? you will find all info from Cato: If you start reading as from 2 july, you will find all the info

[2017-10-04 11:33] sgofferj opened #2767 "JSONPATH returning NULL on item not found can lead to problems with REST API"
System: Ubuntu server 16.04 LTS on Xeon 1240L V3. Openhab stable from ppa

I recently included Sonoff B1 lightbulbs with Tasmota fw in my system. Here is an example item config:

[code]

The B1 with tasmota software answers to all commands with

(of course with appropriate values). It also answers with this to the cmnd/CT command which sets the color temperature. If you want the color temperature

[2017-10-04 17:04] kaikreuzer commented on #2767
Transform services are part of ESH, so may I ask you to please report that issue at https://github.com/eclipse/smarthome/issues? Thanks!

[2017-10-04 17:04] #2767 closed

[2017-10-04 18:29] sgofferj commented on #2767
Well, one could also see it as a bug that the REST API blows up if an item is NULL... ;) :D

[2017-10-04 19:49] Olivierr92500 commented on #1255
Thanks Beowulfe for your answer.
I uninstalled 2.1 and installed  2.2.0-SNAPSHOT Build #1054
I removed the default homekit and installed the following:
10 │ Active   │  80 │ 2.2.0.201710012338     │ HomeKit Integration

When starting OpenHab, it does seem to load correctly:
2017-10-04 21:19:01.822 [INFO ] [omekit.internal.OpenhabHomekitBridge] - Reached homekit target state for version 3, starting

[2017-10-04 22:36] rinal13 commented on #1255
For me it works,
I only have to check the bticino binding, which I use, as it seams that the setpoint from the homekit blind, is not translated correctly to a command.
Hope I find some time to do it in the next days.

[2017-10-05 18:02] Olivierr92500 commented on #1255
I think I found my problem. Not fully tested yet but I could have it to work with standard homebridge.
It think the problem was related to pairing that I needed to be cleared when changing release.

smarthome:homekit clearPairings
smarthome:homekit allowUnauthenticated true

I keep you posted with next results

[2017-10-05 18:53] phattyassid commented on #2440
I tried changing the name in the OSGi file but got the same error as aryeharmon.  what specifically did you do to make it work that?

thanks!

[2017-10-05 19:54] Olivierr92500 commented on #1255
Making some progress.
I can now start openhab with the modified jar and manage to pair Openhab with my iPhone
However, I only get 2 devices when using the new jar vs the 4 I get with the standard one:
-With the standard jar I get my 3 light switches plus my amplifier
-With the new jar, I get only 1 light switch plus my amplifier (and still no rollershutter)

below my various items files with the i

[2017-10-05 22:16] CWempe commented on #2482
I cannot tell for sure, but it looks that way to me.

I used the expire binding as a workaround to restart the device when the connection is lost.

item:
[code]
rule

[code]

My receiver is behind a Sonoff switch that can be turned off/on via mqtt.
Be aware this rule is not fully testet, because the issue only happened once since I created it.
I will have to add something like `do not turn off whi

[2017-10-06 16:15] #2502 closed

[2017-10-06 20:41] sprehn commented on #2305
Could not fix those old commit messages, so I reset my fork to upstream master and reintegrated my binding. This close the original PR. Created new PR #2768.

[2017-10-07 08:11] cniweb opened #2769 "Add HomeEasy Binding"
It would be very nice if one would be program a binding for HomeEasy Smartwares (wireless sockets).
A cli for the HomeEasy Smartwares HE853 USB device can be found here:
https://github.com/hphde/he853-cli

[2017-10-08 20:16] zarusz commented on #2758
Please check out the closely related discussion [here](https://community.openhab.org/t/yamahareceiver-binding-problems/34628/18).

[2017-10-09 09:05] felix-loesch commented on #1311
I am happy to support in adding color support for hue emulation binding @digitaldan.
I looked at the code and assume we have to announce different light bulb types depending on the item type of the hue device in Openhab. All different hue bulb types are listed on the following page: [https://developers.meethue.com/documentation/supported-lights)](https://developers.meethue.com/documentation/suppor

[2017-10-09 21:54] WannabeNerd opened #2772 "[avmfritz] add support for FRITZ Dect 301"
Since AVM introduced the new [Fritz!Dect 301 on IFA 2017](https://en.avm.de/ifa-2017/) in Berlin a while ago, I wondered if you could add support for Fritz!Dect 301. I guess from an API perspective its nothing more than a FritzDect300 with new model name.

[2017-10-10 08:53] cweitkamp commented on #2772
Hi WannabeNerd,

yes of course. I already have a branch in my porsonal fork for supporting the new device https://github.com/cweitkamp/openhab2-addons/commits/AVMFritzDECT301. I am currently waiting for AVM to announce an official release date. ;-)

@martinvw Please assign me to this. Thx. Do you think I should already contribute? Even if the device could not be purchased, yet?

[2017-10-10 09:16] martinvw commented on #2772
@kaikreuzer can you add @cweitkamp as contributor so I can also assign him here?

If the API is defined already why not :-)

[2017-10-10 09:33] kaikreuzer commented on #2772
He has got an invitation!

[2017-10-10 09:38] cweitkamp commented on #2772
@kaikreuzer @martinvw Invitation accepted. Thank you very much.

[2017-10-10 09:38] martinvw commented on #2772
:-)

[2017-10-10 09:39] WannabeNerd commented on #2772
Wow you guys are quick! Thanks for the immediate reaction. If you need somebody to test the functionality I volunteer because I happen to have a Fritz Dect 301 already installed, which of course is why I made this issue in the first place ;)

[2017-10-10 09:44] cweitkamp commented on #2772
That is a reason to open the PR right away. Here you are PR #2774.

[2017-10-10 12:16] maltetgh commented on #929
@beowulfe
Im still running into problems because HomeKit compares the accessory list apparently against a version before the RWE binding was initialized.

On subsequent starts of openHAB just before the RWE binding begins to initialize the log says:

I dont know when you save the accessory list and it seems that after an crash of openhab there is a empty or very short list saved.

I think it would

[2017-10-10 12:48] kaikreuzer commented on #1255
There is. See https://github.com/eclipse/smarthome/pull/4390#issuecomment-335190549 - any comments welcome!

[2017-10-10 13:55] edsonaj commented on #929
You can change that in homekit config. The default is 30 seconds. Increase that so the biding is initialized before the timeout.

---
Edson Alves Junior

[2017-10-10 14:46] martinvw opened #2776 "[network] TTL on discovery results"
Follow up of https://github.com/eclipse/smarthome/issues/4391

See also: https://community.openhab.org/t/network-snapshot-inbox-being-filled-and-emptied/34968

@kaikreuzer stated:

The question originated from me not being able to accept results before their TTL was over, while @davidgraeff choose this solution because he felt there was no proper alternative:

[2017-10-10 14:49] martinvw commented on #2776
So the main point is should we accept that it becomes messy with so many discovered devices or should we remain using the TTL?

Or maybe but I don't know how feasible it is limit / group items. For example something that offers both an apple-service and an http-service should maybe be just one Thing

[2017-10-10 14:56] kaikreuzer commented on #2776
The "normal" way is that the user should simply "ignore" results in which he is not interested.
I see that the network binding is quite some exception as it indeed can create a large set of discovery results. So maybe some "bulk ignore" / "bulk delete" feature could help here, but I am a bit hesitant to suggest adding such a feature to the Paper UI just because of a single binding...

[2017-10-10 15:01] martinvw commented on #2776
Okay, for now I created a [PR](https://github.com/openhab/openhab2-addons/pull/2773) to at least mention its 'hack' in the README and extended it to 10 minutes.

So we don't have to decide today 😉 , however this is new in the SNAPSHOT so it did not hit the full public yet, so I think we want to act somehow before releasing it.

[2017-10-10 18:33] davidgraeff commented on #2776
in my opinion TTL makes sense. we don't know how long those network devices will stay but one think is certain: they will not stay forever (DHCP IP change, mobile out of WiFi range, IP TV off), so why should the inbox results.

[2017-10-10 19:19] WannabeNerd commented on #2772
Thank you for the PR. Assuming it will be merged soon - whats next? I installed my openhab2 via the package manager of my distribution (raspbian on my raspberry pi 2). How exactly do I upgrade my existing openhab2 installation to the new state of this repo? Is it possible to only upgrade the binding "avmfritz"?

[2017-10-10 19:36] maxlein commented on #819
Same with me here:
Exception with ZWave Plus device PST02A
Openhab version 2.1.0:

`017-10-01 14:15:41.711 [DEBUG] [ve.internal.protocol.ZWaveController] - Receive queue TAKE: Length=0
2017-10-01 14:15:41.714 [DEBUG] [wave.internal.protocol.SerialMessage] - Assembled message buffer = 01 0C 00 04 00 0A 06 31 05 01 0A 00 4B 8F
2017-10-01 14:15:41.717 [DEBUG] [ve.internal.protocol.ZWaveController] -

[2017-10-10 19:44] cweitkamp commented on #2772
Well, both is possible. After this PR gets merged it will be available in the snapshot version of OH2. How you install the snapshot on linux based sytems is decribed here: http://docs.openhab.org/installation/linux.html#package-repository-installation.

On the other hand you can download the current binding version here: https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/o

[2017-10-10 19:59] WannabeNerd commented on #2772
Ok thank you very much. I guess I'm going to try the the installation of the snapshot verison of OH2 then :)

[2017-10-11 12:47] oliverrahner commented on #2177
Thanks @justeagler, this brought me on the right track! I use an "FRITZ!WLAN Repeater 300E" by AVM as a secondary Access Point and had connected OpenHAB via Wifi.
Turns out, the 300E doesn't support Multicast via Wifi, only on the wire.

[2017-10-11 15:49] RickyTR commented on #2410
I'm really interested in this one. Is there something to try?

[2017-10-11 18:08] cniweb commented on #2410
Yes, the sky-remote-cli work with Humax S HD 4!

[2017-10-11 20:14] martinvw commented on #2776
Yes but the main difference with the case where there is background discovery running is that network devices disappear from inbox while they are still available. And I think that @kaikreuzer point is that that was not what the TTL was intended for.

[2017-10-11 20:42] martinvw commented on #819
@cdjackson ^^

[2017-10-11 20:48] cdjackson commented on #819
Sorry - but what does ^^ mean?

[2017-10-11 20:56] martinvw commented on #819
I did not know whether you would receive the update given above, so I thought let's mention you and point to the message above. I thought it was more or less common 😁

[2017-10-11 21:00] cdjackson commented on #819
Ok, I’ve not come across that before ;)

I am not following this though - I’d suggest to open something on the ZWave list - especially as this seems to have been closed 18 months ago it’s hard to track.

[2017-10-11 21:04] WannabeNerd commented on #2772
Hey guys, I just saw that the PR was merged. So I installed the snapshot version of OH2 as it is described in the [documentation](http://docs.openhab.org/installation/linux.html#package-repository-installation).

Unfortunately my OH2 becomes stuck at
`"Please stand by while UIs are being installed. This can take several minutes." `
In the log I found entries like:
` ERROR org.openhab.core.karaf.in

[2017-10-11 23:14] davidgraeff commented on #2776
What I can imagine that we do is, we keep the list of results and use a background discovery to watch devices if they are still reachable, before the TTL value causes them to be removed.

[2017-10-12 06:02] #2772 closed

[2017-10-12 06:05] cweitkamp commented on #2772
Sry to say. The PR wasn't merged, yesterday.

For your update problem I have to point you to the [community forum](https://community.openhab.org/). I am afraid I cannot help you very much with that.

[2017-10-12 08:23] robkamp commented on #819
Where can I find the ZWave list?

[2017-10-12 08:42] martinvw commented on #819
https://github.com/openhab/org.openhab.binding.zwave/issues

[2017-10-12 21:36] raisude commented on #2586
Once again. I have installed a nee raspi with ooenhabian. And the behaviour is the same. After some time the netatmo Bindung stops the refreshing of it‘s items. No entries in the log files. The mqtt items are gering new values. Where can I start to look for? How does the Bindung works with openHAB? Is the binding by it Self refreshing the items it does it deliberiert the values to a Service at hig

[2017-10-13 13:22] raisude opened #2780 "[Netatmo] binding items stop to refresh"
I described my problem in this issue more than a month before. https://github.com/openhab/openhab2-addons/issues/2586

I have now installed openhabian on another raspi. Running the standard installation. The things and items are defined in a text file. After starting openhab2 the binding does what it should do. After a changing interval of time the netatmo items do not refresh.

Looking in paperui

[2017-10-13 14:03] raisude commented on #2780
when i open the karaf console and enter the commands:

bundle:stop (netatmo number)
bundle:start (netatmo number)#

there are some errors in the log files: attached

But the items start refreshing
[netatmo.txt](https://github.com/openhab/openhab2-addons/files/1382834/netatmo.txt)

[2017-10-13 14:50] clinique commented on #2586
@raisude : the binding is currently in complete rework. In the current PR, he'll be requesting far less access to Netatmo server, so let's see if this kind of null issue disappears.

[2017-10-13 14:59] raisude commented on #2586
have a look: https://github.com/openhab/openhab2-addons/issues/2780

your sure the problem is the netatmo server?

[2017-10-13 15:20] clinique commented on #2586
Not sure, this null pointer arrives from time to time and I never succeed nailing it as I do not reproduce it in dev, but as the new PR changes drastically the way api is used maybe we'll adress it easily.

[2017-10-13 16:32] otbe opened #2781 "[MiHome] Aqara Water Leak sensor support broken?"
## Expected Behavior
Pairing and using Aqara Water Leak sensors should work with mihome binding 2.2.0 (#2657)

## Current Behavior
I cant add them to openhab. I use the offline method described here: http://docs.openhab.org/addons/bindings/mihome/readme.html.
I changed the log level of the binding to DEBUG and received the following logs while pairing:
[code]

Maybe the model number has changed?

[2017-10-13 19:10] dimalo commented on #2781
hey @otbe!
strange... we already had users report that the sensor is working.
can you please try to log on TRACE level?
then you get the datagram in detail.

[2017-10-13 19:27] otbe commented on #2781
Hey @dimalo

thanks for your response. Im not sure if this really help you but this is the TRACE log around the "Unknown discovered model" message, but from my point of view there is no related datagram at all?!

[code]

[2017-10-13 19:32] dimalo commented on #2781
there it is
[code]
the model property is "". The discovery is checking this prop and comparing against its known devices. it simple cannot map the empty string to some model.

[2017-10-13 19:33] otbe commented on #2781
Indeed! Added it manually via PaperUI with this SID and it works!

[2017-10-13 19:34] dimalo commented on #2781
oh clever, didn't think about that 👍
hope it works well from now on!

[2017-10-13 19:45] otbe commented on #2781
Sorry, this was a bit too fast. :/

I added it via PaperUI, it shows up as online and I can link an item to it. But the item does not change after some water. And there is no log entry at all after the initial heartbeat...

[2017-10-13 19:47] dimalo commented on #2781
if there is no log entry reporting the sensed water, it might really be a gateway problem.

[2017-10-13 20:18] otbe commented on #2781
Yes, Sir! 👍

After a firmware update it shows ```"model":"sensor_wleak.aq1"``` and it works as expected!

Thank you very much!

[2017-10-13 20:18] #2781 closed

[2017-10-14 02:21] floriandd2ba opened #2782 "[homekit] Lightning Dimmer sends 2 commands"
Hello,
i check the headlines for the "homekit" issues, but nothing matches my problem.

# "Wrong behaviuor" homekit Dimmer with iOS 11 iPhone 7 and knx
ITEM Config: ```Dimmer Weiss "Weiss Dimmer [%s]" (Lights) [ "Lighting" ] { knx="1/4/1, 1/4/2, 1/4/3+<1/4/4" }```

In Homekit the icon has 2 functions:
- tap (ON or OFF)
- long tap for slider (Percent)

## first tap: ON
### Openhab2 log
2017-10-14 0

[2017-10-14 09:51] SR-G commented on #1655
I still have the same issue with OpenHAB 2.2.0-SNAPSHOT build #1044 (docker image).

`2017-10-14 11:45:37.308 [ERROR] [netatmo.handler.NetatmoDeviceHandler] - Exception when trying to update channels: null`

[2017-10-14 10:54] SR-G commented on #2717
In which build is this PR embedded ? I'm running #1044 (2.2.0-SNAPSHOT) and have the same null issue as pointed in the community link above.

[2017-10-14 18:44] rinal13 commented on #1255
The homekit roller shutter is working with my adjusted in the bticino binding.
I got it working by defining limits for the roller shutter value.
0 - 45 => Command UP
45 - 55 => Command Stop
55 - 100 => Command Down

the right solution would be:
previous state > actual state/command => Command Up
previous state = actual state/command => Command Stop
previous state < actual state/command => Command

[2017-10-14 19:26] Mr-iX commented on #1255
@beowulfe For me the state 100 means fully closed and 0 means fully open. So this explains why the status is reversed.
I'm using KNX-rollershutters with the KNX-Binding.

So it seems that this is the normal behavior. Could you please modify the homekit-addon, so that 0 means open. Thanks!

[2017-10-16 08:55] Celaeno1 commented on #2444
Can you also please add:

b4:7c:9c
68:37:e9

[2017-10-16 09:45] staehler opened #2784 "[FritzboxTr064]: Error while executing background thread FritzboxTr064 Refresh Service"
After some time running openhab this error appears:
[code]

## Expected Behavior
This error is new, as it worked for month before the upgrade. I made an upgrade from openhab2_2.2.0-20170725225428-1_all.deb to openhab2_2.2.0-20171011224825-1. So this behaviour must have been imported in between July and October.

## Current Behavior
When this error happens, it doesn't disappear untill a restart of

[2017-10-16 16:23] ktams commented on #2444
when I start arping in terminal and push the button, it only detects two times the mac adress of the button.
May be that is a way to filter:
start the detection, look for mac adresses, that appear two times and only two times.

[2017-10-16 18:47] Celaeno1 commented on #2444
@OLibutzki @ktams You can compare this twice detected MAC-ADDRESS or only mac prefix with one of these following APIs:

https://api.macvendors.com/68:37:e9

or

https://macvendors.co/api/vendorname/68:37:e9

That's it....

[2017-10-16 19:28] Confectrician commented on #2444
Nope, unfortunately not.

https://api.macvendors.com/44:65:0D
Is an example from my Fire TV Stick, which shouldn't be added as a Dash Button obviously.

[2017-10-17 03:34] Celaeno1 commented on #2444
@confectrician Is your FireTv Stick answering to the ARP request  with exactly 2 times telling it's mac-address, too?

[2017-10-17 16:07] Confectrician commented on #2444
@Celaeno1
It doesn't seem seem to be answering exakt two times.
It doesn't seem to answer even one time, so i cant reproduce the difficulties mentioned above.
Sry for being to fast with my answer here.

I tried pressing a dash button too during discovery.
There was one time it answered 2 times and one time it answered 4 times.

That confused me a bit and i tried pressing it several times again.
In

[2017-10-17 17:01] fab33 commented on #2444
A good documentation will be fine too. Actually it's not explain how to configure dashbutton with things and items files.

[2017-10-17 18:05] OLibutzki commented on #2444
@Celaeno1 we could use that API, but it's not assured that the OpenHAB runtime has internet access, so we still need a static list in order to fallback.

@Confectrician The approach of checking for two ARP request answers sounds unreliable somehow. I would like to know if there are more users who can confirm that in contrast to other Amazon devices the Dash button answers exactly two times. If so,

[2017-10-17 18:34] Confectrician commented on #2444
Hi @OLibutzki,

The initial idea of the "2answers" thingy came from ktams.
So currently, we are 2 users. Maybe we should start a thread in the community to test this behavior.

@ThomDietrich:
Regarding to this discussion, you own several Dash Buttons too, maybe you could test this behavior as well.

And ofc the comment about that API has a good point.
Since openHAB doesn't need an internet connect

[2017-10-17 19:58] mebe1012 commented on #788
@BenWoodford  I also started to fork your binding today, thanks a lot for the effort and sharing your binding!

For now I just fixed the binding itself, pointing it to the new Tado API.
Theres still a lot to change, adding new features, there are also implemented channels, which are not used yet, and so on.

@Sascha-L  @fechy @e36Alex
You can use https://github.com/mebe1012/openhab2-addons/release

[2017-10-17 21:30] ThomDietrich commented on #2444
I also don't think the "2answers" solution alone is any better than the limited mac address list solution.

It should be possible to filter packages based on the actual content.

Yes I am seeing two packages. These are identified as LLC (`0x000081f5`) and are exactly 60byte long, data payload always starts with `0x8000`. Tested with eight dash buttons.

@OLibutzki any idea?

[2017-10-18 05:17] OLibutzki commented on #2444
@ThomDietrich I second this. Can you provide a unified way how to sniff those packages? Using this manual users could check there content and we could collect all the results in order to find similarities.

[2017-10-18 09:15] ThomDietrich commented on #2444
Good idea. I'm currently not home so sadly can't verify the below. I went with [Wireshark](https://www.wireshark.org/) on my Windows PC to do the analysis.

1. Install wireshark, start
2. Select the right interface (Ethernet, Wifi,...)
3. Start the capturing process (packages should pop up)
4. Add a filter to only show LLC packages
5. Press the dash button and verify the content against the data g

[2017-10-18 12:25] robkamp commented on #819
@martinvw thanks!

[2017-10-18 16:13] discordianfish opened #2787 "[homekit] Server not listening"
I'm trying to control openhab2 running on rpi3 from homekit but I can't discover/pair it. Debugging this I realize that openhab2 isn't listening on the homekit port, yet there isn't anything in the logfile except a exception when shutting down.

## Steps to Reproduce (for Bugs)
1. Install 2.1.0-1 stable/main in armhf from http://dl.bintray.com/openhab/apt-repo2
2. Start it
3. Install homekit from

[2017-10-18 19:55] martinvw commented on #2776
I think that is indeed the proper solution, I do not yet know how hard it is, is it something you expect to have time for?

[2017-10-18 23:18] BClark09 commented on #2444
Simply:
[code]

I have 3 which have battery power atm:

As with @ThomDietrich, LLC, control field: 0x81f5, exactly 60byte long, data payload always starts with 0x8000.

Alas, every other WiFi device matches the above criteria. Different types of devices, and brands etc.

[2017-10-19 08:07] kaikreuzer commented on #2776
I am not sure if this is a proper solution. The network binding does NOT have any background discovery on purpose as it can be a very heavy operation. And doing a background discovery that merely removes stuff instead of adding new results is also not an expected behavior (while it still can be expensive/undesired when you have a lot of devices on your network).

[2017-10-19 08:17] martinvw commented on #2776
So there is no proper solution...

[2017-10-19 08:21] jnoam opened #2789 "[opensprinkler] Feature request: can have an item for flow meter?"
Have an opensprinkler with a flow meter connected (supported in the recent firmware versions).
Would someone be willing to try and add an item with the flow meter reading? that would allow volume-based activation as well as general monitoring.

Thanks!

[2017-10-19 08:29] kaikreuzer commented on #2776
Imho the proper solution is to discard all not-found-anymore results after every newly manually triggered scan (that should be the normal behavior anyhow) and leave it to the user to ignore anything he is not interested in.

[2017-10-19 09:47] ThomDietrich commented on #2444
I was afraid of that. After all LLC is handled on the lowest level and probably not especially implemented.

And with that we are back at the question above: It should be enough to filter for LLC packages during the manual discovery process (no mac filter needed). After all those should be not too many during that time.
Yet another option would be to not rely on the LLC packages for discovery. A f

[2017-10-19 14:51] #2440 closed

[2017-10-19 18:40] BClark09 commented on #2444
Im afraid I didn't capture any TCP packets since I don't let it get as far as the amazon server. Both ARP and LLC wise they're all indistinguishable.

[2017-10-19 21:44] Sschhsd commented on #1344
Hi @Stratehm

i have testet the newest release of OpenHab (openHAB 2.2.0 Build #106). Your Snapshot 2016-12-22 SNAPSHOT does not work anymore with the latest OpenHab-Release. The pioneer-binding which is included into the latest snapshot of openhab does not have your implementation for my pioneer vsx-529.

Are you interested to insert your implementation to the official pioneer binding or could yo

[2017-10-19 21:59] fab33 commented on #2444
I'm just trying with a recent Dash button and I can't see any llc packet
only dhcp request and arp.

[2017-10-20 07:38] stefaanv opened #2791 "[rfxcom] "Cannot delegate update" warnings with CoCo switch"
Hi,
I added a coco switch to (otherwise perfectly) running openhab2 system with RFXcom bridge.  The system is currently cupturing a number of OrgonScientific thermometers and was doing fine.
Recently, I added a coco wireless switch and configured with the PaperUI.
Things are working fine - I can see the state of the coco switch in the PaperUI "Control" screen, but there is the below error message

[2017-10-20 10:01] Celaeno1 commented on #2444
As I see, there will be not a quick solution. Therefore, it would be useful to first update the following file:

**AmazonDashButtonDiscoveryService.java**

please add:

FC:A6:67
68:54:FD
18:74:2E
B4:7C:9C
68:37:E9

Then please update documentation [(link)](http://docs.openhab.org/addons/bindings/amazondashbutton/readme.html)  , how to **manually add** a Dash Button.

Please note that there are man

[2017-10-20 11:56] ThomDietrich commented on #2444
I agree with you @Celaeno1
@OLibutzki will you do us the honors?

[2017-10-20 12:45] martinvw commented on #2791
It seems like some inconsistency, can you retry and list the name / ids of things and items that are involved if possible including some context.

[2017-10-20 12:52] Confectrician commented on #2444
We should also consider putting in a note there to use this issue (with link) for reporting new mac adresses, since there could be unknown prefixes we dont know yet.

[2017-10-20 12:57] ThomDietrich commented on #2444
We should strive for a fix of the underlying issue. Let's wait for @OLibutzki's answer, wether or not he'd have the time for that...

[2017-10-20 13:09] BClark09 commented on #2444
If it's desired to keep a mac list, then I'd argue that the full set of Amazon Technologies MAC codes get added. This list is found in IEEE in an OUI text file: http://standards-oui.ieee.org/oui.txt

[code]

[2017-10-20 13:13] Confectrician commented on #2444
We just should keep in mind, that this list also contains prefixex for other device type like the FireTv (Stick) for example.
44:65:0D -> Is the prefix from my FTV Stick for example.

I dont know if this has an negative impact, but wanted to mention it.

[2017-10-20 13:18] discordianfish commented on #2787
@martinvw I assume the null pointer is just a effect of my actual problem, right? Or do you think this might have fixed the integration?
If you have any pointers, I'm happy to debug this further. Right now I'm not even 100% clear how this is suppose to work. People seem to refer to an external 'homekit bridge' but that isn't necessary (anymore?) right?

[2017-10-20 14:22] Celaeno1 commented on #2444
My 'Amazon Echo' has 40:B4:CD as mac prefix...

[2017-10-20 14:46] martinvw commented on #2787
Correct the Null pointer is not part of the actual problem, but that was easy to fix, maybe others can help you out with you actual problem.

cc: @beowulfe

[2017-10-20 14:48] johnofcamas commented on #1848
Same issue still occurring. any update to this?  Is it harmless?

[2017-10-20 14:59] ThomDietrich commented on #2444
As long as we are talking "manual discovery", meaning an on-demand-discovery via a press of a button, all of these factors do not really matter because a user simply has to select the device that is discovered shortly after pressing the button.

If the goal is to support automatic background discovery, we need to look at more specific TCP/IP packages to reliably identify Dash buttons based on beha

[2017-10-20 16:13] Celaeno1 commented on #2444
Maybe this could help:

It's in german:

http://hypfer.de/blog/2016/09/02/amazon-dash-button-zweckentfremden-ohne-arp-1n/

[2017-10-20 19:12] OLibutzki commented on #2444
Exactly!

It's in german:
http://hypfer.de/blog/2016/09/02/amazon-dash-button-zweckentfremden-ohne-arp-1n/

In my opinion that's hard to achieve with an openHAB binding.
It would be better to have an external "Dash button endpoint" which triggers openHAB via its REST API.

As you might have noticed I crated a pull request and added als the MAC adress prefixes posted by @BClark09.

[2017-10-20 21:00] ThomDietrich commented on #2444
Happy that we are on the same page there! Do see any free time coming your way to attend to the discussed changes (automatic discovery and logging)?

[2017-10-21 08:19] martinvw commented on #2444
I merged this PR, but please continue the fine tuning and documentation of this process :-)

[2017-10-21 11:46] Stratehm commented on #1344
Hi @Sschhsd,

Could you test the last SNAPSHOT I have built 2 weeks ago? [Here](https://community.openhab.org/t/new-pioneeravr-version-for-testing/34861/1) is the details of the version.

Thank you for your help.

[2017-10-21 11:47] Stratehm commented on #1531
This issue is a duplicate of #1344. Should be closed.

[2017-10-22 11:00] JannikJung commented on #2204
@jwveldhuis Did you find time to continue working on the binding?

[2017-10-23 08:06] jwveldhuis commented on #2204
@JannikJung not yet, will try to find out how to publish the current version for testing.

[2017-10-23 17:59] idserda commented on #2204
I made a small change to the 1.x binding, it now sends commands over the telnet connection too. Before, it would always use the http interface to issue commands, but not all receivers supported this. You might want to use this in the 2.x binding too. PR is here: https://github.com/openhab/openhab1-addons/pull/5342

[2017-10-23 18:30] jwveldhuis commented on #2204
@idserda thanks, will also get rid of the Apache TelnetClient as you mentioned to be problematic.

[2017-10-23 18:46] isigmund opened #2798 "[HomeKit] Exception "Bad Client Credentials" when adding Openhab as a device in iOS Home app"
All of a sudden my items stopped being recognised in the iOS Home app. I did remove the entrie configuration from the Home app and added OpenHab again (I did a ClearPairings OSGi-Console before)
Home app does find openHab and asks for the pairing code. After entering the code it tries to identify items but it does not find any despite the fact that they are correctly tagged.

I did find the follow

[2017-10-23 19:41] afflux opened #2799 "[exec2] regression: binding not loading on 2.1 (NoClassDefFoundError for ExecHandlerFactory)"
## Expected Behavior
Openhab2 should load the binding and execute the commands to get the status for my defined items/things.

## Current Behavior
Please let me know if and how I can provide any additional logs from, e.g., the OSGi classloading. I could not figure out how to debug this properly.

[code]

## Steps to Reproduce (for bugs)
1. install openhab2.1 from http://dl.bintray.com/openhab/apt-

[2017-10-24 11:07] fechy commented on #788
@mebe1012 thanks, it works like a charm :)

[2017-10-24 12:22] lopez1de opened #2803 "Homematic: HM-Dis-EP-WM55 display problem UNREACH"
I can't  figure it out. After some submits to the HM-Dis-EP-WM55 the device gets unreach for a short time. It looks like it has a general problem when a button on the HM-Dis-EP-WM55 was pressed and a submit gets received to fast after this button press. But even if I don't press any button and send submits by rule, the device gets UNREACH after some submits.
UNREACH is set to false after a short t

[2017-10-24 15:10] mebe1012 commented on #788
@fechy happy to hear that :)

dont miss to get the latest version (and give feedback? ;-) ) here:
https://community.openhab.org/t/alpha-tado-binding/35454

[2017-10-24 15:18] jofleck commented on #788
Nice to hear that. I suggest that you can continue with the Thermostat and open a PR(?) (I think it's the more common device). After this I can add the AC feature. The API is except a few details the same. I think now I have more time to contribute :)

[2017-10-24 18:12] OLibutzki commented on #2444
@ThomDietrich I am still not sure how to solve the problem. In my opinion redirecting the request to another machine makes sense. Maybe someone could think about integrating this in myopenHAB... So you just need to tell your nameserver to use myopenhab instead of the Amazon server. An myopenhab does the magic to notify my openHAB instance.

[2017-10-25 16:09] RickyTR commented on #2410
Too bad I have a BSKYB DRX892i...

[2017-10-25 19:39] cniweb commented on #2410
@RickyTR Try this:
https://github.com/lgladdy/SkyRemote

[2017-10-26 12:36] OGR commented on #1704
Hi!
When I try this binding on my OH 2.2 snapshot it just throws this error:
“Unresolved requirement: Import-Package: com.google.gson.internal”

Should it work on OH2.2? I tried with this jar file: https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/org.openhab.binding.lametrictime/2.2.0-SNAPSHOT/org.openhab.binding.lametrictime-2.2.0-SNAPSHOT.jar

[2017-10-26 13:25] CreatingYourApp commented on #1020
I had the same issue and got it resolved by entering port numbers for callback (9200), XML-RPC (9201) and BIN-RPC (9202) port numbers.

Even though,

`netstat -lnp `

didn't show any other service listening to the default ports 9125 and 9126, it seems that the default ports are either not used correctly or not working for some other reason. However, entering port numbers in those empty fields did

[2017-10-26 16:08] pikkukoo opened #2809 "[Tellstick]: Telldus live gateway fails when no devices are found"
## Expected Behavior
When connecting Telldus live gateway, the binding should not fail even if no devices are found. When there are sensors but no devices, sensor values should be fetched.

## Current Behavior
When the configured Telldus live account has no devices and the bridge tries to connect, it fails with a null pointer exception:

`
2017-10-26 18:56:51.788 [ERROR] [andler.live.TelldusLiveBr

[2017-10-26 18:09] syphr42 commented on #1704
The binding should work on 2.2-SNAPSHOT. I'll look into the problem. It may
be that dependencies changed in the platform.

[2017-10-27 13:11] OGR commented on #1704
Thank you, I will wait for a new version then and stop hacking around and destroying my installation. ;)

[2017-10-27 13:23] kaikreuzer commented on #1704
This problem seems to be due to https://github.com/eclipse/smarthome/issues/4440.
To solve it, it might help if you add an upper version constraint of <2.4 to your `com.google.gson.internal` package import in the manifest.
The even cleaner way would be to not rely on packages that have "internal" in their name at all :-)

[2017-10-28 06:43] okkine commented on #1782
I seem to be having the same problem. New install. OH 2.1, openhabcloud-2.2.0.jar. The error seems to appear immediately upon reconnecting my Android to the home wifi network.

[2017-10-28 12:11] motorsense opened #2811 "[avmfritz] add support for Groups"
Hi, in the Fritzbox webinterface i can add thermostates to a group. Can you add support to change the temperature of the group?

[2017-10-29 09:16] cweitkamp commented on #2811
Hi motorsense,

yes, why not. I am goint to implement that feature for the binding.

@martinvw Please assign me to this.

[2017-10-29 09:54] Andirs55 opened #2812 "[systeminfo] cpu#load15 not formatted correctly"
cpu#load is automatically formatted to show up between 0-100 and automatically includes the % character on the sitemap. However cpu#load15 (maybe also cpu#load1, cpu#load5 as well) are formatted as 0.0-1.0 without the % character.

In my opinion that is not intended (since a percent value is more intuitive) and should be fixed.

Thanks

[2017-10-29 10:31] martinvw commented on #2812
Those are not percentages afaik

[2017-10-29 12:13] Andirs55 commented on #2812
Ok i see

[2017-10-29 12:13] #2812 closed

[2017-10-29 16:31] martinvw commented on #2812
It was not the same as the other post the load1, load5 and load15 are:

So not a percentage indeed

[2017-10-29 16:32] martinvw commented on #2811
done :-)

[2017-10-29 17:57] martinvw commented on #2799
Strange you are the only one with the problem, 2.1 is already out for some time :-)

Can you please test with the latest snapshot?

[2017-10-29 19:23] phil2fer opened #2813 "[Squeezebox] web radio doesn't update cover art"
hi all,

When i listen web radio the cover art image doesn't update.
I think is not a bug but an improvement

I will try to change code by myself but it will take some time..
The subscribe message need K tag

and we have to check message begining with : artwork_url%3A

best regards

## My Environment
OpenHAB2 (2.1) on RPi3

[2017-10-30 04:03] syphr42 commented on #1704
@OGR @kaikreuzer
The problem here is that the LaMetric Time API makes use of custom type adapters with Gson and to do that it uses the 'extras' code from the Gson repository (https://github.com/google/gson/tree/master/extras). This code references the 'internal' package of Gson.

To remove the dependency on the internal package, I had to copy some of the internal classes in the LaMetric Time API.

[2017-10-30 07:47] kaikreuzer commented on #1704
Then you should have best used my second suggestion: "it might help if you add an upper version constraint of <2.4 to your com.google.gson.internal package import in the manifest."

Copying the classes to the binding is definitely the worst option...

[2017-10-30 17:21] isigmund commented on #2798
Never mind - with the newest snapshot this problem seems to be gone.

[2017-10-30 17:21] #2798 closed

[2017-10-30 23:01] mrehker opened #2817 "[Homematic] HmIP Door Window Contact paired as String, not as Contact - corrected for HMIP-SWDO but not HMIP-SWDO-I"
This issue is related to #1564 where a virtual datapoint of type contact was added für HMIP-SWDO. Unfortunately, the StateContactVirtualDatapointHandler.java only recognises HMIP-SWDO and not the (newer) HMIP-SWDO-I, which currently only provides the status as a string. This again does not allow the contact to be used in openhab2, because updates are not recognised in the rules.

I would propose t

[2017-10-31 09:35] vbier commented on #2352
Due to the fact that the bindings cyclic reconnect has been replaced by proper connection tracking this is no longer a problem for me.

[2017-10-31 09:35] #2352 closed

[2017-11-01 08:55] 5iver opened #2819 "Add JDBC Persistence"
PLAYER items (and presumably IMAGE items) cannot be persisted with the 1.x version of the JDBC persistence service. For my specific purposes, I would like to be able to persist PLAYER items, but this enhancement would also be needed for JDBC to persist any new item types that are implemented in the future. I do not have the development skills or knowledge of OH and ESH to implement this enhancemen

[2017-11-01 10:08] phil2fer commented on #2813
Hi,

I try to export the modified binding into a jar file. Everything seems to be ok but when i put the file into the addons folder and install the binding, i have a message in the log

I don't know if it is important or not..

Before i make the PR, i'll really appreciate if someone could test this jar file

[org.openhab.binding.squeezebox.jar.pdf](https://github.com/openhab/openhab2-addons/files/

[2017-11-01 10:56] mhilbush commented on #2813
I installed it, and it discovered my server and players just fine.

I've not seen the above error before.  Are you sure you completely uninstalled the version that came with your distribution?

What do you see in the karaf console when you check what's installed?  For example
[code]

[2017-11-01 12:05] phil2fer commented on #2813
you are right the version that came with my distribution is not completely uninstalled

[code]
However the jar file working correctly for me too.

I have detect another case when the cover art is not correctly refresh, i'll try to fix it

[2017-11-01 20:22] afflux commented on #2799
On 2.2.0~20171030010135-1, I'm not getting any log output anymore. The commands are still not executed, so I'm assuming the issue persists.

I'd appreciate it if you could provide pointers on how to enable logging or how to debug classloading.

[2017-11-01 21:18] martinvw commented on #2799
I just copy pasted you thing and item and added it to the sitemap (and to be sure also restarted) it looks fine here :-)

[2017-11-01 21:19] martinvw commented on #2799
Maybe the karaf client gives answers:

try a `bundle:list` is the binding active?

[2017-11-01 22:27] lephisto commented on #2290
Any news on this? Keeping the car constantly wokeup kills the 12V Batt in a short period of time :(

[2017-11-02 12:47] afflux commented on #2799
The binding was active, and the component was SATISFIED.

Since debugging was impossible, I've uninstalled openhab2 and removed all configuration, reinstalled and it works now.

[2017-11-02 12:47] #2799 closed

[2017-11-02 15:19] #2302 closed

[2017-11-03 08:09] haukman opened #2823 "[Tradfri] Binding doens´t provide group events after Tradfri App/Gateway Update"
I´m using Tradfri Group events in my OpenHab-config to trigger some other devices in my livingroom. After the update from IKEA for the App/Gateway (which makes HomeKit/Alexa available) the events.log stopped receiving these events. I can still control all my tradfri devices from OpenHab, so this is not a generell connection issue.

Can someone confirm this behaviour?

## Expected Behavior
Pressing

[2017-11-03 08:10] kaikreuzer commented on #2823
Please note that Tradfri is maintained at ESH, so check https://github.com/eclipse/smarthome/issues?q=is%3Aissue+is%3Aopen+label%3ABinding-Tr%C3%A5dfri. Thanks!

[2017-11-03 08:10] #2823 closed

[2017-11-03 15:01] martinvw commented on #2441
@beowulfe is this something you can do or already have done?

[2017-11-03 15:07] martinvw commented on #2257
@knockreff if this issue is still relevant could you then ask it in the [zwave-issues](https://github.com/openhab/org.openhab.binding.zwave/issues)

Of course you are also welcome to suggest a documentation update if you already found how to do it.

[2017-11-03 15:07] #2257 closed

[2017-11-03 15:09] martinvw commented on #1995
@aounhaider1 any updates?

[2017-11-03 15:13] martinvw commented on #763
@renenulsch did you ever retest this? Does it work?

If you did not test can you please test it then, thanks!

[2017-11-03 15:17] aounhaider1 commented on #1995
@martinvw the problem is already fixed in ESH so it should work now. The issue can be closed.

[2017-11-03 15:17] martinvw commented on #344
@cweitkamp can you quickly see whether this problem is already solved?

[2017-11-03 15:18] martinvw commented on #598
If this problem is still around open a new issue or maybe even better ask around in the community forum

[2017-11-03 15:18] #598 closed

[2017-11-03 15:20] martinvw commented on #1021
Any updates on this?

[2017-11-03 15:29] #1995 closed

[2017-11-03 16:13] trailblazer2006 commented on #2441
Hi Martin. Problem still persists with latest version of the homekit addon.

[2017-11-03 17:30] renenulsch commented on #763
Hi Martin,

Thank you, I‘ve switched to an different home automation platform to implement my requirements and I can‘t retest this.

Sorry
BR
René

Am 03.11.2017 um 16:13 schrieb Martin van Wingerden <notifications@github.com<mailto:notifications@github.com>>:

@renenulsch<https://github.com/renenulsch> did you ever retest this? Does it work?

If you did not test can you please test it then, thank

[2017-11-03 17:45] #763 closed

[2017-11-03 17:46] martinvw commented on #763
Thanks for the message and sorry to see you go :-)

[2017-11-03 20:54] cweitkamp commented on #344
@martinvw I can quickly tell you that the avmfritz OH2 binding doesn't support these features, yet.

[2017-11-03 21:01] martinvw commented on #1974
@tmrobert8 any update about this? Is it done or not?

[2017-11-04 00:03] beowulfe commented on #2441
@trailblazer2006 - I’ve been looking for community feedback on a beta version I posted here https://github.com/openhab/openhab2-addons/issues/929

That just so happens to contain the latest version of the library. Can you try it out and see how it works for you?

[2017-11-04 12:37] juelicher commented on #929
@beowulfe
First of all thanks a lot for your effort with the homekit addon!

As I also had the issue, that the configuration was lost I wanted to try the snapshot within my openHAB 2.1 installation binding you posted in this thread. But this binding throws an exception:
`2017-11-04 13:21:39.363 [ERROR] [org.openhab.io.homekit              ] - [org.openhab.homekit(239)] The setItemRegistry method h

[2017-11-04 12:39] beowulfe commented on #929
Correct - you need the 2.2 version.

[2017-11-04 12:57] Depechie commented on #929
Just for reference ( I'm new to OpenHab ), I configured the home bridge addon but everything is mapped to the default room in HomeKit. So how should one config OpenHab to get room mapping in HomeKit ( taking into account this should working )?

[2017-11-04 14:11] edsonaj commented on #929
You have to map it manually in any homekit app.

---
Edson Alves Junior

Enviado por dispositivo móvel.

[2017-11-04 14:18] Depechie commented on #929
Ok feeling like a total noob, but if I add a room in Homekit there are no accessories listed. So how do I divide the accessories from the OpenHab? For example my Openhab has several lighting points but they are now all mapped to default room in homekit because in that room I connected the openhab through the pincode.

[2017-11-04 14:21] edsonaj commented on #929
You have to edit the device (one light per time) and change its room.

In Home app, click Edit in the upper tight corner and select a device. In the next screen there is a field named Room.

---
Edson Alves Junior

Enviado por dispositivo móvel.

[2017-11-04 14:27] Depechie commented on #929
thx

[2017-11-05 09:41] peter9310 opened #2826 "[homekit] No accessories found when using Synology NAS"
I installed openhab2 on my Synology. This is working. I Installed the homekit binding.
I also configured the [homekit binding] with the following:

Port: 9124
PIN: 062-25-954
Network: 192.168.178.25 (This is my IP adress for the Synology)

## Expected Behavior
I am using IOS 11. If i start Homekit on the Iphone i first have to input the PIN 062-25-954 but
Homekit searches and searches and there is

[2017-11-05 13:35] sagittarius0815 opened #2827 "[amazondashbutton] Problem with setcap to java"
## Current Behavior
if I set capabilities to use Pcap4J with java for non root user, my openhab2 service will not start.
Error message is
/usr/bin/java: error while loading shared libraries: libjli.so: cannot open shared object file: No such file or directory

If I only remove capabilites (setcap -r) openhab2 service is working.
Java is not running for non root user if capabilities are set. In thi

[2017-11-06 23:13] ogillin commented on #1253
@grouchal what did you mean by the non native iOS App "Home"?

[2017-11-06 23:17] ogillin commented on #2679
same issue here.
any update?

[2017-11-07 08:57] grouchal commented on #1253
There is an app in the App Store called ‘Home’

[2017-11-07 22:16] chiefymuc opened #2829 "[wifiled] Issues controlling LD686"
I bought this LD686 device:
https://de.aliexpress.com/item/16Million-colors-Wifi-5channels-RGBW-WW-CW-led-controller-smartphone-control-music-and-timer-mode-magic/32796615335.html

It was automatically detected (as LD382A). After setting up the items, control does not work correctly. ON/OFF works, also for the color item, but no color change or white dimming is possible.

Tried with LD382, LD382A

[2017-11-08 07:49] trailblazer2006 commented on #2441
@beowulfe Hi Andy. I tested the beta 1.1.4. The thermostat on Homekit works fine, the mode is switched, the target temperature is set. Just in case, tested the operation of the switch and the dimmer. Everything is OK.

[2017-11-08 13:29] staehler commented on #1855
I need following alarm items:
- switch all alarms on/off
- string alarm time(s)
With the alarm time, I can manage time based actions, like dim 5 minutes before alarm my bedroom lights
@mhilbush did you find time to dig into it?

[2017-11-09 03:13] BillBaird opened #2830 "[astro] Events stopped working coincides with Daylight Savings change"
astro sun set#event and sun rise#event stopped firing coinciding with the daylight savings time change.  The event log supports this and in addition, "java.lang.IllegalStateException: Queue full" exceptions were logged starting at midnight on the day that daylight savings began (UTC).  See below for details.

## Expected Behavior
astro events should be unaffected by daylight savings time changes.

[2017-11-09 05:13] martinvw commented on #2830
I fear that it might not be related to dst, see also https://github.com/openhab/openhab2-addons/issues/2668 and others. It's a bug in the 2.1 version of the Astro binding, you can upgrade to the snapshot version of the module or of openHAB or periodically restart your instance.

[2017-11-09 05:13] #2830 closed

[2017-11-10 21:55] #1531 closed

[2017-11-10 21:56] martinvw commented on #1531
@Stratehm thanks for mentioning

[2017-11-11 10:45] michaelHH1 opened #2835 "[zoneminder] Logs COMMUNICATION_ERROR even if Operating mode is NONE"
By intention the Operating mode of a monitor is set to NONE, which will regularly stop the Capture Daemon, the ZoneMinder Binding reports in the openhab.log:
Thing status changed from 'OFFLINE' to 'OFFLINE' (DetailedStatus='COMMUNICATION_ERROR', Description='Capture Daemon is not running')
[ERROR] [andler.ZoneMinderThingMonitorHandler] - [MONITOR-4]: Capture Daemon is not running

should be avoide

[2017-11-11 14:40] JoeRu commented on #1295
Hi all, i know it's closed; But i receive this log from the actual Snapshot-Branch:
--
 [ERROR] [.netatmo.handler.NetatmoBridgeHandler] - An error occurred while calling station API : 400 Bad Request
--
I checked with 2.1 addon - in 2.2 snapshot-release - but the errors stays.

[2017-11-11 14:43] Trinsic82 commented on #1255
Hi, can anyone send me the latest Homekit add-on as an jar File? Sorry I'm not able to create the Jar file from the GIThub with Eclipse.
Thanks for your support

[2017-11-11 15:53] weakfl commented on #1255
@Trinsic82 [here](https://github.com/beowulfe/openhab2/releases/tag/homekit-new-accessories-1) you go.

[2017-11-12 16:21] sagittarius0815 commented on #2827
Found a possible solution at [stackexchange](https://unix.stackexchange.com/questions/87978/how-to-get-oracle-java-7-to-work-with-setcap-cap-net-bind-serviceep)

1. find path to libjli.so
[code]
2. add path to java.conf
[code]
3. build runtime cache
[code]
Now openhab2 starts with capabilities set and Amazon Dash Button are recognized.
May be it's helpfull to add this steps to installation instruc

[2017-11-13 12:31] ramillaw2 commented on #2537
I am setting up open HAB and I have Lutron RA system with some of the older Graphik Eyes.

I wanted to know if this Binding has been included in the one that is available in the open HAB set-up?

If not - how can I get this binding for my set-up?

[2017-11-13 15:15] jjlauterbach commented on #2537
@ramillaw2  The code to use RadioRA Classic hasn't been integrated with the openhab lutron binding yet.

I've been meaning to finish up the code cleanup and documentation so I can create a pull request to share this with others.

Hopefully within the next couple of weeks I will find the time to do that.

[2017-11-14 13:55] negmos opened #2842 "[systeminfo] CPU Temperature is causing Error in Windows"
When using the CPU temperature channel on Windows installation of OH2, i keep getting this error in the log:

`2017-11-14 14:48:24.641 [ERROR] [oshi.util.platform.windows.WmiUtil  ] - Could not connect to namespace root\OpenHardwareMonitor. Error code = 0x8004100e`

Although the error exists, the temperature is still reported and updated.
I guess the binding is choosing another namespace to check

[2017-11-14 13:59] negmos commented on #2842
Sorry, i forgot to add more details :)

I'm using the below system info:
- OS: Windows 10 (with latest updates)
- CPU: intel core i3 Skylake
- OH2: openHAB 2.2.0 Build #1056
Item configuration:

[2017-11-14 15:10] MrBalonio commented on #1255
Does this include Garage support, I would really like to see this working. Controlling garage with siri would be awesome.

[2017-11-14 21:05] chibbert opened #2845 "[Nest] Binding - Continuous "Check: Disconnected from streaming events" after network disconnection"
Hi, firstly apologies if I've filled anything in this bug report out incorrectly, this is my first go at debugging and openhab issue.

I've been using the new nest binding from the 2.2.0-SNAPSHOT.

Randomly, it seems that the binding can get into a state where the no updates are being received by the streaming rest client, and my openhab logs fills up with:

2017-11-14 11:39:01.904 [DEBUG] [nterna

[2017-11-14 21:25] mattiasmalm commented on #2782
Excellent description of the problem. I experience the same problem with my openHAB connected Z-wave dimmer when i control it via HomeKit from an iOS 11 device.

Turning the dimmer ON using the ON/OFF toggle in HomeKit sends the "ON" command _and_ a "100" command. In my case that results in a 100% brightness level regardless of the dimmer state when turned off. This is not ideal.

Changing the dim

[2017-11-14 21:47] martinvw commented on #2845
@wborn can you assist here?

[2017-11-14 22:13] chibbert commented on #2845
@wborn I've had a quick go at a fix. I'd appreciate any feedback.
-Fix appears to work for me (rebooting router, and connection is re-established to streamingRestClient)
-I know I need to remove logging, in there for testing at the moment
-I need to check out if I need to change any unit tests too
https://github.com/chibbert/openhab2-addons/tree/2845_nest_binding_reconnect_fix

[2017-11-15 12:06] wborn commented on #2845
The Jersey EventSource should automatically reconnect on any disconnects (see [documentation](https://jersey.github.io/apidocs/2.22.2/jersey/org/glassfish/jersey/media/sse/EventSource.html)). When it reconnects Nest will again send a `PUT` event with the top level data (see [streaming guide examples](https://developers.nest.com/documentation/cloud/rest-streaming-guide)).

So when there are no prog

[2017-11-16 13:31] mastix opened #2849 "[Homematic] java.lang.OutOfMemoryError: unable to create new native thread"
Hi guys,

## My setup

- OpenHAB 2.2 latest snapshot
- OpenJDK Runtime Environment (Zulu 8.25.0.1-linux64) (build 1.8.0_152-b16)
- Ubuntu 17.10 (x64) minimal - 768 MB RAM (only OpenHAB (incl. deps) installed)
  - no special JRE heap settings (default values)

## Expected Behavior

- OpenHab rule updates values from CCU2 on a regular basis (via cron job).
- When current power is >70mA it will set a

[2017-11-16 18:25] Josar opened #2850 "Openhab does not update on Firefox and Chrome."
Setup:
Openhab 2
RPI3 as acces point, to rule out network problems.
Connected with an win10 PC by wifi.

When i toggle a switch connected to the gpio of the rpi the connected light switches on.
When i have the sitmap opened in MS Edge the item states update.

But when i use Firefox or Chrome the update fails.

I used firefox which did not update, but wireshark showed some incomming traffic.
First

[2017-11-16 18:34] #2850 closed

[2017-11-17 01:04] mjagdis commented on #2849
Run "systemctl show openhab2.service" and look for a TasksMax setting. If it is anything other than "infinity" try "systemctl --runtime set-property openhab2.service TasksMax=infinity". If that's the problem you either need to add the TasksMax setting to the openhab2.service file or run the set-property thing again without the --runtime so it will persist across reboots.

A while back the systemd

[2017-11-17 07:43] Silencer80 commented on #2468
Hey @All,

the manufacturer has informed me that this solution is bothering its systems. Above all, the polling function mentioned here by others causes considerable problems and costs.

So please do not use that anymore and refrain from polling.

Thank you!
-Boris

[2017-11-17 07:43] #2468 closed

[2017-11-17 08:52] mastix commented on #2849
Hey @mjagdis ,

thanks for the hint!

I'll give it a shot and will update this issue as soon as I can confirm this settings fixed things!

Greetz,

Sascha

[2017-11-17 09:49] kubawolanin opened #2851 "[MiHome] Add features introduced in API version 1.0.9"
Official documentation of [Lumi AIOT](http://help.opencloud.aqara.cn:4000/aiot-gateway-local-api) used for MiHome binding introduced a few interesting features:

v1.0.8 | 2017-06-279 | brudy.wong@forxmail.com | New: Support Aqara wireless switch, Aqara door sensor, Aqara body illumination sensor, Aqara temperature and humidity pressure sensor, flooding sensor and other new products
-- | -- | -- |

[2017-11-18 09:11] dkuschmierz commented on #2782
Exact the same problem I have! I use the dimmer object to control the volume of my Sonos and it's very annoying, because the volume will raise up to 100% if i use the slider!

[2017-11-18 18:50] Newtt opened #2853 "Inbox polluted with false modules (ZWave Binding)"
When I hit search module in openhab2, there is something like 6-7 node that comes up. This is weird because the battery is not even in into the switch...

When I try to pair my Duwi wall switch (Z-Wave module), but there is something like 5-6 node that appear, Z-Wave Node 10, Z-Wave Node 9, Z-Wave Node 8, Z-Wave Node 7, etc... and when I try to add them, I keep getting errors (no communication err

[2017-11-18 19:18] bigbasec opened #2854 "[harmonyhub] Binding no longer works"
This started as a random issue where I would need to restart OH several times for things to start working again.  Now it seems that doing anything w/ the Harmony fails.

Logs report :
14:15:00.859 [WARN ] [internal.profiles.ProfileCallbackImpl] - Cannot delegate command 'PowerToggle' for item 'TechnicsAVReceiver_SendButtonPress' to handler for channel 'harmonyhub:device:Backroom:35553137:buttonPre

[2017-11-18 21:29] grouchal commented on #1255
Looking through the other mentioned issues here and following them into the final Eclipse Smartphone issue and pull requests. I can see the that new semantics approach will not be included in ESH until at least 0.9.0 is shipped.

Judging by the progress of 0.9.0 it would seem that this means the new approach to semantics tagging won’t be available until at least mid 2018.

I would like to propose

[2017-11-19 08:21] sihui62 commented on #2854
Same here, related community forum thread:

https://community.openhab.org/t/harmonyhub-buttonpress-not-working/36248

[2017-11-19 09:40] rngtng commented on #2826
same behaviour here. Is your synology connected via WIFI or Ethernet?

[2017-11-19 11:39] mastix commented on #2849
Problem still occurs: :(

Value is set:

[code]

Any more ideas? Is my rule OK? It looks like it's happing around 18-20 minutes after the washing machine has stopped.

[2017-11-19 17:12] KidSquid1 opened #2858 "[HUE EMULATION] Alexa - Item is not responding"
Since moving to 2.2 Build 1072 I have been experiencing issues with the HUE Emulation Service and Alexa. Items that have been rock solid now respond with "Ceiling Fan isn't responding" this seems to be somewhat intermittent as trying the same request an hour later might work.  I just updated to the the latest snapshot build of 1084 and am still experiencing the same issues, yet I have not yet had

[2017-11-19 17:19] peter9310 commented on #2826
I have plugged it on the ethernet.

My main topic is that i have not a exact configuration knowledge for this. I installed all on the synology openhub2 and the binding homekit but the phone under ios11 does not fing anything.

[2017-11-19 22:26] jwveldhuis commented on #2204
#2859
Just submitted initial PR for the new binding, hope it will generate the required jar files to enable testing by others (because it's not perfect yet).
Discovery, Telnet and HTTP control should work, as well as sending a custom command through the 'command' Channel.

[2017-11-20 13:34] vdanjean commented on #680
Hi,
Are there any news or a git with preliminary code somewhere (so that we can participate)?

[2017-11-20 14:54] jwveldhuis commented on #2204
jar file of DenonMarantz 2.0 binding (BETA, work in progress!)
https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/org.openhab.binding.denonmarantz/2.2.0-SNAPSHOT/org.openhab.binding.denonmarantz-2.2.0-SNAPSHOT.jar

You all are very welcome to test this binding and let me know any issues or suggestions.

[2017-11-20 18:40] kubawolanin commented on #2853
Hey @Newtt,
I'd advise you to close this issue and open it in https://github.com/openhab/org.openhab.binding.zwave

Cheers!

[2017-11-21 07:15] #2853 closed

[2017-11-21 14:44] bigbasec commented on #2854
Just installed a fresh 2.1 on a vm and confirmed that it works fine there.  So it appears as though something along the way broke this.  Doesn't seem to be getting much attention so I'll likely roll back my whole installation until I can find a point that it works again.

[2017-11-21 17:46] roswennen commented on #929
I’m still on 2.1. When 2.2 becomes the stable version will the HomeKit binding automatically update or would it require a manual install of the jar ?

[2017-11-21 19:22] stotz89 commented on #2204
@jwveldhuis
Thanks a lot for your effort.

I just had a quick look at it. I downloaded it and added it to my add-on-folder. Discovery of my Marantz NR1604 worked perfectly. Both zones were recognized. (Btw my openHAB runs on openHAB 2.1.0 - release build - )
I also linked all channels to an item. Worked also fine. I only tested some commands like switching on/off, volume +/-, mute on/off, mainzone

[2017-11-21 21:59] njogu01 commented on #1655
the same problem ...

[2017-11-22 03:16] bigbasec commented on #2854
Updated to 1088, and the binding did work for about 2 hours, now things are back to :
`22:06:32.872 [WARN ] [internal.profiles.ProfileCallbackImpl] - Cannot delegate command 'PowerToggle' for item 'TechnicsAVReceiver_SendButtonPress' to handler for channel 'harmonyhub:device:Backroom:35553137:buttonPress', because no handler is assigned. Maybe the binding is not installed or not propertly initiali

[2017-11-22 03:19] bigbasec commented on #2854
@digitaldan Any ideas?

[2017-11-22 10:57] b8rother commented on #2204
@jwveldhuis
Great work on the binding.

I have installed the binding on openHAB 2.2.0 and I'm using Denon AVR-X2200W. All the configuration that I'm doing is via PaperUI.
Discovery of the Thing works great. Linking of the Channels for Main Zone and Zone2 (AVR-X2200W has got only 2 zones) are working as expected and Controls are working fine. I have tested all switches (Power, Main Volume, Input so

[2017-11-22 18:20] Xento commented on #2854
I have the same issues after updating my snapshot.

When I try to reinit the binding I get this
`19:18:35.750 [WARN ] [home.core.thing.internal.ThingManager] - Initializing handler for thing 'harmonyhub:hub:Wohnzimmer' takes more than 5000ms.
19:18:38.110 [WARN ] [home.core.thing.internal.ThingManager] - Initializing handler for thing 'harmonyhub:device:Wohnzimmer:38150328' takes more than 5000ms.

[2017-11-22 18:52] MichaelFink opened #2863 "[rrd4j] RRD4J isn't storing any values"
## Expected Behavior
RRD4J is capable of storing numeric values.

## Current Behavior
I'm using the latest version from the APT repositories. Unfortunately it seems like RRD4J doesn't store any values. Even the .rrd files aren't generated.
I've put together a minimal test setup: [openhab-minimal.tar.gz](https://github.com/openhab/openhab2-addons/files/1497187/openhab-minimal.tar.gz)
It contains on

[2017-11-22 19:03] McLive commented on #2333
Finally I found some time to test this with the newest snapshot build.
But somehow with version 2.2.0, my homematic things stopped working and all are "UNINITIALIZED".

![image](https://user-images.githubusercontent.com/5620071/33144948-0f065ce8-cfbf-11e7-9209-e3d484f9fe6c.png)

Any idea why this happens? 2.1.0 was working...

Startup log:
`2017-11-22 20:01:05.406 [INFO ] [el.core.internal.ModelRe

[2017-11-22 20:50] WiredLife opened #2864 "[Hue Emulation] IMPORTANT dont work with nginx proxy (auth)"
Hi all!
I've installed a nginx proxy with this help
http://docs.openhab.org/installation/security.html#nginx-auth
to secure openhab, but after that my Alexa dont find any devices...
After a look @ http://ip/api/discovery.xml i see the URLBase is still @ port 8080 so alexa cant find anything.
Is there a way to change this to my needs?
Thanks!

[2017-11-22 22:44] martinvw commented on #2863
I spotted an mismatch between the item in the persistence config and items file so maybe there is no issue, [see also my reply at the community forum](https://community.openhab.org/t/rrd4j-doesnt-store-any-data/35265/22)

[2017-11-22 23:20] #2863 closed

[2017-11-23 04:20] ymymym opened #2865 "mvn clean install does not work anymore"
Did anyone experience this error after trying to compile a specific binding? mvn clean install command works fine last week.

[ERROR] Cannot resolve project dependencies:
[ERROR]   Software being installed: org.openhab.binding.mihome 2.2.0.qualifier
[ERROR]   Missing requirement: org.eclipse.osgi.services 3.6.0.v20170228-1906 requires 'package org.osgi.util.function [1.0.0,2.0.0)' but it could not

[2017-11-23 04:41] ymymym commented on #2865
Managed to resolve by adding org.osgi.util.function in manifest file

[2017-11-23 04:41] #2865 closed

[2017-11-23 08:30] kaikreuzer commented on #2865
There should be no need to add it to your manifest (as your bundle does not depend on it itself). I'll look at what's wrong there.

[2017-11-23 08:53] d3rh3ld opened #2866 "[yamahareceiver] Cannot delegate command/update"
After switching from OH stable 2.1.0 to the latest snapshot version (#1084) i had to change the items for the yamahareceiver. Now i am getting errors, when i try to send a command to my Yamaha RX-V775 receiver:
`20:23:29.564 [WARN ] [internal.profiles.ProfileCallbackImpl] - Cannot delegate command 'ON' for item 'Yamaha_Mute' to handler for channel 'yamahareceiver:zone:5f9ec1b3_ed59_1900_4530_00a0d

[2017-11-23 10:55] Ladekarl opened #2867 "Cannot resolve project dependencies"
It seems that something is wrong with the dependency org.osgi.util.function in org.eclipse.osgi.services

We tried building on several machines and the build fails with the same error on all.
Build worked fine a few days ago.
Now when trying to build the repo I get the following error:

[code]

[2017-11-23 10:58] kaikreuzer commented on #2867
I'm on it, see https://github.com/openhab/openhab2-addons/pull/2357#issuecomment-346555045

[2017-11-23 11:18] Xento commented on #2854
After
`apt-get install openhab2=2.2.0~20171109102930-1 openhab2-addons=2.2.0~20171109102930-1`
everything is working again.

[2017-11-23 13:09] kaikreuzer commented on #2867
There are still some issues with the full build:

[code]
Still looking into it.

[2017-11-23 15:04] #2354 closed

[2017-11-23 15:20] kaikreuzer commented on #2865
I have fixed the target platform - you should be able to remove the import from your manifest again!

[2017-11-23 20:59] HentschelT opened #2874 "[homekit] Thermostat mode logging fix"
Currently, the homekit addon shows hardcoded expected strings in the log entry if a mode request isn't parseable. This disagrees with what the 'mode' parser is actually looking for, which is somewhat confusing when debugging adapting a new thermostat.

The attached patch/diff fixes that (it's pretty much a one-liner)

OpenHAB 2.2- , build 1087 on openhabian

Cheers,
-Th

https://gist.github.com/He

[2017-11-23 22:49] wborn commented on #2854
After some debugging I think it is caused by an issue in the new profiles code. So I've entered  https://github.com/eclipse/smarthome/issues/4622 for this.

[2017-11-24 00:01] pabloNZ commented on #2204
Works very well with my Denon X3200W with auto detection through PaperUI. Do you have any notes on how to set up a .things file appropriately? Thanks for all the hard work!

[2017-11-24 03:25] bigbasec commented on #2854
Seems as though you found where the problem is, great first step on getting it fixed.  Currently bouncing all my harmony stuff through an old Vera, sort of annoying.

[2017-11-24 10:04] wborn commented on #2866
The root cause of this issue could also be https://github.com/eclipse/smarthome/issues/4622.

[2017-11-24 11:13] d3rh3ld commented on #2866
Seems like this...
Can you tell me how long it takes until the Commit 3dce300 is available in the snapshots?

[2017-11-24 11:14] kaikreuzer commented on #2866
Will do a new ESH stable release tonight.

[2017-11-24 14:12] FredericMa commented on #1783
Hi,

It looks like this is working fine now if switching between play and pause for example but if I STOP playing the state remains "PLAY".
Is it possible that the player doesn't support the stop command yet? Or doesn't process it?

Greetings,
Frederic

[2017-11-24 15:52] njogu01 commented on #1499
No news? I have the same problem ...

[2017-11-24 16:22] jwveldhuis commented on #2204
@pabloNZ what do you mean with a .things file? Do you mean a .items file?
I don't use Paper UI to link items to think, I exclusively use text based files (as I was used to with OpenHAB 1.x and had bad experience with having a mixed approach)

This is my current list of items (you can copy the channels in Paper UI -> Things -> "Your Receiver").
Note some Channels are only shown when clicking **Show

[2017-11-24 16:46] clinique commented on #1499
@njogu01 : I'm finalizing the complete review of the binding (PR in code review). Hopefully, you'll not face this anymore - or at least we'll all be on the same codebase.

[2017-11-24 16:53] ghost opened #2881 "[Hue Emulation] New Echo 2nd generation does not find any devices"
After installing Hue Emulation on OpenHAB 2.1 and latest 2.2 snapshot, Alexa does not recognize any tagged device.

It might be related to new devices. There is a discussion here: https://community.openhab.org/t/alexa-and-hue-emulation-no-devices-discovered/36554

## Expected Behavior
Alexa should list devices

## Current Behavior
Alexa returns to the "search devices" screen in the Android app.

#

[2017-11-24 17:06] lsiepel commented on #2864
You can change the port with the discoveryHttpPort setting that is available in PaperUI -> Configuration -> Services -> Hue emulator -> expert mode.

[2017-11-24 17:34] martinvw commented on #2867
I believe this is now completely solved

[2017-11-24 17:34] #2867 closed

[2017-11-24 17:37] martinvw commented on #2827
@ThomDietrich what would be the most appropriate place for this? @sagittarius0815 could you (with some guidance of Thomas) create a PR to document this at the proper place?

[2017-11-24 22:37] WiredLife commented on #2864
Nope doesnt work for me :(
Maybe because i tried some parameters which i cant remove now...
Is there any way to remove saved parameters?

By the way, i found a better solution to allow Amazon Echo access without authentication
iptables -A INPUT -p tcp --dport 8080 -m mac ! --mac-source 00:01:02:03:04:05 -j DROP
Replace 00:01:02:03:04:05 with the mac of Amazon Echo, now it can reach anything withou

[2017-11-24 23:25] kaikreuzer commented on #2866
Done - latest distro 1096 should have this fixed.

[2017-11-24 23:25] #2866 closed

[2017-11-25 00:59] pabloNZ commented on #2204
@jwveldhuis With some of my other OH2 bindings you can set up .things files for them so that you don't have to use PaperUI to discover anything.

Your example items are helpful though, thanks for sharing.

[2017-11-25 06:07] holmes commented on #1783
@FredericMa I thought I implemented STOP correctly: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.chromecast/src/main/java/org/openhab/binding/chromecast/internal/ChromecastCommander.java#L141

Oddly enough, STOP isn't available in the Player command class. So to send stop you've got to send a STOPMOVE type command, which oddly enough is in the Rollershu

[2017-11-25 08:13] wborn commented on #2854
The fix that was made should be available in build #1096. Did anyone try it yet?

[2017-11-25 08:57] michaeljoos72 commented on #2854
I recommend to wait here because of that:

https://community.openhab.org/t/oh2-startup-error-in-latest-build/9082/3?u=michaeljoos

[2017-11-25 10:01] FredericMa commented on #1783
Hi @holmes ,

The funny thing is that sending a stop command to the player item does work.
I have this line in my rule and the chromecast does stop playing when the rule is triggered:
`sendCommand(ChromecasaM, STOP)`
The thing is that the item state remains PLAY instead of switching to STOP.
Probably the issue is the fact that the stop command is not implemented in the player item?
But then it is

[2017-11-25 11:00] martinvw commented on #2854
Thanks for warning, I believe that the build is currently broken, keep an eye out of the forum for updates.

[2017-11-25 12:47] martinvw commented on #2854
I see reports of users where things are working again after updating to version 1098 https://community.openhab.org/t/oh2-startup-error-in-latest-build/9082/18

Bt if you are coming from a stable release it might wise to install the 1098 as vm or on an other machine to first test :-)

[2017-11-25 16:46] StrikerTwo opened #2885 "[Tradfri] Things going offline are not detected"
I have several Tradfri bulbs connected to a Tradfri gateway and OpenHAB. Problem is that if they are switched off with the wall switch, OpenHAB still thinks they are switched on.
The Tradfri app shows them as offline pretty much instantly, so obviously the gateway knows about it.

## Expected Behavior
Offline things should fire offline triggers. I don't expect real time updates, somewhere around 1

[2017-11-26 10:31] MHerbst commented on #2333
There are some problems in the openHAB snapshots builds #1083 and higher. So maybe your problems are also caused by these problems. You could try the latest build #1098 (or higher).

[2017-11-26 11:16] vbier commented on #2881
I have the same problem. I have a Echo Dot (1st gen), which works without problems, can discover and control my things. My new Echo (2nd gen), does not find any device and can only control the existing devices as long as the Dot is connected.

[2017-11-26 13:06] DanNielsen opened #2888 "[onkyo] Add support for TX-NR676E"
Please Update Onkyo binding with Onkyo TX-NR676E
Almost the same as TX-NR646 but with built in Mirrocast.

[2017-11-26 13:09] ThomDietrich commented on #2827
Hello @sagittarius0815,
never ran into that issue. Could you please retry with the latest openHAB snapshot? There were some changes in that area recently...

[2017-11-26 18:12] kaikreuzer commented on #2885
Please note that the Tradfri binding is maintained at https://github.com/eclipse/smarthome and that a lot of fixes have been done since the version that is included in openHAB 2.1.

Please test on a recent 2.2 snapshot and if you still encounter issues there, report them at https://github.com/eclipse/smarthome/issues. Thanks!

[2017-11-26 18:12] #2885 closed

[2017-11-26 20:26] bigbasec commented on #2854
So I decided after seeing people without issues of updating, which brought me to 1099.  Now nothing, and I mean nothing works.  Zwave has activity, but I have no way of controlling it.  HarmonyHub doesn't work either.  Cleared tmp and cache made no difference.

[2017-11-26 20:42] martinvw commented on #2854
tmp and cache is not enough, the underlying karaf was upgraded so a lot more is needed. How did you do the upgrade, using the update script? Because that should handle the details. On what environment are you running, maybe it's wise to open a separate thread with this information at the forum and link from here to there.

[2017-11-26 21:01] bushvin commented on #2717
I seem to have the same issue. Which is the right SNAPSHOT to use?

[2017-11-26 21:01] bigbasec commented on #2854
apt-get, as I normally do.  Ubuntu 16.04

[2017-11-26 22:03] digitaldan commented on #2854
Hi, sorry for being late here.  I'm actually between houses and all my harmony hubs are in temporary storage so its going to be hard for me to test for the next 5 weeks until we move in!

[2017-11-27 00:03] augustf commented on #2464
Closed for lack of feasibility and interest (https://community.openhab.org/t/oh2-insteon-plm-bounty-posted/31687/4)

[2017-11-27 00:03] #2464 closed

[2017-11-27 04:38] michaeljoos72 commented on #2854
@bigbasec did you see already this discussion? it sounds to me that you have the same issue:

https://community.openhab.org/t/oh2-startup-error-in-latest-build/9082/28?u=michaeljoos

[2017-11-27 08:08] #2305 closed

[2017-11-27 08:23] semaf opened #2890 "[homekit] Automation limited over the HomeKit App"
I just recognized that I have only 1 option of automation over the Homekit App. I have an Apple TV 4 too at home. Is the HomeKit Binding or the Apple TV 4 the reason?

![img_0758](https://user-images.githubusercontent.com/8831145/33256924-7eac797c-d354-11e7-874a-9546ed5086a8.jpg)

[2017-11-27 12:17] Josar opened #2891 "Exec Binding Number output channel"
using openhab 2 and the exec Binding i tried to follow the Documentation and used this as an example:
`Number APCExitValue {channel="exec:command:apc:exit"}`

but could not get it to run. Does this really work?

The output channel is defined as string so is it possible to assigne it to a number item and the conversion is done automatically?

[A Discussion ](https://community.openhab.org/t/items-wi

[2017-11-27 14:54] martinvw commented on #1952
@Ronson1909 can we close this one now?

[2017-11-27 14:55] martinvw commented on #1990
@Ronson1909 can this also be closed?

[2017-11-27 18:21] holmes commented on #1783
@FredericMa I think I see the bug. When we get a STOP command from OpenHab we tell Chromecast to stop playing. We then update the mediaStatus w/ null. This in turn does this:

[code]

If it didn't early return, the rest of that method updates control state. Need to find the happy medium between updating media state w/ null and sending in a no-longer playing state to the control channel.

Quick que

[2017-11-27 18:22] udo1toni commented on #2891
There is an open issue: https://github.com/openhab/openhab2-addons/issues/2149

[2017-11-27 18:36] jongj opened #2892 "[Nest] java.lang.NumberFormatException: For input string: "<10""
I recently add a nest thermostat to openHAB, and found the following exception in my openhab.log.

The [api doc](https://developers.nest.com/documentation/cloud/api-thermostat#time_to_target) gives these example values  "~0", "<5", "~15", "~90", "120".

`java.lang.NumberFormatException: For input string: "<10"
        at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)

[2017-11-27 19:27] McLive commented on #2333
Just wondering where I can find older snapshot builds. Jenkins doesn't have some for #1082 for example.

[2017-11-27 20:10] Ronson1909 commented on #1990
Hi @martinvw , no that's an additional enhancement since the Aldi device has the capability to control slave device(s) via RF 433 MHz. It's already working for me, I "only" have to rebase it and push it for a review. Hopefully soon, so please leave it open.

[2017-11-27 20:14] Ronson1909 commented on #1952
Yes, we can close it.

[2017-11-27 20:14] #1952 closed

[2017-11-27 20:58] Olivierr92500 commented on #1255
Hi everyone,
I fully support Grouchal's pragmatic idea to start with the method from @beowulfe and see later if a better method can be found. The topic is more than one year old so if there is a way to improve the software quicly that would help a lot of users.
I am no longer a developper but I can help in testing beta release of the library and provide feedback.

[2017-11-27 22:37] PeterPeterPeterPeterP commented on #788
I get only a humidity of e.g. 0.65600000 and not 65,6 (%)
Is it possible to change? With [%s %%] in sitemaps, I do not know any solution to make the 65,6% visible.

[2017-11-28 07:29] mebe1012 commented on #788
@PeterPeterPeterPeterP thats the value tado itself is delivering. I think its wrong to manipulate the values directly in the binding, because if e.g. tado changes the value format in the future, the binding will be broken.

At least I dont think its best practice?

I also manipulate the value afterwards for displaying it, but Im only using habpanel.

For sitemaps you can do transformation on the i

[2017-11-28 12:50] FredericMa commented on #1783
Hi @holmes,

I checked your question and if I send a STOP command from a rule, the player item remains in the PLAY state. It never goes to STOP, not even after the next refreshes.
In my rule I now put the state to NULL in order for my logic to work correctly:
`postUpdate(ChromecasaM, NULL)`

[2017-11-28 18:14] zmeglic commented on #1499
For no reason at all, my outdoor module also stopped working

==> /var/log/openhab2/openhab.log <==
2017-11-28 19:03:30.048 [ERROR] [netatmo.handler.NetatmoDeviceHandler] - Exception when trying to update channels: null
2017-11-28 19:03:30.051 [ERROR] [netatmo.handler.NetatmoDeviceHandler] - Exception when trying to update channels: null
2017-11-28 19:03:30.510 [ERROR] [netatmo.handler.NetatmoDevi

[2017-11-28 20:43] #2892 closed

[2017-11-28 21:15] steveknoefler opened #2897 "Zway Connector - Devolo Door/Window - Door/Window no state Update"
Hello
I connect some devices between Openhab 2.1.0 and zway 2.3.6 which Works fine.
But my Devolo Door/Window Sensors sends no update to Openhab. in zway I see state changes.
Temperature, Lumination are also okay but no window state :/

So its not useful for me.
Does anyone have a idea?

Thanks
Steve

[2017-11-29 09:19] jwveldhuis commented on #2204
@pabloNZ ahh ok, didn't know about the `.things` files. Hence I did not do any testing with that. Maybe will do and then add it to the documentation.
So far only got positive feedback and the binding in my own 'production' OpenHAB is also working like expected.

Next step is to further work on the pull request to get it approved and merged into OpenHAB 2.2.

[2017-11-30 06:06] #2897 closed

[2017-11-30 22:14] majherek commented on #1559
Hi,
after moving vallox binding to openhab2-addons I can't use it.
I clone SuperOok openhab2-addons branch:

[code]

After adding things:
[code]
I get errors:

[code]

Is there any posobility to do something with it?

I have old compiled jar and it is working.
[code]

[2017-12-01 03:54] EnriqueParra33 opened #2900 "How to pull this binding org.openhab.binding.exec from console raspberry pi"
I dont't know how to pull the binding named org.openhab.binding.exec on my raspberry pi, can someone help me?

[2017-12-01 09:46] #2573 closed

[2017-12-01 13:41] kevinshane opened #2901 "[airquality] NPE while refreshing data"
## Current Behavior
AirQuality binding changed status twice at startup

## Environment
hostOS: lubuntu 16.04 desktop with docker installed
openhab docker version: 2.1.0-amd64-debian

Hi, I am using docker openhab 2.1.0 stable version with airquality binding installed, howerver I have some strange errors: when restarting the OS, the airquality binding go online at startup and I get all the weather

[2017-12-01 16:38] gowi opened #2902 "[avmfritz] java.lang.NullPointerException: null at org.openhab.binding.avmfritz.handler.BoxHandler.updateThingFromDevice"
Hi,
I'm using the avmfritz addon with openHAB 2.2.0 Build #1099, Fritz Box 7490 (firmware 6.60),  FRITZ!Powerline 546E and FRITZ!DECT 200. I've added the things via Paper UI. In the log, I get the following error:

Any ideas?

[2017-12-01 17:35] rngtng commented on #2826
hm ok same here... sorry can't help..

[2017-12-01 21:08] McLive opened #2903 "[HomeMatic] Snapshot version binding not loading"
I need to use a snapshot version of the homematic binding to fix issue #2333, but when I try to install it, the binding doesn't even start.
I tried version 2.2.0 and my homematic things stopped working and all are "UNINITIALIZED".

![image](https://user-images.githubusercontent.com/5620071/33144948-0f065ce8-cfbf-11e7-9209-e3d484f9fe6c.png)

Startup log:
[code]

It looks like the binding doesn't ev

[2017-12-02 19:21] rblackmoor commented on #2482
I'm having the same issues. I have three receivers TX-NR515, TX-NR525 and TX-NR656, only the latter is not affected, the other two become unresponsive to the network after a short time.

The problem happens very rarely on OpenHab 2.0 (maybe once in several weeks) but is very severe on OpenHab 2.1 (Rairly recent snapshot) with the older two receivers getting locked up within hours. I had recently u

[2017-12-02 20:51] CWempe commented on #2482
That's interesting!

btw: This is an extract of my openhab.log.

[code]

* I cannot see any pattern
* it happens almost every day (38 times in 22 days)
* The error can accour multiple times per day.
* It only happened one time while I was on away from 23-26 Nov.
* it can occur twice within an hour
* it does not matter if I play something via HDMI with or without Video or even use NET/USB (web radi

[2017-12-02 21:17] theshepherdmatt commented on #2482
Doesn’t it mean the network board has failed on the Onkyo? Mine is doing
the same. There’s no connection on my router from the Onkyo.

On Sat, 2 Dec 2017 at 20:51, Christoph Wempe <notifications@github.com>
wrote:

[2017-12-02 21:30] cweitkamp commented on #2902
Yes, indeed. FRITZ!OS Version 6.60 doesn't return a value for the recently introduced `device_locked` channel. This feature is only available with newer firmware. I guess we have to implement a fix to be backward compatible in such case.

[2017-12-02 22:05] CWempe commented on #2482
No.
As you can see in https://github.com/openhab/openhab2-addons/issues/2482#issuecomment-323546591 the onkyo is still sending `ACK`-network packages.

So the problem seems to be on [OSI layer](https://en.wikipedia.org/wiki/OSI_model) 5-7.

My guess: the eISCP service/deamon has an issue.
Maybe caused by this binding?!

[2017-12-02 23:21] pinki commented on #2605
I have the same problem.

OpenHAB 2.1.0
OpenHAB-AddOns 2.2.0-SNAPSHOT
Linux raspberrypi2 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux
java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) Client VM (build 25.152-b16, mixed mode)

[2017-12-03 00:08] rblackmoor commented on #2482
I'm assuming that something the newer binding is sending to the receiver crashes the networking. Once it gets in that state only a power cycle will recover it. It seems only older receivers are affected as my tx-nr656 works without any issues and all of them are fine on the older binding.

I'm thinking I need to get Wireshark running and try and capture the last thing sent to the receiver before i

[2017-12-03 08:05] paulianttila commented on #2482
Do you use album art feature? Communication point of view that is the biggest change between 2.0 and 2.1. Album art transfer cause lot of additional traffic between binding and receiver, so maybe thats cause problem to occur more often.

[2017-12-03 10:20] theshepherdmatt commented on #2482
I thought that I needed a new receiver as I needed to control it from
another room. I’m going to try 2.0 and see if it works......

On Sun, 3 Dec 2017 at 08:05, pali <notifications@github.com> wrote:

[2017-12-03 12:39] cweitkamp commented on #2902
PR #2907

[2017-12-03 13:16] #2902 closed

[2017-12-03 15:21] FrBusch commented on #2902
I'm having the same error with a FRITZ!Box 6360 Cable - Firmware 6.54 with firmware updates controlled and performed by the network operator. So backward compatibility would be highly appreciated.

2017-12-03 16:17:52.767 [ERROR] [.binding.avmfritz.handler.BoxHandler] - null
 java.lang.NullPointerException: null
 	at org.openhab.binding.avmfritz.handler.BoxHandler.updateThingFromDevice(BoxHandler.

[2017-12-03 17:39] rblackmoor commented on #2482
I'm not using the Album Art feature.

[2017-12-03 19:28] CWempe commented on #1984
This is absolutely not clear!

Why would anybody assume that you need to configure your openHAB ip there?

I will update the README, when I have enough information to update other parts of this documentation.

This issue can be reopend if you like.

[2017-12-03 22:24] jakobstenfeldt opened #2909 "[Tellstick] Binding goes offline if no devices or sensors are present at live.telldus.com"
## Expected Behavior
The connection to live.telldus.com should remain online even if I have no sensors or no devices configured (as long as the login details are correct)

## Current Behavior
The Tellstick binding goes offline as soon as there are no sensor OR no device configured on live.telldus.com.

## Possible Solution
Check if the sensorList or deviceList is empty before operating on them.

#

[2017-12-04 03:55] michaeldavie opened #2911 "Add Sensibo A/C Controller Binding"
I'd like to start working on a new binding for the [Sensibo](https://sensibo.com) family of air conditioner controllers.

## Expected Behavior
Allow OpenHAB to control Sensibo systems.

## Current Behavior
Currently using rules-based scripts: https://github.com/michaeldavie/Sensibo-and-Openhab-2

[2017-12-04 07:58] martinvw commented on #2911
Great thanks for informing us!

[2017-12-04 11:25] theshepherdmatt commented on #2482
anyone know how to downgrade to 2.0 if i'm using openhabian?

cheers

On Sun, Dec 3, 2017 at 5:39 PM, rblackmoor <notifications@github.com> wrote:

[2017-12-04 11:35] theshepherdmatt commented on #2482
got it sudo apt-get install openhab2=2.1.0-1

On Mon, Dec 4, 2017 at 11:25 AM, matt shepherd <matt.theshepherd@gmail.com>
wrote:

[2017-12-04 11:41] cweitkamp commented on #2902
PR #2907 was merged yesterday. Should be available in the latest OH2 snapshot #1108.

[2017-12-04 19:58] idserda commented on #2204
Great work on the binding! There does seem to be an issue with auto discovery on my set up, the receiver does not show up in the inbox. This is in the logs:

[code]

This is the output of `avahi-browse`, where there is an IP-address:

[code]
Any idea what's going on? I can try to debug it in the IDE if I have some time later.

[2017-12-04 23:05] jakobstenfeldt commented on #2909
Fix merged: https://github.com/openhab/openhab2-addons/pull/2910

[2017-12-04 23:05] #2909 closed

[2017-12-04 23:07] jakobstenfeldt commented on #2809
https://github.com/openhab/openhab2-addons/pull/2910

This should be solved now.

/J

[2017-12-05 05:20] #2600 closed

[2017-12-05 05:22] #2809 closed

[2017-12-05 13:15] sjka opened #2916 "[samsungtv] SamsungTvHandler implements DiscoveryListener"
In Eclipse SmartHome, the discovery mechanism is an optional concept. All bindings (i.e. the handlers) must work without. Therefore the ONLINE/OFFLINE state of things _must not_ depend on discovery results.

[2017-12-05 13:16] sjsf opened #2917 "[ipp] IppPrinterHandler implements DiscoveryListener"
In Eclipse SmartHome, the discovery mechanism is an optional concept. All bindings (i.e. the handlers) must work without. Therefore the ONLINE/OFFLINE state of things must not depend on discovery results.

[2017-12-05 13:26] kaikreuzer commented on #2917
I assume the proper way would be to implement `UpnpIOParticipant`, would you agree?

[2017-12-05 13:26] sjka opened #2918 "[milight] Milight floods the inbox"
Every milight bridge deliberately floods the inbox with things of all _possible_ thing types, not only those which _really_ exist (see [README.md](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.milight/README.md)). I understand that the protocol doesn't support any proper discovery for its things. Then, however, the binding should also not support it inst

[2017-12-05 13:27] sjka commented on #2918
@davidgraeff as the author of this binding, could you please take care of this?

[2017-12-05 13:29] sjka commented on #2916
@paulianttila as the original author (and supposably possessor of a Samsung TV), could you please take care of this?

[2017-12-05 13:33] kaikreuzer commented on #2916
I'd assume that implementing `UpnpIOParticipant` is probably the better approach - which can be used to be informed about UPnP device availability.
To relieve @paulianttila from any blame: This interface didn't exist at all at the time when he implemented the binding and the current solution was discussed and agreed to solve the specific situation of that binding.

[2017-12-05 13:39] sjka commented on #2917
No, the proper way would be letting the runnable do its job and setting the thing to `ONLINE` **or**  `OFFLINE` depending on whether it could communicate with the printer successfully. I really would keep UPnP out of the game here.

[2017-12-05 13:45] davidgraeff commented on #2918
@sjka I implemented this on purpose. I have to admit, that at that time there existed lesser types of bulbs. So yes, it might be time now to remove the things from discovery.

[2017-12-05 13:48] jwveldhuis commented on #2204
@idserda I've updated the binding:
https://github.com/openhab/openhab2-addons/pull/2859/commits/56e4f5ed478a0189f02954144979e9d65bf5cc76

Changed the way the host is retrieved from the MDNS info (compared with some other bindings), hope it will work now and still works for the others (tested myself and I expect it will remain working).

Binding jar file is updated:
https://openhab.jfrog.io/openhab

[2017-12-05 14:13] dfrommi commented on #788
I was also working on a tado° binding that is now available at the [Eclipse Marketplace](https://marketplace.eclipse.org/content/tado%C2%B0-binding).

Main features:
- All zone types supported: Heating, AC, Hot Water
- Retrieve mobile device HOME/AWAY status
- Autodiscovery of zones and mobile devices after configuration of credentials
- Changes via items are collected for a few seconds before the

[2017-12-05 14:34] mebe1012 commented on #788
@dfrommi nice work there. Since you're in a more advanced stage of development I'm thinking about dropping my binding. Are you planning to implement the weather information from the tado API aswell?

Cheers

[2017-12-05 14:40] dfrommi commented on #788
@mebe1012 Thanks a lot.

Currently I don't plan to include weather data because the tado° API doesn't provide humidity and in my opinion, that's essential for home automation (calculation of dewpoints, suggestion when to open the window etc.).
And if you need another provider anyways to get humidity, then there's really no point in also using tado° as weather provider.

What weather parameters are

[2017-12-05 14:56] mebe1012 commented on #788
Ah I thought I also saw the outside humidity via the API, but you're right, it's missing. Therefore it really makes more sense to grab the data somewhere else.

[2017-12-05 16:05] piejanssens commented on #788
@dfrommi What is the procedure for installing it in OH?
Excuse my ignorance, it's the first time I'm seeing a binding from the Eclipse Marketplace.

[2017-12-05 17:19] nelmi commented on #2204
Thank you very much. It work great with Denon AVR-X1400H, but only in Telnet mode.

[2017-12-05 18:19] FrBusch commented on #2902
👍 Fix worked for me - NPE is gone.
Greetings.

[2017-12-05 18:22] dfrommi commented on #788
@piejanssens It's described [here](https://docs.openhab.org/configuration/eclipseiotmarket.html#installation) or you just download the JAR file from the marketplace and install it manually.

@mebe1012 Good idea, thanks. [Done](https://community.openhab.org/t/tado-binding/37000)

[2017-12-05 22:50] gowi commented on #2902
Same here

[2017-12-06 09:33] jwveldhuis commented on #2204
@nelmi thank you for your feedback.
If you browse to `http://<IP of your Denon/` do you see a web interface?
Not sure whether this model supports an HTTP API, I expect it would.

[2017-12-06 15:14] Scoobler commented on #788
@dfrommi Thanks for the binding, one quick question, I know I can get each mobile devices HOME/AWAY state, but I can't seem to see a state for the system (HOME/AWAY).
I have a switch which is turned on or off based on the system state and several rules which use that in their logic, the switch came from a http call to the unofficial v1 tado API, but would like to replace that.
I was working with [

[2017-12-06 16:44] KidSquid1 opened #2922 "[onkyo] Add support for TX-NR545"
Please add support for the Onkyo TX-NR545 AVR

The model is currently a step in between two currently supported models.

[2017-12-06 17:01] paulianttila commented on #2922
Meanwhile, you can setup your receiver manually to be TX-NR535 or TX-NR555. It should work fine as from binding point of view there is no difference between 535 and 555 either.

[2017-12-06 17:08] nelmi commented on #2204
@**jwveldhuis** no, the new models of Denon (AVR-X..00H) don't support web interface. When i open it in browser i receive
Error 403: Forbidden
Access Forbidden
If you are interested, here is a link to the Denon AVR IP Protocol: https://www.denon.de/de/product/homecinema/avreceiver/avrx5200w?docname=IP_Protocol_AVR-Xx100.pdf

[2017-12-06 17:29] dfrommi commented on #788
@Scoobler So you're looking for a home-based HOME/AWAY state, right? That's actually easy to get. You add all mobile devices that you want to take into consideration and then create a group.
[code]
The `AtHome` ON/OFF state gives you the system HOME/AWAY state, as you call it.

[2017-12-06 19:55] jwveldhuis commented on #2204
@nelmi ok, yes it's the same protocol for telnet.
The fact that you get a HTTP 403 means it is offering some services over HTTP.
Quickly checked the manual, could only find something about `/Settings` to setup the network settings for the AVR.
There is a new Denon iOS/Android app for 2017 models, maybe they've changed the HTTP API.

Well at least it still works with telnet  :)

[2017-12-06 20:54] Scoobler commented on #788
@dfrommi I will give that a go, seems like a tidy work around.

From the API I think it is "tadoMode" I was looking for. This would save having to add every member of family who has tado installed on their phone to a group by using a setting that tado already has in the API.

Thanks for the quick response! I've managed to get things working nicely! Watching eagerly for the rule setting class to st

[2017-12-06 22:08] Confectrician opened #2925 "[onkyo] Readme - Improve callback url description"
Hi together,

I have updated the bindings readme recently in #2860.
This was intended from a docs-repo issue: openhab/openhab-docs#462

From the original discussion, there is one point still unaddressed:

I was not able to improve this in a useful way, because i just improved the readme and don't own an onkyo device to clarify what this configuration parameter does.

Maybe this issue can help to c

[2017-12-07 06:15] #2813 closed

[2017-12-07 06:17] martinvw commented on #2925
Lets mention @marcelrv and @pail23 again :-)

[2017-12-07 06:21] DanielMalmgren opened #2927 "[Tellstick] NPE's after OH upgrade"
After upgrading my OH environment from snapshot 1103 to 1114, Tellstick binding doesn't seem to work anymore. My Tellstick Duo Thing never leaves the INITIALIZING state.

When restarting the binding I get the following in my log:

[code]
(Wow, that's hard to read in the preview. Any better way to put log snippets in issues?)

Also tried with debug logging on, got nothing more useful there.

I noti

[2017-12-07 06:41] KidSquid1 commented on #2922
Any idea on why the log is flooded with this ERROR message every minute?  I can ping the unit fine, in fact I have kept the ping going for 5 minutes and while the ping never drops, the connection still shows an error message every minute.  I am still using the unsupported version of the thing...could this be an issue as all of the channels work as they should.

`2017-12-07 00:36:09.735 [ERROR] [nd

[2017-12-07 06:42] martinvw commented on #2927
@jakobstenfeldt @jarlebh do you think its related to the recent change? Can you test it?

Or otherwise please help the user :-)

[2017-12-07 06:42] martinvw commented on #2927
Yes surrounding it with 3x \` I took the liberty to change it.

[2017-12-07 07:30] DanielMalmgren commented on #2927
Thanks @martinvw. I don't know if [https://github.com/eclipse/smarthome/issues/4666](url) is related?

[2017-12-07 09:14] DanielMalmgren commented on #2927
Oh, btw. I added dries workaround with org.apache.felix.eventadmin.Timeout=0 to prevent my OH core from being blacklisted. Don't know if that's relevant? Can't currently reach my home server, otherwise I'd try removing the workaround and see if it helps the Tellstick binding...

[2017-12-07 11:12] DanielMalmgren commented on #2927
Ok, it's me again. I removed the timeout workaround and restarted openhab and it seems the Tellstick binding is working now. So apparently the workaround is not a good workaround at all when it comes to Tellstick binding. I don't know if that means I can simply close this issue or if it's worth looking at anyway?

[2017-12-07 12:23] ptee132 opened #2928 "AVM Fritz! radiator_mode not working"
I just implemented the AVM Fritz! Binding. It's working well - thanks to the author :)
I get the actual temperatur an I can set a new temperature by setpoint in my sitemap.
But I am not able to work with radiator_mode. I implemented everything as described.

Item:
`String Modus_Temperatur_Esstisch "Modus Esstisch [%s]" (gSollTemperatur) {channel="avmfritz:Comet_DECT:192_168_178_1:117950246712:radi

[2017-12-07 18:39] kaikreuzer commented on #2927
@DanielMalmgren Clearly the binding is buggy and the timeout of the event handling merely exposes the issues in different ways.

I have tried to do some obvious fixes in https://github.com/openhab/openhab2-addons/pull/2929 - I do not have any Telldus hardware at hand, so I cannot test it myself.

[2017-12-07 20:28] maniac103 opened #2930 "[Homematic] Data point enumeration potentially incorrect for HM-MOD-EM-8"
## Bug description
When having two (or more) HM-MOD-EM-8 whose switches are configured to differing button modes (e.g. some are configured to button mode, others to sensor mode), the data points of the one discovered last are enumerated incorrectly: the data points of the channels of the first instance are inherited all other instances, even though switching modes causes different data points to a

[2017-12-07 21:11] jakobstenfeldt commented on #2927
@martinvw Not related to the recent change as I see it. I agree with you that the binding is buggy, I have seen more strange things in the log output...

Will see if I have time to test your changes some day near...

[2017-12-07 21:24] jakobstenfeldt commented on #2927
[code]

[2017-12-08 09:07] DanielMalmgren commented on #2927
Ok, I updated to the latest snapshot and now the Tellstick binding actually seems to work although I have the timeout=0. Your PR wasn't committed yet, right @kaikreuzer? Guess the pure thought of it made the binding work :-D Now I don't dare touching anything since it seems to work. Things seem a bit wobbly for the moment...

[2017-12-08 09:09] kaikreuzer commented on #2927
Correct, my PR isn't merged yet, so you were simply lucky. Imho it is a timing problem - if it succeeds the initialisation by chance, it will be running, but your next start might look differently again.

[2017-12-08 12:26] cweitkamp commented on #2928
Hi,

which OH2 version do you use? I commited a bugfix (#2843) some days ago.

@martinvw Please assign me to this one. Thanks.

[2017-12-08 13:20] ptee132 commented on #2928
Hi, I use Version 2.1.0-1. Do I need the 2.2 snapshot or is there a stable update available?

[2017-12-08 13:33] cweitkamp commented on #2928
That's the reason.

Yes, indeed. If you don't want to switch to an unstable version you have to wait a few days. A new stable release is planned in the next weeks (see https://community.openhab.org/t/preparing-the-openhab-2-2-release/36949).

[2017-12-08 13:35] ptee132 commented on #2928
thank you for quick answer. I will wait until stable 2.2 is available :)

[2017-12-08 13:35] #2928 closed

[2017-12-08 19:24] marcelrv commented on #2925
I'm also not fully aware of what this is doing.
I've always been surprised that this is a configuration on the binding level (rather than on the thing level)

[2017-12-08 19:42] peter9310 commented on #2826
Hello!

Is someone here who can help!

[2017-12-08 20:48] martinvw commented on #2925
Thanks, then it's all hope on @pail23 😉

[2017-12-08 21:31] peuter commented on #1953
As #2297 has been merged I guess we can close this issue?

[2017-12-08 22:06] #1953 closed

[2017-12-09 11:02] cweitkamp commented on #2928
I updated to the latest snapshot (OH2 build #1119) tomorrow morning and tested your case. You are right. Even the "fixed" version doesn't work. Changing the `set_temp` works well and affects the `radiator_mode`  as well. The other way around results in a warning in the openhab.log. Thanks for reporting. I will prepare a follow-up fix quickly.

events.log
[code]

openhab.log
[code]

[2017-12-09 15:10] cweitkamp commented on #2928
PR #2934

[2017-12-09 15:38] kungfoolfighting commented on #2261
Hello everyone!
Quick update on my work:
I have added system channels and profiles that will be used by the EnOcean plugin.
I have implemented support for rocker switch items.

What I have done in the last few weeks, whenever I had the time to work on it was to contribute code to the enj library so that it would support more actors. Currently it really only supports control of power meter switch a

[2017-12-10 10:09] colinfrei opened #2936 "[Hue Emulator] Google Home doesn't allow dimming lights"
I have a Google Home set up that steers some lights via Openhab's Hue Emulator. It recognizes the lights, and I'm able to turn them on and off ("OK Google, turn on Bedroom"), but I'm not able to set the brightness ("OK Google, set Bedroom to 50%"). When trying to dim the light it says _it looks like that device hasn't been set up yet_.

I'm wondering if it has something to do with the way the Hue

[2017-12-10 12:24] jakobstenfeldt opened #2937 "[Tellstick] Small error in documentation"
refreshInterval is incorrect in example code.

## Expected Behavior
Documentation is correct...

## Current Behavior
Documentation is incorrect...

## Possible Solution
Fix the documentation :)

[2017-12-10 20:52] #2937 closed

[2017-12-11 07:25] kevinhab commented on #2177
I think it's my problem too. But I can't find Multicast function on my Access Point Device ( vigor AP 910C )

[2017-12-11 20:21] #2520 closed

[2017-12-11 21:27] jakobstenfeldt commented on #2927
@kaikreuzer I have tested the changes above and it looks OK, or at least not worse than before :) Only tested with Telldus Net.

Bridge tellstick:telldus-live:2 "Tellstick Net" [refreshInterval=30000 ...]

Some notes on the binding behaviour:

1. At start, the following error occurs. I guess its due to the fact that the binding tries to load what's needed for running a Tellstick duo (telldus-core)

[2017-12-12 09:28] justeagler commented on #2177
I had fixed it by telnet.

[2017-12-12 09:44] jarlebh commented on #2927
I will try to look into this soon, I just don't have much spare time for
this project at the moment.

2017-12-11 22:27 GMT+01:00 jakobstenfeldt <notifications@github.com>:

[2017-12-12 15:49] cribskip commented on #2005
I tested the same way as @derEisele and with the latest jfrog-Download the apps Hue, Ambilight+Hue or my Philips TV don't crash but:
Neither Hue nor Ambilight+Hue Apps on Android crash, but don't find any bridge. My TV finds a bridge with no name but can't pair with it.

[2017-12-13 23:31] travellingkiwi opened #2952 "[zway] Binding doc states no configuration is necessary"
## Expected Behavior
Binding requires at least password configuration

## Current Behavior
Docs state no configuration is necessary

## Possible Solution
Doc update to state password config is necessary

## Steps to Reproduce (for Bugs)
## Context
Affects first time user

## Your Environment
openHab2, R-Pi using zWay binding and zWay server with non-default password

[2017-12-14 02:51] kokkuen opened #2957 "[MIHOME] "zero-fire" 1 Channel Wall Switch not working"
I have 2  Xiaomi "zero-fire" Wall Switch
1 is one button and another one is 2 buttons.

2 buttons works fine and can be auto discovered but 1 button wall switch cant be discovered.
Manually add the thing and show online but actually not working.

**openhab.log :**

[ERROR] [ndler.XiaomiAqaraActorSwitch1Handler] - Can't handle command ON on channel mihome:ctrl_ln1:158d0001f99045:ch1

**MI Home APPS

[2017-12-14 12:48] #2927 closed

[2017-12-14 16:50] bigbasec opened #2958 "ZWave broken in for anything past snapshot 1132"
Zwave no longer functions past startup.

https://community.openhab.org/t/problems-z-wave-with-1134-snapshot/37288

https://community.openhab.org/t/oh2-2-s1133-zwave-error/37268

2017-12-14 11:43:03.359 [DEBUG] [org.openhab.binding.zwave           ] - BundleEvent STARTED - org.openhab.binding.zwave
2017-12-14 11:43:03.727 [ERROR] [ig.xml.osgi.XmlDocumentBundleTracker] - Could not send adding finish

[2017-12-14 16:54] kaikreuzer commented on #2958
Duplicate of https://github.com/openhab/org.openhab.binding.zwave/issues/767

[2017-12-14 16:54] #2958 closed

[2017-12-15 09:28] extric99 commented on #2890
Can you try using an ipad as hub for the automation if you have one available. For me this works fine.

[2017-12-15 10:31] kubawolanin commented on #2957
cc: @dimalo @tavalin @pboos

Here's the [Thing definition](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.mihome/ESH-INF/thing/aqara_ctrl_ln1.xml).
Here's the handler class - [XiaomiAqaraActorSwitch1Handler.java](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.mihome/src/main/java/org/openhab/binding/mihome/handle

[2017-12-15 13:55] idserda commented on #2204
@jwveldhuis I was running an older snapshot version of the OH2 runtime, after upgrading to the latest snapshot auto discovery was working fine 😃

[2017-12-15 17:51] xxorde commented on #2261
Hi @kungfoolfighting I do not know if you are interested in adding support for hardware you do not own yourself and do not plan to use in the future.

I have a little self contained laboratory setup of the following components, with some connected switches and lights.
- FTS14KS
- FTS14EM
- FGW14-USB
- FSR14-4x

I could grant you access if you are really interested. But do not expect to much develo

[2017-12-15 18:57] #2930 closed

[2017-12-16 10:30] jangrewe commented on #2204
I tried the JAR you posted a couple of days ago, unfortunately it didn't detect my AVR.
Here's what ` avahi-browse -kvr _raop._tcp` sees:
[code]
This is on openHABian with the current 2.2 Snapshot.
Doing a Scan with your binding in the Inbox also doesn't find anything. =(

[2017-12-16 10:58] #2296 closed

[2017-12-16 11:27] jangrewe opened #2970 "Paper UI: Items stacked in Control tabs"
On the Control page, all Items in any location tab except the first one are stacked and can not really be used anymore.
There is also no sliding animation when switching tabs.

It looked fine with v2.1, but i thought going to 2.2 would be reasonably safe, considering the late stage of development

## Expected Behavior
I was expecting the Things/Items to be placed next to each other.

## Current Be

[2017-12-16 13:26] pgfeller commented on #2665
@kaikreuzer Thank you for the merge :-); shall I close this issue now?

[2017-12-16 13:36] kaikreuzer commented on #2665
Sure!

[2017-12-16 13:36] #2665 closed

[2017-12-16 13:53] kubawolanin commented on #2970
I would advice to submit this issue on https://github.com/eclipse/smarthome/issues as the development of Paper UI is going on there.
This one should be closeed.

Cheers!

[2017-12-16 13:54] #2970 closed

[2017-12-16 16:40] jangrewe commented on #2970
Thanks for the hint, i opened an issue there, and in the mean time also discovered the reason: my window size seems to be too big for the JS to handle (4K may not be the default, but it's definitely a standard).

https://github.com/eclipse/smarthome/issues/4759

[2017-12-16 19:37] #2780 closed

[2017-12-16 19:37] #1309 closed

[2017-12-16 19:37] #1499 closed

[2017-12-16 19:37] #2717 closed

[2017-12-16 19:37] #2754 closed

[2017-12-16 21:41] #2845 closed

[2017-12-17 00:46] Pickowicko opened #2974 "[homekit] Can't change saturation of Color item"
I added some hue lights to my openhab system today, however when I control them though the home app or Siri I can control brightness and hue but not saturation. This means I cannot set the Color white in the home app. When I am in paperUi though I can change all three settings successfully.

When I am trying to change the color on the Color wheel in the home app I select a Color and then the Color

[2017-12-17 15:45] KenPTex opened #2977 "[tinkerforge] new humidity 2.0 bricklet use"
I have a tinkerforge master brick and a temperature, barometer, and ambient light 2.0 bricklet in my openhab2 installation.  They all work fine.   My openhab installation is on a RPi using the standard openhabian installation.  Tinkerforge apparently discontinued the humidity bricklet and now sells a humidity 2.0 bricklet, which I have.

I hooked it up and tried to configure it as a humidity brick

[2017-12-17 17:53] kungfoolfighting commented on #2261
@xxorde
In principle I don't mind getting my hands dirty with hardware I don't plan on using myself, but I am not sure how that would work.
I can for example not start teach-ins on your hardware. Also the stuff you have seems pretty uncommon.
I wouldn't even know how to start supporting gateways and the like.

[2017-12-17 18:34] kungfoolfighting commented on #2261
@xxorde
I have spent some time looking at the devices you are looking to use.
I am not sure that it would even make sense to develop anything specifically for these devices.
As far as I can tell you have one device that basically acts just like the USB gateway but via a different protocol. I am currently not looking to support another gateway other than the USB300, since that is what the library t

[2017-12-17 19:41] xxorde commented on #2261
@kungfoolfighting thx for your answer.
The FTS14KS is the power supply and did the initial address distribution (you could do that by hand) and I configured it to pull states periodic. It can although be used for other stuff but is not so important for me.

The FGW14-USB acts (almost) like an USB300, it uses the same chip inside I guess.
In FHEM I can use it as one and the other components than ap

[2017-12-17 20:40] berndpfrommer opened #2982 "Add Insteon Binding"
We need a native OH2 Insteon binding. This issue is meant as a reference item for developing such a binding.
I plan on working on this a bit over Christmas.

[2017-12-18 10:57] Celaeno1 commented on #2663
This has been solved long time ago: on the 21th of October.
see here:
https://github.com/openhab/openhab2-addons/commit/5175844771e337f3ba475e83b47848c2b0f660cd#diff-e0e2a96129cca02cc8990983a1d87b65R73

[2017-12-18 11:06] martinvw commented on #2663
Thanks for mentioning

[2017-12-18 11:06] #2663 closed

[2017-12-18 11:17] cee-dee opened #2985 "[Hue binding] Osram Lightify Plug detected but not controllable"
## Expected Behavior
According to http://docs.openhab.org/addons/bindings/hue/readme.html the "On/Off Plug-in Unit" should be supported.

## Current Behavior
The plug is detected, I can add it as a thing, but it is not offered for controlling in the Control menu. When accessing it via Configuration -> Things a click on the blue button yields an "Internal Server Error (500)".

The log files in /var

[2017-12-18 12:01] cweitkamp opened #2988 "[Netatmo] start webhook servlet only if user activates 'readWelcome' configuration"
Currently the binding starts the webhook servlet in any case. Is that really necessary? Maybe we can check if the user activates the Welcome features?

[code]

[2017-12-18 14:32] schmitzcc commented on #2881
+1

[2017-12-18 15:20] clinique commented on #2988
Yes, it should only be activated if the readWelcome is also checked for sure. Please keep in mind that webhook is still very experimental. The first issue I see is :
- at binding start, the webhook is set if needed
- at binding stop, the webhook is realease if needed.
If in between the application fails for whatever reason, the webhook is not release but Netatmo servers will try to sent messages o

[2017-12-18 15:32] cweitkamp commented on #2988
No need to hurry. I just want to keep this on the record.

[2017-12-18 15:56] hmerk commented on #2985
First issue I see is that you use OpenJDK, which is not recommended. Please install OracleJDK and try again.
If you still see problems, please open a new issue at https://github.com/eclipse/smarthome, as the HUE Binding is an ESH Binding, not an openHAB Binding.

I would suggest to close this issue here.

[2017-12-18 16:07] cee-dee commented on #2985
Ok, I will try the OracleJDK and perhaps open a new issue at Eclipse SmartHome. Thank you!

[2017-12-18 16:07] #2985 closed

[2017-12-18 16:35] kungfoolfighting opened #2989 "[Squeezebox] Cover Art Data Has Wrong Data Type."
## Expected Behavior
The cover art should be displayed in HabPanel.

## Current Behavior
When trying to display the squeezebox cover art in HabPanel the image is not displayed.

## Possible Solution
The reason is very likely that the media type of the cover art is not properly set.
It is set to 'application/octet-stream' rather than something like 'image/jpeg'.
This leads HabPanel to mark the data

[2017-12-18 17:29] cee-dee commented on #2985
For the record: it did not help to use:
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)

[2017-12-19 07:20] travellingkiwi opened #2993 "[zway] Watchdog for Z-Way Interface"
Occasionally (Sometimes frequently) openHab2 (Especially the snapshots :slight_smile: ) go catatonic. It logs messages, rules (mostly) run, but the REST API just isn’t doing anything.

When this happens the ZWay plugin for openHab logs errors. e.g.

[2017-12-17 10:17:32.226] [I] [core] openHAB item not notified Waterfall_Switch
[2017-12-17 10:17:32.313] [E] [core] Callback execution error: TypeErr

[2017-12-19 07:28] kokkuen commented on #2957
Hi, Anyone can help?

Debug Log :

**15:24:35.456 [DEBUG] [ng.mihome.handler.XiaomiBridgeHandler] - Adding item listener for device 158d0001f99045**
15:24:35.460 [DEBUG] [ng.mihome.handler.XiaomiBridgeHandler] - Having 9 Item listeners
**15:24:35.463 [DEBUG] [ihome.handler.XiaomiDeviceBaseHandler] - Device 158d0001f99045 on channel mihome:ctrl_ln1:158d0001f99045:ch1 received command REFRESH**
**15

[2017-12-19 07:38] mariokorte commented on #2858
I have this problem as well. After installing openhanded 2.2.0 Alexa cannot control the items shared via hue emulation anymore. openhanded 2.1.0 worked flawlessly!

[2017-12-19 07:47] kaikreuzer commented on #2858
@digitaldan Could you have a look?

[2017-12-19 11:59] mariokorte commented on #2858
It seems this line is one of the culprits:

https://github.com/openhab/openhab2-addons/blob/e03584e34b559fbc5a2eb5a6e62af704e5bda41c/addons/io/org.openhab.io.hueemulation/src/main/java/org/openhab/io/hueemulation/internal/HueEmulationServlet.java#L323

The id was at one time (so it seems) a numeric formatted string. Now it is the item id defined in the items-files (wich is mostly not a numeric val

[2017-12-19 15:17] nick1802 commented on #2204
@jwveldhuis ,
thanks for this binding in testing!!

same as jangrewe it would not auto detect my avr.
but i am able to manually add and at time of typing this it is working and in the next 24hrs i will test most of the functions you have setup.
below you can see i have 4 denon avr's

i like the idea of it collecting input names from the xml as i have all inputs on my avrs disabled if nothing is us

[2017-12-19 15:28] jwveldhuis commented on #2204
@jangrewe @nick1802 thank you for testing and reporting this.
So, apparantly these models do not publish the vendor name (Denon or Marantz).

I built in detection based on this pattern: `'serial number'@{Marantz|Denon} {Model}`

Any suggestions to discover your models? Is it save to assume `AVRX[0-9]{4}[A-Z]{1}` is a Denon AVR?
And do none of these support the (unofficial) HTTP API (e.g. browse to

[2017-12-19 15:36] KidSquid1 commented on #2858
I just want to make sure I relayed the fact that this issue is intermittent.  I have tried to watch and see if I could determine a pattern but as of yet I have yet to recognize one.  I will have periods of normal activity where Alexa will respond and turn the requested device on or off.  Then I have periods where Alexa will reply....._XXX isn't available_.

[2017-12-19 15:43] nick1802 commented on #2204
@jwveldhuis
the 3 models at i have all have browser interface.
maybe cause i have named my avr's it resets the @(Marantz|Denon) (Model) part of the name?
looking though the denon site in there avr part all but one start with avrx****#   *=number, #=2437 and all have 4 number except for the ones ending with BT only have 3.

[2017-12-19 16:00] digitaldan commented on #2858
Hi , sorry I missed this one. I'm a few days a way from moving into a new house and have all my stuff, including echos in temp storage why we had some work done on it.  Hopefully I'll have things setup up next week to look at this.

[2017-12-19 16:05] jwveldhuis commented on #2204
@nick1802 ok, you can modify the name.. Good to know..

Found it in the manual of my SR5008 Marantz too:

Will see what I can do, maybe using that `am=..` string is a better choice then, but then will need to build patterns for both Marantz and Denon in order to prevent false positives.

[2017-12-19 16:09] jwveldhuis commented on #2204
@nick1802 regarding fetching the input names from the XML. That would make the binding a lot more complex. As the input names are not fixed, they can be changed at any time. Hence that should be handled accordingly. Also, not all AVRs support HTTP.

[2017-12-19 18:58] AlexeyVitalevich opened #2998 "[homekit] Add support for user permissions"
permission for homekit users

## Expected Behavior

## Current Behavior

in current version of Apple HomeKit i can not do different permission  for different users. All of users connected to HomeKit can do anything.

I need do different permission for different users.
(i successful connect my OpenHab2 to homekit & apple tv - all work!)

## Possible Solution

i think, if run second homekit addon on

[2017-12-19 20:04] discordianfish opened #2999 "http server returns garbage before actual response"
I'm debugging why the http site isn't loading on my iphone and I suspect it's because the server returns a few bytes garbage before the actual response:

[code]
Looks like something with the utf-8 encoding is broken? But not very familiar with the java world.

Running 2.2.0-1 on debian/rpi from http://dl.bintray.com/openhab/apt-repo2

[2017-12-19 20:06] discordianfish commented on #2999
Woops, sorry moving this issue to openhab-distro.

[2017-12-19 20:06] #2999 closed

[2017-12-19 21:55] jschanz commented on #2784
Problem exists also in openHAB-2.1. A "bundle:restart 200" will solve this problem for now, until it occures a few hours / days later again.

[2017-12-20 07:14] orificer commented on #2204
@jwveldhuis I'm not able to test the binding at the moment because we are renovating our home and that's why my hole setup is offline at the moment.

Just an idea: the string between "IPv4 " and "@" is the mac address of the device. I've searched several databases and i think all mac addresses from denon will start with "0005CD" and all addresses from Marantz will start with "000678".

[2017-12-20 08:38] jwveldhuis commented on #2204
@orificer good catch!

[2017-12-20 09:02] lolodomo commented on #2989
The ESH framework is providing an util method to download images amd setting the media type as expected.

[2017-12-20 10:57] jwveldhuis commented on #2204
Updated the jar (it is 2.3.0-SNAPSHOT now):
https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/org.openhab.binding.denonmarantz/2.3.0-SNAPSHOT/org.openhab.binding.denonmarantz-2.3.0-SNAPSHOT.jar

Improvements to Discovery:
* detect Denon/Marantz based on the serial/MAC prefix (as suggested by @orificer)
* display Friendly Name (which you can customize) and Model name as na

[2017-12-20 11:10] nick1802 commented on #2204
hey @jwveldhuis  ,

both the 3300 where found but 3100 & 2200 where not.

[2017-12-20 11:14] jangrewe commented on #2204
Thanks @jwveldhuis, my X2300W was discovered and shows all channels! <3

[2017-12-20 11:23] jangrewe commented on #2204
FYI, i was able to configure it statically with this in a `.things` file:
[code]

[2017-12-20 11:44] jwveldhuis commented on #2204
@nick1802 any idea why 3100 & 2200 are not discovered? From the output you shared from `avahi` I can't see any difference. Can you share relevant debug log?

@jangrewe thanks, good to know! Will add that syntax to the documentation later.

[2017-12-20 13:53] nick1802 commented on #2204
@jwveldhuis
i rebooted the raspberry and all 4 had been discovered.

[2017-12-20 15:12] cribskip commented on #2005
Ok, so I looked a little bit deeper and found several missing APIs (f.e. creating users).

As a note aside, the following ESP8266-based code works fine with Ambilight+HUE and openhab HUE binding: [[https://github.com/probonopd/ESP8266HueEmulator]]

[2017-12-20 16:55] dimalo commented on #2957
hi @kokkuen!
Thanks for the log!
In it you can see, that the switch seems to not be sending it's model:
```{"cmd":"read_ack","model":"","sid":"158d0001f99045","short_id":21824,"data":"{"voltage":3600,"channel_0":"off"}"}```
while other models send:
```{"cmd":"report","model":"sensor_ht","sid":"158d0001b70b02","short_id":42769,"data":"{"temperature":"2036"}"}```
Perhaps this is a hint for a bug in

[2017-12-21 10:46] robbyb67 opened #3010 "[homematic] Lots of warning messages "Channel not found for datapoint 'BidCoS-RF:1#PRESS'" after OH 2.2 upgrade"
After upgrade to OH 2.2 I find lots of the above warning messages in the log.

The curious thing is that a Channel reference

BidCoS-RF:1#PRESS

is nowhere to find in any item nor any jsondb file.

How can I get rid of this ?

[2017-12-21 10:46] Nugman commented on #1908
I have still the same issue in latest OpenHAB 2.2 release.

[2017-12-21 16:41] martinvw commented on #3010
@gerrieg ?

[2017-12-21 18:53] gerrieg commented on #3010
BidCoS-RF:1#PRESS is a new trigger channel in the 2.2 binding. Try to delete and re-add the thing(s) again.

[2017-12-21 18:55] majherek opened #3011 "[satel] Action satelIsConnected() doesn't work in 2.2.0"
In my configuration I have:
[code]
In log I have only:
[code]

I use stable verion from ubuntu.
[code]
[code]

This stop working after upgrade from 2.1.0 to 2.2.0.

[2017-12-22 07:10] #1353 closed

[2017-12-22 10:08] robbyb67 commented on #3010
Which thing(s) are the cause? Is it only the bridge (CCU2) or each and every Homematic device ?
If it's the latter then we need a mechanism for migration if the future - at least such things have to be mentioned in the release notes.

[2017-12-22 10:26] gerrieg commented on #3010
each thing that has a PRESS_SHORT and/or PRESS_LONG channel has now a PRESS trigger channel to.

@martinvw
When a thing gets more channels, e.g firmware update or in this case a virtual channel from the binding, can i do something from the binding that the things in OH are updated? Or is this something the framework must handle?

[2017-12-22 10:36] kaikreuzer commented on #3010
@gerrieg With the PRESS trigger channel in place now, would it be time to deprecate the PRESS_SHORT/PRESS_LONG (state) channels? It otherwise seems to be pretty confusing for users.

Regarding the warning that this issue is about: The binding should always expect things that do not have all channels available and must not log warnings in such a case.

[2017-12-22 10:39] gerrieg commented on #3010
yes, will deprecate them

OK, thanks for the info, will reduce the log level to trace

[2017-12-22 10:49] tavalin opened #3017 "[Nest] Nest API error: Invalid value: 'autoaway'. Only 'home' and 'away' are permitted values."
The 'Away' channel has 3 selection options - 'Home', 'Away' and 'Auto Away.'

Selecting the 'Auto Away' option results in the following warning in the logs:

`Nest API error: Invalid value: 'autoaway'. Only 'home' and 'away' are permitted `values.``

I presume the options for this channel need amending to reflect this.

[2017-12-22 10:56] martinvw commented on #3017
CC: @wborn

That is a though one AFAIK the API can return `auto-away` but you are not allowed to send it. Which is not trivial to handle in openHAB.

But it seems that it is also deprecated and not supported by any of the newer thermostats: https://nestdevelopers.io/t/api-auto-away-state-deprecation/344/18

PS: I think we also missed a dash...

[2017-12-22 11:29] robbyb67 commented on #3010
Does that mean that it will be no longer possible to use different rules for the LONG/SHORT triggers ?

[2017-12-22 11:35] gerrieg commented on #3010
sure, see the example in the [docs](http://docs.openhab.org/addons/bindings/homematic/readme.html), search for trigger rule

[2017-12-22 12:55] robbyb67 commented on #3010
Ahh - I see. So I have a hobby ...
For future releases: PLEASE mention such changes in the release notes.

[2017-12-22 12:55] #3010 closed

[2017-12-22 13:20] wborn commented on #3017
Maybe we should just remove auto-away:
* It's deprecated like @martinvw already mentioned
* When you set this state in the [Nest Home Simulator](https://developers.nest.com/documentation/cloud/home-simulator) the binding receives "away" as state
* It's no longer mentioned in the [API explorer](https://developers.nest.com/documentation/api-reference) when you check the possible values of the away p

[2017-12-22 13:58] martinvw commented on #3017
Agreed

[2017-12-22 14:19] #3017 closed

[2017-12-22 15:41] clinique commented on #2988
@cweitkamp : I think this can be closed ?

[2017-12-22 15:41] clinique commented on #2761
@cweitkamp : I think this can be closed ?

[2017-12-22 18:05] hmerk commented on #730
@shorty707 Does this issue still exist or can it be closed?

[2017-12-22 18:07] hmerk commented on #1181
@martinvw I guess this issue can be closed, as it is older than 1 year an we stepped forward....

[2017-12-22 18:09] hmerk commented on #1258
@rene54321 Does this issue still exist or can it be closed?

[2017-12-22 18:18] hmerk commented on #1988
@tnemrap Does this issue still exist ? If so, please close it here and open a new one at https://github.com/eclipse/smarthome, as the SONOS Binding has moved to ESH quite a while ago.
Otherwise just close this issue.

[2017-12-22 19:22] DonFariac commented on #2204
Hallo

I installed your binding and it works fine for my  Denon ( AVRX1200W) .
13 Channels were found.
It's my first try with Openhab and I would like to have the QuikSelect Button into the Binding.
I found the Commands "MS" with the parameter "QUICK" for example MSQUICK1<CR> up to  MSQUICK5<CR>
How can I insert this to the binding?

[2017-12-22 20:20] #1181 closed

[2017-12-22 20:21] martinvw commented on #1181
@hmerk Thanks for checking out some of those old issues!

[2017-12-22 21:04] rene54321 commented on #1258
The problem still exists.

[2017-12-22 22:07] hmerk commented on #1258
Could you please check if you have duplicate identifiers for your things/labels.
As you can see in the readme, this error is logged for purpose
<HomeKit requires a unique identifier for each accessory advertised by the bridge. This unique identifier is hashed from the Item's name. For that reason, it is important that the name of your Items exposed to HomeKit remain consistent.>

[2017-12-22 22:43] jakobstenfeldt opened #3020 "[tellstick] Sending ON to device, state changes ON -> OFF -> ON"
## Expected Behavior
That the state does not toggle.

## Current Behavior
See post i community: https://community.openhab.org/t/tellstick-sending-on-to-device-state-changes-on-off-on/37562

## Steps to Reproduce (for Bugs)
See post i community, link above.

## Your Environment
openHAB 2.2.0 Release Build
Bridge tellstick:telldus-live:2 “Tellstick net” [refreshInterval=30000 … ]

[2017-12-23 00:21] martin393 opened #3021 "[Milight] ledwhitemode doesn't work anymore"
After updating to version 2.2.0 it isn't possible to activate the whitemode of my milights and the ibox anymore.

When i call the command "milight_zone1_ledwhitemode.sendCommand(ON)" in my rules i can see this in the event log "Item 'milight_zone1_ledwhitemode' received command ON", but it doesn't take effect.

[2017-12-23 15:24] cweitkamp commented on #2761
@clinique Yes, it can be closed.

[2017-12-23 15:35] cweitkamp commented on #2988
Yesterday I compiled the current binding from master branch and copied the version into my test environment. The first message in the logs was `Started Netatmo Webhook servlet at /netatmo/camera` like in my first post. I didn't even configured the API thing in my environment. Please give me a hint how it is possible to disable the webhook servlet. Thank you.

One more thing. With the latest change

[2017-12-23 16:04] cweitkamp commented on #2988
events.log
[code]

Other items e.g. from network binding look like this
[code]

[2017-12-23 18:28] hmerk commented on #1601
@clinique Did you fix this in the meantime, if so, this issue could be closed.

[2017-12-23 19:05] cweitkamp commented on #2811
My first try: PR #3022

[2017-12-23 19:49] #2761 closed

[2017-12-23 20:44] maniac103 commented on #2930
Damn, with #2932 the wrong caching is now fixed, but using multiple HM-MOD-EM-8 in differing configurations still doesn't work because the datapoints-to-thing-channels conversion is cached via the ThingType interface as well [1]. The referenced thingTypeUID only includes the device name, thus doesn't account for the different data point sets. From my log:

[code]

The logic in [2] should probably

[2017-12-24 08:11] maniac103 commented on #2930
That's great, thanks. I should probably have tested it properly, but only had remote access to my server (and thus no access to the actual HM device) when I tested my patch :-/

[2017-12-24 09:06] clinique commented on #1601
@hmerk : I'd like @hakan42 to confirm that it does not exist anymore. I do not have this behaviour on my side. It may depend upon his loglevel.

[2017-12-24 09:36] lolodomo opened #3025 "Netatmo: refresh of weather data stopped after few days"
@clinique : unfortunately, the issue with data refresh is not fully fixed. I just discovered that the refresh stopped after a little more than 5 days. Here is my rescheduling token:
[code]

[2017-12-24 12:28] jwveldhuis commented on #2204
@DonFariac for the quick select you need to work on a rule that sends the commands.

E.g. make an item for the command (or assign it through paper UI)
`String marantz_command {channel="denonmarantz:avr:XXXXXX:command"}`

In your rule send the command
`marantz_command.sendCommand("MSQUICK1")`

Maybe create some virtual item with values 1..5, display those in your sitemap as [1][2][3][4][5], and mak

[2017-12-24 15:30] davidgurr commented on #2204
@jwveldhuis Great job!

I'm using marantz_command.sendCommand to set the display dim level using the DIM command. All working well.

But I'd like to have a startup rule that sets the openHAB Item to match the actual setting of the device. The command reference shows a "DIM?" command to get the state - how do I get at the return value to be able to set the openHAB item?

[2017-12-24 15:35] jwveldhuis commented on #2204
@davidgurr there is no way to get a return value at the moment

[2017-12-24 23:49] Nugman opened #3026 "[homematic] HM-CC-RT-DN Temperature Offset not working"
## Expected Behavior
When saving the Thing configuration of a HM-CC-RT-DN heating valve, I expect that the values are saved to the device.

## Current Behavior
When trying to configure the Temperature Offset, the configuration shows -3.5K, no matter what value I have selected.

## Steps to Reproduce (for Bugs)
1. Edit HM-CC-RT-DN Thing in PaperUI
2. Set "Temperature Offset" to e.g. 1.0K
3. Save th

[2017-12-25 00:33] Athan1 opened #3027 "[jeelink-lacrosse] Channel is not decoded"
Ther are LaCrosse sensors (like TFA 30.314), that provide two temperatures using two channels.
org.openhab.binding.jeelink dose not take care about this information. Therfore sensors like TFA 30.314 are showing strange behavior.

The information about the channel is combined with the type. I think the second bit is the channel information.

Here two readings from my TFA 30.314:
OK 9 59 130 4 56 12

[2017-12-25 09:05] MHerbst commented on #3026
I have tried to reproduce it but I have got a CCU and in this case I don't see this property in the thing configuration.

Can you enable Debug mode for the Homematic binding and attach the output? Mabe the problem has to do with "," and ".". In the CCU all decimal values are shown with decimal points. "-3.5" is the smallest allowed value.

[2017-12-25 10:22] ducker2 opened #3028 "[milight] night mode not working with two channel CCT controller and V3 bridge"
In general the milight addon works great! The only thing that does not work ist the nightmode
on CCT controllers (e.g. https://www.amazon.de/dp/B01I9PBIH6/ref=cm_sw_em_r_mt_dp_U_m7mqAbXFKRMGP) linked to a bridge V3.

Seems like switching nightmode on or off command is ignored. I am sure it did work in the past
(some version ~ 1.6) but not after migration to openhab 2 and the corresponding milight

[2017-12-25 13:33] Nugman commented on #3026
Thanks for the quick response. I activated the DEBUG log for org.openhab.binding.homematic, but the log shows nothing suspicious:

`2017-12-25 14:15:36.723 [DEBUG] [ommunicator.AbstractHomematicGateway] - Sending datapoint 'OEQ0240018:M_0#TEMPERATURE_OFFSET' with value '1.5K' to gateway with id 'f85
68d2b'
2017-12-25 14:15:36.733 [DEBUG] [ommunicator.AbstractHomematicGateway] - Received new (Boole

[2017-12-25 13:48] Nugman commented on #3026
Since changing the settings work using the Homematic Configuration Software from EQ3 via Homegear, I activated the DEBUG logs für Homegear and found something:

This is the log output when I try to set the TEMPERATURE_OFFSET to 1.0K using OpenHAB:
`12/25/17 14:40:39.683 Module HomeMatic BidCoS: Info: Parameter TEMPERATURE_OFFSET of peer 5 and channel 0 was set to 0x00.
12/25/17 14:40:39.684 Module

[2017-12-25 17:54] Dan1001 opened #3029 "[sonos] clearqueue channel doesn't work"
Hi,

The clearqueue channel doesn't seem to work at all on the Sonos binding.

If I create a queue on a Sonos devices, then all other of the openHAB channels work perfectly on that device, but clearqueue does nothing. There are no log entries.

thank you!

Dan

[2017-12-25 18:09] dominicdesu commented on #2985
@cee-dee what is the ticket number in the ESH tracker?

[2017-12-25 20:25] ericsnis opened #3030 "[pioneeravr] Switches power back ON after power OFF"
I am trying to use the PioneerAVR binding version 2.2 with my older VSX-82 connected via serial. I was sending commands to it with the serial binding in OH2.1 which worked except that I couldn't figure out how to transform responses to list system status information, so it wasn't the ideal situation.

I uninstalled the serial binding to prevent possible conflicts, then installed the PioneerAVR bin

[2017-12-26 08:39] it2semi commented on #3021
Same problem here... with Milight RGBW and RGBWW LEDs and iBox2.

[2017-12-26 09:14] clinique commented on #1601
@lolodomo , @cweitkamp : do you face this on your systems ?

[2017-12-26 11:44] cweitkamp commented on #1601
@clinique No, I cannot see anything like that in my log files if I activate `DEBUG` or `TRACE` logging for the Netatmo binding itself. I am not familiar with logging methods for the underlying swagger API. Not sure if it is located over there.

[2017-12-26 14:11] MHerbst commented on #2248
Retest with OH 2.2. The problem does no longer occur.

[2017-12-26 14:11] #2248 closed

[2017-12-26 14:49] MHerbst commented on #1668
Retestes it with OH 2.2. The system channel names are now displayed correctly.

But the Homematic-specific channel names are always displayed in english (tested on Windows 10 German = Java VM default locale; no locale settings in Paper UI).
This leads to a "language mixture":
Thing desdriptions are displayed on German:
![image](https://user-images.githubusercontent.com/616792/34358904-fcd9811c-ea5

[2017-12-26 15:23] MHerbst commented on #3026
It seems that the OFFSET sent to Homegeara a special encoding. If an offset of +1 K is sent as 0x09 then 0K is probably encoded 0x08 and 0x00 means -3.5 K (which is the smallest possible value).

@gerrieg can you look at it?

[2017-12-26 17:45] Flole998 commented on #2864
Of course auth isn't supported! Either turn off auth or make the Hue URLs not require it. Clearly not an issue but designed by philips to work like this. Absolutely nothing we can do about it.

[2017-12-26 18:14] Flole998 commented on #2005
Indeed the missing APIs seem to be causing these issues. I've also tried to pair, it always tried to send data to port 80, so I set openhab on that port but now I also can't continue. The bridge is found but unable to setup.

[2017-12-26 20:06] walmins commented on #2203
hello!
do you have any issue for DPT 20.102?
i use actuly insted of 20.102 =>  DPT 5.010 and this work fine.

Thanks

[2017-12-26 20:06] walmins commented on #2203
Hi TinusK!

[2017-12-26 20:41] Nugman commented on #3026
I checked the different settings in the logfile of homegear and found that the mappings for TEMPERATURE_OFFSET are as follows:
-3,5K = 0x00
-3,0K = 0x01
-2,5K = 0x02
-2,0K = 0x03
-1,5K = 0x04
-1,0K = 0x05
-0,5K = 0x06
0,0K = 0x07
0,5K = 0x08
1,0K = 0x09
1,5K = 0x0A
2,0K = 0x0B
2,5K = 0x0C
3,0K = 0x0D
3,5K = 0x0E

[2017-12-26 21:11] dpackham commented on #1694
Does this binding allow you to see and control devices FROM the ST hub as well or only from the OH2 interface control ST devices?

installed this and on the ST app I can see the ST devices but not the OH2

[2017-12-26 21:25] lsiepel commented on #2864
@WiredLife not sure what your actual bug report / feature request is. Maybe you want to discuss it at the forums. There are workaround as suggested.

[2017-12-27 00:04] MikeJMajor opened #3031 "[openhabcloud] Appears offline but still able to send notifications"
I've had a couple of occasions when myopenhab reports my OH as offline and requires a stop/start of the cloud connector bundle or a restart of OH to get it back online. However, while it's offline my OH instance appears to be running ok and I'm still able to receive OH notifications in the android app.

I'm running OH 2.1 on a RPI 2 and the problem usually occurs around the same time as the monito

[2017-12-27 04:52] BobRak commented on #1694
I see you posted the same question on my github account and have closed it. Please post any questions about this binding on my github (bobrak) account since it is not part of openHAB at this time. Thanks.

[2017-12-27 08:04] michaeljoos72 opened #3032 "Netatmo UTC Time instead Local Time"
It seems that all timestamps (e.g. last measurement, last upload, min/max-values) are in UTC-Time now. Personally I didn't see this in previous versions. Updated 2 days ago to latest snapshot openHAB 2.3.0 Build #1151.

openHABianPi 7.05.170509 (latest version)
Release = Raspbian GNU/Linux 8 (jessie)
Kernel = Linux 4.9.35-v7+
Platform = Raspberry Pi 3 Model B Rev 1.2

Raspi-Time seems to be OK:
[0

[2017-12-27 10:10] cweitkamp commented on #3032
Confirmed. See also https://github.com/openhab/openhab2-addons/issues/2988#issuecomment-353732377.

[2017-12-27 10:12] cweitkamp commented on #3029
Please note that the Sonos binding is maintained at https://github.com/eclipse/smarthome. If you encounter issues, report them at https://github.com/eclipse/smarthome/issues. Thanks!

[2017-12-27 10:14] Dan1001 commented on #3029
thanks - will do!

[2017-12-27 10:38] #3029 closed

[2017-12-27 12:20] MaximeLussier opened #3033 "[YamahaReceiver] binding for OpenHab2 turns on power for both zones"
When using the zone item:
Switch Yamaha_Power_Zone    "Power [%s]"       <receiver>           {channel="yamahareceiver:zone:XYZ_UPNP_ID:Main_Zone:zone_channels#power"}
Both zones are turned on instead of only zone 1. This is expected of the "power" channel for the AVR thing not for the zone

This worked using the OpenHab1 binding (with OpenHab2)

## Expected Behavior
Only zone 1 should power on.

[2017-12-27 12:54] MaximeLussier commented on #3033
Using curl works to turn the main zone on individually:
curl -X POST -d '<?xml version="1.0" encoding="utf-8"?><YAMAHA_AV cmd="PUT"><Main_Zone><Power_Control><Power>On</Power></Power_Control></Main_Zone></YAMAHA_AV>' http://10.35.2.2/YamahaRemoteControl/ctrl

[2017-12-27 13:50] MaximeLussier opened #3034 "[YamahaReceiver] VolumeDB is not updated"
When using the VolumeDB Zone control channel, the item is never updated with the current value (in dB).
Also, setting the value does not seem to have an effect.

## Expected Behavior
- The current value should be displayed (e.g. -42dB)
- Setting the value to a different volume (e.g. -36dB) should work

## Current Behavior
The value remains at 0.
Setting the value has no effect.

## Possible Soluti

[2017-12-27 14:29] cweitkamp commented on #2989
PR #3035

[2017-12-27 17:12] kaikreuzer commented on #1704
FTR, I have done an initial review on https://github.com/openhab/openhab2-addons/pull/2345#pullrequestreview-85694216 and would suggest to continue all discussions on the PR.

[2017-12-27 17:51] #2989 closed

[2017-12-27 20:49] caffineehacker opened #3039 "[opendaikin] Add OpenDaikin Binding"
There exists a binding for Daiking AC units that uses JDaikin, but that library is hosted on bitbucket and requires a few patches to build correctly. I propose making a proper OpenHAB2 binding for these units. I'm working on an implementation now (this is more of a tracking bug in case others are doing the same) using the documentation and reverse engineering found [here](https://github.com/ael-co

[2017-12-27 21:11] jschanz commented on #2784
Solved this on a 7390 by falling back to http and a refresh interval of 60.000 ms

[code]

[2017-12-28 07:21] trailblazer2006 commented on #2441
Hi @martinvw. @beowulfe just released new version of hap-java. Can you update build properties to target to new release 1.1.4. Thank you.

[2017-12-28 17:47] kungfoolfighting opened #3043 "[Squeezebox] Cover download not working"
I am running 2.3.0 Snapshot and the cover is not being displayed for the cover items that I have.
Only very rarely does a cover show, and I don't know what conditions make it work.
My item:
`Image sq_dining_cover "Cover" {channel="squeezebox:squeezeboxplayer:2278B73C-21BC-419C-B96D-5CF10CE3DBD1:8cae4cf81772:coverartdata"}`

The sitemap:
`Image item=sq_dining_cover`

I guess the update of the squee

[2017-12-28 18:11] mhilbush commented on #3043
@phil2fer Based on the broken URL above, where the artwork_url contains https, you might also need to include a check for https here.

https://github.com/openhab/openhab2-addons/pull/2906/files#diff-6abbe31c933b849f493ec1a48d6a5e0eR555

[2017-12-28 21:47] phil2fer commented on #3043
@kungfoolfighting could you test this jar file. I check now if the artwork_url contains https
[org.openhab.binding.squeezebox-b4.jar.pdf](https://github.com/openhab/openhab2-addons/files/1592187/org.openhab.binding.squeezebox-b4.jar.pdf)

[2017-12-28 22:11] caffineehacker commented on #3039
Pull request for a new binding for this: https://github.com/openhab/openhab2-addons/pull/3044

[2017-12-29 11:40] fss commented on #2679
Having the same issue. Just updated to OH2.2, but this didn't solve the problem.

[2017-12-29 12:44] kungfoolfighting commented on #3043
@phil2fer
I have tested the jar file and it does seem like the error messages are gone.
However, sadly, I think I am dealing with two separate issues here.
The cover images are still not correctly updating.
I think previously the binding was trying to download an image from spotify that was being used on another player and it failed at that due to the https address. But it also has problems just g

[2017-12-29 14:18] zarusz commented on #2758
@RickyTR can you please verify if the proposed fix (described in [here](https://community.openhab.org/t/yamahareceiver-binding-problems/34628/18)) solves the problem for you?

[2017-12-29 14:36] fab33 opened #3046 "[Milight] Multiple Keep-alive timers after some time"
After installing openhab 2.2, milight flood the logs only with V6 bridge (v3 doesn't do that).
[code]
and events :
[code]
the bug is reported on the community forum :
https://community.openhab.org/t/the-new-milight-ibox-and-milight-binding/17621/279

[2017-12-29 16:33] B34N commented on #2158
I'm also very interested if this could be done. Preferably I would not have to replace the standard my infinity capabilities.

[2017-12-29 17:58] phil2fer commented on #3043
Could you check if you can see the cover with this url
this is a shortcut URL to return the artwork of the currently playing song for a player
[code]
For the playerid you can use the mac adress like this : xx:xx:xx:xx:xx:xx

[2017-12-29 17:59] nick1802 commented on #2204
@jwveldhuis i dont use my zone2 much but i just noticed i can select input zones for zone 1 but have to enter them manually for zone 2. is this right or is my instance of OH2 not right?
also is there away to change the volume from 0-100% to the -70dB -20dB type? i did see the volumedb in one of the files but have not tried changing it.

[2017-12-29 19:26] jwveldhuis commented on #2204
@nick1802 the volume in DB is a todo, did not implement that one yet. I believe each model can have a different range in min/max DB so need to test with that first.

[2017-12-29 21:13] jwveldhuis commented on #2204
@nick1802 just updated the binding:

* Added channel for main volume in dB.
* Improved pattern to extract the Friendly Name from the mDNS discovery result.
* Added predefined set of options for the Zonne 2 and 3 inputs

[2017-12-30 03:16] caffineehacker opened #3047 "Add Backup Service IO"
In OpenHAB 1.x we had a dropbox IO addon that backed up our settings. I'd propose adding a new backup IO addon (possibly one that supports multiple services like Google Drive, Dropbox, copying to another location, github, etc...). I'm willing to do the work on this, but no promises on timeline.

Would creating a new IO addon be the correct way to do this in OpenHAB 2.x?
Would it be preferred to ha

[2017-12-30 03:57] nick1802 commented on #2204
@jwveldhuis
loving your work and at how quick you do it :) 💯
looking though your work but cant see how to do it. can you do the dB range for zone 2 and 3?
from what i can see from my amp it doesn't do .5 intervals like main zone does.

thank you so much for all your work you have put into this binding!!!

[2017-12-30 08:52] Victory2018 opened #3048 "[Netatmo] Thermostat UNINITIALIZED (HANDLER_INITIALIZING_ERROR)"
Hi,

i am getting a error where the thermostat does not come online and i get UNINITIALIZED (HANDLER_INITIALIZING_ERROR)

both the API and Relay are both online and fine, any help would be most appreciated.

error is logs is

[code]

[2017-12-30 09:00] jwveldhuis commented on #2204
I don't think the zones support a 'dB' scale, does your AVR show the volume in DB for them? Is the offset 80 as well?

I'm considering to change the volume channels to DecimalType (0-100) instead of PercentType so the value can match the AVR value. For my model the zone volume also supports interval of 1.0

[2017-12-30 09:12] Stefan136 opened #3049 "OH2.2 - typos in homekit.config"
I recognized two typos in the homekit.config file.
(openHAB\userdata\config\org\openhab\homekit.config)

`thermostatHeatMode="HeatlOn" `<<< should be "HeatOn"

`useFahrenheitTemperature=B"false" ` <<<< should be ="false", without the 'B'

[2017-12-30 09:14] nick1802 commented on #2204
All 3 modals that I have use dB or decimal
-80 to 18 and 0 to 98
Main zone at intervals of .5 for the dB (not sure for dec)(will check when I have 5mins spare in the next few hrs)
And zone 2 same ranges but at a 1 interval.

[2017-12-30 10:22] kaikreuzer commented on #3049
Thanks, fixed with https://github.com/openhab/openhab2-addons/pull/3050

No, this format is correct, the "B" stands for "Boolean". This is an internal format of Felix ConfigAdmin, you should not have to worry about these files.

[2017-12-30 10:54] starranger3 opened #3052 "OH2.2.0-1 KNXnet/IP Tunneling response timeout waiting for confirmation"
**OH2.2.0-1 KNXnet/IP Tunneling response timeout waiting for confirmation**
I have installed openHAB 2.2.0-1 on my raspberry pi 3 and activated the knx binding. The installation was so far successfull and i can control lights and shutter via the basic ui over the knx bus. However, the reaction is very slow and it takes almost 2-3 seconds till a light is activated or deactivated. I get a lot of war

[2017-12-30 10:56] kaikreuzer commented on #3052
Please note that KNX is a 1.x binding, thus issues should be reported at https://github.com/openhab/openhab1-addons/issues.

[2017-12-30 10:56] #3052 closed

[2017-12-30 11:22] Stefan136 commented on #3049
Many thanks for the clarification and swift Support. Usually I don't care about those files indeed, but I have some issues with unstable Homekit binding. That's why I was checking the config in Detail.

[2017-12-30 11:22] #3049 closed

[2017-12-30 14:56] jwveldhuis commented on #2204
Added dB channels for Zone2 and 3 as well now.
In Paper UI it works fine, it shows a slider with the range -80 - 18 dB
With Basic UI and iOS app it isn't so great. You need to fiddle with `Setpoint` in the sitemap yourself:

[code]

[2017-12-30 17:25] Orfait commented on #3025
Hi @clinique,
Same issue for me.

[2017-12-30 17:30] clinique commented on #3025
Grmmmph :(

[2017-12-30 17:52] Stefan300381 opened #3053 "[Homematic] HM-RC-2-PBU-FM unsupported virtual datapoint 'CONT'"
Hi,

this is the first time I submit a bugfix request. Please bear with me if I did something wrong:

## Expected Behavior
No error message in the logfile

## Current Behavior
In my *.rules file I have added some checks for the virtual datapoint PRESS, like:
when
Channel 'homematic:HM-RC-2-PBU-FM:ccu:NEQ1771086:1#PRESS' triggered SHORT
...

When I push the physical switch for a long time, the open

[2017-12-30 19:52] caffineehacker opened #3054 "Several addons are not doing broadcast packets correctly"
[Several addons](https://github.com/openhab/openhab2-addons/search?utf8=%E2%9C%93&q=%22255.255.255.255%22&type=) are not doing discovery via broadcast packets correctly. They hardcode 255.255.255.255 which will not work on all networks. Since the method of getting the correct broadcast addresses is non-trivial to get right I'd propose putting it in a common location for use by addons needing to us

[2017-12-30 20:47] kaikreuzer commented on #3054
Thanks @caffineehacker for pointing this out!
Yes, such code is tricky and should be only done once in the framework and then be reused.
We have recently moved such helper methods to [NetUtil in ESH](https://github.com/eclipse/smarthome/blob/d43d4a0b3b37d880854689320da7a11c81fd1ddd/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/net/NetUtil.java#L161-L198). I am no

[2017-12-30 23:03] caffineehacker commented on #3054
Thanks, that's just what I was looking for. I'm going to clean up the other addons I found and send a PR.

[2017-12-31 00:15] kungfoolfighting commented on #3043
I tried that and it works.

[2017-12-31 09:34] MrIncredible007 commented on #3025
Same problem for me, weather data stopped refreshing after about 24 hours.

[2017-12-31 11:19] rklueber opened #3059 "[netatmo] Support Presence Camera"
## Expected Behavior

Being able to turn on notification about movements seen dependent on other OH2 variables.

Target is to activate/deactivate the messaging of persons from the camera dependent of another OH2 item. I have a presence variable if at least someone is at home. If this is the case I would like to turn on/off the alarming of persons in the garden via a OH2 rule.

## Current Behavior

[2017-12-31 13:58] #3054 closed

[2017-12-31 14:08] martinvw commented on #3054
I assume this one can be closed now, given your PR is merged?

[2017-12-31 14:12] martinvw commented on #3048
@Victory2018 which version are you using?

[2017-12-31 14:15] mherwege commented on #3054
@caffineehacker I am afraid we run into an issue with your solution. I agree the hard coded broadcast address is not appropriate. That’s why I added the broadcast methods in NetUtils, intention was to later call these in my Niko Home Control  binding. However, the findBroadcastAddress method is incomplete. It will just return the first broadcast address it finds, and that is random. It should prob

[2017-12-31 14:16] martinvw commented on #3054
@caffineehacker @mherwege should I revert?

[2017-12-31 14:27] kaikreuzer commented on #3054
Or someone quickly creates a PR against the NetUtil implementation?

[2017-12-31 14:28] Victory2018 commented on #3048
@martinvw i am using the latest snapshot, i first used the version on the public website but then tried the snapshot too with both same results.

[2017-12-31 14:51] martinvw commented on #3048
@clinique

[2017-12-31 14:55] jwveldhuis commented on #2204
#2859

[2017-12-31 16:13] lsiepel opened #3060 "Removing zwave node from group association fails"
Recently i had to remove a single Z-wave node from a group association with multiple nodes and was unable to do so. After a while i managed to reproduce the problem and found a (temporary) workaround.

To reproduce:
With openhab build 1151 i have this node's (FGD212) association group 4 set to several nodes within Habmin (2017-12-26T02:54:09). All working as expected. Now when i remove a node and

[2017-12-31 16:16] gitmaster2013 commented on #2204
Just got a Denon AVR X2400H for Christmas. I already figured out, that http is not supported anymore and that the 2.0 addon should default back to telnet (read&write). However on the paper UI I keep getting " OFFLINE - COMMUNICATION_ERROR - ... Server returned HTTP response code: 403...".
Any idea on how I can track down the issue?

[2017-12-31 16:41] jwveldhuis commented on #2204
@gitmaster2013 Did you download the jar today? I just fixed the Discovery by checking whether HTTP is working and if not, revert to the telnet mode for initial configuration.
Not sure if it is in the jar file already, because there are issues with the builds of openHAB currently.. :/

Alternatively, add the Thing manually and ignore the discovered item. Then enable telnet at the thing configuratio

[2017-12-31 17:07] lsiepel commented on #3060
This issue can be closed, Chris told me to open an issue at the org.openhab.binding.zwave repo.

[2017-12-31 17:07] #3060 closed