[2015-12-05 08:11] dvanherbergen commented on #514
@kaikreuzer never mind, I just reread your comment and noticed the goal is to move to karaf only. Time to put my glasses on...

[2015-12-05 08:47] kaikreuzer commented on #514
Correct, that was/is the plan!

Yes, but only at night ;-)

[2015-12-05 10:28] dvanherbergen commented on #514
wow... I just launched the openhab-runtime in master and the two runtimes in the karaf branch (without installing the openhab-demo). They all have different very usage profiles:
* the equinox runtime: heap allocation starts at 500Mb, heap usage starts around 80Mb and goes up to 190MB or 300Mb before garbage collection kicks in and it drops back to 50Mb.
* the openhab runtime in the karaf branch: h

[2015-12-05 10:31] kaikreuzer commented on #514
Forget about this one. The "openhab runtime in the karaf branch" is simply a repackaging of the openhab-karaf to adapt the folder structure to openHAB needs.

[2015-12-05 11:57] kaikreuzer commented on #514
@maggu2810: I suspect that this is due to https://github.com/openhab/openhab2/pull/476 - it probably now scans all jars that we package at startup for their content, instead of treating them simply as a repository from where it can potentially load the add-ons if required.

@dvanherbergen : It would be interesting to compare the resource requirements of a plain Karaf runtime (http://karaf.apache.o

[2015-12-05 12:05] dvanherbergen commented on #514
When I run with the JVM with option -XX:+UseG1GC , it behaves much better. No unnecessary large heap is allocated and unreferenced objects are released quickly.
The openhab-karaf runtime (without demo) dropped after a forced GC to an allocated heap of 100Mb and usage fluctuating between 33Mb and 86Mb.
The PermGen space seems big though. Do we really need 50Mb worth of classes?

[2015-12-05 13:05] dvanherbergen commented on #514
Using the default garbage collector, the plain karaf runtime starts at 75Mb used and drops back to a minimum of 26 after a while and then starts climbing again. PermGen is around 25Mb.
With the G1 collector, heap usage starts around 30Mb and then slowly starts climbing.
When forcing GC, usage goes down to 12Mb.

So overall, with the GC1 collector heap usage seems better managed, so I suggest we us

[2015-12-05 13:33] dvanherbergen commented on #514
A little after the container starts, I'm seeing a huge spike in live threads. There around 200 threads created for uPnP, which are discarded afterwards, leaving the average live threads around 100. After a while, uPnP spins up yet another bunch of threads (50 to 100), which are again quickly discarded.
Something doesn't seem right there, but this behaviour is the same for the equinox & karaf versi

[2015-12-05 13:36] kaikreuzer commented on #514
+1

This is a bug I discovered in jUPnP yesterday as well - it will be fixed in the next days, so don't worry about that for the moment.

Ok, this is the important difference then that needs to be investigated!

[2015-12-05 19:48] dvanherbergen commented on #514
20 of the unidentified threads belong to a thread pool dedicated for org.apache.felix.eventadmin.impl.handler.EventAdminImpl.  Apparently, felix' EventAdmin's default is 20 threads for event delivery. This can be changed using by setting the property org.apache.felix.eventadmin.ThreadPoolSize. The property should be set to a property higher than 1 otherwise it will fallback to the default of 20. T

[2015-12-05 20:42] dvanherbergen commented on #514
The pax-web threads are supposedly configurable by the properties org.ops4j.pax.web.server.minThreads=3
org.ops4j.pax.web.server.maxThreads=5
Some of the other extra threads (6) are due to the ssh server which is built in.
I will check tomorrow if reducing the threads using these properties works.

[2015-12-05 21:16] dvanherbergen commented on #515
+1 on removing the tar.gz.
However, both zip and tar.gz are being always generated by the karaf-maven-plugin, this is not configurable and only the generated tar.gz contains the correct file permissions.
So except from submitting a patch to the plugin, we could generate both, delete the generated zip and then repackage the tar.gz one into a zip.

[2015-12-05 22:31] maggu2810 commented on #514
Thanks for your detailed informations. IMHO the ssh server shoult be disabled for the normal OH runtime. I kept them alive for my daily work. Nothing that is necessary for a release. Perhaps we could add a few such features to the extension service.

[2015-12-05 23:04] dvanherbergen commented on #514
It turns out that there is only 1 ssh thread running by default. When you connect to the console using the ./client, it fires up another 5, so I'm not sure if we would be able to get rid of this.
And for me personally, having ssh directly to the console would be convenient too..

[2015-12-06 00:20] maggu2810 commented on #515
IMHO if read about a config param to skip the generation of archive types. But perhaps it has been another plugin. Let's look at the sources.

[2015-12-06 06:44] kaikreuzer commented on #515
I would not mind if the karaf distro still creates the tar.gz during the build as long as we only create the zip for the openhab distribution (i.e. we can simply adapt the assemble plugin config)

[2015-12-06 09:59] dvanherbergen commented on #515
@maggu2810 you are right. I had a quick look at the sources and it contains undocumented parameters to disable zip and/or tar.gz generation. It will also set the executable bits on .bat files for zip and on non-bat files for tar.gz.

What if we would just disable the karaf maven plugin archive generation altogether and do only a single maven assembly directly to the zip archive in openHAB format?

[2015-12-06 13:03] rusyasoft opened #525 "OpenHab2 Device Discovery how does it happens in detail ?"

[2015-12-06 13:08] #525 closed

[2015-12-06 13:11] dvanherbergen commented on #514
I created PR 514 for updating the GC and reducing the eventadmin threads. This brings heap usage down to around 80Mb and the number of live threads to 73.
No success with the jetty related threads yet, as I'm getting errors like

	at org.eclipse.jetty.servlet.ServletHandler.updateMappings(ServletHandler.java:1488)

[2015-12-06 19:10] maggu2810 commented on #515
Give it a try. We could try to use the maven-assembly-plugin to package ${project.build.directory}/assembly directly.
If we could build only one archivs at all, it is fine.
But if we generate a zip only, we have to ensure, that he file modifiers are not lost.

[2015-12-06 19:22] dvanherbergen commented on #194
@maggu2810 There is a first version of the jetty config available here https://github.com/dvanherbergen/openhab2/commit/55772bea5ff5254eecfa4320371ff5908ec2c439
Two things are still missing:
* the jetty deployment manager config, not sure if we still need this though
* advanced ssl config like ExcludeCipherSuites. Basic ssl is working.

[2015-12-06 19:56] kaikreuzer commented on #194
Imho we should leave out the whole web application support. The only thing to consider might be an optional folder for serving static content, see https://github.com/openhab/openhab2/issues/311.

[2015-12-06 20:17] kaikreuzer commented on #515
I think this is already ensured as they are manually set:
https://github.com/openhab/openhab2/blob/karaf/distributions/openhab-runtime/src/main/descriptors/bin.xml#L77
I have only noticed that this setting does not seem to always work - the build from cloudbees are sometimes lacking the flags, while local builds on my Mac always work as expected. But this is how it works on openHAB 1 and as I said

[2015-12-07 09:29] maggu2810 commented on #518
There is:
* openHAB 1 issue tracker: https://github.com/openhab/openhab/issues/
* openHAB 2 issue tracker: https://github.com/openhab/openhab2/issues/
* openHAB Commnunity: https://community.openhab.org/

If you are not using an openHAB 2 bindings, the report should go to the openHAB 1 issue tracker or to the openHAB Community.
To choose the correct one depends on the problem at all. Issue tracker

[2015-12-07 21:59] SuperOok opened #529 "No icons: unsatisfied components"
I'm testing the latest Build [#435](https://openhab.ci.cloudbees.com/job/openHAB2/435/), runtime demo.
It seems to work but does not show any icons.

There are two components unsatisfied:
[code]
The log shows many referencing problems:
[code]

[2015-12-08 07:50] kaikreuzer commented on #529
I have just tested build 435 and it works all fine - I cannot reproduce your problem.
The log file you posted does not not look at all like an openhab.log file. Are you sure that you are launching it through start.sh?

[2015-12-08 09:32] abcde12321 commented on #257
Hi beowulfe, I want to test your homekit bridge implementation. Do you have instructions on how how to use it? e.g. how do i run you jar file within the homehab server (from the main branch)? how do I add accessories in my homekit DB? Thanks a lot.

[2015-12-08 15:40] SuperOok commented on #529
I'm running it on Windows 8.1 for test purposes, so launching start.bat. I'll check later the location of the logfile. Was the only ones I found; some <longerID>.log but not openhab.log

[2015-12-08 18:09] maggu2810 opened #531 "Extension service (karaf)"
Either I don't understand the feature extension service or there is a bug.

using <code>feature:list | grep -i openhab-ui</code> I get the following list

[code]

The Extension type "user interface" in the Paper UI shows me

[code]

[2015-12-08 19:46] epike commented on #503
I have build a solution thats works for me, I change the ignoreEventList in KNXBinding.java to a Map and added a timestamp to clean up. Now I added a parameter to isEcho method, so that I can decide to remove the event only on internalReceiveUpdate method. Additionally I implemented a little clean up method that removes all events after a second.

Erik

[2015-12-08 20:37] kaikreuzer commented on #531
You mean the Classic UI is missing there? Sounds like a bug, would have to investigate...

[2015-12-08 20:41] maggu2810 commented on #531
Yes, I missed the Classic UI. If I understand the logic correctly the dashboard should be shown, too (regardless if it is not intended to remove them)...
Should we add the Paper UI to the openhab-runtime feature, so we get this configuration UI after start?

[2015-12-08 20:44] kaikreuzer commented on #531
I intended to have the openhab-runtime feature as the "minimal" feature, not even bringing the REST API with it. Maybe we should think about some kind of "standard" feature with a similar set as the demo feature (PaperUI+BasicUI), but without the demo files...

[2015-12-08 20:51] maggu2810 commented on #531
* minimal runtime = openhab-runtime-base; https://github.com/openhab/openhab2/blob/cef44aa0829e503a446fcdabf48a733569278ddf/features/org.openhab.feature.runtime/src/main/feature/feature.xml#L12

* the runtime of the "normal" distribution = openhab-runtime; https://github.com/openhab/openhab2/blob/cef44aa0829e503a446fcdabf48a733569278ddf/features/org.openhab.feature.runtime/src/main/feature/feature

[2015-12-08 20:52] maggu2810 commented on #531
But that could be changed...

[2015-12-08 20:53] kaikreuzer commented on #531
ok, I am fine with that naming as well. So yes, let's add Paper UI and Basic UI to the runtime then!

[2015-12-08 22:13] lewie commented on #503
@epike,
I have implemented it for OH1 ( see in KNXBinding.java groupWrite(ProcessEvent e)):
You can identify every "Echo" by its sender.
If openHAB is the sender ignore it.
To identify use ````knx:busaddr=````, so you don't need to handle a Map and you don't need to cleanup anything.

too busy yet sorry!

Best, Helmut

[2015-12-08 22:55] SuperOok commented on #529
The log above is from runtime\server\configuration\1449525689744.log

I reran the application but still no Icons in the basic UI. Calling any icon URL manually gives a 404 from the Jetty, e.g. http://localhost:8080/icon/switch?state=OFF&format=svg

[code]

Find the openhab.log below.

[code]

[2015-12-09 07:56] maggu2810 opened #532 "add paper and basic ui to openhab runtime (karaf)"
See: https://github.com/openhab/openhab2/issues/531#issuecomment-163014796

[2015-12-09 07:56] maggu2810 commented on #532
@kaikreuzer You could add the "karaf" tag and assign this issue to me.

[2015-12-09 08:05] kaikreuzer commented on #532
@maggu2810, you should now also have the rights to do that yourself :-)

[2015-12-09 09:27] maggu2810 commented on #532
Thank you for your trust.

[2015-12-09 10:40] kaikreuzer commented on #532
Thank you for your amazing work :+1:

[2015-12-09 11:38] dvanherbergen commented on #514
When starting, pax-web shows this annoying warning message:

This is caused by an invalid service defined in the jax-rs dependency. I've opened an issue for this: hstaudacher/osgi-jax-rs-connector#131

[2015-12-09 12:05] maggu2810 opened #533 "cometvisu's manifest misses imports"
The package imports do miss some stuff.
e.g. the bundled quercus library (that is added to the classpath of cometvisu) imports javax.sql.DataSource but the cometvisu bundle's manifest miss that part.

[code]

[2015-12-09 12:31] #532 closed

[2015-12-09 13:51] kaikreuzer commented on #533
@peuter Could you have a look?

[2015-12-09 16:26] dvanherbergen commented on #515
Implemented in PR #536

[2015-12-09 17:09] dvanherbergen commented on #505
The rest doc also has a css issue. In Safari, some text is invisible. In Chrome it works normal.
![rest-doc-safari](https://cloud.githubusercontent.com/assets/1044349/11692491/fcb192f8-9e9f-11e5-9125-5cac0ada52d4.png)

[2015-12-09 19:54] #515 closed

[2015-12-09 20:11] SuperOok commented on #529
I tried the demo items and removed all <icon> tags; still the same: I got 404 broken icons for all elements. So I guess it's a different issue.

[2015-12-09 20:38] xsnrg commented on #529
Agreed, unfortunately.  I will copy my findings to a new ticket as a different issue.

[2015-12-09 21:39] xsnrg opened #538 "Unable to override default icon/missing base icon files"
I am trying to change the icon used for Switch items to the light icon but getting a 404 instead.

I think I have found a problem with trying to override a default icon. See here for more details: https://community.openhab.org/t/various-icon-woes/4895

Using Switch as an example, if I try to specify an icon for the individual item in the .items file, such as `<light>`, I will get the 404. If I rem

[2015-12-10 08:22] maggu2810 commented on #514
@dvanherbergen This should be solved by https://github.com/eclipse/smarthome/pull/699

[2015-12-10 08:23] maggu2810 commented on #514
So, all fine now?

[2015-12-10 08:24] kaikreuzer commented on #529
@SuperOok Ok, I just tried the latest openHAB build on Windows 10 and I can reproduce the issue. The icon servlet simply is not registered for some reason and thus all requests result in an 404. I will analyse that closer and come back to you.

[2015-12-10 08:33] dvanherbergen commented on #514
Memory consumption is fine. Even an Xmx of 128Mb seems to work OK.
The total number of threads (live+daemon) is still higher, as Karaf adds some additional management threads. We may be able to optimize this further, but it shouldn't hinder performance too much.
Startup time is still rather slow. During the first startup, all bundles are installed and that takes some time. Subsequent starts are fa

[2015-12-10 08:39] maggu2810 commented on #386
This should be solved by #523 and #539 now.

[2015-12-10 08:39] #386 closed

[2015-12-10 11:35] dvanherbergen commented on #505
Both issues are fixed by #540 .

[2015-12-10 12:50] ANierbeck commented on #514
On the jetty/pax-web front if there is anything I can help with, just gimme a ping :-)

[2015-12-10 13:27] dvanherbergen commented on #514
Great! As it happens, I do have a question for you :-)
Pax-web launches a number of org.ops4j.pax.web.service.jetty.internal.LateInvalidatingHashSessionManager threads.
Is there a way to limit the number of threads being spawned? Would a single thread not be sufficient to scavenge sessions for multiple jetty threads?

[2015-12-10 13:58] dvanherbergen commented on #495
When starting karaf as a service, it ignores the setenv script. This causes openHAB to not function correctly. With a new version of the java service wrapper, we would be able to launch the setenv using a prejvmlaunch event. Issue opened: https://issues.apache.org/jira/browse/KARAF-4186

[2015-12-10 14:30] ANierbeck commented on #514
Actually those are handled by Jetty itself, Pax-Web only provides an alternative SessionManager, which is needed for the HttpService. So in that case I'd think, if we reduce the Jetty-Threads it'll be in sync.

[2015-12-10 14:50] dvanherbergen commented on #514
That doesn’t seem to work. When using org.ops4j.pax.web.server.maxThreads = 7, the number of ‘base’ jetty threads is 7. And then there is an additional 8 threads for the SessionManager.
Now, when I set the min and max both to 20, the number of base threads is 20 and there are still 8 threads for the SessionManager. So it would appear that the number is fixed.

[2015-12-10 16:30] #529 closed

[2015-12-10 16:31] kaikreuzer commented on #529
That was a tricky one - it indeed occurred only on WIndows. Should now be fixed with the next build!

[2015-12-10 20:06] peuter commented on #533
@maggu2810 Could you tell me how I can reproduce the Exception. I didn't ran into that problem my using/compiling the comtvisu bundle and I would like to check if adding 'javax.sql' to the import solves the problem before creating a pull request

[2015-12-10 20:10] maggu2810 commented on #533
@peuter You have to use the Karaf branch.
I believe the boot delegation Eclipse is using is a little bit weird.
All that is not java.* and is used have to be added to the package imports.
Eclipse is not so strict, but it will break bundles...

[2015-12-10 20:45] kaikreuzer commented on #495
... and closed again :-(

[2015-12-10 21:15] kaikreuzer commented on #505
Very cool - thanks a lot, @dvanherbergen (and btw, happy belated birthday ;-))

[2015-12-10 21:39] peuter commented on #533
Sorry but I have zero experience with karaf yet. Just checked out the branch and all I can see from the cometvisu is:

[cometvisu.internal.CvActivator:46   ] - SSE API has been started.

No errors, no starting messages, nothing. And I have no idea how to solve that.

[2015-12-10 21:50] kaikreuzer commented on #538
Sorry for taking so long and thanks for your analysis. The problem was indeed that no "fallback" icons were available - the existence of this file defines whether or not the iconset includes this icon. I have added all missing files, so that should be fixed now!

[2015-12-10 21:50] #538 closed

[2015-12-11 12:09] maggu2810 commented on #533
I looked at the sources and did not found any information which version of Quercus is bundled.
There is no reference in the about.html.
I do not know, but shouldn't all third party libraries that are bundled added with their license and the version used? Is it correct that Quercus is using the GPL?

Looking at the v4.0.39 sources the constructor of QuercusEngine creates a new QuercusContext object

[2015-12-11 14:23] haydarali commented on #393
Latest snapshot not need manuel icons folder create. Direct seeing all icons. But icons not change of status on mobile application. When do you plan to change the mobile applications?

[2015-12-11 15:44] dvanherbergen commented on #495
Indeed. This means we'll need a different approach. The first two that come to mind are:
* Use a custom installation command rather than the standard one, e.g. openhab-wrapper:install. Underneath, this could then perform the standard install and perform a config customisation step.
* Stick with the standard install, but move the environment properties out of the setenv and set them programmaticall

[2015-12-11 16:02] SuperOok commented on #529
Great!

[2015-12-11 16:06] kaikreuzer commented on #393
I have entered
https://github.com/openhab/openhab.android/issues/145 and
https://github.com/openhab/openhab.ios/issues/65

If you are fluent in iOS or Android programming, feel free to provide a PR yourself!

[2015-12-12 17:22] maggu2810 commented on #531
Should be related to https://github.com/eclipse/smarthome/pull/729

[2015-12-12 18:16] toby200 opened #545 "Wemo Insight - additional parameters"
As discussed on the forum with @hmerk - The wemo insight plug returns a list of 11 parameters; currently the binding only returns a subset of them. It'd be great if the other parameters could also be added to the binding

The full list, as far as I can work out / gather from the internet, is as below.

1: on/off state
2: lastChangedAt (long, unix timestamp)
3: lastOnFor
4: onToday
5: onTotal
6: ti

[2015-12-12 18:39] SuperOok opened #546 "HttpService not satisified"
I now play with Build 438
on a RaspBerry Pi with Raspbian

I get no UI started, all web-components have unsatisfied dependencies to the HTTPService

[code]

Some bundles stay in state STARTING including the equinox.http.servlet

[code]
The Bundle itseld does not state its problem:

[code]
The openhab.log shows some errors, I dont understand. I ran the start.sh with sudo, so I don't know why Socket

[2015-12-12 18:45] kaikreuzer commented on #546
I seems you have a dozen addons installed. Could you start with the demo distribution and provide the logs from that, if the problem also exists?

[2015-12-12 18:55] SuperOok commented on #546
Yes, it's just the same. Here's the logs from the demo:

[code]

[code]

openhab.log
[code]

[2015-12-12 19:55] ANierbeck commented on #514
Actually the SessionManager is bound to every HttpContext, so if you have 8 bundles using a session manager you have all of them running.

[2015-12-13 06:35] yandreev3 opened #547 "Hue and Nest Binding Issues"
Hey everyone. Ive slowly been moving up from Wink to Samsung SmartThings, and now I'm trying to get OpenHab to work and it's kicking my a**. I'm attempting to get at least one or two devices to work but all I can get so far are the web UIs (all working except cometvisu).

The two devices I attempted to get working are my nest thermostats and my hue hub with no success in either. The nest plugin do

[2015-12-13 10:33] kaikreuzer commented on #546
I have tried the same build successfully on Mac and Windows.
@Stratehm I wonder if this could be due to https://github.com/openhab/openhab2/issues/2 - the RasPi being too slow to generate the certificate and thus Jetty not starting up.
@SuperOok: Could you enable Jetty logging in logback.xml and see if there is anything helpful logged by Jetty?

[2015-12-13 10:40] kaikreuzer commented on #514
Does this mean we should make sure to use a single instance of HttpContext?
I wasn't aware that we are creating so many instances. But indeed, we usually use `httpService.createDefaultHttpContext()`, which creates a new instance every time.
Shall we introduce a special HttpContextService in ESH? Does anyone know how well this can be integrated with Jersey and possible authentication/session mechan

[2015-12-13 10:47] kaikreuzer commented on #547
Hi @yandreev3, welcome at openHAB!
As you are a new user, I would very much recommend you to look at openHAB 1 (https://github.com/openhab/openhab/wiki)  at the moment (this here is the bug tracker for openHAB 2).

Specifically, the Nest binding is not yet even listed as compatible with openHAB 2 (see https://github.com/openhab/openhab2/blob/master/docs/sources/addons.md).

So the best place to as

[2015-12-13 10:47] #547 closed

[2015-12-13 19:46] ANierbeck commented on #514
Hi,

no this doesn't necessarily mean that. Usually you have one Bundle with one
HttpContext.
And it's fine to use the httpService.createDefaultHttpContext for it.
Now depending on your use-case with Pax-Web it's possible to share the
Context between Bundles.
For example if you want to separate filters from servlets.
In this last case you can use pax-web WebContainer Interface to create
SharedCont

[2015-12-13 21:49] SuperOok commented on #546
I could not reproduce the issue right now. It's a Raspi 2, so not sooooo slow at all...
Just right now the UIs start up just fine with that build, even on my Raspi; nothing changed. Starts fine with the demo and fine with my own configs. Really strange, because in just yesterday I retried starting many times with no reboot since then. Sorry for the inconvenience. I will observe the issue...

[2015-12-13 21:51] kaikreuzer commented on #546
Thanks for the update - if it occurs again or you find out any cause, let me know!

[2015-12-13 21:51] #546 closed

[2015-12-13 22:00] SuperOok opened #548 "setpoint in basicui broken"
I use 'setpoint' in my sitemap like this

[code]

Label, current value and change buttons show up nicely in the classicui, but not in the basicui:

![img_1057](https://cloud.githubusercontent.com/assets/10581272/11769677/3bc8c3b2-a1ed-11e5-9456-ebdebff9bcf9.PNG)
![img_1056](https://cloud.githubusercontent.com/assets/10581272/11769679/41f51d76-a1ed-11e5-876e-382e4a3bee5a.PNG)

[2015-12-14 12:49] kaikreuzer commented on #548
This looks weird. Can you reproduce this with the demo sitemap, which has such a widget as well (https://github.com/openhab/openhab2/blob/master/distribution/openhabhome/conf/sitemaps/demo.sitemap#L41)? This renders all ok for me:
<img width="1080" alt="bildschirmfoto 2015-12-14 um 13 48 39" src="https://cloud.githubusercontent.com/assets/3244965/11781343/74815846-a269-11e5-8a86-722a2add80b4.png">

[2015-12-14 13:52] kaikreuzer commented on #495
The first options sounds more tempting to me and by documenting it, its downside should not be relevant.

[2015-12-14 13:58] dvanherbergen commented on #495
First option it is. I'll see if I can cook up something.

[2015-12-14 17:08] kaikreuzer opened #549 "Replace swagger-all by a bundle holding only the necessary dependencies"
When starting the Karaf distribution, I now get 3 lines from SLF4J in the console:

[code]

Does anyone know what introduced this and how we can get rid off it again?
##

[2015-12-14 17:14] maggu2810 commented on #549
Please check the certificate creation bundle...

[2015-12-14 17:30] maggu2810 commented on #549
No, it is not the certificate creation bundle.

[2015-12-14 17:35] jarlebh opened #550 "Persistence cron config error failes parser"
The following persistance file causes the parser of opemnhab2 to stop, I could not figure it out without removing all config files and adding them 1 by 1.
The error is in the cron statement, missing *
[code]

[2015-12-14 17:45] maggu2810 commented on #549
It is gone after I removed the "swagger-all" bundle.
So perhaps the bundle themselves or a dependent service / bundle.

[2015-12-14 17:45] maggu2810 commented on #549
All the time it seems to disappear it appears again...

[2015-12-14 17:52] maggu2810 opened #553 "old logback config files"
Do we still need this files for the Eclipse IDE?
* logback.xml
* ogback_debug.xml

The files are added to the karaf runtime (runtime/etc/).

[2015-12-14 17:53] kaikreuzer commented on #553
No, I think we don't. I actually wanted to remove them already with my log PR, but I missed to do so.

[2015-12-14 17:53] kaikreuzer commented on #553
But wait - we should maybe move them somewhere for the IDE launch config to pick it up!

[2015-12-14 17:56] kaikreuzer commented on #550
Does the same file work on openHAB 1?

[2015-12-14 17:58] maggu2810 commented on #549
Could you try a
* <code>bundle:stop "Swagger Provider" "swagger-all"</code>
and restart your instance?

Then wait a moment after you realize it does not occur.

Now type
* <code>bundle:start "Swagger Provider"</code>

[2015-12-14 18:06] kaikreuzer commented on #549
ok, it seems you have found the culprit!

[2015-12-14 18:34] jarlebh commented on #550
I guess not(I do not run openhab2 anymore), but the issue is the missing
warning/error message. I could not find any and it just stops parsing of
all other config files also.

man. 14. des. 2015, 18:57 skrev Kai Kreuzer <notifications@github.com>:

[2015-12-14 18:55] SuperOok commented on #548
Well, in the basicui I don't have any Demo Frame, while it is ok in the classicui

![demo_frame](https://cloud.githubusercontent.com/assets/10581272/11790419/feaf2b24-a29b-11e5-9bcd-89f00a848492.PNG)

I checked the demo.sitemap and it's ok; just the original you referenced.
I also cannot address the frame directly. Opening http://url/basicui/app?w=0202 gives

[code]

I'm running, again on my Raspi

[2015-12-14 18:55] kaikreuzer commented on #386
FTR, I just tested the installation of all add-ons and came across a few problems that should be addressed with https://github.com/openhab/openhab/pull/3549.

[2015-12-14 18:58] kaikreuzer commented on #548
Sorry, I should have posted you the url to the demo sitemap for the Basic UI - try http://localhost:8080/basicui/app?sitemap=demo

[2015-12-14 19:03] kaikreuzer commented on #549
I guess the problem is that the swagger-all bundles slf4j, these classes are started, but do not have any configuration.
So to solve this, we should really remove swagger-all and add a bundle with only the really required dependencies.

[2015-12-14 19:08] SuperOok commented on #548
Ah, ok, that looks fine, I just tried Build 441

![demo_frame2](https://cloud.githubusercontent.com/assets/10581272/11790876/64287b52-a29e-11e5-9533-b3c1268588f3.PNG)

[2015-12-14 19:08] maggu2810 commented on #386
Missing imports in the manifest file are not checked by the feature verification and this seems correct to me. That should be done at build time (maven-bundle-plugin / bndtools) or by the Eclipse IDE for Manifest-first approach.

[2015-12-14 19:08] kaikreuzer commented on #548
So what is the difference to your sitemap then? Is that still broken?

[2015-12-14 19:12] SuperOok commented on #548
I retried the build from yesterday with the demo. It looks ok but I get this exception in the log
[code]
I'll now try my own sitemap

[2015-12-14 19:12] kaikreuzer commented on #386
Yes, that's also ok for me, but it means that we need to manually check it for the moment :-)

[2015-12-14 19:38] SuperOok commented on #548
I was almost thinking that I get crazy because I could not reproduce it. But now I know the problem: I should not repeat a test with different environment: On a desktop browser (firefox on windows 8.1) the setpoint buttons look ok. But on my iPhone 6 with Safari Browser, also the demo of Build 441 has broken button Icons:

![img_1058](https://cloud.githubusercontent.com/assets/10581272/11791499/b2

[2015-12-14 19:47] SuperOok commented on #548
So the Icons seem to be pretty browser specific. It's ok on my firefox and chrome on Windows 8.1, has single faulty Icons on iOS and on IE11 the styling is totally messed up
![demo_frame_ie11](https://cloud.githubusercontent.com/assets/10581272/11791917/cf187ebc-a2a3-11e5-97a5-2e54af7ebc9f.PNG)

[2015-12-15 07:45] resetnow commented on #548
Icons are browser specific but they don't work because they didn't pass IP clearance (CQ 10013) yet. Therefore they weren't merged. Maybe as a temporary solution we should use files hosted on Google CDN.

As for labels, yes it's a bug and I'll fix it this weekend.

[2015-12-15 07:47] resetnow commented on #548
@SuperOok that IE11 layout looks strange, do you have compatibility mode turned on by chance? I'll check it too, but last time it worked in IE10 and IE11 with some minor bugs/limitations.

[2015-12-15 07:48] kaikreuzer commented on #548
It is right that they were not merged in ESH, but that's why I created a fragment in OH2, which contains them, see https://github.com/openhab/openhab2/tree/master/addons/ui/org.openhab.ui.basicui/patch/web/fonts.

So all icons should be available.

[2015-12-15 09:13] resetnow commented on #548
Oh, I missed that. It just looks like material icons font is not loaded and iOS threats these symbols as emojis. @SuperOok could you please check availability of font files?

[2015-12-15 11:06] kaikreuzer commented on #548
@resetnow I have checked, the files are correctly served by the HTTP server. I can e.g. access
http://localhost:8080/basicui/material-icons.css
http://localhost:8080/basicui/fonts/MaterialIcons-Regular.eot
http://localhost:8080/basicui/fonts/MaterialIcons-Regular.ttf
http://localhost:8080/basicui/fonts/MaterialIcons-Regular.ttf
http://localhost:8080/basicui/fonts/MaterialIcons-Regular.woff
http://

[2015-12-15 11:33] amirehsanijam opened #556 "IDE Setup"
Hi,
I'm want to use openhab2 and I read instructions and see your youtube video about IDE setup. I did exactly what you said but when last step comes it can not download some repositories related to openhab2 platform like GRECLIPSE4.4, LUNA and etc.
When finish perform setup tasks, I face with lots of errors.
I read last issues causes this problem like doing a perform setup task again and again ca

[2015-12-15 16:43] kaikreuzer commented on #550
I just downloaded the OH2 demo package (https://openhab.ci.cloudbees.com/job/openHAB2/lastSuccessfulBuild/artifact/distribution/target/distribution-2.0.0-SNAPSHOT-demo.zip), created two files demo1.persist and demo2.persist both with the content you have posted.
Starting the runtime, I get
[code]
so it all loads fine without problems.
I'd suggest to first discuss at https://community.openhab.org/

[2015-12-15 16:43] #550 closed

[2015-12-15 17:26] kaikreuzer commented on #556
If you had done the initial checkout on Sunday, there might have been some hick-up.
I have just tried the setup now and it works smoothly.

If you continue to have problems, please provide a detailed error with logs and screenshots. It is otherwise not possible to tell what is wrong.

[2015-12-15 17:26] #556 closed

[2015-12-15 17:30] kaikreuzer commented on #531
fixed with the latest distro

[2015-12-15 17:30] #531 closed

[2015-12-15 17:31] #505 closed

[2015-12-16 12:58] amirehsanijam commented on #556
![screenshot from 2015-12-16 16 22 43](https://cloud.githubusercontent.com/assets/7033713/11841324/cc3eeaae-a411-11e5-88b0-bed31eca7c85.png)
![screenshot from 2015-12-16 16 23 54](https://cloud.githubusercontent.com/assets/7033713/11841327/cf0a26fe-a411-11e5-937c-446a39bffe03.png)
thank you for your helping, i do the setup process and clone it again.
Those screenshots are the result i'm totaly con

[2015-12-16 13:11] dvanherbergen opened #557 "Old references in org.openhab.io.jetty.certificate bundle"
When starting in debug mode, the following two errors show up:
[code]
The references to the bouncy castle jars in the manifest of the jetty.certificate bundle should be removed. They are no longer necessary as the code is embedded directly in the jar using the maven shade plugin.

[2015-12-16 13:23] amirehsanijam commented on #556
Pleas help me

[2015-12-16 13:25] kaikreuzer commented on #557
Makes sense. Will you create a PR?

[2015-12-16 13:29] kaikreuzer commented on #556
This is what screenshots and log files would be needed for - if the setup has failed, it is clear that the workspace shows errors, so you will have to find out what fails before that.

Also try to execute the Help->Perform Setup Tasks again and say if this runs through or shows errors.

[2015-12-16 13:34] amirehsanijam commented on #556
![screenshot from 2015-12-16 17 01 46](https://cloud.githubusercontent.com/assets/7033713/11842114/c6c185e6-a416-11e5-8397-7e014022996b.png)
I am diong the Perform Setup Tasks again and errors remain.

[2015-12-16 13:35] kaikreuzer commented on #556
So why do you say "it can not download some repositories"?

[2015-12-16 13:39] amirehsanijam commented on #556
I'm so sorry Yes, it can not download some repos.
what should i do now? do it again untill it downloaded?
Is there other way to do this?

[2015-12-16 13:54] kaikreuzer commented on #556
Can you prove this? You screenshot only shows that it currently is downloading it...

[2015-12-16 13:54] amirehsanijam commented on #556
Yes, Wait a minute plz.

[2015-12-16 14:00] amirehsanijam commented on #556
My internet speed is a little bit slow.
That would be nice you if wait a few moments.

[2015-12-16 14:02] amirehsanijam commented on #556
![screenshot from 2015-12-16 17 31 23](https://cloud.githubusercontent.com/assets/7033713/11842754/e5124658-a41a-11e5-88fe-678311920e5d.png)

[2015-12-16 14:03] amirehsanijam commented on #556
![screenshot from 2015-12-16 17 32 35](https://cloud.githubusercontent.com/assets/7033713/11842779/0cb47334-a41b-11e5-9169-228ffe3eb7b9.png)

[2015-12-16 14:04] amirehsanijam commented on #556
![screenshot from 2015-12-16 17 13 59](https://cloud.githubusercontent.com/assets/7033713/11842804/4db2e460-a41b-11e5-8e0f-02a265febdc4.png)

[2015-12-16 14:07] amirehsanijam commented on #556
This photos shows my problem.
The target platform trying to download them but it fails and also the last photo shows repos that  could'nt load to my workspace.

[2015-12-16 14:11] kaikreuzer commented on #556
Your internet connections seems to be the problem. "Communication failed" etc. clearly hint at that.
I do not have any recipes on how to resolve a target platform on a flaky internet connection, sorry. Either complain at your admin or try to reload the TP until it is successful.

[2015-12-16 14:14] amirehsanijam commented on #556
Thank you so much for your helping.

[2015-12-16 14:23] amirehsanijam commented on #556
Is it all right if you put them some where i can access them and manauly add them?

[2015-12-16 15:53] dvanherbergen commented on #514
I had another look at the startup time. By commenting out the CoreActivator.startRuleEngine() method, I was able to reduce my startup time by 12 seconds ;-)

The hardcoded waits in there should be replaced with a different solution. I suggest a change the FolderObserver in ESH. It could send out a ModelsLoadedEvent after it has done the initial load of the all available models. Then the rule engin

[2015-12-16 16:34] kaikreuzer commented on #514
Interesting :-)
This code is indeed a dirty hack and I am ashamed of it ;-)
Nonetheless I remember that I didn't find any other solution to the problem at the time - startup rules should only be executed when the system has started up.
A change that I did at the same time as introducing this hack is this: https://github.com/openhab/openhab2/commit/e610bce83d8718136e07506e9707473ae9788aef#diff-9eb4

[2015-12-16 16:56] dvanherbergen commented on #514
The start level change has indeed been lost. The core bundle in the karaf branch starts at level 80, which is the default.

[2015-12-16 17:00] maggu2810 commented on #514
It was a long way to get rid of the start level requirements and I was happy that it works at least.
As I have not done start up time analyzes, I was fine with the current state.
If never seen this hack before, IIRC I do not use that core bundle at all.
Would be great if the situation could be solved without start level changes in a non hackish way. :wink:

[2015-12-16 17:05] kaikreuzer commented on #514
I fully agree and you are both invited to come up with a clean solution. I actually remember that I looked at something like a OSGi start level service, but I didn't succeed in being notified when a certain start level is reached (and then trigger the startup rule execution). If any of you finds a way how to do this, that would be great :-) Until then I would prefer to have the start level changed

[2015-12-16 18:27] maggu2810 commented on #549
At least the bundled slf4j is solved using recent shk.

[2015-12-16 19:33] kaikreuzer commented on #549
How?

[2015-12-16 19:49] maggu2810 commented on #549
The same way as I fixed the missing import in swagger-all before.
Checkout, fix, set a sp version, build, deploy, use it in the feature.
And last but not least, make a pull request.

[2015-12-16 20:12] kaikreuzer commented on #549
You're the best :-)
But why didn't you take the chance to throw out even more ballast from that jar? (thinking about apache-commons or joda, which are both quite fat)

[2015-12-16 20:29] jarlebh commented on #550
Ok, that's fine. However I quite certain this file made openhab2 fail. The
reason for creating the ticket was the amount of time I used to identify
the mistake. After fixing the cron syntax my system runs normally again.

tir. 15. des. 2015, 17:44 skrev Kai Kreuzer <notifications@github.com>:

[2015-12-16 20:37] kaikreuzer commented on #550
As mentioned, with the information that you have provided, I cannot reproduce the problem.
If you have a file where openhab2 fails and stops any further parsing, please be so kind to post it here (best together with an excerpt from the log file).

[2015-12-17 10:38] dvanherbergen commented on #553
How about changing to pax-logging-logback? The left truncated class names are a real pain and displaying the full package and class names also doesn't make things more readable.
And personally, I always liked having a dedicated log config for running in debug mode.

[2015-12-17 11:06] dvanherbergen commented on #514
One option would be to poll the start level in a separate thread until it reaches 100 and then publish a SystemStartedEvent.
Polling the start level can be done using https://osgi.org/javadoc/r4v43/core/org/osgi/framework/startlevel/FrameworkStartLevel.html#getStartLevel().
The rule engine could then listen for the SystemStartedEvent to trigger startup rules.

[2015-12-17 12:16] maggu2810 commented on #553
FYI #384

[2015-12-17 13:07] kaikreuzer commented on #514
Where should this polling thread be best located? Would we invent a new bundle for it?

[2015-12-17 13:08] kgoderis commented on #514
Sorry for being late to the party, but you guys have an interesting chat ;-) . Reading through all the optimisations you are doing, I was wondering if this is the time to look as well to the startup order of things in ESH? Cfr various of my posts on the different fora, as very very early adaptor of ESH OH2, there is a need to synchronise a bit how things are loaded and parsed wrt Items, Things, an

[2015-12-17 13:10] kaikreuzer commented on #514
@kgoderis You are well aware that @maggu2810 just mentioned in https://github.com/openhab/openhab2/issues/514#issuecomment-165447988 that he is actually more rigid than I am when it comes to abolishing start level order of bundles. So no, it might not the best time to come up with that ;-)

[2015-12-17 13:17] dvanherbergen commented on #514
How about org.eclipse.smarthome.core ?

[2015-12-17 13:27] dvanherbergen commented on #514
@kgoderis to really eliminate funky stuff startup issues, I believe you would also need to block event publishing during startup. This could be a possible solution:
1. Both the rule engine and event publisher startup in an inactive mode
2. In the core bundle, the system startup level is polled until the system is fully started and then emits a SystemStartEvent.
3. The event publisher picks up the

[2015-12-17 13:31] maggu2810 commented on #514
@dvanherbergen I like your idea.

But I think you can't use https://osgi.org/javadoc/r4v43/core/org/osgi/framework/startlevel/FrameworkStartLevel.html#getStartLevel().
For which start level you would like to check?
The start level that are used for bundles is product specific. The Eclipse IDE for openHBA currently uses start level 1-5. You cannot rely that at start level e.g. 100 the Eclipse Smart

[2015-12-17 13:34] kaikreuzer commented on #514
Well, the start level for "system up" would have to be configurable through config admin, I guess.

[2015-12-17 13:41] dvanherbergen commented on #514
If you use the command system:start-level on the karaf console, you can see it the 'final' level where the runtime stops incrementing is 100. I'm not sure if this is the same for both equinox and felix.

[2015-12-17 14:05] dvanherbergen commented on #514
When using the equinox runtime with -Dosgi.startLevel=100, it also increments start levels up to 100, so that should work.

[2015-12-17 14:28] maggu2810 commented on #514
If it is configurable I am fine with waiting for a special start level and act if this is reached.
For Karaf you could set the startup level that should be reached after start using etc/config.properties "org.osgi.framework.startlevel.beginning=100".

[2015-12-17 14:29] maggu2810 commented on #514
What about this one:
http://eclipsesource.com/blogs/2013/01/23/how-to-track-lifecycle-changes-of-osgi-bundles/

[2015-12-17 14:37] dvanherbergen commented on #514
It says:

wouldn't that require us to changing startup level sequences again?

[2015-12-17 14:43] maggu2810 commented on #514
Just one other idea.
If we want to wait until the bundle1, bundle2 and bundle3 has been started.
Would it be an option that every bundleX register (after successful start) a service bundleXready or something similar and stop that dummy service if it is stopped.
Another bundle is using a service tracker to track that services and if all are ready it signals an system completely started (through eve

[2015-12-17 14:44] ANierbeck commented on #514
Guys, afaik Karaf has a service which is available in case a certain
StartLevel is reached. This one is also used to wait for Karaf BootFinished
in the Pax-Exam tests.
Btw. the Interface is called BootFinished, maybe that'll help you already
and get rid of the StartLevel thinking ;)

2015-12-17 15:37 GMT+01:00 dvanherbergen <notifications@github.com>:

--

Apache Member
Apache Karaf <http://karaf.

[2015-12-17 14:48] dvanherbergen commented on #514
@kaikreuzer will smarthome also move to karaf? If so, then BootFinished sounds like a good option.

[2015-12-17 14:52] ANierbeck commented on #514
Just in Case one wonders,
if all BootFeatures are installed and the feature service tells that it's
done,
the BootFinished Service is published [1]

regards, Achim

[1] -
https://github.com/apache/karaf/blob/master/features/core/src/main/java/org/apache/karaf/features/internal/service/BootFeaturesInstaller.java#L115

2015-12-17 15:49 GMT+01:00 dvanherbergen <notifications@github.com>:

--

Apache

[2015-12-17 14:56] maggu2810 commented on #514
@ANierbeck Hi, you know, I love Karaf :wink:, but I don't believe it is an option for the Eclipse SmartHome framework. The framework does not depend on stuff like Karaf etc.

For openHAB it would be an option but not for Eclipse SmartHome bundles.

[2015-12-17 14:57] maggu2810 commented on #514
So I think we have to use something in the Eclipse SmartHome framework that does not depend on Karaf and does (hopefully) not depend on start levels.

[2015-12-17 15:10] dvanherbergen commented on #514
Another bundle is using a service tracker to track that services and if all are ready it signals an system completely started (through event or another service)?

That would require knowing up front how many bundles will be loaded...

[2015-12-17 15:22] kgoderis commented on #514
Maybe we need even more/better start levels to make the startup more deterministic? behold I am not a Karaf expert at all, I am just suggesting the opportunity ;-)

[2015-12-17 15:24] kgoderis commented on #514
+1

This could be generalised for every core element. e.g. Item parsing and so forth. Also, we should make sure that any thread that deals with parsing or alike is not exiting ungracefully (I think it is still the case, making debugging troublesome for one)

[2015-12-17 15:30] maggu2810 commented on #514
Have another idea. Will check it tomorrow, have to drink beer now ;)

[2015-12-17 15:32] dvanherbergen commented on #514
Not only that, but if we think long term, I believe this approach could also work in a distributed setup. So that your rule would not start until the master and all slave instances have started.

@maggu2810 enjoy!

[2015-12-17 15:42] ANierbeck commented on #514
@maggu2810 ... I didn't suggest it :-)
I wasn't even aware of that project.

All others, never the less one should really get rid of thinking
start-levels is a good idea to manage your application, rather make sure
you depend on certain services instead.

regards, Achim

2015-12-17 16:33 GMT+01:00 dvanherbergen <notifications@github.com>:

--

Apache Member
Apache Karaf <http://karaf.apache.org/>

[2015-12-17 16:11] peuter commented on #533
Its the current release version 4.0.39 and it seems to be licensed under GPL.

If I have to add every package used by quercus which is not java.* it could be a very long list. Is there a  way to configure Karaf in a way that this is not needed (as is the current master branch).

[2015-12-17 19:50] hmerk commented on #545
Can be closed as I started implementing these in ESH binding.

[2015-12-17 19:55] #545 closed

[2015-12-17 20:25] kaikreuzer commented on #533
This is an aspect that I completely overlooked when reviewing the cometvisu PR. :-|
It actually means we cannot keep it in our repository and we cannot bundle it with the openHAB 2 distribution at all, because GPL is not at all compatible with the EPL....
@peuter: Is this an integral part of the CometVisu, which cannot be removed or made an optional part?

[2015-12-17 20:42] kaikreuzer commented on #514
Eclipse SmartHome will stay a set of OSGi bundles to be picked up. So no, Karaf etc. won't be introduced there.

But what we should do is to design these bundles in a way that solutions like openHAB can define how they want to handle the system lifecycle. As @ANierbeck suggests, in ESH, all we want to make sure is that these bundles are good OSGi citizens and respect the dynamic features of OSGi -

[2015-12-18 08:08] maggu2810 commented on #514
@kaikreuzer
Could we move the start / stop code of the bundle activators of the org.eclipse.smarthome.model.*.runtime classes to DS implementations (immediate=true)?
So openHAB could create another DS (e.g. BootupDone) that reference the services it needs for startup (cardinality=1..1, policy=static) and trigger runStartupRules in that activate method?

[2015-12-18 08:09] maggu2810 commented on #514
As a collection of bundle that are no product themselves we should remove that.

[2015-12-18 09:33] kaikreuzer commented on #514
Possibly yes, but I can imagine that we run into all kinds of Xtext initialization problems - getting Xtext with its dependencies to start up correctly has always been a challenge... But we can of course have a try.

[2015-12-18 10:14] maggu2810 commented on #514
Changes are prepared, will test it later (other stuff to do)...
https://github.com/eclipse/smarthome/compare/master...maggu2810:ds-model-runtime?expand=1

[2015-12-18 10:45] kgoderis commented on #514
I am a complete noob when it comes to Karaf (side note: maybe I am not alone but I do not fully grasp what you try to do with Karaf in the first place), but based on what I understand, could a solution not lie in a clever usage of "system" Events on the ESH bus? At least some bindings - if they need to - or other building blocks from the core can figure out when to do stuff, e.g. use RuleEngineSta

[2015-12-18 11:03] dvanherbergen commented on #514
Why create another DS if you can use the karaf built-in BootFinished service? I believe it would be better to use BootFinished instead. This way, you know all bundles will have been loaded. If you create BootupDone, how will you know that all the bindings which are needed to execute the result of the startup rules will be loaded?

These are not mutually exclusive. It would be possible to use the B

[2015-12-18 11:07] kaikreuzer commented on #514
I guess the idea is to have the BootFinished service to depend on BootFinished, RuleEngine, etc. - so it will be activated as soon as all these services are in place.

[2015-12-18 11:11] dvanherbergen commented on #514
Ah, OK. So BootupDone would depend upon BootFinished, so that it activates upon receiving that service. And then it could send the SystemStartedEvent ;-)

[2015-12-18 15:18] peuter commented on #533
The CometVisu can work without quercus (as it does before in the old openhab1 binding), it only adds some nice features so that the binding fully supports all CometVisu features. As I am not familiar with the licensing issues I have some questions how to proceed.

1. Is it possible to remove the quercus.jar from the repository and only load/add is at build time (like its done with some of the mary

[2015-12-18 16:44] maggu2810 commented on #549
But why didn't you take the chance to throw out even more ballast from that jar?

Just a matter of time.

[2015-12-18 17:39] maggu2810 commented on #514
I have create a PR for Eclipse SmartHome, so we could test if this goes in the right direction. https://github.com/eclipse/smarthome/pull/757

[2015-12-18 21:42] #557 closed

[2015-12-18 21:47] kaikreuzer opened #563 "pax-web results in warning messages"
When starting the runtime, I have warnings like
[code]
and
[code]
in my log file. It seems that these are due to the whiteboard mechanism of pax-web, i.e. pax-web scans for all OSGi services that are servlets and tries to register them on the httpService.

Since all ESH servlets depend themselve on the HttpService and register there by themselves, the whiteboard functionality of pax-web is not des

[2015-12-18 21:49] kaikreuzer commented on #563
Note that we also do not need the JSP and web-application functionality - so I would assume that we could also shrink the number of bundles a bit by not using pax-web.

@maggu2810: Possibly I am too ignorant here - what are the main benefits of pax-web from your pov?

[2015-12-18 21:51] dvanherbergen commented on #563
This is a nasty one. I had a deeper look into this and this appears to be caused by a class loader bug. It doesn't affect functionality, so it would be possible to just turn down the log level for that class.

[2015-12-18 22:22] maggu2810 commented on #563
I prefer using upstream projects, contact the maintainer and help to fix bugs or implement features.

There are other features, too (not only the pax-web) that could be inspected if there is a smaller subset of the jetty bundles.

If @dvanherbergen already looked at the source of that warning, and states that there is no functionality affected, we could use the logger configuration to suppress log

[2015-12-18 22:34] kaikreuzer commented on #563
This might be quite some effort with regular updates. We e.g. now have Jetty 9.2.10 from March in the distribution. Looking at the Jetty download site (http://download.eclipse.org/jetty/) there have been many further releases since then (and 9.3 is specifically interesting for HTTP2 support).

I also found https://groups.google.com/forum/?fromgroups#!topic/ops4j/NC6V4YgEdis and applied the workaro

[2015-12-18 22:40] kaikreuzer commented on #563
Btw, I have just seen that there is also a "jetty" feature, besides "pax-jetty":
[code]
Wouldn't this do the job for us?
Additionally, there are 2 "http service implementations" started:
[code]
Are they really required when using Jetty (which implements http service itself)?

[2015-12-18 22:54] kaikreuzer commented on #514
And for the time being I have created https://github.com/openhab/openhab2/pull/565 as a quick fix :-)

[2015-12-18 23:16] kaikreuzer opened #566 "smarthome console commands are not available"
The feature shk-esh-io-console-karaf is not installed, but it should imho be there by default

[2015-12-19 10:48] maggu2810 commented on #563
FYI IIRC the Pax Web and the used Jetty version is bumped on Karaf 4.0.4.

[2015-12-19 10:49] maggu2810 commented on #563
You could use <code>feature-info featurename</code to get more informations about a feature (e.g. bundle set, other involved features, etc.).

[2015-12-19 11:01] maggu2810 commented on #563
Really, I have not tried it, but it sounds easy to use a newer Pax Web version in Karaf.
http://karaf.922171.n3.nabble.com/Easy-way-to-upgrade-pax-web-in-karaf-4-tp4044305p4044307.html

Or do you think about that the openHAB will create regular feature sets for every new Jetty version?
I think this could be quite some effort...

[2015-12-19 15:19] dvanherbergen commented on #495
I've created a first version of an openHab installer that wraps the karaf service. However, when testing I found that it works fine on OS X and doesn't work on a raspberry pi v1 (ARMv6 - https://issues.apache.org/jira/browse/KARAF-2734). Even on Windows 7 the default karaf service doesn't work properly... :disappointed:
Alternatives to JSW are http://yajsw.sourceforge.net/ or http://commons.apache

[2015-12-20 11:30] #566 closed

[2015-12-21 19:04] kaikreuzer commented on #563
pax-jetty alone contains
[code]
In the current openHAB 2 distro, we don't have any of the websocket stuff, no jndi, jmx, continuation, etc - so I guess it is notable lighter.

As all the jetty bundles seem to be available in Maven repos, I think it hardly means any effort to simply define our own feature for it; upgrading will usually only mean to increase the version number.

[2015-12-21 19:10] kaikreuzer commented on #495
Hrmpf, the service wrapping was one of the main features why I liked switching to Karaf...
I had already seen that it does not work on ARMv6, but I think it is ok to require AMRv7 nowadays, so that is not a blocker for me. Do you have a reference regarding Windows 7 problems? Does it at least work on Win 8/10?
I have no idea, how much effort it would mean to switch to another wrapper. If it were e

[2015-12-21 20:46] dvanherbergen commented on #495
The pi1 seems to be too slow for openHAB anyway..
I'm wondering if the windows 7 issues may be related to my machine, it's security settings are rather strict.
I don't have access to a windows 8/10 machine, so I can't verify those.
I've created a PR which contains the openHAB command. It calls the karaf install service internally and then updates the config files, so it should work on all platform

[2015-12-22 08:05] dvanherbergen commented on #563
+1 for trimming down the web server. If a user really needs war support to deploy their own application, I believe it is safe to assume they are also capable of adding war support themselves.
What is the minimum http support that is really needed? I guess only an OSGi HttpService implementation for JAX-RS and the capability for static file serving? Anything else that we really need?

[2015-12-22 08:15] kaikreuzer commented on #563
Yes, this should be enough. Jetty 9.3 with HTTP/2 support would be nice (I am not sure if HTTP/2 is an optional part or baked into the server already).

[2015-12-22 08:25] dvanherbergen commented on #563
@maggu2810 do you see any other reasons to stick with pax-web/pax-jetty? If not, I'll start removing pax-web.

[2015-12-22 08:53] maggu2810 commented on #563
I have not inspected all Karaf features, but I believe for stuff that is not only a dependency (httpservice impl. will be a dependency, that is necessary to resolve the bundle; a special webserver is no real dependency, but a feature we want) there could be some feature deps. already be used.

e.g.
* feature webconsole is using feature http
* feature http is using pax-http
* pax-http is already us

[2015-12-22 12:39] dvanherbergen commented on #563
OK, I'll start from there. I only wish Karaf had better documentation.

[2015-12-22 13:31] dvanherbergen commented on #563
I just came across this:

The highest version supporting Java 7 is 9.2.14. Maybe it's time to consider moving OH2 to Java 8 too?

[2015-12-22 13:49] kaikreuzer commented on #563
Oops, then I change my mind and opt for 9.2.14 :-)

It is considered, but not before next year. And we would like to go for Java 8 CP2 directly, which might cause some additional problems ;-)

[2015-12-22 13:51] kaikreuzer commented on #563
Ah, wait, this statement was actually for ESH, not OH2.
So we could actually discuss to require Java 8 for OH2 right from the start. Any opinions?

[2015-12-22 13:59] maggu2810 commented on #563
IIRC I sent you already a mail where I asked for the Java version.
The background has been that I read Jetty 9.3 and Karaf 4.1 will use Java 1.8.

IMHO a :+1: for 1.8

[2015-12-22 13:59] dvanherbergen commented on #563
+1 for Java 8 too. Given that OH2 is not officially released yet, I think it make sense to jump to 8 rather than to require users to change their setup later. And if OH2 would stick with 7, then users would probably run it against 8 anyway and maybe discover issues. If we are all using 8 it simplifies testing...
And I'm also keen on trying the HTTP/2 ...

[2015-12-22 14:10] kaikreuzer commented on #563
Ok, agreed then.
I also think it is easier since we only have to test against one Java version.
Also the new rule engine makes use of Nashorn, which only comes with Java 8.

[2015-12-22 15:45] #495 closed

[2015-12-22 15:51] kaikreuzer commented on #563
@dvanherbergen Btw, when working on the Jetty feature, maybe you can have another look at the certificate generation - if I check the certificate delivered by the web server, it says it is created at "Tuesday 11 June 2013 at 22 h 02 min 35 s" - so this is not the generated one.

Also note that we currently have two jetty.xmls: one in runtime/etc and the other in runtime/karaf/etc.

[2015-12-22 15:54] dvanherbergen commented on #563
The last time I checked, it only regenerates the certificate if none already exists. Since we already include one by default in the keystore, there is no new one generated. To trigger generation, you can just delete the keystore. Or alternatively, we could remove the default keystore from the distribution. That way it will always generate on the first startup.
I'll check the duplicates xmls.

[2015-12-22 16:00] kaikreuzer commented on #563
Well, the logic is that the keystore has to be there, but the bundle checks whether the certificate already exists in it: https://github.com/openhab/openhab2/pull/402/files#diff-06e60a1b4606c9f5c9cb291b26fdb67dR82
So maybe we accidentally have the generated certificate in there already - the version from the current distribution should be without it (https://github.com/openhab/openhab2/blob/master

[2015-12-22 16:02] dvanherbergen commented on #563
OK, I will verify and remove it, if it exists.

[2015-12-23 09:32] dvanherbergen commented on #563
@maggu2810 do we really need this dependency on the war feature?
[code]

[2015-12-23 10:08] maggu2810 commented on #563
@dvanherbergen No, we do not need this.
If you have a look at my changes yesterday, I moved them already.
I started to differ between stuff that is necessary for the target platform and stuff that is used in the shk runtime (example dist. on this project).

Here it is already moved:
https://github.com/maggu2810/shk/blob/master/features/base/src/main/feature/feature.xml

If you look at the current

[2015-12-23 10:27] hakan42 commented on #365
@FallenRiteMonk , any progress yet? If not, I'd love to try my hand on this as I need some monitoring on my OH2 server :smile:

[2015-12-23 11:16] FallenRiteMonk commented on #365
@hakan42 sorry must have missed out on the first message, but I haven't done anything yet as I couldn't find any time for it!

[2015-12-23 13:53] hakan42 commented on #365
o.k., I started something at https://github.com/hakan42/openhab2/commits/systeminfo-binding

Let's see how it progresses and whether this will turn into yet another of my dead unfinished branches :smile:

[2015-12-23 19:51] dvanherbergen commented on #563
Updating Jetty appears to be a bit trickier than I expected. I tried to:
1) create an openhab-jetty feature based on jetty as suggested by maggu2810
2) create an pax-jetty feature with a higher version number than used in pax-web.

In both cases, no matter what I tried, the original pax-jetty jars were still included in the assembly. This would mean that we would end up including 2 versions of jet

[2015-12-23 22:27] kaikreuzer commented on #563
Did you find out why this is the case? Is pax-web an integral part of Karaf that one cannot get rid off?

What about at least upgrading to pax-web 4.2.4, which brings Jetty 9.3.5? Or did you want to wait for Karaf 4.0.4 to be released, which will automatically bring this update?

[2015-12-24 08:02] dvbit opened #576 "Everspring sm103 recognized as hsm02"
As per the title. The device is recognized incorrectly.  Thereafter it is not working

[2015-12-24 08:16] cdjackson commented on #576
I guess this is an OH1 issue, or are you using the OH2 binding (seems very unlikely since these devices aren’t supported).

Please open an issue on the OH1 issue list and provide the type / id of your device.

[2015-12-24 08:26] dvanherbergen commented on #563
Can I ask where you found this info? I'm finding it difficult to find any up-to-date documentation op pax-web. E.g http://ops4j.github.io/pax/web/4.2.x/index.html https://ops4j1.jira.com/wiki/display/paxweb/Pax+Web

I will have a look at 4.2.4. Maybe I can get it to work with that one.

[2015-12-24 09:09] #576 closed

[2015-12-24 09:35] kaikreuzer commented on #563
Sorry, this was actually a misinformation. Jetty 9.3 only comes with pax-web 6, which is currently only available as SNAPSHOT (http://ops4j.github.io/pax/web/SNAPSHOT/#PaxWeb-PaxWeb6.0.x).

A question regarding your blacklisting: Does this also deactivate the whiteboard feature of pax-web? This actually seems to cause quite some problems, so it would be important to get rid off it.

[2015-12-24 09:57] maggu2810 commented on #563
@dvanherbergen
pax-jetty should be used only if the dependencies are not resolved already (dependency=true).
Have you installed e.g. openhab-jetty in front of the other stuff that brings jetty in, e.g. using prerequisite?

[2015-12-24 10:09] dvanherbergen commented on #563
The whiteboard feature is no longer loaded once the war feature dependency in esh is removed, so it won't be necessary to blacklist. That being said, it is possible to blacklist both bundles and features.

That's what I tried. Maybe I missed something in the sequencing. I will have another look.

[2015-12-24 13:06] dvanherbergen commented on #563
In the [karaf feature repo] (https://github.com/apache/karaf/blob/master/assemblies/features/standard/src/main/feature/feature.xml), there is a direct link to the pax-web feature repo. The http feature in karaf requires pax-http, so when there is a dependency on http, this appears then to pull in pax-web. Pax-web itself has a dependency on jetty in the pom, so that probably causes the jetty bundle

[2015-12-24 13:22] dvanherbergen commented on #563
There is a tomcat dependency too, so it must be something else which causes the include.

[2015-12-24 13:35] maggu2810 commented on #563
So at this point, I'm leaning back towards the quick fix of using a blacklist.

I am always interested to do as much work as possible for the upstream project.

If this is working, why not? I am fine with it.

Why stated that increasing the version does not work.
I have very little time, but I tested:
[code]
and this one is used instead of the normal pax-jetty then.

I think we should ask the Kara

[2015-12-24 13:40] maggu2810 commented on #563
I tested this ony

[code]

After installing test-runtime there is no jetty bundle "jetty-plus" or "jetty-webapp" installed. So it should work. Or didn't I get the point? As you can see, I used the same version as the original pax-jetty.

What did not work for you?

[2015-12-24 13:52] dvanherbergen commented on #563
Not installed during runtime, I assume? But the bundles are still included in the distribution (karaf/system/org/eclipse/jetty/) right?

I tried adding the your feature to the feature.xml that defines the openhab-runtime. I also added  <feature prerequisite="true">test-jetty</feature> as the first entry in the openhab-runtime feature definition.

After launch, I can see both pax-jetty and test-jet

[2015-12-24 14:04] maggu2810 commented on #563
Didn't check that. I would check that later, if the other problem is solved.

Have you added test-jetty with prerequisite="true" to the runtine.

[2015-12-24 14:16] dvanherbergen commented on #563
Yes, like this:
[code]

Did you do your testing on a clean project or on openhab?

[2015-12-24 14:22] kaikreuzer commented on #563
Why? Do you have any other plans for tonight than coding? ;-)

This sounds unexpected. The whiteboard service is for registering servlets and thus it is not related to wars. So why does the removal of the war feature have an impact on the whiteboard service?

What I am wondering in general: I thought our initial Karaf distro didn't at all use pax-web but had the Jetty bundles included like they we

[2015-12-24 14:23] maggu2810 commented on #563
I did the test using the shk example distro. Bacause I want to ensure that there are no other side effects.
I have very very rare time at the end of this year now. Sorry

[2015-12-24 14:27] dvanherbergen commented on #563
I just did another test: I removed the feature.addons / feature.addons.external / feature.demo and feature.demo.resources dependencies from the feature.aggregate.xml.
After this, I get the same behaviour: only test-jetty is loaded. I'll dig further to see which of these is causing the pax-jetty to be included.

[2015-12-24 14:39] dvanherbergen commented on #563
The pax-war feature depends on the pax-http-whiteboard feature.

[2015-12-24 14:42] maggu2810 commented on #563
A requirement for Kai was to have a distribution where all (OH2) features could be installed offline (no remote repo is used ATM).
So we have to ensure that all jars are added to the distribution.
We could use the KARs for that.
If you add a KAR to the dependencies of your distro, all the bundles (and its deps) are added to the bundled repo in the systems directory. Depended on the scope all featu

[2015-12-24 14:50] dvanherbergen commented on #563
No problem with bundling everything. I just noticed I had some other changes in my workspace which could be causing the difference to. I need to dig a little further. More news to follow..

[2015-12-24 15:21] dvanherbergen commented on #563
What I'm seeing now, is that when one of the features includes a dependency on the karaf http feature (like shk-jax-rs-min), that this triggers the pax-jetty to be included again. However, if the dependency is on pax-http, then only the test-jetty is included.

@maggu2810 you should get the same behaviour if you use
[code]

[2015-12-24 16:18] maggu2810 commented on #563
@dvanherbergen Correct. Perhaps this is caused because there is a dependency=false in the feature chain.

Perhaps @ANierbeck could help us with this problem about using a custom jetty feature. For the Pax Web feature repo I am pretty sure that it should be allowed to use a custom provider.

[2015-12-24 17:13] ANierbeck commented on #563
Guys just skimmed through your  ideas. Just one quick note, should have asked me earlier. Will get back to you later.

[2015-12-24 19:31] dvanherbergen commented on #563
@ANierbeck in which timeframe would pax-web-undertow (pax-web 6.0.0?) become available?
Given that [undertow] (http://undertow.io) is intended to be lightweight and supports HTTP/2, this may be a better choice for openHAB than Jetty.

[2015-12-24 22:07] ANierbeck commented on #563
Hi,

first of all, I doubt building your own http-service purely on Jetty is a bad idea, and this isn't only because I'm biased. I'm very certain you'll step in a lot of trip-holes I went through to have all of pax-web working.

Second, the features in Karaf and Pax-Web might seem a bit strange, now let me explain their functionality. The Karaf http feature is a "wrapper" or "proxy" feature cause

[2015-12-26 08:50] dvanherbergen commented on #563
Thanks for the input @ANierbeck

Does this mean it is best practice to depend directly on pax-http rather than on http?

That's great. I will explore this further, as undertow looks very promising.

[2015-12-26 09:41] ANierbeck commented on #563
Hi,

not really, as the http feature also provides additional useful commands, like http:list

regarding the stripping of the pax-jetty feature, after thinking about this, I think a couple of those jetty bundles could be placed into conditionals, for example make sure the websocket ones are only available if the http-whiteboard feature is installed, and the jmx bundles are only installed if the jm

[2015-12-26 19:05] SuperOok commented on #548
For IE11 the problem is the compatibility mode. It gets activated by default for "intranet sites", which might be often true for openhab servers. I configured by IE11 in the security settings and now it works fine as expected.
To give a better out-of-the-box-experience, you could add the meta-tag for forcing to not use IE7 compatibility mode:
http://stackoverflow.com/questions/25557299/internet-ex

[2015-12-26 19:29] SuperOok opened #577 "Jetty not starting: keystore missing"
[Build 450](https://openhab.ci.cloudbees.com/job/openHAB2/450/) runtime fails to start the webserver out-of-the box with the warnings below. After copying the keystore from an old installation, it worked just fine. Is this a but or a feature? Was I supposed to create the keystore manually or smthg like that?

Running on Raspberry Pi 2.0 with Raspbian.

[code]

[2015-12-26 21:09] kaikreuzer commented on #548
@resetnow Could you create a PR with that meta-tag?
Did you already check for the missing icons/fonts?

[2015-12-26 21:14] kaikreuzer commented on #577
The certificate is generated at startup, see https://github.com/openhab/openhab2/issues/2.
It is possible that this process takes too long on a RaspPi and the Jetty is started up without the certificate. But on the next restart, it should be there. Could you check?

[2015-12-26 21:15] resetnow commented on #548
@kaikreuzer I wish I could, I'm still struggling with wetting the whole environment up, sorry. Cleaning maven cache seems to have helped with compilation, but now I can't view any sitemap from Classic/BasicUI with the default configuration.

[2015-12-26 21:17] kaikreuzer commented on #548
Hm, I thought you have the openHAB 2 IDE setup successfully? What has changed about that?

[2015-12-26 21:39] resetnow commented on #548
I haven't updated my forks in a while — maybe that's the reason. Also, I'm trying to use ESH only, will try with OH2, thank you,

[2015-12-26 23:06] SuperOok commented on #577
I cannot confirm yet. I restarted multiple times but no keystore got created. Even after 30 minutes nothing was created.

[2015-12-26 23:21] SuperOok commented on #548
![openhab-icons](https://cloud.githubusercontent.com/assets/10581272/12008258/885827f8-ac2f-11e5-9f9a-d9aa3c6a8617.png)

So here's the overview for build 450: Besides https://github.com/eclipse/smarthome/issues/738 the Firefox and Chrome show correct icons. iOS shows wrong icons and IE11 shows no icons for this control (and back button). IE11 icons for most other controls are there.

[2015-12-26 23:41] SuperOok opened #578 "Basic UI: selections cannot be done multiple times"
I have quite a few scenes with commands in the resulting drop down list like "close all rollershutters" and "open all rollershutters".

In basicui (as well as in greent if I remember correctly) I cannot select the same dropdown item successively. The second selection just has no effect. In the classicui as well as in the iOS-app, the same selection can be done multiple times and the effect is just

[2015-12-26 23:42] kaikreuzer commented on #578
Thanks for testing the Basic UI, it is very important to get it working smoothly soon. Since the code is maintained at Eclipse, may I ask you to enter all issues about it at https://github.com/eclipse/smarthome/issues? Thanks :-)

[2015-12-26 23:42] #578 closed

[2015-12-26 23:47] SuperOok commented on #578
Ok: https://github.com/eclipse/smarthome/issues/784

[2015-12-26 23:47] kaikreuzer commented on #578
:+1:

[2015-12-27 06:40] sja commented on #88
I've got performance problems on my Raspberry.

My Szenario:
RPi 1B: "rfpi" with homegear latest stable and a CUL Stick and a SCC board for MAX and Homematic
RPi 2B: "openhab" with your binding

At first I tried to just add the homegear bridge and let device discovery do the rest. That was a bad idea, because the last logs I saw from rfpi was homegear's 50 threads limit reached ... and the pi neve

[2015-12-27 10:32] resetnow commented on #548
@SuperOok thanks for testing.

As it turns out, some font files taken from PaperUI use different character codes for icons (probably different font version). It should work now (PR: eclipse/smarthome#785).

![2015-12-27 13-24-30 screenshot](https://cloud.githubusercontent.com/assets/2057191/12009892/1f947c3e-ac9e-11e5-90b6-328305a5f6c0.jpg)

[2015-12-27 12:08] resetnow commented on #548
@kaikreuzer quick question: should REST API work out-of-the-box when using openHAB_with_ESH configuration? I'm getting `HTTP/1.1 503 Jersey is not ready yet!` for every REST request. `com.eclipsesource.jaxrs.jersey-all` and `com.eclipsesource.jaxrs.jersey-min` are enable in the run configuration.

[2015-12-27 13:26] kaikreuzer commented on #548
Yes, it should work. Try the launch config from the repo (revert all your local changes).  jersey-all is not part there, only jersey-min. Also check the other jaxrs bundles:

<img width="574" alt="bildschirmfoto 2015-12-27 um 14 24 59" src="https://cloud.githubusercontent.com/assets/3244965/12010407/c6396444-aca5-11e5-9246-1d9de9046a8e.png">

[2015-12-27 15:43] kaikreuzer commented on #577
Note: I won't spend time to investigate this further, since we will hopefully switch to the Karaf-based distribution very soon (which might have the same problem, but the fix might be a different one).
If you are interested yourself, have a look at https://openhab.ci.cloudbees.com/job/openHAB2-Karaf/ and feel free to start testing it as well.

[2015-12-27 22:05] resetnow commented on #548
That's strange, I have these bundles enabled.

For the record, the default configuration does not work at all for me, showing the following window:

![screenshot from 2015-12-28 00-59-01](https://cloud.githubusercontent.com/assets/2057191/12012282/a8a2dfe2-acfe-11e5-806b-0224637f372c.png)

After I press «Add required plug-ins» button OH2 starts and web interfaces work, but the REST API doesn't.

O

[2015-12-27 22:42] kaikreuzer commented on #548
FTR: Never ever press this button, it is EVIL!

I'd suggest that you go with the normal "non-esh" launch configuration and simply add the basicui bundle from your workspace (and deselect the one from the targetplatform). This should be all you need.

[2015-12-28 19:17] larsste opened #581 "Error when trying to display rfxcom temperature item, IllegalFormatConversionException"
There seems to be some issue with my rfxcom things/items. They where discovered correctly and I have linked the relevant channels to items.

When I bring up the sitemap I get an exception in the log and the item in the UI shows up as Err

`Exception while formatting value '5.20000000000000017763568394002504646778106689453125' of item Kyl_Temperatur with format '%d °C': java.util.IllegalFormatConve

[2015-12-28 21:24] GradyD opened #582 "UI dev wanting to help"
Hey everyone,

I'm a UI dev that would love to help out on this project. The downside is that I am not really a java dev. It looks like you guys are using java with jetty to server up the web app, service oriented architecture?. Has there been any discussion of moving to a REST based API with node for the UI? Mainly decouple the UI and the business logic, if you are familiar with what Netflix has

[2015-12-28 21:34] kaikreuzer commented on #582
Hi @GradyD,

I would love to have more UI developers on board!
I am not completely sure what node.js would bring as a benefit though. Afaik, it is the "headless server" part, which would somehow conflict with the openHAB runtime itself.
Note that openHAB decouples the UI through a REST API already, see https://www.eclipse.org/smarthome/documentation/features/rest.html.
All "modern" openHAB UIs (Pa

[2015-12-28 22:14] kaikreuzer commented on #581
@paulianttila Could you have a look at this?

[2015-12-28 22:14] GradyD commented on #582
Since this is not really an application of scale I should have just referred to using an API based UI. Node would allow a light weight web server to be spun up but since you already have to spin up the jetty server for the REST APIs it makes sense to couple these together.

Thanks for that link. I did some reading on the REST API as well as looking into the eclipse smartHome repo where I found the

[2015-12-28 22:38] kaikreuzer commented on #582
Eclipse SmartHome is indeed the right place to look at - the code of the UIs is located there.
We are tracking the bugs and todos there as well, see
https://github.com/eclipse/smarthome/labels/PaperUI and https://github.com/eclipse/smarthome/labels/BasicUI

Wrt current activities on openHAB 2, you might also want to read and follow https://community.openhab.org/t/merry-christmas-and-a-brief-outloo

[2015-12-28 22:38] #582 closed

[2015-12-28 22:40] kaikreuzer commented on #582
What I forgot: Let us discuss any further discussion on https://www.eclipse.org/forums/index.php/f/271/ - so feel free to come up with ideas about new UIs or features for the existing UIs there.

[2015-12-29 06:50] cschneider opened #583 "New binding for Kostal Piko Inverter"
The Kostal Piko Inverters can be attached to LAN and provide a simple webinterface. Several attributes can be read from this interface by scraping the html.

This approach can be adapted for other models but for now I will start with the model I have.

[2015-12-29 14:06] dvanherbergen opened #587 "openHAB2-Karaf fails due to wrong Java version"
The karaf branch was updated to use Java 1.8.
The cloudbees build fails because it still uses 1.7:
[code]

[2015-12-29 21:43] kaikreuzer commented on #587
Unfortunately, Cloudbees does not offer OracleJDK 8 at all :-(
So I have changed the build to use OpenJDK 8 instead:
[code]
As there is currently a problem with the cloudbees maven repo, the build fails and I cannot test.

Please note that the build job has also been renamed to https://openhab.ci.cloudbees.com/job/openHAB-Distribution/

[2015-12-29 21:43] #587 closed

[2015-12-29 22:00] dvanherbergen commented on #587
Oracle JDK is listed as supported [here] (https://cloudbees.zendesk.com/hc/en-us/articles/203601234-CloudBees-Jenkins-Platform-Supported-Java-Versions).

[2015-12-29 22:01] dvanherbergen commented on #587
Maybe it's related to [this] (https://cloudbees.zendesk.com/hc/en-us/articles/204960114-How-to-set-the-available-JDK-versions)

[2015-12-29 22:09] kaikreuzer commented on #587
Thanks, that helped! I had to manually add the Oracle JDK to the Jenkins instance and then I was able to select it in the build plan.

[2015-12-29 22:10] kaikreuzer commented on #563
@dvanherbergen So what is the short-term consequence of this discussion (while waiting for Karaf 4.1...)? We will at least need a solution to get rid off the whiteboard mechanism.

[2015-12-29 22:13] ANierbeck commented on #563
get rid of whiteboard is easy, just use the http feature.
Pax-Web provides three features:
- pax-http
- pax-http-whiteboard
- pax-war

all of them are proxied by karaf:
- http
- http-whiteboard
- war

[2015-12-29 22:15] dvanherbergen commented on #563
It should disappear by itself soon. It was only there due to a dependency on the war feature in shk-tp-base feature. But after the [refactoring] (https://github.com/maggu2810/shk/blob/master/features/base/src/main/feature/feature.xml) by @maggu2810 , the war dependency is moving to the shk-runtime, on which the openhab-runtime should not depend.

[2015-12-29 22:19] kaikreuzer commented on #563
Hm, then it depends on when @maggu2810 will release a new version of shk. The last thing we agreed on was that I could temporarily copy all his work, since he did not feel to be able to release a new version anytime "soon" (at least not soon enough, i.e. within the next few days).
@maggu2810 Is this still the case or do you think your refactoring is already good enough to be released and used?

[2015-12-30 10:27] dafal opened #588 "KNX connection through NAT"
Hi,

I have just migrated my openhab server at home from a centos server to a docker container.  Everything just works fine except the KNX binding.  I found the reason for this.  I see in the code (KNXConnection.java) that the KNXNetworLink method return a KNXNetworkLinkIP with by default the useNat param set to false (line 263).  However, when you use openhab in a docker you have to use NAT (mana

[2015-12-30 10:34] kaikreuzer commented on #588
Not that there is no KNX binding in this repo (openHAB 2 addons).
If you want to discuss a feature request, please do so at https://community.openhab.org/.
For filing bugs on the KNX binding, enter an issue at https://github.com/openhab/openhab/issues.
Thanks!

[2015-12-30 10:34] #588 closed

[2015-12-30 10:37] dafal commented on #588
Indeed, my mistake I was in the wrong repository.  Sorry.

[2015-12-30 10:41] paddsen commented on #548
The fixed version does not work for me at the moment. The org.eclipse.smarthome.ui.basic....jar contains the correct snippets, but I think the wrong version is referenced by the artifacts.xml. After fixing this, my version works perfectly in IE11 and Edge and my simple WebView UWP app (using basicui).

[2015-12-30 21:31] kaikreuzer commented on #548
Which artifacts.xml do you mean?

[2016-01-01 09:50] mickey4u opened #590 "New OpenHab 2 Setup (openHAB 2 Feature Verification Failure)"
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO] openHAB Feature Addons External .................... SUCCESS [  2.076 s]
[INFO] openHAB 2 Feature Addons ........................... SUCCESS [ 13.200 s]
[INFO] openHAB 2 Feature Verification ..................... FAILURE [ 48.294 s]
[INFO] openHAB Products ................................

[2016-01-01 10:14] mickey4u opened #591 "Validation (org.eclipse.jetty.annotations)"
When I try running a binding, a dialog appears like this
![screenshot from 2016-01-01 05-12-36](https://cloud.githubusercontent.com/assets/15174041/12070499/55f010da-b046-11e5-9a65-60c06974318b.png)

[2016-01-01 11:02] mickey4u opened #592 "Errors (Console Logs when running a binding in the eclipse IDE)"
SLF4J: The following loggers will not work because they were created
SLF4J: during the default configuration phase of the underlying logging system.
SLF4J: See also http://www.slf4j.org/codes.html#substituteLogger
SLF4J: org.eclipse.smarthome.model.item.runtime.internal.ItemRuntimeActivator

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) lo

[2016-01-01 11:55] kaikreuzer commented on #590
Should already be fixed by https://github.com/openhab/openhab2/pull/589

[2016-01-01 11:55] #590 closed

[2016-01-01 12:07] kaikreuzer commented on #592
I just tried to official openHAB_Runtime launch config from the latest master and all works fine with it.

[2016-01-01 12:07] #592 closed

[2016-01-01 12:07] kaikreuzer commented on #591
I just tried to official openHAB_Runtime launch config from the latest master and all works fine with it.

[2016-01-01 12:07] #591 closed

[2016-01-01 12:44] mickey4u commented on #591
Wow I installed mine this monday

[2016-01-01 12:45] mickey4u commented on #591
Please what do suggest I do to fix it

[2016-01-01 13:25] kaikreuzer commented on #591
I doubt that there has been anything changed since Monday.
Try following https://github.com/openhab/openhab2/blob/master/docs/sources/development/ide.md step by step.

[2016-01-01 14:42] mickey4u commented on #591
I installed it again and it worked. Thanks

[2016-01-02 08:12] cschneider opened #593 "Adapt Milight binding for openhab2"
I recently bought some milight lamps and would be interested in using them in openhab2 natively.

Does anyone already work on a milight binding for openhab2? If not I am willing to work on it.

[2016-01-02 08:27] hakan42 commented on #593
The 1.x binding works pretty fine for me in my OH2 installation.

[2016-01-02 08:48] cschneider commented on #593
Yes. It works using the compat layer. As far as I understood the goal is to move the bindings over to pure openhab2. Is it too early for this?

[2016-01-02 09:21] kaikreuzer commented on #593
If the openHAB 1 version works well, there isn't really much pressure to port it to openHAB 2, since the "old" bindings will continue to be supported. So unless discovery is a much wished feature for the Milight binding, it is probably not worth spending the effort at the moment.

[2016-01-02 11:41] mickey4u opened #594 "Why does my project folder have a question mark as compared to the others ?"
![questionmark](https://cloud.githubusercontent.com/assets/15174041/12074347/8a274f0a-b11b-11e5-9871-a90466e0ec47.png)

[2016-01-02 11:42] gerrieg commented on #88
My homegear test environment is a Debian VM with homegear 0.6 and 30 devices (not connected, only in the DB). Homgear has always 14 threads. Maybe this is a 0.5 and/or a PI issue.
Which version of the binding are you using? Can you try the latest from my github repo? There were many changes since October.

I don't think that it makes any difference, if the http calls are on localhost or over a net

[2016-01-02 11:49] mickey4u opened #595 "Console Errors"
This is the output I am still getting when I use the run configuration.

**SLF4J: The following loggers will not work because they were created**
**SLF4J: during the default configuration phase of the underlying logging system.**
**SLF4J: See also http://www.slf4j.org/codes.html#substituteLogger**
**SLF4J: org.eclipse.smarthome.model.item.runtime.internal.ItemRuntimeActivator**
2016-01-02 06:36:43

[2016-01-02 14:10] hmerk commented on #593
I absolutely agree to @hakan42 and @kaikreuzer ,  the binding works fine with openHAB 2.0, so there is no preasure or porting it.
On the other hand, I already started thinking on porting it, as there are questions on item definitioans every now and again. I am trying to evolve a way to prevent such questions by having clear definitions for the different LED light types in combination with auto dis

[2016-01-02 19:11] maggu2810 commented on #563
I will have a look at this. Will give you some feedback, soon.

[2016-01-02 20:35] sja commented on #88
Maybe its the Version. I have problems to install the deb packages on the
latest raspbian version so I use 0.5. For the Binding I merge your repo
locally to my one. So the latest and greatest is running ;-)

Am Samstag, 2. Januar 2016 schrieb Gerhard R. :

[2016-01-02 21:08] kaikreuzer commented on #594
Please don't use this issue tracker for such general questions. Rather use https://community.openhab.org/ instead.
For questions like this that are not related to openHAB at all, you might better simply use Google: http://stackoverflow.com/questions/4307086/why-does-eclipse-java-package-explorer-show-question-mark-on-some-classes

[2016-01-02 21:08] #594 closed

[2016-01-02 21:09] kaikreuzer commented on #595
That's ok, simply ignore it.

[2016-01-02 21:09] #595 closed

[2016-01-02 22:23] maggu2810 commented on #563
ATM I start to deploy the stuff to bintray.

[2016-01-02 23:05] maggu2810 commented on #563
Hi @dvanherbergen and @kaikreuzer,
I added a new shk release, all the p2 redistributed artifacts and a new patched swagger-all version to https://dl.bintray.com/maggu2810/maven/
So, there is no need to use the mvn repo on my github account anymore.
The shk release uses now the split between esh only and target platform etc. (first version).

[2016-01-02 23:09] kaikreuzer commented on #563
Sounds great, @maggu2810! Will you create a PR against https://github.com/openhab/openhab-distro to update to the new SHK version and remove the github maven repositories from the pom.xml?

Btw, did you see that OSGi - JAX-RS Connector 5.3 has been released with
https://github.com/hstaudacher/osgi-jax-rs-connector/issues/126
https://github.com/hstaudacher/osgi-jax-rs-connector/issues/129
https://g

[2016-01-02 23:13] maggu2810 commented on #563
I bumped my shk jax-rs features already and patched swagger-all because it still contains the slf4j stuff.

I don't know if I can find the time to modify openhab-distro. The time to do the shk stuff was not planned, already... :wink:
Could you give it a try?

[2016-01-02 23:39] kaikreuzer commented on #563
Gave it a try, but I am not quite sure what I need to change. It seems that shk-feature-base is not enough anymore, but I also need shk-feature-esh in the aggregate xml, is that right?
Then again, the shk 1.2 is not really usable for me as it references 0.8.0.b1 and not 0.8.0-SNAPSHOT anymore - b1 is already outdated and the latest SNAPSHOT has already many important fixes. I think we should there

[2016-01-03 07:59] maggu2810 commented on #563
Yes, you need all the feature repos you want to use.

You have asked for a new shk release. A release should never depend on any snapshot. That is common practice and the default setting of the maven-release-plugin, as a rebuild of a release should not result in a different behaviour if it is build later. So if you need a newer esh version, we need a new esh release.

[2016-01-03 08:07] maggu2810 commented on #563
The idea separation of the separation is not to get it moved asap. The idea was to create a clean separation that could be used to find a good cut between esh only stuff and the target platform / product specific features.
It would make sense to move that to esh, but as long as I have to look for the best separation the move to esh will slow done my shk progress (caused by loosing control etc.).
I

[2016-01-03 08:10] maggu2810 commented on #563
If you think that moving that feature to esh will improve shk and openhab development (and not slow down anything), you can give it a try and migrate it to esh.

[2016-01-03 08:36] maggu2810 commented on #563
I try to find some time to fix it for openhab-distro and perhaps we can then move the feature XML file.
I have some ideas how to do it...

[2016-01-03 09:27] kaikreuzer commented on #563
I will do so tonight. I think the shk-feature-esh is tightly coupled to ESH and should be maintained in sync with it. If a new bundle is added, it should be directly added in the feature as well etc. Requiring an ESH and an SHK release just to make a small change available to OH2 is simply too complex. Being able to use the latest ESH snapshot (with the according feature definition in it) therefor

[2016-01-03 09:30] kaikreuzer commented on #563
I think we will have two separate builds in the future: The "official" one that references release versions of ESH&SHK&OH-Core and only uses snapshots from OH1-addons and OH2-addons and a "snapshot" build that uses snapshots for all components (that's what the openhab-distro does right now, but that should be changed once it is working nicely).

[2016-01-03 14:39] kaikreuzer commented on #563
Done, see https://github.com/eclipse/smarthome/pull/812

[2016-01-03 21:50] kaikreuzer commented on #514
Closing this as I started follow-up discussion in https://github.com/openhab/openhab-distro/issues/10

[2016-01-03 21:50] #514 closed

[2016-01-03 22:56] monnimeter commented on #593
Maybe the support for Milight is something which could be simply added to the OH2 wifi led binding, see #496 and PR #513...

[2016-01-03 23:34] cschneider commented on #593
I agree that it is not urgent to convert the milight binding to openhab2. Especially as it would create two source trees that have to be maintained. So probably the best solution is to wait until openhab 2 is out and then switch active development to it at some point. @hmerk let me know when you want to do this and I will try to help out. Have you already looked into the possibilities for auto dis

[2016-01-04 09:41] hmerk commented on #593
@cschneider there is a autodiscovery for the newer bridge Versions (> V3.0), so I will give it a try to see if this also works with the older versions.

If autodiscovery could be achieved for all MiLight bridge Versions, we indeed coud have a combinded binding. Just need seperate LightHandler for different BridgeTypes.

[2016-01-04 16:21] SuperOok commented on #577
Ok, I'll give the Karaf version a try, as it is also the OSGi runtime we are switching to at work and it looks quite promising. However, I don't see the linked jenkins job. The URL above is dead and the cloudbees has no Karaf job at the moment. ´Where can I find it?

[2016-01-04 18:14] kaikreuzer commented on #577
It is here: https://openhab.ci.cloudbees.com/job/openHAB-Distribution/
But please note that we are currently heavily working on it. So if you have some time, wait maybe 2 more days and it should be more stable!

[2016-01-04 20:00] hakan42 commented on #365
Small work-in-progress report: My binding progresses nicely, but there are a few stumbling blocks:

* OSHI does not (yet?) support process information. Therefore, using this to monitor the openhab process itself will be hard
* Disc read/writes and Network read/writes are similarly not available in OSHI

[2016-01-04 20:02] hakan42 commented on #365
Most of the information I have can be easily modeled onto one thing, but what about multiple CPUs and filesystems? Would you go with dynamically created channels or with multiple "filesystem" things which have channels like "freespace"?

[2016-01-04 21:30] SuperOok commented on #577
Thanks for the info; I have no pressure; just curious. Is there a good background thread somewhere (Forum) about the Karaf ongoings? You write in your Christmas Carol about enhanced dependency management opportunities in Karaf compared to Equinox, where I don't understand how that works because both is just plain OSGi, isn't it? Is Maven the trick there? So you use Maven to install stuff at runtim

[2016-01-04 21:40] kaikreuzer commented on #577
Right here: https://github.com/openhab/openhab2/issues/194

[2016-01-05 16:05] Issendorff commented on #108
I will port it to OH2 in the near future. Still waiting for customer feedback for the current binding though (hope it will be included in the Add-Ons binary package anytime soon).

[2016-01-05 20:29] kaikreuzer commented on #108
openHAB 1.8 will be released on Jan 11 and this is the first release that contains the LCN binding. I will also specifically highlight it in my announcement, so I hope that more people will learn about it, start using it and provide feedback!

[2016-01-06 09:32] hkuhn42 commented on #365
To give you my 50 cent: I would go for multiple generated channels. The system is one thing in a physical sense so i (from a users point of view) would expect only one. I am aware that this will be a fairly complex thing on some systems but as far as i know you can mark some of the channels as extended to hide them from basic views. Regarding free vs used disc space, i would probably expect a perc

[2016-01-06 09:32] hkuhn42 commented on #365
On the feature side: i think it would be nice to also have additional information (not currently part of OSHI) about  [network interfaces and addresses](https://docs.oracle.com/javase/tutorial/networking/nifs/listing.html). This should be relatively straightforward as its jdk only code.

[2016-01-06 20:56] #563 closed

[2016-01-07 15:48] nielsvanharen opened #598 "RFXcom binding not able to connect USB"
When having more then 1 USB device connected on a RaspBerry Pi. The RFXcom binding seems to be unable to connect to the proper device.

dev/ttyUSB0 - RFXCom connection by USB Serial
dev/ttyUSB1 - Mysensors Gateway.

creating udev rules, or connecting by serialid for both ports do not have any affect.

The following error occurs : RXTX fhs_lock() Error: opening lock file: /var/lock/LCK..mysensors:

[2016-01-08 16:03] buzink commented on #598
Have you tried running openhab as root? It solved a similar problem for me in Openhab 1 on the Pi.

    sudo /etc/init.d/openhab stop
    sudo /opt/openhab/start_debug.sh

[2016-01-08 17:34] nielsvanharen commented on #598
I tried running as root, same results. The binding in Openhab 1 is working as expected.

[2016-01-10 05:51] MrBalonio commented on #322
Any progress on this, would like to buy this device

[2016-01-10 22:38] kaikreuzer commented on #194
Done and available at https://github.com/openhab/openhab-distro

[2016-01-10 22:38] #194 closed

[2016-01-11 22:41] dvanherbergen opened #608 "Automate PR quality check"
To do an initial automated quality check of a PR, an [automatic build](https://documentation.cloudbees.com/docs/cje-user-guide/pull-request-builder-for-github-sect-creating.html) should be triggered for the PR.
Ideally, this build will [fai] (http://docs.sonarqube.org/display/PLUG/Build+Breaker+Plugin)l if it doesn't comply with a predefined set of Sonar rules.

[2016-01-11 23:02] jsiobj opened #609 "Netatmo Binding | Thermostat relay/plug thing error"
Hello,

I am currently trying the Netatmo v2 binding for the thermostat but I can't get it to work properly. "Netatmo API" and "Thermostat module" things are online but "Thermostat relay/plug" isn't.

Looking at the logs I get this error :
[code]

It seems that "program_id" isn't just a string but an object :
[code]
I could not figure out where in the code this is configured...

As a complement, f

[2016-01-11 23:54] Tavalin opened #610 "Numerous bindings failing to work in OH2 since moving to karaf"
Kai suggested this is because karaf is stricter with respect to requiring packages to be stated in the Import-Packages section of the MANIFEST.MF files.

So far the most common errors are occuring for javax packages which previously did not require an entry.

Initial thoughts:
1) We could update each binding to add the missing imports, but currently unknown how many are affected
2) Try and impleme

[2016-01-12 06:17] teichsta commented on #608
... would be also very interested. Do you have any experience in setting up Sonar?

[2016-01-12 07:02] hakan42 commented on #608
I have some experience with Sonar as well but am not aware of any way to run it on something like cloudbees.

If we have access to a root server somewhere near (networkwise) to cloudbees, it would be quite easy.

Be aware that sonar analysis of large projects can add quite some time to the build though.

[2016-01-12 07:39] maggu2810 commented on #610
I don't think we should add workarounds, as this is the concept how OSGi works. I assume we would like to create OSGi bundles that work in every OSGi compliant framework and not only in a product that adds workarounds that broken OSGi bundles are able to be loaded.

The OSGi specification mandates that a bundle declare all package depenencies using either Import-Package or Require-Bundle. The one

[2016-01-12 07:45] kaikreuzer commented on #610
@Tavalin: Can you name the bindings?
I tested many and I fixed the manifests for all that I noticed.
Please simply do the same: Whereever an entry is missing, create a PR for that binding to add the missing entry and all should be fine.

[2016-01-12 07:45] #610 closed

[2016-01-12 07:47] kaikreuzer commented on #609
Netatmo is not yet available as a binding in this repository. So if are testing the code of the PR https://github.com/openhab/openhab2-addons/pull/586, please leave any comments directly on this, so that it can be incorporated in the code before merging.

[2016-01-12 07:47] #609 closed

[2016-01-12 09:15] kaikreuzer commented on #608
@dvanherbergen, @hakan42: If any of you would want trying this out on Cloudbees, let us know and we can give you access to it.

[2016-01-12 09:25] maggu2810 commented on #608
Sonar:
I have used sonar for some time, but move currently to FindBugs, PMD, CheckStyle...
It does not require a sonar server instance and are also supported by the Eclipse IDE.

PR builder:
I am using this with Jenkins and a Gitlab instance on some projects.
It would be great if we could add it to the OH2 repos, too.

IMHO we should start with the PR builder and add the quality checks later.

[2016-01-12 09:47] dvanherbergen commented on #608
+1 ... one step at the time

That could be another option. What type of reporting do you then use? Eclipse IDE integrated only?

This could indeed be an issue. I usually only run Sonar on a nightly schedule due to the duration. Running it for a PR will only work if it can be done very selectively.

Yes, please.

[2016-01-12 09:52] hakan42 commented on #608
Yes, this would be nice. I believe I already have an account at cloudbees with my email address of hakan@gurkensalat.com if this helps setting up access.

[2016-01-12 10:00] kaikreuzer commented on #608
@hakan42 Perfect, I added your user
@dvanherbergen, Could you also create an account, which I can then add? This is easiest as you can directly define your username, pwd, etc.

[2016-01-12 10:00] maggu2810 commented on #608
Not only. Jenkins evaluates the reported numbers and there are quality gates...
https://img42.com/OmPU4

[2016-01-12 10:05] sja commented on #608
I scare about build-per-pullrequest because we're an open source Project. Anybody can make a PR and add some ugly tasks to maven. Our Buildserver would execute that and maybe do some bad stuff.

I think it's a good idea to have a server which can execute the build in a dockerized build slave, created by jenkins docker plugin. What do you think?

[2016-01-12 10:13] maggu2810 commented on #608
Good point.
But if the PR build job is executed sequential, the bad stuff is that is runs all the time (one after the other). I do not see any problem here. If there are a bad guy that adds a lot of bad PRs we should block that person (can we do this) and report it to the Gihub stuff.

[2016-01-12 10:16] dvanherbergen commented on #608
I've linked my github (dvanherbergen) account to cloudbees.

[2016-01-12 10:19] dvanherbergen commented on #608
https://img42.com/OmPU4

That looks like a good solution too. Let's first see how long the PR build will take and then take it from there.

[2016-01-12 10:20] sja commented on #608
I think about guys, who add a "Send spam" task.
Another szenario is to add the buildserver to a botnet or to use it for bitcoin mining. A typical buildserver has a lot of power. You can also use it to serve phishing sites.
Of course only until somebody stops the "hanging" build job. So a maximum runtime of a buildjob to say 1h should be set.
The classic run enables builds also to install a user-cr

[2016-01-12 10:22] kaikreuzer commented on #608
@sja: Now we know how you earn some extra money at night ;-)

[2016-01-12 10:25] hakan42 commented on #608
I think the builds are pretty well isolated on Cloudbees.

In one of my other projects ( http://ksp-ckan.org/ ) we also build all incoming PRs. Until now, no one had the necessary criminal energy to send evil changes :smiling_imp:

[2016-01-12 10:26] pieterh opened #611 "RFXCom binding throws ClassNotFoundException for DatatypeConverter"
The following exception is thrown when the binding accessed the USB port to receive data:

 Exception in thread "Thread-39" java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter at org.openhab.binding.rfxcom.internal.connector.RFXComSerialConnector$SerialReader.run(RFXComSerialConnector.java:178)
Caused by: java.lang.ClassNotFoundException: javax.xml.bind.DatatypeConverter cannot be fou

[2016-01-12 10:33] kaikreuzer commented on #608
@dvanherbergen added you.

[2016-01-12 10:51] #611 closed

[2016-01-12 13:22] dvanherbergen commented on #608
@hakan42  What's your planning? Are you looking into this or shall I have a look? I would like to avoid duplication of effort.

[2016-01-12 14:11] xsnrg opened #613 "Removing bindings through PaperUI does not work"
In the current build, in PaperUI, removing a binding does not work.

Open PaperUI, go to extensions, click Uninstall on an installed binding.  In this case avmfritz

    07:58:26.246 [ERROR] [st.core.extensions.ExtensionResource] - Exception while uninstalling extension: java.lang.IllegalArgumentException: Feature named 'openhab-binding-avmfritz/0.0.0' is not installed
    07:58:26.249 [INFO ] [sm

[2016-01-12 14:18] xsnrg commented on #613
Playing some more, it may be just fritz, or it may have to do with bindings added in the distribution.  Adding a binding such as sysinfo from PaperUI, and then removing it seems to work.  Perhaps the DB was not populated with the bundled addon information, so there is no reference to remove with?

[2016-01-12 14:19] hakan42 commented on #608
@dvanherbergen , if you have time, please start. I'll get around to look at it earliest tomorrow ( $WORK  requires some time :blush: )

[2016-01-12 14:19] kaikreuzer commented on #613
I assume you have still installed the demo package, right?
I suppose this is due to the fact that the openhab-package-demo feature is installed, which contains the openhab-binding-avmfritz feature, which is then not marked in Karaf as being installed.

@maggu2810 Can we change the demo feature in some way way, so that the included features are individually de-installable?

[2016-01-12 14:20] kaikreuzer commented on #613
@xsnrg: As a workaround, switch to the standard package (in addon.cfg) and all should be fine.

[2016-01-12 15:20] xsnrg commented on #613
Thanks @kaikreuzer .  I switched to standard.  Seems to be working as described.  Populating the demo addons in Karaf is probably a low priority in that case.  I'll ask on the community forum what the vision is for updates/upgrades to both addons and core OH2 is,  as config changes such as this would get overwritten.

[2016-01-12 15:27] kaikreuzer commented on #613
No, on updates, neither the conf nor the userdata folder should be touched, that's the idea.

[2016-01-12 15:32] xsnrg commented on #613
userdata I understand.  Did the cfg files get created automatically if they did not exist, or were they in the bundle that was extracted?  If in the bundle, would get overwritten unless there is another way to update core openhab now?

[2016-01-12 15:45] kaikreuzer commented on #613
Well, the question is how the update process should look like - currently, I would suggest that you extract it to a new location and copy over your conf and userdata folder. Since unzipping the content of runtime over an old runtime might be a bad idea as well.

[2016-01-12 15:46] kaikreuzer commented on #613
But what I would like to have is directly an update possibility of Karaf features, i.e. go to a newer snapshot of a binding - this would not require an update of the distro at all.

[2016-01-12 15:55] xsnrg commented on #613
Do we not get a newer snapshot of a binding by doing Uninstall/Install process again as it is today, or is the downloaded version cached somewhere and just re-installed from local?  (assuming the online package is installed).

This is great for addons, and that may already be solved then.  Upgrading core is a extract/copy process still, and that is certainly workable as well.  I managed it with th

[2016-01-12 15:59] kaikreuzer commented on #613
Good question, I haven't actually tested this yet. But I am sure that it won't work for the offline distro ;-)

All core bundles are packaged as Karaf features as well - so my hope is that we will even be able to upgrade them this way. So the only stuff that would remain old is the Karaf container itself and the scripts around it.

[2016-01-12 15:59] maggu2810 commented on #613
I (think I) understand what you mean.

But if we define that feature A needs feature B, I don't believe it would be correct if feature B could be de-installed. What should be the state of feature A? Installed-a-little-bit? :wink:

The installation of features is currently be done using an extension service implementation.
Perhaps we should create a separate setup UI for such stuff.
So we could def

[2016-01-12 17:21] xsnrg opened #616 "Astro binding throws warning when changing locations"
Steps:

Install v2 astro binding, or use the demo binding that is installed
Change the location in PaperUI and save.  The result is a WARN:

    11:19:19.756 [WARN ] [mon.registry.AbstractManagedProvider] - Could not update element with key astro:sun:home in ManagedThingProvider, because it does not exists.

[2016-01-12 17:30] kaikreuzer commented on #616
This is expected behavior. The sun:home is defined in the (read-only) file `conf/things/demo.things`, so if you want to edit the location, do it in there. Alternatively, create the thing in the Paper UI and you can manage it from there.
And if you are not happy with this answer, feel free to join the discussion at https://www.eclipse.org/forums/index.php?t=msg&th=1072808&goto=1718043&#msg_1718043

[2016-01-12 17:30] #616 closed

[2016-01-12 17:33] xsnrg commented on #616
I am sensing a pattern.  The install I am playing with was first based off demo, and this seems to be getting in my way a lot.  If I want the online version of OH2 but clean/no demo, do I download the online distribution and change the configuration before first run or is the DB pre-populated at that point and I should remove the DB and start over?

[2016-01-12 17:40] xsnrg commented on #616
I read through the chat over there.  That is the larger issue for certain.  At least for the case of DEMO though, why not get rid of flat files all together for OH2 and use a pre-populated DB?  This would then allow any of the demo items to be updated/removed, etc.  If a user screws up their demo, just re-install it.

[2016-01-12 17:42] kaikreuzer commented on #616
You should read the thread up to here at least: https://www.eclipse.org/forums/index.php?t=msg&th=1072808&goto=1719710&#msg_1719710

[2016-01-12 19:03] xsnrg commented on #616
Thanks Kai, I did read the whole thing.  Maybe I am missing something.  The thread over at eclipse is talking about the overall problem of configuration persistence and I was just talking about not being able to modify the demo configuration.

My thought was that, no matter the store, the demo config could be in whatever DB, and then be able to be modified.  It is often easier for people to modify

[2016-01-12 20:03] peuter commented on #533
Any updates about the licensing issue?

[2016-01-12 21:00] kaikreuzer commented on #533
Sorry, I didn't reply yet, because I had no good ad-hoc suggestion :-/

1. No, adding it at build time does not help. We simply cannot ship a binary that includes it
2. Yes, it could be a separate bundle, which the user has to download and install by himself. So if you say that the visu is also fine without it, this might be an option.
3. I think we will have to move it to a different repository,

[2016-01-12 21:28] peuter commented on #533
So my personal Todo list would be:

1. Remove Quercus from the current bundle
2. Create a Quercus Osgi container, if possible
[3.] if 2. is not possible, maintain two versions of the cometvisu bundle: light (without quercus), full (with quercus) hosted in different repositories

[2016-01-12 22:53] pieterh opened #620 "formatting exception for rfxcom temperature"
The following warnings are displayed in the log.
Exception while formatting value '17.900000000000002131628207280300557613372802734375' of item Temperatuur_Kamer with format '%d °C': java.util.IllegalFormatConversionException: d != java.math.BigDecimal
It seems to happen when the initial page is laded in baisc or clasic ui. At that stage the text ERR is displayed instead of the temperature. Later

[2016-01-12 23:00] dvanherbergen commented on #608
A short status update: the automatic triggering of a build from a PR has been setup for the openhab, openhab2-addons and openhab-distro. The triggering part appears to be working.
A test PR build on the distro succeeded: https://github.com/openhab/openhab-distro/pull/64
A second test on the openhab2-addons resulted in a build failure : https://github.com/openhab/openhab2-addons/pull/619
No test wa

[2016-01-12 23:03] watou commented on #620
duplicate of #581.

[2016-01-12 23:24] #620 closed

[2016-01-13 07:41] dvanherbergen commented on #608
PR builds are now fully working for openhab, openhab2-addons and openhab-distro.
As per @sja 's suggestion, I've added a time limit to the build execution.
I've also tweaked the build history settings a little, so that more build history is kept (but only 1 set of artifacts).
@kaikreuzer, the one which is still missing is the kaikreuzer/openhab-core build. To enable this one, the openhab user requ

[2016-01-13 08:32] hakan42 commented on #608
Nice :smile:

Can the distribution archive still be reliably built? AFAIR it depends on SNAPSHOT Artifacts from the previous builds, and a PR could very well create quite old versions of everything except what is currently worked on in the PR, depending on when the branch was created.

[2016-01-13 08:50] dvanherbergen commented on #608
Good point. Not yet. I will disable the install part for PR builds.

[2016-01-13 10:36] kaikreuzer commented on #608
Do you know what impact these builds have on our quota and build minutes for Cloudbees? Do we run the risk that we exceed our monthly allowance in a single day now? @teichsta, as you did that before, can you comment?

[2016-01-13 10:42] dvanherbergen commented on #608
It seems that the child builds (distro) are also kicking in after a pull request build. I'll disable them for now and investigate.
I'll also check if we can speed up the builds.
How many pull requests/month do we expect?

[2016-01-13 10:50] kaikreuzer commented on #608
At least one per day: https://github.com/openhab/openhab2-addons/pulse/monthly

[2016-01-13 12:09] dvanherbergen commented on #608
After looking at this for a bit, I think we really need to split the Jenkins build configurations between regular builds and pull request builds (sort of like is done at https://builds.apache.org/view/PreCommit%20Builds/). There are too many options configured on the build profile itself which should be set specifically depending on the build type (e.g. archive artifacts, deploy artifacts etc., bu

[2016-01-13 12:20] maggu2810 commented on #608
On projects I am working we split the master build (CI) and the PR build, always.

The PR build
* merges the master and the PR
* does a build
* does not deploy artifacts (also no snapshot ones)
* could use compare the quality gate of the latest master and fail if there are new stuff broken (findbugs, codestyle, etc.)

[2016-01-13 12:46] hakan42 commented on #608
From looking at Cloudbees Status on Jenkins, the main problem would be the disc usage.

This can be worked around by deleting the workspace on successful builds (or maybe even on unsuccessful ones, the main information is kept in the build log anyway).

[2016-01-13 22:05] dvanherbergen commented on #608
The PR builds for the distro and openhab2-addons are now built on a small cloudbees instance, so this should not interfere with the available minutes for the standard builds. I also really tried to get the PR build for the openhab1 addons on there, but it will just not fit. At least not as long as the org.openhab.model.* bundles are part of the build. The generation process in there forks new JVMs

[2016-01-13 22:12] teichsta commented on #608
unfortunately, yes! That is why i set up another Jenkins at innoQ to build the PRs. In order to reduce minutes we should at least remove e.g. the feature-verifying tasks as they blew up the build-time to over 20 minutes.

[2016-01-14 14:25] dvanherbergen commented on #608
To avoid depleting all the build minutes, the PR builds have been disabled for the time being. Once the builds are faster, we can enable them again.

When looking at the openhab2-addons-PR build, I'm seeing the following times:
Total duration : 7 minutes
Initial download of maven dependencies: 26 seconds
Initial download of p2 dependencies: 2m 20s
Building feature verification module (which does a

[2016-01-14 16:43] jrcourtois opened #622 "Problems with binding hue and linking"
I installed beta version, and I tried demo version before going back to standard (in conf/addons.cfg).
I am trying to use Hue lamps and I got some issue with PaperUI.
It appears automatically, and when I checked in the interface, it did not seems I clicked so I clicked on it.
![screen shot 2016-01-14 at 5 40 13 pm](https://cloud.githubusercontent.com/assets/5859493/12330441/75be0792-bae5-11e5-8450

[2016-01-14 20:57] kaikreuzer commented on #548
Assuming this is fixed.

[2016-01-14 20:57] #548 closed

[2016-01-14 20:58] kaikreuzer commented on #553
solved in https://github.com/openhab/openhab-distro

[2016-01-14 20:58] #553 closed

[2016-01-14 20:59] kaikreuzer commented on #622
Please note that the Hue binding is maintained here: https://github.com/eclipse/smarthome
If you move your issue over there, I promise to answer tomorrow ;-)

[2016-01-14 20:59] #622 closed

[2016-01-14 21:01] kaikreuzer commented on #577
Should work on the new distro

[2016-01-14 21:01] #577 closed

[2016-01-14 21:02] kaikreuzer commented on #72
This seems to be solved with the new Karaf-based distro. If not, please open a new issue at https://github.com/openhab/openhab-distro

[2016-01-14 21:02] #72 closed

[2016-01-14 21:22] jrcourtois commented on #622
OK then
https://github.com/eclipse/smarthome/issues/855

Thanks Kai

[2016-01-15 18:56] peuter commented on #533
Small update:

Extracting Quercus from the cometvisu bundle to an extra bundle seems to be easier than I thought. But I am using other third party libraries as well (rrd4j: Apache License 2.0, sqlite-jdbc: also Apache License 2.0). Are those allowed?

And as described here: https://github.com/openhab/openhab-distro/blob/master/docs/sources/development/bindings.md
As long as I do not use the org.ec

[2016-01-15 19:25] maggu2810 commented on #533
The following is just my meaning:

Your binding code is using the EPL, Querus is using GPL.
If you mix that in one bundle I am sure you violates the EPL license.
This does not matter of the project that hosts your code.

If this bundle is distributed in the openhab distro, also that software bundle violates licenses etc.

[2016-01-15 19:37] kaikreuzer commented on #533
Yes, Apache license is compatible with the EPL, see also https://eclipse.org/legal/eplfaq.php#3RDPARTY.

You get it wrong. Although openHAB is not an Eclipse project, it is still [licensed under the EPL](https://github.com/openhab/openhab2-addons/blob/master/LICENSE), so we to make sure that when including 3rd party stuff, this is in line with the EPL.

[2016-01-15 19:56] peuter commented on #533
OK thanks for explaining the license stuff to me. Now some technical questions.

I have extracted the quercus related stuff to a new org.openhab,io.php bundle (is the chosen namespace ok or do you have a better suggestion?), this bundle provides the IQuercusEngine Interface, which the cometvisu bundle references (<reference bind="setQuercusEngine" cardinality="1..1" interface="org.openhab.io.php.I

[2016-01-15 21:05] kaikreuzer commented on #533
Thinking about it, it would be actually ideal to have the Quercus lib directly as an OSGi bundle (com.caucho.quercus). I just looked for it, but it seems it is only a plain jar and nobody yet took this effort.
But since there is no openHAB specific code in it, we do not need to put it under the openHAB namespace at all. We could just put it up on Github and put it as a jar on JCenter.

You can mar

[2016-01-16 00:29] lolodomo opened #624 "Paper UI - linking a channel to several items"
Paper UI allows to link a particular thing channel to a unique item.
The ability to link a channel to several items would be appreciated.
For example, for any dimming light (hue light for example), I define a switch item + a dimmer item.
Waiting for this enhancement, of course, any link can be done by editing the item files.

[2016-01-16 10:18] kaikreuzer commented on #624
Please note that the Paper UI source code (and such its issue tracker) is here: https://github.com/eclipse/smarthome

My I ask why? A dimmer item should be good enough, since you can send ON/OFF commands as well?

[2016-01-16 10:18] #624 closed

[2016-01-16 11:09] lolodomo opened #625 "RFXCOM binding 2.0 not working in beta 1"
I was able to install the RFXCOM binding with the Paper UI.

The automatic discovery of my RFXtrx433E did not work. So I added a thing (bridge) manually through the Paper UI using /dev/ttyUSB0 as serial port. But the thing remained in a status OFFLINE.

If I restart openHAB2, I see this error in the logs:

[code]

[2016-01-16 11:25] lolodomo opened #626 "Freebox binding 2.0 not working in beta 1"
After installing the Freebox binding 2.0 with Paper UI, I created manually a thing (using Paper UI) setting "Freebox Network Address" to 192.168.1.254 and setting "Application token" with my working token I use with openHAB1. When saving I got this exception and the thing remains in a status UNINITIALIZED:

12:19:01.161 [ERROR] [ome.core.thing.internal.ThingManager] - Exception occured while calli

[2016-01-16 11:31] lolodomo opened #627 "Removing a Freebox thing leads to an exception"
While the Freebox binding is not working, I tried to remove the thing using Paper UI.
It leaded to this exception:

[code]
The thing remained in a status REMOVING.
I was able to remove it forcing a removal with Paper UI (second remove).

[2016-01-16 11:45] lolodomo commented on #625
In case it could help, here is the exception I got after the thing:

12:39:04.233 [INFO ] [rthome.event.ItemThingLinkAddedEvent] - Link 'rfxcom_RFXtrx433_d05457dd-rfxcom:RFXtrx433:d05457dd' has been added.
12:39:04.429 [ERROR] [rnal.discovery.RFXComBridgeDiscovery] - Error occured during discovery
java.io.IOException: device not found (2)
        at jd2xx.JD2XX.listDevices(Native Method)
        a

[2016-01-16 11:46] kaikreuzer commented on #625
Please only report bugs that still exist on the latest SNAPSHOT. This here was already fixed 4 days ago: https://github.com/openhab/openhab2-addons/pull/612/files

[2016-01-16 11:56] kaikreuzer commented on #627
This does not be to be in any way related to the Freebox binding, but a general bug. I have created https://github.com/eclipse/smarthome/issues/868 for it.

[2016-01-16 11:56] #627 closed

[2016-01-16 12:46] lolodomo commented on #625
Sorry but even with the last snapshot I still have the same issue, serial connection fails:

13:37:44.411 [INFO ] [smarthome.event.ThingAddedEvent     ] - Thing 'rfxcom:RFXtrx433:043d6b50' has been added.
13:37:44.454 [INFO ] [me.event.ThingStatusInfoChangedEvent] - 'rfxcom:RFXtrx433:043d6b50' changed from UNINITIALIZED to INITIALIZING
13:37:44.481 [INFO ] [me.event.ThingStatusInfoChangedEvent] -

[2016-01-16 12:57] kaikreuzer commented on #598
@paulianttila Any idea?

[2016-01-16 12:58] peuter commented on #533
Ok I moved the quercus bundle to com.caucho.quercus. The package is on github:
https://github.com/peuter/quercus-osgi

The cometvisu uses this bundle as import if available. But I don't know how to put it on jcenter.

[2016-01-16 13:01] kaikreuzer commented on #625
Ok, sorry, I only looked at your first problem (the NoClassDefFoundError), which is fixed.

Btw, please always use code formatting when posting exceptions, it makes it so much better to read!

[2016-01-16 13:06] lolodomo commented on #625
For information, I am running OH2 on a raspi2 with Raspbian Jessie.

Maybe I should retry but running OH2 as root ?

[2016-01-16 13:10] #626 closed

[2016-01-16 13:12] maggu2810 commented on #533
IMHO you should not use the group id "com.caucho" if it is not owned by yourself.

[2016-01-16 13:14] maggu2810 commented on #625
Perhaps you should give you all rw for ttyUSB0, but you should never run such software as root.

[2016-01-16 13:15] kaikreuzer commented on #533
I'd suggest to move it to openhab/quercus-osgi and we can put it under groupId org.openhab with artifact id com.caucho.quercus - I can then easily make it available on JCenter like the rest.

[2016-01-16 13:19] peuter commented on #533
OK I changed the group id, feel free to move it to openhab.

[2016-01-16 13:34] lolodomo opened #629 "Astro binding: date time not displayed in UI"
Astro binding installed; sun thing added; channels "rise#start" and "set#end" linked to DateTime items.

When starting OH2; I see in the logs that my items are correctly set with a date.

[code]

But I check the items with Basic UI or Classic UI, nothing is displayed.

Here are my items definition:

[code]

[2016-01-16 13:42] kgoderis commented on #629
errr... Did you forget to add a channel definition to your item definition? For example:

    DateTime SunriseTime  "Sunrise [%1$tH:%1$tM]" (All) { channel="astro:sun:dilbeek:rise#start" }

[2016-01-16 13:44] lolodomo commented on #629
No, I simply linked the items to the channels with PaperUI.
In this case, no need to define the channel in the item file.

[2016-01-16 14:15] kaikreuzer commented on #629
I can reproduce it. It seems that the state formatting information gets lost as soon as the channel is linked to the item. THe problem is that the Astro binding does not define a formatting pattern for DateTime channels in https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.astro/ESH-INF/thing/channels.xml.
@gerrieg Could you add this?

Nonetheless, if a forma

[2016-01-16 20:10] lolodomo commented on #625
I tried to set rw rights to all to /dev/ttyUSB0 but it changed nothing.
I tried to run openHAB2 as root but it changed nothing.
Reading this topic https://community.openhab.org/t/rfxcom-2-0-binding/4427/15 and this documentation http://www.ftdichip.com/Support/Documents/AppNotes/AN_220_FTDI_Drivers_Installation_Guide_for_Linux%20.pdf, I tried to run these commands before starting openHAB2:
[code]

[2016-01-16 21:39] tbrandstetter opened #631 "KNX Binding 1.x (Version 1.8) not working with Openhab 2.0.0.b1"
Hi,

I'm relatively new to Openhab and try to use the new Openhab2 beta for my house. Because the Openhab2 binding for KNX is not ready yet I tried the 1.8 version. I can start Openhab2 and the KNX binding also prints out that it should work:

[code]

But it doesn't read values from my items which are configured as:

[code]

My KNX binding configuration looks like this:

[code]

I'm using an raspb

[2016-01-16 22:26] kgoderis commented on #631
Thomas,

In fact, the KNX 2.0 binding is ready, it is only not in the official repo. I wrote it, and have it running for more than a year wo any problems. If you want to give it a go, you can fetch it via https://github.com/kgoderis/openhab2/tree/knx/addons/binding

[2016-01-16 22:48] tbrandstetter commented on #631
Hi,

I've already tried the 2.0 binding as well, but it's also not working. It connects fine but gives me the message:

Ignoring KNX bus data: couldn't transform to an openHAB type (not supported).

My configuration for the 2.0 binding looked like this:

Bridge knx:ip:ip1 [ ipAddress="192.168.2.7", portNumber=3671, localIp="192.168.2.244", ipConnectionType="TUNNEL", readingPause=50, responseTimeOu

[2016-01-16 23:20] kgoderis commented on #631
No, we can check first what is going on. Can you put it to TRACE level logging? Then you will get details as well on the data transformation bits. It is strange, because 9.001 is a supported DPT (Temperature), and it should be a Number channel on the bridge. Have plenty of 9.001's defined in my setup.

That error is given when the type for the incoming data can not be mapped on a java type. In thi

[2016-01-17 07:59] tbrandstetter commented on #631
I tried it again in trace mode. If I create only a "channel" configuration I get nothing at all (like in the 1.8 knx binding). On my test before I had this mysterious error message I told you before:

08:48:48.941 [INFO ] [tuwien.auto.calimero                ] - [KNXnet/IP receiver] link 192.168.2.7:3671: indication from 1.1.8
08:48:51.380 [INFO ] [tuwien.auto.calimero                ] - [KNXnet/I

[2016-01-17 08:24] kgoderis commented on #631
In the 2.0 binding there are (because of experimental reasons) two ways to hook up GA's. Either you define a "ga" Thing, or you can define channels on the bridge, like you did in the previous attempt. For my own installation I did everything via the channels on the bridge, except for special Things like the energyswitch (see for example ESH-INF in the source tree). I am a bit puzzled here

Now, in

[2016-01-17 08:29] kgoderis commented on #631
Just to make sure, can you add "Channels:"?

Bridge knx:ip:ip1 [ ipAddress="192.168.2.7", portNumber=3671, localIp="192.168.2.244", ipConnectionType="TUNNEL", readingPause=50, responseTimeOut=1000, readRetriesLimit=3, autoReconnectPeriod=1 ]
{
Channels:
Number : ga_5_4_7 [ address="5/4/7", dpt="9.001", read=true, interval=3600]
}

[2016-01-17 08:36] tbrandstetter commented on #631
Now I'm getting more and also the error I told before:

09:32:30.349 [INFO ] [smarthome.event.ThingAddedEvent     ] - Thing 'knx:ip:ip1' has been added.
09:32:30.356 [INFO ] [me.event.ThingStatusInfoChangedEvent] - 'knx:ip:ip1' changed from UNINITIALIZED to INITIALIZING
09:32:30.409 [INFO ] [tuwien.auto.calimero                ] - [ESH-safeCall-3] KNXnet/IP Tunneling 192.168.2.7:3671: establish co

[2016-01-17 08:39] kgoderis commented on #631
Thomas,
can you add

    <logger name="org.openhab.binding.knx" level="TRACE" />

to your logback.xml?

[2016-01-17 08:41] kgoderis commented on #631
Btw, I see that the DPTXlator are loaded by Claimer after the first data arrives. This is a bit strange, did not see that before (I never look at this level of logging), so, the error continues thereafter as well (e.g. some seconds after you the the DPTXlator messages)?

[2016-01-17 08:51] lolodomo commented on #626
I tried the new snapshot (#87 - 17 janv. 2016 06:43:04) and I still have the same error.

[2016-01-17 08:54] tbrandstetter commented on #631
No, the error messages are gone after the DPTXlator. I have to say that I had problems with the Eclipse build. I had to add the nrjavaserial library directly to the libs in your binding. Furthermore the plugin only works with Openhab also build by Maven as the binding. Maybe you can upload a ready to deploy knx 2.0 binding for Openhab 2.0.0.b1? I created a logback.xml in runtime/etc (copied it fro

[2016-01-17 09:12] kgoderis commented on #631
pm me on karel.godeis [AT] me dot com and I will send you my jar

[2016-01-17 10:09] tbrandstetter commented on #631
Thanks for the jar. What I've noticed with my and with your jar is, that it is not working with a minimal "add ons" configuration. I'm using the Openhab 2.0.0.b1 online version. Here is my addons config:

[code]

[code]

With full blown demo mode I have the same problem as I had with my version:

[code]

As a fix I had to move the lib nrjavaserial-3.9.3.jar in the libs directory and explicitly set

[2016-01-17 10:32] maggu2810 commented on #631
Using the addons folder will not install required bundles.
If you are missing gnu.io you should not drop nrjavaserial to the addons folder but install openhab-transport-serial.

[2016-01-17 13:22] tbrandstetter commented on #631
there is no such "binding" named openhab-transport-serial. Where can I find it? How can I figure out all dependencies the KNX binding needs with a minimal configuration? Sorry for the questions, but I'm new to Openhab ...

[2016-01-17 13:45] tbrandstetter commented on #631
ok, found the plugin under distribution-1.8.0-runtime/server/plugins/org.openhab.io.transport.serial_1.8.0.jar

With this plugin the knx 2.0 binding starts with the "demo" configuration of Openhab 2.0.0.b1. Doesn't looks good. I have the same error as with my compiled version of it:

[code]

[2016-01-17 14:42] gnih commented on #631
Hi,

Same here : everything works fine in 1.5 & 1.8 but in 2.0.0b1 I can only use switches. Values are not read anymore.
Btw I'm new to OH 2 and I don't now much about things and channels, would you have any link with explanation?

Thank you!

[2016-01-17 18:50] lolodomo commented on #625
As an additional information, I installed openHAB 1.8 on the same RPI2, started it with the same user (pi) and openHAB was able to communicate normally with my RFXtrx433E on USB port /dev/ttyUSB0.
So the problem is not my machine or my serial port.
There is really a major bug in the new RFXCOM binding, at least when run on a raspbian OS.

[2016-01-17 19:41] kgoderis commented on #631
Without a TRACE on the knx binding itself it is hard to determine what is going wrong here.

[2016-01-17 21:59] kaikreuzer commented on #533
You actually have to do the move - you can request it in the repo settings as "transfer repository".
(I just tested it with a repo to be transferred to you - simply ignore that ;-))

[2016-01-17 22:34] kaikreuzer commented on #625
May I ask you to try the latest build https://openhab.ci.cloudbees.com/job/openHAB-Distribution/88/?
This should improve the compatibility to alpha2 and hopefully solve some issues.

[2016-01-18 06:16] tbrandstetter commented on #631
Good morning,

what I've done so far to enable tracing. I tried to use the logback.xml in runtime/etc (Openhab2 seems to have a different path for it). I don't know if the logback.xml has a different format for Openhab2 or not.

I too have configured the logs to use tracing in Karafa with log:set TRACE. Do you have another hint for me, how I can get the plugin to spit out more? The only informatio

[2016-01-18 08:55] kgoderis commented on #631
I need to check this as I am myself still running my env. on a pre-Karaf snapshot.

[2016-01-18 13:45] kaikreuzer commented on #631
I can reproduce the problem and it is not a problem of the binding as it seems - I have created https://github.com/openhab/openhab-distro/issues/96 for digging deeper into the underlying cause...

[2016-01-18 19:41] tbrandstetter commented on #631
Makes sense, because as I stated in the beginning it is not working with the KNX binding 1.8 either.

[2016-01-18 19:56] lolodomo commented on #625
New test with snapshot #89 (offline distro). Unchanged.
There is apparently a problem of connection to the RFXtrx device (through serial port).

[2016-01-18 20:19] SuperOok commented on #548
yes, looks very well now! 👍

[2016-01-18 22:09] #631 closed

[2016-01-18 23:12] marcelrv commented on #629
can be related to this as well https://github.com/eclipse/smarthome/issues/564

[2016-01-19 16:38] #629 closed

[2016-01-19 20:41] larsste commented on #625
Just to let you know. I have tried the latest build b92(?) from cloudbees and it's working for me on Ubuntu 14.04. I do have to add the transceiver manually.  I have a "non-E" version of RFXTrx433 and add the *RFXCOM USB Transceiver* and point it to /dev/ttyUSB0. It shows up as online and my sensors and switches get auto discovered.

The few builds I have tested so far have worked for me when I ad

[2016-01-19 21:05] lolodomo commented on #625
Unfortunately, it still does not work for me with snapshot #92. There is a problem with the JD2XX library not being able de list devices. That could mean the problem is not for all Linux platforms but maybe only for RPI running raspbian.
Is JD2XX used in the 1.x version of the binding ?

[2016-01-19 22:40] lolodomo opened #635 "Freebox binding: channels of type String not displayed in UI"
For example the channel "IP Address": I link it to this item:
[code]
No value displayed (Classic UI or HADdroid) but the item is correctly set:
It could be the same kind of issue I discovered for dates with the Astro binding.

[2016-01-20 00:27] lolodomo commented on #625
Just to know: where was retrieved the jd2xx.jar file ?
From here https://github.com/0x6a77/JD2XX ?

[2016-01-20 07:29] paulianttila commented on #625
JD2XX library is used only for discovery and for discovered devices. If you add RFXCOM USB Transceiver" manually, it does not use JD2XX but nrjavaserial, which is provided by the OH transport serial bundle. JD2XX approach have know issue as Linux provide native driver for D2XX chip (see https://community.openhab.org/t/rfxcom-2-0-binding/4427)

[2016-01-20 08:08] lolodomo commented on #625
I have the JD2XX exception even afte adding manually the bridge. If not important, ok, but maybe a catch exception + a clear warning could be a good idea.
So my problem is not discovery but connection to the serial port. Just remember that OH1 works well with RFXCOM on the same machine and serial port.
I can provide debug logs this evening if it can help you to understand the problem.

[2016-01-20 08:13] lolodomo commented on #625
Note that i add manually the bridge using Oaper UI.

[2016-01-20 13:09] thomasjetzinger opened #636 "Error while calling function "transform""
The following error message is thrown, when I'm trying to call ```transform("JSONPATH", "$.value", test)``` in a rule:

[code]

I'm using the openHAB 2 Beta Snapshot from today, The same error also occurs with the openHAB 2 beta 1.

Best Regards,
Thomas

[2016-01-20 13:36] kaikreuzer commented on #636
Thanks! May I ask you to move this issue over to https://github.com/openhab/openhab-distro (since it is not related to any add-on?

[2016-01-20 13:36] #636 closed

[2016-01-20 15:31] madon commented on #17
Hi,

I checked the Source of the 2.0 binding and it seems that there is still no solution for the start/stop dimming issue.
It would be nice if this issue is addressd in the 2.0 binding release.

[2016-01-20 15:33] kgoderis commented on #17
err...time to revisit the exact description of the issue. I remember vaguely that some dimmer stuff is not yet implemented, but it has been a long time. I have not progressed the binding (and things that need to be solved outside of the binding) as I await other KNX user's feedback first. (although it runs very well in my env.)

[2016-01-20 16:39] madon commented on #17
the default way of dimming with DPT3.007 is to send a start telegram at start of dimming and an stop telegram at the end. At the moment the knx binding only supports the cyclic mode, where the telegram is send out cyclic.
There are dimmers on the market not supporting the cyclic mode and also there are buttons wich only support the start/stop dimming mode like at least the MDT glas buttons.
In my

[2016-01-20 16:53] kgoderis commented on #17
For these case you could extend https://github.com/kgoderis/openhab2/blob/knx/addons/binding/org.openhab.binding.knx/src/main/java/org/openhab/binding/knx/handler/DimmerThingHandler.java for example.

I was referring to https://github.com/kgoderis/openhab2/blob/knx/addons/binding/org.openhab.binding.knx/src/main/java/org/openhab/binding/knx/handler/KNXBridgeBaseThingHandler.java#L720 where I did a

[2016-01-20 18:39] peuter commented on #533
So is there anything else I have to do, to import the bundle from jcenter. I would like to build and test evenrything before I create a pull request, but building failes because of the missing bundle.

[2016-01-20 19:57] kaikreuzer commented on #533
No, sorry, I had to do that. I have uploaded the [jar to bintray](https://dl.bintray.com/openhab/mvn/org/openhab/com.caucho.quercus/4.0.39/) and requested to have it included on jcenter. This is manually approved, so I expect that to happen tomorrow.
For the time being, you can add http://dl.bintray.com/openhab/mvn as a repo to your build and you should be fine.

[2016-01-20 20:04] lolodomo commented on #635
As an additional, if I break the link in Paper UI and set it in my item file like that:
[code]
It does not work better (no value displayed in UI while the item is correctly set).

[2016-01-20 20:18] lolodomo commented on #625
Here are my DEBUG logs when I add manually a thing with Paper UI:
[code]

And then every minute:
[code]

Suddenly I have a big doubt. The parameter is named "Serial number". I filled the value "/dev/ttyUSB0". Is it correct ?

[2016-01-20 21:04] grouchal commented on #257
I can't work out how to configure this and install with the latest beta from homekit - all help appreciated.

[2016-01-20 21:35] kaikreuzer commented on #257
@beowulfe Do you think you will find the time for it soon? I'd love to merge this PR and add it as a feature in the openHAB distro!

[2016-01-20 22:15] lolodomo commented on #635
If I suppress the "[%s]", it does not change anything.

[2016-01-20 22:17] kaikreuzer commented on #635
It very likely is, so first wait for https://github.com/eclipse/smarthome/issues/871 to be fixed - when this is fixed and this issue here still occurs, please simply re-open it!

[2016-01-20 22:17] #635 closed

[2016-01-21 07:17] paulianttila commented on #625
You are trying to add "discoverable" RFXCOM transceiver manually (JD2XX connected device). JD2XX devices are identified by the serial number not by serial port.

You should add "RFXCOM USB Transceiver" manually, which is direct serial port bridge for manual configuration purposes.

[2016-01-21 07:40] lolodomo commented on #625
Thank you. I probably missed the right thing to be used in my case. I will try later.
It is something that should be clearly documented if not yet done.

[2016-01-21 11:12] kaikreuzer commented on #533
Wrong assumption, here is the feedback, I got:

As we do not have sources in this repo, but only wrap the binary, creating such jars probably does not make much sense.
But the good news is: We do not really need it on JCenter, since we already have the bintray repo in our pom: https://github.com/openhab/openhab2-addons/blob/master/pom.xml#L329
So all you will need is a
[code]
in your pom and you s

[2016-01-21 17:07] peuter commented on #533
Sorry that does not work:

[INFO] Scanning for projects...
[INFO] Computing target platform for MavenProject: org.openhab.binding:org.openhab.binding.astro:2.0.0-SNAPSHOT @ /home/tobiasb/develop/openhab/openhab2-master2/git/openhab2-addons/addons/binding/org.openhab.binding.astro/pom.xml
[INFO] Adding repository http://download.eclipse.org/smarthome/updates-stable
[INFO] Adding repository https://

[2016-01-21 17:31] kaikreuzer commented on #533
@dvanherbergen Shouldn't it work now that Tycho resolves such a dependency from the pom.xml of the project? Do you have any hint?

[2016-01-21 17:45] dvanherbergen commented on #533
I would expect so. @peuter, is this in a repo somewhere that I can clone to test?

[2016-01-21 17:54] peuter commented on #533
@dvanherbergen Sure:

https://github.com/peuter/openhab2-addons/tree/cometvisu2-light

[2016-01-21 18:25] dvanherbergen commented on #533
There is a problem with the jar. When I build the repo, it downloads  https://dl.bintray.com/openhab/mvn/org/openhab/com.caucho.quercus/4.0.39/com.caucho.quercus-4.0.39.jar but this doesn't have any exports in the manifest:
[code]

[2016-01-21 18:27] dvanherbergen commented on #533
Keep in mind that if the jar is updated, then you'll need to build with the -U option to force it to reload the jar.

[2016-01-21 19:53] kaikreuzer commented on #533
Good point! @peuter I created the jar by simply running mvn deploy on your project - I guess we will have to add OSGi specific building info to it, e.g. using the maven-bundle-plugin. Would you want to give it a try?

[2016-01-22 17:09] peuter commented on #533
I tried to fix the problem. But I think it is still not right, at least the manifest with the right exports is used now. But I don't think that I included the quercus.jar in the right way. @kaikreuzer Can you do that, or explain what I have to do in detail?

[2016-01-23 04:38] beowulfe commented on #257
I haven't had much time to work on this unfortunately. I'm optimistic that I'll be able to do so, but I might cut the scope a bit. Do you agree that pin and barcode generation can wait?

[2016-01-23 08:59] kaikreuzer commented on #257
Definitely yes, this is only a nice to have - let's finish the rest of it!

[2016-01-23 09:18] peuter commented on #533
Ok I think I fixed the pom now. At least mvn deploy/install generates a bundle with the correct manifest.

[2016-01-23 22:39] kaikreuzer commented on #533
Congrats, looks good! I have just deployed the latest jar to Bintray!

[2016-01-24 19:37] lolodomo commented on #625
Ok, choosing the right bridge thing solved my issue.

[2016-01-24 19:37] #625 closed

[2016-01-24 19:43] lolodomo opened #640 "RFXCOM binding - problem of conversion"
My RFXtrx433E is retrieving temperatures from 3 Oregon Scientific temperature and humidity sensors.

My items are defined like that:
[code]

The first time I added things and linked to these items with Paper UI, there were no issues and the temperatures were set correctly with a correct display n classic UI.

After a restart of openHAB2, then I got these errors:
[code]
Why format "%d °C" is used r

[2016-01-26 10:06] jrcourtois opened #643 "Unable to get and put data from plug enocean"
I got a plug which device reference type is W1R16FP.

And I don't manage to retrieve the consumption from this device, I don't know where else I could ask to know if this is supposed to be managed in some way or not.

[2016-01-26 10:12] jrcourtois opened #644 "Crash of plugin when removing the usb plug"
Obviously, you could say that I don't have to unplug it, but it can happens.
I got this stacktrace
[code]

The problem is when I re plug it, it is not working, and simply restarting the binding does not work. I have to restart the whole openhab.

[2016-01-26 10:24] kaikreuzer commented on #644
As there is no enocean binding in openhab2-addons, shouldn't this issue rather to go https://github.com/openhab/openhab/issues?

[2016-01-26 10:25] kaikreuzer commented on #643
As there is no enocean binding in openhab2-addons, shouldn't this issue rather to go https://github.com/openhab/openhab/issues?

[2016-01-26 10:25] #643 closed

[2016-01-26 10:25] #644 closed

[2016-01-26 10:35] jrcourtois commented on #643
OK, as I managed to install it through the Paper UI I thought it was in openhab 2...

[2016-01-26 10:37] kaikreuzer commented on #643
No worries, it is not always easy to spot where it should go, that's why I am redirecting you :-)
This repo here (openhab2-addons) now specifically only contains 2.0 add-ons. The whole runtime distribution (which also packages stuff from openHAB 1 and Eclipse SmartHome) has moved to https://github.com/openhab/openhab-distro.

[2016-01-26 18:43] SuperOok commented on #503
I've set `knx:ignorelocalevents=true` but my log now is spammed with warnings like this

```19:31:41.455 [WARN ] [.binding.knx.internal.bus.KNXBinding] - Ignoring local Event, received from my local Source address 0.0.0 for Group address 1/2/10.```

As I have explicitly activated this behavior, I would deem that warning unnecessary. I would like to see other warnings though, so I would rather not

[2016-01-26 21:15] lewie commented on #503
As I coded this, I was not clear if these local events are a Bug or a miss configuration.
More and more it is clear, local events should be filtered by default.
Yes, makes sense to set this WARN to DEBUG now.

Will do that next time.

[2016-01-26 21:26] dvanherbergen opened #645 "DMX-Binding: Add possibility to configure IP and Universe (Artnet)"
[Original Issue](https://github.com/openhab/openhab/issues/2622) raised by @spacemanspiff2007  :

##

[2016-01-28 18:24] Viburnum commented on #88
Hi I just added the jar @gerrieg has provided and added the Homematic Bridge. While initializing the bridge, I get the following exception. Any idead?

`2016-01-28 19:17:47.682 [ERROR] [ome.core.thing.internal.ThingManager] - Exception occured while calling thing handler factory 'org.openhab.binding.homematic.handler.HomematicThingHandlerFactory@3e38a280': javax/xml/bind/JAXBException
java.lang.No

[2016-01-28 18:26] kaikreuzer commented on #88
Well, it sounds as if the manifest of the binding is lacking a package-import for javax/xml/bind...

[2016-01-28 20:55] Viburnum commented on #88
Pull Request https://github.com/gerrieg/openhab2-addons/pull/1 adds javax/xml/bind to the manifest file

[2016-01-30 20:03] peuter commented on #533
Sorry but I'm stillhaving trouble to get it working. The IDE doesn't seem to find the coucho bundle and is complaining about missing com.caucho imports. Additionally it shows an 4 errors in my pom.xml like:

Plugin execution not covered by lifecycle configuration: org.eclipse.tycho:tycho-compiler-plugin:0.24.0:compile (execution: default-compile, phase: compile)

I have compared my pom.xml with ot

[2016-01-31 14:40] kaikreuzer commented on #629
Fixed by https://github.com/eclipse/smarthome/issues/871, which is now available in OH2.

[2016-01-31 14:40] kaikreuzer commented on #635
Fixed by https://github.com/eclipse/smarthome/issues/871, which is now available in OH2.

[2016-01-31 20:25] lolodomo opened #646 "Freebox binding: exception when uninstalling the binfing"
Here is the exception I got when uninstalling the Freebox 2.0 binding using Paper UI:
[code]
But the extension was finally uninstalled.
I have to mention that I uninstalled the extension without removing the thing first.

[2016-01-31 20:27] lolodomo opened #647 "Freebox binding: call timestamp cannot be linked to a DateTime item"
Using Paper UI, DateTime items are not populated in the list of available items for the call timestamp channel.

[2016-01-31 20:28] kaikreuzer commented on #647
This sounds clearly like a bug of the Paper UI - may I ask you to open an issue at https://github.com/eclipse/smarthome/issues instead? Thanks!

[2016-01-31 20:37] lolodomo commented on #647
My feeling is that the list is populated depending on the channel type, isn't it ?
Maybe this channel was defined as a string rather than a datetime ?

[2016-01-31 20:39] kaikreuzer commented on #647
Yes, you are absolutely right. The channel type of call_timestamp is of type String and it would indeed make sense to use DateTime instead.

[2016-01-31 21:10] lolodomo opened #648 "RFXCOM binding - things remains in state INITIALIZING"
Here are my logs when starting OH2 with RFXCOM binding:
[code]
RFXCOM USB Transceiver thing is ONLINE but not the TEMPERATURE_HUMIDITY things.

[2016-01-31 21:12] lolodomo opened #649 "RFXCOM exception when logging out from openHAB2"
Here is the exception I get when I logout from OH2:
[code]

[2016-02-01 09:30] vmartinvega-pivotal commented on #496
Hi all,

I recently bought a wifi led controller which I am not sure if it is compatible with this addon implementation, alghouth I would be able to adapt it. My concern now is to know if this addon implementation (openhab 2) is compatible with openhab 1.8, that is, can I install it in the 1.8 runtime and wait for it to work? or do I have to modify the code to have it running in 1.8 runtime?

Best

[2016-02-01 12:35] sbussweiler commented on #646
The method FreeboxHandler.dispose() is calling 'updateStatus(ThingStatus.OFFLINE)', which is not allowed in this method.

[2016-02-01 12:47] kaikreuzer commented on #646
Thanks for the analysis, @sbussweiler!

[2016-02-01 12:48] #646 closed

[2016-02-01 13:03] kaikreuzer commented on #649
JavaDoc says: "this error can only occur at run time if the definition of a class has incompatibly changed."
So it seems that the RFXCOMHandler has been compiled against an older version of ESH. This might be the case, since the last build was from Jan 23. openHAB distro 114 now contains RFXCOM build from yesterday, so I would assume this issue is resolved with it. Please re-open, if my assumption

[2016-02-01 13:03] #649 closed

[2016-02-01 20:17] monnimeter commented on #496
This binding is made for openhab 2. You cannot deploy it within the older runtime.

[2016-02-01 20:23] lolodomo commented on #648
Problem unchanged in snapshot 114.

[2016-02-01 20:24] lolodomo commented on #649
Confirmed. No exception with snapshot 114.

[2016-02-01 20:32] lolodomo commented on #648
I removed the extension, no problem. Then when I try to remove the things, they switch to a REMOVING state but are not removed. I have to force a removal.
[code]

[2016-02-01 21:30] kaikreuzer commented on #649
:+1:

[2016-02-02 08:28] magcode commented on #496
For OH1.8 you can try:

https://github.com/magcode/openhab/releases/tag/wflda

https://github.com/magcode/openhab/tree/master/bundles/binding/org.openhab.binding.wifilight

add to openhab.cfg:

wifilight:LD382.type=LD382A

[2016-02-04 10:53] sungura1983 commented on #88
Hi all,

I was trying to use this binding some months back, and then because of other bindings etc. had to step back down to OpenHAB 1.8. However, as I'm now redoing my setup, I'd like to give the latest 2.0 beta a run for its money ;)

Is there a latest .jar snapshot of the binding I can use, so do I have to compile it myself? I'm hoping for the former, because -- while not technically illiterate

[2016-02-04 10:58] kaikreuzer commented on #88
Before testing, you should definitely wait for @gerrieg to merge https://github.com/gerrieg/openhab2-addons/pull/1 into his PR first.

[2016-02-04 11:24] kaikreuzer commented on #533
What helps to make it compile in the IDE is to activate m2e (Configure->Convert to Maven project), which should download the dependency and add it to the build path.

There is usually a quick fix option available that suppresses these messages.

Are all your components (in OSGI-INF) marked as immediate=true?

Did you include it as a second bundle in the [cometvisu feature](https://github.com/openh

[2016-02-04 13:05] sungura1983 commented on #88
But, assuming, as  I am, an explorer with masochistic tendencies (in a purely technical way ;) — lets keep it PG-13) any chance anyone has one such jar i could use?

;)

m

[2016-02-04 15:51] MHerbst opened #653 "samsungtv binding: Program titles are converted to uppercase"
I have tried the Samsung TV binding, which works quite well with my TV.
But there is one issue with (I assume) all channels that return a string. I have added the programTitle to my items and sitemap and the following happens.
According to the log file the following string is returned:
[code]
The item is configured as:
[code]
Removing the formatting info ("[%s]") does not change the behaviour.

In

[2016-02-04 15:58] MHerbst commented on #653
I did some further research and checked the HTML code of the Basic UI. Here I found the reason for the uppercase letters: in smarthome.css the class "mdl-form__control" contains "text-transform: uppercase". I am not sure whether this is a bug or a feature.
Is it possible to overwrite this behaviour with an own CSS file?

[2016-02-04 16:04] kaikreuzer commented on #653
@resetnow I assume this was meant to be a feature, could you comment on it?

[2016-02-04 17:58] resetnow commented on #653
It was meant to be a feature, yes. This was done because in material design it is recommended to capitalize the text in certain places (like buttons and actions). In my opinion, it looks better this way too.

I would recommend using Stylish browser extension. You can add the following style:

[code]

This way you can tune the stylesheet the way you want.

[2016-02-04 19:04] watou commented on #653
It would be cool to have an option in the Basic UI (as opposed to needing a browser extension) for those who disagree! :smile:

[2016-02-04 19:08] resetnow commented on #653
I just don't want to flood the configuration with lots of options. I suggest to wait some time to see how many people are affected by this.

[2016-02-04 19:35] MHerbst commented on #653
I absolutely agree with you. But I think it would be nice to have a user-specific stylesheet where one could overwrite the styles in smarthome.css. This would allow e.g. to use other colours or fonts or ...

[2016-02-04 20:07] watou commented on #653
It is a matter of preference and my opinion is one of very many, but forcing all text to uppercase unless the source is patched or a browser extension is used, is not to my liking, and potentially obscures true state values should one want to write rules against them, for example.

[2016-02-04 20:20] resetnow commented on #653
@watou do you think an option to use a custom CSS file would solve the problem?

[2016-02-04 20:26] resetnow commented on #653
I just remembered there are other things which are CSS-related too and require an option. So, yes, there will be an option to disable capitalization.

[2016-02-05 07:50] kaikreuzer commented on #653
This is also my main concern - all other UIs show the states as they ARE and don't do any changes to them; I would prefer to have this as the default in the Basic UI as well. If a user wants to "prettify" his UI appearance, he could then enable to option to have it al capitalized.

[2016-02-05 12:32] vmartinvega-pivotal commented on #496
Many thanks for your info. I got the code for OH1.8 (https://github.com/magcode/openhab/tree/master/bundlees/binding/org.openhab.binding.wifilight) and I modified the code to be compatible with ld382A (I got WiFiLEDDriver and LEDStateDTO classes) from the implementation done for OH2. With this implementation I can Turn On/Off the led but I cannot change the led color, brightness and so on... As so

[2016-02-05 17:56] peuter commented on #533
Ok I found at least one problem: The com.caucho.quercus bundle on bintray does not include the quercus.jar file. I am not able to configure the pom.xml correctly, that it includes the jar. I am pretty sure that it used to work once and have no idea what has happened.

[2016-02-06 18:13] monnimeter commented on #496
I've got only LD382A devices... so the the driver is tested and works well within the OH2 binding. The support for LD382 (without A) was added later - but I've never tested it (s. above).

[2016-02-07 07:54] vmartinvega-pivotal commented on #496
Could you share the links of the WifiLED controllers you tested? For some reason mine is not working, I will investigate at the same time...

[2016-02-08 11:06] kaikreuzer commented on #533
That's indeed a problem, sorry that I didn't notice it either...
I don't know either what needs to be changed in the pom.xml to have the jar correctly included, but I'd hope that it should not be too hard.

[2016-02-08 11:10] kaikreuzer commented on #608
This is by now in place at https://openhab.ci.cloudbees.com/job/PR-openHAB2-Addons

[2016-02-08 11:10] #608 closed

[2016-02-08 11:13] kaikreuzer commented on #311
This is now possible - files put in `conf/html` are served as static resources at `http://localhost:8080/static/`.

[2016-02-08 11:13] #311 closed

[2016-02-08 11:14] kaikreuzer commented on #257
Any news here, @beowulfe?

[2016-02-08 17:37] dvanherbergen commented on #608
The PR builds have been implemented, but there is no Sonar/PMD quality check not yet...

[2016-02-08 20:25] peuter commented on #533
Ok, it wasn't that easy. The only thing worked, was creating a local repository, deploying the jar file to it and add it as a dependency that must be included. Not really straightforward, though!

I hope the local repository is working when you check out the changes and deploy the bundle, so "fingers-crossed".

[2016-02-08 21:08] resetnow commented on #653
#1005

[2016-02-12 17:46] peuter commented on #533
@kaikreuzer Have you tried to build and Update the bundle on bintray  yet?

[2016-02-12 18:47] kaikreuzer commented on #533
Sorry, didn't try it yet, but now it is uploaded.
This local repo workaround looks pretty weird, though. I am pretty sure that there is a simpler way, but since I do not have the time to look for it myself, it is ok for now as long as it works.

[2016-02-13 14:05] peuter commented on #533
The workaround is not working either, because the bundle does not use the incuded jar. After spending two full days trying to solve this problem, it feels like I'm runnings against walls and I'm sick of it. I really have not idea how to get this running.

I commited the last version to quercus-osgi. It uses a maven-compatible fork from quercus from the maven repository. It can be build/installed f

[2016-02-13 21:28] #653 closed

[2016-02-14 08:48] kaikreuzer commented on #533
Sorry to hear that you had to give up...
Maybe an OSGi expert like @dvanherbergen can help on the right packaging?

[2016-02-14 09:58] hans99 opened #656 "Squeezebox addon not initializing when manually config things file"
Added Bridge and Things in a "squeezebox.things" file as:
Bridge squeezebox:squeezeboxserver:X[ ipAddress="1.2.3.4", webport=9000, cliport=9090 ]
Thing squeezebox:squeezeboxplayer:X:Y[ mac="00:01:02:03:04:05" ]

Both show up in "paper-ui" under things and the bridge is "ONLINE" but at least in my debugging the things never gets the "bridgeHandlerInitialized" and stays in "INITIALIZING".

Could it

[2016-02-14 13:12] dvanherbergen commented on #533
I can have a look. How can I test this?

[2016-02-14 13:55] peuter commented on #533
You can find the quercus-package here:

[2016-02-14 14:17] dvanherbergen commented on #533
I've created a PR on the quercus repo. I've changed the build to use the caucho quercus. This one has fewer dependencies. I've also changed to build process so that it shades the original jar rather than trying to embed it.
I've updated the build number to 1.0.0 as this is the first release of the openhab quercus, so it doesn't need to use the version number of quercus.

The new bundle loads fine

[2016-02-14 14:27] dvanherbergen commented on #533
@peuter could you test the updated version? You will need to do the following:

* merge the pull request
* run the quercus build locally using ```mvn clean install```
* add the dependency to the pom for the cometvisu bundle
[code]
* add the dependency to the karaf feature for cometvisu in the openhab2-addons/features/openhab-addons/src/main/feature/feature.xml :
[code]
* build everything and test.

[2016-02-14 14:41] dvanherbergen commented on #533
FYI, it is possible that the karaf feature build will not find the dependency from the local maven repo. It may need to be deployed to bintray first.

[2016-02-14 14:44] maggu2810 commented on #533
Why not using the maven-bundle-plugin to get IMHO better import and export package sections?
https://github.com/maggu2810/quercus-osgi/blob/maven-bundle-plugin/com.caucho.quercus/pom.xml

I set resolution to optional because I assume you do not use all that stuff.

[2016-02-14 15:01] dvanherbergen commented on #533
@maggu2810, feel free to create PR...

[2016-02-14 15:20] maggu2810 commented on #533
I can't test it if it will work with the CometVisu stuff.
So a PR does IMHO not make sense if it does not solve peuter's problems.

@peuter Can you test it? If it is working for you, you can cherry-pick the changes or I can add a PR, whatever you want.

[2016-02-14 15:32] peuter commented on #533
@maggu2810 You can create a PR, at least I could build the cometvisu with your pom (with the shade-plugin there seemed to be problems with the exports, it didn't build because of missing dependencies).

So thank you both so far. Your suggestions helped me a lot.

@kaikreuzer could you deploy the bundle again (and hopefully for the last time) to bintray as soon as I have merged maggu2810's PR?

I w

[2016-02-14 15:47] beowulfe commented on #257
@kaikreuzer - I'm basically ready to submit a PR. Looking at the issues mentioned above, I don't see the bouncycastle lib anywhere else now, so I'm still including it here.

There is one outstanding issue - I need a way to "reset" the homekit bridge. With physical homekit devices, this is usually a button you'd press to clear the homekit pairings. It's necessary to do this if you use a new iOS dev

[2016-02-14 17:13] kaikreuzer commented on #533
As it is only an OSGi-wrapper for the original jar, I prefer to keep the original version number - this is how it is done for all bundles in Eclipse Orbit as well.

Done! (as version 4.0.39)

[2016-02-14 17:17] kaikreuzer commented on #257
Ok for the initial PR, I can help on making it a dependency later on.

Good enough for the start at least. We can later on possibly do it through a configuration page, as I have also suggested [here](https://github.com/openhab/openhab2-addons/pull/654#issuecomment-183751828).

Looking forward to your PR!

[2016-02-14 17:18] maggu2810 commented on #533
I would prefer that too.
I set the version for the package export already, so this one are already correct.

[2016-02-14 17:45] peuter commented on #533
So just commited the right dependency, but it is still not really working. I can build, so maven seems to find the quercus bundle, but Eclipse does not. Do I have to update something in Eclipse? (Already tried to clean, Perform setup tasks, Maven->Update Project, delete my local .m2 repository).

@kaikreuzer The included quercus version is 4.0.45 which is the most current one found in the maven re

[2016-02-14 20:10] kaikreuzer commented on #533
Does your project have the "Maven Dependencies" classpath container? There you should see the jar being added to your build path if resolved and then the compiler will use it.

Ok, means I should then re-deploy it as version 4.0.45, right?

[2016-02-14 20:37] peuter commented on #533
No, the Maven Dependencies classpath container is missing (and I did convert it to a maven project).

And yes I think version 4.0.45 would be better.

[2016-02-14 20:42] kaikreuzer commented on #533
Try to add it manually by right-clicking your project->Build Path->Add Libraries...->Maven Managed Dependencies.

Ok, redeployed it with this version.

[2016-02-14 20:53] peuter commented on #533
Adding it manually doesn't work either :-(

[2016-02-14 21:25] peuter commented on #533
btw. just searched for other maven projects and found openhab-core -> org.openhab.core.karaf which doesn't show the maven dependencies classpath container either. So it is not just a problem in the cometvisu bundle.

[2016-02-14 21:30] kaikreuzer commented on #533
For me, it does:
<img width="486" alt="screen shot 2016-02-14 at 22 30 15" src="https://cloud.githubusercontent.com/assets/3244965/13036546/90c66cee-d36a-11e5-8984-619d03c360cd.png">

[2016-02-14 21:35] peuter commented on #533
Hm, I will do a fresh ide setup tomorrow, maybe something is strange in my
current one.

Kai Kreuzer <notifications@github.com> schrieb am So., 14. Feb. 2016, 22:30:

[2016-02-15 05:24] azim0ff opened #658 "PaperUI: no link to /control from menu"
I noticed the menu in upper left corner does not have a link that would take the browser to `/ui/index.html#/control` which is the main control panel. How to navigate back to control panel after changing settings/configuration? Right now, the only way I can do it is by typing `/control` directly into the address box in the browser.

[2016-02-15 08:35] sja commented on #88
Current version, compiled against oh2 master (14.02.2016 14:36 MEZ) including PR from Viburnum:
https://www.dropbox.com/s/qqur63re5ji9lqp/org.openhab.binding.homematic-2.0.0-SNAPSHOT.jar?dl=0

[2016-02-15 08:37] kaikreuzer commented on #658
No, it is not - the main control UIs are the Classic UI, the Basic UI or the native smartphone apps.
The Paper UI controls are not yet ready for users, that's why openHAB 2 does not include them yet.

[2016-02-15 08:37] #658 closed

[2016-02-15 08:46] azim0ff commented on #658
But what to do in the meanwhile? PaperUI used to take you to the control panel if you closed whatever window you were in ('x' in upper right).

[2016-02-15 10:59] kaikreuzer commented on #658
Many options:
- use the other apps as stated above
- wait and see
- help implementing stuff like [this](https://www.eclipse.org/forums/index.php/t/1072530/) or [that](https://github.com/eclipse/smarthome/issues/1039).

[2016-02-15 11:05] azim0ff commented on #658
Correct me if I am wrong, but other apps don't do discovery.

I am working on a binding/device(s) combination and I am targeting PaperUI. I would like to use it in whatever state it currently is. However, I am finding it hard to work with the menus without a way to go to the control panel without typing in the URL. That is all I am trying to say.

[2016-02-15 11:22] kaikreuzer commented on #658
Correcting you: HABmin and the Android app also support discovery, also the shell supports it. And it does not matter: Discovery is not a feature of a UI, but of the runtime.

You cannot target a specific UI from a binding. Binding implementations must not have any direct link to UIs.

Is your "work" the testing of the binding and thus you need it for playing around? In that case, you can switch t

[2016-02-15 11:55] azim0ff commented on #658
Indeed, but you must use a UI that supports it. Hence my "targeting" of PaperUI. I did not know about Android app and HABmin being able to do this also. I will try them out in the coming days.

Yes! Thank you, that's what I was looking for.

[2016-02-15 14:07] beowulfe opened #659 "Hunter Douglas PowerView Shades"
Hunter Douglas makes a line of motor controlled shades, by the name of PowerView. I have a binding ready to submit for controlling these, but I have a few questions first:

1) Rollershutter items would seem like a good fit, however PowerView doesn't have up/down controls. Instead, you specify a percentage to move the shade to, or a percentage to vane open/closed the slats on a fully closed shade.

[2016-02-15 14:49] kaikreuzer commented on #659
1) I would go for a Rollershutter+Dimmer item, this is also how it is e.g. done in KNX. Simply translate UP to 0% and DOWN to 100% in your binding. The more tricky command is STOP/MOVE - is it really not possible to simply stop the movement of your shades? If not, simply ignore these commands then.

2) Yes, the general assumption is that it is the user who defines the items and creates the links -

[2016-02-15 18:41] peuter commented on #533
So I startet from scratch with a fresh Eclipse installation via the Eclipse installer. I can see that Eclipse is not indexing the project maven repositories. When I try to add the quercus dependency it doesn't show the org.openhab/com.caucho.quercus bundle.

I did activate the openhab-bintray maven repository for indexing manually and I get:
15.02.16, 19:36:57 MEZ: [INFO] Updating index for reposi

[2016-02-15 18:54] kaikreuzer commented on #533
If it does not block you from the refactoring, feel free to create the PR with everything working in Maven. I can then see if I can find a way to make it all green in Eclipse as well.

[2016-02-15 19:44] peuter commented on #533
Unfortunately I need it working in Eclipse for debugging. Just build the offline distro an started. It loads the cometvisu and quercus bundles, but when I try to excecute something php based I see this:

`20:39:50.585 [WARN ] [eclipse.jetty.servlet.ServletHandler] - Error for /cometvisu/check_config.php
java.lang.Error: Unresolved compilation problems:
	The import com.caucho cannot be resolved
	Th

[2016-02-16 00:10] beowulfe commented on #659
1) Sounds good. Regarding STOP/MOVE, I wasn't able to discover a way to do it. Conceivably I could implement it myself by progressively updating the position, but there's no feedback mechanism to know when the position has been reached. I'll just ignore the commands.

[2016-02-16 12:28] etobi opened #661 "DomiqBase (LCN) Binding"
I'm running an LCN based HomeAutomation. But as I'm using a Domiq Base (https://domiq.de/products/d_bl_1b) instead of the LCN-PCHK I can't use the existing LCN Binding (https://github.com/openhab/openhab/wiki/LCN-Binding).

The Domiq Base offers a TCP port (4224) and simple protocol to control the LCN. Someone already implemented something using the TCP binding and special rules configuration. I d

[2016-02-16 12:53] teichsta commented on #661
Thanks for getting in touch @etobi. As this doesn't seem to an issue but more a question i'd like to forward you to the openHAB forum at https://community.openhab.org. You'll most probably find others to discuss your question there.

[2016-02-16 13:44] etobi commented on #661
This issue was not intended as a question (no "?" in here ;-) ), but more like an announcement I'm going to work on this. From the contribution guide I thought this is the way to go.

Thanks @kaikreuzer for reopening.

[2016-02-16 13:55] teichsta commented on #661
i discussed with Kai already … sorry for getting you wrong here!

[2016-02-16 14:05] etobi commented on #661
<3

[2016-02-16 16:43] mpattera commented on #17
I'm not very into the Things world, but the actual approach with 1.x binding is very functional.

My idea is that in 2.x the binding may or may not specialize that much as discussed before, but keeping the possibility to easly link raw GAs to Items.

An Item definition in 1.x like that one is compact and functional
`Rollershutter Rollershutter_001 "Rollershutter" (gRollershutters) { knx="0/1/1+<0/

[2016-02-16 19:11] maggu2810 commented on #533
@peuter How can I proceed to test the cometvisu ui bundle?
I install the bundle, sure... How can I test the UI? Do I need further stuff?

[2016-02-16 19:11] maggu2810 commented on #533
@peuter How can I proceed to test the cometvisu ui bundle?
I install the bundle, sure... How can I test the UI? Do I need further stuff?
All that in assumption that the binding and its dependencies would be resolved...

[2016-02-16 19:18] peuter commented on #533
You have to download the latest CometVisu release from:
https://github.com/CometVisu/CometVisu/releases

extract it somewhere on you computer, and tell the cometvisu-bundle where to find it in the cometvisu.cfg (webfolder=<path-to-cometvisu>/release).

Then you should be able to load the visu:
http://<openhab-server>:8080/cometvisu/?config=demo
To this point everything should work, cause no PHP an

[2016-02-16 20:39] maggu2810 commented on #533
Is it good if I see this:

[code]

[2016-02-16 20:40] peuter commented on #533
Yes, that means that everything is working fine. Did you run it from an offline-build or inside eclipse?

[2016-02-16 21:18] maggu2810 commented on #533
ATM not inside Eclipse but Karaf

[2016-02-16 22:18] maggu2810 commented on #533
It is also working in the Eclipse IDE if "our" created quercus OSGi bundle is found to resolve the cometvisu dependencies.

There are different methods to do this, e.g. add it to OH2 target platform (but I do not know if there is any reason to not add GPL stuff). For you as the developer you could also add the built jar as a binary plugin (import). I don't know any way to add maven dependencies to

[2016-02-17 11:29] lolodomo commented on #648
No feedback ?
Every user of this binding seems to be impacted.

[2016-02-17 13:03] davidgraeff commented on #593
I added a merge request for a new milight binding implementation for OH2 where the binding itself or parts of it can be of any use. I separated the protocol from the binding boilerplate so it may be reused in the Wifi led binding. #666

I have some concerns though: I do not thing it is that clever to merge all kind of vendors and protocols into one binding, so I'm not really sure if this fits into

[2016-02-17 14:52] reitermarkus opened #667 "Where have the icons gone?"
Hi,

it's been quite a while since I added my icon set. I'm currently designing some new icons and have been looking all over the place to find where they are located now.

Apparently they were removed in https://github.com/openhab/openhab2-addons/pull/601. I couldn't find any info on where they were moved, did I miss something?

[2016-02-17 15:00] kaikreuzer commented on #667
Hi Markus!
The ended up [here](https://github.com/kaikreuzer/openhab-core/tree/master/bundles/org.openhab.ui.iconset.classic/icons), but this is only a temporary location.
What I would like to do with you is to move this "classic iconset" bundle to Eclipse SmartHome, a bundle for it [already exists](https://github.com/eclipse/smarthome/tree/master/extensions/ui/iconset/org.eclipse.smarthome.ui.ico

[2016-02-17 15:16] reitermarkus commented on #667
Sure, I'll take a look at it. https://github.com/kaikreuzer/openhab-core/issues/21

[2016-02-17 15:27] kaikreuzer commented on #667
Cool, thanks!

[2016-02-17 15:27] #667 closed

[2016-02-17 18:06] peuter commented on #533
As I already did some changes to remove the quercus.jar from the bundle (and more) I cannot use your changes in the cometvisu. But that shouldn't be the problem. I copied your changes in the quercus bundle, but that did not help.

The current development version of the cometvisu can be found here:
https://github.com/peuter/openhab2-addons/tree/cometvisu2-light

@maggu2810
Could you be so kind and

[2016-02-17 19:45] erlendfalch commented on #648
I am having the same problem with discovered devices staying at initializing. Also, any attempts to send command to nexa switch fails.

I have configured RFXcom manually, edit the serial port option (/dev/ttyUSB0), and left anything else as it is (all buttons on, nothing entered in "RFXCOM Transreceiver mode".

Running RPI, Jessie

[2016-02-17 20:09] maggu2810 commented on #533
As you can see in the cometvisu branch in openhab2-addons fork you will see that there have to be imports added to the cometvisu manifest.
What should I test if you already know that it is not working?
Have you tried to integrate all changes (e.g. manifest) I have done on cometvisu in your light version?

[2016-02-17 20:27] peuter commented on #533
Sure, imports are there:
https://github.com/peuter/openhab2-addons/blob/cometvisu2-light/addons/ui/org.openhab.ui.cometvisu/META-INF/MANIFEST.MF

I just copied your whole manifest.mf and started in eclipse, still:
`Error for /cometvisu/check_config.phpjava.lang.NoClassDefFoundError: com/caucho/quercus/QuercusRuntimeException`

I also copied the other changes, wo no success.

I thought if you could

[2016-02-17 21:02] paulianttila commented on #648
I can agree that there is a problem. I'm currently investigating it. I only have a one rfxcom transceiver and I'm using it on my production system (OH1), so it's little bit challenging to debug the problem.

[2016-02-17 22:35] maggu2810 commented on #533
Have you:
* checked out the branch cometvisu from my quercus-osgi repo and done a "mvn clean install"?
* after that have you checked out the branch cometvisu from my openhab2-addons and build cometvisu binding using "mvn clean install"

using the two generated artifacts in the Karaf environment of your OH2 runtime should work.
Didn't it?

[2016-02-17 22:48] maggu2810 commented on #533
I don't understand why you have chosen optional resolution for your com.caucho.quercus... package imports.
If I used a slightly changed manifest (so, the imports in your manifest and mine are not the same) the classes are all resolved fine (at least the ones I could trace).

But there is another error then, but it is related to your other changes, as it does not occur on the modified master branch

[2016-02-18 07:56] #257 closed

[2016-02-18 09:18] clinique commented on #647
Will take a look at this issue soon

[2016-02-18 14:16] clinique commented on #647
@lolodomo , you were right, while it's handle as a DateTimeType in the binding, it was declared as a String in ESH_INF. Correcting this.

[2016-02-18 14:49] mpattera commented on #503
I'm running OH2 20160214 snapshot. The command was originated from KNX bus, not from OH.

With Item definition `Switch  Luce_011        "Luce"          <light> (gLuci,gA4B_01) { knx="1/1/11+<1/5/11" }` both `receiveCommand()` and `receiveUpdate()` are called every time a `postCommand()` is executed by the KNX binding.
[code]

With Item definition `Switch  Luce_011        "Luce"          <light> (g

[2016-02-18 15:43] mpattera commented on #503
The same as above, but with command originated within OH.

Without `autoUpdate="false"` command and update events are generated.
[code]

With `autoUpdate="false"` only command event is generated.
[code]

[2016-02-18 15:45] #647 closed

[2016-02-18 17:59] paulianttila commented on #648
I debug the problem and most of the time Thing handler initialise function seems to be called without proper configuration, but very rarely configuration is on place. When configuration is missing, bridgeHandlerInitialized is not called either.

    @Override
    public void initialize() {
        config = getConfigAs(RFXComDeviceConfiguration.class);
        logger.debug("Initialized RFXCOM devic

[2016-02-18 19:22] peuter commented on #533
If I build a offline-distribution and load the cometvisu there I also get the error:
'define' is an unknown function.

This is why I wanted to get it running inside Eclipse, to find out whats wrong.

The quercus package is optional as it is not needed for the basics of the cometvisu, it only adds some functionality. And all the changes in my branch are made to ensure, that it can run without it. O

[2016-02-18 21:38] kaikreuzer commented on #648
So what you are saying is that despite the javadoc says that initialize() won't be called, if the mandatory configuration is not complete, it still is called in your case and where you expect values, you only get null?

[2016-02-18 22:47] maggu2810 commented on #533
Hi @peuter,
what helps for me to get cometvisu's quercus dependency resolved (quick and dirty solution) in the Eclipse IDE:
* File, Import, Plug-in Development: Plug-ins and Fragments

* Import From: Directory: (you could e.g. use the local maven directory sub-path)
 * for me e.g. /home/maggu2810/.m2/repository/org/openhab/com.caucho.quercus/4.0.45-SNAPSHOT
* Plug-ins and Fragments to Import: Sele

[2016-02-19 06:46] paulianttila commented on #648
Exactly (I forgotten to highlight that).

[2016-02-19 07:21] kaikreuzer commented on #648
Checking your code, the temperaturehumidity thing type does not have any (mandatory) configuration parameters at all. So why do you expect at all any configuration to be present?

[2016-02-19 20:20] peuter commented on #533
@maggu2810 Thanks a lot now the dependecy is resolved and I can start it in Eclipse.

I found out that the QuercusEngine must be initialized inside the CometVisuServlet, otherwise its modules have not been loaded and nothing worked. My guess is that it is something about the classloader not beeing able to load the resource file where the modules are defined (META-INF/quercus/com.caucho.quercus.Que

[2016-02-20 12:28] kolaf opened #671 "Serial devices appear to use the same lock file"
I'm running three bindings that connect through emulated USB serial ports (I believe in different fashions): zwave (the latest unofficial release for OH2), mysensors, and rfxcom. I'm running as root (only way I have found to get full access to the serial ports) under ubuntu 14.something.

Initialising the first device (mysensors) went smoothly after installing the prerequisite serial bundle: featu

[2016-02-20 12:55] cdjackson commented on #671
If I remember correctly, the lock file is handled by the serial driver (well, everything to do with the actual serial port is handled by the driver).

https://github.com/NeuronRobotics/nrjavaserial

There is also an open issue associated with lock files that came out of the zwave binding - you might be interested in taking a look and adding to their discussion? https://github.com/NeuronRobotics/nr

[2016-02-20 13:10] kolaf commented on #671
It looks like that issue was closed, without me getting any wiser on how or why. Not sure I can contribute any more than reporting what I saw :/

[2016-02-20 13:12] cdjackson commented on #671
The issue I referenced is still open https://github.com/NeuronRobotics/nrjavaserial/issues/60 <https://github.com/NeuronRobotics/nrjavaserial/issues/60>

[2016-02-20 13:36] kolaf commented on #671
Sorry, I misread the labels on the final post. I get the same issue when reconnecting the zwave dongle. I can give them the same log as I posted here and see what they say.

[2016-02-20 14:14] mnlipp commented on #671
Your lock file has a rather strange name. Usually, lock files have names such as `LCK..<dev>` with `<dev>` being something like `ttyUSB0` or `ttyACM3`. You mentioned that you use "emulated USB serial ports". Could you elaborate a bit on that? From the look of your lock file, you should have a "/dev/mysensorsUSB". How can you get such a thing?

[2016-02-20 14:18] kolaf commented on #671
/dev/mysensorsUSB is a symlink to /dev/ttyUSB1 which is created automatically whenever the device is plugged in as per a recipe in the openhab wiki somewhere. It is to ensure that it has the same name after every boot and plug in/plug out.

By emulated USB serial ports I simply mean generic FTDI devices, devices you plug into the USB port but act as serial ports, as they typically do. Nothing spec

[2016-02-20 14:29] mnlipp commented on #671
Okay, so `/dev/mysensorsUSB -> /dev/ttyUSB1` works. The problem occurs when you try to connect your second USB device (zwave). From the error message (`/var/lock/LCK..mysensorsUSB: File exists.`) it appears that you configured the zwave component to use the same USB device, hence the message.

I'd suggest to try three configurations each using only one of the USB devices one after the other. When

[2016-02-20 14:30] kolaf commented on #671
They are not using the same USB device, zwave is connected through /dev/ttyACM0. But sure, I'll disable all three bindings and go through them one by one.

[2016-02-20 15:13] kolaf commented on #671
I've tested initialising the services in different orders and this is what I have found:

It appears that everything is related to the RFXCOM binding. It never works regardless of which order I configure things, and the two other bindings always work. One point that might be interesting finding the issue with the rfxcom binding is that when I initialising as the first binding I get the simple erro

[2016-02-20 16:25] mnlipp commented on #671
I think something goes wrong here (obviously), but it is not related to the serial driver's locking. The root course is that your RFXCOM connection isn't working. I think you should get that working first in a configuration without the other components.

Looking at the source code (e.g. https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.rfxcom/src/main/java/o

[2016-02-21 09:52] kgoderis opened #673 "Setup tasks fail due to namespace clash between OH1 and OH2"
Just ran into an error when importing projects as part of the "setup tasks":

  ERROR: org.eclipse.core.resources code=77 /Users/kgoderis/openhab2-beta1/git/openhab/bundles/binding/org.openhab.binding.zwave overlaps the location of another project: 'org.openhab.binding.zwave'

I guess there will many more of these as some bindings are in the process of being migrated from OH1 to OH2 as well.

[2016-02-21 10:05] kaikreuzer commented on #673
This binding does not (yet) exist in OH2, so I guess this is your personal workspace where you have this issue...
And note that the OH1 ZWave binding has already been renamed to prevent such clashes, see https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.zwave/.project#L3.
We will do this with others as well - whereever we want to keep the OH1 version at all in the

[2016-02-21 10:09] kgoderis commented on #673
Ok - Here is the complete error log

mporting project org.openhab.binding.zwave1
ERROR: org.eclipse.oomph.resources code=0 org.eclipse.core.internal.resources.ResourceException: Invalid project description.
org.eclipse.oomph.resources.backend.BackendException: org.eclipse.core.internal.resources.ResourceException: Invalid project description.
  at org.eclipse.oomph.resources.backend.BackendContain

[2016-02-21 11:50] kaikreuzer commented on #673
Will have a look later today...

[2016-02-21 11:52] kgoderis commented on #673
Solved it by reloading completely the setup tasks. They seem to be cached

[2016-02-21 11:52] #673 closed

[2016-02-24 15:35] iakko opened #678 "Using ESH Paper UI instead of OpenHAB 2 Paper UI on Offline Distro"
Hello there,

I'm not sure if this is the right place to ask, sorry about that, but I'm using the Offline Distro environment found [here](http://www.openhab.org/getting-started/downloads.html) to test OpenHAB 2 and I'm trying to figure out how to use the native ESH Paper UI instead of the OpenHAB version.

Looking around I found this [link](https://github.com/openhab/openhab2-addons/issues/658) th

[2016-02-24 15:57] iakko commented on #678
Ok, I guess I did a mistake, I can see an **openhab-distro** GitHub project, I've posted the same [here](https://github.com/openhab/openhab-distro/issues/143). Sorry guys.

[2016-02-24 16:02] kaikreuzer commented on #678
No worries, closing it here then!

[2016-02-24 16:02] #678 closed

[2016-02-25 12:59] nokyyz opened #680 "Add Teleinfo Binding"
Hi,
I'm working on new binding OH2 which enables to manage data from **French electricity meter** (http://www.magdiblog.fr/wp-content/uploads/2014/09/ERDF-NOI-CPT_02E.pdf) : **Teleinfo binding**.

This binding will have the following features:
- retrieves ERDF frames from a serial port
- retrieves ERDF frames from a remote serial port (server)
- management of all data types : ADCO, OPTARIF, HCHC,

[2016-02-26 22:43] feens opened #682 "One-time poll after command"
See here for inspiration: https://community.openhab.org/t/zwave-feature-needed-polling-a-zwave-device-from-a-rule/2554/16

Being as the goal is to not allow polling from the rules, something that I feel would be super beneficial from the binding then is the ability to poll shortly after a change. My problem case is with GE dimmers (and I think other dimmers have the same issue): When they change,

[2016-02-28 20:01] kaikreuzer commented on #583
Implemented with https://github.com/openhab/openhab2-addons/pull/584

[2016-02-28 20:01] #583 closed

[2016-02-28 20:01] kaikreuzer commented on #392
@robbyb67 Any news?

[2016-02-28 20:16] #533 closed

[2016-02-29 02:32] xsnrg commented on #180
@cdjackson We can probably close this one as it is merged now, yes?

[2016-02-29 04:54] icanhazpython commented on #142
@cdjackson how can we use the binding with oh2? Is there a prebuilt jar available or instructions on how to install? I'm just getting started messing with oh2, I have it and habmin installed on an rpiv2. I've found your projects https://github.com/cdjackson/zigbee4java and https://github.com/cdjackson/openhab2-addons/tree/zigbee/addons/binding/org.openhab.binding.zigbee. Just wondering if there is

[2016-02-29 06:44] #180 closed

[2016-02-29 12:59] paulianttila commented on #648
Because they are mandatory :) But this was my mistake. I added them all required and now all parameters are present as they should be.

Thing still stays on offline, because bridgeHandlerInitialized is not called. I have assumed that bridgeHandlerInitialized is called after initialize (when bridge is initialised or immediately after initialize if bridge is already initialized), but this not seem t

[2016-03-01 12:53] sachinacharya commented on #598
Even i got the same problem what is the solution.Please help me.

[2016-03-01 14:51] kaikreuzer commented on #648
I think the usual case is that a bridge handler has to be in place before a thing handler can be initialized - so yes, I think you should be prepared to handle the call of bridgeHandlerInitialized before your initialize() method has been called (@sbussweiler, pls correct me if I am wrong).

[2016-03-01 21:44] hfanieng commented on #392
@robbyb67 would be great if all the functions of one germans biggest supplier of routers will be fully supported with OH2.

discussion continues at the official OH-Forum here:
https://community.openhab.org/t/fritz-dect-200-remains-in-status-initializing-changed-to-binding-reacts-not-on-fixed-status/8148/8

[2016-03-02 11:09] paulianttila commented on #648
@lolodomo: I just created PR, which hopefully fix the offline problems. Could you try and give feedback? Latest version can be found from [Cloudbees](https://openhab.ci.cloudbees.com/job/PR-openHAB2-Addons/146/)

[2016-03-02 12:23] kaikreuzer opened #693 "Weird thing status updates on startup"
Adding a Z-Wave stick as a thing, I see the following log:
[code]

First of all, the NPE looks like a bug and must be avoided.
Then, the status transitions are: INITIALIZING -> ONLINE -> INITIALIZING -> ONLINE
Note that a binding should never set the status to INITIALIZING itself; if should only switch to ONLINE once it is ready. So I would expect it to be INITIALIZING -> ONLINE only.

[2016-03-02 12:36] lolodomo commented on #648
I can test this evening.
I have to take the binding jar file in workspace ?
The files in workspace correspond to the last build, in this case yours ?

[2016-03-02 12:54] kaikreuzer opened #694 "NPE when updating neighbours"
I just had this error on all my nodes during startup:
[code]

[2016-03-02 14:02] cdjackson commented on #693
Welcome to Z-Wave :)

I’d need to see a debug log really to see what message it’s trying to process for the NPE...

[2016-03-02 14:39] cdjackson commented on #682
Note that as of #690 it is possible to manually refresh a channel using the RefreshType.REFRESH command.

[2016-03-02 14:59] kaikreuzer commented on #693
Thanks! It is indeed my first day that I really look into it (I hope I won't regret it ;-)). Already have it running on a RPi3 with HABmin - works pretty well (apart from the exceptions) :sunglasses:

Can't a few null checks harden the code so that no NPE bubbles up?
Atm, my controller does not come online again because of https://github.com/openhab/openhab2-addons/issues/694 during its initializa

[2016-03-02 15:05] cdjackson commented on #693
Of course, but where? The binding is very big, and the question is what message was it processing that threw the exception. We have dozens of command classes, and each command class supports multiple commands, so there’s a huge place to look. In general, I agree that we should protect against NPE (etc), but if I’ve missed one, I need to know where to look :)

I’ll push a fix for this now.

[2016-03-02 15:13] #694 closed

[2016-03-02 16:08] bhuism commented on #694
grrr, I was looking into this :+1:

[2016-03-02 16:11] cdjackson commented on #694
Sorry. ;)

This was something that I added the other night, but again, it’s caused (potentially!) by the startup race conditions when synchronising multiple ‘domains’ (i.e. the protocol stack, the controller itself, and the initialisation of things)…

[2016-03-02 16:28] bhuism commented on #694
Indeed, good fix!

[2016-03-02 16:37] bhuism commented on #694
still one to go (sorry for hijacking)

2016-03-02 17:36:43.473 [INFO ] [ve.internal.protocol.ZWaveController:145] - Starting ZWave controller
2016-03-02 17:36:43.477 [INFO ] [ve.internal.protocol.ZWaveController:153] - ZWave timeout is set to 5000ms. Soft reset is false.
2016-03-02 17:36:44.060 [ERROR] [ocol.ZWaveController$ZWaveSendThread:1192] - Exception during ZWave thread: Send
java.lang.Null

[2016-03-02 16:37] kaikreuzer commented on #693
Testing your update already.
This should also rather go directly to OFFLINE:
[code]

[2016-03-02 16:39] cdjackson commented on #694
That's a different issue not related to this.

[2016-03-02 16:40] kaikreuzer commented on #693
Trying to update the config with the correct port results in
[code]

[2016-03-02 16:41] bhuism commented on #694
Yes, sorry, off topic

[2016-03-02 17:29] cdjackson commented on #693
Agreed - this is very strange. The only way the controller / bridge should be able to go online is after it has received data from the serial port! The protocol stack sends an event once it's received the initial packets, and it's this that should have been used to set the controller online... And yet the next line says it can't open the port, so that seems not possible... There's not two bindings

[2016-03-02 17:34] cdjackson commented on #693
What UI are you using and what are you updating? Are you using PaperUI?

 It looks to me like you're trying to send a controller reset command, which throws an error as the controller isn't initialised. I'll add protection around this, but I suspect you are using PaperUI and we have a very big problem.

[2016-03-02 20:00] lolodomo commented on #648
@paulianttila Sorry I came too late to retrieve the file and a new build has already replaced yours.
Now I will wait for the merge.