[2017-06-26 16:35] Rado77 commented on #995
Hello, Is there a chance that you can integrate the MY position from the somfy remote in openhab?
With all the respect for the work you already delivered to this amazing addon.

[2017-06-26 17:13] mjagdis commented on #2394
I hadn't appreciated that Rfy commands return extended responses using interface message rather than the simpler transmitter messages like everything else.

Try this:

[org.openhab.binding.rfxcom-2.1.0-SNAPSHOT.zip](https://github.com/openhab/openhab2-addons/files/1102908/org.openhab.binding.rfxcom-2.1.0-SNAPSHOT.zip)

[2017-06-26 18:57] seime commented on #2394
Tried the updated binding @mjagdis , it correctly decodes the response message but it throws openhab into an infinite loop talking to the transceiver:

[code]

[2017-06-26 19:06] mjagdis commented on #995
I suspect not. I don't actually have any of these things myself but I suspect what you're taking about are what RFXCOM refer to as set position operations and they are listed as not supported. I think everything that is supported via RFXCOM is there now. Just not necessarily well tested yet...

[2017-06-26 19:10] joostwestra commented on #995
You can move it to the "My position" by sending the stop command when it is not moving.

[2017-06-26 19:12] mjagdis commented on #2394
Oh, I see. That's a send not a sendNext. That's what comes of trying to code while playing minecraft with a 7 year old. I'll fix it in a bit.

[2017-06-26 19:24] klejb commented on #995
I might remember wrong but I think that the "MY" command and "sun sensor
on/off" command is supported by Domoticz with RFXCOM?

2017-06-26 21:10 GMT+02:00 joostwestra <notifications@github.com>:

[2017-06-26 20:33] gersilex commented on #1783
It still is not working. But I discovered an interesting thing. It works, but only after you have SENT a command to the Player item. From then on, it also receives the updates from the Chromecast. So this looks like there is something like a connection established or the Chromecast won't just broadcast this but multicast to all devices, that have interacted with it.

[2017-06-26 22:21] mjagdis commented on #2394
This should be better:

[org.openhab.binding.rfxcom-2.1.0-SNAPSHOT.zip](https://github.com/openhab/openhab2-addons/files/1103645/org.openhab.binding.rfxcom-2.1.0-SNAPSHOT.zip)

[2017-06-27 07:13] kgoderis opened #2401 "[Tesla] Fix data parsing after latest firmware upgrade"
There a a lot of these

2017-06-27 09:10:37.665 [ERROR] [b.binding.tesla.handler.TeslaHandler] - An exception occurred while parsing data received from the vehicle: 'java.lang.IllegalStateException: Expected an int but was BOOLEAN at line 1 column 212 path $.is_front_defroster_on'

after the latest firmware (17.24.28) that was pushed by Tesla.

[2017-06-27 12:51] Gerk opened #2403 "[harmonyhub] 2.1.0-SNAPSHOT still having connection issues"
As documented in many other bug reports and forum reports.  I have tried everything including updating my full install (Ubuntu 16.04 LTS) to 2.1.0-SNAPSHOT downloaded yesterday (Jun 26, 2017) from the CI server here:  https://openhab.ci.cloudbees.com/job/openHAB-Distribution/

When checking the connection manually with curl from my OH2 host it shows the dreaded MAX_CLIENTS=6 error.

I have tried j

[2017-06-27 12:57] martinvw commented on #2403
@wborn @kaikreuzer FYI

[2017-06-27 14:47] kaikreuzer commented on #2403
Probably the best to ping is @digitaldan...
I am personally using this binding and it works smoothly for me (on MacOS) - so I assume that it is not broken in general (as a regression), so I do not consider it as a blocking issue for the 2.1 release.
Notetheless, it certainly needs to be looked at!

[2017-06-27 14:57] Gerk commented on #2403
Definitely not a regression for me as none of the updates so far have resolved my issues since 2.0.  Again happy to help with anything I can on this one, would really love to reliably use this binding :)

[2017-06-27 15:51] Rado77 commented on #995
RFXCOM refers this as STOP/MY. I did try what joostwestra said and that seems to do the tric just send the stop command when the rollerschutters are not moving and they go to the MY positions.So problem solved thanks a lot.

[2017-06-28 04:39] Gerk commented on #2403
Just for fun I tried it out on MacOS Sierra 10.12.5 tonight and I have the same failures with it:

[code]

[2017-06-28 11:43] kubawolanin opened #2405 "[MiHome] Smart socket plug not responding to power ON/OFF commands"
This issue is addressing reports from @xX-Nexus-Xx and @CoolWombat.

See the following comments for reference:
https://github.com/openhab/openhab2-addons/pull/1660#issuecomment-311510707
https://github.com/openhab/openhab2-addons/pull/1660#issuecomment-311512850

Cc; @dimalo @pboos @tavalin

[2017-06-28 14:26] swamiller commented on #2403
I am having connection issues as well after around snapshot #968 (or close to that release) and continues with #970.  I too started from a clean install of Raspbian and fresh install of OH2 snapshot #970.  I am able to initially set up all the Harmony devices but after a restart of OH2 most go to an "uninitialized" state and stay that way.

Consequently, I am seeing a similar problem with my Globa

[2017-06-28 14:35] mstormi commented on #1559
Hi,
any chance that you also support the current Vallox MV series ?
Those units provide control through a builtin webserver. Essentially it's sending out a compact, static piece of JavaScript to get executed in the browser.
That script ultimately encodes Modbus commands and sends them over websockets to the Vallox unit, just like you currently do over RS485/TCP, so you possibly just need to implem

[2017-06-28 14:46] digitaldan commented on #2403
@Gerk couple questions,

With the default heartbeat, how long does it take before the max error happens?

Do you see in the logs the binding getting disconnected and reconnecting those 5 or so times?

what does `netstat -n |grep 5222` show on your instance when it stops working?

in the karaf console what does `threads | grep "Smack Packet Reader"` show when it stops working?  (you may need to run

[2017-06-28 16:19] grouchal commented on #1255
@beowulfe & @speedmaxx so how can we get this moving again and create something stable before iOS 11 hits the mainstream?

Am happy to provide development and testing support.

I would rely on @beowulfe to suggest the temporary tagging format as he has the most experience here.

Let’s get this moving again.....

[2017-06-28 18:16] Gerk commented on #2403
@digitaldan have some answers (more soon).

Will get back to you on how long it takes, want to do a shutdown, clean reboot of the harmony hub, etc before I give you proper information and I can't do that yet.

netstat doesn't show any connections when it's in it's failed mode.

`threads | grep "Smack Packet Reader"` gives me no results when it's in it's failed mode.  Just before it fails I see `"p

[2017-06-28 18:43] SpeedmaxX commented on #1255
yes, @grouchal , I'd like to help, too.
@beowulfe , what can we do to help?

Testing is no problem, OH2-developing is not yet my hobbyhorse, so, there I'm not really able to support you.

[2017-06-28 19:00] Gerk commented on #2403
Ok think I may have found something interesting ...

I set it up to run netstat constant (with -c) to a file and then grepped it after the fact, so all of the lines here are 1 second apart.  You can see the Send-Q being normally at 0 and then you see it grow larger 4 times and on the 5th increase is exactly when it failed.

[code]

and doing some quick math it looks like the Send-Q bumped up every

[2017-06-28 19:22] Gerk commented on #2403
And now during initializing I'm seeing multiple TIME_WAIT (these correspond with harmonyhub items in INITIALIZING phases -- one the item inits these threads drop).  But seeing at least a couple at a time until things are all initialized.

[code]

[2017-06-29 12:56] CoolWombat commented on #2405
@dimalo Not sure if this would help, when I physically turn the switch on and off by pressing on the button on the side of the switch, the state is reflected correctly on the power channel in Paper UI \ Control. However, when I click on the power channel in Paper UI \ Control, the physical switch doesn't change state and I got the java error as listed in the previous posting.

[2017-06-29 14:47] patrickse commented on #2367
Have a look at this...

https://community.openhab.org/t/homekit-and-homematic-thermostat/15221/3?u=patrickse

[2017-06-29 15:10] CooperCGN commented on #2367
Thanks, but to be honest I have no idea where and what to do. I am one of those users who got their setup running but have no idea about coding :)

[2017-06-29 15:23] CooperCGN commented on #2367
OK, I got it, it goes into the config file... I will see if I get it working

[2017-06-29 16:40] martinvw commented on #2394
@seime any updates?

[2017-06-29 18:02] sipvoip opened #2409 "[Serial] No longer works with Base64 data."
## Expected Behavior
When running older serial-1.10.0-SNAPSHOT.jar binding from Feb 16th the binding works as expected with my rule:

val to64 = DatatypeConverter::parseBase64Binary(Outside_Air_Sensor.state.toString)

## Current Behavior
With latest serial binding from openHAB 2.1 release I get:

Exception in rule 'Outside_Air_Sensor': java.lang.ArrayIndexOutOfBoundsException: 219

https://communi

[2017-06-29 18:31] kaikreuzer commented on #2409
Please report on https://github.com/openhab/openhab1-addons/issues as this is where the serial binding is maintained. You might also check what PRs had been merged on it since February to figure out a potential culprit.

[2017-06-29 18:31] #2409 closed

[2017-06-29 19:37] seime commented on #2394
@mjagdis @martinvw
Got to test it now. The loop is gone, and the transceiver continues to work for other devices. That is the good part. However, now Openhab silently swallows the command response. There is no warning that an error was returned from the transceiver - unless you put the binding logging in debug mode:

[code]

IMHO I would like to see a WARN level message in the log informing the us

[2017-06-29 21:43] cniweb opened #2410 "Add Sky Sat Receivers Binding"
Implementing a new binding for Sky Sat Receivers e.G. Humax S HD 4

A Node.js implementation already exists:
https://github.com/dalhundal/sky-remote-cli

[2017-06-29 22:06] dimalo commented on #2405
I looked into it and am still not sure whats going wrong.
Will get me a device to test.
Does writing to the gateway work for you guys? Light, sound etc.?

[2017-06-29 23:01] CoolWombat commented on #2405
@dimalo Now that you mentioned it, I went and tested all my devices and found that the Aqara wall switch 2 buttons is behaving the same like the smart plug ie: when I click on the physical button, the state gets reflected correctly in the Paper Ui \ Control. However when I click on the switch in the Paper UI \ Control, although the icon changes state, the physical switch doesn't change state and I

[2017-06-30 00:15] Gerk commented on #2403
@digitaldan

I tested today and it wasn't consistent for how long it took before the max clients error happened.  First time it was just over 5 minutes, second time it took over 15.  And I do not see any disconnects in the logs at all until it hits the max clients error.  The hub shows as online the whole time until it hits the max clients issue.

[2017-06-30 06:46] spy0r opened #2411 "Astro binding: Update Loglevel of Expression 'xyz' has no future executions anymore [astro]"
the astro binding in the stable release 2.1 has some info messages, which i think should be debug messages.

[code]

Please change those messages to "DEBUG" log level. Thanks!

[2017-06-30 07:41] martinvw commented on #2411
Thanks for your report, but please note that this binding was recently moved to eclipse smart home, could you please create the issues at https://github.com/eclipse/smarthome/issues

[2017-06-30 07:41] #2411 closed

[2017-06-30 10:15] McNetic commented on #1312
I've got the same problem with openHAB 2.1. I use a RFXtrx433E on a beaglebone black. By default, I get usbserial and ftdi_sio kernel modules, resulting in the rfcxom to be available as /dev/ttyUSB0.

 I manually installed openHAB 1.8.3, configured with rfxcom:serialPort=/dev/ttyUSB0, and it works without problems.

With openHAB2.1 deb package, when manually adding (in paper ui) the RFXCOM USB Tra

[2017-06-30 10:27] martinvw commented on #1312
Could you give a debug log for this, I do not understand what you mean with this?

What java version are you running this on?

I remember that there used to a param so supply which ports can be used by the jdk I do not know whether this is still a problem? Also the dial out used to be a problem but if it works in openHAB 1.8 then that should be okay, or you run them under a different user.

https:

[2017-06-30 14:12] McNetic commented on #1312
[code]
I already have
[code]
openhab user is in dialout group, I also tried ``` rfxcom:serialPort=/dev/ttyUSB0 ``` in openhab.cfg as well as manually adding the Bridge in a .things file, with the same result: As soon as the thing is added, openHAB enters a restart loop. You can see this in the following log:
I started an empty install of openHAB. I did nothing for some time, so no log messages. As

[2017-06-30 15:17] martinvw commented on #1312
And this does not happen without the RFXCOM module, that is nasty indeed.

And this only happens as soon as the 'RFXCOM USB Transceiver' has been added?

Could you enable debug information? Maybe if you start it manually up to karaf you might be able to influence something there.

[2017-06-30 19:17] sjka commented on #2375
see https://github.com/eclipse/smarthome/pull/3001#issuecomment-309250577, i.e. `getThingStatusInfo("kodi:your:thing")` should do the trick.

[2017-06-30 19:18] Newan commented on #2375
Thanks!

[2017-06-30 20:48] sprehn commented on #2305
Hi @davidgraeff
It is already failing on the first command...

[code]

[2017-06-30 22:07] mepi0011 commented on #2149
Same problem as @metbril here!
Please add support to use exec 2.0 binding with Number Items.

[2017-06-30 23:16] CWempe opened #2412 "[onkyo] Port is not recognized in OH 2.1"
This is my onkyo.things that wos working with openhab 2.0 and is exactly like the documentation.

[code]

After the update to openhab 2.1 I got this errors:

So the "port=" was not recognized.

I deleted the quotation marks because this is supposed to be a int not a string and now it is working again.

[code]

I am not sure why this changed.
Should this be fixed in the code to support the "old" sy

[2017-06-30 23:36] McNetic commented on #1312
Yes, it happens once I add the RFXCOM USB Transceiver. It goes away as soon as I manage to remove it again. I enabled TRACE log for binding.rfxcom. That's one restart cycle:
[code]
I don't get what you mean in your last paragraph. I did not disable any modules. I just do the following:
1) apt-get remove --purge openhab2 to get a clean start
2) apt-get install openhab2
3) add openhab user to dialup

[2017-07-01 06:09] martinvw commented on #1312
if instead of

`service openhab2 start` you navigate to the openHAB directory and call `./start.sh`

Looking at the code it somehow seems to connect, disconnect and reconnect but it fails in between the last two steps.

I think the 69M might be suspicious you could try to add a swap partition.

[2017-07-01 06:19] martinvw commented on #2412
Somehow we must have missed this incompatible change while reviewing, it would be great if you could create a PR to update the documentation. Thanks for reporting it!

[2017-07-01 13:27] #2401 closed

[2017-07-01 14:16] McNetic commented on #1312
Ok, I think I found the problem. When starting start.sh, after about a minute:
[code]
The system is still on debian 7 wheezy, with libc 2.13. According to some sources, libNRJavaSerial requires at least libc 2.16. Still, this error should somehow be caught and shown to the user if possible. Maybe openhab2 debian image should also depend on libc 2.16....

Unfortunately, I can not easily upgrade the

[2017-07-01 14:24] inakif commented on #2405
hi all, this is my first post here.

I have installed oh2 in a raspberrypi and testing with xiaomi devices.

I have the same issue with the xiaomi plug. When I use a xiaomi switch to active/inactive the plug, oh2 paperui shows well the status. But when I apply changes with the oh2 paperui, the plug is not activated.

I have before oh 2.0 and now oh 2.1, but the same issue in the both versions. I d

[2017-07-01 16:00] #2412 closed

[2017-07-01 16:23] inakif commented on #2405
Hi guys,

I have fixed the issue with this change on the mihome binding code.

File: XiaomiActorPlugHandler.java

getXiaomiBridgeHandler().writeToDevice(itemId, new String[] { "status" }, new Object[] { status });
==>
getXiaomiBridgeHandler().writeToDevice(getItemId(), new String[] { "status" }, new Object[] { status });

The issue was that the itemId was not initialized in this class, or at least

[2017-07-01 20:45] #2321 closed

[2017-07-01 23:38] CoolWombat commented on #2405
@inakif If you're right, that also explains why my Aqara wall switch 2 buttons is also not working as both XiaomiAqaraWallSwitch1.java and XiaomiAqaraWallSwitch2.java have similar code -
[code]
I'm a noob at this, so have got no idea how to get it fixed in https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.mihome/src/main/java/org/openhab/binding/mihome/handl

[2017-07-02 07:03] paulianttila opened #2417 "[onkyo] volume level limit functionality doesn't work correctly for zone 2 and 3"
More information can be found from https://community.openhab.org/t/onkyo-issues-with-volumes-states-since-oh2-1/30844

[2017-07-02 07:27] gerrieg commented on #2333
fixed with #2419

[2017-07-02 08:25] #2417 closed

[2017-07-02 14:14] #2405 closed

[2017-07-02 17:24] clinique opened #2422 "[AirQuality] Add location discovery"
Could take advantage of the System:Regional Settings:Location parameter for it's location configuration item.

And station ID could/should be presented as an optional item (using the "More" button)

[2017-07-03 11:47] michel53 commented on #2334
I would also like to see this feature

[2017-07-03 11:49] michel53 commented on #2334
See also this topic: [https://community.openhab.org/t/squeezebox-binding-user-password/10255/4](url)

[2017-07-03 17:00] #2367 closed

[2017-07-04 07:10] martinvw commented on #1312
Aha, see also:

https://community.openhab.org/t/banana-pi-with-z-stick-aeotec-lab-dev-ttyusb0-does-not-exist/26473
https://github.com/openhab/openhab-core/issues/111

However the issue more or less suggests that it should have been resolved, so that is disturbing.

[2017-07-04 12:57] mherwege opened #2426 "[Synop] No messages retrieved between 2:00 and 4:00 AM and PM."
I am running openHAB 2.1 release version on a raspberryPi.
I am not getting messages from the Synop binding between 2:00 and 4:00 AM and PM. The thing goes offline in these timeslots.
I am in the CET timezone, summertime. This explains a 2:00 offset from 12:00.
I switched on debug logging and get the following:
[code]
I also tried a direct query using the parameters in my configuration at 14:40 CE

[2017-07-04 16:13] faljse opened #2427 "Openhab eats my cpu (org.jupnp.transport.impl.MulticastReceiverImpl)"
Hi,  my openhab process uses unusual much cpu.

I noticed this behavior before and after OH2.1 upgrade:
`
  68.58% (    83.53s) org.jupnp.transport.impl.MulticastReceiverImpl.run()
`
So most of the time it completely consumes one of the cores.

This is on a "standard" install plus mqtt binding and jrds graphs, no additional upnp related config.

Tcpdump shows some upnp traffic in my network ( <1 p

[2017-07-04 16:36] martinvw commented on #2427
And how long did openHAB run while spending 83sec in that single method?

[2017-07-04 19:19] cweitkamp opened #2429 "[kodi] Sending REWIND/FASTFORWARD to channel control returns "Invalid params." message from Kodi"
demo.items
[code]

Sending `FASTWORWARD`:
[code]

Sending `REWIND`:
[code]

Sending "speed": -1 for REWIND seems imho wrong, too. Should be "speed": -2.

Related thread: [https://community.openhab.org/t/kodi-rewind-fastforward-not-working/30592](https://community.openhab.org/t/kodi-rewind-fastforward-not-working/30592)

[2017-07-04 20:06] martinvw opened #2432 "Changes in #2101 seem not compatible with TcpConnector"
See also https://community.openhab.org/t/rfxcom-error-occurred-during-packet-receiving/30939/5

[2017-07-04 20:21] cweitkamp commented on #2429
PR #2434

[2017-07-04 20:59] Seb-Maier commented on #503
Is there a roadmap for the KNX 2 binding?
I also switch after a while to openHAB 2 with a Raspberry Pi 3 and the openhabian image. But know I have the same problem with resending of the knx command to the bus.
I found the problem because my dimmer lights (DALI) not working correctly

[2017-07-05 06:54] BOFH90 opened #2435 "[jsonpath] JSONPath Transformation crashes iOS APP & HABpanel"
I want to include some Informations of my Octoprint installation via its json-api.
This works in the ClassicUI and BasicUI but the first entry in the items file below crashes the iOS APP with an ERROR 500 when trying to access this submenu of the sitemap.
The last 2 entries are crashing HAPpanel which then losts the connection permanently (message in the left corner).

My items file:
`String Octop

[2017-07-05 14:07] BOFH90 opened #2436 "[homematic] java.io.EOFException if slow connection between CCU and openHAB2 (vpn)"
When running OpenHAB2 2.1.0 (Stable) with installed homematic-binding and a CCU2 (Raspberrymatic) via a slow Connection (e.g. openVPN) with response-times avg. 200-8000ms a java.io-EOFException is shown and the RPC-Server is not restarting anymore & binding to the port failed as the address is already in use.
Therefore the Commands are not executed and states are not received after the Exeption.
B

[2017-07-05 19:54] faljse commented on #2427
About 2 minutes.

Im pretty sure now the method displayed by the profiler is not responsible, maybe he is confusing blocking/execution time

However, the openhab process is indeed using a huge amount of cpu and i can trigger it by installing/uninstalling the lifx binding.

Where can i find the sourcecode of lifx 2.1 module?

[2017-07-05 19:58] martinvw commented on #2427
https://github.com/eclipse/smarthome/tree/master/extensions/binding/org.eclipse.smarthome.binding.lifx And please create a ticket in smarthome to track this problem.

[2017-07-06 04:48] amarpulli544 opened #2438 "some openHab bundles doesn't active on Eclipse Smart Home"
Hello,
I am trying to use openhab1 -bundles and openhab2-bundles into eclipse smart home.
This is smart home repo,   https://github.com/maggu2810/smarthome-packaging-sample-karaf
Here I just clone repo and call   `mvn clean install`, then start the  server.
When I put the jar file of bundle into deploy folder. It showing always bundle status Installed.
see here is my log file:

[code]
Bundle list:

[2017-07-06 05:02] BOFH90 commented on #2435
Updated to 2.2.0 Snapshot 980 and still the same error.

[2017-07-06 15:35] #2429 closed

[2017-07-06 16:08] aryeharmon opened #2440 "java.lang.ClassNotFoundException"
[code]

[2017-07-06 16:13] martinvw commented on #2440
I would assume this is because the name at https://github.com/openhab/openhab2-addons/blame/master/addons/binding/org.openhab.binding.coolmasternet/OSGI-INF/coolmasternetHandlerFactory.xml#L14 is wrong with the respect to upper case cs lower case. What platform do you run on?

[2017-07-06 16:16] martinvw commented on #2394
@mjagdis wdyt?

[2017-07-06 16:16] aryeharmon commented on #2440
i am running on a mac

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

[2017-07-06 16:19] martinvw commented on #2440
@projectgus do you have time to take a look at this, my suggestion might be the solution but there could also be another problem.

[2017-07-06 17:01] trailblazer2006 opened #2441 "[homekit] Update com.beowulfe.hap.hap needed"
Hi. I have installed an openhab 2.1 with HomeKit 2.1.0 addon on Raspberry. During the adjustment of the thermostat, I encountered a problem described in the topic  https://github.com/beowulfe/HAP-Java/commit/9ba46a5b0363a1f954b039e678b1b911cac74650. This problem has a solution for a long time, but the latest available version contains this error. I consulted with the author of the opener attribute

[2017-07-06 17:20] hmerk commented on #2427
Shouldn't the issue be placed at https://github.com/jupnp/jupnp ?
I don't think that the lifx binding actively triggers the multicast receiver....

[2017-07-06 17:55] hr77 opened #2442 "[kodi] Sending ShowCodec to channel input returns "Method not found." message from Kodi"
demo.items

`String kodi_input { channel="kodi:kodi:05094b7d:input" }`

Sending `ShowCodec`

[code]
The JSON request seems to be correct comparing the documentation: http://kodi.wiki/view/JSON-RPC_API/v8#Input.ShowCodec.

When sending this request, the running Kodi instance should actually display information about the codec of the current movie on screen, but instead does nothing.

Related thread

[2017-07-06 18:10] tmrobert8 commented on #2343
Just contact me when you do

[2017-07-07 06:36] cweitkamp commented on #1324
@svilenvul There was a new release of the OSHI library (version 3.4.3) which includes a partial fix for this issue (reading temperature values on RPi's). Would you like to update it in the systeminfo binding?

[2017-07-07 12:43] kaikreuzer commented on #2438
This does not seem to be a bug report about any openhab 2 add-on - it does not even seem to be related to openHAB itself as you use your own custom runtime.

If you do that, better first get familiar with OSGi and Karaf itself, so that their log messages make sense to you and you can find your way through building a correct package.
Alternatively, either use openHAB or the eclipse smarthome (non-k

[2017-07-07 12:43] #2438 closed

[2017-07-07 13:05] amarpulli544 commented on #2438
@kaikreuzer , As you said correct , this is not openhab2  add-on bug.
 I need to use some openhab2 - addons .
I did some work on eclipse smart home features . It will be work fine for me and also it will be active state.
Simillarly when I could try to use openhab2 features through pom file, but unable to use openhab2 features.
how i could  use openhab2 features through pom.file.
This is my pom.fil

[2017-07-08 06:28] kaikreuzer commented on #2427
I'd second @hmerk's comment - I doubt that this is related to the LIFX binding itself. Would be good if you could e.g. also check with other UPnP enabled bindings like Philips hue, Wemo and others.

[2017-07-08 06:28] #2427 closed

[2017-07-08 11:23] kgoderis commented on #2038
I finally got my second Keba installed and I am able to test and fix things. Is there anything else that you guys saw that need to be added?

[2017-07-08 13:17] kgoderis commented on #2038
@GernotHot It seems that my P30 is only responding to "report 1", and not to "report 2" and "report 3" at all. Did you observe the same situation with your P30's?

[2017-07-08 14:24] masterdiver commented on #2038
Hi,

I have 2 P20 installed. Can't tell anything about P30.

Jens

[2017-07-08 16:10] kgoderis commented on #2038
@masterdiver My P20 is fine, although it is running an older firmware. Your P20s are running fine?

[2017-07-09 12:09] aryeharmon commented on #2440
@martinvw i tried what you suggested and got:

[code]

[2017-07-09 14:07] aryeharmon commented on #2440
@martinvw actually i had to reconfigure my settings for some reason. So this worked. Thanks a lot. I will make a pull request later today.

[2017-07-09 14:43] ThomDietrich commented on #2320
@OLibutzki I'm seeing the same issue. Telling the user to modify settings is not the ideal solution. Which other options do we have?

[2017-07-09 14:45] ThomDietrich commented on #2320
I'm also seeing:

[code]

[2017-07-09 14:55] ThomDietrich opened #2444 "[amazondashbutton] Improve logging and discovery filtering"
@OLibutzki @BClark09

I've received two Dash Buttons and wanted to test them. The binding is not able to discover them. Upon browsing the sourcecode I found this part: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.amazondashbutton/src/main/java/org/openhab/binding/amazondashbutton/internal/discovery/AmazonDashButtonDiscoveryService.java#L59-L73

The MACs

[2017-07-09 18:38] kubawolanin opened #2445 "[mihome] Bridge uninitialized after reboot + NPE"
I'm experiencing a weird behavior of the Xiaomi MiHome binding.
After reboot I noticed that my setup doesn't respond.
My setup has a textual config aligned the same way described in [the docs of this binding](http://docs.openhab.org/addons/bindings/mihome/readme.html#xiaomithings)

## Expected Behavior
The binding should work properly.

## Current Behavior
My sensors are "UNINITIALIZED" whereas th

[2017-07-09 18:41] kubawolanin commented on #2445
Also, when I search for Things from Inbox, NPEs show up as well:
[code]

[2017-07-09 19:08] mhilbush commented on #2334
Sorry for not responding to this sooner.  I've been a bit sidetracked on a few other things.

I took a quick look at this, and it looks like a pretty straightforward change.

I would add two new config parameters to the Squeeze Server thing: userId and password.

- If the userId config parameter doesn't exist, or exists and is empty, the binding will work the way it does today; therefore, the chan

[2017-07-09 19:17] dimalo commented on #2445
Anybody any ideas, why the slf4j factory seems to fail on initializing a logger?
From the stacktrace I see the NPE is thrown when calling the logger.

[2017-07-09 20:03] dimalo commented on #2445
looked through #2416 and there, the "static" keywords were removed in the process of static code analysis. can that affect the loggers not being initialized? especially when all the other classes have the same logger definition... There are actual instances of the classes, so no need for the loggers to be static...

[2017-07-10 02:02] projectgus commented on #2440
Thanks @martinvw, @aryeharmon . Apologies, I think as part of the original PR review I changed some class casing and I obviously missed a spot. If @aryeharmon deoesn't have time to send a PR then let me know and I can.

[2017-07-10 05:44] martinvw commented on #2445
This is caused by the order classes are initialized in. The main problem is that you call `setupSocket` from the constructor (of `XiaomiSocket`) but at that moment the class `XiaomiDiscoverySocket` has not yet been fully initialized. Common practice is not to call overridable methods from your constructor. Can this help you?

Maybe some of the logic can be moved to `initialize `instead?

[2017-07-10 06:01] michel53 commented on #2334
This sounds reasonable, I would appreciate this change! (but I'm not digitaldan...)

[2017-07-10 07:24] svilenvul commented on #1324
If there are no API changes, the process is straightforward and well described - https://github.com/openhab/openhab2-addons/tree/d930fd4113f71c4112fb4c3b69e8a52400f68c73/addons/binding/org.openhab.binding.systeminfo#updating-this-binding.

Please feel free to open a PR.

[2017-07-10 11:49] GernotHot commented on #2038
@kgoderis I tried both a P30x as well as a P30c: all of them are responding to a "report 3":

P30x:
[code]
P30c:
[code]

I tested it on all four boxes, which (currently) still have different FW-Releases (using "report 1")
P30x:
`"Firmware":"P30 v 3.08.1 (170213-143648)"`
P30c:
`"Firmware":"P30 v 3.07.1a1 (170111-112920)"`
`"Firmware":"KEBA P30 v 3.02.4 (160226-065816)"`
`"Firmware":"P30 v 3.06.2a5

[2017-07-10 11:57] pompel82 opened #2447 "Astro 2.1 binding date issue"
After upgrading to 2.1 the timestamps of sunrise and sunset #start and #end dates are that of yesterdays date. Prior to 2.1 this used to be todays date.

[2017-07-10 14:57] kaikreuzer commented on #2447
Please note that the Astro binding does not exist here anymore, but is part of ESH, so issues should be reported at https://github.com/eclipse/smarthome/issues (and note that quite some bugs have already been fixed during the last days).

[2017-07-10 14:57] #2447 closed

[2017-07-10 17:01] jdembski opened #2448 "rfxcom: Unsupported message wih Maverick BBQ temperature sensor"
I'm trying to connect my Maverick BBQ temperature sensor with OpenHAB2.2 (latest Snapshot as of today) and the rfxcom binding. Unfortunately no devices are discovered automatically.

I enabled debug logging for the binding and can see the following output whenever the BBQ temperature sensor is sending out an update of its readings:

`2017-07-10 18:52:19.081 [DEBUG] [g.rfxcom.handler.RFXComBridgeHa

[2017-07-10 18:21] cweitkamp commented on #1324
PR #2449

[2017-07-10 20:44] felixloesch commented on #1311
I would also like to see this feature. Especially that Alexa can now control light color of Hue Bulbs as well.
So +1. Please implement it @digitaldan.

[2017-07-10 20:47] felixloesch commented on #2334
Please implement this. It is needed if you want to control Squeezebox via Alexa as well as for an Alexa Skill the LMS needs to be accessible from the Internet. Of course nobody wants this without having username/password protection enabled in LMS.

[2017-07-11 08:32] spy0r opened #2451 "[Systeminfo] CPU average load for last 1, 5, 15 minutes"
Hi,

i wanted to ask why the average load in the systeminfo binding is shown as "percent" if created via Paper UI.
In the documentation its description is "Load in percents for the last x minute(s)" as well.

In my mind the average load is related to the number of cores/threads and has nothing to do with percent, except you normalized the values to the number of cores, which i doubt.

Please see:

[2017-07-11 10:46] digitaldan commented on #2334
Yes, this sounds reasonable!

[2017-07-11 11:22] mhilbush commented on #2334
Sounds good.  I can make the change later in the week.  I should have something to test on Friday or Saturday.  Anyone want to help test it?

[2017-07-11 12:26] Confectrician commented on #2444
I am having similar problems with two of my dash buttons and I totally agree.

It is hard to debug here without any log messages.
Feel free to mention me if help in testing is needed.

[2017-07-11 13:18] BClark09 commented on #2444
I have a feeling that the list of MAC address cannot be generalised. It's a sudden drop from being a dash button detector to a general ARP sniffer binding.

That said, these expectations need to be set properly. The readme says that automatic detection isn't supported but it'd be many users first instinct. I think that an example image of the manual setup should be included, as well as @ThomDietri

[2017-07-11 17:28] ThomDietrich commented on #2444
Hey @BClark09,
I was expecting this parameter to have a default value. I've added the parameter to my config but I'm still seeing the above behavior. :( The whole situation is far from ideal. I have 9 dash buttons lying around waiting to be useful :)

I don't know if this a big issue, manual discovery is provided by many bindings. I would refrain from including screenshots (that will soon be outda

[2017-07-11 18:13] OLibutzki commented on #2444
Hi everyone,

the background discovery has been disabled as I did not find a way to distinguish a Dash Button and an Echo or Fire TV. This led to a lot of false positives as the MAC vendor prefix is not assign to a device type exclusivly. A Dash buttons might have the same vendor prefix as an Echo.

I wanted to support (explicitly triggered) discovery anyway and the only way I found was to check f

[2017-07-11 18:29] kgoderis commented on #2038
@GernotHot For me the same simple test (to really compare things) is not working at all on the P30.

I have :  `"Firmware":"P30 v 3.08.4 (170307-132509)"` on the P30c

btw, I have opened a trouble ticket with Keba

[2017-07-11 18:33] kgoderis commented on #2038
@GernotHot Based on the simple netcat, is the current snapshot of the binding working for you?

I have no logical explanation as to why "report 1" does work, but "report 2" doesn't. Do you?

[2017-07-11 18:43] Terr4 opened #2452 "[Yamaha] Binding not getting status update of Receiver -> shows offline"
Hi there

I have the issue that the Yamaha Biding is not receiving any status updates from my Receiver and in Paper UI it shows it as OFFLINE.
However I can send commands to it with no issues in Basic UI & Classic UI
This has worked in the past.

If I can provide any logs please just let me know. I do not see anything relevant in the logs for the binding.

## Expected Behavior
Receive status updat

[2017-07-11 19:15] GernotHot commented on #2038
@kgoderis The snapshot works mostly with one single wallbox.

[2017-07-12 08:37] ThomDietrich commented on #2444
@OLibutzki Thanks for your answer!

I don't see the background discovery as an essential piece here. Manually triggered discovery is totally fine for me, especially in light of the pcap scanning impact.

I've not looked at the packages myself but did you analyze the traffic generated by the dash button, sure enough there should be some info we can parse for?

Adding the thing manually is a good wo

[2017-07-12 09:21] davidgraeff commented on #2452
Hopefully resolved with #1781

[2017-07-12 09:29] davidgraeff opened #2453 "Eclipse oxygen: Auto completion does not work"
Does someone else uses eclipse oxygen already? Me me the auto completion, refactoring and other helpful utilities don't work anymore. If I press Ctrl+1 for suggestions, the dialog closes immediately with:

This appaerently only happens if jdt.core and jdt.ui packages have different versions (https://bugs.eclipse.org/bugs/show_bug.cgi?id=514339), and indeed those versions are different after the se

[2017-07-12 12:38] staehler opened #2454 "[feed] Enhance binding to generate feeds from events"
Hi,
Would it be possible, to enhance the feed binding to generate feeds, e.g. from events?
I'ld like to present a feed of some important events on my mobile feed reader or I would like to generate a feed of my daily appointments ....

It should be something like the logInfo method, like

rss ("feedname", "this is my feed text and this is an item state:" + item.state)

Regard
Michael

[2017-07-12 13:18] BClark09 commented on #2451
Hi @spy0r systeminfo uses the oshi library. For [system load](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.systeminfo/src/main/java/org/openhab/binding/systeminfo/model/OshiSysteminfo.java#L154), it uses [this method](http://oshi.github.io/oshi/apidocs/oshi/hardware/CentralProcessor.html#getSystemCpuLoad--) or [this method for non oracle jvm](http://osh

[2017-07-12 13:36] spy0r commented on #2451
okay, but even if it's already calculated to all cpu cores - how can a value of 1 (in percent) define 100%?

1.0 percent is per definition 0,01*value. So it can't be correct?

[2017-07-12 13:43] BClark09 commented on #2451
The method returns a number from 0 to 1, this is equal from 0 to 100%. A basic example:

You have 2 CPUs, between the first and second time the binding checks for usage:

CPU 1 - Was being used 30% of the time
CPU 2 - Wasn't being used at all.

The method returns 0.15
The binding forwards this value as a percentage, 15%

[2017-07-12 13:51] spy0r commented on #2451
i know what you mean, but the unit is wrong anyway.
maybe i'm wrong but you can say 0.01 equals 1%, but you can't set the unit of 0.01 to percent, because percent means "per cent", "per 100".

if you generally multiply the value you get from this method with 100, than you can use the unit percent.

[2017-07-12 14:24] BClark09 commented on #2451
Apologies, I missed the system load *average* part.

Yes it would seem that the % value has been appended where it should not have been.

[2017-07-12 14:42] spy0r commented on #2451
now we're talking, thanks for the confirmation

[2017-07-12 14:53] BClark09 commented on #2451
I've made the above pull request which should resolve the problem.

[2017-07-12 15:58] Baumi1245 commented on #2334
of course... hardly waiting

[2017-07-12 16:39] MHerbst commented on #2453
Works fine in my Oxygen installation on Windows 10 with a 64 Bit JDK (although the mentioned packages have different versions). In order to avoid any problems I performed a complete new installation of Oxygen and openHAB/Smarthome projects.

[2017-07-12 16:54] davidgraeff commented on #2453
It's stange. If I only select ESH, no matter if only core or extensions, during the installation eclipse works perfectly with the configured ESH target. But as soon as I select anything from oh and the oh target is applied eclipse has all kind of strange errors during code writing. Building and running projects works though. But missing auto completion and no refactorings is annoying.

I'm on 64bi

[2017-07-12 20:49] #2451 closed

[2017-07-13 04:56] #1324 closed

[2017-07-13 04:56] martinvw commented on #1324
It should be fixed in the last snapshot or partly, maybe @cweitkamp can explain more about that.

[2017-07-13 05:13] cweitkamp commented on #1324
On Raspberry PIs (in detail on linux based OS) the channel `sensors#cpuTemp` now returns the current measured temperature of the CPU correctly.
The channel `sensors#cpuVoltage` returns 0 as before.

[2017-07-13 06:20] spy0r commented on #2451
Does that request change the documentation as well?

[2017-07-13 06:48] martinvw commented on #2451
No, I saw some documentation change but I now realize that that was documentation of the code, if you would like you can of course create your own pr for that.

That would be this file: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.systeminfo/README.md

[2017-07-13 08:58] BrutalBirdie opened #2459 "[Xiaomi / MiHome] Sensors do nothing."
## Expected Behavior
After adding the Xiaomi Bridge, according to wiki, all sensors linked to the Bridge show up inside the Inbox.
After adding a Sensor and Linking the Channels the Items should get its values from the Channel Link.

## Current Behavior
(2 VLANs, they can communicate with each other)
Xiaomi Bridge IP 192.168.111.4
openHAB IP 192.168.107.2

The Xiaomi Bridge does not show up inside

[2017-07-13 11:24] BrutalBirdie commented on #2459
Tested within the same VLAN, with internet access for Xiamoi.
Now the Items are getting Values.

Follow up:
Testing with blocked communication for the Xiaomi Bridge.

[2017-07-13 21:53] Brain0verflow commented on #1892
@MHerbst I updated OH2 and the bindings to the latest snapshots few days ago. It looks like the error is gone.
Thanks for this fix!

[2017-07-14 06:14] #1892 closed

[2017-07-14 06:14] martinvw commented on #1892
Thanks for reporting back

[2017-07-14 12:55] frnck opened #2460 "HTTPS Mixed Content:"
The web interface is accessed using https. But some resources are still requested using HTTP. First, this is a bad web practice. Second, this brakes the web interface because it is only served using HTTPS.

Mixed Content: The page at 'https://***/basicui/app' was loaded over HTTPS, but requested an insecure EventSource endpoint 'http://***/rest/sitemaps/events/b4e94801-b1b7-4bae-8b7c-5b6c6edb7235?

[2017-07-14 12:57] frnck commented on #2460
issue is now reported in openhab/openhab-distro

[2017-07-14 12:57] #2460 closed

[2017-07-15 00:54] psyciknz opened #2462 "Configuration issue interface/mac address for addon and homebridge"
Just trying to set up homekit.  I did have it going but now it seems to have stopped.

I'm unclear on a couple of the configuration items.
In homebridge (on one machine) the config.json, there's provision for a mac address.
What address is this?  Is this the homebridge machine, or my openhab machine or some random mac address?

In the homekit addon configuration, it wants a port and a network inte

[2017-07-15 03:11] CoolWombat commented on #2445
Is there any progress with this?

[2017-07-15 09:02] dimalo commented on #2459
Did you check if multicast traffic is correctly forwarded between the VLANs?

[2017-07-15 09:03] dimalo commented on #2445
implemented like @martinvw suggested...

[2017-07-15 09:27] BrutalBirdie commented on #2459
I will check that on Monday. But I am sure it is.

[2017-07-15 10:24] martinvw commented on #2445
Could you provide a jar to test for the reporters? Thanks!

[2017-07-15 12:13] CoolWombat commented on #2445
@dimalo Thanks! I've just tested the jar from https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/org.openhab.binding.mihome/2.2.0-SNAPSHOT/  15/7/2017 file size 81,520 bytes and can confirm that it is working now.

[2017-07-15 12:31] mjagdis commented on #2394
Is it a problem that we ignore signals from devices we know nothing about? Under what circumstances does this occur, why is it a problem, what do you think an appropriate response should be and what is the justification?

[2017-07-15 17:28] kubawolanin commented on #2445
@dimalo thank you so much for continuous effort on this!

I've downloaded the JAR form @CoolWombat's link:
[code]

Rebooted my RPI3 and unfortunately I'm still experiencing the exceptions:

[code]

My things file:

[code]

When I removed all the things from above and run discovery, I got this exception:

[code]

Am I doing something wrong? 🤔

[2017-07-15 17:29] kubawolanin commented on #2445
The only version that works with my things file is this one:
[org.openhab.binding.mihome-2.1.0-SNAPSHOT.jar.zip](https://github.com/openhab/openhab2-addons/files/1150495/org.openhab.binding.mihome-2.1.0-SNAPSHOT.jar.zip)

[2017-07-15 17:38] mhilbush commented on #2334
A version of the binding that supports userid/password authentication to the LMS is here.  Please let me know if you have any questions, or run into trouble.

https://github.com/mhilbush/org.openhab.binding.squeezebox

[2017-07-15 18:18] dimalo commented on #2445
[org.openhab.binding.mihome-2.2.0-SNAPSHOT.jar.zip](https://github.com/openhab/openhab2-addons/files/1150518/org.openhab.binding.mihome-2.2.0-SNAPSHOT.jar.zip)
This is from my local mvn build today - 81524kB
Please confirm, if that's working

[2017-07-15 18:42] Baumi1245 commented on #2334
Looks good so far.
After configuration players are found at once.
Testing with SqueezePlayer at the moment - SB-Radio and SB-lite will follow tomorrow.

Thank you very much!

[2017-07-15 19:07] martinvw commented on #2394
I merged the technical fix, whether we should report back in another way I'll leave open for now, another PR can solve that :-)

[2017-07-15 21:28] psyciknz commented on #2462
I followed the instructions in https://github.com/openhab/openhab2-addons/issues/1822#issuecomment-297860690 to resolve the issue

[2017-07-15 21:28] #2462 closed

[2017-07-16 00:42] CoolWombat commented on #2445
@kubawolanin @dimalo The working version I was using from that link I provided with the size of 81,520 bytes is -

[code]

However, the current version from the same location of file size 81,443 bytes no longer works. Looks like I might have just downloaded the working version before it got updated with whatever changes that broke it.

@dimalo I can confirm that the version you have just provided

[2017-07-16 04:26] augustf opened #2464 "[insteonplm] Feature Request: OH2 Insteon PLM/Hub Support"
The Insteon PLM/Hub add-on is currently available as an OpenHab 1 plugin. Per a discussion with other users on https://community.openhab.org/t/insteon-plm-recognized-but-not-available-as-a-binding/13576 , we'd like to see the Insteon add-on available as a proper OpenHab 2 plugin, with Insteon devices detectable via the Paper UI (see the excellent Philips Hue add-on).

The OH2 Insteon add-on should

[2017-07-16 07:11] kubawolanin commented on #2445
It works! 😄
Turns out that I've made a huge mistake - instead of **unpacking** dimalo's jar, I've just renamed `.jar.zip` to `.jar` -.-

Thank you!

[2017-07-16 07:59] #2445 closed

[2017-07-16 09:23] dimalo commented on #2445
Alright, hope the build system will produce the same outcome.
Thanks everyone for testing. I'm quite limited at the moment...

[2017-07-16 09:29] dimalo commented on #2459
The bridge does not need an internet connection. Communication with the binding is done via multicast. When you already experienced it to work in the same vlan I'm pretty sure it has something to to with your network config.

[2017-07-16 16:50] stefaanv opened #2467 "[RFXcom] binding setMode seems to be ignored"
It looks like the setMode instruction is being disregarded by the RFXcom binding in OH2.
This is my /etc/openhab2/services/rfxcom.cfg  file

[code]

But in the below log extract, I find the Rubicson protocol is disabled in the RFXcom transceiver while it is requested to be activated by the setMode instruction.

[code]

[2017-07-16 17:39] martinvw commented on #2467
In openHAB 2 there is as far as I know no such thing as the rfxcom.cfg or you must be using the 1.8 binding.

[2017-07-16 17:41] ThomDietrich commented on #2320
I have to add one more. On DEBUG loglevel these are logged every few seconds:

[code]

[2017-07-16 18:02] stefaanv commented on #2467
OK, found the solution.  My mistake.

[2017-07-16 18:02] #2467 closed

[2017-07-17 00:38] ThomDietrich commented on #2444
@OLibutzki I've tracked down the incorrect "pressed" events. They were the result of me not defining the MAC correctly. Still that shouldn't result in random events generated... There should be checks and error messages for parameters.

Please understand my comments as constructive hints. Let's strive for an improved binding. Please let me know if you need more info or help testing 👌

[2017-07-17 08:14] Silencer80 opened #2468 "Binding Request: Worx Landroid S (Modell 2017)"
Deleted on request from the manufacturer.

[2017-07-17 08:43] Confectrician commented on #2444
I can confirm that behaviour, since i have copied your thing code above for testing my setup here.

I want to write down here, that i am also interested in testing an helping out, where possible. :)

[2017-07-17 08:57] MrMontesa opened #2469 "[Telegram] photoURL does not represent a known image type"
## Expected Behavior
I'm running Motioneye software on a Pi Zero W with the NoIR cam. The software has the option to curl images and use them right away. The link looks like this:
http://192.168.23.17:8765/picture/1/current/?_username=admin&_signature=$my_security_token

I want to use this URL in rules using the sendTelegramPhoto function. My rule code looks like this:

[code]
This should send the

[2017-07-17 10:29] sjka commented on #2469
Thanks for your bug report.

If I get it right, the image is produced by motion(eye) and will be forwarded from there using the Telegram action. At least I don't see any involvement of the Eclipse SmartHome framework in between. The Telegram action is maintained in this repository: https://github.com/openhab/openhab1-addons. Therefore may I ask you to open an issue there?

I'm well aware that it i

[2017-07-17 10:38] MrMontesa commented on #2469
Thanks for your swift reply. I [opened an issue](https://github.com/openhab/openhab1-addons/issues/5254) for openhab1-addons as requested.
Motioneye iteself is a Webgui written in python  for the well known [motion](http://www.lavrsen.dk/foswiki/bin/view/Motion/WebHome) tool.

[2017-07-17 11:26] #2469 closed

[2017-07-17 16:47] Andirs55 commented on #1206
@Stratehm is is possible to implement Zone2Control for the VSX-924?
I am on 2.1 stable. At the moment when triggering the Zone2 Power i get the folling log entry:

`2017-07-17 18:46:21.493 [ERROR] [ome.core.thing.internal.ThingManager] - Exception occurred while calling handler: java.lang.ArrayIndexOutOfBoundsException: -1
java.util.concurrent.ExecutionException: java.lang.ArrayIndexOutOfBoundsExc

[2017-07-17 17:01] tam481 opened #2472 "Tradfri binding potential bug"
## Expected Behavior
I expect the switch item to always reflect the status of the light.

## Current Behavior
A while after configuring the binding and linking the dimmer item with the bulb the status of the light is no longer reflected. The light can be controlled through the dimmer item but its status is no longer update if the light is switched on/off or the brightness changes using the Tradfri

[2017-07-17 17:07] phinnay opened #2473 "[ZWAVE] Cooper RFWC5 status LED control"
## Expected Behavior
Some method needs to be developed to control the LED scene selector lights on the RFWC5

Under OH1 this could be done as follows:
Switch DR_Scene1i "Scene 1 LED" {zwave="16:command=INDICATOR,bit=0"}

## Current Behavior
Unable to control LED's via OH2

## Possible Solution
Whatever will allow for control of the LED's!

## Steps to Reproduce (for Bugs)
Attempt to set LED's they

[2017-07-18 07:22] GernotHot commented on #2038
@kgoderis Hi Karel, did you receive any support or update from Keba?

[2017-07-18 11:13] martinvw commented on #2472
Can you create this bug at https://github.com/eclipse/smarthome/issues, Thanks!

[2017-07-18 11:13] #2472 closed

[2017-07-18 11:14] martinvw commented on #2473
Can you check in https://github.com/openhab/org.openhab.binding.zwave/issues whether such an issue already exists and if not open it there, thanks!

[2017-07-18 11:14] #2473 closed

[2017-07-18 11:16] martinvw commented on #2440
@aryeharmon will you create the PR?

[2017-07-18 14:16] wollyd commented on #2379
Hi,

is there a way to debug this issue, it can be solved ?
All help is welcome ...

kind regards
willy

[2017-07-18 19:35] daniel-hermann commented on #1702
I am very sorry for replying so late, but i put the openhab project on hold for a while.

I am now trying it and it is not completely working.

The Items are auto-discovered, and then I add them in the Paper UI.
When using the remote the status of the thing changes. But when trying to use openhab (paperui) to change the state it does not work, and the debugging log shows this error:

`21:34:12.698

[2017-07-18 20:05] martinvw commented on #1702
Can you test with the latest version of the binding, so not the version which I offered as download but just the current stable or snapshot version. It has been merged for months already and the code which throws this error does not exists anymore (luckily enough in this case)

[2017-07-19 04:26] daniel-hermann commented on #1702
I am using binding-rfxcom - 2.1.0.SNAPSHOT, which should be the current version, right?

[2017-07-19 05:29] martinvw commented on #1702
Your logging suggests you are using a binding of 19 February, so that is not the newest. Also the newest snapshot is a 2.2.0 snapshot

[2017-07-19 06:25] EsbenSkovPedersen commented on #2315
Sounds good - how is the project going?

[2017-07-19 08:28] kgoderis commented on #2038
@GernotHot Not yet. Anyways, even when I configure the binding to use a single KEBA, it still fails on the P30. I am quite convinced something is fishy wrt the firmware I have, and has nothing to do with the binding...

[2017-07-19 09:18] GernotHot commented on #2038
@kgoderis I agree on that. The described problem seems to be a wallbox-specific problem and not one of the mentioned binding-issues.
I have a loose contact with Keba and tried to push your issue. How did you get in contact with Keba and did you receive something like a ticket number?

[2017-07-19 11:46] daniel-hermann commented on #1702
you are absolutely right, I am sorry. Somehow I had to change repo, and dit not realize it.

Now it says "binding-rfxcom - 2.1.0" can that be right for the stable release?

Is the right way to add in the PaperUI? Now it seems I can turn it on but not off.

[2017-07-19 11:57] martinvw commented on #1702
The ON/OFF commands should be configurable, so if the defaults are not good you should be able to change it. When running in debug mode you should be able to capture the desired on off commands.

[2017-07-19 14:49] daniel-hermann commented on #1702
Thank you for your patience with me ;)

`16:48:14.062 [DEBUG] [g.rfxcom.handler.RFXComBridgeHandler] - Message received: Raw data = 09130042411511014570, Packet type = LIGHTING4, Seq number = 66, Sub type = PT2262, Device Id = 266577, Command = ON_1(1), Pulse = 325
16:48:14.068 [INFO ] [g.discovery.internal.PersistentInbox] - Added new thing 'rfxcom:lighting4:rfxtrx433E:266577' to inbox.
16:48:14.

[2017-07-19 16:43] martinvw commented on #1702
You are welcome!

ON_1 / OFF_4 sounds good can you also post debug logging of sending?

If you add a triple back-tick before and after it will display properly

[2017-07-19 20:57] lovwyr commented on #2014
One short remark, on newer Fritz!Box Models the Userauth via Username/Password is not enabeld by Default. It can be enabled under System -> FRITZ!Box-Users -> 2nd Tab.

[2017-07-20 04:03] psyciknz opened #2477 "[HomeKit] Feature Request: Motion detection items"
Would it be possible for an update to the binding to capture motion detection events from sensors (zwave etc).  Though OPenhab does use a switch for that, it'd be nice if homekit allowed for motion events to be shows for automation.

[2017-07-20 08:41] chimeranzl commented on #2403
I have a similar issue, although with the latest binding and slightly different error...

openhab> bundle:list | grep HarmonyHub
187 | Active | 80 | 2.2.0.201707190537 | HarmonyHub Binding

On startup of OH, generates an error mentioning "not-authenticated"...

2017-07-20 19:31:20.995 [WARN ] [oftware.smack.AbstractXMPPConnection] - Connection HarmonyXMPPTCPConnection[not-authenticated] (1) closed

[2017-07-20 11:43] mhilbush commented on #2334
@digitaldan I submitted the PR for this functionality.  Could you have a look when you get a chance?  Thanks!!

https://github.com/openhab/openhab2-addons/pull/2479

[2017-07-20 11:58] anthonygillet commented on #1694
This binding is still working great for me! What's next as far as getting this into the official distribution?

Question / feature request. Is it possible to have the binding also control and report the state of the Smart Home Monitor? I am attempting to use ST as an alarm system and that would make OH integration easy. It would be ideal to have access to view and change both the current "mode" (h

[2017-07-20 12:25] martinvw commented on #1694
Creating a PR or is it already there?

[2017-07-20 13:56] mueller-ma commented on #2014
I cannot really remember that I ever saw a Fritzbox with user authentication enabled by default

[2017-07-20 14:41] daniel-hermann commented on #1702
[code]

[2017-07-20 19:36] CWempe opened #2482 "[onkyo] device not reachable but thing is 'ONLINE'"
In the last days/weeks I had  a few problems with my onkyo.
It happens from time to time that the device loses its connectivity.

* web radio does not work anymore
* the android app cannot find the device.
* openhab cannot control the device.

The cause is probably the firmware of the onkyo.

But I want to make a workaround and cut the power to restart the device when this happens.
Unfortunately t

[2017-07-21 06:52] martinvw commented on #1702
It seems all proper, pity that it does not work

This is the OFF we send
```Transmitting message 'Raw data = unknown, Packet type = LIGHTING4, Seq number = 0, Sub type = PT2262, Device Id = 266577, Command = OFF_4(4), Pulse = 322'```

And this is the OFF we receive:

```Message received: Raw data = 09130043411514014270, Packet type = LIGHTING4, Seq number = 67, Sub type = PT2262, Device Id = 26657

[2017-07-21 07:21] daniel-hermann commented on #1702
Can I somehow check the raw data that is really sent?

[2017-07-21 07:30] martinvw commented on #1702
Setting the logging to TRACE might give the raw data we send

[2017-07-21 08:31] #2426 closed

[2017-07-21 09:40] #2477 closed

[2017-07-21 11:21] daniel-hermann commented on #1702
Ok, so I checked, the raw message is different.

raw OFF recieved from the handheld:
[code]

[2017-07-21 13:44] martinvw commented on #1702
[code]

The hex 43 is the sequence number which translates to 67
The 70 in the end is the signal strength which also does not have to be set when sending.

So there should be no real difference, maybe the RFXCOM just fails to send the proper signal, did it work with the old openHAB 1 binding? Can you maybe share some more details about the device you are using.

[2017-07-22 08:55] kgoderis commented on #2038
@GernotHot I was in touch with Peter from their support team, which forwarded the issue to the software team. There is a troubleticket whichI believe has #11616

In any case, the little netcat test is working for "report 1" and not for "report 3". For me it seems to be related to the specific FW version I am running. When I have some time I will try to downgrade the FW (assuming that older FW are

[2017-07-22 10:37] Adminius commented on #503
any news?
i have problems with double telegramms.
i use OH2 with binding-knx1 - 1.10.0 and Weinzirl 730 ip interface

[2017-07-22 12:03] masterdiver commented on #2038
Hi guys,

sorry for the delay. Hard work in the real job :D

Is the problem with the report only P30 relevant?
I installed openhab fresh and tried to test the new snapshot.
First I run into trouble because of the different syntax. This needs to be updated (https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.keba) when this version goes into production. This wa

[2017-07-22 22:29] rvt commented on #496
@emcandrew:
I posted on the forum aswell, but I have possible a fix for this issue:

The problem is with the calculation of the precent values that are done with Integers rather than using floating point values. I also have a fix for a issue where if you set the RGB and white color you see two updates instead of one.

see: https://github.com/rvt/openhab2-addons/commit/b85a5102cdabd90e045a81bbfb126

[2017-07-23 13:17] masterdiver commented on #2038
Hi,

I see my problem right now. Thankfully there is a Mac everywhere :-)
I went from Synology to an VM on my ESXi test environment.
So all network bindings, e.g. Keba, Kostal, Netatmo, ... are not running. They are in an uninitialized state or offline.

So I have to thing about a new environment for my openhab. Did someone have a similar problem?

[2017-07-23 13:23] masterdiver commented on #2038
Update:

Still problems with the Keba Binding. Kostal is working on my Mac, but the Keba binding stays uninitialized.
Version is 2.2.0 build 988

[2017-07-23 16:38] masterdiver commented on #2038
Update:

I´m now on a CentOS VM with the same Configuration (with the new syntax):

Thing keba:kecontact:1 [ipAddress="192.168.0.20", refreshInterval=15]
Thing keba:kecontact:2 [ipAddress="192.168.0.21", refreshInterval=15]

Not uninitialized anymore but:
Still nothing. No data from the boxes.

[2017-07-23 16:40] masterdiver commented on #2038
Update (last for today):

Uninitialized is back after a few seconds. So still no chance to control the Keba boxes with 2.2.0 snapshot. Worst then this, not one I can handle like in 2.0.

[2017-07-24 00:19] chimeranzl commented on #2403
Some more errors in logs that may help troubleshoot this...

[code]

[2017-07-24 05:02] dk8pn opened #2488 "[Feature Request] - Realtime trigger to IFTTT"
openHAB2 should serve item states through myopenhab.org to the realtime API of IFTTT.
A basic feature is already in place but IFTTT reacts after a large delay between 15 minutes up to 1 hour.

Desired application is as following: Alexa Triggers item state change "air conditioner ON/OFF". openHAB2 tells IFTTT to use an "intersishome applet" to switch the airconditioner ON. Execution should be realt

[2017-07-24 07:13] kaikreuzer commented on #2488
I assume that this is rather a feature request for https://github.com/openhab/openhab-cloud as in this repo there is no such thing as an "IFTTT add-on".

[2017-07-24 07:13] #2488 closed

[2017-07-24 12:21] kgoderis commented on #2038
@GernotHot Do you happen to have the binaries/zip files with the older firmwares? only the latest one is available for download

[2017-07-24 12:22] kgoderis commented on #2038
@masterdiver It seems to me that you are not having the latest version of the binding's .jar in your installation.

[2017-07-24 12:38] masterdiver commented on #2038
Can you provide me a link to the newest version? I found only the one bundled with Build 988, or the one openhanded downloaded after installing that build.

[2017-07-24 14:09] kgoderis commented on #2038
[org.openhab.binding.keba_2.1.0.201707241545.jar.zip](https://github.com/openhab/openhab2-addons/files/1170042/org.openhab.binding.keba_2.1.0.201707241545.jar.zip)

Here is the jar that will be available in the distro as soon as https://github.com/openhab/openhab2-addons/pull/2443 gets completed and accepted

[2017-07-24 14:21] #2432 closed

[2017-07-24 14:32] masterdiver commented on #2038
Just putting it into addons folder? Do I need to delete something else?

[2017-07-24 15:12] masterdiver commented on #2038
Where can I see what binding version is used? The old 2.2.0 Snapshot Binding is deleted, so in my mind he should use the one I placed in addons. But still not sure. Looks like month ago.

[2017-07-24 15:18] lewie commented on #503
I hope we get a KNX2 Binding soon! https://github.com/openhab/openhab2-addons/pull/2323#pullrequestreview-50719804

[2017-07-24 15:43] #2333 closed

[2017-07-24 18:14] #2334 closed

[2017-07-24 18:29] kgoderis commented on #2038
Just drop it in the add-ons folder

Do a "bundle:list -s | grep keba" in the openHAB console to check the bundles that provide the keba binding. Most likely you will have 2 of them, one from the add-ons folder, one from the distribution you installed (and for which you most likely added an entry in addons.cfg)

For the config part, you need to use the "kecontact" thing type as you figured out.

[2017-07-24 22:17] chimeranzl commented on #1222
This error is back again with OH2.2 build 988, and Harmony binding

[code]

Every ~60 seconds this is logged, same as the polling interval in the binding:

[code]

[2017-07-25 05:26] dk8pn opened #2490 "Add IntesisHome Binding"
It would be very nice if one of the openHAB2 experts would be willing to program a binding which can include the WiFi air conditioner (A/C) controller from "Intesishome" suited for e.g. Panasonic and many other A/Cs. A description of the required Intesishome API can be retrieved from: https://www.intesishome.com/developers/rest-api-documentation/.

[2017-07-25 06:03] masterdiver commented on #2038
Hi,

thanks for the help with this command. But it looks like all is right:

openhab> bundle:list -s | grep keba
193 | Active   |  80 | 2.1.0.201707241545     | Keba Binding                                           | org.openhab.binding.keba

The bundled binding I uninstalled before config. And I think, that this is right binding because I have to use the recontact instead of kekontactp20 configu

[2017-07-25 17:35] joeduck commented on #1653
Listening Mode would be great!
Could we donate for the Feature and your great work?

Greetings

[2017-07-25 17:56] bytedealer commented on #2359
Hey @kgoderis,

any news regarding the minor tweak?

[2017-07-25 18:32] masterdiver commented on #2038
Hi,

Another small update: with build 989 from yesterday the addon wont load anymore.
Is there a new version from the addon for download?

[2017-07-26 07:22] masterdiver commented on #2038
Hi again,

downgraded to the stable 2.1.0. All is working fine, except the jar file isn´t available in the addons folder. Is it necessary to have 2.2.0, or are there other dependencies?

[2017-07-26 07:25] masterdiver commented on #2038
Found in another threat where you are involved: Is the downloaded size correct:

-rw-r--r--. 1 openhab openhab 29736 24. Jul 16:47 org.openhab.binding.keba_2.1.0.201707241545.jar

[2017-07-26 07:28] martinvw commented on #1653
I saw bountysource being used:

https://www.bountysource.com/issues/40590803-pioneeravr-feature-request-pioneeravr

[2017-07-26 07:45] kaikreuzer commented on #1653
@martinvw With a bounty of $0...? A bit weird...

[2017-07-26 07:47] martinvw commented on #1653
I responded to:

I meant I saw bountysource being used on a few other issues

[2017-07-26 07:48] kaikreuzer commented on #1653
Ah :-)

[2017-07-26 09:37] kgoderis commented on #2038
@masterdiver My own env runs build 945. It is not necessary to have 2.2.0, but if you loose the add-ons folder while downgrading, you have to copy over the file again.

[2017-07-26 10:06] masterdiver commented on #2038
The file and my config stayed where it should be. Is the size of the jar file correct?
Ok. Then I will updgrade to the 2.2 Snapshot again and see if it coming up.

[2017-07-26 17:05] masterdiver commented on #2038
Can´t find the version you are using anymore. But with the latest build from this morning I have the same problem. The binding isn't used although it is with the right credentials in the /opt/openHAB2/addons folder.
Please test it one more on a fresh install. Maybe you have dependencies that are not any more in the build.

[2017-07-26 20:25] GernotHot commented on #2038
@kgoderis Hi Karel,
downgrading the firmware usually does not work. But I made a test with the same firmware as yours (I upgraded one of my boxes) and here it works with the netcat-command. You probably tried to reinstall the most current firmware? And you also checked the correct dip-switches?

If it still does not work, imho the only way is to change the box. It should be covered under the warra

[2017-07-26 23:37] BobRak commented on #1694
Anthony:
I posted a status update in my repo. [You can see it here](https://github.com/BobRak/OpenHAB-Smartthings/issues).

I have looked into using the Smart Home Monitor a little. From what I've found it seems possible although there is no official API at this point. I want to finish up what is in progress now before taking on anything more. If you want me to look at it further please raise an i

[2017-07-26 23:44] conditio commented on #1312
It's not resolved, not for me running CentOs 6.5 at least...

[2017-07-27 04:25] joeduck commented on #1653
Donated :)

[2017-07-27 04:41] McNetic commented on #1312
As said, at least libc 2.16 is required for this to work. You'll have to update the system...

[2017-07-27 05:38] martinvw commented on #1653
@Stratehm you should be able claim this if you start it and retrieve it once finalised.

[2017-07-27 07:47] conditio commented on #1312
That's not whats beeing said here: https://github.com/cvanorman/nrjavaserial/issues/4

And here:

https://github.com/openhab/openhab-core/issues/111#issuecomment-278581282

Whats beeing said if you read around is that many users are stil stuck with lower glibc and theres been a couple of attempts lowering required version...

I have many other bindings running in centos 6.5 without problems. And s

[2017-07-27 11:52] wollyd commented on #2379
Getting the json from netatmo shows a number for the plug_connected_boiler, so whats wrong ?

 "body": {
    "devices": [
      {
        "_id": "70:ee:50:98:e0:f6",
        "firmware": 140,
        "last_bilan": {
          "y": 2017,
          "m": 6
        },
        "last_setup": 1441622847,
        "last_status_store": 1501154340,
        "place": {
          "altitude": 16,
          "city"

[2017-07-27 13:27] ThomDietrich commented on #1156
Welcome back, I guess ;) Thanks for looking into this!

[2017-07-27 17:06] skyscape321 opened #2495 "[rfxcom] translation of some values not working correctly (TFA wind meter and rain meter)"
I had a working configuration for my TFA wind meter and rain meter with the rfxcom 1.x binding. The rfxcom 2.1 binding seems to ignore some of the values transmitted by the TFA wind and rain meters.

Expected Behavior:
Translate all received values correctly.

Current Behavior:
I see that the following data from TFA wind meter is received:

2017-07-27 18:31:44.817 [DEBUG] [binding.rfxcom.handler.R

[2017-07-27 19:23] martinvw commented on #2495
Thanks for sharing your concerns with us!

The battery level and signal level are expected they are translated to the openHAB battery / signal levels and the battery levels are in openHAB a percentage and the signal levels a range of 0-5. So this is indeed different from openHAB 1.x but imho an improvement.

To me it's not clear what you mean by "no values show up at all", can you share your confi

[2017-07-27 19:30] skyscape321 commented on #2495
My rfxcom items:
Number    WindDirection    "Windrichtung [%s °]"              <wind>         (gWeather)        {channel="rfxcom:wind:159b3099e38:38678:windDirection"}
String    WindDirectionS                                      <wind>         (gWeather)
Number    WindSpeed        "Windgeschwindigkeit [%.1f m/sec]" <wind>         (gWeather)        {channel="rfxcom:wind:159b3099e38:38678:avgWindSp

[2017-07-27 19:41] skyscape321 commented on #2495
btw. thank you for your support :-)

[2017-07-27 19:59] martinvw commented on #2495
For the two temperature fields I just found the cause, however I will not able to fix this for at least 10 more days.

I added a note also at the pr which introduced this function, the required change is really easy on the following line https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.rfxcom/src/main/java/org/openhab/binding/rfxcom/internal/messages/RFXCom

[2017-07-27 20:29] skyscape321 commented on #2495
Great - tomorrow I will try to find out/debug why the rain rate is not showing up.
I learned something new about the signal and battery level translation. Did I understand correctly:
battery level from 0-9 -> 0-100%
signal level from 0-9 -> 0-5

Thank you for your time.

[2017-07-27 21:33] BrutalBirdie commented on #2459
I'm currently on vacation so I can't investigate into the issue after my vacation I will work on the issue again

[2017-07-27 21:39] ppieczul opened #2497 "[harmonyhub] Suggestion for checking for current activity before starting a new activity"
## Expected Behavior

When I send PowerOff activity (by name) and hub is already in PowerOff state, it should do nothing.

## Current Behavior

When I send PowerOff activity (by name) and hub is already in PowerOff state, it powers on one of my devices (last one). This is 100% reproducible in my setup. When hub is performing some activity is powers off correctly and does not start that device.

##

[2017-07-28 06:45] martinvw commented on #2495
Inputs where different and I misinformed you about the output for the signal level, to summarise, this is what is in the code.

battery level from 0-9-> 0-100%
signal level from 0-15 -> 0-4

[2017-07-28 08:23] skyscape321 commented on #2495
I just checked the rain gauge. The problem with the rain rate **is on my side**. The rain gauge does not send this data (or stopped doing so). I can see this in the DEBUG-log. This issue can be closed from my point of view.

Once again than you for your support.

[2017-07-28 15:40] #1835 closed

[2017-07-28 20:11] RoBuerger opened #2499 "[astro] java.lang.NoClassDefFoundError: org/eclipse/smarthome/core/scheduler/CronHelper"
My Environment:
openHAB Distribution Version Information
----------------------------------------
build-no        : Build #994
online-repo     : https://openhab.jfrog.io/openhab/online-repo-snapshot/2.2

Repository        Version
----------------------------------------
openhab-distro  : 2.2.0-SNAPSHOT
smarthome       : 0.9.0-SNAPSHOT
openhab-core    : 2.2.0-SNAPSHOT
openhab1-addons : 1.11.0-SNAPS

[2017-07-28 20:56] RoBuerger commented on #2499
Updated to jdk1.8.0_152. It seems to be running now. Will see at sun rise tommorow. :-)

[2017-07-28 21:22] kaikreuzer commented on #2499
It looks as if you somehow have an old version of the astro binding on a newer ESH version.
In any case, the astro binding is now part of ESH, so in case there is a bug, the right place to report it is at https://github.com/eclipse/smarthome/issues.
But this one is most likely not a bug, but a setup error, so if your problems remain, best seek support at https://community.openhab.org/.

[2017-07-28 21:22] #2499 closed

[2017-07-29 14:27] omribahumi commented on #2459
Not sure if this is the same issue, but I'm having a similar issue with the Xiaomi binding.

I have a button that functions properly and delivers events, but the magnet sensor events don't seem to be processed correctly.

I've enabled TRACE debugging for the `org.openhab.binding.mihome` logger and got this when I trigger the sensor:

[code]

But I don't get anything in the events.log.

When the bu

[2017-07-29 20:33] dominicdesu commented on #2335
Thanks @kaikreuzer, it finally worked by only changing the name in the xml. Don't know what I did wrong some weeks ago :-/

[2017-07-29 20:46] CWempe opened #2502 "[onkyo] 'sec' instead of 'msec' in debug output"
This should be milli seconds I think.

[code]

https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.onkyo/src/main/java/org/openhab/binding/onkyo/internal/OnkyoConnection.java#L306

[2017-07-29 21:18] CWempe commented on #2482
This time I was able to activate debugging when the issue occured.

[code]

Here is the log when I try to change the volume via karaf console:

[code]

[code]

A few things I do not understand:
* `70000 sec` These should be milli seconds, right?!
At least the time between two "No data received" messages is 70 seconds.
#2502
* When I change the volume via remote, the binding receives data instantly

[2017-07-30 10:33] kgoderis commented on #2038
https://github.com/openhab/openhab2-addons/issues/2038#issuecomment-317434385

[2017-07-30 10:34] masterdiver commented on #2038
The openHAB2 version I mean.

[2017-07-30 10:35] kgoderis commented on #2038
@GernotHot I solved the issue in the meantime. I opened the Keba, and the @#$&*@! electrician that did the installation misconfigured the DIP switches, despite the fact that he *assured* me that he did everything right.

Everything seems to be running very smoothly now with https://github.com/openhab/openhab2-addons/issues/2038#issuecomment-317434385

[2017-07-30 14:12] masterdiver commented on #2038
Hi,

sorry, but I´m not able to test anymore. The Keba add-on won´t come online. I also re uploaded it to the adding folder. Same problem with last Build 998.

Thing is still:

Thing keba:kecontact:1 and
Thing keba:kecontact:2

bundle:list also didn't´t show me a Keba binding. The add-on isn't recognized via openHAB2.

[2017-07-30 15:33] CWempe opened #2505 "[netatmo] TempTrend and PressTrend not working"
According to the wiki and the [stations.xml](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.netatmo/ESH-INF/thing/station.xml) TempTrend and PressTrend are supposed to work for the main indoor module.

But it looks like this is not working.
https://community.openhab.org/t/what-channel-types-are-supported-by-wich-netatmo-device/24394/6?u=christoph_wempe

M

[2017-07-30 21:13] cweitkamp commented on #2505
@clinique Can you help?

[2017-07-30 21:14] GernotHot commented on #2038
@kgoderis Nice to hear, that it worked :) . I will try the new patch tomorrow morning and give you a feedback!

[2017-07-30 21:14] cweitkamp commented on #2379
@clinique Can you help?

[2017-07-31 07:20] lolodomo commented on #2505
If I correvtly remember, the pressure is only delivered by the outside module  ?  In this case it would make sense that pressureTrend is not delivered by the indoor module too.

[2017-07-31 07:40] Orfait commented on #2379
Hi,
I have the same issue. I tried 2.1 release and 2.2 snapshot.
On build 998, the error is:
`09:32:37.067 [ERROR] [netatmo.handler.NetatmoBridgeHandler] - An error occurred while calling thermostat API : com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected a boolean but was NUMBER at line 1 column 312 path $.body.devices[0].plug_connected_boiler`

I am not a developper b

[2017-07-31 07:48] CWempe commented on #2505
No.
Pressure only works for the indoor module.

![image](https://user-images.githubusercontent.com/1270359/28767788-5e0844b2-75d5-11e7-9404-51b238acdbb1.png)

![image](https://user-images.githubusercontent.com/1270359/28767613-a447a112-75d4-11e7-94ce-4a8615f5636c.png)

[code]

[2017-07-31 12:23] wollyd commented on #2379
hi,

it seems to be defined in : https://github.com/cbornet/netatmo-swagger-api/blob/master/generated/netatmo/client/java-retrofit/src/main/java/io/swagger/client/model/NAThermStateBody.java

  @SerializedName("plug_connected_boiler")
  private Boolean plugConnectedBoiler = null;

[2017-07-31 14:36] cweitkamp commented on #2379
Good catch. Meaning this problem is caused by the underlying library used to read those values. We should report thus issue to the related Github report, shouldn't we?

[2017-07-31 14:40] clinique commented on #2379
I can take care of the change in swagger library, I'll give a look at issue #2505 in the same time

[2017-07-31 17:21] clinique commented on #2505
Sure, there seem to be a problem here. Temperature trend works fine on the outside module but not for the inside one. Pressure Trend does not fill neither. Will look closer at this issue.

[2017-07-31 19:49] dominicdesu commented on #2335
@kaikreuzer I think I know now what went wrong and it is a little confusing:
* If I add a new parameter (with a default value) in the binding.xml, the parameter does not appear in the component properties initially.
* Only after I've opened the binding configuration in PaperUI and press save (without changing any values), the component properties start to include my new parameters.

Is this on pur

[2017-08-01 07:00] clinique commented on #2379
It's rather weird because in my dev.netatmo interface, when I query it I get plug_connected_boiler as a boolean, while you receive it as an integer. Modifying the swagger definition to integer seems to accept boolean as well, so I'll head with that. Netatmo API documentation is really poor, this variable isn't documented but I'll push it in the binding by the way.

[2017-08-01 07:09] #2495 closed

[2017-08-01 07:42] clinique commented on #2379
I suspect it depends upon the firmware version of the station that may give back different answers from the API.

[2017-08-01 08:17] cweitkamp commented on #2379
Thanks for your work. Is it possible to implement a firmware version check and with it a different handling for this value?

Just for my personal interest. Where can I find the code of the swagger library and how to build it? Can it be found in the [https://github.com/cbornet/netatmo-swagger-api](https://github.com/cbornet/netatmo-swagger-api) repo? Where can I have a look at the Netatmo API docum

[2017-08-01 08:25] clinique commented on #2379
With the modification I made (changing plug_connected_boiler to int32 instead of boolean), it appears to accept boolean value (what I get from the api) without error. So you should be good on your side also.

I'm not 100% sure it comes from the firmware version, but suspect it. In the past, we already faced different behaviour of Netatmo API depending upon the user.

I'll push my modifications on

[2017-08-01 08:25] clinique commented on #2379
Netatmo API documentation is available at dev.netatmo.com

[2017-08-01 10:06] wollyd commented on #2379
Hi,

This is the firmware I am using :

Thermostat : 59
Relais station : 140

Hope this helps...

regards

willy

On 08/01/2017 09:42 AM, clinique wrote:

[2017-08-01 11:33] kaikreuzer commented on #2335
Yes, this is on purpose, at least partially. The main idea of the "default" information in the config description is to tell the UI that it can suggest something as a default value. In general, a parameter with a default value should NOT be marked required, thus it is fully ok to not provide this value in the configuration.
That the UI fills this parameter although nothing has changed, is indeed a

[2017-08-01 17:42] mjagdis commented on #2448
Try this. No guarantees :-)

[org.openhab.binding.rfxcom-2.2.0-SNAPSHOT.jar.zip](https://github.com/openhab/openhab2-addons/files/1191450/org.openhab.binding.rfxcom-2.2.0-SNAPSHOT.jar.zip)

[2017-08-01 18:58] dominicdesu commented on #2335
Okay if I understand it correctly, I need to use an "internal" default value (besides the one defined in binding.xml), in case the configuration parameter is not yet set. In this case I should update my PR 😃
Thanks for the explanation!

[2017-08-01 20:30] mjagdis commented on #2360
I have one of these and it seems to work fine. as I understand it they slow the sending rate if the power (amps?) values are close together but certainly not to that extent. Do you have to move it at all to test with RFXMgr? Or even move other things around it (including yourself)? New batteries maybe? Certainly there's nothing in the binding that would drop messages before logging them so if they

[2017-08-02 15:15] tbail opened #2513 "[Tankerkoenig] Feature Request: Swicth or Contact to show if station is open/closed"
The binding is missing a switch or contact that indicates if the desired gas station is open or closed. In addition to the open8closed information prices should have a defined value i.e. 0,00€.

Based on the open/closed information fuel prices cloud be displayed or it is possible to give a closed information to the user.

## Expected Behavior
For each station a new channel (Switch or contact) shou

[2017-08-02 17:11] JueBag commented on #2513
Will start working on as soon as I'mentioned back home.

[2017-08-02 17:13] JueBag commented on #2513
Dammit.  This mobile phone is driving me n***.
..as soon as I'm back home.

[2017-08-02 20:58] ThomDietrich commented on #2444
@OLibutzki any news? Just to be clear: I'm currently not able to use any of the 8 dash buttons catching dust in my apartment 😢

[2017-08-03 08:14] wollyd commented on #2379
Hi,

Where can i find the updated jar file ?
How do I install this file ?

regards
willy

[2017-08-03 08:57] cweitkamp commented on #2379
I think xou can download the .jar file here https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/org.openhab.binding.netatmo/2.2.0-SNAPSHOT/.

For installation follow this [documentation.](http://docs.openhab.org/installation/linux.html#installing-add-ons). Be aware to remove the old binding version first.

[2017-08-03 09:36] davidgraeff commented on #2444
Isn't it possible to detect the dash button while the button is actually pressed? So the readme would be like "Start the discovery process in PaperUI and press the button of your DashButton to make it discover-able".

[2017-08-03 09:42] wollyd commented on #2379
Hi,

I copied the new jarfile to /usr/share/openhab2/addons
then tried to install via the GUI, but got the following error
2017-08-03 11:39:54.608 [WARN ] [url.mvn.internal.AetherBasedResolver] - Error resolving artifact org.openhab.binding:org.openhab.binding.network:jar:2.1.0: [Could not find artifact org.openhab.binding:org.openhab.binding.network:jar:2.1.0]
java.io.IOException: Error resolving

[2017-08-03 10:08] ThomDietrich commented on #2444
The README already includes something like it already: http://docs.openhab.org/addons/bindings/amazondashbutton/readme.html#discovery

[2017-08-03 10:22] cweitkamp commented on #2379
You don't need to install anything via the GUI. After dropping the .jar file into the addons folder it is installed automatically.  I have no clue, why that error occurres and since it says something about the network binding, I assume it has nothing to do with the changes of the netatmo binding. Please restart the openhab2 service and look if the error disappears or not.

[2017-08-03 10:40] wollyd commented on #2379
I think there was something wrong with my internet...
but I still get the following error
2017-08-03 12:38:07.730 [ERROR] [netatmo.handler.NetatmoBridgeHandler] - An error occurred while calling thermostat API : com.google.gson.JsonSyntaxExce
ption: java.lang.IllegalStateException: Expected a boolean but was NUMBER at line 1 column 352 path $.body.devices[0].plug_connected_boiler
in the jar file l

[2017-08-03 11:26] cweitkamp commented on #2379
Silly question, I know, but did you uninstall the old version?

[2017-08-03 11:31] wollyd commented on #2379
yes I did, I uninstalled, restarted, then copied the file to the addons directory.
![image](https://user-images.githubusercontent.com/29516657/28919903-d526d5dc-784f-11e7-82a7-a7675ecf5d9f.png)

[2017-08-03 11:44] cweitkamp commented on #2379
OK, you did everything right. Maybe the .jar file I pointed contains not the latest changes. Then we have to wait until #2510 got merged - unless you build it in your own ;-).

[2017-08-03 12:04] wollyd commented on #2379
ok
thanks for your help
willy

[2017-08-04 13:21] #1206 closed

[2017-08-05 09:38] lolodomo opened #2517 "Netatmo binding: missing translations in French"
Using the new Paper UI page for bindings, I got this for the Netatmo binding:
* the binding description has no sense: "Le binding Netatmo gre station Netatmo Personal Weather et les modules additionels."
* some things types are displayed in French like for example NAMain or NAModule1, but others in English like for example netatmoapi or NATherm1
* the French description of the thing type NAModule3

[2017-08-05 09:49] martinvw commented on #2517
Is this maybe caused by missing translations? Did you configure your language to be French?

I suppose the first text is stored some where in the repo, can you check?

[2017-08-05 09:52] lolodomo commented on #2517
The language of my RPI is setup to use French; OH is certainly using the system language by default and so French is used in my case.
There are certainly missing translations, that is the object of my isuue ;)

[2017-08-05 09:56] martinvw commented on #2517
😀

[2017-08-05 12:10] lolodomo commented on #2517
https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.netatmo/ESH-INF/i18n/netatmo_fr.properties#L3

I confirm that the binding description has to be made understandable :) in the french translation and missing strings have to be added in this file.

@clinique : can you enhance that ?

[2017-08-05 12:52] cweitkamp commented on #2517
I can offer to add some german translations, too.

[2017-08-05 13:46] lolodomo commented on #2517
Maybe first a full French file would help you to forget nothing in your German translation ?

I took a look to all ESH/OH2 bindings and internationalization is very rare. When provided, most of the time only a German translation is provided. We have few bindings with a Dutch translation and only one with a French translation, the netatmo binding.
I will try to add French translation for few bindin

[2017-08-06 03:10] beowulfe opened #2520 "hdpowerview binding fails on 2.1 with type conversion error"
15:34:27.427 [DEBUG] [.smarthome.config.core.Configuration] - Setting value (int) 5257 to field ‘id’ in configuration class org.openhab.binding.hdpowerview.config.HDPowerViewShadeConfiguration
15:34:27.429 [WARN ] [.smarthome.config.core.Configuration] - Could not set field value for field ‘id’: Can not set int field org.openhab.binding.hdpowerview.config.HDPowerViewShadeConfiguration.id to java.l

[2017-08-06 03:10] beowulfe commented on #2520
Fix incoming

[2017-08-06 10:24] glennpierce opened #2522 "[hueemulation] Emulation fails if one device not active"
I have two sonoffs. Both are connected to power extension leads. These will be used for temporary things like Christmas lights. When both are plugged in, my Openhab2 setup works with hue emulation. Ie my Amazon echo can discover both devices. However, if one sonoff is unplugged then the amazon echo fails to discover any devices including the existing one still plugged in.

I can still control the

[2017-08-06 14:14] av1024 opened #2523 "Basicui sitemap Group required `item` argument to be passed"
## Expected Behavior
Define simple 'Group' in sitemap as menu separator (not linked to any `item`)

## Current Behavior
Got "It seems like you have not defined any sitemaps yet." on web UI.

## Possible Solution
 * Pass 'item=' argument to Group
 * Change sitemaps documentation (remove optional brackets from 'item' on Group description)

## Steps to Reproduce (for Bugs)
1. (default.sitemap): ... G

[2017-08-06 15:38] kaikreuzer commented on #2523
Please note that this is the wrong issue tracker as your issue is not about any openhab add-on that is maintained in this repo.
Anyhow, you're problem is not a bug, but an invalid sitemap. Providing an item is mandatory so your second suggestion is the correct solution - I have created https://github.com/openhab/openhab-docs/pull/470/files for it. Thanks for mentioning!

[2017-08-06 15:38] #2523 closed

[2017-08-06 15:47] av1024 commented on #2523
Ok.
I'm a bit confused because it is worked on OH1 and looks a bit useful than defining fake item dor dummy group.

[2017-08-06 15:57] kaikreuzer commented on #2523
Instead of a fake item, you should simply use a "Text" widget instead of a "Group" - or is there any drawback with that?

[2017-08-06 16:06] av1024 commented on #2523
Ha! Worked, thanks!

OH1 has exactly reverse logic - I used "Text" item instead of group to display value.

[2017-08-06 19:25] zarusz opened #2524 "[yamaha] Tuner band selection and preset feature for dual band models (RX-S601D)"
Hi,

I have a Yamaha Receiver RX-S601D which comes with a Tuner input that supports two band modes FM and DAB+. With the latest Yamaha binding #1781 (and the old one too) there is no way to:

- Change the band (FM vs. DAB+)
- Change the preset (station A or B)

Furthermore, I am experiencing an error and the playback/navigation functionality does not seem to work when TUNER is selected as input (s

[2017-08-06 19:55] #1691 closed

[2017-08-06 19:55] #1701 closed

[2017-08-07 04:32] davidgraeff commented on #2524
@zarusz : I haven't seen your PR yet but please consider that older AVRs don't have DAB at all. So you cannot replace **all** TUNER XML references with DAB, but you need to extend or add instead.

[2017-08-07 07:58] chimeranzl commented on #2403
Any luck on this???!

[2017-08-07 08:44] kubawolanin commented on #2464
Note that there's one pull request with OH2 Insteon Binding that @pinkfish started a while ago, but it's closed for some reason:
https://github.com/openhab/openhab2-addons/pull/1965

[2017-08-07 09:37] Od1waN opened #2526 "[Netatmo]Label changing not working, Module/Device ID wrong"
## Current Behavior
I have the Indoor and Outdoor Module and its working. I will Change the Location (paperui) from my outdoor Module but i can't save this new entry. Save button is greyed out the Module and Device ID are wrong, [Screen](https://abload.de/img/netatmo139smi.jpg).

When i changig the Label from my Items i became a Error 405 - Item is not editable. Openhab log saying this:
`2017-08-0

[2017-08-07 10:47] cweitkamp commented on #2526
Confirmed.

Seems like there is a problem with the pattern defined in the config description and PaperUI: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.netatmo/ESH-INF/config/config.xml#L68

@clinique Any thoughts on this?

[2017-08-07 16:31] digitaldan commented on #2403
@Gerk the send-q is interesting, this would indicate a network issue between the hosts, would it not?  I don't think there's much we are doing in Java that could otherwise create this?  Is it possible the Harmony Hub is somewhere where there's a lot of wifi interference or spotty coverage?  I'm assuming your OH server has good connectivity.  I'm usually skeptical about blaming the network in such

[2017-08-07 16:39] Gerk commented on #2403
I tracked down things more on my end, some of my issues were a total facepalm ... I had forgotten an instance of Home Assistant that was still running in the background (which had a misbehaving connector that was causing some of the issues).

I still do have these issues but they only happen a couple of times a day and only for a few minutes at a time.

It could be issues with the Hub and wifi but

[2017-08-07 16:39] #2403 closed

[2017-08-07 16:47] digitaldan commented on #2403
👍

[2017-08-07 19:00] dimalo commented on #2459
@BrutalBirdie any progress on this one, otherwise I request to close the issue.
@omribahumi not really the place bit nevermind, next time find aome help in the forum. Please check your Item and Thing config. Seems the button sends reports but there is no thing for it configured...

[2017-08-08 01:12] davidgraeff commented on #2524
I'm preparing the code base for MusicCast support (Yamaha extended protocol) in #2533. If you haven't started yet, I suggest to base it on that commit. If you have started, just continue and we'll try to merge your code first and I'll rebase later.

[2017-08-08 01:14] davidgraeff commented on #2452
@martinvw can be closed

[2017-08-08 01:16] davidgraeff commented on #2440
Would be a perfect time to use annotations instead of manually creating the OSGi DS xmls.

[2017-08-08 04:56] #2452 closed

[2017-08-08 05:57] lolodomo commented on #2517
@clinique : do you need my help to fix the French translation ?

[2017-08-08 06:37] clinique commented on #2517
You're very welcome to do so !

Envoyé de mon iPhone

[2017-08-08 08:36] fkemps opened #2534 "[RFXcom] Sending more than 2 codes to LIGHTING4 item"
## Expected Behavior
Trying to configure a three way state config with a LIGHTING4 based remote controller of an alarm system. In OpenHAB2 per PaperUI I can specify two states (On/Off) for a LIGHTING4 item, where transmitting multiple is desired.
Pressing the remote controller gives me state 1="On (partially)", 2="On (all zones)", 3="Panic", 8="Off" observed with RFXcom debugging.

## Current Beha

[2017-08-08 10:21] martinvw commented on #2534
I added an example to the documentation when improving the support for lighting4, can you take a look at it:

http://docs.openhab.org/addons/bindings/rfxcom/readme.html#examples

[2017-08-08 19:45] zarusz commented on #2524
I already started, but will reapply my changes on top of your #2533 PR.

In the meantime, please wait with any major changes ;)

[2017-08-09 14:33] GernotHot commented on #2038
@kgoderis Hi Karel, I tried the integration of your last commit into my daily build 2.2 - but I failed. So, there is still the older (and buggy) version of your module.

What is missing for a deployment into the current daily built branch? Can I support you somehow?

[2017-08-09 14:45] masterdiver commented on #2038
@GernotHot Hi, this is my problem since I had it running for a short time with an older build. Tried different things, but also new copy, disabling old binding and so on didn't work to get the new binding to work.

[2017-08-09 20:08] marcelerkel commented on #2442
This is not an openHAB or Kodi Binding issue. The Input.ShowCodec method no longer seems to exist in Kodi. When using curl I get the exact same "Method not found." error:

`# curl -s --data-binary '{"jsonrpc": "2.0", "method": "Input.ShowCodec", "id": 1}' -H 'content-type: application/json;' http://localhost:8080/jsonrpc`
`{"error":{"code":-32601,"message":"Method not found."},"id":1,"jsonrpc":"2.

[2017-08-10 08:48] mjagdis commented on #2360
What protocols do you have enabled and have you saved that as the default or are you letting openHAB enable them on connect?

I was trying to get an old temperature sensor working last night and at some point my OWL started doing exactly the same as yours - just the odd status every few hours. It seems to have started at some point when I was toggling protocols on and off (via the rfxcom thing con

[2017-08-10 13:30] jjlauterbach opened #2537 "[Lutron] - Add support for RadioRA (Classic)"
I'm implementing a binding for the legacy Lutron RadioRA lighting solution often called RadioRA (Classic).

The existing Lutron binding only works with more modern Lutron products (RadioRA 2) and the protocols and communication methods are different for each system.  RadioRA (Classic) requires a piece of hardware such as the Chronos time module to expose a RS232 port for sending commands to the sy

[2017-08-10 14:05] cweitkamp commented on #2442
Thanks for the information. So this issue could be closed?

[2017-08-10 14:17] martinvw commented on #2442
Or the binding has to be updated for the changes in the api?

[2017-08-10 14:29] cweitkamp commented on #2442
No, that is not necessary. The channel which is used to access all "Input.*" methods of the Kodi JSON-RPC interface accepts an String with the method name to replace the asterisks (see https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.kodi/README.md#channels). So the solution is to use "Input.ShowPlayerProcessInfo" instead of "Input.ShowCodec". I posted in t

[2017-08-10 15:19] martinvw commented on #2442
I did not realise that it was so generic 🙂

[2017-08-10 16:22] gersilex commented on #1783
In https://github.com/vitalidze/chromecast-java-api-v2/issues/63 it was recommended, to try polling the Status regularily (like chromecastplayer does), as it is not fully clear where the problem originates, yet.

Would that be reasonable? I think using both approaches (subscribing and polling) combined would work out well, although I would increase polling time to 5 seconds.

[2017-08-10 16:52] hr77 commented on #2442
I can confirm that "Input.ShowPlayerProcessInfo" is working great, thank you!

[2017-08-10 16:52] #2442 closed

[2017-08-10 19:07] holmes commented on #1783
One day I'll finish https://github.com/openhab/openhab2-addons/pull/2097 which fixes this bug.

There's a JAR in there you can drop in until it gets merged.

[2017-08-10 19:51] gersilex commented on #1783
Thanks, I will test this thoroughly and report any issues I find.

[2017-08-10 20:08] raisude opened #2541 "netatmo binding"
During the last days my Netatmo components fail sometimes.

following message is in PaperUI

Netatmo API
Netatmo API

This bridge represents the gateway to Netatmo API.

Status: OFFLINE - CONFIGURATION_ERROR Unable to connect Netatmo API : OAuthProblemException{error='unsupported_response_type', description='Invalid response! Response body is not application/json encoded', uri='null', state='null'

[2017-08-10 20:49] FelixXXL opened #2543 "Homematic - null java.io.IOException"
Sorry for my bad english.
when i try to setup openhabbian on rpi2 &rpi3 the homematic binding can't find things.
in the log file i found this line(s).
t think that's the trouble:
can anyone help me:
[code]

[2017-08-10 22:26] octa22 commented on #2541
Same here :-(

[2017-08-11 05:52] michaeljoos72 commented on #2541
Yes, I see the same :(
Did Netatmo change something in the API or is it only in the latest snapshots?

[2017-08-11 05:56] raisude commented on #2541
For me it seems that netatmo has changier something. I use myatmo on the iphone and this App has made also trouble during the Last days

[2017-08-11 06:01] octa22 commented on #2541
It seems to be something with the API, Netatmo OH1 binding has problems too

[2017-08-11 07:12] raisude commented on #2541
https://api.netatmo.com

[2017-08-11 09:06] IOOOTAlan commented on #2541
There has been some API changes recently (see the changes "brewing" in PR #2510, which addresses issues #2505 and #2379), however your issue seems to concern the authentication on the API portal.
Maybe @clinique has a better view on this.

[2017-08-12 09:00] omribahumi commented on #2459
@dimalo please read my comment again.
The button works fine. The problem is with the magnetic switch.
I mentioned the button to clarify that it's not entirely broken, and that my config is ok.

[2017-08-12 10:03] dimalo commented on #2459
Sorry I meant “the magnet sensor sends reports but there is no thing for it”. Also it seems you have the binding running twice somehow. In the log with the magnet sensor you receive everything twice and the last lines show there are two threads listening instead of one. Please check if you have the marketplace version and the official version installed or two jars...
I have the magnet sensors myse

[2017-08-12 12:49] lolodomo commented on #2517
I am working on it.

[2017-08-12 13:35] kaikreuzer commented on #2459
Well, he mentioned that he is on holiday, so it might be expected to not being able to answer.
But as he can reopen the issue at any time, let's close it for now.

[2017-08-12 13:35] #2459 closed

[2017-08-12 15:24] Uruwashii opened #2550 "Kaipule IM20 Z-Wave"
The EU version of the Kaipule IM20_ZWAVE door contact sensor is not showing in the device database.

IM20_ZWAVE is being discovered as Z-Wave Node 4 (0214:0002:0001:5.38)

Purchased Thing: IM20_ZWAVE_EU

****THING PROPERTIES****

zwave_class_basic | ROUTING_SLAVE
-- | --
zwave_class_generic | SENSOR_NOTIFICATION
zwave_frequent | false
zwave_neighbours | 1,3
zwave_version | 5.38
zwave_listening | f

[2017-08-12 15:31] kaikreuzer commented on #2550
You probably rather want to report this at https://github.com/openhab/org.openhab.binding.zwave/issues.

[2017-08-12 15:31] #2550 closed

[2017-08-13 07:14] Sschhsd commented on #1344
Hi @Stratehm,

could you please provide me a new snapshot includes the latest commits?

Thank in advance.

[2017-08-13 08:06] joeduck commented on #1344
Hi,

I am also interrestet.

Thanks

[2017-08-13 17:47] NickWaterton commented on #1311
I looked at the code, and there seems to be an attempt to support colour items in there, but it doesn't work. It seems to depend on a ColorItem.state being an instance of HSBType, which it isn't. By default a ColorItem.state is DecimalType (it returns brightness), you have to cast the colorItem to HSBType to be able to access all the properties.

It should be looking at the item type, not state, a

[2017-08-13 19:45] 9037568 opened #2552 "Skeleton readme outdated?"
It appears the [doc/readme](http://docs.openhab.org/developers/development/bindings.html) on generating an OH2 skeleton is outdated.

It currently states claims only a single parameter is needed, when 2 are actually required:

For this, go into your git repository under git/openhab2-addons/addons/binding and call the script create_openhab_binding_skeleton.sh **with a single parameter**, which is y

[2017-08-14 07:45] APajonk opened #2553 "Astro Binding - Internal job queue full? Thread Pool?"
Hi guys,

with the current Astro Binding in openHAB 2 I observed a bug regarding Thread Pool and recurring events.

The longer openHAB runs, the more messages like:

`2017-08-12 23:15:00.580 [INFO ] [Manager$ExpressionThreadPoolExecutor] - Expression '0 15 23 12 8 ? 2017' has no future executions anymore`

I get. And having openHAB running for some days, without rebooting or restarting it then you

[2017-08-14 07:57] kaikreuzer commented on #2553
Looks like a duplicate of https://github.com/eclipse/smarthome/issues/3728, which has already been fixed a while ago.
Please always provide the exact version that you are using. Also note that the Astro binding lives at ESH, so the issue tracker is https://github.com/eclipse/smarthome/issues. If you are running the very latest 2.2.0-SNAPSHOT distro and you still have issues, feel free to report an

[2017-08-14 07:57] #2553 closed

[2017-08-14 18:26] laohixdxm opened #2557 "[orvibo] Can I reflect orvibo binding device status by some REST API?"
I notice after orvibo binding discovery, UI item does NOT reflect S20 device status.
E.g. device is ON, but UI item on sitemap shows off.

I am NOT sure whether there's such an REST API. while I see UI item status is inconsistent with real device status. By that REST API, openhab server & binding can update status on UI item to make them consistent.

I do find REFRESH command on openhab REST page.

[2017-08-14 19:27] laohixdxm commented on #2557
Sorry, I may miss something.

The Device I used for orvibo binding is an wifi switch called "wifi smart socket S20". Basically, we can turn it on/off.

However, is it possible to query the current device status is On or Off?
If so, then we can add REFRESH command to command handler & call updateState to sync up UI item state with the device status we just query.

Can some expert shed some light fo

[2017-08-14 19:53] tavalin commented on #2557
The S20 devices report the state in all responses so this is possible.  Unfortunately I don't know when I will get time to look at implementing this.

[2017-08-14 21:45] laohixdxm commented on #2557
Thank you very much.
It looks like you are saying there's NO direct command to query ON/OFF status.
Instead, we send a command with other specific purpose, the ON/OFF status is included in the response from the device.
1 Am I correct to say that?

2 Is the low level part already implemented?
Like, notice you already implemented 7 low level command, which is GLOBAL_DISCOVERY / LOCAL_DISCOVERY / POW

[2017-08-15 08:09] zarusz commented on #2524
The PR #2558 awaiting review & approval.

[2017-08-15 08:21] #2517 closed

[2017-08-15 08:28] cweitkamp commented on #2541
The Netatmo API is available again. Not very stable, but it works most of the time. So this one can be closed.

[2017-08-15 08:35] raisude commented on #2541
Not really. The Api is available. But i habe the following Problem. The values of the items are not actual. After starting openhab they are. But they stop getting new values after some time. Restarting the services gives them actual values.

[2017-08-15 15:41] #2379 closed

[2017-08-15 15:41] #2505 closed

[2017-08-15 18:40] fkemps commented on #2534
Hello Martin,
The information helped me into the right direction. Updated the config files to match the OH2 format (I think...)
I'm almost done with this puzzle, unfortunately still a thing to solve. Hope you can assist after puzzling for many late hours last week.

Selection for the three modes (ON, PARTIAL, OFF) of my alarm system do seem to work, but only ON and OFF status are effective. The PA

[2017-08-15 18:59] martinvw commented on #2534
Yes this is exactly how I would expect it. Since it first logs `Transmitting message` and then receives a response from the transmitter `Message received: Raw data = 0402010000, Packet type = TRANSMITTER_MESSAGE, Seq number = 0, Sub type = RESPONSE, Response = ACK` I would say that from the rfxcom perspective it was send successful.

How did you decide that it should be 8 which should be send, can

[2017-08-15 19:11] fkemps commented on #2534
The code 8 was observed while pressing the original alarm remote. This is the debug output while pressing the remote control for turning it on with some zones in off mode. That allows movement on the 1st floor.

[code]

[2017-08-15 19:17] martinvw commented on #2534
You could test with pulse lengte 426 maybe it helps, or breaks other things 😉

[2017-08-15 19:23] fkemps commented on #2534
Changed it to 426, same result. I'm puzzling on it for days and getting out of options.

[2017-08-15 22:21] Hilbrand commented on #2296
Is anybody working on creating an addon for these leds bulbs? Otherwise I might be doing double work ;-)

The android app and on the box go by the name of _DreamColor_. Not sure if that's the product name or if it's just called _RGBW LED Bulb_. Just to figure out what a proper addon name would be.

[2017-08-15 22:25] jacob-roldan commented on #2149
Is Uptime_Text working in the Basic UI?
I've defined a Thing and its item associated, and I put it on a .sitemap file.
I see this value in Paper UI /Control and in HABmin/Sitemaps, but the Basic UI doesn't show any value.

[2017-08-16 01:08] davidgraeff commented on #2296
Why not adding them to the WiFi led binding?

[2017-08-16 06:21] martinvw commented on #2534
As far as I know the main problem is that we do not get the real RF signal but we just get an interpretation by the RFXCOM so it could be that it's interpreted slightly incorrect by the rfxcom and thus sending back that same interpretation creates a different message. However I could of course also have made a mistake when changing the binding.

So what you could do is attaching the RFXCOM to a wi

[2017-08-16 06:32] clinique commented on #1601
This can be changed quite easily, just by removing line 91  in NetatmoBridgeHandler. I'll do it when I'll have the opportunity to make another PR.

[2017-08-16 06:40] serhatozkara commented on #2296
I think a proper name would be Feican as RGBW led is too generic :)

[2017-08-16 09:16] fkemps commented on #2534
I will try suggested method to see if we can determine where it fails. There's also a "undecoded" listen option, which is another source to see if the remote transmits maybe multiple signals on PARTIAL (8) mode.

Dropped already a message to RFXcom and awaiting their response. RFXcom is a Dutch commercial product and AFAIK is Bert very willing to support his RFXcom product.

Will keep you posted,

[2017-08-16 13:08] rajil opened #2562 "[xmpp] xmpp to ejabber works in OH1, fails in OH2"
Hello,

I have the following packages installed in ubuntu:
Openhab 2.1.0-1
Openhab-addons 2.1.0-1

My OH1 instance was working fine with my ejabber server, but OH2 gives the following error:
[code]

The ejabber instance does see the request coming:
[code]

Any idea what could be the issue?

[2017-08-17 13:28] vbier opened #2565 "[homematic] rpc server restarted every minute when no messages are received"
## Expected Behavior
When no message are received from the Homematic gateway, the rpc servers should be restarted after the number of seconds specified in the alive interval of the bridge.

## Current Behavior
The alive interval is only taken into account the first time after a message has been received. As long as no further messages are received, the rpc servers are restarted every minute afterw

[2017-08-17 14:15] kaikreuzer commented on #2552
Note that the documentation is maintained at https://github.com/openhab/openhab-docs.

@cweitkamp As you recently worked on the archetypes, would you volunteer to update [the page](https://github.com/openhab/openhab-docs/blob/gh-pages/developers/development/bindings.md) accordingly? Thanks!

[2017-08-17 14:15] #2552 closed

[2017-08-17 15:55] cweitkamp commented on #2552
Yes of course, I will look into this. Give me some days.

[2017-08-17 18:34] msvinth opened #2566 "[netatmo] Binding does not support Healthy Home Coach device"
The Netatmo binding does not support the NETATMO [Healthy Home Coach](https://www.netatmo.com/en-US/product/aircare/homecoach)

[Developer reference](https://dev.netatmo.com/resources/technical/reference/healthyhomecoach/gethomecoachsdata)

The data returned by the device is very similar to the weather station but the type ("NHC") is different. It only adds the health_idx enum in the returned valu

[2017-08-18 11:40] JueBag commented on #2513
I incooperated a channel "station_open" which shows the information using a Contact.
Lets wait until the "hosting" PR gets approved and merged.

[2017-08-18 13:36] martinvw commented on #2513
Maybe it would even be better if @tbail could already test it before it gets merged?

[2017-08-18 14:57] JueBag commented on #2513
Stupid question:
Is that possible without me posting the .jar?

[2017-08-18 15:18] mczerski opened #2567 "[pulseaudio][feature request] auto-discovery disable option"
I have mopidy server running and it creates new sink-input for every song played. This makes pulseaudio binding to discover all of them and my inbox is filled with a lot of new things.

It would be very useful to have auto-discovery as an option.

[2017-08-18 17:00] MHerbst opened #2568 "[Homematic] Binding for dimmer HmIP-PDT contains more than 900 configuration settings"
I have added a Homematic dimmer (HmIP-PDT) to my configuration. And then I tried to edit the thing's configuration in Paper UI.

## Expected Behavior
Configuration edit page should appear within seconds.

## Current Behavior
It takes several minutes to render the page in Paper UI (see also https://github.com/eclipse/smarthome/issues/4093). This happens because the thing definition contains more th

[2017-08-18 17:31] martinvw commented on #2513
It should be this one I think:

https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/org.openhab.binding.tankerkoenig/2.2.0-SNAPSHOT/org.openhab.binding.tankerkoenig-2.2.0-SNAPSHOT.jar

[2017-08-18 17:41] #2526 closed

[2017-08-18 21:16] #2365 closed

[2017-08-18 21:16] #1156 closed

[2017-08-18 21:16] #1579 closed

[2017-08-18 21:16] #2037 closed

[2017-08-18 21:16] #2271 closed

[2017-08-18 21:16] #2389 closed

[2017-08-18 21:57] fkemps commented on #2534
Receiving the PARTIAL selection from the remote control with RFXmgr showed that the value is indeed '8'. Resending it as LIGHTING4 with value 8 successfully activates PARTIAL mode.

Sending 2 turns alarm system ON, where 2 switches it OFF. That woks fine with OpenHAB RFXcom binding as well, just not for code 8.

OFF (see xxxx1)
[code]
ON (see xxxx2)
[code]
PARTIAL (see xxxx8)
[code]
Obviously is c

[2017-08-18 22:01] krafel opened #2569 "[yamahareceiver] Don't get netradio working"
As sort of newbie to openhab I'd like to apologize upfront, because probably the questions points to me being a typical layer 8 problem ;-) however, I do not get sort of a 'netradio station selection' working at all. I have some stations under Bookmarks/My__Favorites, like Deutschlandfunk and some respective navigation channel items (up/down, select) and some sitemap testing statements in a fresh

[2017-08-19 02:53] davidgraeff commented on #2569
@openhab/maintainers Can be closed.
@krafel : There was a big feature update of the yamaha binding which adds proper navigation support. Please update or wait for an updated OH2.3 release

[2017-08-19 02:55] davidgraeff commented on #1926
@openhab/maintainers This can be closed

[2017-08-19 05:44] msvinth commented on #2290
+1 to this issue

What about having a Switch, so it could be dynamically controlled whether to have continuous (streamed) updates? Then it could be controlled by e.g. a schedule or other rules from OpenHab, and I could allow the car to sleep at night.

[2017-08-19 05:47] martinvw commented on #1926
@davidgraeff thanks for the update!

[2017-08-19 05:47] #1926 closed

[2017-08-19 05:47] martinvw commented on #2569
@davidgraeff thanks for the update!

[2017-08-19 05:47] #2569 closed

[2017-08-19 05:56] martinvw commented on #2534
This test helps, thanks!

But for completeness could you share what you exactly send from the RFXmgr?

[2017-08-19 06:32] martinvw commented on #2534
And yes I added the missing test which covers this case and it looks fishy 😞

[2017-08-19 06:52] martinvw commented on #2534
A jar to test (first unzip before adding it to the addons folder):
[org.openhab.binding.rfxcom-2.2.0-SNAPSHOT.jar.zip](https://github.com/openhab/openhab2-addons/files/1236123/org.openhab.binding.rfxcom-2.2.0-SNAPSHOT.jar.zip)

[2017-08-19 09:18] fkemps commented on #2534
After a bit of puzzle how to load the jar file, it worked!

- shutdown OpenHAB2
- I uploaded the unzipped jar in /var/share/openhab2/addons
- Started OpenHAB (noticed some loading errors)
- bundle:list | grep -i rfx  <- showed old active, new installed
- bundle:stop <old RFXcom)
- bundle:uninstall <old RFXcom>
- bundle:list | grep -i rfx  <- showed new active

Please advice how to continue from he

[2017-08-19 09:20] martinvw commented on #2534
We merge it and I don't know on which version you were? But for now you just continue using the snapshot until it is included in the release which you desire. It should be in the official snapshot build in a week or so :-)

[2017-08-19 09:46] fkemps commented on #2534
OpenHAB UI lists "openHAB 2.1.0 - release build -".
system:version = 4.0.8

Noticed that the uninstall made the my change permanent. Not sure how to revert back once the official snapshot build is available. Brief explanation is appreciated.

[2017-08-19 10:11] martinvw commented on #2534
It will take some time before we release openHAB v 2.2 so you might be better of just to run like you do know.

In the end (after release 2.2) you should just remove the binding from the addons directory and reinstall it from the repository.

[2017-08-19 11:09] #2534 closed

[2017-08-19 20:39] CWempe commented on #2482
The issue is getting worse for me.
I have to power cycle my onkyo twice every day now. 😢

I sniffed the network traffic while I send a command via openhab.  (see zipped pcap attachment)

[code]

While I do not understand all information about these packages, it looks to me that the third package contains the command itself (`AMT00`) and the onkyo acknowledges (`ACK`) the packages

![image](https:/

[2017-08-20 09:48] #2513 closed

[2017-08-20 20:17] JoeRu opened #2573 "[HarmonyHub] Timeout-Exceptions"
Many Timeout-Exceptions - the reason is quite unclear.

## Expected Behavior
Better explanations where and why the timeout occure.
Much better - not timeout exception at all.

## Current Behavior

22:07:19.216 [INFO ] [el.core.internal.ModelRepositoryImpl] - Loading model 'harmonyhub.things'
22:07:24.226 [ERROR] [ome.core.thing.internal.ThingManager] - Exception occurred while calling thing update

[2017-08-20 20:20] JoeRu commented on #2573
Sorry : this is the Forum-link to the issue:
https://community.openhab.org/t/error-harmony-binding/21488/9

[2017-08-20 20:56] zarusz opened #2574 "[Yamaha] Add basic Spotify support (play, stop, next, song image)"
This is a new feature request for the Yamaha Receiver binding to support Spotify input, specifically:
* add basic support (play, stop, pause, next track, previous track),
* add song cover image URL.

# Context
Certain newer models (RX-S601D) allow to stream directly from Spotify. You use the Spotify app to send a playlist to the device. Once the playlist is selected, by using the Yamaha remote or

[2017-08-21 13:38] zarusz commented on #2574
Work in progress:

Mobile UI | Basic UI
------------ | -------------
![spotify_mogileui.png](https://user-images.githubusercontent.com/2655886/29521126-72d21eda-8684-11e7-8d85-b6761d985081.png) |  ![spotify_basicui.png](https://user-images.githubusercontent.com/2655886/29521136-79d5f03a-8684-11e7-9179-321c838932d6.png)

[2017-08-21 13:55] RickyTR commented on #2379
I tried the latest kar from build 1020 (8-20-2017) with no luck. I still have the same error. Any suggestion?

[2017-08-21 15:01] RickyTR commented on #2379
Thanks for your work...

[2017-08-21 15:12] clinique commented on #2379
Updated PR #2560

[2017-08-21 15:52] paveleremin commented on #2445
Hi all,
what this error mean?
`18:51:13.168 [WARN ] [ome.core.thing.internal.ThingManager] - Cannot delegate command 'OFF' for item 'Plug_Switch' to handler for channel 'mihome:sensor_plug:158d0001XXXXXX:power', because no thing with the UID 'mihome:sensor_plug:158d0001XXXXXX' could be found.
`

[2017-08-21 16:03] RickyTR commented on #2379
I tried to put the jar files in addon dir but I cannot see the 2.2 snapshot version in addons screen. Am I missing something?

[2017-08-21 16:06] clinique commented on #2379
Have you removed previous version ?

[2017-08-21 16:08] RickyTR commented on #2379
I uninstalled 2.1 using the addons interface in paper UI.
I have this error:
Could not resolve module: org.openhab.binding.netatmo [215]
  Another singleton bundle selected: osgi.identity; osgi.identity="org.openhab.binding.netatmo"; type="osgi.bundle"; version:Version="2.2.0.201708201100"; singleton:="true"

[2017-08-21 16:19] clinique commented on #2379
Well, I don't know where it comes from. I understand that the module is already loaded. Maybe try restarting OH. I saw in OH user forum that this message seems to be quite frequent but did not had time to identify where it comes from.

[2017-08-21 16:37] Orfait commented on #2379
Hi,
I tried with the jar (linked above), the version is 2.2.0.201708211619 and I still have this message :
`18:35:36.103 [INFO ] [ome.event.ThingStatusInfoChangedEvent] - 'netatmo:netatmoapi:home' changed from ONLINE to OFFLINE (COMMUNICATION_ERROR): An error occurred while calling thermostat API : com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected a boolean but was NUM

[2017-08-22 08:01] RickyTR commented on #2379
I deleted the cache folder under userdata and restarted openhab and now it seems that everything is working!

[2017-08-22 08:50] Orfait commented on #2379
@RickyTR : which version do you have ? Where do you download it ?
I also deleted the cache folder & restarted but I don't have same result.

[2017-08-22 09:37] RickyTR commented on #2379
I downloaded the jar here:
https://openhab.ci.cloudbees.com/job/PR-openHAB2-Addons/ws/addons/binding/org.openhab.binding.netatmo/target/
I don't know exactly which version it is. How can I check the version?

[2017-08-22 09:45] Orfait commented on #2379
In karaf console, type
`bundle:list | grep Netatmo`

Indeed, I was using the jfrog jar
https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/org.openhab.binding.netatmo/2.2.0-SNAPSHOT/

So, I download the jar from you link, version is `2.2.0.201708220434` and I still get the message.
`cache` and `tmp` folder were cleared and openhab restarted.

I am using openhab 2.2 snapshot

[2017-08-22 09:52] RickyTR commented on #2379
I'm using 2.2.0.201708211425. If I remember correctly I downloaded this version from the link above. But maybe I'm wrong because I tried several different things yesterday...

[2017-08-22 09:58] Orfait commented on #2379
So, in my openhab 2.2 snapshot installation, none of jfrog or cloudbees works.
Still having the same issue with boolean / number.

Maybe @clinique can help to understand.

[2017-08-22 10:48] RickyTR commented on #2379
Just for clarification: I'm using opnehab 2.1 relaese build.

[2017-08-22 11:04] wollyd commented on #2379
Hi,

I did also the test with the cloudbees jar file.
I get also the same issue with the boolean/number.

kind regards

willy

On 08/22/2017 11:58 AM, Orfait wrote:

[2017-08-22 11:05] fundix commented on #1651
same problem ... implementation of homekit in OpenHab have possible only 1 subscription. Maybe this is problem?

[2017-08-22 11:21] martinvw opened #2577 "[network] failing tests"
On Mac Os the new network tests are failing:

[code]

Which is not completely surprising given the code:

[code]

@davidgraeff can you please look into this

[2017-08-22 11:22] martinvw commented on #2577
Some more information:

[code]

[2017-08-22 11:36] mherwege opened #2578 "[network] Enhancement request: provide mechanism to limit discovery to interface or IP-range"
## Expected Behavior
The ability to limit discovery to a subnet, IP-range of network interface.

## Current Behavior
Discovery will trigger a scan on all known networks and interfaces. My RPi has a link-local interface (subnet 169.254.0.0/16). I had an interface that did not get an IP address from a DHCP router, therefore got a link-local address. The discovery then scanned the 255x255 IP addresse

[2017-08-22 11:42] martinvw commented on #2577
Looks correct:

[code]

[2017-08-22 11:45] davidgraeff commented on #2577
@martinvw Could you try to find the correct argument in the man pages? Apparently "-w" and "-W" have different semantics on linux:

        -w deadline
              Specify a timeout, in seconds, before ping exits  regardless  of
              how  many  packets have been sent or received. In this case ping
              does not stop after count packet are sent, it waits  either  for

[2017-08-22 11:46] martinvw commented on #2577
Then maybe you want this one:

[code]

[2017-08-22 11:49] davidgraeff commented on #2577
Haha they make it extra hard then. Linux has:

       -t ttl ping only.  Set the IP Time to Live.

So we can't do a reliable feature test. What happens, if someone installs the bsd/gnu ping on MacOS (which is possible via brew I guess), the Operating System special case is not the best option, sigh.

[2017-08-22 11:51] claell opened #2579 "[network] Old configuration does not work"
After switching to the snapshot build of OH2 the network binding failed to work for me using the old configuration. In #2380 It is stated that this should be working: "The old thing "device" is now "pingdevice". This is not a real breaking change though, as all old configurations should still work because I map "device" to "pingdevice" in the handler factory."

Unfortunately it didn't work for me.

[2017-08-22 11:52] martinvw commented on #2577
[code]

😢

[2017-08-22 11:53] martinvw commented on #2577
I would go for an os check and:

[code]

[2017-08-22 12:06] martinvw commented on #2579
@davidgraeff it would be great if this could be fixed before going live with 2.2

[2017-08-22 12:43] davidgraeff commented on #2579
Ups, I renamed the time channel to latency, that's true. I will add an internal not xml exported time channel again and update it together with latency.

I have no idea why the "device" thing does not work though. The factory should create a thing handler and that thing handler does not care if its thing has the ThingUID of "device" or "pingdevice".

[2017-08-22 13:20] clinique commented on #2379
The jar provided here https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/org.openhab.binding.netatmo/2.2.0-SNAPSHOT/ is not the good one. If you uncompress it you'll see that it contains netatmo-java-retrofit-1.0.8.jar in the lib directory, while the last PR I made includes v 1.0.9 of this jar.

[2017-08-22 14:33] stotz89 commented on #2204
Hello guys,
I really want to add the binding to my openHAB2 installation. The problem is, I have no idea how...Could you give me a hint how to do it?
I installed openHAB2 on ubuntu. My /usr/share/addons folder contains two files (openhab-addons-2.1.0.kar and openhab-addons-legacy-2.1.0.kar).
I cloned the repository already but I have no clue how I can add the new denon/marantz binding so that I ca

[2017-08-22 14:50] tmrobert8 commented on #2537
Just a comment - really up to you and @kaikreuzer but I did add an even earlier Lutron protocol (the Grafix eye protocol) into the existing binding without any issues and wouldn't see any issues to do it here either (note: I'm not the owner of the existing binding but just a contributor - really need to have the 'owner' input here instead).

I, personally, would like to see it added to the existin

[2017-08-22 15:34] Orfait commented on #2379
You are right, v 1.0.8 is included but PR #2560 include is 1.0.9.
Do you want us to try with v1.0.9 ? Where can we find it ?

[2017-08-22 15:38] claell commented on #2579
It did not work for me, the thing did not show any channels in PaperUI.

Also: Does old configurations with no longer supported parameters work? Example: `network:device:devicename [ hostname="192.168.0.42", port=0, retry=1, timeout=5000, refresh_interval=60000, use_system_ping="false", dhcplisten="true" ]`

[2017-08-22 15:42] paulianttila commented on #2482
@CWempe, which Onkyo model do you own (year)? Maybe your problem is related to know Onkyo problem. There is a customer service program for that (http://www.eu.onkyo.com/en/customer-service-program-118747.html).
I own TX-NR818 (2013) model, which was fixed by the Onkyo. Receiver was around two years old, when problems appeared. When receiver was turned on from standby state, there was no audio at a

[2017-08-22 15:44] claell opened #2581 "[network] Arping functionality either not working or not enough documentation"
I have setup a thing for an Android device with the new network binding. Unfortunately it is still not discovered when going to sleep. I installed arping on my device (Raspberry Pi 3) and also tested it manually (it works, but has to be executed using sudo).

So either it does not work with the binding for me or I need to set up some things (tell the binding to use arping?). In that case the steps

[2017-08-22 15:58] davidgraeff commented on #2581
@claell Naturally arping needs elevated access rights. I'm using fedora and arping is a suid app here. If you use debian, you may want to make your arp suid as well (chmod u+s arping).

I'm not sure if this should go into the documentation, it depends on the distro. On linux you could also set ACLs, sudo exceptions etc pp to provide arping with proper rights.

The binding does not need any setup.

[2017-08-22 16:01] davidgraeff commented on #2579
Yes should work with not-used configuration parameters.

[2017-08-22 16:01] clinique commented on #2379
@Orfait : can you please try to download the jar [here](https://www.lhopital.org/nextcloud/s/FDIoJkTPdjQSxnv/download)

[2017-08-22 16:08] davidgraeff commented on #2578
Unfortunately discovery services can not be configured in PaperUI before use. Restricting it to the main network interface might be a way, but I already see the incoming bug report of another user saying that devices on his second interface are not automatically discovered.

The scan should be limited to a reasonable amount of IPs though, for instance 255 per interface.

[2017-08-22 16:51] Orfait commented on #2379
@clinique : That's strange, the jar does not get installed when I pu it inside addons folder. Am I missing something ?

[2017-08-22 17:03] clinique commented on #2379
Honestly, I don't know - I generated the jar from my dev environment. Maybe I made a mistake

Envoyé de mon iPhone

[2017-08-22 17:24] mherwege commented on #2578
Maybe you could make it a configuration parameter of the binding. By default, it only looks at the primary network interface, but a boolean configuration parameter could tell it to search on all network interfaces when doing discovery.

[2017-08-22 17:32] claell commented on #2581
@davidgraeff I didn't know how the binding handles arping, so I didn't know that it is a problem that arping has to be executed as sudo, thanks for the hint.

I needed to use `sudo chmod u+s /usr/sbin/arping` (took me a while to find the correct path) since `chmod u+s arping` didn't work for me.

Regarding adding some information to the Readme:

- To use the functionality, installing arping is a d

[2017-08-22 17:47] claell commented on #2581
Unfortunately detection still does not work for me with the binding.

[2017-08-22 22:06] zarusz commented on #2574
The PR #2558 is ready for review.

[2017-08-23 03:36] davidgraeff commented on #2581
Google restricted background apps and the network stack more and more with Android 6, then 7, now 8. I doubt that presence detection will still work in the future because the phone is basically off when in standby. But "Unfortunately detection still does not work for me with the binding." is not helpful. Could you please elaborate?

Or if it is not a bug, close this issue and start a discussion in

[2017-08-23 06:37] raisude opened #2586 "Netatmo binding openhab2"
When I start openhab the netatmo item get there values. After some time they stop getting new values. No entries in the events.log and openhab.log files.

Other applikations like myatmo or netatmo get the actual values.

After restarting openhab the items are getting new values.  Does someone else has the same problem or a solution?

This behaviour is when I install stable testing or nightly build

[2017-08-23 06:44] clinique commented on #2379
@Orfait can you try this new one : https://www.lhopital.org/nextcloud/s/3FeikJfRGnSyt3n

[2017-08-23 07:09] Orfait commented on #2379
@clinique : just for your info, I have something which went wrong because I cannot install any addons. I am checking.

[2017-08-23 07:39] claell commented on #2581
I can "ping" the device with arping, so that works. Unfortunately openHAB shows the device as offline.

[2017-08-23 08:09] davidgraeff commented on #2581
Can you look up the thing in PaperUI and check the properties? Does it say, that arping is used?

[2017-08-23 08:14] davidgraeff commented on #2579
@martinvw Can we rename the binding to "presencedetection"? That reflects more what the binding does and we are not breaking any compatibility with people that still use the network binding of the last release.

[2017-08-23 08:15] claell commented on #2579
So it worked in the background, but PaperUI just didn't show it? That might be possible.

[2017-08-23 08:15] CWempe commented on #2482
The Model is: TX-NR626
From 2013, too.

The latest official firmware is installed.
1091.5110.000.0302

I will post in the official onkyo forums as well as soon my account gets activated there.

[2017-08-23 08:16] claell commented on #2581
You probably mean "uses_arp_pings | On"? So yes that is shown.

[2017-08-23 08:20] davidgraeff commented on #2579
@claell Yes exactly

[2017-08-23 08:20] claell commented on #2581
The property "presence_detection_type" is empty until the phone is discovered as online. Then it says
"ICMP_PING".

[2017-08-23 08:21] claell commented on #2579
Alright

[2017-08-23 08:25] davidgraeff commented on #2581
Can you check `arping -w 2 -c 1 -I interfaceName 192.168.1.200`?
This is the command line that the binding executes. "interfaceName" is the interface you can find with "ifconfig".

[2017-08-23 08:26] martinvw commented on #2579
to me this does sound even more breaking if an existing binding is removed from the repository, @kaikreuzer wdyt?

[2017-08-23 08:28] kaikreuzer commented on #2579
I do not understand the suggestion. @davidgraeff, please note that the "network" binding is not from 1.x, but exists in 2.x, so removing or renaming it won't solve anything.

[2017-08-23 08:30] claell commented on #2581
I get this (without any delay):
[code]

[2017-08-23 08:36] kaikreuzer commented on #2537
If there is no technical reason to split it into a separate binding (e.g. because it has huge new dependencies that one would not want for the existing Lutron support), I would agree with @tmrobert8 - it makes it much easier for the users if we only have one Lutron binding and the users can simply choose the "bridge" they are using.
@jjlauterbach Could you check what it would mean to your work to

[2017-08-23 08:37] claell commented on #2581
Same for `arping -w 5 -c 1 -I wlan0 192.168.1.200`

[2017-08-23 08:39] claell commented on #2581
[code]

[2017-08-23 08:40] claell commented on #2581
Related to #2577?

[2017-08-23 08:43] davidgraeff commented on #2581
Nope not related, the other issue is about MacOS. If have No idea what goes wrong here. The classes are all unit tested and if arping works, it should make the thing online. I need to investigate this, but don't have time rn.

_Sent from my Lge LG-F700K using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-23 08:45] claell commented on #2581
`-w` seems to be for microseconds, while `-W` has to be used for seconds!

[2017-08-23 08:47] davidgraeff commented on #2579
An update process would not remove bindings. So the network binding would stay for users how have installed it and are using it. And new users would see presencedetection instead.

_Sent from my Lge LG-F700K using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-23 08:48] claell commented on #2581
[code]

[2017-08-23 08:56] davidgraeff commented on #2581
Oh that would explain. Unfortunately there exists two arping. I don't know if the other arping has the same command line interface.

[2017-08-23 09:37] claell commented on #2581
`sudo apt-get install iputils-arping` installs a working version. Before I installed `arping`, which did not work with the binding.

Now my smartphone is detected by the binding, great!

I'd recommend to add a hint in the Readme or add support for the other (regarding to [Wikipedia](https://en.wikipedia.org/wiki/Arping) also better) arping.

[2017-08-23 11:09] paulianttila commented on #2482
There is a link in the customer service program page, where you can check by receiver serial number is your receiver impacted.

[2017-08-23 11:49] vbier opened #2587 "[jeelink] init commands do not work"
Init commands that have been configured for a stick do not work. I have configured "0a v", but the stick LED does not stop blinking.

[2017-08-23 12:35] #2587 closed

[2017-08-23 13:47] CWempe commented on #2482
May device seems not to be effected by that issue.
And my symptoms are different than listet on that page.
But thanks, anyway.

[2017-08-23 14:02] davidgraeff commented on #2578
@kaikreuzer : Are parametrable discoveries planed?

Like when I click on a binding discovery on PaperUI and a dialog pops up and
* asking me to do this or that (enable discovery mode on my device for example) or
* to let me configure a small set of parameters (like entering a device detection code, shown on a device or in this case let me select an interface to perform a network scan).

[2017-08-23 14:05] davidgraeff commented on #2578
@mherwege The discovery process is the very first thing a user will use after installing a binding. Binding configurations that purely control how discovery works feels wrong to me. I will limit the scans to 255 addresses per interface, but can't do more at this time.

[2017-08-23 14:20] kaikreuzer commented on #2578
Not in the way you describe it.
But discovery services are configurable through ConfigAdmin (and thus through cfg files), see https://github.com/eclipse/smarthome/pull/4079, so @mherwege's requirements should be possible to implement. Setting configuration options through the Paper UI (and not only through cfg files) might be added in future as well.

[2017-08-23 14:40] Orfait commented on #2379
Unfortunately, adding this binding kills openhab.
Can someone else try ?

[2017-08-23 16:02] claell opened #2591 "[network] Wrong "uses_dhcp_listen" property value shown in PaperUI"
## Expected Behavior
For me the property "uses_dhcp_listen" in the PaperUI configuration of a pingdevice shows:
"uses_dhcp_listen | off"

I just tried and it looks like the this is wrong. The device is immediately discovered after connecting to Wifi.

Also I have no config file set and I think the default behaviour is to use dhcp listen.

So probably the displayed value is wrong.

## Environment
*

[2017-08-23 20:12] mherwege commented on #2578
@davidgraeff, I understand and share your view that it somehow does not feel right. I hope limiting to 255 will solve the issue. When I wrote this request I did it because discovery brought my RPi to a halt. It meant I had to unplug the power to bring it back to life again. My case might have been exceptional (I have a tap soft interface running that had the link local address for a vpn), but it i

[2017-08-23 20:57] Hilbrand commented on #2296
As long as it's not in the official openHAB master the binding I've added the binding to the [Eclipse marketplace](https://marketplace.eclipse.org/content/feican-wi-fi-rgbw-bulb-bindng)

[2017-08-24 00:02] jjlauterbach commented on #2537
Thanks for the feedback.  I took a look at what was done to add the Grafix eye protocol and I can easily do something similar and just namespace my code into a smaller compartment within the binding.  Shouldn't be too hard and will just require some minor refactoring.

I do have one question.  Both RadioRA and RadioRA 2 have some similar thing types such as dimmers and switches.  The concept and c

[2017-08-24 00:25] laohixdxm opened #2593 "[orvibo] Commands sometimes don't switch devices ON/OFF"
Below is my log, I did add some log by myself.
I experience one time I slide the switch from OFF to ON. On UI, it did slide to ON. However, the device  status does NOT change.

As log below, I did NOT see "Received power state" which show device status change.

[code]

Thank you.

Logging:

[code]

[2017-08-24 03:16] davidgraeff commented on #2578
The new version exploits multi threads, CPU cores * 2 threads are spawned. The threads finish very quick (max 5 sec) and are replaced by the next threads. Each thread scans one service on one device. That leads to 4*60/5=48 threads a minute.

If there is a resource leak it might affect the pi.

[2017-08-24 03:22] davidgraeff commented on #2591
Please check if the Openhab java process listens to port 67 or 6767. You Chan checked with 'netstat -tulpen'.

DHCP listen requires special permissions or a port forwarding, if you did not set this up it is unlikely that it works. Maybe your ping refresh timeout is very low?

[2017-08-24 05:33] SpeedmaxX commented on #1255
@beowulfe Hi, did you already had time to take a closer look to the published homekit documentation?

[2017-08-24 06:11] martinvw commented on #2537
Great that you are willing to take another look! @kaikreuzer @actong and maybe @tmrobert8  could you give him some hints. Thanks!

[2017-08-24 06:48] Orfait commented on #2379
@clinique & @ martinvw : the updated 'pull requested" binding in jfrog is working for me.
`openhab> bundle:list| grep Netatmo`
`195 │ Active   │  80 │ 2.2.0.201708231238     │ Netatmo Binding`

No error, no warning.

[2017-08-24 07:03] wollyd commented on #2379
Hi,

I tried to add the binding 2.2.0PR2560 but it does not load.
I am running openhab 2.1.0

kind regards

willy

On 08/23/2017 04:40 PM, Orfait wrote:

[2017-08-24 07:04] Orfait commented on #2379
@wollyd : use this one :
https://openhab.jfrog.io/openhab/libs-pullrequest-local/org/openhab/binding/org.openhab.binding.netatmo/2.2.0-SNAPSHOT/

[2017-08-24 07:04] rverst commented on #1501
Fixed it  for me too, thanks @gerrieg. Should have read the release notes from EQ3. Maybe a hint in the paperUI will be helpful for other users.

- Firewall bei Systemstart starten (Start the firewall at system startup)...

[2017-08-24 07:31] rverst commented on #2543
This may help [NPE when initiating connection to CCU2](https://github.com/openhab/openhab2-addons/issues/1501)

**TL;DR**
Since version *2.27.7* of the CCU2 the firewall is enabled automatically at system startup.

[2017-08-24 08:17] claell commented on #2591
I have a refresh rate of once per minute.
There are also messages in the log:
`2017-08-23 17:52:52.532 [INFO ] [work.internal.dhcp.DHCPListenService] - DHCP request for registered address: 192.168.1.200`

I did not use the steps in the Readme to setup dhcp listen (https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.network#dhcp-listen).

However I used
`setcap

[2017-08-24 08:33] wollyd commented on #2379
Yes this one is working fine, no errors about the boiler_plug... :+1:
Thanks a lot

willy

On 08/24/2017 09:04 AM, Orfait wrote:

[2017-08-24 08:40] davidgraeff commented on #2591
Yes netstat confirms that java is listening on port 67. The readme recommend setcap before too but it caused issues in some special cases. So I removed that section. I'll have a look at some point, thanks for reporting.

[2017-08-24 09:01] claell commented on #2591
Thanks!

[2017-08-24 09:27] martinvw commented on #2579
@kaikreuzer wdyt given the explanation?

[2017-08-24 09:32] kaikreuzer commented on #2579
Well, simple: Breaking changes should be avoided and if this is not possible, they must be documented at https://github.com/openhab/openhab-distro/wiki/Draft-for-openHAB-2.2-Release-Notes#manual-installations, so that people now that they will have to change their configuration when updating from 2.1 to 2.2.

[2017-08-24 12:19] tmrobert8 commented on #2537
I, personally, would just move everything over to a sub-namespace within the project and merge the handler factory.  Something I wish I did but am recommending is to rename/move your readme.md and then modify the existing one to provide a link (with verbage of course) to your readme.md (I merged my readme into theirs - which probably should have been separated).

[2017-08-24 12:48] #2565 closed

[2017-08-24 12:52] kaikreuzer commented on #2537
Usually, a thing type should correspond to a specific product that it in the market - so as these are clearly different products, it should be ok to also keep separate thing-types for them.
If there is a too huge variety of products and they all indeed have exactly the same features and configuration possibilities, using a single thing-type for them makes sense.
I leave it up to you, what you cons

[2017-08-24 14:31] LaurensVanAcker opened #2596 "1.9 Sonance binding tested under OH 2.0"
I tested the 1.9 Sonance binding under OH2 and it works.
Could you include this in the openhab2-addons?
https://github.com/openhab/openhab1-addons/tree/master/bundles/binding/org.openhab.binding.sonance

[2017-08-24 14:35] tavalin commented on #2596
I think issue should go in openhab-distro repo.

[2017-08-24 14:49] kaikreuzer commented on #2596
No, please directly open a PR against openhab1-addons as described here: http://docs.openhab.org/developers/development/compatibilitylayer.html#how-to-add-a-successfully-tested-1x-add-on-to-the-distribution. Thanks!

[2017-08-24 14:49] #2596 closed

[2017-08-24 15:02] clinique commented on #2586
Does this seem to happen after a certain period of time ? On my side, I launched and observed the binding, measures are updated every 10' like expected.

[2017-08-24 15:03] clinique commented on #2541
@martinvw : this issue could be closed, @raisude opened a new one (#2586) with the update problem he faces.

[2017-08-24 15:05] martinvw commented on #2541
Thanks for mentioning!

[2017-08-24 15:05] #2541 closed

[2017-08-24 15:06] raisude commented on #2586
After starting the service i have the Same behaviour. After about 3 hours there are no items left which actualize.

[2017-08-24 15:07] raisude commented on #2586
But only the netatmo items do not refresh

[2017-08-24 15:08] clinique commented on #2586
What is your poll frequency ?

[2017-08-24 15:10] raisude commented on #2586
Also every Tennis minutes. No erforscht in openhab.log and no entriss in Event.log

[2017-08-24 15:11] raisude commented on #2586
Sorry ten minutes

[2017-08-24 15:11] clinique commented on #2586
:) understood. Let me try to see if I reproduce.

[2017-08-24 15:17] kaikreuzer commented on #2586
Let me guess: You wrote your comment on a mobile with auto-correction 🤣

[2017-08-24 15:21] raisude commented on #2586
Indeed no good idea ;-)

[2017-08-24 15:58] raisude commented on #2586
2017-08-24 17:56:36.749 [hingStatusInfoChangedEvent] - 'netatmo:netatmoapi:91cfef78' changed from ONLINE to OFFLINE (COMMUNICATION_ERROR): An error occurred while calling station API : 502 Bad Gateway
2017-08-24 17:56:36.754 [hingStatusInfoChangedEvent] - 'netatmo:NAModule4:91cfef78:0300000476f4' changed from ONLINE to OFFLINE (BRIDGE_OFFLINE)
2017-08-24 17:56:36.757 [hingStatusInfoChangedEvent] -

[2017-08-24 16:04] clinique commented on #2586
The bad gateway error message seems to be related to Netatmo server accessibility error, not on binding side.

[2017-08-24 16:07] raisude commented on #2586
Ok. After that happens there is no more try to bring the things back online?

other applications like myatmo or the netatmo app on iphoe which use the same api work.

[2017-08-24 16:08] raisude commented on #2586
2017-08-24 18:06:37.349 [hingStatusInfoChangedEvent] - 'netatmo:NAModule4:91cfef78:0300000476f4' changed from OFFLINE (BRIDGE_OFFLINE) to ONLINE
2017-08-24 18:06:37.354 [hingStatusInfoChangedEvent] - 'netatmo:NAMain:91cfef78:70ee502100ea' changed from OFFLINE (BRIDGE_OFFLINE) to ONLINE
2017-08-24 18:06:37.356 [hingStatusInfoChangedEvent] - 'netatmo:NAModule3:91cfef78:0500000351c8' changed from OFF

[2017-08-24 16:14] raisude commented on #2586
@Gaël: Thanks for this great binding. And also for your support.

[2017-08-24 16:15] clinique commented on #2586
@raisude : thanks a lot.
@martinvw : binding works as designed. This issue could be closed.
@myself : suggestion of enhancement for a next PR :)

[2017-08-24 17:29] #2586 closed

[2017-08-24 18:04] davidgraeff commented on #2579
I will add an entry to the breaking change section of the draft, and we can close this issue then?

[2017-08-24 18:45] kubawolanin commented on #2593
cc: @tavalin

[2017-08-24 18:49] kaikreuzer commented on #2579
Sure.

[2017-08-24 18:49] #2579 closed

[2017-08-25 09:21] claell opened #2600 "[network] Two small typos"
This is an issue to note two small typos in /ESH-INF/i18n/network_de.properties.

- "binding.config.network.allow_dhcp_listen.description = Lauscht auf DHCP Packete, welche beim Eintritt von Geräten in das Network gesendet werden, um die Verfügbarkeit eines Gerätes in beinahe Echtzeit mitzuteilen." Small typo: "Packete", also: "Network"
- "thing-type.config.network.servicedevice.refresh_interval.d

[2017-08-25 09:29] Trickx commented on #2600
When German language is selected in UI, some German umlaut are not shown properly at least with Firefox.
In PaperUI -> Configuration -> Bindings, see screenshot.
![binding-network - 2 2 0 snapshot_german](https://user-images.githubusercontent.com/8447808/29708351-a110900e-8988-11e7-88f1-ab091fe124b8.PNG)

[2017-08-25 09:30] claell commented on #2600
Yes that was an issue introduced by me when fixing a typo. See https://github.com/openhab/openhab-distro/issues/525

[2017-08-25 09:41] steveknoefler commented on #2032
Hi,
i have the same problem
i restart the switch and it works a few hours later no COMMUNICATION
(OFFLINE - COMMUNICATION_ERROR java.net.SocketTimeoutException: Receive timed out)

an ios app is always working, so connection is correct and working

[2017-08-25 14:47] prawnde commented on #1390
Im looking for a solution to the exact same issue:

Harmony bindings "current activity" Channel is updated AFTER the harmony remote has finished changing the activity.
I want to switch on a powersocket with openhab with the trigger of the current activity on the harmony binding:

Turn on Activity "Fernsehen" (on Harmony Remote) -> Switch powersocket on to get power on tv and AV-Receiver (with open

[2017-08-25 15:08] svilenvul commented on #2577
I have also a test failure:
[code]

[2017-08-25 17:28] Zunhammer opened #2601 "[Homematic] Binding: Missing device "descritpion" HMIP-STH (Sensor for temperature and humidity)"
## Expected Behavior

HMIP-STH device should be recognized as temperature and humidity sensor with regarding channels to read the measurements and battery status

## Current Behavior

device HMIP-STH cannot beconfigured manually in things/homematic.things but is found automatically and shown in inbox. The device in inbox shows the name (HMIP-STH) but is missing the description and has only a chann

[2017-08-26 03:15] #1806 closed

[2017-08-26 06:10] cweitkamp commented on #1806
@ugar-ugar Do you like to test and confirm?

[2017-08-26 07:50] ppieczul commented on #1390
Hi,
Harmony hub binding uses an external library [whistlingfish](https://github.com/tuck182/harmony-java-client) to talk to the hub.
This library currently supports only end-of-activity-change events.
It misses the support for [state digest notifications](https://github.com/swissmanu/harmonyhubjs-client/issues/6), but it has been on its [TODO](https://github.com/tuck182/harmony-java-client/blob/ma

[2017-08-26 14:39] #2524 closed

[2017-08-26 14:39] #2574 closed

[2017-08-26 17:12] matushromada commented on #1255
Guys, we should support it here [Homekit Bounty](https://www.bountysource.com/issues/37981940-homekit-supporting-new-ios-10-homekit-accessories)

[2017-08-27 11:56] overrunner commented on #1704
Thanks for a plugin for the lovely Lametric 👍
Can someone help me with the gson error?
Unresolved requirement: Import-Package: com.eclipsesource.jaxrs.provider.gson

[2017-08-27 13:51] reyem commented on #1704
@overrunner : Hmm, according to this issue https://github.com/syphr42/openhab2-addons/issues/2
It should be fixes. Did you install the latest snapshot?

[2017-08-27 16:12] ppieczul commented on #1390
Not sure if the whistlingfish library is still alive. I thought I could try to add this feature, but I just can't get to run a clean harmonyhub binding under IDE.

I am getting exception from xmpp library about unresolvable class com.google.common.io.BaseEncoding.

All the committed libs are on the classpath, guava shows in plug-in dependencies and com.google.common.io is on imported packages.

An

[2017-08-28 11:29] jwveldhuis commented on #2204
@stotz89 the binding is still needs some work to use it in 'production'.
I believe the jar files for bindings under development are generated once a pull request is done against the master repository, hopefully will have time next month to pick up work on this binding.

If you want to try out the current version you need to run OpenHAB using the Eclipse IDE: http://www.eclipse.org/smarthome/docume

[2017-08-28 14:37] paul43210 opened #2605 "[exec] Unable to use %2$s"
## Related to
This bug is related to a discussion in the forums:
https://community.openhab.org/t/an-exception-occurred-while-formatting-the-command-line/33385

## Expected
It is expected that the value of the String item is replaces the %2$s on the command line of and exec2 Thing.

## Issue
As soon as the %2$s is added, the command no longer executes.
I experience this error:

Using %1$s works as

[2017-08-28 17:16] jjlauterbach commented on #2537
Thanks.  I found some time this weekend and pushed my implementation into the Lutron binding and everything is working as well as it did before.

Working on some final code cleanup and then I want to learn how to best write some unit tests for bindings.  Then I'll submit a pull request.

Updating the title of this issue to reflect the current approach of adding to the existing Lutron binding

I've

[2017-08-28 19:55] #2577 closed

[2017-08-28 19:55] #2578 closed

[2017-08-28 19:55] #2581 closed

[2017-08-28 19:55] #2591 closed

[2017-08-28 20:41] cweitkamp opened #2608 "[kodi] NPE after receiving "OnPlay" event from server"
## Current behavior

log in openHAB 2.1.0 -  snapshot 1020 -
[code]

## Related sources
Related discussion in community: https://community.openhab.org/t/kodi-binding-exception-when-starting-pvr-recording/33674

[2017-08-28 20:43] cweitkamp commented on #2608
@martinvw You may assign me to this one. Thanks.

[2017-08-29 13:10] steveknoefler opened #2621 "[smaenergymeter] Discovery Problem"
Hello,
I have some problems with the SMA binding -> see logfile
If I found one, I get a connection error after a while.
Is there a problem if another device is accessing the smart meter, too?

thanks

[code]

[2017-08-29 13:44] piejanssens commented on #1255
Stunning, less than a month to go before this issue is 1 year old.

[2017-08-29 14:15] RickyTR commented on #2379
After some days of checking I noticed that the addons seems to not update values (temperature, for example) after some hours. Is there a way to set the frequency of updates?

[2017-08-29 14:36] cweitkamp commented on #2566
@martinvw I think this one is solved for now.

[2017-08-29 14:45] #2566 closed

[2017-08-29 14:45] martinvw commented on #2566
Thanks for mentioning!

[2017-08-29 15:09] doandzhi opened #2630 "openHAB target platform not resolving"
Hello, I faced some errors trying to resolve my openHAB target platform.

![targetplatform](https://user-images.githubusercontent.com/17512690/29828353-22db4642-8ce5-11e7-9934-ee8e53357dff.PNG)

 Using the SmartHome target platform I see that there are californium dependencies added. Could they have been missed in the openHAB platform?

[2017-08-29 15:15] kaikreuzer commented on #2630
https://github.com/openhab/openhab-distro would be the better repo to report it :-)

It seems to me that you have a terribly old version of openhab.target (which is part of openhab-distro). Your screenshot shows that references openhab-deps-repo version 1.0.6, while 1.0.16 is the current one. Could you pull the latest changes from openhab-distro into your workspace?

[2017-08-29 15:33] doandzhi commented on #2630
And what is the actual purpose of the openhab-core target platform, because I actually tried to use it instead of the one in openhab-distro? Also thanks for the quick reply :)

[2017-08-29 15:46] ThomDietrich commented on #2444
@OLibutzki not wanting to be pushy but I'm still a sitting duck, waiting for help. It would be amazing to get some feedback if you will be able to improve the binding in the near future. I do sadly not really have the time to do any development work right now...

[2017-08-29 15:48] kaikreuzer commented on #2630
That's a very good question, I completely forgot about the fact that it exists :-)
The openHAB IDE does not import that project into the workspace, so you shouldn't do it either. The openhab.target file in there is used by the Maven build - I am actually surprised that this build still works despite the old target definition...
It probably would make sense to get rid off it; will have to think abo

[2017-08-29 19:26] Orfait commented on #2379
@RickyTR : you can add a refresh interval to the parent item (NAPlug) like this :
`Thing NAPlug    plugtherm  [ equipmentId="70:EE:50:XX:XX:XX", refreshInterval=600000 ]`

In my setup, I don't have refresh issue but I noticed that the Netatmo service (not the addon) was down a few hours ago.

[2017-08-30 07:44] OLibutzki commented on #2444
Hi @ThomDietrich,

unfortunately my time is rare as well. I don't think I will work on the binding in the next couple of weeks. Some weeks ago I just quickly checked the problem and it occurred with my Dash buttons as well.

Unfortunately I did not understand quickly what's going wrong, so I need some time to investigate further.

If anyone finds some time, it would be great. I will try to give as

[2017-08-30 08:00] RalfDrogge commented on #2440
After changing coolmasternetHandlerFactory.xml to
<implementation class="org.openhab.binding.coolmasternet.internal.CoolMasterNetHandlerFactory"/>
it works.

[2017-08-30 08:01] rickardp opened #2636 "org.openhab.binding.jeelink specifies JRE 1.7, but contains Java 8 code"
I don't know if the tie to JRE 1.7 is by design, but the code appears to use classes that only exist in JRE 1.8.

## Expected Behavior
When I open the workspace in Eclipse, the code compiles.

## Current Behavior
When I open the workspace in Eclipse, I get compilation errors due to classes not found in JRE 1.7 that are used in org.openhab.binding.jeelink.

## Possible Solution
Using the workspace

[2017-08-30 08:27] martinvw commented on #2636
Thanks for reporting! Could you create a PR which resolves it?

For some contributing guidelines see http://docs.openhab.org/developers/contributing/contributing.html

[2017-08-30 08:28] kaikreuzer commented on #2636
I already did: https://github.com/openhab/openhab2-addons/pull/2639

[2017-08-30 08:29] #2636 closed

[2017-08-30 08:29] martinvw commented on #2636
😄

[2017-08-30 09:09] claell opened #2642 "[network] Things not initializing due to error"
My pingdevice things show `Status: UNINITIALIZED - HANDLER_INITIALIZING_ERROR Cache expire time must be greater than 0` with the latest version of the binding.

I already tried to uninstall and reinstall the binding, but that did not help.

I also did not find any config file for the binding, so the values should all be default.

This is my log:
[code]

[2017-08-30 09:57] martinvw commented on #2642
@davidgraeff could you take a look?

[2017-08-30 10:13] davidgraeff commented on #2642
My first guess is, that the snapshot version that @claell uses, includes the new network binding PR but not a new ESH version. The PR required a fix in ESH regarding the configuration parser if I recall correctly. But I'll have a look.

[2017-08-30 10:21] ThomDietrich commented on #2444
That's okay, that's how live plays some times :) We can work with this answer.
Does any of the others want to dig into the issue? @Confectrician this would be the perfect place as a first binding development experience 😃

[2017-08-30 10:24] davidgraeff commented on #2642
@martinvw Fixed in PR #2643

[2017-08-30 10:48] #2642 closed

[2017-08-31 15:12] mueller-ma commented on #2139
I've made a simple script that adds a round background to all these icons. It still needs polish, but when it's done I will release it on github. What do you think about these icons:
(Colors are Material colors)
![window-open](https://user-images.githubusercontent.com/22525368/29930722-7fa5b4f8-8e6f-11e7-9fe5-19111d3cb53b.png)
![window-closed](https://user-images.githubusercontent.com/22525368/299

[2017-08-31 15:15] mueller-ma commented on #2139
@kaikreuzer Should new icon sets have exact the same icons than "classic" or can they have more or less?

[2017-08-31 15:19] LaurensVanAcker commented on #2596
https://github.com/openhab/openhab1-addons/pull/5293

[2017-08-31 16:33] Confectrician commented on #2444
For now (and with now i mean short term) it would be a good workaround to expand the prefix string Set with new known prefixes.

On long term, a improved discovery or a better method on keeping this list up to date would be needed.
But i have no experience with that arp request stuff.

[2017-08-31 18:36] ThomDietrich commented on #2444
Extending the list and fine-tuning the logging would be more than enough for now. Nothing critical but enough to get acquainted with the development process. Sooo Soooo wdyt? 😺

[2017-08-31 18:39] kubawolanin opened #2655 "[MiHome] Add water leak sensor support"
Currently the binding doesn't support the water leak sensor.
Related to https://github.com/louisZL/lumi-gateway-local-api/issues/21 since the MiHome binding is based on the docs included in that repo.

I have a code stub ready for this. Will include here.

cc: @dimalo

[2017-08-31 18:42] kubawolanin opened #2656 "[MiHome] Smoke and gas sensors don't work with the binding"
Reported by the binding users [here](https://community.openhab.org/t/mi-xiaomi-smart-home-bindings/4711/378?u=kubawolanin) and [here](https://community.openhab.org/t/mi-xiaomi-smart-home-bindings/4711/379?u=kubawolanin).

I have a potential fix ready along with #2655 on my branch. Will refer here.

cc: @dimalo

[2017-08-31 18:54] metbril commented on #2139
@mueller-ma I like the background color, but how would we use dynamic icons with different colors for different Item values?

[2017-08-31 19:16] fechy commented on #788
Hi there, any chance to revive this binding? Got my new Tado and would be great to have it integrated on OpenHab

[2017-08-31 19:31] martinvw commented on #788
There is a PR for a tado binding, see https://github.com/openhab/openhab2-addons/pull/2368

[2017-08-31 19:37] mueller-ma commented on #2139
@metbril I took each color from here https://material.io/guidelines/style/color.html#color-color-tool (500 or the brightes one with white text color) and than choose a random color for each item group, e.g. all window icons.
I wouldnt use different colors for different states. There should be in most cases a "off" item.
But we could use different colors for boy-1, boy-2, etc.

I think your scripts

[2017-08-31 19:38] mueller-ma commented on #2139
I think it might be good to hardcode background color for some items, e.g. Android always green

[2017-08-31 19:44] fechy commented on #788
Sorry, missed that one. Thanks

[2017-08-31 20:29] tj2000bch commented on #2468
Hi,
I also interested on a binding for Landroid S Model 2017 and can test and debug.

[2017-09-01 07:13] Dan1001 opened #2660 "[gardena] Minor problem with signal strength items"
The Gardena binding Thing shows that signal strength is a Number. Copying the example in the documentation, I defined my item as:

`Number WateringSignal "Watering signal [%d %%]" {channel="gardena:watering_computer:home:[redacted]:radio#state"}`

This gives an error when the sitemap is viewed:

`2017-08-31 10:49:32.220 [WARN ] [ui.internal.items.ItemUIRegistryImpl] - Exception while formatting va

[2017-09-01 08:47] claell commented on #2642
I can confirm this is fixed. Thanks!

[2017-09-01 09:01] claell commented on #2591
I just checked again with the updated addon and unfortunately the value is still "no" for me.

[2017-09-01 09:13] davidgraeff commented on #2591
It is enabled though:
https://github.com/openhab/openhab2-addons/pull/2580/files#diff-97c941c5818b3809fb23425c6e062154R178

But the property is apparently only updated once at the beginning. If it wasn't ready by then, it will be shown as "no".

[2017-09-01 09:30] davidgraeff commented on #2591
I prepared a new fix. It is basically: move some lines around

[2017-09-01 10:19] 3yc opened #2662 "[homematic] TCL script / XML parse error"
Sometimes Homematic binding is failing to parse the TCL script XML output. It fails with this error message:

`Status: OFFLINE - COMMUNICATION_ERROR : ParseError at [row,col]:[3,22] Message: Wert des Attributs "name", das mit Elementtyp "entry" verknüpft ist, darf nicht das Zeichen "<" enthalten. : : ParseError at [row,col]:[3,22] Message: Wert des Attributs "name", das mit Elementtyp "entry" verk

[2017-09-01 10:45] #2608 closed

[2017-09-01 12:50] Silencer80 commented on #2468
Hi,

i´ve just found an workaround to integrate Landrois S with OpenHAB.

1. Get an SSL client certificate as described here: https://github.com/mjiderhamn/worx-landroid-nodejs/blob/master/landroid-mqtt.md
2. Convert to pem-Files.
3. Install local Mosquitto-Server as Bridge (in commanOut, out CommandIn).

#Bridge to Landroid
connection landroid
bridge_cafile /etc/mosquitto/ca_certificates/vs.pem
b

[2017-09-01 15:34] Ontrackx commented on #2468
Hi,
I also interested on a binding for Landroid S Model 2017 and can test.

[2017-09-01 17:30] SciLor opened #2663 "[Amazon Dash Button] not detecting my button - Configuration file?"
Following mac prefix is missing:
FC:A6:67

What about a configuration in the papergui for additional macs?

See: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.amazondashbutton/src/main/java/org/openhab/binding/amazondashbutton/internal/discovery/AmazonDashButtonDiscoveryService.java

[2017-09-01 18:23] Ontrackx commented on #2468
@Silencer80 , would you pleeease help me with your soulution via teamwiever?
I always have troubles reciving certificates

[2017-09-01 18:37] MHerbst commented on #2662
On a first view it looks like the TCL script returns not well-formed XML. output. Or does the device name contain a "<"?

 Can you give us some more information about your environment (CCU version, openHAB version etc.).

[2017-09-02 05:52] kubawolanin commented on #2663
cc: @OLibutzki

[2017-09-02 07:59] overrunner commented on #1704
@reyem yes, i grabbed it from the link 3 posts before. I am running it on openhab 2.1 stable.

[2017-09-02 15:40] pgfeller opened #2665 "[iCloud][Binding] - Development of iCloud binding"
To make the device information available via iCloud more accessible to OH2 users an iCloud binding would be nice. Altough I do not have experience with JAVA and OSGI I´ll give it a try ... but I´m more than happy for any help.

See also the following forum example/discussion:
https://community.openhab.org/t/icloud-device-data-integration-in-openhab/32329

[2017-09-02 19:02] metbril opened #2668 "[Astro] queue full error"
This  morning I noticed that my log was flooded with error messages from the Astro binding. This probably is the root cause for some issues I have been experiencing with auto light switching lately. OH has been running for a week or so. After a restart of the service things get up and running but I should not need to do this.

I am glad to help out troubleshooting so if you want me to test some th

[2017-09-02 19:09] martinvw commented on #2668
I assume you are on 2.1 and then its is resolved in the current snapshot, unfortunately there is no easy way to solve it for the 2.1 version.

See also: https://github.com/eclipse/smarthome/issues/3809

If further problems exist for this binding please open it at the tracker of smart home: https://github.com/eclipse/smarthome/issues

[2017-09-02 19:09] #2668 closed

[2017-09-02 20:22] 3yc commented on #2662
Sure,
Openhab Snapshot from 1.9.17 and ccu2 v2.29.22
I turned the debug log level on for this binding while trying to restore it. The funny thing is, there are no messages in openhab.log just the one in the paper ui only.

[2017-09-02 21:03] DanNielsen commented on #2315
News?

[2017-09-03 07:38] tj2000bch commented on #2468
Is it possible to install a Mosquitto-Server as Bridge and as Broker on the same System?
Can I have more than one config File on Mosquitto?

[2017-09-03 07:49] MHerbst commented on #2662
@gerrieg Any idea? To me it looks like a bug in XML output.

[2017-09-03 09:10] pgfeller commented on #2665
A prototype/skeleton is available at https://github.com/pgfeller/openhab2-addons. Any help with how to implement the device discovery and subsequent refresh is highly appreciated.

[2017-09-03 14:28] pgfeller commented on #2665
Device discovery is now able to add inbox items for every device; but it is not yet possible to create items from them. Probably simething mixed up with thing UIDs and factories ...

[2017-09-03 17:38] pgfeller commented on #2665
I was able to figure out most of the stuff; discovery, parsing & thing handling works in the prototype. But I´ve no idea how far I´m from best practices (e.g. if such code has a chance ever to see the OH2 repo). Thus I would appreciate some feedback prior to going to the work of declaring all the channels.

[2017-09-03 17:39] pgfeller commented on #2665
I was able to figure out most of the stuff; discovery, parsing & thing handling works in the prototype. But I´ve no idea how far I´m from best practices (e.g. if such code has a chance ever to see the OH2 repo). Thus I would appreciate some feedback prior to going to the work of declaring all the channels.

[2017-09-03 18:58] gerrieg commented on #2662
For me too. I just checked the TCL scripts if i forgot a WriteXML, but they are all there. WriteXML should escape the XML output correctly.

@3yc
Can you please enable TRACE logging for the Homematic binding and try to reproduce the problem? Then i see what's wrong in the logfile

[2017-09-03 21:00] saperlot commented on #2203
HI @lewie, do you know the state of the 20.102 integration? i would love to use it. btw: any workaround to use it without having support of this dpt?

[2017-09-03 21:55] hmerk commented on #2665
@pgfeller
Hi Patrik,
first of all, thanks again for stepping into this.
I imported your project into my IDE, but was not able to get it running.
Here are my first comments:
Please remove version constraints from MANIFEST.MF
After doing this in my IDE, I get a NPE in updateBridgeChannels, coming from
content.getPrsId() -> I solved it by changing prsId from int to String in ServerContext.
After that

[2017-09-04 07:33] reyem commented on #1704
@overrunner : then try to install the missing bundle manually like described in the linked issue above.

[2017-09-04 07:47] 3yc commented on #2662
Sure, as soon as the error triggers again. At DEBUG level i saw not much, maybe TRACE provides more information.

[2017-09-04 08:42] htreu commented on #2139
@mueller-ma the icons look nice with the round colored background. For PaperUI however I guess the background should be generated by CSS and background color set dynamically. For the icon set I would recommend to only add the raw icons and let the different UIs decide on how to provide background (if any).

[2017-09-04 13:02] tj2000bch commented on #2468
Hi,
I have the «pkcs12» Certifikate from my Landroid.
{
"pkcs12":"MIIRTERAzCCCV8G ………….B\/uxcECNtYBiY+Jv4V"
}
How can I convert this to a “.pem” file?

[2017-09-04 13:11] Silencer80 commented on #2468
Hi,

first follow the instructions from:
https://github.com/mjiderhamn/worx-landroid-nodejs/blob/master/landroid-mqtt.md

To get the binary PKCS12 certificate, this string needs to be Base64 decoded. (On Windows, this can be done using certutil -decode input.file output.file).

Then use openssl to convert pkcs12 to pem and export private key without password.

[2017-09-04 16:40] tj2000bch commented on #2468
@Silencer80
Hi Boris
My only problem is, which part of the PKCS12 do i need to save in which file. In p12, pxf or cer?
I tried it with Windows and a Base64 online decoder.
Tobi

[2017-09-04 17:02] pgfeller commented on #2665
@hmerk
Hi Hans,
thank you for your feedback. I´ve commited the changes.
The device data (battery channels only yet) should update on the 1st refresh (default after 5 minutes). Due to timings of the device initialization the data from the discovery is not used - might be possible to improve that - e.g. to update the binding once it registers with the bridge ... if the normal update works I´ll do th

[2017-09-04 20:50] hmerk commented on #2665
@pgfeller
Thanks Patrik, it is working after your changes and I already noticed, that the channels will be updated during the first refresh cycle. So far so good.
It should be possible to call the update method once a deviceHandler has registered and fully initialized. But we can have a closer look later on.

A Location channel should be possible, as you declare a channel-type to have an item-type

[2017-09-05 10:09] Ontrackx commented on #2468
Finally got this working to domotics (testing purposes) but battery is missing from 2017 model?

Certificate retrieved
Fetching root CA
Connecting to MQTT broker
Connected to MQTT broker - subscribing to DB510/F0FE6B207FB4/commandOut
Landroid status: {"state":"Home","errorMessage":null,"batteryPercentage":null,"totalMowingHours":35.8,"totalDistance":28249,"noOfAlarms":0}
Landroid status: {"state":

[2017-09-05 13:10] lewie commented on #2203
This is the PR for for your question: https://github.com/openhab/openhab1-addons/pull/5277

This is a Testfile for you, with the PR #5277 included: https://github.com/lewie/openhab/raw/66ba140713eecee5fd16541da6b1cb3564d27306/org.openhab.binding.knx-1.11.0-genericKNXCoreTypeMapper%235277.jar

20.102 should work, if not, please tell me here your results: https://github.com/openhab/openhab1-addons/p

[2017-09-05 13:14] lewie commented on #2203
@saperlot, 20.102 is mapped to StringType in openHAB at the moment.
But:

would tend to be a DecimalType.

[2017-09-05 17:11] pgfeller commented on #2665
@hmerk

To make sure that discovered things have data without the need to wait for the 1st refresh (which will take, depending on configuration) several minutes I use the following code:
[code]
Unfortunately the data in the inbox is not always updated. I also tried to update the data on channel link; same result … only after the 1st refresh data is shown. Feels like a timing issue/lost event. Any

[2017-09-05 17:20] hmerk commented on #2665
@pgfeller
I saw your post in the community, but do not hav a final answer/solution for you.
Will e play with your code later on to see if I will find the right hint for you.

[2017-09-05 18:47] stritti commented on #2263
just  for reference: the pull request: https://github.com/openhab/openhab2-addons/pull/2407

Looking forward the merge :))

[2017-09-05 18:53] ppieczul commented on #1390
@prawnde @derFrink I finally added support for state digest into whistlingfish library. In the meantime until this gets merged, could you please advise how you would like to have this exposed into openHAB?
Library will notify binding about following situations:
a) activity is starting
b) activity is started
c) hub is powering off (when power off is pressed)
d) hub is powered off

Which channels do

[2017-09-05 18:58] pgfeller commented on #2665
@hmerk
Hi Hans,
can you export the binding to a .jar? I would like to give it a try on my real system - but I always get an error when I try to export (cycle reference something ...).

with kind regards,
Patrik

[2017-09-05 19:15] pgfeller commented on #2665
Was able to export to .jar by closing the runtime projects :-) ...

[2017-09-05 20:46] hmerk commented on #2665
@pgfeller
After changing iCloudDeviceHandler initialization to

    @Override
    public void initialize() {
        logger.debug("Initializing iCloud device handler.");
        initializeThing((getBridge() == null) ? null : getBridge().getStatus());
    }

    private void initializeThing(ThingStatus bridgeStatus) {
        logger.debug("initializeThing thing {} bridge status {}", getThing().getU

[2017-09-05 21:09] digitaldan commented on #1390
hi @ppieczul thanks for adding the additional state functionality !

b) activity is started

One thought I have is to have a trigger channel for each state that would send the name of the activity.  Triggers are nice for changes which are intended to trigger rules, but do not really update the state of an item (and they are not tied to items).  So for example, a rule would look like:
[code]

Thoug

[2017-09-05 21:35] ppieczul commented on #1390
Indeed, I forgot about the trigger channels and it looks they are really well suited for that purpose.

The activity starting sequence looks like that (and I suppose this is what we expected):

  * NEW STATUS: Watch TV, ACTIVITY_IS_STARTING --> trigger activityStarting
  * NEW STATUS: Watch TV, ACTIVITY_IS_STARTED --> trigger activityStarted
  * NEW ACTIVITY: Watch TV --> current activity channel

[2017-09-06 06:26] derFrink commented on #1390
Thank you for working on that. I thing the way you want to solve it is
the perfect way.
I think not many people need the HUB_IS_TURNING_OFF activity but its
better to have then to need it.

Am 05.09.2017 um 23:35 schrieb Pawel Pieczul:

[2017-09-06 08:24] 3yc commented on #2662
Ok, i think i know whats going on here. See the Log:
[code]

HMW-IO-12-Sw14-DR is switchable for some channels between analog and digital input. Depending on this setting the VALUE xor STATE are existing. Running the same script for this channel that is switched to analog input returns:
[code]

The simpliest fix would be to check for NULL in the Tcl script. An other option is to ask for the VALUE/

[2017-09-06 16:55] pgfeller commented on #2665
@hmerk

Thank you for the help with the initialization; this indeed did the trick :-).
I´ll include the address lockup next.

with kind regards,
Patrik

[2017-09-06 18:00] gerrieg commented on #2662
Thanks for finding the problem! I will fix it soon.
But ... any chance to upgrade to openHab 2? There is a completely different metadata fetching in the 2.x binding and i'm pretty sure it will work. Use the latest 2.2 snapshot to have all the fixes since 2.1 release.

[2017-09-06 18:13] hmerk commented on #2665
@pgfeller
Great !! Thanks !!

[2017-09-06 18:39] 3yc commented on #2662
It's openhab2, snapshot from 1.9.2017. According to this [file in master branch](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.homematic/src/main/resources/homematic/tclrega-scripts.xml) it's script named getAllChannelValues:

[code]
Do im mixing things up here?

[2017-09-06 18:54] gerrieg commented on #2662
Sorry, **I** mixed up the scripts 😕  This is a 2.x workaround script if fetching the metadata with the Homematic API fails. On some devices the CCU returns a failure at the API call.

[2017-09-06 20:01] pgfeller commented on #2665
@hmerk
Address lookup added to prototype :-)

[2017-09-06 20:26] 3yc commented on #2662
So the trap is the switchable STATE/VALUE attribute in homematic, good :) How about a change in the TCL script like that until the API problem is solved:
[code]

[2017-09-07 06:04] haltmann opened #2675 "[chromecast] Continue playing music after notification"
## Expected Behavior
If a Notification is provided while music is playing, the music stops play the notification and resume the music afterwards.

## Current Behavior
At the moment the music never resumes

## Your Environment
Latest openhabian with latest openhabsnapshot

[2017-09-07 06:10] haltmann commented on #2675
Link to the community forgotten:
https://community.openhab.org/t/chromecast-announcement/33942

[2017-09-07 08:18] BOFH90 opened #2676 "[Tankerkönig] BridgeHandler Runtime Exception (Expected NUMBER but was BOOLEAN)"
I´m using the latest 2.2.0 Binding and a few Stations. They are online and deliver Data for about 2-3 hours, but then they suddenly go offline with the following Error:

09:57:56.380 [DEBUG] [nkerkoenig.handler.WebserviceHandler] - Caught exception in ScheduledExecutorService of BridgeHandler. RuntimeException:
com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected NUMBER b

[2017-09-07 15:56] xMTinkerer commented on #2411
For anyone else who ends up here, this issue has been opened and fixed in eclipse:
https://github.com/eclipse/smarthome/issues/3769

[2017-09-07 17:56] JueBag commented on #2676
Looking for the cause.
Could you post the station ID you are using=
And could you post a bit more of the log, I'd need to see entries beore the OFFLINE started.

[2017-09-07 18:20] gerrieg commented on #2662
exactly, this should fix the problem. I'm currently on vacation, i will do the change on monday.

[2017-09-07 19:26] JueBag commented on #2676
Did some testing with a station that does only sell E5 and Diesel. For E10 it reports "null" instead of "False" as stated by Tankerkoenig.
Hence the error is a bit different.
My station did not report E10 from the beginning, therefore the first error occurs in "CustomTankerkoenigDetailResultDeserializer", in your case it was in "CustomTankerkoenig**List**ResultDeserializer". That way your station

[2017-09-07 22:37] robbrown92 opened #2679 "[homekit] "This accessory is not currently supported by the Home App" when tagging items with "Switchable""
So i am having some difficulty connecting my oh2 with homekit. items are [ "SWITCHABLE" ] however when i add the accessory in homekit i get the error

Not supported
This accessory is not currently supported by the Home App..

An ideas?

[2017-09-08 07:09] BOFH90 commented on #2676
Here are the Request the Binding does with included Station-ID´s:
46.252.133.186 - - [07/Sep/2017:13:41:51 +0200] "GET /json/detail.php?id=3549a83a-6f8f-4581-9ff3-6cc8dcd48060&apikey=HIDDENAPIKEY HTTP/1.1" 200 343 "-" "Jetty/9.2.19.v20160908" 0.008
46.252.133.186 - - [07/Sep/2017:13:41:51 +0200] "GET /json/detail.php?id=af6c18ec-13d2-4955-91ab-d9b1711ee08f&apikey=HIDDENAPIKEY HTTP/1.1" 200 330 "-"

[2017-09-08 07:26] #1390 closed

[2017-09-08 07:26] #2497 closed

[2017-09-08 07:52] JueBag commented on #2676
This log raises some questions:

[2017-09-08 07:56] JueBag commented on #2676
Is this the log you get from Tankerkoenig.de?  Or elsewhere?
The log shows  15 detail requests for 14 different stations.  All at the same time. Using the binding only 10 stations can be called.
I would not expect to see only detail requests, they are done for each station only at startup and every 24 hours

[2017-09-08 08:02] BOFH90 commented on #2676
The log is from Tankerkoenig.de
Ive talked to them and got the ok to call more than the 10 Station as this is required.
I also recompiled the Binding and changed the max allowed Stations to 99 for this to work.
I also done this before with only 8 stations and got the same problem as now.

[2017-09-08 08:05] 3yc commented on #2662
Created a pull request #2680

[2017-09-08 08:17] JueBag commented on #2676
Ok, you talked to Tankerkoenig.
Does your observation fit my assumption posted above that the error is caused by station(s) not reporting all prices?
Would a report of 0,00 be OK in case of a not reported price?

[2017-09-08 08:45] martinvw commented on #2676
I would prefer some form of undefined

[2017-09-08 08:48] BOFH90 commented on #2676
I thnik so too, as i write the Data into a InfluxDB for Grafana and the Table would be wrong if it´s reporting a Value of 0.

[2017-09-08 09:01] JueBag commented on #2676
I'll do my very best.

[2017-09-08 09:54] BOFH90 commented on #2676
Is it also possible to define the maximum limit of stations (10) as a variable?

[2017-09-08 11:25] cweitkamp commented on #2676
Hard to find a station which only sells one type of gas. Here you got some more logs for a station only selling "Diesel".
[code]

[code]

I would prefer `UnDefType.UNDEF`.

I recognized another point - Could you add a `toString()` method for the [OpeningTimes](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.tankerkoenig/src/main/java/org/openhab/binding/ta

[2017-09-08 12:35] JueBag commented on #2676
Thanks for this log. You did find a station which not only reports only a subset of all fuel-types (I hd found one already). However yours sticked to documented "false" in that case.
Since we can't be sure that all station will comply with the documentation I'll do a check like:

[code]
That way anything that is not a Double will be caugth.  Note: The above code doen't give the UnDefType.UNDEF yet

[2017-09-08 12:48] martinvw commented on #2676
I doubt whether that would work, are you sure it would 😄

Note that according to the docs `getAsDouble()` returns a primitive `double`, so most likely it will already explode with an exception before reaching the `instanceof`. Because the function can only return `double`s nothing else not even `null`.

[2017-09-08 13:46] JueBag commented on #2676
That was the reason of my note. I'm actually searching how to do that. As I see it at the moment I migth need to change the way the channels are updated.

[2017-09-08 14:24] cweitkamp commented on #2676
Just an idea: I assume the GsonBuilder serializes the `null` value already. You can try to check for `JsonNull` first. After that for `JsonPrimitive` and `isNumber()` (see [http://google.github.io/gson/apidocs/com/google/gson/JsonPrimitive.html](http://google.github.io/gson/apidocs/com/google/gson/JsonPrimitive.html)) before converting it into `double`. A little bit more complex, but may work.

[2017-09-08 14:37] JueBag commented on #2676
Thanks for that, however since the json-field should hold "false" in case of a not reported price AND the actual usage does show also "null" is used I'm actually thinking along pasing only Strings from the json and only when updating the channel checking if the String is instanceof Double, if not updating with UNDEF.

[2017-09-08 16:37] JueBag commented on #2676
?? On the very last part I'm hitting a wall. How can I check wether a String resembles a number?

[2017-09-08 16:42] mueller-ma commented on #2139
@htreu I dont really like this idea. Icons should be the same on all clients.

[2017-09-08 18:38] cweitkamp commented on #2676
Did you check on StringUtils.IsNumeric() from Apache Commons Lang API?

[2017-09-08 19:59] JueBag commented on #2676
Yep, but I'm getting a NOT .IsNumeric for "1.23". I guess it's because it is language dependent and in German we would expect a "," instead of "." for the decimal seprator. I'll try it with a custom check.

[2017-09-08 20:16] cweitkamp commented on #2676
That's cruel. Documentation says

Meaning what? Bengali numbers are allowed, but decimals are rejected? What a joke.

I am sure you find a proper solution.

[2017-09-08 20:30] JueBag commented on #2676
I managed to get it with StringUtils.containsOnly.
However I have a probelm with the result, although I do asign UnDefType.UNDEF and the log shows that the channel is set to UNDEF. On the control tab of PaperUI the UNDEF channel is shown as 0,000€.

[2017-09-09 07:28] lowie1 commented on #788
@BenWoodford I've taken the existing binding and fixed the auth issues (tado has changed the oauth process and added a client secret).  I've also added the ability to turn the heating on and off.  Are you ok with me creating a new pull request?

[2017-09-09 07:36] lowie1 commented on #788
@jofleck sorry just read the whole thread and noticed you have created a binding for the AC controls.  Perhaps we can just combine the two?

[2017-09-09 07:59] e36Alex commented on #788
great news lowie1! thanks for that!

i am looking forward for trying it out!

[2017-09-09 11:32] lolodomo opened #2684 "Freebox: box orientation (IllegalFormatConversionException)"
It looks like the way the API provides the box orientation has changed. It looks like it is now a text rather than a numeric value in degrees.
[code]

[2017-09-09 11:37] lolodomo opened #2685 "Netatmo: Wifi status (IllegalFormatConversionException)"
It looks like the netatmo API is now returning a string value for the Wifi status ("average" for example) rather than a num value ?

My item is defined like that:
[code]

And I got this error:
[code]

[2017-09-09 11:46] lolodomo commented on #2684
Finally it looks like a bad pattern in the channel definition that uses options:
[code]
In this case, the pattern should be `%s` and the item type should be `String` ?

[2017-09-09 12:01] lolodomo commented on #2685
It is due to the way the system channel is defined, that is with options to convert from number to text.
I suppose I have to replace `xxx [%d / 3]` in my item label by `xxx [%s]` ?

In this case, the documentation should be updated.

PS: this is probably a consequence of one of my fix in ESH that allows considering the option definitions.

[2017-09-09 13:41] claell commented on #2591
Just tested it.

It shows:
[code]
also:
[code]

Are the "uses_" properties different and not "on" when the detection method is used?

[2017-09-09 14:42] davidgraeff commented on #2591
@claell This is not generated by the binding. Apparently the framework caches the values of properties, and because I never assign a new value to them, they are still visible to you. Might be an OSGi cache entry or an old jsondb entry, whatever service is responsible for properties.

[2017-09-09 14:53] martinvw commented on #2591
Do you mean that they are not generated by this version of the binding?

[2017-09-09 14:54] davidgraeff commented on #2591
@martinvw Yes, they are not assigned anymore in the current version

[2017-09-09 15:50] claell commented on #2591
Alright. To me it still looks a bit confusing right now. Is this behaviour (displaying of cached values of properties) wanted / is there a different place where to "fix" this?

[2017-09-09 15:50] #2685 closed

[2017-09-09 15:59] martinvw commented on #2591
Most likely re-adding the item should solve it

2017-09-09 17:50 GMT+02:00 Claudius Ellsel <notifications@github.com>:

[2017-09-09 16:34] claell commented on #2591
Ah, now I understand. This is only happening for me because my usage of the old addon version before. Deleting my items and things file and readding it did not help, but I guess waiting will work as well and this property does not hurt.

So thanks for fixing and your help!

[2017-09-09 19:55] dominicdesu commented on #2335
@kaikreuzer this ticket has been fixed by #2501

[2017-09-09 19:55] #2335 closed

[2017-09-10 14:42] JueBag commented on #2675
I started thinking on how to implement that feature.Not sure if I'm able to finish it, however it will be worth a try.
Questions:
Am I stepping into to work done by anybody else?
Does anybody have a link to the documentation of the Chromecast API?

[2017-09-10 21:58] xxorde commented on #2261
Any news here?

[2017-09-11 00:06] jofleck commented on #788
@lowie1 Sounds great :) The next days I'm on vacation. After this we can do this. @kaikreuzer Do you think its a good solution to have two bindings or do you prefer a single binding for the thermostat an the AC controls? To combine the bindings later might be inconvenient to the users because they have to update their configuration

[2017-09-11 05:11] BOFH90 commented on #2676
I just compiled it with the increased allowed stations and installed it. I´ll report back if the error appears again. Thank you so much

[2017-09-11 05:39] JueBag commented on #2676
Thanks.
Your request regarding the adjustable stations limit is not forgotten.
IMHO such a change for ALL users of the binding needs to be cleared with Tankerkoenig. I'm waiting for a response for that part.

[2017-09-11 07:09] kaikreuzer commented on #788
@jofleck I assume that both devices are accessed through the Tado cloud service, so they use the very same way of communication, is that correct? In that case, I would agree that it would make sense to combine the two bindings into a single one (similar as it is for Nest, where we also support thermostat/protect/camera within a single binding).

Do you see a chance to merge your work with @BenWood

[2017-09-11 09:52] trailblazer2006 commented on #2184
Take a look at this https://github.com/beowulfe/HAP-Java/issues/37. Seems to be your problem discussed there.

[2017-09-11 11:59] winnall commented on #2261
Kai, what does the "help wanted" label mean in this context?

[2017-09-11 12:02] kaikreuzer commented on #2261
It means that we are looking for a volunteer to do this implementation as [mentioned here](https://community.openhab.org/t/enocean-bindings-opencean-or-aleoncean/12493/35?u=kai).

[2017-09-11 14:20] cweitkamp commented on #2676
The changes works fine for me. No errors in the log files. But I observed some strange behavior in PaperUI. The linked channels show different values. All channels are linked using PaperUI. Seems like the channel for "E10" doesn't apply the pattern to format the value. I assume it's not a binding related problem.

![openhab01](https://user-images.githubusercontent.com/5131747/30279067-7478064e-970

[2017-09-11 14:35] JueBag commented on #2676
??
I was observing "unknown" in the log for all not reported prices and on the control tab always "0,000€".
What did you see in the logs?
Can't react until Wednesday because I'm on the road again.

[2017-09-11 15:04] cweitkamp commented on #2676
Take your time. I see something like this:

[code]

[code]

[2017-09-11 15:25] JueBag commented on #2676
I'm so or,  but you posted only the log-lines with the (json) return. What would be needed are the lines which show to what the channels (e5, E10 and diesel) are set. Anything other then unknown in case of a nother reported price?
I looked into the code and found no difference for the channel e10. In fact all price channels are a number using the same pattern ("0.3f €")

[2017-09-11 15:46] cweitkamp commented on #2676
You mean an extract of the event.log? Everything looks fine. As I said. I assume it's not a binding related problem. It's more a display problem of PaperUI. The channel-type configuration is correct. I looked into that too.

[code]

[2017-09-11 15:54] JueBag commented on #2676
Okay, your log looks like mine.
Thank you for testing my changes.

[2017-09-11 16:02] lolodomo commented on #2684
The problem is in the framework. I opened an issue in the right repo: https://github.com/eclipse/smarthome/issues/4248

[2017-09-11 16:02] #2684 closed

[2017-09-11 19:49] #2655 closed

[2017-09-11 19:49] #2656 closed

[2017-09-11 20:00] sagittarius0815 opened #2697 "[homematic] Missing configuration dialog in paper UI and HABADMIN UI"
Since openHAB 2.2.0 Build #1036 snapshot (2017-09-10) the configuration dialog for homematic binding is missing in paper UI and HABADMIN UI

[2017-09-12 20:06] beshkenadze opened #2699 "[Xiaomi / MiHome] java.lang.NullPointerException"
## Expected Behavior
Switch On/Off
## Current Behavior
Crash

## Steps to Reproduce (for Bugs)
1. Setup MiHome by http://docs.openhab.org/addons/bindings/mihome/readme.html
2. Add items Xiaomi Plug by http://docs.openhab.org/addons/bindings/mihome/readme.html#xiaomiitems
3. Make a call from the control page (Paper UI)
4. Crash
Link to the stack: https://gist.github.com/beshkenadze/4afd694fd568fb66

[2017-09-12 20:19] beshkenadze commented on #2699
Maybe duplicate #2405

[2017-09-12 20:31] tavalin commented on #2699
Could you try a 2.2.0 snapshot? It may have been fixed since the 2.1.0 release.

[2017-09-13 06:43] ghost opened #2700 "[opensprinkler] openHAB must be restarted after OpenSprinkler power down"
OpenSprinkler Controller should be able to recycle power without restarting OpenHAB afterwards

OpenHAB must restart after the OpenSprinkler controller has cycled power. Seems like the communication between the binding and the OpenSprinkler controller is not resumed.

openHAB 2.2.0 Build #1035

[2017-09-13 07:37] kaikreuzer commented on #2697
I just tested build 1037 and all looks ok.
Can you please explain what exactly you mean by "configuration dialog" and post a screenshot of your problem?