[2016-06-19 08:29] carryonrewardless commented on #1016
Ok with the PIR I might start again with my problem description.
The PIR channel appears not to be working whereas the other channels of this device - two temperature channels, Lux luminance channel and the battery level are all reporting ok.

The log below has just been grabbed (| grep PIR) with debug on for zwave but shows no activity for the PIR channel in 2 days of people walking past it regul

[2016-06-19 08:32] cdjackson commented on #1016
I have no idea why this is - what is zwave_device_48766d53_node7? I guess you must have defined this - you need to find what it’s linked to.

[2016-06-19 08:34] cdjackson commented on #1016
It would also be better to look at a debug log - these sort of INFO level logs are nigh on useless for trying to work out what’s happening.

[2016-06-19 08:53] carryonrewardless commented on #1016
Seems I had not set DEBUG logging correctly.
Attached
[logfile20160619.txt](https://github.com/openhab/openhab2-addons/files/322181/logfile20160619.txt)
 is the log ( | grep  node7) after deleting the Thing and then re-discovering. Do you need a broader selection from the log?

[2016-06-19 09:00] cdjackson commented on #1016
Unfortunately the log doesn’t contain anything from the zwave binding. You need to enable debug for this binding using the console (unless your grep has filtered it all out).

[2016-06-19 09:12] carryonrewardless commented on #1016
Ok this one does:
[logfile20160619.txt](https://github.com/openhab/openhab2-addons/files/322196/logfile20160619.txt)

[2016-06-19 09:19] carryonrewardless commented on #1016
cat /openhab.log | grep PIR  is very brief:
2016-06-19 19:16:41.466 [DEBUG] [io.socket.parser.Parser             ] - encoded io.socket.parser.Packet@97dd3f as 2["itemupdate",{"itemName":"Sensor_LivingRoom_PIR","itemStatus":"OFF"}]

[2016-06-19 09:20] cdjackson commented on #1016
Ok - unfortunately it still doesn’t help as I have no idea what this item is and it doesn’t seem to be associated with anything that’s happening in ZWave if this now includes all the ZWave binding logs. You need to look at what this item is - it must be something you’ve configured?

[2016-06-19 10:23] carryonrewardless commented on #1016
Well zwave_device_48766d53_node7 is the Multi-sensor zwave device with two channels for temperature, one for luminance, one for motion and the battery level.
In the Items file we have
Number Temperature_GF_Entry    "Temperature [%.1f °C]" <temperature>   (Temperature, GF_Living, HouseTemps) {channel="zwave:device:48766d53:node7:sensor_temperature"}
Number Temperature_GF_Entr2    "Temperatur2 [%.1f

[2016-06-19 10:41] carryonrewardless commented on #1016
Screenshot:
![screenshot from 2016-06-19 20 40 44](https://cloud.githubusercontent.com/assets/7085477/16176857/3312b02e-365e-11e6-8838-d1427aa41396.png)

[2016-06-19 10:43] cdjackson commented on #1016
I don’t think so - this is defined as an item - not a thing. If it were a thing URI, it would look different as the underscores would be replaced with colons (zwave:device:48766d53:node7).  You’re getting ITEM state change events -:

[marthome.event.ItemStateChangedEvent] - zwave_device_48766d53_node7 changed from 11444 to 11445

So, I think you have defined this as an item, and it’s linked to som

[2016-06-19 10:43] cdjackson commented on #1016
Sorry - I'm not sure what this is trying to show?

[2016-06-19 11:11] carryonrewardless commented on #1016
The screenshot shows that the Thing is the zwave device Zwave Node 7:MultiSensor Wintop and the channels for it.
"If it were a thing URI, it would look different as the underscores would be replaced with colons (zwave:device:48766d53:node7)"
Thanks for this clarification. I was not aware of that subtlety. I listed my Items file lines above. I am not clear on how to redefine these to get the PIT wo

[2016-06-19 11:20] cdjackson commented on #1016
In HABmin, you can link items to channels by selecting the thing, then on the right side of the window there will be a list of channels. You should be able to see there what is linked. However, if you’ve got some random link to some channel, then it might not be so simple to find. You could go to Configuration | Items and see what is listed there in case you’ve created an item in the UI (i.e. just

[2016-06-19 11:35] carryonrewardless commented on #1016
I will check once the new update comes through before I change anything.

[2016-06-19 11:44] MHerbst opened #1036 "Homematic: lots of warnings from NanoHTTPD on Windows 10"
In my Windows 10 test environment I get lots of warnings from NanoHTTPD:
[code]
On the Raspberry I do not get these messages. I suppose that it is a Windows-specific problem.

This bug has already been reported to NanoHTTPD and there seems to be a bypass in the [nanoHTTP repository](https://github.com/NanoHttpd/nanohttpd/issues/279).

<bountysource-plugin>
---
Want to back this issue? **[Post a bo

[2016-06-19 13:11] carryonrewardless commented on #1016
It is now looking to me like all of the channels on this node7 device are only updating when I do something to the system like a change in the Items file. So obviously I have the configuration fundamentally not right.

[2016-06-19 13:15] yp87 opened #1037 "HS-WD100+ Z-Wave Wall Dimmer features"
Holla!

I bought some HS-WD100+ recently be cause they support nice features like:
- double-tap, triple-tap, press & hold event features
- Supports instant status

After adding the dimmer in OH2, I do not seem to receive any of these events. If I press On physically, it will update the scene to 1 and to 2 if I press down, regardless of 1,2 or 3 tap.
The brightness channel never gets updated unless

[2016-06-19 15:33] MHerbst commented on #1036
Typo in title corrected

[2016-06-19 17:31] rtvb opened #1038 "[zwave] BASIC command class not parsed"
Re: [Molite Movement sensor with temperature and light sensor](http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/374)

Movement is detected on the device but not parsed to OH. I think that the `basic` channel is missing or not being mapped to sensor_binary. Before editing anything in the database I'd like to know for sure that this really is the case.

[2016-06-19 17:33] cdjackson commented on #1038
I’ve just updated the database - this just requires the “Treat as basic” checkbox to be ticked in the binary sensor class.

[2016-06-19 17:37] rtvb commented on #1016
Note to self: this device is similar to 374:

http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/374

(rebranded)

[2016-06-19 19:02] cdjackson commented on #1037
I think this is because the device differentiates the different 1/2/3 presses by setting the time. There is some discussion in ESH on how to handle this sort of thing give this a little time.

https://github.com/eclipse/smarthome/issues/1043

[2016-06-19 19:13] yp87 commented on #1037
Ok thanks for this information!

What about instant status?

Keep up the good work Chris :)

[2016-06-19 19:15] cdjackson commented on #1037
For status, is the association configured properly?  Status feedback relies on the device sending data and this is normally configured with associations.

[2016-06-19 19:18] yp87 commented on #1037
I configured the association through Habmin2. I selected the openhab controller in the list and saved. Is there anything else to do?

Thanks!

[2016-06-19 19:19] cdjackson commented on #1037
Probably not - is the device sending anything (i.e. is there anything in the log when you press a button on the device)?

[2016-06-19 20:52] dominicdesu opened #1041 "AllPlay binding"
I am currently implementing an [AllPlay](https://www.qualcomm.com/products/allplay) binding (based on [AllJoyn](https://allseenalliance.org/framework)) for OH2.
It will probably take a few more weeks, just wanted to mention it now before somebody else starts working on it as well or in case there are any suggestions/hints.

![allplayoh2](https://cloud.githubusercontent.com/assets/3878009/16179774/

[2016-06-19 21:43] yp87 commented on #1037
On the default logs, I see the scene channel being updated to 1 or 2 depending if I push up or down (not when dimming). In all case, I always see around 3 lines about the controller with a number that looks like a sequence number.

I never had any updates on the dimmer channel when I physically change the state, but I can use it to successfully set the light level through openhab.

I will get the

[2016-06-19 23:49] fignuts opened #1043 "Z-Wave cannot change polling period"
Attempting to set polling period on a z-wave device via habmin fails with

     [ding.zwave.handler.ZWaveThingHandler] - NODE 3: pollingPeriod (500.0) cannot be set - using default

Is there any other way to configure polling interval like refresh_inerval in oh1?

[2016-06-20 00:28] yp87 commented on #1037
This is the logs when I press ON while the dimmer was Off:
`20:21:19.017 [DEBUG] [WaveSerialHandler$ZWaveReceiveThread] - Receive Message = 01 19 00 49 84 03 13 04 11 01 5E 86 72 5A 85 59 73 26 27 70 2C 2B 5B 7A EF 5B 93
20:21:19.017 [DEBUG] [ve.internal.protocol.ZWaveController] - Receive queue TAKE: Length=0
20:21:19.017 [DEBUG] [wave.internal.protocol.SerialMessage] - Assembled message buffer =

[2016-06-20 02:28] haunma opened #1044 "[DSC alarm] OpenHab2 attempts port-4025 TCP connection to every host on WAN subnet"
I recently started seeing messages like the following in my kernel log:
[code]
Further investigation showed that my machine (a router/firewall) was flooding the WAN interface with ARP requests to every host in the subnet, once every ~ 10 minutes. My ISP assigns me an IP in a /20 subnet, so this is a lot of addresses! It turns out the culprit was openhab2, which was essentially port scanning my the

[2016-06-20 06:09] cdjackson commented on #1043
How are you trying to set this? I suspect the issue is because there's a decimal place on the end of the value and it's related to the following bug in ESH -:

https://github.com/eclipse/smarthome/issues/1477

[2016-06-20 06:10] watou commented on #1044
The code in question is [here](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.dscalarm/src/main/java/org/openhab/binding/dscalarm/internal/discovery/EnvisalinkBridgeDiscovery.java).  I would agree that portscanning a subnet as a means of discovery (or incorrect results if a host uses the port for something else) can lead to problems and the user should be

[2016-06-20 06:23] polarathene commented on #17
Has KNX binding changed with OH2? I've been reading through issues/forum posts/etc all day trying to get KNX working with openHAB(new to openHAB). I've been using the official Docker container with OH2. I've not had much luck with the various configs I've tried, here is one [I came across](https://community.openhab.org/t/oh-knx-why-do-you-have-to-be-so-difficult-i-e--please--help-me-someone/3375)

[2016-06-20 06:44] fignuts commented on #1043
I am trying to set the value via the "Polling Period" entry box in the "Device Configuration" section when viewing the Thing in Habmin. It lists 1800 (I assume that is the default). I enter any other number, click save, and this error shows up in the log.

[2016-06-20 07:01] kaikreuzer commented on #1041
Cool! Btw, does AllPlay require native libs or is it possible to do in pure Java?
I was struggling heavily when working on a generic AllJoyn binding, that's why I am asking. Although I think that "AllPlay based on AllJoyn" is only marketing speech and technically, you do not at all require the AllJoyn Core libraries, do you?

[2016-06-20 08:35] polarathene commented on #17
Well I feel a bit stupid, used the `.things` extension instead of `.items` for some reason. I'm no longer getting all the errors, but the UI doesn't seem to update when I trigger the physical switch, nor does the UI seem to send the message to KNX address.

I've spun up a Docker image of node-red and a KNX extension that was easy to test I could send messages which worked. So still missing somethi

[2016-06-20 09:51] kgoderis commented on #17
@polarathene Brennan, what you are actually running is the KNX 1.9 binding on OH2 through the compatibility layer. That in itself is fine and Ok to do, but note that the KNX 2.0 binding (as it is proposed in a PR) will differ completely from the KNX 1.x bindings

[2016-06-20 09:52] cdjackson commented on #1043
Ok - so as above, the problem is because of this error in ESH.

[2016-06-20 10:11] polarathene commented on #17
@kgoderis Where would I track the progress/eta of 2.0? Are there many issues with the current state of 2.0 or would it be fairly safe to jump straight to that?

[2016-06-20 11:14] RSStephens commented on #1044
@haunma thanks for the feedback.  I have been contemplating disabling this feature as there are issues with the port scan.  I will probably turn off the the background scanning, which runs every 10 minutes, and just leave the ability to do a manual scan from PaperUI.  I am going to submit a PR soon for other issues and will implement this.  Thanks.

[2016-06-20 16:32] ccaramel commented on #17
@kgoderis

Number : ga_5_0_8 [ address="5/0/8", dpt="5.001", read=false, interval=0]
These are defined as a channel on the ip gateway Bridge
I seems not be working properly.
I've defined 2 channels in IP/KNX:
`Dimmer : ga_10_2_15 [ address="10/2/15", dpt="3.007", read=false, interval=0]
Number : ga_10_2_100 [ address="10/2/200", dpt="5.001", read=false, interval=0]`
I've defined 1 item:
`Dimmer Vo

[2016-06-20 16:51] kgoderis commented on #17
The proposed PR for the KNX 2.0 binding is still to be reviewed in the sense that I have implemented several parallel approaches in the binding with respect to configuration as well as functionality, and that a discussion amongst other KNX users to be had in terms of way forward. It is thus quite experimental, but as author I use in in my operational environment without major issues. The easiest w

[2016-06-20 19:19] dominicdesu commented on #1041
Hi,
unfortunately it does require native alljoyn libs :cry: .
However, I got it working with the native lib on both Windows 10 and a raspberry Pi 2. For Windows 10 I found a dll on the alljoyn website which worked, for the raspberry Pi I had to compile it myself. Don't ask my how many days I've spent until I was able to connect for the first time... :sweat_drops: (it could be so easy!)

As far as

[2016-06-20 19:26] toneus commented on #726
I too am experiencing where the Astro binding fails to run after a reboot. Deleting and re-Linking will return the Astro binding to normal service. Seems as if the scheduling is not reinitialized after a reboot.

I'll try to assist where I can.

I am running OH2 Beta 2.

Tony

[2016-06-20 19:49] cdjackson commented on #1038
Please let me know if this can be closed or if it still doesn't work...

[2016-06-20 21:28] watou commented on #1041
Just add a Bundle-NativeCode instruction to your bundle as is done [here](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.systeminfo/META-INF/MANIFEST.MF#L13) and the OSGi container will extract the appropriate shared library and put it on the search path.  It is better to have a larger distribution than to complicate installation by requiring users to manually h

[2016-06-21 00:36] Taudris commented on #454
If this issue is not going to be solved, can the docs be updated to reflect the actual behavior?

[https://github.com/openhab/openhab/wiki/Actions#timers](https://github.com/openhab/openhab/wiki/Actions#timers)

[2016-06-21 05:04] rtvb commented on #1038
I will try but need to move my usb controller from the RPi to my MacBook
and update OH2 to the latest nightly first.

[2016-06-21 07:22] kaikreuzer commented on #454
@Taudris If you feel that the openHAB 1 wiki is not correct or needs to be enhanced, feel free to change it.

[2016-06-21 19:18] dominicdesu commented on #1041
@watou thank you, that worked!

[2016-06-22 04:07] lewie commented on #17
@kgoderis, as I can see, I did not test 3.007 DPT yet! It is on my Todo-List now.

[2016-06-22 05:44] viruzofficial opened #1052 "HomeKit Extension ColorItem"
I've tried to set up items (**Switchable and Lighting**) wich are linked to a Lamp over the Philips Hue Bridge and have the Type **ColorItem**. Homekit gives me an error that this item is Type **ColorItem** and not expected **DimmerItem** (With **both** Tags). As referenced in the HomeKit Binding Documentation ColorItems should be supportet for Switchable and Lighting.

[2016-06-22 06:34] rrgeorge opened #1053 "Homekit thermostat group not working"
After updating to the latest snapshot and updating the tags, the thermostat group for HomeKit no longer works. The only item I'm seeing on iOS is the CurrentTemperature item as a temperature sensor, not the thermostat group as a thermostat. The following is my relevant items:
[code]

[2016-06-22 06:34] kgoderis commented on #17
@lewie the error here above should also occur in OH 1.8 as the KNXTypeMapper is quite similar. Maybe there was a change in Calimero cfr the fact that the error here above seems to be internal to Calimero.

[2016-06-22 07:27] kaikreuzer commented on #1052
@beowulfe Could you have a look?

[2016-06-22 07:28] kaikreuzer commented on #1053
@beowulfe Can you help?

[2016-06-22 08:32] Woutch commented on #726
Hello, I have the same Issue, everything still "null", until I change a link or channel. I also have the problem that only the midnight job runs. And not the "refresh" job that is configurable in the thing. (Default 300 sec). So channels like Sun Elevation only get updated at midnight, but this is continuously changing. (I have a rule based on this value)

If you want any input, please ask, I'll d

[2016-06-22 12:53] dmcwhinnie commented on #365
For reference, looks like a library or pathing issue on ARM 64.  Posting here to try and connect the dots between OSHI and OpenHab,

https://github.com/dblock/oshi/issues/204

https://community.openhab.org/t/systeminfo-initialization-error-on-pine64/11726/9

[2016-06-22 12:57] beowulfe commented on #1052
On it - HomeKit actually has support for color lights, which I still plan on getting into the addon. I'll add support for Switchable and Lighting on ColorItem in the meantime.

[2016-06-22 12:58] beowulfe commented on #1053
On it

[2016-06-22 14:58] feens commented on #726
@gerrieg did you happen to look at my previous comment? I'm pretty sure I identified where the issue is in the code (i.e. the initialize method isn't calling restartJobs).

[2016-06-23 08:46] carryonrewardless commented on #894
Nothing forthcoming from Fakro but he device is sort of ok. It is curious that this device - a motorised chain actuator to open windows - shows as having channels for a switch and one for brightness i.e. a dimmer. In creating Items I cannot select Item Type "Rollershutter" as it only works when selecting "Dimmer".
This comes from Command Class - Switch Multi-Level but this is where my understandin

[2016-06-23 09:21] cdjackson commented on #894
Then we need to change the channels. The database makes a best guess when selecting the channel type, but this can be changed quite easily to correctly reflect the device.

I’m not sure I understand the question, but I suspect you need to update the channel. I thought I’d added some blinds channels last week for the FGRM222 (I think) but I’m not sure if that is included so I’d need to check.

[2016-06-23 11:00] carryonrewardless commented on #894
Updated to 2.0.0.201606220105    | ZWave Binding, deleted Item and created anew. Same behaviour observed i.e. need to select Item Type = Dimmer. Selecting Rollershutter results in
Command for unknown channel zwave:device:15577aece38:node5:switch_dimmer with UpDownType.

Do I need to do something for this?

[2016-06-23 12:22] cdjackson commented on #894
Ummm, the database hasn’t been changed has it to update the channels, so of course there will have the same behaviour.  You can’t just change the item type - this isn’t the same thing as the channel type.

I first need to add the channels to the binding, then we need to update the database.

[2016-06-23 15:00] ccaramel commented on #17
@kgoderis Hi thank you for your answers. I also noticed that modifying knx:ip bridge things, KNX connection stop OK but doesn't start again. Regards.

[2016-06-23 21:30] polarathene commented on #17
@kgoderis Is [this config](https://github.com/openhab/openhab2-addons/issues/17#issuecomment-110257476) you shared from a year ago still relevant today? I've not had luck finding documentation on `.things` configuration in OH2.

[2016-06-24 09:18] #1052 closed

[2016-06-24 13:02] mhilbush opened #1057 "[zwave] NPE during add of Fibaro FGMS-001"
NPE occured during the inclusion of a Fibaro FGMS-001 motion sensor.  Appears to have occurred performing secure inclusion.

I was using binding version 2.0.0.201606240102 (from last night's build).

Debug log and node.xml are attached.
[openhab.txt](https://github.com/openhab/openhab2-addons/files/331756/openhab.txt)
[node4.txt](https://github.com/openhab/openhab2-addons/files/331750/node4.txt)

[2016-06-24 13:05] edsonaj commented on #929
Hi @beowulfe,

I searched the logs but I think I deleted them. I changed the openhab startup from service to a script + task scheduler and didn't saw this anymore.

I will test again this weekend using the service startup and send you logs if the rooms cleared.

[2016-06-24 17:00] cdjackson commented on #1057
Please disable security for now.

[2016-06-24 21:38] mhilbush commented on #1057
Thanks!  Why didn't I think of that?  :-(

Looks like you need to:
- Select the Z-Wave Serial Controller thing in HABmin
- Click on Tools and select "Show Advanced Settings"
- Select "Z-Wave Network Settings"
- For "Secure Inclusion Mode", select "Do Not Use Security"

I'll rediscover this device tomorrow with the new build that has the DB changes.

[2016-06-25 10:27] lolodomo opened #1060 "Freebox binding: server discovery using mDNS has to be fixed"
Service type has to be set to "_fbx-api._tcp.local.".
Thing ID has to made unique: UID provided by mDNS could be used.

[2016-06-25 14:30] rtvb commented on #1038
My corresponding item is getting the binding updates:

    Switch Sensor_Living_Motion      "Beweging [MAP(motion.nl.map):%s]"         <motion>                     { channel="zwave:device:1555e536293:node8:sensor_binary" }

So I guess this issue has been resolved?

[code]

[2016-06-25 14:32] cdjackson commented on #1038
Are you asking if it is fixed? If it is working, then I guess you are answering the question? (or maybe I miss your point - sorry?)

[2016-06-25 17:12] rtvb commented on #1038
My question was meant rhetorically. Thanks for resolving it so quickly.

[2016-06-25 17:13] cdjackson commented on #1038
Ok - perfect - thanks. i'll close this then.

Cheers
Chris

[2016-06-25 17:13] #1038 closed

[2016-06-25 19:08] mhilbush commented on #1057
Disabling security is a good workaround.  Thanks.

[2016-06-25 19:09] Opticcenter opened #1062 "how to install souliss bindings"
How to install souliss bindings in Openhab 2 ?

[2016-06-25 19:33] kaikreuzer commented on #1062
See http://docs.openhab.org/developers/development/compatibilitylayer.html#how-to-use-openhab-1x-add-ons-that-are-not-part-of-the-distribution

[2016-06-25 19:33] #1062 closed

[2016-06-25 20:46] kgoderis commented on #17
@polarathene Yet it is. However, there is not documentation as the KNX 2.0 is still "in development" . The only place to get cues from is the actual source code, unfortunately

[2016-06-26 09:27] MHerbst opened #1064 "[YamahReceiver] RefreshCommand not handled"
The YamahaReceiver binding does not handle RefreshCommand. This leads to an exception:
[code]

[2016-06-26 12:13] kaikreuzer commented on #1064
@davidgraeff, could you fix that?

[2016-06-27 01:32] edsonaj commented on #929
Hi @beowulfe

Here are the logs.

[openhab.log.txt](https://github.com/openhab/openhab2-addons/files/333955/openhab.log.txt)
[openhab.log.1.txt](https://github.com/openhab/openhab2-addons/files/333956/openhab.log.1.txt)

[2016-06-27 01:44] beowulfe commented on #929
Thanks @edsonaj - looks like my assumption was right. Your HomeKit client is connecting before your Insteon devices finish initializing. So it first gets an empty list of accessories, which must clear out iOS's local settings for the accessory. I should be able to replicate this race locally - I'll see what I can do.

[2016-06-27 09:00] ccaramel commented on #17
Ok, I've investigated furthermore what it works and doesn't.
I can modify a dimmer item value linked to a knx thing directly thru knx bus
I can send a 5.001 message on knx bus by modifying the dimmer item value linked to a knx thing
I can modify a dimmer item value linked to a sonos volume channel thru sonos app
I can modify sonos volume channel by modifying a dimmer item value
But
when the dimmer

[2016-06-27 10:40] davidgraeff commented on #1064
Sure

[2016-06-27 12:15] #1064 closed

[2016-06-27 15:14] mhilbush opened #1066 "[zwave]: Temperature conversion from C to F"
I'm seeing very large temp readings from a sensor (FGMS100).  Here's a debug log snippet.

[code]
The temp conversion from C to F looks like it might be multiplying by 10?

[code]

[2016-06-27 15:42] watou commented on #1066
`movePointRight(1)` should be removed from the code.

[2016-06-27 19:56] mhilbush opened #1068 "[zwave]: UV channel mislabeled"
Should be Ultraviolet instead of Temperature.

[code]

[2016-06-27 20:03] mhilbush commented on #1066
Yep, that's what I thought.

What was really throwing me was that I have another device (Aeon ZW100) that reports in F when it sends an unsolicited sensor report, and reports in C when it responds to sensor get request.  It was driving me nuts why the temp would show correctly sometimes, and 10x other times!

I'm surprised no one identified this (I do realize the majority of the world uses C).

[2016-06-27 20:32] watou commented on #1066
There must have been an issue around https://github.com/openhab/openhab/pull/3482/commits/854ae481d298101d9b697ee49084b95c64932baa#r46078395 that made it into the new binding.  Easy fix; I'll submit a PR.

[2016-06-27 21:48] watou commented on #1066
PR #1069

[2016-06-27 22:30] mhilbush commented on #1066
Thank you!

[2016-06-28 07:25] IOOOTAlan opened #1070 "Netatmo: NoClassDefFoundError javax.net and javax.net.ssl"
Greetings,

I'm currently testing the netatmo binding inside a custom karaf-4.0.4 environment and I kept having runtime errors where the binding would fail to initialize, reporting a cryptic `javax/net/ssl/HostNameVerifier` message next to the `Initializing` string.
I then fired up a debug session and I found out that a `NoClassDefFoundError` was thrown as soon as the `ApiClient` object was create

[2016-06-28 07:29] kaikreuzer commented on #1070
Sounds like a bug to me, so happy to accept a PR for it!

[2016-06-28 07:38] #1070 closed

[2016-06-28 09:31] IOOOTAlan opened #1072 "[zwave] Aeon Labs Door Window Sensor 6 (ZW112-C) channels not working"
Greetings,
I'm performing some tests with some zwave devices using the zwave binding and I'm facing this issue with the aforementioned device: the two channels available keep displaying as empty in the Paper UI, despite seeing traffic from the device in the logs when I move the magnets close and then far away from it.
This is extracted from the zwave binding log (the device is registered as NODE 8

[2016-06-28 11:37] Nibles opened #1074 "[Homekit] If Item has mor than one Tag it won't appear inHomekit"
If an Item has more than one Tag it won't appear as Homekit Accesory.
Am I doing something wrong, or can someone else confirm this?
I am using latest build from cloubees.

[2016-06-28 13:22] cdjackson commented on #1072
Am reading this on my phone so I might not have interpreted it correctly. However it looks like the device is sending the BASIC class here and it's possible that the database isn't configured to link the basic class to the alarm notification.

When I get a decent internet connection I'll check this.

Sent from my iPhone

[2016-06-28 13:26] mhilbush commented on #1072
Correct.  I just ticked Treat as Basic for the ZW112.

[2016-06-28 13:29] xsnrg commented on #1072
and I just approved it for you since @cdjackson is travelling.

[2016-06-28 15:03] kaikreuzer commented on #1074
@beowulfe ?

[2016-06-28 15:52] IOOOTAlan commented on #1072
Then, if I understood correctly, the next database update will presumably fix this?
Great! :-)

[2016-06-28 17:59] xsnrg commented on #1072
Approving the DB entry means it is released into a place where a PR can be created and then merged.  After the PR is merged, the next cloudbees build of the binding should include the DB changes.

[2016-06-28 18:10] Nibles commented on #1074
After more Tests it Seams that The Tag Switchable seam to work if there are additional Tags, but Lightening and CurrentTemperature do not.

Also the Group Tag Termostat does not work, but this is already an Existing Issue.

If moore Detail is neded please Tell me.

[2016-06-28 18:13] kgoderis opened #1075 "org.openhab.binding.network : Cannot use DHCP listen: Permission denied"
@davidgraeff On Mac OS X Server El Capitan, with the latest build of the above binding, I get the above Error in the logs. The usage of a dhcp listener is a new feature, and it requires augmented permissions (cfr README), but what is the equivalent of

`setcap 'cap_net_bind_service=+ep' /usr/bin/java`

on Mac OS X?

AFAIK there is none, and maybe therefore a check of the OS needs to be done in the

[2016-06-28 18:25] kgoderis opened #1076 "Provider marytts.voice.CmuSltHsmm.Config not a subtype"
With the latest ESH snapshot, the following is thrown when marytts is configured:

[code]

[2016-06-28 18:33] davidgraeff commented on #1075
There should be a mechanism for Mac OS applications to aquire ports < 1024, web development with local webservers, ssh etc wouldn't be possible otherwise. Unfortunately I have no idea, I do not own apple products.

The feature is disabled automatically if the port cannot be aquired, but the error message is correct in my opinion, because the user required the feature explicitly (at least the defau

[2016-06-29 13:53] IOOOTAlan opened #1077 "[zwave] Strips-MaZW (Sensative) main channel not working"
Greetings,
I'm testing the aforementioned device using the zwave binding and I can't see status updates regarding the `Binary sensor` channel, which I assume is the one that should tell me if the door/window is open or closed. However, in the log I can see traffic regarding the device node while moving the magnet near it.
I'm attaching the binding log. The device is node 11. [strip-mazw.zip](https

[2016-06-29 14:14] mhilbush commented on #1077
It looks like the device is generating an ALARM report.  Did you try setting config parameter 1 (Notification Type) to 0 (Binary Sensor Report)?  It looks like the default is 1.

[2016-06-29 15:02] watou commented on #1077
Is this a case where you would create an association to the controller to receive updates?

[2016-06-29 15:41] IOOOTAlan commented on #1077
@mhilbush: yes, I tried setting it but it didn't change anything. Also tried the third option (basic report i.e. a value of 2 in config_1_1) to no avail.
@watou: I really don't know... Any means we could understand if this is the case?

[2016-06-29 15:42] cdjackson commented on #1077
I would probably suggest to discuss this sort of issue on the forum since the device is in use by a few people.

[2016-06-29 15:44] cdjackson commented on #1077
When you make configuration changes, are you waking up the device? Does the PENDING flag go away.

[2016-06-29 16:04] #1066 closed

[2016-06-29 16:05] cdjackson commented on #1066
Apologies for the delay merging - I'm on holiday with minimal access to technology!

[2016-06-29 16:42] mhilbush commented on #1066
No worries.  Very much appreciated!

[2016-06-30 06:38] viruzofficial commented on #1074
I can confirm this behaviour. With the latest build i am not able to get a item displayed with the [ "Lighting" ] Tag when other Tags are set.

[2016-06-30 09:28] kgoderis commented on #1075
@davidgraeff David, the thing-types.xml in the ESH-INF folder is missing the definitions for dhcplisten="true"

[2016-06-30 12:00] gerrieg commented on #726
yes, i read your comment. I still can not reproduce this, but i've added restartJobs() now in line 93. Maybe this fixes your problem. The NullPointer is also fixed with https://github.com/openhab/openhab2-addons/pull/1079

[2016-06-30 12:36] kaikreuzer commented on #726
Fixed by https://github.com/openhab/openhab2-addons/pull/1079

[2016-06-30 12:36] #726 closed

[2016-06-30 13:44] mhilbush commented on #1066
Fix works. Thanks.

[2016-06-30 14:46] IOOOTAlan commented on #1077
@cdjackson you were right, the device was not reconfigured following the change.
I had to put in in a listening mode by using the inclusion procedure described in the manual.
After this, I now see the `Binary sensor` like this:
 - ON when magnet is away (door/window open)
 - OFF when magnet is near (door/window closed)

I guess it was only a configuration issue and a misunderstanding of how the wh

[2016-06-30 14:46] #1077 closed

[2016-06-30 18:27] sja opened #1080 "Z-Wave: NPE on inclusion on SecurityCommandClass#438"
While trying to include a Fibaro Universal Binary Sensor:

[code]

[2016-06-30 18:29] cdjackson commented on #1080
The security classes are not supported in OH2 yet. I would recommend disabling it (in network settings in the controller I believe) until this is ready. This will cause the device to work in non-secure mode.

[2016-06-30 18:29] #1080 closed

[2016-06-30 18:32] #1068 closed

[2016-06-30 18:34] cdjackson commented on #1072
Apologies for the delay - I was away on holiday in a remote part of the country with very limited phone/internet (I know - hard to believe these places still exist! :) ).

I'll hopefully update the database tonight.

[2016-06-30 18:38] sja commented on #1080
Wasn't aware of that. Thanks for fast response.

[2016-06-30 19:29] pail23 opened #1083 "[zwave] Qubino ZMNHBD reacting slowly on switch"
I have installed a Qubino ZMNHBD Flush 2 relays with 2 Lamps connected. When I press the physical switch connected to the relays, the channel switch_binary changes its state immediately, but it takes minutes until switch_binary1 (or switch_binary2) changes its state.

When I use OpenZWave, all channels ract immediately. Can this be improved in openhab2 as well?

I have attached the xml file

[node

[2016-06-30 19:31] cdjackson commented on #1083
If things are slow, then it probably means there’s something up with the network, or the device isn’t initialised, or another device is slowing things down due to timeouts. I would suggest to check the logs to see what’s happening.

[2016-06-30 19:32] cdjackson commented on #1083
I would suggest to discuss the issue on the forum once you've looked at the logs. You can use the online log viewer at cd-jackson.com

[2016-06-30 19:32] #1083 closed

[2016-06-30 20:05] pail23 commented on #1083
OK, I will check the log files. Thanks for the hint to the log viewer.

What could speak against a network or initialization problem is that switch_binary (which is on if either one or the other light is switched on) reacts fast but the channels switch_binary1 and switch_binary2 are not.

[2016-06-30 20:28] cdjackson commented on #1083
Strange - they should be the same. Anyway, check the log - if things look strange, or you can’t work it out, then open a discussion on the forum and if we find a problem, then we can open an issue to fix it.

Cheers
Chris

[2016-07-01 07:10] IOOOTAlan commented on #1072
@cdjackson don't worry, you've all been very fast in answering here :-)
I guess this could be resolved after PR #1082, right?

[2016-07-01 07:32] IOOOTAlan commented on #1072
I'm answering myself: the status is now correctly reported (open/closed).
However, battery level is not reported. Maybe it is sent asynchronously from the open/closed status?

[2016-07-01 13:19] cdjackson commented on #1072
Battery level is not normally sent at the same time, but it depends on the device. Normally, battery level is polled which means it gets sent each time hte device wakes up (so every hour, or every day - depending on the wakeup period).

[2016-07-01 14:58] kgoderis opened #1084 "Karaf : openhab:install-service hangs"
When issuing the command above, the only output is

[code]

And nothing more. Is something else expected to happen?

[2016-07-01 14:59] #1084 closed

[2016-07-01 15:38] IOOOTAlan commented on #1072
I had to change the configuration option `config_111_4` (aka ` Low battery voltage check time`) to `240` instead of the default `86640` (seconds) to actually obtain a reading of the battery info in a "working hours compatible time".
I guess that this issue can be closed as everything seems working ok now.
Thanks everyone!

[2016-07-01 15:38] #1072 closed

[2016-07-01 19:13] cdjackson commented on #791
Did we finally resolve this? I think we ended the discussion off list and I think it was resolved (right?).

[2016-07-01 19:14] MHerbst opened #1085 "[YamahReceiver] Wrong data type used for item type "Dimmer""
Openhab complains about a wrong data type:
[code]
The problem is caused by this statement in line 193 of YamahaReceiverHandler.java:
[code]
It can be solved by changing `DecimalType(state.getVolume()` to `PercentType((int) state.getVolume())`

[2016-07-01 19:22] kaikreuzer commented on #1085
If you already identified the bug, would you also be able to create a PR for it?

[2016-07-01 19:29] MHerbst commented on #1085
Yes, I think so.

[2016-07-01 19:49] #1085 closed

[2016-07-02 01:06] carryonrewardless commented on #791
Hi Chris
My last email was:
New version loaded:
189 | Active   |  80 | 2.0.0.201605310102    | ZWave Binding

Deleted the Thing and re-discovered it and now have four channels -
previously two. They are named Scene Number, Switch, Switch1 and Switch2.

Time for me to do some more self education on your great system.

I have edited the Issue title to refer to the iModuleDouble for
clarity.  Do you

[2016-07-02 06:22] mccaffm commented on #805
is there an problem with getting these merged, hoping it will fix my relay issues to

[2016-07-02 07:12] clinique commented on #805
Yes, hopefully. The swagger definition file is updated and I'm currently reviewing all the binding to remove obsolete API calls. Sorry, takes a bit of time.

[2016-07-02 07:14] mccaffm commented on #805
Thanks, understand the time it takes, I just couldn’t see the relevant merge in the swagger-api.. must have missed it

From: clinique [mailto:notifications@github.com]
Sent: 02 July 2016 08:12
To: openhab/openhab2-addons <openhab2-addons@noreply.github.com>
Cc: Mike McCaffery <mike@mccaffery.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [openhab/openhab2-addons] Netatmo | Bindind won't

[2016-07-02 09:08] cdjackson commented on #791
Ok - if there’s still outstanding issues, then we should try and resolve them, so let’s leave it open.

[2016-07-02 10:49] lolodomo opened #1090 "Freebox binding: should check session and try to reconnect"
During the week and after several days that OH2 was running, I discovered the network reachability was no more working for one of my network device for which a thing/item is created.
I just restarted openHAB and all was ok again.
When it will happen again, I will analyze more in details what's wrong but by the way I think the problem is that the binding never check the session with the server and

[2016-07-02 11:47] mhilbush commented on #1057
@cdjackson What do you want to do about this issue?  If security is not supported yet, do you want to close this issue until security support is added?  I don't see the point in keeping it open.

[2016-07-02 13:44] cdjackson commented on #1057
OK, let's close it for now until I get this working...

[2016-07-02 13:44] #1057 closed

[2016-07-02 13:47] cdjackson commented on #1037
Unfortunately the log is not easy to use as when I try and copy it, it ends up as one very long line and I can't therefore process it.

[2016-07-02 13:51] cdjackson commented on #979
This device has been added (http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/356) can we close this?

[2016-07-02 13:52] cdjackson commented on #910
Closing as the device was added. If there's still issues, please reopen and provide further information

[2016-07-02 13:52] #910 closed

[2016-07-02 19:51] BradyRosino commented on #979
Yep, closing his issue as I have tested successfully. Thanks!

[2016-07-02 19:51] #979 closed

[2016-07-03 15:06] yp87 commented on #1037
Hello Chris,

You are right, I attached new file logs. The first one is when I pushed OFF once. The second one is when I pushed ON once and the third one is when I dimmed from 100% to something non-zero.
[ZwaveNode3Off.txt](https://github.com/openhab/openhab2-addons/files/345126/ZwaveNode3Off.txt)
[ZwaveNode3On.txt](https://github.com/openhab/openhab2-addons/files/345125/ZwaveNode3On.txt)
[ZwaveNo

[2016-07-03 18:08] stodir opened #1095 "Pulseaudio: pulseaudio.handler.PulseaudioHandler - device not found"
Hello,

I configured a Pulseaudio bridge and a Pulseaudio sink in the Paper UI.

The bridge has the parameters listed in the REST-API output bridge.txt and looks fine for me.
[bridge.txt](https://github.com/openhab/openhab2-addons/files/345221/bridge.txt)

The sink has the parameters listed in the REST-API output sink.txt and is always offline.
[sink.txt](https://github.com/openhab/openhab2-addons

[2016-07-04 06:32] #392 closed

[2016-07-04 06:32] #924 closed

[2016-07-04 08:49] #1053 closed

[2016-07-04 08:50] kaikreuzer commented on #1053
Thanks, sorry for the late merge, I missed the PR!

[2016-07-04 13:37] davidgraeff commented on #1075
@kgoderis I'll fix that asap

[2016-07-05 06:37] cdjackson commented on #819
@kaikreuzer @maggu2810 I think that this issue might be related to the service startup problem (ie potentially the circular reference problem). I'm now seeing this error showing up on a number of bindings. Looking at the code, I can't really see how the callback can't be set if the service registration is working since it is set directly in the service setter if I remember correctly.

[code]

[2016-07-05 07:23] maggu2810 commented on #819
@cdjackson If you want to give it a try, you can remove the lazy bundle activation policy from the model bundles' manifest, rebuild ESH and change the model bundles in your runtime.
If the error is solved, then there is a big change that it is a duplicate of eclipse/smarthome#870 respectively eclipse/smarthome#947.

[2016-07-05 07:37] kaikreuzer commented on #819
FYI, I am just testing https://github.com/eclipse/smarthome/pull/947 and the runtime as well as the designer seem to work well - I am just trying to analyze the failing test case now. Hope that this could finally solve the issues then.

[2016-07-06 07:48] kaikreuzer commented on #819
FTR: the latest build [395](https://openhab.ci.cloudbees.com/job/openHAB-Distribution/395/) includes the fix https://github.com/eclipse/smarthome/pull/1810. With that, the circular dependency should be solves, but I am just seeing sometimes some other weird log errors - so I am not sure, if this is 100% solved already, but please feel free to test and report back!

[2016-07-06 10:20] clinique commented on #805
Well,
I've pushed a major review of the binding in order to remove all calls to deprecated API, and also lower the number of requests made to Netatmo servers. This also reintroduces usage of GetMeasure, that shall ease migration from currently v1.8.x only features of the binding into the 2.0 branch.

On my side everything seems to work fine. Hope it'll be the same for you.

[2016-07-06 14:19] BenWoodford commented on #788
Finally had time to look at this again, here's a build that should hopefully work: https://github.com/BenWoodford/openhab2-addons/releases/tag/v2.0.0-SNAPSHOT

And of course, [some documentation](https://github.com/BenWoodford/openhab2-addons/tree/tado/addons/binding/org.openhab.binding.tado)

[2016-07-06 20:05] jsiobj commented on #805
Great ! I'll test that and keep you posted
Thanks.

[2016-07-09 07:06] kgoderis opened #1103 "SystemInfoBinding 2.0 : some channels not reporting data"
I have installed the SIB 2.0 on a Mac OS X El Capitan, and based on the oshi FAQ almost every type of information, with the exception of the Process Time variables, should be supported. However, I noticed that the channels below are not getting updated. I can not tell wether this is an oshi limitation or something that is going on in the binding [I have copied the example from the README]

Network

[2016-07-09 08:59] kaikreuzer commented on #819
FTR: I think the startup problems are finally solved with https://github.com/eclipse/smarthome/pull/1828.

So if this issue was due to any of these, it should be gone now. If not, it is something separate that needs to be analyzed.

[2016-07-09 09:04] cdjackson commented on #819
Thanks - so is this flowed through to the latest OH2? I guess so.

My ZWave is running this morning with the latest snapshot, although I’ve not tried to stop/start bindings to see if it works every time.

[2016-07-09 09:11] kaikreuzer commented on #819
Yes, see https://community.openhab.org/t/circular-dependencies-startup-issues-resolved/12266.

[2016-07-09 16:54] cdjackson commented on #819
@kai Unfortunately this doesn't seem to be fixed. I'm seeing this on a different binding at the moment (currently these same errors on ZWave have not appeared since I loaded the updated binding)  -:

[code]

Looking at this, it registers the bridge, then registers the thing. The bridge handler sets the status to offline. Then the bridge receives data and tries to update the status to online and it

[2016-07-09 17:18] maggu2810 commented on #819
You can give it a try and overwrite the method, perhaps you can identify at which time the callback is set / unset.

[code]

[2016-07-09 17:49] mhilbush opened #1106 "[zwave] NPE during shutdown"
I'm seeing this NPE in the zwave binding periodically during shutdown of OH.

[code]

Possibly in the middle of trying to send a packet after the serialPort object has been destroyed?

This is probably not a real big deal, because under normal circumstances, I wouldn't normally be doing a lot of restarts...  :-(

[2016-07-09 18:07] rogerbille opened #1107 "create_openhab_binding_skeleton.sh fails with archetype does not exist"
By changing  -DarchetypeVersion=0.8.0-SNAPSHOT to  -DarchetypeVersion=0.9.0-SNAPSHOT it works.

[2016-07-09 18:40] cdjackson commented on #1106
Is that the extent of the stack trace or is there more?

[2016-07-09 19:40] mhilbush commented on #1106
That's all there was in the stack trace. I can pull some of the context around it, but that's all there was.

On Jul 9, 2016 2:40 PM, Chris Jackson <notifications@github.com> wrote:Is that the extent of the stack trace or is there more?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-09 19:47] cdjackson commented on #819
Nice idea, but I don't think it helps -:

[code]

It looks like the callback gets set ok, and only once!

Any thoughts...

[2016-07-09 19:48] cdjackson commented on #1106
If there's a few lines before, it might help.

As you say, it's not top of the list right now, but one to keep in mind for tidying up...

[2016-07-09 22:00] maggu2810 commented on #819
Just another idea:
Can you add

[code]

to some functions of your bridge handler?
e.g. constructor, initialize, setCallback, etc.
Just to ensure that there are really only one object, and the one that misses the callback is not the same one 'setCalback' has been called.

[2016-07-10 08:19] #1107 closed

[2016-07-10 10:29] mhilbush commented on #1106
Sorry for the delay.  Here's the context in which the NPE occurs.

[code]

[2016-07-10 16:41] cdjackson commented on #819
Given that the problem area is inside an internal thread, “this" doesn’t work (i.e. it picks up on the thread I would guess).

[2016-07-10 17:45] kaikreuzer commented on #819
Where is the problem using the debugger? You should clearly see which handler instance gets the callback and why it is missing when being used.

[2016-07-10 17:46] cdjackson commented on #819
It works fine in the debugger.

[2016-07-10 17:47] kaikreuzer commented on #819
Always or only when you step through the code?

[2016-07-10 17:49] cdjackson commented on #819
Always. I don’t see any issues with any of the startup problems in the IDE - only in my “online” system.

[2016-07-10 17:50] kaikreuzer commented on #819
Then please use remote debugging of your online system!

[2016-07-10 19:43] dominicdesu commented on #1041
@watou your suggestions works when I start openhab in Eclipse directly, but when I try to run mvn clean install, I get the following error:
[code]

I assume that error message means that it cannot find the alljoyn_java.dll in the classpath?
I tried to compare my binding with the systeminfo binding but cannot sport the difference...
Here is my build.properties:
[code]

Part of my MANIFEST.MF:
[code

[2016-07-11 07:50] kaikreuzer commented on #1103
@svilenvul Can you comment?

[2016-07-11 08:03] svilenvul commented on #1103
Hello @kgoderis
Could you provide some logs and some more information about the configuration, that you use?

[2016-07-11 08:14] kaikreuzer commented on #1041
@dominicdesu Does it help if you [add a * at the end of the line](http://stackoverflow.com/a/32627108)?

[2016-07-11 09:28] kgoderis commented on #1103
Will do. my config is an exact copy of what is in the Readme documentation.
The system is

aka El Capitan Server Edition.

[2016-07-11 09:37] svilenvul commented on #1103
Sorry, but without any logs (e.g from /userdata/logs/) , I do not think, I can help you.

[2016-07-11 09:52] kgoderis commented on #1103
After a bundle:restart more variables get resolved, only the DisplayDescription and NetworkPackagesRecevied stay unresolved. For the DisplayDescription something is logged, not for the other variable. For DisplayDescription this is in fact logical as the host is running head-less

[code]

[2016-07-11 10:23] watou commented on #1103
I would assume a channel named Uptime would be a number of seconds in a DecimalType, but a channel named UpSince (or similar) would be a specific DateTimeType referring to the date/time the system was started.  Providing both channels would probably be useful.

[2016-07-11 10:45] kaikreuzer commented on #1076
Note that MaryTTS is maintained at https://github.com/openhab/openhab (although I will probably soon have it ported to OH2).

[2016-07-11 10:45] #1076 closed

[2016-07-11 10:59] kgoderis commented on #1103
@watou I still prefer an output similar to (without the load averages)

Karel-Goderis-MacBook-Air:~ kgoderis$ uptime
12:59  up 4 days,  3:50, 2 users, load averages: 3.35 2.77 2.61

At least you do not have to do the math yourself.

[2016-07-11 11:22] lolodomo commented on #1060
Issue fixed by PR merged.

[2016-07-11 11:22] #1060 closed

[2016-07-11 11:22] svilenvul commented on #1103
@kgoderis
From this part of the log, I can not be sure what the problem was. I can not see the parts, where the Items are linked to the Channels. If I remember correctly, after the creation of ItemChannelLink REFRESH command is sent to the channel. If there is any problem, you should see some error logged there.
Do you run the latest version of openHAB 2.x ?

[2016-07-11 13:38] kgoderis commented on #1103
@svilenvul me neither. Put in in TRACE, but no more output. I run this on the latest nightly build.

[2016-07-11 18:57] dominicdesu commented on #1041
@kaikreuzer yes, that seems to work, thanks! Actually I tried this before and it didn't work... maybe I had put it in the wrong place.
Any idea why this is necessary for my binding but not for the systeminfo binding? Would be nice to understand what's going on behind.

[2016-07-12 01:53] jjlauterbach opened #1111 "create_openhab_binding_skeleton fails due to missing archtype version"
[code]

[2016-07-12 03:22] jjlauterbach commented on #1111
Just noticed this was fixed yesterday

[2016-07-12 03:22] #1111 closed

[2016-07-12 07:02] sbussweiler commented on #819
@maggu2810 Regarding your logs from the initial post of this issue...

[code]

... the thing handler will be disposed, the callback is set to null. In the same moment the ThingManager tries to notify asynchronously the thing about an initialized bridge, caused by a previous status change. But the handler could not update the status, because the callback is missing now.

I thing an implementation o

[2016-07-12 07:10] kaikreuzer commented on #1041
Sorry, no clue why there's a difference...

[2016-07-12 09:36] maggu2810 commented on #819
@sbussweiler Sure :wink: I assume it will improve the whole life-cycle situation sensibly.

[2016-07-12 09:36] lolodomo opened #1113 "Freebox binding: use properties"
The 2 configuration parameters added by PR #1089 should be replaced by properties.
A vendor property could be added on all net_device/net_interface things.

[2016-07-12 09:37] sbussweiler commented on #819
That's the plan ;-)

[2016-07-12 10:07] #1004 closed

[2016-07-12 13:15] lolodomo commented on #1044
Issue to close ?

[2016-07-12 21:48] RSStephens commented on #1044
Hello @lolodomo,

I have removed the background discovery for the binding so that it doesn't run automatically every 10 minutes.  A scan can still be performed, but it would need to be initiated manually through the PaperUI.  I would think the issue could be closed at a his point.

[2016-07-12 22:00] lolodomo commented on #1090
There is already a mechanism to reopen a new session when a request fails due to an invalid session. It is implememted in the library the binding relies on.
So I closre this issue.

I will open a new issue as soon as I have identified why after a certain time channels are no more updated. I am almost sure that the update jobs are no more scheduled after a certain time.

[2016-07-12 22:00] #1090 closed

[2016-07-13 09:05] #1044 closed

[2016-07-13 15:19] lolodomo opened #1116 "Netatmo binding: catching errors in scheduled job"
The scheduled job in method bridgeHandlerInitialized does not catch any error.
If updateChannels throws an exception, the job will stop to be scheduled.
##

[2016-07-13 15:30] actong opened #1117 "Lutron binding: add automatic discovery of things for RadioRA2"
Add automatic discovery of RadioRA2 repeaters and attached things.

[2016-07-13 16:29] actong opened #1118 "Lutron binding: support Caseta Smart Bridge Pro"
The Smart Bridge Pro (but not Smart Bridge) includes a telnet integration option that is similar to what other Lutron product lines use.  Some modifications to the binding are necessary in order to get it to talk to the Smart Bridge Pro.
##

[2016-07-13 17:24] actong opened #1119 "Lutron binding: add support for window shades"
Enhance binding to support a window shade thing type.
##

[2016-07-14 10:59] reyem opened #1121 "POPP Z-Weather"
Hi Chris,

I was just trying to migrate from openhab1 to 2. In OH1 my POPP Z-Weather works ok. But in OH2 it is not recognized. Although your online database contains Z-Weather, it does not correspond in the manufacturer and other ids. Here the node.xml written by OH2

[node16.xml.txt](https://github.com/openhab/openhab2-addons/files/363513/node16.xml.txt)

Let me know on how I can contribute best

[2016-07-14 12:13] cdjackson commented on #1121
This is in the database, but as there are some new channels required I've not included it into the binding yet. I'll take a look over the next few days.

[2016-07-14 12:36] reyem commented on #1121
OK cool. I just noticed that the manufacturer id is reported as 0x0115 which maps to ZWave.me. Also in my OH1 installation the device is listed as Zwave.me device, although it is actually from POPP. But the device works ok. So this is rather a cosmetic issue which can probably not be resolved.

[2016-07-14 13:18] reyem commented on #1121
Just one note. I saw the device listed twice in the database.
1.)  Manufacturer Zwave.me: http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/258
2.) Manufacturer POPP_NEW: http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/234

The first is the one which I would expect for my sensor...

[2016-07-14 14:28] cdjackson commented on #1121
If it has been marketted by two manufacturers, then it needs to go in twice - I'll try and get them both into the binding.

Thanks.

[2016-07-14 17:15] kgoderis commented on #1103
@svilenvul The problem seems to very random after restarts of the runtime and so forth. logging, even in TRACE, is quite limited, so maybe you could add some more relevant TRACE points in the code to further investigate the issue?

[2016-07-15 02:44] mhilbush opened #1125 "[astro] Positional job not starting"
This was noticed in build 407.  Not sure if it is related to the ESH fix for the intermittent binding startup issue.

Debug log shows daily job starting, but not the positional job (which should run every 5 minutes by default) for Azimuth and Elevation.

[code]

[2016-07-15 05:52] kaikreuzer commented on #1125
The latest change on the Astro binding in this regard was https://github.com/openhab/openhab2-addons/pull/1079.

@gerrieg Could you have a look at this issue, please?

[2016-07-15 15:04] lumachan opened #1126 "my.openHAB still persist data"
I would like to disable openHAB 2 My.openHAB persistence.

By default, it's enabled. So I have created a myopenhab.persist file. Empty or not, the binding still persist data.

See https://community.openhab.org/t/my-openhab-org-myopenhab-persist/9387 and https://community.openhab.org/t/myopenhab-persistence/11577

Thanks
##

[2016-07-15 15:22] RichardPasmans commented on #503
Same issue here:

`17:12:22.443 [WARN ] [.binding.knx.internal.bus.KNXBinding] - Ignoring local Event, received from my local Source address 0.0.0 for Group address 1/1/41.`

@joltcoke Did you try alternating between multicast address and the IP address of your gateway?

In the KNX.cfg you can set
`ip=`
and/or
`localIp=`

However, if I fill in the `ip=` the LAN IP (192.x.x.x) an error pops up in t

[2016-07-15 19:53] lolodomo opened #1128 "RFXCOM binding: NPE at initialization"
I have a bridge and 3 things.
A null pointer exception occured for each thing at startup with recent snapshots (is OK in beta 3)::
[code]

[2016-07-16 11:08] lolodomo commented on #1125
@gerrieg : if you make a change, set quartzScheduler and schedulerFuture to null in the constructor of AstroThingHandler.
I noticed that sometimes the thing remains in state INITIALIZING at startup and even if I am not sure it may be the reason.

[2016-07-16 14:55] mhilbush commented on #1125
Oddly, it seems to work when running from within the IDE.

[2016-07-16 19:43] gletellier commented on #1125
Hello,
Same issue for me. I am only able to get the positional job started by removing the Astro thing and adding it back with PaperUI.

[2016-07-16 20:36] lolodomo commented on #1128
Fixed by PR #1129

[2016-07-16 20:36] #1128 closed

[2016-07-16 20:39] lolodomo commented on #1116
@clinique Hi Gael, could you take a look to that and maybe add a little change to your PR #1099 ?

[2016-07-17 03:01] mhilbush commented on #1125
In my comment above, I reported that the problem does not occur when running in the IDE.

As a next step, I rebuilt the binding with a few additional debug logging statements.  When I deployed the new astro jar file into my system, the Positional job started correctly.

Here's what I did.  Please let me know if I did something wrong.

I did this on the Windows box where I have the IDE installed:
-

[2016-07-17 07:53] kaikreuzer commented on #1125
Well, very likely a startup order issue - the binding should be ok with being started early, but it doesn't seem to be the case. Log files with ESH debug on will help analyzing such problems.

[2016-07-17 11:35] mhilbush commented on #1125
Attaching a log file with debugging enabled for:
- org.eclipse.smarthome
- org.openhab.binding.astro

The astro binding startup is at the end of the log file.

[astro-debug-2016-07-17.txt](https://github.com/openhab/openhab2-addons/files/367801/astro-debug-2016-07-17.txt)

This section of code in restartJobs is not being executed because `linkedPositionalChannels` is 0.  When I run openHAB with th

[2016-07-17 12:10] cdjackson commented on #1121
This is now merged - give tomorrows binding a try and let me know how it goes...

[2016-07-17 12:35] kaikreuzer commented on #1125
That's a good observation. With linkedPositionalChannels, the astro binding makes the assumption that `channelLinked` is called for all channels after the handler is initialized, but this seems to be a false assumption in case the handler comes after the links.

[2016-07-17 12:48] kaikreuzer commented on #1125
Ok, having read the ESH documentation, I think it is indeed a bug in the framework, not in the binding, see https://github.com/eclipse/smarthome/issues/1871.

[2016-07-17 13:25] mhilbush commented on #1125
Thanks for tracking this down!

Can I infer from this that putting the binding in the addons directory had the effect of causing the handler to be initialized before the links?

[2016-07-17 17:21] gletellier opened #1131 "[milight] sendcomand from rule is mixing channel"
I am experiencing strange behaviour of the milight binding.
I have RGBW bulbs and use all 4 channels of my bridge

Here's my item file :
[code]
Everything works fine with the milight app, as well as when using colorpicker widget to control it.

Yet, when trying to control it inside a rule, I have a strange behaviour : I see additional command targeting channels that should not be touched by the ru

[2016-07-18 09:39] kaikreuzer commented on #1125
I cannot tell - it sounds as if it should actually be the other way round, but only a detailed bug analysis will tell...

[2016-07-18 12:58] michaeljoos72 opened #1133 "Sonos Alarm Channel not working"
Hi

Tried to use this channel for a Sonos Play1:
**Alarm is running (Set to ON if the alarm was triggered)**

The status never changes to ON. All other channels are working except this.

A known issue?

Thanks
Michael

[2016-07-18 13:16] kaikreuzer commented on #1133
Not known to me.
As the Sonos code is maintained at ESH, may I ask you to enter the issue at https://github.com/eclipse/smarthome/issues? Thanks!

[2016-07-18 13:16] #1133 closed

[2016-07-18 18:38] edsonaj commented on #929
Hi @beowulfe ,

Any news on this? If you need any test, feel free to contact me.

Also I don't know what you plan to do, but if possible a simple startup delay with the time set in the .cfg will work for me.

Thanks,

[2016-07-18 22:42] reyem commented on #1121
Hi Chris,

Now it seems to work correctly and my Z-Weather is detected and identified. Thank you a lot for the fast handling.

There was an NPE in the log. No idea if it is related, but I think I post it here so you might have a look. But it did not cause any obvious effects....

`2016-07-19 00:35:04.079 [INFO ] [marthome.event.ItemStateChangedEvent] - zwave_device_155e646c9e4_node4_sensor_binary

[2016-07-18 22:42] #1121 closed

[2016-07-19 03:54] beowulfe commented on #929
Not really. Someone with access to the actual spec reached out and pointed out an issue - the advertisement the bridge makes has an integer that needs to be incremental with each revision to the list of included accessories. In this case, when iOS sees the accessory list changed without a change to this sequence, it assumes the bridge was reset and treats it as new.

This is a bit at odds with ope

[2016-07-20 06:09] planbnet opened #1137 "NPE in netatmo binding"
I get a NullPointerException during thing initialization for the netatmo binding. Seems like the affected line loads signal level strings from a properties file and tries to split this string (which of course fails if it cannot be loaded). Could this be related to missing translation of the signal levels?

[code]
##

[2016-07-20 14:36] kaikreuzer commented on #1137
@clinique Could you have a look, please?

[2016-07-20 14:37] kaikreuzer commented on #1008
@gerrieg Could you have a look, please?

[2016-07-20 14:38] #967 closed

[2016-07-21 03:23] #988 closed

[2016-07-21 03:58] freejoule opened #1139 "Add Kichler Lighting - LED Landscape controller to Z-Wave database"
Hi @cdjackson ,
Sorry if I'm not posting in the correct place.  I tried [here ](http://www.cd-jackson.com/index.php/zwave/z-wave-device-database/)but no luck finding the tools button.

I have a Kichler Lighting - Design Pro LED Controller for landscape lighting control I would like to add to the OH2 Z-Wave database.  This is a 4-zone power supply/transformer for low voltage LED landscape lights. p

[2016-07-21 07:05] clinique commented on #1137
@kaikreuzer , I'll have a look.

[2016-07-21 08:59] #1074 closed

[2016-07-21 12:40] edsonaj commented on #929
@beowulfe Sure, when you have something send it to me.

[2016-07-21 14:27] gerrieg commented on #1008
@Nestrius
Seems to be a issue with some metadata. Please switch the binding to trace mode and send me a full startup log file
[code]

[2016-07-21 23:48] milty456 opened #1142 "EcoLink Door Contact DWZWAVE2 not working"
I am unable to get this to work in openhab.
If i load up openzwave, I can see the sensor opening/closing fine
In open hab, my item stays Uninitialized.
It looks like the battery item comes over eventually
However the Contact Item never gets set.
I am using zwave and 26:Command=basic for my item binding string
Everything i read leads me to believe it is correct.  I am lost please help
I'm using ver

[2016-07-22 06:28] #1103 closed

[2016-07-22 08:02] cdjackson commented on #1142
I suggest you discuss this on the forum. Since this is an Oh1 question it also shouldn't be raised in the Oh2 repo.

[2016-07-22 08:02] #1142 closed

[2016-07-22 14:58] macsito07 commented on #945
Any documentation on how to install gpio binding in openhab2?

[2016-07-23 17:38] ThomDietrich commented on #1020
Hey! I can't help with the described problem, just wanted to tell you that I have been using homegear for 1-2 years and it's working great with openhab(2). If you're willing to sell your CCU2 and have homegear and openhab2 on the same Raspberry Pi, you can get a prepared image here: https://www.homegear.eu/index.php/Downloads

[2016-07-24 10:58] peuter opened #1150 "[ERROR] [core.karaf.internal.FeatureInstaller] - Failed installing 'openhab-ui-coemtvisu'"
I see this error, when I start openhab2-beta3 (installed via apt repo):

[ERROR] [core.karaf.internal.FeatureInstaller] - Failed installing 'openhab-ui-coemtvisu': No matching features for openhab-ui-coemtvisu/0.0.0

Although the cometvisu bundles seem to be loaded, I get an 404 error when I try to open the CometVisu in the browser. Is there some typo in the feature definition, which could cause t

[2016-07-24 13:13] anantbhula opened #1151 "Discovery Failed"
Hello,
After re-installing the OH2 from scratch and all the bridges, somehow my hue bridge is failed to discover any devices. I tried un-installing and installing bridge few times with pairing enable and disable but nothing seems to help at this moment.

[2016-07-24 14:42] sja opened #1152 "PaperUI: Invalid operation on a fragment"
I try to change my launcher to start PaperUI and it's OH2-Fragment from my workspace instead of the targetplatform.

But while startup, I get `Invalid operation on a fragment.`-Bundle Exception:

[code]

If I just not check the OH2-Fragment, PaperUI only, it seems to be started but is not accessible. The OSGi-Console marks it as _ACTIVE_, but neither a Tile nor `/ui/index.html` is accessible (404)

[2016-07-24 16:02] kaikreuzer commented on #1151
Please use our discussion forum for support: http://community.openhab.org/ Thanks!

[2016-07-24 16:02] #1151 closed

[2016-07-24 17:08] Nestrius commented on #1008
Hi gerrieg,

I reinstalled openhab2 from scratch and had the same Problem. Here is the LogFile. Hope you can find the problem.

[openhab.zip](https://github.com/openhab/openhab2-addons/files/380379/openhab.zip)

[2016-07-25 06:04] lolodomo commented on #1133
@michaeljoos72 : for your information, I proposed a PR fixing this issue and others.

[2016-07-25 06:53] kaikreuzer commented on #1152
Not that neither the Paper UI nor its fragment is maintained in this repo.
It is better to discuss issues about your IDE setup in [our community](https://community.openhab.org/).
Tip: For the Paper UI to work from the workspace, you need to have executed the Maven build on it first.

[2016-07-25 06:53] #1152 closed

[2016-07-25 07:20] maggu2810 commented on #1150
I assume there could be a type (oem instread of ome).

[2016-07-25 07:23] maggu2810 commented on #1150
I assume it will work if you are using a more recent snapshot. I do not find a typo there anymore (in the sources).

[2016-07-25 07:59] sja commented on #1152
Ok, sorry, I thought the fragment is hosted here.

Von meinem Toaster gesendet

[2016-07-25 08:27] kaikreuzer commented on #1150
just tested the latest snapshot, all is fine there.

[2016-07-25 08:27] #1150 closed

[2016-07-25 09:41] lolodomo commented on #1113
This enhancement is now implemented by merged PR #1127.

[2016-07-25 09:41] #1113 closed

[2016-07-25 15:06] gerrieg commented on #1008
Can you please try this build: [Download](https://drive.google.com/file/d/0Bw7zjCgsXYnHVEQ0d3czYUNzbEU/view?usp=sharing)

If it does not work, i need a new trace log with this version please.

[2016-07-25 16:29] Nestrius commented on #1008
So I replaced the file at (/ openhab / runtime / karaf / system / org / openhab / binding / org.openhab.binding.homematic / 2.0.0-SNAPSHOT /) and started the OpenHab back up again. Then I retried the discovery. Here are the Logs. Can I help in any other way?
[25_7_2016_build.tar.gz](https://github.com/openhab/openhab2-addons/files/381984/25_7_2016_build.tar.gz)

[2016-07-26 07:18] gerrieg commented on #1008
Hmmm ... are you sure, that the new binding is active? Here is another one with an additional log statement, so that we can see if the new binding get's loaded: [Download](https://drive.google.com/file/d/0Bw7zjCgsXYnHQl9yemdKTUNUdms/view?usp=sharing)

[2016-07-26 08:30] #659 closed

[2016-07-26 17:47] Nestrius commented on #1008
Cool now it works. I think I had to uninstall and than install the Binding again so that it works!
Thank You gerrieg!

[2016-07-26 17:47] #1008 closed

[2016-07-26 19:37] johannrichard commented on #1139
@cdjackson the Manufacturer (Kichler Lighting, ID 0114) is currently missing, and I have only edit rights on the devices, otherwise I'd be happy to upload and add the device to the Database.

@freejoule you have to specifically ask for edit access (by mail) to be able to submit yourself. Once you have this access, adding the device is a breeze.

[2016-07-26 19:45] cdjackson commented on #1139
@johannrichard thanks. Sorry - I missed this.  I've just added Kichler to the database.

@freejoule I've also given you edit access to the database.

I've also loaded your XML and it's created the device in the database. I don't know if there are configuration and association information supported - it would be good to get a manual uploaded and any config parameters added... Anyway - you have acce

[2016-07-26 19:45] cdjackson commented on #1139
Link to database -:
http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/391

[2016-07-26 19:58] cdjackson commented on #1139
I found the manual and loaded it to the database. It doesn't seem to indicate that there are any config parameters so I'll add this to the binding as it is.

[2016-07-26 21:23] lolodomo opened #1154 "Astro binding: Unable to store Job"
Using offline distro 426, sometimes I got this error at startup:
[code]
The thing remains in INITIALIZING state.

[2016-07-27 04:01] beowulfe commented on #929
@kaikreuzer - started working on this - it's a race between the iOS client connecting and the items model being loaded. iOS drops metadata if it can't find the accessory in the bridge.

I'm having a hard time identifying when the model is fully loaded. I thought I'd get this from ItemRegistryChangeListener.allItemsChanged, but it doesn't seem to be getting called - instead, the added() method is c

[2016-07-27 07:24] kaikreuzer commented on #929
Sounds as if you might be interested in https://github.com/eclipse/smarthome/issues/1896.

[2016-07-27 07:32] kaikreuzer commented on #1154
@gerrieg I saw this once as well - could you have a look?

[2016-07-27 12:49] ThomDietrich opened #1156 "Network binding: port parameter lacks clarity"
@mettke @davidgraeff

The [Network binding documentation](http://docs.openhab.org/addons/bindings/network/readme.html#thing-configuration) is not clear on the true nature of the `port` parameter. Without further studying the source code I expected it to be an option to probe some random other service for a response (http, ftp, ...), which would be amazing but doesn't seem to be the case. In fact e

[2016-07-27 13:43] beowulfe commented on #929
Yep, that's exactly what I need! I'll follow that issue.

[2016-07-27 23:04] johannrichard opened #1157 "Add Aeon DSC17 definition to zwave binding"
It would be great if you could add the (updated) DSC17 device definition to the binding at some point.

It's http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/81 in the database.

Since my initial edit, I've added the engineering sheet and updated the associations which, if I am not mistaken, point to node1 / the controller.

[2016-07-28 11:34] cdjackson commented on #1157
I'll do a database update tonight.

[2016-07-28 13:40] davidgraeff commented on #1156
Actually the binding should open a tcp connection if a port is set, it's a bug otherwise

[2016-07-28 16:11] acseven opened #1158 "Z-Wave binding in openhab/openhab-syno-spk"
Hi,

I'm using OpenHAB2 pre-release from **openhab/openhab-syno-spk**, and I'm struggling to understand (beginner... ) why some devices are present here in the addons but not in that package.

Basically I have these devices on my network:

- Aeon Labs/AEOTEC Z-Stick Gen5 USB Z-Wave Controller
- Fibaro Roller shutter controllers FGR221
- Fibaro Roller shutter controllers FGRM222

Only the last one

[2016-07-28 16:16] cdjackson commented on #1158
I don’t know if the SPK package is built nightly or not, but the database is embedded into the binding, so you need to have the latest one to get the latest database.

However, there is also an issue with the system at the moment in that under some circumstances a device will show as unknown. It’s linked to this issue in ESH -:
https://github.com/eclipse/smarthome/issues/1791 <https://github.com/e

[2016-07-28 16:24] acseven commented on #1158
Thanks for your help. The package is downloading this file during installation:
`https://bintray.com/artifact/download/openhab/mvn/org/openhab/distro/openhab-offline/2.0.0.b3/openhab-offline-2.0.0.b3.zip`
The thing is, I don't know if the setup process is broken or not. In any case, I should find two Fibaro roller shutter devices listed on your database, but there's just one:
![scrn](https://cloud

[2016-07-28 16:25] acseven commented on #1158
Oh, and I can't find any entry for the Z-Stick Gen5:

![scrn2](https://cloud.githubusercontent.com/assets/1176371/17220698/4d6aeb00-54e8-11e6-9fca-168a77fb6a73.png)

[2016-07-28 16:27] cdjackson commented on #1158
So the b3 version is quite old now and will definitely be out of date for the database.

What you can try is to download the latest JAR from cloudbees. The log on to the console, type “list |grep ZWave” and the stop the bundle (stop and then the bundle number). Then drop the new JAR into the addons folder.

[2016-07-28 16:28] cdjackson commented on #1158
There is no entry for the gen5 stick - use the serial controller.

[2016-07-28 17:12] acseven commented on #1158
Yeah, I have yet to find how to access openhab's console on my setup. In any case, I found the bindings stored here:
`/volume1/@appstore/OpenHAB2/runtime/karaf/system/org/openhab/binding/`

Got `openhab2-offline-2.0.0-SNAPSHOT.deb` from [cloudbees](https://openhab.ci.cloudbees.com/job/openHAB-Distribution/) and following the same folder structure, copied the `org.openhab.binding.zwave-2.0.0-SNAPSH

[2016-07-28 17:16] cdjackson commented on #1158
I don’t think you can simply change the list of bindings like that - Karaf keeps a cache of running bindings, so messing around with the store will very likely not change the running binding.

[2016-07-28 18:14] acseven commented on #1158
Ok, finally found how to access the console. In my case, within the NAS terminal session: `ssh karaf@127.0.0.1 -p 8101`

[code]
With a little [doc reference](http://docs.openhab.org/administration/bundles.html) I tried to get bundle 196 running, but it threw out this error:

[code]

Would other bundles should need updated versions as well?

[2016-07-28 18:31] vespaman opened #1160 "Force manual delete of zwave controller nodes"
The node list of a stick e.g. Aeon Gen 5 can be out of sync after a while, especially in a large network with lots of exclusions/inclusions. This issue is a request for adding support to remove such old garbage from the zwave stick.

[2016-07-28 18:32] cdjackson commented on #1158
As stated earlier, you need to stop the currently running bundle first - you can’t have two bindings running at the same time.

[2016-07-28 18:33] acseven commented on #1158
It is stopped, sorry for not mentioning it:

[code]

[2016-07-28 18:37] cdjackson commented on #1158
Ok - maybe it needs to be uninstalled, not just stopped.

[2016-07-28 19:26] acseven commented on #1158
You're right, that made it start:
[code]

And finally there's some visible progress, thanks very much!
![scrn5](https://cloud.githubusercontent.com/assets/1176371/17226435/5a545356-5501-11e6-9563-5e1e70836154.png)

The older FGR221 roller shutter controllers do have a limitation though: they don't have a percentage selector like  the FGRM222. Using the Paper UI interface you can actually set it to

[2016-07-28 19:31] cdjackson commented on #1158
No problem - glad it’s working.

[2016-07-28 19:32] #1158 closed

[2016-07-29 13:48] kylegordon opened #1163 "RFXCom fails to communicate after detection"
After installing the latest snapshot of OpenHAB2 and installing the RFXCom binding from the UI, it detects my RFXCom 433 transceiver on /dev/ttyUSB0 but then fails to communicate with it.

I've obtained the following log entries

2016-07-29 14:41:37.788 [INFO ] [g.discovery.internal.PersistentInbox] - Added new thing 'rfxcom:RFXtrx433:A1WRPEJT' to inbox.
2016-07-29 14:42:48.696 [INFO ] [ernal.conn

[2016-07-29 13:53] #1157 closed

[2016-07-29 13:53] johannrichard commented on #1157
Thanks!

[2016-07-29 14:34] cdjackson commented on #1160
The network update to synchronise the primary controller with secondary controllers via the SUC is now implemented - this won't allow the device to magically know about devices that have been removed through other means - for this you need to use the functions already in the binding to remove devices.

[2016-07-30 02:45] robschoon commented on #1043
Does anyone know of a work-around for this bug? Need to change the polling for a few zwave things.

[2016-07-30 08:34] gerrieg commented on #1154
Hard to identify if it happens only occasionally. The code looks good, all jobs in the jobGroup (thingID) are removed before they are scheduled.

[2016-07-30 09:03] cdjackson commented on #1043
It looks like ESH has decided to change this to use BigDecimal so I'll update the binding to do the same.

[2016-07-30 09:41] #1043 closed

[2016-07-30 09:41] cdjackson commented on #714
This is implemented (I think!). I recently implemented an option to synchronise the network with other controllers - this will send a request to the SUC to download any updates to the network.

I think this is what you are looking for?

#1162

[2016-07-30 09:42] #1160 closed

[2016-07-30 09:43] cdjackson commented on #1139
This is now in the binding

[2016-07-30 09:43] #1139 closed

[2016-07-30 09:48] cdjackson commented on #739
This is already included in the binding

[2016-07-30 09:48] #739 closed

[2016-07-30 09:51] cdjackson commented on #819
I hope / think that this is fixed with the changes to the startup - certainly this issue has gone away on other bindings after this change.

I'll close this - feel free to re-open if it still exists.

[2016-07-30 09:51] #819 closed

[2016-07-30 09:52] cdjackson commented on #814
I think this is fixed with the updates to the bundle initialisation in ESH

[2016-07-30 09:52] #814 closed

[2016-07-30 09:55] cdjackson commented on #858
Fixed by https://github.com/eclipse/smarthome/issues/1440

[2016-07-30 09:55] #858 closed

[2016-07-30 10:06] cdjackson commented on #801
Closing - if this still exists, please re-open with an updated log as the binding has changed quite a bit since this was opened.

[2016-07-30 10:06] #801 closed

[2016-07-30 10:07] cdjackson commented on #850
No activity so closing for now.

[2016-07-30 10:07] #850 closed

[2016-07-30 10:17] #1106 closed

[2016-07-30 10:25] mettke commented on #1156
@ThomDietrich
Unfortunately I can't see the problem you are describing. As you can see at

https://github.com/eclipse/smarthome/blob/e0985e90d389350580e59bfbcd7e0adaaccf7519/bundles/model/org.eclipse.smarthome.model.script/src/org/eclipse/smarthome/model/script/actions/Ping.java

the functionality of Ping is to create a Socket when the Port number is greater than zero. So it should be easily possi

[2016-07-30 17:57] ThomDietrich commented on #1156
Thanks for the clarification! Let me show you some finding:

[code]

There seem to be some problems:
* In regards to (*1): a debug message is missing
* In regards to (*2): It's not clear that <use_system_ping="false"> overrules the port parameter completely. Wise? Documentation needed!
* In regards to (*2): Even though ICMP ping is used, the DEBUG message states "port '8888'", which is incorrect
*

[2016-07-31 11:05] cdjackson commented on #1016
I'm not completely sure where this is at. I think we resolved the original issue so let's close this and if there are still outstanding issues then please open a new request [in the new Z-Wave repository](https://github.com/openhab/org.openhab.binding.zwave/issues).

[2016-07-31 11:05] #1016 closed

[2016-07-31 11:06] cdjackson commented on #902
Closing for now. Once we have the secure class support in OH2 we can revisit this.

[2016-07-31 11:06] #902 closed

[2016-07-31 11:07] cdjackson commented on #894
I'm not sure where we are with this one. If there are still open points then please open a new issue [in the new Z-Wave repository](https://github.com/openhab/org.openhab.binding.zwave/issues).

[2016-07-31 11:07] #894 closed

[2016-07-31 11:08] cdjackson commented on #791
Can we open a new issue [in the new Z-Wave repository](https://github.com/openhab/org.openhab.binding.zwave/issues) for any outstanding issues on this clearly identifying what is still not working.

[2016-07-31 11:08] #791 closed

[2016-07-31 11:09] cdjackson commented on #770
I propose we close this until the security classes are supported. This may also be resolved once the notification class is merged (soon I hope).

[2016-07-31 11:09] #770 closed

[2016-07-31 11:10] cdjackson commented on #714
Going to close this as we're moving home and I think it's resolved. If there's further work then please open a new issue [in the new Z-Wave repository](https://github.com/openhab/org.openhab.binding.zwave/issues).

[2016-07-31 11:10] #714 closed

[2016-07-31 11:11] cdjackson commented on #1037
@yp87 did we resolve this one or are there still issues (I forget if I looked over your logs). If the problem still exists let me know otherwise I'll close this.

[2016-07-31 12:22] cdjackson commented on #996
Moved to https://github.com/openhab/org.openhab.binding.zwave/issues/2

[2016-07-31 12:22] #996 closed

[2016-07-31 12:23] cdjackson commented on #999
Transferred to https://github.com/openhab/org.openhab.binding.zwave/issues/3

[2016-07-31 12:23] #999 closed

[2016-07-31 12:39] paulianttila commented on #1163
@kylegordon: this is a know problem. Both Linux and OS X have native drivers for FTDI based devices, which prevent JD2XX connections to work (discovery works, but connection not). See more information and work around from the forum https://community.openhab.org/t/rfxcom-2-0-binding/4427/5.

[2016-07-31 12:46] yp87 commented on #1037
Hello @cdjackson,

I just tried the latest version of the binding and I am still missing brightness level updates.

About the double/triple tap, I added a one liner in your binding to send scene+time as the scene update. This let me handle these events correctly in my rules.

Thanks!

[2016-07-31 12:51] cdjackson commented on #1037
Thanks.

Ok - so I'll close this - can you open a new issue in the new repository for the brightness?

https://github.com/openhab/org.openhab.binding.zwave

Feel free to reference this if you like.

[2016-07-31 12:51] #1037 closed

[2016-08-01 10:54] davidgraeff commented on #1156
I'm travelling right now so cannot commit anything in the near future i suppose. In my opinion a custom Port should Overwrite the system ping setting.

[2016-08-01 11:27] ThomDietrich commented on #1156
I think so too. In the mean time I've updated the documentation to describe the current state, this can quickly be changed.
Maybe the combination of system ping *and* custom port should even be disencourage by a warning (but still accepted by the algorithm)!?

[2016-08-01 12:27] kylegordon commented on #1163
@paulianttila Many thanks for the information! I now have it working :+1:

One thing to note is that it failed with by-id naming, so instead of the persistent /dev/serial/by-id/usb-RFXCOM_RFXtrx433_A1WRPEJT-if00-port0 name I had to use the ephemeral /dev/ttyUSB0

My RFXCom devices are now all filling up the inbox. I should deal with that :-D

Closes #1163

[2016-08-01 12:27] #1163 closed

[2016-08-01 12:33] lolodomo opened #1170 "Freebox binding: bridge thing remaining sometimes in INITIALIZING state"
Unfortunately, the PR #1127 seems to not have fixed fully the initialization problem.
With recent builds (432), I can sometimes see the bridge thing remaining in INITIALIZING state at startup.

[2016-08-01 17:37] tmrobert8 opened #1171 "New Atlona binding"
I've written a full binding for Atlona PRO3 hdbaset matrix switches that works great on mine.  Trying to figure out the procedure to contribute it and this seems the first step (according to https://github.com/openhab/openhab-distro/blob/master/CONTRIBUTING.md).  Never used github before so the next steps are a bit murky - any advice would be great (otherwise I'll be muddling my way through the do

[2016-08-01 21:49] mccaffm commented on #805
ive also tested 805 branch and all is looking good, all my modules internal, external, wind and rain work as before, but more importantly for me thermostat and its relay are now online and reporting data.

[2016-08-02 01:31] davidgraeff commented on #1156
The system ping thing only exists because of the bad internal java implemenation. The user shouldn't be bothered here. I even suggest to not let the user choose between system/java ping. I propose this:

On Startup --> Test if system ping works (by pinging a local address).

Use system ping for default, use the java ping for fallback, use a tcp connection if a port is set.

[2016-08-02 09:26] lolodomo commented on #1154
@gerrieg  @kaikreuzer : restartJobs() is called in initialize() and in linkedChannelChange().
Maybe a problem of concurrent access ?

[2016-08-02 10:09] kaikreuzer commented on #1171
Hi Tim,

Thanks for your efforts!
The second step would be to make sure that your code respects [our guidelines](http://docs.openhab.org/developers/development/guidelines.html).
If you think all looks good, you can go ahead and create a pull request. This is fairly easy, all you need is to have a branch in your own fork on github that contains your code. The Github UI will then directly show you a

[2016-08-02 18:43] yktoo commented on #625
@lolodomo Which port did you specify here?

I'm struggling with the same issue, I have added an "RFXCOM USB Transceiver" thing manually, and specified `/dev/ttyUSB0` as its serial port, yet I'm still getting these errors:

    [ERROR] [g.rfxcom.handler.RFXComBridgeHandler] - Connection to RFXCOM transceiver failed: invalid port

`openhab` has been added to the group `dialout`.

[2016-08-02 19:07] lolodomo commented on #625
Yes, you have to choose "RFXCOM USB Transceiver" and set the port to /dev/ttyUSB0 (the right serial port if you have several serial connections).

[2016-08-02 19:09] yktoo commented on #625
Nevermind, nailed it.

The problem was that I followed the suggestion to include ports explicitly with

    EXTRA_JAVA_OPTS="-Dgnu.io.rxtx.SerialPorts=/dev/ttyACM0,/dev/ttyUSB0"

Which was NOT a right thing to do. I've removed everything between the quotes and voila, it's up and running!

[2016-08-02 21:24] lolodomo opened #1173 "my.openHAB Connection Service failed to build"
[code]

[2016-08-03 06:44] kaikreuzer commented on #1173
Fixed by https://github.com/openhab/openhab2-addons/pull/1174.

[2016-08-03 06:44] #1173 closed

[2016-08-03 07:24] kaikreuzer commented on #1173
FTR: The build still isn't succeeding, which is due to https://github.com/eclipse/smarthome/pull/1872#issuecomment-237042123 and needs to be fixed on the ESH side.

[2016-08-03 07:30] lolodomo commented on #1170
@kaikreuzer : there is not a lot of code run in initialize() (of the bridge) but at least one HTTP call.Could it explain that the thing remains in INITIALIZING state ???
I can move this code to a thread and finally do nothing at all in initialize() but could the thing manager be updated to reduce a little this constraint ?

[2016-08-03 08:12] kaikreuzer commented on #1170
I have no clue. From the code it looks as if in any case an updateStatus() is called right away, so I do not know why this does not happen. Only debugging will help, I guess...
Do you see this happening in the IDE as well or only in the distro? How often does it occur?

[2016-08-03 16:58] tmrobert8 commented on #1171
Well - did something wrong I think.  Forked it to tmrobert8/openhab2-addons with 1171-atlona branch but when I try to create a pull request across forks - it's not listed anywhere.  Any help would be appreciated...

[2016-08-03 19:30] tmrobert8 commented on #1171
Nevermind - I think I figured it out and submitted the pull request

[2016-08-03 20:24] kaikreuzer commented on #1171
Indeed :-)

[2016-08-03 20:24] kaikreuzer commented on #1171
FTR: https://github.com/openhab/openhab2-addons/pull/1176

[2016-08-04 15:59] gerrieg commented on #1154
@lolodomo
yes, that's it. Thanks for the hint!

[2016-08-04 16:11] kaikreuzer commented on #1154
Fixed through https://github.com/openhab/openhab2-addons/pull/1178.

[2016-08-04 16:11] #1154 closed

[2016-08-05 09:02] lolodomo opened #1179 "Astro binding: thing remains in INITIALIZING state"
Often at startup my astro thing remains in INITIALIZING state.
No error in logs.
Hint: code in initialize() that takes too much time ?
##

[2016-08-05 13:16] lolodomo commented on #1179
I really see nothing in the code that could explain the problem !

[2016-08-07 08:24] sanjaytamakuwala commented on #412
Hi jrcourtois,

I am a New Beginner in OpenHAB and I have created the Enocean.items file for the Enocean Switches and it is getting detected very well but when I am trying to control the Blinds, I am not able to.

FYI...
I have used Your Rules file for My project as I do not have any Idea about how to set a Rulel!!
I am getting the following Errors while using Your Rule file:
2016-08-07 13:38:48.1

[2016-08-07 08:26] sanjaytamakuwala commented on #412
Hi jrcourtois,

I am a New Beginner in OpenHAB and I have created the Enocean.items file for the Enocean Switches and it is getting detected very well but when I am trying to control the Blinds, I am not able to.

FYI...
I have used Your Rules file for My project as I do not have any Idea about how to set a Rulel!!
I am getting the following Errors while using Your Rule file:

[code]

Could You pl

[2016-08-07 10:37] bsutton opened #1181 "OpenHab 2 startup Could not resolved module ui.paper"
Could not resolve module org.eclipse.smarthome.ui.paper.

See the following error. The system appears to start just fine. Error makes me wonder if there are two separate singletons both trying to load the same module.
`
cat  userdata/logs/openhab.log
2016-08-07 18:05:04.944 [ERROR] [.glassfish.hk2.osgi-resource-locator] - FrameworkEvent ERROR - org.glassfish.hk2.osgi-resource-locator
org.osgi.fram

[2016-08-08 10:07] thopiekar commented on #850
Sorry for the late reply. The device is working good as far as I need it.
However here are the photos of the device.

![img_20160802_122145](https://cloud.githubusercontent.com/assets/1847437/17476377/182b81d6-5d60-11e6-9ddf-6e4e1e61b245.jpg)
![img_20160802_122154](https://cloud.githubusercontent.com/assets/1847437/17476409/3862c2f2-5d60-11e6-855c-c7956c41a797.jpg)
![img_20160802_122203](https://c

[2016-08-08 12:25] cdjackson commented on #850
These are generated automatically from the XML since the device reports a single and a multi instance switch. There's no-way to know that these are the same switch, so the database generates both. We could easily remove one.

[2016-08-08 19:33] mannes commented on #593
Not really working for milight rgbw bulbs on the current snapshot build #433
Autodetects the bridge well, light controls don't seem to work at all. When i touch the controls they either turn off, turn red or (when turned off) randomly flash white (maybe 100ms). Also white/nightmode toggle are missing in paperUI

[2016-08-08 19:58] hmerk commented on #593
@davidgraeff Could you please have a look at this issue and also #1131.

[2016-08-08 20:00] hmerk commented on #1131
Just informed the author to have a look into this.

[2016-08-08 21:37] mannes commented on #593
I have been trying with installing through paper, using through habmin has some better results.
+ on/off seems to work pretty well
- picking a color on the 'all' device often doesn't update all bulbs. I suspect the required delay between address and function message isn't long enough.
- No (functional) brightness setting or white/night mode.

is was looking at https://github.com/openhab/openhab2-a

[2016-08-08 22:00] hmerk commented on #593
@mannes what errors do you face running the 1.8.3 version on OH2 ? As there is nothin special, it should work, at least it does here.

[2016-08-08 22:20] mannes commented on #593
I've got the one 1.8.3 jar in the addons folder.

conf/services/milight.cfg
[code]
conf/items/milight.items
[code]
conf/sitemaps/default.sitemap
[code]
openhab log doesn't seem to say anything about milight, no error, but also no 'message sent' or anything

[2016-08-08 22:28] davidgraeff commented on #593
@mannes
* white/night mode isn't supposed to work with RGBW lights as far as I can remember (it is just not supported by the bulbs).
* sending a command to ALL bulbs is just one command to the bridge. The addon sends this just once, while the app is sending it repeatedly to make sure all bulbs receive it. Your bulbs aren't in proper range to the bridge, but we can imitate the behaviour of the app

[2016-08-08 22:32] davidgraeff commented on #593
@all: I just tested with the PaperUI. I do not use the thing definition file, but if the behaviour of those two differ from each other I consider this an OH or ESH bug

[2016-08-08 22:32] mannes commented on #593
I've got RGBW bulbs with nightmode and white mode, supported by the remote and a variaty of apps and shellscripts. All of them behaving as they should, range isn't the problem.

I found this in the logs when using the 1.8.3
[code]

[2016-08-08 22:39] mannes commented on #593
[code]
http://www.limitlessled.com/dev/

[2016-08-09 01:23] davidgraeff commented on #1131
@gletellier I can't reproduce this. I've looked through the code and there is also no obvious explanaition for your described behaviour. Code you test with the newest version of ESH and OH again, please? The error must be caused by the framework.

[2016-08-09 02:14] davidgraeff commented on #593
@mannes Could you open separate issues for each bug you encounter, please? Thanks for your findings, though. I've added a separate brightness channel for the rgbw leds and a switch channel for nightmode, too.

[2016-08-09 08:16] thopiekar commented on #850
Yes, this would be great :+1:

[2016-08-09 08:18] thopiekar commented on #850
Oh, and is there a way to read the parameters now? The position of the wheel you see above is provided by an parameter. At the moment I don't need the value/position, but it could be useful one day.

[2016-08-09 09:00] mannes commented on #593
@davidgraeff thanks for the fast fix. do i have to build your repo to test it? or could you supply me with a jar?

[2016-08-09 09:08] cdjackson commented on #850
No - there's no way to read parameters, and as stated earlier, it's not my intention to make every parameter available as a channel - otherwise we will have 'channel explosion' and I don't think it's good (databases will get very large and people will end up with thousands of items even with a small network!).

As discussed earlier, I don't see the need for the wheel to be readable dynamically - i

[2016-08-09 12:37] saperlot opened #1184 "[HomeKit] Color Support"
@beowulfe My Color Item acts like a Dimmer on Homekit, is there a way to change the color with Siri?
I know command like "set light blue" are supported by Siri. Do you know how you can support this by your wonderful homekit plugin?
Cheers
##

[2016-08-09 12:39] saperlot commented on #1184
May it is now supported by just the Hue's but probably there are enhancements with IOS10?

[2016-08-09 22:53] davidgraeff commented on #593
Just wait a few days for the changes to be applied to the main repository :) I'm traveling through NZ, so not beeing able to generate jars atm.

[2016-08-10 04:34] rocket59 opened #1185 "Harmony binding device labels disappear"
Per the title when a device/thing is first added a label can be successfully assigned. However if the thing is subsequently edited the label will simply disappear. When inputting a label when editing, the label will no longer 'take' either.

When an additional harmony device is added or one is edited the labels of other existing devices will also disappear.

[2016-08-10 14:06] mhilbush opened #1186 "Squeezebox binding not reconnecting after squeeze server restart"
The squeezebox binding is not reconnecting to the squeeze server following an outage or restart of the squeeze server.  This occurs when upgrading the squeeze server, applying OS patches that require a reboot of the host running the squeeze server, losing network connectivity, etc.  When this occurs, the server and player status becomes OFFLINE.  The only solution I found is to restart the binding

[2016-08-10 17:42] digitaldan commented on #1185
Yep I can see this as well, something is not right with how I;'m setting labels in general with this binding.  I'll take a look.

[2016-08-10 18:28] digitaldan commented on #1186
Thanks for the pr!  I will absolutely take a look and get back to you as soon as I can

[2016-08-11 01:21] rocket59 commented on #1185
Thanks!

[2016-08-11 01:21] rocket59 commented on #1185
Sorry, accidentally closed the issue.

[2016-08-11 23:16] digitaldan commented on #1186
Looks good to me, only one or two things I would comment on, why don't you go ahead and submit a PR and we can discuss on that.

I ported this over a while ago (and have not touched it since obviously!), since then there have been many changes to OH2/ESH which includes some formatter changes so I would not worry about it.

I have not yet tested it out yet, I'll do that my time tonight or tomorrow.

[2016-08-11 23:49] mhilbush commented on #1186
Ok.  Thanks, Dan.  I just submitted the PR.

[2016-08-13 11:20] mhilbush commented on #1125
With the installation of build 447, I can confirm that the positional jobs now are starting, presumably as a result of this fix:
https://github.com/eclipse/smarthome/pull/1890

I'm closing this issue.

[2016-08-13 11:20] #1125 closed

[2016-08-15 08:39] #1186 closed

[2016-08-20 07:57] rocket59 commented on #1185
Thanks for fixing this. Can I ask when will it find its way to the latest OH2 snapshot? I downloaded #452 today but the issue is still there.

[2016-08-20 10:56] mhilbush commented on #1185
Looks like there hasn't been an OH2 build in a few days.  Not sure why.

@kaikreuzer Will the next OH2 nightly build also include an updated ESH build?  There are quite a few ESH updates since the one included in the current OH2 build (since August 3, I think).

[2016-08-20 12:34] kaikreuzer commented on #1185
2 days to be exact. Simply because there were no code changes during that time.

Hopefully this weekend, yes. The ESH build was very unstable over the last 2 weeks, that's why I didn't trigger a stable one. As soon as a new one is there, I will communicate this at https://community.openhab.org/c/openhab-2/news-important-changes, so make sure you are subscribed to that category.

[2016-08-20 19:12] #593 closed

[2016-08-20 19:39] kaikreuzer commented on #1185
FYI: https://community.openhab.org/t/diverse-updates-from-esh/13427

[2016-08-20 22:54] thopiekar opened #1198 "[kostalinverter] PIKO discovery possible via Avahi/Zeroconf"
Just noticed that my Kostal inverter in the list of zeroconf devices, so it should be possible to add discovery to the binding:

[code]
##

[2016-08-21 05:29] crossfireprod commented on #1118
I believe all that should need to be done is echo the login credentials twice.  The integration protocol is otherwise the same, to my knowledge.

[2016-08-21 07:44] rocket59 commented on #1185
All labels working perfectly - thanks!

[2016-08-21 07:44] #1185 closed

[2016-08-21 09:01] lolodomo commented on #1170
Fix was merged.

[2016-08-21 09:01] #1170 closed

[2016-08-21 20:38] ploef opened #1199 "Milight openhab2 binding example config files"
Hi,

Because I'm frequently updating Openhab2 at the moment I realy would like to use the config files (items, things, eg.).
Could anybody help me out here? So where and how to configure the bridge and the different (RGBW) color groups?

Regards,
Peter
##

[2016-08-22 09:46] gletellier commented on #1131
Hello,

Thanks for looking at it. The problem seems to have been fixed by updating to latest snapshot of Openhab.

[2016-08-22 09:46] #1131 closed

[2016-08-22 18:30] cpparkin opened #1200 "ZWave Binding- Initialization Fails with CT101"
ZWave Initialization fails with CT101 Radio Thermostat, no nodeX.xml created.  Log file attached.
[openhab.txt](https://github.com/openhab/openhab2-addons/files/430884/openhab.txt)

[2016-08-22 19:52] cdjackson commented on #1200
Sorry, but can you move this over to the zwave tracker - it'll get lost if we leave it here.

https://github.com/openhab/org.openhab.binding.zwave/issues/new

[2016-08-22 19:52] #1200 closed

[2016-08-27 16:34] punkadiddle commented on #503
I see the same problem in my setup. I'm guessing it might have been the reason for my MDT Rollershutter actor freezing up. Hope that's solved now the messages don't get repeated.

[2016-08-28 13:55] Spilota opened #1206 "Pioneer AVR Binding: Zone 2 Control"
Has anyone looked at implementing Zone 2 control with the Pioneer AVR binding, or is it already possible?
##

[2016-08-28 21:34] sutyagin opened #1207 "max binding thermostat plus missing offset values"
Hi
There are seems to be missing temperature offset settings for thermostat plus valve. The normal thermostat is showing all settings but not for plus. The DEBUG logs are the same for both valves but Paper and Habmin not
##

[2016-08-29 22:08] lolodomo opened #1210 "Freebox binding: NPE in the jobs run by the phone thing"
I discovered in my logs the jobs (maybe one particular job) run by the phone thing are sometimes triggering a NPE..
The exception is catched so the job scheduling is not suspended and the problem has no real consequence in practice.
Unfortunately due to the exception catching, I have no hint of what could lead to this NPE.

[2016-08-30 19:01] riker187 commented on #1137
Hi,

similar thing on my config:

here my thing config:

`Bridge netatmo:netatmoapi:home [ clientId="blabla", clientSecret="blubblub", readThermostat=true, username="myname@gmail.com", password="xxxyyy"] {
        NATherm1 thermostat [ equipmentId="04:00:00:06:3C:02", parentId="70:EE:50:06:17:EA" ]
}`

but i get this error on reload:

`2016-08-30 07:45:43.413 [ERROR] [ome.core.thing.internal.Thing

[2016-08-31 20:02] tmrobert8 opened #1211 "Adding Grafik Eye 3x/4x support to Lutron Binding"
I'm adding Grafik Eye 3x/4x support (via GRX-PRG or GRX-CI-PRG interfaces) to the lutron binding
##

[2016-09-02 11:15] marcotglb opened #1214 "installed and used extentions become unavailable at OH"

[2016-09-02 11:20] marcotglb opened #1215 "installed extentions become unavailable after openhab2 restart"
I'm using an oh2 build of about August/10.
I've used the online flavor.

I can install or deinstall JSONPATH or REGEX (or other I can imagine) extentions using PaperUI
They work fine just after installation.

Then, if i restart OH2 I see the folowing messages in the log.
2016-09-02 12:02:39.723 [WARN ] [.core.transform.TransformationHelper] - Cannot get service reference for transformation service

[2016-09-02 12:15] #1214 closed

[2016-09-03 08:12] mccaffm commented on #754
any plans to address this in the short term @paulianttila

[2016-09-03 13:47] otbe opened #1216 "[samsungtv] Binding does not work properly with UE55H6290"
Hi everyone,

I try to use the samsungtv binding with my UE55H6290 and it works for some features. For example: I can control volume and the mute button, but I cant send arbitrary keyCodes. I try to send `KEY_CHUP` and  `KEY_CHDOWN` commands.

My samsung.items file:

[code]

Log output when sending `KEY_CHUP` via iOS App:

[code]

If I try to send this code through PaperUI (via control) the log me

[2016-09-03 16:31] kokossoppa opened #1217 "Harmony binding missing support for manual configuration"
The logitech harmony binding would benefit from support for manual (ip) configuration which is needed if the device is on a different network from the controller. In case broadcast messages are not allowed to pass the network barrier.
##

[2016-09-04 08:30] paulianttila commented on #1216
H model doesn't support remote control emulation protocol. This is also the reason why you see "not supported" error message when you try to control via Paper UI.

Nowadays OH support also dynamic channels, but this is not yet supported by the Samsung TV binding. All channels are "available", but only services which are discovered via upnp from the tv are really supported.

[2016-09-04 08:39] otbe commented on #1216
Thanks for your answer @paulianttila !

It would be interesting to know how [miTifi](https://itunes.apple.com/de/app/mytifi-fernbedienung-fur-samsung/id441912305?mt=8) solves this problem. This app allows me to control nearly everything: Timeshift, Input Source, Channels, Volume etc

[2016-09-04 10:08] paulianttila commented on #1216
@otbe if you enable debug logs for Samsung TV binding, you should see which UPnP services TV offers. Do you see something related to dial multiscreen?

Most probably miTifi use dial multiscreen protocol to control device. Maybe there is some kind of extension to control TV as well and miTifi have reverse engineered that.

Here you can find some discussion about it http://forum.samygo.tv/viewtopic.

[2016-09-06 19:19] sutyagin commented on #1179
I have the same issue.

[2016-09-07 05:59] lolodomo commented on #1179
Strangely after recompiling the binding with additional debug logs, I am now not able to reproduce the issue ! The problem is probably not obvious.

[2016-09-07 12:26] kaikreuzer commented on #1215
I just tried it with build 469 and cannot reproduce it. Transformation services are there also after a restart.

If your problem still exists, please open the issue at https://github.com/openhab/openhab-distro/issues (which is the better place for it). Thanks!

[2016-09-07 12:26] #1215 closed

[2016-09-07 12:27] #1117 closed

[2016-09-07 17:32] lolodomo commented on #1210
I finally catched the NPE:
[code]
The NPE is not in the binding itself but in the used library, probably when trying to opening a new session.
It occured around 6 times per day. Always the same job.
Will try to find a solution.

[2016-09-08 09:38] marcotglb commented on #1215
I reinstalled  a new build yesterday (Sept/8) and it is working fine now.
Thanks-

[2016-09-08 13:21] ertanden opened #1222 "Harmony Hub binding exception"
I'm getting the following exception periodicallay; Don't know what the problem is.

[code]
##

[2016-09-08 19:19] dobe77 opened #1223 "[astro] Positional job not starting"
Although issue #1125 as closed I still can reproduce the problem in build 447 and 469. Sometimes (maybe one out of 20 restarts) the positional job is started but in most of the cases the positional job is not started
##

[2016-09-08 19:21] dobe77 opened #1224 "With build 469 ios client does not work properly any more"
With build 469 the IOS client does not work properly any more. Any chart containing more than one item is empty and the roller shutter controls are shown only as buttons. The basic web ui is working properly and the IOS client was working with build 447

[2016-09-09 00:59] mdilger commented on #1223
I have the same issue with the positional job not starting after a restart of openHAB 2.

The only way I can currently get it to work is to uninstall and reinstall the astro binding after a restart of openHAB2.

I am running build 469 on Windows 7.

[2016-09-09 05:30] kaikreuzer commented on #1224
Right, this is the equivalent of https://github.com/openhab/openhab.android/issues/219 for Android.
I hope that this can soon be fixed and a new release being pushed out to the AppStore.

[2016-09-09 05:33] kaikreuzer commented on #1224
I moved this issue to the right place at https://github.com/openhab/openhab.ios/issues/85.

[2016-09-09 05:33] #1224 closed

[2016-09-09 23:36] tmrobert8 opened #1225 "New Russound Binding (RIO)"
A new Russound binding for all RIO compliant systems (C series, MCA series and X series)
##

[2016-09-10 11:12] otbe commented on #1216
Hi,

sorry for the late response had some busy days :/
I enabled debug mode for samsungtv binding and all what I get is:
[code]

[2016-09-11 14:47] itrahk opened #1226 "Fibaro System FGS223 - unknown device"
Hi I'm new to openhab so forgive me if I ask obvious questions. I've just connected Fibaro Double switch (FGS223) but it is discovered as Unknown Device - Z-Wave Node 2 (010F:0203:1000:3.2). I checked device database, and the device is there (http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/416). Should I do anything else to somehow refresh device dat

[2016-09-11 14:56] cdjackson commented on #1226
What version of the binding are you using?

Also, please note that this isn’t the right place to raise ZWave issues as there’s a separate zwave issue list …

https://github.com/openhab/org.openhab.binding.zwave/issues <https://github.com/openhab/org.openhab.binding.zwave/issues>

[2016-09-11 17:59] itrahk commented on #1226
Hi, I'm using "binding-zwave - 2.0.0.SNAPSHOT"

I didn't know there is special place for zwave issue (this one was in oh2 docs page), should I close it here and submit new one in proper place?

[2016-09-11 18:31] cdjackson commented on #1226
Yes - it would be better to move this to the correct issue list.

When you open the new request, can you state the actual version number (or the date or something). Every version ever made (well, nearly) has this number at the moment, so I need to know if you’re using the most recent version.

[2016-09-11 18:35] itrahk commented on #1226
How can I determine the actual version?

[2016-09-11 18:37] cdjackson commented on #1226
The easiest way is to log on to the console and use the list command.

[2016-09-11 18:56] itrahk commented on #1226
I've opened the issue in the proper place (https://github.com/openhab/org.openhab.binding.zwave/issues/88), thanks.

[2016-09-11 18:56] #1226 closed

[2016-09-14 07:30] lolodomo commented on #1223
This job is started only if you have certain channels linked and if channelLinked is called.
I remember now that during my tests I was surprised that channelLinked was not always triggered at startup.
@kaikreuser: can you explain in which cases channelLinked is called at dtartup and when it is not ?

[2016-09-14 07:33] kaikreuzer commented on #1223
Since https://github.com/eclipse/smarthome/pull/1890, channelLinked should always be called after the handler has been initialized.

[2016-09-14 08:30] lolodomo commented on #1223
Ok maybe I noticed that with a version without the fix you mention. Will check again.

One thing a little weird with this binding implemention is that each call to channelLinked will trigger a restart of all jobs. If you have for example 10 channels linked, it will be done 11 times in a very short time at startup, one time when the handler initializes and one time for each channel.

[2016-09-14 08:34] kaikreuzer commented on #1223
That's definitely not good and should indeed be changed.

[2016-09-14 11:34] tmrobert8 opened #1231 "[sony] Add Sony Binding"
New sony binding - currently only Bravia but will add bluray players soon
##

[2016-09-14 11:57] lolodomo commented on #1223
In fact, restartJobs is called several times times but normally the astro jobs are finally really started only one time as it is done in a delayed job that is first cancelled at each call to restartJobs. Will check that again to be sure.
So the current implementation is not so bad finally  ;)

[2016-09-14 12:20] lolodomo commented on #1223
But this can be improved:
* the delayed job that schedules the different astro jobs should be cancelled in method dispose()
* stopJobs should probably use the lock object
* restartJobs should be called only if channel link triggering it is a channel requiring the positional job

[2016-09-15 18:54] Xento opened #1234 "Homekit thermostate not showing on iPhone"
Hello,
I added some switches and 2 thermostates.
I can see and control the switches but I can't see the thermostates.

Here is my items config:

	Switch Deckenlampe_Kueche "Deckenlampe Küche" <light> [ "Lighting" ] {channel="homematic:HM-LC-Sw1PBU-FM:1572a53b39c:NEQ0273400:1#STATE"}

	Switch Deckenlampe_Flur "Deckenlampe Flur" <light> [ "Lighting" ] {channel="homematic:HM-LC-Sw2-FM:1572a53b39c:MEQ

[2016-09-15 19:23] OLibutzki opened #1235 "Amazon Dash Button binding"
The Amazon Dash Button is a very cheap device which can be integrated easily into openHAB. There are solutions like Dasher (https://github.com/maddox/dasher), but they rely on NodeJS and you need some extra unnecessary indirections.

So I prefer a native openHAB binding.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37918404-am

[2016-09-15 19:25] kaikreuzer commented on #1235
Meaning you are about to contribute one...?

[2016-09-15 19:27] OLibutzki commented on #1235
Wait a second... ;-)

[2016-09-15 19:33] kaikreuzer commented on #1235
Ah 👍

[2016-09-15 19:47] OLibutzki commented on #1235
I'm pretty sure you already have a Dash button, don't you? So testing should be straightforward :-)

[2016-09-15 19:50] kaikreuzer commented on #1235
No, I don't! Please be patient with my review anyhow. I am about to leave for JavaOne and I have a long list of bindings to still review. But if you are bored in the meantime: How about helping to review some other binding, so I will be quicker in getting to yours? :-)

[2016-09-15 19:53] OLibutzki commented on #1235
Haha, honestly, I'm happy that I found the time to implement this binding.

Take your time. I can use the binding, so I do not care that much how long it takes to merge it.

[2016-09-17 09:41] lolodomo commented on #1223
Ok, I can confirm the issue and its reason.
Not always but often, at startup, channelLinked is not called for channels. It happens apparently when at startup the astro thing is initialized and then immediately disposed and then initialized again. In this case, channelLinked seems to be never called. As the binding starts the position job only if one of the relative channels are linked to items (ch

[2016-09-17 12:53] kaikreuzer commented on #1223
Don't know, but https://github.com/eclipse/smarthome/pull/2087 might fix that.

[2016-09-17 18:24] lolodomo commented on #1223
Merged PR #1237 does not fix this issue but avoid some potential problems and reduce the number of calls to restartJobs.
By the way, this issue is not inside the astro binding and the isuue will be solved automatically when the other following issue in ESH core will be fixed:
https://github.com/eclipse/smarthome/issues/2183
As Kai mentioned, maybe PR 2087 will help.

[2016-09-17 19:47] netjordan opened #1239 "[rfxcom] Exception when updating .things file"
After updating a .things file I get the following messages in the log and commands are no longer sent

[code]

[2016-09-18 09:28] lolodomo opened #1240 "Astro binding: linking a channel does not set the value of the item"
After my change #1237, it looks like linking a new channel does not trigger the setting of the item value.
I will provide a fix soon.

[2016-09-18 13:49] yp87 commented on #1222
Hello,

I have the same error since a few days ago.
Another weird behavior is that the "CurrentActivity" channel get duplicated many times.
As you can see in this screen shot from PaperUI:
![image](https://cloud.githubusercontent.com/assets/4250335/18616183/dd7c7550-7d84-11e6-9cf7-6fd96a58c43c.png)
![image](https://cloud.githubusercontent.com/assets/4250335/18616201/1ffd9544-7d85-11e6-9b67-51338f7

[2016-09-18 21:03] digitaldan commented on #1222
@yp87 this is another problem can you open another issue for it?  @ertanden I recently pushed a new version can you make sure you are running the latest.  Also when you get this error is the binding still working?  This error happens if the hub closes the connection or the connection somehow gets disconnected, but we should attempt to reconnect.

[2016-09-19 05:55] Xento commented on #1234
I found the mistake. I removed the coolingmode, because mine only can heat but this item it is mandatory.

[2016-09-19 05:55] #1234 closed

[2016-09-19 09:01] lolodomo commented on #1239
I would not be surprised if the problem is due to the close connection that blocks, leading to a timeout in the thing manager and a serial connection that cannot be reused because not properly closed.
I will try to reproduce and analyze.

[2016-09-19 18:12] MHerbst opened #1244 "[Homematic Binding] Search for things failed under Windows 10 for most devices"
Tested with openHAB 2.0b4

When I search for Homematic devices on my Windows 10 PC (Java 1.8.102 64 Bit) I get a these error messages:
20:05:22.954 [WARN ] [ternal.communicator.HomematicGateway] - Can't load device with address 'MEQ0798777' from gateway 'MHBridge': Ung³ltiges Byte 1 von 1-Byte-UTF-8-Sequenz.
In english: Invalid byte 1 of 1-byte-utf-8-sequence.

Only my door contact devices are fou

[2016-09-19 18:28] kaikreuzer commented on #1244
@gerrieg Could you comment?

[2016-09-20 05:13] Xento commented on #593
Would it be possible that you can add support for my version of the openmili sketch for arduino: https://github.com/Xento/openmili
It supports bidirectional communication, so when you control your lights with a remote you will receive the commands and you could change the state in openhab2.
I although wrote a node-js module (https://github.com/Xento/node-milight-rf24) and added support for it to t

[2016-09-20 06:03] #1240 closed

[2016-09-20 07:24] itheiss commented on #1244
Hi  @MHerbst ,

please have a look at the Homematic binding [readme](http://docs.openhab.org/addons/bindings/homematic/readme.html). Scroll down to the end and see if this solves your problem.

[2016-09-20 08:08] hmerk commented on #593
@Xento
Sorry, but I would not suggest this as a good idea, as this is not about talking directly to the bridge.
If you like, feel free to create your own binding by refactoring the milight Binding and contribute it with its own name.

[2016-09-20 12:38] davidgraeff commented on #593
@xento
I also thing this binding should focus on the milight product line. It's already complicated because of white, RGBW and RGB products and actually the protocol is not even pretty and doesn't allow full RGB color control

[2016-09-20 14:18] Xento commented on #593
Yeah full RGB control is not possible, but it is possible to convert the color from a colorpicker to the commands used by the lights. It works pretty god in pimatic.
I will try to write an own binding for it. Maybe you could help me, when I have done the first steps, because I'm new to openhab ;-)

[2016-09-20 17:52] MHerbst commented on #1244
Hi @itheiss ,
thank you for pointing me to the hint in the README file. But unfortunately it is a bit short. In a first attempt I tried to change the locale setting in Paper UI. But as UTF-8 is neither valid as language nor as country I got an error message in the console (BTW: no error message in Paper UI).
Exactly speaking UTF-8 is an encoding and not a locale. I have solved it by setting this e

[2016-09-20 19:43] kaikreuzer commented on #1244
@gerrieg @itheiss Is this something that can be set within the Homematic binding?
Or shall we consider to set `JAVA_TOOL_OPTIONS` in the distro launch scripts directly? It is the first time, I come across this variable, so I don't know what negative effects this might have...

[2016-09-20 20:06] MHerbst commented on #1244
In order to avoid side-effects on other bindings I would prefer a binding internal solution.
There is a larger discussion on Stackoverflow http://stackoverflow.com/questions/361975/setting-the-default-java-character-encoding

Maybe I can find some time the next days to look into the binding's implementation and test whether it is possible inside the binding.

[2016-09-20 20:11] lumachan commented on #754
Same issue here with an energy meter (OWL Micro +)

I can't find anymore the PR build on Cloudbees. So I can't test.

@mccaffm : could you post a jar somewhere ?

Thanks

[2016-09-20 20:48] dominicdesu commented on #1235
@OLibutzki is it necessary to run OH2 as root in order for this to work?
I started the discovery process but cannot detect the dash button, even though I can see an ARP package in Wireshark.
Only log I can see in OH2 is this:
[code]

Any idea?

[2016-09-20 20:53] dominicdesu commented on #1235
Ah just find it on the [Pcap4J website](https://github.com/kaitoy/pcap4j#others):

[2016-09-21 08:00] maggu2810 commented on #1244
IIRC: The quality tools I use for my tools complains if I use a function that relies on the system locale and there is also another function provided by the Java API that could handle different character sets.
As I don't know your code I cannot grant that there is a function, but if some code relies on UTF-8 you should set this explicit.
If there is another bundle that relies on another character

[2016-09-21 09:40] mccaffm commented on #754
Try getting it from here

https://1drv.ms/u/s!Aof7D8ZClXFOgZ1yBGWJw4BVqq5ZBw

From: luma [mailto:notifications@github.com]
Sent: 20 September 2016 21:11
To: openhab/openhab2-addons <openhab2-addons@noreply.github.com>
Cc: Mike McCaffery <mike@mccaffery.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [openhab/openhab2-addons] RFXCOM Energy Meter issue (#754)

Same issue here with an energ

[2016-09-21 18:00] OLibutzki commented on #1235
@dominicdesu I updated the documentation.

Does the binding work for you?

[2016-09-21 19:35] dominicdesu commented on #1235
No really, the OH2 process just crashes without any error if I start the discovery:
[code]

Any idea? I assume some issue with the native library, but I don't know where to look for a error log or similar... :-(

[2016-09-21 19:56] OLibutzki commented on #1235
I have only tested with Windows so far. I wonder why there are 5 NIFs found and only two loops are started.

I guess I have to test with Linux as well.

[2016-09-21 20:50] dominicdesu commented on #1235
ifconfig shows 3 network interfaces: wlan, ethernet and local loopback.
I added some logging to your binding which shows the following before crashing:
[code]
So maybe it is crashing because it starts to looping on nflog?

I also tried out the dasher tool: Running without root doesn't work (`Error: No devices to listen`), while running with root works and detects my dash button correctly.

[2016-09-21 21:02] dominicdesu commented on #1235
Ha!
I added a Dash button thing manually (without discovery), inserted mac address and network interface, and it works!! :smile:

[2016-09-22 09:32] grouchal opened #1253 "Home-Kit "Not Supported""
With the new iOS 10 Home app - I have decided to setup HomeKit and Openhab to work together properly - after trying it earlier in the year.

I have a raspberry Pi with Openhab 2 Beta 4, for testing this config

I have setup everything in a standard way and have only two accessories that are configured for HomeKit.

Am I doing something wrong here or is this a "known issue" with iOS 10?

When I hav

[2016-09-22 10:06] neohusky commented on #1253
No problem here, however, from time to time I get the status as updating and the accessory is unresponsive through HomeKit despite working trough openHAB.

![img_1905](https://cloud.githubusercontent.com/assets/1212618/18744096/c0578252-80ff-11e6-9573-45bb7b84ba9f.PNG)
![img_1906](https://cloud.githubusercontent.com/assets/1212618/18744097/c0598962-80ff-11e6-84df-2a0fa0d656fe.PNG)

[2016-09-22 14:04] grouchal commented on #1253
I have used the non native iOS App "Home" to install the bridge and all is working now!

[2016-09-22 14:04] #1253 closed

[2016-09-22 14:38] grouchal opened #1255 "[HomeKit] Supporting new iOS 10 HomeKit accessories"
iOS 10 now supports many accessories that are not currently supported by openhab:
- Garage Door
- Locks
- Shades
- Fans
- Outlets
- Sensors
- Doorbells
- etc

I would happily contribute and work on extending the plugin to support some of these especially:
- Garage Door
- Shades
- Outlets
- Sensors

Has anyone started this? If so how can I get in touch and plan the work?

cc @beowulfe
##

[2016-09-22 15:24] gerrieg commented on #1244
Can you try this please: https://github.com/openhab/openhab2-addons/pull/1256

This works for me regardless of the file.encoding settings

[2016-09-22 18:24] MHerbst commented on #1244
I have tested in in my Windows 10 environment and works correctly now. Problem solved.

Thanks for the fast fix.

[2016-09-22 18:26] #1244 closed

[2016-09-22 19:12] OLibutzki commented on #1235
Great! Can you check if an exception occurs after starting the loop? So I would catch this exception and ignore that network interface while scanning.

[2016-09-22 20:02] dominicdesu commented on #1235
I just checked, there is no exception thrown. The OH2 Java thread just terminates.

[2016-09-22 20:05] OLibutzki commented on #1235
@dominicdesu Thanks, I wonder if there is a criteria which I could use in order to determine if a network interface should be scanned...

[2016-09-22 20:47] dominicdesu commented on #1235
Hm, the dasher tool gives the following warning if I select nflog, but it doesn't crash:
`warning: SIOCGIFADDR: nflog: No such device - this may not actually work`

Btw. these are my 5 network interfaces:
[code]

Maybe you can scan on "any", if such an NF exists on linux?

I have excluded the nflog interface from the capturing (comparing against `pcapNetworkInterface.getName()`) and now the discov

[2016-09-22 21:18] beowulfe commented on #1255
@grouchal - the biggest barrier right now is figuring out how to extend the ESH ontology. I actually have garage doors and shades implemented in my development branch here, with placeholder tags: https://github.com/beowulfe/openhab2/tree/homekit

The discussion on extending the ontology is happening here, feel free to chime in if you have any ideas: https://github.com/eclipse/smarthome/issues/1093

[2016-09-23 01:24] beowulfe commented on #1184
Sorry, missed this until now @saperlot

I'll take a look and see what it takes. I have a Hue bulb in my closet that I never setup, I'll have to get it configured and play around.

[2016-09-23 01:32] beowulfe commented on #986
This issue can be closed - the merge of #992 resolved it.

[2016-09-23 04:40] #986 closed

[2016-09-23 06:52] grouchal commented on #1255
@beowulfe your branch looks great - could you point me to instructions on how to build and install the bundle please. I would be very happy if I could just controls my blinds for now.

[2016-09-23 10:45] grouchal commented on #1255
Or alternately @beowulfe could you provide a version of the bundle jar that I could try out with b4?

[2016-09-23 10:48] sveco commented on #593
There is actually a whitemode command, that turns Milight on/off. Now the only way to turn it on, is to manually drag brightness slider. On/off switch does not turn it on or off. It sets the brightness to 100 when turned on, but bulb does not go on until I manually touch the slider. This manual config with previous version was working fine to turn it on/off:
Switch  Lamp_MiLight_White1  "Bedroom"

[2016-09-23 12:07] beowulfe commented on #1255
http://docs.openhab.org/developers/ has what you need to get started.

[2016-09-23 15:52] #754 closed

[2016-09-23 18:26] regnets opened #1257 "Unable to pair apps to org.openhab.io.hueemulation"
Hi,

i am trying to pair openHAB to different iOS apps (so that these apps aren't connecting directly to the hue bridge and i am able to use other lights than the philips hue).

So far i tried:
Official Philips Hue App (discontinued) - Finds openHAB Bridge, no discovery message in the debug log, unable to pair
Official Philips Hue App (V2) - Doesn't find anything, no discovery message in the debug

[2016-09-23 19:56] davidgraeff commented on #1199
@ploef unfortunately I do not use the config files but if u have figured it out already I would happily add an example provided by you. In contrast to oh 1 thinks are defined in the same way across all bindings

[2016-09-23 21:28] rene54321 opened #1258 "[homekit] Duplicate subscription"
Hi,

After installing the binding and testing it I got the following ERRORs:

[ERROR] [kit.internal.HomekitAccessoryUpdater] - Received duplicate subscription on XXXXXXX

for many of my Items how can I fix this?

best regards René
##

[2016-09-24 04:31] kaikreuzer commented on #1257
I think we so far only used this bundle with Amazon Echo as this was the primary use case for creating it. Nonetheless, it indeed would be desirable that the "hue emulation" also properly fools other applications. I don't think we can achieve a 100% compatibility though as we hardly would want to implement group/scenes/triggers and whatever the hue bridge offers.

@digitaldan Any comments?

[2016-09-24 08:47] regnets commented on #1257
I agree with you Kai, i also think we can't emulate the bridge to 100% - however basic functions like pairing and switching on off a light would be great. Maybe the problem isn't that big, maybe we just need to provide a valid software version number and a hardware revision?

[2016-09-24 08:56] regnets opened #1259 "Tags breaks *.items file"
If i add tags for homekit the item definition is unable to be parsed by homekit.

In my example alle items to "S_BR_Bed1_D" are getting parsed correctly, after that all items are missing.

This is reproducible with a complete new installation and this item file. If i remove the Tags, the item file is imported correctly.

Here is the corresponding thread in the forum
https://community.openhab.org/t

[2016-09-24 14:11] digitaldan commented on #1257
I never imagined using mobile apps with this binding, my guess is that they are using the full API which is not implemented, I only implemented enough so that the echo and the logitech harmony could access it, which is pairing and basic command/control functions. My goal was mainly those simpler pairings between other 3rd party hubs.

[2016-09-24 15:52] kaikreuzer commented on #1259
This sounds weird and from your description, this is a general problem in the item file parser.
I'd therefore like to ask you to open an issue at https://github.com/eclipse/smarthome/issues instead.
In order to make it easily reproducible and help on the analysis, it would be great if you could come up with a minimal item file on which this error occurs (I guess you won't need to define more than

[2016-09-24 15:52] #1259 closed

[2016-09-24 16:52] regnets commented on #1259
Hi Kai, that was my mistake. the Tag hast du before the channel definition, sorry for that.

[2016-09-25 08:44] regnets commented on #1257
Maybe i should describe my usecase.

There is an iOS app "Sleepcylce" which monitors the health of your sleep. In addition to that the app also is able to detect if you are just started sleeping and when you are awake. In both cases the app can switch Off/On a hue light.

My girlfriend mostly falls asleep while she is watching something on tv, so i would like to stop the current episode playing on

[2016-09-26 10:04] regnets opened #1260 "org.openhab.binding.hue support Sensor API (e.g. for Hue Dimmer)"
I purchased a Philips Hue Dimmer (http://www2.meethue.com/de-de/productdetail/philips-hue-dimmer-switch) and this thing is not supported ootb from the hue binding as far as i can tell.

However the Philips API provides an interface for accessing those devices
http://www.developers.meethue.com/documentation/sensors-api

Support for these devices would be great! However we will need a faster polling

[2016-09-26 11:44] regnets commented on #1257
@digitaldan I suspecting you are the author of the hueemulation.

How did you implement your binding, did you sniff the ethernet packages? I am interested in making this work, however as you i don't want to implement the whole hue api.

[2016-09-26 13:58] Yannic-HAW commented on #1041
Hi,
are there any news about the allplay binding ? Have a few allplay speakers in my home and can help to test the binding if possible.

[2016-09-26 15:58] dominicdesu commented on #1041
@Yannic-HAW, I am still working on the perfect way to reconnect to the speakers, as there are various way in which a speaker can get disconnected. However I am almost done and it would be great if somebody else would test the binding as well.
On which system is your OH2 running? I need to include a native library for every OS and currently I only have the libraries for Windows 10 64 bit and ARM (r

[2016-09-26 17:48] ertanden opened #1261 "Hue Emulation + Harmony Elite = exception with ZWave Switch"
I'm trying to use Hue Emulation paired with my Logitech Harmony Elite.

I have a Z-Wave switch and the item is defined as:

[code]

Looks like switching "OFF" works, however, when I try to switch "ON" the device I get the following exception.

[code]

[2016-09-26 19:25] Yannic-HAW commented on #1041
@dominicdesu
Sounds great :-)  Im running OH2 on Ubuntu 64 bit.
My AllPlay Speakers are also Panasonic brand in germany we do not really have different manufacturers for AllPlay speakers on the market :(

[2016-09-26 19:42] grouchal commented on #1255
@beowulfe it took me a while but I have built the JAR and got it installed on the server. I have a config file with :

`Group Office_BLeft 							"Office Left Blind"                         (Office) 					[ "WindowCovering" ]
Rollershutter Office_Blinds_Left 			"Office Blinds Left"						(Office_BLeft) 				[ "homekit:position" ]	`

However I am having no luck.

I know that the bundle is installed be

[2016-09-26 20:20] grouchal commented on #1255
@beowulfe OK solved it - was not building the correct version ;-)

[2016-09-27 06:18] grouchal commented on #1255
@beowulfe all works fairly well with the rollershutters. I am getting lots of instability with the plugin now though, my iOS devices often show updating for the state of the various accessories.

I am not sure if this related to the state of the implementation or related to the fact I have 59 accessories going via the bridge now. Any thoughts?

[2016-09-27 06:30] neohusky commented on #1255
I've currently got about 30 accessories and often get the updating status also.

[2016-09-27 06:39] grouchal commented on #1255
Ah OK - I had 41 before I added the RollerShutters / WindowCoverings and with 59 it really seems to struggle. Only with Status updates though all commands seem to go through correctly.

[2016-09-27 12:45] mhaack opened #1264 "forceUpdate=true for Homematic binding not possible via .items file"
Hello,

how can I set forceUpdate=true for Homematic items in OH2 in my .items file? Could not find any working sample or hint on https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.homematic.
The only way I can set forceUpdate to true is via Paper UI, but I would like to config this via the .items file.

Thx
Markus
##

[2016-09-27 12:56] kaikreuzer commented on #1264
You cannot configure anything in an items file. Do you refer to a things file?

[2016-09-27 13:09] kaikreuzer commented on #1260
Yes, I agree it would be nice to add this functionality. I find it pretty weird though that there is still no event subscription possible. Polling the bridge definitely means no satisfying user experience, since it will always mean quite some latency even if the polling frequency is increased.

[2016-09-27 13:39] mhaack commented on #1264
I tried
`String Switch_GF_Floor_1_Display        "Alarmschalter Flur EG Display"           <wallswitch>  (gHouse)                                {channel="homematic:HG-HM-Dis-EP-WM55:ccu:NEQXXXXXX:3#SUBMIT",forceUpdate=true}`

in the .items file.
I'm fine with defining forceUpdate=true in the .things file as well, but also here i could not find anything doc.

[2016-09-27 13:52] kaikreuzer commented on #1264
As I said, it is not possible to do anything like this in an item file.

I checked the documentation at https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.homematic and no "forceUpdate" configuration value is mentioned there at all. It seems that only existed for the 1.x binding.

[2016-09-27 13:59] mhaack commented on #1264
But it is there: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.homematic/src/main/java/org/openhab/binding/homematic/internal/model/HmDatapointConfig.java#L20 and I can configure it via the Paper UI and it works.

I know it is not mentioned thats why I asked how to configure it via file.

[2016-09-27 14:24] kaikreuzer commented on #1264
Ok, sorry, let's ask @gerrieg: Could you please add some documentation to the README.md about this configuration value?

[2016-09-27 15:23] digitaldan commented on #1261
Can you enable debug logging?  it should print out what it thinks the state should be, my guess is that for some reason it is sending a value that is between 0-255, thinking that the bulb is dimmable, where a Switch only accepts on and off (0 or 255 from the hue bridge).  I should probably do a check on the item type and correct for this however.

[2016-09-27 16:19] dominicdesu commented on #1041
Okay, I don't have a compiled native library for Linux 64 bit yet. I need to have a look, hopefully on the weekend, if I can find it somewhere or if I need to compile it manually.

[2016-09-27 19:50] digitaldan commented on #1261
I have a fix here https://github.com/digitaldan/openhab2-addons/commit/80365f530caa962f90397e278ede02dfec924129 , I just need to test thisover the weekend when I'm back in town

[2016-09-27 22:43] Yannic-HAW commented on #1041
Maybe i can help you out a bit. I have compiled the Alljoiyn core for Linux 32 and 64 bit :)
[alljoyn_linux.zip](https://github.com/openhab/openhab2-addons/files/496783/alljoyn_linux.zip)

[2016-09-28 11:25] saperlot commented on #1184
No Problem, i did some reasearch on this topic, I do not have acces to their specs, But found something on the availble dev sites at apple:

May you easily could add those characteristics.

[2016-09-28 16:57] dominicdesu commented on #1041
Awesome, this helps a lot! Thanks!
I won't have time today, but I'll try to integrate the native libraries and build a binding for testing asap.

[2016-09-28 17:06] watou commented on #1041
@dominicdesu Consider using the Bundle-NativeCode directive in MANIFEST.MF to have OSGi extract the platform-specific native library from the bundle and add it to Java's search path, like is done in the [1.x Systeminfo binding](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.systeminfo/META-INF/MANIFEST.MF).  That way, neither the user nor binding code needs to h

[2016-09-28 17:42] gersilex opened #1265 "[RFXCOM] Unclear / stripped error messages"
I am debugging a problem where I can't send LIGHTING4 Commands. So I do this on the Karaf shell:

[code]

I get the DEBUG messages from the binding just fine:

[code]

Unfortunately, as soon as something goes wrong, an error message is fired to the [ERROR] stream:

[code]

This is all of the output. Not even the Command that failed sending is logged.

Is there something wrong? I would expect somet

[2016-09-28 18:14] ertanden opened #1266 "Hue Emulation with color lights?"
I'm pairing Hue Emulation addon with my Logitech Harmony, instead of directly pairing with the Philips Hue bridge, because Logitech Harmony doesn't allow more than one Hue bridge pairings.

This gives me the advantage to be able to control other devices (Z-wave etc.) in addition to Philips Hue lights, through openhab.

However I noticed that I can't control the color of my lights with this setup.

[2016-09-28 18:32] digitaldan commented on #1266
I don't think is should be hard, I'm actually in that code this week, I'll make a note to see what I can do, thanks for the suggestion.

[2016-09-28 20:49] dominicdesu commented on #1041
@watou yes, that's what I did after your suggestion on 20 June and it is working great 😄

[2016-09-28 21:07] watou commented on #1041
Cool! And sorry, I should have remembered!  😄

[2016-09-29 12:24] smyrman opened #1268 "[sony] Sony Bravia JSON/XML RPC support"
Wanted to comment on the Openhab Forum first, but it appears to be down. @tmrobert8, I saw  #1249, and was hoping someone have time for adding support for older Bravia TVs as well through the JSON/XML RPC API. As for how to control this TV, it's pretty straightforward, but I have very little Java experience.

I have a SONY BRAVIA KDL-55W807A -- Unfortunately it does not support the Simple IP (Low

[2016-09-29 12:27] kaikreuzer commented on #1268
It is up again now!

[2016-09-29 12:40] tmrobert8 commented on #1268
I'm writing support for sony IRCC service implementations right now (about 60% done).  While I'm writing it for my bluray player - it supports any sony IRCC service device (including bravia tvs, home avs, etc).  Won't say it will work out of the box for you since I only have my 2015 bravia tv & bluray to test with but if you don't mind testing when it's completed - should be able to make it work.

[2016-09-29 12:45] smyrman commented on #1268
I would love to test it when it's ready for that:-) Just give me a ping either on this issue, or another one which I can subscribe to.

[2016-09-29 12:53] tmrobert8 commented on #1268
Just keep an eye out on the sony binding thread over at the openhab community forum - I'll announce it there.  Probably another two weeks or so before I feel comfortable with it.

[2016-09-29 15:51] ThomDietrich commented on #1156
@davidgraeff (just going through my open issues...) any updates on that matter?

[2016-09-29 21:16] dominicdesu commented on #1041
@Yannic-HAW I have now compiled the binding including the native libraries you provided.
I am not sure if it will actually work, as the other library I am using is called liballjoyn_java.so, while the ones you provided are called liballjoyn.so.
Don't know if this java-specific native library is actually necessary or not... well looking forward to your feedback :-)

[allplay-2.0.0-SNAPSHOT.zip](htt

[2016-09-29 21:55] netjordan opened #1272 "RFXCOM Binding: Lighting5/LightwaveRF remotes do not work"
When pressing a button on a Lightwave RF Remote (LW100) an error occurs

[code]
##

[2016-09-30 07:00] #1261 closed

[2016-09-30 07:00] #1266 closed

[2016-09-30 15:19] gersilex commented on #1272
If your feel the logs are incomplete, there is my issue for this: https://github.com/openhab/openhab2-addons/issues/1265

Also I have the same issues as you. also with PT2262 devices. Receiving works fine though.

[2016-09-30 15:44] digitaldan opened #1273 "Homekit items and groups issue"
If a tagged item is also part of a group that is tagged, only the group is exposed through homekit.  For example, If I have a group call "All_lights" which is tagged ["Lighting"] and then an item "Kitchen_Lights" which is also tagged ["Lighting"] and part of the "All_Lights" group, only the "All_Lights" group item gets exposed via Homekit.

[2016-09-30 17:06] digitaldan opened #1275 "Homekit thermostat mode issue"
If the thermostat mode item is a number type (like zwave devices) then the binding cannot properly  convert this to a string when comparing against the system or user defined modes (Off, Heat, Cool, Auto).

[2016-09-30 17:12] #1273 closed

[2016-09-30 17:13] #1275 closed

[2016-10-01 08:13] aaronbailey8 opened #1280 "hue emulator - multiple network interfaces on openhab"
Hi all - not sure if this the right place to ask for help - let me know if theres somewhere better I could try...

I've been running openhab/openhab2 for around a year now - and have just purchased an amazon echo. I've installed the hue emulator binding and I can see in the logs that it is activated at /api - however the echo never detects it.

When i check /api/discovery.xml the < URLBase > IP is

[2016-10-01 10:36] rene54321 opened #1281 "openHab 2 CometVisu PHP binding not working"
Hi,

even if loaded over the PaperUI the cometvisu PHP is not working. See KNX forum thread:

[KNX Userforum Thread](https://knx-user-forum.de/forum/supportforen/cometvisu/954821-probleme-mit-openhab2-beta-3-und-cometvisu-0-9-2)

We tried several things. But all php related scripts like editor, icon overview or rss-log are not working. Only an blank page is shown.

regards René
##

[2016-10-01 11:13] Yannic-HAW commented on #1041
Hi,
okay my fault i thought compiling just the cure is enough. I build the java core also and now have the liballjoyn_java.so

[linux_alljoyn_java.zip](https://github.com/openhab/openhab2-addons/files/504289/linux_alljoyn_java.zip)

Because the binding links against the wrong libary without the _java i copied the liballplay_java.so to my classpath and looked into the karaf log.

There are a few ex

[2016-10-01 15:06] digitaldan commented on #1280
Yes that is very likely the issue, we try to attach to the first non loopback address.  Let me take a look and see if I can make this configurable.

[2016-10-01 18:14] LukaNoah opened #1283 "openhab2 - AVM Fritz!Binding : error 403"
Hi with the latest oh2 I got no connection to my fritz!box 7490 (FW 6.60). Before the update to latest oh2 it works perfectly. Here my log-output:
[code]
The thing is offline.

[2016-10-01 18:45] dominicdesu commented on #1041
@Yannic-HAW,
I installed a Ubuntu VM and was able to reproduce your problem.
The issue was apperarently that the JNI file (alljoyn.jar) needed an update as I was using one from an older alljoyn version. After I updated the JNI file, the binding worked for me on Ubuntu x64 in a VM.
Would be great if you could try again with the attached binding :-)

[allplay-2.0.0-SNAPSHOT.zip](https://github.com/o

[2016-10-01 20:27] aaronbailey8 commented on #1280
This has worked perfectly!
Thank you. and for getting it fixed so quickly! 👍

[2016-10-02 07:24] hfanieng commented on #1283
Same for me with FB 7490, FW 6.60:

https://community.openhab.org/t/is-fritzbox-binding-broken-since-504/14688/1

[2016-10-02 09:42] gerrieg commented on #1264
It's not documented because i also don't know how to configure it outside PaperUI. I was hoping that Kai can tell us, it's a channel configuration.

[2016-10-02 11:20] lumachan commented on #1126
Hi, any news, @belovictor around here ?

[2016-10-02 15:24] lintweaker commented on #987
Any tips on how to adapt the current mpower binding code so it will work on OH2?

[2016-10-03 16:57] ertanden opened #1285 "Hue emulation: Can't set light to off"
I can't set my Hue lights off with my Harmony Elite. Using latest snapshot openhab 2.0 distribution.

Light defined as an item:

[code]

The error I get is as following with debug logs enabled. Looks like brightness is -1, but it shouldn't cause an error, as on = false.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38083756

[2016-10-03 17:04] ertanden commented on #1285
Also, I can't set the brightness.

From the error, it looks like the validation for "bri" is checked between 0 and 100, however actually that value is something between 0 and 254.

http://www.developers.meethue.com/documentation/core-concepts

[2016-10-03 17:22] digitaldan commented on #1285
Yes, I did not convert to our HSBType correctly (it was doing this for non HSB types), I'll push something soon.

[2016-10-03 21:59] realroywalker opened #1286 "Harmony Hub controls all hubs at once"
I've just configured the Harmony hub addon for OpenHab2 and it automatically detected my 2x Harmony Hubs.
I've added one hub to the items & sitemap as per the readme examples but when I initiate an activity change via the OpenHab switch BOTH of my hubs are responding to the action, even though I only have one item attached to the switch..

Also each hub has 3 copies of the 'currentActivity' channe

[2016-10-03 22:33] realroywalker commented on #1286
Seems I had an old orphaned openhab process running that hadn't reloaded the latest config.
After a restart of my server it seems to be working as expected..

[2016-10-03 22:33] #1286 closed

[2016-10-03 22:42] realroywalker opened #1287 "Harmony Hub Channel for 'Current Activity' is duplicated"
As per the title, I noticed that both of my harmony hubs display the same channel multiple times.
They all seem to be 'linked' as disabling one channel by clicking the blue icon changes the state on all of them.

I did have 3 instances of each channel but at some point another has appeared! :-s

![image](https://cloud.githubusercontent.com/assets/486860/19056748/10638126-89c3-11e6-820a-c53487a186c

[2016-10-03 22:45] digitaldan commented on #1287
Hi, how recent is your openhab2 build?

[2016-10-04 08:08] #1280 closed

[2016-10-04 09:21] kaikreuzer commented on #1281
@peuter Could you please have a look?

[2016-10-04 09:23] #1210 closed

[2016-10-04 09:48] kaikreuzer commented on #1264
@gerrieg The DSL is documented [here](https://www.eclipse.org/smarthome/documentation/features/dsl.html#defining-channels) and there is an example for a channel configuration in it.

[2016-10-04 09:52] #1283 closed

[2016-10-04 11:20] svilenvul opened #1289 "Add Analysis Tool for New Bindings"
I would like to start a discussion about the integration of an analysis tool for PRs in the openhab2-addons repo. This should speed up the review process for new bindings.

There are several questions that should be discussed in detail, so I will start with a few start points:
- What kind of problems should be able to detect this tool?
  - missing files in the bindings (e.g. about.html, files in E

[2016-10-04 11:30] peuter commented on #1281
As I mentioned in the linked thread, this is nothing I am able so solve. The screenshot in the thread shows that openhab is not able to dowloed the quercus-bundle from jcenter.bintray.com. And I do not have access to the bintray-repo and also no knowledge about the whole packaging at all.

So I suggested the reporter to open an issue here, because the problem has to be inspected by someone who has

[2016-10-04 12:20] maggu2810 commented on #1289
IIRC The time I used SonarQube you always need a running server instance. The Maven and Eclipse plugins used the server instance.
Also it seems not so easy to integrate a merge request builder with Solar as it mixes the results of all builds for the same project.
But perhaps I invested not enough time for configuration.

For my projects I use maven plugins for Checkstyle, FindBugs, PMD (you stated

[2016-10-04 12:40] bricolo100 opened #1290 "[Zwave] Fibaro keypad / tag reader user_code not recognized"
The Fibaro WT-RFID is recognized and initialized a a thing with model recognition, but in habmin the user_code interface doesn't appear, as well as in PAPER UI.
Environment

Openhab2 online version beta snapshot
zwave version 2.0.0-20161001.042047-244
Raspberry Pi

[2016-10-04 13:07] cdjackson commented on #1290
This is not currently available as the security classes are not available in OH2 at this time.   I will close this for now - hopefully the security classes will be available in the near future and we can look at it again once this is implemented.

[2016-10-04 13:07] #1290 closed

[2016-10-04 13:51] Chanete commented on #987
Sorry, no time to debug... As soon as I figure out how to make it work on
OH2 I'll publish here the new version.

2016-10-02 17:24 GMT+02:00 Jurgen Kramer <notifications@github.com>:

[2016-10-04 14:50] hfanieng commented on #1287
Got the same problem up to snapshot 507, so i disabled the binding in my test-environment.

[2016-10-04 15:14] tavalin commented on #1287
I also have the same issue with the binding.  I did plan to debug and investigate but I've not yet found the time.

[2016-10-04 16:06] digitaldan commented on #1287
@tavalin can you confirm what build of OH2 you are running?  There was a problem with ESH some time ago which caused similar behavior, just want to make sure this is a new issue.

[2016-10-04 16:08] bricolo100 commented on #1290
Do you have an estimation of the "near future" ?

[2016-10-04 16:30] tavalin commented on #1287
507 or whatever latest snapshot is (I keep up-to-date with snapshots). It's been happening for a while though.

[2016-10-04 17:22] cdjackson commented on #1290
I would guess a month or two. I'm working on some refactoring that is needed first.

Sent from my iPhone

[2016-10-04 17:37] digitaldan commented on #1287
Yep, I see it too, I'll take a look this week.

[2016-10-04 20:47] MHerbst commented on #1289
First of all I like the idea of automatically checking as much as possible. I also would prefer to use only  Checkstyle, Findbugs and PMD. We are using them in our company very similar to @maggu2810. And especially the Findbugs checks are really helpful.

If these tools are installed as Eclipse plugins (or executed from Maven) and allows everybody to check the sources before committing them. It wo

[2016-10-05 11:53] kaikreuzer commented on #1281
Ok, sorry, I didn't read all the details of the linked thread. Anyhow, the problem should better be described here on the issue itself.
The exception is only visible in a jpg that is only accessible for registered users on the external forum... I have attached it here FTR:

![image_52726](https://cloud.githubusercontent.com/assets/3244965/19112077/1b5455a6-8b03-11e6-9ddf-77fc34af64c4.jpg)

[2016-10-05 12:10] kaikreuzer commented on #1281
I just tested the installation on the latest snapshot distro (offline) and from the log file, all looks good:
[code]

[2016-10-05 12:41] brstein opened #1293 "Installation of persistence-jdbc-postgresql-1.9.0.b4 via PaperUI fails"
Test setup: Genuine freshly unzipped v2.0.0.b4 #477 (offline). Only change in conf/services/jdbc.cfg: Adding of the database parameters:

`url=jdbc:postgresql://localhost:5432/hab2`
`user=hab`
`password=xxx`

Installing persistence-jdbc-postgresql-1.9.0.b4 via PaperUI > Extensions > Persistence > JDBC Persistence PostgreSQL > Install

The installation does not complete (The wait icon remains spinn

[2016-10-05 12:57] kaikreuzer commented on #1293
As this is about an add-on from 1.9, please report the issue at https://github.com/openhab/openhab/issues, where the code of this add-on is located. Thanks!

[2016-10-05 12:57] #1293 closed

[2016-10-05 14:38] kaikreuzer commented on #1289
I agree with @maggu2810 and @MHerbst. It would be ideal if all tools could be used by the developers locally before even creating a PR. A Maven profile should enable those checks and new PRs would be build on Jenkins with this profile.

What should be tried is to make such a mechanism easily extensible and configurable; we e.g. might e.g. have a different set of checks for bindings than for UIs. A

[2016-10-05 16:53] digitaldan commented on #1287
So there are two issues here, the first is an assumption I had made about adding channels, I have a issue open at  https://github.com/eclipse/smarthome/issues/2256 .  This is what's causing the duplicate channels (or at least my assumption of how it worked).  But this also uncovered another issue where I'm trying to add dynamic options to the current activity channel, which is fine if you have one

[2016-10-05 18:13] lintweaker commented on #987
Thanks, hope you'll manage to get it going on OH2

[2016-10-05 19:16] crystollic opened #1294 "Hue Emulation: Ignoring Packets from Amazon Echo..?"
Hi, I am hueemulation (beta4) and it seems to be missing/ignoring packets from an Amazon Echo (device s/w 4008).   The Echo finds a Hue Bridge on the same network but not openhab/hueemulation.

Log level trace for hue emulation and jupnp doesn't show anything.

Bit confused, so nay help appreciated.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysour

[2016-10-05 19:28] digitaldan commented on #1294
This should be fixed in the nightly builds with this PR https://github.com/openhab/openhab2-addons/commit/f08ae880fc6499468059412615d42fbea1afc237 ,  can you confirm if this works for you?

[2016-10-05 19:32] crystollic commented on #1294
Honestly what's the world coming to, 11 minutes to fix a problem 😄  I will check and confirm.

[2016-10-05 20:11] digitaldan commented on #1294
Well to be fair, I fixed it 6 days ago ;-)

[2016-10-06 05:09] planbnet opened #1295 "Netatmo thermostat binding "400 Bad Request""
As soon as the channel SetpointMode is linked (to a String item), the "Thermostat module" Thing goes OFFLINE with a "400 Bad Request" error.
It doesn't matter whether the link is established in the item definition file or via PaperUI. All other channels on the thermostat thing work.
##

[2016-10-06 07:15] kaikreuzer commented on #1281
"not working" means a blank page or the exception from above or both?
If it is not about the exception above, it sounds to me like a startup order issue (the binding might make the wrong assumptions) and thus I would think it is something @peuter could look into after all.

[2016-10-06 08:28] svilenvul commented on #1289
Thanks for the feedback !

I will try to summarize the tool requirements, that we have so far:

- integration the with the Maven build;
- easily extensible and configurable:
- define custom rule sets with different set of checks (bindings, UIs);
- multiple levels of logging (error, warning, ...);
- generate summary/report.

@MHerbst, you are right, PMD has [plugin for XML files](https://pmd.github

[2016-10-06 12:59] crystollic commented on #1294
I'm embarrassed now, but I think I also had an issue with IGMP snooping 😳 However, I am grateful for fixing a problem before I found it 😄  Brilliant work and hopefully I can help more in the future!

[2016-10-06 12:59] #1294 closed

[2016-10-06 17:39] peuter commented on #1281
Sorry I have absolutely no idea how to help here. I can't even get the coemtvisu itself running (getting 404 errors). Since the change to karaf and the extraction of the php-stuff from the cometvisu bundle I am totally clueless how things are working and have no idea where to even start looking for the problem.

[2016-10-06 18:36] peuter commented on #1281
After a fresh install of the ide I was able to get the cometvisu running from within eclipse, but I do not see the php-bundle in there and don't know how to activate it. The Paper UI just shows nonsense binding names like:
aZHcl Ui
ui5 - 1.0

Blbid Ui
ui6 - 1.0

so giving up here.

[2016-10-06 18:37] digitaldan opened #1296 "HarmonyHub numeric activity ID not working in sitemaps"
The handle command method in the HarmonyHub binding needs to handle numeric ID's passed to it as Strings.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38194682-harmonyhub-numeric-activity-id-not-working-in-sitemaps?utm_campaign=plugin&utm_content=tracker%2F2164344&utm_medium=issues&utm_source=github)** We accept bounties via [Boun

[2016-10-06 20:04] kaikreuzer commented on #1281
I guess the best thing will be [remote debugging](https://community.openhab.org/t/debugging-openhab-2-or-how-to-view-threads/8329) on the live distro - this way it is best to track what exactly is going on.

I personally don't have the time right now to dig into this, so I hope that someone else that is familiar with debugging Java applications would lend a helping hand.

[2016-10-07 15:16] ertanden commented on #1285
I guess this fix is not merged yet?

[2016-10-07 15:32] digitaldan commented on #1285
I was just testing new changes this am, I think my latest PR should do the trick.

[2016-10-07 17:16] #1287 closed

[2016-10-07 17:16] #1296 closed

[2016-10-07 17:53] peuter commented on #1281
I can't get remote debugging to work. Eclipse can not connect to the remote process, although I started openHAB in debug mode. So I tried the hard way, adding lots of debug-logging to the cometvisu bundle compile it and load the fresh compiled bundle, but I have not idea how to replace a single bundle in a local installation.

Building the offline-distro seems to download all bundles from somewher

[2016-10-07 23:54] Boby71 opened #1303 "Paper UI on Safari (iOS, iPad): Layout corrupted by displaced hide icon"
![img_3039](https://cloud.githubusercontent.com/assets/22266373/19208437/1ccd0ec0-8cfa-11e6-837e-988f6f8f935a.PNG)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38204332-paper-ui-on-safari-ios-ipad-layout-corrupted-by-displaced-hide-icon?utm_campaign=plugin&utm_content=tracker%2F2164344&utm_medium=issues&utm_source=github)** We acc

[2016-10-08 04:50] jpete7683 opened #1304 "mios Binding not working"
Updated to the new transformation files and now receiving the following stack trace..

2016-10-07 23:49:00.927 [ERROR] [ab.binding.mios.internal.MiosBinding] - Error handling command
org.openhab.core.transform.TransformationException: An error occured while opening file.
	at org.openhab.core.transform.TransformationHelper$TransformationServiceDelegate.transform(TransformationHelper.java:63)[196:or

[2016-10-08 04:51] jpete7683 commented on #1304
This is only for thermostat.  All switches work fine and dimmers, but nothing with thermostat is working.

[2016-10-08 07:46] kaikreuzer commented on #1304
Afaik, mios is a 1.x binding and thus its sourcecode is not here. Please enter the issue at https://github.com/openhab/openhab/issues instead.

[2016-10-08 07:46] #1304 closed

[2016-10-08 07:53] kaikreuzer commented on #1303
Please report at https://github.com/eclipse/smarthome/issues as this is there Paper UI lives.
Maybe also try the very latest OH2 distro, since there were quite a few fixes the last days in the Paper UI - maybe your issue is already addressed as well.

[2016-10-08 07:53] #1303 closed

[2016-10-08 08:15] #1285 closed

[2016-10-08 12:03] FutureCow opened #1305 "[RFXCom] Error setting up Thermostat1"
I'm trying to add a thermostat to my openhab setup. When sending a setpoint to my receiver, i see the new thing in my PaperUI.

I've add the Thing with all the items (setpoint, contact, temperature, battery, batterylow, signallevel)

But when i'm sending a new setpoint i get a error, and the items doesn't get updated.

Log:
`13:45:33.163 [DEBUG] [g.rfxcom.handler.RFXComBridgeHandler] - Message rec

[2016-10-08 16:32] PaulKC opened #1306 "Squeezebox binding crashes on mute"
When I mute my squeezebox radio the squeezebox binding crashes with the following exception. After this no connection to the squeezebox server is possible until openhab is restarted. I do not understand the whole architecture at the moment so I can not provide a pull request but I would be happy to help.

`Oct 08 18:14:06 raspberrypi start.sh[22529]: Exception in thread "Squeeze Server Listener" j

[2016-10-08 16:57] digitaldan commented on #1306
Easy enough ;-)

[2016-10-09 08:15] #1306 closed

[2016-10-09 15:37] Lukas84 opened #1308 "Running openHAB-runtime configuration fails"
Hi,
I made a fresh Installation of the openHAB 2 development by using the Eclipse installer. When I want to run the openHAB_runtime I always get the following eror message:

An error has occurred.  See the log file
C:\Users\Lukas\openhab2-master\ws.metadata.plugins\org.eclipse.pde.core\openHAB_Runtime\1476026965966.log

The log file Content is:

[code]

How to solve the issue?
##

[2016-10-09 20:44] wep4you opened #1309 "[Netatmo] Netatmo Welcome Camera"
I'll try to implement the features for the netatmo welcome camera in the netatmo binding. I get stuck earlier this year by the outdated swagger api for the welcome cam, so hopefully its now up to date, or somebody can help to get this api working for the new netatmo-api.

@clinique
##

[2016-10-09 22:56] Boby71 commented on #1303
OK, done: https://github.com/eclipse/smarthome/issues/2285
Still the same problem, even with the newest daily buid from today.

2016-10-08 9:53 GMT+02:00 Kai Kreuzer <notifications@github.com>:

[2016-10-10 07:21] clinique commented on #1309
I unfortunately have no Welcome at the time. But swagger api is not so hard to extend and the original developper very willing to accept commits, so...up to you :)

[2016-10-10 17:14] ertanden opened #1311 "Hue Emulator Color Support"
Would be nice to have color support in hue Emulator.

Currently it doesn't work through Logitech Harmony. Can't set light colors.
##

[2016-10-10 17:43] digitaldan commented on #1311
What build are you on? There was an issue for this and a fix this week, if you could try it out and confirm it works that would be great

[2016-10-10 22:03] bricolo100 opened #1312 "[rfxcom] Connection to RFXCOM transceiver failed"
When trying to connect manually to RFXTRX, the following error occurs:

with RFXtrx433E USB 433.92MHz Transceiver

with RFXCOM USB Transceiver (port /dev/ttyUSB1)

I'm running openhab2 on raspberry pi.

**FTDI SIO module is not deselected because I use a modbus USB stick that has a ftdi chip inside**

RFXCOM module is detected by the system and linked with /dev/ttyUSB1

---
## If i put the ftdi_si

[2016-10-11 02:43] Marty56 opened #1313 "Harmony Hub 2.0 binding can only be configured via Paper UI"
I did not see a way how to create a "device" without using the paper ui.
e.g.
String Samsung  "Samsung TV" { channel="harmonyhub:device:Wohnzimmer:27701008:buttonPress" }

The item Samsung requires a number (in the example 27701008) that must be derived from the discovery in the paper ui and inserted by cut and paste into the items file.

It should be best practice to always describe a purely text

[2016-10-11 02:47] Marty56 opened #1314 "Homematic 2.0 Binding does not support CUXD"
All CUXD device in items files are not served by Homematic 2.0.
As example on the syntax for CUX device:.
Number Energie_bzg                  "Zählerstand v. Zähler [%.1f kWh]"  <energy> (Energie)                                                  {channel="homematic:HM-Sen-EP:ccu:CUX2700001:1#SUM"}
##

[2016-10-11 02:53] Marty56 opened #1315 "Openhab 2 Homematic 1.9x Binding does not support auto-discovery for callback server"
the default setting to auto-discover the callback server is no longer supported.
User has to explicitly provide the IP hosting the openhab 2 server in homematic.cfg.

[2016-10-11 02:54] Marty56 opened #1316 "Openhab 2 lambda function calls do not work"
Function calls using the lambda construct are not compatible and are failing to execute.

[2016-10-11 04:23] eschizoid opened #1317 "HueEmulation binding not working with Docker"
Seems that the way this `binding` was thought, is not going to work with `Docker`. I'm getting the following log messages:

[code]

Even after setting the property `discoveryIp`, the binding is assigning an internal docker ip which is obviously not exposed and thus it will never going to be reach out by the `Amazon Echo`.
##

[2016-10-11 04:24] eschizoid commented on #1317
@digitaldan Any ideas would be greatly appreciated.

[2016-10-11 06:51] kaikreuzer commented on #1317
Isn't this rather something that needs to be addressed in the docker container and thus should be reported at https://github.com/openhab/openhab-docker? The container needs to provide an IP address under which the system is accessible externally; if it keeps the content of the container isolated, there is no chance for the hue emulation to be accessible.

[2016-10-11 06:53] kaikreuzer commented on #1316
This is no feature of any openHAB 2 addon, so this issue tracker is for sure the wrong place.
The rule engine is part of Eclipse SmartHome, but with this error description, I doubt that a bug report gets accepted, since no issues with lambdas are known.

[2016-10-11 06:53] #1316 closed

[2016-10-11 06:54] kaikreuzer commented on #1315
This is the issue tracker for the homematic 2.0 binding - as this issue seems to be about 1.9, I close it.

[2016-10-11 06:54] #1315 closed

[2016-10-11 06:54] kaikreuzer commented on #1314
@gerrieg Could you comment?

[2016-10-11 06:56] kaikreuzer commented on #1313
I do see it: http://docs.openhab.org/addons/bindings/harmonyhub/readme.html

[2016-10-11 06:56] #1313 closed

[2016-10-11 07:15] ertanden commented on #1311
Yes, actually I was the one reporting that issue too: #1266. If you like you can close this and re-open #1266.

I'm on a recent snapshot. 2.0.0.201610080957 is the version of Hue Emulation binding.

[2016-10-11 14:48] eschizoid commented on #1317
@kaikreuzer

I don't think that should be the case and let me explain why.

if you see the `docker-compose.yml` file or the run command for a normal `docker` startup, both have as parameters `net: "host"` and `--net=host` respectively. Meaning that the network ip its being shared between the container and host.

I can access the Paper UI using my raspberry pi network address. However, the hue emul

[2016-10-11 15:52] digitaldan commented on #1311
Sorry missed that.  Actually I had been assuming this was a conversion issue, now I realized I'am advertising everything as a "LWB004" device, which is not a Color hue bulb.  That would be the problem.  Let me play around with how to solve this, one thought is if the item is a ColorItem, then advertise a Color bulb, another however would be to support a "ColorLight" tag, there's currently a discus

[2016-10-11 18:32] kaikreuzer commented on #1317
I am absolutely no expert on these things, so I will leave it to @digitaldan to comment :-)

[2016-10-11 18:41] digitaldan commented on #1317
@eschizoid are you sure the property is being set properly?  I just checked the code, and it looks like we indeed use the address https://github.com/openhab/openhab2-addons/blob/57e29d39fad0413c56de4c8fe2d04772a6587f06/addons/io/org.openhab.io.hueemulation/src/main/java/org/openhab/io/hueemulation/internal/HueEmulationUpnpServer.java#L82 if it is specified.  I have had another user successfully us

[2016-10-11 18:44] digitaldan commented on #1317
Sorry, i missed this part.  The emulation binding is looking for the first non loopback address to send to, it must be finding the docker network even though it is not being used for this container.  Specifying the IP should work, what build are you on?  This was only added a week or two ago.

[2016-10-11 18:51] eschizoid commented on #1317
@digitaldan

positive. I try changing the property during runtime and during startup none of the work.

what build are you on?

I pull from docker hub yesterday around 11:00 pm central time. Don't have the build number right now.

[2016-10-11 21:41] dka23 commented on #503
This behaviour is still present in OH2b4 (and the included KNX binding). It seems to relay many items back to the KNX bus (e.g. every switch that is configured).

[2016-10-12 01:45] eschizoid commented on #1317
@digitaldan I con push a docker image if that would help you to identify the problem. Let me know.

[2016-10-12 02:26] koaxfr commented on #1184
Any news on this? I'm actually also very curious if controlling color item with homekit would be possible. As of right now (using souliss binding) I can only turn on/off my led strip and can't get the brightness to actually do anything.

[2016-10-12 03:13] beowulfe commented on #1184
See https://github.com/openhab/openhab2-addons/pull/1292

[2016-10-12 07:02] gerrieg commented on #1314
Are the devices discovered and available in PaperUI's inbox?

To help, switch the binding to TRACE mode please and send me a full startup logfile.
[code]

[2016-10-12 10:09] svilenvul commented on #1289
I am ready to try to build a prototype, but another question occurred to me.

Should this tool be custom standalone or it is better to add just the plugins for pmd, checkstyle, findbugs to the maven build?

A standalone tool (that includes the libraries above and maybe others and executes them via script) will be more portable, can be executed separately from the Maven build and can check only a s

[2016-10-12 11:41] maggu2810 commented on #1289
For Maven builds only it seems to be portable. I am using a Maven artifact that contains all PMD, Checkstyle, FindBugs, ... rule resources and it is used in different projects of mine.
For a nice IDE integration it depends on how to consume that rules.

[2016-10-13 11:46] kaikreuzer commented on #1289
I'd also say that it should be run within the Maven build itself (as a profile) as discussed above.
There should be ways to still keep it pretty independent of the specific Maven build on which it is integrated as @maggu2810 describes.

[2016-10-13 14:27] patrickse opened #1322 "MiLight Exception while toggling the state to off"
Hi,

I´ve currently facing some problems with my HomeKit and Milight integration.

My item is defined as the following.

[code]

On my iPhone the light appears and can be used. Up to now I was able to push on the bulb on my phone to activate or deactivate the light. Touch-hold enabled the dimmer.

After my last upgrade of openhab I can´t turn the light off with simply touching the bulp on my phone

[2016-10-13 14:32] kaikreuzer commented on #1322
This exception comes from the Milight binding, I doubt that it has anything to do with the HomeKit bundle. So better update your title to get the correct people's attention!

[2016-10-13 14:51] patrickse commented on #1322
@kaikreuzer you´re right. Thanks...

[2016-10-13 15:16] Boby71 opened #1324 "sysinfo binding: CPU temperature not delivered on a Raspberry PI 2"
The sysinfo binding provides a lot of useful information on my RPi2, but obviously not the CPU temperature while other values work pretty well:
![2016-10-13 15_05_22-home](https://cloud.githubusercontent.com/assets/22266373/19354797/4a67bee4-9168-11e6-9d80-42106703db34.png)
Someone said, it may not possible on Raspberrys - but other simple workarounds deliver the desired information easily.

In my

[2016-10-13 17:44] aschor opened #1325 "the "begin" line of running events is triggered every time the event list is refreshed"
I am playing with caldav command, to try to trigger my heaters via calendar events. To play faster, I have set the reload time to 1 min in the conf.
I found out that an "event BEGIN" is triggered  every minute during the duration of a calendar event, that is each time the calendar binding refreshes events from the caldav calendar (and while an event is active)

## Expected Behavior

If an event ha

[2016-10-13 19:22] patrickse commented on #1322
I've checked the stacktrace and it looks like only the color itemtype supports on/off commands. So I've changed the channel to ledcolor and Color item and the error is gone.

[2016-10-13 19:36] kaikreuzer commented on #1322
No, this is a false assumption. Any Dimmer item can receive ON/OFF commands and every binding has to handle that case correctly.

[2016-10-13 19:41] patrickse commented on #1322
Ok. If that´s the case, the handler needs to implement the OnOff command, right?

[MlightLedHandler.java L74-L77](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.milight/src/main/java/org/openhab/binding/milight/handler/MilightLedHandler.java#L74-L77)

What I can see, the Brightness Control just accepts DecimalType at the moment.

[2016-10-13 19:49] kaikreuzer commented on #1322
Yes, it needs to handle OnOffType and PercentType (DecimalType is actually wrong).

Likewise, the Color channel is missing the handling of PercentTypes (which should dim the color light).

[2016-10-13 21:21] Stratehm commented on #1206
I should have some time next week to implement multi-zone control.

[2016-10-14 06:09] Marty56 commented on #1314
Sorry for being slow to respond. I will provide the requested trace during the weekend.

[2016-10-14 07:30] patrickse commented on #1322
Hi Kai.. I´ve tried to implement the missing Command Handling. It´s working quite decent in my environment. Could you please review..

[2016-10-14 11:36] Marty56 commented on #1314
Hi Gerhard,

I have added some files to demostrate the issue.
For testing purpose I have reduce the number of homematic device to only two.
1. it is a normal homematic switch, 2. is a cux device with calculates the absolut humidity of a temperature sensor.

2. additionally I have added the event and openhab.log files in the ZIP File.

1. All cuxd device do not show up in the inbox in the paper ui.

[2016-10-14 12:05] redbear-ger opened #1327 "KNX & PaperUI"
Hi,
I'm using Build #520 atm and facing 2 major problems...

1.
Shouldnt be a "configure" option for PaperUI @ Configuration->Services? There are only options für Basic & Classic but PaperUI is obviously working (tried to switch default port and default items)

2.
KNX binding is installed but it is not listed in Configuration->Bindings. Therefore I cant add any KNX Items. Do I have a general misun

[2016-10-14 13:52] #1322 closed

[2016-10-14 15:50] eschizoid commented on #1317
@digitaldan Is there any other idea that you could suggest me to try?

[2016-10-14 15:51] gerrieg commented on #1314
Hi Marty!

That's not a TRACE log, it's a normal INFO log. Make sure, the Homematic binding is in TRACE mode, the logfile must be much bigger.

NanoHTTPD:
The 'could not delete file' message is a annoying bug in NanoHTTPD on windows machines, maybe i replace the NanoHTTPD server or i am going to patch it. Needs more time to test.

[2016-10-14 16:09] hmerk commented on #1327
Don't really understand your first issue. What is missing exactly.
Your second one is simple. KNX Binding is a openHAB 1.x Binding and can not be configured through PaperUI.

[2016-10-14 17:44] Marty56 commented on #1314
Hi Gerhard,
If used "log:set debug org.openhab.binding.homematic" on the karaf prompt because I did not find the file to enter your proposed statement <logger name="org.openhab.binding.homematic" level="TRACE" />

Hope you find the required info anyway
[logs.zip](https://github.com/openhab/openhab2-addons/files/530113/logs.zip)

[2016-10-14 17:47] gerrieg commented on #1314
Again, i need a trace!
use log:set trace org.openhab.binding.homematic

[2016-10-14 18:23] Marty56 commented on #1314
Ok. Hope it is correct this time.
[logs.zip](https://github.com/openhab/openhab2-addons/files/530171/logs.zip)

[2016-10-14 20:51] redbear-ger commented on #1327
1st issue:
Missunderstanding on my site... you can define sitemaps in "Classic" and "Basic" UI IN Paper UI but not FOR Paper UI ;)

[2016-10-14 20:51] #1327 closed

[2016-10-15 07:31] gerrieg commented on #1314
Yes, that's a trace log.

CUXD get's initialized but the listDevices method returns a empty list:
[code]
Which version of CUXD are you using? Do the CUXD devices work in the CCU?

[2016-10-15 08:10] Marty56 commented on #1314
The CUID devices of course work in CCU and they also work using openhab 1.8.
The CUXD Version is Version 1.0

[2016-10-15 08:40] gerrieg commented on #1314
Can you try to update to the latest 1.7? CUXD had some problems with the RPC methods in previous versions.
The 1.x binding uses another method to fetch the devices. The 2.x binding is Homematic-API compliant.

[2016-10-15 08:44] Marty56 commented on #1314
done upgrade to 1.7. no change. Would you like the traces again?

[2016-10-15 08:53] Marty56 commented on #1314
the RPCHOST=127.0.0.1 the CUXD damon is listening is the localhost so the CCU2 itself.
I guess you are always to the RPCHOST on the CCU2 and this is then routing to the CUXD damon.

[2016-10-15 09:39] udo1toni commented on #503
I don't understand why received bus events are echoed at all (this is not intended for knx, and OH1 does not behave like this, as far as I know). If someone needs this behavior (and I definitely don't know any scenario which would fit for this), there should be a rule to solve this needs.

In fact, I'm about to upgrade to OH2 and had to realize, that as long as both openHAB instances are online, o

[2016-10-15 10:13] gerrieg commented on #1314
You are right, i installed CUXD 1.7 and added one device. No way to fetch the device via XML-RPC, there is always a empty response.
I'll contact the CUXD developer...

[2016-10-15 18:33] MHerbst commented on #1314
@gerrieg I have tried to replace NanoHTTP with Jetty HTTP server. Seems to be work without changing too much in XmlRpcServer. But I need to do some further testing. I will create a pull request as soon as I am satisfied with the implementation.

[2016-10-15 20:54] MHerbst opened #1330 "Homematic Binding: Several messages regarding not found descriptions"
When starting openHAB I get several messages because of missing descriptions:

2016-10-15 22:51:45.046 [INFO ] [binding.homematic.type.MetadataUtils] - Description not found for: SHUTTER_CONTACT|ERROR|, ERROR|,
2016-10-15 22:51:45.046 [INFO ] [binding.homematic.type.MetadataUtils] - Description not found for: SHUTTER_CONTACT|ERROR|, ERROR|,
2016-10-15 22:51:45.047 [INFO ] [binding.homematic.type.M

[2016-10-15 21:15] SuperOok commented on #503
afaik at the current date the knx-binding version 2.0 is not yet officially merged to OH2; so everybody is still stuck with the 1.8 binding, which shows this behavior. Having the 2.0-bindings in review already, I guess no-one really will invest much time in fixing this issue in 1.8, right? However, 2.0-binding are in review for quite some time now...

[2016-10-15 21:19] DimitrisSar commented on #503
Can't wait for the 2.x KNX Binding myself either :)

That double (echoed) message is bugging me (although not a big issue).

I send the status updates to the mqtt-eventbus also and the event is registered twice :(

[2016-10-15 21:20] gbirke opened #1331 "Homematic HG-HM-CC-TC shows no channels"
I'm using the homematic 2.0.0.b4 binding with the homegear gateway software. I've recently updated from OH1 to OH2.

I have two devices - a HG-CC-RT-DN that shows all the channels and a HG-HM-CC-TC that shows no channels. I've tried to convert the channel names in my items file, ignoring the missing channels in the Paper UI, but it seems to be an addon problem. The funny thing is - the trace log s

[2016-10-16 07:22] gerrieg commented on #1314
@MHerbst
Thank you, Jetty also would have been my first choice to replace NanoHTTP

@Marty56
The CUxD developer told me, that he implemented XML-RPC with empty dummy methods and he don't add the necessary methods. CUxD only supports BIN-RPC. I must therefore use a double protocol. I need to take a closer look at how much work this is.

[2016-10-16 07:32] Arsur commented on #1330
i have the same problem. Iam using homeger as "bridge"

[2016-10-16 07:36] Marty56 opened #1332 "SONOS command "notificationsound" does not add sound file to the playqueue"
The new SONOS command "notificationsound" is not added a respective sound file in the SONOS playqueue. If used it only plays the sound file which is already exisiting in the queue.

The desire behavior would be to act like the "playuri" command in this respect. Meaning to clear the queue and add the respective sound file.

[2016-10-16 07:48] kgoderis commented on #1332
@lolodomo any thoughts on this as you (I think) introduced this command some time ago

[2016-10-16 07:49] kgoderis commented on #1332
@Marty56 This issue should be added to eclipse/smarthome instead, as the binding has been moved to that repo

[2016-10-16 12:50] #1332 closed

[2016-10-16 12:58] Marty56 commented on #1332
OK. I move it there. Is there a doc where to find the related bug tracker other than "look at the code!" ?

[2016-10-16 17:50] kaikreuzer commented on #1332
See http://docs.openhab.org/developers/contributing/contributing#the-repositories.

But you are right, from the user docs, it is difficult to find the right repo. It might make sense to add a link to the correct issue tracker in http://docs.openhab.org/addons/bindings.html or where would you expect it?

[2016-10-16 19:42] Marty56 commented on #1332
Thanks for the link. This is a good start and provides some orientation.
To add the first link at the addons doc site (the second link) is a good place to teach the user where to find the right issue tracker.

Although it is still not quite clear for me how I could have determined from that information that the SONOS binding is not tracked in openHAB2 addons but in the Eclipse SmartHome Extensions

[2016-10-16 20:11] MHerbst commented on #1023
As far as I can see, this issue is solved and could be closed @gerrieg

[2016-10-17 17:16] #1036 closed

[2016-10-18 14:15] Yannic-HAW commented on #1041
@dominicdesu
Sorry for the delay. I have tested the plugin now on a daily basis for more thank a week and it works well without any issues. (tested on Linux 32 and 64 bit) Even reconnecting is no problem with my panasonic sc-all.

Amazing work :) A small suggestion for the future would be to also implement the group functionality

[2016-10-18 20:17] OLibutzki commented on #1235
@dominicdesu I fixed a couple of bugs as you can see in #1236. So feel free to try the binding again.

[2016-10-19 08:38] lewie commented on #503
@SuperOok
The KNX **1.8** binding works well!
To prevent echo effect you must set **`knx:ignorelocalevents=true`**.
And it is a good idea to set like **`knx:busaddr=15.15.249`**, for identifying the binding itself.
If you still have problems with the KNX **1.8** binding, please sign up.

The KNX **2.0** binding I can not judge.
I wish a very long time for the KNX **2.0** binding too!!!

[2016-10-19 09:11] joltcoke commented on #503
@lewie ignorelocalevents is set to true and a busaddr is also assigned, oh2 is still sending out clone events.

[2016-10-19 09:20] mpattera commented on #503
@lewie knx:ignorelocalevents is working fine, the issue is in the AutoUpdate! see my post of Feb 18th

[2016-10-19 09:34] lewie commented on #503
@joltcoke, @mpattera,
OK, you are right, the KNX 2.0 binding since 2014 still does not work as expected.
So next days I will analyze the the KNX 1.8 binding. ;-)

[2016-10-19 09:35] joltcoke commented on #503
@lewie Awesome! Thanks for your help. Let me know if I can support you in any way!

[2016-10-19 10:17] kgoderis commented on #503
@leweie errr...? Helmut, do you have something specific in mind?

[2016-10-19 12:38] lewie commented on #503
@kgoderis, you are right! Bash me on head... this sounds definitely not fair against you and all the other involved programmers, Karel sorry!!

For clarification:
Some parts with the things and GUI parts are not ready implemented, and so the KNX 2 binding currently cannot replace the old one, where the item definition simply is written in .items file yet.

OH2 is heavily in development and it take

[2016-10-20 02:26] pfink commented on #1199
When I look at #1322, it seems like @patrickse gained expierence with that. @patrickse: Maybe you could share your complete file based configuration here?

[2016-10-20 11:00] joek commented on #1330
Same problem here

[2016-10-20 15:32] gtg864m opened #1342 "DSCAlarm Binding: Things stuck on Status: INITIALIZING"
I am having an issue with DSC Alarm Things initializing after a restart of OH2.   This started when I upgraded from Beta 3 to Beta 4.  My setup is RPI2 using the Envisalink. After a restart I have to go in and restart the bundle in the console (or uninstall/reinstall the binding) to get Things to go online.

10:21:02.679 [DEBUG] [rm.handler.DSCAlarmBaseBridgeHandler] - DSC Alarm Polling Task - 'ds

[2016-10-20 18:58] patrickse commented on #1199
Up to now, I´ve just auto-discover and just added the items I need manually to support the tags. As far as I know there are no tags in Habmin at the moment. (but maybe I am wrong). Look at #1322 there are some example items for my milight installation.

[2016-10-21 20:08] harryzz opened #1343 "[rfxcom] Temperature and Humidity icon not displayed and formmating exception in log"
OpenHAB 2.0 SPAPSHOT

in channels.xml
for channel-type id="temperature"
add:  `<category>Temperature</category>`
change: `<state pattern="%.1f °C" readOnly="true"></state>`
for channel-type id="humidity"
add: `<category>Humidity</category>`

br
harry
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38578945-rfxcom-temperature-and-h

[2016-10-22 03:36] Marty56 commented on #1314
@Gerhard,

I am using the offline OH2 version and I am not sure how I can overwrite the already loaded old binding with the test binding you have provided.
Could please provide some instruction.

[2016-10-22 05:19] Marty56 commented on #1314
I have added the binding into the addon folder.
There seem to be still issues.
Hopefully the log file contains the trace this time ;-)

[logs.zip](https://github.com/openhab/openhab2-addons/files/545613/logs.zip)

[2016-10-22 06:57] gerrieg commented on #1314
Thank you for testing and for the TRACE logfile ;-) Hmmm ... connection exception on the wired port. In this build i also changed the communicaton from XML-RPC to BIN-RPC (except HMIP).
Please try this new build: [Download](https://drive.google.com/file/d/0Bw7zjCgsXYnHYm9tZUVyTmpzNHM/view?usp=sharing)
There is again XML-RPC and only for CUxD BIN-RPC.

[2016-10-22 07:39] Marty56 commented on #1314
I have tested it. It seems to fetch the first cux device and seems to fail on the second.
Also I have noticed that I cannot shut down OH with crtl D. I am just closing the windows now.

[logs.zip](https://github.com/openhab/openhab2-addons/files/545661/logs.zip)

[2016-10-22 12:42] lolodomo commented on #1332
@kgoderis : no sorry I have not introduced this command and that is even one of the rare features of the Sonos binding I have not yet tested.

[2016-10-22 15:37] joeduck opened #1344 "[pioneeravr] Volume set for VSX 528 like AVRs"
Hi,
very nice Binding. It works very well for me. But some receivers, like my VSX 528, has no volume set command (VL), only VU and VD. For my homematic i had a workaround with a loop who set the Volume with x VU/VD commands. It would be nice, the binding has a function like this.

Here some code, sadly i am no java programmer (i am at the end no Programmer ;-))
This code is from http://forum.logic

[2016-10-22 18:51] gerrieg commented on #1314
Found the bug that causes the error in your logfile, new version to [Download](https://drive.google.com/file/d/0Bw7zjCgsXYnHZUNZRGRneC1sN0E/view?usp=sharing)
Make sure the new version is loaded, the logfile should contain the message 'Testversion 1.0.0'

[2016-10-22 19:01] lewie commented on #503
@joltcoke, @mpattera, @DimitrisSar, @DimitrisSar, @udo1toni, @dka23, @RichardPasmans, @punkadiddle, @epike
I need some Testers in OH 2.0 and OH 1.8, please:

https://github.com/lewie/openhab/raw/lewie-knx1.8-test-patch-1/org.openhab.binding.knx-1.9.0-SNAPSHOT.jar

Events where fired twice over *internalReceiveCommand* and shortly thereafter over *internalReceiveUpdate*. So disabled *internalReceiv

[2016-10-22 19:42] joltcoke commented on #503
Installed it with bundle:install <url>, but all I got is the following message:

2016-10-22 21:33:57.939 [INFO ] [nx.internal.connection.KNXConnection] - KNXBinding configuration is not present. Please check your configuration file or if not needed remove the KNX addon.

knx.cfg is of course in the usual place. Reactivating the old bundle works just fine.

[2016-10-22 20:10] lewie commented on #503
@joltcoke, I put it in addons folder (from there it is started automatically) and configured conf\services\knx.cfg, that's it.
I did not install knx bundle with Paperui before.

[2016-10-22 20:19] Marty56 commented on #1314
Hi Gerhard,
I have copied your binding into addons but I do not see "testversion 1.0.0" in the log.
What else do I have to do to get the binding loaded?

[2016-10-22 21:34] edsonaj commented on #929
Hi @beowulfe

Any news on this?

Thanks

[2016-10-22 22:37] hmerk commented on #1295
I can not reproduce this issue with latest build and actial firmware of the netatmo thermostat. Is there anything in your logs about this error ??

[2016-10-22 22:40] kaikreuzer commented on #1325
Reading https://community.openhab.org/t/where-to-submit-bugs/15537, I assume you have already entered an issue at https://github.com/openhab/openhab/issues, where the caldav code resides.

[2016-10-22 22:40] #1325 closed

[2016-10-23 00:39] beowulfe commented on #929
Still waiting on the ESH issue to be resolved - there's no way to solve this within the add-on without that.

[2016-10-23 04:31] Marty56 commented on #1314
I have resolved loading the lasted version.
It still throws a couple of error messages but seems to be able to read both cuxd channels.
So good progress.
[logs.zip](https://github.com/openhab/openhab2-addons/files/546175/logs.zip)

[2016-10-23 05:59] DimitrisSar commented on #503
@lewie  I will be running some tests on both OH1 & OH2 (beta 4 and snapshots) and I will report soon (hopefully later today) with trace logs, configs, etc.

Thanx for the update lewie!

@kgoderis : Keep up the great work on the development of KNX Binding 2.x ! :) We want to see that also 👍

[2016-10-23 06:59] Marty56 commented on #1314
I have meanwhile extended my tests and discovered that only one of my CUXD Temperature devices is updated.

In things I have

    Thing HM-WDS10-TH-O     CUX9002002
    Thing HM-WDS10-TH-O     CUX9002001
    Thing HM-WDS10-TH-O     CUX9002003
    Thing HM-WDS10-TH-O     CUX9002004

and accordingly in items the same channel definition.

[2016-10-23 07:57] gerrieg commented on #1314
Fixed: [Download](https://drive.google.com/file/d/0Bw7zjCgsXYnHLS1GQkUzRWs5dVU/view?usp=sharing)
Testversion 1.1.0

Disabled virtual datapoint generation for some datapoints for CUxD devices. Since Homematic devices are emulated by CUxD, i can not add some of these virtual datapoints.

[2016-10-23 09:36] Marty56 commented on #1314
Not success. Same behavior as described above. Only one CuxD device is updated.
[logs.zip](https://github.com/openhab/openhab2-addons/files/546260/logs.zip)

[2016-10-23 09:58] kgoderis commented on #1332
@lolodomo No prob. Just wondering. @digitaldan did you implement that method?

[2016-10-23 11:12] lewie commented on #503
@joltcoke, @mpattera, @DimitrisSar, @DimitrisSar, @udo1toni, @dka23, @RichardPasmans, @punkadiddle, @epike

The first jar was not compatible with OH1. Please use this now:
https://github.com/lewie/openhab/raw/lewie-knx1.8-test-patch-2/org.openhab.binding.knx-1.9.0-SNAPSHOT.jar

For testing with OH2 you MUST set a new configuration switch, add in knx.cfg:
[code]

[2016-10-23 11:16] lewie commented on #503
@joltcoke, @mpattera, @DimitrisSar, @DimitrisSar, @udo1toni, @dka23, @RichardPasmans, @punkadiddle, @epike

The first jar was not compatible with OH1, please use a new configuration switch for openHAB 2 compatibility, add in knx.cfg:
[code]

Use this jar:
https://github.com/lewie/openhab/raw/lewie-knx1.8-test-patch-2/org.openhab.binding.knx-1.9.0-SNAPSHOT.jar

[2016-10-23 11:22] gerrieg commented on #1314
Accidentally closed?

In your logfile there are two Homematic related errors:
1.) Can't convert STRING value ...
This should be fixed with Testversion 1.2.0: [Download](https://drive.google.com/file/d/0Bw7zjCgsXYnHeGRVR3RqTHAtQm8/view?usp=sharing)

2.) Could not update thing ... Most likely because it is read-only.
Remove the things in your things file, you only need the bridge

Now, all errors sh

[2016-10-23 12:03] Marty56 commented on #1314
I have remove all things not. My things file now locks like that below:

Bridge homematic:bridge:ccu [ gatewayAddress="192.168.1.110"]
{ }
Hopefully this was the right understanding.
This resulted in not receiving anything. I will switch back to the old things file.

[2016-10-23 12:08] gerrieg commented on #1314
yes, that's all you need. It works for me.

[2016-10-23 12:09] Marty56 commented on #1314
Not working: only one CuxD Device is being update.
See log:
Please not the log probably contains to starts. first with the new things file and then with the
reverted.
Atleast with the reverted I am geting the standard items updated.

I will be out. Probably back in 5 hour. So take your time.
[logs.zip](https://github.com/openhab/openhab2-addons/files/546318/logs.zip)

[2016-10-23 14:36] DimitrisSar commented on #503
First test with:
OpenHab 2 - Beta 4 (Clean Install via apt-get) on Raspberry Pi 3

Installed the new binding in the following way:
1) Downloaded https://github.com/lewie/openhab/raw/lewie-knx1.8-test-patch-2/org.openhab.binding.knx-1.9.0-SNAPSHOT.jar into /usr/share/openhab2/addons/org.openhab.binding.knx-1.9.0-SNAPSHOT.jar (changed file ownership to openhab:openhab)
2) From Karaf console, feature

[2016-10-23 15:23] kaikreuzer commented on #1332
No, it was a contribution from DT.

[2016-10-23 16:02] ghost opened #1345 "[homekit] MAX! Thermostat Mode issue"
There are some problems with the mode settings. If I change the mode via Browser, my iOS device(iOS10) is showing the right information (Cooling to XX°C...). But it isnt possible to change the mode on the iOS device. It is just saying No Answer. Just setting the Temperatur works fine. The MAX modes are AUTOMATIC, MANUAL and BOOST and I set them also up in the homekit.cfg file.

Is there a fix?
##