[2020-06-18 19:38] lolodomo commented on #7938
Of course, I own a welcome camera.

[2020-06-18 19:51] yfre commented on #7912
cool. really need it. (tired to switch camera everyday off when the mower robot start to work - it gets detected as a car :)

[2020-06-18 20:05] Novanic commented on #7938
A working version can now get found here: https://github.com/Novanic/openhab-addons/tree/7938-Support-Switching-Video-Surveillance

It took me only about 1 hour to get this done after #7912 got merged. :-)

[2020-06-18 20:27] nokyyz commented on #7938
Hi @Novanic, does your implementation support the state feedback on this video surveillance channel? E.g: the surveillance state switch automatically when I switch the video surveillance on my Netatmo app (webapp or smartphone)

[2020-06-18 20:35] Novanic commented on #7938
Hi, only with a delay of upto a few minutes. All data/channels are updated in an interval of about 5 minutes.

[2020-06-18 21:07] Marcello87 commented on #6762
Same here, with Smartmeter Binding:
[code]

[2020-06-19 01:22] Hect0rG opened #7943 "Market Bindings missing after install of [Eclipse IOT Marketplace]"
Sought help from OH community forum, see [https://community.openhab.org/t/eclipse-iot-market-bindings-not-available/100782/16](https://community.openhab.org/t/eclipse-iot-market-bindings-not-available/100782/16) for details. Other users confirm they are also having issues pulling in all the market bindings.

## Expected Behavior
After installation of Eclipse IOT Market Binding, turning on the Incl

[2020-06-19 09:07] nokyyz commented on #7938
Damn.
Is it possible to configure this interval value in the binding parameters?

[2020-06-19 11:30] lolodomo commented on #7938
I guess the existing configuration setting is used. Its default value is 300000 ms (5 min) but you can adjust it.

[2020-06-19 14:33] chris922 opened #7945 "[amazonechocontrol] WebSocketClient threads will not be closed"
## Expected Behavior
WebSocketClient threads will be closed properly after the request

## Current Behavior

I had the issue that my openHAB2 instance crashes after running for a few hours, in the logs I found a hint that no new thread could be created (_OutOfMemoryError: unable to create native thread_). After digging deeper I saw that my openHAB process spawned a hgue amount of threads (a few th

[2020-06-19 14:38] J-N-K commented on #7945
Duplicate of #7910

[2020-06-19 14:38] #7945 closed

[2020-06-19 14:42] chris922 commented on #7945
Ouh damn. Just searched the opened issues. But great to hear the issue was already solved! :)

[2020-06-19 15:59] Wiggerl26 commented on #7169
Hi guys,

at first I want to thank @gerrieg for his great work and effort to maintain and fix his great binding :-)
I really appreciate that.

I installed the new binding and everything works fine again except **valve_commands#commandDuration** which throws following exception for my 2 watering devices:

 **[WARN ] [internal.handler.GardenaThingHandler] - org.eclipse.smarthome.core.library.types.D

[2020-06-19 16:04] jsiemon commented on #7943
Same behavior with 2.5.4.

[2020-06-19 18:28] Novanic commented on #7938
For which use-case do you need an immediate update of the state?

[2020-06-19 22:40] jpg0 commented on #7880
Whilst I don't use Windows, or 2.5.6 (yet) I have seen this error lots as part of implementing a newer JS engine. When loading the newer JS engine it 'takes over' the existing one (Nashorn) and leaves it in a broken state. This will cause the exception here.
This probably isn't much use to any non-devs, but hopefully it's a useful data point!

[2020-06-20 02:26] dafzor opened #7947 "[miio] Better support for Xiaomi IO Philips Wi-Fi Bulb E27"
I have several [Xiaomi IO Philips Wi-Fi Bulb E27](https://www.mi.com/uk/philips-wi-fi-bulb-e27-white/specs/) which I had been using with openhab/openhab:2.5.5 container for arm7.

I have to force the type and model and brightness but both power and brightness controls work as expected.

config:
[code]
"warnings" in openhab.log
[code]

It would be nice for the device to be properly recognized so I

[2020-06-20 07:06] #7912 closed

[2020-06-20 07:32] lolodomo commented on #7938
I just tested and it works as expected with the Welcome camera. Great.
There is a little delay but we have a simlilar delay when using the netatmo app.
Maybe you should reschedule the refresh few seconds after handling this action, rather than waiting for the already scheduled refresh which can be in 5 minutes in the worst case. This will allow having uptodate channels just after switching on the

[2020-06-20 07:40] lolodomo commented on #7938
Regarding the interval between refresh, I can confirm that we have a configuration setting for that. In case, a user wants a quickest refresh, he can reduce this interval.

In my opinion, it makes no sense to have defined this setting in milliseconds !!! We can of course expect problems if a user define 1 ms for example. @clinique : if we change now the unit, this will not be backword compatible.

[2020-06-20 07:47] clinique commented on #7938
@lolodomo : rescheduling a refresh is the best way, it's done this way in the NATherm1handler. I fully agree that millisecond is inappropriate as a refresh time scale. We could keep it as his and maybe schedule a dedicated PR for this kind of change when move to OH3 is started.

[2020-06-20 07:55] lolodomo commented on #7938
Yes, my remark about the refresh interval unit is out of the scope of this enhancement. I will create a separate PR to add a control in `defineRefreshInterval` and avoid too much small values.

In the scope of this enhancmeent is the short delay to refresh channels after activating/deactivating the surveillance.

[2020-06-20 08:00] Novanic commented on #7938
@lolodomo Thank you for testing. :-)

I don't understand why a refresh should be scheduled after switching the state within OpenHAB. When the user switches the state within OpenHAB, the state is directly updated (a switch within HabPanel for example shows directly the new value). Which positive effect should it have?

[2020-06-20 08:10] ddt3 commented on #7667
I used 'for i in {1..400}; do sleep 2 && top -b -p 25442 -n1 | tail -1 ; done'
(where 25442 is the java process) Result below, when the error happened the usage was about 6.7 percent.

`25442 openhab   20   0  657636 421892  13372 S   0.0  42.2 329:00.66 java
25442 openhab   20   0  657636 421892  13372 S   6.7  42.2 329:00.92 java
25442 openhab   20   0  657636 421892  13372 S  26.7  42.2 329:01.

[2020-06-20 08:12] lolodomo commented on #7938
A refresh of the last event and recent live picture in particular.

[2020-06-20 08:14] lolodomo commented on #7938
And of course an update of the status. In case the item is with `autoupdate="false"`, the camera status will be really ON only after the refresh cycle.

[2020-06-20 08:20] Novanic commented on #7938
Hm, when the user switches the state from off to on within OpenHAB, the state in OpenHAB is still off (when autoupdate=false)? Could you please short confirm or explain it?

I understand that it is useful for the new floodlight switch for example. When the user switches the floodlight on, the user may want to get a new live picture where the floodlight is on (the picture has more brightness). So I

[2020-06-20 08:31] clinique commented on #7938
Yes, you can not just rely on supposed state of the switch, that may be valid if autoupdate=true but surely false if autoupdate=false. Also, if for any reason the api post doesn't succeed, your switch will be ON while the floodlight is OFF, so re-triggering a refresh will help having a state representation as consistent as possible in regard of reality. It is also valid if the action has an effect

[2020-06-20 08:40] lolodomo commented on #7938
IMHO, no need for a configuration setting for that. You should check again because the action takes a little time even in the netatmo app. I compute around 2 seconds in the netatmo app but it looks like it takes more time when done through openHAB. But maybe it is due to how is implemented the netatmo app. The solution will be to check that the camera status is always ok with the delay you will ch

[2020-06-20 08:43] lolodomo commented on #7938
Good point Gael, it is also a way to be sure that the command succeeded and to have a quick feedback.

[2020-06-20 08:59] RalphSester commented on #6932
This bug is still existing. Is there no one, who can take an eye on this?

[2020-06-20 09:09] andrewfg commented on #4351
I am doing some other work on this binding at the moment => @berland and @mstroeve are you still interested in having this enhancement? If so, are you willing to test it for me, since I do not have any Duette shades myself?

[2020-06-20 09:10] RalphSester commented on #6932
@mmans is this something you can check?

[2020-06-20 09:18] lolodomo commented on #7938
@clinique : this  is doable simply by calling the method `invalidateParentCacheAndRefresh` ?

[2020-06-20 09:44] berland commented on #4351
Yes, I can test.

[2020-06-20 10:33] wborn opened #7949 "[netatmo] NAPresenceCameraHandlerTest uses internal I18nProviderImpl class"
When you build the ported OH3 add-ons, the build fails to compile the `NAPresenceCameraHandlerTest` class because the `I18nProviderImpl` constructor changed with https://github.com/openhab/openhab-core/pull/1487.

There should not be any usages of internal OHC/ESH classes in tests at all and it would be better if the build failed whenever they are used in imports.

Instead the `NAPresenceCameraHan

[2020-06-20 11:02] mmans commented on #6932
Hi @RalphSester!

Unfortunately I'm unable to test this myself. But what I see in the code is, that a message-object expects a "DeviceLinkList". However, the Json you provided (in your excellently filed bugreport) doesn't contain this field. Instead there is a "devices" field.

I simply renamed this in the code. So if you like you could test this. I don't know exactly if this can cause other parts

[2020-06-20 13:08] RalphSester commented on #6932
Hi @mmans ,

i have tested your pre-compiled jar in my environment - and the test was positive!
Many thanks for your great help. i think, its good, that this issue is fixed now!

Good job!

Ralph

[2020-06-20 13:14] wborn commented on #7943
The server only returns at most 10 nodes now instead of all results:

https://marketplace.eclipse.org/taxonomy/term/4988%2C4396/api/p?client=org.eclipse.smarthome

There doesn't seem to be a way to increase the number of results according to the [Marketplace REST documentation](https://wiki.eclipse.org/Marketplace/REST).

[2020-06-20 13:43] gerrieg commented on #7169
@Wiggerl26
Replace ```Number``` with ```Number:Time``` in your Item.

[2020-06-20 13:48] mstroeve commented on #4351
Same for me i can also test. It would be nice to get the positions of both rails. Currently use a scene to detect if some of my powerviews are all the way down to trigger closing zwave curtains. But when some manually close them i currently can detect it.

[2020-06-20 14:38] Novanic commented on #7949
Ok, how can I trigger the build? Is there a separated Git project?

[2020-06-20 15:25] wborn commented on #7949
You can port the add-ons using this [script](https://gist.github.com/wborn/0e3cd275be724e827ef88bb04b7eb12a). But I don't there's any need. Just remove the `I18nProviderImpl` from the imports and use something that implements the `TimeZoneProvider` instead. If that builds with OH2 it should also work with OH3. :-)

[2020-06-20 16:09] mmans commented on #6932
Hi @RalphSester!

That sounds great! Thanks for the quick test!
I will create a PR so the fix will be merged in the main code.

Greetz,
Marco

[2020-06-20 16:15] Novanic commented on #7949
Ok, the pull-request is created, see #7959

[2020-06-20 16:46] Hect0rG commented on #7943
According to the rest documentation wborn posted, it states "page num: The search API returns 10 results per page. **_Use this parameter to iterate through pages_**. The root node will always return the total number of results." that doesn't mean the results aren't there, it just means multiple requests may need to be made. At least that's what I take from it. Also since the root node returns the

[2020-06-20 17:10] wborn commented on #7943
Doesn't work with the request it's currently using. Maybe if it's changed to a search.

It does make sense because you can see the [reponse](https://marketplace.eclipse.org/taxonomy/term/4988%2C4396/api/p?client=org.eclipse.smarthome) has:
* 7 bindings: `<packagetypes>binding</packagetypes>`
* 3 rule templates:  `<packagetypes>rule_template</packagetypes>`

[2020-06-20 17:15] BigGeorgeTx commented on #7910
I was able to load it using this method:
https://community.openhab.org/t/solved-openhabian-how-do-i-update-one-binding-to-latest-snapshot-only/69324

[2020-06-20 17:36] wborn commented on #7949
Thanks it works!

[2020-06-20 17:36] #7949 closed

[2020-06-20 17:50] andrewfg commented on #4351
Many thanks @berland and @mstroeve to you both for your kind offer to help. As a starting point can you please answer for me the following questions about what happens in your systems with the existing binding when you use it with your Duette shades?

- Does the current "position" Rollershutter channel, display the position status of the **_lower_** shade (or the upper one)?
- Does sending a comma

[2020-06-20 17:59] andrewfg commented on #4351
Yes, I noticed that too. This is in fact the original reason why I started to do work on this binding. The following is a quotation from the API document _"Hubs maintain transient shade state such as position and battery level. Any API call that returns the shade position and/or the battery level is delivering the last Hub saved value of these attributes. In general, shades are moved via API calls

[2020-06-20 18:22] Wiggerl26 commented on #7169
Great! Number:Time did the job :-)

[2020-06-20 20:03] phuongpham opened #7959 "[tesla] Sunroof mode not working"
Not possible to change the state for sunroof.

### Possible Solution
Seems like the API have changed.
Has been discuss on different forums:
https://forums.homeseer.com/forum/robotics-plug-ins/robotics-discussion/tesla-vehicles-shill/1363397-close-sunroof-not-working

### Steps to Reproduce (for Bugs)
When slide(dimmer) the sunroof item nothing happening. The value for the item show correct. Ex. ch

[2020-06-20 21:30] Novanic opened #7963 "[netatmo] The lastEvent is detected/compared incorrectly"
see title. The bug exists since 2.5.6 and should get solved immediately with 2.5.6.

[2020-06-20 22:01] kaikreuzer commented on #7943
Ok, so this does not seem to be anything on our end indeed.

@chrisguindon, could you maybe help us here? Are you aware of any recent change that has been made to the Eclipse IoT Marketplace REST API in terms of the number of returned results?

[2020-06-20 22:19] #7963 closed

[2020-06-21 02:02] Hect0rG commented on #7943
@wborn Tha makes sense, I see what you mean now. If I understand this correctly, going to this URL [https://marketplace.eclipse.org/api/p](https://marketplace.eclipse.org/api/p) and searching for **IoT**. I found this below. It indicates that category ID **4988** under market ID **4936** does in fact only have **10** results in it even though I guess it should have much more.  The interesting part

[2020-06-21 09:11] clinique commented on #7938
Yes, IIRW it's the purpose of this method

[2020-06-21 09:49] Novanic commented on #7938
Ok, the refresh is now executed and I see these positive effects:
- When the floodlight is switched on/off a new live picture gets received with the new floodlight state.
- When the video surveillance is switched on/off an event is received to confirm the new state.

I have now created a pull-request: https://github.com/openhab/openhab-addons/pull/7968

[2020-06-21 15:58] equake commented on #7459
70016 seems to be "wrong password" as I was getting this error consistently and my password was wrong :see_no_evil:

[2020-06-21 19:18] elisman commented on #7880
I have the same issue. I am running the stable version openHAB 2.5.6-1 on Ubuntu 18.04.4 and OpenJDK 1.8.0_252. When I try to view items in BasicUI, the NPE is thrown on the server. Frames are not being displayed. 😞

[2020-06-21 20:04] andrewfg commented on #4351
Hi @berland and @mstroeve, I already made significant progress on the code (its on my fork of the OpenHAB repo [here](https://github.com/andrewfg/openhab-addons/tree/hdpowerview-experimental/bundles/org.openhab.binding.hdpowerview)). You can get an idea of the changes by looking at the ReadMe file (scroll down to see the additions). You should be able to build your own Jar from the repo (but if yo

[2020-06-21 21:49] kaikreuzer commented on #7880
@openhab/add-ons-maintainers Does anyone of you have an idea what could have broken this code?
Looking at https://github.com/openhab/openhab-addons/commits/2.5.x/bundles/org.openhab.transform.javascript, the only change in 2.5.6 was applying spotless on the pom.xml - I cannot see any other change.
What change could cause the `ScriptEngineManager` to not find the engine for `javascript` anymore...?

[2020-06-21 22:16] andrewfg commented on #4351
PS the jar is [here](https://drive.google.com/file/d/1Wo0hCpJH688nOv8xg6hwLUEmyoVbq20H/view?usp=sharing)

[2020-06-21 23:22] Rossko57 commented on #7880
Note that some users reporting some javascript transformations work, some don't.  Context for the transformation (binding, label, etc.) appears irrelevant.  No-one has yet reported JSR223 javascript _rules_ as a roblem, but that usage might be rare.

[2020-06-22 00:49] bgilmer77 opened #7971 "[telegram] add sendAnimation and sendVideo"
Please add sendAnimation and sendVideo to the Telegram add-on.

I have confirmed that those functions are supported by the Telegram API.

Evidence for sendAnimation:
[code]

Evidence for sendVideo:
[code]

This would be extremely useful in conjunction with the ipcamera binding which generates both .gif and .mp4 files which can be linked to motion events.

Thank you.

[2020-06-22 05:25] haesslo opened #7972 "[MQTT Homeassistant] Abbreviations support"
My problem came when I tried to use MQTT Homeassistant support to read results from a Tasmota  Sensos, which was configured to HomeAssistant.
I realized in order to create channels that openhab Homeassist would expect a flag called "force_update" but that the Tasmota device would send a flag calles "frc_upd".
Openhab MQTT Homeassistan support would not create channels and report

`7:45:18.165 [WAR

[2020-06-22 06:28] helmar74 commented on #7880
After Upgrading to 2.5.6 same issue here

[2020-06-22 07:08] obrador commented on #7880
Same issue also here after upgrade to 2.5.6

Debian stretch with official openhab2 repositories.

[2020-06-22 07:32] #7880 closed

[2020-06-22 07:47] berland commented on #4351
I have tested your jar (removing the Thing I had for the shade, and re-adding it through its id gave me a new Thing with the secondary channel).

Not able to control it or get the status; check this TRACE log:
[code]
where I guess the 'Skipping non-bound shade' is the thing to solve?

For reference I have uploaded my current "binding" using only mqtt and python to https://gist.github.com/berland/e

[2020-06-22 07:53] markus7017 opened #7973 "[shelly] Support for Shelly Gas"
Alterco introduced a Gas sensor. Support will be added to the 2.5.7 release of the binding.

[2020-06-22 07:54] markus7017 opened #7974 "[shelly] Support for Shelly Button 1"
Alterco introduced a battey power button. This will be supported by the binding with release 2.5.7

[2020-06-22 07:56] markus7017 opened #7975 "[shelly] Support for Shelly i3"
Alterco introduced a new device, the Shelly i3, which provides 3 input channels. Combined with the button events shortpush/2xSP/3xSP/Longpush it supports 24 different combinations to trigger an event, which can then be processed by an OH rule. Version 2.5.7 integrates this device.

[2020-06-22 07:59] markus7017 opened #7976 "[shelly] Exception when wakeup reason list is empty"
Depending on timing the list of last activation reaons for a battery powered device coiuld be empty. This could cause an exception processing that data, because array[0] causes an exception when the list is empty.

Bug is fixed and will be included in the next PR.

[2020-06-22 09:16] leiweke commented on #7090
Hello @tah78 @RS84 any news on this issue? many thanks

[2020-06-22 09:31] tah78 commented on #7090
Nothing new here. I implemented my Kostal Plenticore Plus with battery via Modbus binding. It's a lot of work, but it works in my constellation with Zwave.

<img width="246" alt="Bildschirmfoto 2020-06-22 um 11 24 12" src="https://user-images.githubusercontent.com/45661849/85271954-cb1eec80-b47b-11ea-8553-9d9dd1b8b209.png">

[2020-06-22 10:07] J-N-K commented on #7920
The reason is that most sensors report it as config, while Ikea reports it as state. The support for that was unintentionally dropped in the refactoring #7828. I'll provide a PR to add it back.

[2020-06-22 10:58] boc-tothefuture opened #7977 "Amazon Echo Control Binding leaks threads"
I have had several issues over the past few days where my openhab system stopped processing rules.

I would receive the following in the log, when attempting to connect via the openhab-cli console and when rules needed to fire:

[code]

I also had this error message multiple times in my logs:
[code]

Once I restarted, I created a few dev-dumps and took a look at the threads:
With the Amazon Echo C

[2020-06-22 11:31] #6932 closed

[2020-06-22 11:40] lolodomo commented on #7977
What OH version are you running?
It should be fixed in 2.5.6 released yesterday.

[2020-06-22 12:42] boc-tothefuture commented on #7977
@lolodomo 2.5.5.  I didn't realize this was an identified, closed defect.

[2020-06-22 12:42] #7977 closed

[2020-06-22 13:17] bgilmer77 commented on #7971
Another way to handle this enhancement request would be to provide the ability to pass a Telegram API command directly from the add-on straight through to https://api.telegram.org.  This way one modification would allow the add-on to be used as Telegram modifies their API without having to make repeated updates to the add-on.  For example, how about this?

[code]

So to send an animation, you woul

[2020-06-22 13:38] leiweke commented on #7090
@tah78 great, I would love to know how you did it ;-)

[2020-06-22 14:29] andrewfg commented on #4351
Not really. That is just a normal message from the binding, which says that the Shade is in the Hub but is not configured in Binding. Probably you need to go to PaperUI Inbox and add the Shade from there..

I copied the JSON payload from your trace log, and parsed it in my test environment, so I can at least confirm that the new version of the binding can correctly read your hub's JSON for your sh

[2020-06-22 14:52] MPH80 opened #7978 "[SamsungTV] Samsung TV Binding can cause thread lockups."
Following on from an issue where I believed by RFXCom was causing problems - I ran a thread capture when the system locked up. I found that the root cause of the lockup was a thread coming from the SamsungTV binding.

## Current Behavior
So - seemly at random, but now (I believe) related to one of my TV's being turned off - the RFXCom binding would appear to stop responding. The root cause of this

[2020-06-22 16:15] lolodomo opened #7979 "[lametrictime] Tests failing"
Build on Windows 10:
[code]

[2020-06-22 16:18] lolodomo opened #7980 "[network] Tests failing"
Build on Windows 10:
[code]

[2020-06-22 16:20] lolodomo opened #7981 "[sleepiq] Tests failing"
Build on Windows 10:
[code]

[2020-06-22 16:26] tah78 commented on #7090
@leiweke I think it is a little bit off-topic here. How can I give you some more details? Is it possible to send private messages here or are you registered to openhab forum?

[2020-06-22 16:36] lolodomo commented on #7980
The faliure is not systematic but very frequent.

[2020-06-22 17:36] lolodomo commented on #7981
The problem is due to the fact that the JSON files contain `\r\n` at end of lines while gson.toJson(xxx) produces string with only `\n` at end of lines.
If I replace
[code]
by
[code]
the problem is fixed.
But is it the correct way to go or should we update the 9 JSON files provided as expected results to replace `\r\n` by `\n` `?

[2020-06-22 17:43] andrewfg commented on #4351
@berland I noticed you have an fqdn so I suppose you have a DNS (??); the hub binding works with IP addresses, and I am not sure if fqdn are fully supported; perhaps try this ..

things file ..

[code]
items file ..
[code]

[2020-06-22 17:46] lolodomo commented on #7979
This looks like the same problem as forthe sleepiq binding, that is a different endline encoding.

[2020-06-22 17:53] lolodomo commented on #7979
Confirmed. Same problem with an additional one. The degree character in the file widget-updates.json has a different encoding. I assume the encoding of the file widget-updates.json is not the expected one.

[2020-06-22 18:11] leiweke commented on #7090
@tah78 yes same username in openhab forum or you email my username @ username de :-)

[2020-06-22 18:12] lolodomo commented on #7981
[code]

[2020-06-22 18:16] lolodomo commented on #7981
So the files are Windows style files (CRLF) while Gson uses Unix style with only LF.

[2020-06-22 19:42] bigblue1735 commented on #7750
Hi, i can confirm. Update the key in config file and cleanup the data and cache will fix this issue.

[2020-06-22 21:00] lolodomo commented on #7981
@wborn : you are, I believe, the one who introduced these files with PR #7562 . Can we have your advice on how fixing the problem?

[2020-06-22 21:12] chrisguindon commented on #7943
@kaikreuzer We made a few changes last week in an effort to optimize the server.

I reverted a change that would have caused this issue.

Can someone confirm that all is well now?

[2020-06-22 21:21] kaikreuzer commented on #7943
Excellent, many thanks @chrisguindon!
I can confirm that I am again seeing a long list of bindings - seems to be fixed 👍.

@Hect0rG As you created the issue, can you confirm and close, if it looks good for you?

@chrisguindon Please let us know in case the current setting causes any problems on your servers. We can discuss alternative solutions, it should just not happen without any announcement.

[2020-06-22 21:22] jsiemon commented on #7943
Yes.  That seems to have done the trick.  I did have to restart OpenHAB, but all of the market place bindings are now seen.  Thank you for your help in resolving this issue.

Sent from my iPad

[2020-06-22 21:36] berland commented on #4351
I can confirm it  works with my FQDN. I can confirm that moving both primary and secondary now works when configured using a things file and an items file (as pr. your example).

It does not work yet through Paper UI. Discovery of the hub does not work (as said in the code/docs, and also in #6910, so I add the hub manually using FQDN or IP. After hub is added in Paper UI as a thing, I cannot add a

[2020-06-22 21:39] berland commented on #4351
When adding shades manually in Paper UI to a hub, I can provide any "id", and they will come up as "Online" (even though it does not work).

[2020-06-22 23:58] marcelrv commented on #7904
It is a firmware bug in the cube that is causing the cube to 'forget' the configuration.
My understanding is that it overwrites part of the configuration memory.
Depending on the severity only the m section  (room info) memory section is overwritten or worse also the (device) config section.

If the M: (room info) is broken it can be restored with the backup file, if C: section is broken you bette

[2020-06-23 00:03] marcelrv commented on #7904
note:  the  "_no rooms information found_"  in log. is a reflection that the M: info indeed is lost.
If C: info is missing is not 'communicated' in the biding, but can be seen by either putting the loggin to debug or making another backup and inspect the file to see if there are more than 1 C: line visible (there is always the C: line of the Cube itself) and if it reports anything in the L: line.

[2020-06-23 00:15] Hect0rG commented on #7943
COnfirmed that it is working perfectly. Thank You!

[2020-06-23 00:15] #7943 closed

[2020-06-23 05:24] andrewfg commented on #4351
Hmm. The auto discovery problems that you mention, are not a result of the changes I have just made; they pre-date my changes. However I will see if I can fix them too.

I also noticed that the NetBios discovery does not work; as you say, this is due to the v2 hub using a different Netbios name than the v1 hub. I was struggling to fix this because on my Window test environment Netbios is blocked b

[2020-06-23 09:05] antonmarin commented on #7459
thanks @equake . I'll check this

[2020-06-23 09:50] Alpha200 commented on #7252
I've upgraded OpenHAB to 2.5.6 today, but I still see the "Did not receive mandatory topic value" for some of my Things. I've checked if the topics are missing via mosquitto_sub but they are definitely there. Is there anything left to do, after upgrading to 2.5.6?

[2020-06-23 10:00] antonmarin commented on #7459
Well. No error, but no token too ))

[2020-06-23 10:05] labodj commented on #7252
It's happening to me too

[2020-06-23 13:06] mjcumming commented on #7252
@Alpha200 and @labodj what devices are you connecting with (i.e. which Homie implementation)?

[2020-06-23 13:16] labodj commented on #7252
[This one](https://github.com/homieiot/homie-esp8266)

[2020-06-23 13:21] chrisguindon commented on #7943
`@chrisguindon Please let us know in case the current setting causes any problems on your servers. We can discuss alternative solutions, it should just not happen without any announcement. Thanks!`

I think we are ok for now. I was under the impression that the code was no longer needed based off my comments in the code:

[code]

Please note that that we are currently working on a new REST API ser

[2020-06-23 13:47] RayBa82 commented on #7252
I have the same issues with 15 homie devices and they all have a lot of properties, some about 20-30.

[2020-06-23 13:48] Alpha200 commented on #7252
I'm using several self implemented Homie Devices. They are all based on Homie 4.0.0, but I think that should not make any difference. Currently I'm using VerneMQ as my MQTT broker, but I had the issues with Mosquitto as well. I'm sure that the implementations are 100% correct.

I've exactly the same issues as @labodj has stated above.

[2020-06-23 14:10] mjcumming commented on #7252
@bodiroga I am wondering if a better solution would be to have OH create a new connection to the broker using the $home/deviceid to subscribe when OH sees a $state ready message. That way OH will receive all topics on the broker related to that device. OH could then close that connection and use the existing connection for publishing/subscribing?

[2020-06-23 16:09] andrewfg commented on #4351
Ok @berland, I have made a few more fixes; my full change log so far, is as follows:

- Softer handling of hub Http 423 errors
- Support for shade `secondary` position => please test it on a physical top-down / bottom-up shade
- Support for Netbios lookup with v1 **_and_** v2 hub names; my LAN wont support NetBios, so not tested => please test if you can
- Alternate support for mDNS zero-conf look

[2020-06-23 16:23] #7981 closed

[2020-06-23 16:42] digitlength opened #7991 "[MQTT] Dimmer channel on/off properties not sending "ON" or "OFF""
## Expected Behavior
Background is here: https://community.openhab.org/t/dimmer-values-0-255-into-mqtt-switch-channel-on-off/101191

I have a WLED device which does not explicitly report whether it is _on_ or _off_ - it just reports brightness. However, it _can_ receive _ON_ and _OFF_ strings to turn on and off. I have setup the thing, item and sitemap switch [as shown in this post](https://commun

[2020-06-23 17:06] volbrene commented on #7169
Hello, I have the following problem: My duration is not accepted by the binding. If I change the duration per rule (see below) it will not be changed but simply reset to 60.

[code]

[2020-06-23 17:45] gerrieg commented on #7169
@volbrene
Same as @Wiggerl26, Replace ```Number``` with ```Number:Time``` in your Item.

[2020-06-23 17:59] ssalonen commented on #5577
Ping @mohsh86

[2020-06-23 18:40] volbrene commented on #7169
I try it, but nothing changed.

Here some logs:
![image](https://user-images.githubusercontent.com/18092644/85443525-a452da00-b591-11ea-80bc-16efb9e0925e.png)

[2020-06-23 18:43] bodiroga commented on #7252
Oh, boy, this is a nightmare... :cry:

Let's see if a can have a look at it over the following days, I'm so sorry guys! @J-N-K, @cpmeister or @cweitkamp, can you reopen this issue, please?

[2020-06-23 19:35] #7979 closed

[2020-06-23 19:36] berland commented on #4351
Great progress from the latest jar!

* Autodiscovery of my v2 hub works!
* Discovery of my shade works!
* Control of the shade by items linked to the Paper UI-added shade works (I'll revert to text-based config afterwards)
* Adding shades manually in PaperUI does not work (though not necessary for me), the uid's generated do not include the hub's id, and they come up as online no matter how.
* Add

[2020-06-23 19:47] bodiroga commented on #7252
@mjcumming, have you been enable to see the issue in the latest openHAB release? I have started a fresh openHAB container (2.5.6) and I have tried a Python script based on your Homie4 implementation, using the following code:

[code]

After importing the 20 homie devices, all of them are ```online``` and even after multiple restarts, I can't see the "Did not receive the mandatory topic value: homi

[2020-06-23 20:10] NickWaterton opened #7995 "[amazonechocontrol] Announcement/TTS ERROR POST url Error "Too Many Requests""
When sending a TTS or Announcement to more than one echo device, you can get the error "Too Many Requests". I believe this is because the post is made to the same api end point url too frequently.

This results in announcements not being made, the announcement not being displayed, or the volume not being restored.

The error is:
[code]
## Expected Behavior
You should be able to send an announcemen

[2020-06-23 20:23] mjcumming commented on #7252
@bodiroga with your fix, I do not see the error very often. It only happens on OH startup. Start up the above script and then start OH. That should reproduce it.

[2020-06-23 20:29] labodj commented on #7252
@bodiroga
- I'm running openHab using a raspberry pi4 4gb running Raspberry pi os with docker managed by portainer
- I have 6 homie devices, with up to 10 nodes each, but they are all switches, so simple boolean nodes, nothing special
- I haven't tried to delete and reconfigure everything, it's a pain to reconfigure 60 switches 😆, I'm going to test it when I'll have time...

[2020-06-23 20:32] RayBa82 commented on #7252
I am running openHAB on a Intel NUC with i5 processor in a docker environment.
I test it always on a clean openhab installation. I deploy my configuration with ansible so this is done in a minute :-)

[2020-06-23 20:33] mjcumming commented on #7252
@labodj do you only see this error on OpenHAB startup or is it on your Homie device startup?

[2020-06-23 20:45] labodj commented on #7252
@mjcumming my homie devices are always up and should never reboot unless OTA firmware update or power outage,  I notice the problem as soon as I enter openHab, restarted or not.

I'm uploading a video of the problem.

[2020-06-23 20:49] labodj commented on #7252
@mjcumming

Problem example video: https://youtu.be/h1lt8kvWNmg

[2020-06-23 20:54] cweitkamp commented on #7252
Done.

[2020-06-23 21:06] #7931 closed

[2020-06-23 21:13] mstroeve commented on #4351
Nice progress indeed!

I don't have much time this week but made a quick test.
I added the binding and the hub was discovered nicely when adding it the shades were also found in the inbox.

**Controlling through PowerView app**
Adding a item for a secondary position works and I get a changed event value in frontail when changing this secondary position.

**Manually controlling secondary position t

[2020-06-23 21:29] #7980 closed

[2020-06-23 21:54] airix1 commented on #7022
Would it make sense to combine this with the Gardena binding since it shares the husqvarna authentication for the API?

[2020-06-23 22:17] jamesmelville opened #7996 "[warmup] Add Warmup Binding"
I'm in the process of developing a new binding for the Warmup 4iE controller https://www.warmup.co.uk/thermostats/smart/4ie-underfloor-heating, using the API at https://my.warmup.com/. This has been previously requested, and may have been worked on by others: https://community.openhab.org/t/warmup-thermostat-41e/37394/5

[2020-06-23 22:25] psyciknz opened #7997 "[mqtt.homeassistant] - allow setting of base topic"
Hoping for a method of changing the base topic of a homeassistant based item away from the default of `homeassistant`  So in an item it would just be an alteration of the base topic :
[code]

I thought i saw something similar for a homie based item?

[2020-06-23 22:44] Alpha200 commented on #7252
I'm using openHAB in a Docker environment as well.

Currently it is only one device that has this error sometimes. It has 7 nodes with one property each. All other nodes have fewer properties an nodes.

I've not tried to delete and an readd the devices. Disabling and enabling the Things has no effect though.

The problem occurs only on restarts for me as well. This is especially painful, because I

[2020-06-24 06:17] markus7017 opened #7999 "[shelly] Support for Shelly Dimmer 2"
Alterco has introduced the Shelly Dimmer 2, which is able to control 2 switches

[2020-06-24 10:34] andrewfg commented on #4351
Hi @berland

**_I think you found a bug in PaperUI or the OH core !!_**

I do confirm your finding that the uid's do not contain the bridge id. However I tried it on some other bindings and the same thing happens, so I think this problem is outside the binding code.

=> Probably we need to open an Issue with the core developers?? But before doing that I would appreciate if you can do some tests on

[2020-06-24 12:05] lolodomo commented on #5440
The proper solution would be certainly a cache mechanism like the one implemented by few other bindings. I will try to implement it.

[2020-06-24 12:09] andrewfg commented on #4351
Hi @mstroeve some answers to your points below; and some questions also..

---

Yes, this is normal behavior. The remote talks to the shades directly, and not to the hub; so the hub is not aware of the change.

---

Certainly this is what you should be doing. It tells the binding to initiate a full scan of all shades to force an update of all shade's states.  Do you have a large quantity of shades

[2020-06-24 13:53] lolodomo commented on #5440
There is already a cache implemented through the refresh strategy.

[2020-06-24 14:20] NickWaterton commented on #7995
Update,
There is an alternative way of making announcements, in that it is possible to make announcements to a multi-room audio group. The current binding does not expose this functionality, in that a WHA Thing does not have an announcement channel.

It would be possible to add this functionality. Speak is not possible to multi-room audio groups, but Announcements are, if the notification feature

[2020-06-24 14:27] andrewfg commented on #4351
PS I **_think_** that we are trying to achieve the following (it is **_not_** what we have in the current build) => so can you both @mstroeve and @berland please kindly advise on this table before I change anything?

![image](https://user-images.githubusercontent.com/893994/85574767-f6960880-b62e-11ea-818c-a36e1101fec1.png)

[2020-06-24 15:53] mjcumming commented on #7252
@labodj would you confirm which OH version you are on?

[2020-06-24 15:55] labodj commented on #7252
@mjcumming 2.5.6

[2020-06-24 15:56] mjcumming commented on #7252
@Alpha200, the "thing" that @labodj  is talking about is the MQTT broker thing. Not the actual Homie device thing.

For those with the error, need to make sure your are on the 2.5.6 release of OH.

[2020-06-24 15:57] mjcumming commented on #7252
@labodj if you restart the Homie device(s), this brings them back online?

[2020-06-24 16:19] Alpha200 commented on #7252
I tried it with both, the broker and the device things, but for me, only a full restart of openHAB resolves it eventually.

As I said, I'm using the 2.5.6 tag of the official Docker image and the UI overview shows "openHAB 2.5.6 Release Build".

On 2.5.4, a restart of the devices did the trick, but now on 2.5.6 I restarted the problematic device several times, but only after a restart of openHAB i

[2020-06-24 16:56] RayBa82 commented on #7252
For me it is always the same.

In a clean openhab install i need two starts of the homie devices.

1. Start mosquitto
2. Start openhab
3. start homie devices
-> Not all homie devices are recognized with the "did not receive..." message
4. stop homie devices
5. start homie devices
-> All devices are online

I did not check the behaviour with only restarting openhab in 2.5.6 but in 2.5.5 it was simi

[2020-06-24 18:45] andrewfg commented on #4351
PS thinking more about this, perhaps I could hack `StopMoveType.STOP` as follows (although `StopMoveType.MOVE` would still have to fail) => what do you think?

[code]

[2020-06-24 18:58] gerrieg commented on #7169
Switch the binding into TRACE mode (see docs) and send the command.  Then post the log please.

[2020-06-24 19:23] labodj commented on #7252
Not automatically, not always, it's random, I made a new video, it will explain the situation

https://youtu.be/qtkfyHEjpBo

[2020-06-24 19:26] volbrene commented on #7169
@gerrieg

[code]

[2020-06-24 19:41] calderoc opened #8008 "Somfy myLink Binding missing in 2.5.6 feature.xml"
The add-on Somfy myLink (Binding #5652) is missing a `feature.xml` file and this prevents the binding from showing up in both paperUI and the console.

It's also missing in the `bom/openhab-addons/pom.xml`, that should be fixed too, but has no effect on runtime of the binding.

[2020-06-24 19:41] #7920 closed

[2020-06-24 21:12] CHTHSCH commented on #7169
Dear @gerrieg
I have upgraded my openHAB installation to 2.5.6 - where can I download the jar-File for the new Gardena binding?

[2020-06-24 21:16] andrexp commented on #7169
You can find the latest addon IMHO in the Eclipse Marketplace: https://marketplace.eclipse.org/content/gardena-api-binding

[2020-06-24 21:24] guallo opened #8009 "[somfymylink] Missing from Paper UI and Karaf Console"
## Expected Behavior

I should be able to list the [Somfy myLink Binding](https://www.openhab.org/addons/bindings/somfymylink/) using either of:

- [http://\<my-openhabian-ip\>:8080/paperui/index.html#/extensions?tab=binding](http://<my-openhabian-ip>:8080/paperui/index.html#/extensions?tab=binding)
- **openhab>** `feature:list`

## Current Behavior

I am unable to list the [Somfy myLink Binding](

[2020-06-24 22:00] berland commented on #4351
Tried on the Hue binding, I could add a Thing manually with a bogus (hue) id and it  comes up online. The  thing uid does not contain the hub's uid, as the other working Hue things do, so yes it seems the same problem is there.

[2020-06-24 23:04] andrewfg commented on #4351
@berland between us we have observed the same problem in Hue, PowerView, Velux, and also my own NeoHub binding; so it is definitely an issue in the core => since you were the first to observe it, do you want to report the issue yourself? or shall I do it?

[2020-06-25 05:48] berland commented on #4351
I'd be happy if you report it, I would not know how to formulate the problem precisely.

[2020-06-25 06:29] Hilbrand commented on #8008
It's missing the feature.xml. the missing pom.xml is no problem.

[2020-06-25 06:47] Hilbrand commented on #8009
Closing as it's a duplicate of #8008

[2020-06-25 06:47] #8009 closed

[2020-06-25 12:27] gerrieg commented on #7169
@volbrene
Don't use ```postUpdate``` for the commandDuration, use ```sendCommand```

[2020-06-25 14:25] LoungeFlyZ commented on #8008
I'll get this fixed up. Thanks for letting me know.

[2020-06-25 15:35] mjcumming commented on #7252
@labodj the video really helped understand.

@bodiroga when enabling and disabling the MQTT Broker thing I can cause the following dump in the log

`2020-06-25 10:33:47.905 [WARN ] [.transport.mqtt.MqttBrokerConnection] - Failed subscribing to topic homie/switch-2273856/$state

java.util.concurrent.CompletionException: java.util.NoSuchElementException

	at java.util.concurrent.CompletableFuture.en

[2020-06-25 16:21] volbrene commented on #7169
Thank you. Thats solve my problem. Whats the different between postUpdate and sendCommand?

[2020-06-25 18:05] bodiroga commented on #7252
Thanks for all the information guys, I will open the Eclipse IDE and try to found the error cause :wink:

[2020-06-25 18:23] DerOetzi opened #8011 "NPE in ScaleTransformationService"
## Expected Behavior
Tried to load Control Page in PaperUI

## Current Behavior
Page is empty and the is as NPE Stacktrace caused by ScaleTransformationService:

[code]

## Your Environment
* Version used: 2.5.6
* Operating System and version: docker on raspi

[2020-06-25 18:47] andrewfg commented on #4351
PS this is what I have written in the ReadMe..

![image](https://user-images.githubusercontent.com/893994/85780399-7c43b200-b71c-11ea-9a23-279aeb2b3a92.png)

[2020-06-25 19:08] DerOetzi commented on #8011
Did some further investigation and found the defect items:

Example item:

[code]

spektrum.scale:

[code]

The item was used with hue-binding before and was type dimmer. Now with deconz binding this is type Number and has a value 2095, which is outside of all ranges. Maybe this is causing the problem

[2020-06-25 19:11] andrewfg commented on #4351
Done [here](https://github.com/openhab/openhab-webui/issues/290)

[2020-06-25 19:13] J-N-K commented on #8011
The deconz binding uses the color temperature in Kelvin. But that should not result in an NPE.

[2020-06-25 21:36] F43RY commented on #7468
Hi,
just arrived a new shelly vintage and got "Unknown device" under PaperUI.
openhab Version:     2.5.6 (Build)
bundle:list
252 │ Active │  80 │ 2.5.6                   │ openHAB Add-ons :: Bundles :: Shelly Binding

No problems with other 8 shellies (2.5, EM, PM ecc)

Thanks for any help
![shelly_vintage](https://user-images.githubusercontent.com/4217502/85797767-8c6b8980-b73c-11ea-97a2-5cbb6fc5

[2020-06-25 21:41] cwihne commented on #7169
@volbrene You might find your answer here: [https://www.openhab.org/docs/configuration/rules-dsl.html#manipulating-item-states](https://www.openhab.org/docs/configuration/rules-dsl.html#manipulating-item-states)

[2020-06-25 23:21] bodiroga commented on #7252
Guys, one question before I leave this for today:

The ```Communication Error``` is always about the $name topic or do you also see thing status such as: ```Status: OFFLINE - COMMUNICATION_ERROR Did not receive all required topics```?

From what I have seen, it seems that we have 2 different issues, and the root cause of one of them is probably https://github.com/openhab/openhab-addons/pull/7760/f

[2020-06-26 06:35] Alpha200 commented on #7252
Yes, I have only seen error messages related to the $name topic.

[2020-06-26 06:37] markus7017 commented on #7468
check out DEV build 2.5.7, just tested various models yesterday

[2020-06-26 08:57] paulianttila commented on #5892
@lolodomo, did you see this #7978? Maybe the main reason is not the UPnP, but SamsungTV websocket Implementation. Websocket is introduced lately to the binding and the same time this kind problems have been started to occur. I didn't have time to look, but maybe websocket is sharing same thread pools and locking those or something, which start to cause issues to other bindings as well.

[2020-06-26 09:55] Bonifatius94 commented on #7646
I've been in contact with the technical support of Kostal. They said, that the REST API has a lot of known bugs and therefore is not officially supported - whatever that means ... I don't actually know what to say about such a statement because why did they deploy the REST API anyways? Oh well ... Seems that this feature is impossible with such "help" from the Kostal support.

[2020-06-26 09:55] #7646 closed

[2020-06-26 11:48] lolodomo commented on #5892
Yes, we all know now since a long time that the problem is in the SamsungTV binding and my attempts to find a kind of workaround in the JUPnP library was probably just a loss of time.
The last time I tried to help with the SamsungTV bidning, it was end of April with my PR #7499 (and even earlier with my proposal to implement event subscription). I got absolutely no attention with my PR as you can

[2020-06-26 11:52] lolodomo commented on #7978
@J-N-K : could you have a look ? I think it could be a similar problem you fixed for the Amazon Echo Control binding in your PR #7969 . Looking at the code of the SamsungTV binding, the changes you applied to the Amazon Echo Control binding are not applied to the SamsungTV binding, like checking if the websocket client is started before closing it, or your change about closing the session. Your ar

[2020-06-26 12:31] jaywiseman1971 commented on #7978
@J-N-K , this bounty was originally tied to the jupnp binding but after @lolodomo identify it's really the Samsung binding causing all the issues - I rolled back to SamsungTV binding v2.4 and everything resolved itself.  I'd really like to get the Samsung binding up to par since I have different ages of Samsung TV's which the newer binding v2.5.x addresses these differences but as we know the Sams

[2020-06-26 13:27] mstormi commented on #6690
I have a similar problem , Alexa to complain although it properly executes the command.

events.log confirms :
`2020-06-26 14:46:21.333 [ome.event.ItemCommandEvent] - Item 'mobil_Iris2' received command 0,100,0`

Here's a HTTP dump of a color change command:
[code]

I've encountered that on ColorLighting items (this one) and Rollershutters (tagged as "Lighting")

[2020-06-26 14:02] mjcumming commented on #7252
@bodiroga in my case, your prior fix has mostly solved my $name issues. However, I still see it. And a simple toggle of the enable/disable for the thing does not make the $name error go away. Eg.
`
2020-06-26 08:26:20.054 [hingStatusInfoChangedEvent] - 'mqtt:homie300:openhabmqtt:scene-17781' changed from OFFLINE (COMMUNICATION_ERROR): java.lang.Exception: Did not receive mandatory topic value: hom

[2020-06-26 14:51] andrewfg commented on #4351
I did a few "final" tweaks; you can download the latest version of the Jar [here](https://drive.google.com/file/d/1mZbsJZnQeGxDmVAurmrjjNGadoKzgOAM/view?usp=sharing) ..

[2020-06-26 16:05] andrewfg commented on #4351
PS @berland and @mstroeve please let me know when you are happy with the new functionality, so I can open the respective PR for it.

[2020-06-26 16:37] bodiroga commented on #7252
Hi @mjcumming!

Yeah, I'm also able to reproduce the problem enabling and disabling the thing through Paper UI, but in my case I don't see it when openHAB is restarted. I do not understand why it happens, because the io.transport.mqtt library, with TRACE log level enabled, says that the subscription to the $name topic is removed after the discovery process, but after the disable/enable cycle, it a

[2020-06-26 19:06] J-N-K commented on #7978
Please try https://janessa.me/esh/org.openhab.binding.samsungtv-2.5.7-SNAPSHOT.jar

[2020-06-26 19:43] jaywiseman1971 commented on #7978
It's in.  I stopped/uninstalled 2.4 RC1 and dropped in yours.  It took about 5 minutes for the status of each TV to come online from the unknown state.

Here's my thing config of the TV's.  Some older models using 55000 and newer models using 8002.  The true test is to see if it takes down the Sonos after some time.

https://community.openhab.org/t/help-samsung-tv-bindings-with-2016-samsung-tv/670

[2020-06-26 19:49] mjcumming commented on #7252
@bodiroga See https://docs.oasis-open.org/mqtt/mqtt/v3.1.1/mqtt-v3.1.1.html Section 4.1 for details on message ordering. So, I believe we can rely on this as a means to determine when a device has finished publishing all of its attributes/nodes/properties.

[code]

[2020-06-26 20:26] MikeJMajor commented on #6690
@mstormi can you provide your item definition and what was the colour change command issued to Alexa?

[2020-06-26 20:31] mstormi commented on #6690
Switch mobil_Iris2            "Kugelleuchte mobil"    <hue>   (hue,Lichter,Blinklicht)        ["ColorLighting"]       { channel="hue:0200:00178811d1d7:1:color" }

Command was something like "Alexa set Kugelleuchte mobil to red" (the equivalent German, actually).

The item was correctly identified and the color was right, too. And it *did* switch to that color.
Only error was that it complains "app

[2020-06-26 21:09] MikeJMajor commented on #6690
The reason is due to your item being defined as a switch. Since a switch only has an on/off state it's not possible to return the colour back to Alexa when it asks for its current state.

My fix relies on the state of the item matching the command that was sent to it. In your case it received a command of red, but the state is on.

[2020-06-26 21:19] mstormi commented on #6690
Ah, makes sense. I'll change it to the Color type item.
I have a similar problem with a Rollershutter item (used like a dimmer as Alexa/Hue does not know shutters).
Any idea what to do there ?

[2020-06-26 21:20] J-N-K commented on #7978
Thats intesting. Because the class TrustAllTrustManager was already present in ESH days (so 2.4 should have it, too). Please check if `list -s-t 0 | grep io.net` shows a bundle. Otherwise try installing `org.eclipse.smarthome.io.net.http`

[2020-06-26 21:23] jaywiseman1971 commented on #7978
Is the PID 118 the correct one or am I missing it because it's NOT ending with .http ?

`openhab> list -s -t 0 | grep io.net
118 │ Active   │  80 │ 0.10.0.oh240            │ org.eclipse.smarthome.io.net
203 │ Active   │  80 │ 4.1.48.Final            │ io.netty.resolver
216 │ Active   │  80 │ 4.1.48.Final            │ io.netty.handler
217 │ Active   │  80 │ 4.1.48.Final            │ io.netty.transp

[2020-06-26 21:25] J-N-K commented on #7978
The http extension is missing. Please install that (`install org.eclipse.smarthome.io.net.http` should do)

[2020-06-26 21:27] jaywiseman1971 commented on #7978
Tried install and feature:install and both didn't work.  Maybe you can point me to where I can just download/drop in?

`openhab> install org.eclipse.smarthome.io.net.http
Bundle IDs:
Error executing command: Error installing bundles:
        Unable to install bundle org.eclipse.smarthome.io.net.http: org.osgi.framework.BundleException: Error reading bundle content.
openhab> feature:install install

[2020-06-26 21:41] MikeJMajor commented on #6690
Can you add your item definition for the Rollershutter.

[2020-06-26 21:45] jaywiseman1971 commented on #7978
I think the binding your talking about is this one?  This one is missing the .net. portion of it.

openhab> list -s | grep io.http
115 │ Active   │  80 │ 0.10.0.oh240           │ org.eclipse.smarthome.io.http

Best, Jay

[2020-06-26 21:49] J-N-K commented on #7978
No, that’s another one. Unfortunately I‘m on a phone right now and browsing code there is not easy. I‘ll try to look for the correct feature tomorrow. It could be that you need to install a upnp feature, e.g. `openhab-transport-upnp`

[2020-06-26 21:51] jaywiseman1971 commented on #7978
Here's what I have for upnp.

openhab> list -s | grep upnp
214 │ Active   │  80 │ 2.5.2                  │ org.jupnp
224 │ Active   │  80 │ 0.11.0.oh250M1         │ org.eclipse.smarthome.config.discovery.upnp
253 │ Active   │  80 │ 0.11.0.oh250M1         │ org.eclipse.smarthome.io.transport.upnp

Best, Jay

[2020-06-26 21:53] DerOetzi opened #8016 "[astro] Provide position channels azimuth and elevation for events"
Would it be possible that the binding provides the position data for the events it supports. For example position at rise, noon, set, daylight start, daylight end ...

[2020-06-26 21:54] bodiroga commented on #7252
Ok @mjcumming, you are right :wink:

But sadly, I think that our best choice is to remove the $name subscription from the discovery process and keep the rest of the binding as it is. With that change, the name of the thing will be the Homie device id, instead of the device name, but I think that we can assume this small functionality loss. The thing name can be manually changed by the user and, af

[2020-06-26 21:56] mstormi commented on #6690
just standard
Rollershutter EG_Wohnen_Jalousie_links "Raffstore links [%d %%]"            <rollershutter> (EG_Wohnen,Rolladen,Jalousien) ["Lighting"]     { channel="zwave:device:dddxxxxx:node113:blinds_control" }

[2020-06-26 22:17] MikeJMajor commented on #6690
In the event log how long is the delay from the item receiving the command to the item actually changing state?

[2020-06-26 22:20] mstormi commented on #6690
ugh, cannot test ATM sorry but I remember it was almost instantaneous

[2020-06-26 22:25] MikeJMajor commented on #6690
When you get time can you add the relevant bits from the event log and also a tcpdump.

[2020-06-26 22:42] mstormi commented on #6690
Ok, I need to revise my report.  Almost everything to work with that rollershutter now. The only thing is it refuses to switch off, speaking the message from the title. But "ON", "UP" and "DOWN" work instantaneously.
It may or may not be that that is because I just un+re-installed hueemulation. Either way, it's working now. By the time it didn't there was some more stuff to temporarily not work bu

[2020-06-26 22:42] #6690 closed

[2020-06-27 01:00] Rodelkoenig opened #8018 "[telegram] sendTelegram to n chatIds"
**Goal:**
As a user I want a new possibility to send a telegram-message to several chatIds with a single line.

[2020-06-27 01:04] Rodelkoenig commented on #8018
I would try to implement this as my first contribution here, if it makes sense to you.
Main goal was to reduce lengthy rules if a message is only for e.g.  5 out of 6 chatids/persons which are configured to my bot.

I thought of a method sendTelegram(String msg, Long... chatIds).

[2020-06-27 07:18] clinique commented on #8016
There existed an 'action' package on OH1 that could answer this. This has not been transposed when migrated to OH2.

[2020-06-27 10:16] frank-f commented on #3522
I seem to have the same issue. It's been happening since 2.4.0 on and off. I've been successfully using one of the forked libs for quite a while (months, if I recall correctly), but had to upgrade, when iOS 13 came out.

[2020-06-27 10:30] lolodomo commented on #7913
To finish the job, I msut wait for the merge of #7938

[2020-06-27 12:38] Crazyphil opened #8020 "[netatmo] Add support for favorite stations"
Since pull request #7912 updated the netatmo-swagger-decl reference a few days ago, it is now also possible to request a user's favorite weather stations in addition to their own. This is useful for example when a user doesn't own a Netatmo device, but they want to read outdoor temperatures and get weather data from their neighborhood.

The required change is simple: In class `NetAtmoBridgeHandler

[2020-06-27 13:24] lolodomo commented on #8020
Interesting. Will you provide a PR? ?

[2020-06-27 13:48] kdub454 commented on #3522
Fwiw, I had this issue as well - I was able to resolve it by toggling the HomeKit settings on my Apple TV on and off. My issues appeared to be mostly remote-access based.

[2020-06-27 14:29] Rodelkoenig opened #8022 "[iCalendar] Provide a (configurable) amount of upcoming events"
## Current Situation
This binding currently provides a channel for a currently running event and a channel for the next upcoming event.

## Goal
I, as a user, want to implement the calendar for my garbage collection. There are up to 3 events/collections at one day and I want to configure the binding to display a fixed amount of upcoming events. These events are used for display purposes and used i

[2020-06-27 14:35] TRSx80 commented on #7308
I just started looking into this today.  Initially, I had made [a forum post](https://community.openhab.org/t/openweathermap-new-one-call-api/101419) about it.  Now I think I found my answers.  :smile:

I didn't dig into the code yet, but my initial thought is that the URL for the binding to call the API is hard coded, and since the new "one call" API has a different URL (and perhaps different map

[2020-06-27 15:09] #7082 closed

[2020-06-27 15:53] lolodomo commented on #4303
In case it is not unknown, the netatmo binding implements for the thermostat an old API which was deprecated by Netatmo. Netatmo introduced a new API named Energy API.
This API has to be covered first by this project: https://github.com/cbornet/netatmo-swagger-decl
An issue was opened: https://github.com/cbornet/netatmo-swagger-decl/issues/22
Then, it should be used in the binding itself.
Apparent

[2020-06-27 17:07] J-N-K commented on #7978
My fault. `http` is only a package in `net`. The class shpuld be contained in that bundle. Please try re-resolving the samsunttv binding (`resolve <bundleid>`) and if that doesn't help, Check if `classes 118 | grep smarthome` contains the `TrustAllTrustManager`.

[2020-06-27 17:11] mjcumming commented on #7252
@bodiroga - I get it. In theory it should work the way it is implemented.

[2020-06-27 17:13] jaywiseman1971 commented on #7978
I just rolled it back to SamsungTV 2.4 RC1, I'm seeing the Sonos and WeMo devices going offline/online more than normal again because of the SamsungTV binding.  When I rolled it back; all my TV's showed their correct status's immediately.

Best, Jay

[2020-06-27 17:17] jaywiseman1971 commented on #7978
It's NOT in the dump below --> TrustAllTrustManager

openhab> classes 118 | grep smarthome
org/eclipse/smarthome/core/library/types/QuantityTypeArithmeticGroupFunction$DimensionalGroupFunction.class | exported: false
org/eclipse/smarthome/core/library/types/QuantityTypeArithmeticGroupFunction$Max.class | exported: false
org/eclipse/smarthome/core/library/types/IncreaseDecreaseType.class | exported

[2020-06-27 17:25] J-N-K commented on #7978
You are right. This class exists since ESH 0.11.0, OH 2.4 is based on ESH 0.10.0. So you might run into bigger problems trying to update that bundle only. I'm sorry. Why don't you use 2.5?

[2020-06-27 17:31] jaywiseman1971 commented on #7978
My 2.4 is incredibly stable.  I'm also running on a Synology HA platform which makes it a little more difficult to upgrade.  I've seen so many issues with 2.5.x being posted over the last year which scares me to even try.  I started on OH 2.3 two years ago.

I have a very large OH setup which consists of 30+ WeMo's, 40+ HUE Lights, 30+ zWave devices, 15 Echo's, 14 Sonos's, 2 Ecobee's, MQTT tied to

[2020-06-27 19:07] #5752 closed

[2020-06-27 19:36] MPH80 commented on #7978
So - to report back from my side - we're about 10 hours in with the new JAR. So far - no lockups. I have two TVs - an older 2010 C650 and a newer NU8000. Both are being detected online/offline. The NU8000 isn't providing any further information - e.g. no channel/source (but I'm not convinced it ever did). I haven't done a proper check on the C650 yet.

[2020-06-27 19:46] morph166955 commented on #5892
So to update everyone, been trying and failing to get logs of this.  First, I have had three separate instances now where about 8-10 days have gone by and one of my Sonos speakers has fallen offline and stayed offline.  I have checked every log I have and I can't find a single thing that isn't already reported above.  I've also backed down my Samsung binding to 2.4.

openhab> bundle:list -s | grep

[2020-06-27 20:20] bodiroga commented on #7467
Hi @piegamesde!

I've made some tests and you are partially right. In my case, the binding is able to detect newly added and removed nodes, but not properties. Can your confirm what I see?

[2020-06-27 21:56] J-N-K commented on #7978
@MPH80 is ten hours an improvement? If it is, we should merge that, even if it is not a final fix for everything. It may well be that there is more than one issue that look the same.

[2020-06-27 21:57] J-N-K commented on #7978
@jaywiseman1971 understood. You could try exchanging the bundle, I can look up what the correct one is, bit you may run into difficulties.

[2020-06-27 22:00] jaywiseman1971 commented on #7978
Yes, please.  I will give it a try.

Best, Jay

[2020-06-27 22:15] J-N-K commented on #7978
`update 118 https://dl.bintray.com/openhab/mvn/org/openhab/core/bundles/org.openhab.core.io.net/2.5.0/org.openhab.core.io.net-2.5.0.jar`

[2020-06-28 00:37] jaywiseman1971 commented on #7978
Dropped in thinking it would go from Installed to Active with a fresh restart of OH but it didn't.  I'm still running the SamsungTV 2.4  RC1 version.

openhab> list -s | grep io.net
118 │ Active     │  80 │ 0.10.0.oh240           │ org.eclipse.smarthome.io.net
331 │ Installed │  80 │ 2.5.0                        │ org.openhab.core.io.net

If I drop in the new Samsung binding above in; will that ac

[2020-06-28 07:05] J-N-K commented on #7978
That‘s what I meant. You‘ll draw in a bunch of other dependencies, I guess if you install that bundle another dependency is missing. I don‘t think this makes any sense.

And probably it won’t work to have the 2.4 and 2.5 version co-exist. You would need to `stop` the 2.4 bundle (and `resolve` all bundles that depend on it).

[2020-06-28 07:33] MPH80 commented on #7978
Yes - it's massive - and we're almost at 24 hours, which, in the last 2 weeks, was unheard of.

[2020-06-28 08:09] J-N-K commented on #7978
@MPH80, since I assume that the connection is still closed very often (and I only made that clean), I would like to see what happens. Could you set `org.openhab.binding.samsungtv.internal.protocol.WebSocketBase` to TRACE and send the output? You can send to my email-address instead of pasting it here, it might be a larger log. The interesting part is the one that starts with `Closing session Futur

[2020-06-28 08:11] lolodomo commented on #4303
@clinique : I think we should mention the obsolete API for thermostat in the documentation. WDYT ?

[2020-06-28 08:23] manudar opened #8026 "[homekit] 2.5.6 (307)[org.openhab.io.homekit.internal.HomekitImpl(316)] : Error during instantiation of the implementation object"
I have upgraded from 2.5.5 to 2.5.6 and HomeKit has stopped working.
The error is:

bundle org.openhab.io.homekit:2.5.6 (307)[org.openhab.io.homekit.internal.HomekitImpl(316)] :  Error during instantiation of the implementation object

After that the bundle is in "Waiting" status when I do a bundle:list -s
I have simplified my items setup considerably to try to make it work in 2.5.6 but it still d

[2020-06-28 08:38] clinique commented on #4303
Your're right. It's true that on my side if did give up a bit on netatmo because the evolution of the API tends to hide more and more direct access to modules. I suppose the old API still work for early users of Thermostat (like me) and not for the new ones, reason why I do not face this bug.

[2020-06-28 08:48] lolodomo opened #8027 "Proper closing of WebSockets to avoid memory leak / crash"
It was recently discovered 2 bindings not correctly closing WebSockets. This leads to memory leak and even openHAB crash.
I think it would be good to check that all bindings using WebSockets are correctly closing WebSockets.

I found 12 bindings using WebSockets:

- [x] amazonechocontrol (PR #7919, PR #8074)
- [x] bosesoundtouch (PR #8031, PR #8073)
- [x] deconz (uses `get()` on connect)
- [x] inn

[2020-06-28 08:53] lolodomo commented on #4303
Ok, very interesting, I was asking myself if the old API was still available for old Netatmo thermostats. That means we must keep the current code by the way.
In case the new API would be supported by the binding, do you think it could be used with your thermostat or do you think that your thermostat can only work with the old API ?

[2020-06-28 08:59] clinique commented on #4303
I suppose it may work with new API also.

[2020-06-28 09:12] lolodomo commented on #8027
I don't find any handling of sessionFuture in the LGwebOS binding for example.

[2020-06-28 09:58] andrewfg commented on #4351
I think I have discovered an undocumented hack for this!

In the HD API specification, there is a documented JSON command to “jog” the shades {"shade": {"id": 63778, "motion": "jog"}} and on a whim I tried the same command with “motion”: “stop” and, at least on my shades, this does work.

[2020-06-28 09:58] Hilbrand commented on #7862
A bindings is a proxy between something external and openHAB. It should in general not contain any logic that is not available from the external device/service. Therefore keeping track of how long so something is running if not provided by the external service/device  should not be added to the binding.
Technically you are not measuring the actual  runtime here, but the time openHAB sees the devic

[2020-06-28 10:04] TBail opened #8028 "[openSprinkler] Channel nextDuration does not accept values"
While connecting openHAB to openSprinkler i encountered the following behavior with the channel nextDuration. The channel does not accept value of any format i could think of.

The item is defined as described in the documentation and i build a selection as desired in the documentation to set the next duration.

`Selection item=RB_BM_SC_SprinklerValve01_NextDuration label="Laufzeit [%.0f s]" mappi

[2020-06-28 10:07] Hilbrand commented on #8027
What does it mean to correctly close the socket? Can you give a pattern or is it just to make sure `close((` is called always?

[2020-06-28 10:13] lolodomo commented on #8027
Look at the 2 fixes provided by @J-N-K

First, in case you are not using the shared WebSocketClient, you are starting and stopping your client. In this case, stop it only if started.
Second, when connecting the WebSocket, the connect method is returning a Future. When closing, check that this future is done and if not cancel it.

@J-N-K : please correct me if I am wrong.

[2020-06-28 10:34] J-N-K commented on #8027
Yes, the problem is that if the connect did not succeed, the future never completes and stays in memory forever.

[2020-06-28 11:01] lolodomo commented on #8027
I imagine the future is done after a timeout?
The LGwebOS is trying to connect every 10 seconds. I should encounter this problem. Maybe I am not because the timeout us lower than 10s ?
By the way, it would be proper to cancel this future if needed before trying a new connect. This is not something you added in your fix.
WDYT?

[2020-06-28 11:09] lolodomo commented on #8027
The problem would occur if you retry connection more often than the connect timeout without cancelling this session future?

[2020-06-28 11:13] MPH80 commented on #7978
Tried to find a way to email you @J-N-K - must be being stupid as I can't see it. Anyway - have added the trace and turned off/on both TVs several times. Pretty sure it's the NU8000 (as the new one) that's the interesting one. Log attached to post here.

Note: At some point overnight - the bundle was reverted back to the 2.5.6 thanks to that auto-updating service. So I reloaded it back to the 2.5.

[2020-06-28 11:33] J-N-K commented on #7978
[code]

That's the intersting part. As you can see, the session `Future` (that's something that is created when trying to connect the websocket) is still in the state "not completed". It would be "completed" if the connect was successfull. In the released version, these `Future`s were ignored and thus stayed in memory forever, waiting for their completion. What I have done is storing the `Future`

[2020-06-28 11:34] J-N-K commented on #8027
Well, if the future is still there when you try a reconnect, your connection logic is flawed, because you did not close the connection befor opening a new one. Not sure about the timeout, but could be. I didn't look in the code of LGwebOS.

[2020-06-28 11:45] yfre commented on #8026
@manudar what is the log file before and after this statement
"Error during instantiation of the implementation object" ?

e.g. 10 lines before and maybe 10 lines after

[2020-06-28 12:01] berland commented on #4351
Testing the 202005271221 jar with RollerShutter items in Basic UI: Bottom rail works fine. Up/down buttons in Basic UI makes sense.

Bottom (primary) rail responds reliably in less than 1 sec.

Secondary rails is slower to respond (2-8 secs), and sometimes does not respond at all, not sure if that is the hub or the binding.  When clicking in Basic UI, the log  immediately gives this:

`13:56:41.63

[2020-06-28 13:06] falmanna opened #8029 "[ecobee] Reduce ecobee:thermostat thing-type default channels"
The `ecobee:thermostat` thing type has too many default channels at the moment, which makes it really heavy and messy for users who use the UI setup.
I think that only the thermostat-related channels can be kept, while everything else should be switched to an advanced channel.

Also, would it be possible to switch all settings-related channels to the thing configuration?

## Your Environment

* Ve

[2020-06-28 13:13] manudar commented on #8026
Hi, here they are. It is after a clean start.
`2020-06-28 11:52:00.447 [INFO ] [ternal.dhcp.DHCPPacketListenerServer] - DHCP request packet listener online
2020-06-28 11:52:02.200 [INFO ] [panel.internal.HABPanelDashboardTile] - Started HABPanel at /habpanel
2020-06-28 11:52:02.331 [INFO ] [openhab.ui.paper.internal.PaperUIApp] - Started Paper UI at /paperui
2020-06-28 11:52:02.822 [INFO ] [mekit.

[2020-06-28 13:32] yfre commented on #8026
@manudar
unfortunately there was a major bug in 2.5.6 which actually should only appears in first time installation, i.e. when homekit.json is empty.

there bug is already fixed https://github.com/openhab/openhab-addons/pull/7993
but you would need to upgrade to the snapshot version.
another alternative (could work but never tried myself):
- downgrade homekit binding to 2.5.5
- copy homekit.json (

[2020-06-28 15:00] manudar commented on #8026
Thanks

[2020-06-28 15:11] yfre commented on #8026
closing as it is fixed already by #7993

[2020-06-28 15:11] #8026 closed

[2020-06-28 15:32] andrewfg commented on #4351
Hi @berland many thanks for taking the time to do these tests.

Hmm... Interesting...

Before we interpret your log traces, we need to know that there are two unrelated processes in the binding:

- The hub maintains an internal cache of the last known state of its shades. And the binding runs a regular timed `polling` process that reads those values. The polling is fast and reliable since it depen

[2020-06-28 15:39] andrewfg commented on #4351
PS another possibility may be that on `polling` it returns a full / valid set of `position1` and `position2` values, whereas on `refresh` it only returns a truncated / invalid `position1` ?? _=> I would need more trace logs to find out._

[2020-06-28 15:41] J-N-K commented on #8027
deconz is not suffering from this issue as it `.get()`s the future immediately. If the connect fails, the `.get()` throws an exception.

[2020-06-28 15:53] lolodomo commented on #8027
I will check and fix the LGwebOS.

[2020-06-28 16:33] andrewfg commented on #4351
To be specific on the co-ordinate system for shade positions, I will need a trace JSON log (with the `position1` and `position2` values) for the following five test cases..

1. Bottom-rail fully up; Top-rail fully up
2. Bottom-rail 30% down from top; Top-rail fully up
3. Bottom-rail fully down; Top-rail fully up
4. Bottom-rail fully down; Top-rail 30% down from top
5. Bottom-rail fully down; Top-r

[2020-06-28 16:35] jsjames commented on #7862
Thanks Rossko/Hilbrand.  I can remove that capability from the binding, however I do think this is the case where sticking to philosophical rule does limit the value we can provide as part of a binding and complicates the setup for users (i.e. now not only do they need to get the binding up and running, they now have to write another rule to calculate this info).

[2020-06-28 17:11] marcelrv commented on #7947
please provide the model string of your device\.
Are all the functions working file with the philips.light.bulb config?

[2020-06-28 17:19] dafzor commented on #7947
What's the model string? do you mean hardwareVersion? If so it's `ESP8266` with firmware `1.3.7_0029` and `1.3.0_0015`.

 As for function, the binding exposes a lot of channels but I've only really tested power and brightness which covers all the functionality of the bulb.

[2020-06-28 17:50] J-N-K commented on #8027
I left lgwebos to you. You could suffer from the issue if the client connect fails before the connect is finished. After the session is connected, there is no problem anymore.

[2020-06-28 17:53] sprehn commented on #8027
I don't see any flaw in stopping the client in deactivate method without keeping track if it was started or not previously. The client itself will hold this state. If it is already stopped it will ignore the command.

[2020-06-28 18:10] sprehn commented on #8027
There is a connection timeout which defaults to 15s in jetty. For the client in lgwebos it is set to 1s.
When the timeout occurs the method annotated with @OnWebSocketError will be called.

The Future should complete in any case.

[2020-06-28 18:23] J-N-K commented on #8027
In amazonechocontrol it clearly did not work that way and led to an OOM after some time.

[2020-06-28 18:45] lolodomo commented on #8027
As I mentioned earlier, I believe there is a risk in case the connection retry will occur more frequently than the connect timeout.
For the LGwebOS binding, if the connect timeout is set to 1s, there is no risk.
By the way, handling the connection future cannot be a wrong thing.

[2020-06-28 19:23] bjoernbrings commented on #8027
During the development of my binding (some time ago) I was asking myself whether polling something quite regular isn't a common usecase that could be implemented centrally and then be used by all bindings.

[2020-06-28 19:38] #8008 closed

[2020-06-28 20:29] #7938 closed

[2020-06-28 20:53] mstormi opened #8036 "[lghombot] out of bounds exception on startup"
getting this on every OH startup
OH 2.5.6-2 with Zulu 11 OpenJDK Client VM Zulu11.39+61-CA (build 11.0.7+10-LTS, mixed mode)

[code]

[2020-06-28 21:23] berland commented on #4351
Some observations:

* It could be my timeouts are related to RF between hub and shade, even though they are only 4 meters apart (and a plaster wall). They are not very consistent and it has happened on bottom shade as well. So not something the binding could fix, but perhaps when timedOut returns True, it could log it, or even try again some seconds later?

* timedOut is included in the JSON respo

[2020-06-28 21:41] openPhiL opened #8037 "[amazonechocontrol] Add support for audio tag in SSML"
Hello!
I found some discussions in the forums related to the audio tag. It is not supported yet.
So I thought, why not creating a feature request. Haven't found one created yet. I'd love the feature.

So currently, this command:
`AmazonEcho_TTS.sendCommand('<speak>Start <audio src="soundbank://soundlibrary/transportation/amzn_sfx_car_accelerate_01" />
<break time="1s"/>
 Ende</speak>')`
does behav

[2020-06-28 21:41] berland commented on #4351
Here are some positions  after commands, from JSON response from the hub:

| case | bottom | top | position1 | position2 |
| ---- | ------ | --- | --------- | --------- |
| 1, all up | 0 | 0 | 65160 | 0 |
| 2, top up,  bottom 30% down | 30 | 0 | 45874 | 0 |
| 3, top up, bottom down | 100 | 0 | 0 | 0 |
| 4, top 30% down, bottom down |  100 | 30   | 215 | 19661 |
| 5, all down | 100 |  100 | 215 | 6

[2020-06-28 23:53] morph166955 commented on #7978
Just to throw a comment on here about the JuPnP note. I also moved to the 2.4.0-SNAPSHOT Samsung binding due to the thread issues and it did NOT stop my thread exhaustion issues. After about 8 days my Sonos speakers start to fall offline and refuse to come back. I'm a firm believer there is a race condition happening in the thread pool. It looks like the majority of my failures happen when the sys

[2020-06-29 00:05] jaywiseman1971 commented on #7978
Try 2.4 RC1 Samsung binding.  It has kept my system stable.  My sonos devices (15) randomly drop off but come back online within less than 5 minutes.  I have a rule watching all my Sonos things which alerts me when it happens.

Best, Jay

[2020-06-29 00:09] morph166955 commented on #7978
Happy to test. Got a specific link for the jar file to make sure we're all on the same version?

[2020-06-29 00:51] jaywiseman1971 commented on #7978
https://openhab.jfrog.io/openhab/webapp/#/home

Case sensitive on Quick Search --> *samsungtv-2.4.0.RC1*

Best, Jay

[2020-06-29 06:34] TBail commented on #8028
I tried to display the current NextDuration vaue in the Paper ui and it did not work.

`Text item=RB_BM_SC_SprinklerValve01_NextDuration label="Next Duration [%d %unit%]" icon="time_timer"
Text item=RB_BM_SC_SprinklerValve01_NextDuration label="Next Duration [%.0f %unit%]" icon="time_timer"
Text item=RB_BM_SC_SprinklerValve01_NextDuration label="Next Duration [%.1f %unit%]" icon="time_timer"`

jus

[2020-06-29 07:58] DerOetzi commented on #8016
I want to generate a graphic like the following directly inside rules with data from astro binding directly when any of the input values changes. Because at the moment I cron trigger an external python script on the machine which recalculate with astral library all values and as you can see in screenshot, has some small deviations from astro binding.

![grafik](https://user-images.githubuserconten

[2020-06-29 08:33] frank-f commented on #3522
I have two HomePods in my setup. I can try to remove those later, but that can't be my solution. I *want* those to be in the setup to be able to use voice commands. This used to work for months, too - it just got worse and worse again with the recent updates of both, openHAB and iOS.

[2020-06-29 08:57] DerOetzi commented on #8011
@J-N-K I tried to reproduce your fix and started with introducing your additional Unit-Testcase but used existing humidex.scale file with range up to 100 with a value of 200 and the test case passed fine. So I had a closer look on it and noticed the test-case failed with a NPE only when I introduced the last line to humidex,scale file

`NaN=Unknown`

So it seems that line is the real problem and I

[2020-06-29 08:58] regnets commented on #7040
Hi Michalboronski,

i think the issue is now solved, have a look at this:
https://github.com/rgerganov/py-air-control/issues/21#event-3491469848

Cheers

[2020-06-29 11:18] piegamesde commented on #7467
I did a few tests regarding adding and removing nodes:

**Removing a node**

Works

**Adding that node back in**

Partially works. The properties are detected, but some are detected with data type `dummy`. They cannot be edited nor linked (the link button simply does nothing).

**Adding a new node**

Does not work. Even multiple restarts did not make the properties of the new node appear in the li

[2020-06-29 12:22] andrewfg commented on #4351
Many thanks @berland this is very helpful. I can do a last check in my code to confirm the direction and scaling.

Indeed. It is a PercentType channel so 655 is the minimum delta to have an observable impact.

[2020-06-29 12:47] clinique commented on #8016
It's what I did in the PR, with the ability to get date time for each event, and then getAzimuth and getElevation for a given timestamp.

[2020-06-29 13:04] andrewfg commented on #4351
That is a good suggestion about logging and retrying. I will see what I can do.

For info: in my case there were two possible places to locate my hub: a) 4 metres RF distance from the shades and plugged into an Ethernet socket, or b) 1 metre RF distance from the shades and connected to WiFi. Personally I find b) to be better.

Many thanks for the info.

My intention was to **not** include ?refresh

[2020-06-29 14:59] DerOetzi commented on #8016
Oops, I didn't recognize your linked PR, sorry! Yes, this is exactly what I was searching for, but not only for sun. Can you please add those functions for moon thing as well?

[2020-06-29 15:27] DerOetzi opened #8042 "[astro] Next visible eclipse"
At the moment for example the next total sun eclipse is reported at 2020-12-14 17:15. I'm pretty sure this want be visible here, because sun will be below horizon at this time. Would be great to have the datetime for all sun and moon eclipses which are visible on groundlevel.

[2020-06-29 15:35] galexey commented on #8028
I can write values in seconds, but it seems that the binding is not sending the stationState ON to opensprinkler.
I do get updates on stationState and remainingWaterTime from opensprinkler.
I´m not sure if this is connected.

[2020-06-29 17:31] TBail commented on #8028
@galexey Could you show us your items and sitemap. If openSprinkler is online should be shown in the papaer UI under Configuration Things

[2020-06-29 18:55] andrewfg commented on #4351
Hi @berland I implemented all of your suggestions. **_Except_** the one about retrying the refresh if it encounters a time out; reason for not doing that is because it is not clear a) how long to wait for the retry, and b) after how many retries to give up. I did however add a logger warning if a time out is encountered. I hope that the rest is to your satisfaction. The new build is [here](https:/

[2020-06-29 20:28] mstormi opened #8043 "[hueemulation] items still announced after uninstall"
I used 2.5.6 hueemulation to expose OH items to Alexa, then moved on to use the skill instead.
I properly uninstalled hueemulation, but I was having trouble with its items to ever appear again when Alexa was told to scan for smart home devices, resulting in duplicate items with equal labels, giving Alexa a hard time to distinguish between.
I finally located these wrongly announced items in `/var/l

[2020-06-29 20:42] J-N-K commented on #8011
IMO NaN is perfectly valid here. It‘s the implementation that‘s flawed.

[2020-06-30 00:08] psyciknz opened #8044 "[Unifi] - controller/api still reporting wireless device when off network"
Not particularly a binding issue.  But it seems  that the api and therefore binding are seeing a  missing wireless device as wired after they leave.  So a device never goes offline.

Wondering if there's a way, or changee to the binding that a wireless device would not be allowed to be wired...and therefore be offline.

On OH 2.5.6 and Unifi Controller 5.12.66

[2020-06-30 00:12] #7947 closed

[2020-06-30 02:48] koshisan commented on #7356
Is there any hope this will be fixed? I would love to get a reliable play/pause state from the tv to control the living room lights...

[2020-06-30 05:17] benalexau commented on #6673
A few quick comments:

* GitHub Packages as a Maven repo currently has many [limitations](https://github.community/t/fundamental-issues-with-maven-packages-and-how-to-address-them/17700/2).
* Hosted source repositories come and go. You probably remember when it was CSV on SourceForge, then Subversion on Google Code, currently Git on GitHub, and down the track probably SourceHut or GitLab or whatev

[2020-06-30 08:06] galexey commented on #8028
I use config-files:
**mysprinkler.things:**
[code]

**mysprinkler.items:**
[code]

opensprinkler_station01_stationState and opensprinkler_station01_station01RaminingTime are update when the programm runs in opensprinkler.

opensprinkler_station01_station01NextDuration, opensprinkler_station01_queued, opensprinkler_currentDraw and opensprinkler_rainsensor do not work. for me.

[2020-06-30 11:57] lkxnon opened #8045 "[miio] Bedside lamp channels not initialized after OH startup"
## Expected Behavior
Mi Bedside Lamp (yeelink.light.bslamp2) after OpenHAB startup expected to bring on all defined items for control

## Current Behavior

Once OH is restarted (maintenance or power cycle) there is specific problem with Lamp as it is not possible for control, Channels are not being initialized correctly and there are Network and Actions channels only.

Thing defined:
Thing miio:ba

[2020-06-30 12:13] jgeraerts commented on #5892
For me openhab slowly goes out of memory. I've managed to create a heapdump and noticed there were many instances of `org.jupnp.model.meta.RemoteDevice` instances (805). All pointing to my sonos device.

<img width="968" alt="image" src="https://user-images.githubusercontent.com/115240/86124264-2172d780-badb-11ea-81e9-996f8e0e4e02.png">

After restarting openhab I've been keeping an eye on it and

[2020-06-30 15:50] yfre commented on #8044
it looks like well known issue for unifi
https://community.ui.com/questions/Disconnected-clients-still-appear-in-clients-list-of-UniFi-controller/7872e8bf-7783-497c-aa42-dc85defa1a51

[2020-06-30 16:01] marcelrv commented on #8045
Try to include the model to see if fixes the issue at hand.
Is this right after restarting OH. You may need to give it a bit of time to settle (2-3 min should be more than sufficient assuming your refresh is set to default 30s), many devices have not strong network connectivity and may need few tries before the connection is there.

`Thing miio:vacuum:s50 "vacuum" @ "livingroom" [ host="192.168.15

[2020-06-30 16:12] marcelrv commented on #7713
You could try to change the model to `chuangmi.plug.v3fw`
Seems the plugv3 has some firmware dependent commands

[2020-06-30 18:23] timbms opened #8047 "[lcn] Make up and down on RollerShutters interchangeable"
I am using lcn OH2 binding #7509 and rollershutters that apparently have a non-canonical cabling: up and down are reversed.
On OH1 I was using:

`Rollershutter lcnJalousieWZWestLinks "Jalousie WZ West links" (gWZ,  gEGJalousien, gHausJalousie, gJalousienWest, gEGJalousienWest, gLcn)
{lcn="[UP:myHome:RELAYS.0.54.11------],
[DOWN:myHome:RELAYS.0.54.10------], [STOP:myHome:RELAYS.0.54.0-------]"}`

O

[2020-06-30 18:34] TBail commented on #8028
Luckily it is now working. Nothin done except installing the corona binding. So i clse this issue.

[2020-06-30 18:34] #8028 closed

[2020-06-30 19:01] mstroeve commented on #4351
I had some time to test again with the latest jar file.
I deleted all things and added them again.

Refreshing after using a remote control seems to work with this build.
But I still have a issue/question regarding position of the top/secondary rail:

Having this dual rail PowerView item fort the top/secondary rail:
`Rollershutter LF_KEUKEN_EETTAFEL_SHADE_SHUTTER_BOVENZIJDE "Luxaflex eettafel shut

[2020-06-30 20:53] andrewfg commented on #4351
Hi @mstroeve many thanks for the testing. I fear that @berland and you have two different varieties of shades (??)

I made the latest build to support the coordinate system described by @berland for his shade in the table in his post [here](https://github.com/openhab/openhab-addons/issues/4351#issuecomment-650825652) but I think your shades are using a different coordinate system ??

=> @mstroeve

[2020-06-30 21:46] berland commented on #4351
My shade looks exactly identical to @mstroeve , even in colour! I can move the top  rail independently of the bottom, but if I try to move it past the bottom rail, it stops, naturally enough.

The mapping between 0 and 100 to OPEN and CLOSED is a design choice, and  I support the current way it is implemented in the binding for the bottom and the top rail.

[2020-06-30 22:32] andrewfg commented on #4351
Thanks to you both for your feedback. I am trying to emulate the operation of all the varieties of shades described on the Hunter Douglas [help page](https://help.hunterdouglas.com/s/article/Hunter-Douglas-PowerView-Shade-Operation-All-Products), with their pebble remote. But even with all their videos, it is hard to visualize what is going on without having the physical shades (and to make it mor

[2020-07-01 08:11] lkxnon commented on #8045
Thanks Marcel, I have included model and seems this is working as expected now. Restared OH and lamp channels are loading immediately during startup. So I think this can be closed, no bug :)

[2020-07-01 09:19] clinique commented on #8016
I did add Azimuth and Elevation for moon as well.

[2020-07-01 13:21] J-N-K commented on #8044
How should we find out which are really wired or wireless?

Since this is clearly an external bug and needs to be fixed by Ubiquiti, I'm closing here. Looking at their past record in fixing annoying bugs, I would not bet too much money that'll ever happen.

[2020-07-01 13:21] #8044 closed

[2020-07-01 13:22] J-N-K commented on #7978
@MPH80, can we close here?

[2020-07-01 13:25] J-N-K commented on #7971
How would you use animation or video from rules?

[2020-07-01 13:30] MPH80 commented on #7978
Yes - been stable since the new jar went in. Thanks @J-N-K for your hard work on this.

[2020-07-01 13:30] #7978 closed

[2020-07-01 13:41] bgilmer77 commented on #7971
Here is an example with an attachment.  The `ipcamera` addon also will create a short .mp4 file, and you could send this as well instead of a .gif.

[code]

[2020-07-01 15:30] lolodomo commented on #5892
Did someone test again OH 2.5.6 with the fixed version of the SamsungTV binding (PR #8025)?

[2020-07-01 16:17] gerrieg commented on #7169
New version published: https://marketplace.eclipse.org/content/gardena-api-binding

I have optimized the reconnection again. In the event of an error, a complete restart is now done to avoid getting stuck.

[2020-07-01 16:21] andrewfg commented on #4351
The latest build jar is [here](https://drive.google.com/file/d/1x2dfBxltMMkJm5ajOwepnxh81oW9DFbm/view?usp=sharing)

I have been thinking more about the direction of operation of the top-down shade.. and I concluded that there is no perfect solution -- whichever direction of operation is chosen, it **_cannot_** be any more confusing than the following table from the HD help instructions, where to p

[2020-07-01 17:04] lolodomo commented on #8027
@J-N-K in the PR for LGwebOS binding @sprehn is challenging one of the two main changes introduced in your PRs. Can you both please continue the discussion so that we are sure that the change applied to all these bindings is really relevant.

[2020-07-01 17:06] J-N-K commented on #8027
@sprehn then please explain why that change obviously fixes the problem.

[2020-07-01 17:44] lolodomo commented on #8027
It is still possible that one if your change really fixed one issue but not the second.
The discussion is about the need or not to check isStarted() before calling stop().

[2020-07-01 17:58] fwolter commented on #8047
Please try this:

[org.openhab.binding.lcn-2.5.7-SNAPSHOT.jar.zip](https://github.com/openhab/openhab-addons/files/4859566/org.openhab.binding.lcn-2.5.7-SNAPSHOT.jar.zip)

The Rollershutter Channels provide a configuration parameter, now to invert Up/Down.

[2020-07-01 18:51] psyciknz commented on #8044
So let’s not be hasty.

Since ubiquiti are too slow, we can provide the intent to openHAB users.

Are there other,
can the binding detect a device going from
Wireless to wired that we could trigger off?

Can the binding display the wireless channel when Wireless  and null when it’s wired...and reflect that when it switches.

Else the binding for presence detection is not really suitable.

[2020-07-01 19:11] mstroeve commented on #4351
I agree and I don't mind if 100 means the value for the top (secondary rail) to be at the top but the binding readme states otherwise. So shouldn't that be changed/reversed in the readme?
Dual action (upper rail) | secondary | UP | CLOSED | 0%
-- | -- | -- | -- | --
  |   | DOWN | OPEN | 100%

[2020-07-01 19:33] markus7017 opened #8052 "[shelly] Support for Shelly DW2"
Alterco is launching an updated version of the Door Window Sensor - the DW2. This requires specific support, the DW1 provides different REST/CoAP status.

This will take time, because the CoAP message format has completely refined by Alterco :-(

/shelly
[code]

/settings
[code]

/status
[code]
CoAP Description
[code]

CoAP Message

[code]

!! Invalid JSON syntax !!
 ],,[

[2020-07-01 19:51] #8047 closed

[2020-07-01 19:54] andrewfg commented on #4351
Hi @mstroeve thanks for the feedback. I think the [ReadMe](https://github.com/andrewfg/openhab-addons/blob/hdpowerview-experimental/bundles/org.openhab.binding.hdpowerview/README.md) does already say what you are suggesting. Or??

[2020-07-01 20:16] yfre commented on #7750
reopen as more users have reported this issue, see
https://community.openhab.org/t/re-solved-homekit-integration-pairing-problems-ios-10-11/101667/4

@bigblue1735 @RafalLukawiecki have you experienced this issue again or is everything working fine and stable now?

[2020-07-01 20:27] RafalLukawiecki commented on #7750
So far, everything has worked well for me, and the issue did not come back. I have a feeling the issue may be related to using the *same* Homekit pin *and* doing a reset of the pairing + cache clearing. When I switched to the mode of changing the PIN when doing the resets, things were OK.

Having said that, I had not needed to do a reset of any kind for a month or so, and just casually adding or r

[2020-07-01 20:33] andrewfg commented on #4351
Perhaps a picture makes it clearer. What I intended is
- Press the two RED buttons => room is dark
- Press the two BLUE buttons => room is light

![image](https://user-images.githubusercontent.com/893994/86288794-70576480-bbe2-11ea-9d50-e5df4b1c3e7a.png)

[2020-07-01 20:58] mstroeve commented on #4351
If you press the two blue buttons both rails will be in the middle with a duette shade. You want the both at the top to be fully open

[2020-07-01 21:05] berland commented on #4351
Latest jar looks good here. The STOP command works!

The only downside is that the hub or shade does not like getting too many commands it seems, so when testing, a lot of messages simply do not go through. Maybe RF communication HUB-shade, maybe not. It seems I can provoke this packet loss while playing with the official Android app as well (sometimes it  seems that the hub queues up each request

[2020-07-01 21:40] andrewfg commented on #4351
@berland yes I agree that the hub is not fast, and not multi tasking; so it is..

Concerning position1 and position2, according to the Api specification, the former is mandatory, and the latter optional. So I only send the latter when it is really needed.

Concerning the direction of operation of the secondary shade, I have the feeling that you are observing something different than @mstroeve . Un

[2020-07-02 07:16] SeeAge commented on #7169
@gerrieg Thank you, I will update asap. FYI, after the update you made before, I did not have any connection loss again.

[2020-07-02 09:03] Asbjoern opened #8054 "[deconz] Manually added colortemperaturelight stuck at CONFIGURATION_PENDING"
## Expected Behavior
Light should go online and work.

## Current Behavior
After adding light to configuration file
[code]
The thing status never goes online. It is stuck stuck at CONFIGURATION_PENDING
Log here:
[code]

If I restart the binding I get an exception right after initialization of the lamp:
[code]

Behavior is the same with other colortemperaturelights and lights work with the hue bind

[2020-07-02 12:00] andrewfg commented on #4351
- @mstroeve and @berland can you please confirm that this is what actually happens for **_both_** of you?
- And can you both please confirm that you are using the [latest jar build](https://drive.google.com/file/d/1x2dfBxltMMkJm5ajOwepnxh81oW9DFbm/view?usp=sharing)?

- Can you please infirm me what sequence of two buttons must be pressed (with the latest build) to achieve this?

[2020-07-02 13:58] #8045 closed

[2020-07-02 15:35] andrewfg commented on #4351
Revised [ReadMe](https://github.com/andrewfg/openhab-addons/blob/hdpowerview-experimental/bundles/org.openhab.binding.hdpowerview/README.md)

[2020-07-02 16:16] J-N-K commented on #8054
What item type did you use for the color temperature channel?

[2020-07-02 17:42] Asbjoern commented on #8054
I have not yet connected any items to any channels.  But I would use a Dimmer like the hue binding.

[2020-07-02 17:45] J-N-K commented on #8054
Nope. Use a Number Item. But I think I found another issue.

[2020-07-02 18:11] Asbjoern commented on #8054
Good to know. I really like specifying the temperature in Kelvin instead of percent!

Great news. It is now online!
You were right about channels being linked. There must have been some residual link or naming conflict between the hue and deconz binding?!

The light was also named kontorloft in the hue binding. I had removed the hue thing but not the links. Once I removed the hue links:
[code]

Th

[2020-07-02 18:24] J-N-K commented on #8054
That’s strange. I‘ll investigate that.

[2020-07-02 18:24] #8054 closed

[2020-07-02 20:25] kaikreuzer commented on #7943
Haha, that's a nice comment in the code! Yeah, it seems it turned out that the "production" version of the marketplace integration didn't find any other way than using the same path as the poc that I used for that presentation there...

Ok, that's good to know, thanks. We are planning to go for a different solution for openHAB 3 by the end of this year, but for any folks that will keep using openH

[2020-07-02 22:30] TheNetStriker opened #8056 "[mqtt] Cannot connect to TheThingsNetwork because of HomeAssistant discovery"
## Expected Behavior
OpenHab can directly connect to TheThingsNetwork via MQTT.

## Current Behavior
OpenHab cannot connect to the ThingsNetwork via MQTT because the client seems to get kicked from the server because of the HomeAssistant discovery. There is also a thead in the community forum about this problem: https://community.openhab.org/t/connecting-openhab-thethingsnetwork/96936/9

## Possib

[2020-07-03 05:37] lolodomo commented on #7913
https://github.com/openhab/openhab-addons/blob/2.5.x/bundles/org.openhab.binding.netatmo/src/main/java/org/openhab/binding/netatmo/internal/homecoach/NAHealthyHomeCoachHandler.java#L50

@clinique : is there a valid reason that for the homecoach you just get the first device while for the weather station for example you apply a filter on the id ? My feeling is that the filter on the id was to be su

[2020-07-03 05:53] clinique commented on #7913
@lolodomo : the homecoach part has not been developped by me so there may be possible enhancements I did not see

[2020-07-03 06:08] cwihne commented on #7169
I did see several connection losses even with version as of June 11th, mostly related to Internet connection loss + no binding recovery, but could resolve with `clean-cache` for the last couple of days. Will watch closely with newest version.

[2020-07-03 06:39] lolodomo commented on #7913
OK, I fixed it in my PR.

Please note that I also suppressed the usage of Optional in class fields and method arguments after reading that it is not recommended (Optional only recommended as return of methods).

[2020-07-03 15:10] mherwege commented on #5892
@lolodomo, probably not the same issue, but I am running into something similar without Sonos or Samsung binding in my installation. It looks like jupnp stops receiving the upnp multicast messages after a while.
I created an issue for it in the jupnp repository [#123](https://github.com/jupnp/jupnp/issues/123). It does have the same effect of UPnP things going offline.
I was testing this in the co

[2020-07-03 17:16] andrewfg commented on #4351
@berland and @mstroeve I think the latest build is stable and good to go, and the ReadMe matches the reality, so I would like to open a Pull Request for it. Is that OK with you?

[2020-07-03 17:39] berland commented on #4351
Pressing the two RED  -> dark - this is correct.
Pressing the two BLUE does not make sense, because the secondary rail cannot be below the primary (bottom) rail.

There are two possibilities for "room is light", both rails at the bottom or both rails at the top, clicking UP on both, or DOWN on  both  yields this. So the binding works correct as far as I can see.

When both are to be sent down, the

[2020-07-03 17:40] berland commented on #4351
Ok with me! I can't find any further issues. Thanks again for the good work!

[2020-07-03 17:55] timbms opened #8060 "[lcn] Implement send key command in OH2 binding"
It would be great if the new OH2 binding would also support sending keys to lcn modules.
On OH1 it was possible to send keys from switches
`Switch exampleC456 "M005 C4 lock" {lcn="[ON:myhome:LOCK.0.5.C.---111--], [OFF:myhome:LOCK.0.5.C.---000--]"}`
and also from roller shutters:
`Rollershutter lcnDFFWest "DFF Emma"                               (gDZ, gDFF, gLcn) {lcn="[DOWN:myHome:KEYS.0.44.A5.HIT

[2020-07-03 18:05] bobadair opened #8062 "[lutron] LEAP protocol support"
The Lutron binding currently supports the following systems:
* HomeWorks QS, RadioRA 2, RA2 Select, and Caseta Smart Bridge Pro systems via Lutron Integration Protocol (LIP) through the ipbridge bridge thing.
* Legacy HomeWorks systems via a rs-232 protocol and the hwserialbridge bridge thing.
* Legacy RadioRA systems via a rs-232 protocol and the ra-rs232 bridge thing.
* Grafik Eye 3x/4x systems

[2020-07-03 18:33] jeremystucki opened #8063 "Private link in readme"
The following link from the first paragraph is private:
openHAB Add-on maintainers: https://github.com/orgs/openhab/teams/add-ons-maintainers

Is this intentional?

[2020-07-03 19:43] morph166955 commented on #5892
I can grab the new samsung binding and drop it in next time I restart.

Heap dump after about 7 days of uptime on my OH instance for jupnp (top few), sonos, and samsungtv.  Currently no devices have are completely failed.

 num     #instances         #bytes  class name
----------------------------------------------
  81:         19082         457968  org.jupnp.model.state.StateVariableValue
 114:

[2020-07-03 19:57] morph166955 commented on #5892
Does anyone have a link to the samsung 2.5.7 jar that has that fix in it?  I guess I can pull it from the most recent build as it looks like it's merged, but I want to make sure that is the correct file before spending a week waiting for it to fail.

[2020-07-03 20:54] openhab-5iver commented on #8063
This is a link to the Maintainer Team. This defaults to their Discussions, which is visible to all members of the openHAB Github organization and it is not possible to make this visible to the public... https://docs.github.com/en/github/building-a-strong-community/about-team-discussions.

Is this link visible?

https://github.com/orgs/openhab/teams/add-ons-maintainers/members

[2020-07-03 21:26] morph166955 opened #8064 "[mail] Upgrade from 2.5.3 to 2.5.6-2 caused org.sun.jna to fail"
When upgrading from 2.5.3 to 2.5.6-2 I ran into an issue where org.sun.jna would stall and never build properly.  This caused most of my bindings to sit at Resolved and never attempt to start.  The only fix to this was to remove "mail" from the addons.config file.  After removing that, jna started cleanly and the system was able to function like normal.

[2020-07-03 21:41] morph166955 commented on #5892
The 2.5.7.jar I mentioned above does NOT fix the occasional fall off issues.  I have already had a play1 and playbar fall off and return 10 seconds later (due to the jupnp jar created above being set to a 10 second recovery).  I'm going to load 2.4.0RC1 next.

[2020-07-04 08:48] lolodomo opened #8065 "[hue] Discovered things updated too much often in the inbox"
https://community.openhab.org/t/excessive-disk-access-from-hue-deconz-after-oh-upgrade/101757

@DerOetzi : I think the problem is due to your refactoring (PR #7518) : in case you don't have a thing, `discovery.addSensorDiscovery` is called at each poll (twice per second by default) and the inbox is updated (even if it is only the timestamp).
Same thing for lights and groups (done every 5 seconds).

[2020-07-04 08:59] fwolter commented on #8060
This can already be done via an *Action*. https://www.openhab.org/addons/bindings/lcn/#hit-key

Actions can be executed by a Switch via a Rule.

Nevertheless, the examples you are mentioned are realizable via existing Channels. E.g. `keylocktablec` or `rollershutterrelay`. In case you don't want the Rollershutter Command to interact with the relays directly, but with some keys, you could handle th

[2020-07-04 09:06] lolodomo commented on #8065
I can confirm the unexpected behaviour.

I am going to prepare a fix.

[2020-07-04 10:16] ElHoni commented on #4249
Hey everyone,
is the binding already finished and where can I get it to test it?

[2020-07-04 11:03] No3x commented on #8056
I do have the same issue and (almost same) stacktrace trying to connect to the `mqtt.thingspeak.com` broker with 2.5.6-2 (Release Build).

I did not know that the issue might be related to homie auto-discovery but rather an issue with the specific server/broker but your explanation makes sense to me.

[2020-07-04 12:25] lolodomo commented on #8020
This silence probably means you will not.

I will try in this case.
This might be just a false to replace by a true in the code.

[2020-07-04 13:37] sprehn commented on #8027
Yes, why protect the call to stop() with isStarted(). stop() implementation handles the internal state and is a no-op if not necessary. But there are two states: STARTED and STARTING. isStarted is only true for STARTED state. So if the state is STARTING when the binding is deactivated stop() would not be called

[2020-07-04 13:43] J-N-K commented on #8027
Feel free to revert it. Pretty sure you know how to do PR.

[2020-07-04 13:52] jeremystucki commented on #8063
No, it's also private

[2020-07-04 13:54] lolodomo commented on #8027
I can help.

[2020-07-04 14:17] kobelka opened #8069 "[LCN] Contact Item shows wrong state"
In the new 2.x LCN-Binding the state of a contact item is wrong.
For Example the door is closed and in Openhab shows that the door is open.
In the 1.x Binding the state was right.
Regards
Jörg

[2020-07-04 15:15] lolodomo commented on #8027
Done.

[2020-07-04 16:57] ccutrer opened #8076 "[mqtt.homie] Autodetect °F and °C unit, and provide a QuantityType"
If a Homie property contains a $unit attribute of °C or °F, OpenHAB should detect this and create a channel that provides a QuantityType with the proper temperature unit attached. This will allow OpenHAB to automatically convert say a provided C unit to F if OpenHAB is configured to use F generally. Note that Homie 3.0.0 doesn't explicitly list °C as a recommended unit, but does have it as an exam

[2020-07-04 20:08] cweitkamp commented on #7542
I think I observed this issue in my environment too. Not reproducible and thus hard to tackle down. The best indicator for me is when my lights do not dim their brightness once a movie / episode was started. Happens not that often in summer time.

I maybe have a really small idea where I could start digging. One more question: Did you track your `ThingStatus` of Kodi? Was it `ONLINE` or `OFFLINE`?

[2020-07-04 20:29] radokristof commented on #7542
@cweitkamp
Well it is truly really hard, I have also tried to look into the code and make a longer debug logging, but it happens very rarely.
I don't track it's status, just observed the logs a few times. However if this is the question, the Thing stays ONLINE after all even when not updating, but I don't know if it goes into OFFLINE for a few sec when this glitch happens.
I have a rule which auto

[2020-07-04 20:38] radokristof commented on #7542
I wanted to say that I experienced this really long time ago and it happened right now. So what I can see now:

- The Thing is online.
The log only shows:
[code]
And it seems that this is the only line corresponding to this Kodi Thing. Unfortunately I was not paying attention closely before, but this line:
[code]
Is my other Kodi Thing which is my PC (usually offline, cause I don't always run Kodi

[2020-07-05 07:10] danst0 commented on #6145
Just to be sure, not having working up and downs - at least for me is a real problem:
Only using Openhab I am not able to fully move my raffstores up. Just for comparison: left side moved up with Homematic, right side with Openhab Up=1. There is roughly a 10cm difference and it takes away a huge portion of my upper window.

![IMG_4494](https://user-images.githubusercontent.com/1544506/86527459-2c4

[2020-07-05 09:04] MHerbst commented on #6145
@danst0 Which device are you using? According to the Homematic device documentation the HM devices are using values between 0 and 1.01 for the position. The binding uses 1.00 for the max value and this may explain why it is completely open. I will try to create a test version of the binding today where I will try to solve problems with the rollershutters.

[2020-07-05 09:22] modenet commented on #7910
when it will be release?

[2020-07-05 09:23] danst0 commented on #6145
@MHerbst Thank you very much! I am using HmIP-BBL to control the raffstores. I am using channel 4 to control up an down sending 99 for up and 1 for down.
The lower level is ok. However going up - as you can see - is critical.

[2020-07-05 09:31] J-N-K commented on #7910
Already part of 2.5.6

[2020-07-05 09:54] lolodomo commented on #8027
One last thing, I see most of the bindings using their own websocket client are calling stop() and destroy() but not all are calling destroy(). LGwebOS and SamsungTV bindings are not for example. Is it important to call destroy too ?

[2020-07-05 10:18] lolodomo commented on #8027
The innogysmarthome binding is finally to be fixed because it does not stop the WebSocket client it creates and starts.

[2020-07-05 14:31] lolodomo commented on #7356
@sprehn : do you see something in the provided link that could help identify the URL to subscribe to?

[2020-07-05 15:59] lolodomo commented on #8020
It works. We just have to find an appropriate naming for the discovered things (stations and modules) to avoid confusion between the local weather station and the favorite weather stations.

[2020-07-05 16:26] MHerbst commented on #6145
@danst0  @chrostek I have uploaded a test jar to https://github.com/MHerbst/openhab-addons-test/tree/master Please test whether it works better with this implementation. BTW: please make sure that the item is defined as "Rollershutter" and that no rules are trying to set the level. If it does not work as expected pleas turn DEBUG mode on and send me the logs (each you press UP or DOWN there will b

[2020-07-05 17:26] krikk commented on #6145
@MHerbst i just tried it with your test jar and it is still only working down, but not up (where should i send full logs? email upload here?)

Tested on HmIP-BROLL

`2020-07-05 19:15:02.160 [DEBUG] [ternal.handler.HomematicThingHandler] - Received command 'UP' for channel 'homematic:HmIP-BROLL:OEQ0310480:00111A4991E241:4#LEVEL'
2020-07-05 19:15:02.162 [DEBUG] [.converter.type.PercentTypeConverter]

[2020-07-05 17:39] MHerbst commented on #6145
@krikk Thanks for the log output. This is sufficient for me. The behavior is a bit strange. According to the Homematic Device documentation LEVEL can have values between 0 and 1.01.  Can you check the display value for the device on the CCU? What percent value is displayed if you send the UP command via openHAB and what is display if you execute UP with the CCU? Maybe the correct value for up is 1

[2020-07-05 17:46] morph166955 commented on #5892
2.4.0RC1 does NOT fix the occasional fall off issues either.  @lolodomo does that 2.5.7.jar look right to you?  I'll flip back if so.

[2020-07-05 17:50] lolodomo commented on #5892
We have another pending PR for the SamsungTV binding.

[2020-07-05 18:01] krikk commented on #6145
i just looked at the values ccu-historian is logging:

fully up:
HmIP-BROLL   00111A4991E241:3.LEVEL = 1

fully down:
HmIP-BROLL   00111A4991E241:3.LEVEL = 0

between for example: 0.965

never see any value of 1.01

[2020-07-05 18:09] MHerbst commented on #6145
@krikk OK, I have uploaded a new test jar that uses a value of 1.0 for UP.

[2020-07-05 18:14] rokru opened #8081 "[homematic] Binding fails to parse device description from homegear"
The Homematic binding 2.5.2 recognizes the Homegear 0.8.3031 gateway (“online”), but fails to discover the paired devices.

## Expected Behavior
OpenHAB should list all devices paired and listed in homegear as things

## Current Behavior
None of the homegear devices is listed as thing.

I reinstalled homegear and homematic binding and tried to configure OpenHab by files and by PaperUI - but withou

[2020-07-05 18:32] krikk commented on #6145
it WORKS, a can go UP and DOWN via the buttons in paperUI :+1: 👏

...

[2020-07-05 18:39] morph166955 commented on #5892
Understood.  Let me know once you have a jar and I'll drop that one on and let it run for a bit.

[2020-07-06 05:13] jenicek001 opened #8082 "[miio] feature request support for yeelink.light.strip4"
Hello, please add support of the new Yeelight Willow LED Lightstrip (white adjustable temperature 2700K-6500K 5m LED strip) into miio binding - it has the identifier yeelink.light.strip4.
Thank you,
Jan Zahradník

## Your Environment

* Version used: (e.g., openHAB and add-on versions)
* Environment name and version (e.g. Chrome 76, Java 8, Node.js 12.9, ...):
* Operating System and version (deskt

[2020-07-06 06:24] DerOetzi commented on #8065
@lolodomo Thanks for doing the fix, for me being offline the whole weekend

[2020-07-06 11:59] timbms commented on #8060
You are right. Got it working with the following item:

`Rollershutter lcnDFFOst  "DFF Arbeitszimmer"                      (gDZ, gDFF, gLcn)
`

and rule:
[code]
I will close the issue.

[2020-07-06 11:59] #8060 closed

[2020-07-06 14:31] chrisguindon commented on #7943
@kaikreuzer Thanks for the update!

[2020-07-06 16:26] lolodomo opened #8083 "|netatmo] Disabling background discovery"
The current behaviour of the binding is a background update of the discovery inbox every time device data is refreshed by calling the Netatmo API.
This could lead to relatively frequent inbox updates (depending on how refresh intervals are setup by the user), just to update timestamps when there are no changes in the user Netatmo setup, and as a consequence this could contribute to accelerate SD c

[2020-07-06 16:47] MHerbst commented on #6145
Good to hear this :-). Now it will be interesting whether it also works with other devices or whether it is necessary to define the max value depending on the device.

[2020-07-06 18:05] Goldich commented on #6145
I will test it today or tomorrow with mine too and give you feedback.

[2020-07-06 20:28] Goldich commented on #6145
@MHerbst Could you please add the code changes from this post in a current jar package? The latest one you provided is not detecting HmIP-FBL and HmIP-BBL as shutters. Sorry, that I didn't test earlier. My daughter was born and I had a change in priorities.

[2020-07-06 21:25] clinique commented on #8083
I completely agree with you

[2020-07-07 07:56] tiptick commented on #7450
seems to me if charging session is running and we issue the command it is working. If you issue the command without a active charging then it does not work. will check with Keba about this.

[2020-07-07 13:01] benderl opened #8086 "[enocean] Switching a dimmer on does not restore the last value"
## Expected Behavior
I am using the enocean binding with some actuators from Eltako. This issue is related to EEP A5-38-08 with the FUD14 type actuators. These actuators store the last dimming value before turning off and restore it when turned on again with a enocean switch. I expect the same behavoiur if the FUD14 is controlled with openhab.

## Current Behavior
If I send an "ON" command to the

[2020-07-07 16:01] chrostek commented on #6145
Thanks! My HmIPW-DRBL4 seems to work now. UP / DOWN / STOP do the right things.
But all other values do strange things.
1 is UP
0 is DOWN
0.1 - 0.7 is DOWN
0.8 - 0.9 is UP

i recreated the thing, i did not find any value that does some other thing than completely UP or DOWN

for 0.9 this is in the logs:

`2020-07-07 17:59:28.106 [DEBUG] [ternal.handler.HomematicThingHandler] - Received command '0.

[2020-07-07 16:11] lolodomo commented on #5892
@morph166955 : are you or not in a similar case ?

[2020-07-07 16:20] jaywiseman1971 commented on #5892
@lolodomo - just to clarify what you did?  Disabling the IGMP snooping on all your switches?

Best, Jay

[2020-07-07 16:30] lolodomo commented on #5892
This is a message from @mherwege, not mine.

[2020-07-07 17:07] MHerbst commented on #6145
@chrostek What happens if you use a value of 90? I would expect that the blinds are 90% closed.
The rollershutter item type knows the special values UP/DOWN and also a discrete percentage value. That means values between 0 and 100 should work. For openHAB 90% means 90% closed.
As you can see in the debug message the value 90 is converted to a value between 0 and 1 (the Homematic devices expect dou

[2020-07-07 17:52] MHerbst commented on #6145
@goldich The link https://github.com/MHerbst/openhab-addons-test/tree/master points to a jar file that is based on the latest sources. You can verify it if you open the openHAB console and enter `bundle:list | grep Homematic`. You should see only one bundle with a version number of 2.5.7 and greater.
If you have defined your items with Paper UI you also would have to delete the thing and rediscove

[2020-07-07 18:12] chrostek commented on #6145
sorry - my fault - i configured the run-times for the blinds in the ccu just before the test - and it did not save my values - it used the default 90 seconds and so everything was up or down - it works with values between 0 and 100 - everything is fine :-)
Thanks!

[2020-07-07 18:49] #8065 closed

[2020-07-07 20:06] Goldich commented on #6145
Hello @MHerbst ,
I have checked and the console outputs ```203 │ Active │  80 │ 2.5.7.202007051807      │ openHAB Add-ons :: Bundles :: Homematic Binding```. I have configured the items as text files and manage in PaperUI only Things.

Here an example screenshot from PaperUI, so it looks like a shutter:
![image](https://user-images.githubusercontent.com/10879330/86835849-ff5df400-c09c-11ea-825f-6e

[2020-07-08 06:48] mherwege commented on #5892
@jaywiseman1971

No. My case was very specific. I have a VPN server running on the RPi that runs openHAB. It was set up for bridging, so acts as a switch between the physical ethernet and a virtual bridge ethernet port. It is the virtual bridge ethernet port that has the local network IP address.
So I needed to disable it on this RPi alone, did not touch any of my other network equipment.

[2020-07-08 13:50] manudar commented on #7274
Hi, I have 130 items with homekit link in openhab and after almost every reboot of openhab, I need to remove and add openhab to HomeKit in iOS again. Is like the id of openhab HomeKit changes and iOS does not recognise it anymore.
Also with no reboot, after 2 or 3 days it stops working.
I am using openhab 2.5.7 build from the 28th of June.
The only error I get is the following
`[WARN ] [.server.im

[2020-07-08 17:21] sprehn commented on #7356
hi, no I don't find it in there and this is just the error handling piece. Connect SDK was trying to implement a universal abstraction, not only for WebOS, but also for ChromeCast, AppleTV etc. - so it does not mean this works in WebOS.
@lolodomo  you are correct, if we know which url to subscribe to, we could do it. But I don't.

[2020-07-08 17:49] MHerbst commented on #6145
@goldich The binding uses the channel name ("Blind Virtual Receiver") and datapoint name "Level") to derive a type. "Blind Virtual Receiver" was missing in the binding but I have added it.

Did you try to remove the thing and then run the autodiscovery in Paper UI to create it anew? The channel type can only change its type when a thing is newly created. If this does not help. If this does not hel

[2020-07-08 18:33] toweosp commented on #8069
An LCN-BMI (at least in my environment) delivers "0" in the PCHK's Bx-status command (2.x LCN-binding: contact closed)  if no motion is detected, visualized e.g. by icon motion-closed, and "1" (contact opened) if motion is detected, visualized by e.g. icon motion-opened.

In contrast the door's reed contact - which is connected to an LCN-BU4L configured as a binary sensor - in my environment deliv

[2020-07-08 19:58] Goldich commented on #6145
Thank you for the hint. I forgot to remove the Things and rediscover them. They are detected and work more or less as expected now. Up goes Up, Down goes Down (but not entirely). When it should have gone down to 100 it went entirely down and then back to 94.

Thanks for the fix. My wife is finally happy. 😂

[2020-07-09 08:13] #4788 closed

[2020-07-09 08:42] kaikreuzer opened #8091 "[miio] OutOfMemory errors due to threads being continuously created"
I am seeing regular OOM errors on my instance and just had a look at the thread dump. What I am seeing is that the MI IO binding seems to be the culprit as it creates hundreds of threads:
[code]

[2020-07-09 09:15] tiptick commented on #7450
After feedback with the Keba Support team
![image](https://user-images.githubusercontent.com/15525460/87021127-19025700-c1d5-11ea-8fdc-337241da0472.png)
the command is only supposed to work if a charging sessions has been started.

so i think i will develop in the direction:
if no charge session is running , store the setenergy value and issue it once the session starts. lets see if this works.

[2020-07-09 10:26] froido opened #8092 "[telegram] Use of % in sendTelegram"
An error occures when sending a message via telegram binding which includes a %.

## Expected Behavior
1. Percentage symbol (%) in message string shall be escaped by the binding.
2. Raising an error with a clear message.

## Current Behavior
Rule engine throws an error:
[ERROR] [ntime.internal.engine.RuleEngineImpl] - Rule 'xyz': Conversion = ')'

## Possible Solution
Replace percentage symbol man

[2020-07-09 11:56] kobelka commented on #8069
You are right, this is the behavior of LCN, but I think Openhab should be easy for everyone, so it would be nice If you can change the behavior of the binary sensor channel directly in the paper ui, like it is with the variables channel.

![image](https://user-images.githubusercontent.com/10710041/87036960-d5ffae00-c1eb-11ea-9f6e-303f5e7a2df7.png)

[2020-07-09 12:25] robnielsen opened #8094 "Travis openjdk11 is failing"
This has been happening for a couple of days now:

`[ERROR] Failed to execute goal org.openhab.tools.sat:sat-plugin:0.9.0:pmd (sat-all) on project org.openhab.binding.insteon: Unable to execute mojo: Execution null of goal org.apache.maven.plugins:maven-pmd-plugin:3.11.0:pmd failed: Couldn't find necessary supporting classes for: Unsupported Tool 'xml' => org.apache.velocity.tools.generic.XmlTool

[2020-07-09 14:50] lolodomo commented on #8091
I fixed one memory leak in this binding with #7607
Either this fix was overwritten or there are other leaks in the binding.

[2020-07-09 15:18] kaikreuzer commented on #8091
Thanks, the report #7583 indeed looks pretty much the same.
The bad news is that it does not seem to be fixed by #7607.
My system is running a build from May 27, so the fix should be included there already.

[2020-07-09 18:05] MHerbst commented on #6145
@goldich Good to hear that is working ... and that your wife is happy :-).

It is a bit strange that it is going up again. Can you enable the log mode DEBUG? Maybe we can see in the log why this happens.

[2020-07-09 19:57] Andreas-Fink commented on #8081
I can confirm that this problem also occurs under Homegear 0.8.0-3039 on Debian 9.11 in conjunction with openHAB 2.5.5 release build.  (Interface: 1x HM-LGW-O-TW-W-EU for HM-BidCos and 1x RaspberryMatic for HM-IP)

[2020-07-09 20:10] robnielsen commented on #8094
@openhab/add-ons-maintainers can this be fixed?

[2020-07-09 20:20] toweosp opened #8097 "[lcn] Reference modules and groups by segment id and module/group id instead of serial number"
I would like to propose to use a combination of segment and module/group id instead of the serial number to identify LCN things (when using automatic discovery).

It could be represented e.g. in the format

**S**_<segment_id>_**M**_<module_id>_
resp.
**S**_<segment_id>_**G**_<group_id>_

LCN modules (smart/bus modules) are uniquely identified by this combination. Furthermore - as far as I know - u

[2020-07-09 21:10] kaikreuzer commented on #8094
I'd love to see it fixed, but have no idea what change might have caused this now, while it was working before...

[2020-07-09 21:51] 9037568 commented on #8092
Need to include the rule you're using

[2020-07-09 22:29] #7913 closed

[2020-07-09 22:29] #8083 closed

[2020-07-10 08:44] kobelka commented on #8069
Also in the 1.x Binding I didn´t had to change anything....

`Contact	s_haustuer	"Haustür [%S]"	<frontdoor>	(g_fenster,g_mysql)	{lcn="[myhome:BINARY_STATE.0.20.4]"}`

Now in the 2.x Binding I have do to rules and virtuale contact Items to get the right state....

[2020-07-10 10:19] lolodomo commented on #5440
Your initial analysis is correct, we can just add that there is a check whether the data is expired before requesting new data. The problem is that all REFRESH commands are run more or less at the same time and data is considered as expired each time.
My current feeling is that we should add a lock around the update of data to avoid concurrent requests.
I will try to fix that issue.

[2020-07-10 10:32] hadberg6200 opened #8099 "[nikohomecontrol] Niko home control 2 Digital black thermostat"
When adding thermostat in the digital black the binder are crashing

## Expected Behavior
Works as the normal thermostats

## Current Behavior
Throws this exeption:
_2020-07-10 12:10:30.214 [ERROR] [ansport.mqtt.internal.ClientCallback] - MQTT message received. MqttMessageSubscriber#processMessage() implementation failure

java.lang.NullPointerException: null

	at org.openhab.binding.nikohomecontr

[2020-07-10 10:58] lolodomo commented on #5440
Explanation found. For sthe weather station, the binding tries to identify automatically the refresh delay to consider. For that, it needs two different timestamps. Until that happened, the binding considers data as outdated.
The reason is clear but I have no immediate idea how to fix that.

[2020-07-10 13:35] mstormi commented on #7904
ok I understand I need to re-setup my cube, thanks for your support

[2020-07-10 13:35] #7904 closed

[2020-07-10 13:56] mstormi opened #8100 "[max] MAX! things stuck in Initializing after binding restart"
I'm not fully sure how to reproduce the issue but I think a binding restart triggers this.
Once in this state there's nothing one can do other than to restart OH.
While rebooting the cube via Karaf or PaperUI still works, it does not help. Changing the maxcube thing doesn't help either.
Interesting that it wants to do a discovery and cannot bind to the UDP port because that's apparently in use ?
T

[2020-07-10 14:48] toweosp commented on #8069
Do you use (LCN-BMI) motion sensors and were they handled correctly in the 1.x Binding?

Because of the special behaviour of door contacts/reed sensors (see my last post) I myself would have to define rules and virtual contact items for many motion sensors in my environment - instead for 1 or 2 door sensors - if contact state handling in the 2.x binding would be reversed.

I like your idea to add

[2020-07-10 15:44] TRSx80 commented on #7308
An update.  In the meantime some other forum users came up with idea of using the new URL in a rule and then doing JSONPATH transformation on the results to derive the data from the new format.  Working example has been posted, and hopefully soon we should have full copy paste example with all items.  All relevant info can be found in my forum thread I linked in post directly above this one.

[2020-07-10 20:04] kobelka commented on #8069
`Perhaps you could change your bug report into a feature/enhancement request?`

How could I do this ?

[2020-07-10 21:36] kaikreuzer commented on #6673
@petero-dk & @benalexau, many thanks for your input here!
I'd just like to clarify something about the idea: We are not talking about a package manager here and hosting the add-ons ourselves. The idea is to have a similar mechanism to the Eclipse Marketplace, which deals with the metadata management of the marketplace entries only - in the end, it is just a list of urls that point to anywhere on t

[2020-07-10 22:21] fwolter commented on #8097
You might be right. From the usability perspective that would be better. Do you want to file a PR?

[2020-07-11 11:13] fwolter opened #8106 "Update sat 0.10.0"
@wborn Is there a chance we get sat updated to 0.10.0 here? The NonNullByDefault on inner classes bug is a bit annoying. I tried updating it, but I receive compiler incompatibilities when compiling bindings with Java 8, then.

[2020-07-11 11:30] kaikreuzer commented on #8106
No chance - 0.10.0 is Java11 only and not compatible with 2.5 anymore.

[2020-07-11 11:30] #8106 closed

[2020-07-11 13:40] jannegpriv opened #8108 "[vwweconnect] Initial contribution of the VW We Connect binding"
[vwweconnect] Initial contribution of the VW We Connect binding.

We need support for the VW We Connect portal in openHAB.

[2020-07-11 17:13] MHerbst commented on #8081
@rokru  @Andreas-Fink I have  added support for the Integer64 datatype and uploaded a  test jar here: https://github.com/MHerbst/openhab-addons-test

[2020-07-11 17:18] MHerbst commented on #6360
@henrydiesner I have added support for a duty cycle value of -1 and the bridge state will be set to offline while the value is -1. I have  uploaded a  test jar here: https://github.com/MHerbst/openhab-addons-test

[2020-07-11 17:20] MHerbst commented on #5725
@sidamos can you please close this issue if the problem no longer exists.

[2020-07-11 17:33] #6910 closed

[2020-07-11 17:42] #4351 closed

[2020-07-11 18:37] MHerbst commented on #5048
I am now quite sure that the problem is caused by the "M_" in the datapoints. Because I don't have one of the devices that are causing the problem I would need a TRACE log from the device discovery. Please perform the following steps:
1. Remove one of the things that is causing this problem
2. Set log mode to TRACE
3. Run a a new discovery and add the thing
4. Post the log

[2020-07-11 18:57] mherwege commented on #8099
Could you switch on debug logging? I would like to see the content of the received message. There seems to be a difference with the published api.

[2020-07-11 19:03] morph166955 commented on #5892
No.  My OH instance is an Ubuntu 16 VM running on an Intel NUC with ESXi 6.7.  It has one interface that is configured with a static IP.

[2020-07-11 19:06] morph166955 commented on #5892
I'm about a week into having 2.4.0RC1 running.  No devices have fallen off without doing the immediate recovery.

Heap dumps:

  66:         35404         849696  org.jupnp.model.state.StateVariableValue
 134:          9431         226344  org.jupnp.model.types.UnsignedIntegerFourBytes
 142:          4168         200064  org.jupnp.controlpoint.SubscriptionCallback$2
 143:          4948         197

[2020-07-11 19:16] MHerbst commented on #5042
Is probably the same problem as #6145. I have uploaded a test jar, see here: https://github.com/openhab/openhab-addons/issues/6145#issuecomment-655024735

[2020-07-11 19:27] MHerbst commented on #5062
@jfr11 Is this problem still open? To me, it seems that maybe not all necessary ports are open on the Raspberrymatic CCU. Can you please verify if all ports are open (see https://github.com/openhab/openhab-addons/issues/6145#issuecomment-655024735). Even if you don't have any RF components please open the respective port.

[2020-07-11 19:32] MHerbst commented on #5164
The problem as been solved with PR #5165 and can be closed, ping @openhab/add-ons-maintainers

[2020-07-11 20:09] #5725 closed

[2020-07-11 21:43] morph166955 commented on #5892
Not sure if this is helpful, top 25 on the heap:

 num     #instances         #bytes  class name
----------------------------------------------
   1:       2258631      258517064  [C
   2:        559018      110580144  [I
   3:         72048       62850672  [B
   4:        747326       44987008  [Ljava.lang.Object;
   5:       1635514       39252336  java.lang.String
   6:        373292       3284

[2020-07-12 12:58] rokru commented on #8081
@MHerbst Thanks! I followed your instructions, but the data type error still exists. I guess the SNAPSHOT-jar is not operational. In BINDINGS it still reports 2.5.2. How can I assure that the new jar is used and not the old binding?

[2020-07-12 13:19] MHerbst commented on #8081
@rokru First uninstall the old binding, stop openHAB, completely clear the cache, and start openHAB again. After the restart you can check the active binding on the console with command `bundle:list | grep Homematic`. You should see only one binding with a version starting with 2.5.7.

[2020-07-12 14:40] stickybyte commented on #6980
Can someone pleas explain the cmpfrequency to me? What Unit will ist be?

[2020-07-12 16:34] MHerbst commented on #6688
There are two problems at the same time: the first problem is that the HM reports a max value of 1.01 which is not correct (BTW: the older non HMIP dimmers have a max value of 1.0). But there is an additional rounding issue. Even if you use a max value of 1.0 some values will have one decimal.

[2020-07-12 19:58] Novanic opened #8111 "[netatmo] Support for favorite weather stations"
It should be possible to include favored weather stations. That enables users to get weather data of other users without having an own Netatmo weather station.

The Netatmo weather API supports it (see parameter "get_favorites"): https://dev.netatmo.com/apidocumentation/weather#getstationsdata

I have already realized it and created a pull-request.

[2020-07-12 20:42] #5440 closed

[2020-07-12 21:14] rokru commented on #8081
It still binds Homematic 2.5.6...the datatype error is still there.
I placed your jar in openhab/addons with group/user "openhab" and full access, stopped OH, deleted userdata/cache- & tmp-folders, started again (twice) and checked the version with `bundle:list | grep Add-Ons`
What am I missing?
In addons.cfg I set the bindings with `binding = astro, chromecast, homematic`.

[2020-07-12 22:28] sheppy99 commented on #6980
@stickybyte  cmpfrequency is how fast the AC's compressor is running and its a measure of how hard its working. It isn't available on all models. I don't know what units it is measured in and I graphed mine for a while to get a feel for how high it goes. I use it on to tell my rule how hard its working and also I graph it

[2020-07-13 06:06] lolodomo commented on #8111
This feature request was already declared : #8020

[2020-07-13 12:18] MrMontesa commented on #6145
I've tested the beta version with my **HMIP-Broll**.
After installing
[code]
and removing and re-adding the thing I had several Rollershutter items on different Homematic cannels.
![image](https://user-images.githubusercontent.com/600125/87303291-3b68dd00-c513-11ea-906b-b17230340d7e.png)
[code]

Finally trying to control the rollershutter via PaperUI gave correct results in UP & DOWN, but level wa

[2020-07-13 14:00] lolodomo opened #8116 "Reliable implementation of thing actions"
Due to a bug in the core framework, any binding defining thing actions should take care about the implementation to have a reliable behavior. The issue: openhab/openhab-core#1265

Here are the bindings defining thing actions and whether the feature will be reliable or not:

- [x] alarmdecoder (PR #8130)
- [x] astro (PR #8021)
- [x] DMX (PR #8159)
- [x] doorbird (PR #8122)
- [x] ecobee
- [x] enigma

[2020-07-13 14:06] lolodomo commented on #8116
As an example, you can see how it was implemented in the LCN binding. You need to define an interface + the method invokeMethodOf. This pattern can be applied to any binding.

[2020-07-13 14:40] pavel-gololobov commented on #8116
Thank you, I will fix it soon.

[2020-07-13 16:05] ArdKuijpers commented on #7169
Just bought a Gardena smart system and the binding is working well on my openhab 2.5.5 system. Thanks for the good work.

While playing around with the system, I noticed that there might be an issue with the use of units of measurement. I noticed that the Smart Sensor app on my phone reports the light intensity in lux whereas the binding in openhab reports it in W/m2. I use the autogenerated `Numb

[2020-07-13 16:17] MHerbst commented on #8081
@rokru Please remove homematic from addons.cfg. And then try it again (stop, clear cache, start again). As far as I remember the entry in addons.cfg has the same effect as installing the binding via PaperUI and then the binding in the addons folder is probably not loaded.

[2020-07-13 16:20] MHerbst commented on #6145
@MrMontesa That's good news. I have seen that are several LEVEL data points in different channels but I also have no idea which one to use when. The manual does not help either.

[2020-07-13 17:50] lolodomo commented on #8116
@mlobstein for the radiothermostat binding

[2020-07-13 18:43] bobadair commented on #8116
Ok. I’ll update the alarmdecoder binding. It only supports one action (reboot), which I’d be surprised if anyone is using, so it’s probably not a high priority fix.

Is the plan to revert these changes for 3.0?

[2020-07-13 18:50] lolodomo commented on #8116
Yes, the plan is to revert these changes as soon as a solution is found on core framework side. We will see later if the problem is fixed in OH 3.

[2020-07-13 18:50] 3dr14n commented on #3522
This made me move forward from Homekit addon problems after a fresh installation of openHabian. It actually made me pair my iPad Air (iOS 12.4.7) to Openhab. The latest Homekit addon version 2.5.7 snapshot only allows the initialization of Homekit in openHab, pairing was never successful because of `Terminated HomeKit connection from /192.168.10.143:49167` which was the iPad during paring.

[2020-07-13 21:43] #6043 closed

[2020-07-13 22:07] mhilbush commented on #8116
Submitted PR #8122 for doorbird.

Thanks to @cpmeister for coming up with this workaround.

Thanks to @lolodomo for pushing to get the workaround applied to all the other bindings.

[2020-07-13 22:44] lolodomo commented on #8111
Duplicate

[2020-07-13 22:44] #8111 closed

[2020-07-14 08:10] wbuh123 opened #8123 "Items: json Data not parsed correctly"
There is a problem with the items data and external requests of them.
In visual studio the items section of the openhab plugin stays empty
![grafik](https://user-images.githubusercontent.com/48272763/87400862-acfb6680-c5b9-11ea-936e-e1a9124fe22b.png)

If I request them by REST API, I get
![grafik](https://user-images.githubusercontent.com/48272763/87400946-c4d2ea80-c5b9-11ea-97e1-16905defe41f.png)

[2020-07-14 08:59] Novanic commented on #5440
Nice, thank you for the fix. :-)

[2020-07-14 09:19] lolodomo commented on #4270
This issue is now very old, I am not sure whether I already encountered it myself.
@clinique @Novanic : do you think the code is clean and handle reconnecting properly ?

[2020-07-14 09:30] lolodomo commented on #4055
I close this very old issue because we have no feedback from the user.

[2020-07-14 09:30] #4055 closed

[2020-07-14 09:41] lolodomo commented on #6162
@patrickstephan : was your problem solved in recent versions ?

[2020-07-14 09:47] DerOetzi commented on #8123
Do you use Scale Transformation on any item? Had problems with NaN Values. See #8011

[2020-07-14 09:47] lolodomo commented on #5820
@ramon18 : was your problem finally solved by appropriate settings ?
If you want faster update of light status, you can increase the light refresh interval which is by default run every 10 seconds.
If you are not using hue sensors, take care of the sensor refresh interval which by default requests the bridge twice per second. With 2.5.6, you can disable it by setting to 0; before 2.5.6, you can in

[2020-07-14 09:49] lolodomo commented on #4270
@gletellier : do you still encounter this problem with recent versions of the binding ?

[2020-07-14 10:58] mherwege commented on #8099
@hadberg6200 I do need a debug log to solve this. Catching the exception will not make the thermostat work in OH.

[2020-07-14 11:28] Novanic commented on #4270
I have never noticed this problem. But I have only a Presence camera where missing status updates aren't notable.

Actually I can't imagine that it still occurs, because the binding refreshes everything about every 5 minutes. But on the otherside it could be that the whole binding crashed so that there aren't any reconnect attempts.

Maybe someone could try to simulate / force reproduce it by usin

[2020-07-14 11:35] Novanic commented on #8020
@lolodomo Are still working on it? Otherwise I would suggest that I add the station_name to the thing name and something like "(fav)" as you suggested. Would that be good enough to merge it to 2.5.7 or later?

It seems that the station name contains the city of the station when the user hasn't setup a station name, that could help some users to identify/differ the stations. I requested also that t

[2020-07-14 11:51] patrickstephan commented on #6162
This indeed was fixed.

[2020-07-14 12:04] lolodomo commented on #6162
Good

[2020-07-14 12:04] #6162 closed

[2020-07-14 14:07] lolodomo commented on #8020
I let you finish the enhancement, you were the first to propose a PR.
I let you propose the best solution you can find for the naming of the discovered stations and modules in the inbox. I can confirm that when I tried, the favorite station I selected has the name of the city in the API.
I disagree with you with the need of a configuration setting. On that point, I would like @clinique 's advice t

[2020-07-14 14:24] clinique commented on #8020
I join you @lolodomo , adding favorite stations on Netatmo website is already a deliberate action, so no need of a dedicated option FMPOV

[2020-07-14 15:29] clinique commented on #4270
I often see also Bad gateway errors around 00AM and 02AM but it does not seem to affect the binding.

[2020-07-14 17:28] lolodomo commented on #4270
I see the refresh token job is run every 90 minutes (by default). The only case that could lead to this job not being rescheduled would be an uncaught exception in `scheduleTokenInitAndRefresh`. Only `RetrofitError` exception is currently caught. Are we sure that this is the only possible exception that could be thrown by this code:
[code]
Maybe we could make safer the code by catching `Exception`

[2020-07-14 17:37] lolodomo commented on #4270
I don't know in practice if `getPartnerApi()` could return null in particular circunstances ? If true, this could lead to a NPE not caught and the job stopping being rescheduled.

When adding null annotations, I don't know why I don't manage this case, probably because I don't know whay should be done in case it occurs.

@clinique ?

[2020-07-14 18:04] DerOetzi commented on #8123
Duplicate to #8011

See comments at:
https://community.openhab.org/t/paper-ui-control-stays-empty/98368/23

[2020-07-14 18:13] andrewfg commented on #659
@andylintner (just so you know) the `STOP` command is now implemented in my current PR #8061 (and the `MOVE` is not a problem since it never gets called); the solution is as follows..

[code]

[2020-07-14 18:57] johker01 commented on #6145
I can confirm that I don't need the workaround described in the issue text anymore after upgrading to the test version and following the instructions. However, if I use channel 4, the percentage is either 100 or 1. If I switch to channel 3, the percentages are shown correctly in the event.log, but after pressing "Stop" - either in PaperUI or BasicUI - you can see that the percentage is set to eith

[2020-07-14 19:46] 2xPower opened #8129 "[homekit] LightSensor doen't work - not picked up by homekit"
# Expected Behavior
added following items:

Number								FF_Stairwell_Lux			"traphal 1ste"									(FF_Stairwell)										{homekit="LightSensor", channel="knx:device:bridge:generic:Traphal1_lux"}
Number								F2_Stairwell_Lux			"traphal 2de"									(F2_Stairwell)										{homekit="LightSensor", channel="knx:device:bridge:generic:Traphal2_lux"}

Expectation:
Items to be picked up as Light Sens

[2020-07-14 20:02] yfre commented on #8129
@2xPower looks like you are an early adopter :)
the support for light sensor was merged 20 hours ago. it appears immediately on the documentation but you need to update to the latest snapshot of the binding. not sure what is the version "2.5.7~S170-1"
in see in my karaf "2.5.7.202007141927"

![image](https://user-images.githubusercontent.com/11726616/87470793-94bd3300-c61d-11ea-9514-34a332a95b6a.p

[2020-07-14 20:08] 2xPower commented on #8129
Whooops, thanks for the info (and again thanks for al the work).

already using heatercooler too, i think i have a use for anything you add :-)

[2020-07-14 20:08] #8129 closed

[2020-07-15 06:06] danst0 commented on #6145
Level 4 is for height and Level 2 for the orientation of the slates.

[2020-07-15 07:05] Novanic commented on #8020
The pull-request is now updated. The naming logic was extended and the dedicated option is removed again.

See https://github.com/openhab/openhab-addons/pull/8112#issuecomment-658396514

[2020-07-15 13:58] gerrieg commented on #7169
@ArdKuijpers
Thanks for the info, i will change it soon.

[2020-07-15 18:34] MHerbst commented on #6145
@johker01 First of all please make sure that only one version of the binding is active (2.5.7). If you have created the things through Paper UI remove them and create them anew. The fix only works if the LEVEL channels are of type "rollershutter".
"Dimmer" will definitely not work.

Regarding the BROLL device everything is working correctly according to @MrMontesa.

For the BBL device I have check

[2020-07-16 05:34] EvilPingu commented on #7043
Hi,

Does anyone already deal with this issue? If not, I'll look at that.

EvilPingu

[2020-07-16 07:34] J-N-K commented on #7043
TTBOMK no one works on that. Feel free to take it. Greatly appreciated.

[2020-07-16 14:32] cweitkamp commented on #8138
I transferred this issue to openHAB Add-ons repository and submitted PR https://github.com/openhab/openhab-addons/pull/8137 for JDBC implementation.

Most of the existing persistence service already provide an implementation. The following are missing:

- [ ] org.openhab.persistence.dynamodb
- [ ] org.openhab.persistence.jpa
- [ ] org.openhab.persistence.rrd4j

Maybe we can ask one of the bundle m

[2020-07-16 15:04] thunders82 commented on #8081
Thanks @MHerbst,
OpenHab is now discovering items with homegear 0.8.3031

[2020-07-16 16:21] ssalonen commented on #8138
Thanks @cweitkamp for the ping. It looks like there is no "sensible" implementation possible for DynamoDB (see [here](https://stackoverflow.com/questions/28329364/scan-operation-for-getting-a-list-of-hash-keys-in-dynamodb-table)) since querying all the item names would require scanning all the values (cost / perf implications) or adding additional table for book-keeping item names.

Unlike SQL dat

[2020-07-16 16:57] benderl commented on #8086
@fruggy83
Can you please have a look at this issue?

[2020-07-16 17:24] daMihe commented on #8022
AFAIK: It is not possible this way as the things channels have to be static for a type.

However, we had the idea to move icalendar from a single thing per calendar to a bridge. A bridge behaves same but has things itself. These "subthings" of same type may behave differently based on parameters but have all the same structure - this is the point where to start in my eyes.

@andrewfg What do you t

[2020-07-16 17:24] #8011 closed

[2020-07-16 18:02] just-grizzle commented on #6145
That's not completely right, at least for HmIP-BROLL. For these devices, you get 4 channels dealing with the level information:

- Channels **4**, **5** and **6** can take a level setting each. You can define rules inside the device itself, how the set level is calculated (min, max, plus, minus, ...).
- What is calculated out of the aforementioned three channels, will be set by the actor and can

[2020-07-16 18:08] t8103 opened #8142 "[shelly] shelly1pm relay#input is ghosting (toggeling between on and off) after device reboot (from web interface) or power loss with detached switch"
## Expected Behavior

## Current Behavior

Shelly1pm relay#input is ghosting (toggeling between on and off) after device reboot (from web interface) or power loss with detached switch. After the physical switch is toggled the ghosting stops.

## Possible Solution

## Steps to Reproduce (for Bugs)

I was able reproduce this behavior with several shelly1pm (but not with shelly25) like follows:
butto

[2020-07-16 18:10] cweitkamp commented on #8138
That is a good question. The JavaDoc does not tell us much about such a situation. I think returning an empty set like now is okay. We should maybe add a comment why we cannot return something.

But an empty set can be misleading too - that is why we have this issue. Do you think we should throw an exception? Something like `UnsupportedOperationException`? I will change the JavaDoc accordingly aft

[2020-07-16 18:13] MHerbst commented on #6145
@just-grizzle It's never too late to find and fix problems. I don't have these device so any help is welcome. As far as I can see from the comments that corrected implementation seems to work correct and I am planning to create a PR this weekend.

[2020-07-16 18:33] kaikreuzer commented on #8138
I am against throwing exceptions - we specifically introduced different `PersistenceService` interfaces with different feature sets to avoid that. I don't think this method is worth adding yet another interface, though - I'd simply go with an empty list and possibly adapt the JavaDoc of the method on the interface. Afair, the main use case for this method was HABmin, which has been deprecated now

[2020-07-16 18:35] lolodomo commented on #8027
@kaikreuzer : as you already merged most of them, can you please also merge #8038 and #8071 before releasing 2.5.7 ?

[2020-07-16 18:38] kaikreuzer commented on #8027
done.

[2020-07-16 18:39] cweitkamp commented on #8138
Yes, that is better. Throwing an exception would result in interface changes too.

I will change the JavaDoc to use this wording:

[code]

[2020-07-16 18:57] just-grizzle commented on #6145
It took me some time to understand the whole concept. It's handy if you want to program direct connection between two Homematic (IP) devices. But everyone else who just uses the devices and the CCU "as is" must be confused from it.

About the changes, I'll wait for the official release. Test jar did not start up for me:
[code]
Can't tell if it's a problem with my instance (but I think it is).

[2020-07-16 18:59] krikk commented on #6145
@just-grizzle this is only a warning... also had this with the test.jar... it still works...

[2020-07-16 19:18] jeremystucki commented on #8022
Wouldn't it be possible to create dynamic channels for a configurable number of events? Like I did for the feed binding in PR #8070

[2020-07-16 19:23] johker01 commented on #6145
@just-grizzle I fixed that issue by executing `feature:install openhab-transport-upnp` in the console. I totally overlooked the log level `WARN`, which @krikk pointed out.

@MHerbst Thank you for getting back to me! I followed the instructions you provided in https://github.com/MHerbst/openhab-addons-test/tree/master. After that I removed all HmIP-BROLL and HmIP-BBL devices and then added them aga

[2020-07-16 19:39] andrewfg commented on #8022
@daMihe actually it is perfectly ok to have dynamic channels; there are several bindings (Velux, PowerView, to name but two) which create channels dynamically for “scenes”; I can share some code with you for that. However, I think it is important to have some config parameters that would limit the quantity of dynamic channels, since it otherwise risks killing the system.

[2020-07-16 19:42] rokru commented on #8081
@MHerbst Sorry to bother you, but after removing "homematic" from addons.cfg and some more restarts, the new add-on is still not listed as bundle.
![Kruse-addon-dir](https://user-images.githubusercontent.com/40894519/87715129-2909d000-c7ad-11ea-8f76-bf14a246d425.jpg)
Any idea what might get wrong.

[2020-07-16 21:49] JHCD opened #8144 "[avmfritz] Add window-open and boost mode for radiator thermostats"
I would like to set the window open mode for my Fritz! radiator thermostats, to improve control with existing window contacts.

With Fritz!OS 7.15 the following two commands where introduced in the AHA-HTTP-Interface:
* `sethkrwindowopen`: Activate window open mode with end time
* `sethkrboost`: Activate boost mode with end time

Source: [AVM Technical Note - AHA-HTTP-Interface](https://avm.de/fil

[2020-07-17 07:21] marcelrv commented on #8082
@jenicek001 can you try to override the modelid to `yeelink.light.strip1` in your config and feedback if all channels are working fine. (or if not, which ones work and which ones not).

If there are channels not working, please add a debug log of the miio binding where we can see the responses for the non-working channels.

[2020-07-17 07:22] marcelrv commented on #8082
note... if that lightstrip is a mono/nn-color version you may also want to try modelid `yeelink.light.lamp1`

[2020-07-17 09:40] markusuidl commented on #8086
Had a similar problem with my knx dimmers (and openhab-android client).

Added _switchSupport_ to my item, and then I can click on the icon and it restores previous dimmed state. (Of course, dimmer has to be programmed to restore last value).

`Slider item=DG_Hauptlicht switchSupport	`

Don't know if you can apply this to your problem with enocean.

[2020-07-17 10:53] Novanic opened #8147 "[shelly] NPE within ShellyHandlerFactory"
In my setup I can see mutliple NullPointerExceptions within ShellyHandlerFactory, see stacktrace.

I'm using the latest stable version (OpenHAB 2.5.6). I have setup 2x Shelly Plug S and 1x Shelly 2.5.

Stacktrace:

`2020-07-17 09:27:48.399 [ERROR] [org.openhab.binding.shelly          ] - bundle org.openhab.binding.shelly:2.5.6 (248)[org.openhab.binding.shelly.internal.ShellyHandlerFactory(213)] :

[2020-07-17 12:22] MHerbst commented on #8081
@roku No problem. Are there any error messages in openhab.log? Sometimes if you uninstall a binding other dependent components are also installed and they must then be installed manually via the console. Best example is upnp.

[2020-07-17 12:26] MHerbst commented on #6145
@johker01 regarding the percentage problem: can enable the TRACE mode for the Homematic binding and then set different percentages like 10, 50, 60. And post the relevant parts of openhab.log.

I am not sure whether Rollerhutter will work for LEVEL_2. This looks more like a dimmer type. But probably you can get more help in the forum.

[2020-07-17 16:15] MyUniversalDeveloper opened #8148 "KM200HandlerFactory(226)] : The setChannelTypeProvider method has thrown an exception"
I have installed openhab in version 2.5.6. When I am using the km200 binding a new thing KM50/100/200 Gateway has been created - but no channels were applied. The logfile says:
2020-07-17 09:41:25.450 [WARN ] [core.thing.internal.ThingManagerImpl] - Initializing handler for thing 'km200:kmdevice:XXX' takes more than 5000ms.
2020-07-17 09:59:48.801 [INFO ] [g.discovery.internal.PersistentInbox] - A

[2020-07-17 18:05] mueller-ma opened #8149 "[tradfri] Sending "ON" to a color bulb turns on the bulb, but brightness is still at 0"
## Expected Behavior
Sending "ON" to the color item of a color bulb turns on the bulb and the brightness is at the correct level.

## Current Behavior
Sending "ON" to the color item of a color bulb turns on the bulb, but brightness is still at 0.

## Steps to Reproduce (for Bugs)
1. Have a color bulb and a color item linked to the bulb
2. Turn it off
3. Send the command "ON" to the Color item

##

[2020-07-17 18:55] GumbyMan82 opened #8150 "[amazonechocontrol] 2.5.7 Snapshot binding not compatible with Java (Zulu 11)"
A while ago I already switched to JAVA 11 (32bit) to test if there are major issues as described here:
https://community.openhab.org/t/java-test-drive/99827

Today I gave the new org.openhab.binding.amazonechocontrol-2.5.7-SNAPSHOT.jar a try in combination with openHAB 2.5.6-2.
With JAVA 11 I get the following result:
[code]
Switching back to JAVA 8 using openhabian-config resolved this error.

[2020-07-17 19:12] J-N-K commented on #8150
That‘s very interesting. I use Zulu-11/Windows on my development machine and Zulu-11/Linux on my production system. Both run a 2.5.7 snapshot and I‘ve never seen that error.

Maybe it‘s ARM related?

[2020-07-17 19:52] rokru commented on #8081
@MHerbst Nope, no errors or any other homematic-entries in openhab.log (TRACE-Mode) and events.log after reboot of the Synology-NAS.

[2020-07-18 06:06] pmknowles commented on #6054
I have a similar issue  Binding finds new devices but the RSSI value doesn't change (even if the device is turned off).
I'm sure that it used to work and I haven't changed anything.

[2020-07-18 06:09] pmknowles commented on #6054
I have a similar issue. Devices appear in the Inbox and can be added but the RSSI doesn't appear to change (even if the device is turned off or not present).
I'm sure it used to work and I haven't changed anything.

[2020-07-18 09:59] lolodomo commented on #5892
FYI, the PR for the samsungTV binding was merged few days ago.

[2020-07-18 10:27] #8020 closed

[2020-07-18 12:05] nordmanntanne opened #8151 "LCN Binding 2.X variables wrong values"
I am migration to 2.x binding but i have problems with LCN regulator setpoints and variables:

Number:Temperature M103_Variable1 "Büro Temperatur [%.1f %unit%]" <temperature> {channel="lcn:module:XXXX:YYYY:variable#1"} // Temperature in �C
Number:Temperature M103_R1VarSetpoint "Bodenheizung [%.1f %unit%]" <temperature> {channel="lcn:module:XXXX:YYYY:rvarsetpoint#1"}
Number:Temperature M103_R2VarSe

[2020-07-18 14:20] fwolter commented on #8151
-100°C is equivalent to the native LCN value 0. Can you post a snippet from the LCN-PRO bus monitor when the value changes to -100°C?

Does this happen only with Variables or with setpoints too?

Does this happen with all variables?

[2020-07-18 14:48] nordmanntanne commented on #8151
Hello Fabian,

 

i only use variable 1 or 2 safe temperature from temperature sensor. It is also happening to setpoints.

I attachted both logs. There is nothing in the logs in LCN Pro.

 

Regards,

viel Grüße

Norman

 

Gesendet: Samstag, 18. Juli 2020 um 16:20 Uhr
Von: "Fabian Wolter" <notifications@github.com>
An: "openhab/openhab-addons" <openhab-addons@noreply.github.com>
Cc: "nordmanntann

[2020-07-18 17:19] morph166955 commented on #5892
I'll try to pull it in later and start to burn it in. I'm on 15 days now with 2.4.0RC1 and I have no devices that are in a permanent failed state. I'd agree, what ever broke all of this came after that.

[2020-07-18 18:13] MHerbst commented on #8081
Hmm strange. Maybe a rights problem and openHAB is now allowed to access the jar. I have no experience with Homematic on Synology. I will creat a PR soon and probably the solution will then be part of the August release.

[2020-07-18 21:11] fibu-freak commented on #5048
@MHerbst
I sent you a trace-log directly via mail as a zip-file.

[2020-07-19 08:14] lolodomo commented on #5892
2.4.0RC1 of the samsungTV binding in a 2.5.6 OH server ?

[2020-07-19 08:17] radokristof commented on #7542
This happened again and now I was just playing "normal" content from the library.

[2020-07-19 08:21] fwolter commented on #8151
Mail attachments don't get through. Can you attach the files in the GitHub web interface?

[2020-07-19 08:35] lolodomo commented on #5892
Just as a reminder: if you uninstall the samsungTV binding in a OH 2.5.6 server, you have 0 problem?

[2020-07-19 13:15] morph166955 commented on #5892
Both correct. As per discussions above, I have the jar from 2.4.0RC1 loaded on my 2.5.6 install. The sonos speakers still flap when the thread count rises suddenly but none of them completely die off like they do in newer code.  I believe there are two issues here. 1) Samsung does something to cause the permanent failures. 2) there is a thread pool issue where exhaustion is occurring. This is caus

[2020-07-19 13:17] morph166955 commented on #5892
I believe this only fixed #1 above. It's been a minute since I've tested this, I can try later to confirm.

[2020-07-19 14:20] lolodomo commented on #5892
Sorry, what does it fix only ? Your link is wrong.

[2020-07-19 14:22] morph166955 commented on #5892
Sorry that wasnt supposed to link. I was just meaning issue 1 I noted in the post immediately above. I believe removal of Samsung only fixes the issue where the sonos speakers fall off and don't come back. I do not believe it fixes the issue where it falls off and returns after the JuPnP waitng period.

[2020-07-19 14:40] #7750 closed

[2020-07-19 14:46] yfre commented on #7274
@manudar do you still have this issue?

this issue is well known with the "Unknown user" exception was already ofter reported. for some unknown reasons openHAB forget the paired devices.
some user reported that changing the homekit PIN helped to fix it.
could you please try it as well?
if you still have this issue please try to upgrade to latest snapshot. it has some additional logging that you co

[2020-07-19 15:55] manudar commented on #7274
Hi, I installed 11 days ago 2.5.7~S165-1  and since then I had no problem at all (I use ubuntu 16.04).
 - It was 7 days running with no issue and no restart.
 - I have restarted since then more that 20 time (I am testing something) and it has worked every time.
 - I have more than 300 Loxone items and I have restarted Loxone several times making its items unavailable and this has not broken the Ho

[2020-07-19 16:13] nordmanntanne commented on #8151
![LCNPRO](https://user-images.githubusercontent.com/68467135/87879503-825f4280-c9eb-11ea-811a-528bf1ecf1e1.PNG)
![OHLog](https://user-images.githubusercontent.com/68467135/87879508-88552380-c9eb-11ea-9b27-6defb88c6d6f.PNG)

[2020-07-19 16:21] yfre commented on #7274
Hi @manudar

thank for the update. happy to hear that everything working.  sure, never touch the running system - dont update homekit.

i will close the ticket as:
- initial issue with subscription manager is not relevant anymore
- additionally reported "unkown user" issue is not appearing anymore.

[2020-07-19 16:21] #7274 closed

[2020-07-19 16:41] fwolter commented on #8151
Do you see analogue values at all in the bus monitor? Did you tick "Analogwerte"?
![grafik](https://user-images.githubusercontent.com/1894841/87880078-0cf57100-c9ef-11ea-9077-87daf50156b8.png)

I know this behavior if more than one sensor writes into the same Variable. The sensors overwrite each others values, then. But that should affect all visualizations and regulations in your LCN installation

[2020-07-19 17:25] MHerbst commented on #5048
@fibu-freak I am sorry, but I did not receive any mail. Please try it again

[2020-07-19 18:09] fibu-freak commented on #5048
@MHerbst  No worries. I only sent the trace-log. But now attach it here
[homematic.txt](https://github.com/openhab/openhab-addons/files/4944324/homematic.txt)

[2020-07-19 18:55] MHerbst commented on #5048
Thx for the trace. It seems that CCU does not return information about the ALARM_MODE datapoints to the binding. To retreive information about a device the binding executes a TCLREGA script on the CCU. Maybe this script has a problem with these special data point or the CCU does not return any information about them.
I will write a test TCLREGA script that I hope can help us to find the reason.

[2020-07-19 18:58] MHerbst commented on #6145
I have corrected another issue for dimmer values and I would like to be sure that this correction does not break the fix for the rollershutter. It would be nice if someone could retest with the latest version from here: https://github.com/MHerbst/openhab-addons-test. If it is OK, I will create a PR.

[2020-07-19 18:59] MHerbst commented on #6688
I think, I have fixed this problem. I have uploaded a test jar with description how to install it here: https://github.com/MHerbst/openhab-addons-test

[2020-07-19 21:15] yfre commented on #6018
@MortenVinding  in case you still interested in dynamic names - homekit integration has now a dedicated characteristic with the tag "name" which can be set dynamically. integration will also notify home app about the change
e.g.
[code]

[2020-07-19 21:58] yfre commented on #8150
maybe we could trouble shoot it with
 -Djavax.net.debug=all

e.g.

`export JAVA_OPTS=javax.net.debug=all
`

as it is suggested here:
https://medium.com/@gustavocalcaterra/debugging-yet-another-ssl-tls-error-the-trustanchors-parameter-must-be-non-empty-7dd9cb300f43

[2020-07-19 22:13] yfre commented on #8147
@Novanic
do you have ipv4 address set for openhab?
e.g.
![image](https://user-images.githubusercontent.com/11726616/87886486-c3704a80-ca1d-11ea-9576-731aab42bbef.png)

[2020-07-19 22:26] alazzari74 opened #8156 "login to amazon stop to works after introducing two factor authentication from amazon"
Now when I login on amazon website or alexa, a message comes on my phone to enable the requests so I think they had enabled the two factor authentication.

The amazonEchoControl stop to works.
In the Paper UI I can find  OFFLINE - COMMUNICATION_ERROR POST url 'https://api.amazon.com/auth/token' failed: Bad Request

If I try to connect to http://openhab:8080/amazonechocontrol/[myaccount] a login pa

[2020-07-20 04:31] J-N-K commented on #8156
Fixed by #8139

[2020-07-20 04:31] #8156 closed

[2020-07-20 06:20] HALLO01 opened #8157 "[loxone] rollershutter issue with alexa"
I tell alexa to close the rollershutter, Alexa closes the rollershutter.
Then I press the hardware open button or open via loxone app the rollershutter.
BUG: rollershutter stops at about 95%, although it must open fully. Loxone binding sends a stop signal.
All setup and log info can be found [here:](https://community.openhab.org/t/loxone-anyone/15712/82?u=hallo01)

The owner of the binding @ppiecz

[2020-07-20 06:34] Novanic commented on #8147
No, there is no entry and "Use IPv6" is activated.

[2020-07-20 07:21] yfre commented on #8147
ok. this is the issue then.
shelly binding expects ipv4 address. no that much because of binding itself but more for shelly device. the IP address is used for callback (shelly devices calls openhab). we could try to make callback url based on ipv6 but afaik shelly supports anyway only ipv4.

of course, it could be a better message than NPE.

so, if is about NPE then we can replace is with an error

[2020-07-20 07:34] Novanic commented on #8147
Ok, but the devices (Shelly 2.5) worked for a long time in OpenHAB 2.5.x and I never had setup the IPv4 value I think. The problem exists since 2.5.5, 2.5.6 or 2.5.7 or since I setup the Shelly Plug S devices.

I have now set the IPv4 value and restarted OpenHAB that seems to work so far. Thank you.

I think at least the error message should be improved with this issue.

[2020-07-20 08:18] Trickx commented on #7975
Has support for Shelly i3 integrated in the meanwhile?
If yes, into which OH version?

[2020-07-20 09:20] fibu-freak commented on #5048
@MHerbst
Hi Martin, thx for your efforts to find a solution 👍, even if I don't know anything about "TCLREGA scripts" 🙄🤔 and what to do with it. I'll keep my fingers crossed for you.🤞

[2020-07-20 10:33] just-grizzle commented on #6145
Finally got it up and running. What took me so long was that I thought there were general problems with communication between the CCU and the binding.
I deleted all my things (someone reading this hole topic carefully would have known that one must [only re-teach the rollershutter things](https://github.com/openhab/openhab-addons/issues/6145#issuecomment-640236049)), After that I added everything

[2020-07-20 11:10] MHerbst commented on #6145
@just-grizzle Good to hear that is now also working in your installation :-)

That would be great. I have streamlined the code a bit and want to be sure that it has no negative effect on rollershutters.

I would prefer this. To implement it, it would be necessary to add special coding for this device into the binding. Normal behaviour is that you only need one datapoint for the intended value and

[2020-07-20 11:12] MHerbst commented on #5048
@fibu-freak It's not that complicated. I will try to explain in detail what to do.

[2020-07-20 11:33] HarrysLapTimer opened #8158 "[tplinksmarthome] HS110 reports wrong value in energyUsage"
I read the energyUsage channel to derive an average daily energy usage for a TP-Link HS110.

openHAB 2.5.5-1 (Release Build)
Device Info: TP-Link model HS110, HW version 2.0, firmware 1.5.6

In Kasa app I see

- Today total consumption 1.31 kWh
- Past 7 days total consumption 9.37 kWh
- Past 30 days total consumption 38.9 kWh

These values look sound.

In openHAB, the energyUsage channel gets 16.3

[2020-07-20 16:08] andrewfg commented on #8022
Following is some code (from the HD PowerView binding) that adds a "scene" Channel to a Thing dynamically. Note: this is the code for **adding** a Channel. However in the case of iCalendar, you would obviously also need code for **deleting** any already created Channels which are no longer valid, to prevent a "Channel/memory leak".

[code]

[2020-07-20 17:31] #4270 closed

[2020-07-20 18:02] J-N-K commented on #8150
@GumbyMan82 can you check if the truststore is accessible?

[2020-07-20 18:24] MHerbst commented on #5048
@fibu-freak I wrote a little script. To execute it, please proceed as follow:

1. Open the CCU admin page in a browser and navigate to  _Programme und Verknüpfungen > Programme_
1. Press the button "Script testen"
1. A new window will appear. Paste the content of the following script into the upper half ("Eingabe")
1. Replace "XXXXXXX" in the first line by the device addr ("Seriennummer") of your

[2020-07-20 18:31] GumbyMan82 commented on #8150
@J-N-K , @yfre  I will try your suggestions. I also stumbled over this website when looking for the error. Guess I have to read and understand it a bit more. I'll give you feedback asap.

[2020-07-20 19:08] GumbyMan82 commented on #8150
@J-N-K  @yfre
OK, so i think i've found something (but being a complete java newbie, i can't tell for sure). But maybe that helps:
With ZULU 8, the cacerts store is located here:
![image](https://user-images.githubusercontent.com/40233411/87975801-68e1f780-cacc-11ea-8b16-437c0ae110b0.png)

With ZULU 11 there isn't a zulu-embedded-11-... folder within /user/lib/jvm, but here:
![image](https://user-

[2020-07-20 19:13] Hilbrand commented on #8158
You can run the binding with log level trace (`log:set TRACE org.openhab.binding.tplinksmarthome`) to see what the device reports. I expect it to give the value you see. But I don't know how it derives this value. Can you post the data you get from the device?

[2020-07-20 19:20] chrostek commented on #5048
HmIPW-DRI32:

[code]

HmIPW-FIO6:

[code]

[2020-07-20 19:28] markus7017 commented on #7975
you have to use the DEV build, I target OH Addons 2.5.8, not 2.5.7

[2020-07-20 20:11] MHerbst commented on #5048
@chrostek Thanks for this information. That explains why the binding does not know correctly supports the ALARM_MODE data points.
I have also found an explanation in the docs: for some HmIP devices there seem to be different types of data points. The data points that are returned by the script are "Channel state parameter" while ALARM_MODE and some others are "Channel configuration parameters". It

[2020-07-20 20:13] Novanic opened #8162 "[netatmo] Thing is displayed as online but the device is offline"
I have a Presence camera which is currently not power connected, but the thing is displayed as online.

I would expect that it is displayed as offline, when it isn't available.

Possible solution: The Netatmo /gethomedata endpoint returns the camera with "status" : "disconnected" instead of "on". I would expect that this information is used to determine the thing status.

[2020-07-20 20:15] fibu-freak commented on #5048
@MHerbst @chrostek
Hi Martin,
I just saw your post and also a feedback from Sebastian.
I copied the script as described and this is the output of it from the sensor which I deleted and "autodiscovered":
[home.txt](https://github.com/openhab/openhab-addons/files/4949856/home.txt)

It's a bit less than Sebastian's. It's from my HmIP-SWDO. Hope this helps.

[2020-07-20 20:21] MHerbst commented on #5048
@fibu-freak Thanks, it's exactly the same situation.  I will try to find a way to get access to these data points. But it really seems that they are not directly accessible. In this case I will lower the log level for these messages to DEBUG to prevent the logs from getting cluttered.

[2020-07-20 20:41] Hilbrand commented on #8158
The energyUsage comes from: `"total_wh":16395`, which seems to match value you see. I don't know how it comes up with that value, but it's all there is. So it does seem to report the correct value, but it might not be a useful value as it's not known when that reset time is. It only reports the `on_time`. Which is, I suspect, is the total time the device was in state on. The binding doesn't read t

[2020-07-20 20:41] MortenVinding commented on #6018
Thanks @yfre.
Unfortunately I'm not using OpenHAB anymore so not so relevant to me, but it looks to be a cool way of implement it.

[2020-07-20 20:45] yfre commented on #6018
closing ticket as the issue is solved as described above.

[2020-07-20 20:45] #6018 closed

[2020-07-20 21:12] yfre commented on #8150
@GumbyMan82 very helpful.  strange that cacerts is missing. can you try to copy cacerts from java8 to java11 security folder?

[2020-07-21 03:32] ccutrer opened #8164 "[mqtt.homie] settable, non-retained channels are unusable"
If a property is non-retained, and settable, OpenHAB creates a trigger channel only, which AFAICT you cannot actually use to send a message to the device. The Homie spec explicitly allows this (the example they give is:

[code]

## Expected Behavior
A state channel of an appropriate type is created (`Switch` in the case of "brew coffee", when $datatype is boolean).

## Current Behavior
A trigger c

[2020-07-21 07:01] HarrysLapTimer commented on #8158
on_time looks like the state_on time in seconds, so this is not helping anyway. It looks like the TP-Link API is too limited here...
Thanks for looking into it.

[2020-07-21 07:01] #8158 closed

[2020-07-21 07:21] daMihe commented on #8022
I'll look into that approach next time. If you want, you can assign me to the issue.

[2020-07-21 07:35] yfre commented on #7097
closing as external bug https://github.com/hap-java/HAP-Java/issues/100#issue-573274217 is closed as well

[2020-07-21 07:35] #7097 closed

[2020-07-21 07:52] markus7017 commented on #8147
@Novanic I never saw this exception. Nevertheless you need to run the latest DEV build if you request changes, I do not support old builds. As @yfre says the devices don't support IPv6 so I never tried an IPv6 address.

Please re-check with latest DEV build and I could have a look to the log.

[2020-07-21 07:55] markus7017 commented on #8142
I could be an inconsistent state between
- reported REST API status (run /status in the browser on the device IP)
- a different state reported by CoIoT
- the channel cache for the device has the state before the reboot, but this should be in sync after the next device poll (REST)

Please include the firmware version

[2020-07-21 07:55] Novanic commented on #8147
@markus7017 OMG... It's your latest productive version... Should every user build and test your snapshot version to report an issue?!

[2020-07-21 08:02] markus7017 opened #8165 "[shelly] Support for CoIoT v2, e.g. Shelly Dimmer2 and Door Window 2"
Alterco is working on the 1.8 firmware release. This will bring CoIoT version 2, which provides a complete set of status updates (including events), but also has relevant changes to the message format. The new JSON format causes exceptions in the binding, because gson can't read it with the defined structure.

The next release of the binding will provide basic support for the new format (JSON pars

[2020-07-21 08:05] markus7017 opened #8166 "[shelly] Shelly 3EM reports improver power values"
i am running:
The current Firmware version of your Shelly device is 20200702-133522/v1.7.4@1d8b9fca No newer firmware available.

look at this lines, i highlighted the values… look on the meter numbers and the values… in the ShellyCoapHandler the values are right, but in the logs with “ShellyChannelCache” they a wrong:

[code]
my .items config:
[code]

[2020-07-21 08:07] markus7017 commented on #8166
It turned out that the "flipping values" are caused by a bug on the CoAP side selecting the correct meter group. Usually indexes for the "Links" field of a status report start with 0, in case of the 3EM the index is 1-based so the lookup created meter2, which was the update for meter1, meter3 for meter2 and update for meter3 was never processed correctly.

This will be fixed with the next release

[2020-07-21 08:19] yfre commented on #8147
to me the case is pretty clear:
org.openhab.binding.shelly.internal.ShellyHandlerFactory.<init>(ShellyHandlerFactory.java:85)

would this line
`        localIP = ShellyUtils.getString(networkAddressService.getPrimaryIpv4HostAddress().toString());
`

and
getPrimaryIpv4HostAddress() is declared as @Nullable.

so, networkAddressService.getPrimaryIpv4HostAddress().toString() is good candidate for NPE,

[2020-07-21 08:23] lolodomo commented on #8162
For weather station, I believe there is the reachabke property that could be used too.

[2020-07-21 09:30] krikk commented on #8166
just installed your latest DEV build, and it seems to work fine as expected, values map correctly to the one reported via mqtt, but the data via shelly binding update way faster!! :)

so i think bug is solved...

one thing i noticed, i have a lot of WARN messages in log files like this:

2020-07-21 11:13:06.513 [WARN ] [.core.thing.binding.BaseThingHandler] - Handler ShellyProtectedHandler tried u

[2020-07-21 17:29] kaikreuzer opened #8167 "[avmfritz] Add call monitor support"
The documentation at https://www.openhab.org/addons/bindings/avmfritz/ states:
" It is planned to support some channels directly at the bridge like call monitoring and others - but these things are under current development by now."

For me, the call monitor is a missing feature for openHAB 3, so I'd be very interested to seeing this added.
@cweitkamp You are listed as CODEOWNER for this binding.

[2020-07-21 18:10] nordmanntanne commented on #8151
Yes i ticked "Analogwerte" but there are no log entries in lcn pro but monitor. I tried copying the variable R1Var to TVar (screenshot) and read out variable1 instead of 2. This solve the issue for now more than 2 days.
![TVar](https://user-images.githubusercontent.com/68467135/88090670-34367480-cb8e-11ea-968c-6aece488ad68.JPG)

[2020-07-21 19:28] cweitkamp commented on #8167
Yes, I am using the Call monitor of the v1 fritzboxtr064 binding - at least a little bit - as well as the avmfritz binding and I am still maintaining it.

AFAIK the Call monitor and TAM features are based on the TR064 protocol whereas the avmfritz binding uses a different interface ([AHA-HTTP-Interface](https://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/AHA-HTTP-Interface.pdf)) to

[2020-07-21 19:49] fwolter commented on #8151
I see that your module has the old measurement processing. That's why the values are not shown in the bus monitor. Requesting these values is a bit tricky from the protocol perspective. However, I can't reproduce the behavior you described. Interesting that copying to TVar "solves" the problem. Can you paste all of your item configuration of one module that has these problems? Variable2 seems to b

[2020-07-21 20:11] kaikreuzer commented on #8167
The new TR064 binding is really about supporting that protocol and not a dedicated "FritzBox" binding anymore.
And no, afaik, the call monitor is not part of TR064 (and I do not see it listed [here](https://github.com/openhab/openhab-addons/pull/6678/files#diff-bd6d8867117e6e440b76d9afb6b5d204R62-R95)).
In openHAB 1, there is the [dedicated binding](https://www.openhab.org/addons/bindings/fritzbox

[2020-07-21 20:21] kaikreuzer commented on #8167
Browsing the web, I cannot find any trace of that - I'd hence assume that the statement is not correct and we should be fine going with the telnet communication.
The only "nasty" thing about adding it to the avmfritz binding is that the code introduces a dependency on `org.apache.commons.net.telnet`. Not sure, if we find any suitable alternative, but I would say that it would be acceptable.

[2020-07-21 20:32] kaikreuzer commented on #8167
I just saw that indeed the 1.x TR064 binding [has call monitor support](https://www.openhab.org/addons/bindings/fritzboxtr0641/#features) as well. But this is not done through the TR064 protocol, but through telnet as well. The good thing is that [its implementation](https://github.com/openhab/openhab1-addons/blob/master/bundles/binding/org.openhab.binding.fritzboxtr064/src/main/java/org/openhab/b

[2020-07-21 20:40] t8103 commented on #8142
Thanks for the response!

The Firmware-Version of the shelly1pm devices is: 20200601-123334/v1.7.0@d7961837.
The Firmware-Version of the shelly25 device is:      20200601-122849/v1.7.0@d7961837.

[2020-07-21 20:40] J-N-K commented on #8167
Yes. I originally thought about implementing it in TR064, but decided against it because it is a completely different protocol.

I think AVM Fritz would be a good choice. We should check before that „modern“ FritzOs versions still support it. If I‘m not mistaken 6.25 is quite old.

[2020-07-21 20:52] cweitkamp commented on #8167
Okay, I was not aware of the dedicated binding for it. I am using old fritzboxtr064 only without remembering to enable telnet.

It looks like the Callmonitor is kind of hidden feature of AVM. At least there is no real documentation available. What I can tell you is that it is still working on my F!B 7590 with F!OS 7.20 (latest OS version). I have the slight feeling they decoupled telnet and Callmo

[2020-07-22 08:39] clinique commented on #8116
@lolodomo : I added astro actions in the list as it contains the workaround, while not being merged as of today, it will help find it back when we'll remove the workaround once core as evoluted.

[2020-07-22 09:35] lolodomo commented on #8116
I would like to list in the first message only bindings having actions really merged in the 2.5.x branch.
My idea is to close this issue as soon as possible, not to keep it opened for ever.

[2020-07-22 16:01] kaikreuzer commented on #8167
I can also confirm that I can still use this feature on my FB7590 with latest firmware.
@cweitkamp is right - the feature is actually not related to telnet, but it is just simple TCP on port 1012.

I'll come up with a PR - thank you both!

[2020-07-22 16:08] cweitkamp commented on #8167
Great. I assigned thus issue to yourself. Let me know once you have a working version. I am happy to help testing it.

[2020-07-22 16:37] johker01 commented on #6145
@MHerbst I just installed the latest version you posted 3 days ago and followed the instructions. Furthermore, I removed and added all BROLL/BBL devices.
[code]

However, the controls are not working anymore. Two BROLL devices used `LEVEL` on channel `3` which used to work, but now it's a read-only data point, so I switched to channel 4. That didn't work either. The same is true for my BBL device.

[2020-07-22 17:35] markus7017 commented on #8166
was this a short cycle (e.g. when thing was removed and re-discovered)? or do you see them constantly?

CoIoT is UDO-based whereas mqqt is tcp-based and has the overhead of the broker. CoIoT carries less overhead and consumes less battery, esp. for battery powered devices this is an important aspect.

[2020-07-22 17:49] MHerbst commented on #6145
@johker01 I have found it:
[code]

It seems that my last change is not completly correct :-( I have published a new test version. Can you test it with DEBUG log and post the content of the debug line starting with "GetCorrectValue:". Also UP and DOWN should work again.

[2020-07-22 18:33] GumbyMan82 commented on #8150
OK, copying the cacerts file to the security folder of JAVA11 definitely helped. Thanks for the hint.
However when switching from Java8 to Java11 using openhabian-config it is meant to remove that file:
![image](https://user-images.githubusercontent.com/40233411/88214490-93fa5180-cc5a-11ea-8285-a72698ba42a3.png)

Why I cannot tell. But since this problem clearly is not related to the amazonecho bi

[2020-07-22 18:49] #8016 closed

[2020-07-22 19:38] johker01 commented on #6145
UP and DOWN are working again. Thanks for that! :-)

[code]

All LEVEL channels are defined as "Rollershutter". See https://github.com/openhab/openhab-addons/issues/6145#issuecomment-659619651.

[2020-07-22 19:52] johker01 commented on #6145
@MHerbst Regarding https://github.com/openhab/openhab-addons/issues/6145#issuecomment-660079042:

When I change the percentage from e.g. 100 or 0 to a set value of 60, 90, 10 in PaperUI, that value is displayed correctly in the Rollershutter control and in BasicUI (it shows 61, 91, 11. I'm not sure whether this is an "off-by-one error" or whether this is a hardware limitation of the BBL/BROLL devi

[2020-07-22 20:23] krikk commented on #8166
ok, these "ShellyProtectedHandler" warnings are gone now, yes it was a short cycle so, lets forget about this warnings :)

[2020-07-22 20:41] Diapolo commented on #7135
If the not just have a quick press department, but also a quick development department, the documentation is now likely available?

https://avm.de/presse/presseinformationen/2020/07/ab-sofort-verfuegbar-led-lampe-fritzdect-500-und-vierfach-taster-fritzdect-440/

[2020-07-22 20:57] Diapolo opened #8174 "[avmfritz] missing current amperage (Stromstärke aktuell)"
My FRITZ!Box 7490 (FRITZ!OS: 07.19-80499 BETA) is showing "Stromstärke aktuell" under "Energieanzeige" for the FRITZ!DECT 200 and I'm wondering, if that could be exposed as channel to openHAB?

![Stromstärke](https://user-images.githubusercontent.com/1419649/88227806-7636e780-cc6e-11ea-9c72-44cbfdc28903.png)

[2020-07-23 07:30] markus7017 commented on #8147
I added a check and a message, problem solved
will be included in the next release

[2020-07-23 08:30] cweitkamp commented on #8174
No, it is not directly available via the AHA interface. But it should be no problem to calculate / estimate it (e.g. in a Rule) because we have the values power and voltage:

**P = U * I**   <=>    **I = P / U**

[2020-07-23 08:35] cweitkamp commented on #7135
Yes, a new version of the [documentation](https://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/AHA-HTTP-Interface.pdf) is available. I already have access to a FRITZ!DECT 500 bulb (and its equivalent SmartHome Telekom LED-Lampe) but did not find the time to work an it. Additionally I got contact to someone who wants to provide a FRITZ!DECT 440 switch for me for integration. So we may

[2020-07-23 08:41] marcelrv commented on #7832
Please make a log in debug mode, as then it can be seen what is send to the vacuum and how it is responding.

As this may be a time related thing, can you also try to send the same commands ( `pause` followed by a `dock`) manually (meaning there is some few seconds delay) and feedback if that is properly stopping the vacuuming.

[2020-07-23 08:46] cweitkamp commented on #8144
Thanks for the feature request. I will look into it. Thinking about the modelling these could be nice ThingActions for heating devices / heating groups.

[2020-07-23 10:42] Rossko57 opened #8175 "[avmfritz] documentation, troubleshooting, debug logging"
AVM Fritz! binding documentation at
https://www.openhab.org/addons/bindings/avmfritz/
lacks a 'Troubleshooting' or 'What to do if things go wrong' section.

At its simplest this needs only the instruction for how to set debug and/or trace logging for this binding, and perhaps a pointer to discussion forum.

With zero knowledge of this binding, afraid I will not do it myself :(

[2020-07-23 12:37] clinique commented on #8116
I think you can add it back, the Astro actions PR has been merged ;-)

[2020-07-23 12:41] lolodomo commented on #8116
Marked as reliable.

Remains one PR to review & merge.

[2020-07-23 13:30] clinique commented on #7937
It is not clearly documented, but based on the source code, sendMail actually returns a boolean telling if the operation is a success or not.

[2020-07-23 14:42] kaikreuzer commented on #8175
This does not make sense to me. How to enable debug logs for a binding is not specific for a binding and thus should not be mentioned 200 times, but only once in the documentation. Also, the documentation should not point to the discussion forum, but be standalone. How to get support, report bugs etc. is again something that is the very same for every binding.

If you feel that this isn't well doc

[2020-07-23 14:42] #8175 closed

[2020-07-23 17:27] MHerbst commented on #6145
This is a known problem and has to with my partially reverted modification. Will be fixes soon (I hope).

I will have a look into the logs. Maybe it is some sort of timing problem if the stop comes too fast.

[2020-07-23 18:41] RickyTR opened #8181 "[deconz] thing status for onofflight type is not reported"
With the latest version of deconz addon the thing status for lights is not reported.

[2020-07-23 19:45] calderoc commented on #8008
HI, i just updated to  2.5.7-1 and the Somfy myLink binding  (#5652) still isn't showing up in PaperUI or the console via "feature:list"

[2020-07-23 20:24] #8056 closed

[2020-07-23 20:48] J-N-K commented on #8181
What happens if you send a command to a light that is not reachable?

[2020-07-23 21:20] Novanic opened #8182 "[innogysmarthome] Insufficient reconnect attempts"
I noticed that the connection from OpenHAB to Innogy SmartHome was disconnected / not working anymore (couldn't switch my power sockets/outlets via OpenHAB), but the Innogy app is working normally. I noticed that at 23:15 o'clock. The OpenHAB log shows the last error message from 06:54 o'clock. That means there weren't any reconnect attempts since hours. That should get optimized...

OpenHAB 2.5.6

[2020-07-24 05:04] lolodomo commented on #5892
This is very important to have a clear idea about that. The conclusion we got few months ago was that only a combination of the samsungTV and Sonos bindings was leading to the Sonos things going OFFLINE. If this is not the case, we have to know it.

I don't use the SamsungTV but I use the Sonos binding and I never encounter this problem for example.

If you encounter the OFFLINE effect even withou

[2020-07-24 07:00] lolodomo commented on #7610
@clinique : can you have a new look, it looks like it does work anymore for us too :-( Login is redirected.

[2020-07-24 07:35] clinique commented on #7610
@lolodomo : yes, I discovered this a few days ago also. Will try to take a look, but I wonder if this is worth the effort.

[2020-07-24 08:56] kaikreuzer commented on #8167
Hmph... I started looking into it and directly noticed an issue: The call monitor feature in the 1.x binding is directly linked to TR064 since it uses the phonebook for looking up names for numbers.
If we add the call monitor to the avmfritz binding, we'd clearly only be able to provide phone numbers, but no caller names.
Adding it to the TR064 binding would mean that it becomes pretty AVM specifi

[2020-07-24 12:00] #7815 closed

[2020-07-24 12:01] Cossey commented on #7815
Closed due to lack of response.

If this is still a problem please reopen issue.

[2020-07-24 16:28] Novanic commented on #8182
@mmans @Hilbrand @ollie-dev

Ok, I think I found the bug. Nothing is restarted when a crash occurs within org.openhab.binding.innogysmarthome.internal.handler.InnogyBridgeHandler#startClient.

The reason is, that the startClient method is only started by a scheduler (there are no other usages). A second call of "scheduleRestartClient" (which is triggered when an Exception within the startClient me

[2020-07-24 16:36] LoungeFlyZ commented on #8008
Thanks for letting me know. I'll get this fixed. Apologies.

[2020-07-24 20:29] skazi0 opened #8187 "[modbus] Error invalidating connection in pool for endpoint ModbusTCPSlaveEndpoint@..."
## Expected Behavior
Retry logic for modbus connection should work correctly :o)
Expected (old) log snippet:
[code]

## Current Behavior
One try and it stops polling completely:
Log:
[code]

## Steps to Reproduce (for Bugs)
Simulate connectivity problems by disconnecting the device or something similar.

## Context
I experience this problem with a DIY modbus device (connected via mgate) which time

[2020-07-24 20:46] jfr11 commented on #5062
Actually I'm no longer on Raspberrymatic but using debmatic (3.51.6-45) now instead, OH is 2.5.6.
However, also there I'm facing some problem:

22:39:56.255 [WARN ] [overy.HomematicDeviceDiscoveryService] - Failed to set Homematic controller in install mode
java.io.IOException: org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; Premature end of file.
	at org.openhab.binding.homematic.i

[2020-07-24 21:17] marcelrv commented on #8082
@jenicek001 pls let me know the outcome, then it can be implemented.

[2020-07-24 22:57] sjek13 commented on #8187
same problem here, only modbus stopped polling arround 00:03 last night by itself, i was not updating openhab or anything.
I am running openhab 2.5.6

I restored a backup from yesterday and cleared temp and cache folder, then it is working for a few minutes and then it stops again.

[2020-07-25 04:22] Aussie-Luftikus opened #8190 "[lifx] Switch support for LIFX binding"
I am using OpenHAB for a couple of years, mostly with LIFX lights, and I am very happy with it. I got now the LIFX switch and realised that there is no support for a LIFX switch in the binding.

I would like to request the "feature" to support the LIFX switch so I can use it in my OpenHAB setup.

[2020-07-25 04:59] wborn commented on #8190
See also this [community topic](https://community.openhab.org/t/lifx-switch-support/102760/4?u=wborn). There currently don't seem to be any official APIs that can be used for integrating this device in openHAB.

[2020-07-25 09:00] kjoglum commented on #8187
Same problem here as well: Polling stops by itself, things appear to remain online. Manage to restart and get the polling to work for a couple of minutes before it stops again.

[2020-07-25 09:01] lolodomo commented on #8116
All bindings have now the workaround implemented.
All except xmppclient are available in release 2.5.7. xmppclient will be in 2.5.8.

[2020-07-25 09:01] #8116 closed

[2020-07-25 11:01] lolodomo commented on #8162
@Novanic : are you working on that ? If not, I can have a look myself. Just let me know.

[2020-07-25 11:08] lolodomo commented on #7356
As there is no identified solution to determine the playback status, I mark this issue with the tag "won't fix".

[2020-07-25 12:32] Novanic commented on #8162
Hi, no I'm not currently working on it. You can start with it if you want.

[2020-07-25 14:48] #7803 closed

[2020-07-25 15:01] lolodomo commented on #8162
I just discovered we have an exception when the camera is off:
[code]
When adding null annotations, I suppressed a test againt state being null, this was probably a bad idea but I don't understand how the state can be null. To be investigated and identify the channel for which we determine a null state.

I can confirm that the state of the camera switched to "disconnected" after few minutes.