[2016-10-23 16:27] Jaghova commented on #1345
Is not just with MAX Thermostat, I have seen this behaviour also with classic UI.
When the mode is changed in the UI Homekit is updated correctly.
When the mode is changed in Homekit, the item keeps loading and it says "no answer"

[2016-10-23 16:39] ThomDietrich opened #1346 "[orvibo] Support for AllOne IR Blaster"
Continuing from here: https://github.com/tavalin/orvibo-sdk/issues/15

Hey @tavalin, your fork didn't have Issues activated but here might be a better place to discuss this topic anyway. ;)

I'm proposing to (1) switch from a file based solution to an item based (base64 encoded?) storage of the IR codes and (2) add the experimental AllOne support here.

How do you feel about that?
##

[2016-10-23 16:46] lewie commented on #503
@DimitrisSar,
Ahrg... yes, I have forgotten to mention `feature:install openhab-runtime-compat1x & feature:install openhab-transport-serial` Thanks!

Your log looks good, doesn't it? :-)

As I can see, in my environment it works as expected, never doubled events on the KNX-bus.
I have tested like:
1. Run ETS5 Group monitor to see what happens on the KNX-bus and sending values to openHAB KNX bundle

[2016-10-23 16:55] DimitrisSar commented on #503
@lewie

Log look good, everything is working fine (and really fast)... but I still get that pointless warning (around the middle of the log above):

`2016-10-23 18:08:06.758 [WARN ] [.binding.knx.internal.bus.KNXBinding] - Ignoring local Event, received from my local Source address 1.2.200 for Group address 1/0/10.`

I don't know what is causing this...  It's not a huge problem but it would be nic

[2016-10-23 16:59] kaikreuzer commented on #1330
@gerrieg Any idea?

[2016-10-23 17:19] lewie commented on #503
Is a result of the filter entry *ignorelocalevents=true*. Is another discussion to change this to *debug* or *trace*.

Hmm, *immediate="true"* is the right value. I had never problems with a new installed OH 1.8.3, I cannot reproduce.

I would start a new OH 1.8.3 only with org.openhab.binding.knx-1.9.0-SNAPSHOT.jar on the same hardware. Maybe there is a old bundle or old configuration which trans

[2016-10-23 17:34] DimitrisSar commented on #503
Ok.  I will try again with a completely new OH1 installation.

Anyway... with your new org.openhab.binding.knx-1.9.0-SNAPSHOT.jar I don't have anymore double entries in my log for every action ! :)

I went from:
`2016-10-23 20:32:00.753 [WARN ] [.binding.knx.internal.bus.KNXBinding] - Ignoring local Event, received from my local Source address 1.2.200 for Group address 1/0/10.
2016-10-23 20:32:00.

[2016-10-23 20:17] tavalin commented on #1346
Hi @ThomDietrich

Can you explain a bit more how you foresee (1) working? As you know the experimental AllOne support saves the IR code to file storage and you send the saved IR code by specifying the filename to a String item.

How would you expect learning and emitting the IR code to work when storing the IR as an Item value?

[2016-10-24 05:52] gerrieg commented on #1330
At startup, the binding fetches all possible metadata from the gateway. But not all descriptions for the datapoints (eg. for PaperUI) are available. Some can be [extracted](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.homematic/src/main/java/org/openhab/binding/homematic/type/generator/CcuMetadataExtractor.java), but many are missing.

There are two fil

[2016-10-24 06:18] Marty56 commented on #1314
Actually my statement that only one CuxD device is updated is wrong.
The value of this device seems to come from a persistence. So no CUXD device is updated.

If you look at the log only homematic devices are updated.
e.g. CUX9002001 is a device which is assigned to a temperature sensor. Everytime the homematic temperature sensor is updated, CUX9002001 should be updated as well which is never happ

[2016-10-24 10:50] philippk80 opened #1347 "HomeKit Status synchronisation"
Hey,

in my case homekit isn't informed about changes when an item is controlled by for example the web interface. Is this not implemented, a bug or do I have a incorrect configuration?

Best regards,

Phil

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38622846-homekit-status-synchronisation?utm_campaign=plugin&utm_content=tracker%

[2016-10-24 12:21] kaikreuzer commented on #1347
I assume the question is specific about HomeKit (because status updates work in general), so I adapted the title.
@beowulfe could you comment?

[2016-10-24 14:33] Arsur commented on #1345
how do i have have to set up my Item File to get Max with homekit running. my problem is also this [ "homekit:HeatingCoolingMode" ] how did you get this running with Max!?

[2016-10-24 15:27] niki1898 commented on #1345
This is my Items File for each Thermostat/Room
[code]

[2016-10-24 15:58] gerrieg commented on #1314
This is heuristic programming :-)

OK, found another small bug, please use this version now: [Download](https://drive.google.com/file/d/0Bw7zjCgsXYnHOHpUeXhvZ3NyVVk/view?usp=sharing)
Testversion 1.3.0

According to your logfile, the CUxD daemon is not initialized and therefore no events are received. I think the daemon can not be reached during auto detection.
For this test, DEBUG logging is enoug

[2016-10-24 16:20] ThomDietrich commented on #1346
I would imagine to have this set of items:
[code]
By activating the first switch, the binding starts listening for IR signals. The received signal will be logged and saved in the item orviboRx (e.g. "IAlUZXN0CSANCg==").
A user could now either build a rule and call `orviboTx.postUpdate("IAlUZXN0CSANCg==")` or he could define a dedicated item like the last example. I am however not sure if a channe

[2016-10-24 17:01] Marty56 commented on #1314
Hi Gerhard,
The bug is still existing. I have include the items file, the things file, the homematic.cfg and additionally the log file. I have no idea what you mean by
"Make sure, that cuxd is true in the HmGatewayInfo".
I see no possiblity to configure the above. I would be great if you could check the related files.

[logs.zip](https://github.com/openhab/openhab2-addons/files/548473/logs.zip)

[2016-10-24 17:32] gerrieg commented on #1314
I mean the three entries in your logfile:
[code]

In HomematicConfig the configured cuxdPort=8701. OK, that's the default port.
In the HmGatewayInfo there is cuxd=false, so the binding can not connect to the CUxD daemon in the CCU. Either CUxD is not configured correctly or something blocks the connection from 192.168.1.116 to 192.168.1.110 on port 8701
You can try to telnet to the CCU (from 192.1

[2016-10-24 17:55] Marty56 commented on #1314
Interestingly cuxd seems not be working properly.
This did not happen since I have installed it first time which is already 4 years ago.
Maybe this was caused by our experiments.
I have restarted CUX Demon and attached a text file containing the info and status window.
[cuxinfo.txt](https://github.com/openhab/openhab2-addons/files/548578/cuxinfo.txt)

[2016-10-24 18:05] gerrieg commented on #1314
That's the binding:
[code]
but:
[code]
it seems, that the CUxD daemon in the CCU can not connect to openHab (192.168.1.116:9126)

I'm pretty sure, that the problem is related to the network.

[2016-10-24 19:03] MHerbst commented on #1330
I think reducing the log message the debug is a good idea. I will try to add the missing descriptions for my Homematic components to the extra-descriptions file.

[2016-10-24 19:16] MHerbst commented on #1330
@gerrieg I did some tests in Method `MetadataUtils#getDescription` and found a small problem:
sometimes the the array passed to getDescription contains empty entries and these entries will then cause problems.
Here is an example:
[code]
Now the following values of `key` are tried to retrieve from the properties file
[code]
Because of the trailing `|` no description can be found.

[2016-10-25 01:54] Marty56 commented on #1314
For testing purpose I have switch of the windows firewall and it seem that you are right. CUXD Temperature sensor is transfering data!!!

Some minior issue remaining. If I am shorting the things file to just one line, e.g.
Bridge homematic:bridge:ccu [ gatewayAddress="192.168.1.110"]

I do not see any reaction in OH2 and not data is transferred.

[2016-10-25 02:29] beowulfe commented on #1347
It should update. HomeKit has a subscription mechanism for change notification, which the OH add-on supports.

Try turning up the logging and see if the changes are getting published.

[2016-10-25 06:51] kaikreuzer commented on #1347
So there is no bug or missing feature, I hence close this issue. For support, I would suggest to rather use the forum at https://community.openhab.org/

[2016-10-25 06:51] #1347 closed

[2016-10-25 07:17] planbnet commented on #1295
No, nothing. But i don't get much logging output from the netatmo binding at all. The only debug log messages I seem to get are "Refreshing <channel-name>" and "Updating device channels".

All I have is the thing status:
`netatmo:NATherm1:netatmoapi:040000xxxxxx (Type=Thing, Status=OFFLINE: 400 Bad Request, Label=null, Bridge=netatmo:netatmoapi:netatmoapi)`

[2016-10-25 07:18] planbnet commented on #1295
One more thing: The other channels (for example SetpointTemperature) only seem to work once on startup and do not refresh.

[2016-10-25 13:14] mattti commented on #726
I have a very similar problem, that i believe might be connected to the issue.

Items:
[code]

Things:
[code]

After relinking the items, they get updated every minute as expected. The log shows:
[code]

However, after a restart, the items get updated only once and the 60s jobs are not created:
[code]

The only thing that helps, seems to be relinking of the items.
I'm on build 555.

[2016-10-25 14:36] gerrieg commented on #1330
thank you @MHerbst , fixed with https://github.com/openhab/openhab2-addons/pull/1348

[2016-10-25 14:45] gerrieg commented on #1314
👍  great that it's working now!
I created a PR with alle the changes: https://github.com/openhab/openhab2-addons/pull/1348

I also get theses errors, if i specify a Thing in the things file. Which exact version of OH2 are you using?

[2016-10-25 14:54] gerrieg commented on #726
This should be fixed with https://github.com/openhab/openhab2-addons/pull/1178
I don't know if this fix is included in build 555. Maybe you try the latest astro binding build and give me feedback?

[2016-10-25 15:04] Marty56 commented on #1314
I am using Build #549.
Still struggling when moving the simple homematic.items file. That no items is being updated.

I have accept two items in the inbox and then those devices are updated. But they are using some generated name which does not fit to my names I have used in items file.
So a really unacceptable workaround would be to rename all items via Paper UI and repeat the procedure everytime

[2016-10-25 15:14] mattti commented on #726
I'm using the latest OH2 from the Snapshot repo.
I get the following Astro version from karaf:
2.0.0.201610221219
[#1178](https://github.com/openhab/openhab2-addons/pull/1178) should be included in that build.
I also don't see "Unable to store Job" Error on startup.
If you think it'll make a difference, however, I'll build the latest.

[2016-10-25 16:10] gerrieg commented on #1314
@Marty56
Aha, now i understand the problem.

@kaikreuzer
There is a issue in the Homematic binding i don't understand. If i start OH2 and add a thing from the inbox in PaperUI, everything works as expected.
If i don't use PaperUI and specify the Thing in the things file, i get this exception
[code]

things file:
[code]

items file:
[code]
The exception occurs, when i'm [updating the configuration]

[2016-10-25 17:14] wep4you opened #1352 "Netatmo - Switch to Getthermostatsdata, Gethomedata and Getstationsdata by November 30th"
I got this info today:

Friendly reminder: Getthermstate, Getuser and Devicelist will move from deprecated to shut down. On November 30th, we are proceeding to a structural change to make our APIs faster and more powerful. Unfortunately, old and deprecated API methods won’t be supported anymore. Make sure you amend your code and start using newer methods as soon as possible for a smooth transition

[2016-10-25 17:28] gerrieg commented on #726
OK, i can reproduce. But in the development environment it works. It does not work when i download the latest snapshot and start it via command line.
I'll let you know when I've found something

[2016-10-25 18:14] gerrieg commented on #726
Problem found, will update the binding in the next days.

[2016-10-25 18:30] kaikreuzer commented on #1314
Well, because the configuration is specified by the user already and a binding must not change this.
This might be solved through https://github.com/eclipse/smarthome/issues/1977, though.

[2016-10-25 18:34] Marty56 commented on #1314
@Gerhard,

I am using the offline OH2 version and I am not sure how I can overwrite
the already loaded old binding with the test binding you have provided.
Could please provide some instruction.

------ Originalnachricht ------
Von: "Gerhard R." <notifications@github.com>
An: "openhab/openhab2-addons" <openhab2-addons@noreply.github.com>
Cc: "Marty56" <martin.klimke@outlook.com>; "Mention"
<mentio

[2016-10-26 04:19] jsjames opened #1353 "New Pentair pool controller binding"
New binding to interface with Pentair EasyTouch controllers, IntelliFlo pool pumps and Intellichlor chlorinators.
##

[2016-10-26 06:10] gerrieg commented on #1314
@kaikreuzer
OK, but why do i need a thing definition in this case? Without the thing the item is not updated.

@Marty56
just copy the new file to /runtime/karaf/system/org/openhab/binding/org.openhab.binding.homematic/2.0.0-SNAPSHOT

[2016-10-26 15:02] gerrieg commented on #726
fixed with https://github.com/openhab/openhab2-addons/pull/1356

[2016-10-26 15:25] paulianttila commented on #1343
@harryzz: you could easily create PR directly from GitHub for this kind of small changes.

![screen shot 2016-10-26 at 18 09 25](https://cloud.githubusercontent.com/assets/5506533/19731893/9cdfac4c-9ba7-11e6-9e22-afc19c5a9ce1.png)

Just start editing of the file. All changes will be saved on your fork, where you can directly create PR.

[2016-10-26 19:09] digitaldan commented on #1353
have you seen http://docs.openhab.org/addons/bindings/autelis/readme.html ?  This was written to specifically support Pentair pools. It does require an Autelis device which acts as an ip gateway to the pool equipment, but well worth the cost if you are looking at IP control .

[2016-10-26 19:12] digitaldan commented on #1353
Apologies, I did not realize you already had a direct connection in mind and built (just saw your OH2 repo), nice work!

[2016-10-27 08:15] monnimeter commented on #496
#755 fixes and enhances this PR. Thank you @xylo and @PH89.

[2016-10-27 08:15] #496 closed

[2016-10-27 12:10] mattti commented on #726
It works now for me.
Many thanks for your work!!!

[2016-10-27 13:33] Stratehm commented on #1344
I will take a look at it.

The main question is how to detect that an AVR support or not the "Set volume" request. My AVR support it so I cannot test it. Could you try to open a telnet connection to your AVR and send a 001VL command (request to set the volume to -80.0 dB) ? What is the response of the AVR (maybe E4) ?

[2016-10-27 15:48] wuschi opened #1360 "[cometvisu] Missing oh2 backend definition?"
Hi,

first of all sorry if i do get something wrong, I just started to experiment with openhab / cometvisu this week. Anyway, thanks for this great piece of software!

Regarding my issue:
Is it possible that the demo sitemap does not generate the `backend="oh2"` definition, or am I missing some point? I started fiddling around with the demo sitemap, but the switches etc. do not work as expected (b

[2016-10-27 17:49] LukaNoah opened #1361 "openhab2 - onkyo-binding - TX-NR509"
With the onkyo-binding 1.9.0 works the TX-NR509 perfectly. With the onkyo-binding 2.0.0 will the receiver found as unsupported? Can you add the 509 to the devices in the binding?

thx
LN
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38777078-openhab2-onkyo-binding-tx-nr509?utm_campaign=plugin&utm_content=tracker%2F2164344&utm_m

[2016-10-28 13:09] magx2 opened #1363 "Plugin execution not covered by lifecycle configuration"
I followed steps in http://docs.openhab.org/developers/development/ide.html#installation to get OpenHab2 working. My problem right now is that in OH2-addons working set plugin ```org.openhab.binding.systeminfo``` is not compiling. The problem appers in pom.xml:

Description | Resource | Path	Location | Type
---------------|--------------|-------------------|---
Plugin execution not covered by life

[2016-10-28 17:16] joeduck commented on #1344
HI. Many thanks! Sadly my receiver is by pioneer Germany for repair. It was not reachable on the lan any more. I have to wait 6 Weeks told me the repair station :-( .

Perhaps you can make a parameter in the binding for receivers without VL command like "vl=no"?

[2016-10-28 20:19] #1363 closed

[2016-10-28 20:21] kaikreuzer commented on #1363
The solution is to remove the Maven nature from the project, which I have done with https://github.com/openhab/openhab2-addons/pull/1365.

When creating a skeleton, this should be no problem as the Maven nature is not added in it, see [here](https://github.com/eclipse/smarthome/blob/master/tools/archetype/binding/src/main/resources/archetype-resources/.project) - so you might have added that yours

[2016-10-29 07:42] aschor commented on #1325
Hi @kaikreuzer , yes, the issue has been opened  [here](https://community.openhab.org/t/caldav-binding-null-pointer-exception-repeating-begin-event-bug/15050)

[2016-10-29 18:23] kaikreuzer commented on #1314
Not sure if I understand this question. Does [this](http://docs.openhab.org/tutorials/migration#understanding-things) maybe answer it?

[2016-10-30 21:38] rrgeorge opened #1368 "[homekit] Thermostat needs Target Heating and Cooling temperatures in Auto mode"
The HomeKit Thermostat group only allows for one Target Temperature, which is fine for Heating or Cooling. However, when the thermostat is set to Auto, it should have a separate Target Temperature for Heating and Cooling respectively.

[2016-10-31 08:52] lewie commented on #503
@DimitrisSar,
see and test jar from here https://github.com/openhab/openhab/pull/4724#issuecomment-257236498. No more use compatibilityOH2, it's obsolete.

[2016-10-31 10:06] lolodomo commented on #1352
I just take a quick look and these 3 API are used by the OH 2 netatmo binding.
@clinique: I have not checked the OH 1.x binding, does it mean that the 1.x and 2.0 netatmo bindings will no more work well in 30 days ?

[2016-10-31 11:02] clinique commented on #1352
@lolodomo, they are used in current one version of the binding - no more in the under review rewrited version of v2 binding.

[2016-10-31 11:19] lolodomo commented on #1352
Ok so we have to keep in mind PR #1099 has to be finally merged during the next 30 days.
And we will have to switch to 2.0 binding at this time.

[2016-10-31 11:33] DimitrisSar commented on #503
Test performed.  All work good and fast and without events echo !

Base Scenario: OH 2.0.0-Snapshot Build #560 with KNX Binding version 1.9.0.201610280119 from Cloudbees
Base Log: [Old_KNX.txt](https://github.com/openhab/openhab2-addons/files/561597/Old_KNX.txt)

New Scenario: OH 2.0.0-Snapshot Build #560 with KNX Binding 1.9.0-SNAPSHOT (1.9.0.201610310808) from https://github.com/lewie/openhab/ra

[2016-10-31 12:54] lewie commented on #503
Perfect! Thank you for your quick tests. 👍

We use calimero-core not calimero-gui! I generated the calimero-core-2.3-beta.jar from the current master branch. There is no version 2.3 released yet:
https://github.com/calimero-project/calimero-core

Calimero 2.2 sends the "repeatFlag" to KNX-bus.
In calimero-core-2.3-beta.jar we have solved it:
https://github.com/calimero-project/calimero-core/issues

[2016-10-31 13:07] DimitrisSar commented on #503
I don't know details but I saw that the calimero-gui archive includes multiple jars (also calimero-core-2.4-SNAPSHOT.jar)
I don't know if you can use them... I also cannot find the 2.4 snapshot version on github...  Anyway... All is good with your KNX Binding v1.9.0.201610310808 ! :)

[2016-10-31 13:23] lewie commented on #503
Ah, didn't know about *calimero-core-2.4-SNAPSHOT.jar* in calimero-gui.
Then I would not have to generate myself, no matter.

[2016-10-31 13:25] DimitrisSar commented on #503
By the way, I think that the Java8 branch of Calimero (here: https://github.com/calimero-project/calimero-core/tree/feat/jse-embd8-c1) is more updated and it includes even a newer version (2.4-dev)...

Maybe Boris does not update anymore the https://github.com/calimero-project/calimero-core repository?

Can you use the Java8 version?

[2016-10-31 15:56] kaikreuzer commented on #503
Now that https://github.com/openhab/openhab/pull/4736 is merged, I assume this issue can be closed?

[2016-11-01 08:44] lolodomo commented on #866
@clinique : this issue should be closed ?

[2016-11-01 08:47] gerrieg commented on #1314
The question is, is it a must to declare all things i want to use in a things file or is a item enough?
A item to a thing that is not declared in the things file is not updated. I don't know if this is the correct behavior, or i forgot something to implement in the binding. I thought, a item 'activates' a thing automatically.

[2016-11-01 11:26] clinique commented on #866
@lolodomo , it should be closeable while merged  #1099

[2016-11-01 18:14] patrickse commented on #1199
Sorry for letting you wait.. got a new born at home ;)... So I finally managed to define my milight bridge as a thing inside .thing file.

[code]

[2016-11-02 10:38] RSStephens commented on #1342
Hello @gtg864m,

I have seen the same results when defining things through a .thing DSL file, but not when defined using the PaperUI.  This appears to have started happening with beta 4 as you have said.  I don't see the same issue with previous versions of OH2.  I plan to look at the code as soon as I can.  Thanks for the feedback.

[2016-11-02 15:28] gerrieg commented on #310
Thank you Kai for the information, i will take a look at it.

[2016-11-02 19:14] LukaNoah opened #1378 "OH2 - NetAtmo2.0.0 - wrong humidity"
since 18:00 h the netatmo humidity is 0,88. Before it was 88. Has netatmo changed the format of the value? 0,88 like the percentage (value * 100 = humidity)??

[2016-11-02 23:02] tavalin opened #1381 "Chromecast Binding - doesn't work with Shield TV (Android TV)"
My excitement at discovering the newly merged Chromecast binding quickly disappeared when I realised it didn't discover my Shield TV box as a Chromecast device (when other Chromecast libs do) and having put in some temporary bandaids fixes, I still could not get the binding to control it.

Having done some initial debugging there's two specific lines of code in ChromecastDiscoveryParticipant which

[2016-11-03 08:45] kaikreuzer commented on #1381
Well, the binding says it supports Google Chromecast devices - it so far is not meant to support any "chromecast compatible receiver". But you can certainly create a PR to extend the binding in this regards.

I also experienced connection problems (closed connections after sending commands) and had the impression that the issues are within the underlying library. It would be great to have @maggu28

[2016-11-03 09:40] tavalin commented on #1381
My expectations were set due to the fact that every other Chromecast enabled app discovers it as a Chromecast device but I take your point ;)

My intentions were to create a PR with the modifications I mentioned but it didn't seem right to fix discovery only to have the device communiction not working correctly so I raised the issue for visibility and discussion.  Hopefully @maggu2810 can join the

[2016-11-03 09:53] kaikreuzer commented on #1381
Great. I'd actually suggest to introduce a third thing type that is a "Generic Chromecast Receiver" (but which uses the same handler implementation as well).

[2016-11-03 20:09] altelch commented on #1283
I had the same problem. Solution was to switch System->Fritz!Box-User Home network login from "Login with Fritz!Box password" (default) to "Login with Fritz!Box-User and Password". Then create a user for openhab and select only the "Smart Home" Permissions for this user. After that the binding worked.

[2016-11-03 21:11] BClark09 opened #1382 "Chromecast does not play/pause videos from all sources"
I've installed the new chromecast binding, and the play/pause and volume buttons work very well when it is playing videos streamed from services like YouTube. When trying to pause or play a video from Airflow (A PC application which allows you to stream any video file to your chromecast) I receive the following errors (and the video does not play or pause):

[code]

Volume control still works well

[2016-11-03 21:59] mkotsbak opened #1383 "Z-Wave: add device Popp outdoor switch"
Please add this Popp device: http://www.popp.eu/products/actuators/wall-plug-switch-outdoor/

The XML file for it is as attached.

[node11.xml.txt](https://github.com/openhab/openhab2-addons/files/570185/node11.xml.txt)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38939131-z-wave-add-device-popp-outdoor-switch?utm_campaign=plugin&

[2016-11-03 22:09] phil2fer commented on #1343
since buid 559 i have a problem with RFXCOM binding, and the changes in channels.xml
see my log file

If i go back build 558 every things is ok.
[Log.txt](https://github.com/openhab/openhab2-addons/files/570197/Log.txt)

[2016-11-03 22:15] phil2fer opened #1384 "[RFXCOM] : Problem parsing channels.xml file"
Since buid 559 the file channels.xml can't be parsed

#1343

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38939750-rfxcom-problem-parsing-channels-xml-file?utm_campaign=plugin&utm_content=tracker%2F2164344&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&

[2016-11-03 22:27] cdjackson commented on #1383
This is in the database - it’s a ZWave.me product - ZME_06437

[2016-11-03 22:28] cdjackson commented on #1383
Sorry - I thought this was OH1. Please open an issue in the OH2 zwave issue list.

[2016-11-04 06:49] #1383 closed

[2016-11-04 08:39] mkotsbak commented on #1383
@cdjackson I'm a bit unsure where the OH2 source code/issue list is located? Could you please add a link to the repository?

[2016-11-04 10:05] kaikreuzer commented on #1382
This again looks like some issue in the underlying library (see also https://github.com/openhab/openhab2-addons/issues/1381).

Please note that although I did the initial contribution of this binding (using @maggu2810's library), I very likely won't have a chance to maintain it on the long run - so it would be great if someone that is actively using Chromecast would volunteer to take care of it!

[2016-11-04 10:07] harryzz commented on #1384
I dont know why parser fail when the '<category>' is before '<description>'.
if you move '<category>' after description all is OK.

br
harry

[2016-11-04 12:30] gitwouter opened #1386 "openhab2 - onkyo-binding - TX-NR555"
The TX-NR555 receiver also works with the 2.0 binding. Could you please add it as supported? thank you.

[2016-11-04 12:56] garrettwp commented on #1222
@digitaldan I am getting the same error as @ertanden. I just started getting this error and not sure why this is happening. Here is my error message which looks very similar. I am running version 2.0.0.201610290946 of the binding.

[code]

[2016-11-04 18:35] michaeljoos72 commented on #1378
Can also confirm this:

2016-11-04 19:31:23.296 [WARN ] [ui.internal.items.ItemUIRegistryImpl] - Exception while formatting value '0.88000000' of item Netatmo_Aussen_Luftfeuchtigkeit with format '%d %%': java.util.IllegalFormatConversionException: d != java.math.BigDecimal
2016-11-04 19:31:23.381 [WARN ] [ui.internal.items.ItemUIRegistryImpl] - Exception while formatting value '0.88000000' of item

[2016-11-04 20:25] derchrisuk opened #1389 "Colorpicker SVG missing"
Hi,

while testing OpenHAB2, we discovered that the colorpicker.svg is missing.
Checked the org.eclipse.smarthome.ui.iconset.classic-0.9.0-SNAPSHOT.jar and could not find it in there either.

[2016-11-04 21:10] derFrink opened #1390 "Harmony Hub: Logging starting of activity"
The Actual Binding (binding-harmonyhub - 2.0.0.SNAPSHOT) creates only one Channel for the Harmony Hub (Current Activity). It changes the State from "PowerOff" to "WatchTV" after the hub finished all operations (same if i use the channel "activity".
I moved over from FHEM and there the Channel "current Activity" also showed if a Action is starting..

for example you can see it in this logfile: http

[2016-11-05 07:05] michaeljoos72 commented on #1023
A few days and nightly builds ago I can confirm the same behaviour. See:

https://community.openhab.org/t/homematic-communication-error/16040

[2016-11-05 19:09] LukaNoah commented on #1378
my workaround

bind then item of netatmo to antother item and use a rule

rule NAT_GART_Humidity

when
	Item iPROX_GART_Humidity received update

then
	if (iPROX_GART_Humidity.state < 1){
		iNAT_GART_Humidity.postUpdate((iPROX_GART_Humidity.state as DecimalType).floatValue * 100)
		logInfo("PROX","GART " + iPROX_GART_Humidity.state + " / " + iNAT_GART_Humidity.state)
	}
	else {
		iNAT_GART_Humidit

[2016-11-06 10:31] lolodomo commented on #1378
@clinique : running your PR #1099  I don't notice this issue, my humidity values are coorect, 49% and 87%.

[2016-11-07 11:20] BClark09 commented on #1381
I'd be happy to test and confirm any changes to the binding.

My initial thoughts are that the library being used is too strict on the information that it expects to come back from the device. Is the library src included in the binding? I had trouble finding it.

[2016-11-07 11:37] kaikreuzer commented on #1381
The library is maintained at https://github.com/maggu2810/shk/tree/master/bundles/shk-library-chromecast-api.
I was also wondering whether we should move its sources directly to the binding, but this would mean to fork it (again) and it also results in a license mix. I therefore hoped that @maggu2810 further maintains his version and we only include it as a jar. @maggu2810 What is your personal pr

[2016-11-07 11:54] Cuarento commented on #987
Anything new about the OH2 Binding?

[2016-11-07 13:09] watou commented on #987
@Chanete: You must use `Import-Package` and not `Require-Bundle` in the MANIFEST.MF.  Also, you would need to make sure the binding has changes similar to [these](https://github.com/openhab/openhab/pull/3948) to work on OH2.

[2016-11-07 14:16] tavalin commented on #1381
@kaikreuzer So I've started to look at this having done some more research on Chromecast discovery, I have to ask is there a reason discovery was implemented with upnp instead of mdns?

[2016-11-07 15:52] kaikreuzer commented on #1389
If you expect this to be added to the classic iconset, please enter an issue at https://github.com/eclipse/smarthome/issues, because this is where this iconset is maintained. Thanks!

[2016-11-07 17:17] maggu2810 commented on #1381
The real upstream library is this one: https://github.com/vitalidze/chromecast-java-api-v2
I only maintain my fork because I need some changes that cannot be merged upstream (breaks backward compatibility etc.).
I added some PRs the last week to the upstream lib that are also part of my fork.
I also added the mDNS discovery about five days ago to my ChromeCast binding.

[2016-11-07 18:26] phil2fer commented on #1384
Thanks. Now everything is ok

[2016-11-07 18:26] #1384 closed

[2016-11-07 18:53] LukaNoah commented on #1361
here are some additionalmodes from my 509:

listen
3 - Game PRG
5 - Game Action
6 - Game Rock
8 - Orchestra
9 - unplugged
10 - Studio Mix
11 - TV Logic
13 - Theatre Dimensional
17 - Pure Audio
19 - Mono
131 - Neo:6 Mix
134 - PLII Game

sources
36 - Tuner

[2016-11-07 19:49] BClark09 commented on #1382
I see the point of fault now with the library and will make a PR upstream.

[2016-11-08 00:26] BClark09 commented on #1382
@kaikreuzer Looking deeper into this, this was actually already fixed in the original library and also in @maggu2810's version.

Could we use the latest build or build from source again to see if this issue is fixed?

[2016-11-08 08:47] kaikreuzer commented on #1382
Hm, then I must have grabbed an old jar of it... Feel free to build a new version and create a PR with it!

[2016-11-08 11:33] BClark09 commented on #1382
Can do, shall we continue to use the library source from Maggu's branch, or should we look at using the original source?

[2016-11-08 11:47] davorf opened #1396 "Systeminfo 2.0 binding - OpenHAB 2 on Windows 7"
After discovering Local machine in Systeminfo 2.0 binding via Paper UI and adding it as a thing, the thing displays an error message:

I've enabled DEBUG level of logging and this is a part of the log with Systeminfo binding information and error message:

[code]

[2016-11-08 13:17] roydonm opened #1397 "ZWave device not properly recognised in OH2 (but recognised OK in OH1)"
I was running Openhab 1 using ZWave binding snapshot 1.9.0 and it was properly recognising my ZWave Fibaro light sensor (FGS212) without any issues.  I am running openhab 2 on a seperate machine and when all the 'things' are identified, that node is not being properly recognised.  The details that Openhab 2 is showing for that node re very different from Openhab 1 (different manufacturer code, dif

[2016-11-08 13:27] roydonm commented on #1397
Sorry, meant to say my device is FGS212.  This is what is showing in Habmin (which is not the correct manufacturer ID, etc):

![image](https://cloud.githubusercontent.com/assets/10046961/20100801/c355ed58-a5c7-11e6-9cb7-99f8b50baca4.png)

I am not sure where these details came from, as OH1 displays the correct details and works perfectly with the device, it is only doing this in OH2 (with the same

[2016-11-08 13:31] roydonm commented on #1397
I also found that the binding I have installed is 2.0.0.b4:

/usr/share/openhab2/runtime/karaf/system/org/openhab/binding/org.openhab.binding.zwave/2.0.0.b4/org.openhab.binding.zwave-2.0.0.b4.jar

[2016-11-08 13:54] kaikreuzer commented on #1381
So is your advice that we should use the upstream lib, because yours does not provide any additional features/fixes that would be important for openHAB?

@tavalin I do not care whether we use UPnP or mDNS - is any better supported by Chromecast than the other?

[2016-11-08 13:55] kaikreuzer commented on #1382
Let's see what the answer on https://github.com/openhab/openhab2-addons/issues/1381#issuecomment-259141971 is.

[2016-11-08 14:40] maggu2810 commented on #1381
The necessary patch I need to add to the upstream library is to be able to register a listener for connection events (e.g. closed). I used this to set the offline status.
You need to decide if this is important for you.
If you don't care, perhaps the best thing is to use the upstream one.

Information about discovery: https://github.com/jloutsenhizer/CR-Cast/wiki/Chromecast-Implementation-Document

[2016-11-08 15:02] cdjackson commented on #1397
I've added the type/Id to the database. You will need to update to a new version of the binding.

Closing this as its not the zwave issue tracker (there's a separate repo for zwave issues).

[2016-11-08 15:02] #1397 closed

[2016-11-08 15:13] roydonm commented on #1397
Chris,  FIrstly, thanks !!

Secondly, is there a link that describes:
1 - Where to get the most recent version of the zwave binding, and
2 - How to install it in OH2

I've been searching for hours independently on how to find this for OH2 and I can't find anything.  OH1 on Windows was very simple for me, but with OH2, I have no idea where to find the latest binding builds and how to install them (

[2016-11-08 15:58] cdjackson commented on #1397
I'm not sure about updated through apt, but you can get the latest snapshot from cloudbees -:

https://openhab.ci.cloudbees.com/job/openHAB-Distribution/

Once you are using the snapshot version, then you can update a binding simply by uninstalling it, and reinstalling it again (ie through PaperUI or HABmin - when it installs a snapshot, it will grab the latest version).

If you use an offline ver

[2016-11-08 16:08] ThomDietrich commented on #1397
I'm not sure if this will work as you said you are on beta 4:
Connect to the karaf console, type `bundle:list` and find the id of the zwave binding, execute `bundle:update ID`. `bundle:list` should show the new version time stamp.

[2016-11-08 16:14] BClark09 commented on #1381
@kaikreuzer's implenation for openHAB looks like it uses this listener also to determine offline status, so my guess is that we should keep using your library.

[2016-11-08 16:36] kaikreuzer commented on #1381
Well, in general I would say it is better to use the official project, as @maggu2810 contributes back his fixes to it anyhow (and so do others using this lib). So unless we say we really need the "offline" listener, I am fine with removing that feature and simply set the Thing to offline, if communication fails.

[2016-11-08 16:41] cdjackson commented on #1397
This won't work - if you use an offline version, or a specific version (eg beta4) then it will always install that specific version.

[2016-11-08 17:48] BClark09 commented on #1397
You can pull the compiled jar from the build and update with bundle:update [ID] file://[LOCATION] though, it's been a while since I moved to the online snapshot, but I recall this working for me.

[2016-11-08 18:47] roydonm commented on #1397
OK, I manage to get the latest snapshot installed and it's working like a peach :)  Thanks to Chris for the awesome work he's doing on Wave with Openhab, my house would be a different (and worse) palce if it wasn't for his efforts !

Just in case anyone struggles the way I have with finding and installing a latest version of a binding, I've captured the steps I went through here:
1 - I went to htt

[2016-11-08 21:42] eschizoid commented on #1317
is this addon still under development?

[2016-11-08 22:17] tavalin commented on #1381
@kaikreuzer I guess the benefit I'm seeing with mDNS is that we can register the service type we're interested in ("_googlecast._tcp.") so that we know any result is Chromecast-compatible, and if necessary we can determine exactly which model if* necessary. With the implementation of UPnP I can't see anyway to generically identify Chromecast-compatible devices without comparing the manufacturer an

[2016-11-08 23:41] anthonygillet commented on #929
I am experiencing this same exact issue as well, with Insteon devices and OH2.  I have over 30 homekit devices so it is very annoying to have to reassign rooms every time this happens, and it happens fairly frequently since I am actively developing my openhab setup.

While we await a fix, is there any workaround in the meantime?  Such as:

- Is there some shameless hack I could compile locally tha

[2016-11-09 06:45] #1382 closed

[2016-11-09 07:00] kaikreuzer commented on #1317
Not using docker :-)

It is, but your issue is very specific and apparently hard to reproduce. So the best would be if you yourself could do the analysis and suggest a fix with through a PR.

[2016-11-09 08:39] maggu2810 commented on #1381
@tavalin I don't know "how" the Java library has been created (which documentation or reverse engineering is used). And how the ChromeCast APIs (v1, v2, v3) differs. But I recently fixed a bug for the title that could be sent to the ChromeCast - I realized it does not work in the Java library but in pychromecast. So I checked that implementation and changed the Java to git to them (https://github.

[2016-11-09 14:42] michaelwoods commented on #1317
I too have come across this issue.

I am using net host with a supplied discoveryIp and I am able to access the discovery.xml from local network addresses (192.168.1.0/24). However any apps that scan for a bridge come up with no result.

The XML content has many null values, not sure if that's affecting things I'm not really familiar with Hue. I'm trying to add my lights into Google Home for a bet

[2016-11-09 15:03] michaelwoods commented on #1317
Some additional information. Manually crafting a multicast UDP discovery packet resulted in the following response:

[code]

Monitoring the network traffic I see my OS X device performing searches and also receiving the above response.

[2016-11-09 17:39] tavalin opened #1399 "Chromecast handler does not handle the playuri channel"
The "playuri" channel is documented but there is no code in the handler class to handle commands sent to
this channel.

The following log output shows the reality:

`17:37:04.855 [DEBUG] [chromecast.handler.ChromecastHandler] - Received command http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4 for unknown channel: chromecast:chromecast:shield:playuri`

 I assume thi

[2016-11-09 21:53] kohlsalem opened #1401 "http binding for dimmer gets no update"
Dear OH enthusiasts,

i'm right now in the process of moving my automations on OH2 (latest snapshot), and I'm really impressed. Homematic, Wemo and some other work fine, but i have to integrate some other devices (blinds and some esp8266 stuff) via http as well.

Easiest Project is a candle.

http://candle/?b=50  would bring it to 50% works great!! But since it can recieve changes even outside of

[2016-11-10 01:13] digitaldan commented on #1317
Hi, the binding is not dead, I just have not had time to look into this issue and unfortunately I do not have an ETA on when I will get to it.

[2016-11-10 07:38] kaikreuzer commented on #1401
Hi Michael,

Please use this issue tracker only for bugs related to the code in this repository.

I'd suggest to discuss your problem in the community at https://community.openhab.org/c/openhab-2. It is probably also helpful if you could provide there some event log of what exactly is sent in your setup.

[2016-11-10 07:38] #1401 closed

[2016-11-10 08:03] watou commented on #1401
@kohlsalem This is a current deficiency of the HTTP binding, which does not permit updating the state of Dimmer items.  (The binding has an incomplete hard-coded mapping of item types when it ought to be dealing only in items' accepted state types.)

Since the cause is known, please open an issue [here](https://github.com/openhab/openhab/issues) and I will see about a pull request.

[2016-11-10 09:26] kohlsalem commented on #1401
@watou i did as you adviced here: https://github.com/openhab/openhab/issues/4759

[2016-11-10 12:35] petarnv opened #1402 "Proposal for tests for the Astro Binding"
I have started implementing tests for the Astro Binding.

@gerrieg, as an initial contributor, do you think it is a good idea to implement tests for this binding?

[2016-11-10 16:38] paulianttila commented on #581
Fixed with #1362

[2016-11-10 19:22] tavalin opened #1406 "Chromecast doesn't get set to online"
PR #1398 introduced an issue whereby the Chromecast thing is never set to online unless the control channel is linked or sent a command.

[2016-11-10 19:46] tavalin commented on #1381
As a workaround to the initial issue I realised that you can define your Android TV (or any Chromecast-capable device) as a normal Chromecast via the .things file as follows:

`chromecast:chromecast:androidtv [ipAddress="192.168.X.X"]`

I'll continue to investigate the merits of mDNS over UPnP over the next week and send through a PR if necessary.

[2016-11-10 21:05] paulianttila commented on #1305
THERMOSTAT1  messages doesn't support battery level, so there is a bug in the rfxcom binding. Just created PR which should fix the issue.

[2016-11-10 21:11] #1305 closed

[2016-11-10 21:14] FutureCow commented on #1305
Thanks for your PR. I'm also getting errors trying to change setpoint:
22:08:15.016 [INFO ] [smarthome.event.ItemCommandEvent    ] - Item 'rfxcom_thermostat1_usb0_28820_setpoint' received command 19
22:08:15.017 [DEBUG] [binding.rfxcom.handler.RFXComHandler] - Received channel: rfxcom:thermostat1:usb0:28820:setpoint, command: 19
22:08:15.017 [WARN ] [binding.rfxcom.handler.RFXComHandler] - RFXCOM

[2016-11-11 06:46] #1399 closed

[2016-11-11 14:52] lewie commented on #503
@DimitrisSar, @tkuehne71, @whopperg
[#4765](https://github.com/openhab/openhab/pull/4765) is a new PR to prevent OH2 to trigger KNX bus twice per event.
For testing please use this [file](https://github.com/lewie/openhab/raw/9e96c8998e67808b174c8860f7d37a9a19fbf9aa/org.openhab.binding.knx-1.9.0-SNAPSHOT.jar).

@DimitrisSar, at the moment we use java 1.7 environment in OH versions!

[2016-11-11 15:39] paulianttila commented on #598
duplicate to #671

[2016-11-11 15:46] gerrieg commented on #1402
sure, tests are always good

[2016-11-11 15:47] paulianttila commented on #671
Should we update nrjavaserial to version 3.12.0. It still seems to be pre-release, but nothing has happen since 20th of feb.

[2016-11-11 16:35] kaikreuzer commented on #671
https://github.com/NeuronRobotics/nrjavaserial/issues/44 is still a blocker for me. If the project is dead, we can discuss to fork it and take over - but we would need someone willing helping to maintain it.

[2016-11-11 17:04] lolodomo opened #1412 "Sonos binding: class ZonePlayerConfiguration"
This class is unused except for constants UDN and IDENTICATION.
It should be fixed to match the real configuration of a Sonos thing, that is with only two fields: udn and refresh. Then this class could be used in ZonePlayerHandler. If not used, the class should be simply removed.
IDENTIFICATION constant should probably be moved to SonosBindingConstants.

<bountysource-plugin>
---
Want to back this

[2016-11-11 17:05] lolodomo commented on #1412
Wrong repo !

[2016-11-11 17:05] #1412 closed

[2016-11-11 20:48] #1361 closed

[2016-11-12 04:19] DimitrisSar commented on #503
@lewie

New Test performed.   Something is broken with the new KNX Snapshot binding...

I have communication to the KNX Bus in Router mode, it reads the autorefresh statuses upon startup from the status GAs but it does not react on On/Off commands from BasicUI or HABPanel.

Base Scenario: OH 2.0.0-Snapshot Build # 581 with KNX Binding version 1.9.0.201611120211 from Cloudbees
Base Log: [Old_KNX.tx

[2016-11-12 17:40] lolodomo commented on #1343
@paulianttila : I tried snapshot 582 and I got the formmating exception.
Additionally, my bridge thing were there and ONLINE but my child things (Oregon sensors) were not there (not displayed in Paper UI nor by a "smarthoime:things list" command).
It looks like something is still broken.
The same setup in snapshot 554 is working well.

[2016-11-12 20:13] lolodomo opened #1416 "RFXCOM: missing things when running snapshot 583"
Running snapshot 583, the RFXCOM binding is no more working (the binding is OK in snapshot 554).
After startup, I have my bridge thing ONLINE:
[code]
But my child things are missing. Here is how my things file is defined:
[code]
Was there a syntax change in the DSL ?

[2016-11-12 20:21] tavalin commented on #1406
Not sure why this wasn't auto closed by PR#1408.  Closing.

[2016-11-12 20:21] #1406 closed

[2016-11-12 20:22] paulianttila commented on #1343
@lolodomo just tested latest snapshot and for me temperature humidity sensors are working fine (I also have some Oregon sensors). Try to remove one sensor and see if rediscovery helps.

[2016-11-12 21:05] lolodomo opened #1417 "VoiceRSS TTS; file voicerss.cfg should be added automatically in conf/services"
When installing VoiceRSS TTS, no voicerss.cfg file is created in conf/services directory.

[2016-11-12 21:09] paulianttila commented on #1416
Thing-type for humidity temperature has been changed by @harryzz PR https://github.com/openhab/openhab2-addons/pull/1387. Don't know why?

[2016-11-12 21:12] kaikreuzer commented on #1417
The documentation does not claim that there is one.
But yes, feel free to create a PR to add this similar as it is done [for other addons](https://github.com/openhab/openhab2-addons/blob/master/features/openhab-addons/src/main/feature/feature.xml#L309).

[2016-11-12 21:25] harryzz commented on #1416
Hello
things types changed because of https://github.com/openhab/openhab2-addons/pull/1387

br
Zahari

[2016-11-12 21:26] ThomDietrich commented on #1417
there should be.

It's counterintuitive to have none and users will be rattled by that.

[2016-11-12 21:28] lolodomo commented on #1416
@paulianttila : thanks a lot for this finding, my things are back. I have to update all my links now !
This change was not very clever as it breaks existing setups. And the readme was even not updated.

[2016-11-12 21:28] #1416 closed

[2016-11-12 21:42] paulianttila commented on #1416
I will change thing temperature_humidity back to temperaturehumidity as it's inline other thing types.

[2016-11-12 21:52] harryzz commented on #1416
Hello
I think you are wrong. If you don't like underscores you need to change in RFXComBaseMessage.java and in all other java files where Packet type TEMPERATURE_HUMIDITY is used. There are also other mismatched packet types in rfxcom bindings with underscore.

br
Zahari

[2016-11-12 21:55] lolodomo commented on #1378
@clinique: that is totally strange. With exactly the same Netatmo binding (same jar), humidity values were OK this morning when I was running snapshot 554. Now I moved to snapshot 583 and the problem appeared for me too !!!
[code]

[2016-11-12 22:08] paulianttila commented on #1416
@harryzz: I have changed RFXComMessageFactory packet type converter to remove underscores before compares packet types. This change is already committed to master. In fact I did this change long time ago, but forgotten to do PR for it.

[2016-11-12 22:22] harryzz commented on #1416
Hello
it seems this is the best solution in this case.

br
Zahari

[2016-11-13 10:15] lolodomo commented on #1343
@paulianttila : as discussed in another issue, my problem is fixed. And the formatting exception was probably not relative to a channel of the RFXCOM binding.

So maybe this issue can be closed ?

[2016-11-13 10:18] lolodomo commented on #1378
Here are examples of the states that show new range value between 0 and 1:
[code]
@clinique: any idea ?

[2016-11-13 10:22] lolodomo opened #1418 "VoiceRSS TTS: voices"
Following discussed issue https://github.com/eclipse/smarthome/issues/2453 , we need a voice per locale with a unique label.
@kaikreuzer @JochenHiller : I think it could be simply fixed by updating the methods getAvailableVoices() and getAvailableVoices(Locale locale) in class VoiceRSSCloudImplementation. The default voice for a locale could be named using "locale.toLanguageTag()" rather than a sy

[2016-11-13 12:00] lolodomo commented on #1418
I can try to provide a fix if Jochen has no time for that.

[2016-11-13 15:05] paulianttila commented on #1343
@lolodomo I agree, this can be closed. Formatting problem was fixed by the commit #1385 which actually is a problem on smarthome side (https://github.com/eclipse/smarthome/issues/2408)

[2016-11-13 16:52] #1343 closed

[2016-11-13 19:58] lolodomo commented on #1418
I fixed it.

Now that TTS is working with VoiceRSS as TTS engine and Sonos as audio sink, I would appreciate to know if it exiists a command we can use in rules ?

[2016-11-13 21:09] #1417 closed

[2016-11-14 10:45] fsdfasf commented on #496
Where can i find a .jar file of the org.openhab.binding.wifiled ?

(Sorry, I`m new to openhab. Still struggling with openhab. Rried some compiling but have no idea what i`m doing/ should do)

[2016-11-14 10:56] xylo commented on #496
@fsdfasf
[Here](http://stefan.endrullis.de/openhab2/org.openhab.binding.wifiled-2.0.0-SNAPSHOT.jar) is a compiled version of the patched wifiled (see #755).

[2016-11-14 14:06] svilenvul commented on #1396
@davorf
Thanks for reporting this issue. I am the initial contributor of the Systeminfo 2.0 binding.

From the log I see, the problem is most probably caused from the underlying library([oshi](https://github.com/oshi/oshi)). I can not open a bug before updating to the latest version (the version used in the Systeminfo 2.0 binding is 2.5 and the latest stable is 3.2 ), because the problem might be

[2016-11-14 14:52] davorf commented on #1396
Hello!

I have OpenHAB 2 offline installed/extracted from the .zip file. Will it be enough to uninstall and then reinstall binding from the Paper UI, or there is some other procedure to install updated binding? I have Access remote repositories and Include Legacy 1.x bindings turned on, and Include experimental extensions turned off in System settings.

Best regards,
Davor

[2016-11-14 15:34] svilenvul opened #1424 "Update oshi-core in the Systeminfo 2.0 Binding"
I have seen that there are some reported issues regarding the underlying OSHI library in the Systeminfo 2.0 Binding : #1396, #1324 and [this comment](https://github.com/openhab/openhab2-addons/issues/365#issuecomment-227733452).

I think it will be better to update the version of oshi-core (the currently used in the binding is 2.5 and the newest is 3.2.) . It is very possible that the issues are a

[2016-11-14 16:02] svilenvul opened #1425 "Adapt Binding tests to the new Bridge/Thing lifecycle"
The [PR merged in smarthome repo](https://github.com/eclipse/smarthome/pull/2087)  will break the existing tests is openhab2-addons, as they are relying on the fact that ThingHandler is registered as a Service, when a new stable version of ESH is released.

I will prepare a PR for the required adaptations.

[2016-11-14 16:17] kaikreuzer commented on #1425
It already exists since a week! https://github.com/openhab/openhab2-addons/pull/1394

[2016-11-15 11:52] svilenvul commented on #1425
@kaikreuzer
I just wanted to add a few lines to the binding tests.

[2016-11-15 12:23] #1235 closed

[2016-11-15 12:23] OLibutzki commented on #1235
Closed the issue because #1236 is merged.

[2016-11-15 15:23] paulianttila commented on #1312
ftdi_sio is not probably enough, you should disable also usbserial, at least application note says so.

http://www.ftdichip.com/Support/Documents/AppNotes/AN_220_FTDI_Drivers_Installation_Guide_for_Linux.pdf

If you don't want disable ftdi_sio, you could always use serial port communication rather than JD2XX. You just need to add "RFXCOM USB Transceiver" bridge manually.

[2016-11-15 15:24] paulianttila commented on #581
@kaikreuzer, this can be closed.

[2016-11-15 15:28] svilenvul commented on #1396
When it is merged, I guess it will be possible.

You can try now with this jar file:
[org.openhab.binding.systeminfo-2.0.0-SNAPSHOT.jar.zip](https://github.com/openhab/openhab2-addons/files/592389/org.openhab.binding.systeminfo-2.0.0-SNAPSHOT.jar.zip). Simply replace the file in your addons folder.

[2016-11-15 19:46] #581 closed

[2016-11-15 21:26] normen1 opened #1428 "FGS-213 doesn't update the status if you switch it directly on device"
The device FGS-213 by fibaro doesn't update the status if you switch it manually directly on the device. If you look in Habmin in the zwave network viewer there is no connection displayed. If I turn on the device via openhab item the device switch on. So the connection was established and is working. If I refresh the item manually in Habmin the data will be displayed.

I still use FGS-223 by fibar

[2016-11-15 21:30] cdjackson commented on #1428
Normally this is associated with not setting the configuration correctly. Please check the association configuration. If the problem persists please discuss it on the forum.

[2016-11-15 21:30] #1428 closed

[2016-11-15 21:32] normen1 opened #1429 "The chart renderer doesn't work with the switch item in openhab2"
If you connect a chart in openhab2 with a switch item which has the value on/off a chart doesn't show a graph. If you change the item to an number item with 0 and 1 value the graph will be displayed.

[2016-11-15 21:40] normen1 commented on #1428
There is no association configuration in habmin like in other device configurations.

[2016-11-16 07:02] #1360 closed

[2016-11-16 11:00] davorf commented on #1396
Hello!

I've just tried a new binding jar, but it still reports thing as uninitialized. The message I get in log is:

[code]

Best regards,
Davor

[2016-11-16 11:03] #1418 closed

[2016-11-16 12:47] kaikreuzer commented on #1429
This does not seem to be related to any openhab2 add-on (this is what this repo is about).

From your description, I cannot tell whether there is a bug somewhere in charting, persistence or any UI/app or if it merely is a misconfiguration. I'd suggest that you first discuss your issue at https://community.openhab.org/ and enter an issue at the right repository, once it is clear where the problem i

[2016-11-16 12:47] #1429 closed

[2016-11-16 15:52] lewie commented on #503
@DimitrisSar,

I used the snapshot and this testconfig:
*busaddr=15.15.244*
*ignorelocalevents=true*
*type=ROUTER*

in OH1 and OH2 no problems!

The displayed *'1. internalReceiveCommand' (was 'Received command')* and *2. internalReceiveUpdate (was 'Received update')* is ok.

Missing *2. internalReceiveUpdate* is another issue, because it should look like:
OH1:
[code]

OH2:
[code]

Background:
[co

[2016-11-17 03:56] chriscolden opened #1432 "Chromecast Binding doesn't discover ChromeCast Audio Groups"
Hi,

I was excited to find a chromecast binding in oh2. Unfortunately it's not finding my ChromeCast Audio Groups.

I've played with pychromecast and this found the groups as soon as one was enabled, so I assumed they were the same technology, possibly just passing a parameter back which the binding isn't expecting. Would be great to get these added in as well. Think of them as virtual chromecasts

[2016-11-17 04:08] chriscolden commented on #1432
Could it be this...
 if (modelDetails.getModelName().equals("Chromecast Audio")) {
                    return ChromecastBindingConstants.THING_TYPE_AUDIO;

It possibly return Chromecast Audio Group and the binding currently is only looking for audio or video.

[2016-11-17 08:10] kaikreuzer commented on #1432
There are discussions to support "any" chromecast-capable device, this would then also include virtual groups. I think this will require to move from UPnP to mDNS discovery as it is discussed here: https://github.com/openhab/openhab2-addons/issues/1381#issuecomment-259277238

[2016-11-17 10:02] tavalin commented on #1432
I still intend to create the PR to move discovery to mDNS in order to support any chromecast-capable device but my concern here (as I don't have a Chromecast Audio) is whether the library we're using supports control of Audio Groups.

[2016-11-17 10:59] svilenvul commented on #1396
Hmm, strange, maybe I missed to export something.
Anyway the PR with the update is merged, so it will be available in two or three days.

[2016-11-17 12:19] petarnv commented on #1402
I have made a PR with implemented tests: https://github.com/openhab/openhab2-addons/pull/1434

[2016-11-17 12:59] chriscolden commented on #1432
Groups are just virtual Chromecasts, so my guess is it would, however it would need testing.

pychromecast pushed this exact change to support groups.

https://github.com/balloob/pychromecast/commit/e250c80b82cdc2c66bbfadb5044248dfdb2d9334

[2016-11-17 13:05] clinique commented on #1378
Hey ! I do have it now, me too !

[2016-11-17 13:17] lolodomo commented on #1378
Ouf :)
Why does it happen for everybody not at the same time ?!
It occurs to me when I switched from snapshot 554 to snapshot 583 but still using the same binding jar (your updated version).
@clinique: I have still my old snapshot ready tp be started. If it can help, I can start it again to see if values are then OK again. It will just confirm that the problem is relative to a change in openHAB co

[2016-11-17 13:37] clinique commented on #1378
@lolodomo  : because I don't think it comes from the binding, neither netatmo API but ESH.
I found that in my log :
2016-11-17 14:29:11.663 [DEBUG] [.smarthome.core.items.ItemUtil:84   ] - Converting PercentType '62' to DecimalType '0.62000000' for item 'netatmo_in_humidity'

Now, must see what changed to introduce this behaviour.

[2016-11-17 13:45] watou commented on #1378
Two candidates:

* https://github.com/eclipse/smarthome/pull/2334
* https://github.com/eclipse/smarthome/pull/2393

[2016-11-17 16:07] lolodomo commented on #1378
@clinique: that is probably because you are using a PercentType rather than a DecimalType ?

[2016-11-17 16:08] clinique commented on #1378
@lolodomo : yes !
I just pushed an update of the PR that correct this issue

[2016-11-17 16:11] lolodomo commented on #1378
Ok thank you, I will test your last version later today.

[2016-11-17 16:21] clinique commented on #1378
@lolodomo : I still have got an issue without clear solution now. This applies to the thermostat :
When you update a value from a sitemap (let say changing the mode from "program" to "away", the modification has impacts on many channels (=> setpoint changes) and this is not immedially reflected until the device gets updated upon some minutes. I tried forcing a refresh of the device, but still get

[2016-11-17 18:11] tavalin commented on #1432
[code]

What's interesting here is that these devices share the same IP - could you possibly try the java chromecast library and confirm if it works for properly?

[2016-11-17 19:22] chriscolden commented on #1432
They share the same ip as one of the chromecasts in the group. As you can see the downstairs group and kitchen both share the same ip. My guess is that the first chromecast to connect to the network which is appart of the group gets a master status, and therefore shares the group out.

It's been a long time since i've coded in java but I can give it a shot.

[2016-11-18 07:06] LukaNoah commented on #1378
Hi,
with the latest OH2 snapshoot the binding doesn't work. The modules are all "uninitialized" (handler error). The API is "online".

Where can I get the latest snapshoot of this binding? How can I include this to OH2?

[2016-11-18 08:23] lolodomo commented on #1378
Unfortunately the PR fixing all problems for this binding in current snapshot is not yet merged. We are waiting for the merge.
Currently it is required to compile clinique's PR yourself to produce the expected jar.
We will provide a download link to a working version of the binding in case the PR is not merged soon.

[2016-11-18 10:13] kaikreuzer commented on #1378
@lolodomo Are you referring to https://github.com/openhab/openhab2-addons/pull/1099?
This still seems to be under active discussion/development, so I didn't yet consider it as a candidate for merging. Is this a false impression?

[2016-11-18 10:32] lolodomo commented on #1378
@kaikreuzer : yes I am talking about the PR #1099. I let @clinique tell you the exact status but for me this PR is now no more in active discussion/development, there was only recent changes required by recent changes in ESH (thing life cycle, conversion of types, ...).

[2016-11-18 13:20] chriscolden commented on #1432
turns out my java skills really aren't that good, im having trouble using the v2 api it's throwing dependencies all over the shop. sorry guys.

[2016-11-18 14:12] #1006 closed

[2016-11-18 20:22] MHerbst opened #1435 "[HomeMatic] Endless loop when configuring bridge (Build #595)"
I have downloaded the latest online build of openHab. Then I installed the Homematic binding.
I have entered a value for the gateway address (I left all other settings unchanged) and tried to save the configuratoin. But I got a server error 500 and the log shows the following stacktrace:

[code]

I am not absolutely sure whether this is a problem with the Homematic binding itself. I have also trie

[2016-11-19 03:12] dschulte opened #1437 "NullPointerException if a system variable is present in homegear"
As soon as I add a system variable in homegear I see the following exception in the openhab log when scanning for new things in the homematic binding in paper ui:
[code]

add a variable:
[code]
delete variable:
[code]

I don't know which other information might be interesting. Please ask.

[2016-11-19 10:28] ibaton commented on #1435
Same problem for the bridge in hue binding

[2016-11-19 10:38] MHerbst commented on #1435
This means it is a general problem located in Smarthome.

[2016-11-19 10:45] MHerbst commented on #1435
I have tested Build 594 and with this build the bridge configuration works fine.

I have created an issue in the Smarthome repository https://github.com/eclipse/smarthome/issues/2495.

[2016-11-19 10:45] #1435 closed

[2016-11-19 12:07] LukaNoah commented on #1378
Many thanks for your work.
Now it works perfectly.

[2016-11-19 12:11] lolodomo commented on #1378
@LukaNoah : please close the issue.

[2016-11-19 12:16] LukaNoah commented on #1378
How? I can't find nothing to do this.

[2016-11-19 12:19] lolodomo commented on #1378
As initiator of the issue, you should have a button "Comment" and a button "Close and comment" (something like that).

[2016-11-19 12:32] michaeljoos72 commented on #1378
Humidity works now! Thanks for the fix.
What does not work anymore for me is air quality for additional modules. Main Module looks good.

[2016-11-19 13:07] LukaNoah commented on #1378
Humidity

[2016-11-19 13:08] #1378 closed

[2016-11-19 13:42] lolodomo commented on #1116
Now fixed

[2016-11-19 13:42] #1116 closed

[2016-11-19 17:01] lolodomo commented on #1352
Enhancement implementated.
To be closed.

[2016-11-19 17:04] lolodomo commented on #866
Issue to close.

[2016-11-19 17:06] lolodomo commented on #1137
Issue to close

[2016-11-19 17:10] lolodomo commented on #805
Issue to close

[2016-11-19 17:18] #805 closed

[2016-11-19 17:18] #1137 closed

[2016-11-19 17:19] #866 closed

[2016-11-19 17:19] #1352 closed

[2016-11-19 18:12] kubawolanin opened #1439 "Add Amazon Polly TTS Voice (previously Ivona Speech Cloud)"
As a big enthusiast of openHAB I'd like to suggest implementing yet another Text-to-Speech service, based on [Ivona Speech Cloud](http://developer.ivona.com/en/speechcloud/introduction.html).
It's a polish service (the company was acquired by Amazon some time ago) that produces really accurate and natural sounding voices. And - what's important for me, particularly - has great Polish language supp

[2016-11-19 18:44] MHerbst opened #1440 "[Homematic] Smoke Detector HM-Sec-SD-2 missing in description.properties"
description.properties already contains a smoke detector of type HM-Sec-SD. My smoke detector identifies with type HM-Sec-SD-2.
@gerrieg  I have executed the CcuMetadataExtractor but it did not create an entry for HM-Sec-SD-2.

[2016-11-19 19:18] lolodomo commented on #1439
I just tested the 2 french voices and that looks to me less good than VoiceRSS.
Can you confirm that the service is not free ?
But that is a good thing to add more and more TTS engine.

[2016-11-19 19:26] kubawolanin commented on #1439
Well, I'm sure there are better services for French, but for polish it's one of the best :) They support 51 voices for 23 languages so far, so I think it's a good to have it inside openHAB.

[For development account](http://b2b.support.ivona.com/articles/en_US/FAQ/Speech-Cloud-cost/?l=en_US&fs=Search&pn=1) it's free for 50000 units/month.
[Here's a brief explanation of what's the definition of uni

[2016-11-19 19:52] lolodomo commented on #1439
Each user will have to create a developer account ?

[2016-11-19 19:54] kubawolanin commented on #1439
Yes. The same way you do it for [Nest binding](https://github.com/openhab/openhab/wiki/Nest-Binding#binding-configuration) or VoiceRSS in that matter.

[2016-11-19 20:00] ebazan opened #1441 "SMA Energy Meter configuration"
As a newby I'm trying to configure my SMA Energy Meter Thing in Open HAB without succeding.
What should I write in the .config / .items / .site files.
I tried following the examples wit no success.

Many thanks for the support.

             enrico

[2016-11-19 20:03] kaikreuzer commented on #1441
Hi Enrico,

please use our forum at https://community.openhab.org/ for support. Thanks!

[2016-11-19 20:03] #1441 closed

[2016-11-19 20:10] ebazan commented on #1441
Ok, sorry.

[2016-11-19 20:59] MHerbst opened #1442 "[Homematic] NPE after connection to the CCU got lost"
Some time after the start of openHAB I got a message that the connection was lost. After this message appeared I have tried to set a new temperature value (via Paper UI). This lead to a NPE in the Homematic binding each time I tried it.

[code]
According to the log the temperature was changed from 21.00 to 20.7 but when I look at the CCU Web API nothing was really changed.
To me it seems that afte

[2016-11-20 07:56] gerrieg commented on #1442
I've found the bug, thank you for the info, i will fix it soon.

[2016-11-20 08:41] gerrieg commented on #1442
@MHerbst
fixed with https://github.com/openhab/openhab2-addons/pull/1443

[2016-11-20 08:41] clinique commented on #1295
@planbnet  : can you test with last evolution of the binding ? You shall no more face this issue.

[2016-11-20 09:21] michaeljoos72 opened #1444 "Netatmo "Air Quality" not working anymore for additional modules"
Hi

With latest update to fix the humidity a new issue popped up for me:
CO2 (Air Quality) doesn't work anymore. But only for my **additional indoor modules**. Main module does work as expected!

Thanks
Michael

[2016-11-20 09:25] kaikreuzer commented on #1439
For VoiceRSS you need to sign up for an account as well, but Ivona seems to be a bit more strict regarding having accounts only for developers:

___"Speech generated with this service can be used only for development purposes. To start using this service we ask you to fill this form, it should take about 2-5 minutes."___

They ask a lot of questions, so I am not sure if they will approve "regular"

[2016-11-20 11:43] hmerk commented on #1199
Doku has been updated, just a small detail for V3+ bridges missing.
This issue can be closed.

[2016-11-20 11:49] hmerk commented on #365
I guess this can be closed as the new systeminfo binding is in place now.

[2016-11-20 15:51] kohlsalem opened #1445 "Homematic: DateTime Handling for HMIP-WTH - PARTY_TIME"
Hi,

Homematic IP Thermostats support with their IP AP a very nice "Urlaubsfunktion" Vacation Feature. I can basically lower the heating until a given date/time.

Now i run the IP Thermostat on a ordinary CCU2, and want to reestablish the Feature vis OH2.

i configured items:

Switch PartyMode      "Party Mode" <heating>  { channel="homematic:HMIP-WTH:a8faecaa:000313C98CBC67:1#PARTY_MODE" }
Number

[2016-11-20 17:00] MHerbst commented on #1445
I only have the older Thermostats and I tried it with one of them. I did not define an own items file but used the automically created item.
In PaperUI control section the time is shown as minutes since midnight. I have tried to change the value (not so easy with a slider from 0 to 1410) but it had no effect. Same happened when I tried to set the party start/stop day (setting the temperature worke

[2016-11-20 17:21] #365 closed

[2016-11-20 17:21] #1199 closed

[2016-11-20 18:22] NorbertHD opened #1446 "[Paper UI] Astro Control 12 hour format"
In Paper UI in Control view the Astro binding shows times in 12 hour format without am/pm abbreviation.
Can somebody please change it to 24 hour format? It's in org.eclipse.smarthome.ui.paper-0.9.0-SNAPSHOT.jar file controllers.min.js line 2452.

Change
            return $filter('date')(date, "dd.MM.yyyy hh:mm:ss");
To
            return $filter('date')(date, "dd.MM.yyyy HH:mm:ss");

Capital lett

[2016-11-20 18:30] NorbertHD opened #1447 "[Paper UI] Yahoo Weather Control wrong air pressure"
In Paper UI Control view the Yahoo Weather binding shows the wrong air pressure. Actually it shows 33491 hPa which is about 33 times to high. Normal air pressure is around 1013 hPa.

[2016-11-20 18:39] NorbertHD opened #1448 "[Harmony] Warning Command REFRESH is not a String type"
Harmony Binding logs Warnings:
[code]

[2016-11-20 19:53] monnimeter opened #1449 "[amazondashbutton] Binding does not work with new Dash Buttons"
The amazondashbutton binding works only with those buttons which send ARP requests. Unfortunatelly most of the new buttons sold in Germany have a new hardware version which uses the UDP Bootstrap Protocol (bootp).

The model number of these "new" buttons is JK29LP (old model nr. is JK76PL). I've found a German page explaining the difference - there's also a working example script (python):
https:/

[2016-11-20 20:17] bboser opened #1450 "system info NullPointerException"
In a brand-new installation based on openhabian (on an rpi 3), the OH2 system info binding throws a null pointer exception on startup and does not update any channels.

Config: (no cfg file)
`Thing systeminfo:computer:raspberrypi [interval_high=15, interval_medium=120]

Group gSystem
Number cpuMemTotal     "Memory total [%.0f MBytes]"      (gSystem) { channel="systeminfo:computer:raspberrypi:memor

[2016-11-20 20:23] bboser commented on #1295
I observe the same error, but just with temperature modules (I do not have a thermostat). From the log:

`11:47:47.961 [INFO ] [me.event.ThingStatusInfoChangedEvent] - 'netatmo:netatmoapi:home' changed from INITIALIZING to ONLINE
11:47:48.000 [WARN ] [.handler.AbstractNetatmoThingHandler] - Unable to load property signalLevels
11:47:48.000 [WARN ] [.handler.AbstractNetatmoThingHandler] - Unable to

[2016-11-20 21:03] kaikreuzer commented on #1450
@svilenvul Could you please have a look?

[2016-11-20 21:12] OLibutzki commented on #1449
Thanks for the issue. I wil take a look at it asap.

[2016-11-20 21:53] monnimeter commented on #1449
👍, thank you.

IMHO this could be a good starting point:
https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.network/src/main/java/org/openhab/binding/network/service/dhcp

[2016-11-20 22:54] digitaldan commented on #1222
I just made a PR here https://github.com/openhab/openhab2-addons/pull/1451 , I'm hoping that this helps when there are stream errors and not create duplicate connections.

[2016-11-21 06:29] rene54321 commented on #1444
Is the outdoor module working correctly? As my one shows still not correct values and does not update.

[2016-11-21 06:43] #1448 closed

[2016-11-21 07:04] michaeljoos72 commented on #1444
Yes outdoor looks good in my system:

![image](https://cloud.githubusercontent.com/assets/20517474/20473455/22a06f7e-afc1-11e6-94f6-6262420e0517.png)

[2016-11-21 07:43] rene54321 commented on #1444
Could you share your things configuration with me (without secret and so on). I dont find any failure in my setup.

[2016-11-21 07:54] clinique commented on #1295
I suspect that you still have outdated versions of OH2 and/or the binding. This error :
11:47:48.000 [WARN ] [.handler.AbstractNetatmoThingHandler] - Unable to load property signalLevels
should have disappeared now.

Can you control ?

[2016-11-21 08:26] bboser commented on #1295
How do I check the version?

I've installed a fresh copy (via openhabian) of OpenHAB2 yesterday. If I understand correctly, openhabian downloads the latest version of OpenHAB. Hence I would not expect it to be outdated.

Also, configuring from the Paper UI, I got the binding to update items (except the CO2 of an auxiliary module which always returns null), but the textual configuration does not wo

[2016-11-21 08:35] bboser commented on #1295
Just ran apt-get update and upgrade (downloaded fresh openhab). Errors still in log:

`00:33:14.259 [INFO ] [home.event.ItemChannelLinkAddedEvent] - Link 'Netatmo_Outdoor_BatteryLevel-netatmo:NAModule1:home:outside:BatteryVP' has been added.
00:33:14.260 [INFO ] [home.event.ItemChannelLinkAddedEvent] - Link 'Netatmo_Outdoor_Humidity-netatmo:NAModule1:home:0200000126b8:Humidity' has been added.
00:

[2016-11-21 13:21] OLibutzki commented on #1449
This one fits pretty well as it uses the Pcap4J which I use for the binding as well: http://www.stefreitag.de/wp/2016/10/29/dashbutton-detektieren-per-java/

[2016-11-21 16:56] monnimeter commented on #1449
👍
Yes, you're right. Please let me know if you need my support (i.e. for testing).

[2016-11-21 17:17] kaikreuzer commented on #1447
Please report that as a bug for the Yahoo weather binding at https://github.com/eclipse/smarthome/issues.

[2016-11-21 17:17] #1447 closed

[2016-11-21 17:18] kaikreuzer commented on #1446
Could you please add this as a bug for the Paper UI at https://github.com/eclipse/smarthome/issues? Many thanks!

[2016-11-21 17:18] #1446 closed

[2016-11-21 17:19] #1424 closed

[2016-11-21 17:53] TimWeyand opened #1454 "Can not install openhab-binding-harmonyhub"
Hi,
i am unable to install the harmony hub binding in openhab2 online. I tried it in the Paper UI and Console.

[code]

My Environment:

- Raspberry Pi 2
- Rasbian Jessey
- openhab Beta4

Other Binding installations seem fine (except the error at the end)
[code]

[2016-11-21 18:03] TimWeyand commented on #1255
Is there any update on this issue? Will the accessories type extension be available in the next Beta? Is there any movement in https://github.com/eclipse/smarthome/issues/1093 "behind closed doors"?

[2016-11-21 18:09] kaikreuzer commented on #1255
No, I am still waiting for responses on my last post on that issue.

[2016-11-21 18:20] kaikreuzer commented on #1454
This is a problem in beta4 online as it tries to get the latest snapshot of add-ons (instead of the beta4 version). Same issue as https://github.com/openhab/openhab-distro/issues/316.

[2016-11-21 18:20] #1454 closed

[2016-11-21 18:39] jhuizingh opened #1455 "Squeezebox .things file errors"
I originally reported this issue here: https://community.openhab.org/t/squeezebox-trouble-in-openhab2/17052. @kaikreuzer suggested [opening an issue](https://community.openhab.org/t/squeezebox-trouble-in-openhab2/17052/4?u=jonnydev13) since the log shows a bug in the code of the binding.

I have just recently set up a squeezebox server and playing in my house and I am trying to get them connected

[2016-11-21 18:49] jhuizingh commented on #656
It seems this issue may be out of date. The configuration for the .things is now

[code]

according to https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.squeezebox.

[2016-11-21 18:50] kaikreuzer commented on #1455
Having had a closer look at the Squeezebox code, I am not that sure anymore that the bug is within in.
The `BundleContext is no longer valid` message means that somehow the bundleContext is outdated - but this is set and unset by the BaseThingHandlerFactory, so the issue might rather be within the core framework. @sbussweiler, can you make sense out of that?

[2016-11-21 20:14] jmccoy555 commented on #1455
Hi all, as I said in the community post referenced above, I am having what appears to be the same issue since update to the latest snapshot from #580 when this this was working as expected when configure through the .thing file.

Despite this issue, I have just noticed that the title is still being update within openhab when controlled directly by the lms.

More than happy to help with any testing

[2016-11-22 03:53] bboser commented on #1295
I'm again attaching the log, this time with TRACE turned on (although there do not appear to be any trace messages) and as a file (perhaps the formatting is better). In addition to
`19:37:03.003 [WARN ] [.handler.AbstractNetatmoThingHandler] - Unable to load property signalLevels`
the authorization error
`An error occured while calling station API : org.apache.oltu.oauth2.common.exception.OAuthSys

[2016-11-22 10:38] OLibutzki commented on #1449
I have two JK29LP Dash buttons and both work with this binding without any problems. I do not have a JK76PL model.

Did you start openHAB as root or did you grant the capabilities to the java Process as described here? http://docs.openhab.org/addons/bindings/amazondashbutton/readme.html

[2016-11-22 11:13] Baumi1245 commented on #1314
One or two weeks ago CUxD devices where shown.

But i don´t have them with the latest snapshot - i also updated CUxD to 1.8 and the CCU to 2.25.14.
So i can´t tell when they disapeared...

Should they be there?

[2016-11-22 15:43] OLibutzki commented on #1449
I just compared the performance between bootp and arp and bootp is about 50 ms faster than arp, but I think this difference is not that important.

[2016-11-22 16:38] gerrieg commented on #1440
The Extractor can not extract all descriptions, so we have to add them manually, see https://github.com/openhab/openhab2-addons/pull/1460

[2016-11-22 16:44] gerrieg commented on #1445
to say something, i need to see the metadata, because i don't have this device. So please switch the binding into trace mode and send me a full startup log:
[code]

[2016-11-22 16:58] monnimeter commented on #1449
openHAB is run with its own user. Caps are granted as per documentation.
BTW: the binding discovers automagically the other Amazon devices, i.e. a Kindle.
I've also tested an ARP based Python Script; it also did not recognoze the button. But, another Python Script based on BOOTP works well.

[2016-11-22 16:59] monnimeter commented on #1449
Did you implement a BOOTP packet listener? I could give it a try...

[2016-11-22 17:46] OLibutzki commented on #1449
That's interesting. Obviously the model number is not the criteria for the ARP request being sent.

I will update the binding. It will handle bootp packets as well. You can help me a lot, if you test my implementation.

[2016-11-22 18:09] monnimeter commented on #1449
Yes, I'll do it for sure. In #1236 I saw @kaikreuzer had also issues with his dash button... maybe he will also give it a new try.

Which FCC-ID do your buttons have? Mine has 2AETK-1013

[2016-11-22 18:37] MHerbst commented on #1440
OK, I understand. Next time I will add them to the extras descriptions file.

[2016-11-22 18:37] #1440 closed

[2016-11-22 19:58] rogro82 commented on #1381
If you want to support the Google Cast-protocol instead of just Chromecast-devices the correct way is to use mDNS discovery. In my opinion it would also be better to rename the binding itself to a Google Cast-binding once it uses mDNS and can be used with other supported devices ( https://www.google.com/intl/en_us/cast/ ).

[2016-11-22 21:52] OLibutzki commented on #1449
Same here

I added BOOTP support. You can download the binding [here](https://ufile.io/88725).

Thanks for testing!

[2016-11-22 22:06] dka23 commented on #503
Sorry for testing this very late - however it seems that with this snapshot items of type "Dimmer" and "Switch" are not transmitted to KNX bus anymore when changed from Basic UI or REST or the mobile app.

Otherwise I can also confirm that I cannot see any echoed events anymore.

[2016-11-23 03:03] beowulfe commented on #1255
Sorry @kaikreuzer - I somehow missed your reply. I replied on that thread now.

[2016-11-23 03:15] DaAwesomeP opened #1461 "Migrate UPB Binding"
Hi,
I've been using the UPB binding from OH1 in OH2, and it would appear to work perfectly. I requires the serial binding, and it has two configuration options:
[code]

[2016-11-23 06:43] re-vo-lution opened #1462 "Erroro homematic-binding - ThingImpl cannot be cast"
I created my system new(rasperry 3) with openhabain-image and do the steps 1-6, 11 and 21. I changed the adress for the HM-MOD-RPI-PCB. I have done this with the same image some weeks ago and it work fine. Now i do the same steps, but it dont work. I tried to bind homematic-binding and it gives the error, see also me next post, i tried to bidn the caldav-binfding and get errors, too.

BR Rene

ope

[2016-11-23 06:46] kaikreuzer commented on #1462
@gerrieg Could you please check? I assume this is due to a change in the ESH thing framework which made it now stricter that bridges have BridgeThingHandlers and vice versa.

[2016-11-23 06:49] kaikreuzer commented on #1461
If you want to say that the 1.x binding should be added to the distro please see http://docs.openhab.org/developers/development/compatibilitylayer.html#how-to-add-a-successfully-tested-1x-add-on-to-the-distribution and create an according PR at the OH1 repository.

[2016-11-23 06:49] #1461 closed

[2016-11-23 07:12] re-vo-lution commented on #1462
I updated OH ti build 609 and get the nearly same error. I also get an error like this for the innogy-Binding(alpha-Version, manually search and create a thing in the inbox of peperui) . see part of log here.
(If needed, i can post the complete error logs.

homematic-binding-log:

2016-11-23 08:02:38.418 [ERROR] [ome.core.thing.internal.ThingManager] - Exception occured while calling thing handler

[2016-11-23 07:12] #1462 closed

[2016-11-23 07:25] kaikreuzer commented on #1462
Hm, I just had a look at the code and it indeed does not seem to be a problem with the binding code itself - I have just opened https://github.com/eclipse/smarthome/issues/2521 for further analysis.

[2016-11-23 07:47] michaeljoos72 commented on #1444
@clinique @lolodomo Not sure if it's OK to ask you. But I hope you can help here with my CO2-Issue?

[2016-11-23 08:37] lolodomo commented on #1444
At my knowledge, Co2 is only available for the main module ?

[2016-11-23 08:49] lolodomo commented on #1444
Looking at the readme, Co2 should be available for additional indoor module.
In fact I was not aware that it exists two different additional modules, one for indoor, one for outdoor. Mine is certainly an outdoor module.

[2016-11-23 08:58] michaeljoos72 commented on #1444
My setup is main indoor module, 2 additional indoor modules, outdoor module, rain and wind modules.

For both additional indoor modules CO2 was working until last week with the humidity fix. Temperature, Humidity, Battery Level...everything is OK except CO2.

[2016-11-23 08:59] lolodomo commented on #1444
@clinique: it look like your forgot CO2 case in class NAModule4Handler.hancleCommand.

[2016-11-23 09:33] lewie commented on #503
@dka23, Thank you very much for testing!

Are you sure, Switch is not transmitted to KNX bus anymore? In my default new OH2 Installation Switch always is triggert. But Dimmer only with:

Please tell me your installed Bindings.
It would be helpfull, to get a Log, when a Switch is triggered and when a Dimmer is triggered.

[2016-11-23 12:02] jackdead commented on #1311
Hey, i am also very interested in the color support in the Hue Emulation Binding. Anything new on this topic?

[2016-11-23 12:41] clinique commented on #1444
Yes, Co2 is present in thing definition XML file but seems to be missing below. I'll correct this (along with some comments of @lolodomo after the last PR). @michaeljoos72 , can you please open an issue ?

[2016-11-23 12:50] lolodomo commented on #1444
@clinique the issue is opened, you.just answered inside lol

[2016-11-23 13:59] clinique commented on #1444
@lolodomo :+1:

[2016-11-23 14:17] clinique commented on #1295
My IDs in things.txt does not look like yours :
    Thing NAPlug    plug        [ equipmentId="70:EE:50:09:cc:98"]
    Thing NATherm1  thermostat  [ equipmentId="04:00:00:0a:17:b4", parentId="70:ee:50:09:CC:98" ]
    Thing NAMain    station     [ equipmentId="70:EE:50:00:c1:72" ]
    Thing NAModule1 exterieur   [ equipmentId="02:00:00:00:BC:dc", parentId="70:ee:50:00:C1:72" ]

[2016-11-23 14:42] SebZim opened #1464 "Rules: Cron Trigger not reliable"
Hi,
in addition to my posting I will set this point to the issue list:

[Link openHAB community](https://community.openhab.org/t/cron-trigger-not-reliable/17106/6)

The trigger is working well after changing something in the cron expression. After few hours of running fine, the trigger suddenly does strange things. Running 2-4 times at the same time, for example.
Details can be seen very good in t

[2016-11-23 16:27] lumachan opened #1466 "Squeezebox control from UI"
Hi,

Since recent snapshot (don't know exactly which one), when I control my players through the UI I have the following error in my log :

`2016-11-23 17:20:52.398 [INFO ] [ebox.handler.SqueezeBoxPlayerHandler] - player thing squeezebox:squeezeboxplayer:E582ACF3-915E-40B9-9098-8EFE1D8BE026:b827eb6906b3 has no server configured, ignoring command: PLAY`

When I changed from LMS, I can see items upd

[2016-11-23 16:35] jmccoy555 commented on #1466
Also see https://github.com/openhab/openhab2-addons/issues/1455

[2016-11-23 16:48] watou commented on #1461
@DaAwesomeP I will add the UPB binding to OH2 unless you would prefer.

[2016-11-23 16:54] kaikreuzer commented on #1464
This would have to be reported at https://github.com/eclipse/smarthome/issues as it is not related to any openHAB 2 add-on (what this repo here is about).

[2016-11-23 16:54] #1464 closed

[2016-11-23 16:57] monnimeter commented on #1449
It works great!

2016-11-23 17:52:57.506 [INFO ] [g.discovery.internal.PersistentInbox] - Added new thing 'amazondashbutton:dashbutton:ac-63-be-xx-xx-xx' to inbox.

Thank you. 👍

[2016-11-23 17:01] monnimeter commented on #1449
If you create a PR for this commit, then the issue can be closed :)

[2016-11-23 17:02] kaikreuzer commented on #1381
@rogro82 I agree with both your suggestions. @tavalin Would you take care of the renaming in the scope of your upcoming PR as well?

[2016-11-23 17:04] mhilbush commented on #1466
Yes, definitely.  The variable squeezeBoxServerHandler, which is used in numerous places in the binding, was set in method bridgeHandlerInitialized.  bridgeHandlerInitialized was removed with that PR.

@digitaldan Do you know how to fix this?

[2016-11-23 18:12] kaikreuzer commented on #1466
Seems I wasn't cautious enough when removing that code.
I would assume that simply setting the bridge field in https://github.com/openhab/openhab2-addons/pull/1394/files#diff-fa27c95c88010a6d98082106f43bed43L112 instead of introducing a local variable should already do the trick. @digitaldan, would you agree?

[2016-11-23 18:15] #1449 closed

[2016-11-23 19:25] MHerbst commented on #1445
I have attached of my HM-CC-VG-1. Which is the non-IP version of the thermostat.

I think the problem maybe caused because of the special nature of the "Party Times". The settings consists of a combination of 7 values:
- Party Day Start + End
- Party Month Start + End
- Party Time Start + End (which is the value in minutes since midnight in 30 min. steps)
- Party Temperature

I think that the Home

[2016-11-23 19:49] kohlsalem commented on #1445
[log.txt](https://github.com/openhab/openhab2-addons/files/609839/log.txt)

Attached my trace from the startup. Might it help ;-)

[2016-11-23 20:12] DaAwesomeP commented on #1461
@watou I was going to do it myself, but it sounds like you would do a better job at it. Thanks!

[2016-11-23 21:11] martinvw commented on #1019
I started working on this, I think it should be ready soon, I will first do some internal testing.

Note the FA500 in combination with the RFXCom only supports transmitting, see also the FAQ of the userguide.

[2016-11-23 22:03] DaAwesomeP opened #1471 "[SystemInfo] Battery at 0"
I'm on a relatively old laptop running Debian 8.6.0 32-bit headless and OH2 beta. Running `cat /sys/class/power_supply/BAT0/capacity` gives me `98`, but the SystemInfo binding always gives me `0.0`. Are then any options or packages that I'm missing? I am running headless, so I'm possibly missing some monitoring/GUI libraries or CLI tools. All of the other SystemInfo channels work fine.

[2016-11-23 22:27] watou commented on #1461
Sorry, I jumped the gun.  https://github.com/openhab/openhab/pull/4814

[2016-11-23 22:35] DaAwesomeP commented on #1461
@watou you're good!

[2016-11-23 23:52] tavalin commented on #1381
@kaikreuzer will do.  I assume I should rename ALL occurrences of Chromecast to Google Cast:

- Binding name
- Thing type
- Class names
- Class constants

[2016-11-24 03:44] bboser commented on #1295
Adding the colons fixed this issue!

Now the only remaining problem is that the CO2 level of the auxiliary indoor module is not updated. Per log the value is NULL. All the other parameters (temperature, humidity, ...) of the auxiliary module are correctly reported.

[2016-11-24 06:51] lolodomo commented on #1295
As the Co2 issue for external indoor module was fixed yesterday, this issue has to be closed now.

[2016-11-24 07:21] kaikreuzer commented on #1381
@tavalin Thanks! And yes, all those occurences - a good search&replace tool will be your best friend ;-)

[2016-11-24 08:10] tavalin commented on #1381
Well, having spent last night doing the almighty search and replace, I woke up this morning to see news that Google is rebranding "Google Cast" to "Chromecast built-in" (see [here](https://www.google.com/cast/) for first hint)

I think for now I will split the changes and submit just the mDNS part, as Chromecast may yet again be the correct name,

[2016-11-24 09:24] kaikreuzer commented on #1381
Indeed: https://twitter.com/Chromecast/status/801111758748483584

What a bad timing :-)

[2016-11-24 09:41] sjka opened #1472 "[Netatmo] Bridge ONLINE although wrong credentials entered"
I created a new "Netatmo API" Bridge via the PaperUI, entering "asdf" for all credentials that I was asked for. The bridge was created (which is okay) and went ONLINE (which surprised me):

[code]

My expectation was that it would end up in "OFFLINE (Configuration Error)" when entering wrong credentials.

[2016-11-24 10:06] lolodomo commented on #1472
You're right.
@clinique: checks are missing in NetatmoBridgeHandler.initialize()

[2016-11-24 11:04] clinique commented on #1472
Will take this one in a batch of corrections

[2016-11-24 12:04] lolodomo commented on #1444
@michaeljoos72 : please confirm your issue is fixed in the last snapshot and then close this issue.

[2016-11-24 12:20] michaeljoos72 commented on #1444
Yeap, will test this tomorrow as I'm not able to update my system today. Thanks!

[2016-11-24 14:29] lolodomo commented on #1381
I have a Freebox Player mini 4k relying on Android TV. I could tell you what mDNS data are provided.
And i will test the compatibility of the binding with this player device.

[2016-11-24 17:34] gerrieg commented on #1445
Yes it helps :-)

PARTY_TIME_START and PARTY_TIME_END are defined as a String and not as DateTime. So you can't use a DateTime item, you have to use a String with a correct String value.

[2016-11-24 18:56] kohlsalem commented on #1445
Sure, it is a string. And i takes values like "2000_01_01 00:00". But should'nt it be DateTimem looking at the content?

[2016-11-24 19:08] martinvw commented on #1019
It works!

However, for me its way easier to build this in based on my other pull requests, because they allow me to add the rights tests and have a better support for fetching the SubTypes.

So if the following pull requests are merged (they are already approved) I will add new pull requests for this change:
https://github.com/openhab/openhab2-addons/pull/1247
https://github.com/openhab/openhab/p

[2016-11-24 19:57] NorbertHD opened #1476 "[Chromecast] Binding doesn't discover Chromecast Ultra"
Chromecast Binding doesn't discover Chromecast Ultra. The Chromecast Ultra has model name "Chromecast Ultra" but the Chromecast binding only discovers model names "Eureka Dongle" and "Chromecast Audio".

Please add

[code]
to ChromecastDiscoveryParticipant.java getThingType.

[2016-11-24 20:00] tavalin commented on #1476
Please see https://github.com/openhab/openhab2-addons/issues/1381

I have also stated a workaround on that issue to manually define it in the meantime.

[2016-11-24 23:10] bboser commented on #1295
Thanks, the Co2 channel is working now, as you indicate!

[2016-11-25 04:54] michaeljoos72 commented on #1444
👍 Thanks!

[2016-11-25 04:54] #1444 closed

[2016-11-25 09:29] sbussweiler commented on #1455
@jhuizingh

I had a look on your log entries.

- In the _first log_ output I have seen that the server bridge handler is initialized and immediately disposed afterwards. But I can not see why the handler is disposed so far.
- The _second log_ is really strange. An IllegalStateException with `BundleContext is no longer valid` is a sign that the BundleContext reference has been manipulated. Could it

[2016-11-25 10:49] MichaelGottschlich opened #1478 "Maven build faild"
Hallo

i want to build openhab2-addons on my own computer. To update knx binding.

I have an problem with download of p2-openhab-core from location https://dl.bintray.com/openhab/p2/openhab-core/2.0.0.x . Can fix download server, please.

Java version: 1.8.0_92(win)
maven version: 3.2.1

[INFO] Computing target platform for MavenProject: org.openhab.binding:org.openhab.binding.amazondashbutton:2.0

[2016-11-25 10:56] kaikreuzer commented on #1478
Server is ok as you can check on https://dl.bintray.com/openhab/p2/openhab-core/2.0.0.x/ with your browser yourself.

[2016-11-25 10:56] #1478 closed

[2016-11-25 12:23] janKG opened #1479 "[avmfritz] Invalid Request 403"
I'm getting lots of avmfritz info log entries about invalid requests.
System is OH2 on the latest nightly snapshot.

I'm only using the binding to switch DECT 200 outlets, which still is working fine.

`2016-11-25 12:09:45.314 [INFO ] [.callbacks.FritzAhaUpdateXmlCallback] - request is invalid: 403`

[2016-11-25 13:44] lolodomo commented on #1295
@planbnet : could you please give us a new status ? Is this issue still relevant for you with last snapshots ? If not, please close it.

[2016-11-25 13:48] #1389 closed

[2016-11-25 13:48] kaikreuzer commented on #1308
Please ask for support in our community at https://community.openhab.org/

[2016-11-25 13:48] #1308 closed

[2016-11-25 14:35] hmerk commented on #1295
I just have a Thermostat and face the following errors with SNAPSHOT 611:

2016-11-25 15:31:44.704 [WARN ] [.handler.AbstractNetatmoThingHandler] - Unable to load property signalLevels
2016-11-25 15:31:44.705 [WARN ] [.handler.AbstractNetatmoThingHandler] - Unable to load property batteryMax
2016-11-25 15:31:44.705 [WARN ] [netatmo.handler.NetatmoModuleHandler] - Battery levels were not correctly

[2016-11-25 15:19] jhuizingh commented on #1455
@sbussweiler, thanks for looking into that. I will try and get you those logs.

Some additional info that may or may not help:  I was able to get openhab2 up and running within eclipse according to the [IDE Setup guide](http://docs.openhab.org/developers/development/ide.html) and the bridge and player seemed to initialize properly.

I'll work on those logs and get them to you ASAP. Thanks!

[2016-11-25 16:23] tratho opened #1480 "harmony binding bug"
I trying since days to setup the harmony binding, and i'm unable to manage it. But now i think it is a bug.
I'm not really sure if it is a bug in the harmony bindung but in the core framework.
Nervertheless i found it here, so i thought it would be the right way to post it here.

All Things were found correctly the hub, and the devices. Nevertheless the the device does not have a pointer the bridg

[2016-11-25 17:33] lolodomo commented on #1295
@hmerk  your credentials are probably wrong (OAuthSystemException).
I would advice that you update your last message to replace clientId, clientSecret, username and password by anonymous values.

[2016-11-25 18:00] hmerk commented on #1295
Thanks @lolodomo , I updated my comment. But it is no issue with my credentials, as the temp values are read correct.

[2016-11-25 18:06] NorbertHD commented on #1476
Thanks, I will wait for the discovery with mDNS.

[2016-11-25 18:06] #1476 closed

[2016-11-25 19:17] nikodemusP opened #1481 "Homematic Binding results in Timeout and looping openhab2"
I am using the homematic CCU2 and installed the openhab2 (beta4 - offline) for Ubuntu (over apt-get) and add only the homematic-binding. Do I have to add an additional binding or did I missed an additional configuration?

Configuration:
`~$ cat /etc/openhab2/things/homematic.things
Bridge homematic:bridge:ccu [ gatewayAddress="192.168.0.51", callbackHost="192.168.0.50", gatewayType="ccu", timeout=

[2016-11-25 19:44] bboser commented on #1295
I get the same warnings in in my log (common.exception.OAuthSystemException and Unable to load property signalLevels).

But despite these warnings the binding works flawlessly reporting environmental parameters from the main, outdoor, and an indoor auxiliary module.

What problems are you experiencing?

[2016-11-25 19:55] bboser commented on #1396
Not sure if this is related:
I'm using the OH2 system info binding on a raspberry pi 3. I've copied the configuration from the readme (I'm using text file configuration, not GUI).
Per the log (see below), the binging reaches the ONLINE state. However, none of the channels are being updated and the Paper UI reports the thing as "initializing" (even after waiting overnight).
I ran apt-get update/upg

[2016-11-25 21:01] nikodemusP commented on #1481
Figured out: The callback-port 9125 was blocked by the firewall.

[2016-11-25 21:01] #1481 closed

[2016-11-25 21:46] hmerk commented on #1295
It seems that there is no problem and we simply could ignore this warning, but on the other hand, ther should be no warnings, so it would be worth to investigate on this.

[2016-11-25 22:20] lolodomo commented on #1295
It could make sense to close this issue and open another one.

[2016-11-26 10:33] #1466 closed

[2016-11-26 12:03] lumachan commented on #1466
Thanks @kay and @digitaldan ! Will try on tomorrow snapshot !

Regards

[2016-11-26 13:37] jmccoy555 commented on #1466
Now working in snapshot build 615 (running in docker). Thanks @digitaldan and everyone.

[2016-11-26 14:44] kungfoolfighting opened #1483 "Onkyo bundle cant add discovered thing (AVR)"
I recently got an onkyo TX-NR656 which is listed as supported in the OnkyoBindingConstants.java

I installed the latest openhab2 online and offline snapshot today and both are able to discover the AVR, but when trying to add the Thing from the inbox the paperUI gets a popup that says:  ERROR: 409 - Conflict

And the logs say:
`[WARN ] [g.discovery.internal.PersistentInbox] - Cannot create thing. N

[2016-11-26 14:50] kungfoolfighting commented on #1480
I am experiencing the exact same problem with today's OH2 snapshot.
I wanted to move to a newer snapshot of OH2 to get the HarmonyHub plugin for OH2 since the 1.x version stopped working recently. But it turns out that the OH2 version doesn't work either.
I also recently (3 days ago or so) did a firmware update on the HarmonyHub.

[2016-11-26 15:14] tratho commented on #1480
I have done new observations.
It is definitly a bug in the binding. The bridge is not pointed to the device.
I have done a very dirty hack in the binding.

In `HarmonyHubHandlerFactory.java` a member
` public HarmonyHubHandler harmonyHubHandler;`

and changed

` @Override
    protected ThingHandler createHandler(Thing thing) {

        ThingTypeUID thingTypeUID = thing.getThingTypeUID();

[2016-11-26 15:58] kungfoolfighting commented on #1480
Hi tratho,
thanks for looking into this.
I managed to compile the bundle with your changes, but now I don't know how to get OpenHAB to use it.
I have used the karaf console to load the bundle and start it, after I uninstalled the old HarmonyHub extension in the paperUI.
But I still get the nullpointer exception when using an item that is bound to a harmony thing.
Any help?

[2016-11-26 16:00] digitaldan commented on #1480
Hi all, I have a fix I am testing today, I'll post a updated jar here soon

[2016-11-26 16:06] tratho commented on #1480
@digitaldan that sounds great, cause my fix is no fix but a bad hack.

@kungfoolfighting just copy the compiled *.jar in the addon folder.
But probalby it would be the best, you just wait, for a real fix, and not this dirty hack

[2016-11-26 16:54] swamiller commented on #1483
Same bug here with the latest snapshot (TX-NR646).  Binding was working well before I updated to the current OH2 snapshot. I did a completely new install, no help.

[2016-11-26 17:11] kungfoolfighting commented on #1483
I reverted to the revision before the last onkyo-related commit:

https://github.com/openhab/openhab2-addons/pull/1475
and compiled and used that version of the onkyo plugin and it works!
So the last commit definitely broke the plugin.

[2016-11-26 17:25] kaikreuzer commented on #1483
Definitely not due to #1475, but rather due to #1431.

I just briefly tested it and noticed that an NPE is thrown, which causes the handler factory to crash.
https://github.com/openhab/openhab2-addons/pull/1485 should fix that.

[2016-11-26 17:26] #1483 closed

[2016-11-26 17:26] kungfoolfighting commented on #1483
Yes not due to 1475, I just linked the last commit before the breaking commit which contains a working version of the plugin. The following commit is the breaking one

[2016-11-26 17:55] digitaldan commented on #1480
I have a PR open, in the mean time you can find a pre compiled jar at https://github.com/digitaldan/openhab2-addons/releases/tag/harmony-bridge-fix

[2016-11-26 17:59] MHerbst commented on #1442
Unable to reproduce the problem with the latest build. I assume that its fixed.

[2016-11-26 17:59] #1442 closed

[2016-11-26 18:21] kungfoolfighting commented on #1480
@digitaldan Thanks for the quick fix.
It seems to be working now, however, I got a lot of exceptions during boot and I keep getting this sort of message after pressing a harmony button:

[code]

[2016-11-26 18:24] #1480 closed

[2016-11-26 18:37] MHerbst opened #1487 "Locale changes lead to problems in the basic ui"
I tested with Build 616 on Windows 10 (German) with Chrome browser.

After a fresh installation of openHAB I have added the Yahoo Weather Binding and configured a location. Locale was the default locale. In Basic UI it looks like this:

![image](https://cloud.githubusercontent.com/assets/616792/20642398/22c8397c-b40e-11e6-9aef-0d0baae22db2.png)

As you can see the the locale is ignored for the for

[2016-11-26 18:41] jhuizingh commented on #1455
Hmm, the few items I have hooked up to the squeezebox player seem to be working right now. Maybe it was other configuration elsewhere in openhab that was in a strange state. I will go ahead and close this right now, and if I run across the error again I will repost the bug or reopen this one as appropriate. Thanks for the help.

[2016-11-26 18:41] #1455 closed

[2016-11-26 20:58] micw commented on #310
I'd like to test it. At the moment I run homeassistant for my astro stuff (my switches use mqtt, so oh2 and ha can co-exists). I'd like to switch the rules to oh2. Could you please provide an example, how to switch on a light 30 minutes before sun set now?

[2016-11-26 23:56] jtweaver22 commented on #1345
Has anyone figured out how to set the Mode via Homekit? I also get the "No answer". All I need it to do is return the string { "Heat", "Off", "Cool", "Auto" } to the String item I have for the thermostat mode, then rules can handle the rest. Is there a way to do this?

[2016-11-27 10:53] micw opened #1488 "NullPointer in astro binding discovery?"
Hi,

while reading the astro binding code I found the following:
https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.astro/src/main/java/org/openhab/binding/astro/discovery/AstroDiscoveryService.java#L52

[code]

I think the code should exit here because otherwise it continues with resul==null which leads to a nullpointer within the next try...catch (which is

[2016-11-27 10:58] kaikreuzer commented on #310
@micw How do you want to test something that isn't yet implemented...?

[2016-11-27 13:05] kubawolanin commented on #1439
@kaikreuzer thank you for comment.

I've already contacted them but didn't get any response yet.
In the meantime I'm going to continue my work on the add-on.

Cheers!

[2016-11-27 13:56] kgoderis opened #1491 "Exec 2.0: Error stream wrongly read"
https://community.openhab.org/t/exec-binding-2-0-not-working-exception-while-reading-the-stderr/17365

[2016-11-27 17:35] #1491 closed

[2016-11-27 20:08] marcelrv commented on #1207
Pls assign to me. I'll check what's going on

[2016-11-27 23:29] Dom1n1c opened #1496 "Kodi (Xbmc) Addon does not display special characters"
The XBMC addon can not handle special characters such as tv / movie titles:
"Der Hobbit - Smaugs EinÃ¶de"
is displayed instead of
"Der Hobbit - Smaugs Ein**ö**de"

Maybe this can be changed in the current xbmc addon or in the new kodi addon for OH2.

Thanks 👍

[2016-11-28 10:33] kobelka commented on #661
Hi etobi,
are you still working on it ?
Regards
Jörg

[2016-11-28 12:42] fremel75 opened #1498 "RFXCOM rainsensor"
Rainrate and raintotal does not get updated

I have tested this change in RFXComBindingConstants.java and it solves this for me
`-    public final static String CHANNEL_RAIN_RATE = "rainrate";`
` -    public final static String CHANNEL_RAIN_TOTAL = "raintotal";`
` +    public final static String CHANNEL_RAIN_RATE = "rainRate";`
` +    public final static String CHANNEL_RAIN_TOTAL = "rainTotal";`

[2016-11-28 12:46] svilenvul commented on #1450
Yes, I will open a PR for this one.

[2016-11-28 12:52] rene54321 opened #1499 "[Netatmo] not updating outdoor module"
Hi,

the Netatmo OH2 binding is not updating my outdoor module. I get the following errors during startup:

`2016-11-28 13:31:07.633 [WARN ] [.handler.AbstractNetatmoThingHandler] - Unable to load property signalLevels
2016-11-28 13:31:07.634 [WARN ] [.handler.AbstractNetatmoThingHandler] - Unable to load property signalLevels
2016-11-28 13:31:07.640 [WARN ] [.handler.AbstractNetatmoThingHandler]

[2016-11-28 12:57] hakan42 commented on #1499
I had a similiar problem when setting up my netatmo modules via a things and items files. After removing my items file, and configuring the modules via discovery (and explicitly adding channels via Paper UI), all my modules started updating again.

For the record, the full exception is:

    2016-11-26 20:46:59.356 [ERROR] [ome.core.thing.link.ThingLinkManager] - Exception occured while informing

[2016-11-28 13:00] rene54321 commented on #1499
Hi,

ok I try this. But I like the text based configuration. As after an complete installation it is much more easier to get all back running. So I hope it will be fixed. But thanks for the workaround I will try it.

[2016-11-28 13:11] hakan42 commented on #1499
I know, that's why I experimented with text-based configuration for netatmo for nearly the whole of saturday. In the end, I gave up, but will try again after understanding a bit more about the interplay between things, items and channels

[2016-11-28 13:41] rene54321 commented on #1499
In my case it has not helped. I have added the netatmo api over the discovery tab. Than my in and outdoor module appeared. Therse ones I have added also and linked them to an item. But it is still not updating and shows strange values which are not the current ones:

2016-11-28 14:39:21.218 [ERROR] [netatmo.handler.NetatmoDeviceHandler] - Exception when trying to update channels: null

[2016-11-28 13:46] rene54321 commented on #1499
This is how it looks like in the PaperUI:

![grafik](https://cloud.githubusercontent.com/assets/15846090/20670498/633b7692-b579-11e6-8e51-4575586695b3.png)

[2016-11-28 14:15] ThomDietrich opened #1500 "[exec] README improvement"
Related to the latest change at https://github.com/openhab/openhab2-addons/pull/468 by @kgoderis

A few remarks regarding the exec 2.0 binding [README](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.exec/README.md):

* The `transform` property of a thing is mentioned but not shown in the example.
* Defaults for `interval` and `timeout` are missing
* You m

[2016-11-28 14:17] clinique commented on #1472
...and kill once for a while this problem with loadProperties :cry:

[2016-11-28 14:32] ThomDietrich commented on #1488
@svilenvul

[2016-11-28 15:58] kgoderis commented on #1500
@ThomDietrich  All very valid ;-) It stems from me copy/pasting from my outdated config files, as well as the fact that i am incorporating changes/suggestions.

Will correct for all yr comments

Ah.. That is an interesting one. In v1 of the binding it was a hack for Mac OS X, but myself (also on Mac OS X) never came across the issue. I hope someone can confirm, or not, whether that is still releva

[2016-11-28 16:06] kaikreuzer opened #1501 "[Homematic] NPE when initiating connection to CCU2"
After adding a CCU2 as a Homematic bridge, I found this in my log:

[code]

@gerrieg Is this anything known?

[2016-11-28 17:24] MHerbst commented on #1501
I just tried it yesterday with a fresh openHAB 2 installation and I did not see any messages like this.

But it seems that your CCU has got a quite old firmware. According to the log it is running 2.3.11. Current version ist 2.25.15.

[2016-11-28 17:26] kaikreuzer commented on #1501
Thanks @MHerbst - this was also what I just tried and I can confirm that with the latest firmware, the connection succeeds. Nonetheless, I think an NPE should be avoided in any case.

[2016-11-28 17:31] MHerbst commented on #1496
The new Kodi Addon has the same problem. There seems to be a problem with international characters. Either an encoding is missing somewhere or UTF-8 strings are not correctly handled.
@pail23

[2016-11-28 17:32] MHerbst commented on #1501
I agree, @kaikreuzer

[2016-11-28 17:37] bboser commented on #1450
Since my first report, I've observed the following:

1. The null-pointer exception is not reliably reproducible. It sometimes occurs on startup, but not always.
2. Although the binding claims it's online (per log), it won't report any updates and in the paper UI it shows as "initializing".
3. I found the following workaround for the problem in (2):
     a) remove the thing declaration of the bindi

[2016-11-28 18:13] gerrieg commented on #1445
No, the internal definition of this datapoint in the CCU is a string. It looks like a DateTime, but it isn't.

[2016-11-28 18:18] gerrieg commented on #1501
I don't think it has something todo with the firmware, it was a problem loading the property file homematic/standard-datapoints.properties.

see: [source](https://github.com/gerrieg/openhab2-addons/blob/master/addons/binding/org.openhab.binding.homematic/src/main/java/org/openhab/binding/homematic/type/MetadataUtils.java#L71)

[2016-11-28 18:50] kohlsalem commented on #1445
I bet internally in the CCU it is not a sting. Just to the interface it is converted to a string.

May be my assumption is wrong, but i would expect it it easier to handle dates/times in the appropriate formats than in something i have to build up in a rule.

Therfore, isn't it easier to convert in the binding than in a rule?

[2016-11-28 18:51] #955 closed

[2016-11-28 18:54] kohlsalem commented on #1445
Off Topic:
and the longer i think about: The easiest way would be i could leave my HM IP components connected to their AP. All (really well made) convinience in that setup could be preserved. The entire move from AP to the CCU is simply a tinker's nightmare...
But as far as i know does the AP not offer any interfaces to code against. Bad

[2016-11-28 20:18] MHerbst commented on #1445
@gerrieg for my the non IP heaters the debug messages report the datapoints as single integers:
[code]

But as wrote before, I think that all PARTY values must be change at once because if you only change one datapoint at a time you may try to set invalid date ranges (e.g. if you set the PARTY_START_MONTH to a higher value than the PARTY_END_MONTH). I have tried to set a single value but it had no

[2016-11-29 06:28] skywayne opened #1507 "Snapshot 623 not installing UIs and bindings - ignoring addons.cfg"
![image](https://cloud.githubusercontent.com/assets/1105616/20696721/eecddb60-b659-11e6-9e8e-ebd5b8714b39.png)

Have tried editing addons.cfg, (which contained UIs) but no luck - system is effectively dead.  Have also installed UIs using console, but still not working correctly - e.g. paper UI doesn't have extensions tab

[2016-11-29 07:03] svilenvul commented on #1450
@bboser

Thanks for the information.

From what I have seen, the NPE could occur if you change the configuration of  channel while the thing has been modified ( somehow, maybe through Paper UI or textual, I can only assume).
Anyway I have found other things that can be improved as well, so I will fix this as well to make it more robust.

[2016-11-29 07:05] kaikreuzer commented on #1507
This is definitely not the right issue tracker - and I would suggest to first figure out if there is a bug or not in the community. Please provide startup log files as well then.

[2016-11-29 07:05] #1507 closed

[2016-11-29 07:06] kaikreuzer commented on #1507
FTR: https://community.openhab.org/t/empty-index-page-start-index-after-startup/17465

[2016-11-29 07:32] svilenvul commented on #1488
@ThomDietrich
Thanks, PR is created.

[2016-11-29 07:56] #1488 closed

[2016-11-29 08:53] etobi commented on #661
Hej Jörg,

funny you're asking as I was about to write a short update here like very soon.

TL;DR
I'm currently *not* working on this task anymore. I found MQTT which looks like it could solve all of my current home automation issues.

I realised it does not make sense for me to work on this for a couple of reasons.
First of all: It been a lot of years I did java the last time - so I'm very slowly

[2016-11-29 09:30] #1450 closed

[2016-11-29 09:40] svilenvul commented on #1471
No this should not be the case, no external packages are needed.

From what I see, [oshi](https://github.com/oshi/oshi/blob/e2eb01749fa6d95eb0d47039bcd9881cf53f3428/oshi-core/src/main/java/oshi/hardware/platform/linux/LinuxPowerSource.java#L55) is reading the same file.

[2016-11-29 09:48] svilenvul commented on #1324
@Boby71
Could you please try with the latest version ?
If the issue is still present, should be reported to https://github.com/oshi/oshi.

[2016-11-29 11:36] ThomDietrich commented on #1471
``0.0`` seems like a fallback value after reading the actual battery capacity failed at some point in the chain. That should not happen. If reading fails the item should be `NULL` to indicate the error.
@DaAwesomeP could you please post the related `events.log` lines? If there you see 0.0 as well, please search for related messages in openhab.log. At last you might want to increase the logging lev

[2016-11-29 12:00] micw commented on #310
Sorry, I missunderstood this. Where can I find an example how to use the new event channel?

[2016-11-29 17:57] gerrieg commented on #1445
I don't know the internal CCU representation, but the CCU says it's a String and therefore i must handle it like a String. Otherwise the binding does not work anymore if the type is changed during a firmware update.
Also see @MHerbst comment, the PARTY_* datapoints have different types for non IP devices.

It's a lot of work to implement all the special cases for all the devices, e.g there is anot

[2016-11-29 19:42] kohlsalem commented on #1445
Why should the fact, that CCU exposes a date/time as a string affect the representation in OH? On the old thermostats its a bunch of numbers. I don not know, if they don't have proper dates or whatever.

I do know as a user, that date/time as data type is meant to hold date/time entries. I'm aware, every binding speaks a certain protocol to the actual devices. It might transform data as xml, json,

[2016-11-29 20:36] dka23 commented on #503
Testing with https://github.com/lewie/openhab/blob/KNX-OH1andOH2-test/org.openhab.binding.knx-1.9.0-SNAPSHOT.jar?raw=true

My item definition looks like:
`Switch Licht_KG_Technik "Licht Technik [%s]" (G_Licht, G_KG_Technik) { knx="1/1/0+<2/1/0" }`
... and I get no output sent to KNX.

However, changing this to
`Switch Licht_KG_Technik "Licht Technik [%s]" (G_Licht, G_KG_Technik) { autoupdate="true

[2016-11-30 02:17] DaAwesomeP commented on #1471
@svilenvul I am using the latest `binding-systeminfo - 2.0.0.SNAPSHOT` as installed from PaperUI from OH2 snapshot, completely up to date via the Debian APT repo.

@ThomDietrich There is no trace of anything related to `batt` or `battery` in `events.log` or `openhab.log`.

How may I accomplish that?

[2016-11-30 08:31] lolodomo commented on #1472
@clinique : for your information I tried the snapshot 624 and got a lot of exceptions with the netatmo binding. I restored the stable snapshot 607.

[2016-11-30 13:02] kaikreuzer commented on #1479
403 Forbidden: "The request was a valid request, but the server is refusing to respond to it. The user might be logged in but does not have the necessary permissions for the resource."

Did you check that you use a correct user that has AHA rights?

[2016-11-30 15:09] erlendfalch commented on #1239
Any progress on this? If I press about 6 buttons, things start to slow down, and  I get these:
[code]

[2016-11-30 15:13] janKG commented on #1479
I had another look and also enabled debug logging. I'm getting the feeling it is some kind of initialization problem. The message is only displayed a few times after the startup of OH2, after that everything works fine.

I also rechecked the username, password and rights - all are correct.

Here are the relevant log entries:
[code]

[2016-11-30 15:19] ThomDietrich commented on #1471
Logging: http://docs.openhab.org/administration/logging.html

Is your item named "battery"? You need to grep for both the item name and the binding name to find logging info indicating or helping to find the problem.

[2016-11-30 18:37] DaAwesomeP commented on #1471
I greped for both the name, binding name, and anything related to "batt" or "battery" and didn't find anything. I have cleared the logs several times, and I'm using persistence, so it's possible that it doesn't appear in the logs very often. I'll try the debug logging later today.

[2016-11-30 19:48] SuperOok opened #1512 "[amazondashbutton] NoSuchMethodError"
I successfully installed latest snapshot build (624) for the whole distro, including the amazondashbutton version 2.0.0.201611291735.
I connected 4 Dash Buttons successfully (recently bought, so german new generation buttons).
However, when triggering the button I get this exception in the logs:

[code]

None of the corresponding rules get triggered

[code]
Removing the rules does not make a chang

[2016-11-30 20:53] MHerbst commented on #1445
@kohlsalem I agree with you. It would be desirable to have a normalized and more manufacturer-independent way to work with the different things. But for Homematic with lots of different devices and each with lots of different datapoints this not so easy to achieve. Especially when datapoints of different devices have the same name but different definitions.
The current implementation of the bindin

[2016-11-30 21:40] kohlsalem commented on #1445
@MHerbst thanks for your explanations about how the binding is implemented!

Your proposal sounds very reasonable to me.

[2016-12-01 06:11] DaAwesomeP commented on #1471
OK, so I enabled debug logging on every possible option in `/var/lib/openhab2/etc/org.ops4j.logging.cfg`.
`events.log`:
[code]
<details>
  <summary>openhab.log (`grep "system\|batt") </summary>
  <p>
[code]
</p></details>

[2016-12-01 06:25] coasterli opened #1513 "Add Yeelight binding"
Add new binding for Yeelight products, include White Bulb, Color Bulb, Color Stripe and Ceiling Light.

[2016-12-01 08:00] ThomDietrich commented on #1471
Nothing in there helping your case. You might need to check the source code. Is the openhab user permitted to `cat /sys/class/power_supply/BAT0/capacity`? Are there other systemInfo properties you are not able to retrieve?

[2016-12-01 08:57] kubawolanin commented on #1513
Duplicated [Add Yeelight binding](https://github.com/openhab/openhab-distro/issues/339)

[2016-12-01 15:33] SuperOok commented on #1512
Any way I can assign this directly to @OLibutzki ?

[2016-12-01 15:35] kaikreuzer commented on #1512
You can mention him as you just did to get his attention :-)

[2016-12-01 15:45] OLibutzki commented on #1512
That worked ;-)

@SuperOok  Looks like you do not have the latest of [BaseThingHandler](https://github.com/eclipse/smarthome/blob/9bf9cacf187c1b46a7f0ca840678ecb7cb440b38/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/BaseThingHandler.java)  in your classpath. The triggerChannel method has been added with commit https://github.com/eclipse/smart

[2016-12-01 16:10] SuperOok commented on #1512
Aha, that's strange. Yesterday I just updated my OH2-b4 to the latest Snapshot version from cloudbees via the official apt-get repository from yesterday's built.
I will check which versions I have. And check why I don't have the latest version you mentioned.

[2016-12-01 16:35] gerrieg commented on #1445
It's just like @MHerbst says, there are too many devices and datapoints to analyse and maybe implement a 'normalization'. Many datapoints are also still not documented.
This can be done if the system has only a handful devices to control. My approach was that new devices work automatically.

@MHerbst
Yes, i completely understand your suggestion. I've already implemented something similar, called v

[2016-12-01 18:58] SuperOok commented on #1512
Ok, upgrading helped. So I just did an upgrade
[code]
It upgraded to the latest snapshot version, build 627 from today. That seems to work.
Before that I had build 624 from start-of-week. I assumed that should also work.

a wild guess is that there is some issue with the linux apt-packages if you switch from beta to latest snapshot...

However, I think it is no issue with the binding, might be ano

[2016-12-01 18:58] #1512 closed

[2016-12-01 19:44] kohlsalem opened #1515 "[org.openhab.binding.harmonyhub] doku how to get available button press values"
Hi,

i have to say, the binding works quite nice and strainght forward to switch scenes on the harmony hub. However, pressing buttons turned to be hard.

It took me quite some hours of google and reading, reading trace logs of the binding (one hint somewhere) , compiling and trying the harmony command line tool (mentioned in OH1 version, did not authenticate) to finally find the thread with the hi

[2016-12-01 19:52] kaikreuzer commented on #1515
Do you plan to create a PR to add what is missing for you in the docs?

[2016-12-01 19:54] kohlsalem commented on #1515
would be my very first one - i try :-)

[2016-12-01 23:31] lolodomo opened #1517 "Netatmo binding: NPE (getNAThingProperty)"
Using snapshot 627:
[code]

[2016-12-02 05:57] DaAwesomeP commented on #1471
I think that I just found the problem. I tested the values of battery name and time remaining. The value of `battery#name` was `AC`, and the value of `battery#remainingTime` was `999.0`. So, these values must be being recorded from the AC adapter, not the battery. This would explain why capacity is 0. However, the file `capacity` does not exist in `/sys/class/power_supply/AC/`.

[2016-12-02 07:27] ThomDietrich commented on #1471
Interesting.
Well an AC does not really have a capacity, maybe it's intentionally left out. For me it would be interesting to know why AC instead of BAT0 is read on your system. There could either be a bug in the systeminfo binding or you need to supply "BAT0" somehow. Could you check the sourcecode? Would be incredible if you were able to contribute a fix ;)

[2016-12-02 12:54] lewie commented on #503
@dka23,
Thank You for testing!

It is not really a intended behavior. :-(

I must explore further the openHAB background.
Will stick to the subject and keep you up to date.

[2016-12-02 13:52] DaAwesomeP commented on #1471
Well, when the battery is attached, and the AC adapter is plugged in, technically the AC adapter is the active power source, so it may be selecting it for that reason. I'll see what I can figure out from the sources, but I have basically no experience with Java.

[2016-12-03 09:22] Stratehm commented on #1206
The multi zone implementation is now merged on master. Could you test the new version of the binding ?

[2016-12-03 17:01] Spilota commented on #1206
Zone 1 works perfectly so far.

I cannot control anything from Openhab in Zone 2.  Openhab does receive a status update for power and mute if it is changed locally on the receiver, but it does not update the volume slider.

[2016-12-03 18:50] MHerbst commented on #1445
Sounds good, @gerrieg . I can help you with the implementation, especially the device-dependent coding and tests e.g. for the heater valve device.

[2016-12-03 18:58] MHerbst opened #1520 "[Astro] Paper UI shows lots of channel groups with same name and description"
The Astro binding has lots of channels and groups. But unfortunately the groups are all shown with the same name and description, e.g. for the Moon thing:
![image](https://cloud.githubusercontent.com/assets/616792/20861524/a225d254-b992-11e6-87f8-6b82360f77a2.png)

For the thing Sun it is even worse. There are 13 groups named "Range" with the sam description of "Range for a sun event".

[2016-12-03 19:05] MHerbst opened #1521 "Homematic: Signal strength is always 0 for devices that are only sending"
The Homematic devices are having two datapoints containing information about the signal strength: RSSI and RSSI_PEER. The binding uses RSSI as value for the signal strength. But for devices that only send data (like window contact HM-Sec-SCo and outdoor thermometer HM-WDS10-TH-O) RSSI is always 0. RSSI_PEER contains a valid value for all devices.
I would suggest to use the value of RSSI_PEER in ca

[2016-12-04 15:11] andreheuer opened #1523 "[Homematic] Support for internal groups (e.g. heating)"
The homematic binding does not add things for internal groups in ccu2 (e.g. INT000001 for a heating including wall thermostat, window contacts and thermostats). The binding in openhab1 supported those items.
Is there a way to add them? It would be great to use them as there is it better if e.g. a temperature is set to the group instead of setting the temperature of a single device in the group.

[2016-12-04 16:59] joeduck commented on #1344
Hi,
i have my Receiver back. If I send the „001VL“ command, nothing Comes back. „?V“ gives the volume back. It would be great if you make a try.

[2016-12-04 23:02] SuperOok opened #1526 "[zwave2] NPE in ZWaveThingHandler"
Hi @cdjackson,

I'm using the zwave2 binding on my Raspbian (Raspberry Pi 2) on OH2.

The binding worked fine for me on OH2-b4. Now I upgraded to latest snapshot, which is build 627 (Zwave  2.0.0.201612010742, Habmin 2.0.0.201612010742. Since then I get regularly (every 10 minutes, sometimes, only every 20 minutes, but exactly 10 or 20 minutes between the occurrences) a set of NPEs:

[code]

Not s

[2016-12-04 23:05] cdjackson commented on #1526
Can you open this over on the OH2 zwave issue list please - https://github.com/openhab/org.openhab.binding.zwave/issues/new <https://github.com/openhab/org.openhab.binding.zwave/issues/new>

I’ll try and take a look over the coming days.

[2016-12-05 03:54] DaAwesomeP commented on #1471
I think that I found the issue. [OSHI ignores power supplies beginning with the name `ADP`](https://github.com/oshi/oshi/blob/e2eb01749fa6d95eb0d47039bcd9881cf53f3428/oshi-core/src/main/java/oshi/hardware/platform/linux/LinuxPowerSource.java#L67), but the name of mine is simply `AC`. So, it should change from
[code]
to
[code]
I can't really compile/implement this myself, but I'd be happy to submit

[2016-12-05 04:05] DaAwesomeP commented on #1471
cc @dbwiddis

[2016-12-05 04:22] dbwiddis commented on #1471
I'll get this fixed along with many other things in the last week of the year.

[2016-12-05 04:31] DaAwesomeP commented on #1471
Thanks!

[2016-12-05 07:17] jasonhector opened #1528 "Homekit: Accessories become unavailable"
Hi,
I have openhab 2 - online [build 629] freshly installed on a rpi3 [rasbian].
Seperately on a rpi2 I have openhab1 and rsmb mqtt broker running. All my sensors [ESP8266] communicate through mqtt to this rsmb broker.

I am trying to get homekit going on the openhab2 by configuring only its mqtt client and its homekit setup.

the mqtt.cfg is:

the  homekit.cfg is

the test items are:

I have enab

[2016-12-05 08:56] kaikreuzer commented on #661
Thanks for the update @etobi. I close this issue then.

[2016-12-05 08:56] #661 closed

[2016-12-05 08:59] kaikreuzer commented on #1487
I would assume this has the same underlying cause as https://github.com/openhab/openhab2-addons/issues/1487.
As Yahoo weather binding as well as the Basic UI are both within the ESH repo as well, I close this issue here.

[2016-12-05 08:59] #1487 closed

[2016-12-05 10:23] kaikreuzer commented on #1528
This looks like a support request rather than a bug report, so I would suggest to use the forum at https://community.openhab.org/

[2016-12-05 10:23] #1528 closed

[2016-12-05 18:42] SuperOok commented on #1526
ok, thanks; created https://github.com/openhab/org.openhab.binding.zwave/issues/253

[2016-12-05 18:42] #1526 closed

[2016-12-05 18:56] SuperOok opened #1530 "[amazondashbutton] Amazon Kindle is detected as dash-button"
Hi @OLibutzki ,

I have 4 dash buttons, however, the binding claimed that I have 5. I got an additional entry in the inbox, which is no dash button.

Checking the Mac address, I learned that the superflous dash button in fact is a kindle e-book-reader, which I have in my WLAN network.

So I guess the kindle has some similar ARP-request which gets wrongly identified as dash button.

[2016-12-05 19:03] MHerbst commented on #1487
@kaikreuzer  I think you are referring the wrong issue. 1487 is this issue :-)

[2016-12-05 19:11] kaikreuzer commented on #1487
I hope you didn't get in a loop following the links ;-)
The correct one should be https://github.com/eclipse/smarthome/issues/2589.

[2016-12-05 19:21] KevinTaron commented on #1317
Same problem here.
Seems to working fine but alexa can't find the items.

[2016-12-05 20:03] OLibutzki commented on #1530
Which vendor prefix does your Kindle have?

[2016-12-05 21:29] #1381 closed

[2016-12-06 06:59] garrettwp commented on #1222
@digitaldan I am still getting the following error with the latest changes using Openhab2 build  2.0.0.201612022359

`01:56:52.589 [WARN ] [rg.jivesoftware.smack.XMPPConnection] - Connection closed with error
java.io.EOFException: no more data available - expected end tag </stream:stream> to close start tag <stream:stream> from line 1, parser stopped on END_TAG seen ...<![CDATA[result=-1]]></oa></

[2016-12-06 07:46] planbnet commented on #1517
Same here - for station and thermostat. Only happens when the Thing is defined in .thing file - confuguring from the UI works.

[code]

[2016-12-06 07:53] FredericMa commented on #1222
I'm also still seeing this error message.
Also the multiple occurances of the current activity are still there.
I'm using the build of 22nd of november, the day after the fix has been implemented.

[2016-12-06 09:02] ddudnik commented on #1260
Hi @kaikreuzer

With the appearance of Hue motion detector the support for Sensor API makes even more sense now. Even if implemented with polling. I guess it should work more or less fine from UX perspective for this new Hue motion detector which is in fact a multi-sensor providing: motion sensor, daylight sensor and (unadvertised) temperature sensor.

Since I got myself one of those, I would be u

[2016-12-06 10:17] kaikreuzer commented on #1260
Sounds promising :-)

First of all, I would suggest to open an issue and discussion at https://github.com/eclipse/smarthome/issues, because this is where the hue binding code is located.

Well, the question is whether there IS any actively maintained library (besides the SDK from Philips). If not, we could enhance the Jue library on our own for what we need (we already did so in the past). As ther

[2016-12-06 11:18] regnets commented on #1260
@ddudnik I am following this issue for quite some time now. If you need a Philips Hue Dimmer i would gladly purchase one for you if this helps you to develop/test the binding.

@kaikreuzer Does it make sense to just add features to the Philips Hue Binding? If I'm not mistaken, there were some effort to create a binding for all zigbee lighting products. However i can't find an issue in the openhab2

[2016-12-06 13:22] ddudnik commented on #1260
@kaikreuzer
I opened a new issue in eclispe/smarthome repo regarding the library: https://github.com/eclipse/smarthome/issues/2601. I guess we could create another separate issue for the Sensor API support to keep things clear. Do you know if it's somehow possible to "transfer" this issue to eclipse/smarthome? (or we could just copy-paste)

@regnets Thank you for your offer! I do have the Hue Dimm

[2016-12-06 13:47] lolodomo commented on #1517
My things are defined in a .things file.

[2016-12-06 14:12] kaikreuzer commented on #1260
No, you have to create a new one.

[2016-12-06 14:18] ddudnik commented on #1260
@kaikreuzer @regnets I've created a new issue about Sensor API support in eclipse/smarthome: https://github.com/eclipse/smarthome/issues/2603. I guess this one can be closed.

[2016-12-06 14:31] #1260 closed

[2016-12-06 16:12] Sschhsd opened #1531 "Support VSX-529"
Is it possible to support the pioneer VSX-529?

It is possible to control power, mute and input-source, but the control of the volume doesnt work.

For the VSX-529 the following commands (OpenHab 1) are working fine:
pioneeravr="*:livingroom:#VD"
pioneeravr="*:livingroom:#VU"

Could you please provide me the syntax for openhab2?
Could you please provide me the syntax for rule-commands for openhab2

[2016-12-06 16:23] Stratehm commented on #1531
Please see the same issue #1344: Pioneer Binding Volume set for VSX 528 like AVRs

[2016-12-06 16:28] Sschhsd commented on #1531
Oh, sorry for opening a second issue.

Thank you!

[2016-12-06 16:31] Stratehm commented on #1344
Ok thanks for the test. A new version should soon be ready, but my AVR supports the Set Volume command so I cannot really test the new implementation. Will you be able to make some test with the new binding version when it is ready ?

[2016-12-06 16:42] Sschhsd commented on #1344
![test](https://cloud.githubusercontent.com/assets/2945621/20934422/5d7db568-bbdb-11e6-95be-4bdc568a19f7.PNG)

[2016-12-06 17:38] joeduck commented on #1344
Hi,

many thanks for your work on this. I also can do tests with my vsx 528k

[2016-12-06 19:31] chiefymuc opened #1533 "[Exec 2.0] Not possible to only execute once"
Currently it is not possible to execute a command only once.

Default: interval = 15s
When putting interval=0, the handler throws an error.

It would be a good feature if it is possible to only execute a command once!

I hope @kgoderis can help?

Thanks!

[2016-12-06 20:50] dvolochnik opened #1534 "[onkyo] Command LISTEN_MODE_QUERY (LMDQSTN) causes sound interruption Onkyo TX8050"
I've tested onkyo binding with my TX8050 receiver and as soon as Onkyo Thing was online, the receiver started to have short sounds interruptions approximately every second. Further investigation showed, that the interruptions happened every time right after the binding send status query to the receiver.

After few experiments, it was clear, that problem is caused by
`sendCommand(EiscpCommandRef.LI

[2016-12-07 07:15] #725 closed

[2016-12-07 07:16] kgoderis commented on #1533
Ok will fix that

[2016-12-07 07:42] #1533 closed

[2016-12-07 08:01] #1118 closed

[2016-12-07 10:46] bepat opened #1538 "[pulseaudio] No sinks discovered"
I tried the pulseaudio binding 2.0 but it discovers no items.
I found out, that the pulseaudio client ist waiting for ">>> " to determine the end of the answer from the server.
I am using the pulseaudio module "module-cli-protocol-tcp" like described in the readme file.
This modules does not send ">>> " at the end of the answer. I have tested this with telnet.
So the pulseaudio client runs into a

[2016-12-07 11:28] kaikreuzer commented on #1538
@peuter Could you comment?

[2016-12-07 14:23] emericklaw commented on #1530
It also picks up my Echos and Dots.

In case it helps these are the prefixes for Amazon devices I have.

**Echo**
50:f5:da
ac:63:be

**Dot**
ac:63:be
88:71:e5

**Dash Buttons**
34:d2:70  Qty: 1 (most recent was out of stock for a while)
50:f5:da   Qty: 4
ac:63:be   Qty: 12

[2016-12-07 16:37] husky-44 opened #1542 "[systeminfo] Ignores deviceIndex storage/drive on Linux"
Hello,

i've set up a new openhab2 installation (snapshot) on linux. First of all, there is a problem with the [oshi-core](https://github.com/oshi/oshi/issues/268)
The second thing is, there seems to be a problem with the deviceIndex at the channel groups. They don't get any values. I've 7 disks inside svr an every deviceIndex > '' does not work.

Number Storage_Available_Percent

[2016-12-07 18:47] OLibutzki commented on #1530
As the ac:63:be is used by multiple Amazon Devices I just don't know how to determine if the device is a Dash button. Any ideas?

[2016-12-07 19:51] emericklaw opened #1544 "[amazondashbutton] Config item for polling period and even instant response?"
Would it be possible to allow configuration of the polling duration from within the UI?

With the current delay of 2 seconds I can either get lucky and press the button milisends before the poll or get unlucky and press just after a poll has completed.

I am not familiar with pcap so this next part may not be possible. Can it be setup to listen constantly and immediately trigger when a request is

[2016-12-07 20:05] emericklaw commented on #1530
Depending on how much info pcap collects about the packet contents. If you can filter by content/requested host name/ip then I could run a pcap session for a few hour and see if there is anything different between the dash buttons and the other Amazon devices.

[2016-12-07 20:07] emericklaw commented on #1544
I meant to include you @OLibutzki

[2016-12-07 20:10] OLibutzki commented on #1530
I use Pcap4J which wraps the native pcap commands. If there is a criteria to identify a Dash button I'm pretty sure, Pcap4J can provide this information.

I highly appreciate any help.

[2016-12-07 20:36] htrampe opened #1545 "EXEC not working"
Hi! I'am using the latest openhab2-beta4-release and installed the EXEC-Binding 2.0 Snapshot by HABmin. I insert the code for a switch-Item. The item is visibly in the basic ui. But when iam clicking on it its not working. I can fired it up with openhab-user by using the terminal. So what's wrong? Biggest Problem: in the openhab2.log-file is nothing saved for the exec-binding. Also when iam writin

[2016-12-07 22:03] kaikreuzer commented on #1545
You will actually have to use a snapshot, it is a mistake that the exec 2 binding appears in the beta4 online version.
Using https://openhab.ci.cloudbees.com/job/openHAB-Distribution/ should work nicely!

[2016-12-07 22:03] #1545 closed

[2016-12-07 23:55] emericklaw commented on #1530
I have tested for a while with Wireshark and I am pretty sure there is nothing that can be done.

Since there is no guarantee how the network is setup you cannot intercept any other packets. In my setup my wifi is not connected to the same switch as the PC I was collecting data on, this mean all I saw broadcast traffic from the Amazon Dash buttons. This PC is on the same part of my network as open

[2016-12-08 03:51] OLibutzki commented on #1544
I'm not sure I got you right. The binding listens constantly for arp and bootp udp packets.

The delay is caused by the device and the network as it takes some time until the requests are submitted after pressing the button.

[2016-12-08 03:57] OLibutzki commented on #1530
Thanks for your help.

First of all it's a good idea to document this behaviour.

Moreover I wonder if it's better to disable background discovery and fall back to a explicit discovery mode. Using this it's less likely that a non Dash button device sends an arp / bootp request. But you can not eliminate this problem at all.

@kaikreuzer what do you think is better? Decreasing the false positives t

[2016-12-08 10:22] htrampe commented on #1545
No, sorry - nothing happened. I installed latest version (snapshot), installed the EXEC-Binding with HAbmin, make shure that i can execute the script as openhab-user (su openhab) but nothing happens. Here is my item-content:
`Group funksteckdosen

Switch FS_SZ_lampe { exec=">[ON:/etc/openhab2/scripts/brennstuhl_switch.sh 1 4 10000] >[OFF:/etc/openhab2/scripts/brennstuhl_switch.sh 0 4 10000]" }
`
H

[2016-12-08 10:39] kaikreuzer commented on #1545
Your config is for Exec1 binding, not for Exec2.
Please check http://docs.openhab.org/addons/bindings/exec/readme.html and use our community for further questions: https://community.openhab.org/

[2016-12-08 11:22] kaikreuzer commented on #1530
I think it depends on the amount of false positives. If we end up noticing that we cannot identify Dashs at all from the MAC, we would have to remove the auto-discovery.
If there is a good chance to find Dashs and can use the feedback of users to improve the identification, we should stick to the auto-discovery - after all, users can simply click "ignore" on a discovery result to hide it, in case

[2016-12-08 11:34] kgoderis commented on #1545
@kaikreuzer FYI, read on openhab.org is not in sync with GitHub repo.

[2016-12-08 13:32] kaikreuzer opened #1546 "Replace freeboxos-java lib with EPL version"
@clinique I just by chance came across [this line](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.freebox/about.html#L36).
First of all, the link to the license there is broken. Then it claims it is GPL (which caught my attention as this is a no-go), while in reality the lib is under LGPL.

Looking at this lib, I noticed that it has been dual-licensed und

[2016-12-08 13:33] Toonix commented on #1041
sorry but this addon is the reason I start with OpenHAB. Can someone explain me shortly where to get and how to install it on docker openhab/openhab?

I use the AMD64-Online build and mapped all the volumes to a nfs drive.

Thanks

[2016-12-08 13:37] kaikreuzer commented on #1041
@dominicdesu Do you still plan to create a PR for it?

[2016-12-08 15:43] OLibutzki commented on #1530
@kaikreuzer hmm, there will be false positives for every Amazon device. So for the moment disabling background discovery seems to be the best solution.

If anyone has an idea how to distinguish the devices let me know!

[2016-12-08 15:49] emericklaw commented on #1544
I will close this, you are correct and I saw this when looking at Wireshark relating to #1530

Thanks

[2016-12-08 15:49] #1544 closed

[2016-12-08 16:14] gerrieg commented on #1521
And why don't you just link RSSI_PEER to a item for these devices to show the signal strength? I don't like to have any logic on the original datapoints.
If you really want to have only one RSSI datapoint, we should add a virtual datapoint that maps RSSI_DEVICE and RSSI_PEER with the logic you mentioned.

[2016-12-08 19:16] MHerbst commented on #1521
For users like you and me it would be of course a solution to just use RSSI_PEER.
But if somebody just wants to use the Homatic device he will run a discovery and select the channels he wants to use. In Paper UI you have the channel "Signal Strength" that is mapped to the RSSI datapoint. This channel will always have a value of 0 for several devices (at least for window contacts, thermometers and

[2016-12-08 19:32] dominicdesu commented on #1041
@kaikreuzer the main functionality is ready, however I still have an issue with reconnections (sometimes allJoyn reports a speaker as disconnected and then I am unable to reconnect to it again, no matter what I do). Didn't want to publish a binding which only works for some days and then looses speakers.
Unfortunately the analysis takes a while as I usually have to wait 1-3 days until one of my sp

[2016-12-08 19:52] MHerbst commented on #1437
I have tested it with the latest binding and the Homematic CCU. With this combination everything works fine. Can you retest it with the latest Homematic binding?

[2016-12-09 07:50] clinique commented on #1546
Yes sir, I'll do.

[2016-12-09 08:00] lolodomo commented on #1546
Good news, it was our request since a long time. I was not aware that the change has been done.
For info, I was given the write rights to this project few weeks ago.

[2016-12-09 12:57] SuperOok commented on #1530
Sorry for being late: I liked the auto-discovery since it detects a new device at the time I press the dash-button. So there is a time-correlation of a newly discovered device to the first time the button is pressed after configured for the WLAN.
If there would simply be some informative text that I can safely ignore or disable any other detected amazon devices; it would be ok.
Background discover

[2016-12-09 13:07] Royw51 opened #1549 "Harmony not starting in OH online release 632"
OS  windows 10
Java JDK1.8.0_65
OH online release 632

When starting openhab I get the following error and HarmonyHUB does not start.
06:57:57.076 [ERROR] [ome.core.thing.internal.ThingManager] - Exception occured while initializing handler of thing 'harmonyhub:hub:Mediaroom': java.lang.IllegalArgumentException: Illegal status INITIALIZING. Bindings only may set UNKNOWN, ONLINE, OFFLINE or REMOVED

[2016-12-09 13:14] kaikreuzer commented on #1549
Interesting, this seems to be a bug in the binding, which is now popping up by a more strict check in the framework. I'll have a look, thanks for reporting!

[2016-12-09 13:22] emericklaw commented on #1530
Auto discovery is useful. I have ignored some of my other Amazon devices and added some by mistake but named them something obvious.

If the ignore feature on the inbox is not enough could there be a list of ignore mac addresses that the user could add their non Dash devices to.

Or an option to enable/disable auto discovery in the addon config.

[2016-12-09 13:25] LukaNoah opened #1550 "[OH2] NetAtmo - Binding - No continuous values"
After few hours the values are not up to date. Only 1 refresh in 1 to 2 hours. Whats wrong?
Latest OH2 snapshot.

![image](https://cloud.githubusercontent.com/assets/16850444/21056514/38fe6f2c-be36-11e6-9a76-288e0738800c.png)

[2016-12-09 13:40] SuperOok opened #1551 "openhab.target could not resolve"
Hi @kaikreuzer

I just followed the [Installation guide for IDE setup for OH2-addons|http://docs.openhab.org/developers/development/bindings.html].
Ultimately the target platform did not resolve properly in my Windows 10 with Neon.1 with the error message below

![grafik](https://cloud.githubusercontent.com/assets/10581272/21050750/de1d21c0-be1c-11e6-9180-176c6abeef8d.png)

Even cleaning does not

[2016-12-09 13:47] kaikreuzer commented on #1551
You have a bad timing. This just broke around lunch time due to a new ESH stable release.
And I was just fixing it through https://github.com/openhab/openhab-distro/pull/346.
So please pull this change and refresh your target platform - all should be fine again then :-)

[2016-12-09 13:47] #1551 closed

[2016-12-09 13:59] #1549 closed

[2016-12-09 13:59] kaikreuzer commented on #1549
should work with the next distro again!

[2016-12-09 14:02] OLibutzki commented on #1530
Just to clrify this. The idea is not to disable auto discovery entirely, but to disable the background scan. So you have to scan for Dash buttons explicitly. That means you have to trigger the discovery in the Paper UI and press the Dash button. The Dash button is added to the inbox like in background discovery mode.

Using the mode we can reduce the likelihood of detecting a false positive massiv

[2016-12-09 14:22] kgoderis commented on #1500
@ThomDietrich Can we close this issue?

[2016-12-09 18:08] peuter commented on #1538
I have to take closer look into that when I find the time. It almost 2 years ago since I wrote that, so I have to read and test a little bit to understand whats going on there. Maybe pulseaudio changed something in the protocol behaviour. @bepat Which pulseaudio version do you use?

[2016-12-09 18:22] bepat commented on #1538
I am using PulseAudio 5.0 on a raspberry Pi 3.
I also traced the communication with WireShark, to see if there is another char or something else to determine the end. I found nothing.
The last char is a new line.

[2016-12-09 18:24] NorbertHD opened #1554 "[Onkyo] ZVLN/A Exception"
Below build 634 I got a LMDN/A exception, now I get a ZVLN/A exception.
Can someone please change OnkyoHandler.java from
[code]
to
[code]

[2016-12-09 18:55] NorbertHD opened #1555 "[Chromecast) wrong volume label dimmer"
In paperui control the chromecast volume slider has the wrong label "dimmer".

[2016-12-09 18:56] peuter commented on #1538
Ok just checked my pulseaudio production system is in 4.0 and that has the '>>>', my desktop system has pulseaudio 8.0 without '>>>'. So as you found the problem with 5.0 they must have changed the behaviour there. @bepat As you already hav found a solution which to fix the problem I would suggest that you create a pull request with that change and as @kaikreuzer to merge that PR.

[2016-12-09 19:31] peuter commented on #1538
There seem to be more syntax changes here. The volume parsing does not work either with PA 8.0. It seems that I have to change some regular expressions there. @bepat I you want to I can fix everything in one pull request.

[2016-12-09 22:12] lopez1de commented on #1179
Any news on this? I have this problem too. Sometimes it isn't initialized.

[2016-12-09 22:20] kaikreuzer commented on #1179
I would expect it to be fixed on the recent snapshots.
Can you confirm that you are testing on such a version?

[2016-12-09 22:33] lopez1de commented on #1179
Kai,

I'm on 1.8.3. Got it via apt-get upgrade. I think this is a stable release. If you say "snapshots", you mean something like a beta pre stable build or something? How do I get those?

2016-12-09 23:14:56.407 [INFO ] [.o.core.internal.CoreActivator] - openHAB runtime has been started (v1.8.3).

[2016-12-09 22:35] kaikreuzer commented on #1179
Then you are completely wrong here in this issue. There isn't anything like an "astro thing" and an INITIALIZING status in openHAB 1 - this issue is purely about openHAB 2.

[2016-12-09 22:35] kaikreuzer commented on #1179
@lolodomo With the recent ESH fixes, could you confirm that this issue is fixed now?

[2016-12-09 22:37] lopez1de commented on #1179
Sorry. Sort of same issue, but wrong version.

[2016-12-09 23:19] lolodomo commented on #1179
@kaikreuzer : if you mean with snapshot 633 or later, no I have not yet tested. I am still running the snapshot 627.
With this snapshot, I am not sure I encountered the problem, maybe, maybe not, I don't remember exactly. If it is still hapening with this snapshot, that is certainly less frequently than before.
If it does not happen anymore after a reasonable number of restarts, I will let you kno

[2016-12-10 06:44] mcarlosro opened #1557 "Netatmo Binding getNAThingProperty nullPointerException"
Hi,

I have the latest built from 20161209 and I got the following null stacktrace

`2016-12-10 07:36:24.753 [ERROR] [ome.core.thing.link.ThingLinkManager] - Exception occured while informing handler:null
java.lang.NullPointerException
	at org.openhab.binding.netatmo.handler.thermostat.NATherm1Handler.getNAThingProperty(NATherm1Handler.java:64)[194:org.openhab.binding.netatmo:2.0.0.201612091712]

[2016-12-10 11:17] lolodomo commented on #1179
@kaikreuzer : I just reproduced it with the snapshot 636. So yes, unfortunately, this issue is still relevant.
[code]

[2016-12-10 11:22] NorbertHD commented on #1555
Seems to be a problem of paperui or core openhab because also other bindings are effected.

[2016-12-10 11:22] #1555 closed

[2016-12-10 11:31] chiefymuc commented on #1533
I confirm it works! Thank you!

One additional comment. I see many confused questions on the OH forums, so maybe the readme should include more information. Also I guess setting the default to 0 would probably avoid a lot of questions.

Cheers!

[2016-12-10 11:33] peuter commented on #1538
@bepat Could you please check if my fix is working with pulseaudio 5.0 as I only tested it with 4.0 and 8.0?

[2016-12-10 11:46] KlausMu opened #1558 "[Homematic] Some datapoints missing in radiator control HM-CC-RT-DN"
I have some Homematic devices paired to Homegear.

In OH2 things were added by PaperUI. In my radiator devices HM-CC-RT-DN some datapoints are missing, e.g. ":4#CONTROL_MODE".

Because all the channels and datapoints are automatically added by OH2, I don't know how to manually add the missing datapoints.

In an "HM-TC-IT-WM-W-EU" the datapoint "CONTROL_MODE" is showing up.

What am I missing?

I'm

[2016-12-10 12:50] SuperOok opened #1559 "[vallox] Add Vallox Binding"
New Binding for Vallox central venting units.
Use a RS485-to-Ethernet-Gateway to interface to the Vallox ECU.
http://www.vallox.com/en/products/vallox_ventilation_units.html

[2016-12-10 13:12] lolodomo commented on #1557
Can be closed, it is a duplicate of opened issue #1517 .
A fix has been proposed and is working. But not yet validated.

[2016-12-10 13:23] lolodomo commented on #1550
Default update interval is 10 minutes (600000 ms). What value did you set ?
I can see sometimes a 403 error.

[2016-12-10 13:35] Stratehm commented on #1344
Could you test the new [binding](https://github.com/Stratehm/openhab2-addons/releases/tag/2016-12-10) version ? It is a jar file that you have to put in the addons folder of your openhab2 installation. (Make sure to have uninstalled the old binding before).

[2016-12-10 14:13] SuperOok commented on #1551
ok, thanks, works fine now

[2016-12-10 15:37] joeduck commented on #1344
Hi,
i vaed stoped openhab. Then i has copied it to "/usr/share/openhab2/runtime/karaf/system/org/openhab/binding/org.openhab.binding.pioneeravr/2.0.0.b4" and renamed to "org.openhab.binding.pioneeravr-2.0.0.b4.jar". then i started openhab "service openhab2 start".

Then i removed it from paperui and added again. I use "autodetect" but the avr is shown offline.
I go on testing. Thanks

[2016-12-10 18:13] SuperOok commented on #1530
Ok, that sounds feasible.

[2016-12-10 18:35] Spilota commented on #1344
If you're avr is shown as offline, you may need to cycle power to free up the telnet connection.

[2016-12-10 18:36] LukaNoah commented on #1550
I have also an update intervall froh 10 minutes. This value is not changeable. After save , oh says bad request .

[2016-12-10 18:52] LukaNoah commented on #1554
here the same ...

[2016-12-10 18:59] Sschhsd commented on #1344
My Pioneer is online and linked.

- removed Pioneer-binding (OpenHab2 PaperUI)
- stoped openhab2-service
- copied new binding to /usr/share/openhab2/addons
- started openhab2-service

when i press the volume up button, then the volume will be set to max volume (like the script hangs up)...

[2016-12-10 19:43] Spilota commented on #1206
Thanks for all the work on this.

I tried again with the 12-10 snapshot.  The dimmer in openhab is not controlling volume.  Openhab is, however, controlling power, mute, and input correctly.

Communication from the receiver to Openhab is working good.  Openhab is getting correct status of power, mute, and input.  It is also updating the zone 2 volume % and dB correctly.

[2016-12-10 20:12] aurelio1 opened #1561 "[miele] Multicast message does not result in state change"
I have an installation with four Miele@home devices and problems with this binding. The status of the devices appears unregularly on openhab, and items are usually not updated (I also checked on the karaf console), but sometimes they get updated. I don't understand when and why, as the connection to the Bridge is stable. I found out that openhab receives the multicast event, for example:
`21:03:01

[2016-12-10 20:15] kaikreuzer commented on #1561
@kgoderis Can you help?

[2016-12-10 20:28] aurelio1 commented on #1561
And btw... the log shows just this one entry for every property change in the multicast event. As I see in the source of the binding, it should at least also log `Updating the property '{}' of '{}' to '{}'` or `Update state of {} with '{}'`. It doesn't.

[2016-12-10 22:49] ThomDietrich commented on #1500
Hey @kgoderis, I just read through your enhancements to the binding and the README. While you addressed most o the things above, there are still some points unattended, e.g. `transform` is now shown in a second example but still not in the definition in the top part of the file. Defaults for timeout etc are not named. I think an itemization instead of the text in line 17 would be better. [Example]

[2016-12-10 23:50] stormwalkerec opened #1562 "org.openhab.io.transport.serial"
latest openhab2 - and your download

2016-12-10 23:46:37.580 [INFO ] [org.openhab.io.transport.serial     ] - FrameworkEvent INFO - org.openhab.io.transport.serial
org.osgi.framework.BundleException: The bundle class path entry "lib/nrjavaserial-3.9.3.jar" could not be found for the bundle "osgi.identity; osgi.identity="org.openhab.io.transport.serial"; type="osgi.bundle"; version:Version="2.0.0.2

[2016-12-11 11:06] bepat commented on #1538
@peuter Sorry for that late response! It works well with pulseaudio 5.0.
Thank you!

[2016-12-11 11:56] kgoderis commented on #1561
@aurelio1 You correctly received the multicast event, but unfortunately, Miele is quite inconsistent (well, without a doubt consistent from their point of view, but not from our reverse engineering point of view) with respect to the device ID's it uses when communicating. In the example here above, the id is not a "zigbee" id, and thus, the binding does not have a clue as to what device that multi

[2016-12-11 12:20] joeduck commented on #1344
Did a new try like Sschhsd decribed. But the AVR ist still shown as offline. But i can get the Volume with  "printf '%s\r\n' ?V | nc 192.168.178.15 8102" and switch Power, VU, VD and so on on cmdline.
Whar is wrong?

[2016-12-11 12:23] joeduck commented on #1344
If I go to "things" an show properties, IP and protocol shown empty. When I go to the edit Button, the configuration Parameters are right. My AVR listen to Port 8102

[2016-12-11 12:37] joeduck commented on #1344
after a restart of openhab2 the AVR is shown online. But no command works. On Commandline i can do commands to the avr.

[2016-12-11 12:46] Sschhsd commented on #1344
Do you update your channel-ids in your items.config?

Befor i removed the pioneer-binding, i have deleted the pioneer-thing (openha2 paperui). After i have copied the new bining, i add manually my pioneer with IP-Adresss and Port Number. I set the new settings "volume-auto..." to disabled.

[2016-12-11 13:17] MHerbst commented on #1558
I am using the Homematic CCU with the same device and the CONTROL_DATAPOINTS are there. So maybe it is specific to Homegear. Which OH2 version are you running?

[2016-12-11 13:54] Royw51 opened #1563 "Harmony Initializing Items/Things twice when OpenHab-2 ver 637 restarts"
and things go to a status of "initializing"  When I remove the items/things using Paper Gui, do a search with the Harmony binding. It finds the items/things and brings them online.  If I stop/start openhab, I must go through that same process to again get them come back on line.  Just a side note, I noticed this same behavior in version 636.

[code]

[2016-12-11 14:02] KlausMu commented on #1558
OH2 snapshot from yesterday (10.12.2016).
I had the same problem when using lxccu (so actually a CCU), so I switched over to Homegear.

Now I tried the "homematic-1.9.0-SNAPSHOT"-binding in OH2. Here it works. Strange ...

So the situation is:
- OH2, homematic-2.0.0-binding, HM-gateway defined as thing, items automatically discovered by PaperUI -> some datapoints are missing in thing HM-TC-IT-WM-W

[2016-12-11 14:49] Stratehm commented on #1344
Thank you all for testing.

To let me investigate your problems, I will need your binding debug logs. Could you add the following lines to your logback.xml file (at the end of the file, but before the _\</configuration\>_ line) ?

[code]

After restarting openHab, it will create a new file named _pioneer.log_ in your log directory containing the debug logs of the binding. Play a bit with the bindi

[2016-12-11 15:10] Sschhsd commented on #1344
Where i can find the logback.xml in openhab2?

There is no logback.xml at path /etc/openhab2/logback.xml...

[2016-12-11 15:40] Stratehm commented on #1344
My bad, it is a development file.

Append the following lines to <openhabInstallDir>/runtime/karaf/etc/org.ops4j.pax.logging.cfg :

[code]

[2016-12-11 16:23] Sschhsd commented on #1344
Thank you.

Logging is enabled. I will do some tests and will provide you the log-file, at the next few days.

[2016-12-11 16:41] FrankZimmer opened #1564 "HmIP Door Window Contact paired as String, not as Contact"
The new HmIP SWDO (Door Window Contact) will be paired with Paperui as

[code]

State as String Item. But it must be a ContactItem
To compare with the HM Classic , see here

[code]
Anybody else has this issue?

I'm using OH2 with a CCU2 (latest build from Homematic Binding), no issues in the log...

[2016-12-11 16:45] kaikreuzer commented on #1561
Only, if you haven't done yet what we recently discussed 😛

[2016-12-11 16:59] tratho commented on #1563
Same here

[2016-12-11 18:00] kaikreuzer commented on #1563
I doubt that it is related to #1480.

It rather looks like a bug in the ESH ThingManager - @sbussweiler & @sjka, could you have a look?

@Royw51 Could you provide a log with enabled debugging for the ThingManager? On the console, simply set
[code]
Thanks!

[2016-12-11 18:14] dominicdesu commented on #1041
Here it is 😎 .

[2016-12-11 18:19] Royw51 commented on #1563
I have the logs but not sure how/where to upload.

[2016-12-11 18:20] tratho commented on #1563
HarmonyHubHandler.java

private synchronized void connect() {
        updateStatus(ThingStatus.INITIALIZING);

        disconnectFromHub();

        HarmonyHubConfig config = getConfig().as(HarmonyHubConfig.class);
        discoTime = config.discoveryTimeout > 0 ? config.discoveryTimeout : DISCO_TIME;
        heartBeatInterval = config.heartBeatInterval > 0 ? config.heartBeatInterval : HEARTBEAT_I

[2016-12-11 18:30] Royw51 commented on #1563
Never mind... Read Roy Read...
here are the log files.

[events_201612111222.txt](https://github.com/openhab/openhab2-addons/files/644669/events_201612111222.txt)
[openhab_201612111222.txt](https://github.com/openhab/openhab2-addons/files/644670/openhab_201612111222.txt)

[2016-12-11 19:25] Spilota commented on #1344
I've tested this implementation of the volume set on a VSX-1122.  It appears to be working as expected.  When the slider is moved too far, it does have some trouble keeping up.  Log file below
[pioneer - VSX-1122 Unsupported.zip](https://github.com/openhab/openhab2-addons/files/644704/pioneer.-.VSX-1122.Unsupported.zip)

[2016-12-11 19:34] Spilota commented on #1206
It looks like the zone 2 volume control command is never getting through to the receiver.  I'm not getting anything in my pioneer.log file.  I am seeing this in my openhab.log:

[code]

[2016-12-11 19:34] Spilota commented on #1206
Should the VSX-1122 be listed in the support receivers set?  It supports the same commands (2012 version).

Thanks

[2016-12-11 19:43] kaikreuzer commented on #1563
@tratho The code you have posted does not exist anymore, I had fixed that [here](https://github.com/openhab/openhab2-addons/pull/1552/files) already (and this fix is part of distro 637).

@Royw51 Thanks for the logs, this will definitely help for the analysis.
@sbussweiler: From a first glance I would say that the ThingManager tries to register the handler twice: Once as a child of a bridge and on

[2016-12-12 03:29] BobRak opened #1566 "Working on cm11a binding for legacy X-10 devices"
I have picked up the work started by "engineergreen" and committed at: [Orignal cm11a code]((https://github.com/engineergreen/openhab/tree/cm11a-binding/bundles/binding/org.openhab.binding.cm11a)

I have converted his implementation to OpenHAB 2.  Engineergreen's work allows switches and dimmers to be controlled by sending X10 commands over the serial interface. In addition he started implementing

[2016-12-12 04:56] #1557 closed

[2016-12-12 16:41] gerrieg commented on #1521
From this point of view you are right
I will simplify the creation of virtual datapoints, so that we can easily add such functionality.

[2016-12-12 18:46] ich92 opened #1568 "exec problem in openhab2"
Hello,

I installed the exec 1.9.0.b4 plugin via paperui
I also installed exec transformation 0.9.0.SNAPSHOT and Regex Transformation 0.9.0.SNAPSHOT.

my default.items:
`Number TEMP_WOHNZIMMER "Temperatur Mein Zimmer [%.1f °C]" {exec="<sudo sh /etc/openhab2/scripts/dht22.sh TEMP:60000:RGEX((.*?))]"}`

I'm not getting any data no loggin in /var/log/openhab.log
In the karaf console i ran exec sudo s

[2016-12-12 19:05] brucejackson commented on #1566
Hi @BobRak

I experimented earlier this year with this binding to enable it to receive an X10 command and then cause OpenHab to open a URL (causing some function to happen).  Primarily it was to work with HomeLink Cars.

The code is here:  https://github.com/brucejackson/openhab-cm11a

As I recall, I added [some configuration items](https://github.com/brucejackson/openhab-cm11a/blob/develop/README

[2016-12-12 19:15] brucejackson commented on #1566
If it helps you,  I would be more than happy to help test the 2.0 version of the binding.  I just installed 2.0b4 this weekend.

[2016-12-12 19:25] marcelrv commented on #1554
Saw it as well PR #1569

[2016-12-12 19:27] SuperOok commented on #1559
@kaikreuzer, how to proceed from here?

[2016-12-12 19:27] kaikreuzer commented on #1559
With a lot of patience, please!

[2016-12-12 19:29] SuperOok commented on #1559
but that was quick ;) thanks, I'm not in a hurry
think I forgot to sign-off my commits, sigh

[2016-12-12 19:40] MHerbst commented on #1496
Works now correct.

[2016-12-12 19:41] MHerbst commented on #1521
Sounds good. Maybe it can be realized together with #1445

[2016-12-12 19:55] MHerbst commented on #1564
Hmm, strange. I have got the HM-Sec-ScO (similar to to HmIP-SWDO but not using IP). This is also OK.
I think that is something for @gerrieg

[2016-12-12 19:58] MHerbst commented on #1558
The implementation of version differs a lot from 1.9 because there lots of changes in the OH architecture. Can you activate the debug log for the homematic-2.0.0 binding and attach the log?

[2016-12-12 20:24] NorbertHD commented on #1554
@marcelrv Thank You!

[2016-12-12 20:24] #1554 closed

[2016-12-12 20:39] nighti commented on #1568
You posted in the openhab2-addon repo. So probably you should give the exec2.0 binding a try.  I successfully migrated the Last weekend from oh1 to oh2 , and convert my exec commands to the 2.0 binding

[2016-12-12 20:41] ich92 commented on #1568
Yeah, I posted in the openhab2-addon repo.
In the paperUI I can't find exec 2.0
Where can I find it?

[2016-12-12 20:51] nighti commented on #1568
Oh, it seems only be part of the oh2 snapshot. Do you use beta?

[2016-12-12 20:53] KlausMu commented on #1558
Thanks for your reply. Here is the log. I did a fresh OH2 installation, the log starts when the things file is provided. The things file has only one line:
`Bridge homematic:bridge:HG [ gatewayAddress="192.168.1.142", callbackHost="192.168.1.110", xmlCallbackPort=9125, binCallbackPort=9126]`
Homegear is running on 192.168.1.142

I have three radiator thermostats HM-CC-RT-DN:
LEQ0847884
LEQ0847901

[2016-12-12 20:54] ich92 commented on #1568
Yeah, I use beta
I don't Know if I should switch
Can You help me with These New things?
How to make switches?
How to make something like this?

Thanks a Lot
Markus

[2016-12-12 21:10] nighti commented on #1568
For exec binding take a look here: https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.exec

[2016-12-12 21:16] MHerbst commented on #1523
I don't know whether it is a bug or a feature (I think @gerrieg can say more about it), but there are some overlapping features in the CCU and in openHAB.
Instead of defining a group in the CCU and setting the group's temperature the you could use a rule on openHAB to achieve the same result.

@gerrieg I have also defined several groups in the CCU but I am not sure yet whether I want to see them i

[2016-12-13 10:26] ich92 commented on #1568
how to compile the .jar and where to put it in the apt-get installed oh2?

[2016-12-13 10:56] Stratehm commented on #1206
Zone 2 volume control whould work with this [version](https://github.com/Stratehm/openhab2-addons/releases/tag/2016-12-13)

[2016-12-13 10:56] Stratehm commented on #1344
Improved volume level  tracking with this [version](https://github.com/Stratehm/openhab2-addons/releases/tag/2016-12-13)

[2016-12-13 12:46] gerrieg commented on #1521
sure, that's the same

[2016-12-13 12:50] gerrieg commented on #1564
I have to see the metadata, so please switch the binding into TRACE mode and send me a full startup log.
[code]

[2016-12-13 13:05] gerrieg commented on #1523
The 1.x binding uses a mix of API calls and TCL-Scripts. The CCU internal groups are available via the scripts. The 2.x binding is 100% Homematic API compliant and i do not know at the moment, if they are supported only via the API.
I'll test it and let you know

[2016-12-13 13:34] Sschhsd commented on #1344
It doesn't work. same issue with the max volume, when i pressed volume up one time....

[pioneer.txt](https://github.com/openhab/openhab2-addons/files/649031/pioneer.txt)

[2016-12-13 16:57] ich92 commented on #1568
It's now working with the exec1.9 extension.
I forgot the 2 in my path to the script ...

[2016-12-13 18:11] robertjackson17 commented on #1566
Hi @BobRak

I'm also interested in your efforts to bring the cm11a into OpenHAB2. I'm happy to help test things as you go along. Like my brother (above), I've just installed 2.0b4 this weekend.

Rob

[2016-12-13 19:01] BobRak commented on #1566
Hi Bruce and Robert:

I will be happy to upload my code to git as soon as a get the code a little more stable and a readme.md created (so you know how to configure it).  I have figured out how to get the UI to update when an external  controller is used to change a device. I still have to figure out how to restore the previous state on startup but I'll make code available to both of you before tha

[2016-12-13 19:11] FrankZimmer commented on #1564
[log.txt](https://github.com/openhab/openhab2-addons/files/649861/log.txt)

I pared the device with log det to trace

New Device has the ID 0000D3C98C9A98

[2016-12-13 19:18] brucejackson commented on #1566
Excellent - Thanks.

About restoring state, have you have any luck using OpenHab's persistence.   I use mySQL for persistence so my mysql.persist file looks like:

[code]

So with this persistance file I would expect a item such as this to work:

[code]

[2016-12-13 19:26] robertjackson17 commented on #1566
Thanks Bob,

We'll look forward to trying it out. Bruce and I both have OpenHAB2 running on Raspberry Pi boxes.

The set-up at my end has the car's HomeLink button (that usually opens garage doors) programmed using a X10 HR12A to connect with an X10 transceiver RR501. As I recall, the CM11A detects that output of the transceiver across the electrical wires. Bruce's code sees triggers a rule to tur

[2016-12-13 22:45] LukaNoah commented on #1550
here are the timestamps from the last days.
first coloumn - timestamp from oh by received a change from netatmo
2nd coloumn - last message by netatmo
[netatmo.zip](https://github.com/openhab/openhab2-addons/files/650392/netatmo.zip)

[2016-12-14 07:53] gerrieg commented on #1564
The type of the datapoint is not BOOL but ENUM with two options. And enum is a String in openHab. The mapping is correct, but i agree that this is not optimal. Maybe the datapoint gets more options in the future.
[code]

I will soon start a refactoring of the virtual datapoints in the binding and i will add a CONTACT_STATE datapoint that maps to a Contact.

[2016-12-14 09:53] #1546 closed

[2016-12-14 10:21] kaikreuzer commented on #1563
FTR: [Here](https://community.openhab.org/t/harmony-hub-binding-unreliable/18146) are also logs, where Things stay in INITIALIZING status, although the Harmony handler does a
[code]
so this clearly hints that there is a bug in the framework.

[2016-12-14 11:09] kaikreuzer commented on #1562
You mean you tried to patch the existing bundle? I see that it correctly contains lib/nrjavaserial-3.9.3.jar and I have never seen your message before in a log. How to reproduce?

[2016-12-14 13:24] lala-rob opened #1571 "[Milight] Add Milight iBox support (API v6)"
I have a Problem controlling RGBWW 8W Bulbs.
No command is working

The Bulb are connected to an Mi-Light Wifi iBox

Description on the Bulb:
Mi-Light 8W RGB+CCT LED Bulb

Binding:
Milight Binding 2.0.0.201611222318

Product:
https://www.aliexpress.com/item/Tanbaby-Mi-light-Wireless-E27-Smart-Bulb-8W-RGB-Color-temperature-changing-85-265V-Dimmable-RGBWW/32596233965.html

Log:
13:18:38.060 [DEBUG]

[2016-12-14 16:16] LukaNoah commented on #1550
no ideas?

[2016-12-14 16:31] lolodomo commented on #1550
I am a little lost. What is the problem exactly ?
You are showing to us that OH discovers netatmo value changes with a certain delay ? Yes, that is normal, OH scans for updated values every 10 minutes, so you could discover a value has changed with a delay of 10 minutes compared to what is shown by the netatmo appmlication.
I am not sure what is the value in your second column and how you retrieve

[2016-12-14 17:59] LukaNoah commented on #1550
Please show at the datatable. At the left coloumn should be an update every 10 minutes. I know about the delay between NetAtmo an oh.
When new values received, is the difference ok. But NetAtmo read not values every 10 minutes. 6 o'clock, 8 o'clock, 11 o'clock and so on...
The left Column is the timestamp from oh, when a NetAtmo-update received. It should be in a 10 minutes cycle. It isn't.
The cy

[2016-12-14 18:17] drivin commented on #1437
Same problem here:

`2016-12-14 18:42:26.545 [ERROR] [very.HomematicDeviceDiscoveryService] -
java.lang.NullPointerException
        at org.openhab.binding.homematic.internal.communicator.AbstractHomematicGateway.createGatewayDevice(AbstractHomematicGateway.java:655)[181:org.openhab.binding.homematic:2.0.0.201612120809]
        at org.openhab.binding.homematic.internal.communicator.AbstractHomemat

[2016-12-14 18:49] stormwalkerec commented on #1562
I have a odroid c1+ with  Ubuntu 16.04.1 LTS

Fresh install - updated

Then I followed these commands:

//Install Java and Openhab2-offline
add-apt-repository ppa:webupd8team/java
apt-get update
apt-get install oracle-java8-installer
apt install oracle-java8-set-default

echo 'deb https://openhab.ci.cloudbees.com/job/openHAB-Distribution/ws/distributions/openhab-offline/target/apt-repo/ /' | sudo

[2016-12-14 19:44] kaikreuzer commented on #1562
nrjavaserial does not support 64bit ARM Linux, you should use a 32-bit JVM instead, see https://github.com/NeuronRobotics/nrjavaserial/issues/72.

[2016-12-14 19:44] #1562 closed

[2016-12-14 22:04] hmerk commented on #1571
This is not a problem, it is juast not implemented yet.
These Bulbs need API V6.0 to be implemented, so please feel free to start a feture request.

[2016-12-15 10:03] MikeJMajor opened #1572 "[Milight] OH2 cannot change brightness for white bulbs"
Setting the brightness for white bulbs doesn't seem to be working.

Decreasing the brightness from 100℅ results in the bulb turning off. Increasing the brightness from 0% doesn't result in the bulb turning on (unless it's to 100%).

Looking at the code for MilightCommunication the calls to increaseBrightness/decreaseBrightness are passing -1 for the oldPercent parameter which seems to be the cause

[2016-12-15 10:11] sjka commented on #1563
Let's ignore the double-attempt to initialize the thing. The log entry is ugly, but it's a normal anticipated case.

The things are in `INITIALIZING` state, therefore the framework is fine. However, we noticed that the Hamrony thing handler does the following

[code]

This leaves a case where no status is set. Fix this, and all is going to be good :-D

[2016-12-15 10:18] kaikreuzer commented on #1563
Not sure I understand. How can this be if the status is always set to UNKNOWN in initialize as mentioned in https://github.com/openhab/openhab2-addons/issues/1563#issuecomment-266997568?

[2016-12-15 10:20] kaikreuzer commented on #1563
Can you elaborate on this, why it is normal? Is there anything that can be done to make the logging less ugly in anticipated situations?

[2016-12-15 10:33] sbussweiler commented on #1563
If the bridge handler has been initialized, the framework tries to initialize all child handlers. At the same time a child thing is added and the framework also tries to initialize the child handler (because the bridge handler is already initialized). The _first one_ is the winner, the _second one_ causes the log entry.

[2016-12-15 10:41] kaikreuzer commented on #1563
Right, this was my analysis in https://github.com/openhab/openhab2-addons/issues/1563#issuecomment-266302611. But do you really consider this "normal", i.e. does that make sense? Why do you at all TRY to initialize a thinghandler for which there is a bridge configured, if you already know that it will also be initialized once the its bridge handler is initialized?

[2016-12-15 10:44] sjka commented on #1563
No, as I said: it's ugly! But that's how it is implemented right now.

My original point was: this is not related to the things staying in INITIALIZING state. However, I just realize that we still didn't spot the root-cause for this.

[2016-12-15 12:52] tratho commented on #1563
I still think, it is related to #1480, because, my dirty hack, mentioned in this thread, works "fine" for me! I have no " Attempt to initialize a handler twice for thing" in my logs!

[2016-12-15 13:16] svenvanlierde commented on #1557
Where can i download the fix?
Thanks

[2016-12-15 14:21] temuccio opened #1574 "Zwave Fibaro FGS-223"
Hello,
I use a fibaro FGS-223 with Openhab2 and AEON Stick Gen5.
It works fine but second channel doesn't send information about power and energy meter.
Do you know this problem?
I can help you to find a solution?
Best regards

[2016-12-15 14:45] kaikreuzer commented on #1126
Yes, there are some news! See https://community.openhab.org/t/myopenhab-replaces-my-openhab/18258. The new service does not have this issue anymore, so I am closing this one here.

[2016-12-15 14:45] #1126 closed

[2016-12-15 15:16] cdjackson commented on #1574
Please can you raise this on the forum where there are more people to help you. I believe people are using this so I suspect it's a config issue.

Http://community.openhab.org

[2016-12-15 15:16] #1574 closed

[2016-12-15 16:14] svenvanlierde commented on #1499
i have the same error, build version = 643?

[2016-12-15 19:49] lolodomo commented on #1557
See PR #1553

[2016-12-15 22:24] BobRak commented on #1566
Hi Bruce and Robert:

I want to give up a status update on the cm11a binding.

On the plus side:
* I got a lot of the cleanup done including adding JavaDoc on all of the
classes
* I created a readme.md file so you know how to configure it.
* I was just ready to push it to git when I realized I should first build a
jar file and that is where the trouble started.

On the minus side:
* The maven buil

[2016-12-16 00:44] brucejackson commented on #1566
If you push the code I'm happy provide another set of eyes to see if I can help.

I am not strong in Java and my only experience with openhab bindings was modifying EngineerGreen's work for Rob.

[2016-12-16 00:50] Homey-GER opened #1575 "[openhabcloud] Issue with Configuration Popup » Itemlist"
Hey,
congratulations to your new cloud service! Looks great so far.

Just noticed an issue with the configuration popup:
PaperUI » Configuration » Services » openHAB Cloud

In this DropDown Menu to select your Items it shows messed up stuff at the top of the list after I selected some Items and saved them.

In plain text my config looks like this:
expose=Netatmo,Temperature,Lights,Heating

But in

[2016-12-16 01:09] Homey-GER commented on #1563
I have this problem too.

Very annoying as I have about 10 "Things" that need to get deleted and added again everytime I restart openHab.

Hope it will get fixed soon 👍 If I can help somehow ... just let me know ;)

[2016-12-16 12:24] #1563 closed

[2016-12-16 13:18] ThomDietrich opened #1579 "[Network] Special routine for iPhone detection"
Presence detection for the iPhone/iPad is quite special and a few hacky solutions have been discussed over the time.

* https://www.reddit.com/r/homeautomation/comments/3zhl2z/i_think_i_finally_figured_out_iphone_wifi
* https://community.openhab.org/t/use-networkhealth-binding-for-iphone-detection/3825/1
* https://community.openhab.org/t/working-iphone-wifi-presence-locator/5985/1
* https://commun

[2016-12-16 13:24] ThomDietrich commented on #1156
Any news?

[2016-12-16 14:47] consolacion commented on #4
i know this is closed but I see one reply missing: one sees this sometimes when another process is occupying the 8080 port

[2016-12-16 14:57] kaikreuzer commented on #1575
Thanks @Homey-GER!

I can confirm this issue, there is still some bug between the ESH REST API and the Paper UI - I'll make sure that gets fixed by the weekend!

[2016-12-16 16:33] LeDumpier commented on #310
@micw, I too would be interested in learning how to use this functionality. This difficulty is trying to find out if it's available yet, the information is often  scattered.

Have you had any luck?

[2016-12-16 20:39] Seikilos opened #1580 "[Homematic] Paper UI Control randomizes ui elements for controls"
Using 2.0b4 I added a button to openHAB and it displays the buttons as follows:

Key
radio_button_uncheckedPress Short
radio_button_uncheckedPress Long

Key
radio_button_uncheckedPress Long
radio_button_uncheckedPress Short

Two other objects have their maintenance entries switched:

Maintenance
trending_upSignal Strength -52
radio_button_uncheckedLow Battery OFF

and

Maintenance
radio_button_unc

[2016-12-16 21:28] toby200 commented on #310
@gerrieg is working on it, but these things take time! In the meantime you can workaround it by setting up rules to trigger your own internal switch, or just use the astro 1 binding. See eg. https://community.openhab.org/t/astro-binding-issue/2011/22

[2016-12-16 21:30] lolodomo commented on #765
It will require a change of all MANIFEST.INF ?
What about the name in binding.xml ?

[2016-12-17 00:55] dschulte commented on #1437
It seems that yours is another problem. My issue shows up only with a homegear variable present. Maybe you should submit a new issue.

I worked around that problem by using php scripts and the exec binding. I have installed the latest apt packages. As this is my live installation I want to avoid to get a broken system by installing "unstable" packages. From my side you can close this issue if no o

[2016-12-17 08:42] lolodomo commented on #1223
@dobe77 @mdilger : @kaikreuzer closed what was the root cause of this issue. Could you confirm that you don't reproduce this issue now?

[2016-12-17 09:47] kaikreuzer commented on #765
Sorry, I think this was a bit pre-mature. Note that the bundle symbolic name is created by [the archetype](https://github.com/eclipse/smarthome/tree/master/tools/archetype/binding/src/main/resources/archetype-resources), for which we would need an update as well. Furthermore, we have 40+ binding PRs in the queue, which all have the current naming scheme and merging them will again create a huge me

[2016-12-17 11:45] lolodomo commented on #765
@kaikreuzer : you said (elsewhere) that the normal naming is without a prefix.
But the current situation is the following:
* OH 1.x bindings have a prefix "openHAB" in their bundle name
* OH 2 bindings have no prefix in their bundle name
* Eclipse SmartHome bindings have sometimes no prefix or sometimes the prefix "Eclipse SmartHome" in their bundle name
For me, there is no consistency.

[2016-12-17 13:03] gerrieg commented on #310
I've already created a PR that contains the triggers, see https://github.com/openhab/openhab2-addons/pull/1519

[2016-12-17 13:07] kaikreuzer commented on #310
Yep, already on my todo list to test. Hopefully early next week!

[2016-12-17 13:56] kaikreuzer commented on #1575
This now works correctly in the latest snapshot distro!
It does not show "x options selected" anymore, but only "search", but this is nothing severe, I would say (@aounhaider1, do you know why this is?).

[2016-12-17 13:56] #1575 closed

[2016-12-17 17:18] BobRak commented on #1566
Hi Bruce and Robert:

I've pushed my work to: https://github.com/BobRak/OpenHAB-cm11a

I figured out why it wouldn't build and got that taken care of so there in
now a jar file in the target directory you can deploy.

I've also made some progress in figuring out where and why it stops reading
from the serial port. One thing I've noticed is if I start OpenHAB and
change switches through the web int

[2016-12-18 00:06] davidgraeff commented on #1156
I'm travelling new Zealand at the moment and can't provide any code or doc updates.

[2016-12-18 14:37] brucejackson commented on #1566
Thanks Bob.  I have it installed and running.  Enjoy the holidays.

[2016-12-18 14:59] dobe77 commented on #1223
I can confirm that it does not occur anymore with Build #595.

Dominik

[2016-12-18 15:34] lolodomo commented on #1223
Please close the issue in this case.

[2016-12-18 15:35] joeduck commented on #1344
Hi. Did some testings with the latest version. It works 1 or 2 times. then the Volume runs max Vol or low vol. I have enabled the logging, but where can i finde the logfiles in karaf? Realy: Doont understand the Openhab2 file system :-( .

[2016-12-18 15:40] #1223 closed

[2016-12-18 15:41] MHerbst commented on #1558
@gerrieg Have you seen this issue. The log file contains also quite a lot "missing description" errors.

[2016-12-18 16:44] BobRak commented on #1566
Please let me know if you have problems with it stopping working.
Especially after using a keypad or other device to change modules. I
haven;t done any testing on linux or RPi.

Thanks,

Bob

On Sun, Dec 18, 2016 at 6:37 AM, Bruce Jackson <notifications@github.com>
wrote:

[2016-12-18 18:44] gerrieg commented on #1523
I have a internal group of smoke detectors and this group is available in PaperUI. Groups are prefixed with a T- (team), so your group should have the address T-INT000001 in openHab.

If you can't see the group, please switch the binding into TRACE mode and send me a full startup log
[code]

[2016-12-18 18:47] chiefymuc opened #1584 "[onkyo] Return to previous input source after playSound"
Currently the Onkyo binding does not return to the previous input source after playing a sound from openhab. I believe this should at least be an option.

Maybe @vbier can help?

Thanks!

[2016-12-18 18:59] gerrieg commented on #1558
You can ignore the description not found messages, it's only the datapoint description for PaperUI. It has no effect on the functionality.

As Martin has already mentioned, the 1.x and 2.x binding uses completely different methods in the communication with the gateway. Maybe Homegear does not send all datapoints via one API. But to be sure, please use OH2, switch the binding into TRACE mode and se

[2016-12-18 19:04] planbnet commented on #1295
It seems that this issue is resolved in the current version. I'm still getting error messages for the thermostat, but that's most likely not related to this problem.

[2016-12-18 19:04] #1295 closed

[2016-12-18 19:11] MHerbst commented on #1523
@gerrieg I can see the smoke detector group but no other groups. Maybe this has to do with the group types. The smoke detector group was automatically created when I added the smoke detector device to the CCU.
I have 5 groups defined manually (e.g. INT0000007) but none of them is discovered.
[openhab.zip](https://github.com/openhab/openhab2-addons/files/659591/openhab.zip)

[2016-12-18 20:54] gerrieg commented on #1523
I'm not sure if we are talking about the same thing.

There are two kind of groups, one that are automatically added like the smoke detector group and one that we can manually add via settings -> groups.
The latter are only groups of the CCU-UI. These groups are not available via API methods.

[2016-12-18 21:03] MHerbst opened #1585 "[openHABCloud] several IOException messages after add-on installation"
This is not a sever problem but I wanted to document it.

I have installed the latest openHAB version on my Raspberry 3. Not via apt-get but by unzipping the ...-online zip file from Cloudbees.
After the first start I selected "install" for the openHab Cloud and the Rest documentation add-on.
Now I got several error messages on the console.
[code]
This Socket.IO error is understandable because I d

[2016-12-18 21:21] MHerbst commented on #1523
Yes, you may right that was a misunderstaning. But I am quite sure that @andreheuer also was talking about the same type of (manually defined) groups as I did,  because I have a similar device combination in my living room.
As far as I know there is no other way of combining these devices to a group.

[2016-12-19 02:29] Marty56 commented on #1585
Same here.
When I have to do an update of OH2 and using the online version and starting the new installation the first time, my log is full of error messages which seems to root from timing issues installing and accessing for example the persistence service.
Normally after 15 Minutes I have to stop OH2 again and then do another restart which is then working normally.
But also in this case I still

[2016-12-19 02:34] Marty56 commented on #1579
Would love it!

[2016-12-19 02:43] Marty56 commented on #1231
Where can I find  some documentation?

[2016-12-19 07:02] kaikreuzer commented on #1585
@MHerbst I also see these messages after a first start after having upgraded to a more recent snapshot. This is imho not related to openhabcloud nor to any other specific add-on.

If you can confirm this is the same for you, I'd suggest to continue on https://github.com/openhab/openhab-distro/issues/299, which isn't yet solved (i.e. we do not really have a working upgrade mechanism in place yet).

[2016-12-19 07:34] MHerbst commented on #1585
@kaikreuzer You are most likely right that it is not specific to openhabcloud, but with the installation of openhablcloud it was possible to reproduce it easier then with other addons.

It is different from https://github.com/openhab/openhab-distro/issues/299 because I did a complete fresh installation. I completely removed an old instalallation, unzipped the online version zip of the latest build

[2016-12-19 14:29] martinvw commented on #1265
@gersilex can you attempt with a more recent snapshot whether this behavior has improved?

Looking at the current code it should!

[2016-12-19 14:40] gersilex commented on #1265
Thank you. I will try do get to it this week.

[2016-12-19 14:53] KlausMu commented on #1558
Here is the log. I used a fresh OH2 installation and added a things file for the Homegear-interface. Nothing else was done.
[openhab.log.txt](https://github.com/openhab/openhab2-addons/files/661328/openhab.log.txt)

[2016-12-19 16:48] paulianttila commented on #1265
Lightning4 message support is broken on OH2. There is a fundamental problem with pulse length which should be somehow solved.

See discussion:
https://community.openhab.org/t/rfxcom-cheap-pir-sensor-binding-in-openhab2/13607/24

[2016-12-19 17:02] gerrieg commented on #1558
Excerpt from your logfile
[code]

CONTROL_MODE is loaded for all devices, so i don't know why you can't see it in PaperUI.
Just to be sure, did you click on 'Show More' on the Things page?

[2016-12-19 22:52] kaikreuzer commented on #1585
Thanks for your analysis @MHerbst! This sounds indeed as if the Karaf feature installer is not thread safe.

I actually have [this work](https://github.com/openhab/openhab-core/commit/2c80b88a82fadcc789b7d762050412a85400800b) pending since September - it is a new feature in Karaf that allows to install several features in one go, I would hope that this helps for this issue. Unfortunately all past

[2016-12-19 23:09] #1517 closed

[2016-12-20 10:26] KlausMu commented on #1558
Ok, in PaperUI I can see the datapoint when clicking on 'Show More'. Didn't find that.

But the cause for my trouble was something different. I found that I have to change the type for the CONTROL_MODE items.

In OH 1.x I had items of type Number, receiving values from 0 to 3.

In OH 2.x this channel receives values like "AUTO-MODE", "MANU-MODE", which leads to the item having always value NULL.

[2016-12-20 13:46] ThomDietrich commented on #1579
@Marty56 This task is currently unassigned. If you want to give it a try...?

[2016-12-20 14:07] hakan42 commented on #1579
Thinking about this and ARP scanning, I am thinking whether a dedicated ARP scanning binding would be a good idea. Care to add your ideas / opinions to the community thread?

https://community.openhab.org/t/arp-scanning-should-i-create-a-new-binding-or-add-to-the-network-binding/18514

[2016-12-20 14:55] gerrieg commented on #1558
The OH1 binding has a generic mapping, you could use a Number or String item for such datapoints. In OH2 there is only one type per channel, and a enum is mapped to a String.

forceUpdate is implemented, it's available as channel property and you can set it in PaperUI for each writeable channel.

[2016-12-20 15:58] KlausMu commented on #1558
Ok, thanks.

I'm also having problems with boolean values, e.g. "LOWBAT". In OH 1.x I used Number items for them, but this doesn't seem to work anymore. What is the correct Item type for this? Is it documented somewhere?

Can I use forceUpdate in an items file?

Sorry for asking all these things, but I can't find any documentation or (working) examples for these problems.

[2016-12-20 16:40] Hilzerak opened #1590 "Max Shuttercontact Display State"
Hey guys,
i struggle for long time with the max shuttercontacts. I've a Maxcube as Gateway and Openhab2.
In Paperui they work fine.

But in other UIs i ran in errors with my config.

**Items:**

Contact OG_Bath_Window "Window is [MAP(max.map):%d]" (Window_Sensor, OG_Bed, Contact) {channel="max:shuttercontact:NEQ1207124:NEQ0846206:contact_state"}
**Sitemap**

Text item=OG_Bath_Window

**Transform**

[2016-12-20 17:13] gerrieg commented on #1558
LOWBAT is a boolean and therefore a Switch

No, there are currently no item properties available in OH2, so you have to configure it on the channel

No problem, a task on my todo list is to update the Homematic readme with more informations

[2016-12-20 18:51] MHerbst commented on #1585
Sounds good. I can then test it again.

[2016-12-20 20:47] martinvw commented on #1019
@rtvb are you still interested in this, I just completed the code changes required for OH2 and can provide you with a test-jar

[2016-12-20 22:08] SpaceMaster85 opened #1594 "[pioneeravr] Update documentation for multizone support"
After the introduction of multizone support for the pioneeravr binding the documentation is outdated and wrong.
I posted my configuration already in the forum.
Please see [(https://community.openhab.org/t/pioneer-binding-update-dokumentation/18544](https://community.openhab.org/t/pioneer-binding-update-dokumentation/18544)