[2016-12-20 22:14] kaikreuzer commented on #1594
If you know what needs to be changed: Will you create a PR for it?

[2016-12-21 02:47] Marty56 commented on #1579
@ThomDietrich. This would clear exceed my capabilities.

[2016-12-21 02:53] DaAwesomeP commented on #1471
@ThomDietrich @svilenvul OSHI has been updated accordingly (oshi/oshi#278 is closed). Please update the addon. Thanks!

[2016-12-21 05:05] rtvb commented on #1019
I will surely give this a test drive. Give me some time however. I will post my findings and create an issue if needed.

[2016-12-21 07:45] dbwiddis commented on #1471
Currently the fix is only in the SNAPSHOT release but I expect the full 3.3 release soon.

[2016-12-21 07:59] martinvw commented on #1019
You don't have to create an issue you can just mention it here, in openHAB 2 is has not yet been merged so you have to use my custom jar or compile yourselves from my branch. If it works I'll create the pull request.

[2016-12-21 11:42] Homey-GER commented on #1222
same issue here with build 201612180944, it spams my logfile every 2 minutes with:

`
2016-12-21 08:41:46.935 [WARN ] [rg.jivesoftware.smack.XMPPConnection] - Connection closed with error
java.io.EOFException: no more data available - expected end tag </stream:stream> to close start tag <stream:stream> from line 1, parser stopped on END_TAG seen ...<![CDATA[result=23034925]]></oa></iq>... @1:646

[2016-12-21 12:07] FredericMa commented on #1222
I can also confirm that the duplicates are solved with one of the latest builds (20161218.094050).
I was using beta4 of OpenHAB in combination with the latest version of the harmony binding . This still caused the duplicates, my fault.

Also, I still receive the EOFExceptions. I saw these popping up this morning in my system after a reboot of my router. A second reboot of my router didn't solve th

[2016-12-21 16:04] ThomDietrich commented on #1579
@Marty56 maybe you could assist @hakan42 or look into #1156. Everyone starts small at some point ;)

[2016-12-21 16:20] Homey-GER commented on #1590
Here is the mistake:
[MAP(max.map):%d]

Replace %d by %s

It should look like this then:
[MAP(max.map):%s]

[2016-12-21 17:45] LukaNoah commented on #1550
I made a new clean installion on my pi.
It's running at time....

[2016-12-21 17:45] #1550 closed

[2016-12-21 21:17] SpaceMaster85 commented on #1594
I will make a PR within the next days

[2016-12-21 23:05] kaikreuzer commented on #1585
Please test with the next distro - I have upgraded to Karaf 4.0.8. The new bulk feature installation seems to be much, much faster as well :-)

[2016-12-22 06:52] itn3rd77 opened #1597 "[marytts] Why is there a separate log directory?"
I don't know if this is considered a bug but I want to bring this to discussion.

In my humble opinion we should have a single log directory (sub directories when necessary) to store all log files  in one place. With installed marryTTS addon there is an extra log directory inside the userdata folder named 'log'  beside the default log directory named 'logs'. Is this intentional? I would suggest to

[2016-12-22 08:48] Hilzerak commented on #1590
Thx for reply an explanation.
Unfortunately i've tested this with both and no difference at all.
"Unknown every time".

[2016-12-22 09:12] kaikreuzer commented on #1597
I once tried to do this, but the folder is written directly from the Mary server without using the slf4j logging infrastructure, hence I failed moving the folder.

If you find a way to make it work, it would be awesome :-)

[2016-12-22 12:48] itheiss commented on #1597
As far as my research is correct the the logging is configured from 'marrytts/util/log4j.properties' inside the 'marytts-runtime-5.1-SNAPSHOT.jar'. I found a post at stackoverflow where some guy said the properties file can be overridden by putting a directory containing the properties files, with the same package structure, in the classpath, before the jar file.

But my knowledge is to limited to

[2016-12-22 13:59] #1558 closed

[2016-12-22 14:44] MHerbst commented on #1585
@kaikreuzer I tried it with a fresh installation on my Raspi and on Windows 10 and I could no longer reproduce the problems with parallel installation. :-)

Only one thing in the logs looks a bit strange (but does not really seem to be problem). Each time a new add-on is installed the messages about the installation of "ui-habpanel" and "ui-paper" (or "ui-basic" are repeated:
[code]

[2016-12-22 14:47] kaikreuzer commented on #1585
Thanks for testing @MHerbst - glad it seems to be solved.

Regarding the "installed messages": Funny, I was just fixing it in this minute: https://github.com/openhab/openhab-core/pull/100

[2016-12-22 18:05] thopiekar opened #1598 "jdbc+MariaDB: exceptions when using rebuildTableNames=true"
Found time to play around persistence and just found this:

[code]

Having this option enabled and getting the errors above makes jdbc unusable - neither values are stored anymore nor read from the database.

Regards

[2016-12-22 19:00] thopiekar commented on #1598
Noticed that this problems comes truly from rebuildTableNames=true.

To get jdbc working again, I had to turn off openHAB2, browse into userdata to jdbc's second config file and disable rebuildTableNames=true there.
Otherwise turning it off won't work, probably because the exception happens before the config can be updated in userdata.

[2016-12-22 19:11] watou commented on #1598
Please open this issue in the openhab/openhab repo's issue tracker and close this one.  I am looking into the stack traces you provided.

[2016-12-22 19:53] denkermatic commented on #1437
Same problem with homegear 6.7-1545 and openHab2-online 2.0.0~20161222170724. Looks like the homematic binding  can't read the homegear system variables.

[code]

[2016-12-22 20:42] thopiekar commented on #1598
Done at: https://github.com/openhab/openhab/issues/4926

[2016-12-22 20:42] #1598 closed

[2016-12-22 21:20] watou commented on #1598
Thank you, @thopiekar.

[2016-12-22 21:30] thopiekar commented on #1598
No problem @watou . Hope you can find the reason for the problem there :wink:

[2016-12-22 22:40] Stratehm commented on #1344
@joeduck the log file is located here : openhabInstallDir/userdata/logs/pioneer.log

A new version of the binding is [available](https://github.com/Stratehm/openhab2-addons/releases/tag/2016-12-22). It is an heavy refactoring with breaking changes. Before installing this version, be sure to remove your AVR Things.

Now, to declare things, the AVR model as to be one of the list (no more ipAvr):

-

[2016-12-23 09:53] Sschhsd commented on #1344
Thank you!

I have the same issue. When i press volume up, the volume is set to max.

[pioneer.txt](https://github.com/openhab/openhab2-addons/files/670554/pioneer.txt)

[2016-12-23 12:06] Max-1968 commented on #1041
@dominicdesu it was working fine for me on my old openhab2 installation which i basically made to test the migration from openhab1 to openhab2. I'm not sure about this disconnects you had though, it seems this issue didnt happen for me. But yesterday i started completely from scratch with a new openhab2 installation using apt-get and the daily snapshots, and this doesnt work any more. I think it i

[2016-12-23 12:43] Homey-GER commented on #1590
hmm, then I am not sure, sorry.
I can only confirm that it's working fine for me.
I've used the latest OH2-Beta4 for some weeks and now I am on the latest snapshot from some days ago.

I have installed:
binding-max - 2.0.0.SNAPSHOT
transformation-map - 0.9.0.SNAPSHOT

/items/max.items
`Contact Contact_WZ   "Balkontür [%s]"   { channel="max:shuttercontact:LEQ0039819:LEQ0167545:contact_state" }`

/s

[2016-12-23 14:35] Max-1968 commented on #1041
Update:

Although i deleted the Allplay Jar from the addons folder, stopped and started openhab service multiple times and even rebooted my server it still seems to be "existent" in Karaf:

`
openhab> bundle:list
START LEVEL 100 , List Threshold: 50
 ID | State    | Lvl | Version               | Name
--------------------------------------------------------------------------------------------------

[2016-12-23 14:38] Spilota commented on #1344
Testing this with the VSX-1122 and VSX-1021, it is working great. I'm using the VSX-1021 and VSX-1022, which both support the set volume command.  Log file below in case you need it.

[pioneer.txt](https://github.com/openhab/openhab2-addons/files/670885/pioneer.txt)

A couple small issues:

- The slider for Zone 2 dB volume is scaled -80 to 12 dB ( instead of the configured parameters, -80 to 0 in

[2016-12-23 14:45] Hilzerak commented on #1590
@Homey-GER
U ARE THE MAN!
Finally... after over 8h invest I've found the error...
Wow!

But, can anyone explain me why the hell this is the fault?!
I've removed the Item from Group Contact, restarted the Server and then it works.
The Group definition is:

Is it because the Name "Contact" is defined as Itemtype?

[2016-12-23 15:09] martinvw opened #1600 "occured or occurred"
In at least 11 openhab bindings and multiple parts of the org.eclipse smarthome the word occurred has been misspelled. A search in the code gives 97 occurrences of which 82 occurred in either comments or strings and should thus be easily replaced.

If anyone likes to replace them please do so, otherwise I will most likely do it somewhere in the upcoming weeks.

Any other spelling errors which shou

[2016-12-23 15:13] kaikreuzer commented on #1600
Feel free to create PRs where ever you find such typos! Many thanks :-)

[2016-12-23 15:25] hakan42 opened #1601 "[netatmo] [OH2] Results of HTTP calls are shown on the console"
## Expected Behavior
Debug traces should go to either to the designated log or be suppressed

## Current Behavior
The HTTP requests and responses are dumped on the system console:

    Dec 21 15:58:42 pitaya start-service.sh[12940]: Access-Control-Allow-Origin: *
    Dec 21 15:58:42 pitaya start-service.sh[12940]: OkHttp-Selected-Protocol: http/1.1
    Dec 21 15:58:42 pitaya start-service.sh[12940

[2016-12-23 15:27] hakan42 commented on #1601
@watou  identified that the core issue is with okhttp library using System.println() everywhere.

https://github.com/openhab/openhab/issues/4919#issuecomment-268793510

I would not expect them to change, though, as they are targeting Android applications as well, where they cannot rely on slf4j / log4j being available.

Perhaps we should look into some other library to do the OAUTH dance and the f

[2016-12-23 16:04] joeduck commented on #1344
Many Thanks for your work! Now it works correct with my VSX-528-K. It was recognized as VSX-528-K and Generic AVR. I let all on standard settings but change port to 8102.

Again: Many thanks!
One OT question: How can i set the Volume with a script without the Slider to a absolute value?

[2016-12-23 16:04] rtvb commented on #1019
@martinvw I noticed an update in the wiki and your commit for the 1.9 release. Can you provide a link to a '1.9.0' .jar for use with my current 1.8.3 installation?

[2016-12-23 16:22] martinvw commented on #1019
Its in the official daily snapshots but this should also work:

http://mtin.nl/1019/org.openhab.binding.rfxcom-1.9.0-SNAPSHOT.jar

[2016-12-23 17:05] rtvb commented on #1019
I have installed the binding and configured some virtual switches like in the wiki:

[code]

(I can successfully get the input from the remote)

I cannot pair this ID `2901` with my socket. This is what the debug log shows:

[code]

[2016-12-23 17:33] martinvw commented on #1019
Can you show me the debug log of what happens when you actually send the LIGHTING5.IT command?

And did you send that command while being in range of the socket which is blinking with the red light (ie learning mode)

[2016-12-23 17:50] dominicdesu commented on #1041
Hi,
thanks for the info. I will change the initializing to something else.
Maybe your second issue is related to [this thread](https://community.openhab.org/t/karaf-4-0-8-upgrade/18606)? Don't know what I could have done wrong in the binding to be so persistent 😛 . However I will keep my eyes open.

[2016-12-23 19:27] MHerbst opened #1602 "[yamahareceiver] Add additional info for Net Radio"
For input channel Net Radio additional information like station name and currently played song are available and e.g. shown on the receiver's display.
It would be nice to show these information also in openHAB.

[2016-12-23 20:12] kaikreuzer commented on #1041
What you have to do is to uninstall the bundle that you want to get rid off.
Simply do a
[code]

[2016-12-23 21:52] Max-1968 commented on #1041
I did that as well - Karaf crashes and the bundle stays :)

However I will look further into it sometime next week :)

Von meinem iPhone gesendet

[2016-12-24 05:49] rtvb commented on #1019
The FA500S does not have a blinking red light; I need to send an ON command within 10 seconds after plugging it in. I did that. Please find a more elaborate debug log.

_My personal guess would be a) that the protocol is not yet enabled on the RFXCOM device or b) I need a firmware upgrade?_

The thing is, I do not have access to a Windows machine to use their configuration app.

[code]

[2016-12-24 07:36] martinvw commented on #1019
I fear your version is to old, see the version history in the manual, especially the date.

BlindsT12 Confexx CNF24-2435 added
IT FA500, PROmax... added
Ext2 fimware overview added in chapter 2 Auriol Z31055B-TX added
Chuango, Eminent security sensors added

Note that  mine also looks different (I do have a led, or at least something that emits red light)
![img_1197](https://cloud.githubuserconten

[2016-12-24 08:32] martinvw commented on #1019
The Unknown was sent by the controller meaning that it received an unknown / unexpected command request.

[2016-12-24 08:34] martinvw commented on #1019
I'm willing to upgrade your device, but I fear that you live somewhere near Rotterdam, I live near Haarlem.

[2016-12-24 10:06] MHerbst commented on #1580
I can reproduce at least the second one. For some devices the order is different. @gerrieg should know whether this is a problem of the binding or a general Paper UI issue.

[2016-12-24 10:10] MHerbst opened #1604 "[Homematic] Gateway-Extras not always discovered on first (automatic scan)"
I have got this problem several times with fresh (test) installation. It is not reliably reproducible.
I installed the Homematic add-on in fresh installation and started the scan for new things. All things are found automatically. Only for Gateway-Extras I get this warning and the thing is not created.

[code]

If I start a new scan (some minutes later) the thing is found correctly created. So it

[2016-12-24 10:46] MHerbst commented on #1585
With the latest build (672) I no longer see the duplicate messages and everything works fine (tested on Raspi and Windows). So I close this issue.

[2016-12-24 10:46] #1585 closed

[2016-12-24 11:14] rtvb commented on #1019
I have the black outdoor version of the device.

Thanks for your offer. I live near Rotterdam. I will probably need to try a pc from work or my son's gaming computer. Will let you know what happens after that.

(Mac user since 2007)

[2016-12-24 14:46] rtvb commented on #1019
I was able to get my son away from his gaming PC. 😄
An upgrade to the latest EXT2 firmware did the trick. 🤦‍♂️
Now I'm finally able to use those cheap ass switches with openHAB. 😉

[2016-12-24 14:55] martinvw commented on #1019
Hooray!

Did you test it with the OH1 binding or with OH2 binding or both?

[2016-12-24 17:30] littlej956 opened #1607 "XBMC 1.9.0.b4 - Unexpected problem updating configuration org.openhab.xbmc"
This binding used to work on my Kodi 16 - Libreelec box, but now i get this error :

`19:24:46.105 [ERROR] [org.apache.felix.configadmin        ] - [org.osgi.service.event.EventHandler, org.osgi.service.cm.ManagedService, id=364, bundle=200/mvn:org.openhab.binding/org.openhab.binding.xbmc/1.9.0.b4]: Unexpected problem updating configuration org.openhab.xbmc
java.lang.ArrayIndexOutOfBoundsException

[2016-12-24 18:32] watou commented on #1607
Sorry to have to direct you to the openhab/openhab repo where this binding exists.  Please open this issue there and thank you.

[2016-12-24 19:12] rtvb commented on #1019
I downloaded the 1.9.0 jaar to be used with my 1.8.3 installation.

[2016-12-24 19:48] metbril opened #1608 "DSMR binding for OH2"
@mvolaart Any chance you will port the DSMR 1.x binding to OH2?

Cc @martinvw

[2016-12-25 05:45] mvolaart commented on #1608
@rtvb Yes, i will port the binding. Untill now i have not done anything with OH2 so i have at this moment no idea what has to done and when it will be ready.

I will look into this.

[2016-12-25 07:44] martinvw commented on #1608
You should be able to use it already as it is. The only thing that does not yet work is auto discovery. But the configuration via the paper ui already works great.

[2016-12-25 08:32] gerrieg commented on #1580
I have no influence on the sorting of the metadata, so this is a PaperUI issue.

[2016-12-25 11:01] marcelrv commented on #1534
I think currently there is no workaround.
we need to ask @pail23 what is the purpose of the frequent polling of status, as while being connected seems all updates are already send, hence the polling may not be needed at all (or very limited)

Alternatively, we could make the polling frequency a configuration option, so in your case you can set it to very slow/disable

[2016-12-25 11:34] martinvw commented on #1019
I just tested it on my own environment switching the Christmas lights works on OH2 with this changes

[2016-12-25 13:17] rtvb commented on #1019
Since the PR has been merged, shouldn't we close this issue?

[2016-12-25 17:52] nilzen commented on #1239
Same thing happens for me...

[2016-12-25 18:13] #1019 closed

[2016-12-25 20:09] johane73 opened #1610 "Rule problem: The name 'C3' cannot be resolved to an item or type"
Hi,

I've got an interesting Rules error.

I've got two nexa switches, C1 & C3 (yes there is a C2 as well) and a remote that came with the pack.

I have rules set up so that when I press 1 - OFF on the remote  the C3 Switch is turned OFF.

The rule is:
`rule "Received Remote Switch 1 OFF"
when
        Item Remote1.1 received update OFF
then
        logInfo("Remote 1.1", "OFF")
        sendCommand(

[2016-12-25 20:20] watou commented on #1610
Please open a new topic at https://community.openhab.org where this can be discussed, thanks!

[2016-12-25 21:17] nilzen opened #1611 "rfxcom - No response received from transceiver"
After reading that the release for 2.0 is scheduled for January (yay!) I thought I should report this again even though it looks like a duplicate #1239, but the title in that issue is misleading. This happens for me after that I turn on/off ~10 lights directly after a reboot of the server, no files changed.

[code]

[2016-12-26 08:47] martinvw commented on #1498
@fremel75 I think this can be closed now, can you do so?

[2016-12-26 12:03] MHerbst commented on #1604
Now I saw in the log file that this message not only appear after the first scan. I sometimes also occurs after a restart of openHAB.
My test environment is a Raspberry 3, so maybe it is a timing issue.

[2016-12-26 12:45] MHerbst opened #1613 "[Homematic] Initialization problems after fresh install (Build 674)"
I have installed the online version of openHAB on Windows 10. Then I installed the Homematic add-on and wanted to start a discovery. But no things were discovered and this error message appeared on the console:

[code]
After a restart of openHAB everything worked fine.

I can remember that I have already seen this problem sometimes in the past but I was never able to reproduce it reliably. Because

[2016-12-26 13:56] ich92 commented on #1568
I've tried exec2 now.
I'm running into some problems:

default.things:

`Thing exec:command:TEMP [command="/etc/openhab2/scripts/dht22.sh TEMP", intervavl=60, timeout=10, autorun=false]
Thing exec:command:HUM [command="/etc/openhab2/scripts/dht22.sh HUM", interval=60, timeout=10, autorun=false]`

default.items:

`Number TEMP_WOHNZIMMER "Temperatur Mein Zimmer [%.1f °C]" <temperature> (Temperatur)

[2016-12-27 07:50] metbril opened #1614 "[exec] Pipe symbol in command line unsupported"
I try to create a thing that monitors my Internet connection by pinging Google. Eventually it should populate a Switch item.

This thing provides output
[code]

This thing raises an error on the ping command:

[code]
It looks like the pipe symbol is not supported properly.

This is the item:
[code]

[2016-12-27 12:45] martinvw commented on #1600
Resolved for openhab, we could also scan through eclipse smarthome but another issue should be created then

[2016-12-27 12:45] #1600 closed

[2016-12-27 13:46] rtvb opened #1617 "Improve readability of Exec binding README"
Improve readability of Exec binding README

[2016-12-27 14:48] #1617 closed

[2016-12-27 21:06] SuperOok commented on #503
I can confirm that with a change from 1.8 to recent 1.9 binding the behavior of the binding changed. It is the other way round:

[code]
The item Licht_Diele is
`Dimmer Licht_Diele <dimmablelight>{knx="<0/2/6+0/5/6, 0/3/6, 0/4/6+0/6/6"}`

The rule is never triggered, while the log shows
[code]
Only when I add `autoupdate=true` to the item, then the rule gets triggered:
[code]
So do I have to add th

[2016-12-28 09:29] cvanorman opened #1619 "[ubp] Add UPB Binding"

[2016-12-28 21:02] egila opened #1623 "[RFXCOM] TEMPERATURE_HUMIDITY_BAROMETRIC missing"
The TEMPERATURE_HUMIDITY_BAROMETRIC message has not yet been implemented in the rfxcom 2.0 binding. It was present in the 1.x version of the binding.

[2016-12-29 01:07] Halvhjearne commented on #1324
just fyi, it still does not work for some reason, not sure if there is a diffrence cause i installed with default raspbian img, but it seems a lot of the systeminfo options does not return anything, or it returns invalid readings, for me ...

[2016-12-29 02:42] Royw51 opened #1624 "ASTRO Offset error build 681"
When attempting to set an event off set for Range event "astro:sun:local:set#event"  this is posted in the log:
[INFO ] [ome.io.rest.core.thing.ThingResource] - Received HTTP PUT request for update at 'things/astro:sun:local' for an unmanaged thing 'astro:sun:local'.

and a "pop up" box stating "ERROR: 409 - Conflict" appears.  This occurs on all Range events, sun and moon, that I tried.

[2016-12-29 10:27] kaikreuzer commented on #1624
You cannot change a Thing that is defined in a file. Create it through the Paper UI instead and it will work.

[2016-12-29 10:27] #1624 closed

[2016-12-29 14:05] Homey-GER commented on #1568
I think it only works if you use STRING for the exec commands if you use the :output parameter.
I had similar errors when using NUMBER or SWITCH in the item definition.

Try it with STRING instead NUMBER one time in your items file and see if it works and errors go away. I think the exec item just works with STRING items ...

[2016-12-29 14:42] #1538 closed

[2016-12-29 20:57] marcelrv commented on #1207
fixed with PR #1625

[2016-12-29 22:03] metbril opened #1626 "[RFXCOM] Improve README docs"
The [documentation](https://raw.githubusercontent.com/openhab/openhab2-addons/master/addons/binding/org.openhab.binding.rfxcom/README.md) desperately needs improvement:

- [ ] working example(s) for different types of devices
- [ ] better documentation of available subtypes

Feel free to add other improvements.

[2016-12-30 14:33] regnets opened #1628 "[chromecast] Unable to "send" Stream URLs"
I am unable to play stream urls to my chromecast audio for example:
http://www.wdr.de/wdrlive/media/einslivedigi.m3u
http://mp3channels.webradio.rockantenne.de/rockantenne
http://mp3channels.webradio.rockantenne.de/rockantenne.aac

openHAB 2.0 Build #684
Chromecast Binding Build #225

Here is my test items file:
[code]

Here is the corresponding rule:
[code]

I got no errors in the server.log file

[2016-12-30 14:42] regnets opened #1629 "[chromecast] Unable to Skip to the next song"
When i am playing for example something from spotify on the chromecast i am able to pause and resume playback, however i cannot skip the current track or go back.

openHAB 2.0 Build #684
Chromecast Binding Build #225

There are no errors in the openhab.log file.

Here is my items file:
[code]

[2016-12-30 14:52] mhilbush commented on #656
Since the documentation has been updated to reflect the correct .things configuration, I believe this issue can be closed.

[2016-12-30 15:23] mvolaart commented on #1608
I have my OH2 setup running now including the OH1 version of the binding running without problems.

I started developing the OH2 binding for DSMR.

[2016-12-30 15:28] airix1 opened #1630 "[Squeezebox] support for AudioSink"
Requesting support for AudioSink in the OH2 Squeezebox binding.

see: [https://community.openhab.org/t/openhab-2-squeezebox-text-to-speech/16423/8](https://community.openhab.org/t/openhab-2-squeezebox-text-to-speech/16423/8)

[2016-12-30 15:30] #656 closed

[2016-12-30 15:36] mhilbush commented on #1630
I'd be willing to take a run at this, although I might need some guidance from @digitaldan or @kaikreuzer.

[2016-12-30 17:08] #1041 closed

[2016-12-30 17:10] dominicdesu opened #1631 "AllPlay binding: Implement Zone management"
AllPlay speakers are able to form zones (multiroom audio). This functionality should be included in the AllPlay binding.

[2016-12-30 17:12] dominicdesu opened #1632 "AllPlay binding: Implement AudioSink functionality"
The AllPlay binding should implement the AudioSink functionality to be available for audio sources as a sink.

[2016-12-31 00:47] bricolo100 opened #1635 "Zwave: FIBARO WTRFID event mishandled"
While using the Fibaro WTRFID, the alarm_access channel is triggered on whatever type of access is requested: "Home" or Away.
According to the device manual (https://www.zipato.com/wp-content/uploads/2015/07/wt-rfid-Zipato-Mini-Keypad-RFiD-Z-Wave-User-Manual-v1.4.pdf), page 2 AWAY generate an event 0x05 and Home 0x06.
This is correctly detected on ZWaveAlarmCommandClass
Away Debug  log:  NODE 11:

[2016-12-31 01:05] bricolo100 opened #1636 "ZWAVE: false / good usercode not reported"
When using a device that utilizes USER_CODE, this user_code is not:
- associated to Channel in case of success
- reported into the log in case this one is not registered as valid.

In the first case, it is impossible to associate/store the action with a person (that owns the code), this does not help for tracability.
In the second case, RFID tags cannot be set as valid input because their stored I

[2016-12-31 12:19] cdjackson commented on #1636
I don't really understand what you're asking for.

Please discuss on the forum first (also, this issues list is not for zwave, so if we do open an issue for this, please open on the zwave list).

Thans

[2016-12-31 12:19] #1636 closed

[2016-12-31 12:20] cdjackson commented on #1635
This probably needs a database update. Please open this on the zwave issue list.

Thanks

[2016-12-31 12:20] #1635 closed

[2016-12-31 12:42] EliasGabrielsson opened #1641 "Tellstick Binding: Resend parameter does not work & DeviceID not set in Paper UI."
## Bug
### Usecase goal:
Change the resend count for a device with Paper UI:

### Error Symptom:
Added devices (switch, dimmer) with inbox does not automatically set `deviceID` parameter in PaperUI -> Configure device. After manually changing the `DeviceID` the resend count does not apply.
### Expected behavor:
The deviceID parameter should be auto filled in or deviceID shall not be a required fie

[2016-12-31 12:42] EliasGabrielsson commented on #1641
FYI: @jarlebh

[2016-12-31 12:44] EliasGabrielsson commented on #1641
Missing deviceID also applies for `sensor`-thing

[2016-12-31 14:09] ich92 commented on #1568
Then it's a big step backwards to exec1 binding.
I don't unterstand why I ask for a number, I get a number and I have to say it's a string...

I want to make a request for changing this. Should I?

[2016-12-31 14:10] ich92 commented on #1568
It's working with a string...

[2016-12-31 15:20] mhilbush commented on #1630
Quick status update...  I have something basic working, but the code still needs some work.  It's modeled largely after what was done in OH1.  I'm using VoiceRSS now, but I also have MaryTTS installed.

@kaikreuzer Thanks for setting up that handy cache for VoiceRSS; otherwise, I easily would've exceeded my allotment of 350 calls/day.  👍

I was pulling my hair out for a while because I was getting

[2017-01-01 13:59] J-N-K opened #1644 "[Network] dhcplisten not available in PaperUI"
see title.

[2017-01-01 21:31] cdjackson commented on #1635
https://github.com/openhab/org.openhab.binding.zwave

[2017-01-01 22:00] bricolo100 commented on #1635
Ok thanks

Le 01/01/2017 à 22:31, Chris Jackson a écrit :

[2017-01-02 12:28] spobel opened #1648 "[homekit] Settings minimum/maximumTemperature"
You can not set minimumTemperature and maximumTemperature from PaperUI HomeKit Settings.
If you do it in Expert Mode by adding this two parameters, there will be a cast Exception. HomekitSettings.java line 61 and 65 expects (Double) instead of parsing String to Double.

[2017-01-02 14:13] J-N-K commented on #1644
Fixed by #1645

[2017-01-02 14:13] #1644 closed

[2017-01-02 18:12] DrLaban commented on #1222
I also have this problem. If I restart OH2 it's OK for a couple of hours. Then it start spamming again.
Got 3 hubs running in my network.

[2017-01-02 18:26] manuelm commented on #1264
@kaikreuzer Tried that. Doesn't work. All custom channel configurations are created for channel group id `0`.

e.g. this example configurations:
[code]
Results in: `Datapoint 'LEQ1070123:0#2' not found on gateway 'homegear' to UNINITIALIZED (HANDLER_MISSING_ERROR)`

Looking at the code I don't think its actually possible to specify a channel group. see [GenericThingProvider.xtend#L353](https://git

[2017-01-02 21:11] kaikreuzer commented on #1264
Hm, interesting. It is correct that you cannot define channel groups for Things (see also https://github.com/eclipse/smarthome/issues/1118), but for the use case here, it should be possible to "overwrite" an existing channel of the Thing type through the DSL (because that would be the only chance to provide the configuration). For this, we probably need to support the "#" notation of channel IDs.

[2017-01-03 09:25] kubawolanin commented on #1346
Has there been any progress for that binding? I received mine AllOne recently and am able to test it :) Can't localize the jar file, though.
Many thanks!

[2017-01-03 10:06] rtvb opened #1650 "[RFXCOM] binding error when reloading things file"
Running latest snapshot on RPi, with apt-get install

On startup of service, things file loads perfectly. When I edit the file and save it, I get an error (see below)

demo.things
[code]

openhab.log
[code]

[2017-01-03 10:08] kaikreuzer commented on #1650
As the stacktrace is not at all about RFXCOM, I suspect that is a bug in the framework itself.
May I ask you to enter this issue at https://github.com/eclipse/smarthome/issues? Thanks!

[2017-01-03 10:08] #1650 closed

[2017-01-03 14:57] buzink opened #1651 "[HomeKit] breaks when tagging Color item for milight rgbw bulb"
Homekit works fine for most of my lights and switches, but whenever I add the lighting tag to a color item, the homekit app reports that the openhab bridge is unavailable. When I remove the tag, the bridge becomes available again.

This is the item that breaks the homekit binding:

`Color Light_GF_Living_Ceiling_ColorPick "Living Ceiling Color" (gMilight,All,gLight_GF_Living_Ceiling) [ "Lighting"

[2017-01-03 15:16] cmarsch commented on #496
Where can I find the add ons folder in a openhab2 installation? Sry. I'm quite a newbie.
Is copying the .jar-file the only action I need to do?
Thanks in advance for your support

[2017-01-03 15:38] koaxfr opened #1652 "HomeKit / Souliss combo"
Im having a very strange behavior when playing around with my LED strip.
On/Off works via Homekit and Openhab directly, Brightness works on both as well. but when i get to changing the color Openhab works but not Homekit.
If i choose a color on the home app (homekit) the lights just turns Off but as soon as i change the brightness (still in home app) the turn back on but white (like they were)

An

[2017-01-03 17:03] yp87 commented on #1311
Same, I would like to be able to change colors through Google Home and other application using the hue emulator. One use case I am looking forward to is to connect the Hue Disco (colors following music) app to the hue emulator so that my ledstrip follows the color changes like my hue bulbs.

Any update on this issue?

[2017-01-03 17:07] yp87 commented on #1257
Any update on this?

It would be nice to have a more robust hue emulator to do things like this:
Pair the hue emulator with apps like Hue Disco so the app can also change ledstrips and non hue bulbs color depending the music.

[2017-01-03 17:08] yp87 commented on #1222
The duplicates entries are effectively fixed. Still having the Error spam as mentioned above.

[2017-01-03 17:31] Spilota opened #1653 "[pioneeravr] Add setting and querying listening modes functionality"
<a alt="bounty" href="https://www.bountysource.com/issues/40590803"><img src="https://api.bountysource.com/badge/issue?issue_id=40590803"></a>

It would be useful (to me) to add a bit of functionality for setting / querying listening modes:

Set Listening Mode:  [****SR<CR>]
Request Listening Mode: [?L<CR>]
Request Resolution Status: [?VTC<CR>]

Being able to send custom commands and be given the

[2017-01-03 19:39] stefaanbolle opened #1654 "[Nikobus] Feedback does not work in OH2"
I can switch Nikobus items, but when using wall switches the status in sitemap is not updated.
I think there is an issue with the feedback feature.

[2017-01-03 21:14] MHerbst commented on #1330
Solution verified

[2017-01-03 21:14] #1330 closed

[2017-01-03 21:19] Alex-Witkowski commented on #1613
Same here..
Fresh openHABian installation.
[code]

[2017-01-03 21:28] MHerbst commented on #1613
Ping @gerrieg

[2017-01-03 21:31] Alex-Witkowski commented on #1613
After reboot a lot of things came in. Will observe it.

[2017-01-03 22:11] mcarlosro opened #1655 "[Netatmo] Not able to get values"
I have the following error in the openhab.log:
2017-01-03 23:08:11.947 [ERROR] [netatmo.handler.NetatmoDeviceHandler] - Exception when trying to update channels: null

and of course, I have no values (NULL in the sitemap).

This is a clean install and API and 2 thermostat are ONLINE.

[2017-01-04 01:12] beowulfe commented on #1651
@planbnet added the support for Color Items - he may have some idea

[2017-01-04 01:40] lsafelix75 opened #1656 "myopenhab.org .. Timezone bug"
Hi,

I live in GMT+8 timezone. For some reasons, event date/time shows on myopenhab.org is in the near future instead of my timezone time.

E.g. when an item event is updated at 10pm, myopenhab.org shows Tomorrow 1am

[2017-01-04 05:17] #1652 closed

[2017-01-04 05:18] koaxfr commented on #1652
My bad, realized i had <slider> instead of <colorlight>.

[2017-01-04 06:42] planbnet commented on #1651
There probably is an error and/or stacktrace in the logs. Can you please paste this here?

[2017-01-04 07:58] kaikreuzer commented on #1656
Please report this at https://github.com/openhab/openhab-cloud/issues

[2017-01-04 11:24] steve-bate commented on #1533
I suggest that not specifying an interval should result in a one-shot execution when triggered by an input command or similar event. Using zero as a magic number for disabling the periodic execution is surprising for the user, especially since it's currently undocumented (AFAICT). An interval=0 _should_ be an error since the user surely doesn't want the execution to run in a tight loop, which the

[2017-01-04 13:53] buzink commented on #1651
Thanks for looking in to this. About 20 seconds after tagging the color item instead of the brightness item, I get this:

[code]

After trying to turn on a light in the Home app, it starts saying 'No Response' and the log says:

[code]

[2017-01-04 14:05] gerrieg commented on #1613
I think this is a issue of the core framework not properly loading the binding. What exact version do you use?

[2017-01-04 17:26] ironator commented on #1283
I have still the same problem. I use Fritz!Box User with only Smarthome permission and have in the ".Things" file the user and password filled.
Is there any other config file I need to change?
I use also  a FB7390 with OS Rev. 06.51. With the old 1.8.3 it has only worked with the FB root user.

[2017-01-04 18:39] steve-bate commented on #1533
Unless I'm mistaken, I was seeing this behavior on the master branch. When I didn't specify an interval I saw a callback once per minute which appeared to correspond to a recent change to make the default value for the interval be 60 seconds.  I agree that any positive interval value is difficult to validate in a general way.

[2017-01-04 20:16] Homey-GER commented on #1655
Works fine for me, can you give some more details about your configuration, items, sitemap etc.

Also what Devices you are talking about? Netatmo has lots of them! Weather Stations, Thermostats etc.

[2017-01-04 23:32] RolandWijnen commented on #1608
@mvolaart Great that you wrote the DSMR binding! Very cool to connect my Smart Meter to OpenHAB. My meter is recognized. Just wondering how to define items manually. @martinvw can you tell me how to do this and what it looks like. Do you use smarthome designer to define the items or through the PaperUI. Still struggling to work with the system...

[2017-01-05 06:02] rtvb commented on #1608
@RolandWijnen The 1.x wiki has a perfectly working example that you can copy and paste to the designer or any other text editor. Just save your `dsmr.items` file to the appropriate items configuration folder.

https://github.com/openhab/openhab/wiki/DSMR-binding

BTW, you should better ask for support in the openHAB community forums:

http://community.openhab.org/

[2017-01-05 06:27] hypery2k commented on #929
are there any news on this issue? Experiencing the same issue

[2017-01-05 13:38] xylo commented on #496
@Plus06
I assume you installed openhab2 via apt-get.  In this case you have to put the .jar file into /usr/share/openhab2/addons.  Maybe you have to restart openhab2 afterwards.  Then the binding should be listed in the PaperUI under Configuration->Bindings as "WiFi LED Binding".

[2017-01-05 14:28] sjka commented on #1264
Yes, that should work: eclipse/smarthome#2762

[2017-01-05 15:15] B0rner opened #1658 "Openhab2 KNX Binding"
Hi,

sorry, I'm not sure, if this is the right place to place my question, but I didn't find an alternative.
I'm looking for an KNX Binding for openhab2 and found the following tree:
https://github.com/kgoderis/openhab2/tree/knx-refactor

So my question is: is there a way to get the current state of the knx addon without pulling the branch from @kgoderis ?  I would like to implement the current KN

[2017-01-05 15:17] kaikreuzer commented on #1658
Hi @B0rner, the right place for questions is https://community.openhab.org/.
KNX 2 binding is still under development, but you can safely use the KNX 1 binding, which is included in the openHAB distro.

[2017-01-05 15:17] #1658 closed

[2017-01-05 17:29] chiefymuc opened #1659 "[Kodi] Thing is going OFFLINE / ONLINE all the time although the machine is running"
I am seeing that the Thing is going OFFLINE although my Kodi is running and then going ONLINE about 10 seconds later.

Is this fixable?

[2017-01-05 19:43] airix1 commented on #1630
I'd be happy to test it out if you can post a jar.
Not sure if related, with my piCorePlayers, and I've had issues in the past with different sample rates depending on what DAC I was using.

[2017-01-05 19:45] tavalin commented on #1346
[Here](https://github.com/tavalin/openhab2-addons/releases/download/1.0.1/org.openhab.binding.orvibo-2.0.0-SNAPSHOT.jar)'s the previously built jar.  However further development is pretty much bottom of my list of priorities.

[2017-01-05 20:15] mhilbush commented on #1630
Ok. I hope to have a version at some point next week, assuming I get some time to work on it this weekend.

I'm still chasing the squeezelite issue on the piCorePlayer. Not sure how quickly that will get resolved. I built an old 1.5 version of squeezelite, and it seems to work on that (at least on an Ubuntu 16.04 workstation).

[2017-01-06 00:05] mhilbush commented on #1630
Oh, I should've mentioned that I'm seeing the problem with the HiFiBerry DAC+ Light, as well as with the Pi's analog output. I don't think it's the DAC.

[2017-01-06 11:23] steve-bate commented on #1533
This is the configuration I saw that matched the behavior I was seeing (callback every 60 seconds without an interval specification).

**thing-types.xml**

[code]

[2017-01-06 11:47] kgoderis commented on #1533
That is (to me) not normal as it has required=false

There is a check in the code on absence of this parameter, and if not present, nothing should be scheduled but I suspect the runtime to fill in the parameter automatically for us

@kaikreuzer what is the supposed behaviour when both required and default are defined on the Thing Type?

Sent from my iPhone

[2017-01-06 13:51] rtvb commented on #1324
My RPi also returns 0 degrees temperature.

[code]

[2017-01-06 14:27] m4rcu5 commented on #1257
@regnets You might find some answers to the Hue code of ha-bridge here: https://github.com/bwssytems/ha-bridge
I'd love to see a full Hue implementation so it works with Sleep as Android.

[2017-01-06 16:32] B0rner commented on #1283
As far as I know, the FritzBox login system has 3 different levels:
* login with no password
* login with password
* login with password and username

If you like to create an dedicatet user for openhab, which is allowed to use smarthome and calling-lists, but without access for the FritzBox settings, so you have to chose the 3rd setup: "login with password and username" Now you can create an root

[2017-01-06 21:34] kaikreuzer commented on #1659
@pail23 Can you help?
@chiefymuc It might help if you can provide some debug logs (use `log:set DEBUG org.openhab.binding.kodi`).

[2017-01-06 21:39] mcarlosro commented on #1655
A clean installation from the snapshot con Jan 3rd.
I used these steps from HABmin

1. Add netstatmo binding
2. Add a netatmo API and configure it.
3. Autodiscover things. 2 thermostat are discoverd.
4. Added both. No items were created.
5. Added a few items such as current temperature.

NULL value is set for all of them.

[2017-01-06 22:29] steve-bate opened #1661 "[exec] Binding suggestions"
@kgoderis

Based on discussions in the forums, users are having difficulty with the new Exec binding. Here are some recommendations based on those discussions and reviewing the implementation. This is primarily to start discussions. The list may not be complete.

* The "switch" use case should be supported better. This could either be direct support or could be made easier through some of the foll

[2017-01-06 22:47] chiefymuc commented on #1659
Here is an extract from the logs. I am using LibreElec latest beta build on a Raspberry Pi 3.

`23:36:09.566 [INFO ] [me.event.ThingStatusInfoChangedEvent] - 'kodi:kodi:KODI' changed from OFFLINE to ONLINE
23:40:49.128 [DEBUG] [i.internal.protocol.KodiClientSocket] - Closing a WebSocket due to Idle Timeout
23:40:49.143 [INFO ] [me.event.ThingStatusInfoChangedEvent] - 'kodi:kodi:KODI' changed from

[2017-01-07 08:17] janblom opened #1662 "nfigure rfxcom"

[2017-01-07 08:18] #1662 closed

[2017-01-07 09:38] ptweety opened #1663 "[Homematic] no update of ccu variables received"
Hi,
I'm using openhab2 beta5 together with a ccu2 (firmware 2.25.15) and the homematic binding. The bridge has been discovered automatically via paperui. Channels and items have been created automatically via simple mode.

I've a rule (C) in the ccu to update a system variable (homematic_GATEWAY_EXTRAS_CCU_ccu_GWE00000000_1_User1_Presence) on button press (homematic_HM_RCV_50_ccu_BidCoS_RF_1_PRESS

[2017-01-07 11:08] ironator commented on #1283
Thanks for the answer.
I'm now a step ahead but my dedicated User still don't work.
When I use my root user the binding now works, but not for the dedicated user with only "Smarthome" permission.
For the root user I still get for the first attemt "'_**avmfritz:fritzbox:1' changed from INITIALIZING to OFFLINE (CONFIGURATION_ERROR): User root has no access to FritzBox home automation functions**_" .

[2017-01-07 11:16] OliFu commented on #1655
I have the same Problem.
Main station works fine. Outdoor module and additional indoor module doesn't work.
I have tried both to config the items: config with text file and also to config with the paper ui. Same result.
LOG: "Exception when trying to update channels: null"

[2017-01-07 13:56] obilan opened #1665 "Fast repeating harmonyhub-commands cause OpenHAB delay any command for minutes"
If I send the command "volume up" via harmonyhub-service multiple times (because my HiFi receiver increases in 0,5dB steps 👎 ) mostly the whole OpenHAB system seems to freeze for minutes. Thus no other commands (like switching lights via homematic-service) will not work. A workaround is to wait for  minutes.

I am running openhab2-online 2.0.0~20170107034332.

The logs:
2017-01-07 14:25:47.873 [WA

[2017-01-07 13:59] jensihnow commented on #1499
Any updates on this issue?

I ran into this today while migrating to OH2 (fresh install, latest beta) and for me this is a blocker before moving on.

I activated the netatmo binding and configured credentials. Modules are discovered correctly, but using their values in a item file under /etc/openhab2/items is not working. Main station works fine, but Rain Gauge and Outdoor module aren't giving any

[2017-01-07 14:36] rene54321 commented on #1499
Hi,

Its working now. Issue can be closed sorry for the late response.

[2017-01-07 15:35] obilan commented on #1665
@digitaldan Perhaps something for you?

[2017-01-07 16:57] cybergreen2 opened #1666 "CometVisu PHP support add-on: configuration saving error caused by fix coded transfer limit inside jetty server"
**Issue:**
During the creation of my CometVisu visualisation I was running in an saving error of my CometVisu configuration by using the php-editor of CometVisu. The error "configuration could not be saved, serve responded with 'error' / 'ServerError' will occur, if the fix implemented transmiting size value `maxFormContentSize = 200000` in Request.java of the jetty-server is overrun.

**Environme

[2017-01-07 18:52] MHerbst opened #1667 "[Kodi] Search finds 4 Kodi instances with the same name"
Tested with openHAB Build 699.

When I execute a search for Kodi instances I get as a result 4 instances:
![image](https://cloud.githubusercontent.com/assets/616792/21744284/adab2728-d512-11e6-93e6-79d34f786676.png)

After I added 1 as thing the other 3 disappear.

[2017-01-07 19:03] MHerbst commented on #1659
In my environment on Windows 10 I have seen this effect only after a new start of openHAB. But this maybe is related to #1667 .
events.log shows the following messages:
[code]

[2017-01-07 19:12] MHerbst opened #1668 "[Homematic] Wrong language used for texts on page Control in Paper UI"
I know that the Homematic add-on uses its own technique to support different languages. While this works perfect for texts in *Inbox*, *Things* and *Items* it does not work correctly on the *Control* page. Here always the english texts are used, e.g.
![image](https://cloud.githubusercontent.com/assets/616792/21744398/f5187500-d514-11e6-8cf6-b656394a95c3.png)

For add-ons using the standard techniq

[2017-01-07 19:16] MHerbst commented on #1613
I retestet it with build 699 and the problem did not appear. Maybe it is solved somehow now. But because I was not able to reproduce it reliably I am not sure. Maybe @Alex-Witkowski  can do a retest with a newer openHABian version.

[2017-01-07 22:22] codefalk opened #1669 "[Homematic] No “CONTROL_MODE” data from HM-TC-IT-WM-W-EU"
I do run OH2 beta5 Online version and do not get any data from
homematic:HM-TC-IT-WM-W-EU:76bxxxxx:MExxxxx:2#CONTROL_MODE (Raumthermostat).
Log does not show any status changes.

I do get CONTROL_MODE changes for HM-CC-RT-DN (Heizkörperthermostat) though. Right now my workaround is to link HM-CC-RT-DN and HM-TC-IT-WM-W-EU directly and get the CONTROL_MODE change from HM-CC-RT-DN.

[2017-01-08 09:04] Andirs55 opened #1671 "[Homematic] HM-CC-RT-DN Thermostats configuration shows wrong values"
Entering the HM-CC-RT-DN Thermostats config through PaperUI causes several problems for me:

1) Causes much load on the webbrowser (tested Firefox and Chrome) and frequent crashes
2) Showed values (e.g. weekly programs, temperature offsets) are wrong and not compliant to values configured with the Homematic software tool or the thermostat itself
3) Values can not be changed through PaperUI -> erro

[2017-01-08 09:37] MHerbst commented on #1671
I would help to analyse the problems if you could add information from the log file. Especially if an error lik "Bad Request" or "HTTP error" occurs there should be an error message in the openhab.log.

On which page of Paper UI do have these problems? *Control* or *Thing* configuration, or?

[2017-01-08 10:18] Andirs55 commented on #1671
This is the page of the PaperUI where the problem occurs:
http://oh_ip:oh_port/ui/index.html#/configuration/things/edit/homematic:HG-HM-CC-RT-DN:homematic_bridge:device_number

As i assume you're German the browser reports "Skript stoppen","Skript debuggen", "Weiter ausführen" and "Keine Rückmeldung". It takes approx. two minutes to load the page so that i am able to see and modify all values.

Fo

[2017-01-08 10:27] MHerbst commented on #1671
I have got the same Homematic devices but connected to a CCU and I don't see the channels that you have mentioned (e.g. temperature offset) in the thing configuration. It seems that Homegear exposes much more  datapoints then the CCU. Maybe there are now so many channels that the retrieval of the channels takes a very long time.  What Raspberry version are you using?

I think @gerrieg will have to

[2017-01-08 12:06] Andirs55 commented on #1671
I attached a printout what my config exposes.
[Paper UI.pdf](https://github.com/openhab/openhab2-addons/files/692071/Paper.UI.pdf)

Not sure what you mean with my raspberry version, but
Rpi3 B+ with Raspbian Jessie
Openhab2 beta 5
Homegear with CC1101 tranciever directly connected to the gpio pins

[2017-01-08 15:12] mhilbush commented on #1630
@airix1 If you want to test this, here's a version.  It's not completely done yet, but it's working (for me) with the exception of recent versions of piCorePlayer.  Read the README for how to set it up, as well as current known issues.

https://github.com/mhilbush/squeezebox-test

[2017-01-09 07:55] #1590 closed

[2017-01-09 13:24] jrubbel opened #1676 "[avmfritz] Support for AVMDECT210"
Gents,

I recently bought the new FritzDECT 210 device (https://avm.de/produkte/fritzdect/fritzdect-210/1) which is basically a DECT200 device, but outdoor-ready.

As this device is not discovered by PaperUI I tried to add it manually as a DECT200 thing in PaperUI by providing the appropriate AIN. Unfortunatly the thing remains in the state INITIALIZING.

My other device is a DECT200 which works l

[2017-01-09 13:26] chriscolden opened #1677 "[chromecast] Expose Online / Offline as well as whats currently playing"
Would it be possible to add functionality to grab the status of the chromecast which can then be used to dynamically update a sitemap, ie, if its offline it's hidden.

Also there are no methods to get any information about whats playing.

[2017-01-09 13:27] chriscolden opened #1678 "[org.openhab.binding.chromecast] Volume doesn't update if volume is changed outside of openhab"
If the volume is changed via spotify or the google home app the volume change is not reported back into openhab.

[2017-01-09 13:42] #1264 closed

[2017-01-09 17:25] andreashil opened #1680 "[voice-mactts] Crackling sound before each say command output on Mac OS TTS"
In Build 703 for each say command a noticeable crackling sound is played on a Mac Mini before saying the text over the speakers. This was not the case in previously installed version 426. This is reproducible each time it is used.

[2017-01-09 18:30] jensihnow commented on #1499
I'm running on 2.0.0.b5 (/usr/share/openhab2/runtime/system/org/openhab/binding/org.openhab.binding.netatmo/2.0.0.b5/org.openhab.binding.netatmo-2.0.0.b5.jar) right now and it doesn't look fixed in this release.

Looking at the Release https://github.com/openhab/openhab2-addons/commits/55cbdb90df6374412a1e0431a5c59909a9d3b83b commits, both PRs seems to be included:

https://github.com/openhab/open

[2017-01-09 20:41] bhi-887 commented on #322
I am new here - to Open Hab. This post is the only one I found regarding the Broadlink RM2 on OpenHab.
 I have found this regarding the Broadlink RM on desktop outside of OpenHab:
https://home-assistant.io/components/switch.broadlink/

Their solution is python based. I am not a programmer, so I do not know how much if any of their solution is helpful for use in OpenHab. I am in search of a way to

[2017-01-09 20:43] bhi-887 commented on #322
I am new here - to Open Hab. This post is the only one I found regarding the Broadlink RM2 on OpenHab.
 I have found this regarding the Broadlink RM on desktop outside of OpenHab:
https://home-assistant.io/components/switch.broadlink/

Their solution is python based. I am not a programmer, so I do not know how much if any of their solution is helpful for use in OpenHab. I am in search of a way to

[2017-01-09 21:12] pail23 commented on #1667
@kaikreuzer do you have a hint why multiple things with the same ID can be created? Can I find out during discovery that a thing with an ID already exists?

[2017-01-09 22:06] kaikreuzer commented on #1667
This really looks weird.
It technically should not be possible to have the same Thing UID multiple times - so this is clearly a bug.
@MHerbst Do you still see the 4 results even after a browser refresh? If so, there is a bug in the Inbox. If they disappear on a refresh, it would be a bug in the Paper UI.

[2017-01-09 22:06] #1659 closed

[2017-01-09 22:11] OLibutzki commented on #1530
I think we can close this issue

[2017-01-09 22:13] #1530 closed

[2017-01-10 12:03] gerrieg commented on #1671
The Homematic binding does not have any Javascript, so i think that's a PaperUI issue.

But for the wrong values, please start the binding in TRACE mode and send me the fill logfile ([see Debugging and Tracing](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.homematic/README.md#debugging-and-tracing))

[2017-01-10 18:03] jrubbel commented on #1676
After increasing the loglevel for the avmfritz binding to DEBUG I can find the following entry in the log file:

2017-01-10 18:37:54.762 [DEBUG] [ternal.discovery.AvmDiscoveryService] - discovered unsupported device with id 116570019138

Besides waiting for an updated avmbinding - is there a workaround e.g. by adding the DECT210 device to some kind of config file?

Many thanks
Jesko

[2017-01-10 18:40] MHerbst commented on #1667
@kaikreuzer @pail23 Browser refresh does not help. A refresh starts the discovery again with the same result. In my last test I got 7 entries.

This happens only if Kodi and openHAB are running the same (Windows 10) machine. If they are running on different machines everything is OK and I only get one result.

These are the log entries in events.log:

[code]

[2017-01-10 20:37] Andirs55 commented on #1671
Hello, attached you find the logs.
Thanks

[events.txt](https://github.com/openhab/openhab2-addons/files/697284/events.txt)
[openhab.txt](https://github.com/openhab/openhab2-addons/files/697283/openhab.txt)

[2017-01-10 20:57] kgoderis commented on #1533
@kaikreuzer Can you enlighten us, and/or merge https://github.com/openhab/openhab2-addons/pull/1637/files?

[2017-01-10 21:01] kgoderis commented on #1661
@kaikreuzer any thoughts on all of this? I am ok to improve things, but less comfortable hacking together stuff just to mimic OH1, potentially breaking away from any OH2/ESH standard code conduct. wdyt?

[2017-01-10 21:02] kgoderis commented on #1661
@steve-bate just FYI, pls do not wait for me to propose a PR to improve things. I think it will be easier to discuss around actual code then hypothetical examples and use cases (here or on the forum...)

[2017-01-10 21:22] kgoderis commented on #1614
@rtvb | is something internally to the shell (ex. bash) you are using, the exec binding is about executing a process. More in depth info can be found on:

http://alvinalexander.com/java/java-exec-system-command-pipeline-pipe
http://stackoverflow.com/questions/5928225/how-to-make-pipes-work-with-runtime-exec or http://stackoverflow.com/questions/7226538/how-to-use-pipe-symbol-through-exec-in-java

[2017-01-10 21:32] rtvb commented on #1614
So I assume something like

[code]

should work?

[2017-01-11 07:56] kaikreuzer commented on #1533
A default value will be used, if nothing else is specified by the user. So as it is not required, the value will be 60 - apparently not what you intended, right?

[2017-01-11 08:53] mcarlosro commented on #1655
Any feedback on this? I can try to help in debugging if needed.

[2017-01-11 11:28] steve-bate commented on #1661
@kgoderis These aren't hypothetical use cases. As you saw in the forums, users are actually trying to use the Exec binding in the ways I'm describing and are having difficulties. I understand that you may not have time to improve the binding. I also don't have time to create a PR just for discussion purposes. However, if you have questions about the suggestions I listed, I will to try to clarify a

[2017-01-11 12:08] kaikreuzer commented on #1661
At a quick glace, it all sounds like fair requests. I don't see anything that would be against the general ESH architecture, but it rather looks like an evolution of the existing Exec 2 binding.

But I agree with you that you should not hack away those things as quickly as possible, but rather think about the best implementation. Meanwhile, existing Exec1 users should simply stick to that version

[2017-01-11 15:57] LukaNoah opened #1687 "[avmfritz] add support for Comet DECT"
Can you please add the support for the Comet DECT in the binding?

[https://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/AHA-HTTP-Interface.pdf](url)

[2017-01-11 16:56] kgoderis commented on #1661
I rather meant that the way these use cases are explained is sometimes unclear.

Give me some time to reflect on all the issues raised.

[2017-01-11 17:16] gerrieg commented on #1671
The metadata looks good, the P_ and I_ values are fetched, eg:
[code]

Which value for which device is wrong in your opinion?

[2017-01-11 19:19] Andirs55 commented on #1671
For example the P and I Values for the device address=NEQ0871190 are wrong. Via xmlrpc i set them to different values (see screenshots) which are also in the output of the getParamset Method. Also through PaperUI these values can not be changed.

![2017-01-11 20_17_44-pi hauspi_](https://cloud.githubusercontent.com/assets/20941696/21862815/1452e436-d83b-11e6-8f1f-448bbc06c60a.jpg)

![2017-01-11 20

[2017-01-11 21:43] ianj001 commented on #1563
I have this issue too, when I restart openHAB2 I have to go into the paper UI delete all my harmony things and re-add them then they work.

[2017-01-12 10:24] lejonpart opened #1691 "Endless loop in discovery Yamaha"
Hi

When autodiscovery (paperUI) finds my Yamaha receiver it will go into an endless loop adding zone2, I can keep adding until my fingers bleed :/

Sorry if this is the wrong place to post this isssue.

/Lejonpart

[code]

[2017-01-12 10:27] kaikreuzer commented on #1691
@davidgraeff, could you have a look, please?

[2017-01-12 11:03] jrubbel commented on #1676
Awesome - when when this me merged back? I am using openhabian with openHAB 2.0.0~20170103034422 (Build #692) and want to intergrate the new addon asap....
Many thanks
Jesko

[2017-01-12 11:41] #1654 closed

[2017-01-12 13:24] brucejackson commented on #1566
Everything looks great with the latest version of the binding.  From my perspective, I think it is ready to be submitted for inclusion in the project.

Bruce.

[2017-01-12 17:28] MHerbst commented on #1691
Is it possible that this problem is similar to #1667? Both are using UPnp and the output in the events.log looks quite similar. For Kodi it happens if Kodi runs on the same machine as openHAB and here we have the two zones but the same physical device with the same IP.

[2017-01-12 18:26] ptweety commented on #1663
Hi, I did my test again with log level TRACE. Maybe this helps:

[trace.log.zip](https://github.com/openhab/openhab2-addons/files/702527/trace.log.zip)

[2017-01-12 22:08] kaikreuzer commented on #1667
The only recent change in the discovery that I am aware of was https://github.com/eclipse/smarthome/pull/2742. @ivivanov-bg & @sjka, could this potentially be related?

[2017-01-12 22:14] BobRak opened #1694 "[smartthings] Add SmartThings Binding"
Hi:

I am interested in working on a Samsung Smartthings binding. has anyone else put any effort into it? I have a smartthings hub and a couple of devices that work with it. I am just completing an OpenHAB 2 binding for the cm11a so I am comfortable with binding development. I have read much of the smartthings developer documentation. I am struggling with how the OAuth integration works but I just

[2017-01-12 22:19] sebplorenz opened #1695 "[Netatmo] Config description validation exception occured"
Using PaperUI I added my Netatmo station to openhab. For the id I added its MAC address with lower-case letters: 70:ee:50:27:84:8b. Everything was fine and the station was being synced.
But when I tried to change the refresh interval of the Main Station I got a 404 - Bad Request message in the client. The log contained the following error:

`
Config description validation exception occured for thi

[2017-01-13 07:01] kaikreuzer commented on #1694
I'm not aware of any efforts, so feel free to have a go!

I would be nice to have a local integration with it, but afaik, SmartThings does not offer this, right? So yes, a connection through the Cloud service through OAuth is the only option.

Another binding that is following this approach is [Netatmo](https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.netat

[2017-01-13 08:26] githubhohdorfnet commented on #1655
I have exactly the same problem as mcarlosro...

[2017-01-13 08:29] #1695 closed

[2017-01-13 09:04] lejonpart commented on #1691
@MHerbst In my case the openHAB and Kodi are running on separate machines.

[2017-01-13 11:20] kaikreuzer commented on #1676
Just merged it - should be contained in tomorrows snapshot.

[2017-01-13 11:20] #1676 closed

[2017-01-13 12:24] MHerbst commented on #1691
I don't wanted to say that the Yamaha problem is caused by Kodi.
But I found a very similar problem in the Kodi binding that only happens if Kodi and openHAB are running on the same machine. In you case you have two logical devices (zone 1 and zone 2) for one binding type but on the same physical machine (the receiver). So maybe the reason for this problem is the same.

[2017-01-13 12:50] sjka commented on #1667
No, that does not make sense.

@MHerbst your are looking at the result page of a search specific for Kodi, right? As you say a refresh is causing another discovery, this could still be a bug in the PaperUI....

Let us NOT ask ourselves for the moment why Kodi is added and removed so many times from the inbox. But apparently this is the case and there gets an events fired every time (as you can see

[2017-01-13 13:05] kaikreuzer commented on #1667
@sjka Note that @MHerbst already stated that a browser refresh does not help - so how could it possibly related to the order of SSE events?

Also note the fairly similar report here: https://github.com/openhab/openhab2-addons/issues/1691

[2017-01-13 13:07] sjka commented on #1667
Because he also said "A refresh starts the discovery again with the same result."
So let's double-check.

[2017-01-13 13:09] kaikreuzer commented on #1667
Why should a refresh start the discover...? Hm...

My problem is that I cannot reproduce it. I have a Kodi on the same machine as openHAB, but I get only exactly one Inbox entry and all looks good.

[2017-01-13 13:34] MHerbst commented on #1667
Yes its the result page.

Maybe its Windows-specific. I am running Windows 10 64 Bit.

But not necessary the same number of found Kodi's. The number seems to differ sometimes. In the last test I refreshed it 3 times and got 6, 8 and finally 5 Kodi instances ...

BTW: This happened immediately after I added the Kodi add-on to a fresh installation. Even

[code]

Now the result of smarthome:inbox
[co

[2017-01-13 13:42] kaikreuzer commented on #1667
So it sounds there might be continuous updates of the result because of changing properties within it.

This leads me to two questions:
1. Why are there so many results? Is UPnP somehow going in circles?
2. Why are there added/removed events, but not simply InboxUpdatedEvents?

[2017-01-13 13:44] sjka commented on #1667
Checked the code: Apparently the result is removed first. So it's not the inbox itself removing it, but it gets told to do so.

No clue yet. Haven't managed to reproduce it yet. But at least the Kodi specific part does not look suspicious on the first glance.

[2017-01-13 13:51] kaikreuzer commented on #1667
Right. Which seems to suggest that the problem is in jupnp or at least the UPnPDiscoveryService.

@MHerbst Could you do a `log:set DEBUG org.jupnp.protocol`and see if there is anything helpful in the log file afterwards?

[2017-01-13 14:04] sjka commented on #1691
Although on the first glace these two issues look similar, I don't think they are. Notice that it's not "the same" thing here all the time: There is a "Zone_2" added every time here as part of the ThingID.

Therefore it indeed would make sense to check in the binding/receiver where this crap comes from.

[2017-01-13 14:08] sjka commented on #1667
Just FTR, the Yamaha issue is unrelated: there it's a different ThingUID every time.

[2017-01-13 14:35] kaikreuzer commented on #1667
But it is not specific to Kodi, I just found this in my inbox after working through my mails while keeping openHAB running:

<img width="260" alt="screen shot 2017-01-13 at 15 32 00" src="https://cloud.githubusercontent.com/assets/3244965/21933405/972c0e8a-d9a5-11e6-9115-edfb3d964078.png">

Checking the logs, many of these:
[code]

[2017-01-13 17:27] gerrieg commented on #1671
The parameters are not automatically updated, the CCU does not send changed parameters via RPC to openHab. The values you see in PaperUI, are the values when the binding starts. If you change some parameters outside PaperUI (XMLRPC), the values in PaperUI are wrong.
A refetch is not yet implemented, but i will do it.

Why you can't change the values via PaperUI i don't know. I just found a bug in

[2017-01-13 17:29] LukaNoah commented on #1687
<devicelist version="1">
	<device identifier="xxxxxx yyyyyy" id="16" functionbitmask="2944" fwversion="03.83" manufacturer="AVM" productname="FRITZ!DECT 200">
		<present>1</present>
		<name>myDECT200</name>
		<switch>
			<state>1</state>
			<mode>manuell</mode>
			<lock>0</lock>
			<devicelock>0</devicelock>
		</switch>
		<powermeter>
			<power>155920</power>
			<energy>158158</energy>
		</powerme

[2017-01-13 18:42] MHerbst commented on #1667
Here is the log file @kaikreuzer
[openhab.zip](https://github.com/openhab/openhab2-addons/files/705068/openhab.zip)

[2017-01-13 19:07] cweitkamp commented on #763
Hey there, I am going to look into this. First of all by adding all FRITZ!Powerline devices to the thing type defining xml file. Hope that helps.

[2017-01-14 04:10] digitaldan opened #1700 "[openhabcloud] Multiple connections are established"
I have noticed twice now in our cloud server logs that the cloud connector seems to get in a state where it has two active connections going.  Because our openhab cloud server only allows one connection, it constantly kicks the other connection. This creates a infinite loop  of connecting/disconnecting on the server (and presumably the client).  The first time I saw this I emailed the user, he res

[2017-01-14 04:32] davidgraeff commented on #1691
That behavior may indeed caused by my binding code. I can't promise a quick fix, as I'm travelling Oceania at the moment. When I released the addon, I did not experience this behavior. My educated guess is that the other referenced bug or a recent core change exploits this bug in my code.

[2017-01-14 04:38] davidgraeff commented on #1579
In my opinion this extension belongs to this addon. I'm not owning an Apple device though, and couldn't test such an extension. And I'm not sure if all Openhab supported operating systems support sending low level ARP packets. At least on linux you need special permissions and a custom implementation as the java framework does not help with this task.

[2017-01-14 04:55] davidgraeff commented on #1572
@MikeJMajor: Thank you for your contribution. Could you have a look at my review notes?
Thanks.

[2017-01-14 06:11] davidgraeff commented on #1571
@kaikreuzer: Could you assign this to me and label this issue as feature reuqest?
@lala-rob: Could you please rename the title of this issue to "Add Milight iBox support (API v6)"?

Thanks,
David

[2017-01-14 09:09] jrubbel commented on #1676
Cool - I just upgraded my openhabian with sudo openhabian-config - I am now on the latest build: .openHAB 2.0.0~20170103034422 (Build #717). Unfortunatly the DECT210 is still not discoverd - it looks like Build #717 does not include this change yet - i just checked https://openhab.ci.cloudbees.com/job/openHAB-Distribution/lastBuild/ which states:

Modul-Builds
AVM FRITZ! Binding (übersprungen)

[2017-01-14 09:24] kaikreuzer commented on #1676
Correct, because it is from January 12. Next (successful) one will contain it.

[2017-01-14 11:46] CrEaK commented on #1665
Same problem happens to me :(

[2017-01-14 11:48] CrEaK commented on #1222
Having the same error spam as mentioned above.

[2017-01-14 11:54] HolgerL25 opened #1701 "[Yamaha Binding] Zone2 controls have effect on Main zone"
Hi,

I am running OH2 with the Yamahareceiver Binding 2.0.0.b5. with a Yamaha RX-V1071
Everything works for the Main Zone.
If I select any control on the Zone2, it controls the Main zone and not Zone2.
This seems to be a bug in the binding.
David_Graeff asked me to open an issue here.

[2017-01-14 12:57] steve-bate commented on #1661
Thanks for the PR. I've made some comments on the documentation and code and I feel like this is definitely a move in the right direction. (Just for the record, I personally was fine with the String item, but several other users in the forum had complained about it so I included it in the suggestion list.)

I still think it would be better to use channel-level rather than thing-level configuration

[2017-01-14 13:14] daniel-hermann opened #1702 "[RFXCOM Binding] PT2262, multi-bit on/off code"
Hello,

I use Openhab 2.0.0-Snapshot Build#720 (apt-get shows verison 2.0.0~20170114120524-1).

I have a problem with PT2262 switches.

Switches where only the last bit is on/off, the rest is the device-id work perfectly.
Switches where the last two bits are on/off code do not work at all.

Can anyone confirm that?
any log information I can provide with this specific problem?

thank you
Daniel

[2017-01-14 13:24] chris-si commented on #496
Hi, I have a question regarding controlling the controller with rules and sitemaps.

Which and how do I have to send values from a rule/sitemap to my controller (wifiled:wifiled:ACCF23XXXXXX:power/color) to change the color or power it on or off?
I want to use my dash button to change to specific colors. Before I had the led controller I used an Arduino Uno with ethernet shield and transmitted the

[2017-01-14 15:02] steve-bate commented on #1661
@kgoderis, I've done some more testing and there is a problem. For example:
[code]
[code]
The stringOutput channel cannot write the StringType state update to the Switch item (it's not one of the accepted types). Log entries:
[code]
@kai, is there any possibility to support a channel that operates on _any_ channel type?

[2017-01-14 15:21] kgoderis commented on #1661
Ah... That is not a real issue I am afraid. It is up to the user to define a channel in the .items that *is* compatible with the choose Item. This is by design and holds true for every binding in fact.

Now, cfr your example, you should use the switchOutput channel on the switch_monitor thing to make it work

[2017-01-14 15:24] kgoderis commented on #1661
That is not possible, as channels and channel groups can not be combined

well, I want to cover all scenario's, these are configurable and have a default value

I am not sure I understand this one. Why would a trigger on "run" have to use the previous command?

This is in here because it was also the case in the OH1 binding. What alternative are you thinking about?

K

[2017-01-14 15:57] steve-bate commented on #1661
Thanks. That's a good point. I may have overlooked something but it looks like the SwitchOutput channel is only updated when there's an exception.  The StringOutput is always updated.

[2017-01-14 16:07] steve-bate commented on #1661
What do you mean?  What's the purpose of channel groups? It seems to be used that way in the systeminfo binding.

[code]

I think the scenarios are supported in other ways without the extra configurations and using the changes I suggested. I can't be certain since I don't know which types of scenarios you have in mind.

Good question. I don't think it should. Maybe I'm misunderstanding something b

[2017-01-14 21:04] semaf commented on #1651
Any news about this bug?

[2017-01-14 21:39] reyem opened #1704 "Create Binding for LaMetric"
LaMetric is a nice Display which can be used also for Home Automation to display status of items, show notifications or alarms, play sound via bluetooth speaker or send commands from LaMetric via button apps.

Product
http://lametric.com

REST API Doc
http://lametric-documentation.readthedocs.io/en/latest/

Concept:
A Home could have multiple LaMetric devices. So I see LaMetric as a thing with fol

[2017-01-14 22:19] gh-h2s commented on #1523
I have the same issue.

I mean these groups are available over API methods. It's just not a "BidCos-RF" datapoint but an "VirtualDevices" datapoint.

HM-CC-VG-1 - Group heating control
Datapoint: VirtualDevices.INTxxxxxxxxx

Following the state query of my setup. 2x HM-CC-RT-DN, 1x HM-SEC-RHS

Channel: XXXXXXXXXXXXXX INT0000001:0 / 4033 /  /  Datapoint: VirtualDevices.INT0000001:0.UPDATE_PENDING /

[2017-01-15 00:36] gersilex commented on #1702
Forum discussion: https://community.openhab.org/t/rfxcom-pt2262-how-does-it-work/19660

[2017-01-15 09:11] gerrieg commented on #1523
What API method did you use? I can't find one that returns these groups.

Anyway, a gateway like the CCU should be a dumb gateway, you can do the same with a openHab group and a small rule. The Homematic binding does not fully 'emulate' a CCU in openHab. It's main purpose is to control the devices via openHab.

[2017-01-15 12:19] watou opened #1707 "[gpio] Add GPIO Binding"
Moved from https://github.com/openhab/openhab/issues/4976.  cc: @ThomDietrich

Functional requirements:

* Event-driven GPIO changes (no polling)
* Logical pin numbering system that does not require any openHAB reconfiguration when moved to new hardware
* Package any required native libraries in the binding using the OSGi `Bundle-NativeCode` directive so no prior native installation is required
*

[2017-01-15 12:29] monnimeter commented on #496
Hi @chris-si,

thank you for using and testing this binding. The good news is: yes, you can!

Here's an example from my setup... it needs at least two items:
[code]
This is the relevant line from the sitemap:
[code]
And this is the relevant rool:
[code]
As you can see, you can send commands like ON and OFF, but also color values. The color values are not RGB but HSB values.

Regards,
Osman

[2017-01-15 13:49] gh-h2s commented on #1523
Today I tested something with XML-RPC. It is possible to query the groups over port 9292.
I have test this with the Chrome extension XML-RPC Client.

http://${HMIP}:9292/groups listDevices

<?xml version="1.0" encoding="ISO-8859-1"?>
<methodResponse>
  <params>
    <param>
      <value>
        <array>
          <data>
            <value>
              <struct>
                <member>

[2017-01-15 15:36] digitaldan commented on #1665
Thanks for the report, I will take a look.

[2017-01-15 15:41] digitaldan commented on #1222
I believe there is a bug in the underlying XMPP library (SMACK), unfortunately the latest version of that library  changed their API significantly and it will take some time for me to integrate it.  Its on my list.

[2017-01-15 17:32] gerrieg commented on #1523
Thanks a lot! Never heard of this port, seems to work. I still have two issues i have to fix until i can make it public.

[2017-01-15 18:30] MHerbst commented on #1523
I agree with @gerrieg  essentially. But the CCU and openHAB have overlapping functionality and it is not always very easy to decide what to implement in openHAB and what with the CCU. The definition of groups on the CCU has one big advantage: all devices added to group can communicate directly without the CCU. I.e. it will work even if the CCU is not active.

Especially in @andreheuer 's case it i

[2017-01-15 19:30] Andirs55 commented on #1671
Attached you find the requested log.
[openhab.txt](https://github.com/openhab/openhab2-addons/files/706824/openhab.txt)

What you can see e.g. is that the value for the temperaturefall mode differs from what the homematic config software says. Also the switch for switching to manual mode in the PaperUI does not work (logged at the very end of the log). The switch for automatic mode however works.

[2017-01-15 20:22] scurb opened #1710 "[pioneeravr] Add VSX-922 as a supported unit"
I have a VSX-922 unit and it works really well with the binding. However, it is not in the source codes list of supported unit. Is that possible to add?

[2017-01-15 20:31] scurb commented on #1653
Would be really good!

[2017-01-15 20:45] mvolaart commented on #1608
I have created a first version of the DSMR-binding voor OpenHAB 2.
This version does not support Gas, Water, Heating and Cooling meters voor DSMR meters V4.x and V5 and Heating, Cooling and Generic Meter voor DSMR V3.

[org.openhab.binding.dsmr-2.0.0-SNAPSHOT.zip](https://github.com/openhab/openhab2-addons/files/706886/org.openhab.binding.dsmr-2.0.0-SNAPSHOT.zip)

[2017-01-15 21:12] Andirs55 commented on #1710
Same for my VSX-924.

[2017-01-15 21:18] scurb commented on #1710
Lets give @Stratehm a ping :)

[2017-01-15 21:51] cweitkamp commented on #1687
Hey there, I ready to look into this. Problem is, I have no Comet Dect device for testing. Maybe I can build a virtual AHA HTTP interface which will deliver exactly your devicelist-xml. But be patient. I think I need two weeks or more.

[2017-01-15 22:42] reyem commented on #1704
Just found out, that an item can have multiple bindings connected. Thats awesome. With that I can make the inficator apps connecting via channel, which can directly be bound to items instead of having rules to control this. So then the lametric binding could have a config like lametric="indicatorchannel,appid,framenr". Probably it would make sense to support also groups, to be able to group multip

[2017-01-15 22:44] larslak commented on #1655
tested with 2.0.0-SNAPSHOT Build #723 and seems to work now (had the same issue before that only the main module was working)

[2017-01-16 05:36] rtvb commented on #1608
I will try to find some time to test the new binding but can/will only start using it in production once has has been implemented for my v4 meter. If you confirm this is on your roadmap soon, I will gladly be of help.

[2017-01-16 05:54] rtvb opened #1712 "[RFXCOM] discovered things reappear in inbox after deletion"
Any automatically discovered thing that I manually delete from the Inbox in Paper UI eventually is being re-discovered again and returns to the Inbox. This has flooded (and will continue to do so) my Inbox with over 150 items from RF devices that are not mine, but my neighbors'.

[2017-01-16 07:57] grouchal commented on #1255
@beowulfe @kaikreuzer any updates here? Would be great to know this will be finalised in the upcoming release candidates. Happy to help with this if I can.

[2017-01-16 08:01] kaikreuzer commented on #1255
Simply check https://github.com/eclipse/smarthome/issues/1093 for the status - no progress yet, sorry.

[2017-01-16 08:38] kaikreuzer commented on #1704
Not at all (as you found out already). You do not need any actions. Just add a String channel to your thing, which can then be used to pass messages to LaMetric.

Having to access HTTP requests is not really ideal and should be avoided. If there is no other way of getting hold of this information, though, you could register a servlet that processes these requests (and sends according updates for a

[2017-01-16 08:49] xylo commented on #496
@chris-si
In case you downloaded my compiled jar file you also have to define a "Switch" item for the "power" channel and set this channel to ON.

Additional Items:

    Switch` WO_Licht_LED_power "LED-Schalter" {channel="wifiled:wifiled:AC1111111111:power" }

In your rules you can either use

    sendCommand(WO_Licht_LED_power, ON/OFF)

instead of

    sendCommand(WO_Licht_LED, ON/OFF)

or set th

[2017-01-16 09:23] kaikreuzer commented on #1661
I guess you mean on any item type, right? No, this is not possible.
BUT, I still do not think that we need to declare [all these different channel types](https://github.com/kgoderis/openhab2/blob/48743cc63f5301901a53ff84e4b67d4c26d38e06/addons/binding/org.openhab.binding.exec/ESH-INF/thing/thing-types.xml#L60-L119).

Instead, the binding could simply support ["custom channels" defined on the Thing

[2017-01-16 09:34] MrVorragend opened #1713 "[Homematic] HM-CC-RT-DN doesnt accept switch to auto-mode on rule"
Hello :)

i´m using the homematic binding with openhab2 and homegear. I want to migrate the following oh1-rule:
- change the modus of my heating to manu-mode (5 centigrade) after open the window
- change the modus of my heating to auto-mode after close the window

My rule works on the first change of my window state. On the second change there are no reactions. You can find the log and the rule on

[2017-01-16 09:42] kaikreuzer commented on #1667
Thanks @MHerbst. Unfortunately, the openhab.log does not contain the Inbox events (as they are written to events.log only), so I cannot really see why inbox entries are removed again.

May I ask you to also set
[code]
? I hope that we will then have more helpful details available.

[2017-01-16 10:00] reyem commented on #1704
Thank you for the quick answer @kaikreuzer

This will be sufficient for simple text notifications without any additional configuration. However, a notification can have with the text
* an icon => theoretically the items icon could be used or a tag
* sound with optional  ( it is just a text id of the sound to play, with optional repeat number and a category [alarm or notification] ) => tag as well?

[2017-01-16 10:12] steve-bate commented on #1661
Yes, that's what I meant.

Sounds interesting. Thanks!

[2017-01-16 10:50] Sschhsd commented on #1344
@Stratehm Any update for my issue?

[2017-01-16 11:14] sjka commented on #1712
Did you _delete_ or _ignore_ them?

[2017-01-16 11:27] Stratehm commented on #1344
Sorry guys, I am really out of time for now. I am still working on the refactoring of the binding (the previous snapshots were an intermediate state) but not as fast as I would like.

I will try to give you some updates of the advancement...

[2017-01-16 11:31] Stratehm commented on #1710
I will add them when the issue #1344 is fixed. For now, I am refactoring the binding. You can check this issue for more details on the advancement.

[2017-01-16 12:46] lolodomo commented on #1712
If they were deleted, it us expected that they reappear later.

[2017-01-16 16:47] Andirs55 commented on #1713
I have a similar problem but the other way around.
Switching to Auto works without a problem, but switching to Manu does not work.
In Issue [#1671](https://github.com/openhab/openhab2-addons/issues/1671) comment number 10 i shortly addressed that behaviour.

[2017-01-16 17:07] gerrieg commented on #1671
MANU_MODE
This is a FLOAT datapoint, so you can't map it to a Switch, you have to use a Number

TEMPERATUREFALL_MODUS
This is a bug, it seems that the Thing parameters show the default values and not the configured values.
Thanks for the hint, i will fix it soon.

[2017-01-16 17:15] gerrieg commented on #1713
This seems to be the local binding cache. Please enable forceUpdate in the Automode Channel parameters.
I think i will remove the binding cache, it causes more problems than it is useful

[2017-01-16 17:20] curlyel opened #1715 "[maryTTS] use wrong sampling rate for German voices"
When setting maryTTS to use one of the two German voices  _bits3-hsmm/bits1-hsmm_, the speech is rendered way too fast ("donald duck's voice"). It's impossible to unterstand any spoken output which probably makes the two German voices useless in the distribution.

btw.: The English voice _cmu-slt-hsmm_ is working well while rendered at the right speed.

[2017-01-16 17:58] rtvb commented on #1324
Entering
[code]

(or even `TRACE`) does not show any additional logging, so I can't tell what's happening.

[2017-01-16 18:02] rtvb opened #1716 "[SystemInfo] typo in channel name 'packagesReceived'"
The [documentation](http://docs.openhab.org/addons/bindings/systeminfo/readme.html) says

but the paper UI shows

`systeminfo:computer:local:network#packagesReceied` which should be `systeminfo:computer:local:network#packagesReceived` (with an additional 'v')

[2017-01-16 18:34] rtvb commented on #1324
The channel `sensors#cpuVoltage` also report `0` on the RPi2.

[2017-01-16 18:53] MHerbst commented on #1667
No problem @kaikreuzer. I made a fresh install with Build 723 and only installed the Kodi add-on. Attached the complete log files. Hope this helps. If you need more information, just ask.
[logs.zip](https://github.com/openhab/openhab2-addons/files/709168/logs.zip)

[2017-01-16 19:23] LukaNoah commented on #1687
Thank you very much. Great to hear this. I would help, so I can ;)
Please don't forget the set <sethkrtsoll>command.

[2017-01-16 19:58] rtvb commented on #1716
Channel `network#packagesReceied` cannot be found and linked to an item.
Channel `network#packagesReceived` does not receive data (value stays at '-' and never increases).

[2017-01-16 21:23] MageGH opened #1717 "[CometVisu] Unable to install on OpenHAB 2 on Win10"
The structure of the OH2 has been changed and the documents to install CometVisu on OH2 are outdated. I need a guide how to install it. Simply pushing the install button in Paper UI adds the Cometvisu UI to the OH2 welcome screen but getting the following error:
HTTP ERROR 404
Problem accessing /cometvisu/. Reason:
Not Found

I am running Win10

[2017-01-16 21:26] Legacytrx commented on #496
Hi guys,

I have used the current github version and testeded it on another RGB WIFI module, the WIFI370. Unfortunately the protocol is not fully alike, but it took me a day to adapt it to make the first color adjustment via openhab2. So  the question, shall I do it as a seperate binding or shall we extend the WIFILED binding. I am not sure how much modifications that would mean though, I am new t

[2017-01-16 21:33] mvolaart commented on #1608
Here is the version in which all meters should be supported
[org.openhab.binding.dsmr-2.0.0-SNAPSHOT_16012017.zip](https://github.com/openhab/openhab2-addons/files/709435/org.openhab.binding.dsmr-2.0.0-SNAPSHOT_16012017.zip)

[2017-01-16 22:43] RalphPungaKronbergs opened #1719 "[MAX! Binding] Things stay at state "Initializing" if not in exclusive mode"
Hi,

with my setup openHAB2 can access MAX! Things/Items only if Binding is set to exclusive mode. If exclusive mode is off, all Things remain at status "initializing" and it's not possible to access any Thing/Item at all (e.g. set target temperature).

Is this a known issue and can this be fixed on my side anyhow?

Cheers
Ralph

[2017-01-17 07:20] qrioniclabs commented on #1669
I can confirm this issue. Occasionally I get the correct value (like 'MANU_MODE'), but most of the time it is just '-'. Device is a HM-CC-RT-DN, Bridge is run via RaspberryMatic on a PI.

Item is configured like this:
`Number i_Heating_ControlMode  "Akt. Modus: [%s]" <heating> (g_Schlafzimmer) {channel="homematic:HM-CC-RT-DN:*****************:4#CONTROL_MODE"}`

openhab2 v0.9.0.201701091847

[2017-01-17 07:29] Pax90 commented on #1713
Okay. I will test it at evening. The problem is, that I want to configure all things in textfiles. Can you please implement forceUpdate on text-files?

[2017-01-17 08:34] MrVorragend commented on #1713
Okay. I will test it at evening. The problem is, that I want to configure all things in textfiles. Can you please implement forceUpdate on text-files?

[2017-01-17 08:36] KlausMu commented on #1669
You have to define the Item as "String". The mapping changed in OH2, so you can't map any longer an enum to Number.
See https://github.com/openhab/openhab2-addons/issues/1558
Also change your rules, if you use Numbers for the CONTROL_MODE state there.

[2017-01-17 10:15] #1716 closed

[2017-01-17 11:12] kohlsalem opened #1722 "[Harmonyhub] - FireTV "Select" can not be triggered"
Hi,

i have a strange behavior of the harmony hub connected to fire TV. In priciple everything works, except one button, the "Select" on my amazon Fire Tv.

With the harmony Remote control I can perfectly control the entire Amazon Firetv. But if I try to control it via sitemap, the "Select" Button does not work.

I thought this was some strange effect of my often updated installation, but even wit

[2017-01-17 11:53] Celaeno1 commented on #1722
try this in itemfile:

String HarmonyActivity  "Harmmony Aktivität [%s]" <television> (gMain) { channel="harmonyhub:hub:HarmonyHub:Activity" }

[2017-01-17 12:17] kohlsalem commented on #1722
@Celaeno1 , if i hold your Item proposal next to mine it looks like

[code]

so, probably the advice is to use "Activity" instead of "currentActivity". if i read https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.harmonyhub/README.md this is absolutely correct, so i will change that.

Thanks for the hint!

Since the setup principally works, i have doubts it w

[2017-01-17 12:18] cweitkamp commented on #1687
Oh, no. I don't forget that command. That is the interesting part and follows in step 2. At the moment I'm planning to implement four read-only channels for "tist", "komfort", "absenk" and "battery_low" and one r/w channel for "tsoll".

If you like you are welcome to checkout my branch, build it and exchange the .jar file of the binding in your environment to test the current work.

[2017-01-17 13:16] Celaeno1 commented on #1722
@kohlsalem "Activity" instead of "currentActivity" should solve your problem.

    String HarmonyActivity  "Harmmony Aktivität [%s]" <television> (gMain) { channel="harmonyhub:hub:HarmonyHub:Activity" }

[2017-01-17 14:56] Celaeno1 commented on #1719
I have the same problem. Max! Cube Firmware Version: 01.13

[2017-01-17 16:08] LukaNoah commented on #1687
Thank you very much.
Where can I find a howto, to make this?
Where can I find the jar-file in my openhab-installation?

[2017-01-17 17:38] gerrieg commented on #1523
Added group support with https://github.com/openhab/openhab2-addons/pull/1622

[2017-01-17 17:51] Celaeno1 commented on #1653
OK for me, too.
Please implement "Request Listening Mode, Setting" = [?S], too. Thanks!

[2017-01-17 18:51] kohlsalem commented on #1722
My new Item file:
[code]

 I gave a "items remove HarmonyActivity" in karaf and a reboot of the entire server. The issue is still the same :-/ .

[2017-01-17 18:59] digitaldan commented on #1722
try not capitalizing the word Activity, so

```{ channel="harmonyhub:hub:HarmonyHub:activity" }```

[2017-01-17 19:04] MrVorragend commented on #1713
Hello :)
i tried to manipulate ESH-INF/config/config.xml as follow:
`	<parameter name="forceUpdate" type="boolean" required="false">
	    <label>forceUpdate</label>
	    <description>If true, the new value is always sent to the Homematic gateway even it equals the current value</description>
	    <default>true</default>
	</parameter>`

Now all works fine. Not the best solution, but a solution :)

[2017-01-17 19:06] gerrieg commented on #1713
I removed forceUpdate with https://github.com/openhab/openhab2-addons/pull/1622

[2017-01-17 19:27] kgoderis commented on #1661
@kaikreuzer @steve-bate

I think you are definitely right, although the custom channels are very elegant indeed, they might confuse users a bit more as well wrt the migration from OH1 to OH2. Now, it would certainly add a bit more complexity in the binding in the sense that one has to do checks on the existence of certain channels (e.g. is there an input channel,..), and do some Type conversions a

[2017-01-17 19:29] kgoderis commented on #1661
@steve-bate FYI, https://github.com/eclipse/smarthome/blob/master/docs/documentation/development/bindings/thing-definition.md : "A thing can only have direct channels or channel groups, but not both"

[2017-01-17 19:30] kgoderis commented on #1661
"lastInput" = in the sense of the most recent input. Elsewhere in the code I use previousInput for the input before the last Input ;-)

[2017-01-17 21:32] basovink opened #1725 "MQTT binding install gives error and breaks system"
I installed the MQTT add on through the paper UI. The terminal showed errors (see below) and after restart the paper UI doesn't come up anymore. Deep links to some of the other UI's still work.

[code]

@martinvw *edit*: put exception in code block

[2017-01-17 21:45] steve-bate commented on #1661
I understood the "last" part of the variable name. The "input" part is ambiguous: it could be the last command or the last state update. Of course, if someone digs into the code enough they'll figure out how it's actually used. In any case, I was answering your question...

Since "lastInput" is the previous command sent to the linked item, it will be non-null if a command was ever sent to the inpu

[2017-01-17 21:52] steve-bate commented on #1661
I prefer the custom channel approach compared to the other options. However, it is going to be verbose even for relatively simple use cases. Also, I've noticed it's easy to mistype the syntax and the result are cryptic NPE's in the log file rather than a meaningful parser error message.

[2017-01-17 22:01] lolodomo commented on #1179
I close this issue as the problem did not occur again since a certain time.

[2017-01-17 22:01] #1179 closed

[2017-01-17 22:07] Tepsiya opened #1726 "Paper UI not working properly during configuration setup"
Hello -- as you can see I am new in the world of Openhab..  I have now finally installed openhab on raspberry PI3.. it was working properly however the knx binding wouldnt install .. so I updated the knx.cfg file and started to (try and error) using items and sitemaps..  since that paperui is not working anymore and other formatting is very odd.. Habpanel however seems to work fine ..

opening pap

[2017-01-17 22:13] kaikreuzer commented on #1726
Welcome at openHAB! Please let me guide you a bit - for support, you should best visit our forum at https://community.openhab.org/. Issue trackers are mainly used for concrete bugs and code discussions. Thanks!

[2017-01-17 22:13] #1726 closed

[2017-01-17 22:14] Tepsiya commented on #1726
tx

[2017-01-17 23:13] reyem commented on #1704
Here some thoughts on how it could work. On the right the possibilities, LaMetric provides, on the left the way on how the binding could produce the notifications or map to indicator apps.

Notifications
The basic idea is to expose 3 standard notification channels for the available priorities info, warning an critical. They would just support simple text messages, as I thing it makes little sense

[2017-01-18 09:03] cweitkamp commented on #1687
You can find a tutorial [here](http://docs.openhab.org/developers/development/ide.html).

For the second question I need to know which setup you are using. Linux? Raspberry Pi? Windows? In general you can place your own addon files in the /usr/share/openhab2/addon/ folder (on linux based setups). I suggest to uninstall the old avmfritz binding first.

I attached a build of my current branch ([.jar

[2017-01-18 09:27] jensihnow commented on #1499
Seems to be the same in the recently releases Release Candidate.

@kaikreuzer Not sure if this is going to be a blocking issue since it is a binding and not a core issue.
Would be nice to get it fixed before final Release of 2.0

Anything I can help with?

[2017-01-18 09:58] rwijngaa opened #1727 "z-wave Fibaro FGMS0001 Unknown Sensor Type = 54"
Hi,

I'm using openhab2 on a rpi, and added my Fibaro FGMS 001 sensor. The temperature and luminance work fine, but i cannot get the burglaralarm, batterylevel, etc to work.
In the logs i see two error's concerning the fibaro node (node9)

[code]
How do i get rid of these unknowns? I'm using the latest openhab snapshot and
Z-Wave binding 2.0.0.SNAPSHOT (zwave_version: 3.2)

Regards
Rino

[2017-01-18 11:51] mcarlosro commented on #1655
Tested what suggested by @larslak and it is solved, although I needed to restart in order to get the values.

[2017-01-18 11:51] #1655 closed

[2017-01-18 11:57] Marco-Kawon commented on #1719
Does this always happen for you, or only when you have opened the MAX! Software on your PC too?

If MAX! Software running in background on your PC, then openhab will not be able to connect

[2017-01-18 12:52] kaikreuzer commented on #1499
No, binding issues are not blocking; it will be possible to regularly provide patches for them.

[2017-01-18 13:55] Celaeno1 commented on #1719
In my case: no known other software is running in parallel. From time to time (maybe once a week) I use original software of eQ3 installed on my PC. There is no "internet connection" to eQ3 cloudservice configured anymore, but it was configured before I started using OH2.

[2017-01-18 14:14] kgoderis commented on #1661
Ok - that means we have to flesh out/copy&paste the handleUpdate() then.

[2017-01-18 14:44] RalphPungaKronbergs commented on #1719
Same with me: There is no Service/App/Software that's blocking access to my Max!cube. I do have the eQ3 cloud service enabled for App access, but I don't think that this would block access to Max!Cube since the Desktop App would not be working in this case...

[2017-01-18 15:14] Marco-Kawon commented on #1719
Hm, I will do a test myself later today. I think for me it was always working fine and connection to openhab was only lost when I started the Max! PC Software, which is expected behavior.

Anyway, exclusive mode is much better and faster, if you don't need Max! Software every day I would really suggest to use exclusive-mode. I also use it and only turn it off temporary when I have to use Max! PC S

[2017-01-18 15:58] srsr commented on #680
Hello,
I am very interested in this module, have you progressed?

[2017-01-18 16:26] B0rner commented on #1283
btw: I have the same situation of state-changes.... In my case, the system goes automatically online, so I don't care about the temporary "offline state". There is an equal problem with the yahoo weather binding sometimes gets data from yahoo and sometimes not. Probably this is the reason, why openhab2 is beta: it works, but currently not perfect.

[2017-01-18 16:57] RalphPungaKronbergs commented on #1719
Many thanks for your effort! Leaving exclusive activated would be ok by me if it's only blocking the desktop software - but it seems like the Cloud service/iOS App isn't working too then... My installation is 3 days old and should include the stated commit.

[2017-01-18 18:12] Celaeno1 commented on #1719
My version is 3 days old, too. --> 2.0.0.201701151645.

[2017-01-18 18:41] LukaNoah commented on #1687
I'm using openHAB on an raspberry. Installed with apt-get.

It works :D
![image](https://cloud.githubusercontent.com/assets/16850444/22077820/106172a4-ddb6-11e6-9257-e183e0936315.png)

[2017-01-18 19:18] kohlsalem commented on #1722
`String HarmonyActivity  "Harmmony Aktivität [%s]" <television> (gMain) { channel="harmonyhub:hub:HarmonyHub:activity" }
`
and "items remove HarmonyActivity" in karaf and a reboot --> no change

Why would every command except "select" work?

Btw, a trace log on `org.openhab.binding.harmonyhub` for the buttons "right, select, back" via basic ui looks like that:
[code]

[2017-01-18 20:05] digitaldan commented on #1722
I'm actually confused now from re-reading this thread,  you are sending a button press "Select", so this has nothing todo with the current activity, correct?  So that part we were talking about has nothing todo with your original problem :-)

So back to your "Select" problem, from your log file we are receiving the command and then sending it to the Harmony Hub, I'm not sure why the hub is not doi

[2017-01-18 20:21] kohlsalem commented on #1722
I'm somehow happy it is not the current activity. I would have been quite curious how this would have solved it :-) .

However, i did solve it (for me).

If the Harmony has i bug, i expected it to be in the iphone app from harmony as well. But there it worked. But the button is called "OK".

So cross check in the Rest API "/channel-types" - there is no OK. Select is the closest it could be.

Whate

[2017-01-18 20:21] #1722 closed

[2017-01-18 20:23] digitaldan commented on #1722
Wow, good catch!

[2017-01-18 20:24] kohlsalem commented on #1722
Entire channels list:

[code]

[2017-01-18 20:56] reyem commented on #1704
Although I keep posting to myself, here the next evolution step of the concept. After headaches about how a tagging system could look I was not satisfied, and did a step back. I missed the most obvious thing. LaMetric Indicator Apps are actually just another style of a very limited UI. So why not create a sitemap to define them!?
![lametricbindingconceptsitemap](https://cloud.githubusercontent.com

[2017-01-18 21:08] kaikreuzer commented on #1704
Sorry for that, you chose a bad timing - I am this week in full preparations for the openHAB 2 release, hence not able to follow-up on any binding related discussions; next week should be better again, thanks for your patience :-)

[2017-01-18 21:14] reyem commented on #1704
Nothing to say sorry about. I'm not in a hurry and also did not expect answers from key people within that short time ;-) So I will keep posting to myself a while to record my thinking process on the topic :-D
Good luck for the release!

[2017-01-19 07:51] belmondo2001 opened #1728 "{Homematic] HM-ES-TX-WM and HM-ES-PMSw1-Pl do not work (OFFLINE)"
Hello,
after update oh2 the homematic binding for 'HM-ES-TX-WM and HM-ES-PMSw1-Pl '
 doesn't work.
i got following errors .

OFFLINE - COMMUNICATION_ERROR -1 Failure (sending <?xml version="1.0" encoding="ISO-8859-1"?> <methodCall><methodName>getValue</methodName> <params><param><value>LEQ0272118:2</value></param><param><value>ENERGY_COUNTER</value></param></params></methodCall>)

-----------

OFF

[2017-01-19 10:29] moonwhaler opened #1731 "[zwave-binding] Add new device: Popp Z-Weather"
Hello,

please add support for the Device Popp Z-Weather to the database, It's already there, but it seems (even while using the latest (apt) nightly of openhab 2 + Zwave binding), mine isn't recognised:

0154:0100:0400:1.0 (Unknown device)

http://products.z-wavealliance.org/products/2102

Manufacturer: 0154 (Popp & Co.)
Type: 0100
ID: 0400

This was tested again with a brand new setup including

[2017-01-19 11:01] Celaeno1 commented on #1722
Sorry for confusing you! I thought the "Selection item" was the problem! Next time I will read more accurate!

[2017-01-19 12:00] Celaeno1 commented on #1222
FYI: Having the same error spam as mentioned above.

[2017-01-19 12:59] cdjackson commented on #1731
Please can you close this and create an issue in the zwave issue list - it will simply get lost here.

Thanks.

[2017-01-19 13:43] #1731 closed

[2017-01-19 16:24] drummer3333 commented on #17
I'm currently stuck with the problem madon expland on 20 Jan 2016. My MDT switch can't send cyclic DECREASE/INCREASE Telegrams, but I want to dim my DMX lights via OpenHAB 2.

Is this fixed in the 2.0 Binding?

The suggested solution to extend DimmerThingHandler.java ist not possible anymore.

[2017-01-19 16:34] J-N-K opened #1732 "NPE in Astro binding"
`12:43:00.002 [ERROR] [org.quartz.core.JobRunShell ] - Job astro:sun:local.job-event-start-noon#event threw an unhandled Exception: java.lang.NullPointerException at org.openhab.binding.astro.handler.AstroThingHandler.triggerEvent(AstroThingHandler.java:304)[185:org.openhab.binding.astro:2.0.0.201701121723] at org.openhab.binding.astro.internal.job.EventJob.executeJob(EventJob.java:32)[185:org.ope

[2017-01-19 18:19] joeduck commented on #1344
O.k. Thanks for your Work. One Thing: If I restart openhab2 the binding forgets the Port. The Port of my Receiver is 8102. If i set this in the Paper UI, the AVR is still offline. Looking at the log, shows it wants to connect still to Port 23.

[2017-01-19 19:27] mhilbush commented on #1732
@J-N-K  Could it be related to this?

https://community.openhab.org/t/npes-in-astro-binding/18657

Does it still occur if you delete and readd the astro things?

[2017-01-19 20:02] LukaNoah commented on #1687
I hade eclipse ;(
Can you please post your actual builds ?

[2017-01-19 20:06] mvolaart commented on #1608
Hereby a new version:
- Improved stability
- Binding gives the user more information about the state of the Things
- Fixed several problems (especially for DSMR V3 and V4)
- CRC checking is now done
- Display the equipment identifier is now correct
[org.openhab.binding.dsmr-2.0.0-SNAPSHOT_19_01_2017.zip](https://github.com/openhab/openhab2-addons/files/717648/org.openhab.binding.dsmr-2.0.0-SNAPSHO

[2017-01-19 20:22] J-N-K commented on #1732
Didn't see that thread and didn't try. However, I think that is not a solution because reconfiguring everytime something in the binding changes is not acceptable. The binding should check if a channel exists before using it.

[2017-01-19 20:31] stiansoevik opened #1735 "[exec] Format string from Item to Exec Thing (e.g. to customize parameters)"
Please consider making it possible to format the string sent from Items to Exec Thing.

Use case: Use same Thing for many Items. Send some ID of the Item to the ting.
[code]

[2017-01-19 20:59] mhilbush commented on #1732
I would agree if this was a released product.  Keep in mind that openHAB is under very active development, and that breaking changes are not uncommon.

[2017-01-19 21:10] kaikreuzer commented on #1732
Nonetheless, I agree with @J-N-K that NPEs can be considered a bug and it always makes sense to harden the code accordingly.

@gerrieg Could you have a look, please?

[2017-01-20 04:49] syphr42 commented on #1704
A couple weeks ago I started building a Java API for LaMetric Time.

https://github.com/syphr42/liblametrictime-java

It has a two-level API concept. At the low level are the local and cloud APIs. Then, stepping up one level I started building a more user-friendly API. I then connected it to OpenHAB 2 with a simple binding that does auto-discovery via UPnP and two simple channels (info and alert)

[2017-01-20 08:16] reyem commented on #1704
Hey Gregory!
Great news. Actually I just implemented the "same" thing locally in the mean time. I pushed it now (although in a not working state) to be able to exchange some ideas. You find it here:
https://github.com/reyem/openhab2-addons/tree/1704-LaMetricBinding

Looking at your code, it is definitely much cleaner and is also more complete on the LaMetric API Level then mine. I don't have the c

[2017-01-20 12:44] cweitkamp commented on #1687
My github fork is [Link](https://github.com/cweitkamp/openhab2-addons/tree/AVMFritzComet) up-to-date. Feel free to clone or download it.

[2017-01-20 13:07] kirantpatil commented on #142
@IgorTrindadePT, can you please post how did you compile and add zigbee binding to OH2 ?

Thanks.

[2017-01-20 13:12] cdjackson commented on #142
As discussed on the forum, this will not work with the REX hardware. Do you have the CC2531 hardware or are you using something else? I just want to save you the pain of installing the IDE and getting everything working just to find that it doesn’t work with your hardware.

To compile the binding, follow the instructions here (http://docs.openhab.org/developers/development/ide.html <http://docs.op

[2017-01-20 13:16] kirantpatil commented on #142
I did install openhab2-development and then downloaded and build the zigbee branch. Now how to find out that Zigbee binding is loaded ?

Thanks.

[2017-01-20 13:19] cdjackson commented on #142
It’s the same as any other binding - use Karaf to see what is running.

You still haven’t answered my question - are you trying to get this working with the REX hardware? it will not work and I don’t want to waste either of our time if this is what you are trying to do..

[2017-01-20 13:21] lolodomo opened #1736 "myopenhab: no access to Paper UI ?"
Using https://myopenhab.org/basicui/app or https://myopenhab.org/classicui/app, we can get a remote access to Basic UI and Classic UI.
Using https://myopenhab.org/paperui or https://myopenhab.org/paperui/app does not work. Is it expected ?

[2017-01-20 13:26] kirantpatil commented on #142
Finally I would like to check what does it show in Karaf bundle:list.

How to Karaf when I am running app from Eclipse ?

[2017-01-20 13:28] cdjackson commented on #142
If you are running in Eclipse, then Karaf is not running. You should use the debugger to debug.

Please can you respond to the question - what hardware are you trying to get this working with. It will only work with the CC2531.

[2017-01-20 13:31] kirantpatil commented on #142
Yes Sir, I understood that it is working with CC2531. I will not post any more questions regarding the support for REX3S device.

Thanks and appreciate for your quality time and guidance.

[2017-01-20 13:33] cdjackson commented on #142
This was not my point. If you want to look at adding support for the REX, then we can discuss, but it will be quite a lot of work (I am currently adding other dongles). I was simply trying to understand what you are trying to do to avoid wasting both of our time!

[2017-01-20 13:42] kirantpatil commented on #142
Sir, Please don't mind, my intention is to stop momentarily until I could get REX usb dongle to try, I understood your point. I would like to see support for REX. Since I am not a HW guy, so trying my best to understand about it.

Once again sorry, I could not convey my intention in proper way.

[2017-01-20 16:23] syphr42 commented on #1704
Marco -

I love your enthusiasm! I agree with a lot of your ideas (some of them I
had been thinking about as well). I should have some time tonight and I'll
provide more thoughtful responses to each of your items.

On collaboration specifically, I think a mix of this issue as well as IRC
would be good for discussion. I'll try to get a channel set up on freenode.
As for the code, we should be able

[2017-01-20 18:06] mhilbush commented on #1732
I think this fix might actually make the problem worse.  Now, instead of throwing an exception in the log file, if the event channel is missing (most likely because the astro thing was added prior to the event functionality being added), the events will not work, and it will be completely silent about why they are not working.  I'm still not sure how someone will know to delete and readd the astro

[2017-01-20 18:22] gerrieg commented on #1732
I've implemented a warning now

[2017-01-20 21:03] reyem commented on #1704
I would suggest https://gitter.im/ for chatting...

[2017-01-21 00:43] syphr42 commented on #1704
@reyem

I looked over the code you committed. It looks like we had a lot of similar ideas. I like where you're going with the channels. I haven't spent too much time investigating the apps yet for LaMetric Time, so I can't speak intelligently about how to support it yet.

Regarding your list:

1. I agree that dropping the jar in a lib folder is messy. I tried to use Maven until I realized that Mav

[2017-01-21 01:05] shadowmite opened #1740 "[homekit] Add-on missing enumerated type for DimmableSwitchable"
I am just starting to get into this openhab stuff, but perhaps I've already found an issue. I have a Smart Fan Control switch that I'd like to control over Siri and noticed if I use the "Lighting" tag it works. But if I use the "Switchable" tag it does nothing. Never shows up. Looking at the code it appears if a "Dimmer" is found as the item it gets changed to "DimmableSwitchable" which does not e

[2017-01-21 01:11] shadowmite commented on #1740
Actually on second look its also not declared as a valid possibility in:
HomekitAccessoryFactory.java

Perhaps the proper fix is to change the docs and remove "Dimmer" as a valid type for this tag, but I hope you'll implement it instead. If I could learn to compile this beast I'd try to fix this myself.

[2017-01-21 02:13] syphr42 commented on #1704
I'm not too keen on "reusing" the sitemaps to reproduce indicator app frames in LaMetric Time. I think it is a clever idea, but repurposing a core concept in a way the designers didn't intend in an app we can't control will probably lead to unexpected breakage and we will be playing catch up to keep the binding working. I'm not saying we can't go that route, but let's not go right to that without

[2017-01-21 02:23] syphr42 commented on #1704
When you asked about push apps, did you really me pull? Push isn't too hard because I think we can just use the widget update endpoint (see issue 4 that I created on the liblametrictime-java repo). For pull, things get difficult. ESH exposes a REST API that is very useful and easy to use. However, LaMetric forces the app creator to specify a URL ahead of time and that makes it very hard to support

[2017-01-21 02:31] syphr42 commented on #1704
I started playing around with the apps local endpoints. There is a lot of power in there. First off, you can get a list of the apps on the user's device. We could use this to populate custom channels.

[code]

[code]

[2017-01-21 08:10] reyem commented on #1704
This is great news! I guess this is what the mobile apps call. So probably even control over the native apps can be taken. :-)

I thought about channel per app as well. However, what item type would an app have, as finally we have to map item values to la metric "frames", which can even have multiple values, like the 'goal frame'. So either we need many channels per app or a complex tagging system

[2017-01-21 09:53] michaeljoos72 opened #1742 "Wrong Zodiac Astro Binding"
Hi

I'm using astro:sun:local:zodiac#sign

Yesterday 20. January should be CAPRICORN=Steinbock (last day).
But Astro-Binding 2.00 (OH2) already showed AQUARIUS=Wassermann

It seems that we have a shift of one day

Michael

[2017-01-21 09:56] kaikreuzer commented on #1742
@gerrieg Could you have a look, please?

[2017-01-21 10:21] espentj opened #1743 "Z-wave - Battery indicator is not shown correctly - Z-wave binding"
I have a POPP smoke sensor:
Device discovery resolved to thingType zwave:popp_004001_00_000
that is not able to correctly display it´s battery status. Note I have 10 of this device and all are exhibiting the same behaviour.

I am wondering if the definition for the battery sensors values are being erronously translated somehow, but I don´t quite know how to investigate further.
One of the devices

[2017-01-21 11:00] stundzig opened #1744 "[homematic] INSTALL_TEST not working"
Hi team,

i've update my homegear to version 7 to get support for the INSTALL_TEST channel in openhab2. I've found in https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.homematic/src/main/java/org/openhab/binding/homematic/internal/misc/HomematicConstants.java#L43 the constant INSTALL_TEST.

I've deleted my homematic smoke detectors in openhab2 and readded th

[2017-01-21 11:56] cdjackson commented on #1743
Please can you open this issue in the Zwave issue list.

Thanks

Sent from my iPhone

[2017-01-21 13:27] #1743 closed

[2017-01-21 13:29] rene54321 commented on #1281
Hi,

looks like the problem is still not fixed. I have the snapshot 723 of OH2. I still need to restart manually the cometvisu bundle after OH2 has started to get PHP working.

Any updates here?

best regards René

[2017-01-21 16:37] mvolaart commented on #1608
New version including some small fixes
[org.openhab.binding.dsmr-2.0.0-SNAPSHOT_21_01_2017.zip](https://github.com/openhab/openhab2-addons/files/721309/org.openhab.binding.dsmr-2.0.0-SNAPSHOT_21_01_2017.zip)

[2017-01-21 16:39] kaikreuzer commented on #1736
Try https://home.myopenhab.org/ui/index.html resp. https://home.myopenhab.org/paperui/index.html (depending on the OH2 version you are using)

[2017-01-21 16:39] #1736 closed

[2017-01-21 16:50] johnofcamas opened #1746 "Homekit debug logging?"
I have an issue with HomeKit where it stops working sometime in the middle of the night, but I don't see anything in the openhab logs indicating what the issue might be, is there a way to enable HomeKit debug logs?

[2017-01-21 17:08] lolodomo commented on #1736
Ok https://home.myopenhab.org/paperui/index.html is working for me.
Any reason why https://myopenhab.org/paperui/index.html is not working too ?
https://myopenhab.org/basicui/app is working.
https://myopenhab.org/classicui/app is working.
Documentation is mentioning https://myopenhab.org but not https://home.myopenhab.org. Any user will have difficulty to find the right URL for Paper UI !

[2017-01-21 17:14] lolodomo commented on #1736
@kaikreuzer : I think there is something wrong.
You can access your dashboard with https://myopenhab.org/start/index but then when you click on Paper UI, you got "Cannot GET /paperui/index.html ".

[2017-01-21 17:29] MrPatHome opened #1747 "[astro Binding] sunrise event"
Hi,

got a problem with a rule triggerin with sunset or -rise. Can´t figure out what´s wrong.

rule "Außenbeleuchtung an (Sonne)"
when
    Channel astro:sun:home:set#event triggered START
then
	logInfo("Außenbeleuchtung nach Sonne", "an")
    sendCommand(Aussenlicht_hinten_rechts_1_State, ON)
end

[2017-01-21 17:34] falkena commented on #1707
There is already pull request for OpenHab2: https://github.com/openhab/openhab2-addons/pull/1334

[2017-01-21 17:34] MrPatHome opened #1748 "[homematic] remote problem"
Hio all,

gat a problem with my remote since i switched to openhab 2. Cant get it workin

Items:
Switch RC_7 "Remote Control Button 7" {homematic="address=MEQ0601774, channel=7, parameter=PRESS_SHORT"}
Switch RC_8 "Remote Control Button 8" {homematic="address=MEQ0601774, channel=8, parameter=PRESS_SHORT"}

rule
rule "Test vitrine an"
when
    Item RC_8 received update ON

then
    sendCommand(Vitr

[2017-01-21 17:54] MHerbst commented on #1748
The item definitions format has changed for OH2: http://docs.openhab.org/addons/bindings/homematic/readme.html

[2017-01-21 19:26] kaikreuzer commented on #1736
You should simply use the link that is offered on https://myopenhab.org/, which points to https://home.myopenhab.org/start/index and all is well.

[2017-01-21 19:35] lolodomo commented on #1736
Ok, well I did not see that link on the home page.

[2017-01-21 19:52] MrPatHome commented on #1748
Thanks M,

now changed to:
// Fernsteuerung

Switch RC_7 "Remote Control Button 7" { channel="homematic:HM-RC-8:ccu:MEQ0601774:7#PRESS_SHORT" }
Switch RC_8 "Remote Control Button 7" { channel="homematic:HM-RC-8:ccu:MEQ0601774:8#PRESS_SHORT" }

Still not workin. Maybe it´s the name of the Bridge. Tried "ccu" like in the example and 8a90db01 wihch ist the Number of the Homematic bridhe in Paper UI.

[2017-01-21 19:53] MrPatHome commented on #1748
P.S.: Using Homegear

[2017-01-21 20:00] MHerbst commented on #1748
Hmm I am not sure what happens if both have the same ID. Maybe its better to move the items file for a test to a different place.

Here are two important hints regarding Homegear:

- http://docs.openhab.org/addons/bindings/homematic/readme.html#thing-configuration
- http://docs.openhab.org/addons/bindings/homematic/readme.html#items

[2017-01-21 21:33] reyem commented on #1704
I played around with a custom indicator app. My conclusion is, that this is rather simple. You can post to the apps local url like to the notification channel. But the request body is just the frames array. Very interesting is, that it does not matter what frames you define in the app, when creating them. It accepts finally any number of frames of any type. Although I defined my app with 1 simple

[2017-01-21 22:39] syphr42 commented on #1704
Channels can be created dynamically in the code. There is a ChannelBuilder class to help.

See this [link to the documentation](https://www.eclipse.org/smarthome/documentation/development/bindings/thing-handler.html#updating-the-thing-structure) for more.

I'm open to the idea of the sitemaps. I'd say let's give a shot and see how it turns out. Worst case we take another direction if it doesn't pa

[2017-01-22 09:15] gerrieg commented on #1742
20. January is Aquarius, see http://www.astrology-zodiac-signs.com

[2017-01-22 09:26] kaikreuzer commented on #1742
Both of you are right, see [wikipedia](https://en.wikipedia.org/wiki/January_20):

"In the ancient astronomy, it is the cusp day between Capricorn and Aquarius. In some years it is Aquarius, but others Capricorn."

[2017-01-22 09:28] MHerbst commented on #1496
@pail23 This issue is solved an can be closed.

[2017-01-22 09:53] gerrieg commented on #1742
OK, never heard before... The calculation in the Astro binding is only date base. I need to find a calculator that does it right, there are many inaccurate calculators on the net

[2017-01-22 10:10] gowi opened #1749 "[homematic] Systemvariables are not imported correctly"
Hi,
it looks like the import of homematic systemvariables does not work properly. The export of systemvariables is OK. See: [https://community.openhab.org/t/receiving-homegear-systemvariables/20847](https://community.openhab.org/t/receiving-homegear-systemvariables/20847)

[2017-01-22 10:35] MHerbst opened #1750 "[network] UTF-8 characters used in german properties file"
The properties file uses correctly encoding ISO-8859-1 but contains UTF-8 characters.

[2017-01-22 10:51] cweitkamp commented on #1687
@LukaNoah any results with your testings?

If not, I like to provide you my newest build ([.jar file](https://github.com/openhab/openhab2-addons/files/721873/org.openhab.binding.avmfritz-2.0.0_20170122-SNAPSHOT.zip)). This version supports reading temperature, reading battery level and setting temperature. Would you like to test it?

demo.items:

[code]

demo.sitemap:

[code]
I am eager to hear fe

[2017-01-22 11:15] marcelrv commented on #1719
Indeed issue was easily identified, and will be fixed with PR #1752

@RalphPungaKronbergs as far as I know the exclusive/non-exclusive should not have impact to the cloud usage, as the cloud is using separate connection from the internal network one.
(e.g. the regular MAX! software is also using exclusive mode and can also be used at the same time as the cloud).

[2017-01-22 12:06] rtvb opened #1754 "RFXCOM: item linked to channel humiditystatus not updated"
I use a Cresta temperature and humidity sensor. Items to both value channels are updated. In debug mode the binding logs the telegram from the receiver and it includes a value for humiditystatus. However, the item linked to the channel does not get updated with the value.

Item:
[code]

Log:
[code]

Karaf returns NULL as the value
[code]

cc binding author @paulianttila

[2017-01-22 12:45] kgoderis opened #1755 "gnu.io.RXTXPort.eventLoop high CPU load"
All,

Is anyone using a binding using the gnu.io lib also having issues with a high CPU load, caused by Threads running the gnu.io.RXTXPort.eventLoop loop?

@kaikreuzer Can't remember if you/we/someone decided to go through this library or an alternative one with better native implementations?

[2017-01-22 13:24] kaikreuzer commented on #1755
No better alternative has been found so far, see https://github.com/openhab/openhab-core/issues/101.

I'd suggest to discuss such issues at https://github.com/NeuronRobotics/nrjavaserial

[2017-01-22 13:24] #1755 closed

[2017-01-22 14:36] peuter commented on #1717
As described here: https://github.com/openhab/openhab2-addons/tree/master/addons/ui/org.openhab.ui.cometvisu

You have to download and extract the CometVisu to a folder on your computer and tell the cometvisu-binding where this folder is in the cometvisu.cfg file.

Whats parts of the documentation are outdated?

[2017-01-22 14:39] peuter commented on #1666
@kaikreuzer Is there a general setting that can be used in a .cfg file to modify this settings? I guess I can add one for the cometvisu-binding, but maybe there could be a need for a generic one for all servlets.

[2017-01-22 15:11] rtvb commented on #1712
I deleted them. In the past I have had similar issues with the Hue binding (reappearing things for bridge and bulbs that I have already manually configured). Since yesterday I started to ignore them. I have restarted once or twice and will monitor in the future if they re-appear. Hopefully not. I have had over 200 RFXCOM items in the Inbox.

[2017-01-22 15:34] rtvb commented on #1754
the channel name should be `humidityStatus` instead of `humiditystatus` (as stated in the README).

https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.rfxcom/README.md

I will submit a PR.

[2017-01-22 18:36] benderl commented on #1747
I am quite new to Channels in OH2, but I think you have to put the channel name in single quotes '...'
At least this is how it works for me in a similar rule.

[2017-01-22 21:30] MageGH commented on #1717
Hello,
The folder below doesnt exist on the latest OpenHAB2 releases.

"Relative path to the folder the CometVisu client can be found:
cometvisu:webFolder=runtime/web/src/"

e/web/src/

[2017-01-22 21:59] RalphPungaKronbergs commented on #1719
Thanks for the effort!

What I figured was, that the iOS App stucks at the synchronisation date/time equal to the moment I activate exclusive mode - so it looked to me like the exclusive mode is stopping maxcube from syncing with the cloud...

[2017-01-23 10:07] Celaeno1 commented on #1747
Yes, you need the single quotes '...' as channel name in the rules-file:

    Channel 'astro:sun:home:set#event' triggered START

[2017-01-23 10:17] guw commented on #17
Greetings,

I'm new to the game and exploring openHAB2 with KNX. Is there an overview/readme somewhere explaining the status of the KNX binding? For example, I tried the one exposed via AddOn but that installation does not seem to do anything. I was expecting some kind of configuration UI.

Will this be different with the new binding? What is the status of it and how can I test it?

Thanks!

[2017-01-23 10:23] kaikreuzer commented on #17
Hi Gunnar! I'd suggest you use [our forum](https://community.openhab.org/) for support, so that the issue tracker is not flooded with support comment. The currently official KNX binding is version 1.9.0, see [the documentation here](http://docs.openhab.org/addons/bindings.html#x-bindings).

[2017-01-23 10:51] Celaeno1 opened #1757 "[MAX!] Feature Request Max! ecoswitch, channel 'mode'"
At the moment Thing 'ecoswitch' is supporting only one channel "battery_low". It would be very usefull, if channel "mode" is supported, too. Modes: AUTO, ECO, OFF, and so on would be great!

[2017-01-23 13:03] Celaeno1 commented on #1757
@marcelrv
maybe this is something for you?

[2017-01-23 13:43] kaikreuzer commented on #1666
You could consider doing a PR against https://github.com/openhab/openhab-distro/blob/master/distributions/openhab/src/main/resources/runtime/etc/jetty.xml

[2017-01-23 14:34] RalphPungaKronbergs commented on #1757
+1
I am missing this feature badly too...

[2017-01-23 15:10] tavalin opened #1758 "[openhabcloud] Unable to save new rule or item in Paper UI when accessing through myopenhab.org"
I tried to create a new rule using Paper UI but was not able to save (tick icon).  Nothing happens immediately after clicking the button and later I get the following toast message:

`Error: 504 - Gateway Time-out`

The same also happened when I tried to create a new item using Paper UI through myopenhab.org.

If I connected to Paper UI through LAN or dynamic IP then it works as expected.

[2017-01-23 15:49] LukaNoah commented on #1687
It does'nt work.
In paperUI the new values are not present. I maked a avm.items-file with these two values and added these to my sitemap. The setpoint-value are not changing to the value from the fb. Changed values of setpoint was not send to fb.

[2017-01-23 15:56] #1750 closed

[2017-01-23 15:57] #1641 closed

[2017-01-23 16:08] gerrieg commented on #1744
It's a generic binding, so all channels are supported.

Did you try to delete and rescan the thing?
Did you see the 'Show More' button to show all channels?

If it doesn't work, please send me a full startup TRACE log, see [Debug and Tracing](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.homematic/README.md)

[2017-01-23 17:16] peuter commented on #1666
@cybergreen2 As you have a working solution: Would you mind to create a pull request from it?

[2017-01-23 17:19] marcelrv commented on #1757
Unfortunately eco switch position does not seem to be available with this detail in the data the cube is sending.

E.g in the normal eq3 software you also can't see the position of this switch.

If you see somewhere a good implementation that does show this, and we can find out how, I'm very willing to implement this. Until than suggest to close this request

[2017-01-23 17:22] peuter commented on #1717
That is just an example, you have to replace it with the absolute path to your local cometvisu installation

[2017-01-23 17:29] peuter commented on #1717
I just create a PR with an update for the documentation, that hopefully make these things more clear.

[2017-01-23 17:39] #1432 closed

[2017-01-23 19:43] MageGH commented on #1717
In the meanwhile can you help me because it doesnt want to work for me?
This is what I did:

1. Installed the CometVisu addon which is part of the OH2 addon pack
2. Extracted the "release" folder (including the release folder) of the downloaded CometVisu archive in the runtime folder off my openHAB2 server.
3. Tried to modify the 'cometvisu.cfg' 'cometvisu:webFolder=' setting without any success

[2017-01-23 19:50] MrPatHome commented on #1748
Tried both,

Swiches defined in the items file (They appear instantly in Paper UI too) and only in Paper UI.

Still doesn´t work :-(

Is "recieve update" still the right way in Openhab 2 or is a new syntax required?

[2017-01-23 19:59] peuter commented on #1717
The webfolder must point to the folder where the cometvisu's index.html is in. What path did you configure as webFolder?

[2017-01-23 20:48] MageGH commented on #1717
It works!! :) Thanks a lot Tobias.
Btw, the installation instructions never says that this should point to the index.html. I think the description should look something like this:

1. Extracted the "release" folder of the downloaded CometVisu archive into the runtime folder of the openHAB2 server
2. Install the CometVisu addon which is part of the OH2 addon pack
3. Modify the 'cometvisu:webFolder=

[2017-01-23 20:56] quarterbit opened #1760 "Add Piface Binding"
Hi Team,
I'd like to use the piface addon and I am trying to make the openhab1 addon work for openhab2.
I cloned the openhab1 repo, read the code now and like give it a try.
Now, I'll complete my IDE setup and check further for existing piface stuff.

Tom

[2017-01-24 06:31] davidgraeff commented on #1602
@MHerbst: Could u have a look at the refactored plugin? https://community.openhab.org/t/yamahareceiver-binding-has-issue-with-zone-2/19731/8?u=david_graeff
Thanks,
David

[2017-01-24 09:11] tobyS commented on #1222
Also getting tons of them:

`2017-01-24 10:09:40.898 [WARN ] [.jivesoftware.smack.tcp.PacketWriter] - Exception writing closing stream element
java.net.SocketException: Connection reset
	at java.net.SocketOutputStream.socketWrite(SocketOutputStream.java:113)[:1.8.0_111]
	at java.net.SocketOutputStream.write(SocketOutputStream.java:153)[:1.8.0_111]
	at sun.nio.cs.StreamEncoder.writeBytes(StreamEnco

[2017-01-24 10:03] Celaeno1 commented on #1757
Thanks for this information. This is a pity! I read in FHEM forum, that MaxCube provides no state query via LAN, but via 868 MHz (RF, e.g. MAX-CUL)). Maybe there is an other solution to realize this. Normally you can configure ecoswitch with two "actions", e.g. "AUTOMATIC" and "ECO".  If you press at ecoswitch e.g. "AUTOMATIC", then ALL thermostates go to mode "AUTOMATIC" immediately. Now we only

[2017-01-24 10:50] stundzig commented on #1744
Hi,

thanks for your help. _Show More_ shows me the new channels. ;)

But unfortunatly, i found also, that **INSTALL_TEST** is a readonly channel. So i can't use the smoke detectors to trigger an alarm from openhab2.

[2017-01-24 10:50] #1744 closed

[2017-01-24 12:12] Celaeno1 commented on #1222
@digitaldan  is there any progress? I guess it will take some time, but could you please keep us up to date?

[2017-01-24 12:57] cweitkamp commented on #1687
Thanks for testing.

Some questions:
Did you remove your Comet DECT thing in Paper UI and add it again after replacing the binding? If not, give it a try. If that doesn't help and the channels are not visible in Paper UI then remove all Comet DECT things and items in Paper UI and your *.things and *.items files, restart openhab2.service and try it again.

Do you know how the fb is reacting, after

[2017-01-24 14:11] LukaNoah commented on #1687
I has removed all. And add again. Nothing.
On / Off where ok.

[2017-01-24 14:45] RalphPungaKronbergs opened #1762 "[OH2 Netatmo Binding] Missing values rain 1h / 24h"
The Netatmo Binding is working fine so far, the only two values I'm missing are rain for 1h and 24h. Both are readable via Netatmo API. It would be great if these values would be integrated into the Binding.

Edit: It seems like the sync timestamp for Wind and Rain is also missing, although both exist via Netatmo API.

@clinique - maybe you could have a look? Thx

Thanks,
Punga

[2017-01-24 15:23] cweitkamp commented on #1687
New build [.jar file](https://github.com/openhab/openhab2-addons/files/727064/org.openhab.binding.avmfritz-2.0.0_20170124-SNAPSHOT.zip) (untested). Should fix the "not present value" bug.

Could you try to implement an additional Switch item for "avmfritz:Comet_DECT:1:aaaaaabbbbbb:set_temp" channel to send ON/OFF commands?

Restart openhab2.service after replacing the binding like suggested.

[2017-01-24 16:43] davorf commented on #1396
Hello!

Any news regarding this issue?

Best regards,
Davor

[2017-01-24 16:48] marcelrv commented on #1757
This is more something to implement as a rule rather than in the binding.

E.g
Add all thermostats to a group, cycle through the thermostats and query thermostat mode. If they are all on manual and with the eco temperature, than consider the switch on eco mode, in all other cases, it is in auto.

[2017-01-24 16:54] FrederikNT commented on #1222
The binding is functioning but but not sure if it is related to the exception I get 4 errors every 2 seconds in my log. I am using two hubs.

`2017-01-24 12:39:05.795 [ERROR] [onyhub.discovery.HarmonyHubDiscovery] - IO error during HarmonyHub discovery: No route to host: Datagram send failed
2017-01-24 12:39:05.795 [ERROR] [onyhub.discovery.HarmonyHubDiscovery] - IO error during HarmonyHub discove

[2017-01-24 17:56] LukaNoah commented on #1687
I Do,  but I'm not @home. Friday I Can Do this, sorry ;)

[2017-01-24 18:28] digitaldan commented on #1222
I do not, I need to find a large chunk of time to refactor the underlying library which I am not the author of.

I have a PR open which addresses this, not sure why I had that under error logging originally. Its defiantly annoying, but as you observed does not effect functionality.

[2017-01-24 18:42] MHerbst commented on #1602
@davidgraeff Unfortunately on my system ist does not work at all. See my comments in the Community.

[2017-01-24 21:16] mrumpf opened #1764 "[homematic] OpenHAB 2 does not detect channels of HM-LC-Sw1PBU-FM"
I have installed 2 Homematic Switches of type "HM-LC-Sw1PBU-FM".
The devices are detected by Homegear and multiple channels are reported:

[code]

Unfortunately OpenHAB 2 (Final Release) does not detect any channels and thus the switch cannot be triggered.

The thing is shown in PaperUI as:
[code]

Turning on DEBUG log shows
[code]

[2017-01-24 22:29] #1496 closed

[2017-01-24 22:45] torstesu opened #1765 "[sonos] Clear player queue"
The current sonos addon does not provide a channel to clear the current queue of a player. The playlist channel only allows to add tracks from a playlist to a player's queue. Thus, when using the playlist channel multiple times on the same player with different playlists, the queue will represent a mix of the playlists added.

In many use cases, a user would prefer to clear the queue so to only pl

[2017-01-25 03:44] digitaldan commented on #1758
Can you please open an issue on https://github.com/openhab/openhab-cloud/issues and close this one?  Thanks!

[2017-01-25 04:29] bboser commented on #1396
I’m waiting until the flurry of updates to openhab subsides before trying
again.

Bernhard

On Tue, Jan 24, 2017 at 8:43 AM, davorf <notifications@github.com> wrote:

[2017-01-25 07:49] #1758 closed

[2017-01-25 08:01] kaikreuzer commented on #1765
Please note that the Sonos binding is part of ESH: https://github.com/eclipse/smarthome/labels/Sonos

[2017-01-25 08:01] #1765 closed

[2017-01-25 09:57] Celaeno1 commented on #1757
Ok, I will try a rule... Thank you very much!

[2017-01-25 09:57] #1757 closed

[2017-01-25 11:23] chriscolden opened #1766 "org.openhab.binding.chromecast - chromecast audio groups are discoverable but cannot control"
Chromecast audio groups are discoverable but I am unable to control the group at all.

[2017-01-25 11:34] steve-bate commented on #1661
@kgoderis Following up on the command formatting, its looks like the Apache commons [strSubstitutor](https://commons.apache.org/proper/commons-lang/javadocs/api-3.1/org/apache/commons/lang3/text/StrSubstitutor.html) could be useful. If you created a custom [StrLookup](https://commons.apache.org/proper/commons-lang/javadocs/api-3.1/org/apache/commons/lang3/text/StrLookup.html) implementation you co

[2017-01-25 20:47] tavalin commented on #1758
FTR it seems it has already been raised. https://github.com/openhab/openhab-cloud/issues/31

[2017-01-26 00:09] sailorsail opened #1768 "References to items in the Frame declaration, within a sitemap, block updates on icons!"
In a clean install of openHAB 2.0 Release Build, I've used the following configuration:
file.items
[code]
file.sitemap
[code]
When I toggle 'Light_WCBig_Ceiling', within “WC1” page, the update of the icon is performed; no refresh is necessary on the user interface (either iOS or Web Basic UI).
However if I toggle 'Light_WCBig_Ceiling', within “WC2” page, the update of the icon is not performed.
Ne

[2017-01-26 00:19] dirtyharryiv commented on #1715
I have exactly the same problem.

[2017-01-26 01:26] mikecarr commented on #506
I am confused, Control tab is supposed to be blank?

[2017-01-26 09:20] kaikreuzer commented on #1768
This does not seem to be about any specific openHAB 2 add-on, so this issue tracker is most likely the wrong place. Did you already ask for support in the forum at https://community.openhab.org/?

[2017-01-26 09:20] #1768 closed

[2017-01-26 09:22] kaikreuzer commented on #506
That was in 2015. Now, there is a Control tab again.

[2017-01-26 09:25] cweitkamp commented on #1687
New build ([.jar file](https://github.com/openhab/openhab2-addons/files/731915/org.openhab.binding.avmfritz-2.0.0_20170126-SNAPSHOT.zip)).

[2017-01-26 09:45] rwijngaa commented on #1727
Maybe @cdjackson can help?

[2017-01-26 10:45] IOOOTAlan commented on #1727
@rwijngaa this is the wrong repository, as it doesn't contain the zwave binding anymore.
You should probably move your question to the [relevant zwave subsection on the OpenHab community forum](https://community.openhab.org/tags/c/add-ons/bindings/zwave), before opening an issue on the [zwave binding repository](https://github.com/openhab/org.openhab.binding.zwave)

[2017-01-26 11:34] sailorsail commented on #1768
I did asked in the forum at:
https://community.openhab.org/t/do-references-to-items-on-frame-declaration-in-the-sitemap-block-updates-on-icons/21083/4
In the forum it has been suggested that an issue needs to be filed, possibly the BasicUI in the openhab2-addons repo.
We could be wrong, but if the above mentioned behaviour is not expected, could you advice where this issue could be filled?

[2017-01-26 12:24] cdjackson commented on #1727
As above - I'd suggest to discsuss on the forum, and if there's a bug found, then we open an issue on the zwave issue tracker...

[2017-01-26 12:24] #1727 closed

[2017-01-26 15:27] MrPatHome commented on #1747
Thanks for the hints, but still doesn´t work:

rule "Wohnzimmerlicht bei Sonnenuntergang an 1"
when
        Channel 'astro:sun:local:set#event' triggered START
then
    logInfo("Innenbeleuchtung nach Sonne", "an")
    sendCommand(LampeWZ_1_State, ON)
    sendCommand(VitrineTV_1_State, ON)
    sendCommand(VitrineRechts_1_State, ON)

Any Idea?

[2017-01-26 19:17] LukaNoah commented on #1687
Hi,
with the latest jar:
- I have 4 values at paperUI (setpoint, battery, 2x actual_temperature)
- send on to setpoint the fb receive on ("AUS" send off)
- send off to setpoint the fb receive off ("BOOST" send on)
- send setpoints between 8 and 28, the fb receive it
- any changes at the setpoint in fb don't transmit to oh2

great job ;)
thank you very much
![image](https://cloud.githubusercontent.

[2017-01-26 19:21] MHerbst commented on #1768
The correct place for issues regarding Basic UI is in the SmartHome repo: https://github.com/eclipse/smarthome/issues

[2017-01-26 20:23] tnemrap commented on #1222
I have the same problem with released version of OpenHAB 2.0 on raspberry PI.

/Mike

[2017-01-27 08:39] qrioniclabs commented on #1523
Hi @gerrieg! Thanks for adding the group support. I have just yesterday created my very first group ("INT0000001") in CCU2 and am trying to add it as a thing via PaperUI. But it does not find it. How do I add it manually? Or do I have to update by Homematic Binding? Help would be appreciated. Thanks!

[2017-01-27 08:42] thibhen opened #1772 "Support for Rfxcom Kangtai"
Hello,
Is it possible to add support for Rfxcom / Lighting5 / Kangtai type of devices ?

Change is about adding in the File

in the enum  SubType, a new Entry "Kangtai (17)"

This device was added recently by Rfxcom (Firmware 1013) : http://blog.rfxcom.com/?p=106

Thanks

Thibaut

[2017-01-27 09:19] DanielMalmgren opened #1773 "Unable to remove items using Karaf console"
When I try to remove items from Karaf it first seems to work, but the items are never removed.

This is items created using smarthome inbox (in habmin) and that don't exist in any .item file. I get nothing in openhab log files when trying to remove them.

edit: Forgot to mention some facts. This is OH 2.0.0, installed from official repository on a Debian 8.7 server.

[2017-01-27 09:29] DanielMalmgren commented on #1773
Realized that I was on the wrong place, this obviously shouldn't be in openhab2-addons. Closing and opening another in the right place instead. Sorry :-)

[2017-01-27 09:29] #1773 closed

[2017-01-27 10:12] TheNetStriker opened #1774 "Error in Onkyo readme"
I just found a typo in the onkyo readme: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.onkyo/README.md

The typo is under the "Thing Configuration". The thing should be declared as onkyo:onkyoAV**R**:myOnkyo. (onkyoAVR instead of onkyoAV)

[2017-01-27 11:09] paulianttila commented on #1774
This will be fixed with PR #1708

[2017-01-27 12:25] GeneralLuzi opened #1775 "KODI-binding - exception during unistall"
Hi,

For whom it may interest:
I uninstalled Kodi. Within the logs I got an error:
[code]

[2017-01-27 13:30] obartelt opened #1776 "Offline Hue lights"
When I switch a Hue light off manually (cutting power by using a wall switch), I get an event in the Karaf console:

[me.event.ThingStatusInfoChangedEvent] - 'hue:0100:001788253ecd:8' changed from ONLINE to OFFLINE: Bridge reports light as not reachable

But the light is still shown as "on" in OpenHAB (brightness as it was set (e.g. 100%), and the :switch channel set to ON).

Is that a bug? How ca

[2017-01-27 15:15] kaikreuzer commented on #1776
Note that the hue binding is located at https://github.com/eclipse/smarthome, so it should be reported there.
I have seen the same effect in my log, but didn't further analyze it.
As the binding claims that "Bridge reports light as not reachable", did you already check with the Philips Hue app whether the lights are shown to have a problem there?

[2017-01-27 15:15] #1776 closed

[2017-01-27 15:49] obartelt commented on #1776
Yes, they are correctly shown as having a problem there (since they're actually non powered, and thus non reachable).

[2017-01-27 15:55] kaikreuzer commented on #1776
Ah, sorry, I didn't read your initial description carefully enough.
No, it is not a bug that openHAB still shows it ON. It simply shows you the last " real state of the bulb". If the connection to the bulb breaks (for whatever reason!), how would you possibly know any updated "real" state?

[2017-01-27 16:07] obartelt commented on #1776
Hmm, while I can understand that, how do you handle such a situation? I have some lights in my home that I really switch off physically, and I want it to show as such in my sitemap (and not thinking I have left the lights on). Any idea?

[2017-01-27 16:30] kaikreuzer commented on #1776
Not that easy. You would probably best do a rule, but you would need https://github.com/eclipse/smarthome/issues/1654 for it.

[2017-01-27 17:18] obartelt commented on #1776
Yeah, I've seen that, too. Too bad it's not implemented yet :-(

[2017-01-27 17:32] MHerbst commented on #1523
The update has not been merged, yet. Therefore the new functionality is not yet available in a release binding version.

[2017-01-27 17:33] big-col opened #1777 "Z-Wave & Powermax bindings will not run together"
I have a strange issue...

I can install the zwave binding, configure and run OH2 without any issues.
If i add the Powermax 1.0 binding alongside zwave, it works OK until the next time i restart OH2, then neither zwave nor powermax will work.

Sometimes after a restart i get the following error in the console, i cannot find this in the logs though
_openhab> Error 0x6 at src/windows/termios.c(2265)

[2017-01-28 03:39] guyyakobovitch opened #1778 "[Network Binding] native ping on linux - wrong flag render ping unusable"
In "org.openhab.binding.network/src/main/java/org/openhab/binding/network/service/NetworkUtils.java",
"nativePing" function:

`if (SystemUtils.IS_OS_UNIX) {
            proc = new ProcessBuilder("ping", "-t", String.valueOf(timeout / 1000), "-c", "1", hostname).start();
        } else if (SystemUtils.IS_OS_WINDOWS) {
            proc = new ProcessBuilder("ping", "-w", String.valueOf(timeout), "-n"

[2017-01-28 06:06] davidgraeff commented on #1571
Work in progress in merge request #1779

[2017-01-28 06:36] davidgraeff commented on #1075
@kaikreuzer This can be closed now, the feature got merged.

[2017-01-28 09:32] #1075 closed

[2017-01-28 09:33] kaikreuzer commented on #1778
Fixed by https://github.com/openhab/openhab2-addons/pull/1780

[2017-01-28 09:33] #1778 closed

[2017-01-28 10:30] lolodomo commented on #1712
Issue to be closed ?

[2017-01-28 10:42] lolodomo opened #1782 "[openhabcloud] Jetty request failed: null"
Here are warnings I can find in my logs:
[code]
By the way, the binding is working well.

[2017-01-28 11:32] lolodomo commented on #1629
I just tried the Chromecast binding. It discovered my Freebox Player Mini 4k (running Android TV).
I can play and pause YouTube videos but previous and next commands are ignored.

[2017-01-28 11:39] lolodomo opened #1783 "[chromecast] Player state not updated when changed outside openHAB"
I tried the Chromecast binding. It discovered my Freebox Player Mini 4k (running Android TV).
I can use play and pause commands from the control channel.
When I play or pause a YouTube video from my phone using YouTube application, the state of the channel is not updated accordingly.

[2017-01-28 11:42] rtvb commented on #1712
Ignored things stay hidden until explicitly asked for. Even after restarts and apt-get updates.

Why do they reappear after deletion by design?

[2017-01-28 12:10] lolodomo opened #1784 "Chromecast: the play and say console commands not working"
With my Freebox Player Mini 4k (Android TV), the following console commands are not working (the palyer is switching to a notification screen but the audio file is never played):
[code]

[2017-01-28 12:16] lolodomo commented on #1712
Because if you delete a discovered thing, it is deleted and openHAB keeps no trace of it and so of course it will reappear the next time a discovery is triggered. If you don't want this behaviour, just ignore the discovered thing and don't delete it.

[2017-01-28 12:21] lolodomo commented on #1784
Here is a warning I get:
[code]

[2017-01-28 12:35] Celaeno1 commented on #1747
Did you try only 1 sendCommand?

My rule is working fine:

    rule "Osram_Light2_Toggle zeitgesteuert an"
	    when
		  Channel 'astro:sun:a7f71b41:set#event' triggered START
	    then
		  sendCommand(Osram_Light2_Toggle, ON)
    end

Do you have command "end" at the end of the rule?

Be sure that you use the correct item! e.g. "LampeWZ_1_State" is well configured in your item file?

"LampeWZ_1_S

[2017-01-28 14:25] netzlaff opened #1785 "OH2 don't start cron rules after a while (2.0.0-1, 2.1.0-Snapshot)"
After upgrading my RPi3 (Java 1.8.0_121, etc.) and upgrade OH2 from 2.0.0-SNAPSHOT to 2.0.0-1 --> OH2 don't start cron rules after a few minutes. No Errors or something on the log. I've tested 2.1.0-Snapshot, but the problem is the same.

Here my addons.cfg:
[code]

I have two cron rules, that starts every minute and on rules that starts every 5 minutes. This rules starts for a few minutes (10 or

[2017-01-28 16:29] CWempe opened #1786 "[netatmo] netatmo.cfg not created and documentation missing"
When installing the netatmo binding (e.g. via addons.cfg or karaf console) does not create a netatmo.cfg in /etc/openhab2/.

And I cannot find documentation how the netatmo.cfg should look like to manually create one.

see: https://community.openhab.org/t/will-binding-cfg-files-be-automatically-created/21040/8

[2017-01-28 16:35] watou commented on #1786
The Netatmo 2.0 binding does not have any configuration itself, as explained in the documentation:

https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.netatmo#binding-configuration

The Netatmo 1.9 binding from the openhab1-addons repo does have, and does install, the .cfg file that it needs.

I think this issue should be closed.  WDYT?

[2017-01-28 16:43] qrioniclabs commented on #1523
Alright, thanks @MHerbst! Is there any way to use the development version by @gerrieg? Do I have to switch the branch? How would I do that? Thanks!

[2017-01-28 17:24] mrumpf opened #1787 "Onkyo binding floods log with "no route to host""
My receiver and some other devices are disconnected from power to save the 30W standby consumption.
I can turn on power with via the Homematic binding. Unfortunately when power is off, the Onkyo binding floods the openhab log with the following entries:
[code]

[2017-01-28 19:04] CWempe commented on #1786
I think there is still much to learn for me about openhab2. :(

I still do not know if it is possible to configure openhab2 just via config files.

[2017-01-28 19:04] #1786 closed

[2017-01-28 19:36] lolodomo commented on #1629
Looking at the code, previous and next commands are simply not implemented.

[2017-01-28 21:11] rapiertg opened #1788 "Sound files produced by say and sendsound are 404"
openHAB 2.0 on Debian Jessie amd64 installed from official apt

Every time I try to execute playSound() or say() to kodi:
[code]

In Kodi side I am getting something like:
[code]

Under the link: http://192.168.1.5:8080/audio/48f250c6-b5a2-44e8-9946-49a0d96c6ccb I am getting 404 http code from jetty.

[2017-01-28 22:27] Caprisna commented on #1281
Hi,

same problem here.
I use the latest OH2 2.0.0.1 stable build.
Cometvisu addon + Cometvisu PHP addon was installed successfully, but i always get a white page when i try to open Cometvisu Editor or Config Manager.

[2017-01-28 23:06] codefalk commented on #1669
KlausMu, thanks!
This solved the issue for me.

[2017-01-28 23:06] #1669 closed

[2017-01-29 08:22] lolodomo commented on #1788
@rapiertg : it is a URL from the openHAB internal proxy.
@watou : that's probably for you ;)

[2017-01-29 08:28] lolodomo commented on #1784
@watou : could it be a problem with the proxy?

Are these commands working well with the official Chromecast products?

[2017-01-29 09:30] watou commented on #1784
The proxy servlet in ESH is only for Image and Video sitemap widgets (presently) and cannot serve any other purpose.  I have proposed [here](https://github.com/eclipse/smarthome/pull/2753#issue-198873443) to securely generalize its function so non-sitemap-based UIs can traverse it.

[2017-01-29 09:33] watou commented on #1788
@lolodomo I don't recognize that URI, but all proxy URIs should start with `/proxy`.

[2017-01-29 09:41] lolodomo commented on #1788
Sorry for my mismatch, I think it is just an URL for audio delivered by openHAB.

[2017-01-29 09:46] lolodomo commented on #1784
Sorry I certainly made a confusion, this URL is an URL for an audio file delivered by openHAB, no link with the UI proxy.

[2017-01-29 10:04] lolodomo commented on #1788
@rapiertg : this URL is delivered by the openHAB audio servlet.
The kodi audio sink seems to not define a duration after which the servlet will stop to serve the file: https://github.com/openhab/openhab2-addons/blob/213f4d68103218612886242452168de3bdf63870/addons/binding/org.openhab.binding.kodi/src/main/java/org/openhab/binding/kodi/internal/KodiAudioSink.java#L74

[2017-01-29 10:05] kaikreuzer commented on #1788
If no duration is specified, the AudioServlet will serve the stream exactly once, afterwards you will see a 404. Not sure if Kodi requests the same stream multiple times?

[2017-01-29 10:15] lolodomo commented on #1788
This could be checked by replacing in the Kodi binding for testing purpose:
`String relativeUrl = audioHTTPServer.serve(audioStream);`
by
`String relativeUrl = audioHTTPServer.serve(audioStream, 300);`

[2017-01-29 10:15] sagittarius0815 opened #1792 "Homematic gateway-extras no variables and scripts loaded from CCU1"
Running OH2 stable on raspberry 3 (jessie).
Using HomeMatic Addon 2.0 with HomeMatic CCU 1 FW version 1.519

Thing GATEWAY-EXTRAS does not load variables and scripts from CCU.

TRACE log:
[code]

[2017-01-29 10:28] lolodomo commented on #1784
Ok, maybe chromecast needs to establish several connections to the audio stream ?
The binding uses the audio servlet in such a way that only one access is possible: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.chromecast/src/main/java/org/openhab/binding/chromecast/handler/ChromecastHandler.java#L282
I will check what happens if a duration is defined by

[2017-01-29 10:31] lolodomo commented on #1788
@kaikreuzer : what not allowing systematically a multiple access to the file through the servlet and setting a duration of 1 hour (for example) when it is not set by the audio sink ?

[2017-01-29 10:48] kaikreuzer commented on #1788
Well, it is fully up to the sink to decide what it needs. Why keep 100 streams in memory for an hour, if not needed at all? And also serving it without authentication to who ever wants to access it (might be text-to-speech with private info).

[2017-01-29 10:55] lolodomo commented on #1788
I said 1 hour but it could be few minutes. The difficulty for any binding is to know the duration of a file and the problem is common to all bindings.
I am trying to verify that (with the Chromecast binding) but the current way it is implemented by the audio servlet could be a problem with the Kodi and the Chromecast bindings. The only binding defining a duration is the Sonos binding.

[2017-01-29 11:14] fivetide opened #1793 "Startup error on ARM (karaf)"
I am trying to run OpenHAB2 from the Syno-package (2.1.0.001-SNAPSHOT-DSM6 currently, but the same issue for other 2.* packages exists) on my DS214.
I followed the guide on (http://docs.openhab.org/installation/synology.html), then set the whole userdata folder read and writeable.
[code]

[code]

[2017-01-29 12:42] obartelt commented on #1776
Would it perhaps be possible to implement another channel "online" or something along that lines, which would represent the actual connection state (online, offline, unknown)?

[2017-01-29 13:06] thefox73 opened #1794 "[homematic] State of variable only pushed to CCU2, when item is switched manually in OH2"
I'm running OH2 RC1 and apparently the status of a variable is not published correctly to the CCU2 via Gateway Extras.
I use the network binding to detect, if a device is online or not. I assigned the switch item to the homematic variable sysvarpresence in the thing Gateway Extras in OH2.
If I now activate the OH item manually via PaperUI, the status is updated to the CCU2 correctly.
But if the st

[2017-01-29 15:07] fivetide commented on #1793
Sorry, wrong repo, will reopen in the appropiate one.

[2017-01-29 15:09] #1793 closed

[2017-01-29 15:34] MHerbst commented on #1523
You can find the branch in gerriegs repo: https://github.com/gerrieg/openhab2-addons/tree/homematic. If you clone this repo you can probably build the add-on via maven. Or you can contact  @gerrieg and ask him whether he can provide a jar file to test it.

[2017-01-29 17:24] kaikreuzer commented on #1785
Note that this issue tracker is for bugs in openHAB 2 add-ons - your issue does not seem to be about any of those.
As it is not at all clear, what your problem might be, I suggest to first discuss in the forum at https://community.openhab.org/.

[2017-01-29 17:24] #1785 closed

[2017-01-29 17:27] #1712 closed

[2017-01-29 17:40] lolodomo commented on #1784
Thebinding included in the 2.0 kar was working.
I recompiled the code (with a minor change) and put the jar file in my addons directory.
Here is the error I get:
[code]
Any idea what I missed ?

[2017-01-29 18:03] MHerbst commented on #1728
Can you activate the trace with

`log:set TRACE org.openhab.binding.homematic`

and attach the log file?

Are you using a CCU or Homegear?

[2017-01-29 18:04] sagittarius0815 opened #1796 "HomeMatic devices with CONFIG_PENDING"
I have some HomeMatic devices in state CONFIG_PENDING.

These devices are shown in CCU1 WebUI in same state for a few years :) and that never was a problem.
I was not able to solve the problem with configuration data in CCU1.
It never was a problem meens, that all devices and scripts are working in CCU1 as expected. And I have a running OpenHAB1.8 system with a working homematic 1.8 binding.

But

[2017-01-29 18:05] MHerbst commented on #1748
Can you activate the trace with

`log:set TRACE org.openhab.binding.homematic`

and attach the log file?

[2017-01-29 18:10] MHerbst commented on #1667
I checked it in the debugger and the Kodi binding's implementation of UpnpDiscoveryParticipant#createResult is called several times (with alternate IP addresses). So it really seems that it is not related to the Kodi binding (and openHAB). What do you think about closing this issue here ander creating a new one in the Smarthome repo or in the jUPnP repo? @kaikreuzer  @sjka

[2017-01-29 18:30] lolodomo commented on #1784
Ok I can confirm that defining a duration (and so allowing multiple connections) solves theis issue.

Another "problem" is that at the end of the notification, google cast player is not closed.

[2017-01-29 18:34] lolodomo commented on #1783
spontaneousEventReceived method is never called when you play/pause YouTube outside openHAB.

At the reverse, when I play/pause with openHAB, I can see that YouTube state is updated accordingly in my tablet. So it is probably possible to do the reverse.

[2017-01-29 20:10] tnemrap opened #1797 "Map Transformation gives error 500 when configure Things"
When i install Harmonyhub i can configure Things but when i install Map Transformation i receive error 500 when i try to configure Harmonyhub Things.

/mike

[2017-01-29 20:55] lolodomo commented on #1784
The problem is now fixed by the proposed PR.

In addition, I tried to close the application using chromecast.stopApp() when IDLE media_status is received but it leads to either NPE or problems.

[2017-01-29 22:17] lolodomo opened #1801 "Chromecast: play / pause when casting a WEB radio"
If you cast a WEB radio (using for example the stream console command), then you pause using the openHAB player. Then if you try to play again using the openHAB player, it fails and leads to the thing being OFFLINE. The expected behaviour would be to reload the URL.
PS: casting a new media file should make the thing ONLINE again.

[2017-01-29 22:21] lolodomo opened #1802 "Chromecast: after the playback of a notification, the cast application should disappear"
If you trigger a notification using the chromecast audio sink, a cast application is loaded to play the notification. At the end of the playback, the application should disappear and you should return to your previous application.

[2017-01-29 22:22] lolodomo commented on #1802
I tried to fix that issue (using chromecast.`stopApp()`) with no success :(

[2017-01-29 22:30] lolodomo commented on #1788
@rapiertg : a similar fix was just proposed for the Onlyo binding and the Chromecast binding. I will not be surprised that the same fix is required for the Kodi binding (fix of the audio sink to allow multiple access) to the audio file.

[2017-01-30 00:09] digitaldan commented on #1797
Can you post the errors, maybe a log file?  Also are your Harmony items using the map transformation?

[2017-01-30 07:15] kaikreuzer commented on #1667
I have entered https://github.com/eclipse/smarthome/issues/2918 for the Paper UI.
Not sure if there is a bug in jUPnP or if this is just an "unspecified" situation in UPnP. So I leave it to you and @sjka whether you think something should be done there as well.

[2017-01-30 07:15] #1667 closed

[2017-01-30 07:38] kaikreuzer commented on #1788
I actually doubt that Onkyo, Chromecast and Kodi all do multiple HTTP requests for the very same stream - I think it is rather an odd behavior that Sonos does that.

So instead of applying an ugly workaround to all of those bindings, I think we should have a closer look at the AudioServlet, if this needs a fix.

Does anyone actually SEE multiple requests being done?

[2017-01-30 07:52] tnemrap commented on #1797
Now i see that it is not in the Harmonyhub binding. It must be in the Map Transformation.
When i install Map Transformation habpanel and Network binding does not work either.

[2017-01-30 08:07] sjka commented on #1667
I have opened jupnp/jupnp#73 in order to analyze if something can be done there in order to stabilize the discovery result and prevent it from alternating all the time.

[2017-01-30 08:43] lolodomo commented on #1801
Play and pause commands should be ignored if media status is IDLE ?

[2017-01-30 09:21] FutureCow commented on #1608
@mvolaart
Gister geprobeerd met een nieuwe DSMR 5.0 meter, blijkbaar wil de binding iedere keer de meter opnieuw registreren, en krijg dus een bom volle log, maar er wordt uiteindelijke geen data toegevoegd.
stukje debug log: [http://server.fhettinga.nl/error/oh/debugdsmr.txt](DEBUG)

[2017-01-30 09:30] marcelrv commented on #1787
This should be tested against  https://github.com/openhab/openhab2-addons/pull/1708

[2017-01-30 11:05] kaikreuzer commented on #1747
Sounds more like a support discussion than a bug - I'd suggest to move over to the forum at https://community.openhab.org/.

[2017-01-30 11:05] #1747 closed

[2017-01-30 12:14] mhilbush commented on #1788
Perhaps so.   Are these two log entries an indication that the stream is being requested twice?  If so, I suspect the LMS (squeezebox server) and the player both are requesting the stream.
[code]

[2017-01-30 12:15] Pirx99 opened #1804 "After upgrading to 2.0.0 Realease no new Add-ons can be installed"
I'm using MacOS X 10.11.6 and the newest OH2 release.

When trying to install in Paper UI additional packeges like EXEC-Biding or Mail-Action or Telgram-Action the following massage appears in the log:
`12:58:04.566 [ERROR] [core.karaf.internal.FeatureInstaller] - Failed installing 'openhab-action-telegram, openhab-binding-exec, openhab-action-mail': Error`

Here is more prices warning when instal

[2017-01-30 12:37] kaikreuzer commented on #1804
This is not an issue about any openHAB 2 add-on (and that's what the issue tracker is for).
It looks to me like a messed up installation after upgrading. Please ask for help in our forum at https://community.openhab.org/.

[2017-01-30 12:37] #1804 closed

[2017-01-30 15:51] digitaldan commented on #1797
Would you then close issue this or at least rename it please?

[2017-01-30 17:04] sihui62 commented on #1782
Looks like [#106](https://github.com/openhab/openhab.ios/issues/106)
Maybe you could move this one to:
https://github.com/openhab/openhab.ios/issues/106#issuecomment-270998231

[2017-01-30 17:13] lolodomo commented on #1782
I think that is the right place.
I have no iOS devices but the warnings.
And the logs concern the binding itself.

[2017-01-30 17:15] sihui62 commented on #1782
As you like ...
I wanted just to mention that in Kai's opinion it should be moved to core.

[2017-01-30 17:24] kaikreuzer commented on #1782
... while I am not sure anymore why I suggested that. The old my.openHAB bundle used to live in openhab-core, but the new openhabcloud connector is actually right here in openhab2-addons. So let's keep this issue right here!

[2017-01-30 17:34] thefox73 commented on #1794
To specify the issue:
Via HABmin I can see, that the switch item is assigned correctly against the Gateway-Extra thing.
And within the Gateway-Extras I can see the switch item moving from on to off and vice versa, when the network binding changes the status of the switch item. But these changes are not published against the CCU2.
If I switch the item manually within the Gateway-Extras thing, then

[2017-01-30 18:24] MHerbst commented on #1794
How did you implement this? If you used a rule, can you post the coding here. The communication between the binding and the CCU works correctly, so it probably this is a problem of the binding itself.

[2017-01-30 18:36] sagittarius0815 commented on #1792
Seem so, that variables and script loading is implemented for Homegear, but not for Homematic.
Is an implementation planned for Homematic?

[2017-01-30 18:51] cweitkamp commented on #1687
Hi,
you're welcome. Sounds good so far.

Currently I'm working on the last problem and do some refactoring of the code. Maybe I upload an new version later this evening.

The eco and comfort temperatures are defined as readonly values in the AHA interface. So the only option I can offer is to create readonly channels for them in the avmfritz binding.

[2017-01-30 19:04] thefox73 commented on #1794
I implemented this without any rules.
I created a switch item, which I assigned against the online channel of the network thing.
So, when the binding detects a device in the local network, this switch is set to ON. This works perfectly.
In the next step I assigned the same switch item against the sysvarpresence variable in the thing Gateway-Extras and I assumed that this item would set the HM vari

[2017-01-30 19:20] LukaNoah commented on #1687
Hi,
the readonly for oh2. I would see the actual setpoints for the 2 Modus to Set to them and Set the mode in oh2.
thx

[2017-01-30 19:41] MHerbst commented on #1792
Variables are available in Homematic in combination with the CCU2. I think @gerrieg can say more about the CCU 1.

[2017-01-30 19:55] MHerbst commented on #1613
@gerrieg Unfortunately the problem is not gone. I made a test with the OH 2 release version and the same error occured. Maybe a timing issue because I only could see it on my (rather fast) Windows 10 PC and not on the Raspberry.

[2017-01-30 20:07] MHerbst commented on #1794
The idea of linking items this way is actually obvious. Maybe too obvious :-). I have tested it in my environment and it seems that the state change of the item by the network add-on does not trigger a state change of the  Homematic channel that is also connected to this item.

@kaikreuzer what do you thing? Should this work?

[2017-01-30 20:32] tnemrap commented on #1797
The problem was solved when i replaced all %d with %.0f in my items files.

[2017-01-30 20:32] #1797 closed

[2017-01-30 20:39] cweitkamp commented on #1687
Hi,
check this out ([.jar file](https://github.com/openhab/openhab2-addons/files/740212/org.openhab.binding.avmfritz-2.0.0_20170130-SNAPSHOT.zip))

Problem solved changing the values in fb should change them in oh2, too. Added channels "eco_temp" and "comfort_temp".

[2017-01-30 21:07] LukaNoah commented on #1687
on first start with new binding I got this

`2017-01-30 21:52:17.862 [ERROR] [.binding.avmfritz.handler.BoxHandler] -
java.lang.NullPointerException
	at org.openhab.binding.avmfritz.handler.BoxHandler.updateThingFromDevice(BoxHandler.java:189)[10:org.openhab.binding.avmfritz:2.0.0.201701302032]
	at org.openhab.binding.avmfritz.handler.BoxHandler.addDeviceList(BoxHandler.java:132)[10:org.openhab.bi

[2017-01-30 21:38] #1784 closed

[2017-01-30 22:07] thefox73 commented on #1794
I tried it with non HM item and unfortunately it seems not to work.
Again it's only possible to trigger the item manually via HABmin. Then linked item is switched, too.
But if one item is trigerred from "outside", the linked item is not triggered.

[2017-01-30 22:44] mrumpf commented on #1764
homegear reports the following channels
[code]

[2017-01-31 06:42] rtvb commented on #1754
Not auto closed by PR

[2017-01-31 06:42] #1754 closed

[2017-01-31 08:57] ugar-ugar opened #1806 "avmfritz - incorrect readings with multiple 546E"
Hello,
i am using 2 Powerline 546E Adapters.  (IP : x.x.x.60, x.x.x.62).
The readings (Energy, Power, Switch-State) are not correct assigned to the device:
Device x.x.x.60 has readings of Device x.x.x.62
Device x.x.x.62 has readings of Device x.x.x.60

The assignement of the switch-action is OK:
Switching Device x.x.x.60 turns the socket of x.x.x.60 off,
Switching Device x.x.x.62 turns the socket

[2017-01-31 10:08] benderl opened #1807 "Optimization of units in Tesla binding"
I upgraded to OpenHAB2 just e few weeks ago and tried the new Tesla binding. I noticed that the range units (kilometers or miles) in the things properties are not used in any way. So in regions with metric units the numbers give a nice mixture of km (Odometer) and mil (Charge Rate in m/h).
Also some channels are displayed with the unit "km|miles" in PaperUI. This is quite irritating and should be

[2017-01-31 10:21] kaikreuzer commented on #1807
@kgoderis Could you have a look?

[2017-01-31 11:09] sjka opened #1808 "[Astro] Unable to store Job"
On a clean OH2 2.1.0-SNAPSHOT startup, the astro binding logged some trouble scheduling jobs:

[code]

Eclipse SmartHome build 0.9.0.201701192225
openHAB2 Add-On build 2.1.0.201701292153

I'm aware of the fact that quartz will be replaced anyway soon, so I'd be okay to immediately close this again as "won't fix". However, I wanted to document it here so you may have a look if you think it makes se

[2017-01-31 11:59] MrPatHome commented on #1748
Sorry, but i don´t know where to activate the trace

[2017-01-31 12:58] cweitkamp commented on #1687
You got that NPE because your existing thing didn't have the new "eco_temp" channel. After replacing the thing everything works fine. I think it will not happen again in the future.

Which temperature values do you expect for the "set_temp" channel after sending an "ON" or "OFF" over the interface (7.5 for OFF, 28.5 for ON)? That will be easy.

The screenshot shows two channels for the Actual Temp

[2017-01-31 13:01] cweitkamp commented on #1806
Hey there, I am going to look into this. Please post an abstract of your *.things and *.items files. Or a screenshot if configured over the UIs.

[2017-01-31 13:32] kaikreuzer commented on #1794
Yes, both commands and state update events are provided to all linked channels. Normally, channels only react on commands (which ask them to actively do something), while ignoring state events.
But for a feature like "sysvarpresence", which more or less should be an "external representation" of openHAB's presence state, I think it would make sense that the channel updates the state in Homematic, w

[2017-01-31 13:40] gowi commented on #1796
Same problem here. When there is a device with pending config data, the exception `[ERROR] [ematic.handler.HomematicThingHandler] - Illegal status INITIALIZING. Bindings only may set UNKNOWN, ONLINE, OFFLINE or REMOVED.` is raised

[2017-01-31 13:50] sagittarius0815 commented on #1796
I agree, that it is a good idea to set device state to "initializing" during device configuration is pending.

But at least for CCU1 it may be that devices are remaining in configuration pending state and user is not able to solve this situation without a complete CCU1 system reset. And a reset is not needed because devices are working,

[2017-01-31 14:01] kaikreuzer commented on #1796
No, that's not a good idea, because INITIALIZING is a status that describes the handler, not the handled device.

For config_pending, there is a specific status already defined: ONLINE.CONFIGURATION_PENDING, see [here](https://github.com/eclipse/smarthome/blob/7e6048adaa94790604045c76576d354a0ccc28ba/docs/documentation/concepts/things.md#status-details).

@gerrieg Please note that bindings MUST NE

[2017-01-31 14:10] lolodomo commented on #1783
I opened an issue in the library we rely on: https://github.com/vitalidze/chromecast-java-api-v2/issues/63

[2017-01-31 14:19] lolodomo opened #1809 "Chromecast: add a new channel for sound muting"
The used API allows muting/unmuting the sound.
A new channel should be added in openHAB to add the feature in openHAB.

I will implement this enhancement.

[2017-01-31 14:30] lolodomo commented on #1802
@kaikreuzer @tavalin @maggu2810 : did you already try using stopApp() with success ?

When I cast an audio file with the binding, a new application is launched in Android TV, the audio file is played and at the end, the application is not closed (I only see a small Cast icon at the center of the image). Is it possible to request a return to the previous running application ? Is it what stopApp() s

[2017-01-31 15:11] lauhub opened #1810 "HomeKit extension: NullPointerException when binding is not set in item"
**The problem**

I installed OpenHab 2.0.0 (Release Build) on a Debian Jessie installation.

I try to pair from an iOS device using Homekit and get a NullPointerException error:

    17:46:30.956 [WARN ] [nhab.io.homekit.internal.HomekitImpl] - Could not find existing MAC in org.eclipse.smarthome.storage.json.JsonStorage. Generating new MAC. This will require re-pairing of iOS devices.
    17:47:4

[2017-01-31 17:28] LukaNoah commented on #1687
Thanks for the explanations.
8 and 28 are in the range of the control. I think 5 and 30 would be better because they are not in the normal range. If I change with the buttons the setpoint of 30 down, then comes as the first 28 and that would be correct. With 5 the same.

[2017-01-31 19:14] lolodomo commented on #1802
stopApp() is in fact working well. I just have to call it at the right place and right moment.

[2017-01-31 19:49] MHerbst commented on #1794
@thefox73 As a bypass you could use the Rule editor in PaperUI and create two simple rules.

Rule 1:
Is executed when the item state of the network device changes to "ON" and the executes a command to set the item connected with Homematic variable to "ON"

Rule 2:
same as the first rule but for "OFF".

[2017-01-31 19:53] MHerbst commented on #1748
The documentation contains some information http://docs.openhab.org/administration/logging.html and http://docs.openhab.org/administration/console.html.
Instead of using a ssh client to access the console you can also execute ./runtime/bin/client on your RasPi.

[2017-01-31 21:26] pinkfish opened #1811 "New install of addons2 source is not compling"
Gives this error.  Is there something wrong with the jupnp repository?

 mvn -o clean install[INFO] Scanning for projects...
[INFO] Computing target platform for MavenProject: org.openhab.binding:org.openhab.binding.astro:2.0.0-SNAPSHOT @ /usr/local/home/ddt/openhab/git/addons-2/openhab2/addons/binding/org.openhab.binding.astro/pom.xml
[INFO] Adding repository http://download.eclipse.org/modeling/

[2017-01-31 21:53] kaikreuzer commented on #1811
http://www.openhab.org/jupnp/update-site isn't referenced anywhere in the build since more than a year...
Is it possible that you still have something old in your local maven repo that might be used by Maven? Please try it with a clean local repo - I would expect the build to succeed then.

[2017-02-01 08:41] thefox73 commented on #1794
@MHerbst Thanks for the hint. This is exactly what I already did with a text based rule and it works.

But it would be very smart, if the binding could be enhanced in the way Kai suggested.
We will see ;-)

[2017-02-01 09:22] gerrieg commented on #1792
Variables should work with a CCU1 too. Did the 1.x binding work? It's the same variable fetching method.

But let's see, switch the binding into TRACE mode please:

[code]

**restart** openHab and send me the full startup log.

then switch back to normal
[code]

[2017-02-01 09:27] gerrieg commented on #1613
@kaikreuzer any idea?

[2017-02-01 09:42] kaikreuzer commented on #1613
Asking [Stackoverflow](http://stackoverflow.com/a/7325829):

There is most likely an exception being thrown in the static{} section of MetadataUtils.

[2017-02-01 09:43] kaikreuzer commented on #1613
Btw, looking at the code, it seems the InputStream of loadStandardDatapoints() is never closed - you might want to use a try-with-resources there.

[2017-02-01 10:05] kaikreuzer commented on #1775
Thanks for your report - this should be fixed with https://github.com/openhab/openhab2-addons/pull/1814.

[2017-02-01 10:36] gerrieg commented on #1613
Changed resource file loading with https://github.com/openhab/openhab2-addons/pull/1622, hope it helps

[2017-02-01 11:11] kgoderis commented on #1807
@benderl I also noticed this and had it on my to-fix list

[2017-02-01 11:13] cweitkamp commented on #1687
Last build before creating pull request ([.jar file](https://github.com/openhab/openhab2-addons/files/744653/org.openhab.binding.avmfritz-2.0.0_20170201-SNAPSHOT.zip)).

Temperature of "set_temp" channel will be set to (6.0 for OFF, 30.0 for ON) after sending an "ON" or "OFF" over the fb interface.

Thanks for testing. Great job, too.

[2017-02-01 12:22] ooswald commented on #771
great, will give it a try

[2017-02-01 12:25] gerrieg commented on #1794
Sending variable updates to the Homematic gateway and not only commands makes sense, but for the devices it's hard to decide which channel should be send due the mass on devices and channels.

I will implement this for variables, but if it's really necessary to have this for devices too, i would let the user decide and would add a channel property like ```sendOnUpdate``` or something like that.

[2017-02-01 12:53] gerrieg commented on #1796
fixed with https://github.com/openhab/openhab2-addons/pull/1622

[2017-02-01 12:55] kgoderis commented on #1807
@benderl Changing the unit displayed in the UI can not be changed at the time being, and depends on the inclusion of https://github.com/eclipse/smarthome/pull/1857

[2017-02-01 15:04] benderl commented on #1807
@kgoderis I will have a detailed look at the weekend.
The different ranges ("ideal", "Rated") are quite irritating, but this is not related to the binding.

[2017-02-01 16:30] LukaNoah commented on #1687
can you please add this 2 readonly values (endperid and tchange)?
<nextchange> <endperiod>1484341200</endperiod> <tchange>28</tchange> </nextchange>

[2017-02-01 16:40] sagittarius0815 commented on #1792
I have a running openHAB 1.8 installation with Homematic 1.8 binding. CCU variables and scripts are availible under openHAB1.8. Didn't try Homematic 1.9 binding in openHAB2. I tested Homematic 2.0 addon.
Attached you'll find the trace log.

[openhab_start_homematic_TRACE.log.gz](https://github.com/openhab/openhab2-addons/files/745463/openhab_start_homematic_TRACE.log.gz)

[2017-02-01 16:40] chrissfoot opened #1816 "Please add state to Kodi Binding"
I currently use the xbmc binding to dim lights when my player changes from stop/pause to play (and back again). This does not appear to be possible with the new addon as it does not have the state channel that the xbmc addon provides

[2017-02-01 16:53] tavalin commented on #1816
Can't you use the `control` channel for this?

The channel documentation is [here](https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.kodi#channels).

You would have an item such as:

`Player kodiState {channel="kodi:kodi:myKodi:control"}`

Then a rule like:

[code]

[2017-02-01 17:04] chrissfoot commented on #1816
Yes, you can.... i'm an idiot!

[2017-02-01 17:04] #1816 closed

[2017-02-01 17:08] thefox73 commented on #1794
That would be great.
What about sending variable updates from the CCU2 to OH?

I created a variable in HM, which pops up in the the Gateway-Extras. I linked this channel to a OH item.
In the next step I created a rule to switch a device on/off via this item.
On HM side the variable is set by a motion detector.
If motion is detected, the variable is switched, but in OH nothing happens.

Will this w

[2017-02-01 18:23] LukaNoah commented on #1687
I have tested the new jar.

Set Setpoint at fb to "an" - oh receive "ON", setpoint 30°C, after next refresh (?) setpoint in oh2 goes to 127. The same by "aus", setpoint going to 6, after next refresh(?) setpoint in oh2 goes to 126.5.

[2017-02-01 18:54] gerrieg commented on #1794
No, there is no event in the CCU when a variable changes so it's impossible to detect this automatically. To refresh all variables, you have to send a REFRESH command to one variable.

But why don't you use the motion detector itself in OH? Events from devices are published so you don't need the detour via the variable to do something in OH.

[2017-02-01 18:59] thefox73 commented on #1794
Okay, thank you.
Using the motion detector was just for testing.

[2017-02-01 22:31] pinkfish commented on #1811
This is a completely clean install.  I didn't have openhab, or even maven, installed on this machine before I tried to compile this yesterday.  I did a mvn -o clean install and it still gives these errors.

[2017-02-01 22:51] pinkfish commented on #1811
Tried again to clone from scratch again, it still fails, although differently this time.  It says:
Failed tests:
  SysteminfoOSGiTest.assert channel cpu#load is updated:292->this$3$testItemStateIsUpdated:-1->testItemStateIsUpdated:170->testItemState:178->OSGiTest.waitForAssert:-1->OSGiTest.waitForAssert:199 Thing status detail is {HANDLER_INITIALIZING_ERROR} with description {Thing can not be init

[2017-02-02 06:58] mvolaart commented on #1608
@FutureCow
Allereerst: bedankt voor het testen!
De volle log laat zich verklaren doordat de meter enkele seconde zijn actuele data verstuurd waar de binding iets mee doet. Als de binding in combinatie met de meter goed werkt is het verstandig om de log waarde op INFO te zetten.
Ik zie de volgende zaken:
1. De binding heeft de apparaat en de m3-meter (ik denk gas?) gedetecteerd. Gebruik je de Paper

[2017-02-02 07:15] gerrieg commented on #1792
I see two problems in the logfile:

1.) Variables
The bindings gateway autodetection does not identify your CCU1 as a CCU and falls back to the default implementation without variables.
You have to set the gatewayType to ccu (see [readme](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.homematic/README.md))

2.) Illegal status INITIALIZING exception
This i

[2017-02-02 07:58] solars opened #1820 "HomeMatic NullPointerException"
Hi there,

I successfully used homegear with HM-LAN-CFG and Thermostate in openhab1 as a test. Then switched to openhab2. The bridge is recognized as a thing, the thermostate as well. All the configuration seems to be read correctly also.

However, I cannot seem to get any data out of it, and I noticed in the logs:

[code]

Can anyone tell me what causes this or how I can debug it?

[2017-02-02 13:48] amarpulli544 opened #1821 "How to Configured Habpanel in Eclipse Smart Home"
Hello,
I would like to know, how to  habpanel configured in eclipse smart home. What are things required for habpanel configured in ESH. As for my knowledge cloning the habpanel package from git repository and then extract here smarthome-master/extension/ui/ in smart home project, then compiled by using "mvn clean install" then loaded into project. It doesn't work for me.
Thanks
Amar

[2017-02-02 13:51] kaikreuzer commented on #1821
Please use our forum at https://community.openhab.org/ for such questions, the issue tracker should be used for bug/feature tracking.

[2017-02-02 13:51] #1821 closed

[2017-02-02 16:32] lauhub opened #1822 "[homekit] Need to do clearPairing at each reboot if clearPairing is not immediately followed by restart"
On latest OpenHab2 release (stable), Homekit is not working properly.

At each restart I get the following message:

        [WARN ] [nhab.io.homekit.internal.HomekitImpl] - Could not find existing MAC in org.eclipse.smarthome.storage.json.JsonStorage. Generating new MAC. This will require re-pairing of iOS devices.

It seems that it comes from JsonStorage that does not store the MAC address.

To

[2017-02-02 16:44] lauhub commented on #1810
Writing a rule is a possible workaround to this problem.

Here is an example as I wrote it for one of the items:

[code]
With this item definition:

[code]

[2017-02-02 19:34] rtvb commented on #1608
Tried to install tonight:

1. Stop openhab
2. Uninstall `dsmr1` by removing from `addons.cfg`
3. Download binding https://github.com/openhab/openhab2-addons/issues/1608#issuecomment-274272319 to `/usr/share/openhab2/addons` folder
4. Unzip binding and remove .zip
5. Start openhab

Now the binding is installed (visible through `bundle:list`) but it doesn't show up in Inbox.

Is this due to me not u

[2017-02-02 20:29] paveleremin commented on #1429
@normen1 did you solve this issue? I also plane show chart for the switch item

[2017-02-02 20:48] cweitkamp commented on #1687
Hi,

can you please explain which purpose the two new values "endperiod" and "tchange" fulfill? I don't find anything in the documentation of AVM. I need those information for understanding and of course for the binding documentation. Should "endperiod" represent a DateTime type and "tchange" a Number type? Both readonly?

I cannot explain the observed behavior. Maybe it is the behavior of the fb

[2017-02-02 22:09] LukaNoah commented on #1687
Thanks ;)
endperiod will be the next switch from eco to comfort,  or comfort to eco. It will be DateTime. tchange will be the next setpoint, which where to set at endperiod.
endperiod = end of the actual heating-cycle (eco or comfort)
tchange = next setpoint, after the actual heating-cycle

The new jar I try tomorrow.

[2017-02-02 22:15] FutureCow commented on #1608
@mvolaart

Thank you for your reaction. I'm using the PaperUI to add things. I see in the paperui:
- m3-meter(gas)
- Device meter (DSMR V5)

but i don't get any information in the things. Above is my debug log, this is without debug(info):
23:13:24.586 [INFO ] [enhab.binding.dsmr.device.DSMRDevice] - Detected the following new meters: [Meter type: M3_V5_0, channel: 1, identification: G00325655028,

[2017-02-02 22:18] watou commented on #1429
@paveleremin please see https://github.com/eclipse/smarthome/pull/2835

[2017-02-03 06:49] ptweety commented on #1794
How can I send such a REFRESH to a specific var?

[2017-02-03 10:18] solars opened #1825 "Homematic: NullPointer and Channel not found for datapoint?"
Hi there,

I successfully used homegear with HM-LAN-CFG and Thermostate in openhab1 as a test. Then switched to openhab2. The bridge is recognized as a thing, the thermostate as well. All the configuration seems to be read correctly also.

However, I cannot seem to get any data out of it, and I noticed in the logs:

[code]

Can anyone tell me what causes this or how I can debug it?

[2017-02-03 10:19] solars commented on #1825
Here is the complete log with debug: https://dl.dropboxusercontent.com/u/311345/openhab.log

[2017-02-03 11:31] #1807 closed

[2017-02-03 14:36] semaro commented on #1661
I hope its the right place to post this.
For the use with "init-script"-like implementations it would be helpful, if the things definition would be done with one definition and when linked to an switch-item do three things:
-send the (in the thing-definition) given command line with an following "ON" when turn the switch on
-send the given command with following "OFF" when turn the switch off
-ref

[2017-02-03 15:57] solars commented on #1825
I've deleted the Thermostate (Thing) and re-added it - now the channels are there... weird.

[2017-02-03 15:57] #1825 closed

[2017-02-03 16:27] kgoderis commented on #1661
@semaro Your suggestion narrows down the exec binding to switches. That is just a use case amongst many others.....

@steve-bate Will look into the StrLookup stuff asap

[2017-02-03 17:24] lsafelix75 opened #1827 "PaperUI - Purpose of Item Type Dropdown"
Hi,

From the Paper UI --> Configuration --> Items --> (edit) item, it allows me to choose an item type for an item. What is the real intention of being a dropdown? As far as I know its type (and the only one) has already been fixed or defined in ESH-INF's thing .xml within <item-type> </item-type>, and we can only define 1 type instead of multiple types?

In my situation, i like the dropdown list

[2017-02-03 17:37] MHerbst commented on #1820
@solars This one looks similar to #1825 that you already closed. Can this also be closed?

[2017-02-03 17:46] LukaNoah commented on #1687
with the new jar

The same as with the previous version.
`
2017-02-03 18:31:41.072 [INFO ] [.eclipse.smarthome.model.script.AVMT] - SetPoint change; ON, received 127
2017-02-03 18:31:41.094 [INFO ] [.eclipse.smarthome.model.script.AVMT] - SetPoint change; ON, received 30
2017-02-03 18:31:41.125 [INFO ] [.eclipse.smarthome.model.script.AVMT] - SetPoint change; ON, received 30
2017-02-03 18:31:55.99

[2017-02-03 18:12] semaro commented on #1661
@kgoderis ahh, of course i didn't mean my suggestion as just the only option to use.
What i have in mind was more to create one channel (like it is now with "output" or "run"), that, when a thing is declared the "switch"-channel could be used in this way.

[2017-02-03 18:41] solars commented on #1820
@MHerbst sorry I think I added it twice by mistake, it can be closed as well! Thanks for your reply!

[2017-02-03 18:41] #1820 closed

[2017-02-03 18:54] gerrieg commented on #1794
In the console for example:
[code]
this triggers a reload of all variables

[2017-02-03 18:58] MrPatHome commented on #1748
This is what the log says, when i press the buttons:

2017-02-03 19:56:52.702 [DEBUG] [ternal.communicator.HomematicGateway] - Received new (Integer) value '-58' for 'MEQ0601774:0#RSSI_DEVICE' from gateway with id '8a90db01'
2017-02-03 19:56:54.955 [DEBUG] [ternal.communicator.HomematicGateway] - Received new (Integer) value '-42' for 'MEQ0192561:0#RSSI_DEVICE' from gateway with id '8a90db01'
2017

[2017-02-03 19:03] MrPatHome commented on #1748
Here´s the complete log:

[openhab.log.txt](https://github.com/openhab/openhab2-addons/files/751317/openhab.log.txt)

(The Remote is MEQ0601774)

[2017-02-03 19:45] kaikreuzer commented on #1827
This is not a bug report for any openHAB 2 add-on in this repo, is it?
If you have questions about general binding development, best go to https://www.eclipse.org/forums/index.php/f/271/.

[2017-02-03 19:45] #1827 closed

[2017-02-03 20:27] adb76 opened #1830 "[systeminfo] Available storage gets only updated on start of openHAB 2"
I recognized, that after a restart of openHAB 2 on my Debian Jessie server the channels "...storage#available" or "storage#availablePercent" were only update once on startup. Later even when creating 1 GB files on my server the values remained the same. After looking into the source code I think I've found the problem:

In the file OshiSysteminfo.java the variable "fileStores" saves an object "OSF

[2017-02-03 20:38] cweitkamp commented on #1687
Nice to hear.

I think it is no problem to implement one channel for every information provided by the AHA interface. The Fritz!DECT 200 and 210 devices both provide more parameters, too (e.g. mode lock, devicelock). I think about implementing them in the near future. I am also interested in implementing the group features of the fb for this binding.

Maybe we should move our conversation and test

[2017-02-03 20:40] LukaNoah commented on #1687
Yes , it is.
Let's do it.
Thx :)
Should I close?

[2017-02-03 21:01] cweitkamp commented on #1687
Why not.

[2017-02-03 21:04] LukaNoah commented on #1687
Ok,  closed

[2017-02-03 21:04] #1687 closed

[2017-02-03 23:57] TS-Tec commented on #1628
Any updates?

I am also unable to send any urn's :(

[2017-02-04 09:20] lolodomo commented on #1628
These 3 URLs are working well with my Android TV box **when I use the stream console command** like for example
[code]
Can you check if such a command works with a Chromecast Audio ?
If it does not work, there is a specific problem with Chromecast Audio. If it does work, there is a problem with the handling of the URL channel.

[2017-02-04 09:25] lolodomo opened #1832 "Chromecast: streaming a second URL closes the player"
If you cast an URL using openHAB, the player is opened and the stream is played.
If now you cast another URL, rather than playing the new stream, the player is closed.

It maybe be a consequence of my PR #1824.

[2017-02-04 09:38] lolodomo commented on #1628
Using the console command:
[code]
leads to this error:
[code]
So I would suppose a problem in the handling of the URL channel.

[2017-02-04 09:46] lolodomo commented on #1628
The only difference I can see  in the code when using the URL channel is that no MIME type is provided when requested the loading of the media.

[2017-02-04 10:31] MHerbst opened #1833 "[Kodi] Add additional channels to stop the player and close Kodi"
See discussions

- https://github.com/eclipse/smarthome/issues/2741
- https://community.openhab.org/t/openhab-2-kodi/21941/3

There was also request/discussion about adding an option to close Kodi

[2017-02-04 11:34] lolodomo commented on #1832
Confirmed, it is due to my PR that is not yet merged. I will update the PR.

[2017-02-04 11:34] #1832 closed

[2017-02-04 11:40] lolodomo commented on #1833
What about merged PR #1698 ?

[2017-02-04 11:51] MHerbst commented on #1833
I only searched in the open issues ....

[2017-02-04 11:52] #1833 closed

[2017-02-04 14:55] wborn opened #1835 "Plugwise binding"
It would be nice to have a native openHAB 2.0 Plugwise binding. As I've seen no one else work on this so far, I'll be putting some effort in creating a native binding myself.

Here's my list of ideas for the openHAB 2.0 version of the Plugwise binding:
* reuse openHAB 1.x Plugwise protocol messages
* stop using Quartz, Joda-Time in the binding
* use a Bridge for the Stick and Things for Circles, S

[2017-02-04 16:55] chris-si commented on #496
@monnimeter @xylo

Thanks for the example. With the code you provided the binding works very well. I just had to figure out that the three value aren't RGB values but "color/saturation/brightness" values :)

[2017-02-04 18:28] watou commented on #1835
Is this what a binding should do, or could it be a queryable persistence service?

If the `*-stamp` queries are coming back from the remote device, then they might be needed if your binding will obsolete the 1.x binding.  If the binding is generating them or there is no use case for them, maybe they could be dropped.

Retained always even when refactoring, copying, etc.  Otherwise one could have t

[2017-02-04 19:23] MHerbst commented on #1748
Your log file is very large and contains entries from last year. You should delete it and then restart openHAB.

Then there are some messages regarding parsing problems in phome.things, demo.rules, p-home.rules. You should either check and correct them or move them to a different directory to start OH without errors.

Here is another message that may explan your problems:
2017-02-03 18:30:35.740 [

[2017-02-04 20:03] wborn commented on #1835
Yes it would be more natural when such data can be retrieved using a persistence service. Using channels for this feels like a hacky solution. I'll be starting to implement this when the OH2 binding equals OH1 functionality. Hopefully APIs and examples for this have caught up by then. :-)

Retaining @author tags for the protocol files will be easy. It might become fuzzy when bits and pieces of the

[2017-02-04 20:19] gilgolan commented on #1822
I also have the same issue when using OH2-stable.
It started recently, weird.

[2017-02-05 05:20] JoeRu opened #1837 "OH2 - RC1 - FrameworkEvent ERROR - org.openhab.binding.avmfritz"
Hi all,

i switched to RC1 and as @kaikreuzer said to post issues arround - i figure this one needs to be checked at least.

I am not really sure weather it is Binding related or core - But it's only comming with avmfritz-binding

[code]

So just for checking.

[2017-02-05 05:38] JoeRu commented on #1837
ok. I think i found the problem. There were Things left - while i did remove the binding... still not really "intuitive" - the message.

[2017-02-05 08:43] kaikreuzer commented on #1837
This is likely a message that comes from upgrading your runtime as it is thrown from the depth of the OSGi framework - so definitely not related to any binding specifically.