[2019-03-20 21:13] #2047 closed

[2019-03-20 21:15] davidgraeff commented on #3652
Nobody seems to be interested :/

[2019-03-20 21:15] #3652 closed

[2019-03-20 22:01] lolodomo commented on #5169
I hope that the user will be able to move all his RFXCOM things from the JD2xx bridge to the generic serial bridge. If not, he could be very annoying.
I think this feature is available in Paper UI but to be honest I never tried it.
Of course, for users having their setup in config files, the change will be simpler and faster.

[2019-03-21 07:44] EliasGabrielsson commented on #5162
@davidgraeff When will openHAB have a strict requirement on Java 11. Will that transition happen in next version? Need to know that so we can have migration code ready in openhabian.

[2019-03-21 07:49] davidgraeff commented on #5162
Not this year. The core and majority of bindings will be Java 8 and 11 compatible, that's the goal.

But I remember a discussion with Kai that certain bundles may be allowed to require more than Java 8 (my question at that time was regarding the DTLS support which greatly improved in Java 9).

[2019-03-21 07:56] davidgraeff commented on #4928
Any progress?

[2019-03-21 07:57] cweitkamp commented on #3871
In general I want to keep this issue because it occurs in others than the Netatmo documentation.

[2019-03-21 08:00] EliasGabrielsson commented on #5162
Nice, that gives us a great update window. When does openHAB aim be java 11 compatible™, i.e. when can we start the transition to Java 11?

[2019-03-21 08:29] lolodomo commented on #5169
I got a better idea. We can just add the serialPort config setting to the JD2xx bridge things and make these things OFFLINE when this setting is not set (with a clear message).
Doing like that, the users will have no bridge or things to create again, they will only have to set the user port on their existing bridge thing.
Very simple to implement and with minor impact on users.

[2019-03-21 08:32] #4850 closed

[2019-03-21 08:39] davidgraeff commented on #5162
That depends on how important openhab1-addon users are to you, because we will not migrate those bindings anymore. As soon as you switch over to 11 half of those bindings will fail probably :/

At the moment it looks like OH 2.5 Core and Addons (minus the OH1-combat layer) will be java 11 compatible.

[2019-03-21 09:02] hakan42 commented on #4396
o.k., I can confirm now that with the 2.5.0-SNAPSHOT (Build 1549) the bridge and the gateway are showing "OFFLINE" in Paper UI:

![somfytahoma-offline](https://user-images.githubusercontent.com/352641/54741746-a7f1f700-4bbf-11e9-864e-287d7d1bdb45.png)

The gateway status should be information enough to switch the sitemap on the wand panel. Sorry to have stolen your time 😊

[2019-03-21 09:02] #4396 closed

[2019-03-21 09:53] lolodomo commented on #5005
@clinique : the netatmo binding could be a very difficult challenge with its 9 external libraries. You are probably the only one to understand/know how some of them were produced. What could be the solution for this binding ?

[2019-03-21 10:00] clinique commented on #5005
@lolodomo : my plan is to start by some simple bindings (Synop, OpenUV) to understand the move, and then go to Netatmo :)

[2019-03-21 10:57] WRP1992 commented on #4558
Hello,
is there any update or workaround?

[2019-03-21 12:07] clinique commented on #5005
Hello @lolodomo , I'm stuck at the very same step. Did you find a solution ?

[2019-03-21 12:20] wborn commented on #5162
Currently nrjavaserial (required by all bindings using serial comms) crashes the whole runtime on Windows with Java 11 (https://github.com/NeuronRobotics/nrjavaserial/issues/131). So I'd like to see that fixed too before declaring openHAB to be Java 11 compatible. Most known issues are linked to https://github.com/openhab/openhab-distro/issues/768.

Hopefully the visibility of this issue also make

[2019-03-21 12:25] davidgraeff commented on #5005
@clinique Is the rest interface working? (/rest) You may need to add the "org.openhab.ui.dashboard" bundle to the xml and to the run requirements as well. This demo app just has never been really tested with uis.

[2019-03-21 12:31] lolodomo commented on #5005
Only in addons/binding, I can count 92 external lib used, by 34 bindings.
[code]
It looks like an enormous challenge to suppress all these libs and it could take ages.

[2019-03-21 12:35] lolodomo commented on #5005
@clinique : The only solution I found was to give up :) For not yet migrated bindings, you can still use the old method with the Eclipse run configuration.

[2019-03-21 12:36] davidgraeff commented on #5005
Those bindings take a bit longer to migrate. But a lot of those jar-libraries are in maven central and just need to be referenced in the pom.xml.

[2019-03-21 12:38] lolodomo commented on #5005
Netatmo is the winner with 9 libs, followed by tellstick with 8 libs and then boschindego / innogysmarthome / zoneminder with 6.

[2019-03-21 12:39] clinique commented on #5005
Done, nothing much better. Is web server supposed to work on :80 or :8080 ?

[2019-03-21 12:41] lolodomo commented on #5005
But a simple solution has to be imagined for those that are not in maven central.

[2019-03-21 12:46] lolodomo commented on #5005
At least, I am not yet alone with a not usable demo app ;)

[2019-03-21 12:46] clinique commented on #5005
Sure, but my point was to test on some way the migrated OpenUV binding :(

[2019-03-21 12:48] davidgraeff commented on #5005
Via command line ^^. I have updated the readme as well on what to type in. You can do that from within the bundle directory to only build that one.

[2019-03-21 13:00] lolodomo commented on #5005
@clinique : I tested some of the bindings I migrated directly in my production environment !
As the process is always the same, if you do it correctly for one binding, you will do it correctly for the others. What is the most important, I think, is to check thesuccess of the maven+bnd compilation.

[2019-03-21 13:12] lolodomo commented on #5005
@davidgraeff : Could you please comment in the "guide" that using `-DskipTests` allows ignoring tests and boost seriously the compilation.

[2019-03-21 13:26] lolodomo commented on #5005
What will become the 89 existing PRs with the tag "new binding" ?
They are of course based on the old build system.

[2019-03-21 13:41] clinique commented on #5005
Yes, this is what I'm going to do.

[2019-03-21 14:40] clinique commented on #5005
For the 2 or 3 open PR I have (VolvoOnCall, Xmltv...) should I directly migrate to bnd and close opened PR ?

[2019-03-21 14:44] J-N-K commented on #5005
I think you can just migrate and keep the PR.

[2019-03-21 14:53] davidgraeff commented on #5005
I have closed two very old ones from 2016 with no progress. But also found one from 2016 that had a recent push 7 days ago. We just need to inform people in those PR to migrate. But I wouldn't do that before we have a working IDE situation for maven/bnd with a good documentation and a working archetype.

[2019-03-21 16:25] bodiroga opened #5186 "[mqtt] Homie doesn't accept properties with no $name attribute"
Hi @davidgraeff!

I have seen the following error in the openhab.log file when adding a new Homie device to my openHAB installation:

[code]
Here you can see the list of MQTT messages sent by the device:

[code]
As far as I know ([Homie Convention](https://homieiot.github.io/specification/#property-attributes)), the $name attribute is not a required one for the properties, so there is a bug in the

[2019-03-21 16:39] davidgraeff commented on #5186
Yes that's true, in this implementation it is still required.
I have posted a roadmap for the mqtt binding in the developer section of the forum.

[2019-03-21 16:44] bodiroga commented on #5020
Hi @davidgraeff!

I can see that you have labeled the issue as a "bug", but I just want to confirm that the error is still present in the latest snapshot version of openHAB (openHAB 2.5.0 Build #1557).

Thank you SOOOO much for all the work you have done with MQTT and Homie, let's see if we can finally get a stable version of the binding (the integration with Homie is awesome, but we have to polis

[2019-03-21 18:42] cpoulsen2 commented on #5109
Would be great to get this feature

[2019-03-21 22:20] kaikreuzer commented on #85
I think @theoweiss IS actually indeed still working on it - but not having had any update here for 3.5 years indeed qualifies the issue to be closed.
@theoweiss, if you still proceed this, the next logical step would be a PR (can also be a WIP PR, if you don't consider it final yet).

[2019-03-21 22:31] wborn commented on #5005
We could also use bnd [includeresource](https://bnd.bndtools.org/instructions/includeresource.html) for adding such libraries.
I tested this with the HarmonyHub Binding in https://github.com/openhab/openhab2-addons/pull/5190.

[2019-03-21 22:32] davidgraeff commented on #4490
Most profiles are implemented in the openhab-core and openhab2-addons bundles of the transformations. The invert profile could be added to the map transformation, I think.

[2019-03-21 23:12] ncister opened #5191 "[deconz] Support for Resource Type : ZHAVibration"
As stated in the topic the Resource Type ZHAVibration is not yet supported

## Your Environment
Using Openhab Stable 2.4.0
Openhabian on Raspi 3B+

Here is a complete Rest API printout of the 3rd Channel ZHAVibration
[code]

Hardware Model : Xiaomi DJT11LM Smart Home Aqara Vibration Sensor - White
https://it.gearbest.com/smart-home-controls/pp_009661787808.html?wid=1433363

[2019-03-22 01:30] marcocolombini commented on #3806
Hi all,

I own a set of Netatmo valves+relay. Home automation is based on a bticino myhome system. Alexa is present, also. My idea was to use openhab (on a raspberry) as the supervisor of the whole home automation system. Thanks to the OWN bticino binding I succeeded to integrate the bticino system in openhab. I used the openhab skill of Alexa to add voice control to OH. My Netatmo system is contr

[2019-03-22 01:37] col1958 commented on #3806
Hi all,

I own a set of Netatmo valves+relay. Home automation is based on a bticino myhome system. Alexa is present, also. My idea was to use openhab (on a raspberry) as the supervisor of the whole home automation system. Thanks to the OWN bticino binding I succeeded to integrate the bticino system in openhab. I used the openhab skill of Alexa to add voice control to OH. My Netatmo system is contr

[2019-03-22 12:03] #4976 closed

[2019-03-22 12:06] basse04 commented on #5005
Hi!
I am in the very same position as clinicue,  and as your question "Is the rest interface working? (/rest)"
In my case is it not working, I can connect to rest in my 'old openhab', but not in this one.
So to my question, When I do Perform Setup Task, I got errors like below for Launch PaperUI Setup and Launch BasicUI Setup.
Could this maybe be regarded to our problems?
Performing Launch PaperUI

[2019-03-22 13:04] davidgraeff commented on #5005
@basse04 Do not use the eclipse setup installer with the option "openhab2 addons" for the new build system. That will totally mess up your eclipse. You can use that with the "openhab core" option, remove everything and go from there.

In general just use a fresh eclipse installation and do what is described above.

[2019-03-22 14:54] mvalla opened #5195 "[openwebnet] Add OpenWebNet Binding (with BUS and radio support)"
Since about 1 year [I have been developing and testing](https://community.openhab.org/t/bticino-openwebnet-new-openhab2-binding-ready-for-testing/43377/) a **new OpenWebNet OH2 binding for BTicino/Legrand home automation systems (MyHOME)**.

The binding has to be considered as an enhancement and replacement of the BTicino v1 binding, which has not been developed/supported anymore.
This is also the

[2019-03-22 19:05] bodiroga commented on #5020
Hi @boc-tothefuture!

What type of broker are you using? Mosquitto or the embedded mqtt broker (moquette)?

I have been doing some tests and it seems that I can not reproduce the issue when I use an external broker such as Mosquitto :confused: So perhaps the issue is related to #4774, where @cubistico discovered that the embedded broker doesn't store retained messages between reboots. @davidgraeff

[2019-03-22 21:04] boc-tothefuture commented on #5020
Hi @bodiroga I am seeing this using Mosquitto.

[2019-03-23 09:29] lolodomo commented on #5169
I close this issue, I don't want to generate difficulty to users. What trigger this change was the migration to bnd and the problem with external libraries, but a solution has been found now for that and we can keep the JD2xx library.

[2019-03-23 09:29] lolodomo commented on #5169
Close it

[2019-03-23 09:29] #5169 closed

[2019-03-23 12:01] #2925 closed

[2019-03-23 12:45] nbrealey opened #5206 "mapdb persistence database keeps on growing"
The mapdb persistence database grows in size and fills the disk if the everyUpdate strategy is used.

## Expected Behavior

The database should not grow in size if the keys do not change.
The database should be compacted automatically if there is a lot of wasted space.

## Current Behavior

The mapdb persistence database grows in size and fills the disk.
Restarting the openhab2 service causes the

[2019-03-23 12:53] frest-de commented on #4896
I have the offline-bug as well with 3 devices (bulbs). Some are online, some are offline. I can control them using miio, but that does not work for color or brightness.

[2019-03-23 14:01] davidgraeff commented on #5206
I cannot flag this as "bug" as it really is no bug :/ The openHAB persistence layer is not yet prepared to constrain persistence data to a specific quota.

The same with log files btw.

[2019-03-23 14:01] openhab-5iver commented on #5206
Since you are using the 1.x version of the binding, you should post your issue here... https://github.com/openhab/openhab1-addons/issues. There is a 2.x version of mapdb that was available in ESH, and I see it in the [repo](https://github.com/openhab/openhab2-addons/tree/master/bundles/org.openhab.persistence.mapdb), but I don't see it yet in Paper UI.

[2019-03-23 14:01] #5186 closed

[2019-03-23 14:07] davidgraeff commented on #5195
Nice. Every OH1->OH2 port is welcome and could indeed lead to a fast merge.

* Please make sure you are using the new buildsystem before making the PR.
* Please check all your licenses to contain the most recent license text (especially the "-2019" part).
* Check your author tags. Need to be present in every file with the pattern "name - Initial contribution"
* Have javadoc on every class and impo

[2019-03-23 14:10] davidgraeff commented on #5206
@openhab-5iver All persistence services are 1.x bindings. The map 2.x binding was never used.

[2019-03-23 14:14] openhab-5iver commented on #5206
But the reported issue is for mapdb 1.14, so how would that be resolved in this repo?

[2019-03-23 14:16] davidgraeff commented on #5206
I cannot yet be resolved that is true. But the issue is existing and where do we keep track of it if not here? Nobody will watch the OH1 repo for such an issue, I assume? Especially not if the files have been moved over,

[2019-03-23 14:19] openhab-5iver commented on #5206
There are 1.x maintainers and it hasn't been moved yet... https://github.com/openhab/openhab1-addons/tree/master/bundles/persistence/org.openhab.persistence.mapdb. :smile:

[2019-03-23 14:36] davidgraeff commented on #5206
Of course it does, the 2.x version is the 1.x version with renamed package names. But we can of course hope that OH 1 maintainers implement a fix although I don't know how, because the core would need to be changed. I try to transfer the issue now.

[2019-03-23 15:00] mvalla commented on #5195
Thank @davidgraeff . I will perform the suggested improvements before submitting PR.
Main change will be to move to new build system, but I have seen good guides from maintainers.

Please note many users have already migrated from the OH1 binding to this one, so hopefully the merge will be really fast.

[2019-03-23 15:31] FlorianSW opened #5209 "[groheondus] Allow to login using a refreshToken"
With this pull request:
https://github.com/FlorianSW/grohe-ondus-api-java/issues/3
The ondus-api library allows one to login using a refreshToken, instead of username and password. This should be possible in the respective grohe ondus binding, too, to get rid of a hardcoded username/password in configuration files and to maintain compatibility with newer versions of the API.

[2019-03-23 17:10] col1958 commented on #3806
A small update. Now everything is online. I had to manually unlink and link a channel. But the valves can only be read ... and they only expose  battery level and signal strength (both NaN). Home has appeared and rooms also. Inside the room thing there is what I was looking for. However they are not editable in paperUi: if you try to change anything (like the location), you receive this error:

`2

[2019-03-23 18:45] davidgraeff opened #5214 "[Infrastructure] Auto generate the maven BOM"
During the porting of a bundle you probably have noticed that you need to touch a few locations.

This Issue is about the maven BOM (https://github.com/openhab/openhab2-addons/blob/master/bom/openhab-addons/pom.xml) that we keep in this repository. It is used by the openhab-distro and openhab-demo-app repository to identify all available addons.

My question is: Can we use `bom-builder-maven-plugi

[2019-03-23 18:51] davidgraeff commented on #5206
@kaikreuzer Can you move this Issue to the OH1 repo?

[2019-03-23 18:51] davidgraeff commented on #5214
@openhab/2-x-add-ons-maintainers

[2019-03-23 19:00] wborn commented on #5214
But that would render the feature validation useless? I find that very useful. Especially if JARs are added/modified in the lib dir it could fail feature validation if bnd updates package imports.

[2019-03-23 19:05] davidgraeff commented on #5214
I'm aware of karaf and that is what I want to tackle after the bom.

The idea is to have a features.xml file per binding directory and they are merged as a final maven reactor step or to use
https://svn.apache.org/repos/asf/karaf/site/production/manual/latest/karaf-maven-plugin.html
and generate the features file based on the maven dependencies.

[2019-03-23 19:13] davidgraeff commented on #5128
@thewilli Could you try to propose a PR to implement your idea?

[2019-03-23 20:09] thewilli commented on #5128
@davidgraeff sure, though it depends if you expected me to create the ([yet missing](https://github.com/openhab/openhab2-addons/tree/4489516/addons/transform)) unit tests for the JS transformation in order to extend them for the change :wink:

[2019-03-23 20:12] davidgraeff commented on #5128
If you are under 100 lines of code changes and comment well I guess I can live without unit tests.
Just make sure that you explain the feature in the readme file.

[2019-03-23 21:46] thewilli commented on #5128
sounds good, thanks.

I just did some basic structuring.

@davidgraeff as for the change itself, would you agree that for the sake of simplicity and (runtime) efficiency

* we can assume that if a `?` is part of the filename, it is always considered a query string indicator.
   * this would prevent any scripts with a `?` in their filename from being called
   * multiple occurencences would be cons

[2019-03-23 21:56] davidgraeff commented on #5128
Question marks are not allowed in url query strings and I guess we want to adhere to that standard. What you therefore can do is split the string at the last question mark and consider the last part as query. This way filenames with question marks are still fine.

[2019-03-23 22:00] thewilli commented on #5128
sure, I was referring to how to detect the query string, and how the separation happens.

not necessarily, what about `my?file`

[2019-03-24 11:39] davidgraeff opened #5222 "[Infrastructure] Karaf features file per addon"
During the porting of a bundle you probably have noticed that you need to touch a few locations.

This Issue is about the karaf feature file (https://github.com/openhab/openhab2-addons/blob/master/features/karaf/openhab-addons/src/main/feature/feature.xml) that we keep in this repository. It is used by the openhab-distro to make all bindings available as karaf features.

I propose to
* either add

[2019-03-24 11:49] J-N-K commented on #5222
If you use generation, is it automatically determining the dependencies? If so, will this conflict with our pre-defines features (e.g. mdns)? If not, how can we add those?

In general I agree that a feature.xml per binding that is merged is a lot better than the centralized we have now.

[2019-03-24 12:59] davidgraeff commented on #5222
I have investigated a bit. People seem to have a template feature file for each subproject of a maven multi-project and in there you can have defined all the feature dependencies. The Karaf maven plugin is unfortunately missing waht is proposed here: https://issues.apache.org/jira/browse/KARAF-5512.

That would allow to define feature dependencies in your pom:

[code]

Because that is not implemen

[2019-03-24 14:01] cweitkamp commented on #5191
I added basic support for ZHAVibration sensors in #5225. The rest of the state values mentioned in your example are not yet documented in deCONZ [Supported Devices](https://github.com/dresden-elektronik/deconz-rest-plugin/wiki/Supported-Devices#measured-values-legend) and there have been recent changes in https://github.com/dresden-elektronik/deconz-rest-plugin/issues/748 thus I am not sure what i

[2019-03-24 16:25] #4774 closed

[2019-03-24 16:25] #4775 closed

[2019-03-24 17:35] davidgraeff commented on #4935
To use the new Github checks API (let our sat tool append it's status report in the "Checks" tab for example) we need to use the Travis CI Github App. But I think we are currently only using webhooks.

[2019-03-24 18:40] JueBag commented on #5005
Question:
I'd like to migrate the Tankerkoenig binding.
Should I start now or wait for "we have a working IDE situation for maven/bnd with a good documentation and a working archetype."
Looking into my Eclipse IDE (setup for openHAB addons development)   I do not see any `/bundles/` , am I missing something?

[2019-03-24 18:51] davidgraeff commented on #5005
The build systems are not working at the same time within eclipse.

You will not see the migrated addons anymore.

That would be awesome. The migration itself can be performed via any text editor and file manager. And at the end you can use the command line to build your binding. At the moment you need to drop it in your test or productive openHAB environment though if you don't want to tinker wit

[2019-03-24 18:53] wborn commented on #5005
I created a PR https://github.com/openhab/openhab2-addons/pull/5237, we can merge it if you're happy with it @JueBag .

[2019-03-24 18:59] mdeneen commented on #4602
So that's why my Alexa devices were horribly confused every time I restarted the service.  This is further compounded by Amazon caching the results on their servers, which resulted in me having four or five duplicates and no way to tell which was the right one.

Is there anything which I can do to help resolve this?

[2019-03-24 19:52] #5191 closed

[2019-03-24 20:03] davidgraeff commented on #4602
I'll migrate the service to the new build system tomorrow. And at that point I'll swap our made up hue IDs with openHAB item names.

I will test that with my Echos here. If that doesn't work I'll use item meta data to store assigned IDs.

Either way, after that change is merged and snapshots are working again, the emulated  hue devices have to be discovered once more :/ (aka breaking change)

[2019-03-24 22:05] davidgraeff commented on #5128
Because the transformation is re-evaluated every time, I'd say we don't do a proper validation. The thrown exception should be enough hint to a user that his filenames are suboptimal.

I'm currently blocking the bundle to be migrated to the new buildsystem until you have proposed your PR.

#5229

[2019-03-25 08:27] J-N-K commented on #5162
Can you confirm that the proposed fix indeed is everything that is needed in nrjavaserial? The linked issues seems to state that there are more problems.

[2019-03-25 09:15] wborn commented on #5162
I'm only occasionally using Windows myself. So I haven't thoroughly tested the nrjavaserial Java 11 Windows fix myself.

[2019-03-25 09:59] davidgraeff opened #5239 "Integration tests fail"
It is not possible for me to execute the integration tests on current master.

Steps to reproduce:
* Go into the `itests` directory.
* Execute `mvn clean install -DwithResolver`

Output:
[code]

[2019-03-25 11:00] Stefan300381 commented on #4994
I noticed that the wrong default values (like 75 above) are retrieved once I restart openHAB.

[2019-03-25 11:27] navybk commented on #3806
Yes, and I think there are a lot of issues of the current binding, depending of this logic. But instead of fixing this, I was about to implement a new logic in a complete new binding. Since I stumbled across some Openhab design decisions and lacked time to check out all of my own, I am still looking for someone with more deep insights of the openhab framework.

My current approach was to align the

[2019-03-25 13:19] bodiroga commented on #5020
Ummmm... this is really strange, I have tried with a Homie-ESP8266 device (NodeMCU V2) and a python script (using the homie-python library) and after rebooting the Eclipse IDE many times (I'm building openHAB from source) I'm unable to reproduce the issue with Mosquitto :man_facepalming: It's true that the units are lost

@boc-tothefuture, in the first message you have mention that you have tried

[2019-03-25 13:25] J-N-K commented on #5239
Did you use the patched core according to this comment https://github.com/openhab/openhab2-addons/pull/5050#issuecomment-470459971?

[2019-03-25 13:28] davidgraeff commented on #5020
The homie channel is a read-only channel (a sensor state etc) and cannot be published to. The device should not go offline because of that though. Fixed in my recent mqtt migration pr.

[2019-03-25 13:39] boc-tothefuture commented on #5020
@davidgraeff -
 What is odd is that the channel in question here should not be readonly.  Here is the output from mosquitto_sub:
[code]

Does something default to read-only somehow?

[2019-03-25 14:14] davidgraeff commented on #5239
@J-N-K Markus wrote "For Maven + Bnd on openhab2-addons it is already enabled."
So it should work, shouldn't it? I'm not using a patched core for "openhab2-addons", no

[2019-03-25 14:18] J-N-K commented on #5239
From my understanding this is enabled for opnhab2-addons but you need a patched core to resolve. I only tried once nd it didn't work without the patched core. If you build the core on the same machine it is automatically picked up by the build unless the remote build is newer than your local build.

[2019-03-25 14:25] davidgraeff commented on #5239
Hm. I'd say we finish off the migration and at the end we fix the failing migration tests :D
I'm doing core development on my machine and my maven cache is polluted with different core binding versions. I don't want to build another core and rebuild it everytime I'm doing something with addons.

[2019-03-25 14:36] #1258 closed

[2019-03-25 14:45] col1958 commented on #3806
I am not sure I can be of much help with the "insights" of openhab, being relatively new to it (a few months). With respect to other bindings which are heavily maintained (say the bticino OpenWebNet binding I am using), this one was far behind, both for automatic discovery of things and for the easy implementation of netatmo valves and bridges, until i stumbled on @navybk rivisitation of the origi

[2019-03-25 14:59] davidgraeff opened #5242 "[mcp23017] The active_low channel configuration parameter needs to be added to config.xml"
See https://github.com/openhab/openhab2-addons/pull/3722#discussion_r252325825

[2019-03-25 20:11] paulianttila opened #5247 "[openhabcloud] Connection recovery issue"
There was a hotfix deployment at last week to myopenHAB cloud service. I was a holiday trip during that time and my cloud connector didn't recover from restart immediately but after several days.

<img width="728" alt="Screenshot 2019-03-25 at 21 44 53" src="https://user-images.githubusercontent.com/5506533/54950201-622f8880-4f49-11e9-96ca-18b090bf87bf.png">

1. Remote connection from iPhone app w

[2019-03-25 20:25] wborn commented on #5247
I think this is just a duplicate of your other issue https://github.com/openhab/openhab-cloud/issues/134.
See also my analysis in the last comment of that issue.

[2019-03-25 20:31] paulianttila commented on #5247
Hah, I didn't remember that at all.

[2019-03-25 20:33] wborn commented on #5247
It think it's in my top 3 of most frustrating OH issues. :wink:

[2019-03-25 20:35] #5247 closed

[2019-03-25 20:40] wborn commented on #3031
Looks like a duplicate of https://github.com/openhab/openhab-cloud/issues/134. Your instance it connected to the Cloud because you can send notifications. However the Cloud doesn't always seem to properly keep track of online/offline instances.

[2019-03-25 21:44] theoweiss commented on #85
Yes  indeed I'm still working on it. You can have look at the dev here: https://github.com/theoweiss/openhab2-addons/tree/tinkerforge3 and there are still a bunch people using and testing the new binding as you can see here: https://www.tinkerunity.org/forum/index.php/topic,1769.435.html (the thread has over 96000 reads since 2013). As @kaikreuzer suggested I will open a WIP PR during the next mon

[2019-03-25 22:38] openhab-5iver commented on #5005
@davidgraeff, this info may be useful in the instructions for accessing Paper UI.

http://felix.apache.org/documentation/subprojects/apache-felix-web-console.html#configuration
Default OSGI Management Console account/password: admin/admin

You also need to go directly to... http://localhost:8080/start/index.

[2019-03-26 08:52] jlchevet opened #5250 "[netatmo] Live picture and live stream URLs update"
## Expected Behavior

The Netatmo documentation says : “The vpn_url expire after 3 hours and if the camera reboots” (cf https://dev.netatmo.com/resources/technical/reference/security/live

The Netatmo binding should update the Live Stream URL and Live Picture URL as soon as the vpn_url changes, since these URLs are built using the vpn_url.

## Current Behavior

I noticed that the netatmo binding d

[2019-03-26 10:43] Hilbrand commented on #5005
I've update the issue with a link to the migration script I wrote. (And removed the copying of the `.settings` directory from the manual instructions).

[2019-03-26 11:54] cweitkamp commented on #5005
@Hilbrand Thanks. Your script works like a charm (see #5254).

[2019-03-26 14:15] Stefan300381 opened #5257 "[chromecast] communication error - connection refused"
## Expected Behavior
google home audiogroup thing should stay online

## Current Behavior
Thing randomly switches between online and offline status.

## Possible Solution
no solution

## Steps to Reproduce (for Bugs)
just wait and then I see something like this:
[code]

## Context
using the android google home app I've created a google home audiogroup for all the devices I have in the house. the a

[2019-03-26 15:14] cweitkamp commented on #5257
The binding does the right thing here. I toggles between OFFLINE and ONLINE as the underlying library disconnects and reconnects again.

Closing this issue for being a duplicate of #3770 and #1935.

[2019-03-26 15:14] #5257 closed

[2019-03-26 15:45] bodiroga opened #5259 "[mqtt] Errors in the log file after MQTT binding installation"
Hi guys! (@davidgraeff)

I'm trying the latest openHAB 2.5.0 SNAPSHOT version and I have found the following errors after installing the MQTT binding:

[code]

Many thanks for your work and support!

PS: The long version of the error message can be found here: https://pastebin.com/14RHjbd5

[2019-03-26 16:50] davidgraeff commented on #4890
Fixed in master

[2019-03-26 16:50] #4890 closed

[2019-03-26 16:51] davidgraeff commented on #4797
Fixed in master

[2019-03-26 16:53] davidgraeff commented on #4731
Probably fixed since OH 2.5M1

[2019-03-26 16:53] #4731 closed

[2019-03-26 18:26] JueBag commented on #5005
As far as I understand the script from @Hilbrand  doesn't work on windows, so I'm stuck to working manually using an editor.
I'm offering help by migrating bindings (on which I did not work before) following the manual instructions.
Please advise me.

[2019-03-26 18:35] davidgraeff commented on #5005
@JueBag Ideally you pick bindings that have a ".test" project. That's what the script can't do anyway.

A discord channel would be cool for evening hours when multiple people are working on the repo

[2019-03-26 18:42] JueBag commented on #5005
State in here which binding I'm picking?

[2019-03-26 19:05] stevegroom opened #5261 "[nanoleaf] Adding individual light panels"
Just updated to latest ( 2.5.0-SNAPSHOT Build #1561 )

Removed the manually added Nanoleaf.jar and then added the new Nanoleaf Binding.

After restarting the inbox had 18 new items called Light Panel.

I clicked on the first one, activated the channel with a new binding.
I clicked on the second one, activated the channel with a new binding.

Then I went to the Paper UI and selected the room with t

[2019-03-26 19:24] basse04 commented on #5005
Please, I do need some advice.
It's possible to start both org.openhab.core.demo.app and org.openhab.demo.app inside IDE
I see the " Welcome to Apache Felix Gogo and I can run some commands with answers in both demo's
When I do http://'ip':8080/rest can I see answers from org.openhab.core.demo.app but not from org.openhab.demo.app
I have installed IDE due to earlier advice's and README.md
I have d

[2019-03-26 19:37] davidgraeff commented on #5250
Can you maybe provide a PR that fixes this behavior?

[2019-03-26 19:39] davidgraeff commented on #5005
Just compare the pom.xml and bndrun files and "Pimp" the `org.openhab.core.demo.app` with the missing dependencies.

[2019-03-26 22:04] basse04 commented on #5005
Thank's a lot. I found the differences and I can now see the PaperUI working and also /rest and g! prompt
There are some Errors but they will be taken care of another day, so far so good.

[2019-03-26 22:30] davidgraeff commented on #5005
Can you post them here to enlighten others that have the same problem? :)

[2019-03-26 22:45] bodiroga commented on #5005
I also need some help, sorry 👼

From which openHAB development installation do I need to start? [Here](https://www.openhab.org/docs/developer/development/ide.html#option-1-installation-of-ide-for-add-on-development) two installation options are described: "Add-on Development" and "Core Development". Does it matter?

I have followed the second installation method, but after waiting for the "Perform

[2019-03-26 22:51] davidgraeff commented on #5005
I didn't had those problems a week ago. But now there are so many more extensions ported. Did you try to right lick on the pom, and click on  Maven->Update Project? You can also add those projects (allplay-harmonyhub) from openhab2-addons to the workspace. They probably include those dependencies as "libs".

[2019-03-26 23:37] openhab-5iver commented on #5005
I wanted to get an IDE setup for working on Core and some addons, so I made a setup file and included Markus' Demo app. To build my current IDE, I selected Development (bnd), Demo (test), OH2 Addons, and WebUI. With the OH2 Addons, I make a WorkingSet for the addons that are not yet migrated, so these have errors, but after closing them the only error that showed up was for `org.openhab.binding.mq

[2019-03-27 07:00] basse04 commented on #5005
Of course, here they are.
I see that there is Launch problems (Invalid property key...)but  so far have I  done it like Continue launching.....

org.openhab.demo.app/pom.xml

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/m

[2019-03-27 07:09] basse04 commented on #5005
Sorry , I make a new try with org.openhab.demo.app/pom.xml,

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">

  <modelVersion>4.0.0</modelVersion>

  <parent>
    <groupId>org.openhab.demo</groupId>
    <a

[2019-03-27 07:11] davidgraeff commented on #5005
You want to put file pastes in three back ticks "\`\`\`"

[2019-03-27 07:13] basse04 commented on #5005
pom.xml
[code]

[2019-03-27 07:15] basse04 commented on #5005
Thanks , and then app.bndrun
[code]

[2019-03-27 08:34] basse04 commented on #5005
This is how I have done to make it work. There are still Errors but at least is the system started.
I have used the original README.md  and fulfilled it with advice from David and some more things I have found out. Hope it will be useful.

How to develop in the Eclipse IDE

1. Install Bndtools in your Eclipse IDE. (Is automatically installed if you have used the Eclipse Installer for openHAB devel

[2019-03-27 09:49] apica-alfred opened #5269 "[homekit] networkInterface needs to be defined"
## Expected Behavior
If networkInterface is not defined, the addon should get it's own IP.

## Current Behavior
My current setup (just one light) only works if I define the networkInterface, but there is no reason (basic Openhabian image used) to not to work when networkInterface is not set.

## Possible Solution
It seems related in how InetAddress.getLocalHost() function works in the HomekitSetti

[2019-03-27 09:53] mapo31 commented on #4356
Hello Speedy,

Did you find a solution for this issue ?
If yes, could you share it please ?

Thanks
Matt

[2019-03-27 17:12] JueBag commented on #5005
I'm trying to understand What to do, but I'm still hitting a brickwall. As stated earlier:

Without this knowledge I'm bound to do things wrong. Looking at examples of earlier migrated bundles didn't give me a clue!
Sorry for that!

[2019-03-27 17:17] davidgraeff commented on #5005
You need to check every class in a ".test" project if that class "extends" anything with "*OSGiTest" in the name. If it does then it is for sure an OSGi integration test. If none of the test classes "extends" then the binding is save to be ported by you according to the guide.

[2019-03-27 17:34] babela commented on #5051
In regard to the open questions:
1) on the HS200 it is possible to switch both outlets at once.  I am using tasker to control a HS100 as described here:
https://www.reddit.com/r/tasker/comments/52lvhq/how_to_control_a_tplink_hs100/

The same code when sent to the HS200 switches on/off both outlets.  I have not figured out how to automate switching the HS200 outlets individually.

4) from the KASA

[2019-03-27 18:26] Hilbrand commented on #5051
@babela thank you for your interest. But I don't understand what you're talking about. This is about multi socket plugs. The HS200 is already supported for some time by the binding and is a light switch, not a socket? Also the HS100 is supported by the binding. So I don't understand why you would need  tasker for that if you can use the binding?

[2019-03-27 19:28] JueBag commented on #5005
Did one with dsmr binding [#5272](https://github.com/openhab/openhab2-addons/pull/5272)

[2019-03-27 22:53] Hilbrand commented on #5051
@babela do you mean the kp200 instead of the hs200?

[2019-03-28 09:18] gunarka opened #5276 "[vallox][feature] download time series of measurements potentially stored on the unit"
I made the same feature request in a related project (vallox websocket api by yozik04): https://github.com/yozik04/vallox_websocket_api

Hi, the openHAB binding was working out of the box for me (ValloPlus 270 MV) via paperUI!

Via the Vallox webinterface time series of hourly sensor data (tempertures, humudity, CO2) can be plotted (appart from current values). Therefore I assume that the unit sto

[2019-03-28 13:13] babela commented on #5051
Sorry, yes, I meant KP200.  I have updated the original comment.  Separate from OpenHab, I am using tasker specifically to turn switches on/off when phone's charge is at a certain percentage to maximize the useful lifespan of the battery... The comment was to answer the question of turning on/off all sockets at once on the KP200.  This does work via the same methods as the already supported device

[2019-03-28 14:33] mirkoschubert opened #5277 "[milight] iBox2 integration doesn't work in 8 channel mode"
It's kind of a bug and a feature request...

## Expected Behavior

The Milight iBox2 (API v6) has usually 3 modes: 4, 8 or 99 channels.

* If you use the iBox2 only with the mobile app, only 4 channels are available.
* If you use the iBox2 with the [8 channel remote](https://www.amazon.com/Mi-Light-Wireless-Controller-Dimmable-Compatible/dp/B07J35734S/) (FUT089), you can setup 8 channels.
* There

[2019-03-28 16:25] bodiroga commented on #5259
Meh, I'm unable to setup up the Eclipse IDE correctly :cry:

The error seems to be related to the visibility of the MqttChannelStateDescriptionProvider class, isn't it? After splitting the binding in multiple packages (mqtt.generic, mqtt.homie and mqtt.homeassistant), some classes from the mqtt.generic package should be accessible to the other classes, right?

[2019-03-28 16:32] JueBag commented on #5005
Out of my humble experience  the  manual guide has some "problems" concerning the migration of the `addons/bindings/pom.xml`.
Point 1
IMHO not the `addons/pom.xml` needs to adapted but the `addons/bindings/pom.xml'.

Point 4 suggests to copy over the `pom.xml` of an already migrated bundle. IMHO the refers to the same file as above, so this part of point 1 is obsolete. Doing it as suggested the ol

[2019-03-28 20:54] davidgraeff commented on #5259
Correct. I made most generic classes public therefore and it compiles and the tests are running through

[2019-03-28 20:56] davidgraeff commented on #5005
Depends. You might migrate a translation or "io" bundle and then it's another pom.xml.

Wrong. In each directory is a pom.xml. And you copy one from a migrated bundles directory

[2019-03-28 21:06] JueBag commented on #5005
My failure, got lost in all those poms!

[2019-03-29 05:12] GadgetAngel commented on #5259
Which version will I not get this error on, its really made my server not useable

[2019-03-29 06:42] cguedel opened #5281 "[knx] Not reconnecting after send failure"
## Expected Behavior
If a send failure occurs, the KNX binding should reconnect to the IP gateway and repair the connection and continue to work.

## Current Behavior
When a send failure occurs, the link is closed and not opened again (or so it seems).

## Steps to Reproduce (for Bugs)

Really not sure, it happened quite rarely until a few days ago when I added a new device to the bus that sends q

[2019-03-29 07:51] bodiroga opened #5282 "[mqtt] MQTT Embedded broker crashes after installing it"
Hi @davidgraeff!

I have updated my openHAB installation to the latest snapshot version (the Linux deb packages weren't updated for the last two days, thanks for fixing it, guys!), but the MQTT Embedded broker addon does not work correctly, even with the latest fixes that you provided.

Here you can see the error messages in the log file:

[code]

Best regards,

Aitor

[2019-03-29 08:48] Hilbrand commented on #5005
I've added a migration status list. If something is missing either comment here (or for maintainers update the list).

[2019-03-29 10:37] bodiroga commented on #5259
Hi @GadgetAngel!

You can't, we need to wait patiently until @davidgraeff finds some time to submit a PR with the fix :+1: Keep calm and trust David!

Thanks for your time!

[2019-03-29 15:51] JueBag commented on #5005
Made a PR for the Feed Binding [#5322](https://github.com/openhab/openhab2-addons/pull/5322)

[2019-03-29 17:28] JueBag commented on #5005
Made a PR for the Robonect Binding[#5325](https://github.com/openhab/openhab2-addons/pull/5325).
Keeping my fingers crossed for this one.

[2019-03-29 17:50] Misiu commented on #5005
@JueBag could You please migrate `binding.mcp23017`??
I want to create a binding for [PCF8574 ](https://www.ebay.com/itm/PCF8574-PCF8574T-I2C-8-Bit-IO-GPIO-expander-module-For-Arduino-Raspberry-Pi-/382314464545)expander base on mcp23017.
I've noticed that it is based on `pi4j` which has [PCF8574 support buildin](https://github.com/Pi4J/pi4j/blob/master/pi4j-example/src/main/java/PCF8574GpioExample

[2019-03-29 18:41] J-N-K commented on #5162
What exactly is the problem with homematic? It compiles and passes feature verification on Java 11 without modification.

[2019-03-29 18:45] davidgraeff commented on #5162
Tick it off ^^

[2019-03-29 18:52] cweitkamp commented on #5162
Maybe it is a false positive because of `javax.xml.bind` in its manifest.

https://github.com/openhab/openhab2-addons/blob/6f84f1562474f4512ff5ef97d71bd1ce24d7b820/addons/binding/org.openhab.binding.homematic/META-INF/MANIFEST.MF#L22

[2019-03-29 21:51] claell commented on #322
@davidgraeff There is still an ongoing effort for this binding in the thread I linked a few posts above. Now (since a few months) @themillhousegroup has taken over the development from the original author in that thread and also has a GitHub repo for this. Hopefully it is only a matter of time until an official PR is created for this, so this is not out of scope and thus should not be closed, corr

[2019-03-29 22:40] d4n7e1 commented on #5276
Why didn't you simply use the persistence of OpenHab? This would be the easiest way. So I think, there is no need for this feature....

[2019-03-30 07:53] seime commented on #5076
New beta release available for testing:

https://github.com/seime/openhab2-addons/releases/tag/2.5.0.M1.millheat.beta1

Updated docs: https://github.com/seime/openhab2-addons/tree/millheat/addons/binding/org.openhab.binding.millheat

[2019-03-30 07:57] davidgraeff commented on #322
@themillhousegroup can you create your own pull request please?
We use pull requests for code feedback and merge preparation. If the idea is to just indicate that this feature is being worked on, an Issue is the better place :)

[2019-03-30 08:33] chiefymuc commented on #5282
Same here. In Karaf the Bundle is in "waiting" status. Restarting the bundle does not change anything.

[2019-03-30 11:14] #5282 closed

[2019-03-30 11:23] maggu2810 commented on #5005
Wouldn't it make sense to enable the Wiki for that repository and migrate the first comment to the wiki?

[2019-03-30 11:26] maggu2810 commented on #5005
That's not completely correct.
We are using ESH (and will move to OHC) in our products. The same is true for DT (but I don't think they will move to OHC).
My work on openHAB itself is mostly done in spare time / freetime.

[2019-03-30 12:35] lewie commented on #5281
@cguedel,

there are more and more problems especially with ABB Interfaces and Tunneling Mode:
https://knx-user-forum.de/forum/supportforen/openhab/1282102-oh-2-3-knx2-ip-gateway-geht-immer-offline#post1282102
https://knx-user-forum.de/forum/supportforen/openhab/1282102-oh-2-3-knx2-ip-gateway-geht-immer-offline?p=1294737#post1294737
https://knx-user-forum.de/forum/supportforen/openhab/1282102-oh-2

[2019-03-30 14:25] Filipok-A commented on #5259
@GadgetAngel I fixed it by installing these three jars:
https://openhab.jfrog.io/openhab/libs-snapshot-local/org/openhab/binding/org.openhab.binding.mqtt/2.5.0-SNAPSHOT/org.openhab.binding.mqtt-2.5.0-20190317.072428-37.jar
https://openhab.jfrog.io/openhab/libs-snapshot-local/org/openhab/binding/org.openhab.binding.mqtt.generic/2.5.0-SNAPSHOT/org.openhab.binding.mqtt.generic-2.5.0-20190317.072428-3

[2019-03-30 15:32] AntonWedemeier commented on #4234
Hi @jo47011, I did try the converter to day. I already had done my conversion last year, but I wanted to see if this conversion works. The script did the trick. I am working on a Windows 10 PC.
I don't have complex things in my installation, only switches and dimmers.

[2019-03-30 18:36] BOFH90 commented on #3567
Got the same Problem...

[2019-03-30 18:57] bodiroga commented on #5259
I will check in the next snapshot version, let's see if it is tomorrow, if the problem is fixed. Fingers crossed 🤞 Thanks David!

[2019-03-30 20:48] wborn commented on #5162
Now that #5338 is merged we enforce that all code compiles with Java 11.

The add-ons were still open in the list use the javax.xml.xpath, javax.ws.rs packages which are still available in Java 11. See [Dependencies On Java EE Modules](https://blog.codefx.org/java/java-9-migration-guide/#Dependencies-On-Java-EE-Modules) for all packages that are impacted.

[2019-03-30 22:38] davidgraeff commented on #5162
Has someone changed Travis already to enforce j11? Then we can close this issue

[2019-03-30 22:39] #5162 closed

[2019-03-31 07:44] #4735 closed

[2019-03-31 08:32] Kroki0815 opened #5341 "[avmfritz] Bridge ONLINE Things remain in STATE UNKNOWN after build #1558"
In snapshot-version 1562/1563 the devices  of the avmfritz binding dosn't came online any more. Only the Bridge itself is up and running:

With older version all is fine:

I have a Frtiz!Box 7590 with version  07.08-67227 BETA.

I attached a trace from version 1563.

[debug_avmfritz.txt](https://github.com/openhab/openhab2-addons/files/3026343/debug_avmfritz.txt)

It look like the communication wi

[2019-03-31 09:48] t-moe-3 opened #5343 "[Tesla] Error when installing / using binding"
### Expected Behavior
Installing and using the binding as per documentation

### Current Behavior
Installation is shown as succesfull in the UI but the following output is written into the logs:
`2019-03-31 11:40:11.037 [WARN ] [org.openhab.binding.tesla           ] - FrameworkEvent WARNING - org.openhab.binding.tesla

org.osgi.framework.ServiceException: org.apache.felix.scr.impl.manager.SingleCo

[2019-03-31 09:56] t-moe-3 commented on #5343
solved it by manually installing jersey-client and restarting openhab

[2019-03-31 09:56] #5343 closed

[2019-03-31 10:23] blademckain commented on #5259
what procedure did you use to install them?
have you uninstalled mqtt 2.5 from PAPERUI before?

[2019-03-31 10:35] cweitkamp commented on #5341
Confirmed. Do you see any updates on your Channels? I cannot. Controlling outlets does not work either.

Related to #5217.

[2019-03-31 11:37] Kroki0815 commented on #5341
Yes, that's wright. Channels can't be controlled and states are not updated.

[2019-03-31 12:03] cweitkamp commented on #4558
I did some research and submitted a fix for it (see #5346).

[2019-03-31 12:43] Pinksheepxx opened #5347 "[modbus] binding malfunction with SMA solar inverter"
I have SMA Tripower 5000TL solar inverter and I would like to collect yield data by using speedwire/tcp modbus connection. After pulling data, I would like to write it in Influxdb and view it on Grafana. I also would like to use yield data to control other appliances.

## Current Behavior
I have tested modbus connection with RMMS and I could get right values by using input register number and vary

[2019-03-31 13:08] jo47011 commented on #4234
Hi Anton, thanks for the feedback.  Yes seems to work now on Unix, Mac and Windows.  Already helped another Windows users to get it run.  Great if it can help others...

[2019-03-31 13:48] #4797 closed

[2019-03-31 14:07] Filipok-A commented on #5259
I just placed these kars into addons folder, without stopping Openhab.   If this doesn't work try stopping Openhab, delete userdata/cache and userdata/tmp folders and start Openhab.

[2019-03-31 15:29] FlorianSW commented on #5005
Run into the same problem, maybe this should be addressed (in a spearate issue?) somewhere, so it can be discussed how we plan to fix this :)

However, even after importing the already migrated addons (like allplay and so on), most of the errors disappear, but not this one (after building the workspace and also updating all maven projects including updating of snapshot and releases):
`Missing arti

[2019-03-31 15:42] c6fc commented on #5051
@Hilbrand I have a Kasa HS300 6-outlet power strip, and I'd be happy to help you test!

[2019-03-31 16:03] maggu2810 commented on #5005
See #5342

[2019-03-31 16:06] FlorianSW commented on #5005
I've already the latest version of master, including the changes of this PR :/

[2019-03-31 17:11] blademckain commented on #5259
works! but only until reboot.
the error reappears after restarting

[2019-03-31 18:36] #4558 closed

[2019-03-31 20:15] alexwizp commented on #5096
Have the same problem but for lumi.acpartner.v2

[2019-03-31 20:19] bodiroga commented on #5259
Hi @blademckain!

Are you talking about the latest version of the binding (openHAB 2.5 SNAPSHOT from today) or about the files shared by @GadgetAngel? Because the file from @GadgetAngel are more than 2 weeks old and my original bug report was related to the latest code 😉

[2019-03-31 20:39] bodiroga commented on #5259
Anyway, @davidgraeff, you have done it right reopening the issue, because the errors are still there. Right after installing the binding, the same error messages appear in the log file:

[code]

But, as in the previous report, there are many more error lines :cry:  I have also tried to stop and restart the bundle (through an SSH connection to the Karaf console: ssh -p 8101 openhab@localhost and bu

[2019-03-31 20:42] pfink commented on #5005
Thank you all for your efforts in the BND migration! I'm curious developing openHAB without Eclipse 👍  @maggu2810 @wborn Please ping me after tycho is completely wiped out and the final bnd POM structure is established. I have to get the releasebuild running then with this new structure :)

[2019-03-31 22:42] davidgraeff commented on #5259
I'm out of ideas and have time for mqtt only end of the month. But as soon as integration tests are re-enabled, we should see problems on Travis as well and more people are able to see and solve those.

[2019-04-01 05:44] #4865 closed

[2019-04-01 13:21] gunarka commented on #5276
Sure, if you have a (mini) PC running anyway you could repeatingly check actual measurements with openHAB and store those as time series.
But if you don't, then downloading these measurements (with 10 minutes time steps) once every two month (period stored on ValloPlus 270 MV) sounds more convinient to me.

[2019-04-01 18:27] chiefymuc commented on #5282
Still problems in Snapshot Build #1564. However the Moquette broker shows "active" but doesn't work. When restarting through Karaf the error pops up again.

[2019-04-01 18:30] davidgraeff commented on #5282
Is it this error: `java.lang.NoClassDefFoundError: io/netty/handler/codec/mqtt/MqttMessage` or another one? Because this one is definitely solved.

[2019-04-01 20:24] #5341 closed

[2019-04-01 21:51] fruggy83 commented on #4865
Hi @dominikkv, sorry for being so late in commenting this PR. I totally agree with your implementation, however why have you not implemented a new EEP as we did it with FXBH_A5_08_01 or the manufacturer specific D2-01 EEPs?

@davidgraeff I do not want to be to nit-picking, but I would classify this issue more as an enhancement. As this EEP should also support the MeanWell driver. Eltako support is

[2019-04-02 08:19] davidgraeff opened #5371 "Shrink repository (OH3)"
The current repository size is 346.70 MiB downloadable data and 443 MB after checkout on disk (03.05.2019).

The actual workspace data is 87MB (including the remaining .jar files) and 79MB excluding any jar files.

I suggest to rewrite the git history and remove all binary data (or to archive this repo for OH3 and start fresh).

We can't perform a git bisect for bug hunting etc, because the entire

[2019-04-02 08:35] Hilbrand commented on #5005
When adding jars in the pom via dependencies what is the guideline for adding `<scope>provided</scope>`. Am I correct this should always be added? (The example above it missing it)

[2019-04-02 08:36] davidgraeff commented on #5005
Yup I think we should always add a scope (most of the time "provided" or "test")

[2019-04-02 10:13] nicola-lunghi commented on #5005
Hi all sorry newbie here...
there's an example/boilerplate of a binding developed in a repository external to this that uses the new bnd approach?
(an hello-world binding with the new packaging)

My problem is that I'm using the old way to develop binding and currently to build an extension with maven I have to:
- build openhab
- build the openhab2 addons
- then my plugin is able to grab the depen

[2019-04-02 10:18] davidgraeff commented on #5005
When the migration has been finished the binding development documentation will be rewritten and I also favor the idea of having a bnd example repo sitting somewhere, with the same directory layout as with this repo so that a merge pull is possible.

[2019-04-02 10:20] Hilbrand commented on #5005
@nicola-lunghi There is no example or binding generator yet for the new bnd approach. But it should be fairly easy to start. A good starting point is to look at a recent merged pull request of a binding that was merged to the bnd build. All diffs are files needed for a bnd build.

[2019-04-02 11:59] kaikreuzer commented on #5371
Makes sense to me, especially as the history won't be of much help due to the migration.
We could keep a copy of the current repo as a backup and rewrite the history of this repo once the migration is done.

[2019-04-02 12:57] dominikkv commented on #4865
Hey @fruggy83, I have thought about this, but came to the conclusion that it is better to do it this way. The problem is that we have an Eltako specific implementation named as the standard EEP. If I would have renamed the existing implementation, and created a new standard implementation, backward compatibility would have been broken. Everyone using this would have to change their configuration.

[2019-04-02 15:42] #4526 closed

[2019-04-02 16:08] stefaanv opened #5372 "[modbus] 2.4 Binding skips data elements in poller"
## Environment
OpenHab2.4 on Ubuntu 16.04 (Intel NUC PC)
Wago 750-881 PLC

## Problem
MODBUS 2.4 binding skips the processing of random data elements in a polling element.  As a result, the associated items are not updated.  For these items/data elements, (outgoing) commands are also not picked up by the binding.
In the example below, **vlgLivingDoorgang**, **vlgKleineBadkamer** and **vlgSlpk2** a

[2019-04-02 16:22] hakan42 commented on #5259
With build 1564 (built on 31.3.2018) and the jars above I am getting

[code]

Downloading the jars mentioned above helps reading data from my broker, but publishing does not work...

[2019-04-02 17:01] hakan42 opened #5373 "[mqtt] Binding is displayed as "MQTT Homie Binding" in Paper UI"
## Expected Behavior

With Build 1564 as of 31.3.2019, the binding shows as "MQTT Homie Binding" in the Paper UI. This description seems to come from the package bundles/org.openhab.binding.mqtt.homie

## Current Behavior

This should be "MQTT Thing and Channels Binding" as defined in the main mqtt binding.

## Possible Solution

## Steps to Reproduce (for Bugs)

1. Open Paper UI
2. Select "Config

[2019-04-02 18:30] davidgraeff commented on #5373
This only affects paper UI does it? Paper UI is not in this repository.

Can you verify with the OSGi openHAB console with the command bundle:list please

[2019-04-02 18:38] davidgraeff opened #5374 "Adapt skeleton for readme.md"
As of openHAB 2 the rest interface and OSGi console commands are equal ways of configuring your openHAB next to the classic xtend based files. The java scripting and the new rule engine are also equal competitors to the xtend rule DSL.

I therefore suggest to no longer require people to have xtend examples in their binding readmes.

If contributors want to, they can instead provide a separate `xte

[2019-04-02 18:57] J-N-K commented on #5374
David, you (and me) do not like the textual configuration (at least for things, and I really hate the rules). But: from my experience with OneWire and DMX I learned that there are quite a lot of people who prefer it and need good documentation for that.
IMO we could drop that for OH3 but should not do so for OH2. Better fix some documentation.

[2019-04-02 19:17] davidgraeff commented on #5374
My idea is not to remove those but to move them to a separate file. The advantage is that the website script then even have a semantic idea of the file content and can apply special rendering like an example tab.

Take the website of the JavaScript framework angular for example. They have special renderings applied for examples. You can for example have a copy to clipboard button below a code box

[2019-04-02 19:33] hakan42 commented on #5373
Well, before the move to bnd and split into three bundles, it used to work in PaperUI... Now, it is a bit misleading.

The Bluetooth binding, which also consists of three bundles, looks o.k. in PaperUI.

MQTT, in the console:

[code]

[2019-04-02 19:39] davidgraeff commented on #5373
Might be the binding.xml file. Copy paste error I assume. Thanks for the report.

[2019-04-03 08:20] clinique commented on #5250
I'll do after migration to bnd PR merged

[2019-04-03 08:35] davidgraeff commented on #5374
@openhab/2-x-add-ons-maintainers

[2019-04-03 08:53] Hilbrand commented on #5374
If we want to move things out of the readme. I would suggest to create sample configuration files instead of a md file. For example an `example.things`. I believe for the website already some preprocessing is done to use the readme md files. This can be extended to rendering these sample configuration files. The big advantage would be when we would change syntax we can automigrate all those exampl

[2019-04-03 08:59] davidgraeff commented on #5374
Do we do an own directory, maybe replicating the directory structure of oh itself?
The mqtt binding has like 8 examples and multiple things and items defined.

So there would be a "rules", a "things" and so on sub-directory within an "example" directory.

[2019-04-03 10:30] Misiu commented on #5005
@Hilbrand as @davidgraeff mentioned earlier it would be awesome if we could use other IDE to build new bindings. VS Code is very light so maybe consider it? Ideally bindings should be independent of IDE.
Also when working on documentation please include instructions on how to debug binding on an external device. I have openHAB on Raspberry PI and I use Windows to develop. Is it possible to debug b

[2019-04-03 12:40] blademckain commented on #5259
Hi,
with the latest openHAB 2.5 SNAPSHOT, the error persist!!
with the latest openHAB 2.5 SNAPSHOT + the files shared by @GadgetAngel, works until a reboot.
Help!

[2019-04-03 12:43] blademckain commented on #5259
it happens to me too

[2019-04-03 12:43] davidgraeff commented on #5259
This is NOT fixed and WILL NOT be fixed until end of the month. Snapshots are not guaranteed to be stable. If someone have time to fix it in the meantime, you are welcome

[2019-04-03 13:08] nicola-lunghi commented on #5005
Hi all,
I'm working on an example "hello world" module and I want to add some unit test.

is normal that all the test classes needs components from org.eclipse.smarthome?

The final class would be org.openhab.core?
Those packages will be integrated/moved into openhab and disappear after the merge?

examples:

https://github.com/openhab/openhab2-addons/blob/master/bundles/org.openhab.binding.dmx/sr

[2019-04-03 20:05] davidgraeff commented on #5005
Yes that's normal, until those packages can be renamed with OH3

[2019-04-04 09:10] fruggy83 commented on #4865
Hi @dominikkv,

backward compatibility is a good point 👍 , which I had not in mind. I configured my system with DSL files, therefore such a change would not be big thing for me. But you are absolutly right, having this in mind, I also think that your implementation is the best solution. However if we ever find another implementation of this dimming EEP, we should think about a breaking change inst

[2019-04-04 10:51] davidgraeff commented on #4935
@openhab/2-x-add-ons-maintainers
Can someone please add the travis github app to the organisation?
This is more powerful then webhooks.

See also https://blog.travis-ci.com/2018-05-07-announcing-support-for-github-checks-api-on-travis-ci-com .

[2019-04-04 11:03] goair1 commented on #4249
Hi together
how i can download the jar File so I can install this one?!

regards

[2019-04-04 11:15] martinvw commented on #4935
@kaikreuzer its seems that I do not have enough power for such actions.

[2019-04-04 14:18] blademckain commented on #5259
![errorOH](https://user-images.githubusercontent.com/39549249/55562955-48363880-56f5-11e9-93db-a44fea683d16.jpg)

I'm not a java top. But couldn't the problem be that the "generic" folder is missing?

[2019-04-04 17:44] #5239 closed

[2019-04-05 06:51] kaikreuzer commented on #4935
Done. It took me a while that the whole trick is to use travis-ci.com instead of travis-ci.org...

[2019-04-05 06:51] #4935 closed

[2019-04-05 12:26] dddjjjppp commented on #4126
I would be also very interested in having cEMI enabled to get kBerry 838 working with OpenHAB

[2019-04-05 15:17] cubistico commented on #4772
Well, yes, logging _is_ a solution for me, the user, who tries to find out why it doesn't work! :-)

I am not talking about extended detail logging, just in my case, the connector would not connect, and I had no idea about it, because there was no problem logged. However, I'm quite sure the connector knows the difference between being connected to the cloud or not, because once I managed to get a

[2019-04-05 16:10] paulianttila opened #5404 "[lifx] error message isn't very informative"
Error message isn't very informative when you own more than one Lifx device.

[code]

[2019-04-05 18:13] bjoernbrings commented on #5276
Honestly I'd agree with @d4n7e1. OpenHab is designed to be running continously. So I don't see any reason for not using persistence.
Furthermore there is hardly the functionality in the binding API to provide historic values without misusing any variable for dumping the whole history in it.
A set of hundreds of channels (one per existing channel per time point provided) to solve this doesn't sound

[2019-04-05 19:24] lolodomo opened #5406 "[mqtt] ChannelStateTests.receiveDateTimeTest failing"
[code]

[2019-04-05 20:46] openhab-5iver opened #5410 "[paper] Dynamically created Trigger Channels have ChannelKind==STATE"
When parsing and validating triggers in the Jython helper libraries, I'm checking that Channels used in a ChannelEventTrigger have a ChannelKind of TRIGGER. A user reported an issue using this type of rule trigger with an MQTT Broker publish trigger Channel. In testing, I found that these actually have a ChannelKind of STATE.

The triggers are occuring, so maybe I'm incorrect in expecting them to

[2019-04-05 21:08] wborn opened #5411 "[mqtt] MqttEmbeddedBrokerServiceTest fails"
The `MqttEmbeddedBrokerServiceTest` in org.openhab.io.mqttembeddedbroker fails see logging below:

[code]

After executing the tests there is a `userdata` dir but when I then run the tests it fails with:

[code]

[2019-04-05 21:12] wborn commented on #5406
I see the same:

[code]

[2019-04-05 21:36] wborn opened #5413 "[avmfritz] Integration tests fail"
With the changes in https://github.com/openhab/openhab2-addons/pull/5412 the AVM Fritz tests now run (there used to be jaxb dependency issues).

However most tests fail due to NPEs like:

[code]

and

[code]

[2019-04-05 21:43] wborn opened #5414 "[mqtt] Integration tests fail"
Both the `org.openhab.binding.mqtt.homeassistant.tests` and `org.openhab.binding.mqtt.homie.tests` fail:

# homie

[code]

# homeassistant

[code]

[2019-04-06 06:45] davidgraeff commented on #5410
The generic mqtt channels are using a statically defined channel type.

If people are using those channels as trigger channels (despite that we have a real trigger channel on the broker thing) this problem occurs.

Looks like I need to use a channel type provider there as well.

[2019-04-06 06:47] davidgraeff commented on #5373
Fixed in master

[2019-04-06 07:22] cweitkamp commented on #5413
I will look into them.

[2019-04-06 07:25] #5404 closed

[2019-04-06 08:12] #5373 closed

[2019-04-06 09:14] davidgraeff commented on #5406
OMG That is summertime/wintertime difference

[2019-04-06 09:24] davidgraeff opened #5416 "Pom: Change snapshot check to daily instead of always"
@openhab/2-x-add-ons-maintainers Would it be a problem to change the snapshot download rate to daily instead of always?

Locally I'm going crazy with the current default and I assume other non experienced developers run into the same issue. And I know of the `-DnoOhSnapRepo` command line flag, but I tend to forget that all the time and need to look it up again and Eclipse also doesn't use it and h

[2019-04-06 09:28] wborn commented on #5416
On other projects I've set snapshot updates to `never` and use -U if I choose to update these and on build servers:

[code]

But I can imagine all this causes issues for less savvy Maven users and they are better off with the current always configuration.

[2019-04-06 09:31] davidgraeff commented on #5416
I prefer "-U" as well. But daily should be good enough for those users, as they are probably not developing on the core as well or depending on less than 24h old core changes. It is a comprise that helps CI and local development (except the first time of the day of course).

[2019-04-06 09:32] wborn commented on #5416
There's also `-DnoOhSnapRepo` you can use nowadays. But IMHO it should set the update policy instead of removing the repo. It would cause issues if you don't have these artifacts in your local repo.

[2019-04-06 09:33] openhab-5iver commented on #5410
It is the broker Thing Channels that are used here. I did not test the Channels from the other Things, and would expect there would not be a Triggered event for them.

[2019-04-06 09:45] davidgraeff commented on #5410
Hm. That would be strange if you are right, because:

https://github.com/openhab/openhab2-addons/blob/master/bundles/org.openhab.binding.mqtt/src/main/resources/ESH-INF/thing/thing-types.xml#L178

[code]

[2019-04-06 09:58] wborn commented on #5413
It might also help to add a [few additional requirements](https://github.com/openhab/openhab2-addons/blob/master/itests/org.openhab.binding.nest.tests/itest.bndrun#L8-L14) (and run the resolver) that are also used in the Nest integration tests.

Although after that a `setUp()` assertion fails:

[code]

[2019-04-06 12:23] staehler commented on #4787
The same thing here. I've the new nuki generation lock, which API has released a few weeks ago. Might this be the reason for missing the locking states? Does the binding need an update to a changed API?

On https://web.nuki.io the changes are recognised almost immediately, but openhab gets 'looking', 'unlooking' or 'latched', 'unlatched' more accidentally, than as a reliable state.
I think this is

[2019-04-06 15:00] mbehr1 opened #5419 "[hueemulation] readyMarker not received. var started never gets true?"
## Expected Behavior
the HueEmulation service never seems to start the httpServlets. Neither description.xml nor api/description.xml can be received (return 404).
I suspect that the ReadyMarker is never received and thus started is never set to true.

If I stop the bundle and restart it I see
Added items: ...

and if I change configuration (e.g. enable pairing) I get ServiceEvent MODIFIED messages

[2019-04-06 16:40] guyou opened #5420 "[freemobilesms] Add FreeMobile SMS Binding"
I wish to add support for a SMS service provided by [Free Mobile](http://mobile.free.fr/) operator. This service is a simple HTTP API to send SMS back to the customer (and not to arbitrary contact). It is clearly a service to integrate with Home Automation or Self-Hosting.

A it is my really first contribution to OpenHAB, I'm looking for help/mentoring as I thing such feature is quite different fr

[2019-04-06 16:45] guyou commented on #5420
Perhaps something similar to https://www.openhab.org/addons/actions/mail/

[2019-04-06 18:12] bodiroga commented on #5005
Hi again guys!

I have followed the first 4 steps of the "How to develop in the Eclipse IDE" section and I'm able to launch the demo app through the "Run OSGI" button in the "app.bndrun" file. Paper UI also loads fine, great. But, after importing the 4 MQTT related projects to the Eclipse IDE, and adding the relevant dependencies to the pom.xml, this is what I get when I try to "Resolve" the "Run

[2019-04-06 18:50] davidgraeff commented on #5005
That part is the exact part that is not yet working :D Markus decides to use Apache Felix as OSGi container without karaf (like openHAB uses it).

That means we have no runtime that downloads dependencies for us. You need to add those dependencies into the pom, that might be enough.

[2019-04-06 18:53] davidgraeff commented on #5420
It's a mixture of a binding and an action, correct.

Have a look at the xmpp and mail pull requests. They are in the same category.

[2019-04-06 19:00] davidgraeff commented on #5419
That is possible. I have rewritten the implementation (see pull requests) and I'm no longer using the readymarker but I process an item as soon as it comes in now.

Other io services are using a debounce mechanism for the item registry.

[2019-04-06 23:11] bodiroga commented on #5005
Well, at least it's good to know that I'm not doing anything wrong! 🤣 Thanks for your help David!

[2019-04-07 09:34] rmichalak opened #5422 "[digiplex] - xml formatting"
Apply code review fixes to Digiplex binding (see #4527)

[2019-04-07 12:03] mbehr1 commented on #5419
@davidgraeff please have a look at PR #5424. Can this serve as an interims workaround? I'd like to test your new PR as well but had some issues with testing (see comment on your PR).

[2019-04-07 13:11] Hoerli1337 commented on #4356
I've had the same problem for a week.
Netatmo stays offline.
I also generated a new key and left the query offline for several hours.
Unfortunately it doesn't work.

Paper UI: OFFLINE - COMMUNICATION_ERROR
LOG: `2019-03-31 03:33:23.667 [hingStatusInfoChangedEvent] - 'netatmo:NAMain:MyIDofTheNetAtmo' changed from ONLINE to OFFLINE (COMMUNICATION_ERROR): Unable to connect Netatmo API : Verbindungsau

[2019-04-07 13:54] stefaanv commented on #5372
Anyone any ideas ?

[2019-04-07 14:46] lolodomo commented on #5420
I am using this service. This is only one line of code in a DSL rule to call thr HTTP API.
I don't see the need of a binding for that.

[2019-04-07 14:54] davidgraeff commented on #5420
Almost all weather bindings are just http calls ;) It's still an external service and a binding with an action is a valid approach

[2019-04-07 15:09] lolodomo commented on #5420
When there is the need to parse returned data and expose data, it makes sense.
Here, there is no returned data.

[2019-04-07 15:41] mvalla commented on #5005
Hallo,
I am about to move my WIP binding to the new build. I want to use Eclipse as dev+test env.
I decided to start from scratch with a new Eclipse IDE.

First I installed Eclipse IDE for Java Developers + openHAB Core Development, but it runs forever the startup tasks (I left it running more than 45min and was still looping on some startup tasks...)

So I decided to start with a simple classical

[2019-04-07 16:08] davidgraeff commented on #5420
Ok I put it in a different perspective. I do not want to touch a single line of textual file for using a home automation system. If this service is wrapped in an automation action, I can use my Paper UI replacement to make a rule fully graphically to send sms on certain triggers. So I like this idea.

[2019-04-07 16:13] davidgraeff commented on #5005
Eclipse has a bug currently with maven and bnd that ends up in an endless re-build. That was discussed in multiple places so it's not part of the above list (but probably should be). You need to disable automatic rebuild in Eclipse for the moment.

[2019-04-07 16:34] J-N-K commented on #5420
Perhaps @lolodomo can show what the request looks like and this can be done with the HTTP binding?

[2019-04-07 16:40] davidgraeff commented on #5420
But is there no api key and rate limiting involved that would require a queue to not hit the quota etc? That's what I would expect to be handled by such a binding

[2019-04-07 21:50] bodiroga commented on #5259
Hi @davidgraeff!

At first I didn't understand @blademckain's commet very well, but I think that, at least, it makes some sense. Why are MQTT generic binding packages named "org.openhab.binding.mqtt" and not "org.openhab.binding.mqtt.generic"? That could explain why the binding is confused trying to import "org.openhab.binding.mqtt.TransformationServiceProvider". Same thing can be applied to Homie

[2019-04-07 23:25] davidgraeff commented on #5259
I'm not sure yet what the issue is. There are unit tests that run through and only one integration test (summer time related) is failing.

Those tests require the same classes to be present.

[2019-04-08 03:00] wejgomi commented on #1665
Is this reintroduced with 2.4.0 ? I'm having exact same problem with repeat key presses, trace output looks fine with no visible errors.

Also happens on 2.5.0 M1, seems to be working better with 2.5.0 Snapshot, any fixes introduced with latest build for this ?

[2019-04-08 03:12] wejgomi opened #5426 "[harmonyhub] Hub freezes on repeat key presses"
Harmony hub freezes and stops sending commands to devices when sending fast repeated commands(same/different) through interface or NEEO Remote on 2.4.0 build.

Steps to Reproduce
1. Add any Bluetooth/IR device connected to Harmony Hub to Openhab as a thing.
2. Configure item bindings and set buttons (cursor up/down etc) through interface
3. Repeat commands quickly for one/multiple devices
4. Hub i

[2019-04-08 05:13] blademckain commented on #5259
if you can compile the jars could you upload them and share them ???
I could also do some tests

[2019-04-08 05:38] blademckain commented on #5259
Hi @davidgraeff,
I don't know if this is the problem, but it seems that the "org.openhab.binding.mqtt" package **is physically divided** into 4 folders (mqtt, mqtt.generic, mqtt.homeassistant, mqtt.homie, ), but together they form the "org.openhab.binding.mqtt" package. It's a mechanism I've never seen, do you have links to java documentation for this?

And are you sure this method is supported by

[2019-04-08 07:25] davidgraeff commented on #5259
Yes that is supported, openHAB is an OSGi environment that supports dynamic loading of additional classes

[2019-04-08 10:00] bodiroga commented on #5005
Hi @mvalla!

Yeah, I can confirm that the bug exists on Windows, but I have no problem on Linux (Ubuntu 16.04).

[2019-04-08 10:06] J-N-K commented on #5005
Did you try to build once with maven on the command line? That solved it for me.

[2019-04-08 10:34] bodiroga commented on #5259
Hi again!

Here you have the .jar files I have compiled, although I'm not sure what's the best way to install them, because placing them in the "addons" folder ("/usr/share/openhab2/addons") has led to duplicate entries in the Thing screen. And if I uninstall the mqtt binding (the original one, from Paper UI), the mqtt transport bundle is uninstalled and I'm unable to install it again (no, the "fe

[2019-04-08 10:44] davidgraeff commented on #5259
The problem is two folded:

For one I had scope compile in the pom.xml which I just recently removed and replaced with scope provided. That caused every bundle to contain the full source code if I understood maven correctly.

And also the access modifiers are probably not correct. Everything in mqtt and mqtt.generic must be public if it is not in internal and so on. I'm not sure if the problem rea

[2019-04-08 11:04] bodiroga commented on #5259
Hi David!

I will stop mentioning you in my messages, because I don't want to make you feel pressed about the issue :wink:  I know that you are focused on other openHAB stuff and my only goal is to dig in the problem and see if I can fix it myself. So, from now on, you can ignore my messages until you have time for the MQTT binding :+1:

I'm working with the latest code of the binding, where the s

[2019-04-08 11:52] davidgraeff commented on #5259
@bodiroga It doesn't hurt to have them in different packages. Can you prepare a PR?

[2019-04-08 11:59] bodiroga commented on #5005
Has anyone tried to create a Thing or an Item using the demo.app provided by @maggu2810? After pressing the "Run OSGi" button, openHAB starts fine and Paper UI loads correctly, but I'm not able to create an Astro binding Thing. I have imported the astro binding project and updated the demo.app's pom and app.bndrun files. The binding appears correctly in Paper UI, but I get a "ERROR 503 - Service u

[2019-04-08 12:55] davidgraeff commented on #5005
The openhab core integration tests are not yet enabled (see https://github.com/openhab/openhab-core/issues/698).

And I'm pretty sure that with updating all the dependency libraries that the openHAB core is currently in a broken state that is only fully resolved when all tests run through again. See also: https://github.com/openhab/openhab-core/issues/699 where I find that metadata cannot be used

[2019-04-08 15:45] bodiroga commented on #5259
Done: #5259! :+1:

[2019-04-08 16:48] maggu2810 commented on #5005
Will be solved by openhab/openhab-core#702

[2019-04-08 16:57] maggu2810 commented on #5005
It works for me.
Using the current demo app, there is no thing shown but an empty thing list is returned.
I added the magic bundle (as the demo.things uses it), resolved the app and started it. Three things are shown (defined in the demo.things) in the Paper UI.

Are you aware that "resolv" does not work as long as DS requirements are disabled in openHAB Core?
My openHAB Core always contains this

[2019-04-08 17:51] #5422 closed

[2019-04-08 19:53] mythbai commented on #5051
I have a HS300 too, and would appreciate the support for it. I can help with the test as well.

[2019-04-08 21:27] davidgraeff commented on #4602
Done in #5243

[2019-04-08 21:31] euphi opened #5431 "[MQTT Binding] Manual configuration not described in https://www.openhab.org/addons/bindings/mqtt/"
The documentation (based on README.MD) of the MQTT bindings lacks a description of how to configure an MQTT thing with a .thing text file (https://www.openhab.org/addons/bindings/mqtt/)

Textual thing configuration of a (generic) MQTT thing  is only possible by making some gueses based on the general configuration help, e. g. in https://www.openhab.org/docs/configuration/things.html

[2019-04-08 21:35] mvalla commented on #5005
yes, I disabled automatic rebuild in Eclipse.
Then continued to steps 5-6-7-8 of *How to develop in the Eclipse IDE* list.
But a step *9. Execute with "Run OSGi"* i get many errors listed in a Launch Problem window:

[code]

I also did a  `mvn clean install -DskipChecks` from the `astro` project folder.
It did compile successfully but still cannot start OH2 within Eclipse from the Run OSGi button

[2019-04-08 21:37] davidgraeff commented on #5431
See https://community.openhab.org/t/mqtt-2-x-why-the-easy-way-when-you-can-have-it-complicated/71332/9?u=david_graeff

[2019-04-08 21:56] euphi commented on #5431
Ok, you meant https://github.com/openhab/openhab2-addons/blob/master/bundles/org.openhab.binding.mqtt.generic/xtend_examples.md ?

I'll try some configuration - but I guess I will have furthe questions ....

[2019-04-08 22:44] anthonygillet opened #5432 "[homekit] HomeKit add-on fails on startup with JmDNS error"
HomeKit binding fails upon binding startup with the following exception trace.  This is repeated many times in the log.  The bundle remains in the "Waiting" status, the server never starts.

One of the exceptios is java.lang.NoClassDefFoundError: javax/jmdns/JmDNS.  Recent commit #4920 seems to have touched JmDNS in the manifest, could that be related?

[code]

[2019-04-09 09:56] AdamKamizelich commented on #3647
What is the current status? Any plans for any fix introduction? My Azure Iot Hub Connector in OpenHAB in v2.4.0 has exactly the same issue.

[2019-04-09 12:06] davidgraeff commented on #5431
Closing for now. I'm in contact with the web team and also created an issue here and on core already to consider example markdown files.

[2019-04-09 12:06] #5431 closed

[2019-04-09 14:31] skydiverscott opened #5437 "[rfxcom] Add Support for Inexpensive 433Mhz Motion Sensors"
Please add support for the inexpensive PIR Motion sensor from China I purchased here:
https://www.amazon.com/gp/product/B073WTR8PW/ref=oh_aui_detailpage_o00_s01?ie=UTF8&psc=1

I am running Openhabian (fully patched and updated as of 4/7/2019) on a RP3B.  I have a RFXCOM Trx433E with firmware version 1038 running on it.

I have been working on getting these device working on OH3 for over a year now

[2019-04-09 18:06] anthonygillet commented on #5432
See https://community.openhab.org/t/homekit-the-unsetitemregistry-method-has-thrown-an-exception/70942/2 for some more information.

This is with build 1566.

[2019-04-09 21:20] mvalla commented on #5005
Ok now I am at the point that:
- `openhab2-addons` and `openhab-demo` projects are updated from upstream
- I have modified `app.bndrun` and `pom.xml` of project  `openhab-demo` to include `astro` binding
- I can compile with `mvn clean install -U` both the `openhab-demo`  and the `astro` projects
- I can start OH2 (Run OSGi) ,  PaperUI loads
- **unfortunately** the astro binding does not show up u

[2019-04-10 08:48] aluedt opened #5440 "[netatmo] REFRESH command from BaseThingHandler leads to loads of getstationsdata requests during startup"
In typical applications during the startup/initialization phase lots of channel links are set up. For Netatmo devices this leads to lots of getstationsdata requests, one for every single channel linked.

The problem is the following:
The standard behavior of BaseThingHandler.channelLinked(ChannelUID) is to invoke a REFRESH command for the newly linked channel. This is overridden by AbstractNetatmo

[2019-04-10 12:54] maggu2810 commented on #5005
You don't need to modify the `pom.xml` of the app. It already contains the addons BOM:
https://github.com/maggu2810/openhab-demo/blob/8dd5982/app/pom.xml#L41-L47

Can you point me to your modification of the app.bndrun?

Normally you add the requirement to `runrequires` and start the Bnd resolver.
The resolver will add the bundles that fulfil the requirements to `runbundles`.

I'm afraid to repeat

[2019-04-10 13:38] J-N-K opened #5442 "Builds fail in logreader"
Since today all builds fail while compiling logreader. This is happening for Travis, Jenkins and in my local builds.

[code]

This constructor is the reason why the commons.io-library is included in the binding since it is not merged upstream and Eclipse is able to resolve it.

[2019-04-10 13:53] davidgraeff commented on #3647
Maintainers here are not responsible to keep addons working.
Only the initial binding contributor or any other interested party will fix this.

[2019-04-10 13:59] adamkamizelich commented on #3647
Thanks for the info.

@nikotanghe could you provide me more information about eventually fix?

[2019-04-10 14:40] nikotanghe commented on #3647
The main problem with this issue back then was the maturity of the Azure IOT java library. This bug was fixed in a later version of the library that used in the binding. But unfortunately I wasn't able to upgrade the library and make it work due to various issues and things that were refactored.
However, this was 1 year ago, maybe I can try again.

[2019-04-10 14:46] adamkamizelich commented on #3647
It would be great :) Thanks for the support.

[2019-04-10 15:02] blademckain commented on #5259
Has the correction already been released?
I have openHAB 2.5.0 ~ S1566-1 (Build # 1566) but the error persists

`Caused by: java.lang.ClassNotFoundException: org.openhab.binding.mqtt.TransformationServiceProvider cannot be found by org.openhab.binding.mqtt.generic_2.5.0.201904040210`

[2019-04-10 15:51] bodiroga commented on #5259
According to [this](https://openhab.jfrog.io/openhab/openhab-linuxpkg/dists/unstable/main/), the latest snapshot version was released 6 days ago (April 4), so no, your snapshot doesn't include the changes 😢 We have to wait until the next release 👍

[2019-04-10 16:05] maggu2810 commented on #5442
This explains why I did not found it in the current master of `commons-io`.
Can you point us to the relevant PR that adds the function?

[2019-04-10 16:09] J-N-K commented on #5442
Issue: https://issues.apache.org/jira/browse/IO-279
PR: https://github.com/apache/commons-io/pull/40

[2019-04-10 16:17] maggu2810 commented on #5442
As long as this merge request is not accepted upstream, wouldn't it be much simpler to check in the modified Tailer.java file in a custom package instead of bundling the whole commons-io library using some strange addjars mojo?

[2019-04-10 16:28] mvalla commented on #5005
Ok since resolve does not work I added manually to Run Bundles:
`org.openhab.binding.astro;version='[2.5.0,2.5.1)'`
and now the Astro binding is loaded.

**New problem**: if I modify the code in Astro (added some logs) > added breakpoints > compile > Deubg OSGi
the execution actually stops at the breakpoint, but no source code is open for the breakpoint (Surce not found).
How can I connect source

[2019-04-10 16:37] J-N-K commented on #5442
As far as I can see we only use the `ignoreNew=true`, can't we just inherit a new `OHTailer` from `Tailer` and override the `public void run()`?

[2019-04-10 16:38] maggu2810 commented on #5005
Add the source code location "workspace".

[2019-04-10 16:40] maggu2810 commented on #5442
Is it a question for @paulianttila (codeowner)?
I personally don't know why it has not been done this way.

[2019-04-10 17:06] mvalla commented on #5005
ok it works well now, thanks.
the most annoying thing right now is that "Build automatically" cannot be used...

[2019-04-10 17:10] maggu2810 commented on #5005
If you are using a window machine it would be great if you could dig into.
If you cannot fix it yourself it would be already a step forward if it is reported to the correct upstream project.

The problems you have had and are now solved by my answered should be perhaps added to the first comment. If you are willing to "create a diff", I am sure some maintainer (or me) will edit the first comment a

[2019-04-10 17:34] paulianttila commented on #5442
Initially, just modified Tailer class (+ TailerListener and TailerListenerAdapter) was included the binding. During code review I changed it jar.

[2019-04-10 21:25] mvalla commented on #5005
yes I took notes of the followed steps so far and can provide an updated guide for Win.

Now run in a new issue:
tried to run rfxcom binding, added `transport.serial.*` to RunRequirements/RunBundles but bundle cannot be started:

`! Failed to start bundle org.openhab.core.io.transport.serial.rxtx.rfc2217-2.5.0.201904100325, exception Could not resolve module: org.openhab.core.io.transport.serial.r

[2019-04-11 04:51] maggu2810 commented on #5442
So, back to the roots. :wink:

IMHO the class(es) should be added and you should not use a subclass that inherits `Tailer`.
The specific commons-io implementation is not in your control and nobody knows if it will still work if a runtime uses 2.8 some time...
So, add the class(es) in a specific package again (if the maintainer agree) and add a message to its header that contains the links above an

[2019-04-11 07:42] Spera15 commented on #5005
Hi!
I followed the steps indicated in the first post and managed to run the demo app, but there still are some issues that I cannot solve.

1) The logger doesn't work: I get 3 red warnings about the lack of an appender and that log4j is not properly configured (same as in the picture in one of lolodomo posts). I spent some hours trying to figure out how to configure it with no results. I need to u

[2019-04-11 09:11] Jonathan124 commented on #4205
Hello @kottle , can you send me some hints on how you control comelit simplehome lights on openhab? (binding) thanks a lot

[2019-04-11 11:55] dbadia commented on #5162
I see consistent JVM crashes on windows due to the nrjavaserial issue with Java 11 (NeuronRobotics/nrjavaserial#131) as mentioned by @wborn.  I am working on the zwave addon

Is this problem being tracked in a different issue as this one is closed?

[2019-04-11 12:00] wborn commented on #5162
There's also a https://github.com/openhab/openhab-distro/issues/768#issuecomment-446794070 for this. That's the overarching issue to fix issues encountered while running openHAB with Java 11.

[2019-04-11 12:22] Misiu commented on #5442
[The PR](https://github.com/apache/commons-io/pull/40#issuecomment-482089524) @J-N-K  mentioned won't get merged, because of missing tests and broken build.
I'm not a Java expert but if someone could look into this then new PR can be created and this can be fixed in commons-io

[2019-04-11 14:10] basse04 commented on #5005
I do have some Warnings at startup, are they something to be worried about or will they hopefully disappear when the system-change is finished, if someone has it likely or know about what to do it will be great
BR Basse

"
Welcome to Apache Felix Gogo

g! 15:28:59.928 [nfig-1-thread-1] WARN  o.o.p.w.u.ServletContainerInitializerScanner:136 - failed to parse and instantiate of javax.servlet.Servlet

[2019-04-11 15:55] J-N-K commented on #5442
IMHO the original library should never have been merged.

[2019-04-11 16:46] c6fc commented on #5051
Another project seems to have had a lot of luck developing support for the HS300, and it's currently licensed MIT: https://github.com/plasticrake/tplink-smarthome-api/

The API documentation would probably shed a great deal of light on the questions you have about how the device behaves: https://github.com/plasticrake/tplink-smarthome-api/blob/master/API.md

[2019-04-11 18:00] tmrobert8 opened #5446 "[sonyaudio] usb"
Is @freke still around?  I've now integrated the sonyaudio fully into the sony plugin (and it could actually be deprecated now).  However - I have some questions that I hoped he might help with.  The biggest is when you try to switch to a USB input [storage:usb1], the API returns successfully but the input is never switched (test bed was with my HT-NT5 and with my DN1080 - didn't work on either).

[2019-04-11 22:29] digitaldan commented on #5426
Thanks for the report, i'll take a look at this over the weekend.

[2019-04-12 06:10] nokia001 opened #5447 "[boschindego] IndegoInvalidCommandException: The request failed with error: HTTP/1.1 500"
Hello,

this error happens, when the command change to 1=Mow.

[code]

Operation System: Gentoo
Openhab2.4

[2019-04-12 09:49] pansk commented on #4205
I'm still interested (sorry, for some reason I missed the notification back in november), do you already have your code on a fork/branch here on github?
I'm available to help in preparing a PR for this repo, if you need it.

[2019-04-12 11:00] #5442 closed

[2019-04-12 11:18] maggu2810 commented on #5005
@mvalla Would be great if you can enhance the documentation and create a PR for https://github.com/maggu2810/openhab-dev-doc/blob/master/maven-bnd.md

[2019-04-12 11:58] m4rky-m4rk commented on #4249
I like the idea of a Mobile_Alerts binding but you if your impatient you can also do it without the binding while waiting. See this thread:

https://community.openhab.org/t/mobile-alerts-and-openhab-2/21444

There I and others posted examples of how to get into Openhab items using the sensor web page cache and or API call for the 'pro' devices: rain gauge, wind sensor etc

[2019-04-12 12:28] mvalla commented on #5005
ok will do.

Any hint about resolving lib dependencies like in the case of `gnu.io` and `javax.comm` for the `org.openhab.core.io.transport.serial.*` bundles ?
I am stuck there, [see previous comment](https://github.com/openhab/openhab2-addons/issues/5005#issuecomment-481871406)

[2019-04-12 13:23] maggu2810 commented on #5005
An implementation needs to be present at runtime.
Show in the long run they needs to be added to the runtime BOM, for the time being you could add it with scope runtime to the app's POM.

I will do it some time, but no time ATM.

[2019-04-12 14:14] freke commented on #5446
Still around, lots of other things right now...
Using the USB storage functionality is not recommended to do via the Audio API it is an old implementation that is not working reliable on all devices and is a bit messy in best cases. To access the music on usb (or other media servers) it is better to use the DLNA API. https://developer.sony.com/develop/audio-control-api/get-started/browse-dlna-file

[2019-04-12 14:48] tmrobert8 commented on #5446
Thanks - that may be a future step.  I can use the API to browse the USB content and actually play the content (which switches the input as a side effect) - but just can't seem to select the USB directly (even with your plugin - trying to hit the "USB" button does nothing).

A few other questions if you don't mind:
1. The notifications (events) all seem to come back with version "1.0" even if they

[2019-04-12 17:24] mvalla commented on #5005
@maggu2810 I do not understand: since it's needed by `org.openhab.core.io.transport.serial.*` (which is needed in turn by the rfxcom add-on) why `gnu.io` is not already part of the tree of dependencies ?

In any case I added the dependency to demo.app pom.xml:

[code]

but nothing has changed, error:
[code]

[2019-04-12 17:27] davidgraeff commented on #5005
Markus is talking about a commit similar to this one:
https://github.com/openhab/openhab-core/commit/9630a7eb1a8b51c0bd5995164c03efb11db136df

Every dependency like gnu.io need to be added to this bom file. Because openhab core is not yet in a state to ship, a lot of those dependencies are not yet in there.

[2019-04-12 18:34] mvalla commented on #5005
Ok but since in my dev env I am not using openhab-core source checkout , and since Markus suggestion to include the lib to demo.app pom did not work, is anything I can do meantime ?

or I must now wait for gnu.io to be added to the BOM of openHAB-core ?

[2019-04-12 18:41] davidgraeff commented on #5005
Try to use scope provided as suggested by Markus.

The core bom file is included in your demo pom.xml file if you look closely. So yes the error will go away a few days after the merge and when your local cache has refreshed.

[2019-04-12 21:00] digitaldan commented on #5426
@wejgomi , i misread your post.  There was a substantial rewrite to the binding which is what is available in the 2.5 snapshot.  I can confirm this issue does not seem to be present in this newer version.  Its possible the 2.5 version of the binding may work in your 2.4 setup, but i have not tried that.

[2019-04-13 09:23] mvalla commented on #5005
neither scope provided or runtime work if added to demo.app ...

So I checked out openhab-core, added nrjavaserial and javax.comm (which needs to be installed manually from Oracle, is not available in public repos) to `openhab-core\bom\runtime\pom.xml`
then did `mvn clean install openhab-core` --> OK
then did `mvn clean install demo.app` ---> still ERROR:

`
[ERROR] Failed to execute goal biz.aQut

[2019-04-13 10:05] maggu2810 commented on #5005
I don't understand your statement.
Where do you want to ship the framework?
The openHAB Distribution (that's the one that is shipped AFAIK) is using Karaf and does not use the `runtime` POM at all.

Did I? The scope depends on what you want to do. For runtime support only, provided is not the correct one.

You do not need to wait, you can all the time add the runtime stuff you need yourself in you

[2019-04-13 14:18] guyou commented on #5420
@lolodomo is certainly right: creating a binding for this use case is certainly overdesigned.

I imagined that a dedicated binding can simplify a lot the usage of such service. In my idea, the binding can ack like the http binding:
- in one hand I define Things to pack the different credentials
- in an other hand, I use these things as ouput

For example, first creating the things:
[code]
Then, cr

[2019-04-13 16:08] guyou commented on #5420
At the opposite, how should I design the binding in order to be able to create rules like the following:
[code]

Any help appreciated.

[2019-04-13 16:57] freke commented on #5446
The USB is something that is phased out and I can't get it selected ether without starting a playback.

1) I think most if not all of the notifications messages are version 1.0 and the version number is actually for the message it self not the API, it is a bit confusing. There is a second version number that is for the API it self, that is updated every year, but that only defines what versions of

[2019-04-13 18:41] mvalla commented on #5005
I (re)started with a clean situation (Eclipse fresh install) and now I am stuck at a point [already seen](https://github.com/openhab/openhab2-addons/issues/5005#issuecomment-480801993) by @bodiroga where:
- PaperUI starts
- Astro & RFXCOM bindings are loaded (added manually gnu.io to demo.app pom.xml as suggested my @maggu2810 )
- but `http://localhost:8080/rest/things` returns `HTTP ERROR 503 Ser

[2019-04-13 19:44] stritti commented on #5259
Just to note: today is a new snapshot available 🥇

[2019-04-14 05:28] seime commented on #5005
I resolved this by

1. checkout openhab-core
2. apply the change by @maggu2810  https://github.com/openhab/openhab2-addons/issues/5005#issuecomment-480914380
3. relaunch openhab

[2019-04-14 07:23] mvalla commented on #5005
thanks but did not work for me. what i did:
- checkout openhab-core
- apply the change by @maggu2810 #5005 (comment)
- openhab-core : mvn clean install -DskipChecks -DskipTests -U
- deom.app : mvn clean install -DskipChecks -DskipTests -U

still.... /rest/things gives HTTP ERROR 503

thanks all for the help and suggestions, but after several hours I give up (I was almost there!): bindings developm

[2019-04-14 11:03] #4916 closed

[2019-04-14 14:58] staehler opened #5456 "onewire: handler was already disposed"
Hi,
I migrated from onewire1 to onewire2 today (OH Version 2.5.0~S1566-1 on debian stretch). Now my log is flooded with this messages:
[code]

The items are linked to the things but I don't see updates on the items.
What can I do? Step back to onewire1?

[2019-04-14 15:14] J-N-K commented on #5456
Did you try restarting OH?

[2019-04-14 15:19] staehler commented on #5456
Yes some times. Few minutes ago I restarted again, now the messages vanished. Very strange.
I close this issue and thanks for your very quick reply. As lots 3 restarts didn't help I opened this issue. The forth restart helped me now ...

[2019-04-14 15:19] #5456 closed

[2019-04-14 16:18] guyou commented on #5420
I have a code working: https://github.com/guyou/openhab2-addons/tree/freemobile-sms

I still not yet created a pull request (because I still have some things to clean), but comments are appreciated.

[2019-04-14 22:42] bodiroga commented on #5259
I can confirm that the fix works :heart:  But you should wait until the next snapshot version, because the one from 13-Apr-2019 has a bug with the database serialization and the things are not persisted between reboots!

Thanks to everyone for your contributions!

[2019-04-14 23:03] col1958 commented on #3806
@navybk: have you had time to work on this project? I think a new binding on the line of the netatmo energy app would be a great idea. I have a new relay+ smart valve system with no thermostat. Happy to help for what I can.

[2019-04-15 06:56] BOFH90 opened #5461 "[homematic] Support HmIP-MOD-TM (Garage Door Module)"
Please add support for HmIP-MOD-TM (Garage Door Module)

More Information:
https://files.elv.com/Assets/Produkte/25/2502/250204/Downloads/250204_hmipmodul_um.pdf
https://www.elv.de/homematic-ip-funk-modul-fuer-novoferm-und-tormatic-antriebe-ab-baujahr-2016.html?refid=

[2019-04-15 11:45] Brmm commented on #4205
I'm also interested. Anyone know what kind of API or protocol is used on Comelit devices?

[2019-04-15 12:00] Jonathan124 commented on #4205
would be very interesting to control Comelit Simplehome on Home Assistant as well :) ... anyone knows something? Desperately trying to find a solution... but I am not very good at coding and fairly new to this :(

[2019-04-15 13:49] pansk commented on #4205
@Brmm I fear the protocol is proprietary, but I managed to have some specs by sniffing the serial/ethernet and by disassembling the tools coming from Comelit. I have some of their basic libraries, stripped of proprietary licenses (DevXPress), working on my machine.
Note that this is perfectly legal in Italy: the law allows you to reverse engineer something to work WITH it, but not to replace anyth

[2019-04-15 21:09] Brmm commented on #4205
Hey @pansk I'm still choosing a home automation system and will definitely do the same things you did if I decide on Comelit ;-) can you tell me some technical details? I'm currently only interested in flipping the switches and not stripping their clients. If I can talk to the API I can build my own interface.

I also found this but it seems a bit hacky. https://github.com/fafoulon/homebridge-vedo

[2019-04-16 07:10] lolodomo opened #5466 "Add Rotel Audio Equipment Binding"
I am developing a new binding to control Rotel audio equipments that are using the RS232 HEX or ASCII protocol.

Control will include power on/off, volume adjustment, bass/treble adjustment, selection of source, ...

[2019-04-16 10:57] rancor187 commented on #4756
True, I experienced the same issue.

[2019-04-16 16:19] J-N-K opened #5468 "Travis builds time out"
Since the karaf upgrade to 4.2.4 Travis fails in nearly all builds. Build is quite quick but feature verification takes too much time.

I tried downgrading karaf in addons to 4.2.1 or upgrading karaf-maven-plugin to 4.2.4 but neither did help.

[2019-04-16 19:19] wborn commented on #5468
I've seen such [timeouts happen](https://travis-ci.org/openhab/openhab2-addons/builds/514709371?utm_source=github_status&utm_medium=notification) a few weeks ago already. For some reason it's sometimes slow. Maybe it's also due to downloads taking longer? There have been several builds of the master that were [successful](https://github.com/openhab/openhab2-addons/commits/master) after Karaf was u

[2019-04-16 19:26] lolodomo commented on #5420
As the question was asked, here is how I am sending a SMS from a rule:
[code]

[2019-04-16 20:39] kaikreuzer commented on #5468
On Jenkins, the times do not show any unexpected changes since the 4.2.4 upgrade: https://ci.openhab.org/job/PR-openHAB2-Addons/buildTimeTrend

[2019-04-16 21:13] wborn commented on #5468
[This recent PR build](https://travis-ci.org/openhab/openhab2-addons/builds/520949676) was completed by Travis in 32 minutes. :hourglass_flowing_sand: :clock1030:

[2019-04-16 22:55] bodiroga opened #5469 "[mqtt] Homie channels lose their unit and other information after an openHAB restart"
Hi @davidgraeff!

I've found that, after restarting openHAB, Homie channels lose their 'secondary' information (the information provided by the 'property' attributes). I've been digging in the code and the reason for this is that, even if the channel is correctly created, the channel-type doesn't exist after the reboot! The channel (and the item) continues to receive the information, because the m

[2019-04-16 23:44] davidgraeff commented on #5469
I have the feeling there was a reason for having both methods. So yes, going with solution one is also my preference.

Thanks for the catch.

I thought I had covered everything by test cases, but I now it does come to my mind that I never simulated a node/property restore from channel configuration so didn't catch this behavior.

[2019-04-17 00:00] davidgraeff commented on #5277
You want to increase the "zones", I guess?
I'll make a PR for this, but I do not have all the required hardware here to test it, so we might need some iterations for it to work.

[2019-04-17 00:04] davidgraeff commented on #3418
I think that's fine for bindings as long as the user knows of it upfront. Can this be added to the readme?

[2019-04-17 00:05] davidgraeff commented on #3426
I think that was probably by accident. awt in a gui less bundle?

[2019-04-17 00:07] davidgraeff commented on #3425
Closing as invalid. `javax.xml.bind` is no longer part of the JDK (starting with Java 9 I think) but a separate EE library. bindings are allowed to link to external libraries without restrictions.

[2019-04-17 00:07] #3425 closed

[2019-04-17 01:15] J-N-K commented on #5468
Closing this for now.

[2019-04-17 01:15] #5468 closed

[2019-04-17 01:23] #3418 closed

[2019-04-17 06:49] BOFH90 commented on #5461
All Channel seem to work flawlessly. Only the Description need to be added to the Binding:
"No Description (HmIP-MOD-TM)"

[2019-04-17 08:17] #5432 closed

[2019-04-17 09:26] wborn commented on #5468
I also contacted Travis support if there were any known issues causing  slowdowns.
There weren't any and there wasn't anything unusual with our build setup.
To prevent future issues, they've increased the build timeout for this project to 90 minutes. :+1:

[2019-04-17 09:30] J-N-K commented on #5468
Thats Great news!

[2019-04-17 11:08] #5469 closed

[2019-04-17 11:14] pavel-gololobov opened #5473 "[xmppclient] Not all dependencies are automatically resolved"
## Expected Behavior
1. Install XMPP Client Binding from online Add-ons repository from Paper UI.
2. The binding and all its dependencies are installed and ready to work.

Correct list of bundles:

[code]

## Current Behavior
1. Install XMPPClient Binding from online Add-ons repository from Paper UI.
2. Binding is installed, but not all of its dependencies.

Incorrect list of bundles:

[code]

Mis

[2019-04-17 14:38] maggu2810 opened #5474 "build should be broken by modbus binding"
The modbus binding depends on the modbus transport

https://github.com/openhab/openhab2-addons/blob/51f1be2/bundles/org.openhab.binding.modbus/pom.xml#L17-L18

[code]

the current GA of the transport is

https://github.com/openhab/openhab2-addons/blob/51f1be2/bundles/org.openhab.io.transport.modbus/pom.xml

[code]

The CI builds should not use old addon coordinates.
This will hide such wrong refer

[2019-04-17 15:25] skydiverscott commented on #5437
I would be willing to pay a small bounty to someone to help resolve this provided they walk through how that identified the data that needed to be accommodated and the changes necessary to implement them in Openhab

[2019-04-17 16:18] logos37 commented on #5281
@lewie: I have a similar problem as described by cguedel. However I'm not 100% sure if root cause is sam as of cguedel.
However,  my issue fits 100% to the issues described in the links of knx-forum.de, you referred to, especially when I look at the logs of the users there (a log of my system is attached for reference, i.e. "log.txt").
One comment to your statements, if I may: As I see it, the use

[2019-04-17 17:06] ssalonen commented on #5347
The related openhab1 issue https://github.com/openhab/openhab1-addons/issues/4931

As discussed in the old binding issue, this is issue with the device, not the binding. Workaround has been discussed there as well.

[2019-04-17 17:28] ssalonen commented on #4490
As discussed here, profiles might be elegant solution when reading data, however not suitable for writing (pointed out by @JonasMH ) as far as I know?

[2019-04-17 17:32] davidgraeff commented on #4490
MQTT and Modbus are using transforms for input and output (unfortunately that means converting to java String back and forth). The coming http 2 binding is also using transformations that way, so I do not see a reason why the knx binding would not use transformations as configuration parameters for channels.

[2019-04-17 18:57] J-N-K commented on #5468
Do you think we can re-enable tests for Travis?

[2019-04-17 19:17] IrisCrimson opened #5476 "[modbus] 2.4 binding crashes during swap float32"
modbus stops reading registerdata

modbus 2.4

Here the error trace:
[code]

## Expected Behavior

If the readed register does not contain valid data, or it could not be read by any reason,
the binding should be robust against such corruped data. Right now the thread is crashing and reading of the registers is stopped.

catch the error and try it again next cycle.  After e.g. 10 invalid reads in a

[2019-04-17 21:02] #5474 closed

[2019-04-18 07:53] mueller-ma commented on #1986
It's possible to create issue templates (one for each binding) and add a label to this template. If a user creates an issue with a template, the label is auto assigned. It's also possible to add assignees.

[2019-04-18 15:56] Pirx99 opened #5484 "[knx] Wrong device status. It's OFFLINE, while it is working."
## Expected Behavior
The status should be ONLINE, because the devices are working properly

## Current Behavior
The binding sets the KNX-Bridge to ONLINE and all devices to OFFLINE despite the fact that the general communication with the devices are working without any issues.  I've set the DEBUG level, but was unable to find any bad entries.

## Possible Solution
No idea!

## Steps to Reproduce (

[2019-04-18 19:55] flodorn opened #5486 "[tesla] Binding errors"
## Current Behavior

Binding installs fine, but after adding my model S as a thing, I'm getting the following error output in my log:

Error pops up every minute or so.

This Warning also shows up once in a while:

Same problem when I add my Model X.

I tried uninstalling and reinstalling the binding, adding and removing cars, still same issue.

The binding actually works, but my log gets clotted

[2019-04-18 21:13] udo1toni commented on #5281
In fact, there are others (like me) which use Weinzierl 730 knx/IP Gateway, and saw postings from users  which use knxd (only openHAB knx2 stops working, knxd is still online...)

[2019-04-19 08:40] leandrolanzieri commented on #4574
This worked for me!

[2019-04-19 08:40] logos37 commented on #5281
To my understanding, Weinzierl 730 knx/IP Gateway and SCN-IP000.01 are the same devices (SCN-IP000.01 is a white labeled Weinzierl 730). I.e. mostly users with these devices seem to have this issue

[2019-04-19 09:08] logos37 commented on #5281
One last comment from my side: I only have this issue since adding a few more devices (i.e. 4 pcs) to the knx bus (similar to the situation of cguedel). The system runs on OH2.4.0 stable (with knx 2.4.0). Before adding the new devices, I had no brake downs at all for month on 2.4.0. Now I have 1-2 brake downs every day. This is really annoying since OH is hardly usable in this condition.

I hope t

[2019-04-19 12:41] philipparndt commented on #2359
In the mean time Miele released an official API for the Miele@home web service (https://www.miele.com/developer/).
With this API it is possible to access the devices. I have implemented a Miele@home to MQTT gateway in order to connect my Miele dishwasher to openhab (https://github.com/philipparndt/miele-to-mqtt-gw) the effort writing a openhab add-on for this should not be too big.

[2019-04-19 14:06] Hilbrand commented on #5051
@babela, @mythbai  and @c6fc I've create an initial version supporting HS107, HS300, KP200 and KP400. The binding is available through the Eclipse IoT marketplace and can thus be installed from PaperUI when the MarketPlace is enabled in PaperUI -> Configuration -> System with Maturity Level Beta.

Let me know what works and what doesn't. If you are experiencing problems please enable log level TRA

[2019-04-19 16:20] jaywiseman1971 opened #5487 "WeMo Devices Changing Ports"
<a alt="bounty" href="https://www.bountysource.com/issues/73078259"><img src="https://api.bountysource.com/badge/issue?issue_id=73078259"></a>

I've been running 15 WeMo devices for 10 months now with OH2.3, 2.4 and 2.5m1 and the same situation continues to happen with port changing.

WeMo plugs seem to have the biggest issue with port changes over a time period which causes OH not to update thing

[2019-04-19 16:29] wborn commented on #5487
Thanks for adding the bounty!

[2019-04-19 18:23] tomeng opened #5488 "[mqtt] Subscribe not working with whitespaces and/or parentheses"
As requested by @davidgraeff on [How to debug MQTT2 Binding issues?](https://community.openhab.org/t/how-to-debug-mqtt2-binding-issues/70098/8)

It seems that MQTT subscribe is not working for topics that either contain whitespaces and/or parentheses.

In my example, debug log showed that the channel received an update
`2019-04-16 13:25:57.909 [DEBUG] [mqttv3.internal.wire.MqttInputStream] - null:

[2019-04-19 20:37] yapbreak opened #5489 "[tradfri] Bridge goes offline since Gateway 1.8.25 update"
Since latest Tradfri gateway update, bridge goes offline even after Openhab restart.

## Expected Behavior

Gateway should be online!

## Current Behavior

When I start Openhab, I get error regarding Tradfri bridge connection. In events.log file, I get message like this:

[code]

I did not find any other relevant log files or information! Feel free to ask me anything else that could help. Note tha

[2019-04-20 09:00] lolodomo commented on #5466
I have now my cable and I was able to test my binding. It works well even if I still have to improve the detection of the device going OFF or in standby.
I will add the ability to select DSP modes too.

The way the protocol is defined makes it dependent on what the device displayed on the front panel, for example "VOLUME 45" when the volume is changed. So I will not be able to guarantee that the b

[2019-04-20 12:18] FlipFlap3 commented on #5489
When using the things file to add the gateway, the gateway will go offline.
Using paperUI and autodiscovery however does result in the gateway being online.
the items file can however still be used.

[2019-04-20 14:05] LightIsLife commented on #5489
Just some additional info:
The identity code changes every time the bridge is added to OH2 and hence, it seems impossible to add through text files only (e.g., copying identity code from PaperUI, deleting file and using old identity code in text file).
As a side node, if one tries to add it through the text files only with an invalid identity code, it seems to also knock out the TP-Link binding; a

[2019-04-20 20:20] yapbreak commented on #5489
Thank you for your hints. I switch back to a "paperUI" bridge configuration and it seems to work much better!

[2019-04-21 14:42] thedannymullen commented on #5489
I disagree with this statement and have not seen this  behavior.    Can you site what steps taken to get the ID to change?

I do agree though that the text file config needs some patching due to new firmware.

[2019-04-21 14:46] thedannymullen commented on #5489
See post: https://community.openhab.org/t/tradfri-1-8-25-offline-communication-error/72732/39

Several users with text files and no issues.  I have been online for several days across openhab restarts.

My proposal would be to make the text file behave like paper UI.  You add the code and behind the scenes everything gets done.  This way we don't need to go through a multistep process of adding th

[2019-04-21 14:54] LightIsLife commented on #5489
@thedannymullen I have performed the following operation three or four times
- delete bridge def from text file, restart OH2
- discover and add bridge through PaperUI;
- copy out Identity code and delete thing in PaperUI (mostly using the delete function in PaperUI, but once I simply deleted the whole jsonDB and its backups to see if that makes a difference)
- add newly received identity code in t

[2019-04-21 15:00] staehler opened #5495 "[yamaha] amplifier remain offline after openhab restart"
## description
My Yamaha receiver works as expected, when it is switched on during openhab restart. When the receiver is switched off, the receiver remains offline in openhab after an openhab restart.
A bundle restart solves this problem then.

At startup this messages are written to the log. After switching ON the yamaha amplifier nothing happens, till I restart the bundle. I fear this could be b

[2019-04-21 19:32] skydiverscott commented on #5437
I did some more data captures if rfxmanager and have confirmed that these devices ONLY send data when a motion event is occurring.  I cannot tell if they send any order data in the packet other than motion status (i.e. battery level).  This would appear to be something simple to setup for motion events except the issue of the command value 6.
My offer for a small bounty with some guidance as to ho

[2019-04-21 21:25] ssalonen commented on #5476
Can you please provide thing definitions and item definitions?

[2019-04-22 01:35] thedannymullen commented on #5489
You have to remove the code= statement and replace with identity and pre shared key.
See the example file in the post I linked to.

[2019-04-22 05:21] LightIsLife commented on #5489
@thedannymullen not sure what you are referring to but apparently I am being unclear. Just to avoid further misunderstandings, here my text file configuration for the Tradfri bridge thing
[code]
Kept the length of the token intact, masked some digits for privacy.
And it works...somewhat...e.g., here is what I have to do after a reboot to reconnect the bridge:
- take the bridge definition out of th

[2019-04-22 10:03] ssalonen commented on #5476
Based on stack trace I cannot think of anything else except registers having floating point number not-a-number or infinity. DecimalType cannot handle/represent these.

I think correct fix would be to use UNDEF in these situations.

[2019-04-22 10:52] ssalonen commented on #5476
Pull request submitted. Nan or infinity floating point values are translated to UNDEF.

[2019-04-22 13:07] ssalonen commented on #5372
I will have a look at this in the coming weeks.

In the meanwhile, are you able to reproduce the issue with other modbus server, e.g. diagslave?

[2019-04-22 17:46] IrisCrimson commented on #5476
Hi Sami

Sorry for my late response, had many family easter events....

Here the thing definition:

//starting from address 60 sensor data
	Bridge poller wago_slave3 [ start=12348, length=60, refresh=500, type="holding" ] {
		/* old binding config
tcp.slave3.connection=192.168.178.55:502
tcp.slave3.type=holding
tcp.slave3.start=12348
tcp.slave3.length=60
tcp.slave3.valuetype=float32_swap		 *
		 */

[2019-04-22 20:42] ssalonen commented on #5476
Thanks! If you can get verbose logs when the error happens, that would be great.

Regarding your proposal to have special retries with NaN/inf values, I respectfully disagree.

What we now have is just an oversight the way floating point special values are handled in the binding. Ideally we would like to pass NaN/infinity to channels even, but since that is not possible (DecimalType is designed to

[2019-04-23 17:25] tmrobert8 commented on #5446
@freke
One other thing - why don't we get playing notifications for DLNA type of source?  Shouldn't really be any different than USB source (just networked) and we get notifications for that.

Thanks,
Tim

[2019-04-23 19:11] Gardener74 commented on #4924
Gentlemen, I successfully installed the meteoblue binding with the latest stable version of OH 2.4.0. I downloaded all images from meteoblue as instructed, renamed the png files to e.g. "day-1.png", uploaded those 19 files from the png download to the openhab folder conf/icons/classic but still no image shown. What do I do wrong? There is simply no content.

[2019-04-24 08:05] mstjerna opened #5504 "[groheondus] Unknown response with code 404"
## Expected Behavior
When trying to add the "GROHE ONDUS Account" from the PapperUI i get:

[code]

I have tried using the per-packed version as well as the latest JAR files from GIT but the problem is the same:
org.openhab.binding.groheondus-2.4.0-SNAPSHOT.jar
org.openhab.binding.groheondus-2.5.0-SNAPSHOT.jar

## Your Environment
openhab2  -2.4.0-1

1x
SenseGuard
Firmware 01.15.z22.0400.0101

3x

[2019-04-24 08:28] staehler commented on #5495
This messages I get at openhab restart:
[code]
Is there nobody who can have a look at this?

[2019-04-24 08:38] staehler commented on #5495
Just more info:
After the openhab reboot, I just reloaded the yamaha bundle, then immediately the right thing is online

[code]

[2019-04-24 08:40] davidgraeff opened #5505 "[ALL] Abuse of core thread pool classes"
openHAB core allows to request a named `ScheduledExecutorService` via `ThreadPoolManager.getScheduledPool(name)` with a default of 5 idle threads.

A lot of bindings are requesting their own executor and are scheduling exactly one task at a time.

See https://github.com/openhab/openhab2-addons/search?q=ThreadPoolManager&unscoped_q=ThreadPoolManager

The average thread count per binding should be 1

[2019-04-24 12:28] J-N-K commented on #5222
I had a look how to combine those per-binding-feature files into a global addons-features file and it seems that the maven-antrun-plugin might do the trick. I can try that if you don't mind.

[2019-04-24 16:30] skydiverscott commented on #5437
I ran the device in a closed room with only two motion events.  It does not appear that the device sends any kind of update status while not detecting an active motion event,  I converted the data captures in RFXManager into a CSV attached here: https://srmservices-my.sharepoint.com/:x:/p/skydiver/EWo_B84xCrJNiWq3uMYm3zwBEGI8M-O67ooJdGDtrRx3ag?e=34ClLB

[2019-04-24 18:00] gbeine commented on #4498
I have the same problem here.

Worked around it with a Icinga event_command (sudo -u openhab ssh -p 8101 openhab@localhost 'bundle:restart 211') while 211 is the "Eclipse SmartHome MQTT Binding" and the Icinga is trying to get some data from a specific mqtt topic.
Can be done within openHAB, too.

[2019-04-24 18:10] davidgraeff commented on #4498
Is this openHAB 2.4 only? Although it's the most recent "release" version, that version is not supported by me, only OH 2.5 snapshots.

[2019-04-24 19:44] kaikreuzer commented on #5505
Most of the ones I am seeing from that query are situations that have been discussed in depth in the individual binding review - i.e. those are accepted exceptions to the rule that bindings should not use their own pool.

There might be cases, where it has slipped through in a review and where the code should be changed - but I'd suggest to open an individual issue for such situations, where you f

[2019-04-24 19:44] #5505 closed

[2019-04-24 19:54] davidgraeff commented on #5505
For example the dashbutton in https://github.com/openhab/openhab2-addons/blob/e97d52598a748c576051739b05c48fd147d5b72c/bundles/org.openhab.binding.amazondashbutton/src/main/java/org/openhab/binding/amazondashbutton/internal/pcap/PcapNetworkInterfaceService.java

It allocates its own pool and it uses exactly 1 thread to schedule polling. And that's what most bindings do.

This issue is actually abo

[2019-04-24 20:02] kaikreuzer commented on #5505
I remember at least 5 in-depth discussions where it has been approved to do it that way.
Very often it was due to long running threads that would exhaust the common/binding pool easily.
And what you are maybe missing about such pools is the fact that they collapse to just one active thread, if no concurrent jobs are scheduled (and if this isn't true, we might rather consider a fix of this behavior

[2019-04-24 21:04] NickWaterton opened #5507 "[mqtt] Applies transformationPatternOut after formatBeforePublish"
Running OH2.5 M1, OS is Ubuntu 18.04.2

Moving over from binding MQTT 1.x to MQTT 2.x I found that the transformation order when publishing is odd.

Specifically I have some switches that send to the same topic, but with different activation strings.
topic is `/roomba/setting` strings can be `openOnly true` `carpetBoost false` (plus several others) where the true/false changes with the switch sett

[2019-04-24 22:29] gersilex commented on #1653
I'm starting with the implementation of the Listening Mode (Setting) and Playing Listening Mode (Query) right now.

[2019-04-25 05:35] gbeine commented on #4498
It's openHAB 2.4 in my case.
Nevertheless, in the other bug report is written, that the issue still arises in OH 2.5M1.

[2019-04-25 06:07] lolodomo commented on #5466
Finally, I plan to support the ASCII protocol in addition to the HEX protocol. So more models will be supported.

[2019-04-25 11:48] bodiroga opened #5511 "[mqtt] Allow Homie devices to remove retained topics when Thing is deleted"
Hi @davidgraeff!

It would be great if we could set a configuration parameter for Homie Things to automatically remove retained topics (device, node and property attributes topics). The function could be executed when the user removes the Thing and that way the Homie device would be deleted from the Mqtt broker, not allowing 'ghost' devices.

I will provide a PR with my proposal right now (a few m

[2019-04-25 12:24] Sprocket02 opened #5513 "[groheondus] Add support for GROHE BLUE HOME device"
Is it possible to add the support for [GROHE BLUE HOME](https://www.grohe.de/de_de/kueche-kollektion/kuechenarmaturen-grohe-blue-home.html) device?

[2019-04-25 12:26] Sprocket02 commented on #5513
Is it possible to at the support for [GROGE BLUE HOME](https://www.grohe.de/de_de/kueche-kollektion/kuechenarmaturen-grohe-blue-home.html) device?

[2019-04-25 12:35] Sprocket02 commented on #5513
Is it possible to add the support for [GROHE BLUE HOME](https://www.grohe.de/de_de/kueche-kollektion/kuechenarmaturen-grohe-blue-home.html) device?

[2019-04-25 17:14] freke commented on #5446
I don't know why, the API was developed for internal usage only in the beginning so it is not that very well designed and logic always.

If you want playing notifications I think you have to register for the notifications via DLNA, I have never done it my self so I don't know if it works.

[2019-04-25 21:28] #5511 closed

[2019-04-26 00:28] gersilex commented on #3030
@ericsnis Is this still relevant to you? I think we could disable polling altogether, using a setting for the thing.

[2019-04-26 07:13] mvalla commented on #5005
I have found that when I add a binding to demo.app then do "Resolve" the produced Run Bundles list (`-runbundles`) does not contain this entry:
`org.eclipse.equinox.event;version='[1.4.300,1.4.301)',\`
and this causes `/rest/things` not to load anymore.
If I add that line manually to the app.bndrun source,  `/rest/things`  in the demo app works again.

[2019-04-26 11:26] davidgraeff commented on #5507
Unfortunately this need to be verified on an OH2.5m2 at some point, because ordering has changed as well as the "on" and "off" behaviour (they are used for incoming and outgoing now).

I'm also not sure about the implementation for "transformationPatternOut". I thought it was not part of OH2.5m1. What you at least can do now is to chain transformations to solve your specific usecase.

[2019-04-26 14:49] gersilex commented on #1653
@Spilota @Celaeno1  `****SR`, `?S` and `?L` are implemented in #5515

I have not implemented `?VTC` as this is not a part of the listening mode feature set. If this is still relevant to you, I might give it a shot, too, if you could create a separate issue for this.

[2019-04-26 16:29] NickWaterton commented on #5507
Thanks for the feedback. I assume 2.5M2 will not be released until the build problems are sorted out (some time yet).
"transformationPatternOut" seems to work in 2.5M1, and the documentation covers it, but it's not clear what version the documentation covers (it just says 'latest" - whatever that is).

I saw some mention of chaining transformations, but that was only for incoming data, not outgoin

[2019-04-26 17:17] davidgraeff commented on #5507
You should probably write a script to perform the conversion.

Restarting should not be necassary in snapshots. OH 2.5m2 might be in sight actually. Only about 5 extensions left to migrate.

[2019-04-26 17:28] NickWaterton commented on #5507
OK,

Resorting to reading the source, in
`https://github.com/openhab/openhab2-addons/blob/master/bundles/org.openhab.binding.mqtt.generic/src/main/java/org/openhab/binding/mqtt/generic/ChannelState.java`
in
[code]
lines 343-355
[code]
So that looks to me as though the formatting is applied _before_ the transform.

Maybe I'll try a snapshot binding (I'm usually wary of those though...).

As to writ

[2019-04-27 05:48] jansen884 opened #5516 "[toon] Update binding for new API backend"
The Toon binding does not work anymore because of changes Eneco made. It returns an error: OFFLINE. Invalid api resonse status: 503

## Expected Behavior
Until februari 2019 the binding was working perfectly, could read and control Toon without any problems

## Current Behavior
It returns an error: OFFLINE. Invalid api resonse status: 503

## Possible Solution
It mus be connected to a new API back

[2019-04-27 12:50] jo47011 commented on #3842
I get the same warning.  I looked into the full example and actually I am a little confused since the normal items are handled via the ip bridge and the controls via a serial connection.  Is this always like this?  As of my knowledge I only have an ip connection and I get this error no matter whether I use a control item or a standard item:

[code]

This is a dummy GA in ETS.  It exists but no act

[2019-04-27 15:26] stefaanv commented on #5372
Not yet, I'm on a limited time budget for the moment :-(  will do as soon as possible.
Anyway, the logging looks quite clear, the string of bytes is coming in correctly but is not fully processed.

[2019-04-27 15:32] mhilbush opened #5519 "Issue deleting things after converting to new build system"
I was converting one of my WIP bindings to the new build system. While testing the binding I noticed an issue when deleting a thing. After deleting a thing using Paper UI, even though the thing was deleted, when I stop/start my binding, the thing handler is initialized for the thing I just deleted.

To eliminate my binding from the mix, I created a skeleton binding, which I built using the old bui

[2019-04-27 15:41] J-N-K commented on #4915
#4989 solved this

[2019-04-27 15:41] #4915 closed

[2019-04-27 16:20] J-N-K commented on #5519
Did you try restarting the bundle with the old version after removing the thing? Is this working?

[2019-04-27 16:42] mhilbush commented on #5519
I haven't tried that directly, but I will.

The only way I've found so far to clear it is to restart openHAB. I assume that's because the thing isn't in the jsondb, and so a fresh start of the systems clears out any internal knowledge that the thing exists.

[2019-04-27 16:53] mhilbush commented on #5519
Replacing the binding built with the new build system with the binding built using the old build system results in the handler being initialized for the deleted thing. Odd, but not surprising since something believes the thing still exists.

Also note: If I list the things in the Karaf console (smarthome:things list), nothing shows up for the deleted thing, even thought there exists a handler for

[2019-04-27 16:56] J-N-K commented on #5519
So we have to fix that in core and it is not build-System related.

[2019-04-27 17:03] mhilbush commented on #5519
Ok, but I'm not sure how to track this down any further. Do you have any suggestions where to look next?

But what I don't understand... Nothing is different in the core. The only variable is the binding built with the new build system versus the old build system. If I delete a thing using the binding built with the old build system, everything works fine. But, if I delete a thing using the bindin

[2019-04-27 17:09] J-N-K commented on #5519
To get things clear:

1. creating thing with the old binding, deleting it, restarting the (old) bundle ->not initializing
2. creating thing with the old binding, deleting it, installing the new binding -> initializing
3. creating thing with the old binding, deleting it, installing the new binding, installing the old binding -> initializing

Is that right?

[2019-04-27 17:53] mhilbush commented on #5519
Close. Here are the two key scenarios.

Binding built with old build system (i.e. old binding)
- Restart OH (to ensure a common starting point)
- Install old binding in addons
- Create thing (using manual creation in Paper UI)
- Delete thing (using Paper UI)
- stop binding (from console)
- start binding (from console)
==> Result: thing not initialized (i.e. expected behavior)

Binding built with n

[2019-04-27 17:58] mhilbush commented on #5519
FTR, here are the two jars

- Jar built with old build system
https://drive.google.com/open?id=1nANQUxm6gUddFXF_w94kUZSiNyJKnRbI

- Jar built with new build system
https://drive.google.com/open?id=1KsNrC1-0VX7uXS-fSy5Lf4cGWw_66R4P

[2019-04-27 18:17] J-N-K commented on #5519
Can you try setting `org.eclipse.smarthome.core.thing.internal.ThingManagerImpl` do `DEBUG` and see if there is any difference when removing the thing?

[2019-04-27 18:31] mhilbush commented on #5519
Here you go. I don't see a difference on the delete. But there's definitely a difference when starting the binding after the delete.

[code]

[2019-04-27 18:41] mhilbush commented on #5519
To make the record more complete, here's the diff of the two jars.

[code]

[2019-04-27 18:57] J-N-K commented on #5519
I'm not an expert on that but maybe:

[code]

and

[code]

are part of the problem. The singleton shpuld  make sure that there is only one instance of the factory.  Maybe it is not properly removed with the new version when restarting the bundle.

[2019-04-27 19:22] davidgraeff commented on #5519
@openhab/core-maintainers That bug might be interesting

[2019-04-27 20:21] maggu2810 commented on #5519
Cannot reproduce it myself:

* create an astro moon data thing using the Paper UI manually

[code]

* Delete thing (using Paper UI)

[code]

* stop binding

[code]

* start binding

[code]

    ==> Result: thing initialized (i.e. unexpected behavior)

[2019-04-27 20:26] mhilbush commented on #5519
Can you try the jar file linked to [in my comment above](https://github.com/openhab/openhab2-addons/issues/5519#issuecomment-487307139)? Use the second one in the list (i.e. the one labeled new).

- Drop jar in addons
- Create thing
- Delete thing
- Stop binding
- Start binding

[2019-04-27 20:27] J-N-K commented on #5519
@mhilbush: which core are you running?

[2019-04-27 20:31] mhilbush commented on #5519
The one that came with build 1577.

[code]

[2019-04-27 20:34] maggu2810 commented on #5519
* install and start bundle

[code]

* add thing using the Paper UI

[code]

* remove thing using the Paper UI

[code]

[code]

* stop bundle

[code]

* start bundle

[code]

I assume the exception is the root cause of your problem.

[2019-04-27 20:38] mhilbush commented on #5519
@maggu2810 I suppose, but I never got an exception in my log. Why would I be missing that class?

[2019-04-27 20:48] maggu2810 commented on #5519
Hm...

Your bundle don't import the config.core package because you don't use anything of it.
The ThingManagerImpl creates a safe caller in line 480 for your thing handler factory implementation using the `ThingHandlerFactory.class`. This interface class references classes of config.core.
I assume the classloader of your bundle is used and so it complains that the specific classes cannot be found.

[2019-04-27 20:59] mhilbush commented on #5519
Yes, that appears to have resolved the problem.

[2019-04-27 21:00] maggu2810 commented on #5519
It works around the real problem in core... :wink:

[2019-04-27 21:02] mhilbush commented on #5519
I wish I had seen that exception, as it would've provided a better clue what was going on. For the life of me, I couldn't understand why it worked when the binding was built with the old build system, and didn't work when it was built with the new build system.

Thank you for getting to the root cause so quickly!!!

[2019-04-27 21:35] guyou commented on #5420
Pull request created: #5520

[2019-04-27 22:26] maggu2810 commented on #5519
Let's wait for comments on https://github.com/openhab/openhab-core/pull/763

[2019-04-28 11:16] EliasGabrielsson commented on #5489
### Issue:
I have my Trådfri Gateway on a separate subnet which prevents the auto-discover function to work.
Therefore I need to use the "add manual" function of paper-UI which gives me `OFFLINE - COMMUNICATION_ERROR`.

### Question?
Does anyone manage to add the gateway with "Add Manual" function in Paper-UI?

[2019-04-28 12:06] mhilbush commented on #5519
See my comment here.
https://github.com/openhab/openhab-core/pull/763#issuecomment-487373047

[2019-04-28 13:31] pp81381 commented on #5466
Very interesting.   I've done something [similar](https://github.com/pp81381/rsp1570serial)  for the RSP-1570 in Python.   This was to support a [custom integration](https://github.com/pp81381/hassdev) that I hope to contribute to Home Assistant.   I don't know much about OpenHAB but I assume that you are working with Java?

I had a very similar experience to you wrt. to parsing the feedback messa

[2019-04-28 13:48] ssalonen commented on #5372
@stefaanv I cannot reproduce this but at the same I think I know why you are seeing.

Did you notice `updateUnchangedValuesEveryMillis` parameter?

(bolded part mine)

[2019-04-28 14:25] ssalonen commented on #5372
On second thought, reviewing the code, the `updateUnchangedValuesEveryMillis` parameter should not explain why there is no log statement like the below for `vlgLivingDoorgang`.

The logging happens here: https://github.com/openhab/openhab2-addons/blob/master/bundles/org.openhab.binding.modbus/src/main/java/org/openhab/binding/modbus/internal/handler/ModbusDataThingHandler.java#L680

Only real plac

[2019-04-28 14:49] ccutrer commented on #3400
This is trivial (and already planned) once all of @timcharper and my commits are merged upstream. Locally I’m already doing something similar for my Fan and SecuritySystem implementations. Basically we’ll use item metadata to configure complex accessories, and for per-accessory config.

[2019-04-28 14:56] lolodomo commented on #5466
Can I expect you testing my binding ?

I plan to provide a first version today.

[2019-04-28 15:05] lolodomo commented on #5466
For the RSP-1570, I am asking myself if I can find in the bit fields of the feedback message whether the multi input is ON or OFF. Would it be the bit 0 of the flag 1 which is named "A" in the manual ? If not, what is the meaning of this bit ?

[2019-04-28 15:13] lolodomo commented on #5466
And can you give me the range of bass/treble controls ? Is it MIN -10 -8 -6 -4 -2 0 2 4 6 8 10 MAX ?

[2019-04-28 15:25] triller-telekom opened #5524 "SqueezeBoxServerHandler cannot connect anymore in latest nightly"
I installed the latest openhabian nightly from 28.04.2019 and wondered why the squeezebox binding isn't working anymore.

Then I stumbled across:
https://github.com/openhab/openhab2-addons/pull/5497

If I undo the changes in the `SqueezeBoxServerHandler`, everything works as expected again.

[2019-04-28 15:27] kaikreuzer commented on #5524
@cweitkamp Could you have a look?

[2019-04-28 15:29] davidgraeff commented on #5513
This is not the place for questions, I'm afraid. Please ask this question in out community forum at community.openhab.org, thanks.

[2019-04-28 15:29] #5513 closed

[2019-04-28 15:49] cweitkamp commented on #5524
Hm, Yes, of course. Maybe my fixes were a little bit too pessimistic.

A try-with-resources statement for the `BufferedWriter` should be sufficient. We do not have to take care of the passed `Writer` instance.

[code]

[2019-04-28 16:56] pp81381 commented on #5466
I don't currently have OpenHAB installed anywhere but I'm certainly willing try setting it up.   I'm also happy to help with knowledge sharing and I'm keen to see how your integration works.

I'm afraid that I don't think so.   The only definite indication is that the first line of the display will show "MULTI" as the source.   I also see "BYPASS" on the second line of the display, plus the `A` an

[2019-04-28 17:57] lolodomo commented on #5466
Thank you for the information, I already fixed the max tone level.
For MULTI input, you read "MULTI" on the front panel, not "MULTI IN" ?

[2019-04-28 18:00] pp81381 commented on #5466
Just MULTI.   That is the default but it is customisable from the input settings menu

[2019-04-28 18:10] lolodomo commented on #5466
On RSP-1066, it is more an additional selection that you can enable or disable for any input that will override the audio input. I have to check but I don't think it is customisable on RSP-1066.

I take the hypothesis for RSP-1570 (and few others) that the default labels for sources are "CD", "TAPE", "TUINER", "VIDEO 1",  "VIDEO 2", "VIDEO 3", "VIDEO 4", "VIDEO 5". Can you confirm that it is corre

[2019-04-28 18:28] lolodomo commented on #5466
Please find a first test version that supports the HEX protocol and the 2 versions of the ASCII protocol.

Possible connections include serial connection, IP connection (for models supporting it) and serial over IP connection.

The following models are currently supported (I will add more soon):

- RSP-1066
- RSP-1068
- RSP-1069
- RSP-1098
- RSP-1570
- RSP-1572
- RSX-1055
- RSX-1056
- RSX-1057
- R

[2019-04-28 18:35] lolodomo commented on #5466
@fa2k : would you be interested to test my binding and check that it works well with your RA11/RA12 model ?

[2019-04-28 19:33] pp81381 commented on #5466
Close.   The sources are CD, TAPE, **_TUNER_**, VIDEO 1, VIDEO 2, VIDEO 3, VIDEO 4, VIDEO 5 and _**MULTI**_.

If you are using the first 8 characters of the first display line to determine which source is active then note that for some reason the default text for the CD input is shifted to the right one character.   E.g. " CD".

[2019-04-28 20:29] lolodomo commented on #5466
Ok thank you. So MULTI is a real input like VIDEO 5 for example. I have to change that.
No problem, I ignore the leading spaces.

[2019-04-28 20:32] lolodomo commented on #5466
For mute, what is displayed on your model ?
On RSP-1066, I got a blinking "MUTE ON".

[2019-04-28 20:37] pp81381 commented on #5466
Re MULTI: correct.   It is special in the sense that it is hardcoded to use the 8 multi-input sockets for audio.   It still allows you to specify any video input.

Re MUTE.   Yes, the RSP-1570 has the same.   It toggles between "MUTE ON" and "       " on the right hand side of the display where "VOL   NN" usually is.   You will receive a feedback message every time it changes.

[2019-04-28 20:43] kaikreuzer commented on #5005
Note sure what's the best place to mention it: The Zigbee and Z-Wave bindings also require a migration, but they are both located in separate repositories (and not here).
I don't know how easy/hard their migration might be - but we will need to liaise with @cdjackson on the timing and structure.

[2019-04-28 20:46] cdjackson commented on #5005
Thanks Kai - I’m happy if someone wants to migrate things. If someone can create the PR for the two repos, then I’d like to test and merge myself so I’m happy it’s working :)

Since I’m not really familiar with this, I can’t answer your question, but am happy to try and help if someone has any questions etc...

[2019-04-28 20:47] J-N-K commented on #5005
I‘ll raise PR for that in the next days.

[2019-04-28 21:05] Hilbrand commented on #5005
Both Zigbee and Z-Wave also have the epl1.0 license and smarthome schame locations in xmls. Should that also be changed?

[2019-04-28 21:07] cdjackson commented on #5005
Sure - although I wouldn’t bother trying to change the thing XML defs in ZWave. If you can tell me what it needs to change to, I’ll do this - there are around 1000 files and they are auto-generated from a database so I can update it there.

[2019-04-28 21:22] Hilbrand commented on #5005
This needs to be changed in the xml:
https://github.com/openhab/openhab2-addons/pull/5026#issuecomment-476709809

[2019-04-29 07:24] lolodomo commented on #5466
Ok I clearly need to improve my parsing code because a keyword is not necessarily at the beginning of the response string and because we can have several info like source and volume at the same time.

For volume, your keyword is "VOL ". What is it for treble and bass ?

[2019-04-29 07:33] pp81381 commented on #5466
For treble and bass it shows HF and LF respectively.   They appear on the second line of the display when you press the Tone button and then disappear about 5 seconds after you stop adjusting.   Note that there is a space between the plus or minus sign and the level.

[2019-04-29 07:53] pp81381 commented on #5466
A thought.  I have a script that will send sequences of commands to the amp and logs the feedback messages.   If you have any sequences that you would like me to run I could send you the log to review/test with.  Just let me know what you would like to see.    (Caveat: I may not be able to do it this evening. )

[2019-04-29 11:06] mhilbush commented on #5519
Confirming this is fixed in build 1580. Thanks @maggu2810!!

[2019-04-29 11:06] #5519 closed

[2019-04-29 12:43] Hilbrand commented on #5051
I've made some changes. I changed the channels of the power outlet devices to channel groups. So it shows up nicer. If you had the experimental binding installed before this day you need to re-add the new things as the channels have changed.

[2019-04-29 15:17] lolodomo commented on #5466
That would really help me.
The commands for which the response would be appreciated are: power on, power off, volume up, volume down, volume set, mute toggle (ON and then OFF), source TUNER then source MULTI IN and then source VIDEO1 (for example), treble up, treble down, bass up, bass down and a selection of DSP mode.

[2019-04-29 18:03] Grumium opened #5527 "[mqttembeddedbroker] mqttembedded.bin file is locked"
Dear @davidgraeff!
The latest Snapshot builds (at least S1578-1582) cause an issue with the embedded MQTT broker. I would be glad if you could have a look.

What I have tried so far:

- Updated to the most recent JDK zulu8.36.0.152-ca-jdk1.8.0_202
- Uninstalled and reinstalled the MQTT Embedded Broker (MQTT Broker Moquette) and MQTT Binding via PaperUI.

Best regards,
Jan

Shortened log below:
[co

[2019-04-29 19:57] chriscolden commented on #5489
I can confirm im seeing the same thing. If i change the ip and change it back again it comes online briefly before going offline again.

Openhab and tradfri are in the same subnet in my case.

[2019-04-29 20:42] pp81381 commented on #5466
Hi,

OK.   Here's my first stab at it.

Firstly, I ran this sequence.   Please see the notes at the top of the file.   I hope that you can somehow use the base64 encoded strings for your testing.

[sequence1.txt](https://github.com/openhab/openhab2-addons/files/3129124/sequence1.txt)

And this was the output:

[sequence1out.txt](https://github.com/openhab/openhab2-addons/files/3129126/sequence1out

[2019-04-29 20:45] #5052 closed

[2019-04-30 07:34] lolodomo commented on #5466
Thank you a lot.
Any idea what are the last four bytes of the string with apparently non ASCII characters ?

[2019-04-30 09:02] Celaeno1 commented on #1653
@gersilex I don't need "Request Resolution Status: [?VTC]".

[2019-04-30 12:40] pp81381 commented on #5466
They are the flag bytes.   They look a bit like four bytes but that's a quirk of the way Python displays them as a mix of ascii and hex.   E.g. the "B" in `\x00B\x08\x00\xf8` is actually the second of the 5 flags that happens to be in the ascii range.

Just looking at this I realise that I didn't quite send you what I meant to.   Apologies.   I meant to log the raw message from the device but what

[2019-04-30 17:26] lolodomo commented on #5466
I think it is ok like that especially with your additional explanations.
I plan to provide a new version this week that should work well with your model and hopefully with all models with 2 lines djisplay.

[2019-04-30 20:29] mahonni commented on #4552
Just checked that with my new LEDs and same happen here. It seems like data is not being updated :(

[2019-04-30 23:39] Fabiancrg commented on #4552
I am not using the Xiaomi gateway anymore, I switched to zigbee2mqtt (with a 3$ CC2531 USB stick).
All my devices previously attached to the Xiaomi GW are now accessible using MQTT.
On top of that I can use much more devices than just the one supported by the GW.

[2019-05-01 07:35] stefaanv commented on #5372
@ssalonen,
I do all the configuration in text files.
Meanwhile, it seems the binding picked up all the configuration now after a restart of OH.

After some more debugging, I found the problem with writing to MODBUS is caused by one of the Wago PLCs which doesn't accept write commands if the RTC library is loaded.
You can close this ticket for now, I'll keep an eye on it and let you know if it happ

[2019-05-01 07:40] ssalonen commented on #5372
Thanks Stefaan for the response.

Sounds like we have an explanation for the writing issues

Did I understand correctly that reading issues were solved as well and the issue was likely due to old/outdated configuration? Perhaps not all channels were linked, and thus not updated and missing in the log statement?

Btw, PaperUI can be used to view configuration, even things that are declared in text.

[2019-05-01 07:56] stefaanv commented on #5372
Indeed, I noticed that the errored links were greyed out in paperUI while
the working ones were green, this is a quicker way to check if there is a
problem and to see which channels have the problem.
I'm pretty sure this was not about an outdated configuration, the channels
were in paperUI but if I remember well they were in "unitialized" state.

Op wo 1 mei 2019 om 09:41 schreef Sami Salonen <not

[2019-05-01 07:57] #5372 closed

[2019-05-01 08:30] clinique opened #5530 "[Mail] Warning when sending mail"
This is just a warning, mail are correctly sent but wanted to mention it :
`2019-05-01 10:27:42.267 [WARN ] [javax.mail                          ] - expected resource not found: /META-INF/javamail.default.address.map
`

[2019-05-01 08:51] clinique opened #5531 "[Mail] Unable to define thing via file - error in syntax"
I suspect there is a syntax collision when defining channels via .things file on the keyword "type".
I copy /pasted the definition coming from the [documentation](https://www.openhab.org/addons/bindings/mail/) :
[code]
but it leads to this error :
`2019-05-01 10:44:56.399 [WARN ] [el.core.internal.ModelRepositoryImpl] - Configuration model 'mail.things' has errors, therefore ignoring it: [5,28]: m

[2019-05-01 08:58] J-N-K commented on #5531
there is a `,` missing between folder and type

[2019-05-01 09:02] clinique commented on #5531
Good catch, not well awaken this morning. Documentation PR submitted.

[2019-05-01 09:02] #5531 closed

[2019-05-01 10:04] bulletprooffool commented on #5104
Thanks for this.
I am desperately trying to find a way to idetify the current playing device by NAME rather than id, since the id on my Echo keeps changing for some reason.

I have tried using the code snippet you posted above, but it is not even logging the items. I know I am entering your loop, since I added a log right after the 'then' and before your enumeration loop - but nothing.
Am I missin

[2019-05-01 10:22] Hilbrand commented on #5104
Use the latest version of the bindings.  I've changed these channels and how devices are identified. See https://community.openhab.org/t/spotify-connect-binding-available/66809

[2019-05-01 11:45] J-N-K commented on #5530
Can you try https://janessa.me/org.openhab.binding.mail-2.5.0-fe.jar?

[2019-05-01 15:50] davidgraeff commented on #5527
Looks like the persistence layer causes problems. I have no direct influence on that, but I will have a look if the file lock problem can be solved by deleting the lock file manually when the bundle starts up.

Hm. No idea on how to solve that problem except deleting the entire retained-message store when that happens.

[2019-05-01 17:30] lolodomo commented on #5466
Here is a new version that should support correctly models having a 2 lines display and using the HEX protocol:  RSP-1068, RSP-1069, RSP-1570, RSP-1572, RSX-1065, RSX-1067, RSX-1560 and RSX-1562.

Volume/bass/treble can now be set with a direct value (you can use a Slider in the sitemap) except for the following models that don't support this feature : RSP-1066, RSX-1055 and RSX-1065.

I added sup

[2019-05-01 17:31] #1653 closed

[2019-05-01 17:38] lolodomo commented on #5466
Current source code is available here: https://github.com/lolodomo/openhab2-addons/tree/rotel/addons/binding/org.openhab.binding.rotel

Documentation is not yet written.

[2019-05-01 17:53] Grumium commented on #5527
Dear @davidgraeff,
I made some minor progress by deleting
`var/lib/openhab2/mqttembedded.bin`.
The embedded broker successfully starts up after a reboot, but this is only a temporary solution as the error reappears at the next reboot.

[2019-05-01 21:04] olemr opened #5534 "[deconz] Sensor marked Offline"
![image](https://user-images.githubusercontent.com/28068256/57042179-457f2280-6c64-11e9-8dd5-0feab5545a43.png)

One of my sensors was marked as Offline in OH2 not triggering any event, but working fine in PWA and marked as reachable:true in REST API.

After a bundle:restart of deconz in karaf, it came Online again and worked fine.
Any ideas on how to debug this?

Side issue:
After the bundle:resta

[2019-05-01 21:34] olemr commented on #5489
My story: after trying all hints and suggestions and then some, I had to reset my Ikea gateway with a pin and re-pair all devices. After that it was stable again. Trouble started with the 1.8.25 update when several remotes was low on batteries and the gateway tried and failed to update for several days. Ended in a bad state were it answered to ping, but the COAP interface and sometimes the Ikea Ap

[2019-05-01 21:44] olemr opened #5535 "[hue] Missing color_temperature channel (Ikea CWS bulbs)"
![image](https://user-images.githubusercontent.com/28068256/57044252-46b34e00-6c6a-11e9-8dd2-30a893c59a38.png)

Connected to deconz HUE REST API.

Ikea CWS bulbs are listed as device type 200 hence lacking the color_temperature channel:
![image](https://user-images.githubusercontent.com/28068256/57044303-75312900-6c6a-11e9-995d-6e6dbb17f343.png)

![image](https://user-images.githubusercontent.com/

[2019-05-01 22:39] pp81381 commented on #5466
Thanks.   Success!

I tried it out and after some initial hiccups I got it working.   Please note that I have never used OpenHAB before so I may be doing it all wrong but it seems like a good start to me.

I tried it with an RSP-1570 emulator as well as the real thing so I was able to see a few extra details about what was going on.

One thing that I noticed via the emulator is that you send a DIS

[2019-05-02 07:00] #5053 closed

[2019-05-02 07:02] cweitkamp commented on #5535
Thanks for reporting but I am afraid we cannot change it.

Currently the Philips API sends wrong information about the bulb type thus we cannot discovery it correctly.

See for more information https://github.com/eclipse/smarthome/pull/5946#issuecomment-407035598

[2019-05-02 08:19] Grimthorr commented on #5104
@bulletprooffool Below is the final rule that I'm using to extract the device name from the list of devices:

[code]

With the associated items:

[code]

This works for me using version `market:binding-4326451 - 1.0` of the Spotify binding from the Eclipse Marketplace.

@Hilbrand Does the latest version incorporate commits from #5434? Thanks for these changes, it will definitely solve the initial

[2019-05-02 12:16] clinique commented on #5530
@J-N-K  : the link seems broken

[2019-05-02 12:18] J-N-K commented on #5530
Updated.

[2019-05-02 12:53] #5419 closed

[2019-05-02 13:37] lolodomo commented on #5466
At startup after opening the connection, yes I send a DISPLAY_REFRESH to the device to know if it is ON or OFF. If I get no answer after a delay pf 2 seconds, I consider the device as OFF. If I get an empty response, I consider the device as OFF immediately. If I get a not empty response, I consider the device as ON and I extract the source and the volume and few seconds later, I send the sequence

[2019-05-02 15:04] clinique commented on #5530
Error raised when installing the JAR :
`2019-05-02 17:03:30.431 [WARN ] [org.apache.felix.fileinstall        ] - Error while starting bundle: file:/usr/share/openhab2/addons/org.openhab.binding.mail-2.5.0-fe.jar
org.osgi.framework.BundleException: Could not resolve module: org.openhab.binding.mail [294]
  Unresolved requirement: Import-Package: javax.mail; version="[1.6.0,2.0.0)"
`

[2019-05-02 15:06] J-N-K commented on #5530
Which version of OH are you running!

[2019-05-02 15:08] clinique commented on #5530
Updated recently : openHAB 2.5.0 Build #1583

[2019-05-02 15:27] J-N-K commented on #5530
`bundle: install mvn:com.sun.mail/javax.mail/1.6.2`

Not so nice that we have to install dependencies manually now.

[2019-05-02 15:37] kaikreuzer commented on #5487
@jaywiseman1971 Can you provide a description here on the issue on how to reproduce the issue and what is found in the (debug) logs when it happens? How often do the devices change their port, how regularly does that happen and what devices apart from plugs are affected?

[2019-05-02 16:10] clinique commented on #5530
I had to add also
`bundle:install mvn:org.apache.commons/commons-email/1.5`
...but unfortunately still the same warning message.

[2019-05-02 16:38] clinique opened #5537 "[Mail] Imap connection issue"
I created an imap thing using the documentation, tested either TLS or SSL but I get these infos in the log :
`2019-05-02 18:33:11.581 [INFO ] [inding.mail.internal.POP3IMAPHandler] - error when trying to refresh IMAP: No login methods supported!
2019-05-02 18:33:33.227 [INFO ] [inding.mail.internal.POP3IMAPHandler] - error when trying to refresh IMAP: Connection dropped by server?
`

On server sid

[2019-05-02 16:53] clinique commented on #5537
Yes, just tried also with PaperUI

Envoyé de mon iPhone

[2019-05-02 17:05] J-N-K commented on #5530
I have created another version. Link above is still correct.

[2019-05-02 17:06] J-N-K commented on #5537
That works for me. Can you show the configuration?

[2019-05-02 17:58] thigger opened #5539 "[rfxcom] Lighting5/LightwaveRF Shutter support"
Lighting5 (LightwaveRF) Shutter items are supported in the v1 binding but not in v2 - is there any chance they could be added?

The relevant commands are OPEN_RELAY, CLOSE_RELAY and STOP_RELAY

The relay I'm using will work as a "switch" item (on/off) but there's no way to stop the blind in an intermediate position by disconnecting both terminals (stop_relay)

Thanks!

[2019-05-02 18:17] MisterBJ opened #5540 "[harmony] Hub does not send a keystroke to the current activity"
I would like control (volume, channel, etc.) with the current activity.

Quote from doc:

For example the play button may be sent to a DVD player when running a "Watch DVD" activity, or it may be sent to a AppleTV when running a "Watch Movie" activity.

But when I create an item with the following channel openHAB responds to the event but nothing is sent to the hub:
`String  harmony_HubWohnzimmer_

[2019-05-02 19:36] wborn commented on #5540
That functionality was added in https://github.com/openhab/openhab2-addons/pull/4972 which is only available in 2.5.0-SNAPSHOT. The website shows the documentation of the snapshot release and not the latest stable release.

You can switch to the docs for 2.4.0 in the top right corner:

![docs](https://user-images.githubusercontent.com/12213581/57101817-52fae200-6d22-11e9-8bb8-d509dfec2381.png)

[2019-05-02 19:57] MisterBJ commented on #5540
Ah okay. Thanks for the information, I had not noticed. Many Thanks.

[2019-05-02 19:57] #5540 closed

[2019-05-02 20:08] maggu2810 opened #5542 "ihc feature uses wrong coordinates"
[code]

The group ID is wrong.

[2019-05-02 21:03] chriscolden commented on #5489
Seems the issue was due to remotes not being updated. I had also removed the gateway trying to get this working. so after getting all remotes updated, I found my old pre shared key and identity and readded the gateway. This solved it for me.

[2019-05-02 21:11] #5542 closed

[2019-05-03 05:32] bulletprooffool commented on #5104
Awesome - thanks, this did the trick

On Wed, 1 May 2019 at 11:22, Hilbrand Bouwkamp <notifications@github.com>
wrote:

[2019-05-03 09:32] #5476 closed

[2019-05-03 09:47] kaikreuzer commented on #5005
We might want to wait with closing this issue until the zigbee+zwave binding migrations are done as well (although they are not in this repo, I know).
Also, I think the parent pom should now be changed as well, see https://github.com/openhab/openhab2-addons/blob/master/pom.xml#L10-L17.

[2019-05-03 09:50] davidgraeff commented on #5005
Yes I'm on it.

Those locations need to be adapted: https://github.com/openhab/openhab2-addons/search?q=poms%2Fbnd&unscoped_q=poms%2Fbnd I guess?

I also wanted to move the features/karaf to features/ while moving infrastructure files around.

[2019-05-03 10:13] thesebastianf opened #5545 "[hueemulation] Groups with tags not discovered by Echo"
Openhab Groups with tags .e.g. [ Lighting ] are not discovered by Echo

[2019-05-03 11:13] davidgraeff commented on #3426
Because with Java 9+ there are basically no compact profiles anymore.
Everything is added via separate libraries and with the bnd migration we are also Java 11 compatible now, so including those libraries for just those addons that need it.
Closing this now.

[2019-05-03 11:13] #3426 closed

[2019-05-03 11:13] davidgraeff commented on #3420
Because with Java 9+ there are basically no compact profiles anymore.
Everything is added via separate libraries and with the bnd migration we are also Java 11 compatible now, so including those libraries for just those addons that need it.
Closing this now.

[2019-05-03 11:13] #3420 closed

[2019-05-03 11:13] davidgraeff commented on #3417
Because with Java 9+ there are basically no compact profiles anymore.
Everything is added via separate libraries and with the bnd migration we are also Java 11 compatible now, so including those libraries for just those addons that need it.
Closing this now.

[2019-05-03 11:13] #3417 closed

[2019-05-03 11:46] mahonni commented on #4552
Thanks for the info. It's an option I was considering, but it felt like a lot of work just to solve a problem with one device. Besides that, it looked like Openhab wasn't adapted to zigbee2mqtt very well, and I've read that CC2531 didn't have as much coverage than Xiaomi Gateway, but I'll continue looking at it.

[2019-05-03 12:39] MisterBJ opened #5547 "[harmonyhub] No channel change by current activity"
Yesterday I installed the 2.5 snapshot version to control the current activity. Works fine too, but channelUp and channelDown do not work. Everything works perfectly with the original remote control or the harmony app.

`14:35:42.026 [INFO ] [arthome.event.ItemStatePredictedEvent] - harmony_HubWohnzimmer_ButtonPress predicted to become ChannelUp`
`14:35:42.042 [INFO ] [smarthome.event.ItemStateCha

[2019-05-03 13:33] ustone commented on #4146
Can somebody explain why this is closed?
IMO KNX defines DPT 5.001 like this:

8-bit unsigned value | 1 Byte | DPT 5.001 | DPT 5.001 | 0...100

Values are 0..100 as you see. That means, if  the ga section in things is like ga="5.001:<13.13.13", the values has to be converted in percent value or ga="5.001:<13.13.13" is invalid and must ga="<13.13.13". Why else the knx binding accept an KNX Datatype

[2019-05-03 14:06] clinique commented on #5530
Still the same WARN

[2019-05-03 14:11] clinique commented on #5537
![image](https://user-images.githubusercontent.com/3328789/57142980-1da3d200-6dbe-11e9-8f9b-24536cbb4a67.png)

[2019-05-03 14:24] J-N-K commented on #5530
I‘ll have a look at the weekend

[2019-05-03 14:26] J-N-K commented on #5537
You should be able to configure the port. I‘ll have a look why this is not possible. I guess the port is wrong.

[2019-05-03 14:30] clinique commented on #5537
yes, I did this, but on Thunderbird, that works properly, they are either configured in SSL on 993 or on STARTTLS on 143.

[2019-05-03 17:05] malfurion commented on #3522
Hi, I’m having the same issue after updating my openhabian.

my openHAB was on version 2.0 or 2.1 before and now I’m on 2.4

HomeKit is working for some days and after some time it’s saying no response
Until waiting some time it fixes itself

I have only 15 items so would not be a problem with the maximum

Is there a other known reason why this could happen?

[2019-05-03 17:30] ahr85 commented on #4633
Any updates on this topic so far? Using the Switch-Command allows me to turn my fire place on and off, but I cannot change the flame-heigt or change the second flame.
Reference to my community-entry: https://community.openhab.org/t/using-rfxcom-command-with-multiple-values-but-binding-expects-switch/73573

[2019-05-03 17:46] Fabiancrg commented on #4552
CC2531 is working just fine for me as each plug and bulb are routers so you can extend the mesh each time you add one of these. If you are not using much routers there are other options; like the CC2530 with external antena.
Zigbee2mqtt is indeed not directly integrated in OpenHAB but mqtt is, so it's not that difficult to use.
Personaly I am using Node-Red between zigbee2mqtt and OpenHAB items, i

[2019-05-03 19:22] bjoernbrings commented on #5005
Is there anything to be done in order to get to another Milestone release (beside zigbee, zwave)?

[2019-05-04 06:24] FischertBilligheim opened #5549 "How can I currently create a skeleton binding?"
I tried to create a new binding for Openhab2 - but the existing documentation seems not be adapted to the current activities of the change to a new build-system.
So can anybody tell me how I  can create a skeleton of a binding - and how I can debug it in Eclipse?

That would help me really a lot. Thanks a lot in advance!

[2019-05-04 10:31] nesys commented on #3039
I'm trying the 2.5.0 snapshot on openhabian (last release), and I've had the same warn at the beginning. Then I've added all items like below (even if some items are not reporting anything), and now it works like a charm, warn disappeared.

Number DaikinACUnit_SetPoint "AC Setpoint [%d]" { channel="opendaikin:ac_unit:attic_ac:settemp" }
String DaikinACUnit_Mode "Daikin Mode" { channel="opendaikin:

[2019-05-04 12:14] davidgraeff commented on #5416
@openhab/2-x-add-ons-maintainers Can please everyone vote with a yes / no or voice his objections? Thanks.

Tl;dr: Change snapshot downloading to "daily" instead of "always" (which is already super conservative, I would even suggest "never").

[2019-05-04 12:16] davidgraeff commented on #5549
The documentation is very clear on that actually: https://www.openhab.org/docs/developer/#setup-the-development-environment

At the moment you are on your own, the setup procedure is not yet finalized. It probably will be with OH 2.5m2. Stay tuned.

[2019-05-04 12:17] #5549 closed

[2019-05-04 12:29] J-N-K commented on #5416
Daily would be ok for me.

[2019-05-04 13:11] martinvw commented on #5416
I’m okay with daily 👍

[2019-05-04 14:35] FischertBilligheim commented on #5549
Hello David,
the mentioned documentation does not work - even without working with  a Skeleton.

I'm using a windows10 machine, I did exactly what is described - I tried it with the existing serialbutton-binding - but I get 100 Errors in Eclipse:

![Openhab_Development](https://user-images.githubusercontent.com/20623089/57180577-4ee9d400-6e8a-11e9-91bc-211b0c98e835.PNG)

By the way: The descriptio

[2019-05-04 14:51] cweitkamp commented on #5416
:+1: for daily. No objection.

[2019-05-04 14:53] kaikreuzer commented on #5416
This means that we have to use `-U` in our build jobs and must not forget this, correct?

[2019-05-04 15:11] cweitkamp commented on #5524
@triller-telekom Can you test my suggestion? It looks like [closing the stream will close an associated socket](https://docs.oracle.com/javase/7/docs/api/java/net/Socket.html#getOutputStream()) too. I think [closing the reader](https://docs.oracle.com/javase/7/docs/api/java/io/BufferedWriter.html#close()) will itself will also result in a closed socket.

[2019-05-04 15:18] martinvw commented on #5416
Especially for release and nightly maybe not for PRs I would like the speed improvement of that

[2019-05-04 15:20] kaikreuzer commented on #5416
Ok, let's experiment with that and see where we have issues.

[2019-05-04 15:20] #5416 closed

[2019-05-04 15:21] #5537 closed

[2019-05-04 15:26] clinique commented on #2901
@kevinshane : do you still face this error with last updates of the binding ?

[2019-05-04 15:28] clinique commented on #3113
Regarding the dimensionless aspect of the channel, this is now done. Values are indices without any unit. Reconstructing the value behind is out of the scope of the binding.

[2019-05-04 15:28] #3113 closed

[2019-05-04 15:35] mvalla opened #5554 "[IDE] Build Automatically in Eclipse builds infinitely"
In the new build system, using Eclipse and bnd-tools according to OH2 developer manual, after having checked out maggu2810/openhab-demo project and imported, if Build Automatically is selected it builds infinitely and does not stop ("Building workspace..." again and again).
De-activating Build Automatically stops the infinite loop.
This makes very unconvenient to develop a new bundle using Eclipse

[2019-05-04 16:19] draythomp commented on #5487
I've been fighting this problem since the first light switches came on the market. I do not use OH, I run entirely my own home grown software.

The way I solved it is to poll each device to make sure it is still responding and when one drops out, find it again and get the new port number. I keep a simple list of the devices and just keep it updated in software with whatever the port number happens

[2019-05-04 16:43] davidgraeff commented on #5554
FYI The situation is known but no solution has been found yet

[2019-05-04 16:54] maggu2810 commented on #5005
I assume all is done now and this issue can be closed.

[2019-05-04 16:55] #5005 closed

[2019-05-04 16:56] mhilbush commented on #5530
@J-N-K Sorry to barge in on this issue, but I think my question is relevant given the above discussion. OTOH, if you'd prefer that I open a separate issue, let me know.

In order to run this binding from the addons directory, exactly which 3rd party jars need to be dropped in addons? I added the following, but I can't get the smtp action to work.
[code]

In the console, I can see that the binding

[2019-05-04 17:13] jaywiseman1971 commented on #5487
Hi Kai,

I did turn on the debug logs and got a ton entries from all the 15 devices (3 different types); when it happens OH thinks it turns it ON or OFF because the item gets updated to the correct action.  This alone means the binding is not reporting if the action actually happened or not back to OH correctly.

What I did to prove the ports are changing is a ping using the paping tool on the por

[2019-05-04 17:21] J-N-K commented on #5530
@mhilbush, this is totally different. I would suggest a different issue. The bundles are ok. It seems that for some reason `getActions` is not returning the correct instance. Which is somewhat suprising.

[2019-05-04 17:21] mhilbush commented on #5530
Ok, thanks. I'll open a separate issue.

[2019-05-04 17:24] mhilbush opened #5556 "[mail] Error is rule when using sendMail action"
I'm having trouble getting the sendMail action to work in a rule.

I'm running this binding from the addons directory. These are the 3rd party jars I dropped in addons in order to resolve the dependencies
[code]

In the console, I can see that the binding is active.
[code]

And, I'm able to create a mail SMTP Server thing.

As described in the documentation, I put this in my rule.
[code]

However,

[2019-05-04 17:46] mhilbush commented on #5556
After a restart of openHAB, it's now sending the email, but I'm getting this in the log, which I think is the same as the other issue.

[code]

A possible explanation for the error I originally reported... I had removed the OH1 mail action before installing the new mail binding. I suspect there were some artifacts remaining in memory from the OH1 action that were causing the error? The restart mus

[2019-05-04 18:04] J-N-K commented on #5556
Maybe. I have never seen that and the error above is not really an error but - IMO - a bug in javax.mail. Because the file IS present (at least in the jar linked in the other thread) and also in the javax.mail bundle itself.

[2019-05-04 18:04] #5556 closed

[2019-05-04 19:13] maggu2810 commented on #5222
* Compile time dependencies and runtime dependencies differ
* I am pretty sure also the Karaf team member will tell you that the automatic feature generation should just be used for a first template and feature files should be maintained manually

[2019-05-04 20:09] davidgraeff commented on #5222
We can define "runtime" scope dependencies, that was my idea. The PR solves it with static files.

[2019-05-04 20:39] mvalla opened #5557 "[IDE] After Bndtools Resolve in Eclipse, /rest/things returns HTTP ERROR 503"
Launching Bndtools "Resolve" causes demo.app in the Eclipse IDE not to load `/rest/things` anymore, making impossible to test bindings.

## Expected Behavior
Launching Bndtools "Resolve" and then launching demo.app in the Eclipse IDE, all selected bindings and /rest endpoint should be reachable.

## Current Behavior
Launching Bndtools "Resolve" and then launching demo.app in the Eclipse IDE , `/re

[2019-05-05 10:42] davidgraeff commented on #5557
We have only recently (2 days ago) merged a critical PR in core that changes how bundles are resolved. Can you make sure that this is still a problem with the newest snapshot core (use `mvn install -U` for the demo app)?

If it is, we escalate this issue to Markus and delegate it to the demo repository. It's really a problem of the demo app, not of the openhab2-addons repository ;)

[2019-05-05 11:21] mvalla commented on #5557
Ok will do some test.
Why is the demo app on a personal repo and not on the openhab group? Isn't it part of the official IDE setup ?

[2019-05-05 11:28] davidgraeff commented on #5557
We have no official developing setup yet, because openhab-distro is not yet ready for the new buildsystem. Kai is working on it. For the time being we are using this "private" repo to at least have something.

[2019-05-05 12:28] gsieben commented on #5005
Hello, folks,
somehow I'm totally lost. Since I urgently needed a binding for the PCA9685 16 channel PWM module, I wrote a binding. I need the PCA9685 module for my aquarium computer based on OpenHAB. Everything I found didn't work, or uses scripting languages as workarounds. I'm not very happy with a scripting workaround. I preferred to use the I2C library from pi4j, because I think this is the m

[2019-05-05 12:34] nicola-lunghi commented on #5005
hi guys.
any plan to update the various examples? could be useful to have an example
binding project for example.

cheers
Nick

On Sun 5 May 2019, 13:28 Gabriel Sieben, <notifications@github.com> wrote:

[2019-05-05 13:29] davidgraeff commented on #5005
The roadmap looks like this:

* Adapt the openHAB distro to the new build system and workflows, including new setup files for Eclipse (Kai is working on this)
* Test and check new binding PRs more thoroughly via Travis CI (@J-N-K and me are working on this)
* Write a new developer setup section for openHAB docs for different IDEs on how to set them up. I'm thinking of Eclipse, Intellij IDEA and VS

[2019-05-05 14:58] pp81381 commented on #5466
Sorry for the delay.   I've just taken another look.   The good news is that I couldn't reproduce the initialisation issue.    This time the device state seemed to be detected reliably at power on.   Perhaps I was mistaken.

This time I also tried the bass adjustment and treble adjustment items.   These don't seem to be working.   They don't pick up the values at startup and the device doesn't see

[2019-05-05 17:58] Misiu commented on #5005
I'm looking forward VS Code.
Current development setup is user unfriendly. This must be as easy as possible to help users with development.
@davidgraeff is there an option do debug binding on Raspberry Pi? Develop in on PC and debug on external device? If this is possible then please add it to docs. If it isn't possible is there an option to add such an enhancement? It would help with developing a

[2019-05-05 18:05] lewie commented on #4146
@ustone, zaphood1967 has closed, because the issue is solved!

Yes, DPT 5.001 always should be interpreted as 0..100. And "dimmer" channel is the logical counterpart to DPT 5.001, because it works with Integers from 0..100. DPT 5.001 is used with dimmer and so it is intended. When you use number, then you'll get a decimal number from 0,0 to 100.0 normally this is wrong. And therefore no, it is nei

[2019-05-05 18:15] MHerbst commented on #5005
openHAB uses Karaf and you can enable Java Remote debugging for Karaf: https://karaf.apache.org/manual/latest-2.x/developers-guide/debugging.html. I did not have the time to test it, yet. As soon as it is easier to get a running development environment in Eclipse I will test it myself.

[2019-05-05 18:15] kaikreuzer commented on #5005
Ok, I have unlisted them.

[2019-05-05 18:16] kaikreuzer commented on #5005
This is automatically done if you launch openHAB with start_debug.sh instead of start.sh.
With PDE, all you needed to do is to create a launch config of type "Remote Java Application" and connect to it - pretty easy.
In the bnd IDE, I don't see this type anymore, though, but I am sure that there's some other similar mechanism.

[2019-05-05 18:30] Stefan300381 commented on #4994
@davidgraeff
this might be a stupid question as I'm not very familiar with github. What does the bug label mean? Shouldn't be someone assigned to this issue?

best regards
Stefan

[2019-05-05 18:41] Tobster77 opened #5561 "Thermostat works well in Google Home, but not with Alexa"
I defined a thermostat.

[code]
(Note, this is a dummy thermostat as I need to translate between the operation modes of my Eurotronics thermostat and the ```homekit:HeatingCoolingMode```, but this is a different story. For the moment, the code above defines a complete thermostate group according to HomeKit rules).

I connected my OH server to myOpenHAB to use Amazon Echo and Google Home services.

[2019-05-05 18:43] davidgraeff commented on #4994
The maintainer of the binding should come by from time to time and check for issue reports. He does not get a notification on its own. If you know who that is you can reference him.

"Bug" in this context really just means this is a "defect" report and not an enhancement or infrastructure problem.

[2019-05-05 18:48] davidgraeff commented on #5005
I think this guide is quite universal: http://www.joern-karthaus.de/blog/karaf.html

[2019-05-05 19:13] wborn commented on #4994
You can look up who's maintaining which binding in the [CODEOWNERS](https://github.com/openhab/openhab2-addons/blob/master/CODEOWNERS#L90) file.
So perhaps @marcelrv can help with this?

[2019-05-05 19:19] marcelrv commented on #4994
The new rockrobo indeed seems to have some additional values.
I'll add them to the extend they are known now.

[2019-05-05 20:16] mvalla commented on #5557
after doing a "mvn clean install -U" of openhab-demo, now the problem is solved

[2019-05-05 20:16] #5557 closed

[2019-05-05 22:48] #4994 closed

[2019-05-06 08:29] Stefan300381 commented on #4994
awesome! great community. thanks a lot

[2019-05-06 09:32] lolodomo commented on #5466
Ok I see in your logs what is wrong. I was expecting the LF / HF only on the right part of the panel but ion fact in your case it fills all the second line. I prepare a fix.

[2019-05-06 09:38] mahonni commented on #4552
I'll check on Node-Red too, I just wasn't finding a reason to try to learn it, but if it eases things with Zigbee2mqtt, it'll be a good reason to start with it too. Thanks for the info, @Fabiancrg !

[2019-05-06 09:47] lolodomo commented on #5005
I can no more compile a binding in development.
[code]
Is it now impossible to compile with the old mechanism ?

If I move my binding to the new build system, I assume I will not be able to run it in Eclipse ?

[2019-05-06 09:52] lolodomo commented on #5466
Disaster ! I had a new version ready to compile but I can no more compile with Maven, certainly due to all in progress changes relative to build !

[2019-05-06 09:57] davidgraeff commented on #5005
It will be harder and harder to use the old development workflow as we more and more change all bits to the new system. At the moment for your particular problem you only need to edit your launch configuration and add whatever appears when you enter "EventAdmin".

[2019-05-06 10:11] lolodomo commented on #5005
I am moving the binding to the new build system !
But now that the old build system is broken, it is more than urgent to have a clear and easy way to develop with the new build system. I need a way to load my binding in Eclipse and run OH with my binding in Eclipse to test it.

[2019-05-06 10:34] jim77 opened #5564 "[chromecast] Chromecast audiogroup ever changing elected leader"
I have three google home mini added to openhab as three chromecast:chromecast Things.

I created a Chromecast audio group with all three minis as members. PaperUI discovered this audiogroup Thing, the ip address of the audiogroup thing is the address of one of the three minis above.

## Expected Behavior
The Chromecast audio group thing should work all the time regardless of the changing ip addres

[2019-05-06 11:29] lolodomo commented on #5466
Here is a new version with the following changes:

- Detection of communication errors and reconnection
- Fix for bass/treble for RSP-1570

[org.openhab.binding.rotel-2.5.0-SNAPSHOT.zip](https://github.com/openhab/openhab2-addons/files/3147688/org.openhab.binding.rotel-2.5.0-SNAPSHOT.zip)

[2019-05-06 11:52] cweitkamp commented on #5564
@jim77 Thanks for reporting this issue. It looks very similar to #4186 which has be solved some time ago.

[2019-05-06 12:34] mohsh86 opened #5565 "[samsungtv] offline_connection_error"
[samsungtv] Samsung TV UA50MU6100 wired connection, static IP. initially discoverable,can be added as a thing, comes online initially, when issuing a command, log:tail says command not supported, TV goes offline in openhab.

The weird thing is that after adding the TV as a thing, i **don't get a prompt in the TV that open have is trying to access,** hence, openhab is not in the list of external de

[2019-05-06 13:34] jim77 commented on #5564
perfect solution. sorry for the duplicate.

[2019-05-06 13:34] #5564 closed

[2019-05-06 14:49] pp81381 commented on #5466
Cool.   Thanks.

HF and LF readings are now picked up in the front end.   Also, they are correctly reflected if I move the front panel tone knobs.

A few comments.
* If the display isn't already showing HF or LF then when a tone up/down command is sent then the amp simply displays the current level.   The second and subsequent commands will affect the level.   Therefore the current down/up sequenc

[2019-05-06 16:01] lolodomo commented on #5466
Your idea with command TONE_CONTROL_SELECT is great, I just tested it with the RSP-1066 and it works. So I now replaced the sequence BASS DOWN - BASS UP - TREBLE DOWN - TREBLE UP by 2 calls to TONE_CONTROL_SELECT.
Please tell me if it works withj the RSP-1570 too ?

[org.openhab.binding.rotel-2.5.0-SNAPSHOT.zip](https://github.com/openhab/openhab2-addons/files/3148793/org.openhab.binding.rotel-2.5

[2019-05-06 16:05] lolodomo commented on #5466
The MULTI input switch  is no more available for the RSP-1570, you can rather select MULTI through the source channel.

[2019-05-06 16:11] pp81381 commented on #5466
I tested the new version (looks like you edited the post after I downloaded it though) and the tone control select approach does work with the RSP-1570 too.

[2019-05-06 16:17] lolodomo commented on #5466
Good.
I will try to fix the adjustment of bass/treble that probably requires in your case an initial TONE_CONTROL_SELECT command before sending UP or DOWN.

[2019-05-06 16:25] lolodomo commented on #5466
Not obvious because I don't know if LF or HF is already displayed.

[2019-05-06 16:49] BobRak commented on #5005
I am also now trying to build my Smartthings binding since I am done making the code review changes but I am getting the same error as @lolodomo  is getting:

[code]

It seems like the path forward is to convert my binding to use the new build system. Is that the advised solution? If so, do I follow the **Setup the Development Environment** instructions at https://www.openhab.org/docs/developer/.

[2019-05-06 16:54] pp81381 commented on #5466
Hi,

How about sending `RECORD_FUNCTION_SELECT` beforehand?    This sequence of commands were sent 0.5 secs apart.

[code]

5 seconds later the display goes back to normal.

[code]

Note the way that the state of the `RECORD_FUNCTION_SELECT` command works though.   It cycles through `REC <source>`, `ZONE 2 <source>`, `ZONE 3 <source>` and `ZONE 4 <source>`.   The position in the cycle doesn't rese

[2019-05-06 18:01] davidgraeff commented on #5005
The migration is not yet complete, it is only finished for this repository, not for the openhab-distro one.

[2019-05-06 18:16] lolodomo commented on #5466
@pp81381 : are you creating your thing with Paper UI or through a things file ?
When I do it with Paper UI, it looks like the source channel is not dynamically populated with the different source inputs. My selection widget is empty.
When my thing is created through a things file, it is working as expected.
I am asking myself if this is relative to a recent change and the rebuilt of the binding.
W

[2019-05-06 18:23] pp81381 commented on #5466
I am using the Paper UI.   The source channel selection is working fine.   I'm using the 2.4.0 release build with the version of your addon that you posted earlier today.

![image](https://user-images.githubusercontent.com/19621928/57245903-d58de500-7033-11e9-9efd-bd98becccdbf.png)

![image](https://user-images.githubusercontent.com/19621928/57245965-0110cf80-7034-11e9-859d-5797b06844cf.png)

[2019-05-06 18:28] lolodomo commented on #5466
Ok, fine. I found what was wrong. I will try to reporduce your problem wioth changing configuration.

[2019-05-06 18:38] lolodomo commented on #5466
I can't reproduce your problem with changing thing configution.
When changing your thing configuration, the thing handler is first disposed, leading to a disconnection; then a new thing handler is initialized, leading to a reconnection.
That works well for me.

[2019-05-06 18:42] lolodomo commented on #5466
Using first RECORD_FUNCTION_SELECT is not a bad idea. Maybe using DISPLAY_REFRESH would make the trick ?

[2019-05-06 18:56] pp81381 commented on #5466
I checked that.   My concern was that it doesn't force the amp into to a known state.   It just returns whatever is on the display at the time - e.g. it could be the sound mode or it could be the tone control.   You could use it to check the state of the display to decide whether HF or LF is displayed and only send the `TONE_CONTROL_SELECT` if they aren't.    However, there's a small window betwee

[2019-05-06 19:22] igdr commented on #3577
Same problem, any updates?

[2019-05-06 19:26] Hilbrand commented on #5104
@Grimthorr Yes the latest version does incorporate the commits.

You can force openHAB to update by uninstalling and than re-installing the binding. For update information see the first post in this thread on the forum: https://community.openhab.org/t/spotify-connect-binding-available/66809

The Spotify binding is available in 2.5 snapshot (although I don't recommend updating to snapshot only for

[2019-05-06 20:51] kaikreuzer commented on #5005
I've merged https://github.com/openhab/openhab-distro/pull/905 now, so we should be getting closer again to a working IDE - would be great if everyone could test and provide feedback, which issues are still left (NOTE: It might take a few hours before the Eclipse Installer picks up the new setup file).

[2019-05-06 21:00] lolodomo commented on #5466
Here is a new version that improve detection of communication error and reconnection.

[org.openhab.binding.rotel-2.5.0-SNAPSHOT.zip](https://github.com/openhab/openhab2-addons/files/3149823/org.openhab.binding.rotel-2.5.0-SNAPSHOT.zip)

[2019-05-06 21:37] lolodomo commented on #5466
I plan to use the sequence RECORD_FUNCTION_SELECT => TONE_CONTROL_SELECT => TREBLE_UP/DOWN for treble adjustment and RECORD_FUNCTION_SELECT => TONE_CONTROL_SELECT => TONE_CONTROL_SELECT => BASS_UP/DOWN for bass adjustment.

[2019-05-06 21:41] pp81381 commented on #5466
Sounds good.   In the meantime I've deployed the latest version and will try it out.

[2019-05-07 02:12] jim77 commented on #4186
I tried installing the latest snapshot for the chromecast addons:

However, I can't see where this "deviceId" is being used. The thing configuration still requires an ip address and port number, and not deviceId.

[2019-05-07 10:20] lolodomo commented on #5466
New test version implementing the new logic for bass/treble adjustment.
[org.openhab.binding.rotel-2.5.0-SNAPSHOT.zip](https://github.com/openhab/openhab2-addons/files/3152040/org.openhab.binding.rotel-2.5.0-SNAPSHOT.zip)

It is working but not perfectly. When you increment bass from 0 to 1 for example, the channel will be set to 1 (by your action) then to 0 (by the binding - result of the command

[2019-05-07 18:16] triller-telekom commented on #5524
@cweitkamp  I have tested your suggestion with:

[code]

and it does *not* work.

Since the developer documentation still says

"TODO: We are currently reworking how to setup a perfect development enviroment. A new step by step guide will appear here after the migration is done. Watch Issue 5005 for further information and progress."

And I tried to install the IDE for about 1.5 hours without any

[2019-05-07 18:27] #4166 closed

[2019-05-07 18:30] #5222 closed

[2019-05-07 20:29] kaikreuzer commented on #5005
@openhab/2-x-add-ons-maintainers For all bundles with a lib folder, I am seeing errors like

<img width="1018" alt="Screenshot 2019-05-07 at 22 27 42" src="https://user-images.githubusercontent.com/3244965/57330812-65588f80-7117-11e9-8f02-911a86d24833.png">

in the official IDE setup and in consequence, they fail to compile. What's wrong here?

[2019-05-07 20:34] davidgraeff commented on #5005
Hm. Could be related to my move of the pom.xml file from poms/bndrun/poms.xml to root. I needed to adapt relative paths. Travis and Jenkins were happy though. Try to build with maven and your Mac (which might behave different to Linux?)

[2019-05-07 20:43] kaikreuzer commented on #5005
I am trying to get our IDE setup working again for our developers, so the goal here is to have no errors in the IDE. Yes, Maven headless seems to work as Jenkins confirms.

[2019-05-07 20:44] J-N-K commented on #5005
@kaikreuzer, please Check l. 704 in the base pom. I assume that will fix your problem. Could you also check if l. 662 needs to be adapted, too?

[2019-05-07 20:46] kaikreuzer commented on #5005
@davidgraeff Having moved the pom sounds like a plausible explanation, though. And it seems to hint that using lib folders isn't a good idea anymore...

[2019-05-07 20:50] kaikreuzer commented on #5005
@J-N-K Thanks, changing l-704 indeed does the trick!

It would be cool if all of you could also try out the new IDE setup as I am really struggling with it a bit... If we want to have it ready for the community again, we should make sure that it works reliable - I think I have now created PRs to have at least all compilation and buildpath errors resolved, so that's a start.

[2019-05-07 20:50] J-N-K commented on #5005
I agree we should get rid of the lib folders as soon as possible. We could simply upload all those files to bintray and add them as dependencies.
Most of need wrapping, though. And I didn‘t manage to wrap libs that are used in itests because bnd can‘t do that.

[2019-05-07 20:54] davidgraeff commented on #5005
#5503 is quite important for that reason. Could you create an openhab team on jcenter and share the credentials on the oh2 maintainer GitHub team, so that we can start to OSGi bundle those libs?

For new bindings with external libs we should push contributors to ask upstream for OSGi bundled variants.

[2019-05-07 20:59] kaikreuzer commented on #5005
All, but marytts as it required a Maven build to be executed. We might be able to add that as a setup task in the Oomph file...

[2019-05-07 21:02] kaikreuzer commented on #5005
You cannot directly upload stuff to jcenter, you upload it to Bintray and we have a Maven repo there: https://bintray.com/openhab/mvn

I can provide access to the addon maintainers, if you provide me your Bintray account name - but let's first clarify on #5503, where to upload it to exactly.

[2019-05-08 10:29] J-N-K opened #5571 "Consistent Bunde naming"
The project names are not very constistent. E.g.

- `org.openhab.io.mqttembeddedbroker`  is named `openHAB Add-ons :: Bundles :: IO :: MQTT Broker Moquette` while `org.openhab.io.homekit` is named `openHAB Add-ons :: Bundles :: Homekit` and not `openHAB Add-ons :: Bundles :: IO :: Homekit`
- `org.openhab.extensionservice.marketplace` is named `openHAB Add-ons :: Extension Service :: Eclipse IoT Ma

[2019-05-08 11:16] ppieczul commented on #5031
Committed as part of #2905, can be closed.

[2019-05-08 11:18] ppieczul commented on #4315
Hi @jeckyllhavok
Could you describe which features of the Intelligent Heat Controller you would like to see? Best in terms of use cases - how you would like to use them.
Light Controller v2 is supported, could you tell more about what you mean by "including RGB"?
Thanks

[2019-05-08 11:22] ppieczul commented on #3744
@sstroot this should be supported as part of #2905 commit. Could you check if it works for you? There should be Slider or UpDownAnalog or LeftRightAnalog channel depending on the type of virtual input.

[2019-05-08 11:25] ppieczul commented on #3679
Support for ColorPickerV2 as a subcontrol of LightControllerV2 was added as part of #2905. Please check it with that commit.

[2019-05-08 11:27] ppieczul commented on #4315
@jeckyllhavok I think I understand "including RGB" - if it means using RGB as a subcontrol of lighting controller, the support for ColorPickerV2 was added as part of #2905. You can check it with that commit.

[2019-05-08 11:38] #4315 closed, assigned to nobody

[2019-05-08 15:21] maggu2810 commented on #5571
The WebUI repository has not been migrated by me.
IMHO all repos should use the same scheme for group ID, artifact ID and project name.

[2019-05-08 15:22] maggu2810 commented on #5571
The openHAB WebUI repository has not been migrated by me.
IMHO all repos should use the same scheme for directories, group IDs, artifact IDs, bundle names, etc.

[2019-05-08 16:31] FischertBilligheim opened #5572 ""How to develop in the Eclipse IDE" does not work."
The description how to debug/develop a binding does not work on my Windows-10 machine.

I installed the Eclipse-IDE in "advanced-mode" using the "openHAB Add-ons" Project.
With that Installation the descriptions works pretty well - but I have 2 problems:

1) It's not possible to drag-drop my example/test "Serial-button"-binding like described to the "Run-requirements". An error box pops up:

![run