[2019-02-09 15:59] davidgraeff commented on #4518
Any fix for this yet? A github online editor fix would be enough as a start.

[2019-02-09 16:00] davidgraeff commented on #3494
My next round of fixing will be MQTT related, the network binding is like super low on my priority list atm. But yeah at some point that class should go.

[2019-02-09 16:03] davidgraeff commented on #4602
Had anybody any success in this matter? I mean it is quite serious somehow. I'm myself unfortunately busy with other areas in OH

[2019-02-09 16:04] davidgraeff commented on #2522
Fixed with the refactor in OH 2.4

[2019-02-09 16:04] #2522 closed

[2019-02-09 16:05] davidgraeff commented on #3139
OH 2.4: The tags can no freely be assigned in PaperUI or via a .cfg file

[2019-02-09 16:05] #3139 closed

[2019-02-09 16:06] davidgraeff commented on #3086
Closing, as not being related to hueemulation

[2019-02-09 16:06] #3086 closed

[2019-02-09 16:07] davidgraeff commented on #3214
OH 2.4: The service is now emulating a 2nd gen Hue bridge

[2019-02-09 16:07] #3214 closed

[2019-02-09 16:07] davidgraeff commented on #3755
OH 2.4: Should work now after the refactoring.

[2019-02-09 16:07] #3755 closed

[2019-02-09 16:08] #4436 closed

[2019-02-09 16:08] claude-boulard commented on #4594
Hello,

As far as I remember, the version 2.5 of Freebox binding, is part of
OpenHAB snapshot 2.5.

Personnally I've installed this snapshot 2.5, and then tried the Freebox
binding 2.5.

Hope this can help.

Claude

[image: 3dRudder Logo] <https://3dRudder.com> * Claude Boulard | Embedded
Software Engineer*

*Phone : *+33 (0)972 629 869  - 3dRudder.com <https://www.3drudder.com>
Europarc de Pichau

[2019-02-09 16:09] davidgraeff commented on #4482
Not related to hueemulation. Closing therefore.

FYI: Every openHAB service can be configured via textual means, the console and the REST interface (Paper UI). The documentation is currently improved to point that out.

[2019-02-09 16:09] #4482 closed

[2019-02-09 16:10] davidgraeff commented on #4293
Closing, because we have no control over Amazon and their Echo support for local Hue bridges.

[2019-02-09 16:10] #4293 closed

[2019-02-09 16:11] #3181 closed

[2019-02-09 16:13] davidgraeff commented on #4592
We are accepting PRs to replace any unnecessary Sleep with a scheduler call. Closing this generic Issue however as not being helpful for the project.

[2019-02-09 16:13] #4592 closed

[2019-02-09 16:13] MatziBrow commented on #4841
It seems that I face the same issue. However going back with "apt install openhab2:all=2.5.0~S1512-1" did not work. I also tried "apt install openhab2-addons:all=2.5.0~S1512-1". Still not starting.
Someone can help?
Thanks in advance!

Log:
2019-02-09 16:38:42.988 [ERROR] [core.karaf.internal.FeatureInstaller] - Failed installing 'openhab-persistence-mapdb, openhab-binding-exec, openhab-binding-ya

[2019-02-09 16:18] MatziBrow commented on #4841
It seems that I face the same issue. However going back with
`apt install openhab2:all=2.5.0~S1512-1 `
did not work. I also tried
`apt install openhab2-addons:all=2.5.0~S1512-`1
Still not starting.
Someone can help?
Thanks in advance!

Log:

2019-02-09 16:38:42.988 [ERROR] [core.karaf.internal.FeatureInstaller] - Failed installing 'openhab-persistence-mapdb, openhab-binding-exec, openhab-binding-y

[2019-02-09 17:28] Kaskadeur111 commented on #3139
Thanks. But I switched to iobroker 3 weeks ago. And guess what... I've made my complete setup I've been working on in Openhab for over 1 year. Incredible piece of software and so much more reliable and intuitive. It wasn't easy to go this way but it was 1000% the right step. Everything works out of the box flawlessly mqtt broadlink hue Alexa... Never going back. Whish you all the best and keep goi

[2019-02-09 17:32] davidgraeff commented on #3139
iobroker is also FOSS so that's all good :) But I wish we had a common forum for DIY projects for all Home Assistant, IoBroker, OH users

[2019-02-09 17:56] lolodomo commented on #4354
I should have fixed now the issue with blocking read when connecting with serial over IP.
The last test version is available in the PR.

I will test again serial over IP when I can.

I consider now this binding as finished ... at least until I have more feedback.

[2019-02-09 18:20] neoterianer opened #4844 "[knx] DPT 232.600 sends percentage values instead of byte values"
## Expected Behavior
The DPT 232.600 is defined as byte values (0..255), one for each color. Pure red should be transmitted e.g. as "r:255 g:0 b:0" to the KNX Bus.

## Current Behavior
OpenHAB sends percentage values (0..100). Pure red is transmitted as "r:100 g:0 b:0" to the KNX Bus.

## Possible Solution
The KNX Binding uses the getRed() etc. functions of the HSBType, which returns a percentage.

[2019-02-09 22:18] ccutrer commented on #3522
I found the problem! If you have a large number of accessories (I have nearly 150, and that's even after I pruned what I was publishing to HomeKit), HomeKit can send requests that have to be broken up into multiple encryption frames, and the HAP-Java library had a bug in it. Basically it would stop responding to the HomeKit connection, and it would take a while before that connection was dropped a

[2019-02-09 22:24] ccutrer commented on #3522
yup, 150 is a hard limit. HomeKit refuses to connect to a bridge that has more than 150 accessories (counting the bridge device itself).

[2019-02-09 22:31] phuongpham opened #4847 "[tesla] Scheduled runnable ended with an exception"
I have problem with the Tesla binding every day. Sometime it stop working after few hours.
The only fix is to restart the the binding by running: bundle:restart org.openhab.binding.tesla

When it stop I get follow error in the log:

[code]

[2019-02-09 22:33] beowulfe commented on #3522
Since the spec says 100 is the limit, we should probably enforce that in this library and throw an exception when you add the 101st

[2019-02-09 22:44] maslyankov commented on #3522
I don’t have more than 150 devices/accessories, not now, not when I got the error. The reason was that the homekit configuration in openHAB didn’t have the ip config set.

[2019-02-09 23:10] ccutrer commented on #3522
@maslyankov : indeed, that is definitely a very common issue. The fix I'm referring to here is rarer, and requires having lots of accessories. But I've also looked into the "have to specify my IP" issue. Turns out HAP-Java doesn't necessarily advertise via Bonjour the same place it's going to listen for requests on. I've also attempted to address that issue with https://github.com/ccutrer/HAP-Java

[2019-02-09 23:16] beowulfe commented on #3522
I think I'd favor not doing it automatically at all - that will just be confusing. We could use the metadata attributes to allow the user to specify a bridge number.

It does add configuration overhead, but a user with more than 100 accessories is likely a power user.

[2019-02-09 23:16] openhab-5iver commented on #4293
For completeness, Amazon claims to only support V1 Hue hubs without a skill. This service was "upgraded" to emulate a V2 hub, but the features that were added are unusable. Previously, the Switchable and Lighting tags did the same thing. That was changed, and the Switchable tag no longer works. ColorLight will turn on/off the light, but color and temperature cannot be changed. Currently, only the

[2019-02-09 23:21] ccutrer commented on #3522
Well, I wasn't a month ago, but I guess I am now... (My HomeKit from OpenHAB has fans, lights, smoke detectors, CO detectors, leak sensors, motion sensors, shades, all properly exposed...)

But yeah, I guess this is a good idea. It would allow me to logically group my bridges - a shades bridge, an alarm items bridge, etc.

[2019-02-10 00:13] goodfore commented on #4767
I am not sure that will work either, but if you look at the white bulb, status off will is also setting brightness to 0 also.

[code]

logically, if the bulb is off, shouldn't brightness be 0, always?

[2019-02-10 09:47] mueller-ma opened #4848 "No map is shown if mapview widget has no state"
Basic UI:
![basic](https://user-images.githubusercontent.com/22525368/52504776-c096e680-2be9-11e9-9b7e-4da0cd9395aa.JPG)

HTML:
![html](https://user-images.githubusercontent.com/22525368/52504778-c4c30400-2be9-11e9-893a-af71b1a9f455.JPG)

REST API:
![rest](https://user-images.githubusercontent.com/22525368/52504784-c8568b00-2be9-11e9-9bf5-ab147be429d1.JPG)

There is a similar issue in the Android

[2019-02-10 09:50] cweitkamp commented on #4848
@mueller-ma @lolodome issue has been transferred to other repo. Thanks for working on this topic.

[2019-02-10 09:52] tdeckers commented on #4835
Ok, I'll try to find some time. Would I be able to use the 2.5M1 addon  with my 2.4.0 installation? Or do I need to use an entire 2.5M1 deployment?

[2019-02-10 09:55] claell commented on #4767
That is a point, the white bulb and color bulb should behave similarly. The question is, whether it is done correctly for the white bulb.

I just looked at the log output again:
`2019-02-08 21:16:34.200 [DEBUG] [internal.handler.YeelightHandlerBase] - UpdateState->DeviceStatus [isPowerOff=true, r=128, g=128, b=128, color=8421504, brightness=10, ct=5000, hue=0, sat=0, isFlowing=false, delayOff=-1,

[2019-02-10 10:11] davidgraeff commented on #4835
Yes, you can uninstall the distribution addons and use the mqtt binding jar file. But there where also some fixes in the core regarding rule actions in general. If you do not use the mqtt action you are not affected though.

[2019-02-10 10:27] lolodomo opened #4849 "[powermax] Compatibility with RFC2217 ?"
I plan to update the Powermax binding to make it fully compatible with serial over IP.
It should be easy.

[2019-02-10 10:34] lolodomo opened #4850 "[rfxcom] Move to the serial core bundles"
As an old binding, the RFXCOM binding still relies on the gnu.io RXTX library.
It should be updated to use the serial openHAB core bundles.
I will work on that update.

[2019-02-10 10:58] martinvw commented on #4850
Serial over ip is already possible, but as a separate thing-type:

https://www.openhab.org/addons/bindings/rfxcom/#rfxcom-over-tcp-ip

[2019-02-10 11:05] lolodomo commented on #4850
This can be simplified; socat is not required.

[2019-02-10 11:09] martinvw commented on #4850
What do you mean? Socat offers the serial-to-ip and the binding itself does the serial-over-ip-to-binding.

So I have a pi with the RFXCOM with socat running. Then in my basement I have my server which has the specific thing-type to connect to the remote RFXCOM.

It would indeed by nice if this binding would also support it directly on the normal thing-type then we can deprecate the specific thing

[2019-02-10 11:13] lolodomo commented on #4850
On your remote RPI connected to the RFXCOM, what is required is ser2net to share the local serial port on the LAN, not socat. In case socat can replace ser2net, I have not tested.

I will work on that as soon as we have again a stable IDE/OH repos and I get a new SD card for my RPI 1.

[2019-02-10 11:18] martinvw commented on #4850
Yes, I just quickly read the documentation which mentions socat, which might or might not work but I indeed also use `ser2net` sorry for the noise :-D

[2019-02-10 12:48] bademux commented on #4602
How about using Openhab's item name as Hue's uniqueId? As far as I know item name is immutable and unique, and according to HueHab documentation it is string. Alexa work pretty well with such ids

[2019-02-10 14:20] tnemrap opened #4851 "[smhi] Add SMHI Binding"
I will commit a binding for SMHI (Swedish Meteorological and Hydrological Institute) this is to get rid of some rules see [https://community.openhab.org/t/solved-smhi-weather/22300]( https://community.openhab.org/t/solved-smhi-weather/22300)
This binding will provide current weather and forecast for 3 days from SMHI API pmp3g(https://opendata.smhi.se/apidocs/metfcst/).
It contains no bridge but yo

[2019-02-10 14:21] martinvw commented on #2776
@davidgraeff reading the linked PR and this issue it does not seem completely fixed or where other changes made to this behavior?

[2019-02-10 16:11] bademux commented on #2864
@Flole998  it depends. [Documentation](https://www.openhab.org/docs/installation/security.html#nginx-setup) suggests configuration incompatible with default plugin.
here the fix:

$ cat  /etc/nginx/sites-enabled/openhab
[code]

[2019-02-10 16:22] Flole998 commented on #2864
@bademux Open an issue at the docs repo and submit your PR there then

[2019-02-10 16:59] iro88 opened #4855 "[mihome] Xiaomi Mi Smart Home Bridge - don't goes online itself"
## Expected Behavior
Connection is established when Bridge goes back online.

## Current Behavior
In some cases when OpenHab loosing connection with Bridge it doesn't connect back by itself.
I also found some discussion about this on forum: https://community.openhab.org/t/xiaomi-mi-smart-home-bridge-never-goes-online-by-itself/58605

Now I have to manually restarting binding:
`openhab> bundle:rest

[2019-02-10 17:28] davidgraeff commented on #4602
The original hue bridge uses numbers only that's why we have numbers as well. It is actually even better to save the hue number as item meta data and not separate from the item.

[2019-02-10 17:43] davidgraeff commented on #2776
Hm. True. I think I have closed this because there was no progress or conclusion. Can be reopened of course. I guess the TTL can be removed or only be applied for ping devices and not TCP port things.

[2019-02-10 17:55] zbot473 commented on #4774
You are probably correct.

[2019-02-10 18:34] lolodomo commented on #4849
For the first time, I tested my binding with the IP connection thing type and a remote serial port (serial over IP using ser2net). I can confirm that it works well.
I am trying to make RFC2217 working but with no success until now !

[2019-02-10 19:18] lolodomo commented on #4849
For RFC2217, as the read is a blocking read, I tried to use the available() method but it seems it always returns 0.
If a reader thread is running a blocking read, the read never ends even if another thread writes data.
Maybe RFC2217 is not compatible with parallel read and write ?
So finally, I will disable RFC2217. To get serial over IP, you just have to use the IP conection thing type.

[2019-02-10 20:00] iro88 opened #4857 "[mihome] Xiaomi Mi Smart Home Bridge - out-of-date status"
## Expected Behavior
Status of Bridge is up-to-date.

## Current Behavior
When I power off Bridge it's still "online" in OpenHub Things. When I power on Bridge, after few minutes, everything works properly.

## Possible Solution
Checking status Bridge in some interval.

## Steps to Reproduce
Given: OpenHab with binding and connected Bridge (status "online")
When: power off Bridge
Then: it's still

[2019-02-10 20:16] msw1970 opened #4858 "[plex] Plex binding cannot be installed with snapshot #1519"
## Current Behavior
When installing the plex binding on snapshot #1519 the following error is seen in the openhab.log

`2019-02-10 20:07:31.204 [ERROR] [core.karaf.internal.FeatureInstaller] - Failed installing 'openhab-binding-plex1': Unable to resolve root: missing requirement [root] osgi.identity; osgi.identity=openhab-binding-plex1; type=karaf.feature; version="[1.14.0.SNAPSHOT,1.14.0.SNAPSHOT

[2019-02-10 21:02] aihysp commented on #3522
I did not have the error for a long time!!!

but about one month ago my Ipad Hub stooped working,
both my wife iPhone and my iPhone and my apple watch are all working but my hub stooped

[2019-02-10 21:22] hmerk commented on #4808
This is a duplicate of
https://github.com/eclipse/smarthome/issues/3632
There is already a test version but I did not find time to finish it
https://community.openhab.org/t/wemo-dimmer-switch-not-auto-detected/29690/37

[2019-02-10 21:52] peti69 opened #4859 "[knx] DPT 5.010 values are converted to floating point numbers"
I am currently migrating from openHAB 1.8 to the openHAB 2.4.0 image from dockerhub.

When receiving a DPT 5.010 value with the knx2 binding I see in my 2.4.0 events.log
[code]
The received number is not stored as an integer but as floting point number. In consequence my sitemap entry from 1.8
[code]
does not work anymore (no value is shown and in the drop down menu no value is preselected). I nee

[2019-02-10 22:03] lolodomo commented on #4354
I finally changed my mind for serial over IP and added a new thing type. Remains to be tested.

[2019-02-10 22:16] bademux commented on #4602
I don't know item object can store metadata with itself. But in that case we still have an issue - sequence should be handled.
I wonder if item name hashcode hashcode is distributed well enough.
After all the simplest and fastest solution is item name.

[2019-02-11 02:42] zbot473 commented on #4794
Thanks to @cweitkamp, we have a testing version.
https://github.com/cweitkamp/openhab2-addons/tree/feature-4794-chromecast-stop

[2019-02-11 04:20] kpanchen commented on #4751
I could add necessary code, the problem is that original code use threads for each interface, not sure why this is required, all the tools I've tested can detect interface automatically perfectly fine, this is just producing additional load in my opinion. Unfortunately Eli's tool does not support Interfaces and all the threads would basically do the same thing. In my testing on Windows machine I h

[2019-02-11 07:22] cweitkamp commented on #4794
PR #4860

[2019-02-11 09:26] #3145 closed

[2019-02-11 09:37] davidgraeff commented on #4602
I do not have a Hue developers account. If anyone can verify if arbitrary names can be used and quote that part that'd be helpful. If they restrict it to numbers only though we still need the mapping.

[2019-02-11 12:53] bademux commented on #4602
My openhab plugin (PoC) works with Alexa using item names.

There no description for root element, but in example we have string ("1")
[code]
https://developers.meethue.com/develop/hue-api/lights-api/#get-all-lights

A bit of internals (can be threaded as argument to use associated numeric ids):
"Yes, as Wim says it is not possible to change a light ID.  What you mention will work though, as delet

[2019-02-11 12:59] davidgraeff commented on #4602
Yes I know that it's not an array, but an associate map with stringed keys. But I guess some sloppy apps and hue API consumers out there are converting those keys to numbers, because the original Hue bridge will only ever have numbers. That's my concern.

I mean ideally the hue emulation also works with the original Hue app and all kind of 3rd party apps. And that's why I want the API doc to clear

[2019-02-11 13:00] cweitkamp commented on #4468
@ScottKinSF @wborn The issue is solved, right? Can we close it?

[2019-02-11 13:03] cweitkamp commented on #4277
Closing this issue.

[2019-02-11 13:03] #4277 closed

[2019-02-11 13:46] lucacalcaterra opened #4863 "[mqtt] Manage the things offline/online with availability_topic for HomeAssistant MQTT Thing"
## Expected Behavior

Reflect the online/offline things with a an online/offline MQTT message to availability_topic of HomeAssistant MQTT Bridge

## Current Behavior

Current version of binding not take care about availability of things create with this binding, even the payloads are defined
## Possible Solution

Fix the code managing the MQTT messages on the availability_topic (online/offline)
##

[2019-02-11 14:14] ScottKinSF commented on #4468
Indeed, it is solved for me, running snapshot S1502 here.

[2019-02-11 14:17] bademux commented on #4602
@davidgraeff yes I totally agree with you. The answer, depends on purpose of Openhab Addon.

In my opinion HueEmulator should be good enough to support several popular devices\apps.
100% emulation is not necessary and unreal :(

But back to your proposition to attach hueId to metadata "It is actually even better to save the hue number as item meta data and not separate from the item."
How you will

[2019-02-11 14:26] davidgraeff commented on #4602
No. That's what you would have done in 2.3, I guess. But since OH 2.4 there is a meta-data system in place. This is already used by haBot and by the auto-update feature. It's like attaching configuration to an Item, but namespaced. And in this case we would claim the namespace "hueemulation".

[2019-02-11 14:32] bademux commented on #4602
Well, then it sounds like almost perfect solution. Could you please share the link to the doc or sources?

[2019-02-11 14:49] lewie commented on #4844
@neoterianer,
please can you test these file:
https://github.com/lewie/openhab2/raw/DPT_232.600_sends_percentage_instead_of_byte_TESTFILE/addons/binding/org.openhab.binding.knx/org.openhab.binding.knx-2.5.0-SNAPSHOT.jar

[2019-02-11 15:18] davidgraeff commented on #4602
https://www.eclipse.org/smarthome/documentation/concepts/items.html#item-metadata

[2019-02-11 15:18] s4y commented on #4277
Sorry for not following up on this. It still “feels wrong” (and obviously my own instincts here are limited!) that the Chromecast binding is the only one I’ve seen that spams out `ItemStateEvent`s every few seconds while nothing is changing. Is there any other better behavior, or a reason why the Chromecast binding in particular should behave this way?

[2019-02-11 15:21] davidgraeff commented on #4277
Just ignore `ItemStateEvent`s. You are actually interested in `ItemChangeEvent`s. The core is just logging everything although this is really not worth logging. But it does the right think. It compares the last state to the current one and only emits a change event if actually something changed.

[2019-02-11 15:54] neoterianer commented on #4844
@lewie ,
thx, it works perfect now. :)

[2019-02-11 15:57] #4468 closed

[2019-02-11 16:21] s4y commented on #4277
All right. Just to make sure we’re on the same page, this isn’t logs, it’s what I get as a client of `/rest/events`.

[2019-02-11 16:28] davidgraeff commented on #4277
Hm. How should I explain it differently.

The architecture of OH is so that bindings do not keep state. If they are required to poll a remote device to find out about its state those bindings are supposed to send all those refreshed (but not necessarily changed) states to the openHAB event bus. So the chromecast binding is doing correctly.

The eventbus on the other hand in our very naive implemen

[2019-02-11 17:33] mueller-ma commented on #4848
IMO the user gets no information from the 0,0 map. I'm going to merge the fix for the app crash for now and we can decide later what's the best solution here.

[2019-02-11 17:42] fgaultier opened #4865 "[enocean] EEP A5-38-08 Dimming value range invalid"
According to EnOcean Equipment Profile Specification v2.6.7, EEP A5-38, command 0x02 dimming:
 valid dimming value range shall be between 0 and 255 (0x00 - 0XFF)

But current implementation (see file A5_38_08_Dimming.java) uses 0 - 100 (0x00 - 0x64) as value range.

We are using Mean Well LCM-40-E0 as LED driver and obviously it does not deliver full power with only 100 as dimming value.

[2019-02-11 19:13] thekev commented on #4602
Okay, I think I see a way here. If the item metadata stores the hueemulation ID, and the addon only stores the next-id integer, then we can use a simple incrementing value, which will only be assigned to a candidate item if missing from its metadata.

The max value of this ID is...? The hue bridge is said to support 50, with some reports of more being accomplished. Not clear what the protocol spec

[2019-02-11 19:32] davidgraeff commented on #4602
Yup. 255 sounds reasonable. From that point on we will still expose further items but add a big warning to the log file.

[2019-02-11 19:32] bademux commented on #4602
sorry being like a broken radio, but MAX_INT as safe as 255.
Documentation refers to 50 devices, not the length o type of hueId.
Imho, just go with MAX_INT or better with timestamp (no need to keep max value)

[2019-02-11 20:04] davidgraeff commented on #4602
I think the old maximum came from the fact that the first hue bridge was an embedded system with a reserved memory area for storing lights. The second edition is now a linux based system with AFAIK 256 mb ram, more than enough to store hundreds of lights.

And zigbee allows 65536 devices in one single mesh.

[2019-02-11 21:28] lolodomo commented on #4354
Serial over IP is now fully tested and working. New test version inside the PR.

I just realized that Markus's initial implementation for Ethernet connection is using a blocking read. That might a not so good idea. Maybe something to change.

[2019-02-11 23:39] lolodomo opened #4870 "Build failing"
Here are the logs I got:
[code]

[2019-02-12 07:04] lewie commented on #4859
I also know the effect, I also had to adjust some.

But you're right, it would be correct if all 1 byte values like DPT 5.010 (and 5.004, 5.005, 5.006, ...) ideally should be output as integers.

As I see, openHAB doesn't yet distinguish these cases. But the information as what a value of an item was stored or should be output (decimal or integer) does not exist.

A similar case often occurs with

[2019-02-12 07:06] lewie commented on #4844
#4864 is merged.

[2019-02-12 07:06] #4844 closed

[2019-02-12 08:27] pdcemulator commented on #3383
Is this also causing that percent values (humidity) are shown as 0.51 instead of 51%?

[2019-02-12 09:19] #4656 closed

[2019-02-12 12:33] Flynxify opened #4884 "[homematic] Missing events for HM-PB-4-FM"
Before

https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.homematic/src/main/java/org/openhab/binding/homematic/internal/communicator/virtual/ButtonVirtualDatapointHandler.java

was introduced the sender delivered events like:

`homematic:HG-HM-PBI-4-FM:c29c40e4:OEQ0613601:1#PRESS triggered SHORT`

Now they're structured like this:

`homematic:HG-HM-PBI-4-FM

[2019-02-12 15:47] davidgraeff opened #4886 "[mqtt] Homie devices not updating"
See also PR on https://github.com/pavax/openhab2-addons/pull/1

[2019-02-12 16:55] davidgraeff commented on #4801
I think it matches the category "extensionservice"

[2019-02-12 18:33] semperor opened #4888 "[logreader] Getting log entries as digest"
## Expected Behavior
I think it would be nice if one could configure a digest event with all entries from the last n seconds (for example).

## Context
At the moment I send every warning and error direct to telegram. That's quiet a mess when starting oh (~ 50 messages). Or during development of new rules or something else where errors and warnings are likely to occur. On message with all errors pe

[2019-02-12 18:47] openhab-5iver commented on #4801
Thank you for replying! I've been working on #519, but have spent most of the day trying to get a working IDE to debug it. I plan to work in this next. The OP was just thoughts/notes, mainly to show the intent and see if anyone would want to be involved.

Category... is that the official term I've been looking for!? :smile: For now, I'm only planning on the Jython and Groovy jars. Helper libraries

[2019-02-12 18:55] davidgraeff commented on #4870
Just to be sure: You are using the very latest checkout of openhab2-addons? I'm wondering why there is still "org.eclipse.smarthome" referenced, as we do not use ESH anymore.

[2019-02-12 19:07] lolodomo commented on #4870
Yes, update done yesterday evening.
Note that imports to leave were unchanged.

[2019-02-12 19:10] paulianttila commented on #4888
This can be done by the rules. You can collect message e.g. to list and then concatenated messages to one email post when certain amount of messages (~50) are collected or time (hour/day) threshold is exeeded.

If you decide to do this kind of rule, it can be added as an example to binding documentation page.

[2019-02-12 19:16] davidgraeff commented on #4870
Hm. Why is Travis building the binding. It should use the exact same instructions to start a maven build.
I have added the bug label as it seems to be a build system issue.

@maggu2810 @kaikreuzer

[2019-02-12 19:35] cweitkamp commented on #4870
I am not faceing the reported build issue. Can you try `mvn dependency:purge-local-repository` to make sure your local dependencies are up-to-date? Purging the local `~/.m2` folder could help too but is a little but more aggressive :wink:.

[2019-02-12 20:35] fab33 opened #4890 "[mqtt] RollerShutters doesn't work"
With OH 2.5M1 (deb repos)
Thing file :
[code]
item file :
[code]
When I want to UP/DOWN/STOP :
[code]

[2019-02-12 23:30] lolodomo commented on #4870
After removing my .m2 folder, the build goes further. Thank you @cweitkamp for the tip.
In fact, it is failing in Astro Binding Tests.
But if I run `mvn clean install -Dmaven.test.skip=true`, then it fails in NEEO Integration with a OutOfMemoryError exception (GC overhead limit exceeded):
[code]

[2019-02-12 23:33] davidgraeff commented on #4870
@lolodomo Could you please use the square brackets "[]" with the binding that causes problems in there? That patterns helps us organizing.

[2019-02-13 05:58] goodfore commented on #4767
@sverzijl the link to the file will expire in couple days, please let me know if you a re-upload.

[2019-02-13 07:49] lolodomo commented on #4870
Finally if I disable tests AND checks ( mvn clean install -Dmaven.test.skip=true -DskipCheckss=true ), the build succeeds.

[2019-02-13 07:49] #4870 closed

[2019-02-13 09:32] sverzijl commented on #4767
Apologies! I missed the link! I will try tonight.

[2019-02-13 09:45] sverzijl commented on #4767
Sorry, can I have a little more of pointer on how to use the ZIP file? Do I just copy the folder to the addons folder and restart openhab?

[2019-02-13 10:26] goodfore commented on #4767
@sverzijl Are you familiar with the openhab console? You would need to stop and uninstall your current yeelight binding first. Here are some steps I take to update the binding

1. Rename the .zip file to .jar file
2. login in to openhab console. Instructions can be found here [https://www.openhab.org/docs/administration/console.html](url)
3. Find the bundle, by run this command `bundle:list | grep

[2019-02-13 14:41] cweitkamp commented on #4650
@BasvanH Might I ask you to comment on @9037568 question? As you can see in the XML file containing the channel type configuration (see [channel-types.xml](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.openweathermap/ESH-INF/thing/channel-types.xml#L105)) all labels are written in camel case letters. Currently I expect this not to be a problem inside the

[2019-02-13 15:01] BasvanH commented on #4650
@cweitkamp , from my screenshot the white text is my own input, the name given on Dummy widget. The blue text is output from the channels, not the labels. String output from the channels is not formatted. If the binding is just forwarding the OWM API's values, apparently they aren't very consistent in casing.

[2019-02-13 15:03] cweitkamp commented on #4525
No, I do not face timeouts. For me it is working smoothly. I am only struggeling with #4518.

[2019-02-13 15:06] cweitkamp commented on #4533
@slundell Might I ask you to comment on @Hex-3-En  question? I am using three TRADFRI remotes in my environment without any issues.

[2019-02-13 15:13] cweitkamp commented on #4650
Yes, the binding just forwards data received from OWM API. It does neither applies a formatter nor a translation on values. To be honest we will not fix that. If you like to have optimized casing I have to ask you to look for a solution elsewhere (e.g. by creating a rule).

[2019-02-13 15:13] #4650 closed

[2019-02-13 15:21] davidgraeff commented on #4518
I have looked into the code and did not find any obvious problem. The mentioned timer is stopped correctly in `stopTimer` and the websocket connection is closed and destroyed as well. Hm.

[2019-02-13 17:38] davidgraeff commented on #4890
Hm. I just looked up in the code. That use case is not supported at the moment. Right now you can receive UP,DOWN,STOP from MQTT. But you cannot post UP,DOWN,STOP commands to a rollershutter item, connected to an MQTT channel.

The binding would not know what to send via the MQTT protocol. So I first need to add the configuration options to define what text to send for UP/DOWN/STOP.

[2019-02-13 17:45] claell opened #4896 "[yeelight] Problems when many devices are added"
As reported on the Forum, the Yeelight binding has problems when many devices are connected. They sometimes go offline and don't go online anymore: https://community.openhab.org/t/yeelight-binding/13735/247?u=clel

Maybe related to #3666

Maybe you have some time to look into this @goodfore? Also I think that @themillhousegroup has fixed a similar problem for the Broadlink binding recently.

[2019-02-14 07:06] lolodomo commented on #4850
@kaikreuzer :  should I already consider moving the binding to the new core namespace ?

[2019-02-14 07:41] GertJanArts opened #4902 "[toon] Update binding for new API backend"
It looks like the Toon API add-on is no longer working. Since yesterday the status is OFFLINE. Invalid api resonse status: 503
Login and passwords are checked.

Found on Eneco forum:
_"I checked and received an answer that the old backend is no longer usable, the advice is to use the current Api backend, Apps such as Olisto and Homey already connect with the current backend."_

Looks like the Open

[2019-02-14 08:18] kaikreuzer commented on #4850
@lolodomo There is no new core namespace - all Java package names are untouched (with the exception of the automation component), so no need to do any kind of move. Or am I misunderstanding your question?

[2019-02-14 12:21] lolodomo commented on #4850
I just discovered and understood that the new openhab core files have an unchanged package name, that is org.eclipse.smarthome.io.transport.serial. So imports will continue to be relative to org.eclipse.smarthome.io.transport.serial.* even ifiles are org.openhab.core.io.transport.serial.

[2019-02-14 19:08] goodfore commented on #4896
I can take a look, but I only have 2 bulbs, so I can't really replicate the issue. So far I have issues with the bulbs going into non-responsive mode when I switch binding (upgrading/sideloading Yeelight binding). Not sure that's related.

[2019-02-15 07:43] claell commented on #4896
Alright, no problem. Maybe you find some code which might cause it. I think the problem from @themillhousegroup was related to search requests not timing out or something like that. But it is up to you, if you want to take a look. If not, at least we have an issue to track the problem :smiley:

[2019-02-15 20:59] msw1970 commented on #4858
To add.. This issue persists through snapshot #1522

[2019-02-15 23:22] goodfore commented on #4896
@claell I am wondering about the following code. Is there a reason we need a task for each channel, instead of one updater task for one thing? The returned status should have enough info for all the channels.

[code]

[2019-02-15 23:24] goodfore commented on #4767
@sverzijl Any improvements with the new zip/jar?

Thanks,
Joe

[2019-02-15 23:52] sverzijl commented on #4767
Apologies for the delay - will trial today.

[2019-02-16 04:17] ccutrer commented on #4858
I'm having the same problem, but with openhab-binding-myq1 on snapshot 1522

[2019-02-16 05:57] sverzijl commented on #4767
Hi, tested it out just now:

Turn On via Google Home:
2019-02-16 16:55:29.132 [DEBUG] [lib.device.connection.WifiConnection] - WifiConnection: get response: {"method":"props","params":{"power":"on"}}

2019-02-16 16:55:29.135 [INFO ] [light.internal.lib.device.DeviceBase] - status = DeviceStatus [isPowerOff=false, r=255, g=0, b=0, color=16711680, brightness=100, ct=4000, hue=359, sat=100, isFlowing

[2019-02-16 06:04] goodfore commented on #4767
Thanks. I guess it didn't work as expected. I noticed that the mode is sunshine, which means it won't update the color channel, is that the case? Is it possible to try with hsb mode or color mode?

[2019-02-16 08:59] lukicsl opened #4906 "[MQTT] Type check at channel level done prior to transformation"
Checking of matching of the incoming mqtt payload type (e.g. number/string) is done prior to transformation execution

Channel:
[code]
Item:
[code]
Payload, first number of interest:
[code]
Log entry:
[code]

[2019-02-16 10:23] lukicsl commented on #4906
After setting the config again and rebooting things started working as expected

[2019-02-16 10:23] #4906 closed

[2019-02-16 17:18] claell commented on #4896
I cannot remember a reason. However I remember that there might be redundant status queries etc. in the code which might not be needed. So if it works for you when removing it, it is probably fine. I agree with you that removing those unnecessary traffic is a good thing. However I fear this won't fix problems with devices going offline and not coming back again.

[2019-02-16 22:29] phuongpham commented on #4230
@cguedel @cweitkamp still nothing new?

[2019-02-17 02:47] sverzijl commented on #4767
Okay - I do apologize- I only half read what you wrote in the post above with the file. Quite embarrassing.

When I go into the Yeelight App and choose a colour the Yeelight changes to Color Mode. Whilst in that mode everything works correctly with your update. Yay.

I guess the only issue is that we need to make sure we are in colour mode for it to work which may be confusing for future users. Is

[2019-02-17 03:33] sverzijl commented on #4767
So - if the light is turned off at the power point and then turned back on it is no longer in Colour mode and must be changed in the app before it will update properly in Openhab.

[2019-02-17 06:51] dastrix80 opened #4912 "[amazonechocontrol] Exception when getting playlists"
Hi All

When starting up I get this large error:

[code]

Has anyone seen this?

My Echo items for reference:

[code]

Any help would be great!

[2019-02-17 07:10] 9037568 commented on #4912
You need to attach a debug log that shows the rest of the error.

[2019-02-17 08:50] goodfore commented on #4767
Thank you for testing. I think we need to figure out how to logically map the modes to openhab channels.

How many modes are there in the app? Color, HSV, sunshine(CT)? Let's leave out flow mode for now.

Also, it seems like whenever google home controls the light, it's in sunshine mode? Or it was just the state when it was last on?

Thanks,
Joe

[2019-02-17 09:44] goodfore commented on #3763
@alexeinz I think to begin, a custom command channel would be good. Let me give that a try.

Thanks,
Joe

[2019-02-17 10:19] #4658 closed

[2019-02-17 10:30] #4230 closed

[2019-02-17 10:31] cweitkamp commented on #4230
@phuongpham The PR has been merged. Fix will be available in next snapshot build.

[2019-02-17 10:34] phuongpham commented on #4230
Great! Thanks for your help guys! I will test it and report back

[2019-02-17 11:04] tnemrap commented on #3770
Any updates on this i am getting bored of all
` Error while reading
su.litvak.chromecast.api.v2.ChromeCastException: Remote socket closed
        at su.litvak.chromecast.api.v2.Channel.read(Channel.java:425) ~[263:org.openhab.binding.chromecast:2.5.0.M1]
        at su.litvak.chromecast.api.v2.Channel.access$200(Channel.java:51) ~[263:org.openhab.binding.chromecast:2.5.0.M1]
        at su.litvak.ch

[2019-02-17 11:42] sverzijl commented on #4767
So the only modes I can access via the app are Color and Sunshine.

With Google Home - On/Off just returns to the previous state.
Telling Google to change Color goes to Color mode.
Not sure what to say to Google home to adjust color temperature.

[2019-02-17 12:11] J-N-K opened #4915 "[smtp-action] port mail action to openhab2-addons"
The OH1-Mail action (send mail via an external mail server) should be ported to OH2. This is different from #2147 which provides the possibility to control OH by receiving mails.

My idea is: a SMTP-server thing (which holds address, username, etc) and an action that uses this thing. Any comments?

[2019-02-17 12:13] J-N-K opened #4916 "[onewire] support BAE0910 sensors"
add support for BAE0910 sensors in the onewrie binding

was ESH [#6177](https://github.com/eclipse/smarthome/issues/6177)

[2019-02-17 12:47] davidgraeff opened #4918 "[Administrational UI] Deprecate Paper UI for OH 2.5"
Paper UI has many shortcomings that lead to
* increased required support on the community board
* force people to use DSL text files

I know that a unified UI is being worked on for OH3. But OH3 might be end of this year earliest. And the concepts and the web-ui team are not yet formed.

I hereby propose and like to discuss the possibility of replacing Paper UI for OH2.5 already
with https://david

[2019-02-17 13:27] jo47011 commented on #4234
Are you still working on it?  Is it gonna be part of the official package or how can others benefit from your potential solution/improvement?  I understand the architectural constraints but the current approach is not user friendly at all for some scenarios.  Until then I will switch back to KNX1 :(

[2019-02-17 13:57] lewie commented on #4234
@jo47011, it's still in profress and I can't tell when I can run first official tests. There are still some architecture issues to be solved to run it as an extension of the KNX2 bundle. Waiting for it doesn't make sense.

Maybe I can help you how to implement your requirements with the current KNX2 bundle?!

[2019-02-17 14:07] cweitkamp commented on #4915
The only thought I like to add is if we should introduce a more flexible way for sending the mails. Instead it defining several actions with different parameters we could discuss something like a builder pattern for creating messages.

[2019-02-17 14:37] foxejoe commented on #4858
same problem (Plex) on snapshot#1524

[2019-02-17 14:50] Zodiarc commented on #2911
I started development of a binding for the sensibo sky yesterday. I´m completely new to openHAB so development is slow but I´m currently at a state where I can read the data from the API and I think I´ll be able to control my A/C tomorrow. The thing  descriptions are currently static but as soon as I´m able to control everything I´ll create a fork of this repo and push my binding. After that I´ll

[2019-02-17 15:23] lolodomo commented on #4918
Why replacing ? Just add it as a new UI and let the user decide what to use.
After a period of tests, if no feature is missing compared to Paper UI+dashboard and the app is stable and appreciated by most of users, we could make it the new default but still keeping old UIs.

I take a look to the demo and it looks promising.

[2019-02-17 15:26] davidgraeff commented on #4918
@lolodomo I would agree, but at the moment there is an initiate going on to reduce the currently available UIs. And if I'm just adding another UI, maintainers are very likely to not even considering it. My proposal is therefore aiming at fully replacing Paper UI.

[2019-02-17 16:22] MHerbst commented on #4918
I generally agree with @lolodomo . This would give everybody the chance to test the new UI in real life with the chance to go back easily to the old Paper UI if there are any issues with the new UI. But I would would the limit the lifetime of the old UI. E.g. 2.5 will contain both UIs and 2.6 only the new UI.

@davidgraeff The new UI really looks good but I would like to have the chance to get rid

[2019-02-17 16:23] 9037568 commented on #1258
Everyone still having this problem: please do what the [README](https://www.openhab.org/addons/integrations/homekit/#additional-notes) suggests:

[code]

Then recapture a log and attach it here.

[2019-02-17 16:45] jo47011 commented on #4234
@lewie thanks a lot four your offer :)  Finally I got it working.  Not an easy task at all.  I needed the -control items to get events from my wall mounted switches.  Well I might have something to help others:
I have a **python script** that reads in KNX1 item files and the ETS (**knxproj**) file and then generates KNX2 item files and the knx.thing file.  Is there a code share area where I can up

[2019-02-17 17:06] lolodomo commented on #4918
Step 0 would be a test jar so that we can test the new UI.

If there is no more maintenance for Paper UI, this has to be clearly mentioned in documentation but not a valid reason to suppress it immediately from the distribution, while it is working well and used by thousands of users.

Basic UI was a replacement of Classic UI but Classic UI was not removed. Few users probably still prefer Classic

[2019-02-17 17:11] michaeldavie commented on #2911
That's great news. Since opening this issue I've moved from OpenHAB to Home Assistant, so I probably won't be of much help. For what it's worth, here are the Python implementations that Home Assistant uses:

Sensibo API client: https://github.com/andrey-git/pysensibo
Home Assistant component: https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/climate/sensibo.py

[2019-02-17 17:20] Zodiarc commented on #2911
Funny enough I was on Home Assistant before openHAB, but stuff happened with it which drove me nuts. That´s why I switched

[2019-02-17 17:21] davidgraeff commented on #4918
Actually... I like to change how Web UIs are embedded into OH as well. There is no reason for a pure html+js+css application to have a jar bundle.

I'm building an extensionservice at the moment, which polls npmjs for "openhab-ui" categorized packages. Those will appear as install-able like the current marketplace extensions.

It has been mentioned on several occasions. But we cannot add that to t

[2019-02-17 17:24] J-N-K commented on #4915
Another thought: wouldn‘t it be nice to have the possibility to send the logs via mail every day (or maybe only parts of that, like „all error“ and have that as configurable Option in UI without rules?

[2019-02-17 17:38] claell commented on #4767
Nice to hear, it works now at least when in color mode.

@goodfore After realizing, sunshine mode means CT mode, I think this brightness should also be mapped to the color channel for color bulbs, since those bulbs use the color brightness channel also for changing brightness when in CT mode. I hope it works to set brightness for their color channel without having the bulb go into color mode, but

[2019-02-17 17:58] davidgraeff commented on #4915
The builder pattern could be realized by Things, where the Thing configuration is used to store text/html. Is that an option?

[2019-02-17 18:06] MHerbst commented on #4918
Please correct me if I am wrong: as far as I know, npm requires a node.js installation. If this would mean that node.js would be required for openHAB only to install some add-ons then I would call this "overkill".  I would not want to install this node.js stuff on a productive environment on a Raspberry.

[2019-02-17 18:07] J-N-K commented on #4915
I think it is quite easy to realize the builder pattern within the binding (i.e. in java). The question is how this could be transported to the rule engine.

@davidgraeff, I don‘t fully understand what you propose.

[2019-02-17 18:08] davidgraeff commented on #4915
@J-N-K I thought about a visual way to use this. But never mind. Rules can be edited in a graphical fashion as well. Stupid me.

[2019-02-17 18:09] vitalidze commented on #3770
@tnemrap FYI, I have just released the 0.10.5 version of the library that contains changes in logging of exceptions. The release is going to be available in maven central soon.

[2019-02-17 18:10] davidgraeff commented on #4918
npm itself is a js application that is true. But I'm not building up on npm. I'm requesting the repository via API and download within java.

[2019-02-17 19:02] cweitkamp commented on #4915
@J-N-K Have a look at the OH1 Pushover binding (https://github.com/openhab/openhab1-addons/pull/5527). It already implemented a builder pattern. The rule actions can be moved / mapped to `ThingAction`s.

[2019-02-17 20:53] cweitkamp commented on #3770
@vitalidze Thank you very much. I submitted #4922 to include it.

[2019-02-17 20:58] cweitkamp commented on #4800
I moved the issue to the issue tracker of the library.

https://github.com/vitalidze/chromecast-java-api-v2/issues/107

[2019-02-17 21:24] #4186 closed

[2019-02-17 21:25] #3770 closed

[2019-02-17 21:50] JAMESBOWLER commented on #2911
Cool I still down for testing if it works I have 2 sky's

[2019-02-18 06:23] cweitkamp commented on #4800
@OzZyHH Can you add the received messages that show when enabling debug logging on: `su.litvak.chromecast.api.v2`. Thanks.

[2019-02-18 07:18] Zodiarc commented on #2911
That's awesome. I have only one so testing it for multiple devices isn't possible. I'll get in touch as soon as I think I have it set up for multiple.

[2019-02-18 07:26] nibblerrick commented on #4918
That's a big point. I begun with alexa & homekit relatively early in OH2, so I expected some quirks and I used textfiles, so I can tag easily. Not a problem for me.
But it is just really strange, you use paperUI, then you read somewhere tagging, you don't find in in paperUI, you may have habmin installed, there are "tags", you can't edit them and in the end you should use the rest-API to add tags

[2019-02-18 07:38] lewie commented on #4234
@jo47011, cool!, this is your work. Then you should publish the script under your name. Welcome to the world of open source developers! :-)
Go to https://github.com/jo47011?tab=repositories and open a new Repository. And upload your script directly or with Git from your PC.

Documentation: https://help.github.com/articles/creating-a-new-repository/

![grafik](https://user-images.githubusercontent.

[2019-02-18 07:56] goodfore commented on #4767
based on the results and the log files, I think it's safe to say that the status update from the bulb always contains info for both colour channel and CT, thus I think we should update both channels on every update, regardless of which colour mode the bulb is in.

[2019-02-18 08:07] goodfore commented on #4767
I have made the following changes to the method.
[code]
@sverzijl I have uploaded a new zip/jar, pleaes give it a try. [Download Here](https://d.pr/free/f/gZew1Q)

[2019-02-18 12:20] OzZyHH commented on #4800
@cweitkamp I've enabled debug logging for this class and wait for next occurence

[2019-02-18 12:43] davidgraeff commented on #4918
FYI: This issue is attached to the wrong repository as soon as https://github.com/openhab/openhab2-addons/pull/4923 has been merged.

[2019-02-18 13:28] phuongpham commented on #4230
@cguedel  ok I have now tested the new jar. The error is now gone from the log. However the Charge cable properties return value: <invalid>
Maybe the API doesn't return value?

[2019-02-18 14:16] jo47011 commented on #4234
@lewie ok got me there.  Thanks for the nice welcome and the perfect description.  :) I will do so and publish it in the next few days.  Still needs some cleaning up.

[2019-02-18 15:29] kaikreuzer commented on #4918
I agree with @lolodomo and @MHerbst: IF we are considering this UI, it would have to be an addition, but not a replacement - we cannot remove Paper UI from the distro from 2.x.

I stated my opinion already [here](https://community.openhab.org/t/the-road-ahead-reintegrating-esh/64670): "Imho we should not make any fundamental changes to openHAB 2" Removing or replacing the Paper UI clearly is a fun

[2019-02-18 15:31] leijonatm commented on #4735
Hello Ondrej,

I managed to run the binding. I created a string item and change it to either OPEN, CLOSE, STOP and pedestrian. As shown below the command is sent to the binding but am getting some errors one of which suggests to check the credentials only the gateway item is online and the set credentials correct. What could be the issue ?

==> /var/log/openhab2/events.log <==

2019-02-18 17:16:09

[2019-02-18 16:02] digitaldan commented on #4411
Hi all, sorry i was on other things, but i'm back.  @wborn I just merged you settings into my branch.  I have been running this over the xmpp version without issues.   I think we should go ahead and pursue this as a replacement.  I will get it fired up today and start preparing it for a PR .

@wborn is there anything missing that you can see from it?

[2019-02-18 16:08] davidgraeff commented on #4918
I have no problem with this being an addition, and not a replacement.

But Kai, you cannot force contributors (which happen to be maintainers) to only do PR reviews here and not work on openhab-core or UIs. We can have a 1000 bindings, if the user experience is bad, people are moving to Home Assistant and other solutions.

At the moment you DO force people to use .thing and .item files however. An

[2019-02-18 16:19] kaikreuzer commented on #4918
I can only repeat: "3" is marketing, meaning users can expect new stuff, while 2 means that people get stability and stuff they expect being on version 2.

I already mentioned last month that we should work NOW on new features and improvements. And I don't have an issue if we provide openHAB 3 early access builds by next week, so everyone who does wants to benefit from the new features is able to

[2019-02-18 16:25] davidgraeff commented on #4918
Oh. Sounds good. OH 2.5M2 is required before that can happen, I assume? (There were at least a few people that needed to downgrade from OH2.5M1 to OH2.4 because of issues.)

Then I drop this Issue now and just make a normal PR to the -webui repo at some point.

[2019-02-18 16:25] #4918 closed

[2019-02-18 16:51] octa22 commented on #4735
Hi,
good to hear it!
sorry I cannot fix it right now, because I am on my vacation.
I think the problem is the case of the command.
Please can you try to send stop or other commands in lower case?
If it is the root of the problem, I’ll fix it as soon as I get home. Thanks.
Ondrej

[2019-02-18 16:53] leijonatm commented on #4735
No need to rush, take your time. I will change the case and let you know. Enjoy your holidays :-)

On 18 Feb 2019, at 18:51, Ondrej Pecta <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,
good to hear it!
sorry I cannot fix it right now, because I am on my vacation.
I think the problem is the case of the command.
Please can you try to send stop or other commands in lower case

[2019-02-18 18:00] cguedel commented on #4230
@phuongpham As indicated by the logs you posted, the value <invalid> is sent by the tesla backend. Nothing we can do about that.

[2019-02-18 18:57] Zodiarc commented on #2911
The First version is now available for testing. If you have more than one Sensibo Sky with one account, please don´t enter the deviceID at first and see if the log viewer shows an error that there are more then one available. Please let me know if there are any errors. I´ll clean the code up in the next days and make the thing definition dynamic so it suits the capabilities of the connected A/C. R

[2019-02-18 19:32] michaeljoos72 opened #4924 "[meteoblue] Image-Channel "Icon" state NULL"
I tried to use the weather binding for meteoblue free account. According Docu:

Icon | Image | Image used to represent the forecast (calculated)

I don't know how this is exactly implemented (calculated), but my Item always keeps state "NULL". There is another user that did ask this and it seems that it doesn't work:
https://community.openhab.org/t/new-meteoblue-binding-no-icon/66143

I'm on lates

[2019-02-18 21:11] wborn commented on #4411
Thanks for merging my PR. The code is feature complete and works very well @digitaldan. :+1:
I've been using the new websocket implementation ever since (default firmware) and haven't found any new issues. :smiley:

[2019-02-18 21:23] digitaldan commented on #4411
Awesome, see https://github.com/openhab/openhab2-addons/pull/4926/

[2019-02-18 22:53] #1783 closed

[2019-02-18 22:53] #4794 closed

[2019-02-18 23:33] #4411 closed

[2019-02-19 00:39] Jochen1980 opened #4928 "Add Home Connect Binding"
There is a great binding related to the Home Connect ecosystem from BSH. This binding needs to included in the master branch.

[2019-02-19 02:53] witek1308 commented on #3341
I have the same problem and it drives me nuts. I have a feeling that I'm missing some important configuration as there is no magic in it. Quickly:
- notifications, events, items work fine
- dashboard https://home.myopenhab.org/start/index
- when I try to connect with Android app on the phone to remote link, I'm getting the same error
- when I try to integrate Google Home with the OpenHAB I'm getti

[2019-02-19 03:13] 9037568 commented on #4924
Working fine here:

![image](https://user-images.githubusercontent.com/9916473/52987704-3f4e0980-33ca-11e9-9848-0714fece0030.png)

Suggest you try the stable release, and if you still have an issue, don't ignore the information requested when submitting an issue.

[2019-02-19 07:43] skazi0 opened #4930 "[modbus] Confusing migration scenario"
The documentation at https://www.openhab.org/addons/bindings/modbus/#how-to-manually-migrate takes input with four slaves, each with different `id` and transforms that into one bridge with `id=1`. The doc states that only one device is addressed so one top level bridge is needed.

As far as I understand, the `id` in 1.x configuration defines one slave device (unit) on a bus addressed with `address

[2019-02-19 08:07] michaeljoos72 commented on #4924
OK, agree. But user Rene did mention in the community that he is using 2.4 and he has the same issue.
Maybe we both missed something? From where exactly is this image coming? Is it a link to an external site or do we have to save icons in the html-folder?

Most probably we have to continue the discussion there:
https://community.openhab.org/t/new-meteoblue-binding-no-icon/66143

[2019-02-19 08:24] marcelrv commented on #4256
to do anything meaningful with this issue, please make a debug log
execute these in the karaf console:

[code]

than execute your commands that causes the issue you are facing.

Note that the `Actual Temperature Refresh Rate` feature is indeed still marked as experimental. As indeed changes during the 'measuring cycle' your manual input probably gets ignored/overwritten.
In case of issues, you bes

[2019-02-19 10:03] leijonatm commented on #4735
Hello Ondrej,
Changing the case made it work like a charm. Thanks ever so much!
I only wish there was a way to be notified from the binding for any messages that the app is throwing for the gate , like there is an obstacle or it lost communication.

When and if you have time that would be wonderful.

Thanks again and enjoy your vacation.

Regards,

Panos

From: Ondrej Pecta <notifications@github.c

[2019-02-19 10:28] marcdevinci opened #4932 "[nadreceiver] Add NAD Receiver Binding"
**Context**
I own a NAD receiver (https://nadelectronics.com), the T758v3. I always owned NAD A/V receivers and I'm very happy with it. The need to have it connected to my home automation system increased with time. For example, I have a smart power plug for my amplifier and pre-amplifier, in addition to my A/V Receiver. My goal would be to activate my smart power plug when the NAD T758v3 has powe

[2019-02-19 12:16] #4564 closed

[2019-02-19 13:04] davidgraeff opened #4935 "Travis: Use "GitHub App" instead of "Service""
There is still the old Travis service hook in place although the repository seem to run on the Travis Github App already. Can we remove the old hook?
![bildschirmfoto vom 2019-02-19 14-05-04](https://user-images.githubusercontent.com/66436/53017050-669aea00-344f-11e9-8b9d-7e6f68af5866.png)

[2019-02-19 13:40] wborn commented on #4643
Can we close this issue since it's solved @profigriller?

[2019-02-19 15:08] ollie-dev commented on #4643
Yes close it.

[2019-02-19 15:15] #4643 closed

[2019-02-19 16:45] fabian727 opened #4937 "[mail] can't set port on ssl"
## Expected Behavior
configuring SSL=true and port=custom, should set port to the custom value, but is set to 465

I would propose trying both ports (if user set one) and using the working one, prefering the user port if both are working.

## Current Behavior
port is set to 465, though a custom one was set

## Steps to Reproduce (for Bugs)
1. just set ssl=true and port=25 (e.g.)
2. and you get a l

[2019-02-19 16:45] fabian727 commented on #4937
allready started discussing this topic in [here](https://community.openhab.org/t/email-addon-is-using-wrong-port/67860/9)

[2019-02-19 17:46] petrklus commented on #4844
Hi, not sure if this is the best place to comment - how about RGBW -> 251.600?

[2019-02-19 17:47] petrklus commented on #4844
Hi, not sure if this is the best place to comment - how about RGBW -> 251.600?

@lewie , any idea how to best implement?

[2019-02-19 17:53] petrklus opened #4939 "[knx] Add support for DPT 251.600 for RGBW colour"
The DPT 251.600 is required to gain full control over the white channel as well.

The 251.600 is a 6-byte value, each value (R, G, B and W) occupying 12 bits.

[2019-02-19 18:01] petrklus commented on #4440
A relevant comment - should the RGBW type was implemented (https://github.com/openhab/openhab2-addons/issues/4939), how would this be represented in OH?

[2019-02-19 18:54] kaikreuzer commented on #4935
Thanks - I've removed the service.

[2019-02-19 18:57] bertmelis opened #4941 "[knx] Too many connections"
## Expected Behavior
Limit the number of simultaneous connections to the KNX/IP router

## Current Behavior
I don't know how to investigate in detail, but from what I suspect is that KNX creates 5 connections to my KNX. I have a Weinzierl 730 which is limited to 5 connections so I cannot access the bus anymore with other devices.
I don't know if there are 5 open connections or just 1 open and 4 ha

[2019-02-19 19:07] GitSchorsch commented on #4858
at least with pilight still persists in snapshot #1525

[2019-02-19 21:55] mattstocum commented on #4411
I'm not able to connect to my hub using the new binding. When trying the command line test client, it seems like it's being disconnected with HTTP error 417

`[HttpClient@1db1f78-12] DEBUG org.eclipse.jetty.client.HttpReceiver - Response headers HttpResponse[HTTP/1.1 417 null]@1ecbe57
Access-Control-Allow-Headers: origin, content-type, accept
Access-Control-Allow-Method: POST, OPTIONS
Access-Contr

[2019-02-19 22:38] digitaldan commented on #4411
@mattstocum Logitech also change the signature of the websocket instance with the new firmware released in the last 48 hours :-(  Fortunately I have a fix waiting for review https://github.com/openhab/openhab2-addons/pull/4938

[2019-02-20 05:20] 9037568 commented on #4937
This is the wrong issue tracker. The mail action is in the [OH1 addons](http://github.com/openhab/openhab1-addons) repo. And there's a ticket open there already, as noted in the community thread you linked.

[2019-02-20 05:20] #4937 closed

[2019-02-20 06:28] meins0273 opened #4944 "[homematic] HMW-IO-12-Sw14-DR error when using DIGITAL/ANALOG ( frequency) Input"
I have a problem with the Homematic Multi IO module hmw-io-12-sw14-dr. I use the file OH 2.4 and Raspberrymatic with the latest version. Where a test with a CCU2 with the latest version and OH2.4 came to the same result.
The binding has a problem with the input channels 15-20. With these channels you can usually choose whether you want to use the input as analog (frequency measurement) or digital

[2019-02-20 06:51] lionhe1966 commented on #4711
I am running this binding since one week and it appears that the sampling rate is not always 2 minutes but it can be faster, usually when some switch measures some power.  If required, I can try to restore an old version of openhab (1.8.3) from my backups and try to see if such a behavior still occur.

[2019-02-20 10:22] schniddsel commented on #4602
Did you check the "close()" option? I think if this works you could do a hotfix and invest some more time in the meta solution afterwards. I by myself ran into the problem yesterday after rebooting my rasp after some updates. "Alexa Kitchen off" turned off my tv... well. Sad girlfriend watching Netflix.

Is it possible to overwrite the jsondb? So that i could back it up on my pc and overwrite it a

[2019-02-20 10:29] davidgraeff commented on #4602
@schniddsel There is no working solution yet, as no jsondb maintainer has commented so far.

[2019-02-20 10:43] lewie commented on #4844
@petrklus, we use calimero to communicate with KNX, and current used version has not implemented 251.600 and some other new DTP Types. In addition, KNX.org has not yet officially released this new DTPs.
I have an MDT AKD-024R.02 actuator in front of me, but I don't have the time to go forward yet. We are currently testing, but it may still take some time:
 https://github.com/calimero-project/calim

[2019-02-20 10:51] maggu2810 commented on #4602
I read the first comment that describes the problem twice but I still don't understand it.
That's surely caused by the fact that I never used the alexa integration and hue emulation of openHAB.

@davidgraeff Can you give it a try to explain me the situation?
Or perhaps another maintainer that used that stuff already could comment.

The person for the jsondb storage internals could be @cdjackson as

[2019-02-20 10:52] bertmelis commented on #4941
closing.
The device actually only accepted one connection. additional connections have to be made by physically pushing the "learn" button on the device. (quite unhandy)

[2019-02-20 10:52] #4941 closed

[2019-02-20 10:54] davidgraeff commented on #4602
tl;dr

The hue emulation requires a storage. Before I refactored it, it used custom files, but those were not part of the OH backup system, so I switched to use the json storage.

And now the problem: The json storage resets its content after each start (not on shutdown though). And I really do not understand why, the API doc does not say that it auto-prunes itself or similar.

[2019-02-20 11:32] lewie commented on #4941
KNX IP connections there is a difference between a TUNNELING (direct fixed from Hardware to Hardware and maximum 4 Connections/Interface) and a ROUTING (on a common broadcasting IP with n Routers which can use this common IP to connect the KNX-bus) connections. If you have configured your

KNX IP **Interfaces** like [KNX IP Interface 730](https://www.weinzierl.de/index.php/de/alles-knx1/knx-device

[2019-02-20 11:43] lewie commented on #4941
![grafik](https://user-images.githubusercontent.com/5707426/53089487-023e6000-350d-11e9-9715-a023a56773fb.png)

Up to 5 Connections. Not 4! :-)

[2019-02-20 11:46] maggu2810 commented on #4602
What does it mean?
Reset to which state?
Does the storage service provides an empty storage after each restart?

[2019-02-20 11:47] davidgraeff commented on #4602
Yes exactly. And the underlying file is cleared.

[2019-02-20 11:47] maggu2810 commented on #4602
Did you check the file content as long as openHAB is not running?
So, are the wrong information in the file or is it not deserialized correctly?

[2019-02-20 11:48] maggu2810 commented on #4602
So, the file exists and it is empty (size = 0 bytes)?

[2019-02-20 11:50] davidgraeff commented on #4602
I need to double check, but afaik yes it's an empty file. Maybe I'm just using the service in the wrong way.

[2019-02-20 11:53] maggu2810 commented on #4602
You could modify the `put` method to get some more information.

https://github.com/openhab/openhab-core/blob/a37ccea/bundles/org.openhab.core.storage.json/src/main/java/org/eclipse/smarthome/storage/json/internal/JsonStorage.java#L134

E.g.

[code]

[2019-02-20 12:03] davidgraeff commented on #4602
I was afraid that core bundle debugging is required. I have not fired up an openhab-core development setup yet. The IDE situation is not stable enough, especially if you put core and addon bundles into the same workspace.

[2019-02-20 12:07] maggu2810 commented on #4602
You do not need "core bundle debugging".

You just need to modify that bundle (e.g. using a simple text editor), compile on command line and use that JAR it in your launch configuration.

You could also build the modified bundle add use that in your Karaf based OH runtime.

[2019-02-20 20:16] peti69 opened #4947 "[knx] Loop when using switch-control channel"
I am facing an issue during my migration from openHAB 1.8 to 2.4.0 image from Docker Hub with the channel definition
[code]
and for demonstration purpose simplified rule
[code]
In events.log I see
[code]
I do not see the command once per second but all the time. The same on the group monitor of the ETS.

My KNX things file looks like this:
[code]
I expect exactly one KNX group write per sendComman

[2019-02-20 20:23] martinvw opened #4948 "[mqtt] ClassNotFoundException: MqttBindingConstants cannot be found"
After installing I get the following error, but unpacking the JAR reveals no strange things.

@davidgraeff any ideas?

[code]

[2019-02-20 20:37] davidgraeff commented on #4948
Ouch.
[code]
One of the times where I love my C++ world. We don't have those problems.

While importing this from ESH, all bundle and package names have been changed.

So I have checked the package name: `package org.openhab.binding.mqtt;` -> ok
I have checked the manifest: `Export-Package: org.openhab.binding.mqtt,` -> ok
The karaf feature file has no influence for this case, I assume.

I have no

[2019-02-20 20:39] martinvw commented on #4948
@wborn / @Hilbrand any magic insights from you on this?

[2019-02-20 23:52] msw1970 opened #4949 "[plex] Add Plex Binding"
As per title, commencing a re-write of the Plex binding to work natively in openhab2 thus avoiding the need to use the 1.x compat layer.

[2019-02-21 01:17] goodfore commented on #4767
Hi @sverzijl , have you had a chance to confirm the new code works for both modes? If everything works, I will submit a PR and close the issue.

Thanks,
Joe

[2019-02-21 02:11] goodfore commented on #3763
@alexeinz and @kmcbride3 I have a jar ready with the command channel, would you help me test? I only have white bulbs so not much command I can test with.

Thanks,
Joe

[2019-02-21 05:13] lewie commented on #4947
Please show me your Item configuration for "Windalarm".

[2019-02-21 09:59] tigre-bleu opened #4952 "[marytts] Upgrade to 5.2 to support a lot more languages"
According to [MaryTTS Webiste](http://mary.dfki.de/), a lot more languages are supported than in current binding.
- Currently in OpenHAB: German or English
- In MaryTTS 5.2: German, British and American English, French, Italian, Luxembourgish, Russian, Swedish, Telugu, and Turkish

As far as I can see for this repository, the binding is based on MaryTTS 5.1.

It should be nice to upgrade to 5.2 an

[2019-02-21 10:00] nesys opened #4953 "[openhabcloud] Issue with item exposure in #1525"
After upgrading from #1502 to #1515 and after, the item exposure seems buggy.

In facts:

- the connection with openhab cloud is OK (instance is online, and in https://myopenhab.org/events I see correct data
- if I use Amazon Echo Binding, the items tagged are correctly exposed
- if I try to use items exposed via PaperUI, or via text file, the items in https://myopenhab.org/items are not changed a

[2019-02-21 10:00] nesys commented on #4953
here the post in our community:
https://community.openhab.org/t/issue-deleting-items-and-events-no-back-online-item-exposure-bug/66754

[2019-02-21 10:49] Zodiarc commented on #4949
I'm up for testing.

[2019-02-21 16:52] roha999 commented on #4511
hi
i install Binding: mihome-2.5.0-SNAPSHOT.jar ,
209 │ Active   │  80 │ 2.5.0.201902140720     │ Xiaomi Mi Smart Home Binding

restart openhab but still get
Unsupported Xiaomi MiHome Device "86plug"
Basic Xiaomi MiHome Device

what i am doing wrong?

[2019-02-21 19:14] msteigenberger commented on #4472
Yes, the refresh rate is ignored for the Mode D as it is handled by the [j62056 library](https://www.openmuc.org/iec-62056-21/) which doesn't support it.

As said: The refresh rate is ignored completely. Should not make any difference.

Yes, please send it via mail to me.

[2019-02-21 22:09] witek1308 commented on #3341
I've found the problem (it is described in OpenHAB community forum). Simply the other day I asked OH to stick to a specific network interface which disabled listening on localhost (I rather expected it disables all external interfaces only but keeps lo) that's why it took me some time to find out this very simple thing as I was rather expecting complex problem and haven't checked basics... :)

[2019-02-21 22:35] peti69 commented on #4947
This is my item configuration for "Windalarm":
[code]

[2019-02-21 23:38] wborn commented on #4952
There's a test JAR for MaryTTS 5.3-SNAPSHOT in https://github.com/openhab/openhab2-addons/issues/3953.

I also looked into adding more languages but it will hugely inflate the openHAB addons (> 100 MB if I remember correctly).

Maybe the other languages can be added through other means e.g. by installing them using the IoT Market Place.

[2019-02-21 23:48] wborn commented on #3799
I'd definitely like a OH2 binding with WoL support. :-)
How do you think it should be implemented in the Network Binding @davidgraeff?
Can you comment on my implementation ideas in https://github.com/openhab/openhab2-addons/issues/3799#issuecomment-411801123?

[2019-02-22 00:03] wborn commented on #4948
No issues here when installing the MQTT binding from the online repo on a openHAB 2.4.0-SNAPSHOT build 1524.

[code]

[2019-02-22 00:40] davidgraeff commented on #3799
Wol is best implemented as an action now I guess

[2019-02-22 12:10] kmcbride3 commented on #3763
@goodfore Sure, I should be able to play with it this weekend.

[2019-02-22 14:26] speeddima opened #4966 "[network] ARP ping presence detection produces NullPointerException"
I'm seeing the following exception when trying to use the network binding with arpping for the presence detection on couple of mobiles:

In karaf I see the following error:

    6:22:11 host karaf[27311]: Exception in thread "presenceDetectionARP_10.100.1.57 " java.lang.NullPointerException
    6:22:11 host karaf[27311]:         at java.lang.ProcessBuilder.start(ProcessBuilder.java:1012)
    6:22:

[2019-02-22 14:57] #4429 closed

[2019-02-22 14:57] #4800 closed

[2019-02-22 18:44] github4pbp commented on #4511
@roha999

try using configuration files and it should work. Example for things:

Thing mihome:sensor_plug:158d000xxxxxxx "Aqara Socket Plug" @ "Kitchen" [item
Id="158d000xxxxxxx"]

[2019-02-22 20:02] davidgraeff commented on #4966
Thanks for the report :)

[2019-02-22 20:04] davidgraeff commented on #4888
Thanks for the idea :) As @paulianttila said, that can be handled by a rule. For OH3 there will also be a service that offers the log as websocket stream. But there is not more that we can do for now.

Closing.

[2019-02-22 20:04] #4888 closed

[2019-02-22 20:10] roha999 commented on #4511
try for this one "Unsupported Xiaomi MiHome Device "86plug"
Basic Xiaomi MiHome Device
158d000182450a"

add a record to things file as
Thing mihome:sensor_plug:158d000182450a "Aqara Socket Plug" @ "Kitchen" [itemId="158d000182450a"]
and get no new device
http://prntscr.com/mot8yq

[2019-02-22 20:44] #4966 closed

[2019-02-22 20:47] davidgraeff commented on #4948
Issue gone?

[2019-02-22 20:48] davidgraeff opened #4969 "Remove stale branches"
There is still a 2.x and 2.2.x branch existing. Can those be removed?

@openhab/2-x-add-ons-maintainers

[2019-02-22 21:14] kaikreuzer commented on #4969
As long as all tags are kept, that's imho fine.

[2019-02-23 00:39] sverzijl commented on #4767
Hi, apologies, first time this week I've had time to look at. Testing now.

[2019-02-23 00:44] wborn commented on #3771
It throws another exception when disconnecting power from a Hub now that the binding switched from XMPP to the Websocket protocol:

[code]

Also the Thing status isn't immediately updated to offline. Perhaps the [onWebSocketError](https://github.com/digitaldan/harmony-client/blob/7bbab6301789fbfdcddb7d50dd57fe1341deff92/src/main/java/com/digitaldan/harmony/HarmonyClient.java#L381-L383) handling ca

[2019-02-23 01:03] sverzijl commented on #4767
So odd behavior. I updated the plugin (merely replaced the previous jar file you sent me). I restarted Openhab and only one of my lights successfully updates - though it updates in any mode. The other light doesn't update in any mode. When I restarted Openhab again only one worked - but this time it was my other Yeelight.

Not working light:
[code]

Working light:
[code]

[2019-02-23 01:07] sverzijl commented on #4767
Also - just to add to the previous comments about what modes there are, there is one mode I didn't notice before called 'null'. It occurs when Google Home turns on the light when someone has reset the Yeelight at the power point.

[2019-02-23 01:17] goodfore commented on #4767
Hi, try remove the things, then hard reset the bulbs. Then add the things back in.

[2019-02-23 01:25] digitaldan commented on #3771
Yep, I was just looking at the fact I am not handling those well, look for a PR soon

[2019-02-23 01:54] sverzijl commented on #4767
Works perfectly! Brilliant. Thanks for fixing it!

[2019-02-23 02:22] goodfore commented on #4767
Glad it works. I will submit the PR soon. Thanks for testing.

[2019-02-23 07:34] michaeljoos72 opened #4974 "[gpstracker] GPSTracker Startup Error (Snapshot 1533)"
Hi

With an update to the latest snapshot(s) I get the following startup-error as soon as I add the thing "Tracker Device" to my system:

[gpstracker.txt](https://github.com/openhab/openhab2-addons/files/2896587/gpstracker.txt)

[code]

There is no limitation from functional point of view and not critical.
I already tried removing and reinstalling the thing and the binding but it did not help.

Sn

[2019-02-23 07:35] martinvw commented on #4948
Nope 😞

[code]

[2019-02-23 07:43] martinvw commented on #4948
And solved:

[code]

[2019-02-23 07:43] #4948 closed

[2019-02-23 07:49] goodfore commented on #4607
@Selters and @claell can we close this issue? I submitted a PR to close #4767

[2019-02-23 08:05] #4924 closed

[2019-02-23 08:51] goodfore commented on #3763
@kmcbride3 Assuming you know how to stop/uninstall bundles, please download the test bundle [here](https://d.pr/free/f/2haof0). Once downloaded, rename it from .zip to .jar.

Please delete all Yeelight things first, then stop/uninstall 2.4 yeelight bundle and then add in the test bundle. Finally re-add all the things.

Once you have things added, you will see a command channel. Map it to a String

[2019-02-23 09:10] claell commented on #4767
Glad to hear that! For reference: #4973

[2019-02-23 09:24] claell commented on #4607
This resulted from https://community.openhab.org/t/yeelight-binding/13735/233?u=clel which was a different issue. @sverzijl only commented with his issue which was not related, so he created another one for it.

However, I think I found the problem of @Selters now. If I am right it has nothing to do with the binding, but he did not create the correct items.

He tried `Switch	Color_Toggle	 (Gyeelig

[2019-02-23 09:39] vbier commented on #4411
I seem to have gotten the firmware update, too. The binding can no longer connect and does now make openHAB unresponsive after some time. The number of HTTPClient threads increases every minute until the process is blocked. After a while I have more than a thousand threads like these:

Uninstalling the binding stops the thread count from increasing, so it seems to be caused by the binding. @digita

[2019-02-23 09:47] davidgraeff commented on #4948
Oh true. We might need to rename mqtt1, otherwise the users will hate us with an OH2.5 release ^^.

[2019-02-23 10:15] DirkHBo opened #4975 "[rfxcom] rfy thing throws java.lang.NumberFormatException"
## Expected Behavior

Command (up/down/stop) should be executed in RFXCom-Bridge.
For example: a rollershutter-item is configured for usage in the basic-ui. Clicking the down button will make the related rollershutter go down.

## Current Behavior

Clicking on the command will come to nothing. Instead an exception is thrown within in the openhab.log.

java.lang.NumberFormatException: For input str

[2019-02-23 12:05] SuperSchelli opened #4976 "[deconz] Support for Resource Type : ZHAAlarm"
As stated in the topic the Resource Type ZHAAlarm is not yet supported

## Your Environment
Using Openhab Unstable  2.5.0~M1-1
Openhabian on Raspi 3B+

2 of the 3 Channels are already supported ZHAPresence and ZHALightLevel

Here is a complete Rest API printout of the 3rd Channel ZHA Alarm
[code]

Hardware Model :  Xiaomi RTCGQ11LM Smart Home Aqara Human Motion Sensor - White
https://www.gearbest.

[2019-02-23 14:31] digitaldan commented on #4411
@vbier did  this get resolved for you with the new version?

[2019-02-23 14:57] github4pbp commented on #4511
You sould define it also as switch in items for example try creating test.items file (/etc/openhab2/items/test.items) with a following line:

Switch 86plug_test "Power socket" <switch> {channel="mihome:senso
r_plug:158d000182450a:power"}

[2019-02-23 14:58] mattstocum commented on #4411
Snapshot after #4938 fixed the issue I was seeing. Hub was discovered immediately and worked with zero config on my part, beyond installing the snapshot binding.

[2019-02-23 15:00] TheLeech1 opened #4978 "[somfytahoma] Add support for Somfy Camera and RemoteController"
Hi,

I've linked my Somfy Tahoma with Openhab ( 2.5.0~S1533-1).
Everything is working fine, but would like to request following Device support:

Somfy Camera
Somfy Remote Control

Openhab.log

2019-02-23 15:32:02.900 [INFO ] [very.SomfyTahomaItemDiscoveryService] - Detected a new unsupported device: Camera
2019-02-23 15:32:02.902 [INFO ] [very.SomfyTahomaItemDiscoveryService] - If you want to add

[2019-02-23 15:06] dominikkv commented on #4591
Hi @wborn, thanks for assigning me. Does that mean I have to take any action? Right now, I don't know what I can do for #4765. Please let me know if there is anything to do for me.

[2019-02-23 15:08] github4pbp commented on #4511
But first this thing should be defined as child of your gateway (hub) in things file.

As example:

Bridge mihome:bridge:7811dc64xxxx "Control hub" [serialNumber="7811dc64xxxx",
 ipAddress="192.168.x.x", port=9898, key="1sit7w7srrweujfd", pollingInterval=
6000] {
Thing mihome:sensor_plug:158d000182450a "Aqara Socket Plug" @ "Kitchen" [itemId="158d000182450a"]
}

[2019-02-23 15:11] roha999 commented on #4511
thanks, problem solved, forgot to link it to bridge :(

do you know can we get Power Consumed data on aqara wall switch same as on wall socket?

[2019-02-23 15:27] vbier commented on #4411
The thing is not if the next version connects to the hub (as it already has been reported to be working), but what happens if the next version can no longer connect to the hub because of new firmware or other reasons. Does it then still hang the complete application?

The hanging openHAB completely blocked my eBUS, resulting in my heating unit warming up my house to 27 degrees celsius over night.

[2019-02-23 15:29] github4pbp commented on #4511
Think that this is not yet supported by the binding. There is only control channel(s) and e.g. ":powerConsumed" channel is unavailable.

[2019-02-23 16:18] digitaldan commented on #4411
@viber my latest open pr does address this issues

[2019-02-23 17:25] digitaldan commented on #4953
Hi @nesys I'm trying to understand the issue

 you mention tagging which does not have any affect with myopenhab, the only items that will report state to myopenhab will be set in `paper ui  -> services -> openhab Cloud -Confiure -> Items to expose ` as in the picture below
![image](https://user-images.githubusercontent.com/1903737/53289575-7155c780-374c-11e9-9c9e-71b69ca5664e.png)

Is this what y

[2019-02-23 18:21] bobadair commented on #4484
Well, you always have to select the correct keypad model after auto-discovery.  By default, the type will be set to “Generic”.  If you mean that auto-discovery is not detecting the HN-type hybrid keypad devices at all, then that would require a separate fix in the discovery code.

I did some quick testing on my own RA2 system with a dummy HN3S device, and it appears in DbXmlInfo.xml from the main

[2019-02-23 18:31] vbier commented on #4411
That's great. I will update in the coming days. Thanks for your work on this.

[2019-02-23 18:43] digitaldan commented on #4411
👍

[2019-02-23 18:48] dominikkv commented on #4865
Hi @fgaultier,

it seems you are right. You can set the DB2 value in two different ways, absolute (0..255) and relative (0..100), but you have to set DB0.2 accordingly. Right now, DB0.2 is always 0 = absolute.

I think this comes from Eltako, they sometimes do interpret the specification in their own way :-D For them, DB0.2 means "block value" and DB2 is always relative. So we have to separate tho

[2019-02-23 19:28] michaeljoos72 opened #4981 "[basic ui] Missing "Color Circle""
The color background (circle) for a dimmer-item is missing in Basic-UI:

![image](https://user-images.githubusercontent.com/20517474/53290798-772dc600-37a9-11e9-89b2-e268268d60c2.png)

openHAB Snapshot 1533
binding-hue - 2.5.0.SNAPSHOT

[2019-02-23 19:45] kaikreuzer commented on #4974
Could you try with the latest build 1534? With this, it works for me.

[2019-02-23 23:19] bobadair opened #4982 "[Lutron] Button release message never sent after button hold message from some keypad models"
As reported by scottk in the forums, some Lutron keypad/system combinations will issue a key pressed message followed by a hold message if a user holds the key for more that a certain period of time (e.g. 6 seconds).  Unfortunately, the hold message is never followed by a release message when the user finally releases the key, and the current keypad handler code will leave the key channel state se

[2019-02-23 23:40] wborn commented on #4591
By assigning issues it's immediately clear to everyone who works on an issue.

[2019-02-24 00:05] wborn commented on #4981
Did you also try using a `Color` item instead of a `Dimmer` item? That's the item type normally used with a `Colorpicker` in the sitemap.

If you don't have a color light you can also use a `Slider` on the sitemap with a `Dimmer` item.

See also the [element types](https://www.openhab.org/docs/configuration/sitemaps.html#element-types) documentation.

[2019-02-24 02:17] wborn commented on #4953
@nesys is referring to openHAB 2.5.0-SNAPSHOT build numbers. :wink:

[2019-02-24 06:12] michaeljoos72 commented on #4981
Ahhh, sorry my mistake....sure, it's already a color item:

`Color Light_Sofa_Dimmer "Sofa" <colorlight> {channel="hue:0210:001788215d9c:1:color"}`
`Colorpicker item=Light_Sofa_Dimmer`

[2019-02-24 06:14] cribskip commented on #3121
Benjamin in the forums already provides a binding for this in the meantime
https://community.openhab.org/t/philips-tv-2016-binding/64579

Closing

[2019-02-24 06:14] #3121 closed

[2019-02-24 07:55] michaeljoos72 commented on #4974
I did update to 1534 but the error message is still there. What I did:

- Thing removed / Binding uninstalled
- Cache & Tmp Folders cleared
- Reinstalled Binding

I have to correct myself here:
_...as soon as I add the thing "Tracker Device" to my system..._

It doesn't matter if the thing is added or not. It's just related to the binding installation.
Can I help somehow with a debug? But most pro

[2019-02-24 09:42] #4484 closed

[2019-02-24 09:42] #4982 closed

[2019-02-24 09:44] #4767 closed

[2019-02-24 10:05] nesys commented on #4953
Exactly. And of course I'm referring to use IFTTT with OH. But Alexa is working correctly. I know this is not related to expose items ... I was thinking that was a useful information for you in case. Also the log above seems the flow between IFTTT and OH Cloud is working correctly, the issue is between my OH and myopenhab.org

[2019-02-24 10:20] wborn commented on #4981
Looks like a bug in Basic UI since it also occurs with the Demo:

![demo](https://user-images.githubusercontent.com/12213581/53297931-2314f700-3826-11e9-8a17-733116868177.png)

The console shows a few 404s:

[code]

Can you transfer this issue to the webui repo @kaikreuzer ?

[2019-02-24 10:31] wborn commented on #4981
The images were just missing see https://github.com/openhab/openhab-webui/pull/23.

[2019-02-24 16:06] Rossko57 commented on #4930
Correct observation.  I think the example is in error, and all the "1.x" slaves were intended to have the same ID number.

[2019-02-24 16:30] #4981 closed

[2019-02-24 17:26] andreasbrett commented on #4949
Great idea! As Zodiarc I'd be happy to help testing your code.

[2019-02-24 17:38] digitaldan commented on #4953
Got it , i understand now.  I'll take a look, i ended up downgrading until the UI migrations are finished, I'll upgrade my instance a take a look.

[2019-02-24 17:41] nesys commented on #4953
thanks for your support @digitaldan ... in facts from OH #1502 I see this issue (still in current OH #1534)

[2019-02-24 19:29] J-N-K commented on #4915
Before it gets to large: what is a good name for this? And is addons/binding really the best place? We had addons/action in OH1.

[2019-02-24 19:43] jo47011 commented on #4234
Hi @lewie, I did it :) I just uploaded a 1st version of a **knx1** to **knx2** **conversion script**.  If you or anyone else find the time, I appreciate any kind of feedback.  See https://github.com/jo47011/knx-converter

One question about the license: shall I rather use the OpenHAB/Eclipse license?

[2019-02-24 20:59] cweitkamp commented on #4915
I think it should be `org.openhab.io.smtp` or `org.openhab.io.transport.smtp`. `o.o.io.mail` would be too much because one could expect it to receive mails as well.

[2019-02-24 21:08] kaikreuzer commented on #4915
Hm. You could also say "the oh1 actions should be ported to OH2". We therefore need to regard this not isolated, but as a general concept. So far the new rule engine is still marked experimental and @openhab-5iver is pushing it to become "standard" - and with it, we will have to define how "action addons" exactly look like.
Currently, we only allow bindings to additionally also carry actions in OH

[2019-02-24 21:16] GitSchorsch commented on #4858
still persists in snapshot #1535

[2019-02-24 22:21] fwarmuth commented on #3577
Same problem, no solution?

[2019-02-24 23:21] digitaldan commented on #4953
Hmm, so the cloud binding is no loner able to get the stored configuration from the OH core as it used to.  The config is empty and this line return a null/empty object:
https://github.com/openhab/openhab2-addons/blob/master/addons/io/org.openhab.io.openhabcloud/src/main/java/org/openhab/io/openhabcloud/internal/CloudService.java#L189

even though my config shows differently
[code]

@wborn any ide

[2019-02-24 23:37] digitaldan commented on #4953
@wborn Could this be related to this commit? It looks ok to me, but it does seem like the binding can not find its config service

https://github.com/openhab/openhab2-addons/commit/2ef23f032174dae89e67bbe2a9cc6063b3d29d86

[2019-02-24 23:40] wborn commented on #4953
What might help is adding `configurationPid = "org.openhab.openhabcloud"` to:

https://github.com/openhab/openhab2-addons/blob/99c346c199d2d6bf029b847ad462f6dce57e1ed8/addons/io/org.openhab.io.openhabcloud/src/main/java/org/openhab/io/openhabcloud/internal/CloudService.java#L70-L74

[2019-02-24 23:40] digitaldan commented on #4953
let me give it a try

[2019-02-24 23:51] digitaldan commented on #4953
👍  Yep, that did it, PR coming....

[2019-02-25 01:42] #4953 closed

[2019-02-25 02:03] wborn commented on #4858
It looks like the `org.openhab.core.compat1x` bundle no longer exports the Jackson packages which causes the installation of these openHAB 1 bundles to fail.

Should these packages be still exported by that bundle @maggu2810?

## Plex bundle requirements in 2.4.0

[code]

## Jackson package exports in 2.4.0

[code]

## Jackson package exports in 2.5.0-SNAPSHOT

[code]

[2019-02-25 04:09] maggu2810 commented on #4858
plex needs Jackson and Jackson has been provided by compat1x before...

I see different options:

1. The plex feature installs the Jackson bundle (dependency=true) itself
1. The compat1x feature installs the Jackson bundle, because Jackson has been previously bundled by the compat1x OSGi bundle.
1. The compat1x bundle bundles the Jackson one again.

IMHO the last one should only be used if there i

[2019-02-25 08:08] hakan42 commented on #4915
I asked a similiar question in the forum ( https://community.openhab.org/t/in-which-packages-should-oh2-actions-go/68363 )

The consensus (between all three authors in five messages :) ) was to go with "binding", considering that whatever is implemented could become a data source as well a write-only action that just sends data out.

[2019-02-25 08:16] fruggy83 commented on #4865
Hi @fgaultier

you are absolute right. I implemented the A5-38 dimming EEP based on the Eltako specs and did not looked in the EnOcean docs. It is a pity that Eltako did not implented the dimmer EEP in line with the official EEP.
@dominikkv It would be nice if you could implement a generic A5_38 dimming profile, I am still working on ESP2 support. Thanks a lot.

[2019-02-25 09:36] slundell commented on #4533
This is working now. It was fixed a few commits after I reported. Sorry for not getting back to you.

[2019-02-25 10:11] #4533 closed

[2019-02-25 10:12] SepuWeb opened #4992 "Add MelCloud Binding"
Hi all, I plan to develop new binding for MelCloud.

https://community.openhab.org/t/melcloud-binding-mitubishi/62199/5

I open this issue because is requested in develop guide.

https://www.openhab.org/docs/developer/development/bindings.html#before-you-start

[2019-02-25 11:16] wborn commented on #4858
I think option 2 would be the best:
* AFAIK compat1x is all about making sure OH1 bundles work with minimum effort
* It causes less issues for OH1 bundles which don't have a feature defined (including those that aren't in OH repo's)

WDYT @kaikreuzer ?

[2019-02-25 14:06] fgaultier commented on #4865
Hi Daniel,

Thanks  for your email. We plan also to contribute to OpenHab in a near future (EnOcean addOn  and possibly on a future BLE Mesh addOn), but the whole Eclipse Ecosystem / Environment is somewhat new for us and we will  need some time (maybe also some help) before we are able to build and push meaningful contributions ??

Best regards,

Franck Gaultier
R&D Project Manager

De : Daniel W

[2019-02-25 16:24] Stefan300381 opened #4994 "[miio] Robot Vacuum 2 - channel values for "status#fan_power""
## Expected Behavior
Binding should support values for Robot Vacuum 2 as:
Mode: Level
Mob: 105
Quiet: 101
Balanced: 102
Turbo: 103
Max: 104

## Current Behavior
values are interpreted as described under
https://github.com/marcelrv/XiaomiRobotVacuumProtocol/blob/master/FanPower.md
Mode: Level
Mob: 105
Quiet: 38
Balanced: 60
Turbo: 75
Max: 100

## Steps to Reproduce (for Bugs)
Not 100% sure how to r

[2019-02-25 16:26] cweitkamp commented on #4518
I consider this issue not being related to deCONZ. The number of warnings in my test environment increased. I am running OH Build 1535. This time no deCONZ. Only binding is Kodi, which uses the `WebSocketFactory` too. I will move this issue to openHAB 2 Core.

[code]

[code]

[2019-02-25 16:56] ccutrer opened #4995 "[transform.SCALE] scale profile only supports String types"
I have a HomeSeer HS-FC200+ Fan Control that exposes the fan speed as a Dimmer item, with a "proper" 0-100%. But it actually only supports 3 or 4 speeds. When I have it set to 4 speeds, the device reports back the speed as 0%, 24%, 49%, 74%, or 100%. No idea why, but the off-by-one causes havoc when I try to build UIs and tell it to only support 4 steps in a slider (or shortly, when I add support

[2019-02-25 17:28] ccutrer commented on #4995
Oh duh, you have the incoming State from the binding at that point. You could probably infer the type it should be from that.

[2019-02-25 17:29] michaeljoos72 opened #4996 "[hue] ON - OFF - ON does not keep brightness (Snapshot 1535)"
It seems that the brightness is not restored correctly:

1.
Item Light_Sofa_Toggle = ON
Light_Sofa_Dimmer = "29,63,100" (REST API)

2.
Item Light_Sofa_Toggle = OFF
Light_Sofa_Dimmer = "29,63,0" (REST API)

3.
Item Light_Sofa_Toggle = ON
Light_Sofa_Dimmer = "**29,63,1**" (REST API)

And the bulb does confirm this :)

My Items:

[code]

openHAB Snapshot 1535
binding-hue - 2.5.0.SNAPSHOT

[2019-02-25 18:37] kaikreuzer commented on #3328
FTR, https://github.com/openhab/openhab2-addons/pull/4987 works nicely for me with firmware 3.9.1 - so I hope it's gonna be merged soon!

[2019-02-25 18:46] J-N-K commented on #4915
One could probably do one binding for both but receiving mail with an OpenHAB-integrated SMTP Server to control something and sending mail via an external mail server as a notification has not much in common.

Also I do not think that integrating a SMTP Server in OH is any useful. There is a lot of good software out there and for receiving mail POP3/IMAP seems to be a better fit.

[2019-02-25 19:58] dabbith commented on #2922
Is there any chance support for the HT-RC560 could be added as well?  It's the North American name for the TX-NR626.

[2019-02-25 21:34] octa22 commented on #4735
Hi, I have prepared the fixed version and started pull request for merging the Gate support with the master code.
We can work on the events and try to find out whether we can get the events about obstacles or not.
communication problem is reported via the state  _core:StatusState_ and automatically puts the thing into offline mode when not available reported.
Just PM me in the community forum, thi

[2019-02-25 21:42] kaikreuzer commented on #4915
I agree with you. So the action should rather go into a "mail" binding, which potentially also allows to provide the number of new messages in (external) IMAP/POP3 accounts or similar things. Let's leave the "mailserver" out of scope here.

[2019-02-25 22:29] nesys commented on #4953
I can confirm, issue solved in  OH #1536

[2019-02-25 22:31] octa22 commented on #4978
Hi,
as far as I can see, you have two different cameras? The latter one has extra status _myfox:ShutterStatusState_.
How do you expect to use OH2 for controlling these cameras? It seems they expose commands close/open - does it make sense to support these devices or ignore them so the log is not full of mentioned unsupported devices.
Regarding the RemoteController - it seems there is a lot of diff

[2019-02-25 22:38] ngrodum commented on #4760
The xbox skill can control my xbox in much cooler ways than just on/off - I can say "Alexa, tell xbox to start Netflix", or any of my xbox games, when I get to the gaming room, Netflix or my favorite game is already up and loaded. To be able to do this in a rule where I also adjust lighting, make sure the projector is on, and the amp is set to the right input etc would be quite nice.

Regardless,

[2019-02-25 23:06] #3328 closed

[2019-02-25 23:08] digitaldan commented on #4953
👍

[2019-02-26 06:27] cweitkamp commented on #2922
@Cossey Will you come up with a PR for the support of the TX-NR545 model?

[2019-02-26 09:38] Cossey commented on #2922
@cweitkamp Yes I will sort this out and submit a push request. Ill add another Thing for the HT-RC560 too.

[2019-02-26 11:20] J-N-K commented on #4915
That‘s a bit more than I was thinking about, but ok. I‘ll give it a try.

I would suggest to create things per email-Account (i.e. address, name, password). Then make fixes channels for „unread mail“ and „total mail count“, action „send mail“ and extensible channels with configuration „from“ and „subject“ which provide mail-content.

Does it make sense to have the server-information (hostname, Por

[2019-02-26 16:35] cweitkamp commented on #2922
@Cossey :+1: Very much appreciated.

Great if that will work too.

[2019-02-26 18:22] dogmaphobic opened #5001 "[tplinksmarthome] HS103 Support"
Until 2 days ago I didn't even know what openHAB was. I also know nothing About Java and even less how the whole development environment works. It took me over an hour just to get an Eclipse installation working. The current documentation doesn't mention you need a very specific version of Eclipse, 2018-09. Newer ones cause the build to have lots of errors. Any way I digress...

I have a few of th

[2019-02-26 19:15] dogmaphobic commented on #5001
Oops, sorry. Missed this one as it was not staged:

HS103.xml
[code]

[2019-02-26 19:43] lolodomo opened #5002 "[meteoblue] Failed to retrieve weather data"
Yesterday, I setup successfully the meteoblue binding.
Unfortunately, today, I get this error:
[code]
And then my thing is set OFFLINE with a communication error.

[2019-02-26 19:44] lolodomo commented on #5002
@9037568 : any idea what could be wrong ?

[2019-02-26 20:21] wborn commented on #4969
I've deleted the stale branches and all tags are still there.
Shall we also cleanup the openhab-core and openhab-distro stale branches?

[2019-02-26 20:21] #4969 closed

[2019-02-27 00:21] lolodomo commented on #5002
After several restarts, theis error disappeared.

[2019-02-27 00:21] #5002 closed

[2019-02-27 17:51] DirkHBo commented on #4975
As I can not estimate the effort needed to fix this issue, my suggestion is that there is just a smaller problem with a number or string conversion. I put a little bounty on that  - hopefully the expense is reasonable.

[2019-02-27 17:56] TheLeech1 commented on #4978
Hi Ondrej,

Thanks for your reply.

Both camera's are from somfy and are the same type/model (Somfy indoor camera).
I was hoping to integrate camera images (snapshots) in Openhab. We don't have the paying cloud service to store video's of more than 10sec in case of motion is detected. I was hoping to configure a workaround for this via Openhab.

You can forget my request regarding the RemoteContro

[2019-02-27 18:06] Celaeno1 commented on #3771
Getting the same error with snapshot:  2.5.0.201902252032

2019-02-27 15:34:02.325 [ERROR] [com.digitaldan.harmony.HarmonyClient] - onWebSocketError
org.eclipse.jetty.io.EofException: null
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:286) ~[77:org.eclipse.jetty.io:9.4.12.v20180830]
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:393) ~[77:org.eclipse.jetty.io:9

[2019-02-27 18:08] Celaeno1 commented on #3771
Getting the same error with snapshot: 2.5.0.201902252032

      2019-02-27 15:34:02.325 [ERROR] [com.digitaldan.harmony.HarmonyClient] - onWebSocketError
org.eclipse.jetty.io.EofException: null
at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:286) ~[77:org.eclipse.jetty.io:9.4.12.v20180830]
at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:393) ~[77:org.eclipse.jetty.i

[2019-02-27 18:10] Celaeno1 commented on #3771
Getting the same error with snapshot: 2.5.0.201902252032

    2019-02-27 15:34:02.325 [ERROR] [com.digitaldan.harmony.HarmonyClient] - onWebSocketError
    org.eclipse.jetty.io.EofException: null
    at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:286) ~    [77:org.eclipse.jetty.io:9.4.12.v20180830]
at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:393) ~   [77:org.ec

[2019-02-27 18:21] maggu2810 opened #5005 "Migration to a Maven + Bnd based build system"
We are in the process of changing the build system. We are not accepting new pull requests that are still using the old way from here on.

For further information see: [Migration to a Maven + Bnd based build system](https://github.com/maggu2810/openhab-dev-doc/blob/master/maven-bnd.md)

[2019-02-27 18:22] maggu2810 commented on #5005
_for future use (if we need to insert something at the top)_

[2019-02-27 18:24] wborn commented on #5005
It's sure a lot easier to create your own Bintray repo compared to uploading to Maven Central. Isn't it also easier for them being removed one day causing builds to fail? As fallback we'll probably still have such JAR artifacts in stable/milestone/snapshot releases.

But IMHO this would be just as problematic as when someone decides to delete their GitHub repo containing all the source code of a l

[2019-02-27 18:26] Celaeno1 commented on #3771
Getting the same error with snapshot: 2.5.0.201902252032

    2019-02-27 15:34:02.325 [ERROR] [com.digitaldan.harmony.HarmonyClient] - onWebSocketError
    org.eclipse.jetty.io.EofException: null
    at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:286) ~    [77:org.eclipse.jetty.io:9.4.12.v20180830]
    at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:393) ~     [77:

[2019-02-27 18:29] maggu2810 commented on #5005
So, my offer:
You (who) tells me an addon project name that also offers an OSGi based test project.
I assume it should be one with no -- in the best case -- PR opened.

I try to start the base work:

* split into one Maven + Tycho reactor and one Maven + Bnd reactor
* migrate the project to a Maven + Bnd one (as a direct child of `bundles`)
* migrate the OSGi based test project to a Maven + Bnd on

[2019-02-27 18:31] Celaeno1 commented on #3771
Getting still the error with snapshot: 2.5.0.201902252032

    2019-02-27 17:53:30.369 [ERROR] [com.digitaldan.harmony.HarmonyClient] - onWebSocketError
org.eclipse.jetty.io.EofException: null
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:286) ~[77:org.eclipse.jetty.io:9.4.12.v20180830]
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:393) ~[77:org.eclipse.jetty.

[2019-02-27 18:33] Celaeno1 commented on #3771
Getting still the same error with snapshot:  2.5.0.201902252032

2019-02-27 17:53:30.369 [ERROR] [com.digitaldan.harmony.HarmonyClient] - onWebSocketError
org.eclipse.jetty.io.EofException: null
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:286) ~[77:org.eclipse.jetty.io:9.4.12.v20180830]
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:393) ~[77:org.eclipse.jett

[2019-02-27 18:34] davidgraeff commented on #5005
astro is a perfect match, isn't it?
I would then migrate MQTT as soon as the remaining PRs are in, to test how well the migration process works.

[2019-02-27 18:37] NorbertHD commented on #3771
@Celaeno1 @digitaldan fixed this in https://github.com/digitaldan/harmony-client/commit/25a7cdb86cee25e1535cb5772a960d5908ff5577 .
But this fix is not in the harmony-client-1.1.1.jar in the current org.openhab.binding.harmonyhub-2.5.0-SNAPSHOT.jar.

[2019-02-27 18:40] martinvw commented on #4975
Its reproducible also with an item created through paperUI, this should be feasible to fix

[2019-02-27 18:40] NorbertHD commented on #3771
I cannot reopen this issue because @wborn closed it.

[2019-02-27 18:44] wborn commented on #5005
I'm OK with Astro as well. The binding itself doesn't really matter as long as it's a bit representative of most projects. If we run into issues while migrating other add-ons we can always ask for more help. :wink:

[2019-02-27 18:44] digitaldan commented on #3771
That error message would indicate it is using the older version, I will check when I am back in town on Friday and can test

[2019-02-27 18:51] martinvw commented on #4975
And solved, but I don't want the bounty for it 😄

If you go to https://www.branah.com/unicode-converter and paste the string '327937‬.0' you will find that it contains some evil zero width character in between:

https://www.fileformat.info/info/unicode/char/202c/index.htm

Just remove everything an type it by hand or copy the following:

'327937.0'
'327937.1'

[2019-02-27 18:51] #4975 closed

[2019-02-27 19:25] octa22 commented on #4978
I'll do my best, but I am afraid, there is not much to do with the cameras within the http://tahomalink.com portal :-(
Please, can you describe, what can you do with the cameras within the http://tahomalink.com portal?
As I said, I see only open/close commands, no picture download at all. I am convinced the control of camera is done within the Somfy protect portal, right?
Thanks

[2019-02-27 19:27] bennybubble opened #5006 "[astro] Sun Phase returns UNDEF"
The ASTRO binding in OH 2.4 returns UNDEF at certain time
## Expected Behavior
It should not return UNDEF but either the previous of next phase

## Current Behavior
[code]
First line is initialization, next are generated when SUN Phase changes state.

## Possible Solution
Don't know, not experienced JAVA programmer to solve this

## Steps to Reproduce (for Bugs)
Add item
[code]
Execute rule and ch

[2019-02-27 20:02] TheLeech1 commented on #4978
You can open close the shutter of the camera. Once shutter is open you can see live stream.
![camerasomfytahoma](https://user-images.githubusercontent.com/47921815/53519070-b40ffa80-3ad2-11e9-8367-206524c2e8e2.jpg)

[2019-02-27 20:05] TheLeech1 commented on #4978
Installation of the camera was indeed done via Somfy protect and I assume that Tahoma will work as bridge.

[2019-02-27 20:08] octa22 commented on #4978
yeah, but the stream is definitely streamed from another source :-(
can you debug within Chome and F12, what happens when, you open the shutter (network tab)
it should start downloading the content from somewhere...
thanks

[2019-02-27 20:15] TheLeech1 commented on #4978
Ok, I'll do that. Found this article regarding the API:

https://developer.somfy.com/products/cameras
:-(

[2019-02-27 20:20] octa22 commented on #4978
that's what I think - it's not API, but proprietary stream. We can only open/close the shutter :-(

[2019-02-27 20:26] TheLeech1 commented on #4978
Live stream is coming from wss://videocloud-prod-eu-10-21-3-240.myfox.io:8411/livecamera-......
:-(

[2019-02-27 20:26] TheLeech1 commented on #4978
Thanks for all the help and info. 👍

[2019-02-27 20:26] #4978 closed

[2019-02-27 20:38] martinvw commented on #4975
@DirkHBo if you can't get your money back I'm willing to accept and put it on another openHAB issue, just let me know.

[2019-02-28 00:31] digitaldan commented on #3771
Before I open another PR, can someone my  new version of this ?

https://github.com/digitaldan/openhab2-addons/releases/download/harmony-websocket-1.1/org.openhab.binding.harmonyhub-2.5.0-SNAPSHOT.jar

[2019-02-28 06:38] goodfore commented on #3763
@kmcbride3 Have you a chance to test new binding?

[2019-02-28 07:04] davidgraeff commented on #4995
Transformations and Profiles in OH 2 unfortunately work with Strings only, that is correct. It might be an idea to change that for OH 3 when we can break the APIs

[2019-02-28 07:55] Celaeno1 commented on #3771
@digitaldan Ok, inside this new snapshot above, there is a new **harmony-client-1.1.2.jar**. I'm going to test it this evening, cause I'm at work at the moment...!

[2019-02-28 08:13] maggu2810 commented on #4975
@martinvw Good catch!

[2019-02-28 09:31] cweitkamp commented on #4996
Confirmed. Fixed with PR #5009.

[2019-02-28 11:56] Cossey commented on #2922
No problem; I will sort this out this weekend when I have a spare moment.

[2019-02-28 12:25] kaikreuzer commented on #4915
I didn't want to say that you have to implement this right away (if you want, even better).
It should just be considered to be in the scope of this binding and thus its structure should be set up accordingly.

I'd think it would be ok to have server information part of the "account thing" (and not introduce a nother bridge layer here) -  or rather actually have the account info (e-mail & pwd) as p

[2019-02-28 14:54] DirkHBo commented on #4975
Thats it - never thought about searching in my documentation. Background: About a year ago I started to document all devices with an Excel sheet. Excel seems to hide some extra unicode symbols for formatting the fields. So I can reproduce that in my own documentation - shame on me.

@martinvw Thanks a lot - I'm quite sure I would never find this documentation-bug. And kudos for catching this evil

[2019-02-28 18:26] kaikreuzer commented on #4858
I was just confused why this issue is at openhab2-addons? We are talking about 1.x binding, right?
In that case, option 2 sounds just fine (although I am not clear how/why that got lost? Is it because of the bnd change that now does not package it anymore in the compat bundle?).

[2019-02-28 18:37] J-N-K commented on #4915
I didn’t think that far in the beginning, but I like the idea. May take some time. Maybe we can merge that in two steps: the sending first, the inbox-part later.

[2019-02-28 18:44] Celaeno1 commented on #3771
@digitaldan

I did some testing with new snapshot. No errors in openhab.log BUT errors in event.log:

COMMUNICATION_ERROR  from time to time!

    2019-02-28 18:11:27.490 [hingStatusInfoChangedEvent] - 'harmonyhub:hub:HarmonyHub' changed from ONLINE to OFFLINE (COMMUNICATION_ERROR): Could not connect: null
    2019-02-28 18:11:27.496 [hingStatusInfoChangedEvent] - 'harmonyhub:device:HarmonyHub:417

[2019-02-28 18:54] digitaldan commented on #3771
Can you turn logging up in the console foe the client library?

`log:set DEBUG com.digitaldan.harmony`

[2019-02-28 20:01] Celaeno1 commented on #3771
@digitaldan

Ok. I've set it to DEBUG now. Let's wait a while...

[2019-02-28 20:30] wborn commented on #4858
That's right. It would be better if the issue were transferred to the openhab1-addons tracker.

[2019-02-28 21:42] yozik04 opened #5012 "[nibeheatpump] Request: Update channels even if value did not change."
The problem is that if Modbus link is broken channels stay at the last updated values. Which is not good as you do not know if current value is valid or not.

It is recommended to use expire binding to unset variable if the was no update for some time. Then this shows in the UI that variables are without values at the moment.

If I set expire binding then after some time some variables with steady

[2019-02-28 22:10] #4996 closed

[2019-02-28 23:56] Celaeno1 commented on #3771
@digitaldan
It took long, but the error came!

See here:

    2019-03-01 00:00:10.926 [DEBUG] [com.digitaldan.harmony.HarmonyClient] - Sending: {"hbus":{"cmd":"vnd.logitech.connect/vnd.logitech.ping","id":"72ab8d61-6acb-46bc-badd-59a222a3b714","params":{}}}
    2019-03-01 00:01:00.930 [DEBUG] [com.digitaldan.harmony.HarmonyClient] - Sending: {"hbus":{"cmd":"vnd.logitech.connect/vnd.logitech.ping",

[2019-03-01 00:02] Celaeno1 commented on #3771
@digitaldan

The most interesting part from logfile above:

2019-03-01 00:02:05.259 [DEBUG] [com.digitaldan.harmony.HarmonyClient] - onWebSocketClose 1006 Disconnected

2019-03-01 00:02:05.261 [DEBUG] [com.digitaldan.harmony.HarmonyClient] - notifyClose Disconnected {}

2019-03-01 00:02:05.551 [DEBUG] [com.digitaldan.harmony.HarmonyClient] - onWebSocketConnect WebSocketSession[websocket=JettyListe

[2019-03-01 00:12] digitaldan commented on #3771
@Celaeno1 can you set the hub thing "heartBeatInterval" to something like 30 seconds?

[2019-03-01 00:42] Celaeno1 commented on #3771
@digitaldan

In the beginning it was set to 30 sec.
The "communication error" came often.

Then I've set it to 50 sec. The "communication error" came less.

I've reset it to 30 sec now. Let's see what will happen.

[2019-03-01 07:22] cweitkamp commented on #4804
Pi4J version 1.2 has been released: PR #5014.

[2019-03-01 07:37] Celaeno1 commented on #3771
@digitaldan

It is very weird. For 7 hours **NO** more (**COMMUNICATION_ERROR**)s in log files.

As I said before:

"heartBeatInterval" was **30** sec. --> a lot of (**COMMUNICATION_ERROR**)s.

Changed to **50** sec. --> less (COMMUNICATION_ERROR)s
Changed back to **30** sec. --> NO more (COMMUNICATION_ERROR)s

The only **odd** messages in **openhab.log** are:

[code]

[2019-03-01 15:15] digitaldan commented on #3771
The harmony hub will disconnect the socket if it does not receive a ping after 60 seconds.  I have the maximum you can set the hearbeat interval to as 50 seconds as it seemed a reasonable upper limit.
 The default is 30, but since the XMPP version defaulted to 60 my guess is most users will have this config carry over, and hence they will  be pinging at the upper limit of 50.  I think i need to lo

[2019-03-01 15:16] digitaldan commented on #3771
Since the websocket protocol is not documented, we don't respond to all messages, so its safe to ignore these.

[2019-03-01 16:01] Celaeno1 commented on #3771
@digitaldan

I have one theory: I used XMPP all the time with **60** sec. Then I've upgraded to Websocket snapshot using the same **thing**(!!) again. Could it be that somehow the **60** sec. were still used (e.g. due to **cache** or something else)? After setting it to 50 sec (=MAXIMUM), I had to SAVE the config of the thing! Then it used 50 sec. (for the first time lower than 60 sec.) After sett

[2019-03-01 16:26] digitaldan commented on #3771
See https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.harmonyhub/src/main/java/org/openhab/binding/harmonyhub/internal/handler/HarmonyHubHandler.java#L258

Unless that logic is wrong, there is no way we use a heartbeat larger then 50

[2019-03-01 17:25] Celaeno1 commented on #3771
@digitaldan
OK! Then it is an other problem.

My Harmony Hub via "Elite Remote" is telling me that Wifi connection is: excellent

Today from 7:24 until now I got 9 times "COMMUNICATION ERROR" again.

And 4 times this error message:

2019-03-01 12:07:57.376 [DEBUG] [com.digitaldan.harmony.HarmonyClient] - onWebSocketError
org.eclipse.jetty.io.EofException: null
	at org.eclipse.jetty.io.ChannelEndPo

[2019-03-01 17:35] digitaldan commented on #3771
Do you have debug logs of the pings before this error, I would need to see when the last couple pings

`Caused by: java.io.IOException: An existing connection was forcibly closed by the remote host`

Means either the hub disconnected us, or there was a network issue

[2019-03-01 17:47] boc-tothefuture commented on #4886
@davidgraeff Does this fix the issue I [raised here](https://community.openhab.org/t/mqtt2-homie-convention-thing-goes-offline-permanently/63163/4?u=broconne).  That issue isn't resolved in 2.5M1 (just checked), I am happy to open another issue but didn't want to open another issue if its resolved here.

[2019-03-01 17:54] davidgraeff commented on #4886
@boc-tothefuture This is only the issue. There was a PR that made Homie devices update on an OH restart. So it might be fixed in a snapshot. But I'll do OH development only after I have finished my Paper UI replacement and when the IDE situation has stabilized.

[2019-03-01 19:35] Celaeno1 commented on #3771
@digitaldan

Before error:

    2019-03-01 11:48:38.029 [DEBUG] [com.digitaldan.harmony.HarmonyClient] - Sending: {"hbus":{"cmd":"vnd.logitech.connect/vnd.logitech.ping","id":"1c3109c3-01cd-46f6-8146-8a5dd9c4846b","params":{}}}
    2019-03-01 11:49:08.035 [DEBUG] [com.digitaldan.harmony.HarmonyClient] - Sending: {"hbus":{"cmd":"vnd.logitech.connect/vnd.logitech.ping","id":"0a2e2db8-493f-4bd4-bddd-

[2019-03-01 20:27] digitaldan commented on #3771
We get a network error here

The binding waits a minute and we try to reconnect here but fail to even connect to the HUB

We wait a minute again and are able to connect

This would seem to me to be network related and the binding is handling it as it should.

[2019-03-02 08:05] Celaeno1 commented on #3771
@digitaldan

Tonight from 20:08 til now (9:02) =13 hours.  No errors. Seems to be there were network errors before. If there are no other issues reported from other users you could merge to master...

[2019-03-02 09:11] #4804 closed

[2019-03-02 11:13] tnemrap commented on #2403
Still 2.5

[2019-03-02 13:07] boc-tothefuture opened #5020 "[mqtt] Connection becomes null or channel becomes read-only"
Encountering an issue in which a device configured with the homie convention goes offline eventually. I get notified after I try and send a message to it.  I still see this issue in 2.5M1.

Here is the rule:
[code]
When that rule gets called, I get the following error in my openhab.log:

[code]

So the item is now null for some reason.

I see this in the event.log at the same time:

`2019-01-07 06

[2019-03-02 14:34] digitaldan commented on #3771
Thanks @Celaeno1 ,  good to know the binding is working.  Fixed was merged a few days ago, https://github.com/openhab/openhab2-addons/pull/5011.

[2019-03-02 14:41] digitaldan commented on #2403
@tnemrap are you using the nightly builds?   We made a large change to the binding to use websockets a couple weeks ago, the latest update was pushed only 2 days ago.  Can you try that and if you are having issues open a new issue with some logs ?  Thanks!

[2019-03-02 14:42] #3771 closed

[2019-03-02 15:08] lolodomo opened #5024 "[meteoblue] why the weather condition is a number rather than a text ?"
Using the metoblue binding, I tried to translate in French the weather conditions provided by the binding in English.
Here is an extract of my fr.map file in which I escaped the spaces:
[code]
and my item definition:
[code]
The UI displays "Mostly cloudy with light rain" for the first item but nothing for the second item with mapping (I am expecting "Nuageux avec avec faible pluie").

I tried with

[2019-03-02 15:09] thebeater commented on #1344
Hi @Stratehm,

is your binding in the official Release for Version Openhab 2.4 integrated with the setvolume Feature. Ican't get it working because no Version of the Pioneer's in the "choose thing"-Dialog is working for me.

Could you provide an Snapshot or inform when you plan the integration in Openhab official?

[2019-03-02 15:20] lolodomo commented on #5024
If I update the item with a console command, it seems to work.
smarthome:update meteoblueCondition2 "Fog"
Then I get "Brouillard" in UI.
smarthome:update meteoblueCondition2 "Mostly cloudy with light rain"
Then I get "Nuageux avec avec faible pluie" in UI.
So mapping seems to work in this case.

Does it mean the meteoblue service does not use a real space in weather condition values ?

[2019-03-02 15:28] lolodomo commented on #5024
smarthome:items list meteoblueCondition
meteoblueCondition (Type=StringItem, State=16, Label=Conditions prévues, Category=null, Groups=[GMeteo])

It looks like the state is not really a text but a number in a string !

Confirmed by looking at the channel definition. There is a list of options and the value is 1 to 17.

[2019-03-02 15:56] Jochen1980 opened #5025 "[cus] Add CuS Binding"
Dear Community,

I am working on a binding for C&S - a company which improves care through innovative services. Stay tuned.

Best regards,
Jochen

[2019-03-02 16:56] wildwiz opened #5027 "[mqtt] homeassistant binding ignores "payload_on"/"payload_off" directives"
The MQTT binding successfully discovers the devices (via HASS discovery),
properly reports them as online, but it then fails to control them.

## Expected Behavior
Flipping an MQTT bound Item from PaperUI/Control should cause the appropriate MQTT message to be sent to the broker.

## Current Behavior
Flipping an MQTT bound Item from PaperUI/Control causes the following WARNs in openhab.log. The MQ

[2019-03-02 23:06] wborn commented on #4930
Perhaps @Wolfgang1966 or @ssalonen can create a PR to make the migration documentation less confusing? The migration documentation was added in #4555.

[2019-03-02 23:37] Cossey commented on #2922
@dabbith Please try this Binding to see if you can auto-discover your Receiver: https://www.dropbox.com/s/dz5uvqp5k5w6m3m/org.openhab.binding.onkyo-2.5.0-SNAPSHOT-htrc560.jar?dl=0

You'll need to remove the existing Onkyo binding and Things if they already exist, then shift this Binding into the add-on folders. Refer to the documentation for more details if required.

[2019-03-02 23:43] wborn commented on #1934
Can your kid already help with this? :-)

[2019-03-02 23:45] Cossey commented on #2922
@cweitkamp added pull request for the TX-NR545, however the CI build failed for some reason - since I don't know how to force it to re-run so I'll leave it to you.

I've created a new Thing for the HT-RC560 that @dabbith requested here and once he confirms this works I'll open another Pull Request with this Issue as reference. Cheers Christoph.

[2019-03-03 07:00] martinvw commented on #1934
He is still a lousy developer 😜

[2019-03-03 07:05] #2922 closed

[2019-03-03 08:10] cweitkamp commented on #2922
@Cossey Thanks. As long as the Travis build is green we are good to merge. :+1:

[2019-03-03 11:01] mmattan opened #5031 "[loxone] support for Burglar Alarm Controller"
Provide the possibility to turn on/off the Burglar Alarm Controller of Loxone

[2019-03-03 11:08] wborn commented on #5025
Do you also have a link to their website? :-)

[2019-03-03 11:16] Wolfgang1966 commented on #4930
Hi all,

the 1.x configuration in this example was taken from my real existing openhab configuration and used 4 different ids. As far as I uderstand https://www.openhab.org/addons/bindings/modbus1/#global-configuration, different slave ids are mandatory even if the slaves addressed the same physical device. This is because the item configuration refers the slave id and uses relative addresses with

[2019-03-03 11:27] ElHoni commented on #4249
Hey geeks-r-us,
is there progress in your Mobile Alerts binding?
I am using several mobile alerts item and would like to add theme to OpenHab 2 and test them.

[2019-03-03 11:29] Kroki0815 opened #5032 "[TRÅDFRI] Dimming not possible any more"
Since last changes is it not possible to send procentual values to the dimm-item of a bulb.
ON/OFF is working. Sending a value has no effect.

Version: 2.5.0-SNAPSHOT Build #1545

## Expected Behavior
Sending values beetween 0% and 100% dimms the bulb.

## Current Behavior
Sending values beetween 0% and 100% has no effect on the bulb.

`2019-03-03 12:20:30.661 [ome.event.ItemCommandEvent] - Item '

[2019-03-03 12:15] cweitkamp commented on #5032
My fault. In https://github.com/openhab/openhab2-addons/pull/4895 I changed rounding from `Math.round()` to `Math.floor()`. First method returns an `int`, second one a `double`. We have to add an `int` cast before creating the payload. I will submit a fix for it.

[2019-03-03 12:25] ssalonen commented on #4930
@Wolfgang1966  I think you mixed two concepts. In the old binding there are

- `<slave-name>` : name of the "virtual slave" -- this is used in item definitions to refer to the data
- `id` parameter: concept in modbus protocol (see e.g. [here](http://www.simplymodbus.ca/TCP.htm)). The `id` is passed in modbus requests. In some cases the `id` matter, in some cases it does not -- depends on your devi

[2019-03-03 12:39] Wolfgang1966 commented on #4930
Hi all,

thanks for the clarification, now I got it (hopefully :-) ).

If I understand correctly, It would also be possible to remove the id value totally. Am I right?

If I am, that would be my preferred solution.

I create a PR for that.

Yours

Wolfgang

[2019-03-03 13:07] ssalonen commented on #4930
Yes you can remove `id` since it is optional parameter. It defaults to `1` in both binding versions.

[2019-03-03 13:49] Jochen1980 commented on #5025
Of course, see https://www.managingcare.de/

[2019-03-03 15:17] #5032 closed

[2019-03-03 16:46] #1439 closed

[2019-03-03 17:02] Houdinain commented on #4389
Hi Ondrej,

Sorry for the delay.
How is published data available for a thing ? (= is there a way to hack the ElectricitySensor state ?)
Hereafter is the debug log of the discovery of one radiator :

2019-03-03 15:42:56.872 [DEBUG] [very.SomfyTahomaItemDiscoveryService] - Starting scanning for things...
2019-03-03 15:42:57.276 [DEBUG] [very.SomfyTahomaItemDiscoveryService] - url: io://1213-3871-771

[2019-03-03 17:13] Houdinain commented on #4389
PS : I monkey pushed the buttons of the remote, here is the output if it's interesting :

Upper left button
2019-03-03 18:07:16.050 [DEBUG] [oma.handler.SomfyTahomaBridgeHandler] - States for device rtds://1213-3871-7713/189542 : [{name='rtds:ControllerOrderTypeState', type=0, value=onZ1}]

Upper right button
2019-03-03 18:10:16.369 [DEBUG] [oma.handler.SomfyTahomaBridgeHandler] - States for devic

[2019-03-03 17:20] Houdinain commented on #4389
And the radiator is probably mismatched because the command channel is a
TARGET_TEMPERATURE = "target_temperature"
not a
COMMAND_SET_HEATINGLEVEL = "setHeatingLevel"
as expected in https://github.com/octa22/openhab2-addons/blob/6d3adca5fd5eb07402ef9eb1c59ec5c0bfb456ad/addons/binding/org.openhab.binding.somfytahoma/src/main/java/org/openhab/binding/somfytahoma/internal/discovery/SomfyTahomaItemDisc

[2019-03-03 17:23] topsurfer commented on #4589
I just try to play sounds over the mii hub, and I also get only the "Alarm sound" played on the Hub.
what ever I change in my rule, it plays always with same volume and same type of sound ("Alarm", like a "uuiii uuiii uuiii uuiii...."

Is there still a problem betwen the oH and the mii-hub?

[2019-03-03 17:57] octa22 commented on #4389
Hi,
thanks for the log.
Your HeatingSystem is most probably combination of the existing two I've encoutered so far.
Apparently it has setHeatingLevel command in parallel with setting the target temperature feature.
Could you please test this version https://www.dropbox.com/s/milfiftoww77p1e/org.openhab.binding.somfytahoma-2.5.0-SNAPSHOT.jar?dl=1
and do an autodiscovery? It should log more details

[2019-03-03 18:59] Houdinain commented on #4389
Yes, the radiators can also receive Comfort, Eco, ... orders, but setting the temperature with 0.5°C precision is more flexible so we just use the "basic" command.
No problem for the remote, the pictograms are too specific to alarms anyway, so we ould not have used it regulary, it would have just been a way to have 4 more buttons to command things without buying another cheap remote.

Wow, that's

[2019-03-03 19:26] sefradre commented on #4589
Very nice to read something here. Yes, I'm still getting only the warn-message in the log and no sound from the gateway.

[2019-03-03 19:40] octa22 commented on #4389
Thanks,

this is great! I've added a new thing Themor Heating System, which is a standard heating system with the extra channel for setting target heating level.
You can test it :-)
https://www.dropbox.com/s/milfiftoww77p1e/org.openhab.binding.somfytahoma-2.5.0-SNAPSHOT.jar?dl=1

Please, let me know if it's worth merging with master...
Thanks
Ondrej

[2019-03-03 20:06] kmcbride3 commented on #3763
Sorry, finally had a chance to load it up and play around with it.

Couple of observations;
set_power seems to work as designed for using the on and off options. I couldn't seem to confirm whether the optional "mode" parameter worked. It will turn on the device with modes of 0-3, but ignores 4 (not sure about 5, as it isn't expected to work on my lightstrip).

Everything else appears to work (thou

[2019-03-03 20:22] #4930 closed

[2019-03-03 20:24] goodfore commented on #3763
@kmcbride3 thanks for testing.

If you look at the spec, I think mode is only 0 to 3, and it seems to be a optional parameter.

Have you tried binding a switch item to the color channel, to turn the light on and off?

Thanks,
Joe

[2019-03-03 20:29] kmcbride3 commented on #3763
That seems to work, thanks,

From a user friendly perspective, it would be nice if that option was available automatically when adding a Yeelight to the system.

[2019-03-04 00:13] Houdinain commented on #4389
Thanks for the quick update !

I'll test it during this week and will get back to you next weekend. (It correctly detects a "thermorheatingsystem" already)
I guess I'm not the only one with this kind of radiators (but I may be the only one that buys them without using their not-so-good app), so if the new type integrates correctly  in the binding, why not. Maybe we can find a more generic name for

[2019-03-04 00:48] Houdinain commented on #4389
For the ElectricitySensor, is there really no way to read "hidden" statuses ?
I found this :https://github.com/dubocr/homebridge-tahoma/blob/master/accessories/ElectricitySensor.js
and the statuses seem to be named 'core:ElectricEnergyConsumptionState' and 'core:ElectricPowerConsumptionState', but I don't see a mention of things being available only on the Cozytouch and not on the Tahoma. The Cozy

[2019-03-04 04:54] alexeinz commented on #3763
sorry didnt see this... will test this evening at home and report back
------
Regards
Alex Einz

Tel - +81(0) 80-6749-1800
dj@alexeinz.info
http://www.alexeinz.info

Weekly quote:
“The true sign of intelligence is not knowledge but imagination
 - Albert Einstein

On Mon, Mar 4, 2019 at 5:29 AM Kevin McBride <notifications@github.com>
wrote:

[2019-03-04 06:13] 9037568 commented on #5024
All these values are found in thing-types.xml.
You could leave this ticket open as a request for allowing mapping/translating them...

[2019-03-04 06:58] lolodomo commented on #5024
In my opinion, this channel should have been a simple text, then it could be usable (without adding a mapping) in a rule. What is the need for the integer value for the user ?

That being said, I will probably provide a translation in French for the binding.

[2019-03-04 15:27] tlindener opened #5041 "[yamahareceiver] Party Mode not working with RX-V771"
Expected behavior:

Having configured the Receiver Binding I want to turn on the party mode.

Actual behavior:
The second Zone is correctly activated but party mode is not started

The desc.xml is the following:

[desc.zip](https://github.com/openhab/openhab2-addons/files/2926970/desc.zip)

[2019-03-04 19:27] octa22 commented on #4389
How many ElectricitySensors are you using? Or it is only virtual device provided by the Thermor heating?
I have seen logs where some ElectricitySensors were having this power consumption feature exposed to tahoma and some were lacking. Some user had combination of both types - some reporting, some not reporting, some were reporting even tariffs
So far I have faced 4 types od ElectricitySensors...

[2019-03-04 19:37] aaronk6 commented on #3522
Hi, I have this issue again after it has been working great for a long time. I think it broke after rebooting my server. I didn’t update openHAB though. I’m on 2.5.0.M1 and it has been working fine for weeks.

I tried:

[code]

(Note that in 2.5.0, it was apparently renamed to `org.openhab.io.homekit`—instead of `com.beowulfe.hap`).

I see in the log that it refreshes all accessories, but even aft

[2019-03-04 20:00] lukaskrawczyk opened #5042 "[homematic] HmIP-BBL not working if added as Rollershutter"
## Expected Behavior

Clicking up/down/stop buttons on an Rollershutter item within any of OpenHUB interfaces should move the resp. shutters driven by an HmIP-BBL device

## Current Behavior

Clicking up/down/stop does not move the shutters for HmIP-BBL devices (HmIP-BROLL are working though). The command is recognized within the logs:

[code]

However, it is possible to control the shutters if th

[2019-03-04 20:35] ccutrer commented on #3522
the limit I mentioned is an absolute hard limit. if you have over 150 accessories (including the bridge itself), the home app will refuse to connect to the bridge at all (and the one time I did it with a bridge I was already associated with, it removed all my accessories from the home app, not just show them as Not Responding). 26 accessories may be few enough to hit the packetization problem. I r

[2019-03-04 22:21] FSeidinger opened #5044 "[knx] Control item doesn’t respond to read request from the bus"
## Prerequisites
1. A configured knx thing with a channel of type *-control (e.g. switch-control)
2. A link of the channel to an item in OH2 (e.g. Switch)
3. A sitemap with an element type referencing the item (e.g. Switch)
4. The state if the item is defined (e.g. ON)

## Expected Behavior
If the bus sends a read request to the main GA of the control channel, OH responds with a read response tell

[2019-03-04 22:33] shanekuz commented on #3647
Is there any way we can get something added so we can select which devices send updates?  This might resolve the NULL issue as then items like amps source and volume etc. wont show null when they are powered off.  If we had a way in a config file or something like that to add items that we want to send to IOTHUB this might just fix the issues we are having here.   Im really keen to use this plugin

[2019-03-06 09:52] Houdinain commented on #4389
The sensor is integrated in the radiator, as the temperature sensor, presence detection etc.
I can't see the electric consumption in the somfy portal, but I can't see the temperature sensor, occupancy sensor and opened window sensor either (I can only send commands and see the current applied command), and these are correctly found during detection, so I didn't see that as a sign of impossibility

[2019-03-06 11:19] Hilbrand commented on #5001
Device added and merged. Updated binding is available in the Eclipse Marketplace.

[2019-03-06 11:19] #5001 closed

[2019-03-06 15:52] dabbith commented on #2922
@Cossey Got a chance to test.  First had to install the upnp package (feature:install esh-io-transport-upnp).  Now it looks like the binding is loading, but the receiver is not being discovered.  I can manually add the receiver and it works properly.  With the release binding, the receiver was discovered but unknown.

How can I enable logging for the upnp discovery?

[2019-03-06 16:25] andyzlen opened #5048 "[homematic] HmIP-SWD - Can't set value for datapoint ALARM_MODE_xxx"
After creation of an Homematic Thing for the Homematic IP water sensor “HMIP-SWD” in my thing file I found folllowing warnings in openhab.log:
[code]
Remarkable: obviously for Homematic datapoint the channel number “M_1” was expected - which is not a digit seen in Homematic datapoints of other devices (channels of my other Homematic devices are working properly). Nevertheless PaperUI shows the cor

[2019-03-06 19:34] thebeater commented on #1344
@joeduck Did you get the binding working?

[2019-03-06 20:57] davidgraeff commented on #5027
With openHAB 2.4 the priority was to push the MQTT binding and Homie support out, with a rudimentary support for HASS devices. At the moment there is a huge contribution from @jochen314 coming in, that makes this support a lot more specification compliant and probably solve your issue.

After those patches are in, I first need to move the mqtt bindings to the new build system though and fix outsta

[2019-03-06 21:38] Hilbrand opened #5051 "[tplinksmarthome] Add support for TP-Link HS107, HS300, KP200, and KP400"
HS107, HS300, KP200, and KP400 are devices with more than 1 outlet on the same device. The HS107, KP200 and KP400 all have 2, and the HS300 has 6 outlets. These outlets can be controlled separately and also have the ability to read power usage. Because of this they also have different control commands and require additional programming to be supported by the tplinksmarthome binding.

_This issue r

[2019-03-06 23:01] dominikkv opened #5052 "[enocean] Add ability to validate new values in channel "totalusage""
When combining two EEPs in one thing, and the two EEPs has different precisions, there will be cases where the value will decrease, which should not be possible for this channel.
Adding a validation where decreases smaller than 1kWh are prevented will fix this. While adding this, we can also add a validation which prevents value increases greater than 10 kWh to prevent pikes from false readings.
T

[2019-03-06 23:04] dominikkv opened #5053 "[enocean] Add support for Hora SmartDrive MX"
The SmartDrive uses EEP A5-20-04, which has to be created. Furthermore, we need the ability to respond to incoming telegrams, which means in detail:

- When a new telegram arrives, make sure that triggers get called only after all state channels are set.
- Add the ability to create a telegram for sending containing the content of two or more state channels.
- Make it possible to set channel values

[2019-03-07 08:08] claell commented on #4896
Another user reports this problem with having only one light strip connected. Maybe this is related to certain device types.

[2019-03-07 08:52] dastrix80 opened #5056 "[amazonechocontrol] Error when using TTS"
Hi All

Using this version of the snapshot 2.5 binding, when using a group with a TTS alert I received this:

[code]
Using OpenHab 2.4 Stable.
[code]

[2019-03-07 12:48] SebZim opened #5058 "[openweathermap] Enhancement - provide channel for 1h rain / snow"
openweather API also supports values for actual weather condition 1h mean rain/snow, if there is a weather station close to the given coordinates.
In this case there is no 3h value availabe through the api. So the binding is not able to get values.

An additional channel would be a nice feature.

Thanks in advance.
Sebastian

[2019-03-07 16:48] cweitkamp commented on #4976
Hi @SuperSchelli,

I added support for the "ZHAAlarm" cluster and the optional channel "tampered". Here is a test version: [org.openhab.binding.deconz-2.5.0-SNAPSHOT.jar.zip](https://github.com/openhab/openhab2-addons/files/2942331/org.openhab.binding.deconz-2.5.0-SNAPSHOT.jar.zip)

[Documentation](https://github.com/cweitkamp/openhab2-addons/commit/a9f4d2311ab729a3db4b1ec7722e23691615c115#diff-c2

[2019-03-07 17:52] jochen314 commented on #5027
The problem seems to be in the OnOffValue with the MQTT configuration.
The MQTT configuration calls for different values for the state and the command topic.
So reading in from the `state_topic` the `state_on`/`state_off` values are expected.
But when setting the value to the `command_topic` then 'playload_on`/`payload_off` are expected.

So it is an interessting device, which uses a different rep

[2019-03-07 18:01] davidgraeff commented on #5027
Hm. A list might not make sense, hopefully nobody has a device with an MQTT topic that sends multiple different values to represent one and the same state.

I suggest to have a custom state on/off and command on/off, defaulting to openHABs OnOffType enum values: ON and OFF. If someone requires further on/off strings, there is still the map transformations to the rescue.

[2019-03-07 18:07] jochen314 commented on #5027
Ok,
So we make `ChannelStateTransformation` an interface and we add the out-transformation using an anonymous object to the channel, when needed?

[2019-03-07 19:14] aaronk6 commented on #3522
Now using your release from https://github.com/ccutrer/openhab2-addons/releases/tag/2.5.0-cody2. It solved the issue! Thanks so much!

[2019-03-07 20:40] jfr11 opened #5062 "[homematic] install mode fails without HM RF"
## Expected Behavior
Searching for new things should work also when the bridge (Raspberrymatic) does not have HM RF ("old" Homematic radio) support but only Homematic IP (through HMIP-RFUSB stick) or only HM Wired.

## Current Behavior
Searching for things does not work because HM RF support seems to be expected from the bridge.
Please also see https://github.com/eclipse/smarthome/issues/6099 and

[2019-03-07 20:50] davidgraeff commented on #5027
Nah. For making the homeassistant specification happy we only need to change
https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.mqtt.generic/src/main/java/org/openhab/binding/mqtt/generic/internal/values/OnOffValue.java

and have:
[code]

[2019-03-08 12:52] kanebullen opened #5066 "[Z-wave] - add dimmer device (McoHome)"
Hi

I have just installed OpenHAB to test it out with a couple z-wave devices I am looking at for my new house.

It was able to detect one of the devices (McoHome MH-S513 Touch Panel Switch), but it doesn't seem to recognise the dimmer switch (same manufacturer, MH-P511)     It is coming up as an Unknown Device.

Looking at the supported devices list, there is the "MH-P311 MCO Home Dimmer Switch",

[2019-03-08 13:06] yozik04 commented on #5012
So what we decided?

[2019-03-08 14:30] openhab-5iver commented on #5066
The zwave binding is [maitained in its own repo](https://github.com/openhab/org.openhab.binding.zwave) (not this one). BUT, the device database is exported from this website, which [you can update yourself](https://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-database-guide). If you have issues, please create a topic in the [forum](https://community.openhab.org/c/add-ons/b

[2019-03-08 14:30] #5066 closed

[2019-03-08 14:40] openhab-5iver opened #5067 "Repo GH permissions"
I am not a maintainer, or TMK even a contributor, but for some reason I appear to have more permissions than I should in this repo. Maybe it's just me... maybe everyone? I just closed an issue, and it looks like I might be able to merge!

@openhab/2-x-add-ons-maintainers

[2019-03-08 15:04] martinvw commented on #5067
@kaikreuzer could you look into this?

[2019-03-08 19:43] real-easy commented on #4611
after this answer i reopenthis issue...

No... ESH is no longer maintained. You'll find the homematic binding here... https://github.com/openhab/openhab2-addons/issues.

in between i do some updates...
(https://github.com/eclipse/smarthome/issues/6868)

now im at build 1549 an the problem is still there

[2019-03-08 19:51] wborn commented on #4611
Yes we moved all ESH code back to the openHAB repositories. So you can create Homematic Binding issues here again. Kai wrote about this in an [announcement](https://community.openhab.org/t/the-road-ahead-reintegrating-esh/64670?u=wborn). Sorry for all the troubles @real-easy!

[2019-03-08 20:30] J-N-K commented on #4611
Try `Number:Frequency` as item type. And `var Number testVal = 500|Hz` in your rule.

[2019-03-08 21:32] real-easy commented on #4611
i changed my item to the Number:Frequency type.
then i test with this:

[code]

an it works. yeah!  (thanks....)
great where can i read abaout this function.

BUT!

i send 3Hz to the item, and i can see this on the sitemap ... after an datapoint update homatic -> openhab ... the value in the changes from 3 to 3000.
because the homematic item works with mHz (milli-herz).

if i try this:

[code]

in

[2019-03-08 21:36] kaikreuzer commented on #5067
Everyone of the https://github.com/orgs/openhab/teams/contributors team has write access to the repo, which includes the right to close issues. We require this to be able to use the CODEOWNERS file, because this mechanism does not work for people without write access.

We have protected the master branch and require at least one approval from a maintainer - so unless such an approval is already av

[2019-03-09 00:19] kanebullen commented on #5066
thanks - will do!

[2019-03-09 03:34] openhab-5iver commented on #5067
Confirmed... I cannot merge PRs without approvals. I was only recently added to /teams/contributors, so that explains why things look different for this repo. Just wanted to make sure it was intentional. Thank you!

[2019-03-09 03:34] #5067 closed

[2019-03-09 08:37] doits commented on #5044
In my case it definitely works, but only for the main ga. Like if the switch-control has `ga="7/0/200+7/0/201"`, I can send read requests to the main ga `7/0/200` and openhab answers them correctly, but `7/0/201` stays silent and is never sent to the bus (not even when the switch changes its status).

So for the main ga it should work, at least it does in my oh2 2.4 setup.

[2019-03-09 09:18] lolodomo opened #5069 "Crowdin in general and for openweathermap binding"
When I open Crowdin, for openhab2-addons, the only binding that appears is openweathermap.
Is it expected to not have other bindings ?
When I enter in openweathermap, I don't find the file openweathermap_fr.properties, while this file is already existing in Git. Is there something wrong or not ?

[2019-03-09 11:00] J-N-K commented on #4611
The Unit should be displayed, too. Try changing the label to `[%d mHz]` (not sure if that works, maybe `mHz` is not defined. If Hz is better anyway, just use `[%.2f Hz]`, the conversion from mHz to Hz is done by the framework.

This is documented here:https://www.openhab.org/docs/concepts/units-of-measurement.html

If the fractional part is lost during conversion, that sounds like a bug. Was 1500

[2019-03-09 11:42] cweitkamp commented on #5069
We never started a real translation campaign for openHAB Add-ons. The OWM project was (or even is) a test subject from myself to get an idea of how it is working. All existing translations for the OWM binding were introduced the "old" way by submitting a PR to the target repository. Because of that the FR properties file is not existing over there. One of our next steps is the switch the build to

[2019-03-09 12:16] real-easy commented on #4611
yes the 1500 works before... (also 1 mHz works = 0.001 Hz)

and now with the [%.2f Hz] it works too, thanks.
after flying over the "units-of-measurement" i try with [%d mHz] -> it clearly works too.

danke und beste grüße nach gelsenkirchen ...

[2019-03-09 12:16] #4611 closed

[2019-03-09 13:00] lolodomo commented on #5069
Ok, so I can continue pushing PR with the old method to add translations to bindings ?

[2019-03-09 13:13] cweitkamp commented on #5069
Yes, you can.

[2019-03-09 19:05] SuperSchelli commented on #4976
OK, thx a lot for implementing the thing channel.
It works perfectly i can add the alarm sensor via UI and via Config file.
I don´t know how i can trigger an alarm, so i cant really test it, but all show OFF atm...

Unfortunatly my REST APi call shows all tampered items as null atm, thus they are not getting added and i can't test them, but from looking at the source code all looks ok to me... so

[2019-03-09 19:33] octa22 commented on #4389
hi,

sorry for delayed answer.
The latest version containing the Thermor Heating System is here:
https://github.com/octa22/openhab2-addons/tree/somfytahoma-binding-temp

Ondrej

st 6. 3. 2019 v 10:52 odesílatel Houdinain <notifications@github.com>
napsal:

[2019-03-09 19:41] solars opened #5074 "[squeezebox] Wrong IP for stream URLs (play/say) when using Docker"
hi there,

I noticed that if I'm running OpenHab inside a docker container, squeezebox is not able to use my audio sinks to play notifications or TTS streams.

The reason is visible in this log output:

https://gist.github.com/solars/9ea1a555ad6195758617efffbaa38ee1`

The URL it uses for the stream, uses the internal docker IP. The actual IP my Openhab is running on is 192.168.1.25. If I substitut

[2019-03-09 20:48] wborn commented on #5074
Looks like @mhilbush already put some effort in creating a version supporting a `callbackUrl` configuration parameter on the binding. See this [community topic](https://community.openhab.org/t/squeezebox-binding-callbackurl-for-reverse-proxy-configuration/40787?u=wborn).

The `callbackUrl` is also used in the [Chromecast](https://www.openhab.org/addons/bindings/chromecast/#chromecast-binding) and

[2019-03-09 20:53] solars commented on #5074
Thanks! I'll discuss that here: https://community.openhab.org/t/squeezebox-cant-get-audio-sink-to-work-for-notifications/69824/3

[2019-03-09 21:27] cweitkamp commented on #4976
Thank you for the feedback.

I fixed it.

No you did not. It is related to https://github.com/openhab/openhab-core/issues/607

[2019-03-10 00:21] lucacalcaterra commented on #4992
Hi, i've already developed it, but to complete, test and cleanup... I'll very proud to collaborate... how i can share it ? It's not ready to create a PR as indicates in guide lines...

[2019-03-10 08:51] seime opened #5076 "[millheat] Add Millheat Binding"
I have started working on a binding for Mill home heaters https://www.millheat.com/mill-wifi

* A first alpha binary to be placed in your addons folder can be found here: https://github.com/seime/openhab2-addons/releases/tag/2.5.0.M1.millheat.alpha1

* [Make sure you read the readme file](https://github.com/seime/openhab2-addons/blob/millheat/addons/binding/org.openhab.binding.millheat/README.md)

[2019-03-10 16:27] #4849 closed

[2019-03-10 16:40] libo commented on #5076
IT WORKS!
Thanks a lot!

I tested with you example config files and, adding a couple of taggings, even managed to connect to HomeKit Integration I run on my openhab2.

<img width="246" alt="Screenshot 2019-03-10 at 17 36 27" src="https://user-images.githubusercontent.com/37512/54088141-15e62500-435b-11e9-9b6d-5a3ede4997b1.png">

Now it would be awesome to have 2 more parameters:
- TargetTemperatur

[2019-03-10 21:03] sebi310781 opened #5081 "[samsungtv] Support older models, e.g. H Series"
Unfortunately, no version of the Samsung TV binding currently supports the models which use the, well let's call it "encypted" communication (probably all models between 2014 and 2016).
I found the following code on github, which also include a small demo applet, which works perfectly for my Samsung UE55H6600.

https://github.com/tdudek/samsung-remote-models-2014-and-newer

The only issue I see is

[2019-03-10 22:21] alexeinz commented on #3763
Trying, but have limited success,
was the command set used from the official api doc?
https://www.yeelight.com/download/Yeelight_Inter-Operation_Spec.pdf

On Mon, Mar 4, 2019 at 1:53 PM Alex Einz <dj@alexeinz.info> wrote:

[2019-03-10 22:48] goodfore commented on #3763
The channel doesn't check for which command. So as long as the device supports that command, it should work. Mind posting what you tired?

Thanks,
Joe

[2019-03-11 01:12] Houdinain commented on #4389
Hi, discovery and target temperature setting work perfectly with the jar you provided. (the heating level command is odd, if I send frostprotection if overrides previous settings and work as expected, but every other command does nothing, but I guess this comes from the interface between the radiators and the tahoma and what the tahoma allows from its API)

Thanks for the Electricity sensor, I'll

[2019-03-11 01:58] Roelofzo commented on #3687
I'm seeing the same. would even be great if we could have a config file to re populate the room names and locations of items.

[2019-03-11 08:02] octa22 commented on #4389
Hi Colin,

thanks for the feedback on Thermor HeatingSystem.
Most probably the Thermor heating uses other states (besides the
frostprotection) that differ from the ones currently used for onoff
HeatingSystem thing.
If you identify them, I can add them as well.

Regarding the ElectricitySensor
this is awesome:
"attributes":[
{"name":"core:PowerSourceType","type":3,"value":"mainSupply"},
{"name":"co

[2019-03-11 08:29] tomclaessens commented on #3687
I switched my whole setup to Home Assistant because of this. It's definitely a lot more stable towards HomeKit functionality. Since I made the switch, I never had the "unsupported device" issue again.

[2019-03-11 11:27] RayBa82 opened #5090 "[mqtt] homie/device/$name not recognized in 2.5"
The autodiscovery for homie things is broken.

Homie things are not recognized by name anymore in 2.5
They appear with device name from the topic instead of the homie/device/$name value.
In 2.4 they appeared with the correct name.

[2019-03-11 11:32] RayBa82 opened #5091 "[mqtt] Homie devices are losing channel information after restart (2.5 and 2.4)"
After a homie device is auto discovered everything works as expected, the channels have the right unit, the correct format and so on.

But after restarting openhab all channel Information is lost, the unit disappears and for enum values the possible selection values are disappearing too.

this can be configured in items and sitemaps, but this will lead to a lot of unnecessary configuration work an

[2019-03-11 16:05] SepuWeb commented on #4992
Hi, Luca, good to know! (Yes i'm Italian).
I've created this branch, we can share project here and when will be ready we can create tag and create new Pull Request in WIP mode in OpenHab.

Branch:
https://github.com/SepuWeb/OpenHab-MelCloud-Binding.git

[2019-03-11 16:26] lucacalcaterra commented on #4992
Your branch is as mine :-) For now it's private, must fix some things and share with you (and others). One or two days .

[2019-03-11 21:58] Houdinain commented on #4389
I'm getting used to the dev environment, it's neatly organized, I love that.

This is what I get from the getStates call on the ElectricitySensor device :
{"devices":[{"label":"IO (10656570#5)","deviceURL":"io://1213-3871-7713/10656570#5","shortcut":false,"states":[{"name":"core:StatusState","type":3,"value":"available"}],"available":false,"enabled":false,"type":1}],"events":[]}
It does not show u

[2019-03-12 08:55] #3763 closed

[2019-03-12 09:56] jantum opened #5096 "[mihome] Add support for Xiaomi Aqara Air Conditioning Companion"
Binding: Xiaomi Mi Smart Home Binding -2.4.0
OpenHAB 2.4
openHabian on raspberry3

I would like to ask for the support of the Xiaomi Aqara Air Conditioning Companion at your Binding.

The Gateway (Bridge) is found at the PaperUi, but no connected sensor is autmatically discovered. I only can add sensors manually. The Switch it self is found as unsupported device.

After 5 min the gateway allways g

[2019-03-12 11:40] #5058 closed

[2019-03-12 12:58] jpk8201 commented on #4509
I have also a Tesla S (2015). I replaced the jar file. Unfortunately I still have the error.

[2019-03-12 22:18] Jochen1980 opened #5099 "[cus][api-connection] Add support for transfering sensor based info to CuS-API"
You can find the community thread to discuss this issue here: https://community.openhab.org/t/cus-binding/69305

[2019-03-13 01:38] Cossey commented on #2922
Hi @dabbith,

I may have to make a specific mod to the Binding for your case so that we can get the name of the device being sent through UPNP. I assume you've set the onkyo binding to `TRACE` level logging. If not, try setting to that and doing a scan and add to see if it logs out the UPNP packet.

I don't have much free time at present but if setting the log level doesn't help when I get a momen

[2019-03-13 14:41] dabbith commented on #2922
@Cossey I must have been doing something wrong.  I updated the logging and restarted and now I see my HT-RC560.  So everything looks good.  Thanks!

[2019-03-13 15:34] Grimthorr opened #5104 "[spotify] Bridge deviceName & deviceId channels are the same"
## Expected Behavior
Within the Spotify binding: the `deviceName` channel should subscribe to the state of the currently active device *name*, whereas the `deviceId` channel should be the device *ID*.

## Current Behavior
Both `deviceName` and `deviceId` channels are receiving the state of the currently active device *ID*.

## Possible Solution
Change line 443 of `SpotifyBridgeHandler.java` to use

[2019-03-13 15:41] Flole998 commented on #4650
You don't even need a rule for this, transformation would be enough. That's how I am going to solve this.

[2019-03-13 16:22] Hilbrand commented on #5104
What is the problem? The deviceName channel uses dynamic StateOption. Where Id is the key and name the value. Therefore to set the channel it must be set with the id. I've seen this doesn't work always correctly, for example when all devices are off line it seems to keep the last value, the id. So I don't think the solution is to set the name.

[2019-03-13 16:43] lucacalcaterra commented on #4992
I've developed it, Need testers:
Can download initial beta to releases section of my github repo:

https://github.com/lucacalcaterra/org.openhab.binding.melcloud

ASAP want to fix and create a PR for pushing to Openba2 Addons Repo

[2019-03-14 08:38] TNRichard commented on #4554
still having this issue.
I setup openHAB (2.50.M1) completely new on my RPi
ONDUS accout is online
GUARD remains OFFLINE- COMMUNICATION_ERRor with following info:

Cannot deserialize instance of `org.grohe.ondus.api.model.BaseAppliance` out of START_ARRAY token at [Source: (String)"[{"appliance_id":"1938d9da-af4f-4e81-a605-37c37e5d5728","installation_date":"2017-09-20T18:39:20.000+00:00","name":"G

[2019-03-14 08:39] TNRichard commented on #4554
same for SENSE:

Cannot deserialize instance of `org.grohe.ondus.api.model.BaseAppliance` out of START_ARRAY token at [Source: (String)"[{"appliance_id":"0ae50ec3-1d1a-49c2-8a4d-8242689862d9","installation_date":"2019-02-28T14:53:22.000+00:00","name":"Waschmaschine","serial_number":"305a32303141303831333044303030333030303430303031","type":101,"version":"01.10.Z20.0400.0300","tdt":"2019-03-14T03:08

[2019-03-14 09:02] alexf2015 opened #5108 "[avmfritz] documentation is gone"
I guess due to #5050 the documentation is no longer available at: https://www.openhab.org/addons/bindings/avmfritz/

[2019-03-14 10:30] Grimthorr commented on #5104
Thanks @Hilbrand. When reading the value of the `deviceName` channel (via a linked `String` item), it was giving me the device ID and not the name, so I took a brief glance at the source and assumed the above was the cause. When I made the PR change, the item I have attached to the `deviceName` channel was receiving the name value as I'd hoped.

Am I doing something wrong here? How do I match the

[2019-03-14 11:49] Hilbrand commented on #5104
Reading your comment I guessing your trying to read the name in a rule? It seems that when reading the state in a rule it can only return the used key (which is the id here) and not the value. I think this is a limitation of openHAB currently. I'n not sure what the best solution is, possible add a new channel so we have one that show the name, and one that can be used to show the list of names.

[2019-03-14 12:30] OhNoItSJoe opened #5109 "[mihome] Add support for tradfri bulbs to Mi Home"
Since you can use Tradfri Bulbs with the Xiaomi Gateway, it would be great if it would be possible to control those bulbs.

If needed I can gather some information for at least some of the tradfri bulbs.

[2019-03-14 12:51] davidgraeff opened #5110 "Question: Does an extensionservice belong in here or openhab-core?"
Does an extensionservice belong in here or openhab-core?

Background: I find it still highly confusing where to draw the line between the core and the addons repo.

My gut feeling is that extension services should go into the core or the distro repo.
They are no classic openhab addons, but allow to discover further addons.

The eclipse marketplace is in this repo though.

My extensionservice is fo

[2019-03-14 12:51] davidgraeff commented on #5110
@openhab/2-x-add-ons-maintainers

[2019-03-14 12:55] Grimthorr commented on #5104
Ah that's correct; I was reading the value through any of the following methods:

- read the value within a rule
- print the value in HABPanel
- read the value through the console
- logged under `events.log`

In all of these scenarios, it just returns the selected key, not the value. I see it's supposed to be a `Selection` element, and openHAB doesn't have a matching Item type for this? So, the sa

[2019-03-14 12:58] Grimthorr commented on #5104
On a similar note, the Web API seems to provide playlist URIs inconsistently.

When the `playlist` channel is populated, the keys are in the format: `spotify:playlist:<id>`, but the currently active playlist is returned in a different format: `spotify:user:<owner>:playlist:<id>`, so the selection is mismatched.

I can raise a separate issue for this if you can replicate?

[2019-03-14 14:05] BlackEternity commented on #4558
Adding feedback here - Encountered the same issue aswell.
I could fix it by restarting the Bundle on the shell. A bit tedous but it works.

[2019-03-14 18:27] FlorianSW commented on #4554
Hmm, can someone else also reproduce this problem? Are you using the bundled version of the binding?

[2019-03-14 19:15] TNRichard commented on #4554
Hi,
yes Of usw the Binding installed by PaperUI.
Can I do something to support?

[2019-03-15 12:40] Cossey commented on #2922
Hey @dabbith,
Just to clarify, it did auto-detect your model successfully? If so Ill get this merged into openHAB.

Thanks!

[2019-03-15 13:19] dabbith commented on #2922
@Cossey,
Yes, it was correctly auto-detected and when added works perfectly.  Looks like it should be good to merge. Thanks so much!

[2019-03-15 16:13] J-N-K commented on #5108
That's probably related to the change in the build System since Astro is missing, too.

[2019-03-15 19:36] #5027 closed

[2019-03-15 19:43] wborn commented on #5108
I've created an issue in openhab-docs for this instead: https://github.com/openhab/openhab-docs/issues/918.

[2019-03-15 19:43] #5108 closed

[2019-03-16 09:15] thomasmul commented on #4902
Is anyone working on this?

[2019-03-16 09:20] wborn commented on #5110
I can imagine it's currently in openhab2-addons because the ESH IoT Marketplace will no longer exist in the future. So it might be here to prevent solutions building upon openhab-core from using the Marketplace.

[2019-03-16 09:48] tdeckers commented on #4835
Is there a jar file I can download somewhere?  The openhab2-addons repo from git (branch 2.5.0.M1) doesn't build successfully.

[2019-03-16 17:51] davidgraeff commented on #5091
This is fixed in OH 2.5 snapshots afaik. Can you verify?

[2019-03-16 20:07] kaikreuzer commented on #5110
The extension service interface had been created because the one existing extension was openHAB specific and thus couldn't be part of ESH.

I am not convinced that we need a general "extension service" add-on type (similar to bindings, persistence services, etc.) at all, so that's probably why it isn't in openhab2-addons.
As @wborn says, the Eclipse Marketplace integration will have to be removed,

[2019-03-16 22:32] jodibb commented on #788
Hey guys,
Thanks for binding. I'm using it for my valves and boiler. One think what I miss is "open window" detection. It is possible to integrate it? Thanks

[2019-03-17 09:56] TNRichard commented on #4554
Good news:
I switched now to actual 2.5.0 SNAPSHOT and all appliances are online.

Thanks for your effort.

[2019-03-17 11:30] FlorianSW commented on #4554
Thanks for your trying and the response :)

[2019-03-17 14:11] Siflei opened #5126 "[lgwebos] Toast message on LG OLED55B87LC"
Hi,
I'm trying to show Toast messages on my OLED55B87LC when someone is calling. The rule is run, the connection to the TV works, but no Toast is shown.

14:06:34.808 [INFO ] [smarthome.event.ItemStateChangedEvent] - fboxRinging changed from OFF to ON
14:06:37.939 [INFO ] [.smarthome.model.script.notifications] - Telefon an FB klingelt, fuehre Regel aus.
14:06:38.044 [INFO ] [smarthome.event.ItemC

[2019-03-17 14:50] thewilli opened #5128 "[javascript] Add support for parameters to JavaScript transformation"
Currently - and due to the signature, the JavaScript transformation [only works on the value and input script](https://github.com/openhab/openhab2-addons/blob/2b7415c/addons/transform/org.openhab.transform.javascript/src/main/java/org/openhab/transform/javascript/internal/JavaScriptTransformationService.java#L63).

There are few usecases where scripts are similar but not identical. If there was a

[2019-03-17 18:25] davidgraeff commented on #5128
Sounds like a good idea.

[2019-03-17 18:50] davidgraeff commented on #4816
Hm. I think the repository is wrong to report this.

You would rather report this in https://github.com/openhab/static-code-analysis.

But we do not have any influence on the checkstyle implementation and need to wait for those guys to fix it. Closing this now.

Thanks for the report though.

[2019-03-17 18:50] #4816 closed

[2019-03-17 18:51] davidgraeff commented on #4807
Because this is a documentation generator problem and there is an open issue now, I'm closing this.

[2019-03-17 18:51] #4807 closed

[2019-03-17 18:54] davidgraeff commented on #4772
Logging is actually not the solution here. The framework requires an extended service status (that can than be requested via the OSGi/openHAB console or the rest interface).

[2019-03-17 18:58] davidgraeff commented on #4758
The astro binding is using the openHAB core scheduler for timed events. The scheduler is accurate down to plus/minus a second, which is exactly the case here as well.

[2019-03-17 18:58] #4758 closed

[2019-03-17 19:04] J-N-K commented on #4758
Can we add invalid/won‘t-fix labels for such issues?

[2019-03-17 21:49] wborn commented on #5128
We've been using the "enhancement" label in issues and PRs for this "Feature Request" label @davidgraeff. Similarly to how "bug" is used in issues and PRs.

[2019-03-17 22:41] davidgraeff commented on #5128
@wborn I tried to write some descriptions for the labels, so that it is more obvious when to use a label. I thought that "enhancement" is only used for PRs that "enhance" an extension.

[2019-03-17 22:51] davidgraeff commented on #4731
I have one question: Are the mqtt messages send as retained, qos=1? Otherwise not restoring the mqtt messages is the correct behavior actually.

[2019-03-17 22:51] wborn commented on #5128
Yes the the descriptions will certainly help! The "enchancement" label is actually a default GitHub label so you can find it in many projects. See the list of [default GitHub labels](https://help.github.com/en/articles/about-labels#using-default-labels).

[2019-03-18 07:12] #4995 closed

[2019-03-18 07:12] #5074 closed

[2019-03-18 07:13] davidgraeff commented on #4952
Can this be solved via a maven dependency after a bnd migration?

[2019-03-18 07:15] davidgraeff commented on #4751
A PR is welcome at any time, but the open Issue will not solve it.

[2019-03-18 07:15] #4751 closed

[2019-03-18 07:21] davidgraeff commented on #4637
Tracked with openhab/openhab-core#589

[2019-03-18 07:21] #4637 closed

[2019-03-18 07:22] davidgraeff commented on #4607
Please reopen if this is still an Issue, but from the sound of it, it is solved by now.

[2019-03-18 07:22] #4607 closed

[2019-03-18 07:24] #4590 closed

[2019-03-18 07:26] davidgraeff commented on #4525
Please reopen if this is still a problem. Thanks.

[2019-03-18 07:27] davidgraeff commented on #4523
Can this be closed now? :)

[2019-03-18 07:31] davidgraeff commented on #4396
Is the Thing also still online or offline?

[2019-03-18 07:34] davidgraeff commented on #4344
This is caused by a floating `.jar` file in your addons directory. Please reopen if it occurs again after removing that jar and restarting.

[2019-03-18 07:34] #4344 closed

[2019-03-18 07:34] cweitkamp commented on #4517
Is it possible to detect the available inputs during runtime? If so you can think about implementing a `DynamicStateDescriptionProvider` for it.

[2019-03-18 07:38] davidgraeff commented on #4296
That's a shortcoming of Alexa

[2019-03-18 07:38] #4296 closed

[2019-03-18 07:41] cweitkamp commented on #2888
No response from both users. Please reopen if this is still a requested feature and ping @Cossey as he is willing to help you.

[2019-03-18 07:41] #2888 closed

[2019-03-18 07:42] davidgraeff commented on #4245
This error can only happen if a manual jar file is in the addons directory or if a newer version changed the binding id but is still registering the same component. Please check for old versions of the binding in the installation.

[2019-03-18 07:43] davidgraeff commented on #4214
Seem to be solved.

[2019-03-18 07:43] #4214 closed

[2019-03-18 07:46] davidgraeff commented on #4127
Seem to be solved in the community thread. If this is still an issue please reopen.

[2019-03-18 07:46] #4127 closed

[2019-03-18 08:02] davidgraeff commented on #3760
The problem is that openHAB services do not have a status like Things do. That will change for a later openHAB release, for now there is nothing that can be done except watching the log file.

[2019-03-18 08:02] #3760 closed

[2019-03-18 08:05] davidgraeff commented on #3711
This is an operating system / vm problem and cannot be solved from within the binding. The binding does not establish a continuous connection, but polls for the state (re-connect) every 60 seconds via TCP.

[2019-03-18 08:05] #3711 closed

[2019-03-18 08:18] davidgraeff commented on #3685
Please reopen if this is still an Issue.

[2019-03-18 08:18] #3685 closed

[2019-03-18 08:22] davidgraeff commented on #3681
@paulianttila You can use an `InetAddress.getByName` so that IPs and hostnames are accepted?

[2019-03-18 08:22] #3674 closed

[2019-03-18 08:24] davidgraeff commented on #3656
Fixed in core. Please reopen if still valid.

[2019-03-18 08:24] #3656 closed

[2019-03-18 08:28] #3536 closed

[2019-03-18 08:29] davidgraeff commented on #3457
Please provide changes back to the community!

[2019-03-18 08:29] #3457 closed

[2019-03-18 08:30] #3405 closed

[2019-03-18 08:32] davidgraeff commented on #3402
Can this be closed?

[2019-03-18 08:33] davidgraeff commented on #3321
Seem to be solved? Please reopen if this is still a problem.

[2019-03-18 08:33] #3321 closed

[2019-03-18 08:35] #3282 closed

[2019-03-18 08:35] #3276 closed

[2019-03-18 08:38] davidgraeff commented on #671
I'm closing this then :)

[2019-03-18 08:38] #671 closed

[2019-03-18 08:38] #730 closed

[2019-03-18 08:40] davidgraeff commented on #765
The names are in the process of being unified with the migration to bnd. Closing this now.

[2019-03-18 08:40] #765 closed

[2019-03-18 08:43] davidgraeff commented on #3178
Fixed

[2019-03-18 08:43] #3178 closed

[2019-03-18 08:46] #3117 closed

[2019-03-18 08:49] davidgraeff commented on #1661
Not sure, but I think those kind of discussions now go into the community forum. And there doesn't seem to be any progress as well. Closing for now. Please also open individual Issues instead of a conglomeration. Thanks.

[2019-03-18 08:49] #1661 closed

[2019-03-18 08:54] davidgraeff commented on #3064
The issue is unfortunately not exact enough. Is the hue emulation used or the echo binding or myopenhab? However, this is a shortcoming of Alexa as it does not natively supports rollershutters and they need to be handled like lights basically for percentage support.

[2019-03-18 08:54] #3064 closed

[2019-03-18 08:54] davidgraeff commented on #2827
Assumed to be fixed. And dashbuttons are EOL.

[2019-03-18 08:54] #2827 closed

[2019-03-18 08:55] davidgraeff commented on #2444
Seem to be fixed. Please reopen if not so. Dashbuttons are also EOL.

[2019-03-18 08:55] #2444 closed

[2019-03-18 08:56] #2139 closed

[2019-03-18 08:58] #1614 closed

[2019-03-18 08:58] davidgraeff commented on #1700
Still an Issue?

[2019-03-18 09:00] #1268 closed

[2019-03-18 09:03] davidgraeff commented on #2093
There is now also the community forum with the development section for this. Closing now.

[2019-03-18 09:03] #2093 closed

[2019-03-18 10:50] Cossey commented on #4517
From what I've seen in the ISCP protocol documentation it appears that there isn't a way to get supported inputs. The only way is to really document it on a per device basis but the version of the protocol documentation I have is probably a few years old  (I need documentation from 2018 onwards which may help).

Somehow the "Onkyo Controller" app on iOS and Android (for newer model Receivers) can

[2019-03-18 10:52] JueBag commented on #3282
👍

[2019-03-18 12:03] FSeidinger commented on #5044
Maybe we are chasing ghosts here.

I took the calimero KNX lib distribution and experimented with the tools to manually create GroupValueRead telegrams. The result is that the group read times out. So no answer to calimero. And also no telegram can be seen in the ETS group monitor.

So my guess is, that my KNX router doesn't forward them. Because its a router I cannot say for sure, because the bus

[2019-03-18 12:09] meingraham commented on #2444
@davidgraeff  Yes, Amazon no longer sells Dashbuttons... but there are still tons of them for sale elsewhere. In any case, many people still use the ones they have or have as spares.

[2019-03-18 12:11] hakan42 commented on #4396
At the time I checked this, the Gateway Thing was online.

[2019-03-18 12:14] davidgraeff commented on #4396
Ok, then it's a bug not a feature request. The Thing should be offline when the bridge is not accepting a login.

[2019-03-18 12:16] davidgraeff commented on #3075
@martinvw Have you merged your changes in the meantime?

[2019-03-18 12:27] #1628 closed

[2019-03-18 12:29] davidgraeff commented on #1346
Closing as no progress. Please reopen or provide a PR.

[2019-03-18 12:29] #1346 closed

[2019-03-18 12:30] #1597 closed

[2019-03-18 12:32] #1947 closed

[2019-03-18 12:33] davidgraeff commented on #1896
Please provide a pull request on your own to add that functionality. Thanks :)

[2019-03-18 12:33] #1896 closed

[2019-03-18 12:35] davidgraeff commented on #2168
Please reopen if the issue still persists and the given solution does not suffice. Thanks for the report.

[2019-03-18 12:35] #2168 closed

[2019-03-18 12:35] davidgraeff commented on #1735
Can be done by openHAB profiles nowadays.

[2019-03-18 12:35] #1735 closed

[2019-03-18 12:36] #1924 closed

[2019-03-18 12:38] davidgraeff commented on #2287
Is there a corresponding pull request to solve this?

[2019-03-18 12:41] davidgraeff commented on #2829
Does someone have the 5mins to add that information to the readme please?
Closing this issue now as it apparently cannot be solved, but only be documented.

[2019-03-18 12:41] #2829 closed

[2019-03-18 12:43] #1927 closed

[2019-03-18 12:44] martinvw commented on #3075
No I think #4169 is its mental predecessor, let me close my PR.

[2019-03-18 12:44] davidgraeff commented on #1944
Please reopen if this is still an issue.

[2019-03-18 12:44] #1944 closed

[2019-03-18 12:46] davidgraeff commented on #2789
Nobody seem to be interested :/ Closing this now. Pull requests to add this functionality are welcome.

[2019-03-18 12:46] #2789 closed

[2019-03-18 12:48] #2621 closed

[2019-03-18 12:50] davidgraeff commented on #2394
I'd say we are closing this now, until someone finds time and interest to provide a pull request or a related bug appears.

[2019-03-18 12:50] #2394 closed

[2019-03-18 12:55] davidgraeff commented on #2392
openHAB profiles, transformations and rules are the way to go here.

[2019-03-18 12:55] #2392 closed

[2019-03-18 12:58] davidgraeff commented on #3047
The developer forum is the place to do those kind of discussions now :)
And yes an io service, but probably in the core repository is the way to go.

[2019-03-18 12:58] #3047 closed

[2019-03-18 13:19] dR3b opened #5139 "[unifi] Could not generate DH keypair"
## Expected Behavior

Connect openHAB with Unifi Controller.

## Current Behavior

[code]

[code]

## Steps to Reproduce (for Bugs)
1. Install openHAB (manual installation, Zip file) and start the it.
2. Add the Unifi controller

## Your Environment
* Version used: 2.4.0 stable
* Environment name and version: OpenJDK Runtime Environment (build 1.8.0_192-b26)
* Operating System and version: FreeBSD

[2019-03-18 13:25] stefaanv opened #5141 "[tado] Server rejects change requests"
I have a problem to change settings in my tado system from openHAB2.  When I change a tado item, it reverts back to the previous value after some time in openHAB, while the change is not noticed by my tado system.
I've tried making changes through scripts first, then tried the Karaf CL interface and notices the same problem.  There's some examples below.  What am I doing wrong ?

The measurement v

[2019-03-18 14:14] claell commented on #3667
Afaik this has not been done completely. The UPnPDiscoveryParticipant part seems still to be missing. Although I probably won't be the one to implement this, I reopen it, if this is ok.

[2019-03-18 14:17] davidgraeff commented on #3667
So this is a kind of ToDo list for the binding. I'm not sure if that is a good idea. Look at how many open issues we have. And bug reports getting lost if we allow too many discussion and "future direction" issues.

[2019-03-18 14:21] davidgraeff commented on #5139
The error message should be more comprehensive. It is probably because you haven't installed the "extended java security" thingy (I can't recall the name rn). Because of stupid old US restricted export laws, those are usually not part of a java jdk and need to be installed separately.

[2019-03-18 14:21] claell commented on #3667
Exactly. I think it depends a bit on what this issue tracker is or should be used for. Many open issues **can** be a problem but not necessarily. In my opinion tagging provides enough freedom that enhancement / "future direction" issues can be sorted out from bugs. But that is only my opinion and experience with this.

[2019-03-18 14:27] davidgraeff commented on #3667
I think it gotten better with the codeowners file that now directly notifies the main contributor and the issue naming pattern. Before that you had to skim through all issues once in a while to find the ones dedicated to your bindings.

Just this one thought: This is open source. Nobody will pick up a random todo list here. If a binding does not work for yourself, you'll fix those parts. So the us

[2019-03-18 14:32] dR3b commented on #5139
@davidgraeff
Do you mean this one?
https://github.com/open-eid/cdoc4j/wiki/Enabling-Unlimited-Strength-Jurisdiction-Policy

OpenJDK
Should be enabled by default.

^^ And yes its enabled.

[2019-03-18 14:35] claell commented on #3667
Ah understood. Makes more sense from that perspective.

It is unlikely, but not completely.

It does work, but there could be improvements made to the code.

It contains comments from @kaikreuzer from the PR of this binding that did not make it into the initial version but I thought were worth to put into an issue for further improvements of the binding.

Personally I don't like such behaviour, al

[2019-03-18 15:35] pfink commented on #4523
No, the root cause is not solved (unleash will probably still remove the version on next release).

[2019-03-18 18:50] lolodomo commented on #5069
Thank you for the information.

[2019-03-18 18:50] #5069 closed

[2019-03-18 18:50] octa22 commented on #4396
@hakan42 can you please reproduce it in the 2.5.0-SNAPSHOT?
[code]
When an error occurs during login, it always sets the bridge to OFFLINE...

[2019-03-18 18:51] octa22 commented on #4396
I thing I have not touched this part of code, so it should be the same as in 2.4.0...

[2019-03-18 22:01] #5104 closed

[2019-03-18 22:22] Cossey commented on #4517
Okay found it last night its the `NRIQSTN` command which returns an xml file which contains the different Inputs under one of the nodes. I'll look into the `DynamicStateDescriptionProvider`, thanks for pointing me in the right direction.

[2019-03-19 06:48] cweitkamp commented on #4517
Sounds great. Have a look into the [Kodi binding](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.kodi/src/main/java/org/openhab/binding/kodi/internal/KodiDynamicStateDescriptionProvider.java) how it works. Otherwise ping me in the [community](https://community.openhab.org/latest).

[2019-03-19 07:08] wborn commented on #5005
Thanks for adding a migration guide @davidgraeff !
Didn't notice the first post was updated. :-)

[2019-03-19 07:25] J-N-K commented on #5005
Can we add that to the developer documentation (esp. the Part about eclipse)?

[2019-03-19 07:38] J-N-K commented on #5005
One thing regarding the miration guide: "remove '/lib'" is a good idea but will not work out-of-the-box for all bindings, since not all libs are availabe on bintray. And not all of those that are available can easily be used. So this should be checked before migration.

[2019-03-19 07:46] davidgraeff commented on #5005
@J-N-K There was a discussion about this between Markus and Wouter and the agreement afaik is to move everything to (if necessary private) bintray/maven repos. For new contributions I also tend to say to either include the source code completely or only allow "established" libraries on maven central.

[2019-03-19 08:00] J-N-K commented on #5005
The end of this discussion was, that a decision by oh2-maintainers should be made about that. AFAIK this is still pending.

[2019-03-19 08:03] davidgraeff commented on #5005
My long time dream for openHab is Gradle as well, but Markus will slowly poke me to death with a spoon if I suggest that :D (But the speed advantage is real)

[2019-03-19 08:06] J-N-K commented on #5005
What I was trying to say: other project might use other build systems and integrating those with our own is quite some effort and may not be worth the time (compared to building them and uploading a binary to our own 3rd-party-libs repo).

[2019-03-19 08:09] davidgraeff commented on #5005
The idea is to go to the maintainer of such a library and ask for a maven publish. There is even a maven plugin that uses github pages as a static repository site. We do not depend on their build system.

[2019-03-19 08:28] pavel-kamaev commented on #4498
This issue should be reopened as MQTT binding is no longer developed in ESH repository.

[2019-03-19 08:49] davidgraeff commented on #85
@wborn I think it makes sense to close all "new binding" issues as soon as the PR has been created. In this case the issue is from 2014 (4 years) and we can assume that nothing will happen and if, by another author who should not be confused by such an issue.

[2019-03-19 09:33] davidgraeff opened #5148 "[denonmarantz] Not java 11 compatible"
Requires a
[code]
or similar for the bnd port to provide `javax.xml` again.

[2019-03-19 11:54] lolodomo commented on #5005
I am locked on the last step, that is launching the demo app. When I double-click on the file app.bndrun, it simply opens the file in the editor. With what app should I open this file to start the demo app ?

[2019-03-19 12:05] davidgraeff commented on #5005
It's like with pom.xml files: You can edit the source file or have the eclipse UI. The same for bndrun files: The default view might be text for you, but there should be the tab to show the UI. If not, your eclipse installation is missing bndtools (which is fatal). Please either manually install them or use the eclipse installer for openhab-core development. Let it do whatever it does, remove ever

[2019-03-19 12:35] lolodomo commented on #5005
Bndtools is now (manually) installed and I can see the dialog box with run requirements.
But I can't add my binding from openhab2-addons. In the Browser repos at left, I see apparently only bundles from org.openhab.core.bom.openhab-core-index. No binding here, mainly core stuff.

If I click on the green +, it opens the "Add Bundle Requirement" dialog box but this is empty, I only see at left "Work

[2019-03-19 12:45] davidgraeff commented on #5005
Yeah better not do that. It doesn't work for me either.

That's what I'm doing. And I think I know what I forgot to mention in my list above. You must add your addon to the pom.xml file of the demo.app, otherwise bnd doesn't know about your project. Let me quickly make some screenshots.

[2019-03-19 13:37] lolodomo commented on #5005
I can go one step later, that is I can now add my binding and start OH. The problem is that it fails to start.
![image](https://user-images.githubusercontent.com/10186704/54610079-87f1f480-4a54-11e9-9768-e464ccd6283c.png)

[2019-03-19 13:39] davidgraeff commented on #5005
It doesn't fail. It has started. You see the red square somewhere in the middle.
It is just not so noisy like you are used to by the official distro.

[2019-03-19 13:39] cweitkamp commented on #5005
Great tutorial. This will help others a lot. I walked through it step by step and want to add the following things:

We have to remove the `build.properties` file too.

Move unit tests from a potential separate .test project into `src/test`.

Additional changes need to be done in the files `CODEOWNERS`, the BOM (`bom/openhab-addons/pom.xml`, groupId) and `features/karaf/openhab-addons/src/main/fea

[2019-03-19 13:45] lolodomo commented on #5005
But I get a 404 error if I try to open the dashboard or Basic UI !
Is the demo app fully prepared/packaged to run UIs with the demo sitemap ?

[2019-03-19 13:46] davidgraeff commented on #5005
The demo only runs paperUI

[2019-03-19 13:57] lolodomo commented on #5005
![image](https://user-images.githubusercontent.com/10186704/54611357-149db200-4a57-11e9-8fa1-7349588add1f.png)
I have added some UI bundles. I don't see traces for Paper UI.
Now when I try to access UI, I am requested a login/password for OSGi Management console ! I never had to enter that before. What has to be entered ?

[2019-03-19 14:02] lolodomo commented on #5005
Just to be clear, here is what I get by default (that is if I change nothing):
![image](https://user-images.githubusercontent.com/10186704/54611841-056b3400-4a58-11e9-9717-b4a6334b749f.png)
No trace of Paper UI.

[2019-03-19 14:11] lolodomo commented on #5005
I tried admin / admin but then I still get 404 errors for any UI including Paper UI.

[2019-03-19 14:21] davidgraeff commented on #5005
Drag paperui over then from the "Browse Repos" window. It is called "org.openhab.ui.paper".
No idea why credentials are required.

[2019-03-19 14:28] lolodomo commented on #5005
But I don't have org.openhab.ui.paper !
![image](https://user-images.githubusercontent.com/10186704/54613772-95f74380-4a5b-11e9-93ef-d1d83ac1e4ff.png)
Are there several demo app ? I am using the one from openhab-core.

[2019-03-19 14:31] davidgraeff commented on #5005
Yes there are multiple one, that's why I added a screenshot to the list. There is only one org.openhab.demo.app bundle. The core has its own, but that one can only reference to core bundles and not to uis.

[2019-03-19 14:33] lolodomo commented on #5005
Ok I am not using the right one ! It looks like a new repo is requireed, openhab-demo.

[2019-03-19 14:35] lolodomo commented on #5005
Shall we still clone https://github.com/maggu2810/openhab-demo or is there now a openhab-demo repo ?

[2019-03-19 14:40] davidgraeff commented on #5005
That's the correct repo. Check your pom.xml if it includes paperui:
[code]

[2019-03-19 15:14] cweitkamp commented on #5148
And others too, I guess:

- org.openhab.binding.avmfritz
- org.openhab.binding.helios
- org.openhab.binding.tellstick

- org.openhab.binding.dlinksmarthome

Last one uses `javax.xml.soap`.

[2019-03-19 15:16] lolodomo commented on #5005
It looks really not yet ready for basic developers. Maybe just read for very experts.
Here are the errors I got now when I use the right demo app:
![image](https://user-images.githubusercontent.com/10186704/54617784-3f413800-4a62-11e9-962b-0c4bd02b89ce.png)

[2019-03-19 15:41] lolodomo commented on #5005
![image](https://user-images.githubusercontent.com/10186704/54619856-91378d00-4a65-11e9-8a7f-e9f1f5e7ce25.png)
It looks like the server is started.
But still no WEB access.
Doing a netstat command, I even have the feeling that there is no ports 8080 and 8443 opened !
I forgive...

[2019-03-19 16:39] J-N-K commented on #5148
I'll port it to bnd and add the missing dependencies.

[2019-03-19 17:18] davidgraeff commented on #5005
The rest interface on /rest should work, it works for me. But yeah would be helpful if the others can comment on this, so that we get a better migration guide.

[2019-03-19 17:50] lolodomo commented on #5005
Like before, we should have a setup that by default allows starting and running the openHAB demo, including of course dashboard, Paper UI and Basic UI.

The constraint to update now a POM to add a particular binding is not as cool and easy as before (simply select your binding in Eclipse UI).

Making this easy and working again should be a priority IMHO. Without the ability to test your code in Ec

[2019-03-19 17:56] davidgraeff commented on #5005
@lolodomo The day is unfortunately only that long and almost everybody here does it in his freetime and the one guy that does it for a living (Markus) is in holiday.

The entire documentation for binding development need to be changed. And yes, changing a pom is not nice, there is a UI for this in eclipse as well though. I guess you can also drag&drop the project into that UI. We just need to find

[2019-03-19 18:25] davidgraeff commented on #5005
`CODEOWENERS` will almost always give us merge conflicts.
We should probably script migrate all extensions without tests and jars in one go?

[2019-03-19 21:09] Grimthorr commented on #5104
I've found a way to access the underlying values of dynamic state items within rules. For anyone else finding this, here's a quick example:

The `deviceName` and `playlist` channels use the [`SpotifyDynamicStateDescriptionProvider`](https://github.com/openhab/openhab2-addons/blob/be3f3a09db76ab7af9c61cdf63e55cb2096c68fe/addons/binding/org.openhab.binding.spotify/src/main/java/org/openhab/binding/s

[2019-03-19 22:25] davidgraeff opened #5162 "Java 11 compatibility required"
All new add-ons must be compatible to Java 11 without deprecation warnings from here on.

To be ported:

- [x] org.openhab.binding.avmfritz
- [x] org.openhab.binding.dlinksmarthome
- [x] org.openhab.binding.denonmarantz
- [x] org.openhab.binding.dwdunwetter
- [x] org.openhab.binding.helios
- [x] org.openhab.binding.homematic
- [ ] org.openhab.binding.ihc
- [x] org.openhab.binding.tellstick
- [ ] o

[2019-03-19 23:12] tavalin commented on #5141
Maybe I've missed something but don't you need to send the value as a command rather than post an update?

[2019-03-20 07:24] #5148 closed

[2019-03-20 07:45] stefaanv commented on #5141
That seems to be the solution, thanks.
One more question, do you expect a QuantityType to be sent as target temperature in a script ?  So far, nothing else seems to work in my script, but I'm in trouble converting ordinary numbers into temperature QuantityTypes and back.  Any chance you could add a script example to the documentation where you set a zone overlay where the target temperature is a c

[2019-03-20 09:26] KaaNee opened #5164 "[homematic] ClassCastException when parsing XMLResponse from Lightify-Devices in HM"
OsramLightify-Devices binded to the homematic-base will also discovered by homematic-binding. When adding them as a thing, it will be added but kept in Offline (java.lang.String cannot be cast to java.util.Map) State and were not usable.

Technical:
While adding them as things, an Exception is thrown as an XMLResponse contains not the normal expected Array/Map of Information when querying the Ligh

[2019-03-20 10:08] lolodomo commented on #5005
So do we stop migrating our bindings individually ?

[2019-03-20 10:12] davidgraeff commented on #5005
@lolodomo No. The problem with the script migration is that some bindings should not yet be ported (those with open PRs). So please keep porting your bindings.

[2019-03-20 10:22] #5110 closed

[2019-03-20 11:39] lolodomo commented on #5005
The RFXCOM binding is using an external lib, jd2xx. Source code is in sourceforge: https://sourceforge.net/projects/d2xx/files/ Last update is dated 2011 !
How do you want to handle such a dependency ? Can you accept keeping libraries in such a case ?

[2019-03-20 12:04] J-N-K commented on #5005
This is discussed e.g. in #5117 but not yet decided.

[2019-03-20 12:07] lolodomo commented on #3871
Do you want to keep this open as the change was done for the netatmo binding ?

[2019-03-20 12:16] davidgraeff commented on #5005
I'd say we include the source files of that library (dual licensed and we pick the bsd one).

[2019-03-20 12:32] #4591 closed

[2019-03-20 12:36] lolodomo commented on #4850
@martinvw : I see 4 opened PRs for the RFXCOM binding, all dated 2017 and all with already existing conflicts. Should I wait for a clear status on all these PRs before making the change (that will of course add more conflicts on these PRs) ?

[2019-03-20 12:37] martinvw commented on #4850
No just continue :-)

[2019-03-20 14:01] lolodomo commented on #5005
I discovered that the old way to start openHAB in Eclipse is still working well. The only problem is that the migrated biondings are no more presented. Don't know if this can be fixed.
For the developers that need running and testing their bindings from inside Eclipse, until a clear and working guide is provided with the demo app, I would suggest to not migrate immediately.

[2019-03-20 14:11] davidgraeff commented on #5005
@lolodomo You are in the wrong topic for this suggestion. Here it is all about migrating all bindings as fast and clean as possible, because the core is currently ["broken"](https://github.com/openhab/openhab-core/pull/595) until all bindings have been migrated.

[2019-03-20 14:16] hakan42 commented on #5005
I'd prefer one PR per binding. Else, you will have one humongous PR blocking everything else, and if it part of it needs to be reverted (e.g. some binding does not work even if it technically "migrated" as in "compiles"), you would break the complete master. Faced that pain too many times myself.

[2019-03-20 15:04] paulianttila commented on #5005
jd2xx nowadays cause more issues than it gains. Windows, linux and osx have native FTDI drivers, so binding is able to discover rfxcom bridge, but connection doesn’t work properly because of native driver. Additionally, most of the beginners try to introduce jd2xx bridge rather than  direct serial port bridge, so I propose to remove whole auto discovery and jd2xx staff from rfxcom binding.

[2019-03-20 15:44] lolodomo commented on #5005
@paulianttila this is a good solution to solve the problem :-)
If we do that, this will break things at least for some users ?

[2019-03-20 15:55] davidgraeff commented on #5005
Already configured things should not be influenced I guess? As far as I understood, jd2xx is only used for auto discovery. The readme should be amended to reflect that there is no discovery anymore.

[2019-03-20 16:22] lolodomo commented on #5005
No, my understanding of the code is that if a bridge was discovered with JD2xx then the connection to the serial comm is done using JD2xx library. To avoid that, we will need at least the port name in the configuration but we don't have it.

[2019-03-20 16:33] lolodomo opened #5169 "[rfxcom] Suppress usage of library JD2xx"
I open this issue to follow the discussion started in #5005 .

If we decide to suppress the use of the library JD2xx from the RFXCOM binding, all users having a bridge thing that was created through automatic discovery will be impacted.

I propose for these existing things to keep them but to set the status to OFFLINE with a clear message asking to switch to the manual configuration bridge type.

[2019-03-20 17:26] lolodomo commented on #5024
I close this issue after having created a PR to add the french translation for the "condition" channel.
By the way, in a DSL rule, you need to define and use a MAP transformation to get the textual value as a text. Not very practical.

[2019-03-20 17:26] #5024 closed

[2019-03-20 18:44] paulianttila commented on #5169
@lolodomo,I like the offline idea and yes i can do it. It will take couple weeks before i can concentrate on this as i’m currently under the sun far a way from home :-)

If this is a blocker for the bnd migration, maybe @martinvw could do it earlier as well?

[2019-03-20 19:13] lolodomo commented on #5169
I can do it as soon as my today PR is merged.

[2019-03-20 20:58] #85 closed

[2019-03-20 20:58] #285 closed

[2019-03-20 21:00] davidgraeff commented on #344
Seems like no interest in implementing this since 3 years time. Closing now.

[2019-03-20 21:00] #344 closed

[2019-03-20 21:01] davidgraeff commented on #849
Martin please reopen when you are still using that hardware and you are still interested :)

[2019-03-20 21:01] #849 closed

[2019-03-20 21:04] davidgraeff commented on #771
Please reopen or provide a pull request to the official openhab repository.

That way you have advantages like the maintainers will care about infrastructure and API changes.

[2019-03-20 21:04] #771 closed

[2019-03-20 21:06] #1760 closed

[2019-03-20 21:07] #2410 closed

[2019-03-20 21:09] davidgraeff commented on #2397
We can't force an author to publish his binding on this repository. Closing now.
@patrickse Please reopen if you have interest in submitting a PR.

[2019-03-20 21:09] #2397 closed

[2019-03-20 21:09] #2315 closed

[2019-03-20 21:10] davidgraeff commented on #2143
No progress. Closing.

[2019-03-20 21:10] #2143 closed

[2019-03-20 21:11] #1925 closed

[2019-03-20 21:13] davidgraeff commented on #2047
The Github issue list is not a wish list though. If someone has the intention to develop a binding that can be stated here. Closing for now.